ComicViewerPage{

     margin-top: 75px;
     margin-bottom: 75px;
}

 .layout-1-row-1-cell-1{

     background-size: cover;
 }

 .layout-1-row-2-cell-1{

     background-position: 0% 100%;
 }

 .layout-1-row-2-cell-2{

     background-size: 1700px 1000px;
     background-position: 50% 100%;
 }

 .layout-1-row-2-cell-3{

     background-size: 1700px 1000px;
     background-position: 100% 100%;
 }

 .Cell{

     margin: 5px;
}