/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

.TeamLogo
{
	width: 32px;
	height: 32px;
}

.TeamName
{
	vertical-align: center;
	font-size: 16px;
	font-weight: semi-bold;
	color: bluegreyTextBright;
	margin-left: 6px;
	margin-top: 2px;
	max-width: 160px;
	text-overflow: shrink;
	height: 20px;
	text-transform: uppercase;
}

.TeamFavorite
{
	height: 14px;
	width: 14px;
}

