PopupCustomLayout.PopupPanel
{
	width: 100%;
	height: 100%;	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252B2C ), to( #141718 ) );
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	flow-children: none;
}

.PopupMessage
{
	horizontal-align: center;
}

.ComicPage
{
	width: 1397px;
	height: 1048px;	
	border: 3px solid black;
	horizontal-align: center;
	vertical-align: middle;
	background-size: contain;	
	background-repeat: no-repeat;		
	opacity: 0;
	
	transition-property: background-image, opacity;
	transition-duration: 0.32s;	
	transition-timing-function: ease-in-out;		
}

.PopupButton
{
	horizontal-align: right;
}

#ComicContainer
{
	horizontal-align: center;
	vertical-align: middle;
}

.ButtonDark
{
	min-width: 56px;
	min-height: 24px;
	margin-bottom: 4px;
}

#Cover 			{ background-image: url( "file://{images}/comics/tipofthespear/001.png" ); }
#Page01 		{ background-image: url( "file://{images}/comics/tipofthespear/002.png" ); }
#Page02 		{ background-image: url( "file://{images}/comics/tipofthespear/003.png" ); }
#Page03 		{ background-image: url( "file://{images}/comics/tipofthespear/004.png" ); }
#Page04 		{ background-image: url( "file://{images}/comics/tipofthespear/005.png" ); }
#Page05 		{ background-image: url( "file://{images}/comics/tipofthespear/006.png" ); }
#Page06 		{ background-image: url( "file://{images}/comics/tipofthespear/007.png" ); }
#Page07 		{ background-image: url( "file://{images}/comics/tipofthespear/008.png" ); }
#Page08 		{ background-image: url( "file://{images}/comics/tipofthespear/009.png" ); }
#Page09 		{ background-image: url( "file://{images}/comics/tipofthespear/010.png" ); }
#Page10 		{ background-image: url( "file://{images}/comics/tipofthespear/011.png" ); }
#Page11 		{ background-image: url( "file://{images}/comics/tipofthespear/012.png" ); }
#Page12 		{ background-image: url( "file://{images}/comics/tipofthespear/013.png" ); }
#Page13 		{ background-image: url( "file://{images}/comics/tipofthespear/014.png" ); }
#Page14 		{ background-image: url( "file://{images}/comics/tipofthespear/015.png" ); }
#Page15 		{ background-image: url( "file://{images}/comics/tipofthespear/016.png" ); }
#Page16 		{ background-image: url( "file://{images}/comics/tipofthespear/017.png" ); }
#Page17 		{ background-image: url( "file://{images}/comics/tipofthespear/018.png" ); }
#Page18 		{ background-image: url( "file://{images}/comics/tipofthespear/019.png" ); }
#Page19 		{ background-image: url( "file://{images}/comics/tipofthespear/020.png" ); }
#Page20 		{ background-image: url( "file://{images}/comics/tipofthespear/021.png" ); }
#Page21 		{ background-image: url( "file://{images}/comics/tipofthespear/022.png" ); }
#Page22 		{ background-image: url( "file://{images}/comics/tipofthespear/023.png" ); }


#Cover.ActivePage,
#Page01.ActivePage,
#Page02.ActivePage,
#Page03.ActivePage,
#Page04.ActivePage,
#Page05.ActivePage,
#Page06.ActivePage,
#Page07.ActivePage,
#Page08.ActivePage,
#Page09.ActivePage,
#Page10.ActivePage,
#Page11.ActivePage,
#Page12.ActivePage,
#Page13.ActivePage,
#Page14.ActivePage,
#Page15.ActivePage,
#Page16.ActivePage,
#Page17.ActivePage,
#Page18.ActivePage,
#Page19.ActivePage,
#Page20.ActivePage,
#Page21.ActivePage,
#Page22.ActivePage
{
	opacity: 1;
	
}

.PageIndex
{
	padding-left: 32px;
}