/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTACrownfallPurchaseButton
{
	flow-children: right;
	height: 42px;
	width: 400px;
	overflow: noclip;
}

DOTACrownfallPurchaseButton .PriceInfo
{
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), color-stop( 0, charcoalLight), to( charcoalLight ) );
	background-color: rgba(3, 19, 41, 0.854);
	padding: 0px 8px;
	width: fill-parent-flow( 1.0 );
	border-radius: 4px 0px 0px 4px;
	border: 1px solid rgba(191, 226, 255, 0.08);
	border-right: 0px;
	margin-right: -2px;
	transition-property: background-color;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: ease-in-out;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

DOTACrownfallPurchaseButton .PurchaseButton.Large
{
	height: 100%;
	width: 200px;
}

DOTACrownfallPurchaseButton .PurchaseButton.Large:disabled,DOTACrownfallPurchaseButton .PurchaseButton.Large:parentdisabled
{
	saturation: 0.2;
	brightness: 0.2;
}

#DiscountPriceLabelsContainer,.DefaultPriceContainer
{
	width: 100%;
	vertical-align: middle;
}

#DiscountPriceLabelsContainer .DefaultPrice,.DefaultPriceContainer .DefaultPrice
{
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFF2DF ), color-stop( 0.44, #ebc386 ), color-stop( 0.56, #BA8C47 ), to( #8d6c3a ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-shadow: 0px 2px 10px black;
	transition-property: color;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: 2s;
}

.DiscountPriceContainer
{
	width: 100%;
	vertical-align: middle;
	flow-children: right;
	visibility: collapse;
}

.DiscountPriceContainer .DefaultPrice
{
	width: fill-parent-flow( 1.0 );
	text-align: center;
	vertical-align: middle;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold2 ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-shadow: 2px 2px 4px black;
	transform: translateY(1px);
}

.DiscountPriceContainer .DiscountInfo
{
	width: fill-parent-flow( 1.0 );
	flow-children: down;
	transform: translateY(5.5px);
	transition-property: transform;
	transition-delay: 1.2s;
	transition-timing-function: ease-in-out;
	transition-duration: .8s;
}

.DiscountPriceContainer .DiscountInfo .DiscountPrice
{
	horizontal-align: center;
	text-align: center;
	color: #0000;
	text-transform: uppercase;
	text-shadow: 1px 1px 4px 3 #0005;
	font-size: 24px;
	opacity: 0;
	letter-spacing: 2px;
	transition-property: color, text-shadow;
	transition-delay: 1s;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: .5s;
}

.DiscountPriceContainer .DiscountInfo .DiscountLabel
{
	color: rgb(0, 0, 0);
	horizontal-align: center;
	text-align: center;
	font-size: 11px;
	margin-top: -5px;
	font-weight: bold;
	text-overflow: shrink;
	font-size: 14px;
	opacity: 0;
	transition-property: opacity;
	transition-delay: 1.5s;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: 1s;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
}

.CutPriceTransition.DiscountInfo
{
	transform: translateY(0px);
}

.CutPriceTransition.DiscountInfo .DiscountLabel,.CutPriceTransition.DiscountInfo .DiscountPrice
{
	opacity: 1;
}

.CutPriceTransition.DiscountInfo .DiscountPrice
{
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0px 2px 8px 2 #000;
}

.CutPriceTransition.DiscountInfo .DefaultPrice
{
	opacity: 0;
}

DOTACrownfallPurchaseButton.ShowDiscountPrice #PriceInfoID.CutPriceTransition
{
	background-color: rgb(255, 163, 42);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 182, 87) ), color-stop( .5, rgb(194, 146, 84)), to( rgb(180, 127, 59) ) );
	transition-delay: 0s;
	border: 0px;
	border-radius: 3px 0px 0px 3px;
}

DOTACrownfallPurchaseButton.ShowDiscountPrice .DefaultPriceContainer
{
	visibility: collapse;
}

DOTACrownfallPurchaseButton.ShowDiscountPrice .DiscountPriceContainer
{
	visibility: visible;
}

@keyframes 'GlowPulse'
{
	0%
	{
		box-shadow: 0 0 1px 2px rgba(255, 163, 42, .1);
	}
	
	50%
	{
		box-shadow: 0 0 6px 6px rgba(255, 163, 42, .3);
	}
	
	100%
	{
		box-shadow: 0 0 1px 2px rgba(255, 163, 42, .1);
	}
	
}

#PricesContainer,#PriceSpacer
{
	width: fill-parent-flow( 1.0 );
}

#DefaultPriceCutContainer
{
	transform: translateX(0px);
	ignore-parent-flow: true;
	height: 100%;
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: 2s, 1.7s;
	transition-delay: 0s, .3s;
	width: fill-parent-flow( 1.0 );
	vertical-align: middle;
	z-index: 2;
}

#DefaultPriceCutContainer Label
{
	font-size:24px;
}

#DefaultPriceCutContainer .LabelContainer
{
	transition-property: transform;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: .7s;
}

#DefaultPriceCutContainer Label
{
	opacity: 0;
	transition-property: color;
	transition-timing-function: cubic-bezier(.02,.97,.54,.99);
	transition-duration: 1s;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold2 ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	text-shadow: 2px 2px 4px black;
}

#DefaultPriceCutContainer .PriceTop
{
	height: 17px;
	transform: rotateZ(-0deg) translateY(0px);
	transform: none;
}

#DefaultPriceCutContainer .PriceTop Label
{
	transform: translateY(-1px);
}

#DefaultPriceCutContainer .PriceBottom
{
	height: 17px;
	margin-top: 14px;
	transform: rotateZ(0deg) translateY(0px);
	transform: none;
	overflow: clip;
}

#DefaultPriceCutContainer .PriceBottom Label
{
	transform: translateY(-10px);
}

#DefaultPriceCutContainer.CutPriceTransition
{
	opacity: 0;
}

#DefaultPriceCutContainer.CutPriceTransition .PriceTop
{
	transform: rotateZ(-7deg) translateY(-0px) translateX(-8px);
	transition-duration: 0s;
}

#DefaultPriceCutContainer.CutPriceTransition .PriceTop Label
{
	text-decoration: line-through;
}

#DefaultPriceCutContainer.CutPriceTransition .PriceBottom
{
	transform: rotateZ(2deg) translateY(12px) translateX(-6px);
	transition-duration: 0s;
}

#DefaultPriceCutContainer.CutPriceTransition .PriceBottom Label
{
	text-decoration: line-through;
}

#DefaultPriceCutContainer.CutPriceTransition
{
	transform: translateX(-30px) translateY(5px);
}

#DefaultPriceCutContainer.CutPriceTransition Label
{
	text-shadow: 0 0 0 transparent;
	opacity: 1;
}

.ShowDiscountPrice .PriceTop
{
	transform: rotateZ(-3deg) translateY(-3px);
}

.ShowDiscountPrice .PriceBottom
{
	transform: rotateZ(3deg) translateY(4px);
}

#PurchaseSlashFX
{
	width: 600px;
	height: 400px;
	ignore-parent-flow: true;
	transform: translateY(-180px) translateX(-100px);
	visibility: collapse;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), color-stop( 0.1, #fff ), color-stop( 0.80, #fff ), to( #0000 ) ), gradient( linear, 0% 0%, 0% 100%, from( #0000 ), color-stop( 0.1, #fff ), color-stop( 0.80, #fff ), to( #0000 ) );
	opacity: 1;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 2s;
}

.HasDiscountPrice.DiscountModeActive #PurchaseSlashFX
{
	visibility: visible;
}

#PurchaseSlashFX.CutPriceTransition
{
	opacity: 0;
}

