/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTACrownfallButton
{
	transition-property: brightness, transform;
	transition-duration: 0.1s, 0.05s;
}

DOTACrownfallButton .ButtonLabel
{
	max-height: 30px;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1.5px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	horizontal-align: center;
	margin-top: 21px;
	padding: 0px 64px;
	text-overflow: shrink;
	transition-property: color;
	transition-duration: 0.05s;
}

.Language_schinese DOTACrownfallButton .ButtonLabel,.Language_tchinese DOTACrownfallButton .ButtonLabel,.Language_koreana DOTACrownfallButton .ButtonLabel
{
	font-size: 24px;
}

DOTACrownfallButton .ButtonBackground,DOTACrownfallButton .ButtonOutline
{
	width: 100%;
	border-width: 88px 56px 0px 56px;
	border-image-slice: 100% 112px 0px 112px;
	border-image-repeat: stretch;
	transition-property: brightness, wash-color;
	transition-duration: 0.05s;
}

DOTACrownfallButton .ButtonBackground
{
	wash-color: rgb(42, 123, 222);
	border-image-source: url("s2r://panorama/images/events/crownfall/buttons/button_primary_bg_psd.vtex");
}

DOTACrownfallButton .ButtonOutline
{
	border-image-source: url("s2r://panorama/images/events/crownfall/buttons/button_primary_outline_psd.vtex");
}

DOTACrownfallButton.MinWidth
{
	min-width: 200px;
}

DOTACrownfallButton.Secondary
{
	margin-left: -8px;
	margin-right: -8px;
	max-height: 45px;
}

DOTACrownfallButton.Secondary .ButtonLabel
{
	max-height: 20px;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1.5px;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #B0BCC2 ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	horizontal-align: center;
	margin-top: 15px;
	padding: 0px 36px;
	font-family: Radiance;
}

.Language_schinese DOTACrownfallButton.Secondary .ButtonLabel,.Language_tchinese DOTACrownfallButton.Secondary .ButtonLabel
{
	font-size: 24px;
	font-family: defaultFont;
}

.Language_koreana DOTACrownfallButton.Secondary .ButtonLabel
{
	font-size: 18px;
	font-family: defaultFont;
}

DOTACrownfallButton.Secondary .ButtonBackground,DOTACrownfallButton.Secondary .ButtonOutline
{
	border-width: 56px 32px 0px 32px;
	border-image-slice: 100% 64px 0px 64px;
}

DOTACrownfallButton.Secondary .ButtonBackground
{
	wash-color: rgb(31, 55, 118);
	border-image-source: url("s2r://panorama/images/events/crownfall/buttons/button_secondary_bg_psd.vtex");
}

DOTACrownfallButton.Secondary .ButtonOutline
{
	border-image-source: url("s2r://panorama/images/events/crownfall/buttons/button_secondary_outline_psd.vtex");
}

DOTACrownfallButton:enabled:hover .ButtonBackground
{
	brightness: 2.5;
}

DOTACrownfallButton:enabled:hover .ButtonLabel
{
	color: white;
}

DOTACrownfallButton:active
{
	transform: scale3d( 0.98, 0.98, 1 );
}

DOTACrownfallButton:active .ButtonBackground
{
	brightness: 0.4;
}

DOTACrownfallButton:disabled
{
	saturation: 0.2;
	brightness: 0.2;
}

DOTACrownfallButton.Blue .ButtonBackground
{
	wash-color: rgb(42, 123, 222);
}

DOTACrownfallButton.Gold .ButtonBackground
{
	wash-color: rgb(255, 205, 118);
}

DOTACrownfallButton.GlowButton
{
	animation-name: GlowButton;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

@keyframes 'GlowButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2.2;
	}
	
}

