/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BackgroundImageContainer
{
	width: 100%;
	height: 100%;
	transition-property: opacity, blur;
	transition-duration: 0.4s;
	transition-timing-function: ease;
	opacity: 0.08;
	blur: gaussian(8px);
}

.OnHomePage .BackgroundImageContainer
{
	opacity: 1;
	transition-duration: 0.15s;
	blur: gaussian(0px);
}

.BackgroundImageContainer .BackgroundImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.BackgroundImageContainer .BackgroundImage.Act1
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act1_png.vtex");
	opacity: 0;
}

.CrownfallAct1Active .BackgroundImageContainer .BackgroundImage.Act1
{
	opacity: 1;
}

.BackgroundImageContainer .BackgroundImage.Act2
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act2_png.vtex");
	opacity: 0;
}

.CrownfallAct2Active .BackgroundImageContainer .BackgroundImage.Act2
{
	opacity: 1;
}

.BackgroundImageContainer .BackgroundImage.Act3
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act3_png.vtex");
	opacity: 0;
}

.CrownfallAct3Active .BackgroundImageContainer .BackgroundImage.Act3
{
	opacity: 1;
}

.BackgroundImageContainer .BackgroundImage.Act4
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act4_png.vtex");
	opacity: 0;
}

.CrownfallAct4Active .BackgroundImageContainer .BackgroundImage.Act4
{
	opacity: 1;
}

.SnowParticles
{
	width: 100%;
	height: 100%;
	wash-color: white;
	brightness: 2;
	saturation: 0.4;
	transform: translateY(-300px);
	blur: gaussian(0.5px);
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.CrownfallAct3Active .SnowParticles
{
	opacity: 0.8;
}

.HeroesSceneModels
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	wash-color: rgba(17, 92, 230, 0.2);
	brightness: 1.1;
	opacity: 0;
}

.OnHomePage .HeroesSceneModels
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.HeroesSceneModels .PremiumReward
{
	horizontal-align: center;
	vertical-align: center;
	width: 1920px;
	height: 1080px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.HeroesSceneModels .PremiumReward.Hovered
{
	brightness: 2;
}

#PremiumReward_Kez
{
	width: 1360px;
	height: 1360px;
	opacity-mask-position: 0px 60px;
	transform: translateX( 360px ) translateY( -60px );
	opacity-brush: gradient( linear, 0% 40%, 0% 90%, from( white ), color-stop( 0.5, #ffffffdd ), color-stop( 0.85, #335166b8 ), to( #24121600 ) );
}

.AspectRatio16x10 #PremiumReward_Kez
{
	transform: translateX( 320px ) translateY( -70px ) scale3d( 0.94, 0.94, 1 );
}

.AspectRatio21x9 #PremiumReward_Kez
{
	transform: translateX( 500px ) translateY( -60px );
}

#PremiumReward_Imperia
{
	width: 1920px;
	height: 1920px;
	opacity-mask-position: 0px 140px;
	transform: translateX( -410px ) translateY( 10px );
	opacity-brush: gradient( linear, 0% 40%, 0% 90%, from( white ), color-stop( 0.5, #ffffffdd ), color-stop( 0.85, #241216b8 ), to( #24121600 ) );
}

.AspectRatio16x10 #PremiumReward_Imperia
{
	transform: translateX( -370px ) translateY( -10px ) scale3d( 0.96, 0.96, 1 );
}

.AspectRatio21x9 #PremiumReward_Imperia
{
	transform: translateX( -540px ) translateY( 10px );
}

.SmokeFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	transition-property: wash-color;
	opacity: 0;
}

.SmokeFX.Bottom
{
	vertical-align: bottom;
	transform: translateY( 200px );
	wash-color: rgb(126, 91, 73);
}

.SmokeFX.Top
{
	vertical-align: top;
	transform: translateY( 300px ) scaleY( -1 );
	wash-color: rgb(151, 185, 255);
	brightness: 2;
}

.OnHomePage .SmokeFX
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.CrownfallAct1Active .SmokeFX
{
	wash-color: rgb(73, 92, 126);
}

.CrownfallAct2Active .SmokeFX
{
	wash-color: rgb(126, 91, 73);
}

.CrownfallAct3Active .SmokeFX
{
	wash-color: rgb(73, 103, 126);
}

.CrownfallAct4Active .SmokeFX
{
	wash-color: rgb(89, 53, 61);
}

.BottomGradient
{
	vertical-align: bottom;
	width: 100%;
	height: 300px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000 ) );
}

.MainContents
{
	horizontal-align: center;
	margin-top: 80px;
	flow-children: down;
	opacity: 0.0;
	transform: translateY( -20px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.OnHomePage .MainContents
{
	opacity: 1.0;
	transform: none;
}

.AspectRatio16x10 .MainContents
{
	margin-top: 108px;
}

.Darkness
{
	width: 900px;
	height: 500px;
	ignore-parent-flow: true;
	horizontal-align: center;
	blur: gaussian( 24px );
	margin-top: 180px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(30, 18, 15) ), color-stop( 0.2, rgb(58, 35, 31), to( rgba(0, 0, 0, 0) ) );
	transition-property: opacity, background-color;
	transition-duration: 0.5s;
	visibility: collapse;
}

.CrownfallAct1Active .Darkness
{
	opacity: 0;
}

.CrownfallAct2Active .Darkness
{
	opacity: 0.5;
}

.CrownfallAct3Active .Darkness
{
	opacity: 0;
}

.CrownfallLogoContainer
{
	horizontal-align: center;
	margin-top: 8px;
}

.AspectRatio16x10 .CrownfallLogoContainer
{
	ui-scale: 86%;
	margin-top: 12px;
}

.CrownfallLogoContainer #CrownfallLogo,.CrownfallLogoContainer #CrownfallLogoFrosted
{
	width: 630px;
	height: width-percentage( 80% );
	margin: -40px 0px -150px 0px;
}

.Language_schinese .CrownfallLogoContainer #CrownfallLogo,.Language_schinese .CrownfallLogoContainer #CrownfallLogoFrosted
{
	margin: -60px 0px -150px 0px;
}

.UseFrostedLogo .CrownfallLogoContainer #CrownfallLogo
{
	visibility: collapse;
}

.CrownfallLogoContainer #CrownfallLogoFrosted
{
	visibility: collapse;
}

.UseFrostedLogo .CrownfallLogoContainer #CrownfallLogoFrosted
{
	visibility: visible;
}

.CrownfallLogoContainer .EventDates
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 24px;
	margin-left: -6px;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold2 ) );
	opacity: 0.6;
	text-shadow: 0px 2px 6px 1.5 black;
}

.Language_schinese .CrownfallLogoContainer .EventDates
{
	margin-top: -2px;
}

.DashDotDivider
{
	width: 680px;
}

.DashDotDivider Label
{
	font-family: titleFont;
	font-size: 34px;
	margin: 0px 12px;
	color: gradient( linear, 0% 60%, 0% 100%, from( white ), to( rgb(219, 219, 219) ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	letter-spacing: -0.3px;
}

.DashDotDivider .Dot
{
	margin: 0px;
}

.DashDotDivider .ActLabel
{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.Subtitle
{
	horizontal-align: center;
	text-align: center;
	line-height: 1.4;
	font-family: titleFont;
	text-align: center;
	width: 540px;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	transition-property: color;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.CrownfallAct1Active .Subtitle
{
	color: rgba(184, 212, 245, 0.7);
}

.CrownfallAct2Active .Subtitle
{
	color: rgba(237, 222, 198, 0.7);
}

.CrownfallAct3Active .Subtitle
{
	color: rgba(240, 240, 240, 0.9);
}

.CrownfallAct4Active .Subtitle
{
	color: rgba(201, 208, 215, 0.9);
}

.FooterActions
{
	horizontal-align: center;
	flow-children: right;
	width: 1000px;
}

.AspectRatio16x10 .FooterActions
{
	width: 900px;
}

.AspectRatio21x9 .FooterActions
{
	width: 1180px;
}

.ArcanaInfoContainer,.CCLinkInfoContainer
{
	flow-children: down;
	vertical-align: top;
	margin-top: 2px;
}

.ArcanaInfoContainer .CornerBorder,.CCLinkInfoContainer .CornerBorder
{
	ignore-parent-flow: true;
	wash-color: gold3;
	width: 160px;
	opacity: 0.4;
}

.ArcanaInfoContainer Label,.CCLinkInfoContainer Label
{
	text-shadow: 0px 2px 8px black;
	transition-property: color;
	transition-duration: 0.2s;
}

.ArcanaInfoContainer:hover Label,.CCLinkInfoContainer:hover Label
{
	color: white;
}

.ArcanaInfoContainer .ArcanaHeroName,.CCLinkInfoContainer .ArcanaHeroName
{
	margin: 12px 0px 2px;
	font-family: titleFont;
}

.ArcanaInfoContainer .ViewDetailsLink,.CCLinkInfoContainer .ViewDetailsLink
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
}

.ArcanaInfoContainer.Left Label,.CCLinkInfoContainer.Left Label
{
	horizontal-align: right;
	text-align: right;
	margin-right: 36px;
}

.ArcanaInfoContainer.Right Label,.CCLinkInfoContainer.Right Label
{
	horizontal-align: left;
	text-align: left;
	margin-left: 36px;
}

.ArcanaInfoContainer.Right .CornerBorder,.CCLinkInfoContainer.Right .CornerBorder
{
	transform: scaleX( -1 );
}

.CCLinkInfoContainer
{
	visibility: collapse;
}

.LearnMoreButtons
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 12px;
	visibility: collapse;
}

.LearnMoreButtons .LearnMoreButton
{
	margin-left: -12px;
	margin-right: -12px;
	width: 200px;
}

.AspectRatio16x10 .LearnMoreButtons .LearnMoreButton
{
	width: fit-children;
}

.AspectRatio21x9 .LearnMoreButtons .LearnMoreButton
{
	width: 220px;
}

.LearnMoreButtons .PopupButton
{
	margin: 0px 6px;
}

.LearnMoreButtons .BackstoryLabel
{
	vertical-align: center;
	font-family: titleFont;
	margin-right: 8px;
	max-width: 300px;
	height: 29px;
	text-overflow: shrink;
	letter-spacing: 0.3px;
	text-shadow: 0px 2px 12px black;
}

.LearnMoreButtons.Act2 .BackstoryLabel
{
	color: rgba(243, 230, 210, 0.5);
}

.LearnMoreButtons.Act3 .BackstoryLabel
{
	color: rgba(223, 232, 239, 0.58);
}

.CrownfallAct1Active .LearnMoreButtons.Act1
{
	visibility: visible;
}

.CrownfallAct2Active .LearnMoreButtons.Act2
{
	visibility: visible;
}

.CrownfallAct3Active .LearnMoreButtons.Act3
{
	visibility: visible;
}

.CrownfallAct4Active .LearnMoreButtons.Act4
{
	visibility: visible;
}

.Emblem_2
{
	width: 360px;
	transform: scaleY( -1 );
	wash-color: gold1;
	opacity: 0.6;
	margin-bottom: -8px;
}

@define ActWidth: 280px;
@define ActHeight: 380px;
.Acts
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: -12px;
}

.AspectRatio16x10 .Acts
{
	ui-scale: 96%;
	margin-top: 16px;
}

.Acts .Act
{
	ui-scale: 84%;
	vertical-align: center;
	margin: 0px -16px;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.AspectRatio16x10 .Acts .Act
{
	ui-scale: 86%;
}

.AspectRatio21x9 .Acts .Act
{
	margin: 0px -12px;
}

.Acts .Act .ActBackground
{
	width: ActWidth;
	height: ActHeight;
	transition-property: brightness;
	transition-duration: 0.3s;
}

.Acts .Act .ActExtrude
{
	width: ActWidth;
	height: ActHeight;
	transform: translateY( -10px );
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Acts .Act .ActBorder
{
	width: ActWidth;
	height: ActHeight;
	opacity: 0;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.Acts .Act.ProgressAvailable .ActImageContainer .ProgressAvailableBadge
{
	visibility: visible;
}

.Acts .Act .ActImageContainer
{
	width: 204px;
	height: 202px;
	horizontal-align: center;
	margin-top: 32px;
	opacity-mask: url("s2r://panorama/images/events/crownfall/dashboard/act_container_image_mask_png.vtex");
}

.Acts .Act .ActImageContainer .ProgressAvailableBadge
{
	width: 100%;
	horizontal-align: center;
	background-color: gradient( linear, 0% 30%, 0% 100%, from( #000000da ), color-stop( 0.4, #000000b0 ), to( #00000000 ) );
	padding: 12px 0px 12px;
	visibility: collapse;
}

.Acts .Act .ActImageContainer .ProgressAvailableBadge .ProgressAvailableLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	color: rgba(255, 255, 255, 0.92);
	font-weight: semi-bold;
	font-size: 14px;
	padding: 12px 8px 4px;
	text-align: center;
	line-height: 1.1;
	width: 80%;
	letter-spacing: 2px;
	border-bottom: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( gold3&00 ), color-stop( 0.4, gold2&99 ), color-stop( 0.6, gold2&99 ), to( gold3&00 ) );
	animation-name: PulseProgressAvailableLabel;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

.Acts .Act .ActImageContainer .ActLabelContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 12px;
}

.Acts .Act .ActImageContainer .ActLabelContainer Label
{
	horizontal-align: center;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
}

.Acts .Act .ActImageContainer .ActLabelContainer .ActLabel
{
	text-transform: uppercase;
	font-family: defaultFont;
	font-size: 14px;
	letter-spacing: 2px;
	opacity: 0.8;
	line-height: 10px;
}

.Acts .Act .ActImageContainer .ActLabelContainer .ActLabel b
{
	font-size: 38px;
	font-family: Reaver;
	line-height: 38px;
}

.Language_schinese .Acts .Act .ActImageContainer .ActLabelContainer .ActLabel,.Language_tchinese .Acts .Act .ActImageContainer .ActLabelContainer .ActLabel
{
	font-size: 20px;
}

.Acts .Act .ActImageContainer .ActImageGroup .ActImage
{
	transform: scale3d( 1.001, 1.001, 1 );
	wash-color: rgba(14, 22, 54, 0.7);
	transition-property: wash-color, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Acts .Act .ActImageContainer .ActImageGroup .ShimmerBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 23% 60%, from( #FFFFFF00 ), color-stop( 0.99, #FFFFFF ), to( #FFFFFF00 ) );
	-s2-mix-blend-mode: screen;
	transform: translateY( -60px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Acts .Act .ActDetailsContainer
{
	horizontal-align: center;
	margin-top: 242px;
	flow-children: down;
}

.Acts .Act .ActDetailsContainer Label
{
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
	color: gradient( linear, 0% 0%, 0% 100%, from( LighterGrey ), to( Grey ) );
	text-shadow: 0px 2px 8px black;
	padding: 0px 0px;
	transition-property: color;
	transition-duration: 0.2s;
}

.Acts .Act .ActDetailsContainer .ActName
{
	width: 220px;
	max-height: 50px;
	line-height: 1.03;
	font-size: 17.5px;
	font-weight: normal;
	letter-spacing: 1.5px;
}

.Language_schinese .Acts .Act .ActDetailsContainer .ActName,.Language_tchinese .Acts .Act .ActDetailsContainer .ActName
{
	line-height: 1.2;
}

.Acts .Act .ActDetailsContainer .ActDate
{
	width: 80%;
	max-height: 24px;
	opacity: 0.5;
	padding-top: 6px;
	border-top: 1px solid rgba(255, 255, 255, 0.08);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.4, white), color-stop( 0.6, white), to( rgba(255, 255, 255, 0) ) );
	margin-top: 8px;
}

.Acts .Act .ActStatus
{
	margin-top: 164px;
	visibility: collapse;
}

.Acts .Act .ActiveParticles
{
	width: ActWidth;
	height: ActHeight;
	opacity-mask: url("s2r://panorama/images/events/crownfall/dashboard/act_mask_png.vtex");
	brightness: 0.5;
	visibility: collapse;
}

.Acts .Act .ActiveBadge
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 60px;
}

.Acts .Act .ActiveBadge Label
{
	horizontal-align: center;
	vertical-align: center;
	color: gradient( linear, 0% 30%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 2px 8px black;
	margin-bottom: 1px;
	margin-left: 2px;
	line-height: 1.0;
	text-overflow: shrink;
	text-align: center;
	max-width: 76px;
	max-height: 28px;
}

.Acts .Act .ActiveBadge .ActiveBadgeBackground
{
	width: 100px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 2px 12px black;
}

.Acts .Act.Active .ActiveBadge
{
	visibility: visible;
}

.Acts .Act.Active .ActDate
{
	visibility: collapse;
}

.Acts .Act.Active .ActBorder
{
	opacity: 1;
	animation-name: GlowActiveText;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

.Acts .Act.Available
{
	ui-scale: 95%;
}

.Acts .Act.Available .ActStatus
{
	visibility: visible;
}

.Acts .Act.Available .ActiveParticles
{
	visibility: visible;
}

.Acts .Act.Available .ActDetailsContainer Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

.Acts .Act.Available .ActDetailsContainer .ActDate
{
	opacity: 1;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, gold1), to( rgba(255, 255, 255, 0) ) );
}

.Acts .Act:hover
{
	transform: translateY( -6px );
}

.Acts .Act:hover .ActImageContainer .ActImageGroup .ActImage
{
	wash-color: rgba(14, 22, 54, 0);
	transform: scale3d( 1.15, 1.15, 1 );
}

.Acts .Act:hover .ActImageContainer .ActImageGroup .ShimmerBackground
{
	transform: translateY( 0px );
	opacity: 0.2;
}

.Acts .Act:hover .ActDetailsContainer Label
{
	color: white;
}

.Acts .Act:hover .ActBackground
{
	brightness: 2;
}

.Acts .Act:hover .ActExtrude
{
	transform: translateY( 0px );
}

.Acts #Act1 .ActStatus
{
	visibility: visible;
}

.WIPLabel
{
	color: magenta;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 2px 8px black;
}

.ModelWIPLabel
{
	margin-top: 72px;
}

@keyframes 'GlowActiveText'
{
	0%
	{
		brightness: 1;
		text-shadow: 0px 0px 12px gold3&11;
	}
	
	100%
	{
		brightness: 2;
		text-shadow: 0px 0px 12px gold1&11;
	}
	
}

@keyframes 'PulseProgressAvailableLabel'
{
	0%
	{
		text-shadow: 0px 0px 12px gold2&33;
		brightness: 1;
	}
	
	100%
	{
		text-shadow: 0px 0px 12px gold2&99;
		brightness: 2;
	}
	
}

