/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.NodeDebugContents
{
	flow-children: down;
}

.Actions
{
	flow-children: right;
	margin: 16px 0px;
}

.Actions .PopupButton
{
	margin: 0px 16px 0px 0px;
	ui-scale: 80%;
}

#CompleteNodeContainer
{
	visibility: collapse;
	flow-children: down;
}

.NodeLocked #CompleteNodeContainer
{
	visibility: visible;
}

#CompleteNodeContainer #SuppressPopupsButton
{
	margin-top: 5px;
	horizontal-align: left;
}

#CompleteNodeContainer #SuppressPopupsButton Label
{
	text-overflow: shrink;
}

#ShowDialogueButton
{
	visibility: collapse;
}

.HasDialogue #ShowDialogueButton
{
	visibility: visible;
}

#ShowEncounterButton
{
	visibility: collapse;
}

.HasEncounter #ShowEncounterButton
{
	visibility: visible;
}

.DialogueHeader
{
	font-weight: bold;
	text-decoration: underline;
	visibility: collapse;
}

.HasDialogue .DialogueHeader
{
	visibility: visible;
}


