/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTACrownfallActSelector
{
	flow-children: down;
	width: 300px;
	background-color: DarkestGrey;
	padding: 2px;
	padding-bottom: 4px;
}

DOTACrownfallActSelector .SelectActLabel
{
	horizontal-align: center;
	margin: 8px;
	color: LighterGrey;
	text-shadow: 0px 2px 8px black;
}

DOTACrownfallActSelector .ActList
{
	width: 100%;
	min-height: 200px;
}

DOTACrownfallActSelector .ActList .AsyncSuccessContainer
{
	flow-children: down;
	height: fit-children;
}

DOTACrownfallActSelector .ChapterNavItem
{
	width: 100%;
	flow-children: down;
	padding: 8px 12px;
	background-color: gradient( linear, 0% 30%, 0% 100%, from( #1b2532 ), to( #161c25 ) );
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.02);
	margin: 2px;
	margin-bottom: 0px;
	border-right: 3px solid transparent;
	transition-duration: 0.1s;
	transition-property: background-color, brightness;
}

DOTACrownfallActSelector .ChapterNavItem.Inactive
{
	brightness: 0.6;
	opacity: 0.2;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0);
	background-color: none;
}

DOTACrownfallActSelector .ChapterNavItem .ActTitle
{
	font-family: titleFont;
	color: LighterGrey;
}

DOTACrownfallActSelector .ChapterNavItem Label
{
	transition-duration: 0.2s;
	transition-property: brightness;
	vertical-align: center;
	text-shadow: 0px 2px 8px black;
}

DOTACrownfallActSelector .ChapterNavItem .CurrentlyActiveLabel
{
	visibility: collapse;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	color: gradient( linear, 0% 30%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
}

DOTACrownfallActSelector .ChapterNavItem .UnlockDate
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	text-overflow: shrink;
	max-width: 240px;
	max-height: 26px;
}

DOTACrownfallActSelector .ChapterNavItem:hover:not(.Inactive)
{
	brightness: 1.5;
}

DOTACrownfallActSelector .ChapterNavItem:hover:not(.Inactive) Label
{
	color: whitesmoke;
}

DOTACrownfallActSelector .ChapterNavItem.Selected
{
	background-color: gradient( linear, 0% 30%, 0% 100%, from( #495d75 ), to( #2e3947 ) );
}

DOTACrownfallActSelector .ChapterNavItem.Selected .ActLabel,DOTACrownfallActSelector .ChapterNavItem.Selected .ActTitle
{
	color: white;
}

DOTACrownfallActSelector .ChapterNavItem.Selected:not(.Active) .ActivateButton
{
	visibility: visible;
}

.ActLocked DOTACrownfallActSelector .ChapterNavItem.Selected:not(.Active) .ActivateButton
{
	visibility: collapse;
}

DOTACrownfallActSelector .ChapterNavItem.Active
{
	border-color: white;
	border-brush: gradient( linear, 0% 30%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
}

DOTACrownfallActSelector .ChapterNavItem.Active .CurrentlyActiveLabel
{
	visibility: visible;
}

DOTACrownfallActSelector .ChapterNavItem.Active .ActiveBorder
{
	visibility: visible;
}

DOTACrownfallActSelector .ChapterNavItem.Locked
{
	opacity: 0.1;
	background-color: none;
	border: 0px;
	box-shadow: none;
}

