/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	flow-children: none;
	width: 1280px;
	height: 720px;
	padding: 0px;
	background-color: black;
	background-image: url("s2r://panorama/images/battlepass/international2022/candy_shop/candyworks_coming_soon_bg_psd.vtex");
	background-size: 140%;
	background-position: -260px -190px;
	background-repeat: no-repeat;
	border: 1px solid #ffffff06;
}

.PopupPanel .MainContents
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: none;
}

.LeftCol
{
	width: 768px;
}

.RightCol
{
	width: 512px;
	background-color: secondaryUltraDarkColor&cc;
}

.TitleContainer
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 40px;
}

.title
{
	horizontal-align: center;
	text-align: center;
	font-family: reaver;
	font-size: 48px;
	letter-spacing: 2px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 0px 16px 0 #60A0B166;
}

.subtitle
{
	margin-top: -8px;
	horizontal-align: center;
	font-family: reaver;
	font-size: 18px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: gradient( linear, 0% 50%, 0% 100%, from( accentColorBright ), to( accentColor ) );
}

#SectionDivider
{
	flow-children: right;
	width: 320px;
	margin-top: 8px;
}

#SectionDivider Label
{
	margin: 0px 12px;
	color: #a0ebff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
	font-size: 14px;
}

#SectionDivider .DivivderDash
{
	width: fill-parent-flow(1.0);
	height: 1px;
	vertical-align: center;
}

#SectionDivider .DivivderDash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #23788f ), to( #23788f00 ) );
}

#SectionDivider .DivivderDash.Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #23788f00 ), to( #23788f ) );
}

.CenterContents
{
	horizontal-align: right;
	flow-children: down;
	vertical-align: center;
}

.CandyBags
{
	width: 512px;
	height: 256px;
	padding: 0px 16px 0px 32px;
	horizontal-align: center;
	z-index: 1000;
	flow-children: right;
}

.CandyBags .CandyBagImage
{
	width: 256px;
	height: 256px;
	background-image: url("s2r://panorama/images/battlepass/international2022/candy_shop/candy_bag_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.CandyBags .candyBagText
{
	flow-children: down;
	margin-left: -8px;
	vertical-align: middle;
}

.CandyBags .CandyBagCount
{
	font-size: 96px;
	font-family: Reaver;
	font-weight: semi-bold;
	color: gradient( linear, 0% 50%, 0% 100%, from( #d4f6ff ), color-stop( 0.35, #a0ebff ), to( #d4f6ff ) );
	text-shadow: 0px 8px 8px ultraDarkColor&cc;
	letter-spacing: 2px;
	text-overflow: shrink;
}

.CandyBags .CandyBagTitle
{
	margin-top: -16px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: semi-bold;
	color: #a0ebff;
	text-shadow: 0px 4px 4px secondaryUltraDarkColor&cc;
}

.Description
{
	flow-children: down;
	width: 512px;
	padding-right: 48px;
}

.Description .h2
{
	margin: 0px 0px 12px;
	font-size: 32px;
	line-height: 1.3;
	font-family: titleFont;
	color: whitesmoke;
}

.Description .bodyText
{
	margin: 8px 0px;
	font-size: 16px;
	line-height: 1.3;
	color: LighterGrey;
}

.Description .bodyText b
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold3 ), color-stop( 0.5, gold1 ), to( gold3 ) );
	font-weight: semi-bold;
}

.ul
{
	margin: 12px 0px 24px;
	flow-children: down;
}

.ul .li
{
	flow-children: right;
	margin: 2px 0px;
}

.ul .li .bullet
{
	width: 16px;
	height: 16px;
	margin-right: 4px;
	margin-top: 2px;
	background-image: url("s2r://panorama/images/control_icons/bullet_disc_psd.vtex");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	wash-color: secondaryAccentColor;
}

.ul .li .bulletText
{
	font-size: 16px;
	line-height: 1.3;
	color: LighterGrey;
}

.ul .li .bulletText b
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold3 ), color-stop( 0.5, gold1 ), to( gold3 ) );
	font-weight: semi-bold;
}

.ul .li .strikethroughText
{
	text-decoration: line-through;
}

#CloseButton
{
	horizontal-align: right;
	margin: 12px;
}

.ContinueButton
{
	vertical-align: center;
	width: 280px;
	ui-scale: 90%;
	margin: 0px;
	brightness: 1;
	transition: pre-transform-scale2d 0.15s ease-in-out 0.0s, brightness 0.15s ease-in-out 0.0s;
}

.ContinueButton Label
{
	font-weight: semi-bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}


