/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BackgroundLayers
{
	overflow: noclip;
}

.MapBackground
{
	width: 100%;
	height: 100%;
	texture-sampling: point;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/spires/finale_base_map_psd.vtex");
	background-size: 100% 100%;
}

#CandyShop
{
	x: 1365px;
	y: 2100px;
	width: 280px;
	height: 360px;
	texture-sampling: point;
}

#TokenTrader
{
	x: 1480px;
	y: 3555px;
	width: 268px;
	height: 440px;
	texture-sampling: point;
}

#TokenTraderSign
{
	x: 1500px;
	y: 3945px;
	width: 50px;
	height: 50px;
	tooltip-position: top;
}

#MysteriousVendor
{
	x: 2820px;
	y: 2915px;
	width: 280px;
	height: 280px;
	texture-sampling: point;
}

#MysteriousVendorSign
{
	x: 2960px;
	y: 3005px;
	width: 80px;
	height: 40px;
	tooltip-position: top;
}

.DestroyedBridge
{
	x: 1388px;
	y: 928px;
	width: 918px;
	height: 706px;
	texture-sampling: point;
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ShowDestroyedBridge .DestroyedBridge
{
	opacity:1;
}

.DestroyedGate
{
	x: 1260px;
	y: 730px;
	width: 1084px;
	height: 1556px;
	texture-sampling: point;
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ShowDestroyedGate .DestroyedGate
{
	opacity:1;
}

.GateAnim
{
	x: 1398px;
	y: 1390px;
	width: 904px;
	height: 572px;
	texture-sampling: point;
}

.ShowDestroyedGate .GateAnim
{
	opacity: 0;
}

.DestroyedWall
{
	x: 1248px;
	y: 2454px;
	width: 1224px;
	height: 736px;
	texture-sampling: point;
	opacity:0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ShowDestroyedWall .DestroyedWall
{
	opacity:1;
}

.Minefield
{
	x: 2390px;
	y: 2114px;
	width: 350px;
	height: 350px;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ClearedLandmines .Minefield
{
	opacity: 0;
}

.Minefield .Mine
{
	width: 48px;
	height: 48px;
	texture-sampling: point;
}

.Minefield .Mine.Mine1
{
	x: 20px;
	y: 50px;
}

.Minefield .Mine.Mine2
{
	x: 90px;
	y: 100px;
}

.Minefield .Mine.Mine3
{
	x: 50px;
	y: 190px;
}

.Minefield .Mine.Mine4
{
	x: 6px;
	y: 240px;
}

.Minefield .Mine.Mine5
{
	x: 96px;
	y: 280px;
}

.Minefield .Mine.DarkMine1
{
	x: 140px;
	y: 10px;
}

.Minefield .Mine.DarkMine2
{
	x: 300px;
	y: 60px;
}

.Minefield .Mine.DarkMine3
{
	x: 280px;
	y: 160px;
}

.Minefield .Mine.DarkMine4
{
	x: 300px;
	y: 286px;
}

.ClubFlag
{
	x: 3090px;
	y: 2490px;
	width: 86px;
	height: 32px;
	texture-sampling: point;
}

.ClubFlag2
{
	x: 3200px;
	y: 2490px;
	width: 86px;
	height: 32px;
	texture-sampling: point;
}

.City01
{
	texture-sampling: point;
	x: 1198px;
	y: 3122px;
	width: 462px;
	height: 336px;
}

.City02
{
	texture-sampling: point;
	x: 2100px;
	y: 3110px;
	width:384px;
	height:212px;
}

.City03
{
	texture-sampling: point;
	x: 1116px;
	y: 570px;
	width: 294px;
	height: 326px;
}

.City04
{
	texture-sampling: point;
	x: 922px;
	y: 1302px;
	width:386px;
	height:156px;
}

.City05
{
	texture-sampling: point;
	x: 2324px;
	y: 806px;
	width:186px;
	height:312px;
}

.City06
{
	texture-sampling: point;
	x: 260px;
	y: 3496px;
	width:396px;
	height: 454px;
}

.Blacksmith
{
	texture-sampling: point;
	x: 1852px;
	y: 3730px;
	width:188px;
	height:178px;
}

.Snek
{
	texture-sampling: point;
	x: 2012px;
	y: 2396px;
	width:120px;
	height:120px;
}

.FireBig1
{
	texture-sampling: point;
	x: 1266px;
	y: 1990px;
	width:102px;
	height:200px;
}

.FireBig2
{
	texture-sampling: point;
	x: 2790px;
	y: 1610px;
	width:102px;
	height:200px;
}

.FireSmall1
{
	texture-sampling: point;
	x: 2516px;
	y: 3840px;
	width:60px;
	height:76px;
}

.FireSmall2
{
	texture-sampling: point;
	x: 2744px;
	y: 4262px;
	width:60px;
	height:76px;
}

.FireSmall3
{
	texture-sampling: point;
	x: 2798px;
	y: 3208px;
	width:60px;
	height:76px;
}

.FireSmall4
{
	texture-sampling: point;
	x: 3052px;
	y: 2082px;
	width:60px;
	height:76px;
}

.FireSmall5
{
	texture-sampling: point;
	x: 2104px;
	y: 3356px;
	width:60px;
	height:76px;
}

.FireSmall6
{
	texture-sampling: point;
	x: 2000px;
	y: 4100px;
	width:60px;
	height:76px;
}

.BatDoctor
{
	texture-sampling: point;
	x: 696px;
	y: 2426px;
	width: 180px;
	height: 264px;
}

@keyframes 'DebugAnim'
{
	0%
	{
		opacity:0.0;
	}
	
	100%
	{
		opacity: 1;
		brightness: 3;
	}
	
}

.ChapterInfoContainer.Chapter1a
{
	x: 860px;
	y: 3900px;
}

.ChapterInfoContainer.Chapter1b
{
	x: 1120px;
	y: 2190px;
}

.ChapterInfoContainer.Chapter2a
{
	x: 1880px;
	y: 4025px;
}

.ChapterInfoContainer.Chapter2b
{
	x: 1886px;
	y: 2540px;
}

.ChapterInfoContainer.Chapter3a
{
	x: 2650px;
	y: 3860px;
}

.ChapterInfoContainer.Chapter3b
{
	x: 2325px;
	y: 1800px;
}

.ChapterInfoContainer.Chapter4
{
	x: 1890px;
	y: 1465px;
}

.ChapterInfoContainer.ChapterBlood
{
	x: 614px;
	y: 3280px;
	max-width: 440px;
}

.ChapterInfoContainer.ChapterBlood .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_act4bat_png.vtex");
}

.ChapterInfoContainer.ChapterPudge
{
	x: 830px;
	y: 1800px;
}

.ChapterInfoContainer.ChapterPudge .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_act4pudge_png.vtex");
}

.ChapterInfoContainer.ChapterBounty
{
	x: 2896px;
	y: 2730px;
}

.ChapterInfoContainer.ChapterBounty .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_act4bounty_png.vtex");
}

.ChapterInfoContainer.ChapterJugg
{
	x: 2670px;
	y: 3490px;
}

.ChapterInfoContainer.ChapterJugg .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_act4bat_png.vtex");
}

.ShowChapter1a .Chapter1a,.ShowChapter1b .Chapter1b,.ShowChapter2a .Chapter2a,.ShowChapter2b .Chapter2b,.ShowChapter3a .Chapter3a,.ShowChapter3b .Chapter3b,.ShowChapter4 .Chapter4,.ShowChapterBlood .ChapterBlood,.ShowChapterPudge .ChapterPudge,.ShowChapterBounty .ChapterBounty,.ShowChapterJugg .ChapterJugg
{
	visibility: visible;
	opacity: 1;
}

#QuestingHeartsTooltipTarget
{
	x: 687px;
	y: 3495px;
	tooltip-position: top;
	opacity: 1;
	width: 200px;
	height: 115px;
	visibility: collapse;
}

.SecretAdmirerAct4GiftAvailable #QuestingHeartsTooltipTarget
{
	visibility: visible;
}

#QuestingHeartsSign
{
	x: 687px;
	y: 3495px;
	width: 132px;
	height: 152px;
	texture-sampling: point;
	vertical-align: top;
	visibility: collapse;
}

.SecretAdmirerAct4GiftAvailable #QuestingHeartsSign
{
	visibility: visible;
}

#QuestingHeartsBat
{
	x: 832px;
	y: 3505px;
	width: 192px;
	height: 96px;
	texture-sampling: point;
	vertical-align: top;
}

@keyframes 'QueensguardMovement'
{
	0%
	{
		transform: translateY(0px);
	}
	
	12.5%
	{
		transform: translateY(5px);
	}
	
	37.5%
	{
		transform: translateY(-5px);
	}
	
	50%
	{
		transform: translateY(0px);
	}
	
	50.0001%
	{
		transform: translateY(0px) scaleX(-1);
	}
	
	62.5%
	{
		transform: translateY(10px) scaleX(-1);
	}
	
	87.5%
	{
		transform: translateY(-10px) scaleX(-1);
	}
	
	99.9999%
	{
		transform: translateY(0px) scaleX(-1);
	}
	
	100%
	{
		transform: translateY(0px) scaleX(1);
	}
	
}

.GateGuards
{
	x: 1600px;
	y: 2730px;
	transition-property: opacity;
	transition-duration: 2s;
}

.ShowDestroyedWall .GateGuards
{
	opacity: 0;
}

.GateGuards .Guard
{
	padding-top: 10px;
	texture-sampling: point;
	width: 92px;
	height: 80px;
	animation-name: QueensguardMovement;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.GateGuards #Guard1
{
	x: 0;
	y: 0;
	animation-direction: reverse;
	animation-duration: 11s;
}

.GateGuards #Guard2
{
	x: 150px;
	y: 100px;
	animation-duration: 9s;
}

.GateGuards #Guard3
{
	x: 400px;
	y: 50px;
	animation-direction: reverse;
	animation-duration: 12s;
}

.GateGuards #Guard4
{
	x: 500px;
	y: 0;
	animation-duration: 10s;
}

.OglodiArmy
{
	transition-property: opacity;
	transition-duration: 2s;
}

.OglodiArmy .Oglodi
{
	texture-sampling: point;
	width: 88px;
	height: 88px;
}

.ShowDestroyedWall .OglodiArmy.Army1
{
	opacity: 0;
}

.ShowDestroyedWall .OglodiArmy.Army2
{
	opacity: 1;
}

.OglodiArmy.Army1
{
	x: 1380px;
	y: 3910px;
	width: 100%;
	height: 100%;
}

.OglodiArmy.Army1 #Oglodi1
{
	x: 260px;
	y: 420px;
}

.OglodiArmy.Army1 #Oglodi2
{
	x: 680px;
	y: 350px;
	transform: scaleX(-1);
}

.OglodiArmy.Army1 #Oglodi3
{
	x: 127px;
	y: 310px;
}

.OglodiArmy.Army2
{
	x: 1580px;
	y: 2610px;
	opacity:0;
}

.OglodiArmy.Army2 #Oglodi2
{
	x: 440px;
	y: 20px;
	transform: scaleX(-1);
}

.OglodiArmy.Army2 #Oglodi3
{
	x: 277px;
	y: 100px;
}

.KazuraiArmy
{
	transition-property: opacity;
	transition-duration: 2s;
}

.KazuraiArmy .Kazurai
{
	texture-sampling: point;
	width: 88px;
	height: 88px;
}

.KazuraiArmy.Army1
{
	x: 2380px;
	y: 3910px;
	width: 100%;
	height: 100%;
}

.KazuraiArmy.Army1 #Kazurai1
{
	x: 50px;
	y: 490px;
}

.KazuraiArmy.Army1 #Kazurai2
{
	x: 380px;
	y: 470px;
	transform: scaleX(-1);
}

.KazuraiArmy.Army2
{
	opacity: 0;
	x: 2280px;
	y: 1810px;
	width: 100%;
	height: 100%;
}

.KazuraiArmy.Army2 #Kazurai1
{
	x: 100px;
	y: 490px;
}

.KazuraiArmy.Army2 #Kazurai2
{
	x: 130px;
	y: 380px;
}

.ClearedLandmines .KazuraiArmy.Army1
{
	opacity: 0;
}

.ClearedLandmines .KazuraiArmy.Army2
{
	opacity: 1;
}

.MapBounty
{
	transform: scaleX( -1 );
	texture-sampling: point;
	x: 2780px;
	y: 2590px;
	width:88px;
	height:88px;
}

.HideMapBounty .MapBounty
{
	visibility: collapse;
}

.MapJugg
{
	transform: scaleX( -1 );
	texture-sampling: point;
	x: 2778px;
	y: 3358px;
	width:88px;
	height:88px;
}

.HideMapJugg .MapJugg
{
	visibility: collapse;
}

.MapVampire
{
	texture-sampling: point;
	x: 660px;
	y: 2692px;
	width:82px;
	height:86px;
}

.HideMapVampire .MapVampire
{
	visibility: collapse;
}

.MapPudge
{
	transform: scaleX( -1);
	texture-sampling: point;
	x: 676px;
	y: 1880px;
	width:132px;
	height:94px;
}

.HideMapPudge .MapPudge
{
	visibility: collapse;
}

.GateExplosionFlashContainer
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.GateExplosionFlash .GateExplosionFlashContainer
{
	visibility: visible;
	animation-name: Flash;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes 'Flash'
{
	0%
	{
		opacity: 1;
		background-color: white;
	}
	
	100%
	{
		opacity: 0;
		background-color: rgba( 0, 0, 0, 1 );
	}
	
}


