/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.ChapterInfoContainer
{
	flow-children: down;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
	visibility: collapse;
	padding: 8px;
	padding-left: 12px;
	padding-right: 6px;
	background-color: rgba(25, 17, 34, .7);
	border-radius: 16px;
	opacity: 0;
}

.ShowingIntro .ChapterInfoContainer
{
	opacity: 0;
}

.ChapterInfoContainer Label
{
	text-shadow: 2px 1px 3px 2 black;
}

.ChapterInfoContainer .ChapterNumber
{
	flow-children: right;
}

.ChapterInfoContainer .ChapterNumberIcon
{
	width: 16px;
	height: width-percentage( 100% );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
	margin-right: 8px;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/control_icons/24px/comic_png.vtex");
}

.ChapterInfoContainer .ChapterNumberLabel
{
	max-height: 24px;
}

.ChapterInfoContainer .ChapterNameLabel
{
	max-height: 32px;
}

.ChapterInfoContainer .ChapterNumberLabel,.ChapterInfoContainer .ChapterNameLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
	vertical-align: center;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer .StageCompletionLabel
{
	color: LighterGrey;
}

@keyframes 'ClickMePulse'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	25%
	{
		pre-transform-scale2d: 0.98;
	}
	
	75%
	{
		pre-transform-scale2d: 1.02;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.PremiumRope
{
	width: 150px;
	height: 60px;
	background-size: 100% 100%;
	texture-sampling: point;
}

.PremiumRope:hover
{
	brightness: 1.5;
	animation-name: ClickMePulse;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

.Clickable
{
	width: fit-children;
	height: fit-children;
}

.Clickable.ExpandedClickArea
{
	padding: 50px;
	margin-left: -50px;
	margin-top: -50px;
}

.Clickable AnimatedImageStrip
{
	texture-sampling: point;
}

.DebugShowClickables .Clickable,.EditMode .Clickable,.IsDragging .Clickable
{
	box-shadow: 0 0 0 4px #f008 inset;
}


