/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MapBackground
{
	width: 100%;
	height: 100%;
	texture-sampling: point;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/icewrack/icewrack_base_map_psd.vtex");
	background-size: 100% 100%;
}

#TokenTrader
{
	x: 2685px;
	y: 3290px;
	width: 268px;
	height: 440px;
	texture-sampling: point;
}

#CandyShop
{
	x: 3464px;
	y: 970px;
	width: 200px;
	height: 257px;
	texture-sampling: point;
}

#MysteriousVendor
{
	x: 3190px;
	y: 2430px;
	width: 280px;
	height: 280px;
	texture-sampling: point;
}

#MysteriousVendorSign
{
	x: 3180px;
	y: 385px;
	width: 80px;
	height: 40px;
	tooltip-position: top;
}

#TavernScreeauk
{
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
	opacity: 1;
	x: 1820px;
	y: 3550px;
	brightness: 0.8;
	saturation: 0.8;
	texture-sampling: point;
}

.FinishedTownArea #TavernScreeauk
{
	visibility: visible;
	opacity: 1;
}

#Haunted
{
	x: 490px;
	y: 498px;
	width: 672px;
	height: 668px;
	texture-sampling: point;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
}

.UnHaunted #Haunted
{
	opacity: 0;
}

#Threebeard
{
	x: 1829px;
	y: 3328px;
	width: 32px;
	height: 16px;
	texture-sampling: point;
}

#Threebeard.PlaySound
{
	sound: "crownfall.map.click.spookyeyes";
}

#TideBubbles
{
	x: 985px;
	y: 3104px;
	width: 388px;
	height: 388px;
	texture-sampling: point;
}

#TideAppear
{
	x: 985px;
	y: 3104px;
	width: 388px;
	height: 388px;
	opacity: 0.01;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#TideAppear AnimatedImageStrip
{
	width: 388px;
	height: 388px;
}

#TideAppear.IsAnimating
{
	opacity: 1;
}

#TideAppear.PlaySound
{
	sound: "crownfall.map.click.bigtidehunter";
}

.ZogClickRegion
{
	x: 1530px;
	y: 1428px;
	width: 500px;
	height: 500px;
}

.ZaugDefeated .ZogClickRegion
{
	visibility: collapse;
}

@keyframes 'FadeDragon'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

#ZaugDragon,#ZaugDragon2
{
	x: 1430px;
	y: 1228px;
	width: 1012px;
	height: 940px;
	texture-sampling: point;
	opacity: 1;
	transition-property: opacity;
}

#ZaugDragon.Fake,#ZaugDragon2.Fake
{
	opacity: 1.0;
	background-color: #f003;
}

.ZaugDefeated #ZaugDragon,.ZaugDefeated #ZaugDragon2
{
	visibility: collapse;
}

#ZaugDragon.FadeDragon,#ZaugDragon2.FadeDragon
{
	animation-name: FadeDragon;
	animation-delay: 4.75s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

#FireMountain
{
	x: 3684px;
	y: 1036px;
	width: 900px;
	height: 1072px;
	texture-sampling: point;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-delay: 1s;
	transition-duration: 0.1s;
}

.FireMountainErupt #FireMountain
{
	visibility: visible;
	opacity: 1;
}

#Lich
{
	x: 2898px;
	y: 548px;
	width: 352px;
	height: 180px;
	texture-sampling: point;
}

#Lich.PlaySound
{
	sound: "crownfall.map.click.spookyeyes";
}

#BisonHerd
{
	x: 2020px;
	y: 2700px;
}

#BisonHerd .Clickable AnimatedImageStrip
{
	width: 88px;
	height: 154px;
	texture-sampling: point;
}

#BisonHerd .Clickable.PlaySound
{
	sound: "crownfall.map.click.bison";
}

#BisonHerd .Bison1
{
	y: 60px;
}

#BisonHerd .Bison2
{
	x: 120px;
	y: 0px;
}

#BisonHerd .Bison3
{
	x: 60px;
	y: 130px;
}

.Snow
{
	x: 2450px;
	y: 1450px;
	texture-sampling: point;
}

.Snow.TopLayer
{
	opacity: 0.5;
}

#Snow1,#TopLayerSnow1
{
	width: 164px;
	height: 36px;
}

#Snow2,#TopLayerSnow2
{
	width: 114px;
	height: 25px;
}

#Snow3,#TopLayerSnow3
{
	width: 106px;
	height: 46px;
}

#Snow4,#TopLayerSnow4
{
	width: 140px;
	height: 61px;
}

#WolfAppear
{
	x: 2400px;
	y: 1400px;
	width: 226px;
	height:126px;
}

#WolfAppear AnimatedImageStrip
{
	texture-sampling: point;
	width: 100%;
	height: 100%;
}

.spiderlings
{
	padding: 20px;
}

.spiderlings AnimatedImageStrip
{
	width: 712px;
	height: 680px;
	texture-sampling: point;
}

.spiderlings.PlaySound
{
	sound: "crownfall.map.click.spiderlings";
}

.ziggurat
{
	padding: 20px;
}

.ziggurat AnimatedImageStrip
{
	width: 384px;
	height: 500px;
	texture-sampling: point;
}

.ziggurat.PlaySound
{
	sound: "crownfall.map.click.ziggurat";
}

.SnowParticles
{
	width: 100%;
	height: 100%;
}

.ChapterInfoContainer.Chapter1
{
	x: 2330px;
	y: 3690px;
}

.ChapterInfoContainer.Chapter2
{
	x: 3120px;
	y: 2120px;
}

.ChapterInfoContainer.Chapter3
{
	x: 2480px;
	y: 830px;
}

.ChapterInfoContainer.Chapter4
{
	x: 1580px;
	y: 1320px;
	max-width: 285px;
}

.ChapterInfoContainer.Chapter4 .ChapterNumberLabel,.ChapterInfoContainer.Chapter4 .ChapterNameLabel
{
	max-width: 285px;
}

.ChapterInfoContainer.LinaSidequest
{
	x: 3580px;
	y: 1600px;
}

.ChapterInfoContainer.LinaSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_lina_png.vtex");
}

.ChapterInfoContainer.LichSidequest
{
	x: 3150px;
	y: 830px;
}

.ChapterInfoContainer.LichSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_lich_png.vtex");
}

.ChapterInfoContainer.PangoSidequest
{
	x: 3175px;
	y: 2795px;
}

.ChapterInfoContainer.PangoSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_pangobrood_png.vtex");
}

.ChapterInfoContainer.WyvernSidequest
{
	x: 1140px;
	y: 560px;
}

.ChapterInfoContainer.WyvernSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_ww_png.vtex");
}

.ShowChapter1 .Chapter1,.ShowChapter2 .Chapter2,.ShowChapter3 .Chapter3,.ShowChapter4 .Chapter4,.ShowQuestLina .LinaSidequest,.ShowQuestLich .LichSidequest,.ShowQuestPango .PangoSidequest,.ShowQuestWyvern .WyvernSidequest
{
	visibility: visible;
	opacity: 1;
}


