/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MapBackground
{
	width: 100%;
	height: 100%;
	texture-sampling: point;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/druud/druud_base_map_01_psd.vtex");
	background-size: 100% 100%;
}

.ChapterInfoContainer.Chapter1
{
	x: 1900px;
	y: 590px;
}

.ChapterInfoContainer.Chapter2
{
	x: 2720px;
	y: 1870px;
}

.ChapterInfoContainer.Chapter3
{
	x: 3515px;
	y: 3025px;
	max-width: 275px;
}

.ChapterInfoContainer.Chapter3 .ChapterNumberLabel
{
	max-width: 275px;
	max-height: 24px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.Chapter3 .ChapterNameLabel
{
	max-width: 275px;
	max-height: 32px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.Chapter4
{
	x: 1245px;
	y: 1880px;
}

.ChapterInfoContainer.WarlockSidequest
{
	x: 3100px;
	y: 1035px;
}

.ChapterInfoContainer.WarlockSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_warlock_png.vtex");
}

.ChapterInfoContainer.BatriderSidequest
{
	x: 3610px;
	y: 3735px;
	max-width: 175px;
}

.ChapterInfoContainer.BatriderSidequest .ChapterNumberLabel
{
	max-width: 175px;
	max-height: 24px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.BatriderSidequest .ChapterNameLabel
{
	max-width: 175px;
	max-height: 32px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.BatriderSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_batrider_png.vtex");
}

.ChapterInfoContainer.CentaurSidequest
{
	x: 1575px;
	y: 2895px;
}

.ChapterInfoContainer.CentaurSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_centaur_png.vtex");
}

.ChapterInfoContainer.LegionSidequest
{
	x: 805px;
	y: 1610px;
}

.ChapterInfoContainer.LegionSidequest .ChapterNumberIcon
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_legion_png.vtex");
}

.ShowChapter1 .Chapter1,.ShowChapter2 .Chapter2,.ShowChapter3 .Chapter3,.ShowChapter4 .Chapter4,.ShowQuest1 .WarlockSidequest,.ShowQuest2 .BatriderSidequest,.ShowQuest3 .CentaurSidequest,.ShowQuest4 .LegionSidequest
{
	visibility: visible;
	opacity: 1;
}

#TokenTrader
{
	x: 2690px;
	y: 1005px;
	width: 268px;
	height: 440px;
	texture-sampling: point;
}

#CandyShop
{
	x: 2244px;
	y: 1940px;
	width: 280px;
	height: 360px;
	texture-sampling: point;
}

#MysteriousVendor
{
	x: 3080px;
	y: 290px;
	width: 280px;
	height: 280px;
	texture-sampling: point;
}

#MysteriousVendorSign
{
	x: 3180px;
	y: 385px;
	width: 80px;
	height: 40px;
	tooltip-position: top;
}

#OglodiFlag
{
	x: 1753px;
	y: 1540px;
	width: 180px;
	height: 36px;
	texture-sampling: point;
}

.ArenaFlags
{
	x: 959px;
	y: 2740px;
	height: 500px;
	width: 500px;
	texture-sampling: point;
}

.ArenaFlags .ArenaFlag
{
	width: 108px;
	height: 36px;
	texture-sampling: point;
}

.ArenaFlags #ArenaFlag0
{
	y: 173px;
}

.ArenaFlags #ArenaFlag1
{
	x: 95px;
	y: 30px;
}

.ArenaFlags #ArenaFlag2
{
	x: 91px;
	y: 324px;
}

.ArenaFlags #ArenaFlag3
{
	x: 286px;
	y: 30px;
}

.ArenaFlags #ArenaFlag4
{
	x: 289px;
	y: 334px;
}

.ArenaFlags #ArenaFlag5
{
	x: 391px;
	y: 174px;
}

#HeroPyre
{
	x: 2006px;
	y: 908px;
	width: 268px;
	height: 280px;
	texture-sampling: point;
}

#ClickChickenPot
{
	x: 2160px;
	y: 1412px;
	texture-sampling: point;
}

#ClickChickenPot AnimatedImageStrip
{
	width: 118px;
	height: 150px;
}

#ClickChickenPot.PlaySound
{
	sound: "crownfall.map.click.chickenpot";
}

#ClickSpirits
{
	x: 2414px;
	y: 424px;
	texture-sampling: point;
}

#ClickSpirits AnimatedImageStrip
{
	width: 468px;
	height: 560px;
}

#ClickSpirits.PlaySound
{
	sound: "crownfall.map.click.spirits";
}

#ClickAcademy
{
	x: 582px;
	y: 1822px;
	texture-sampling: point;
}

#ClickAcademy AnimatedImageStrip
{
	width: 588px;
	height: 432px;
}

#ClickAcademy.PlaySound
{
	sound: "crownfall.map.click.academy";
}

#ClickMortimer
{
	x: 1774px;
	y: 2600px;
	texture-sampling: point;
}

#ClickMortimer AnimatedImageStrip
{
	width: 734px;
	height: 374px;
}

#ClickMortimer.PlaySound
{
	sound: "crownfall.map.click.mortimer";
}

#ClickOasis
{
	x: 1696px;
	y: 3336px;
	texture-sampling: point;
}

#ClickOasis AnimatedImageStrip
{
	width: 460px;
	height: 364px;
}

#ClickOasis.PlaySound
{
	sound: "crownfall.map.click.oasis";
}

#ClickAwoo
{
	x: 3216px;
	y: 2616px;
	texture-sampling: point;
	visibility: collapse;
}

.ShowDungeon #ClickAwoo
{
	visibility: visible;
}

#ClickAwoo AnimatedImageStrip
{
	width: 400px;
	height: 340px;
}

#ClickAwoo.PlaySound
{
	sound: "crownfall.map.click.awoo";
}

#QuestingHeartsSign
{
	x: 1984px;
	y: 1724px;
	tooltip-position: top;
	visibility: collapse;
	height: 260px;
}

#QuestingHeartsSign AnimatedImageStrip
{
	width: 156px;
	height: 100px;
	texture-sampling: point;
	vertical-align: top;
}

.SecretAdmirerGiftAvailable #QuestingHeartsSign
{
	visibility: visible;
}

.ThreeBeardEyes
{
	padding: 20px;
	visibility: collapse;
}

.ThreeBeardEyes AnimatedImageStrip
{
	width: 32px;
	height: 16px;
}

.ThreeBeardEyes.PlaySound
{
	sound: "crownfall.map.click.spookyeyes";
}

.ThreebeardEncounterUnlocked .ThreeBeardEyes
{
	visibility: visible;
}

.DruudFireSmall
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
}

.DruudFireSmall AnimatedImageStrip
{
	width: 88px;
	height: 100px;
}

.DruudFireSmall.PlaySound
{
	sound: "crownfall.map.click.SmallFire";
}

.DruudFireSmall.FinishedAnimating
{
	opacity: 0;
}

.SnapfireCactusBloom,.SnapfireCactusWilt
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
}

.SnapfireCactusBloom AnimatedImageStrip,.SnapfireCactusWilt AnimatedImageStrip
{
	width: 52px;
	height: 50px;
}

.SnapfireCactusBloom.SnapfireCactusBloom.PlaySound,.SnapfireCactusWilt.SnapfireCactusBloom.PlaySound
{
	sound: "crownfall.map.click.SnapfireCactusBloom";
}

.SnapfireCactusBloom.SnapfireCactusWilt.PlaySound,.SnapfireCactusWilt.SnapfireCactusWilt.PlaySound
{
	sound: "crownfall.map.click.SnapfireCactusWilt";
}

.SnapfireCactusBloom:not(.IsDragging),.SnapfireCactusWilt:not(.IsDragging)
{
	visibility: collapse;
}

.TreasureHuntUnlocked .SnapfireCactusBloom,.TreasureHuntUnlocked .SnapfireCactusWilt
{
	visibility: visible;
}

.SnapfireCactusBloom.FinishedAnimating,.SnapfireCactusWilt.FinishedAnimating
{
	opacity: 0;
}

.SnapfireDemonBlood AnimatedImageStrip
{
	width: 140px;
	height: 208px;
}

.SnapfireDemonBlood.PlaySound
{
	sound: "crownfall.map.click.SnapfireDemonBlood";
}

.SnapfireDemonBlood:not(.IsDragging)
{
	visibility: collapse;
}

.TreasureHuntComplete_1 .SnapfireDemonBlood
{
	visibility: visible;
}

.SnapfirePuffball
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
	visibility: collapse;
}

.SnapfirePuffball AnimatedImageStrip
{
	width: 54px;
	height: 40px;
}

.EditMode .SnapfirePuffball,.SnapfirePuffball.PuffballVisible
{
	opacity: 1;
}

.SnapfirePuffball.PlaySound
{
	sound: "crownfall.map.click.SnapfirePuffball";
}

.EditMode .SnapfirePuffball,.TreasureHuntComplete_2 .SnapfirePuffball
{
	visibility: visible;
}

.SnapfirePuffball.FinishedAnimating
{
	opacity: 0;
}

.SnapfirePuffballDecoy AnimatedImageStrip
{
	width: 54px;
	height: 40px;
}

.SnapfirePuffballDecoy.PlaySound
{
	sound: "crownfall.map.click.SnapfirePuffballDecoy";
}

.SnapfirePuffballDecoy:not(.IsDragging)
{
	visibility: collapse;
}

.TreasureHuntComplete_2 .SnapfirePuffballDecoy
{
	visibility: visible;
}

.SnapfireFirebug
{
	width: 200px;
	height: 200px;
	transition-property: position, opacity;
	transition-duration: 0.05s, 0.5s;
}

.SnapfireFirebug .FirebugBorder
{
	width: 100%;
	height: 100%;
}

.SnapfireFirebug .FirebugClickable
{
	width: 32px;
	height: 28px;
	vertical-align: center;
	horizontal-align: center;
}

.SnapfireFirebug .FlyingState
{
	width: 40px;
	height: 36px;
	vertical-align: center;
	horizontal-align: center;
}

.SnapfireFirebug .CrawlingState
{
	width: 32px;
	height: 28px;
	vertical-align: center;
	horizontal-align: center;
}

.SnapfireFirebug .SquishedState
{
	width: 32px;
	height: 28px;
	vertical-align: center;
	horizontal-align: center;
}

.SnapfireFirebug.PlaySound
{
	sound: "crownfall.map.click.SnapfireFirebugCaught";
}

.SnapfireFirebug:not(.IsDragging)
{
	visibility: collapse;
}

.TreasureHuntComplete_3.ShowDungeon .SnapfireFirebug
{
	visibility: visible;
}

.SnapfireFirebug .FlyingState
{
	visibility: collapse;
}

.SnapfireFirebug .SquishedState
{
	visibility: collapse;
}

.SnapfireFirebug.Flying .FlyingState
{
	visibility: visible;
}

.SnapfireFirebug.Flying .CrawlingState
{
	visibility: collapse;
}

.SnapfireFirebug.Flying .SquishedState
{
	visibility: collapse;
}

.SnapfireFirebug.Squished .FlyingState
{
	visibility: collapse;
}

.SnapfireFirebug.Squished .CrawlingState
{
	visibility: collapse;
}

.SnapfireFirebug.Squished .SquishedState
{
	visibility: visible;
}

.SnapfireFirebug.FinishedAnimating
{
	opacity: 0;
}

#CometMovie
{
	width: 100%;
	height: width-percentage( 56.25% );
	visibility: collapse;
}

.CometCrater
{
	x: 3422px;
	y: 1410px;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0s;
}

.CometCrater .CometCraterImage
{
	texture-sampling: point;
	width: 726px;
	height: 534px;
}

.ShowComet .CometCrater
{
	visibility: visible;
	opacity: 1;
	transition-duration: 0.5s;
}

.ShowComet .HideCometCrater .CometCrater
{
	opacity: 0;
}

.CometFlashContainer
{
	background-color: rgba( 137, 225, 245, 1 );
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.CometFlash .CometFlashContainer
{
	visibility: visible;
	animation-name: Flash;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes 'Flash'
{
	0%
	{
		opacity: 1;
		background-color: white;
	}
	
	100%
	{
		opacity: 0;
		background-color: rgba( 137, 225, 245, 1 );
	}
	
}

.Dungeon
{
	x: 2790px;
	y: 2160px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.Dungeon .DungeonImage
{
	texture-sampling: point;
	width: 1690px;
	height: 1262px;
}

.ShowDungeon .Dungeon
{
	opacity: 1;
}

.ShowDungeon .HideDungeon .Dungeon
{
	opacity: 0;
}

.Dungeon Label
{
	color:black;
	vertical-align: middle;
	horizontal-align: center;
}

@keyframes 'DebugAnim'
{
	0%
	{
		opacity:0.3;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

