/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MapBackground
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	texture-sampling: point;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/midgate/midgate_base_map_psd.vtex");
	background-size: 100% 100%;
}

.DebugShowClickables .Clickable
{
	box-shadow: 0 0 0 4px #f008 inset;
}

.DebugShowClickables .Clickable:hover
{
	box-shadow: 0 0 0 0;
}

.ChapterInfoContainer
{
	flow-children: down;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
	visibility: collapse;
	padding: 8px;
	padding-left: 12px;
	padding-right: 6px;
	background-color: rgba(25, 17, 34, .7);
	border-radius: 16px;
	opacity: 0;
}

.ShowingIntro .ChapterInfoContainer
{
	opacity: 0;
}

.ChapterInfoContainer Label
{
	text-shadow: 2px 1px 3px 2 black;
}

.ChapterInfoContainer .ChapterNumber
{
	flow-children: right;
}

.ChapterInfoContainer .ChapterNumberIcon
{
	width: 16px;
	height: width-percentage( 100% );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
	margin-right: 8px;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/control_icons/24px/comic_png.vtex");
}

.ChapterInfoContainer .ChapterNumberLabel,.ChapterInfoContainer .ChapterNameLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
	vertical-align: center;
}

.ChapterInfoContainer .StageCompletionLabel
{
	color: LighterGrey;
}

.ChapterInfoContainer.Chapter1
{
	x: 740px;
	y: 1892px;
}

.ChapterInfoContainer.Chapter2
{
	x: 760px;
	y: 1040px;
}

.ChapterInfoContainer.Chapter3
{
	x: 1850px;
	y: 1130px;
}

.ChapterInfoContainer.Chapter4
{
	x: 1830px;
	y: 1502px;
}

.ChapterInfoContainer.MeepoSidequest
{
	x: 740px;
	y: 402px;
	max-width: 260px;
}

.ChapterInfoContainer.MeepoSidequest .ChapterNumberLabel
{
	max-width: 250px;
	max-height: 24px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.MeepoSidequest .ChapterNameLabel
{
	max-width: 250px;
	max-height: 32px;
	text-overflow: shrink;
	line-height: normal;
}

.ChapterInfoContainer.MeepoSidequest .ChapterNumberIcon
{
	width: 20px;
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_meepo_png.vtex");
	margin: 2px;
}

.ChapterInfoContainer.JuggSidequest
{
	x: 1840px;
	y: 602px;
}

.ChapterInfoContainer.JuggSidequest .ChapterNumberIcon
{
	width: 18px;
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_jugg_png.vtex");
	margin: 2px;
	margin-right: 4px;
	margin-top: 4px;
}

.ChapterInfoContainer.RikiSidequest
{
	x: 2595px;
	y: 852px;
}

.ChapterInfoContainer.RikiSidequest .ChapterNumberIcon
{
	width: 20px;
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/sidequest_riki_png.vtex");
	margin: 2px;
}

.ShowChapter1 .Chapter1,.ShowChapter2 .Chapter2,.ShowChapter3 .Chapter3,.ShowChapter4 .Chapter4,.ShowQuest1 .MeepoSidequest,.ShowQuest2 .JuggSidequest,.ShowQuest3 .RikiSidequest
{
	visibility: visible;
	opacity: 1;
}

@keyframes 'ClickMePulse'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	25%
	{
		pre-transform-scale2d: 0.98;
	}
	
	75%
	{
		pre-transform-scale2d: 1.02;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

.PremiumRope
{
	width: 150px;
	height: 60px;
	background-size: 100% 100%;
	texture-sampling: point;
}

.PremiumRope:hover
{
	brightness: 1.5;
	animation-name: ClickMePulse;
	animation-duration: 0.3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}

#PremiumRope
{
	x: 622px;
	y: 856px;
}

.MeepoQuestStarted #PremiumRope
{
	visibility: collapse;
}

#PremiumRope2
{
	x: 2480px;
	y: 1150px;
}

.RikiQuestStarted #PremiumRope2
{
	visibility: collapse;
}

#PremiumTicketBooth
{
	x: 561px;
	y: 812px;
	width: 78px;
	height: 122px;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/midgate/midgate_premium_ticketbooth_png.vtex");
	background-size: 100% 100%;
	texture-sampling: point;
}

#PremiumTicketBooth:hover
{
	background-image: url("s2r://panorama/images/events/crownfall/overworld/midgate/midgate_premium_ticketbooth_hover_png.vtex");
}

#ClockTowerCorner
{
	x: 1036px;
	y: 914px;
	texture-sampling: point;
	width: 92px;
	height: 148px;
}

#TokenTrader
{
	x: 380px;
	y: 565px;
	width: 268px;
	height: 440px;
	texture-sampling: point;
}

#CandyShop
{
	x: 1474px;
	y: 486px;
	width: 280px;
	height: 360px;
	texture-sampling: point;
}

#TokenTraderSign
{
	x: 410px;
	y: 938px;
	width: 50px;
	height: 50px;
	tooltip-position: top;
}

#MeepoPosterSign
{
	x: 1116px;
	y: 166px;
	width: 50px;
	height: 50px;
	tooltip-position: bottom;
}

#MarketSign
{
	x: 1084px;
	y: 1216px;
	width: 50px;
	height: 50px;
	tooltip-position: top;
}

#MysteriousVendorSign
{
	x: 2380px;
	y: 980px;
	width: 80px;
	height: 40px;
	tooltip-position: top;
}

#TemplePudge
{
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 0.5s;
	opacity: 0;
	x: 2730px;
	y: 1840px;
	brightness: 0.2;
	saturation: 0.8;
	texture-sampling: point;
}

.FinishedChapter4 #TemplePudge
{
	visibility: visible;
	opacity: 1;
}

#MysteriousVendor
{
	x: 2250px;
	y: 875px;
	width: 280px;
	height: 280px;
	texture-sampling: point;
}

.Clickable
{
	width: fit-children;
	height: fit-children;
}

.Clickable.ExpandedClickArea
{
	padding: 50px;
	margin-left: -50px;
	margin-top: -50px;
}

.Clickable AnimatedImageStrip
{
	texture-sampling: point;
}

#ClickDonkey
{
	x: 568px;
	y: 680px;
}

#ClickDonkey AnimatedImageStrip
{
	width: 84px;
	height: 90px;
}

#ClickDonkey.PlaySound
{
	sound: "crownfall.map.click.donkey";
}

#ClickTango
{
	x: 1102px;
	y: 660px;
}

#ClickTango AnimatedImageStrip
{
	width: 32px;
	height: 26px;
}

#ClickTango.PlaySound
{
	sound: "crownfall.map.click.tango";
}

#ClickTango2
{
	x: 1130px;
	y: 667px;
}

#ClickTango2 AnimatedImageStrip
{
	width: 32px;
	height: 26px;
}

#ClickTango2.PlaySound
{
	sound: "crownfall.map.click.tango";
}

#ClickMango
{
	x: 1694px;
	y: 856px;
}

#ClickMango AnimatedImageStrip
{
	width: 32px;
	height: 32px;
}

#ClickMango.PlaySound
{
	sound: "crownfall.map.click.mango";
}

#ClickSnakeCharmer
{
	x: 1538px;
	y: 1417px;
	width: 250px;
}

#ClickSnakeCharmer AnimatedImageStrip
{
	width: 120px;
	height: 120px;
}

#ClickSnakeCharmer AnimatedImageStrip.Notes
{
	transform: translateX( 124px) translateY( -4px );
	width: 120px;
	height: 52px;
}

#ClickSnakeCharmer.PlaySound
{
	sound: "crownfall.map.click.snakecharmer";
}

#ClickTidehunterFish
{
	x: 1288px;
	y: 1408px;
}

#ClickTidehunterFish AnimatedImageStrip
{
	width: 88px;
	height: 80px;
}

#ClickTidehunterFish.PlaySound
{
	sound: "crownfall.map.click.fish";
}

#ClickSpookyEyes
{
	x: 986px;
	y: 1644px;
	visibility: collapse;
}

.DangerousEyesEncounterUnlocked #ClickSpookyEyes
{
	visibility: visible;
}

#ClickSpookyEyes AnimatedImageStrip
{
	width: 140px;
	height: 180px;
}

#ClickSpookyEyes.PlaySound
{
	sound: "crownfall.map.click.spookyeyes";
}

#ClickBakeetSign
{
	x: 816px;
	y: 724px;
}

#ClickBakeetSign AnimatedImageStrip
{
	width: 132px;
	height: 140px;
}

#ClickBakeetSign.PlaySound
{
	sound: "crownfall.map.click.bakeetsign";
}

#ClickBakeetSignChop
{
	x: 772px;
	y: 882px;
}

#ClickBakeetSignChop AnimatedImageStrip
{
	width: 172px;
	height: 104px;
}

#ClickBakeetSignChop.PlaySound
{
	sound: "crownfall.map.click.bakeetchop";
}

#ClickCuckoo
{
	x: 1114px;
	y: 1002px;
}

#ClickCuckoo AnimatedImageStrip
{
	width: 128px;
	height: 128px;
}

#ClickCuckoo.PlaySound
{
	sound: "crownfall.map.click.cuckoo";
}

#ClickFountain
{
	x: 1158px;
	y: 1150px;
}

#ClickFountain AnimatedImageStrip
{
	width: 240px;
	height: 220px;
}

#ClickFountain.PlaySound
{
	sound: "crownfall.map.click.fountain";
}

#ClickBobble
{
	x: 998px;
	y: 1327px;
}

#ClickBobble AnimatedImageStrip
{
	width: 126px;
	height: 132px;
}

#ClickBobble.PlaySound
{
	sound: "crownfall.map.click.bobblewind";
}

#ClickSmithCat
{
	x: 3236px;
	y: 1412px;
}

#ClickSmithCat AnimatedImageStrip
{
	width: 90px;
	height: 100px;
}

#ClickSmithCat.PlaySound
{
	sound: "crownfall.map.click.smithcatfire";
}

#ClickSmithRound
{
	x: 2924px;
	y: 996px;
}

#ClickSmithRound AnimatedImageStrip
{
	width: 144px;
	height: 188px;
}

#ClickSmithRound.PlaySound
{
	sound: "crownfall.map.click.smithfurnace";
}

#ClickSmithBarrel
{
	x: 2902px;
	y: 1398px;
}

#ClickSmithBarrel AnimatedImageStrip
{
	width: 30px;
	height: 76px;
}

#ClickSmithBarrel.PlaySound
{
	sound: "crownfall.map.click.barrel";
}

#ClickPopcorn
{
	x: 1359px;
	y: 310px;
}

#ClickPopcorn AnimatedImageStrip
{
	width: 156px;
	height: 176px;
}

#ClickPopcorn.PlaySound
{
	sound: "crownfall.map.click.popcorn";
}

#ClickTar
{
	x: 1579px;
	y: 180px;
}

#ClickTar AnimatedImageStrip
{
	width: 104px;
	height: 116px;
}

#ClickTar.PlaySound
{
	sound: "crownfall.map.click.tarfeathers";
}

#ClickMeepoPoster
{
	x: 1102px;
	y: 154px;
}

#ClickMeepoPoster AnimatedImageStrip
{
	width: 80px;
	height: 80px;
}

#ClickMeepoPoster.PlaySound
{
	sound: "crownfall.map.click.meepoposter";
}

#ClickSmoke
{
	x: 750px;
	y: 268px;
}

#ClickSmoke AnimatedImageStrip
{
	width: 88px;
	height: 146px;
}

#ClickSmoke.PlaySound
{
	sound: "crownfall.map.click.smoke";
}

#ClickPoorMansShield
{
	x: 3036px;
	y: 1478px;
}

#ClickPoorMansShield AnimatedImageStrip
{
	width: 118px;
	height: 84px;
}

#ClickPoorMansShield.PlaySound
{
	sound: "crownfall.map.click.shield";
}

.Candle
{
	overflow: noclip;
	width: 14px;
	height: 26px;
}

.Candle AnimatedImageStrip
{
	margin-left: -18px;
	margin-top: -12px;
	width: 76px;
	height: 28px;
}

.Candle.PlaySound
{
	sound: "crownfall.map.click.candle";
}

.ShowDestroyedTemple .Candle
{
	visibility: collapse;
}

#ClickCandleFlame1
{
	x: 2957px;
	y: 205px;
}

#ClickCandleFlame2
{
	x: 2947px;
	y: 211px;
}

#ClickCandleFlame3
{
	x: 2949px;
	y: 183px;
}

#ClickCandleFlame4
{
	x: 2965px;
	y: 187px;
}

#ClickCandleFlame5
{
	x: 2977px;
	y: 196px;
}

#ClickCandleFlame6
{
	x: 3041px;
	y: 195px;
}

#ClickCandleFlame7
{
	x: 3051px;
	y: 186px;
}

#ClickCandleFlame8
{
	x: 3055px;
	y: 211px;
}

#ClickFlags
{
	x: 1964px;
	y: 1005px;
}

#ClickFlags AnimatedImageStrip
{
	width: 332px;
	height: 154px;
}

#ClickFlags.PlaySound
{
	sound: "crownfall.map.click.flags";
}

#ClickClothesLine
{
	x: 1448px;
	y: 2174px;
}

#ClickClothesLine AnimatedImageStrip
{
	width: 64px;
	height: 48px;
}

#ClickClothesLine.PlaySound
{
	sound: "crownfall.map.click.clothesline";
}

.ShowMainQuestCave #ClickClothesLine
{
	visibility: collapse;
}

#ClickNotes
{
	x: 2056px;
	y: 1946px;
}

#ClickNotes AnimatedImageStrip
{
	width: 120px;
	height: 52px;
}

#ClickNotes.PlaySound
{
	sound: "crownfall.map.click.notes";
}

.ShowMainQuestCave #ClickNotes
{
	visibility: collapse;
}

#ClickDummy
{
	x: 2088px;
	y: 1716px;
}

#ClickDummy AnimatedImageStrip
{
	width: 160px;
	height: 156px;
}

#ClickDummy.PlaySound
{
	sound: "crownfall.map.click.dummy";
}

.ShowMainQuestCave #ClickDummy
{
	visibility: collapse;
}

#ClickNecronomicon
{
	x: 1032px;
	y: 294px;
}

#ClickNecronomicon AnimatedImageStrip
{
	width: 220px;
	height: 248px;
}

#ClickNecronomicon.PlaySound
{
	sound: "crownfall.map.click.necronomicon";
}

#ClickMagicSparkles
{
	x: 520px;
	y: 808px;
}

#ClickMagicSparkles AnimatedImageStrip
{
	width: 108px;
	height: 106px;
}

#ClickMagicSparkles.PlaySound
{
	sound: "crownfall.map.click.magicsparkles";
}

#ClickMagicSparkles2
{
	x: 770px;
	y: 398px;
}

#ClickMagicSparkles2 AnimatedImageStrip
{
	width: 108px;
	height: 106px;
}

#ClickMagicSparkles2.PlaySound
{
	sound: "crownfall.map.click.magicsparkles";
}

#ClickMagicSparkles3
{
	x: 2720px;
	y: 350px;
}

#ClickMagicSparkles3 AnimatedImageStrip
{
	width: 108px;
	height: 106px;
}

#ClickMagicSparkles3.PlaySound
{
	sound: "crownfall.map.click.magicsparkles";
}

.ShowDestroyedTemple #ClickMagicSparkles3
{
	visibility: collapse;
}

#ClickMagicSparkles4
{
	x: 2720px;
	y: 500px;
}

#ClickMagicSparkles4 AnimatedImageStrip
{
	width: 108px;
	height: 106px;
}

#ClickMagicSparkles4.PlaySound
{
	sound: "crownfall.map.click.magicsparkles";
}

.ShowDestroyedTemple #ClickMagicSparkles4
{
	visibility: collapse;
}

#ClickFurnaceFire
{
	x: 2750px;
	y: 1164px;
}

#ClickFurnaceFire AnimatedImageStrip
{
	width: 88px;
	height: 100px;
}

#ClickFurnaceFire.PlaySound
{
	sound: "crownfall.map.click.furnace";
}

#ClickFurnaceFire2
{
	x: 3100px;
	y: 1362px;
}

#ClickFurnaceFire2 AnimatedImageStrip
{
	width: 88px;
	height: 100px;
}

#ClickFurnaceFire2.PlaySound
{
	sound: "crownfall.map.click.furnace";
}

#ClickDrums
{
	x: 914px;
	y: 610px;
	width: 50px;
	height: 50px;
}

#ClickDrums.PlaySound
{
	sound: "crownfall.map.click.drumhit";
}

#ClickTentacle
{
	x: 1116px;
	y: 1456px;
}

#ClickTentacle AnimatedImageStrip
{
	width: 140px;
	height: 148px;
}

#ClickRippleInTheDark
{
	x: 1994px;
	y: 948px;
	width: 2px;
	height: 2px;
	overflow: noclip;
}

#ClickRippleInTheDark AnimatedImageStrip
{
	margin-left: -158px;
	margin-top: -246px;
	width: 432px;
	height: 312px;
}

@keyframes 'DebugAnim'
{
	0%
	{
		opacity:0.3;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#MidgateComet
{
	x: 300px;
	y: 170px;
	opacity: 1;
	texture-sampling: point;
	transition-property: opacity, transform;
	transition-delay: 2s;
	transition-duration: 10s;
}

.FinishedChapter1 #MidgateComet
{
	transform: translateX(100px) translateY(10px);
}

.FinishedChapter2 #MidgateComet
{
	transform: translateX(200px) translateY(20px);
}

.FinishedChapter3 #MidgateComet
{
	transform: translateX(300px) translateY(30px);
}

.FinishedChapter4 #MidgateComet
{
	transform: translateX(400px) translateY(40px);
	opacity: 0;
}

@keyframes 'QueensguardMovement'
{
	0%
	{
		transform: translateY(0px);
	}
	
	12.5%
	{
		transform: translateY(10px);
	}
	
	37.5%
	{
		transform: translateY(-10px);
	}
	
	50%
	{
		transform: translateY(0px);
	}
	
	50.0001%
	{
		transform: translateY(0px) scaleX(-1);
	}
	
	62.5%
	{
		transform: translateY(10px) scaleX(-1);
	}
	
	87.5%
	{
		transform: translateY(-10px) scaleX(-1);
	}
	
	99.9999%
	{
		transform: translateY(0px) scaleX(-1);
	}
	
	100%
	{
		transform: translateY(0px) scaleX(1);
	}
	
}

.Queensguard
{
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1s;
}

.ShowQueensguard:not(.HideQueensguard) .Queensguard
{
	visibility: visible;
	opacity: 1;
}

.Queensguard .Guard
{
	texture-sampling: point;
	width: 92px;
	height: 70px;
	animation-name: QueensguardMovement;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.Queensguard #Guard1
{
	x: 2400px;
	y: 1700px;
	animation-direction: reverse;
	animation-duration: 11s;
}

.Queensguard #Guard2
{
	x: 2320px;
	y: 1780px;
	animation-duration: 9s;
}

.Queensguard #Guard3
{
	x: 2360px;
	y: 1930px;
	animation-direction: reverse;
	animation-duration: 12s;
}

.Queensguard #Guard4
{
	x: 2570px;
	y: 1920px;
	animation-duration: 10s;
}

.Queensguard #Guard5
{
	x: 2670px;
	y: 1700px;
	animation-duration: 13s;
}

.Queensguard #Guard6
{
	x: 2730px;
	y: 1640px;
	animation-duration: 12s;
}

.Queensguard #Guard7
{
	x: 2040px;
	y: 1780px;
	animation-duration: 9s;
}

.Queensguard #Guard8
{
	x: 2200px;
	y: 1780px;
	animation-duration: 11s;
}

.Queensguard #Guard9
{
	x: 2870px;
	y: 1750px;
	animation-duration: 15s;
}

.Queensguard #Guard10
{
	x: 2550px;
	y: 1680px;
	animation-direction: reverse;
	animation-duration: 16s;
}

.Queensguard #Guard11
{
	x: 2440px;
	y: 1820px;
	animation-duration: 19s;
}

.Queensguard #Guard12
{
	x: 2590px;
	y: 1800px;
	animation-duration: 14s;
}

.Queensguard #Guard13
{
	x: 2700px;
	y: 1860px;
	animation-duration: 10s;
}

.MainQuestSouthDistrict
{
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
	x: 1338px;
	y: 1373px;
	width: 1928px;
	height: 1186px;
	texture-sampling: point;
}

.ShowMainQuestCave .MainQuestSouthDistrict
{
	opacity: 0;
}

.MainQuestMassacre
{
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
	x: 1842px;
	y: 1654px;
	width: 1108px;
	height: 628px;
	texture-sampling: point;
}

.ShowMainQuestMassacre .MainQuestMassacre
{
	visibility: visible;
	opacity: 1;
}

.DestroyedTemple
{
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
	x: 2458px;
	y: 38px;
	width: 1034px;
	height: 860px;
	texture-sampling: point;
}

.ShowDestroyedTemple .DestroyedTemple
{
	visibility: visible;
	opacity: 1;
}

