/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.HeroList
{
	horizontal-align: center;
	flow-children: right;
}

.HeroChoice
{
	flow-children: down;
	margin: 10px;
	padding: 8px;
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0;
}

.HeroChoice.ReadyForTransition
{
	opacity: 1;
}

.HeroChoice.ReadyForTransition.Hidden
{
	opacity: 0;
}

.HeroChoice .HeroVisualContainer
{
	vertical-align: center;
	horizontal-align: center;
}

.HeroChoice .HeroVisualBackground,.HeroChoice .HeroVisualBackgroundLock,.HeroChoice .HeroVisualBackgroundHands
{
	background-size: 100%;
	width: 260px;
	height: 165px;
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_psd.vtex");
	texture-sampling: point;
	animation-name: shakeStock;
	animation-duration: 5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.EncounterAct3 .HeroChoice.HeroIndex0 .HeroVisualBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_frozen_psd.vtex");
}

.EncounterAct3 .HeroChoice.HeroIndex1 .HeroVisualBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_frozen_1_psd.vtex");
}

.EncounterAct3 .HeroChoice.HeroIndex2 .HeroVisualBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_frozen_2_psd.vtex");
}

.HeroChoice .HeroVisualBackgroundLock
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_lock_psd.vtex");
	animation-delay: .04s;
}

.EncounterAct3 .HeroChoice .HeroVisualBackgroundLock
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_lock_frozen_psd.vtex");
}

.HeroChoice .HeroVisualBackgroundHands
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_hands_psd.vtex");
	animation-delay: .12s;
}

.EncounterAct3 .HeroChoice .HeroVisualBackgroundHands
{
	background-image: url("s2r://panorama/images/events/crownfall/encounters/pecking_post_pillory_hands_frozen_psd.vtex");
}

.HeroChoice .HeroVisual
{
	horizontal-align: center;
	vertical-align: center;
	width: 80px;
	height: 80px;
	texture-sampling: point;
	animation-name: headThrash;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.EncounterAct3 .HeroChoice .HeroVisual
{
	wash-color: #a3defd;
}

.HeroIndex0 .HeroVisual
{
	animation-duration: 2s;
	animation-delay: .12s;
}

.HeroIndex1 .HeroVisual
{
	animation-duration: 1.75s;
	animation-delay: 0s;
}

.HeroIndex2 .HeroVisual
{
	animation-duration: 2.25s;
	animation-delay: .5s;
}

@keyframes 'shakeStock'
{
	0%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	18%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	20%
	{
		transform: translateX(-3px) translateY(-5px)rotateZ(-.75deg);
	}
	
	22%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	30%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	48%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	50%
	{
		transform: translateX(3px) translateY(-5px)rotateZ(.75deg);
	}
	
	52%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	60%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	80%
	{
		transform: translateX(-3px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(0px);
		animation-name: headThrash;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	
}

@keyframes 'headThrash'
{
	0%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	12%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	16%
	{
		transform: translateX(-3px) translateY(2px) rotateZ(-2.5deg) scale3d(1.075,1.075,1);
	}
	
	25%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	33%
	{
		transform: translateX(3px) translateY(2px) rotateZ(2.5deg) scale3d(1.075,1.075,1);
	}
	
	37%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	50%
	{
		transform: translateX(0px) translateY(0px);
	}
	
	100%
	{
		transform: translateX(0px) translateY(0px);
	}
	
}

.BodyContainer AsyncDataPanel
{
	horizontal-align: center;
}

.BodyContainer AsyncDataPanel > .AsyncContainer
{
	width: fit-children;
	height: fit-children;
}

.BodyContainerSnow,.BodyContainerFog
{
	width: 100%;
	height: 100%;
	flow-children: none;
}

.BodyContainerFog
{
	opacity: .2;
}

#RewardTokensContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 40px;
}

#RewardTokensContainer DOTACrownfallToken
{
	ui-scale: 160%;
	margin: -32px;
}

.TakeTokensButton
{
	margin-top: 32px;
	horizontal-align: center;
	text-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .TakeTokensButton
{
	opacity: 1;
}

.TakeTokensButton Label
{
	horizontal-align: center;
}

