/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPCrownfallCreditsPage
{
	width: 100%;
	height: 100%;
	background-color: #111;
}

DOTABPCrownfallCreditsPage.Loaded .Curtains
{
	opacity: 1;
}

DOTABPCrownfallCreditsPage.FadeToBlack
{
	animation-name: FadeBlack;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes 'FadeBlack'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 0;
	}
	
}

.CreditsContents
{
	width: 100%;
	height: 100%;
	background-color: #111;
}

.CreditsContents #ScrollingRegion
{
	horizontal-align: center;
	vertical-align: center;
	background-color: black;
	ui-scale: 200%;
}

.ZoomedIn .CreditsContents #ScrollingRegion
{
	ui-scale: 300%;
}

.ZoomedIn .CreditsContents .Curtains
{
	ui-scale: 300%;
}

.ZoomedIn .CreditsContents #ValveHeadAnim
{
	ui-scale: 300%;
}

.CreditsContents .Curtains
{
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 200%;
	width: 640px;
	height: 360px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 1.5s;
}

.CreditsContents #ValveHeadAnim
{
	width: 48px;
	height: 40px;
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 200%;
	visibility: collapse;
	transform: translateY( 80px);
}

.ShowValveHead .CreditsContents #ValveHeadAnim
{
	visibility: visible;
}

#CharacterContainer,#SceneContainer,#AnimationContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.Animateable
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.CreditsBlock
{
	min-height: 10px;
	width: 100%;
	transition-property: opacity;
	transition-duration: 1s;
}

.FadeOutLogo .CreditsBlock
{
	opacity: 0;
}

.CreditsBlock .JustTextContainer
{
	visibility: collapse;
	horizontal-align:center;
}

.CreditsBlock .JustTextContainer Label
{
	font-family: Reaver;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.CreditsBlock.CastBlock .JustTextContainer,.CreditsBlock.ActTitleBlock .JustTextContainer
{
	visibility: visible;
}

.CreditsBlock .Character
{
	width: 120px;
	flow-children: down;
}

.CreditsBlock .Character #CharacterImage
{
	horizontal-align: center;
}

.CreditsBlock .Character .CharacterName
{
	margin-top: 6px;
	horizontal-align: center;
	font-family: Reaver;
	font-size: 8px;
	font-weight: medium;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #c0c6beff;
}

.CreditsBlock .Character .CharacterTitle
{
	margin-top: 1px;
	font-size: 6px;
	font-family: Reaver;
	horizontal-align: center;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: rgb(108, 112, 106);
}

.CreditsBlock .Character.Clicked #CharacterImage
{
	animation-name: CharacterShake;
	animation-duration: 0.3s;
}

.CreditsBlock .Character.Clicked .CharacterName,.CreditsBlock .Character.Clicked .CharacterTitle
{
	animation-name: CharacterClicked;
	animation-duration: 0.5s;
	color: #dcd9a0ff;
}

.CreditsBlock .Character.Clicked.Nudge
{
	transform: translateY( -1px);
}

.CreditsBlock .Character.Clicked.Nudge #CharacterImage
{
	brightness: 1.5;
}

.CreditsBlock .Character.Clicked.Nudge .CharacterName
{
	brightness: 1.5;
}

.CreditsBlock .Character.Clicked.Nudge .CharacterTitle
{
	opacity: 0.2;
}

.CreditsBlock #SceneContainer,.CreditsBlock .Character
{
	opacity: 0;
}

.CreditsBlock #SceneContainer
{
	animation-delay: 1.4s;
}

.CreditsBlock .Character
{
	animation-delay: 0.6s;
}

.CreditsBlock .Character.OnScreen,.CreditsBlock #SceneContainer.OnScreen
{
	animation-name: FadeIn;
	animation-duration: 1.6s;
	animation-fill-mode: forwards;
}

.CreditsBlock.DotaLogo #SceneContainer
{
	animation-delay: 0s;
}

.CreditsBlock.CrownfallLogo #SceneContainer
{
	animation-delay: 0s;
	animation-duration: 3s;
	animation-name: none;
}

.CreditsBlock.CrownfallLogo #SceneContainer
{
	transition-property: opacity;
	transition-duration: 4s;
}

.Stopped .CreditsBlock.CrownfallLogo #SceneContainer
{
	opacity: 1;
}

.Stopped .CreditsBlock.CrownfallLogo .SpecialThanksContainer
{
	animation-name: FadeIn;
	animation-duration: 1.6s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}

.SpecialThanksContainer
{
	width: 200px;
	height: 100px;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	opacity: 0;
	visibility: collapse;
}

.CrownfallLogo .SpecialThanksContainer
{
	visibility: visible;
}

.SpecialThanksContainer .SpecialThanksText
{
	horizontal-align: center;
	font-family: Reaver;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 7px;
	color: #c0c6beff;
	margin-bottom: 5px;
}

.SpecialThanksContainer .PlayerContainer
{
	flow-children: right;
	horizontal-align: center;
}

.SpecialThanksContainer .PlayerContainer #PlayerAvatar
{
	width: 18px;
	height: 18px;
}

.SpecialThanksContainer .PlayerContainer .PlayerPersona
{
	font-family: Reaver;
	font-size: 9px;
	margin-left: 5px;
	vertical-align: center;
	color: #c0c6beff;
}

Image
{
	texture-sampling: point;
}

AnimatedImageStrip
{
	texture-sampling: point;
}

@keyframes 'CharacterClicked'
{
	0%
	{
		brightness: 1;
	}
	
	60%
	{
		brightness: 4;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

@keyframes 'CharacterShake'
{
	0%
	{
		transform: none;
		brightness: 4.0;
	}
	
	10%
	{
		transform: translateX( 4px );
		transform: translateY( 4px );
		brightness: 13.0;
	}
	
	20%
	{
		transform: translateY( -4px );
		transform: none;
		brightness: 2.0;
	}
	
	30%
	{
		transform: translateX( -4px );
		brightness: 1.0;
	}
	
	40%
	{
		transform: none;
	}
	
	50%
	{
		transform: translateX( 4px );
	}
	
	60%
	{
		transform: none;
	}
	
}

@keyframes 'FadeIn'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.DebugShowOutlines .CreditsBlock
{
	border: 1px solid #f008;
}

.DebugShowOutlines .Character,.DebugShowOutlines .SceneContainer
{
	border: 1px solid #0f08;
}

.DebugShowOutlines #ScrollingRegion
{
	border: 1px solid pink;
}

.DebugShowOutlines .Animateable
{
	opacity: 0.5;
	wash-color: red;
	animation-name: DebugFlash;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes 'DebugFlash'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

.DebugContainer
{
	opacity: 0.01;
	height: 100px;
	background-color: purple;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 100px;
	flow-children: down;
	visibility: collapse;
}

.ShowDebug .DebugContainer
{
	visibility: visible;
}

.DebugContainer:hover
{
	opacity: 0.5;
}

.DebugContainer TextButton
{
	background-color: #222;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
}

.DebugContainer TextButton:hover
{
	brightness: 1.5;
}

.DebugContainer TextButton:active
{
	brightness: 0.5;
	transform: translateY( 1px );
}

.DebugContainer .Row
{
	flow-children: right;
}

.DebugContainer .SliderContainer
{
	width: 1300px;
	height: 50px;
}

.DebugContainer .SliderContainer .HorizontalSlider
{
	width: 100%;
	height: 100%;
}

.DebugContainer .UnpauseButton
{
	visibility: collapse;
}

.Paused .DebugContainer .UnpauseButton
{
	visibility: visible;
}

.Paused .DebugContainer .PauseButton
{
	visibility: collapse;
}

