/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

#GiftAccepting
{
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
	width: 100%;
}

.DisplayModeReceive #GiftAccepting
{
	visibility: visible;
}

.GiftActions
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.GiftActionsNotAvailable
{
	width: 100%;
	height: 100%;
}

.GiftActionsNotAvailable .GiftingTitle
{
	vertical-align: middle;
}

#GiftSelection
{
	height: 380px;
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.DisplayModeSend #GiftSelection
{
	visibility: visible;
}

#GiftSelection .GiftingTitle
{
	horizontal-align: center;
	font-family: titleFont;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
}

#GiftSelection .DailyGifts
{
	horizontal-align: center;
}

#GiftSelection .TokenGift
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	height: 100%;
	padding: 8px;
	margin-top: 5px;
}

#GiftSelection .TokenGift #FriendPicker
{
	width: 320px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.02);
	padding: 8px 0px;
	animation-name: GlowSelectedPanel;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}

.FriendSelected #GiftSelection .TokenGift #FriendPicker
{
	animation-name: none;
}

#GiftSelection .TokenGift #FriendPicker RadioButton DOTAUserName Label
{
	font-size: 16px;
}

#GiftSelection .TokenGift .FriendDetailsContainer
{
	flow-children: down;
	width: 420px;
	height: 100%;
	margin-left: 8px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.02);
}

.FriendSelected #GiftSelection .TokenGift .FriendDetailsContainer
{
	animation-name: GlowSelectedPanel;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction:alternate;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.2;
}

.FriendSelected #GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents
{
	opacity: 1;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #NeededTokens
{
	flow-children: right;
	horizontal-align: center;
	padding: 8px 32px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.068);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, #FFFFFF ), to( rgba(255, 255, 255, 0) ) );
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #NeededTokens Label
{
	vertical-align: center;
	margin-right: 4px;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #NeededTokens .NeededTokensList
{
	flow-children: right;
	vertical-align: center;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #NeededTokens .NeededTokensList DOTACrownfallToken
{
	margin: -12px;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #SelectedToken
{
	ui-scale: 260%;
	margin: -8px;
	vertical-align: center;
	horizontal-align: center;
	width: 44px;
	margin-top: 12px;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents #SelectedToken.ZeroCount
{
	opacity: 0.25;
	brightness: 0.5;
}

#GiftSelection .TokenGift .FriendDetailsContainer .FriendDetailsContents .GiftButton
{
	margin-top: 20px;
	horizontal-align: center;
	min-width: 260px;
}

@keyframes 'GlowSelectedPanel'
{
	0%
	{
		border: 1px solid rgba(255, 255, 255, 0.02);
	}
	
	100%
	{
		border: 1px solid rgba(255, 255, 255, 1);
	}
	
}

.FriendNotSelected .FriendDetails,.FriendSelected #SelectFriend
{
	visibility: collapse;
}

.FriendSelected .FriendDetails,.FriendNotSelected #SelectFriend
{
	visibility: visible;
}

.ResetContainer
{
	width: 60%;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 8px 0px 12px;
	margin: 20px 16px 0px;
	border-top: 1px solid rgba(204, 235, 255, 0.059);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, #FFFFFF ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(153, 219, 255, 0.021) ), to( rgba(108, 154, 192, 0) ) );
	visibility: collapse;
}

.ResetContainer .ResetButton
{
	horizontal-align: center;
	flow-children: right;
	padding: 8px;
	transition-property: transform, brightness;
	transition-duration: 0.05s;
}

.ResetContainer .ResetButton Label
{
	vertical-align: center;
	color: LightGrey;
	text-shadow: 0px 2px 8px black;
	margin-right: 4px;
	transition-property: color;
	transition-duration: 0.1s;
}

.ResetContainer .ResetButton Image
{
	vertical-align: center;
	wash-color: LightGrey;
	width: 20px;
	height: width-percentage( 100% );
	img-shadow: 0px 2px 8px black;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.ResetContainer .ResetButton:hover Label
{
	color: white;
}

.ResetContainer .ResetButton:hover Image
{
	wash-color: white;
}

.ResetContainer .ResetButton:active
{
	transform: translateY( 0.5px );
	brightness: 0.5;
}

.DisplayModeReceive .ResetContainer
{
	visibility: collapse;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 48px;
}

.Tokens DOTACrownfallToken
{
	ui-scale: 340%;
	margin: -8px;
	width: 44px;
}

