/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.CrownfallIntro
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #202b36 ), to( #0a111c ) );
	width: 1000px;
	padding: 0px;
	border: 0;
	box-shadow: 0px 16px 64px -4px rgba(0, 0, 0, 0.6);
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_png.vtex");
	background-size: cover;
	background-position: center;
	background-img-opacity: 0;
}

#CloseButtonContainer
{
	ignore-parent-flow: true;
}

#MainBody
{
	width: 100%;
	height: 880px;
	flow-children: right;
}

.LeftNavigation
{
	flow-children: down;
	width: 300px;
	height: 100%;
	padding: 20px;
	background-color: #222;
	visibility: collapse;
}

.LeftNavigation .SectionButton
{
	margin-left: 20px;
}

.LeftNavigation .SectionButton Label
{
	font-size: 34px;
	text-transform: uppercase;
}

.LeftNavigation .SectionButton:hover
{
	brightness: 1.5;
}

.LeftNavigation .SectionButton:active
{
	brightness: 0.5;
}

.LeftNavigation .SectionName
{
	margin-top: 20px;
	margin-bottom: 5px;
	color: #666;
	font-size: 36px;
	text-transform: uppercase;
}

.MainContainer
{
	padding: 0px 80px 80px;
	width: 100%;
	flow-children: down;
	overflow: squish scroll;
}

.MainContainer .Content
{
	width: 100%;
	flow-children: right;
	horizontal-align: center;
	padding: 40px 0px 56px;
	border-bottom: 1px solid rgba(208, 233, 255, 0.128);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, #ffffffd4 ), color-stop( 0.5, #ffffff ), color-stop( 0.7, #ffffd4 ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(119, 142, 171, 0.1) ), to( gold3&00 ) );
}

.MainContainer .Content .ImageColumn
{
	width: 240px;
	height: 240px;
	margin-left: 40px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 45% 45%, from( rgba(153, 216, 255, 0.1) ), color-stop( 0.6, rgba(153, 216, 255, 0.03) ), to( rgba(33, 43, 62, 0) ) );
}

.MainContainer .Content .ImageColumn .ImageShadow
{
	horizontal-align: center;
	width: 90%;
	height: 30px;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(6, 8, 12) ), color-stop( 0.5, rgba(8, 13, 16, 0.8) ), to( rgba(0, 7, 21, 0) ) );
	blur: gaussian(4px);
	opacity: 0.8;
}

.MainContainer .Content .TextColumn
{
	width: fill-parent-flow( 1 );
	margin-left: 60px;
	flow-children: down;
}

.MainContainer .Content .TextColumn Label
{
	font-size: 17px;
	margin-top: 10px;
	line-height: 1.3;
	color: LighterGrey;
	text-shadow: 0px 2px 10px black;
}

.MainContainer .Content .TextColumn Label b
{
	font-weight: semi-bold;
	color: #ddd;
}

.MainContainer .Content .TextColumn Label.Bullet
{
	padding-left: 24px;
	margin-left: 16px;
	background-image: url("s2r://panorama/images/events/crownfall/control_icons/bullet_png.vtex");
	background-position: 0px 8px;
	background-repeat: no-repeat;
	background-size: 10px 10px;
}

.MainContainer .Content .TextColumn Label.Header
{
	margin-top: 0px;
	font-weight: semi-bold;
	font-size: 24px;
	color: LightestGrey;
	font-family: Reaver;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	brightness: 1.5;
}

.Footnote
{
	font-family: titleFont;
	horizontal-align: center;
	color: LighterGrey;
	margin-top: 40px;
	margin-bottom: -16px;
}

.Characters
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 32px;
}

.Characters .CharacterIcon
{
	width: 80px;
	height: width-percentage(100%);
	texture-sampling: point;
}

#ExploreImageContainer .Node
{
	width: 128px;
	height: 180px;
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 170%;
}

#ExploreImageContainer .Node.FinishNode
{
	width: 180px;
	height: 240px;
	transform: translate3d( -90px, -120px, 0px );
}

#ExploreImageContainer .Node #NodeBackground
{
	horizontal-align: center;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 90px;
	height: width-percentage( 100% );
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_reward_png.vtex");
}

#ExploreImageContainer .Node #NodeBackgroundInner
{
	horizontal-align: center;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #32404f;
	width: 90px;
	height: width-percentage( 100% );
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_reward_inner_png.vtex");
}

#ExploreImageContainer .Node #NodeContents
{
	width: 100%;
	height: 100%;
}

#ExploreImageContainer .Node #NodeContents #AnimatedImage
{
	texture-sampling: point;
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	transform: translateY( -28px);
}

#TokensImageContainer .TokenParticles
{
	width: 110%;
	height: 120%;
	margin-bottom: 40px;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	vertical-align: center;
	horizontal-align: center;
	hue-rotation: 90deg;
	brightness: 2;
}

#TokensImageContainer .HeroAxeIcon
{
	width: 60px;
	height: width-percentage(100%);
	background-image: url("s2r://panorama/images/heroes/icons/npc_dota_hero_axe_png.vtex");
	background-size: cover;
	texture-sampling: point;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 64px;
}

#TokensImageContainer .TokensContainer
{
	width: 116%;
	horizontal-align: center;
	overflow: noclip;
}

#TokensImageContainer .TokensContainer DOTACrownfallToken
{
	ui-scale: 220%;
	vertical-align: center;
}

#TokensImageContainer .TokensContainer DOTACrownfallToken#1
{
	horizontal-align: left;
	blur: gaussian(0.4px);
	brightness: 0.6;
	margin-top: 32px;
}

#TokensImageContainer .TokensContainer DOTACrownfallToken#2
{
	horizontal-align: center;
	ui-scale: 300%;
	z-index: 1;
	margin-top: -12px;
}

#TokensImageContainer .TokensContainer DOTACrownfallToken#3
{
	horizontal-align: right;
	blur: gaussian(0.4px);
	brightness: 0.6;
	margin-top: 32px;
}

#StoryImageContainer .StoryParticles
{
	width: 110%;
	height: 120%;
	margin-bottom: 40px;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	vertical-align: center;
	horizontal-align: center;
	hue-rotation: -90deg;
}

#StoryImageContainer .StoryBlocksContainer
{
	width: 100%;
	horizontal-align: center;
	margin-top: 24px;
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock
{
	width: 100px;
	height: width-percentage(100%);
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d71ad ), to( #0d2a65 ) );
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	vertical-align: center;
	margin: 24px;
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock Image
{
	horizontal-align: center;
	vertical-align: center;
	width: 40%;
	img-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock .LockIcon
{
	wash-color: LighterGrey;
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock.Story1
{
	horizontal-align: left;
	blur: gaussian(0.3px);
	brightness: 0.6;
	width: 72px;
	border: 1.5px solid rgba(255, 255, 255, 0.1);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #59503b48 ), to( #5f4e347b ) );
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.4);
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock.Story2
{
	horizontal-align: center;
	z-index: 1;
	box-shadow: 0px 0px 56px rgba(255, 206, 143, 0.05);
}

#StoryImageContainer .StoryBlocksContainer .StoryBlock.Story3
{
	horizontal-align: right;
	blur: gaussian(0.3px);
	brightness: 0.6;
	width: 72px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #080d10 ), to( #15181e ) );
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkGrey ) );
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.4);
}

#CoinsImageContainer .ImageShadow
{
	vertical-align: center;
	height: 160px;
	margin-top: 80px;
	opacity: 1;
	width: 100%;
}

#CoinsImageContainer .CoinContainer
{
	horizontal-align: center;
	vertical-align: center;
}

#CoinsImageContainer .CoinContainer .NodeBackground,#CoinsImageContainer .CoinContainer .NodeBackgroundInner
{
	width: 220px;
	height: width-percentage( 100% );
	background-size: contain;
	horizontal-align: center;
	vertical-align: center;
	transform: scaleY( 0.5 );
}

#CoinsImageContainer .CoinContainer .NodeBackground.Back,#CoinsImageContainer .CoinContainer .NodeBackgroundInner.Back
{
	margin-top: 8px;
	brightness: 0.3;
}

#CoinsImageContainer .CoinContainer .NodeBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_reward_png.vtex");
}

#CoinsImageContainer .CoinContainer .NodeBackgroundInner
{
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_reward_inner_png.vtex");
	wash-color: #32404f;
}

#CoinsImageContainer .CoinContainer .CoinImage
{
	width: 120px;
	texture-sampling: point;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 88px;
	ui-scale: 500%;
}

#CandyImageContainer .ImageShadow
{
	vertical-align: center;
	height: 160px;
	margin-top: 80px;
	opacity: 1;
	width: 100%;
}

#CandyImageContainer .CandyContainer
{
	horizontal-align: center;
	vertical-align: center;
}

#CandyImageContainer .CandyContainer .NodeBackground,#CandyImageContainer .CandyContainer .NodeBackgroundInner
{
	width: 280px;
	height: width-percentage( 100% );
	background-size: contain;
	horizontal-align: center;
	vertical-align: center;
	transform: scaleY( 0.5 );
}

#CandyImageContainer .CandyContainer .NodeBackground.Back,#CandyImageContainer .CandyContainer .NodeBackgroundInner.Back
{
	margin-top: 8px;
	brightness: 0.3;
}

#CandyImageContainer .CandyContainer .NodeBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_encounter_png.vtex");
}

#CandyImageContainer .CandyContainer .NodeBackgroundInner
{
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/node_background_encounter_inner_png.vtex");
	wash-color: #32404f;
}

#CandyImageContainer .CandyContainer .CandyImage
{
	width: 120px;
	texture-sampling: point;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 70px;
	margin-right: 12px;
	ui-scale: 150%;
}

#TrinketsImageContainer .ImageShadow
{
	vertical-align: center;
	height: 160px;
	margin-top: 80px;
	opacity: 1;
	width: 100%;
}

#TrinketsImageContainer .TricketsContainer
{
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 120%;
}

#TrinketsImageContainer .TricketsContainer .Trinket
{
	texture-sampling: point;
}

#TrinketsImageContainer .TricketsContainer .Trinket.Treasure
{
	x: 24px;
	y: 44px;
	width: 150px;
}

#TrinketsImageContainer .TricketsContainer .Trinket.Gift
{
	x: 80px;
	y: 58px;
}

.RightFlowContainer
{
	flow-children: right;
	horizontal-align: center;
}

.ShowTokens #NavTokens Label,.ShowStory #NavStory Label,.ShowCoins #NavCoins Label,.ShowCandy #NavCandy Label,.ShowTreasures #NavTreasures Label,.ShowTrinkets #NavTrinkets Label,.ShowStore #NavStore Label,.ShowSchedule #NavSchedule Label
{
	color: gold1;
}

.ShowTokens #NavTokens:hover,.ShowStory #NavStory:hover,.ShowCoins #NavCoins:hover,.ShowCandy #NavCandy:hover,.ShowTreasures #NavTreasures:hover,.ShowTrinkets #NavTrinkets:hover,.ShowStore #NavStore:hover,.ShowSchedule #NavSchedule:hover
{
	brightness: 1.0;
}

.ShowTokens .Content.MainTokens,.ShowStory .Content.MainStory,.ShowCoins .Content.MainCoins,.ShowCandy .Content.MainCandy,.ShowTreasures .Content.MainTreasures,.ShowTrinkets .Content.MainTrinkets,.ShowStore .Content.MainStore,.ShowSchedule .Content.MainSchedule
{
	visibility: visible;
}

.WelcomeTitleContainer
{
	width: 100%;
	background-color: #05080d55;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, #BA8C47 ), color-stop( 0.5, #ebc386 ), color-stop( 0.7, #BA8C47 ), to( rgba(255, 255, 255, 0) ) );
	min-height: 120px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
}

.WelcomeTitleContainer .WelcomeTitle
{
	vertical-align: center;
	horizontal-align: center;
	font-family: titleFont;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	font-weight: semi-bold;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 2px 16px black;
	margin-top: 4px;
}

.WelcomeTitleContainer .EventExpired
{
	vertical-align: center;
	horizontal-align: center;
	font-family: titleFont;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 2px 16px black;
	margin-top: 64px;
}

.TopGoldDash
{
	width: 100%;
	height: 2px;
	ignore-parent-flow: true;
	vertical-align: top;
}

.Separator
{
	width: 100%;
	height: 2px;
	background-color:gold2;
	margin-top: 30px;
	margin-bottom: 30px;
}

