/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	background-color: none;
	animation: none;
	border: 0px solid transparent;
	padding: 0px;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

.MainContents
{
	border: 0px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	horizontal-align: center;
	vertical-align: middle;
	width: 1244px;
	height: 700px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
}

.MainContents #CloseButtonContainer
{
	ignore-parent-flow: true;
	margin-top: 2px;
}

.MainContents .TopGoldDash
{
	width: 100%;
	height: 2px;
}

.MainContents .EncounterGraphic
{
	margin-top: 2px;
	horizontal-align: center;
	height: 100px;
}

.MainContents .InnerContents
{
	ignore-parent-flow: true;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.MainContents .InnerContents .Header
{
	width: 100%;
}

.MainContents .InnerContents .Body
{
	width: 100%;
	height: 100%;
}

.MainContents .InnerContents .Body .Scene
{
	width: 100%;
	height: width-percentage( 56.25% );
}

.MainContents .InnerContents .Body .Scene #GameScene,.MainContents .InnerContents .Body .Scene #GameSceneBG
{
	border: 1px solid gold1;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	opacity: 0.0;
}

.MainContents .InnerContents .Body .Scene #GameScene.SceneLoaded,.MainContents .InnerContents .Body .Scene #GameSceneBG.SceneLoaded
{
	opacity: 1.0;
}

.ShowVisualNovel .MainContents .InnerContents .Body .Scene #GameScene,.ShowVisualNovel .MainContents .InnerContents .Body .Scene #GameSceneBG
{
	brightness: 0.8;
}

.IntroMenu .MainContents .InnerContents .Body .Scene #GameSceneBG
{
	blur: gaussian(6px);
	brightness: 2;
	saturation: .7;
	opacity-brush: gradient( linear, 0% 100%, 0% 0%, from( #0000 ), color-stop( 0.3, #0000 ), to( rgb(31, 99, 117) ) );
}

.IntroMenu .MainContents .InnerContents .Body .Scene #GameScene
{
	transform: scaleX(-1);
}

.MainContents .InnerContents .Body .MainMenu
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
	width: 800px;
	height: 600px;
	padding-left: 30px;
	padding-right: 30px;
	border: 2px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	opacity: 0.0;
	transform: translateY( -20px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.IntroMenu.SceneLoaded:not(.ShowVisualNovel) .MainContents .InnerContents .Body .MainMenu
{
	opacity: 1.0;
	transform: none;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection
{
	width: 100%;
	flow-children: down;
	padding: 0px;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayTitle
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: gold1;
	margin-bottom: 6px;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayDescription
{
	font-size: 16px;
	line-height: 1.2;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayDescription b
{
	font-weight: bold;
	font-size: 16px;
}

.MainContents .InnerContents .Body .MainMenu .Title
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 34px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: gradient( linear, 0% 00%, 0% 100%, from( #f9e7cd ), to( gold2 ) );
	text-shadow: 2px 6px 8px black;
	margin-top: 8px;
	margin-bottom: 15px;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer
{
	flow-children: right;
	width: 100%;
	height: 400px;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer .Column1
{
	width: 50%;
	height: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer .Column2
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

.MainContents .InnerContents .Body .MainMenu .RewardsLabel
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: gold1;
	margin-top: 12px;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection
{
	margin-top: 12px;
	flow-children: down;
	width: 100%;
	horizontal-align:left;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow.Unlocked
{
	brightness: 0.1;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardScore
{
	width: 80px;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardValue
{
	flow-children: right;
	width: 100%;
	vertical-align: middle;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardValue DOTACrownfallToken
{
	width: 38px;
	ui-scale: 64%;
}

.MainContents .InnerContents .Body .BottomButtons
{
	margin-top: 20px;
	ui-scale: 90%;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

.MainContents .InnerContents .Body .BottomButtons .ExitButton
{
	visibility: collapse;
}

.PlayedOnce .MainContents .InnerContents .Body .BottomButtons .ExitButton
{
	visibility: visible;
}

.MainContents .InnerContents .Body .MissingDataSpinnerContainer
{
	horizontal-align: center;
	vertical-align: middle;
	visibility: visible;
	ui-scale: 200%;
}

.SceneLoaded .MainContents .InnerContents .Body .MissingDataSpinnerContainer
{
	visibility: collapse;
}

.OverlayHUD
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.SceneLoaded .OverlayHUD
{
	visibility: visible;
}

.ShowVisualNovel .OverlayHUD
{
	blur: gaussian( 2px );
}

.OverlayHUD .ScoreSection
{
	horizontal-align: left;
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	width: 222px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

.HideScore .OverlayHUD .ScoreSection
{
	transform: translateX( -40px );
	opacity: 0;
}

.IntroMenu .OverlayHUD .ScoreSection
{
	transform: translateX( -40px );
	opacity: 0;
}

.OverlayHUD .ScoreSection .Header
{
	flow-children: down;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(52, 66, 83, 1) ), to( rgba(12, 17, 28, 1) ) );
	padding: 10px;
}

.OverlayHUD .ScoreSection .Header .Title
{
	font-size: 22px;
	horizontal-align: center;
	font-family: Reaver;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

.OverlayHUD .ScoreSection .Main
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	padding: 10px;
	transition-property: height;
	transition-duration: 0.5s;
	background-color: #000a;
	border-bottom: 2px solid gold1;
}

.IntroMenu .OverlayHUD .ScoreSection .Main
{
	height: 2px;
}

.OverlayHUD .ScoreSection .Main .ScoreLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: Radiance;
	font-size: 13px;
	letter-spacing: 1px;
	color: gold1;
	text-shadow: 1px 1px 4px black;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer
{
	width: 100%;
	horizontal-align: center;
	margin-top: -8px;
	min-height: 58px;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .RemainingScore
{
	font-family: Radiance;
	font-size:20px;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold2 ) );
	text-align: right;
	text-shadow: 2px 2px 4px black;
	horizontal-align: middle;
	vertical-align: bottom;
	visibility: collapse;
}

.ShowRemainingScore .OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .RemainingScore
{
	visibility: visible;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .ScoreValue
{
	font-family: Radiance;
	font-size: 48px;
	letter-spacing: 2px;
	color: gold1;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 1px 1px 8px black;
	transition-property: ui-scale;
	transition-duration: 0.3s;
}

.ShowRemainingScore .OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .ScoreValue
{
	ui-scale: 77%;
}

.OverlayHUD .ScoreSection .Main .ScoreSeparator
{
	border: 1px solid #ccc1;
	height: 1px;
	width: 100%;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer
{
	margin-top: 10px;
	width: 100%;
	height: 16px;
	horizontal-align: center;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Radiance;
	text-shadow: 2px 2px 3px black;
	color: gold1;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreNewLabel
{
	font-size: 14px;
	font-family: Radiance;
	color: gold1;
	text-shadow: 2px 2px 3px black;
	horizontal-align: right;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	opacity: 0;
	transform: translateY( -20px );
	brightness: 0.0;
}

.NewHighScore .OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreNewLabel
{
	opacity: 1;
	brightness: 1.2;
	transform: none;
}

.OverlayHUD .ScoreSection .Main .HighScoreValueContainer
{
	height: 35px;
	width: 100%;
	vertical-align: middle;
	flow-children: right;
	margin-top: -2px;
	margin-bottom: 10px;
}

.OverlayHUD .ScoreSection .Main .HighScoreValueContainer .HighScoreValue
{
	horizontal-align: center;
	font-family: titleFont;
	font-size: 27px;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 2px 2px 5px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardLabel
{
	horizontal-align: center;
	color:gold1;
	text-transform: uppercase;
	font-size: 14px;
	text-shadow: 2px 2px 3px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer
{
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.ShowNextRewards .OverlayHUD .ScoreSection .Main .NextRewardContainer
{
	visibility: visible;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens
{
	flow-children: right;
}

.CanClaimReward .OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens
{
	animation-name: GlowText;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens .NextRewardScore
{
	margin-left: 5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	font-size: 27px;
	text-shadow: 2px 2px 3px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens .Hidden
{
	visibility: collapse;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens DOTACrownfallToken
{
	width: 38px;
	height: 38px;
	ui-scale: 60%;
	margin-top: 4px;
}

.OverlayHUD .ScoreSection .ClaimRewardSection
{
	margin-left: 10px;
	margin-right: 10px;
	horizontal-align: center;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transform: scaleY( 0.1 ) translateY( -30px);
	opacity: 0;
}

.ReelingFish .OverlayHUD .ScoreSection .ClaimRewardSection
{
	transform: scaleY( 1 );
	opacity: 1;
}

.OverlayHUD .ScoreSection .ClaimRewardSection .ClaimRewardButton
{
	horizontal-align: center;
	vertical-align: middle;
}

.OverlayHUD .RewardClaimedToast
{
	margin-top: 300px;
	background-color: gold1;
	padding:5px 15px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	transform: translateX( -200px );
	transition-property: transform;
	transition-duration: 1s;
}

.ShowRewardClaimedToast .OverlayHUD .RewardClaimedToast
{
	transform: none;
}

.OverlayHUD .RewardClaimedToast .RewardClaimedToastText
{
	color: gold1;
}

.LeaderboardContainer
{
	margin-left: 20px;
	width: 100%;
	horizontal-align: right;
	flow-children: down;
	margin-top: 7px;
}

.LeaderboardContainer .LeaderList
{
	width: 100%;
	min-height: 50px;
	flow-children: down;
	overflow: clip scroll;
}

.LeaderboardContainer .LeaderListHeader
{
	width: 100%;
	margin-bottom: 8px;
}

.LeaderboardContainer .LeaderListHeader .Score
{
	text-transform: uppercase;
	horizontal-align: right;
	text-align: right;
	margin-right: 6px;
}

.LeaderboardContainer .LeaderboardRow
{
	ui-scale: 100%;
	width: 100%;
	margin-bottom: 2px;
	flow-children: right;
	padding-right: 0px;
	height: 24px;
}

.LeaderboardContainer .LeaderboardRow.OddRow
{
	background-color: #0005;
}

.LeaderboardContainer .LeaderboardRow #LeaderListAvatar
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName
{
	padding-top: 2px;
	height: 24px;
	color: LightestGrey;
	vertical-align: center;
	width: fill-parent-flow(1);
	font-size: 16px;
	margin-top: 1px;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName .PersonaName
{
	color: #bbbbbb;
}

.LeaderboardContainer .LeaderboardRow .LeaderListValue
{
	horizontal-align: right;
	text-align: right;
	color: LightestGrey;
	vertical-align: center;
	margin-right: 12px;
}

#CloseButtonContainer .ReturnIcon
{
	horizontal-align: right;
	margin: 12px;
	img-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
	wash-color: LighterGrey;
	opacity: 0.6;
	transition-property: wash-color, opacity;
	transition-duration: 0.1s;
}

#CloseButtonContainer.Hovered Image
{
	wash-color: white;
	opacity: 1;
}

#CloseButtonContainer .CloseIcon
{
	visibility: collapse;
}

.IntroMenu #CloseButtonContainer .ReturnIcon
{
	visibility: collapse;
}

.IntroMenu #CloseButtonContainer .CloseIcon
{
	visibility: visible;
}

.VisualNovelOuterContainer
{
	width: 100%;
	height: 100%;
	margin: 1px;
	padding-top: 100px;
	background-color: #0005;
	background-repeat: repeat;
	transition-property: opacity, blur;
	transition-duration: 0.5s, 0.3s;
	opacity: 0;
	blur: gaussian(10px);
}

.ShowVisualNovel .VisualNovelOuterContainer
{
	opacity: 1;
	blur: gaussian(0px);
}

#VisualNovelContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.VisualNovelBackground
{
	border-top: 1px solid rgb(255, 255, 255);
	border-bottom: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	opacity: 0.99;
	width: 100%;
	height: 220px;
}

#VisualNovel
{
	vertical-align: center;
	ignore-parent-flow: true;
	margin-top: -150px;
	height: 100%;
}

#DebugCanvas
{
	width: 100%;
	height: 100%;
}

