/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Actions
{
	width: 100%;
	min-height: 100px;
}

#RipplesZoomContainer
{
	width: 100%;
	height: 1024px;
}

#RipplesInTheDarkImage
{
	width: 1100px;
	height: 1100px;
}

.PopupPanel.Encounter.RipplesInTheDark .BodyContainer
{
	width: 100%;
	padding: 0px;
}

.PopupPanel.Encounter.RipplesInTheDark .ContentsWrapper
{
	height: 960px;
}

