/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 48px;
}

.AlreadyClaimed .Tokens
{
	brightness: 0.2;
}

.Tokens DOTACrownfallToken
{
	ui-scale: 340%;
	margin: -8px;
	width: 44px;
}

.Tokens .TokenContainer .TokenParticles
{
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	width: 180%;
	height: 230%;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	hue-rotation: 100deg;
}

.AlreadyClaimed .Tokens .TokenContainer .TokenParticles
{
	visibility: collapse;
}

.Tokens .TokenContainer DOTACrownfallToken
{
	ui-scale: 300%;
	margin: -4px;
	width: 44px;
}

.PopupPanel.Encounter.PitFighter .BodyContainer
{
	padding-top: 20px;
	margin-top: 140px;
}

.ComeBackLater .BetsAvailableContainer
{
	visibility: collapse;
}

.BodyContainer
{
	vertical-align: center;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .BodyContainer
{
	opacity: 1;
}

.BodyContainer .BetsAvailableContainer
{
	flow-children: down;
	horizontal-align: center;
	visibility: collapse;
}

.BodyContainer #FighterContainer
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
}

.BodyContainer #FighterContainer .Fighter
{
	width: 340px;
	flow-children: down;
	vertical-align: center;
	margin-top: 16px;
}

.BodyContainer #FighterContainer .Fighter .FighterName
{
	text-align: center;
	font-size: 30px;
	max-height: 80px;
	text-overflow: shrink;
	margin-bottom: -4px;
	color: gradient( linear, 0% 00%, 0% 100%, from( #f9e7cd ), to( gold2 ) );
	line-height: 1.2;
	letter-spacing: -0.2px;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 8px;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat
{
	flow-children: right;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat .StatItem
{
	margin: 5px;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat .StatImage
{
	width: 20px;
	height: 20px;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat .StatValue
{
	min-width: 20px;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat .StatPipContainer
{
	flow-children: right;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat .StatPipContainer .StatPip
{
	width: 8px;
	height: 20px;
	margin-right: 2px;
	border-radius: 3px;
	background-color: #111111;
	brightness: 0.75;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat #StrengthPipContainer .StatPipEnabled
{
	background-color: #EC3D06;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat #AgilityPipContainer .StatPipEnabled
{
	background-color: #26E030;
}

.BodyContainer #FighterContainer .Fighter .StatsContainer .Stat #IntelligencePipContainer .StatPipEnabled
{
	background-color: #14C3DB;
}

.BodyContainer #FighterContainer .Fighter .OddsLabel
{
	margin-top: 8px;
	horizontal-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1px;
	color: rgba(245, 245, 245, 0.8);
	padding-top: 12px;
	width: 100%;
	border-top: 1px solid rgba(255, 233, 219, 0.096);
	text-align: center;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.BodyContainer #FighterContainer .Fighter .ChanceLabel
{
	horizontal-align: center;
	font-size: 12px;
	margin-top: -8px;
	opacity: 0.6;
}

.BodyContainer #FighterContainer .Fighter DOTACrownfallButton
{
	margin-top: 8px;
	horizontal-align: center;
	width: 280px;
}

.BodyContainer #FighterContainer .Fighter DOTACrownfallButton:disabled
{
	saturation: 0.5;
	brightness: 0.25;
}

.BodyContainer #FighterContainer .VersusContainer
{
	width: 280px;
	flow-children: down;
	vertical-align: center;
	overflow: noclip;
}

.BodyContainer #FighterContainer .VersusContainer .VSContainer
{
	horizontal-align: center;
	margin: -20px 0px;
}

.BodyContainer #FighterContainer .VersusContainer .VersusImage
{
	width: 180px;
}

.BodyContainer #FighterContainer .VersusContainer .VersusLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: -16px;
	color: rgba(245, 245, 245, 0.8);
	text-shadow: 0px 2px 8px black;
}

.BodyContainer #FighterContainer .VersusContainer .BetTitle
{
	horizontal-align: center;
	vertical-align: bottom;
	text-align: center;
	text-overflow: shrink;
	max-height: 110px;
	font-size: 44px;
	color: gradient( linear, 0% 00%, 0% 100%, from( #ffffff ), to( rgb(206, 211, 211) ) );
	text-shadow: 0px 6px 40px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.5px;
	line-height: 1.1;
	width: 280px;
}

.BodyContainer #FighterContainer .VersusContainer .BetSubtitle
{
	horizontal-align: center;
	vertical-align: bottom;
}

.BodyContainer #FighterContainer .VersusContainer DOTACrownfallToken
{
	horizontal-align: center;
	vertical-align: bottom;
	ui-scale: 300%;
	margin: 0;
	margin-top: -32px;
	margin-bottom: -44px;
}

.NeedsToken .BodyContainer #FighterContainer .VersusContainer DOTACrownfallToken
{
	animation-name: GlowToken;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.BodyContainer #BetContainer
{
	flow-children: down;
	width: 100%;
	margin-top: 24px;
}

.BodyContainer #BetContainer Label
{
	horizontal-align: center;
	text-align: center;
}

.BetResourceInstructions
{
	horizontal-align: center;
	text-align: center;
	visibility: collapse;
}

.TakeTokensButton
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .TakeTokensButton
{
	opacity: 1;
}

.PopupPanel.Encounter.PitFighter.ComeBackLater .ComeBackLaterButton
{
	visibility: collapse;
}

.NotAvailable
{
	horizontal-align: center;
	font-family: titleFont;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
}

@keyframes 'GlowToken'
{
	0%
	{
		brightness: 1;
		transform: none;
	}
	
	100%
	{
		brightness: 6;
		transform: scale3d( 1.06, 1.06, 1 );
	}
	
}


