/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	margin-bottom: 20px;
	vertical-align: middle;
}

#RewardContainer
{
	vertical-align: center;
	flow-children: right;
	min-width: 320px;
	min-height: 250px;
}

#RewardContainer Panel
{
	vertical-align: center;
	horizontal-align: center;
}

#RewardContainer .ModelReward
{
	horizontal-align: center;
	flow-children: down;
}

#RewardContainer .ModelReward #ModelPreview
{
	width: 480px;
	height: 320px;
}

#RewardContainer .EconItemReward
{
	flow-children: down;
	horizontal-align: center;
}

#RewardContainer .EconItemReward .ImageContainer
{
	width: 240px;
	height: 160px;
	horizontal-align: center;
	margin-bottom: 8px;
}

#RewardContainer .EconItemReward .Details Label
{
	font-size: 20px;
	color: LighterGrey;
}

#RewardContainer .CandyShopRerollChargesItem
{
	flow-children: down;
}

#RewardContainer .CandyShopRerollChargesItem .CandyShopRerollChargeImage
{
	width: 200px;
	height: 180px;
	background-image: url("s2r://panorama/images/battlepass/international2022/candy_shop/candy_bag_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#RewardContainer .CandyShopRerollChargesItem Label
{
	vertical-align: middle;
	color: #ccc;
	font-size: 24px;
}

#RewardContainer .Details .ItemName
{
	font-size: 24px;
}

.AlreadyClaimed #RewardContainer
{
	visibility: Collapse;
}

#ClaimRewardButton
{
	horizontal-align: center;
}

#CostTokensContainer
{
	vertical-align: center;
	flow-children: right-wrap;
	margin: 10px;
	min-height: 80px;
	max-width: 700px;
	max-height: 280px;
}

#CostTokensContainer DOTACrownfallToken
{
	ui-scale: 260%;
	margin: -4px;
	width: 44px;
}

.AlreadyClaimed #CostTokensContainer
{
	visibility: Collapse;
}

.BodyContainer .LowerContainer
{
	height: 600px;
	vertical-align: bottom;
	margin-bottom: 50px;
}

.BodyContainer .LowerContainer Panel
{
	vertical-align: bottom;
}

.BodyContainer AsyncDataPanel
{
	horizontal-align: center;
}

.PopupClosing .BodyContainer AsyncDataPanel
{
	visibility: collapse;
}

.BodyContainer AsyncDataPanel > .AsyncContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
}

.BodyContainer .CenterContainer
{
	flow-children: right;
}

.AlreadyClaimed .BodyContainer .CenterContainer
{
	visibility: collapse;
}

.TradeArrow
{
	width: 28px;
	height: 28px;
	vertical-align: center;
	margin: 0px 12px;
	wash-color: LighterGrey;
	img-shadow: 0px 2px 8px black;
	margin-left: 40px;
}

.AlreadyClaimed .BodyContainer .AsyncContainer .Actions
{
	min-height: 100px;
	width: 600px;
	flow-children: down;
}

.AlreadyClaimed .BodyContainer .AsyncContainer .Actions .ClaimRewardButton
{
	visibility: collapse;
}

