/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.Center .FireImage
{
	width: 96px;
	height: 96px;
	texture-sampling: point;
	vertical-align: middle;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: center;
	margin-top: 20px;
}

.AlreadyClaimed .Tokens
{
	brightness: 0.2;
}

.Tokens .TokenContainer .TokenParticles
{
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	width: 180%;
	height: 230%;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	hue-rotation: 100deg;
}

.AlreadyClaimed .Tokens .TokenContainer .TokenParticles
{
	visibility: collapse;
}

.Tokens .TokenContainer DOTACrownfallToken
{
	ui-scale: 300%;
	margin: -4px;
	width: 44px;
}

.BodyContainer
{
	vertical-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .BodyContainer
{
	opacity: 1;
}

.ClaimItemButton
{
	horizontal-align: center;
}

.NotAllowed .ClaimItemButton
{
	visibility: collapse;
}

.AlreadyClaimed .ClaimItemButton
{
	visibility: collapse;
}

.PopupPanel.CommodoresClub.NotAllowed .ComeBackLaterButton
{
	visibility: visible;
	opacity: 1;
}

.PopupPanel.CommodoresClub .LeaveButton
{
	horizontal-align: center;
	vertical-align: center;
}

.ComeBackLaterButton
{
	horizontal-align: center;
	visibility: collapse;
}

.RewardContainer
{
	width: 630px;
	height: 240px;
}

.RewardContainer #ItemImage
{
	height: 70%;
	horizontal-align: center;
	vertical-align: center;
	transition-property: transform;
	transition-duration: 0.25s;
}

.RewardContainer #ItemImage:hover
{
	transform: scale3d( 1.03, 1.03, 1.0 );
}

.RewardContainer .ItemParticles
{
	horizontal-align: center;
	vertical-align: center;
	width: 400px;
	height: 200px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

.Reward
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: center;
	margin-top: 20px;
}

.Reward .AlreadyClaimedLabel
{
	vertical-align: center;
}

.NotAllowed .Reward
{
	saturation: 0.3;
	brightness: 0.7;
}

.NotAllowed .Reward .ItemParticles
{
	visibility: collapse;
}

.NotAllowed .Reward #ItemImage
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	opacity: 0.3;
}

.NotAllowed .Reward #ItemImage:hover
{
	transform: none;
}

.AlreadyClaimed .Reward
{
	saturation: 0.7;
	brightness: 0.7;
}

.AlreadyClaimed .Reward .ItemParticles
{
	visibility: collapse;
}

.AlreadyClaimed .Reward #ItemImage
{
	opacity: 0.2;
}

.AlreadyClaimed .Reward #ItemImage:hover
{
	transform: none;
}

.AlreadyClaimed .Reward .AlreadyClaimedLabel
{
	visibility: visible;
}

