/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.TokenTreasure
{
	min-width: 500px;
	min-height: 300px;
}

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.AlreadyClaimed .Title
{
	visibility: collapse;
}

.Shopkeeper
{
	horizontal-align:center;
	flow-children: right;
	margin-top: 48px;
}

.Shopkeeper .MeepoIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.Shopkeeper .FireImage
{
	width: 96px;
	height: 96px;
	texture-sampling: point;
	vertical-align: middle;
}

.AlreadyClaimed .Shopkeeper
{
	visibility: collapse;
}

DOTACrownfallToken
{
	ui-scale: 100%;
	width: 44px;
	margin: -10px;
}

#TokenTreasureOptionsContainer
{
	flow-children: right;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
	margin-bottom: -32px;
}

.Center .Chest
{
	horizontal-align: center;
	width: 320px;
	height: 280px;
	margin: 0px 16px;
}

.Center .Chest.NotEnoughTokens .ChestParticlesContainer
{
	opacity: 0;
}

.Center .Chest.NotEnoughTokens .ChestMessage
{
	visibility: visible;
}

.Center .Chest .ChestTokens
{
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

.Center .Chest .ChestMessage
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 28px;
	color: LighterGrey;
	opacity: 0.6;
	visibility: collapse;
}

.Center .Chest .ChestCostToken
{
	horizontal-align: center;
}

.Center .Chest .ChestShadow
{
	width: 90%;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 12px;
}

.Center .Chest #RewardTokensContainer
{
	flow-children: right;
	horizontal-align: center;
}

.Center .Chest #RewardTokensContainer DOTACrownfallToken
{
	ui-scale: 160%;
	margin: -32px;
}

.Center .Chest .ChestImage
{
	flow-children: down;
	horizontal-align: center;
	width: 260px;
	vertical-align: bottom;
	margin-bottom: 80px;
}

.Center .Chest .ChestImage .ChestParticlesContainer
{
	ignore-parent-flow: true;
	width: 100%;
	height: width-percentage( 60% );
	horizontal-align: center;
	overflow: clip;
	margin-top: -120px;
}

.Center .Chest .ChestImage .ChestParticlesContainer .ChestParticles
{
	width: 80%;
	height: 360%;
	overflow: noclip;
	margin-top: 120%;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	vertical-align: center;
	horizontal-align: center;
	hue-rotation: -90deg;
}

.Center .Chest .ChestCost
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 50px;
}

.Center .Chest .ChestCost .InstructionLabel
{
	horizontal-align: center;
}

.Center .Chest .ChestCost #CostTokensContainer
{
	z-index: 1;
	horizontal-align: center;
	padding: 9px;
	background-image: url("s2r://panorama/images/events/crownfall/tokens/token_outline_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

.Center .Chest .ChestCost #ClaimRewardOptionButton
{
	width: 330px;
	ui-scale: 86%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.DialogueComplete .Center .Chest .ChestCost #ClaimRewardOptionButton
{
	opacity: 1;
}

.AlreadyClaimed .Center
{
	visibility: collapse;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 48px;
}

.Tokens DOTACrownfallToken
{
	ui-scale: 300%;
}

.ChooseOneLabel
{
	margin-top: 32px;
	horizontal-align: center;
	text-transform: uppercase;
	color: LighterGrey;
	letter-spacing: 2px;
	text-shadow: 0px 2px 8px black;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.DialogueComplete .ChooseOneLabel
{
	opacity: 1;
}

.AlreadyClaimed .ChooseOneLabel
{
	visibility: collapse;
}

