/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 48px;
	visibility: collapse;
}

.Tokens DOTACrownfallToken
{
	ui-scale: 340%;
	margin: -8px;
	width: 44px;
}

.Actions
{
	visibility: collapse;
}

.BodyContainer
{
	vertical-align: center;
}

.NotAvailable
{
	horizontal-align: center;
	font-family: titleFont;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
}


