/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPCrownfallVisualNovelPopup
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;
	padding: 48px;
	margin-bottom: 24px;
	opacity: 1;
	transform: scale3d( 1, 1, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.15s, 0.3s;
	transition-timing-function: ease-in;
}

DOTABPCrownfallVisualNovelPopup.Hidden
{
	opacity: 0;
	transform: scale3d( 0.6, 0.6, 1 );
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

#VisualNovel
{
	padding: 0px;
}

#CloseButtonContainer
{
	vertical-align: top;
	horizontal-align: right;
}

.Emblem
{
	width: 320px;
	margin: 2px;
	margin-top: 5px;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0.3;
}

.Emblem.Top
{
	wash-color: #ffdc96;
	vertical-align: bottom;
}

.Emblem.Bottom
{
	wash-color: #b58422;
	transform: scaleY( -1 );
}

.EncounterDialogue .Emblem.Bottom
{
	visibility: collapse;
}

.Comic
{
	vertical-align: center;
	margin-top: 24px;
	flow-children: down;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	transform: translateX( 0px );
	opacity: 0;
}

.ShowComic .Comic
{
	opacity: 1;
}

.Comic #ViewComicButton
{
	width: 210px;
	horizontal-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-delay: 0.4s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	opacity: 1;
}

.Comic .ComicText
{
	horizontal-align: center;
	text-align: center;
	font-family: Reaver;
	font-size: 24px;
	color: LightestGrey;
	margin-bottom: 12px;
}

.Comic .ImageContainer
{
	horizontal-align: center;
	height: 400px;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	transform: scale3d( 0.8, 0.8, 1 );
}

.Comic .ImageContainer .CoverImage
{
	horizontal-align: center;
}

.BottomViewComic
{
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

