/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.Center .FireImage
{
	width: 96px;
	height: 96px;
	texture-sampling: point;
	vertical-align: middle;
}

.Reward
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: center;
	margin-top: 20px;
}

.Reward .AlreadyClaimedLabel
{
	vertical-align: center;
}

.UnclaimedUnavailable .Reward
{
	saturation: 0.5;
	brightness: 0.7;
}

.UnclaimedUnavailable .Reward .ItemParticles
{
	visibility: collapse;
}

.UnclaimedUnavailable .Reward #RikiItemImage
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	opacity: 0.3;
}

.UnclaimedUnavailable .Reward #RikiItemImage:hover
{
	transform: none;
}

.AlreadyClaimed .Reward
{
	saturation: 0.5;
	brightness: 0.7;
}

.AlreadyClaimed .Reward .ItemParticles
{
	visibility: collapse;
}

.AlreadyClaimed .Reward #RikiItemImage
{
	opacity: 0.4;
}

.AlreadyClaimed .Reward #RikiItemImage:hover
{
	transform: none;
}

.AlreadyClaimed .Reward .AlreadyClaimedLabel
{
	visibility: visible;
}

.BodyContainer
{
	vertical-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .BodyContainer
{
	opacity: 1;
}

.ClaimItemButton
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	horizontal-align: center;
}

.DialogueComplete .ClaimItemButton
{
	opacity: 1;
}

.RewardUnavailable .ClaimItemButton
{
	visibility: collapse;
}

.Reward
{
	margin-top: 0;
}

.RewardContainer
{
	width: 630px;
	height: 240px;
}

.RewardContainer #RikiItemImage
{
	height: 70%;
	horizontal-align: center;
	vertical-align: center;
	transition-property: transform;
	transition-duration: 0.25s;
}

.RewardContainer #RikiItemImage:hover
{
	transform: scale3d( 1.03, 1.03, 1.0 );
}

.RewardContainer .ItemParticles
{
	horizontal-align: center;
	vertical-align: center;
	width: 400px;
	height: 200px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_irregular_png.vtex");
}

.PopupPanel.RikiCommonBlade .LeaveButton
{
	vertical-align: middle;
}

.PopupPanel.RikiCommonBlade.RewardUnavailable .LeaveButton
{
	visibility: visible;
	opacity: 1;
}

.PopupPanel.RikiCommonBlade.AlreadyClaimed .LeaveButton
{
	opacity: 1;
	visibility: visible;
}

.PopupPanel.RikiCommonBlade .Actions
{
	margin-top: 0px;
	padding-top: 16px;
}

