/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.Center .FireImage
{
	width: 96px;
	height: 96px;
	texture-sampling: point;
	vertical-align: middle;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
	vertical-align: center;
	margin-top: 20px;
}

.AlreadyClaimed .Tokens
{
	brightness: 0.2;
}

.Tokens .TokenContainer .TokenParticles
{
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	width: 180%;
	height: 230%;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	hue-rotation: 100deg;
}

.AlreadyClaimed .Tokens .TokenContainer .TokenParticles
{
	visibility: collapse;
}

.Tokens .TokenContainer DOTACrownfallToken
{
	ui-scale: 300%;
	margin: -4px;
	width: 44px;
}

.BodyContainer
{
	vertical-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .BodyContainer
{
	opacity: 1;
}

.TakeTokensButton
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .TakeTokensButton
{
	opacity: 1;
}


