/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.TokensReceived
{
	border: 2px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	flow-children: down;
	max-width: 1010px;
}

.PopupTitle
{
	horizontal-align: center;
	font-size: 36px;
	margin-bottom: 0px;
	margin-top: 16px;
	font-family: Reaver;
	font-weight: bold;
	text-transform: uppercase;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 2px 8px black;
}

.PopupDescription
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	margin-bottom: 18px;
	color: LightestGrey;
	text-shadow: 0px 2px 8px black;
}

.ButtonContainer
{
	horizontal-align: center;
	margin-top: 24px;
}

.ButtonContainer DOTACrownfallButton
{
	ui-scale: 90%;
	min-width: 260px;
}

#TokenList
{
	flow-children: right-wrap;
	horizontal-align: center;
	margin: 12px 0px;
}

#TokenList DOTACrownfallToken
{
	margin: -24px;
	ui-scale: 240%;
	tooltip-body-position: 50% 50px;
}

#TokenList DOTACrownfallToken:disabled
{
	saturation: 0.0;
	brightness: 0.2;
}


