/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.FishingGame
{
	background-color: none;
	animation: none;
	border: 0px solid transparent;
	padding: 0px;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

.MainContents
{
	border: 0px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	horizontal-align: center;
	vertical-align: middle;
	width: 1244px;
	height: 700px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
}

.MainContents #CloseButtonContainer
{
	ignore-parent-flow: true;
}

.MainContents .TopGoldDash
{
	width: 100%;
	height: 2px;
	margin-bottom: 1px;
}

.MainContents .EncounterGraphic
{
	margin-top: 2px;
	horizontal-align: center;
	height: 100px;
}

.MainContents .InnerContents
{
	ignore-parent-flow: true;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.MainContents .InnerContents .Header
{
	width: 100%;
}

.MainContents .InnerContents .Body
{
	width: 100%;
	height: 100%;
}

.MainContents .InnerContents .Body .Scene
{
	width: 100%;
	height: width-percentage( 56.25% );
}

.MainContents .InnerContents .Body .Scene #FishingScene
{
	border: 1px solid gold1;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	opacity: 0.0;
}

.MainContents .InnerContents .Body .Scene #FishingScene.SceneLoaded
{
	opacity: 1.0;
}

.ShowVisualNovel .MainContents .InnerContents .Body .Scene #FishingScene
{
	brightness: 0.8;
}

.MainContents .InnerContents .Body .MainMenu
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: down;
	width: 800px;
	height: 600px;
	padding-left: 30px;
	padding-right: 30px;
	border: 2px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	opacity: 0.0;
	transform: translateY( -20px );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.IntroMenu.SceneLoaded:not(.ShowVisualNovel) .MainContents .InnerContents .Body .MainMenu
{
	opacity: 1.0;
	transform: none;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection
{
	width: 100%;
	flow-children: down;
	padding:0px;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayTitle
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: gold1;
	margin-bottom: 6px;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayDescription
{
	font-size: 16px;
	line-height: 1.2;
}

.MainContents .InnerContents .Body .MainMenu .HowToPlaySection .HowToPlayDescription b
{
	font-weight: bold;
	font-size: 16px;
}

.MainContents .InnerContents .Body .MainMenu .Title
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 34px;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: bold;
	color: gradient( linear, 0% 00%, 0% 100%, from( #f9e7cd ), to( gold2 ) );
	text-shadow: 2px 6px 8px black;
	margin-top: 8px;
	margin-bottom: 15px;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer
{
	flow-children: right;
	width: 100%;
	height: 400px;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer .Column1
{
	width: 50%;
	height: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.MainContents .InnerContents .Body .MainMenu .ColumnContainer .Column2
{
	width: 50%;
	height: 100%;
	flow-children: down;
}

.MainContents .InnerContents .Body .MainMenu .RewardsLabel
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: gold1;
	margin-top: 12px;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection
{
	margin-top: 12px;
	flow-children: down;
	width: 100%;
	horizontal-align:left;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow.Unlocked
{
	brightness: 0.1;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardScore
{
	width: 80px;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardValue
{
	flow-children: right;
	width: 100%;
	vertical-align: middle;
}

.MainContents .InnerContents .Body .MainMenu .RewardsSection .RewardRow .RewardValue DOTACrownfallToken
{
	width: 38px;
	ui-scale: 64%;
}

.MainContents .InnerContents .Body .BottomButtons
{
	margin-top: 20px;
	ui-scale: 90%;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

.MainContents .InnerContents .Body .BottomButtons .ExitButton
{
	visibility: collapse;
}

.PlayedOnce .MainContents .InnerContents .Body .BottomButtons .ExitButton
{
	visibility: visible;
}

.MainContents .InnerContents .Body .MissingDataSpinnerContainer
{
	horizontal-align: center;
	vertical-align: middle;
	visibility: visible;
	ui-scale: 200%;
}

.SceneLoaded .MainContents .InnerContents .Body .MissingDataSpinnerContainer
{
	visibility: collapse;
}

.OverlayHUD
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.SceneLoaded .OverlayHUD
{
	visibility: visible;
}

.ShowVisualNovel .OverlayHUD
{
	blur: gaussian( 2px );
}

.OverlayHUD .LureCount
{
	vertical-align: bottom;
	margin-left: 70px;
	margin-bottom: 70px;
	width: 120px;
	height: 120px;
	opacity: 1.0;
	padding: 24px;
	background-image: url("s2r://panorama/images/events/crownfall/fishing/lurecount_container_png.vtex");
	background-size:contain;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
}

.ShowLures .OverlayHUD .LureCount
{
	opacity: 1;
	animation-name: Bob;
	animation-iteration-count: 1;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
}

.IntroMenu .OverlayHUD .LureCount,.GameOver .OverlayHUD .LureCount
{
	opacity: 0;
	transform: translateY( 20px );
}

.OverlayHUD .LureCount .LureIcon
{
	height: 37px;
	width: 30px;
	vertical-align: center;
	horizontal-align: center;
	margin-right: 40px;
}

.OverlayHUD .LureCount .LureCountText
{
	font-size: 57px;
	font-family: Radiance;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 20px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 1px 1px 8px black;
}

.OverlayHUD #FishCatchHistory
{
	margin-top: 50px;
	flow-children: down;
	opacity: 0;
}

.OverlayHUD #FishCatchHistory .FishCatchHistoryRow
{
	width: 240px;
	height: 30px;
	border: 1px solid black;
	opacity: 0;
	background-color: #faaa;
	flow-children: right;
}

.OverlayHUD #FishCatchHistory .FishCatchHistoryRow.Visible
{
	opacity: 1.0;
}

.OverlayHUD #FishCatchHistory .FishCatchHistoryRow.Caught
{
	background-color: #fff8;
}

.OverlayHUD #FishCatchHistory .FishCatchHistoryRow Label
{
	margin:2px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Reaver';
}

.OverlayHUD #FishCatchHistory .FishCatchHistoryRow .FishWeightText
{
	horizontal-align: right;
}

.OverlayHUD #FishCounter
{
	font-family: radiance;
	font-size: 30px;
	padding: 10px;
	color: black;
	background-color: white;
	opacity: 0.5;
}

.OverlayHUD .OuterBar
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: top;
	margin-right: 440px;
	margin-top: 100px;
	border-radius: 8px;
	background-color: #000c;
	padding: 10px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.OverlayHUD .OuterBar .Icon
{
	margin-top: 10px;
	height: 30px;
	horizontal-align: center;
	vertical-align: bottom;
}

.AlmostCaught .OverlayHUD .OuterBar .Icon
{
	brightness: 2.0;
	animation-name: Shake;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
}

.OverlayHUD .OuterBar.Right
{
	margin-right: 240px;
}

.ReelingFish .OverlayHUD .OuterBar.BarProgress
{
	opacity: 1.0;
}

.ReelingFish .OverlayHUD .OuterBar.BarReel
{
	opacity: 1.0;
}

.PreCastStrengthRod .OverlayHUD .OuterBar.BarCast
{
	opacity: 1;
}

.PreCastAimRod .OverlayHUD .OuterBar.BarCast
{
	opacity: 0.4;
}

.CastingRod .OverlayHUD .OuterBar.BarCast
{
	opacity: 0.9;
}

.OverlayHUD .OuterBar .ProgressBar
{
	width: 30px;
	height: 350px;
	border: 2px solid gold2;
	border-radius: 2px;
}

.OverlayHUD .ProgressMeterContainer
{
	horizontal-align: right;
	vertical-align: top;
	margin-right: 440px;
	margin-top: 460px;
	flow-children: down;
	opacity: 0;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.ReelingFish .OverlayHUD .ProgressMeterContainer
{
	opacity: 1.0;
}

.AlmostCaught .OverlayHUD .ProgressMeterContainer
{
	brightness: 2.0;
}

.OverlayHUD .ProgressMeterContainer .RadialContainer
{
	width: 50px;
	height: 50px;
}

.OverlayHUD .ProgressMeterContainer .RadialContainer #ProgressMeterRadial
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #52ce1b;
	background-image: url("s2r://panorama/images/events/crownfall/fishing/catch_progress_bg_png.vtex");
	transition-property: background-image, clip;
	transition-duration: 0.05s;
}

.OverlayHUD #FishCastStrength #FishCastStrengthProgress
{
	width:100%;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	transition-property: background-color;
	transition-duration: 0.2s;
}

.ChargingStrength .OverlayHUD #FishCastStrength #FishCastStrengthProgress
{
	animation-name: ChargingStrengthThrob;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.FishBarMovingUp .OverlayHUD #FishBarBackground
{
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/events/crownfall/fishing/icon_bar_accelerate_png.vtex");
	background-repeat: no-repeat;
	background-position: bottom;
}

.OverlayHUD #FishBarBackground #FishCatchBar
{
	background-color: gold2;
	width: 100%;
	height: 24%;
	vertical-align: bottom;
}

.OverlayHUD #FishBarBackground #FishCatchBar.Upgrade1
{
	height: 27%;
}

.OverlayHUD #FishBarBackground #FishCatchBar.Upgrade2
{
	height: 30%;
}

.OverlayHUD #FishBarBackground #FishCatchBar.Upgrade3
{
	height: 33%;
}

.OverlayHUD #FishBarBackground #FishCatchBar.Upgrade4
{
	height: 36%;
}

.FishWithinRange .OverlayHUD #FishBarBackground #FishCatchBar
{
	background-color: #52ce1b;
}

.OverlayHUD #FishBarBackground #Fish
{
	height: 30px;
	width: 100%;
	horizontal-align: center;
	transform: translateY( 15px );
	border: 1px red;
	overflow: noclip;
	vertical-align: bottom;
	animation-name: FishIconJiggle;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.FishWithinRange .OverlayHUD #FishBarBackground #Fish
{
	animation-name: none;
}

.BigFish .OverlayHUD #FishBarBackground #Fish
{
	ui-scale: 130%;
}

.SmallFish .OverlayHUD #FishBarBackground #Fish
{
	ui-scale:75%;
}

.OverlayHUD #FishCatchProgressBackground #FishCatchProgress
{
	width: 30px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	vertical-align: bottom;
}

.OverlayHUD .TipContainer
{
	background-color: #000a;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 200px;
	flow-children: down;
	border-radius: 8px;
	padding: 14px;
	width: 140px;
	height: 140px;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	opacity: 0;
	visibility: collapse;
}

.ShowTips .OverlayHUD .TipContainer
{
	visibility: visible;
}

.PreCastStrengthRod .OverlayHUD .TipContainer
{
	opacity: 1;
}

.PreCastStrengthRod .OverlayHUD .TipContainer .TipTextContainer .ChargeTipText
{
	opacity: 1;
}

.ReelingFish.FishAboveCatchBar .OverlayHUD .TipContainer
{
	opacity: 1;
}

.ReelingFish.FishAboveCatchBar .OverlayHUD .TipContainer .TipTextContainer .ReelTipText
{
	opacity: 1;
}

.OverlayHUD .TipContainer .TipTextContainer
{
	margin-top: 5px;
	horizontal-align: center;
}

.OverlayHUD .TipContainer .TipTextContainer Label
{
	vertical-align: middle;
	horizontal-align: center;
	padding:5px;
	color:white;
	font-size: 13px;
	font-family: Radiance;
	text-align: center;
	text-overflow: shrink;
	opacity: 0;
}

.OverlayHUD .TipContainer .TipIconContainer
{
	width: 40px;
	horizontal-align: center;
	opacity: 0.8;
	visibility: collapse;
}

.ShowTips .OverlayHUD .TipContainer .TipIconContainer
{
	visibility: visible;
}

.OverlayHUD .TipContainer .TipIconContainer .ClickButtonIcon
{
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	opacity: 0;
}

.AimingRod .OverlayHUD .TipContainer .TipIconContainer .ClickButtonIcon
{
	opacity: 1;
}

.OverlayHUD .TipContainer .TipIconContainer .HoldButtonIcon
{
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	opacity: 0;
}

.ReelingFish .OverlayHUD .TipContainer .TipIconContainer .HoldButtonIcon,.PreCastStrengthRod .OverlayHUD .TipContainer .TipIconContainer .HoldButtonIcon
{
	opacity: 1;
}

.OverlayHUD .ScoreSection
{
	horizontal-align: left;
	flow-children: down;
	margin-left: 20px;
	margin-top: 20px;
	width: 222px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

.IntroMenu .OverlayHUD .ScoreSection
{
	transform: translateX( -40px );
	opacity: 0;
}

.OverlayHUD .ScoreSection .Header
{
	flow-children: down;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(52, 66, 83, 1) ), to( rgba(12, 17, 28, 1) ) );
	padding: 10px;
}

.OverlayHUD .ScoreSection .Header .Title
{
	font-size: 22px;
	horizontal-align: center;
	font-family: Reaver;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

.OverlayHUD .ScoreSection .Main
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	padding: 10px;
	transition-property: height;
	transition-duration: 0.5s;
	background-color: #000a;
	border-bottom: 2px solid gold1;
}

.IntroMenu .OverlayHUD .ScoreSection .Main
{
	height: 2px;
}

.OverlayHUD .ScoreSection .Main .ScoreLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: Radiance;
	font-size: 13px;
	letter-spacing: 1px;
	color: gold1;
	text-shadow: 1px 1px 4px black;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer
{
	width: 100%;
	horizontal-align: center;
	margin-top: -8px;
	min-height: 58px;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .RemainingScore
{
	font-family: Radiance;
	font-size:20px;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold2 ) );
	text-align: right;
	text-shadow: 2px 2px 4px black;
	horizontal-align: middle;
	vertical-align: bottom;
	visibility: collapse;
}

.ShowRemainingScore .OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .RemainingScore
{
	visibility: visible;
}

.OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .ScoreValue
{
	font-family: Radiance;
	font-size: 48px;
	letter-spacing: 2px;
	color: gold1;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 1px 1px 8px black;
	transition-property: ui-scale;
	transition-duration: 0.3s;
}

.ShowRemainingScore .OverlayHUD .ScoreSection .Main .CurrentScoreValueContainer .ScoreValue
{
	ui-scale: 77%;
}

.OverlayHUD .ScoreSection .Main .ScoreSeparator
{
	border: 1px solid #ccc1;
	height: 1px;
	width: 100%;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer
{
	margin-top: 10px;
	width: 100%;
	height: 16px;
	horizontal-align: center;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Radiance;
	text-shadow: 2px 2px 3px black;
	color: gold1;
}

.OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreNewLabel
{
	font-size: 14px;
	font-family: Radiance;
	color: gold1;
	text-shadow: 2px 2px 3px black;
	horizontal-align: right;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	opacity: 0;
	transform: translateY( -20px );
	brightness: 0.0;
}

.NewHighScore .OverlayHUD .ScoreSection .Main .HighScoreLabelContainer .HighScoreNewLabel
{
	opacity: 1;
	brightness: 1.2;
	transform: none;
}

.OverlayHUD .ScoreSection .Main .HighScoreValueContainer
{
	height: 35px;
	width: 100%;
	vertical-align: middle;
	flow-children: right;
	margin-top: -2px;
	margin-bottom: 10px;
}

.OverlayHUD .ScoreSection .Main .HighScoreValueContainer .HighScoreValue
{
	horizontal-align: center;
	font-family: titleFont;
	font-size: 27px;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 2px 2px 5px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardLabel
{
	horizontal-align: center;
	color:gold1;
	text-transform: uppercase;
	font-size: 14px;
	text-shadow: 2px 2px 3px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer
{
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.ShowNextRewards .OverlayHUD .ScoreSection .Main .NextRewardContainer
{
	visibility: visible;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens
{
	flow-children: right;
}

.CanClaimReward .OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens
{
	animation-name: GlowText;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens .NextRewardScore
{
	margin-left: 5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	font-size: 27px;
	text-shadow: 2px 2px 3px black;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens .Hidden
{
	visibility: collapse;
}

.OverlayHUD .ScoreSection .Main .NextRewardContainer .NextRewardTokens DOTACrownfallToken
{
	width: 38px;
	height: 38px;
	ui-scale: 60%;
	margin-top: 4px;
}

.OverlayHUD .ScoreSection .ClaimRewardSection
{
	margin-left: 10px;
	margin-right: 10px;
	horizontal-align: center;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transform: scaleY( 0.1 ) translateY( -30px);
	opacity: 0;
}

.ReelingFish .OverlayHUD .ScoreSection .ClaimRewardSection
{
	transform: scaleY( 1 );
	opacity: 1;
}

.OverlayHUD .ScoreSection .ClaimRewardSection .ClaimRewardButton
{
	horizontal-align: center;
	vertical-align: middle;
}

.OverlayHUD .RewardClaimedToast
{
	margin-top: 300px;
	background-color: gold1;
	padding:5px 15px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	transform: translateX( -200px );
	transition-property: transform;
	transition-duration: 1s;
}

.ShowRewardClaimedToast .OverlayHUD .RewardClaimedToast
{
	transform: none;
}

.OverlayHUD .RewardClaimedToast .RewardClaimedToastText
{
	color: gold1;
}

.FishCatchStats
{
	flow-children: down;
	margin-top: 170px;
	margin-left: 760px;
	margin-right: 20px;
	width: 100%;
	visibility: collapse;
}

.FishCatchStats.Variant1 .FishCatchScoreRows .FishCatchScoreRow.VariantScoreRow .ScoreDesc
{
	color: #b2e1ff;
	font-weight: bold;
	brightness: 1.5;
	animation-name: GlowText;
	animation-iteration-count: infinite;
	animation-duration: 1.6s;
	animation-direction: alternate;
}

.FishCatchStats.Variant2 .FishCatchScoreRows .FishCatchScoreRow.VariantScoreRow .ScoreDesc
{
	color: #eba7ff;
	font-weight: bold;
	brightness: 1.5;
	animation-name: GlowText;
	animation-iteration-count: infinite;
	animation-duration: 1.6s;
	animation-direction: alternate;
}

.FishCatchStats.Rare .FishCatchScoreRows .FishCatchScoreRow.RarityScoreRow .ScoreDesc
{
	color: #ff7575;
	font-weight: bold;
	brightness: 1.2;
}

.FishCatchStats.UltraRare .FishCatchScoreRows .FishCatchScoreRow.RarityScoreRow .ScoreDesc
{
	color: #da9bff;
	font-weight: bold;
	brightness: 1.2;
}

.FishCatchStats .FishCatchScoreRows
{
	margin-top: 20px;
	flow-children: down;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow
{
	opacity: 0;
	width: 350px;
	flow-children: right;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow.Animating
{
	animation-name: WarpIn;
	animation-fill-mode: forwards;
	animation-iteration-count:1;
	animation-duration: 0.2s;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow .ScoreName
{
	color: gold1;
	text-shadow: 2px 2px 2px black;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow .ScoreDesc
{
	margin-left: 3px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow .ScoreValue
{
	horizontal-align: right;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow .BonusLabel
{
	visibility: collapse;
	vertical-align: center;
	text-shadow: 2px 2px 2px black;
	margin-right: 10px;
	color: #76f1ff;
	font-weight: bold;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow.Bonus .ScoreName
{
	visibility: collapse;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow.Bonus .BonusLabel
{
	animation-name: GlowText;
	animation-iteration-count: infinite;
	animation-duration: 1.6s;
	animation-direction: alternate;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	visibility: visible;
}

.FishCatchStats .FishCatchScoreRows .FishCatchScoreRow.Percent .ScoreValue
{
	color: gold1;
	font-weight: bold;
}

.FishCatchStats .FishCatchScoreTotalContainer
{
	margin-top: 20px;
	width: 350px;
	flow-children: right;
}

.FishCatchStats .FishCatchScoreTotalContainer .TotalText
{
	text-shadow: 2px 2px 2px black;
	font-size: 30px;
	color: gold1;
	vertical-align: bottom;
	opacity: 0;
	transform: translateX( 300px );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
}

.FishCatchStats .FishCatchScoreTotalContainer .TotalFishScoreContainer
{
	width: 100%;
	horizontal-align: right;
}

.FishCatchStats .FishCatchScoreTotalContainer .TotalFishScoreContainer .TotalFishScore
{
	text-shadow: 2px 2px 2px black;
	font-size: 50px;
	font-weight: bold;
	color: gold1;
	horizontal-align: right;
	animation-name: GlowText;
	animation-duration: 0.7s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.FishCatchStats .FishCatchScoreTotalContainer.Animating .TotalText
{
	opacity: 1;
	transform: none;
	transition-duration: 0s;
}

.FishCatchStats .FishCatchScoreTotalContainer.Animating .TotalFishScoreContainer.ScoreContainer
{
	opacity: 0;
	animation-name: StampIn;
	animation-fill-mode: forwards;
	animation-iteration-count:1;
	animation-duration: 0.2s;
	animation-delay: 0.7s;
}

.FishCatchStats .FishCatchScoreTotalContainer:not(.Animating) .TotalFishScoreContainer.ScoreContainer
{
	opacity: 0;
}

.PostCatchShowScore .FishCatchStats
{
	visibility: visible;
}

.FishCatchStats .FishName
{
	font-size: 35px;
	font-family: Radiance;
	text-shadow: 2px 2px 2px black;
	color: gold1;
	opacity: 0;
	animation-duration: 0.2s;
	animation-delay: 0s;
	animation-name: WarpIn;
	animation-fill-mode: forwards;
	animation-iteration-count:1;
	text-overflow: shrink;
}

.LeaderboardContainer
{
	margin-left: 10px;
	width: 100%;
	horizontal-align: right;
	flow-children: down;
	margin-top: 7px;
}

.LeaderboardContainer .LeaderList
{
	width: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.LeaderboardContainer .LeaderListHeader
{
	width: 100%;
	margin-bottom: 8px;
}

.LeaderboardContainer .LeaderListHeader Label
{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 2px;
}

.LeaderboardContainer .LeaderListHeader .Score
{
	horizontal-align: right;
	text-align: right;
	margin-right: 6px;
}

.LeaderboardContainer .LeaderboardRow
{
	ui-scale: 100%;
	width: 100%;
	margin-bottom: 2px;
	flow-children: right;
	padding-right: 0px;
	height: 24px;
}

.LeaderboardContainer .LeaderboardRow.OddRow
{
	background-color: #0005;
}

.LeaderboardContainer .LeaderboardRow #LeaderListAvatar
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 5px;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName
{
	padding-top: 2px;
	height: 24px;
	color: LightestGrey;
	vertical-align: center;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName .PersonaName
{
	color: #bbbbbb;
}

.LeaderboardContainer .LeaderboardRow .LeaderListValue
{
	horizontal-align: right;
	text-align: right;
	color: LightestGrey;
	vertical-align: center;
	margin-right: 12px;
}

#CloseButtonContainer .ReturnIcon
{
	horizontal-align: right;
	margin: 12px;
	img-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
	wash-color: LighterGrey;
	opacity: 0.6;
	transition-property: wash-color, opacity;
	transition-duration: 0.1s;
}

#CloseButtonContainer.Hovered .ReturnIcon
{
	wash-color: white;
	opacity: 1;
}

#CloseButtonContainer .CloseIcon
{
	visibility: collapse;
}

.IntroMenu #CloseButtonContainer .ReturnIcon
{
	visibility: collapse;
}

.IntroMenu #CloseButtonContainer .CloseIcon
{
	visibility: visible;
}

.VisualNovelOuterContainer
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/crownfall/fishing/fish_bg_png.vtex");
	background-repeat: repeat;
	transition-property: opacity, blur;
	transition-duration: 0.5s, 0.3s;
	opacity: 0;
	blur: gaussian(10px);
}

.ShowVisualNovel .VisualNovelOuterContainer
{
	opacity: 1;
	blur: gaussian(0px);
}

#VisualNovelContainer
{
	width: 100%;
	height: 100%;
}

.VisualNovelBackground
{
	border: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	width: 100%;
	height: 220px;
	margin-top: 147px;
}

#VisualNovel
{
	vertical-align: center;
	ignore-parent-flow: true;
	height: 100%;
}

@keyframes 'ChargingStrengthThrob'
{
	50%
	{
		brightness: 2.5;
	}
	
}

@keyframes 'WarpIn'
{
	0%
	{
		opacity: 0.5;
		transform: skewX( -30deg) translateX( 300px ) scaleY( 0.5 );
	}
	
	100%
	{
		opacity: 1;
		transform: none;
	}
	
}

@keyframes 'StampIn'
{
	0%
	{
		opacity: 0.5;
		transform: scale3d( 4, 4, 1 );
	}
	
	100%
	{
		opacity: 1;
		transform: none;
	}
	
}

@keyframes 'GlowText'
{
	0%
	{
		brightness: 1.0;
		opacity:0.9;
		transform: scale3d( 0.95, 0.95, 1 );
	}
	
	100%
	{
		brightness: 1.3;
	}
	
}

@keyframes 'FishIconJiggle'
{
	0%
	{
		transform: translateY( 15px );
	}
	
	33%
	{
		transform: translateX(-3px) translateY( 15px );
	}
	
	66%
	{
		transform: translateX(3px) translateY( 15px );
	}
	
	100%
	{
		transform: translateY( 15px );
	}
	
}

@keyframes 'Bob'
{
	50%
	{
		transform: translateY( -8px );
	}
	
}

@keyframes 'Shake'
{
	33%
	{
		transform:translateX(3px);
	}
	
	66%
	{
		transform:translateX(-3px);
	}
	
}

