/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	padding: 0px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	border: 1px solid black;
	box-shadow: 0px 8px 80px -4px rgba(0, 0, 0, 0.6);
	transition-duration: 0.3s;
	transition-delay: 0.8s;
}

.PopupPanel .TopGoldDash
{
	width: 100%;
	height: 2px;
}

.PopupPanel .TutorialText
{
	text-align: center;
	font-family: titleFont;
	margin: 8px;
	font-size: 20px;
	line-height: 1.3;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.PopupPanel .Header
{
	flow-children: down;
	width: 100%;
	background-color: rgba(13, 14, 21, 0.3);
	padding: 10px 8px 10px;
	border-bottom: 1px solid rgba(212, 235, 255, 0.02);
}

.PopupPanel .Header .SectionTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	horizontal-align: center;
	text-shadow: 0px 1px 6px black;
	brightness: 1.5;
	saturation: 0.8;
	visibility: collapse;
}

.PopupPanel.RevealInventory .Header .InventoryTitle,.PopupPanel.LearnMore .Header .LearnMoreTitle
{
	visibility: visible;
}

.PopupPanel .Content
{
	margin: 8px 16px 16px;
	max-width: 700px;
	font-size: 16px;
	text-align: center;
	horizontal-align: center;
	color: white;
}

.PopupPanel.Transparent
{
	background-color: #00000000;
	animation-name: none;
	box-shadow: 0px 0px 0px #00000000;
	border: 0px;
}

.PopupPanel.Transparent .TopGoldDash,.PopupPanel.Transparent .Header
{
	visibility: collapse;
}

.PopupPanel.GetStarted
{
	margin-top: 600px;
}

.PopupPanel.HowToPlay,.PopupPanel.FreeToken
{
	margin-bottom:320px;
}

.PopupPanel.HowToPlay DOTACrownfallToken,.PopupPanel.FreeToken DOTACrownfallToken
{
	horizontal-align: center;
	height: 50px;
	ui-scale: 300%;
}

.PopupPanel.HowToPlay .Diagram,.PopupPanel.FreeToken .Diagram
{
	flow-children: right;
	height: 150px;
	vertical-align: center;
	horizontal-align: center;
}

.PopupPanel.HowToPlay .Diagram .Left,.PopupPanel.HowToPlay .Diagram .Right,.PopupPanel.FreeToken .Diagram .Left,.PopupPanel.FreeToken .Diagram .Right
{
	flow-children: down;
	vertical-align: center;
	horizontal-align: center;
}

.PopupPanel.HowToPlay .Diagram .Left Image,.PopupPanel.HowToPlay .Diagram .Right Image,.PopupPanel.FreeToken .Diagram .Left Image,.PopupPanel.FreeToken .Diagram .Right Image
{
	height: 80px;
}

.PopupPanel.HowToPlay .Diagram .Left Label,.PopupPanel.HowToPlay .Diagram .Right Label,.PopupPanel.FreeToken .Diagram .Left Label,.PopupPanel.FreeToken .Diagram .Right Label
{
	text-align: center;
	text-transform: uppercase;
}

.PopupPanel.HowToPlay .Diagram .Equals,.PopupPanel.FreeToken .Diagram .Equals
{
	margin:20px;
	font-size: 50px;
	vertical-align: center;
}

.PopupPanel.RevealInventory
{
	margin-top: 440px;
}

.PopupPanel.UnlockNode
{
	margin-left: 600px;
	margin-bottom:50px;
}

.PopupPanel .ContinueButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-top: 8px;
	width: 300px;
	ui-scale: 90%;
}

.PopupPanel.LearnMore
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 120px;
	margin-right: 20px;
}

.PopupPanel .IntroSection
{
	flow-children: down;
	horizontal-align: center;
	visibility: collapse;
}

.PopupPanel.GetStarted #GetStarted,.PopupPanel.HowToPlay #HowToPlay,.PopupPanel.FreeToken #FreeToken,.PopupPanel.RevealInventory #RevealInventory,.PopupPanel.UnlockNode #UnlockNode,.PopupPanel.LearnMore #LearnMore
{
	visibility: visible;
}


