/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.Simon
{
	flow-children: none;
	background-color: none;
	animation: none;
	border: 0px solid transparent;
	padding: 0px;
	box-shadow: none;
	width: 100%;
	height: 100%;
}

.MainContents
{
	flow-children: down;
	background-color: #0009;
	border: 2px solid #222;
	padding: 16px 0px 16px 16px;
	margin-left: 200px;
	horizontal-align: center;
	vertical-align: middle;
}

.Header
{
	flow-children: right;
	width: 100%;
}

.Header .Title
{
	font-family: titleFont;
	font-size: 48px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 4px;
}

.Body
{
	flow-children: right;
}

.Body .MainGameContainer
{
	width: 720px;
	height: 720px;
	background-color: #222;
	flow-children: down;
}

.Body .MainGameContainer #Menu
{
	width: 100%;
	flow-children: down;
}

.Body .MainGameContainer #Menu .StartGameButton,.Body .MainGameContainer #Menu .TryAgainButton
{
	horizontal-align: center;
	visibility: collapse;
}

.GameStateStart .Body .MainGameContainer #Menu .StartGameButton,.GameStateGameOver .Body .MainGameContainer #Menu .TryAgainButton
{
	visibility: visible;
}

.Body .MainGameContainer #MainGame
{
	overflow: clip;
	flow-children: down;
	width: 100%;
	height: fit-children;
}

.Body .MainGameContainer #MainGame.ShowingPrompt .AbilityButton
{
	animation-name: Pulse;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.Body .MainGameContainer #MainGame .ScoreText
{
	font-size: 24px;
	horizontal-align: center;
}

.Body .MainGameContainer #MainGame .TurnContainer
{
	width: 100%;
	height: 40px;
}

.Body .MainGameContainer #MainGame .MyTurnText,.Body .MainGameContainer #MainGame .YourTurnText
{
	font-size: 36px;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.GameStateDemoing .Body .MainGameContainer #MainGame .MyTurnText,.GameStatePlaying .Body .MainGameContainer #MainGame .YourTurnText
{
	visibility: visible;
}

.Body .MainGameContainer #MainGame #AbilityButtons
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	padding: 10px;
}

.Body .MainGameContainer #MainGame #AbilityButtons .AbilityButton
{
	width: 128px;
	height: 128px;
	margin: 10px;
	brightness: 0.8;
}

.Body .MainGameContainer #MainGame #AbilityButtons .AbilityButton.Demonstrating
{
	border: 4px solid yellow;
}

.Body .MainGameContainer #MainGame #AbilityButtons .AbilityButton.Incorrect
{
	border: 4px solid red;
}

.Body .MainGameContainer #MainGame #AbilityButtons .AbilityButton.Correct
{
	border: 4px solid green;
}

.Body .MainGameContainer #MainGame #AbilityButtons .AbilityButton.Neutral
{
	border: 4px solid blue;
}

.Body .RightColumn
{
	flow-children: down;
	width: 250px;
	margin-left: 16px;
}

.Body .RightColumn .ScoreSection
{
	flow-children: down;
	width: 100%;
}

.Body .RightColumn .ScoreSection .ScoreLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
}

.Body .RightColumn .ScoreSection .ScoreValue
{
	font-family: titleFont;
	font-size: 48px;
	letter-spacing: 4px;
	color: white;
}

.Body .RightColumn .RewardsSection
{
	margin-top: 16px;
	flow-children: down;
	width: 100%;
}

.Body .RightColumn .RewardsSection .RewardsLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
}

.Body .RightColumn .RewardsSection .RewardRow
{
	flow-children: right;
}

.Body .RightColumn .RewardsSection .RewardRow .RewardScore
{
	width: 60px;
	vertical-align: middle;
	text-align: right;
	margin-right: 8px;
}

.Body .RightColumn .RewardsSection .RewardRow .RewardValue
{
	flow-children: right;
	width: 60px;
	vertical-align: middle;
}

.Body .RightColumn .RewardsSection .RewardRow .RewardValue .InfoIcon
{
	margin: 0px 2px 0px 0px;
}

.Body .RightColumn .LeaderboardSection
{
	margin-top: 48px;
}

.Body .RightColumn .LeaderboardSection .LeaderboardLabel
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #999;
}

.CloseButton
{
	horizontal-align: right;
}

@keyframes 'Pulse'
{
	0%
	{
		brightness: 1.2;
	}
	
	100%
	{
		brightness: 0.8;
	}
	
}

