/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#TempToken
{
	visibility: collapse;
}

.RewardUnavailable #TempToken
{
	visibility: visible;
}

.RewardUnavailable #RealToken
{
	visibility: collapse;
}

.RewardUnavailable .TakeTokensButton
{
	visibility: collapse;
}

.BodyContainer
{
	min-width: 500px;
}

.Tokens
{
	horizontal-align: center;
	flow-children: right;
}

.Tokens DOTACrownfallToken
{
	ui-scale: 360%;
}

.TakeTokensButton
{
	visibility: visible;
}

.Actions
{
	width: 100%;
	min-height: 100px;
}

