/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BodyContainer
{
	flow-children: down;
}

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.Center .TokenTraderIcon
{
	width: 128px;
	height: 128px;
	padding: 10px;
	texture-sampling: point;
	margin: 0px 48px;
	vertical-align: middle;
}

.TradeContainer
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.TradeContainer.RecipeActive
{
	visibility: visible;
}

.DashDotDivider
{
	margin: 24px 0px;
}

.DashDotDivider.ThreeTradeDivider
{
	visibility: collapse;
}

#SixScrapToOneContainer .ScrapToken
{
	ui-scale: 200%;
	margin: -8px;
	vertical-align: center;
	width: 44px;
}

.TokenTrade
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	padding: 8px;
	margin-right: 138px;
}

.TokenTrade .Tokens
{
	flow-children: right;
}

.TokenTrade DOTACrownfallToken
{
	ui-scale: 260%;
	margin: -8px;
	vertical-align: center;
	width: 44px;
}

.TokenTrade DOTACrownfallToken.ZeroCount
{
	opacity: 0.25;
	brightness: 0.5;
}

.TokenTrade .TradeArrow
{
	width: 28px;
	height: 28px;
	vertical-align: center;
	margin: 0px 12px;
	wash-color: LighterGrey;
	img-shadow: 0px 2px 8px black;
}

.ResetContainer
{
	width: 60%;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 8px 0px 12px;
	margin: 20px 16px 0px;
	border-top: 1px solid rgba(204, 235, 255, 0.059);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, #FFFFFF ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(153, 219, 255, 0.021) ), to( rgba(108, 154, 192, 0) ) );
}

.ResetContainer .ResetButton
{
	horizontal-align: center;
	flow-children: right;
	padding: 8px;
	transition-property: transform, brightness;
	transition-duration: 0.05s;
}

.ResetContainer .ResetButton Label
{
	vertical-align: center;
	color: LightGrey;
	text-shadow: 0px 2px 8px black;
	margin-right: 4px;
	transition-property: color;
	transition-duration: 0.1s;
}

.ResetContainer .ResetButton Image
{
	vertical-align: center;
	wash-color: LightGrey;
	width: 20px;
	height: width-percentage( 100% );
	img-shadow: 0px 2px 8px black;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.ResetContainer .ResetButton:hover Label
{
	color: white;
}

.ResetContainer .ResetButton:hover Image
{
	wash-color: white;
}

.ResetContainer .ResetButton:active
{
	transform: translateY( 0.5px );
	brightness: 0.5;
}

.Actions
{
	width: 100%;
	min-height: 100px;
}

.ExecuteTradeButton
{
	margin-left: 30px;
	margin-right: 8px;
	margin-top: 18px;
	vertical-align: center;
	min-width: 240px;
}

.ExecuteTradeButton .TradeLabel,.ExecuteTradeButton .Spinner
{
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in-out;
}

.ExecuteTradeButton .TradeLabel
{
	opacity: 1;
}

.ExecuteTradeButton .Spinner
{
	horizontal-align: center;
	opacity: 0;
}

.TradeExecuting .ExecuteTradeButton .Spinner
{
	opacity: 1;
}

.TradeExecuting .ExecuteTradeButton .TradeLabel
{
	opacity: 0;
}

.InfoIcon
{
	vertical-align: center;
}

.PopupPanel.Encounter.TokenTrader.ThreeTrades .BodyContainer
{
	padding-top: 0px;
}

.ThreeTrades .DashDotDivider
{
	margin: 0px 0px;
}

.ThreeTrades .DashDotDivider.ThreeTradeDivider
{
	visibility: visible;
}

.ThreeTrades .TradeContainer
{
	padding: 0px;
	margin-top: 10px;
}

.ThreeTrades .TokenTrade
{
	horizontal-align: center;
	margin-right: 0px;
	margin-top: 5px;
	padding: 0px;
}

.ThreeTrades .TokenTrade DOTACrownfallToken
{
	ui-scale: 160%;
}

.ThreeTrades .TokenTrade .ExecuteTradeButton
{
	margin-top: 4px;
}

.ThreeTrades .TradeArrow
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	margin: 0px 12px 12px 12px;
	wash-color: LighterGrey;
	img-shadow: 0px 2px 8px black;
}

