/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.NodeTooltipContents
{
	min-width: 300px;
	padding: 0px;
	brightness: 0.75;
	transition-property: brightness, opacity;
	transition-duration: 0.2s, 0.1s;
}

.Hidden #Contents.NodeTooltipContents
{
	opacity: 0.5;
}

.Interactive #Contents.NodeTooltipContents
{
	brightness: 1.0;
}

#Contents.NodeTooltipContents .AsyncPanel
{
	width: 100%;
}

#Contents.NodeTooltipContents .AsyncPanel .AsyncFailureContainer
{
	height: 100px;
}

#Contents.NodeTooltipContents .AsyncPanel .AsyncLoadingContainer
{
	height: 100px;
}

#Contents.NodeTooltipContents .AsyncPanel .AsyncSuccessContainer
{
	height: fit-children;
}

.TooltipSection
{
	flow-children: down;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
}

.TooltipSection .TopGoldDash
{
	width: 100%;
	height: 3px;
	brightness: 0.4;
}

.Interactive .TooltipSection .TopGoldDash
{
	brightness: 1.0;
}

.TooltipSection .Header
{
	flow-children: down;
	width: 100%;
	background-color: rgba(13, 14, 21, 0.3);
	padding: 10px 8px 16px;
	border-bottom: 1px solid rgba(212, 235, 255, 0.02);
}

.TooltipSection .Header .ChapterInfo
{
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
}

.ShowChapterTitle .TooltipSection .Header .ChapterInfo
{
	visibility: visible;
}

.TooltipSection .Header .ChapterInfo .ChapterTitle
{
	color: #ccc;
	text-shadow: 0px 1px 6px black;
	text-align: center;
}

.TooltipSection .Header .DialogueTitle
{
	color: #aaac;
	horizontal-align: center;
	text-shadow: 0px 1px 6px black;
	font-size: 14px;
	font-style: italic;
	text-transform: none;
	margin-bottom: 5px;
	margin-top: -2px;
	visibility: collapse;
}

.ShowDialogueTitle .TooltipSection .Header .DialogueTitle
{
	visibility: visible;
}

.TooltipSection .Header .SectionTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	horizontal-align: center;
	text-shadow: 0px 1px 6px black;
	brightness: 1.5;
	saturation: 0.8;
}

.TooltipSection .Instructions
{
	font-size: 14px;
	padding: 8px 8px 0px 8px;
	horizontal-align: center;
}

.RewardsSection
{
	visibility: collapse;
}

.HasRewards .RewardsSection
{
	visibility: visible;
}

.RewardsSection .RewardStatus
{
	flow-children: right;
}

.RewardsSection #RewardList
{
	flow-children: down;
	padding: 12px 12px 8px;
	width: 100%;
}

.RewardsSection #RewardList .RewardContainer
{
	width: 100%;
	margin-bottom: 8px;
}

.RewardsSection #RewardList .RewardContainer .EconItemReward
{
	padding-top: 2px;
	transition-property: transform;
	transition-duration: 0.2s;
	overflow: noclip;
}

.RewardsSection #RewardList .RewardContainer.CanClick:hover
{
	brightness: 1.5;
}

.RewardsSection #RewardList .RewardContainer.CanClick:hover .EconItemReward
{
	transition-property: transform;
	transition-duration: 0.2s;
	transform: scale3d( 1.04, 1.04, 1.0 );
}

.RewardsSection #RewardList .RewardContainer.CanClick:active
{
	brightness: 0.5;
}

.RewardsSection #ShowcaseRewardsContainer
{
	flow-children: down;
	margin-top: -8px;
	padding: 0px 12px 8px;
	width: 100%;
	visibility: collapse;
}

.HasShowcaseRewards .RewardsSection #ShowcaseRewardsContainer
{
	visibility: visible;
}

.RewardsSection #ShowcaseRewardsContainer #ShowcaseRewardsList
{
	horizontal-align: center;
	width: fit-children;
	flow-children: right;
}

.RewardsSection #ShowcaseRewardsContainer #ShowcaseRewardsList DOTAShowcaseDecoration
{
	width: 60px;
	height: 60px;
}

.RewardsSection #ShowcaseRewardsContainer #ShowcaseRewardsList DOTAShowcaseDecoration:hover
{
	brightness: 1.5;
	transition-property: transform;
	transition-duration: 0.2s;
	transform: scale3d( 1.04, 1.04, 1.0 );
}

.RewardsSection #ShowcaseRewardsContainer #ShowcaseRewardsList DOTAShowcaseDecoration:active
{
	brightness: 0.5;
}

.RewardsSection #ShowcaseRewardsContainer Label
{
	horizontal-align: center;
	text-align: center;
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.RewardStatus,.EncounterStatus
{
	horizontal-align: center;
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	border-top: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgba(207, 236, 255, 0.06) ), color-stop( 0.7, rgba(207, 236, 255, 0.06) ), to( rgba(255, 255, 255, 0) ) );
}

.RewardStatus .RewardStatusInfo,.RewardStatus .EncounterStatusInfo,.EncounterStatus .RewardStatusInfo,.EncounterStatus .EncounterStatusInfo
{
	horizontal-align: center;
	flow-children: right;
}

.RewardStatus Label,.EncounterStatus Label
{
	vertical-align: center;
}

.RewardsUnlocked .RewardStatus
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( winnerGreenLow&11 ), to( winnerGreen&05 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&11 ), color-stop( 0.3, winnerGreen&33 ), color-stop( 0.7, winnerGreen&33 ), to( winnerGreenLow&11 ) );
}

.RewardStatus .RewardStatusIcon
{
	width: 28px;
	height: 28px;
	vertical-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.RewardsLocked .RewardStatus .RewardStatusIcon
{
	background-image: url("s2r://panorama/images/control_icons/24px/lock.vsvg");
	wash-color: Grey;
}

.RewardsLocked .RewardStatus Label
{
	color: Grey;
}

.RewardsUnlocked .RewardStatus .RewardStatusIcon
{
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	wash-color: winnerGreen;
	img-shadow: 0px 0px 12px winnerGreen&22;
}

.RewardsUnlocked .RewardStatus Label
{
	color: winnerGreen;
	text-shadow: 0px 0px 12px winnerGreen&22;
}

.RewardStatus
{
	color: #999;
}

DOTACrownfallButton.ReplayDialogue.Secondary
{
	visibility: collapse;
	horizontal-align: center;
	margin: 0;
	margin-bottom: 4px;
}

.HasDialogue.EncounterUnlocked DOTACrownfallButton.ReplayDialogue.Secondary,.HasDialogue.RewardsUnlocked DOTACrownfallButton.ReplayDialogue.Secondary
{
	visibility: visible;
}

.EconItemReward
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
}

.EconItemReward .ImageContainer
{
	width: 120px;
	height: 80px;
	horizontal-align: center;
	margin-bottom: 8px;
}

.EconItemReward .ImageContainer #ItemImage
{
	width: 100%;
	height: 100%;
	img-shadow: 0px 2px 12px black;
}

.EconItemReward .ImageContainer .Quantity
{
	vertical-align: bottom;
	horizontal-align: right;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-weight: bold;
	font-size: 32px;
	margin: 2px 6px;
	visibility: collapse;
}

.EconItemReward.HasQuantity .Quantity
{
	visibility: visible;
}

.EconItemReward .Details
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
}

.EconItemReward .Details .ItemName
{
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	horizontal-align: center;
	text-align: center;
}

.ChatWheelSprayReward
{
	flow-children: down;
	horizontal-align: center;
}

.ChatWheelSprayReward .ImageContainer
{
	width: 220px;
	height: 200px;
	horizontal-align: center;
	margin-bottom: 8px;
}

.ChatWheelSprayReward .ImageContainer #ItemImage
{
	width: 100%;
	height: 100%;
	img-shadow: 0px 2px 12px black;
}

.ChatWheelSprayReward .Details
{
	vertical-align: middle;
	horizontal-align: center;
}

.ChatWheelSprayReward .Details .ItemName
{
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.ActionListReward
{
	flow-children: down;
	horizontal-align: center;
}

.ActionListReward #ActionList
{
	width: 220px;
	horizontal-align: center;
	margin-bottom: 8px;
}

.ActionListReward .Details
{
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

.ActionListReward .Details .ItemName
{
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	margin-bottom: 8px;
}

.ActionListReward .Details Label
{
	horizontal-align: center;
	text-align: center;
}

.ActionListRewardInfo
{
	visibility: collapse;
	text-align: center;
	horizontal-align: center;
	margin-top: -8px;
	margin-bottom: 16px;
}

.HasActionListReward .ActionListRewardInfo
{
	visibility: visible;
}

.TrophyReward
{
	flow-children: down;
	horizontal-align: center;
}

.TrophyReward #TrophyImage
{
	width: 120px;
	height: 120px;
	horizontal-align: center;
}

.TrophyReward Label
{
	horizontal-align: center;
	text-align: center;
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.EncounterSection
{
	visibility: collapse;
}

.HasEncounter .EncounterSection
{
	visibility: visible;
}

.EncounterSection .EncounterDetails
{
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 8px;
	padding: 12px 12px 8px;
}

.EncounterSection .EncounterDetails #EncounterImage
{
	width: 80px;
	height: 80px;
	margin-bottom: 8px;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to ( gold3 ) );
}

.HideEncounterImage .EncounterSection .EncounterDetails #EncounterImage
{
	visibility: collapse;
}

.EncounterSection .EncounterDetails .EncounterInfo
{
	flow-children: down;
	vertical-align: middle;
}

.EncounterSection .EncounterDetails .EncounterInfo .EncounterName
{
	horizontal-align: center;
	text-align: center;
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.EncounterSection .EncounterDetails .EncounterInfo .EncounterDescription
{
	horizontal-align: center;
	text-align: center;
	color: LightGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

@keyframes 'IconGlow'
{
	0%
	{
		brightness:0.7;
	}
	
	50%
	{
		brightness: 1.3;
	}
	
	100%
	{
		brightness:0.7;
	}
	
}

