/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.TooltipContents
{
	padding: 0px;
}

.Quest
{
	flow-children: down;
	max-width: 360px;
}

.QuestHeader
{
	width: 360px;
	height: 100px;
	flow-children: right;
	padding-left: 16px;
}

.QuestHeader .QuestIcon
{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	vertical-align: center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.701);
	tooltip-position: top;
	margin: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition-property: background-img-opacity, transform;
	transition-duration: 0.1s, 0.1s;
}

.QuestHeader .QuestIcon .MapIcon
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	transform: scale3d( 0.8, 0.8, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.1s;
}

.QuestHeader .QuestIcon:hover
{
	background-img-opacity: 0.4;
	transform: scale3d( 1.05, 1.05, 1 );
}

.QuestHeader .QuestIcon:hover .MapIcon
{
	opacity: 1;
	transform: none;
}

.QuestHeader .QuestIcon:active
{
	transform: translateY( 1px );
}

.QuestHeader .ViewMapToken
{
	ignore-parent-flow: true;
	margin: -16px;
	transform: translateX( 60px ) translateY( 4px );
}

.QuestHeader .QuestHeaderDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 12px;
	vertical-align: center;
}

.QuestHeader .QuestLabel
{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: semi-bold;
	color: LighterGrey;
	letter-spacing: 1.6px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.QuestHeader .QuestTitle
{
	font-size: 20px;
	color: rgba(255, 255, 255, 0.9);
	font-family: titleFont;
	line-height: 1.2;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.EncounterDetails
{
	color: LighterGrey;
	font-size: 16px;
	padding-left: 20px;
	letter-spacing: 1.1px;
	margin: 5px;
}

.Quest .QuestIcon
{
	background-image: url("s2r://panorama/images/events/crownfall/store/sticker_encounter_map_preview_png.vtex");
}

