/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CrownfallTabs
{
	margin-top: 4px;
}

.CrownfallTabs RadioButton Label
{
	text-shadow: 0px 2px 8px black;
	brightness: 1.6;
	padding: 12px;
}

.CrownfallTabs RadioButton
{
	tooltip-position: bottom;
}

.CrownfallTabs .SecondaryTabSeparator
{
	margin: 0px 4px;
}


