/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTACrownfallVisualNovel
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	padding: 48px;
	margin-bottom: 24px;
	opacity: 1;
	transform: scale3d( 1, 1, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.15s, 0.3s;
	transition-timing-function: ease-in;
}

DOTACrownfallVisualNovel.Hidden
{
	opacity: 0;
	transform: scale3d( 0.6, 0.6, 1 );
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

DOTACrownfallVisualNovel.EncounterDialogue
{
	margin: 0px;
	padding: 0px;
}

.ChapterName
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.DialogueName
{
	margin-top: -6px;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

#CloseButtonContainer
{
	visibility: collapse;
	margin: 3px;
}

.EscapePressed #CloseButtonContainer
{
	visibility: visible;
}

#ChapterNavigation
{
	flow-children: right;
	horizontal-align: center;
	margin: 8px;
}

.EncounterDialogue #ChapterNavigation
{
	visibility: collapse;
}

#ChapterNavigation .NavButton
{
	margin: 4px;
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #080d10 ), to( #15181e ) );
	vertical-align: center;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkGrey ) );
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
	transition-property: brightness;
	transition-duration: 0.1s;
	tooltip-position: top;
}

#ChapterNavigation .NavButton .NavButtonIcon
{
	width: 16px;
	height: width-percentage( 100% );
	margin: 8px;
	wash-color: Grey;
}

#ChapterNavigation .NavButton .NavButtonIcon.Comic
{
	visibility: collapse;
}

#ChapterNavigation .NavButton .NavButtonIcon.Lock
{
	visibility: visible;
}

#ChapterNavigation .NavButton.Unlocked
{
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #59503b48 ), to( #5f4e347b ) );
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

#ChapterNavigation .NavButton.Unlocked .NavButtonIcon
{
	width: 16px;
	height: width-percentage( 100% );
	margin: 8px;
	wash-color: gold1;
	opacity: 0.7;
	img-shadow: 0px 1px 4px black;
}

#ChapterNavigation .NavButton.Unlocked .NavButtonIcon.Comic
{
	visibility: visible;
}

#ChapterNavigation .NavButton.Unlocked .NavButtonIcon.Lock
{
	visibility: collapse;
}

#ChapterNavigation .NavButton.Unlocked:hover:not(.Selected)
{
	brightness: 2;
}

#ChapterNavigation .NavButton.Selected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d71ad ), to( #0d2a65 ) );
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	box-shadow: 0px 0px 24px rgba(255, 206, 143, 0.1);
	z-index: 1;
	animation-name: GlowSelectedItem;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#ChapterNavigation .NavButton.Selected .NavButtonIcon
{
	wash-color: white;
	opacity: 1;
}

@keyframes 'GlowSelectedItem'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px rgba(255, 206, 143, 0.02);
	}
	
	100%
	{
		brightness: 1.3;
		box-shadow: 0px 0px 32px rgba(255, 206, 143, 0.08);
	}
	
}

.IconContainer
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: 12px;
}

.IconContainer .IconBackground
{
	width: 32px;
	height: 32px;
	background-color: gradient( linear, 20% 20%, 100% 100%, from( gold1 ), to( gold3 ) );
	transform: rotateZ( 45deg );
	horizontal-align: center;
	vertical-align: center;
	margin: 12px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2458);
}

.MainContentsWrapper
{
	padding: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #463f3186 ), to( #2A1E0C ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #8671455d ), to( #57411e69 ) );
	box-shadow: 0px 16px 80px -4px rgba(0, 0, 0, 0.4);
}

.EncounterDialogue .MainContentsWrapper
{
	background-color: none;
	box-shadow: none;
	border: 0;
	border-brush: none;
	padding: 0px;
}

.MainContents
{
	width: 1260px;
	height: 740px;
	border: 3px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: rgb(19, 35, 66);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.Act2 .MainContents
{
	background-color: rgb(66, 36, 19);
}

.EncounterDialogue .MainContents
{
	width: 1200px;
	height: fit-children;
	background-color: none;
	box-shadow: none;
	border: 0;
}

.ShakeWindow .MainContents
{
	animation-name: Shake;
	animation-duration: 0.5s;
	animation-iteration-count:1;
}

.EncounterDialogue .MainContents:hover .MoreIndicator
{
	wash-color: white;
	pre-transform-scale2d: 1;
}

.Heading
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 24px;
}

.EncounterDialogue .Heading,.ShowingComic .Heading,.ShowExternalComic .Heading,.HideHeading .Heading,.OverrideHeading .Heading
{
	visibility: collapse;
}

.Heading Label
{
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.Heading .DashDotDivider
{
	width: 240px;
	margin-top: -4px;
}

.Heading .Dash
{
	opacity: 0.2;
}

.Heading .ChapterIndex
{
	margin: 0px 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

.CustomHeading
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 40px;
	visibility: collapse;
}

.OverrideHeading .CustomHeading
{
	visibility: visible;
}

.CustomHeading Label
{
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.CustomHeading .DashDotDivider
{
	margin-top: -4px;
}

.CustomHeading .Dash
{
	opacity: 0.2;
}

.CustomHeading .HeadingText
{
	margin: 0px 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
}

.VisualNovelBackground
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 1s;
	transition-delay: 1s;
	transition-timing-function: ease;
	opacity: 1;
	background-position: center;
	background-size: cover;
}

.Act1 .VisualNovelBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/vn_background_act1_png.vtex");
}

.Act2 .VisualNovelBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/vn_background_act2_png.vtex");
}

.Act3 .VisualNovelBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/vn_background_act3_png.vtex");
}

.Act3.InsideTown .VisualNovelBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/vn_background_act3town_png.vtex");
}

.Act4 .VisualNovelBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/vn_background_act4_png.vtex");
}

.EncounterDialogue .VisualNovelBackground
{
	visibility: collapse;
}

.ShowingComic .VisualNovelBackground
{
	background-image: none;
	background-color: #000a;
}

.Hidden .VisualNovelBackground
{
	opacity: 0;
}

.EncounterBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 100%, 0% 0%, 50% 100%, from( rgba(0, 0, 0, 0.9) ), color-stop( 0.5, rgba(0, 0, 0, 0.75) ), to( rgba(0, 0, 0, 0) ) );
	border-bottom: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( gold2&00 ), color-stop( 0.5, gold1 ), to( gold2&00 ) );
	margin-top: -70px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.ShowDialog .EncounterBackground
{
	opacity: 1;
	transition-duration: 0.3s;
}

.ShowVisualNovel .EncounterBackground,#VisualNovel .EncounterBackground
{
	visibility: collapse;
}

.ShowDialog #StoryPanel
{
	opacity: 1;
	transition-delay: 0.5s;
}

.NovelContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
}

.GroupContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	opacity: 0;
}

.GroupContainer .PortraitContainerLayered
{
	transition-property: opacity, position, transform, saturation, brightness, blur;
	transition-duration: 0.2s;
	brightness: 0.6;
	saturation: 0.7;
	blur: gaussian( 2 );
}

.GroupContainer .ActorTextContainer
{
	transition-property: opacity, position, blur;
	transition-duration: 0.2s;
	brightness: 0.6;
	saturation: 0.7;
	blur: gaussian( 2 );
}

.EncounterDialogue .GroupContainer
{
	ignore-parent-flow: true;
}

.GroupContainer.Bottom
{
	flow-children: left;
	margin-left: 140px;
	margin-top: -140px;
}

.ShowActor2 .GroupContainer.Bottom
{
	opacity: 1;
}

.EncounterDialogue .GroupContainer.Bottom
{
	margin-top: 0px;
}

.GroupContainer.Top
{
	margin-right: 140px;
}

.EncounterDialogue .GroupContainer.Top
{
	margin-right: 40px;
}

.ShowActor1 .GroupContainer.Top
{
	opacity: 1;
}

.TopUpdated .GroupContainer.Top .PortraitContainerLayered.PortraitOrder0,.BottomUpdated .GroupContainer.Bottom .PortraitContainerLayered.PortraitOrder0
{
	brightness: 1.0;
	saturation: 1.0;
	blur: none;
}

.TopUpdated .GroupContainer.Top .ActorTextContainer,.BottomUpdated .GroupContainer.Bottom .ActorTextContainer
{
	brightness: 1.0;
	saturation: 1.0;
	blur: none;
}

.EncounterDialogue.ShowActor1 .GroupContainer.Top
{
	opacity: 0.0;
}

.EncounterDialogue.ShowActor1.TopUpdated .GroupContainer.Top
{
	opacity: 1;
}

.EncounterDialogue.ShowActor2 .GroupContainer.Bottom
{
	opacity: 0.0;
}

.EncounterDialogue.ShowActor2.BottomUpdated .GroupContainer.Bottom
{
	opacity: 1;
}

.ActorTextContainer
{
	width: 100%;
	height: 100%;
	margin: 150px 0px 20px;
	vertical-align: center;
	transition-property: opacity, brightness, saturation, background-color;
	transition-duration: 0.2s;
	opacity: 1.0;
	z-index: 1;
}

.Exiting .ActorTextContainer
{
	opacity: 0.0;
}

.Top.Exiting .ActorTextContainer,.Bottom.Exiting .ActorTextContainer
{
	background-color: #0000;
}

.Top .ActorTextContainer
{
	margin-left: -180px;
	padding-left: 180px;
	padding-right: 0px;
	background-color: gradient( radial, 0% 0%, 0% 0%, 80% 110%, from( rgba(0, 0, 0, 0.8) ), to( rgba(0, 0, 0, 0) ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.Act3 .Top .ActorTextContainer
{
	background-color: gradient( radial, 0% 0%, 0% 0%, 80% 110%, from( rgba(37, 71, 115, 0.8) ), to( rgba(0, 0, 0, 0) ) );
}

.Bottom .ActorTextContainer
{
	margin-right: -180px;
	padding-left: 0px;
	padding-right: 140px;
	background-color: gradient( radial, 100% 0%, 0% 0%, 80% 110%, from( rgba(0, 0, 0, 0.8) ), to( rgba(0, 0, 0, 0) ) );
	border-brush: gradient( linear, 100% 0%, 0% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.Act3 .Bottom .ActorTextContainer
{
	background-color: gradient( radial, 100% 0%, 0% 0%, 80% 110%, from( rgba(37, 71, 115, 0.8) ), to( rgba(0, 0, 0, 0) ) );
}

.EncounterDialogue .ActorTextContainer,.EncounterDialogue.Act3 .ActorTextContainer
{
	background-color: #00000000;
	padding-bottom: 30px;
}

.ActorTextContainer .MoreIndicator
{
	width: 26px;
	height: 26px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 32px;
	background-image: url("s2r://panorama/images/transport_controls/icon_nexttrack_png.vtex");
	background-size: contain;
	wash-color: gold2;
	pre-transform-scale2d: 0.8;
	transition-property: wash-color, pre-transform-scale2d;
	transition-duration: 0.1s;
	animation-name: MoreIndicatorAnim;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	visibility: collapse;
}

.Bottom .ActorTextContainer .MoreIndicator
{
	margin-right: 80px;
}

.EncounterDialogue .ActorTextContainer .MoreIndicator
{
	visibility: visible;
}

.Animating .ActorTextContainer .MoreIndicator,.NoMoreDialogue .ActorTextContainer .MoreIndicator
{
	visibility: collapse;
}

@keyframes 'MoreIndicatorAnim'
{
	100%
	{
		transform: translateX( -3px );
	}
	
}

.PortraitGroup
{
	z-index: 5;
	width:420px;
	min-height: 405px;
	overflow: noclip;
}

.PortraitGroup .PortraitContainerLayered.Tall
{
	height: 630px;
	overflow: noclip;
	margin-top: -270px;
	transition-property: opacity, transform, saturation, brightness;
	transition-duration: 0.3s;
}

.PortraitGroup .PortraitContainerLayered.Tall.BigPortrait
{
	transform: scale3d( 1.1, 1.1, 1.0 ) translateY( -10px);
}

.PortraitGroup .PortraitContainerLayered.Tall .PictureMask
{
	height: fit-children;
	vertical-align: bottom;
	transform: translateY( 44px );
	opacity-mask: url("s2r://panorama/images/events/crownfall/visual_novel/portrait_mask_tall_png.vtex");
	overflow: noclip;
}

.PortraitGroup .PortraitContainerLayered.Tall .PictureMask .AnimationContainer
{
	height: fit-children;
	vertical-align: bottom;
	overflow: noclip;
}

.PortraitGroup .PortraitContainerLayered.Tall .PictureMask .AnimationContainer .ActorPicture
{
	overflow: noclip;
	height: 630px;
	vertical-align: bottom;
}

.PortraitGroup .PortraitContainerLayered.Tall .ActorBorder
{
	vertical-align: bottom;
}

.PortraitGroup .PortraitContainerLayered.Tall .ActorShadow
{
	vertical-align: bottom;
}

.PortraitGroup .PortraitContainerLayered.Tall .ActorBackground
{
	vertical-align: bottom;
	transform: rotateZ(45deg) translateY( -55px);
}

.PortraitGroup .PortraitContainerLayered.LayerTop .PictureMask
{
	z-index: 10;
	width: 100%;
	opacity-mask: url("s2r://panorama/images/flat_white_png.vtex");
}

.PortraitContainerLayered
{
	width: 360px;
	height: 405px;
	z-index: 1;
	transition-property: opacity, transform, saturation, brightness;
	transition-duration: 0.3s;
}

.EncounterDialogue .PortraitContainerLayered
{
	ui-scale: 90%;
	vertical-align: center;
}

.PortraitContainerLayered.Hidden
{
	visibility: collapse;
}

.PortraitContainerLayered.ExitingPortrait
{
	opacity: 0;
}

.PortraitContainerLayered.PortraitOrder0
{
	z-index: 4;
}

.PortraitContainerLayered.PortraitOrder1
{
	z-index: 3;
}

.PortraitContainerLayered.PortraitOrder2
{
	z-index: 2;
}

.PortraitContainerLayered.PortraitOrder3
{
	z-index: 1;
}

.PortraitContainerLayered.PortraitOrder1,.PortraitContainerLayered.PortraitOrder2,.PortraitContainerLayered.PortraitOrder3,.PortraitContainerLayered.PortraitOrder4
{
	saturation: 0.5;
	brightness: 0.3;
}

.Top .PortraitContainerLayered.PortraitOrder1
{
	transform: translateX(-70px);
}

.Bottom .PortraitContainerLayered.PortraitOrder1
{
	transform: translateX(70px);
}

.Top .PortraitContainerLayered.PortraitOrder2
{
	transform: translateX( -140px);
}

.Bottom .PortraitContainerLayered.PortraitOrder2
{
	transform: translateX( 140px);
}

.PortraitContainerLayered .ActorShadow
{
	width: 100%;
	height: width-percentage( 100% );
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/shadow_png.vtex");
	background-size: cover;
	margin-top: 72px;
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 1.0;
}

.Exiting .PortraitOrder0 .PortraitContainerLayered .ActorShadow
{
	opacity:0.0;
}

.PortraitContainerLayered .ActorBackground
{
	width: 180px;
	height: 180px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 88px;
	transform: rotateZ( 45deg );
	background-size: cover;
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 1.0;
	background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");
}

.Exiting .PortraitOrder0 .PortraitContainerLayered .ActorBackground
{
	opacity:0.0;
}

.Dragonus .PortraitContainerLayered .ActorBackground
{
	background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");
}

.Screeauk .PortraitContainerLayered .ActorBackground
{
	background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");
}

.Shen .PortraitContainerLayered .ActorBackground
{
	background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");
}

.Bakeet .PortraitContainerLayered .ActorBackground
{
	background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");
}

.PortraitContainerLayered .ActorBorder
{
	width: 100%;
	height: width-percentage( 100% );
	vertical-align: bottom;
	background-size: cover;
	transition-property: opacity, transform;
	transition-duration: 0.6s;
}

.PortraitContainerLayered .ActorBorder.Under
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_under_png.vtex");
}

.Act3 .PortraitContainerLayered .ActorBorder.Under
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_under_frosty_png.vtex");
}

.Act3.InsideTown .PortraitContainerLayered .ActorBorder.Under
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_under_png.vtex");
}

.PortraitContainerLayered .ActorBorder.Over
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_over_png.vtex");
}

.Act3 .PortraitContainerLayered .ActorBorder.Over
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_over_frosty_png.vtex");
}

.Act3.InsideTown .PortraitContainerLayered .ActorBorder.Over
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/border_over_png.vtex");
}

.Exiting .PortraitOrder0 .PortraitContainerLayered .ActorBorder
{
	opacity:0.0;
	transform:scaleX(1.03) scaleY(1.03);
}

.PortraitContainerLayered .ActorEffectOverlay
{
	width: 100%;
	height: width-percentage( 100% );
	vertical-align: center;
	background-size: cover;
	transition-property: opacity, transform;
	transition-duration: 1s;
	margin-bottom: 20px;
	opacity: 0;
	overflow: noclip;
}

.PortraitContainerLayered.ShowActorEffectOverlay .ActorEffectOverlay
{
	opacity: 1;
}

.PortraitContainerLayered.ActorAnger .ActorEffectOverlay
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/effects/anger_png.vtex");
}

.PortraitContainerLayered.ActorAnxiety .ActorEffectOverlay
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/effects/anxiety_png.vtex");
}

.PortraitContainerLayered.ActorSweatDrop .ActorEffectOverlay
{
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/effects/sweatdrop_png.vtex");
}

.PortraitContainerLayered.Flipped .PictureMask .AnimationContainer .ActorPicture
{
	transform: scaleX(-1);
}

.PortraitContainerLayered .ActorEffectOverlay
{
	transform: translateY( -20px );
}

.PortraitContainerLayered.Flipped .ActorEffectOverlay
{
	transform: scaleX(-1) translateY( -20px );
}

.PortraitContainerLayered.ShowActorEffectOverlay .ActorEffectOverlay
{
	transform: translateY( 0 );
}

.PortraitContainerLayered.ShowActorEffectOverlay.Flipped .ActorEffectOverlay
{
	transform: scaleX(-1) translateY( 0 );
}

.PortraitContainerLayered.ShowActorEffectOverlay.Flipped.ActorAnger .ActorEffectOverlay
{
	animation-name: AnimAngerTop;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.PortraitContainerLayered.ShowActorEffectOverlay.ActorAnger .ActorEffectOverlay
{
	animation-name: AnimAngerBottom;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.PortraitContainerLayered.ShowActorEffectOverlay.ActorSweatDrop .ActorEffectOverlay
{
	animation-name: AnimSweatDrop;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-delay: 0.5s;
}

.PortraitContainerLayered.ShowActorEffectOverlay.Flipped.ActorSweatDrop .ActorEffectOverlay
{
	animation-name: AnimSweatDropFlipped;
}

.PortraitContainerLayered .PictureMask
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/events/crownfall/visual_novel/portrait_mask_png.vtex");
}

.PortraitContainerLayered .PictureMask .AnimationContainer
{
	animation-iteration-count:1;
	animation-timing-function: ease-in-out;
	width: 100%;
	height: 100%;
}

.PortraitContainerLayered .PictureMask .AnimationContainer .ActorPicture
{
	width:100%;
	height:100%;
}

.PortraitContainerLayered .ActorNameContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	min-width: 164px;
	margin-bottom: 14px;
}

.PortraitContainerLayered .ActorNameContainer .ActorName
{
	color: white;
	text-shadow: 0px 2px 8px black;
	horizontal-align: center;
	margin-top: 10px;
	padding: 0px 36px;
	transition-property: opacity;
	transition-duration: 0.25s;
	max-height: 24px;
	text-overflow: shrink;
}

.Language_thai .PortraitContainerLayered .ActorNameContainer .ActorName
{
	text-align: center;
	font-family: defaultFont;
	font-size: 24px;
	padding:0;
	margin-top: 7px;
	max-height: 32px;
}

.Exiting .PortraitOrder0 .PortraitContainerLayered .ActorNameContainer .ActorName
{
	opacity: 0;
}

.PortraitContainerLayered .ActorNameContainer .ActorNameBackground
{
	flow-children: right;
	width: 100%;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
}

.Exiting .PortraitOrder0 .PortraitContainerLayered .ActorNameContainer .ActorNameBackground
{
	opacity: 0;
}

.PortraitContainerLayered .ActorNameContainer .ActorNameBackground .Edge
{
	width: 40px;
	height: 64px;
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/name_container_edge_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.PortraitContainerLayered .ActorNameContainer .ActorNameBackground .Edge.Right
{
	transform: scaleX( -1 );
}

.PortraitContainerLayered .ActorNameContainer .ActorNameBackground .Middle
{
	width: 24px;
	height: 64px;
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/name_container_middle_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.PortraitContainerLayered .ActorNameContainer .ActorNameBackground .Fill
{
	width: fill-parent-flow( 1 );
	height: 64px;
	background-image: url("s2r://panorama/images/events/crownfall/visual_novel/name_container_fill_png.vtex");
	background-size: 100% 100%;
}

.Top .PortraitContainerLayered
{
	horizontal-align: right;
}

.Top .PortraitContainerLayered.EntranceRising .AnimationContainer
{
	animation-name: EntranceRising;
	animation-duration: 0.8s;
}

.Top .PortraitContainerLayered.ExitFalling .AnimationContainer
{
	animation-name: EntranceRising;
	animation-duration: 0.8s;
	animation-direction: reverse;
}

.Top .PortraitContainerLayered.ExitRising .AnimationContainer
{
	animation-name: EntranceFalling;
	animation-duration: 0.8s;
	animation-direction: reverse;
}

.Top .PortraitContainerLayered.EntranceSlideFast .AnimationContainer
{
	animation-name: EntranceSlideTop;
	animation-duration: 0.8s;
}

.Top .PortraitContainerLayered.ExitSlideFast .AnimationContainer
{
	animation-direction: reverse;
	animation-name: EntranceSlideTop;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
}

.Bottom .PortraitContainerLayered
{
	horizontal-align: left;
}

.Bottom .PortraitContainerLayered.EntranceRising .AnimationContainer
{
	animation-name: EntranceRising;
	animation-duration: 0.8s;
}

.Bottom .PortraitContainerLayered.ExitFalling .AnimationContainer
{
	animation-name: EntranceRising;
	animation-duration: 0.8s;
	animation-direction: reverse;
}

.Bottom .PortraitContainerLayered.ExitRising .AnimationContainer
{
	animation-name: EntranceFalling;
	animation-duration: 0.8s;
	animation-direction: reverse;
}

.Bottom .PortraitContainerLayered.EntranceSlideFast .AnimationContainer
{
	animation-name: EntranceSlideBottom;
	animation-duration: 0.8s;
}

.Bottom .PortraitContainerLayered.ExitSlideFast .AnimationContainer
{
	animation-direction: reverse;
	animation-name: EntranceSlideBottom;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.PortraitContainerLayered.ShakePortrait
{
	animation-name: Shake;
	animation-duration: 0.5s;
	animation-iteration-count:1;
}

.PortraitContainerLayered.WeavePortrait
{
	animation-name: Weave;
	animation-duration: 2.6s;
	animation-iteration-count:1;
}

.PortraitContainerLayered.JitterPortrait
{
	animation-name: Jitter;
	animation-duration: 0.1s;
	animation-iteration-count:infinite;
}

.PortraitContainerLayered.BigPortrait
{
	transform: scale3d( 1.1, 1.1, 1.0 ) translateY( -10px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Top .PortraitGroup .PortraitContainerLayered.PortraitOrder1
{
	transform: translateX(-50px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Top .PortraitGroup .PortraitContainerLayered.PortraitOrder2
{
	transform: translateX( -100px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Top .PortraitGroup .PortraitContainerLayered.PortraitOrder3
{
	transform: translateX( -150px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Bottom .PortraitGroup .PortraitContainerLayered.PortraitOrder1
{
	transform: translateX(50px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Bottom .PortraitGroup .PortraitContainerLayered.PortraitOrder2
{
	transform: translateX( 100px);
}

.NovelContainer .GroupContainer.FitFourPortraits.Bottom .PortraitGroup .PortraitContainerLayered.PortraitOrder3
{
	transform: translateX( 150px);
}

#PopupContainer
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier( 0.5, 0, 0.5, 4 );
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
}

.ShowPopup #PopupContainer
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

#PopupContainer .SoundEffectBackground
{
	width: 100%;
	height: 100%;
	margin-top: 3%;
}

#PopupContainer .SoundEffectBackground.Wet
{
	visibility: collapse;
}

.WetPopup #PopupContainer .SoundEffectBackground.Wet
{
	visibility: visible;
}

.WetPopup #PopupContainer .SoundEffectBackground.Hit
{
	visibility: collapse;
}

#PopupContainer #BackgroundHit
{
	visibility: visible;
}

#PopupContainer #PopupText
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 96px;
	height: 96px;
	max-width: 560px;
	line-height: 0.9;
	text-overflow: shrink;
	font-style: italic;
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	margin: 160px 180px;
	letter-spacing: -1px;
}

.EncounterDialogue #PopupContainer #PopupText
{
	margin:0;
}

.EncounterDialogue #PopupContainer
{
	height: 100%;
	width: 100%;
	margin-top: 30px;
}

.InstructionTextContainer
{
	horizontal-align: center;
	vertical-align:bottom;
	margin-bottom: 24px;
}

.EncounterDialogue .InstructionTextContainer,.ShowingComic .InstructionTextContainer,.ShowExternalComic .InstructionTextContainer
{
	visibility: collapse;
}

.InstructionTextContainer .InstructionText
{
	font-family: Reaver;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0px 2px 12px black;
	opacity: 0.9;
	transition-property: opacity;
	transition-duration: 0.5s;
}

.ShowComic .InstructionTextContainer .InstructionText
{
	opacity: 0;
}

.Animating .InstructionTextContainer .InstructionText
{
	opacity: 0;
}

.Language_thai .InstructionTextContainer .InstructionText
{
	font-family: defaultFont;
}

#ComicContainer
{
	width: 100%;
	height: 100%;
	opacity: 0;
	blur: gaussian(2.0);
	transition-property: opacity, blur;
	transition-duration: 0.3s;
}

.ShowingComic #ComicContainer
{
	blur: none;
	opacity: 1;
}

#ComicContainer .ComicViewer
{
	width: 100%;
	height: 100%;
}

#ComicContainer .ComicViewer #Book
{
	margin-top: 0;
	width: 100%;
	height: width-percentage(58.7%);
}

#ComicContainer .ComicViewer #Book ComicViewerPage
{
	width: 100%;
	height: 100%;
}

.ComicBlocker
{
	width: 100%;
	height: 100%;
	background-color: #0000;
	visibility: collapse;
}

.PreventInput .ComicBlocker
{
	visibility: visible;
}

#ComicExternalContainer
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property:opacity;
	transition-duration: 0.5s;
	transition-delay: 0.25s;
}

.ShowExternalComic #ComicExternalContainer
{
	opacity: 1;
}

#ComicExternalContainer #ExternalComicBackgroundPage
{
	blur: gaussian( 8px );
	brightness: 0.3;
}

#ComicExternalContainer #ShowExternalComicButton
{
	horizontal-align: center;
	vertical-align: center;
}

.HideText
{
	color: transparent;
	text-shadow: none;
}

.RedBoldText
{
	color: red;
	font-weight: bold;
}

.RedBoldText.HideText
{
	color: transparent;
}

.BlueText
{
	color: blue;
	font-weight: bold;
}

.BlueText.HideText
{
	color: transparent;
}

#PreloadActorPicture
{
	visibility: collapse;
}

@keyframes 'Squash'
{
	33%
	{
		transform:scaleX(1) scaleY( 1.4 );
	}
	
	66%
	{
		transform:scaleX(1.6) scaleY( 0.8 );
	}
	
}

@keyframes 'Shake'
{
	0%
	{
		transform:translateX( -20px );
	}
	
	10%
	{
		transform:translateX( 20px );
	}
	
	20%
	{
		transform:translateX( -18px );
	}
	
	30%
	{
		transform:translateX( 18px );
	}
	
	40%
	{
		transform:translateX( -16px );
	}
	
	50%
	{
		transform:translateX( 16px );
	}
	
	60%
	{
		transform:translateX( -13px );
	}
	
	70%
	{
		transform:translateX( 13px );
	}
	
	80%
	{
		transform:translateX( -10px );
	}
	
	90%
	{
		transform:translateX( 10px );
	}
	
	100%
	{
		transform:translateX( -10px );
	}
	
}

@keyframes 'Jitter'
{
	0%
	{
		transform:translateX( -1px );
	}
	
	50%
	{
		transform: translateX( 1px);
	}
	
	100%
	{
		transform:translateX( -1px );
	}
	
}

@keyframes 'Weave'
{
	0%
	{
		transform:translateX( 0px );
	}
	
	25%
	{
		transform: translateX( 10px);
	}
	
	50%
	{
		transform:translateX( 0px );
	}
	
	75%
	{
		transform: translateX( 10px);
	}
	
	100%
	{
		transform:translateX( 0px );
	}
	
}

@keyframes 'Bob'
{
	0%
	{
		transform:translateY(0px);
	}
	
	50%
	{
		transform:translateY(-10px);
	}
	
	100%
	{
		transform:translateY(0px);
	}
	
}

@keyframes 'EntranceSlideTop'
{
	0%
	{
		transform:translateX(-400px);
	}
	
	100%
	{
		transform:translateX(0px);
	}
	
}

@keyframes 'EntranceSlideBottom'
{
	0%
	{
		transform:translateX(400px);
	}
	
	100%
	{
		transform:translateX(0px);
	}
	
}

@keyframes 'EntranceRising'
{
	0%
	{
		transform:translateY(400px);
	}
	
	100%
	{
		transform:translateY(0px);
	}
	
}

@keyframes 'EntranceFalling'
{
	0%
	{
		transform:translateY(-400px);
	}
	
	100%
	{
		transform:translateY(0px);
	}
	
}

@keyframes 'AnimAngerTop'
{
	0%
	{
		opacity: 0;
		transform: scale3d( -0.5, 0.5, 1.0) translateX( 40px);
	}
	
	40%
	{
		opacity: 1;
		transform: scale3d( -1, 1, 1.0) translateX( 60px);
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d( -1, 1, 1.0) translateX( 65px) translateY( -2px);
	}
	
}

@keyframes 'AnimAngerBottom'
{
	0%
	{
		opacity: 0;
		transform: scale3d( 0.5, 0.5, 1.0) translateX( -40px);
	}
	
	40%
	{
		opacity: 1;
		transform: scale3d( 1, 1, 1.0) translateX( -60px);
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d( 1, 1, 1.0) translateX( -65px) translateY( -2px);
	}
	
}

@keyframes 'AnimSweatDrop'
{
	0%
	{
		opacity: 0;
		transform: translateY( -40px);
	}
	
	100%
	{
		opacity: 1;
		transform: translateY( 0px);
	}
	
}

@keyframes 'AnimSweatDropFlipped'
{
	0%
	{
		opacity: 0;
		transform: translateY( -40px) scaleX( -1 );
	}
	
	100%
	{
		opacity: 1;
		transform: translateY( 0px) scaleX( -1 );
	}
	
}


