/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CrownfallCell
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
}

.ModelsContainer
{
	opacity-brush: gradient( linear, 0% 60%, 10% 100%, from( rgb(255, 255, 255) ), to( #ffffff00 ) );
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.PremiumReward
{
	height: 1020px;
	width: 1020px;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

#PremiumReward_Skywrath
{
	transform: translateX( -80px ) translateY( 10px );
	opacity-brush: gradient( linear, 58% 0%, 70% 0%, from( rgb(255, 255, 255) ), to( #ffffff00 ) );
}

#PremiumReward_Vengeful
{
	transform: translateX( 220px ) translateY( 10px );
	opacity-brush: gradient( linear, 26% 0%, 30% 0%, from( rgba(255, 255, 255, 0) ), to( #ffffff ) );
}

#LogoMovie,#LogoMovieFrosted
{
	width: 280px;
	height: width-percentage( 80.45% );
	horizontal-align: center;
	margin-top: 188px;
}

#LogoMovie
{
	visibility: visible;
}

.CrownfallAct3Active #LogoMovie
{
	visibility: collapse;
}

#LogoMovieFrosted
{
	visibility: collapse;
}

.CrownfallAct3Active #LogoMovieFrosted
{
	visibility: visible;
}

.HitState
{
	width: 100%;
	height: 340px;
}

.LogoShadow
{
	width: 400px;
	height: 240px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 20px );
	margin-top: 190px;
	horizontal-align: center;
	overflow: noclip;
	opacity: 0.8;
}

.CompletionStatus
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: bottom;
	color: rgba(245, 245, 245, 0.8);
	text-shadow: 0px 2px 8px black;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 16px;
	margin: 0px 8px 8px;
}

.CurrentState
{
	width: 100%;
	height: 100%;
	margin-top: 340px;
}

.CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #d1e6ff38 ), to( #88aeff02 ) );
}

DOTACrownfallButton.PlayNowButton.Secondary
{
	width: 100%;
	margin-bottom: 24px;
	vertical-align: bottom;
	margin-left: 0px;
}

.CurrentActContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
}

.CurrentActContainer .ActNumber
{
	horizontal-align: center;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 3px 12px black;
}

.CurrentActContainer .ActName
{
	horizontal-align: center;
	color: rgba(255, 255, 255, 0.8);
	text-shadow: 0px 3px 12px black;
	font-family: titleFont;
	font-size: 20px;
	height: 29px;
	text-overflow: shrink;
	transition-property: text-shadow;
	transition-duration: 0.1s;
}

.CurrentActContainer .Caret
{
	horizontal-align: center;
	width: 12px;
}

.CurrentActContainer:hover .ActName
{
	text-shadow: 0px 0px 12px rgba(191, 211, 255, 0.4);
}

#BackgroundImageContainer
{
	width: 100%;
	height: 100%;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#BackgroundImageContainer.Hovered
{
	brightness: 1.5;
}

#BackgroundImageContainer.Hovered .ModelsContainer
{
	transform: scale3d( 1.03, 1.03, 1 );
}

#BackgroundImageContainer.Hovered .BackgroundImage
{
	transform: scale3d( 1.02, 1.02, 1 );
}

#BackgroundImageContainer .BackgroundImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#BackgroundImageContainer .BackgroundImage.Act1
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act1_png.vtex");
	opacity: 0;
}

.CrownfallAct1Active #BackgroundImageContainer .BackgroundImage.Act1
{
	opacity: 1;
}

#BackgroundImageContainer .BackgroundImage.Act2
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act2_png.vtex");
	opacity: 0;
}

.CrownfallAct2Active #BackgroundImageContainer .BackgroundImage.Act2
{
	opacity: 1;
}

#BackgroundImageContainer .BackgroundImage.Act3
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act3_png.vtex");
	opacity: 0;
}

.CrownfallAct3Active #BackgroundImageContainer .BackgroundImage.Act3
{
	opacity: 1;
}

