/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CrownfallStoreCell
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #9ccaff37 ), to( #88aeff02 ) );
	padding: 16px 16px;
}

.CrownfallStoreCell .BackgroundImage
{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	background-image: url("s2r://panorama/images/events/crownfall/store/store_splash2_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.CrownfallStoreCell .CellTitle
{
	horizontal-align: center;
	text-align: center;
	font-size: 20px;
	width: 80%;
	margin: 8px 0px 0px;
	text-shadow: 0px 2px 8px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( LighterGrey ) );
	margin-bottom: 12px;
}

.CrownfallStoreCell .Footer
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.CrownfallStoreCell .Footer #ViewStoreButton
{
	horizontal-align: center;
	width: 100%;
}

@keyframes 'DiscountGlow'
{
	0%
	{
		text-shadow: 0px 0px 4px gold2;
	}
	
	100%
	{
		text-shadow: 0px 0px 12px gold1;
	}
	
}

.DiscountText
{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 24px;
	animation-name: DiscountGlow;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	visibility: collapse;
}

.CanActivateDiscount .DiscountText
{
	visibility: visible;
}

