/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

CrownfallSurvivorsInvalidMetaProgressionUpgradeTooltip
{
	tooltip-position: top;
}

CrownfallSurvivorsInvalidMetaProgressionUpgradeTooltip #Contents
{
	padding: 0px;
	flow-children: down;
	max-width: 260px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(39, 44, 48) ), to( rgb(25, 28, 30) ) );
}

.Container
{
	width: 300px;
	flow-children: down;
	padding: 10px 16px;
}

.Container .GoldRequiredLabel
{
	horizontal-align: center;
	text-transform: lowercase;
	color: LighterGrey;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	font-size: 16px;
	line-height: 1.2;
}

.Container .GoldRequiredLabel b
{
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	font-weight: semi-bold;
}

.Container .LineBreak
{
	width: fill-parent-flow(1);
	margin-top: 10px;
	horizontal-align: center;
	border-top: 1px solid rgba(212, 229, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	padding-top: 6px;
}

.Container #Requirement
{
	horizontal-align: center;
	text-align: center;
	color: LighterGrey;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	font-size: 16px;
	line-height: 1.2;
}

.Container #Requirement .TokenName
{
	font-weight: semi-bold;
	color: whitesmoke;
}

.Container #TokensContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: -2px;
}

.OnlyGoldNeeded .Container #Requirement
{
	visibility: collapse;
}

.OnlyGoldNeeded .Container .LineBreak
{
	visibility: collapse;
}

.OnlyGoldNeeded .Container #TokensContainer
{
	visibility: collapse;
}

.OnlyTokensNeeded .Container .GoldRequiredLabel
{
	visibility: collapse;
}

.OnlyTokensNeeded .Container .LineBreak
{
	visibility: collapse;
}

