






 .DemoButton{

  vertical-align: middle;
  tooltip-position: top;
  visibility: collapse;
 }
  .Large .DemoButton{
   border-radius: 3px;
   padding: 10px 28px;
  }
   .Large .DemoButton Label{
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    font-weight: semi-bold;
   }

   .Large .DemoButton Image{
    width: 24px;
    height: 24px;
    margin: 0px 4px;
   }



 #InnerPanel .DemoButton{

  width: 100%;
  vertical-align: top;
 }

 #InnerPanel .DemoArrow{

  visibility: collapse;
 }











 .DemoButton.StartDemo{


  visibility: visible;
 }

 DemoModeButton.GameActive .StartDemo{


  visibility: collapse;
 }

 DemoModeButton.DemoActive .StartDemo{


  visibility: collapse;
 }

 DemoModeButton.DisableDemo .StartDemo{

  visibility: collapse;
 }

 DemoModeButton.GameActive .ReturnToDemo{


  visibility: collapse;
 }

 DemoModeButton.DemoActive .ReturnToDemo{


  visibility: visible;
 }

 DemoModeButton.DemoActive .ReturnToDemo Label{

  color: #c6ffc7;
 }

 DemoModeButton.DemoActive .ReturnToDemo Image{

  wash-color: #c6ffc7;
 }

 DemoModeButton.DisableDemo .ReturnToDemo{

  visibility: collapse;
 }

 DemoModeButton.DemoActive .ReturnToDemo{

     background-color: gradient( linear, 0% 0%, 90% 100%, from( #073c09 ), color-stop( 0.5, #1f7028 ), to( #073c09 ) );
  border: 1px solid #4C9C4F;
 }

 @keyframes 'pulseglow'{

  0%{

   background-color: gradient( linear, 0% 0%, 0% 100%, from( #54921D ), to( #455C12 ) );
  }

  50%{

   background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FBF26 ), to( #64831B ) );
  }

  100%{

   background-color: gradient( linear, 0% 0%, 0% 100%, from( #54921D ), to( #455C12 ) );
  }
}