/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAEventStatus
{
	width: 120px;
	height: 120px;
}

.LevelShieldContainer
{
	horizontal-align: center;
}

.EventLevelParticles
{
	width: 200%;
	height: width-percentage(100%);
	opacity: 0.4;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 5;
	overflow: noclip;
	horizontal-align: center;
	margin-top: -40%;
	blur: gaussian(4px);
}

#LevelShieldProgressBG
{
	margin-left: 1px;
	margin-top: 0px;
	width: 64px;
	height: 64px;
	opacity-mask: url("s2r://panorama/images/events/quartero_fall/polygonscore_progressbar_png.vtex");
	background-color: black;
}

DOTAEventStatus.NoData DOTAEventLevelShield
{
	visibility: collapse;
}

DOTAEventStatus.NoData Panel
{
	visibility: collapse;
}

DOTAEventStatus.NoData #LevelShieldProgressBG
{
	visibility: visible;
}

#LevelShieldProgressLayer1
{
	margin-left: 1px;
	margin-top: 0px;
	width: 64px;
	height: 64px;
	opacity-mask: url("s2r://panorama/images/events/quartero_fall/polygonscore_progressbar_png.vtex");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #af9362 ), to( #af9362) );
}

#LevelShieldProgressLayer2
{
	margin-left: 1px;
	margin-top: 0px;
	width: 64px;
	height: 64px;
	opacity-mask: url("s2r://panorama/images/events/quartero_fall/polygonscore_progressbar_png.vtex");
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #fff3d4 ), to( #f4cf7e) );
	animation-name: BrightnessLoop;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'BrightnessLoop'
{
	0%
	{
		brightness: 1.0;
	}
	
	100%
	{
		brightness: 3.0;
	}
	
}

#TimeLeft
{
	flow-children: down;
	horizontal-align: right;
	visibility: collapse;
}

.EventActive #TimeLeft
{
	visibility: visible;
}

#EventEnded
{
	flow-children: down;
	visibility: collapse;
}

.EventEnded #EventEnded,.EventExpired #EventEnded
{
	visibility: visible;
}

.EndedTitle
{
	color: #FBB3EC;
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.EndedDate
{
	font-size: 16px;
	color: #999;
	margin-top: -1px;
}

.TimeLeftLabels
{
	text-transform: uppercase;
	font-size: 14px;
	horizontal-align: right;
	color: #9BBAB2;
}

#TimeLeftLabel
{
	margin-right: 4px;
}

#TimeLeftDate
{
	color: #E8A6DB;
	text-shadow: 0px 1px 1px 2.0 #000000;
}

#LevelWellContent
{
	width: 500px;
	height: 100px;
	margin-left: 8px;
	flow-children: right;
	vertical-align: middle;
}

#LevelDetails
{
	margin-top: 70px;
	horizontal-align: center;
	flow-children: down;
}

#LevelShieldBurst,#LevelShieldBurstBG
{
	width: 150px;
	height: 150px;
	margin-top: -43px;
	margin-left: -42px;
	margin-right: -143px;
	visibility: collapse;
}

.LevelledUp #LevelShieldBurst,.LevelledUp #LevelShieldBurstBG
{
	visibility: visible;
}

#LevelProgressBar
{
	width: 331px;
	height: 10px;
	vertical-align: bottom;
	border-radius: 2px;
	visibility: collapse;
}

#LevelProgressBar .ProgressBarLeft
{
	background-color: #ffffff33;
}

#LevelProgressBar .ProgressBarMiddle
{
	background-color: #ffffffAA;
}

#LevelProgressBar .ProgressBarRight
{
	background-color: #00000088;
}

#PointsHave
{
	horizontal-align: center;
	font-size: 22px;
	margin-bottom: -2px;
	color: gradient( linear, 0% 20%, 0% 100%, from( #ffef9f ), to( #cb9b34 ) );
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-shadow: 0px 2px 12px black;
}

#PointsNeeded
{
	horizontal-align: center;
	font-size: 14px;
	color: #e4d8bc8b;
	letter-spacing: 1px;
	text-shadow: 0px 2px 12px black;
}


