/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#MainDebugPanel
{
	width: 330px;
	height: fit-children;
	background-color: brown;
	flow-children: down;
}

#HeaderContainer
{
	width: 100%;
	flow-children: none;
}

.DebugCollapseButton
{
	horizontal-align: right;
	margin: 2px;
	width: 24px;
	height: 24px;
	background-color: darkcyan;
}

#TextHeader
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 16px;
	color: white;
}

.DebugButtonContainer
{
	flow-children: right;
}

#MainDebugPanel.Collapsed .DebugButtonContainer
{
	visibility: collapse;
}

.DebugButton
{
	margin: 2px;
	height: 24px;
	width: fill-parent-flow(1.0);
	background-color: darkcyan;
}

.DebugButton:hover,.DebugCollapseButton:hover
{
	brightness: 1.2;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkcyan ), to( blue ) );
}

DOTAWidgetSeasonalEventDebug TextButton Label
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 14px;
	color: white;
	text-overflow: shrink;
}

.DebugMatches,.DebugTimeSpent
{
	width: fill-parent-flow(1.0);
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 14px;
	color: white;
}

.EditMode #EditButton
{
	brightness: 1.5;
}

.SuppressDialog #SuppressDialogButton
{
	background-color: red;
}

.SuppressClaims #SuppressClaimsButton
{
	background-color: red;
}

