/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

DOTAFrontpageFrostivus2023
{
	width: 330px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #080A16 ), to( #002249 ) );
	box-shadow: 0px 6px 48px -4px rgba(0, 0, 0, 0.5);
}

.AsyncPanel
{
	width: 100%;
	height: 100%;
}

.AsyncSuccessContainer
{
	flow-children: down;
}

.EventTile
{
	flow-children: down;
	width: 100%;
	height: 100%;
}

.TileBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/frostivus/2023/event_tile_background_png.vtex");
	background-size: cover;
	background-position: bottom;
}

.TileBackground .BottomSnowOverlay
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #091D3800 ), to( #091D38 ) );
}

.TileBackground .SnowParticles
{
	width: 100%;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;
	transform: translateY( -50% );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 1;
	blur: gaussian( 0.5px );
}

.TileBackground .SnowParticles.Background
{
	blur: gaussian( 4px );
	opacity: 0.2;
}

.TileBackground .MainPreviewRays
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	transform: rotateZ( 50deg ) translate3d( 10%, -35%, 0px ) scale3d(1.2, 1.2, 1);
	hue-rotation: -10deg;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
}

.TileBackground .DateLabel
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 8px;
	opacity: 0.6;
	color: rgba(209, 237, 255, 0.6);
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.TileBackground .BottomBorderPattern
{
	width: 100%;
	vertical-align: bottom;
	opacity: 0;
}

#EventInfoIcon
{
	horizontal-align: right;
	vertical-align: top;
	width: 18px;
	height: width-percentage( 100% );
	margin: 10px;
	wash-color: LightestGrey;
	tooltip-position: left;
	tooltip-body-position: 50% 10%;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

#EventInfoIcon:hover
{
	wash-color: white;
}

.Title
{
	horizontal-align: center;
	margin: 20px 24px 2px 24px;
	height: 31px;
	text-align: center;
	font-family: titleFont;
	font-size: 22px;
	line-height: 1.3;
	color: whitesmoke;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.PanelLabel
{
	text-align: center;
	horizontal-align: center;
	color: #C0DFFF;
	text-shadow: 0px 2px 8px black;
}

.EventDescription
{
	text-align: center;
	horizontal-align: center;
	color: #C0DFFF;
	text-shadow: 0px 2px 8px black;
	line-height: 1.1;
	padding: 0px 8px 8px 8px;
	max-height: 72px;
	text-overflow: shrink;
}

#ProgressPanel
{
	flow-children: down;
	width: 100%;
	margin-bottom: 6px;
}

#NiceRewardContainer
{
	horizontal-align: center;
	overflow: noclip;
	margin-right: 20px;
}

#NiceRewardContainer .NiceRewardImage
{
	width: 140px;
	height: 140px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/econ/tools/frostivus_2023_gift_nice_psd.vtex");
	background-size: 200px 140px;
	background-position: -20px -8px;
	background-repeat: no-repeat;
	animation-name: BobRewardAnimation;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

#NiceRewardContainer .NiceRewardBackground
{
	width: 132px;
	height: 132px;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 16px;
	background-image: url("s2r://panorama/images/events/frostivus/2023/stocking_stuffer_container_png.vtex");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#NiceRewardContainer .NiceRewardBackgroundParticles
{
	width: 100%;
	height: 100%;
	margin-left: 8px;
	hue-rotation: 60deg;
	brightness: 2;
	saturation: 0.8;
	opacity: 0.6;
}

#NiceRewardContainer .BackgroundParticles
{
	width: 100%;
	height: 100%;
	hue-rotation: 80deg;
	saturation: 1.5;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	brightness: 1;
	transform: scale3d( 1.1, 1.1, 1 ) translateX( 15px ) translateY( 18px );
}

#TreasureProgress
{
	width: 100%;
	background-color: #00000000;
	height: 30px;
	border-radius: 0px;
	padding: 0px 24px;
	margin: -6px 0px -8px;
}

#TreasureProgress .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.45, #C5B88E ), color-stop( 0.55, #b59f70 ), to( #E5CD82 ) );
	margin: 12px 0px;
	border-radius: 1px;
	z-index: 1;
	animation-name: GlowProgressBar;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

#TreasureProgress .ProgressBarRight
{
	background-color: rgba(0, 0, 0, 0.8);
	margin: 12px 0px;
	border-radius: 1px;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
}

#RewardsPanel
{
	flow-children: down;
	width: 100%;
	margin-bottom: 12px;
	padding: 0px 24px;
	visibility: visible;
}

.NiceRewardAvailable #RewardsPanel
{
	visibility: collapse;
}

#NiceRewardPanel
{
	flow-children: down;
	width: 100%;
	padding: 6px 24px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #7E9FC800 ), color-stop( 0.3, #7E9FC8 ), color-stop( 0.7, #7E9FC8 ), to( #7E9FC800 ) );
	visibility: collapse;
}

#NiceRewardPanel .NiceRewardDescription
{
	width: 100%;
	text-align: center;
	horizontal-align: center;
	color: #C0DFFF;
	text-shadow: 0px 2px 8px black;
	line-height: 1.1;
}

.NiceRewardAvailable #NiceRewardPanel
{
	visibility: visible;
}

.FrostivusClaimGiftPopup .NiceRewardDescription
{
	font-size: 35px;
}

.RewardsList
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 4px;
}

.TitleContainer
{
	width: 100%;
	flow-children: right;
}

.TitleContainer Label
{
	margin: 0px 8px;
}

.TitleContainer .Dash
{
	width: fill-parent-flow( 1.0 );
	height: 1px;
	vertical-align: center;
	opacity: 0.2;
	background-color: #7E9FC8;
}

.ViewInfoLinkButton
{
	width: 100%;
	padding: 12px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.ViewInfoLinkButton Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #d4faff ), to( #8ea8c5 ) );
}

.ViewInfoLinkButton Image
{
	width: 16px;
	height: 16px;
	vertical-align: center;
	margin-left: 2px;
	wash-color: #8ea8c5;
}

.ViewInfoLinkButton:hover
{
	brightness: 2;
}

.ClaimRewardsButton
{
	width: 100%;
	margin-top: 20px;
	max-width: 300px;
	horizontal-align: center;
	opacity: 0.3;
}

.ClaimRewardsButton Label
{
	font-size: 16px;
}

.ClaimRewardsButton:enabled
{
	opacity: 1;
	background-img-opacity: 0.1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4aaed0 ), to( #2a6598 ) );
	animation-name: GlowClaimButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.ClaimRewardsButton:enabled Label
{
	color: white;
}

.ClaimRewardsButton:enabled:hover
{
	brightness: 1.4;
}

.ClaimRewardsButton:enabled:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4aaed0 ), to( #13426a ) );
	brightness: 0.6;
}

.ClaimRewardsButton:disabled
{
	opacity: 0;
}

.ProgressionLabelContainer
{
	horizontal-align: center;
	flow-children: right;
	visibility: visible;
}

.ProgressionLabelContainer .TreasureProgressLabel
{
	margin: 0px 2px;
	font-size: 24px;
	color: #F1F7FF;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.ProgressionLabelContainer .TreasureProgressLabel.CurrentPoints
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.45, #C5B88E ), color-stop( 0.55, #b59f70 ), to( #E5CD82 ) );
	brightness: 1.5;
}

.BonusProgress
{
	horizontal-align: center;
	margin: -2px 0px 6px;
}

.BonusProgressLabel
{
	font-size: 16px;
	color: #C0DFFF;
	text-shadow: 0px 2px 8px black;
	opacity: 0.9;
	text-align: center;
	height: 21px;
	text-overflow: shrink;
	visibility: collapse;
}

.BonusProgressLabel b
{
	color: white;
}

.BonusProgressLabel .ResetTime
{
	color: white;
}

.BonusProgress__Available .BonusProgressLabel.Available
{
	visibility: visible;
}

.BonusProgress__Half .BonusProgressLabel.Half
{
	visibility: visible;
}

.BonusProgress__Exhausted .BonusProgressLabel.Exhausted
{
	visibility: visible;
}

.TreasureRewardContainer
{
	overflow: noclip;
}

.TreasureRewardContainer .BackgroundParticles
{
	width: 100%;
	height: 100%;
	hue-rotation: 80deg;
	saturation: 1.5;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	brightness: 1;
	transform: scale3d( 1.25, 1.25, 1 ) translateY( -20px );
}

.TreasureReward
{
	width: 136px;
	height: 136px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/events/frostivus/2023/frostivus2023_chest_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.TreasureReward:hover
{
	pre-transform-scale2d: 1.05;
}

.StockingStufferContainer
{
	width: 136px;
	height: 136px;
	vertical-align: center;
	background-image: url("s2r://panorama/images/events/frostivus/2023/stocking_stuffer_container_png.vtex");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
}

.HasExtraReward .StockingStufferContainer
{
	visibility: visible;
}

.RewardCells
{
	flow-children: right;
	horizontal-align: center;
}

.RewardCell
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
}

.Reward
{
	width: 66px;
	height: 66px;
	vertical-align: center;
	horizontal-align: center;
}

.ImageReward
{
	width: 140px;
	height: 140px;
	vertical-align: center;
}

.EconItemReward
{
	width: 80px;
	height: 80px;
}

.EconItemReward .EconItemReward_Image
{
	box-shadow: none;
}

.ChatwheelReward
{
	overflow: noclip;
	width: 90px;
	height: 90px;
}

#ChatWheelScaleContainer
{
	ui-scale: 200%;
	width: 90px;
	height: 90px;
	vertical-align: center;
	horizontal-align: center;
}

#ChatWheelMessages
{
	transform: scale3d(0.5, 0.5, 1 );
}

.EmoticonReward_Emoticon
{
	width: 100%;
	height: 100%;
}

.DebugUI
{
	vertical-align: top;
	horizontal-align: left;
	margin: 10px;
	opacity: 0.6;
	flow-children: right;
	visibility: collapse;
}

.MainBranch .DebugUI
{
	visibility: visible;
}

.DebugEnabled .DebugUI
{
	width: 100%;
	opacity: 1;
	background-color: #000000f0;
}

.DebugButton
{
	background-image: url("s2r://panorama/images/topbar/bug_png.vtex");
	background-size: contain;
	vertical-align: center;
	min-width: 15px;
	min-height: 15px;
}

.DebugEnabled .DebugButton
{
	background-color: LightGreyGradientBackgroundColor;
	border: 1px solid white;
	border-brush: WhiteGradientBorderSoft;
	background-image: none;
}

.DebugButtonState
{
	visibility: collapse;
}

.DebugEnabled .DebugButtonState
{
	visibility: visible;
}

.ShowIfDebugActive
{
	margin-left: 15px;
	visibility:collapse;
}

.DebugEnabled .ShowIfDebugActive
{
	visibility:visible;
}

.DebugLabel
{
	color:white;
	vertical-align: center;
}

@keyframes 'GlowProgressBar'
{
	0%
	{
		box-shadow: 0px 0px 24px #FFDA9211;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 24px #FFDA9244;
		brightness: 1.5;
	}
	
}

@keyframes 'GlowClaimButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'BobRewardAnimation'
{
	0%
	{
		brightness: 1;
		transform: translateY( -2px );
	}
	
	100%
	{
		brightness: 1.5;
		transform: translateY( 2px );
	}
	
}

#FrostivusClaimGiftPopup
{
	vertical-align: center;
	horizontal-align: center;
	min-width: 600px;
	margin-bottom: 200px;
}

