DOTAMuertaOfrendaPage{
  width: 100%;
  height: 100%;
  flow-children: none;
  opacity: 1.0;

  wash-color: #000000DD;
  transition-property: wash-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

 .OnHomePage DOTAMuertaOfrendaPage{
  width: 100%;
  height: 100%;
  flow-children: none;
  opacity: 1.0;
  wash-color: #00000000;
 }

 #OfrendaBackgroundImage{
  width: 100%;
  height: 100%;
  opacity: 1;
 }

 .OnHomePage #OfrendaBackgroundImage{
  opacity: 0;
 }

 #OfrendaModelContainer{
  width: 100%;
  height: 100%;
 }

 #OfrendaModelBackground{
  transform: scaleX(1);
  width: 100%;
  height: 100%;
  pre-transform-scale2d: 1;
  vertical-align: middle;
  horizontal-align: center;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  brightness: 1;
  contrast: 1;
  saturation: 1;
  blur: gaussian( 0 );
  wash-color: none;
  transition-property: opacity, wash-color, saturation, contrast;
  transition-duration: 2s;
  transition-timing-function: ease-in;
 }





 .CloseButton{
  horizontal-align: right;
  width: 48px;
  height: 48px;
  margin-top: 64px;
  margin-right: 32px;
  wash-color: #fff;
  background-color: #00000000;
  background-size: 50%;
  width: 48px;
  height: 48px;
  transition-property: background-size, transform;
  transition-duration: 1.0s;
  transition-timing-function: ease-in-out;
 }

 .FullscreenPage .CloseButton{
  transform: translateY( -32px );
 }

 .CloseButton:hover{
  background-size: 36px;
 }

 #OfrendaMainContainer{
  width: 100%;
  height: 100%;
  wash-color: #000;
  transition-property: wash-color;
  transition-duration: 2.0s;
  transition-timing-function: ease-in;
 }

 #OfrendaMainContainer.Initialize{
  wash-color: #fff;
  transition-duration: 0.2s;
 }

 .CalaveraTip{
  width: 200px;
  height: 80px;

  opacity: 1;

  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
 }
  .CalaveraTip.Hidden{
   opacity: 0;
   transform: translateY(15px);
  }

  .CalaveraTip Label{
   color: #bfffea;
   color: gradient( linear, 0% 0%, 0% 100%, from( #bfffea ), to( #fff ) );
   font-family: titleFont;
   font-size: 24px;
   line-height: 1.1;
   text-shadow: 0px 0px 12px #00FFAA66;
   font-weight: semi-bold;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 1px;
   margin: 0px 4px;
   padding: 0px 0px 0px 0px;
   text-overflow: clip;
   text-align: center;
  }


 #CalaveraTip1{
  margin-left: 25%;
  margin-top: 50%;
 }

 #CalaveraTip2{
  margin-left: 40%;
  margin-top: 43%;
 }

 #CalaveraTip3{
  margin-left: 57%;
  margin-top: 50%;
 }

 #CalaveraTip4{
  margin-left: 70%;
  margin-top: 47%;
 }

 .AspectRatio16x10 #CalaveraTip4{
  margin-left: 66%;
  margin-top: 47%;
 }

 .AspectRatio21x9 #CalaveraTip1{
  margin-left: 30%;
 }

 .AspectRatio21x9 #CalaveraTip2{
  margin-left: 42%;
 }

 .AspectRatio21x9 #CalaveraTip4{
  margin-left: 68%;
 }

 .Collapse{
  visibility: collapse;
}