/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#ModelContainer
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	background-color: gradient( linear, 0% 40%, 0% 100%, from( #151610 ), color-stop( 0.7, #0d2a31 ), to( #06231f ) );
}

#OverlayButtons
{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	horizontal-align: center;
}

#OverlayButtons #Frogling1
{
	width: 250px;
	height: 250px;
	margin-top: 350px;
}

#OverlayButtons #Frogling2
{
	width: 280px;
	height: 250px;
	margin-top: 600px;
	margin-left: 120px;
}

#OverlayButtons #Frogling3
{
	width: 320px;
	height: 320px;
	margin-top: 450px;
	margin-left: 780px;
}

#OverlayButtons #Largo
{
	width: 380px;
	height: 720px;
	margin-top: 80px;
	margin-left: 400px;
}

#ModelContainer.Initialize
{
	opacity: 1;
	transition-duration: 0s;
}

.PageShadow
{
	height: 100%;
	width: 15%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #06070a ), color-stop(0.35, #06070ad2 ), color-stop(0.7, #06070a6e ), to( #06070a00 ) );
	opacity: 0;
}

.PageShadow.Right
{
	transform: scaleX( -1 );
	horizontal-align: right;
}

.AspectRatio21x9 .PageShadow
{
	opacity: 0.5;
}

#ModelBackground
{
	transform: scaleX(1);
	width: 100%;
	height: 100%;
	max-width: 1920px;
	pre-transform-scale2d: 1;
	vertical-align: middle;
	horizontal-align: center;
	contrast: 1.03;
	transition-property: opacity, wash-color, saturation, contrast;
	transition-duration: 0.0s;
	transition-timing-function: ease-in;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.AspectRatio21x9 #ModelBackground
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.05, #FFFFFF ), color-stop( 0.8, #FFFFFF ), to( #FFFFFF00 ) );
}

#ModelBackground.Initialize
{
	saturation: 1;
	contrast: 1;
	opacity: 1;
	transition-duration: 0s;
}

#DebutInformation
{
	width: 700px;
	height: fit-children;
	opacity: 0;
	margin: 15px 140px 55px 0px;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: ease-in;
	horizontal-align: right;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/leaf_pages/debut_bard/debut_bg_psd.vtex");
	background-size: 675px 780px;
	background-position: center bottom;
	background-repeat: no-repeat;
	transition-duration: 2s;
	transition-delay: 0.6s;
	overflow: noclip;
}

.AspectRatio16x10 #DebutInformation
{
	margin: 15px 70px 55px 0px;
}

.AspectRatio21x9 #DebutInformation
{
	margin: 15px 220px 55px 0px;
}

#DebutInformation.Initialize
{
	opacity: 1;
	transition-duration: 0s;
}

#InformationBackground
{
	width: 100%;
	height: 100%;
}

#ScrollPanel
{
	width: 540px;
	height: 550px;
	overflow: clip scroll;
	z-index: 10;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_vertical_vscroll_wide_psd.vtex");
	vertical-align: top;
}

#InformationBody
{
	padding: 50px 0px;
	horizontal-align: center;
	z-index: 10;
	opacity: 1;
	flow-children: down;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	overflow: noclip;
}

#InformationBodyBackground
{
	width: 800px;
	height: 474px;
	transition-property: opacity;
	transition-duration: 3s;
	transition-timing-function: ease-in;
	transition-delay: 1s;
	opacity: 0;
	overflow: noclip;
}

#ItemName
{
	font-size: 80px;
	letter-spacing: 3px;
	text-overflow: shrink;
	text-align: left;
	vertical-align: bottom;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #EFAEF0 ), to( #fff ) );
	text-shadow: 1px 1px 12px 3.0 #B507DC;
	opacity: 0;
	margin-top: 0px;
	letter-spacing: 6px;
	width: 100%;
}

#ItemName,#InnerPanel
{
	opacity: 0;
	margin-top: 36px;
	transition-property: opacity;
	transition-duration: 0.0s;
	transition-timing-function: ease-in-out;
}

.CloseButton
{
	horizontal-align: right;
	width: 48px;
	height: 48px;
	margin-top: 64px;
	margin-right: 32px;
	wash-color: #fff;
	background-color: #00000000;
	background-size: 50%;
	width: 48px;
	height: 48px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/close_png.vtex");
	background-size: 32px;
	transition-property: background-size, transform;
	transition-duration: 1.0s;
	transition-timing-function: ease-in-out;
}

.FullscreenPage .CloseButton
{
	transform: translateY( -32px );
}

.CloseButton:hover
{
	background-size: 36px;
}

#HeroLore
{
	font-size: 16px;
	font-family: radiance;
	font-weight: normal;
	line-height: 27px;
	margin: 30px 10px 10px 0px;
	color: #fadb98;
	horizontal-align: center;
	text-shadow: 0 2px 2px #000;
}

#ItemLore
{
	font-size: 12px;
	font-family: titleFont;
	font-weight: normal;
	margin: 30px 10px 10px 0px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgb(231, 218, 198);
	horizontal-align: center;
	text-shadow: 0 2px 2px #000;
}

#ItemName.Initialize,#InnerPanel.Initialize,#ItemLore.Initialize
{
	opacity: 1;
	transition-duration: 0s;
}

#TitleContainer
{
	width: 100%;
	horizontal-align: center;
	transition-property: hue-rotation, wash-color, saturation;
	transition-duration: .1s;
	transition-timing-function: ease-in-out;
	flow-children: down;
}

#HeroSubtitle
{
	margin-top: 10px;
	text-shadow: 0 2px 2px #000;
	margin-bottom: 20px;
	flow-children: right;
	horizontal-align: center;
}

#AttackType
{
	color: #ccc;
	margin-right: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.RolesContainer
{
	width: 400px;
	height: 54px;
	flow-children: right;
}

.RoleLabel
{
	font-size: 15px;
	font-family: titleFont;
	font-weight: semi-bold;
	margin: 0px 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: rgb(231, 218, 198);
}

#Ranged
{
	color: #ffffff;
}

.AttributeComplexityContainer
{
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	padding-bottom: 20px;
}

.AttributeComplexityContainer .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #CEA25A00 ), color-stop( 0.4, #CEA25A ), color-stop( 0.6, #CEA25A ), to( #CEA25A00 ) );
	vertical-align: center;
	margin: 0px 12px;
	opacity: 0.2;
}

.AttributeComplexityContainer .Dash.Left
{
	transform: scaleX( -1 );
}

.AttributeComplexityContainer .PrimaryAttribute
{
	vertical-align: center;
	margin-right: 10px;
}

.AttributeComplexityContainer .HeroComplexity
{
	flow-children: right;
	vertical-align: center;
}

.AttributeComplexityContainer .HeroComplexity .HeroComplexityPip
{
	width: 20px;
	height: 20px;
	margin-right: 3px;
	vertical-align: center;
	wash-color: rgb(239, 240, 241);
}

#AbilityIcons,#UltiPlaylistIcons
{
	flow-children: right;
	horizontal-align: center;
}

#AbilityIcons > DOTAAbilityImage,#UltiPlaylistIcons > DOTAAbilityImage
{
	width: 55px;
	height: 55px;
	padding: 0px 0px 0px 0px;
	margin-right: 10px;
	img-shadow: 1px 1px 15px 6.0 #2d2d2d05;
}

#UltiPlaylistHeader
{
	margin-top: 25px;
	margin-bottom: 15px;
	flow-children: right;
	horizontal-align: center;
}

#UltiPlaylistLabel
{
	font-size: 10px;
	font-family: titleFont;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: rgb(231, 218, 198);
	horizontal-align: center;
	text-shadow: 0 2px 2px #000;
}

#InnateAbility
{
	width: 55px;
	height: 55px;
	wash-color: #fff4d2;
	margin-right: 15px;
	tooltip-position: bottom;
	tooltip-body-position: 100%;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	background-size: 100%;
	background-size: 46px 46px;
	background-position: center center;
}

.InnateIcon
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/hud/facets/innate_icon_large_png.vtex");
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 1px 1px 15px 5.0 #2d2d2d05;
}

.Small .InnateIcon
{
	background-image: url("s2r://panorama/images/hud/facets/innate_icon_png.vtex");
}

.HeroBackgroundImage
{
	width: 100%;
	height: 100%;
	background-size: cover;
	blur: gaussian( 8px );
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	brightness: 0.5;
	saturation: 0.9;
}

#Talent
{
	width: 55px;
	height: 55px;
	wash-color: #fff4d2;
	margin-left: 12px;
	tooltip-position: bottom;
	tooltip-body-position: 100%;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	img-shadow: 1px 1px 15px 5.0 #2d2d2d05;
	background-size: 100%;
	background-size: 46px 46px;
	background-position: center center;
}

#ScepterDetails
{
	width: 55px;
	height: 55px;
	wash-color: #fff4d2;
	margin-left: 12px;
	tooltip-position: bottom;
	tooltip-body-position: 100%;
	transition-property: wash-color;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	img-shadow: 2px 2px 15px 5.0 #2d2d2d05;
	border-radius: 0px;
	background-size: 100%;
	background-size: 46px 46px;
	background-position: center center;
}

.ScepterDetails:hover
{
	background-image: url("s2r://panorama/images/hud/reborn/aghs_on_large_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

VerticalScrollBar .ScrollThumb
{
	background-color: #47353588;
}

VerticalScrollBar:hover .ScrollThumb,VerticalScrollBar:active .ScrollThumb
{
	background-color: #50445288;
}

#MainContainer
{
	width: 100%;
	height: 100%;
}

#Intro
{
	color: #d9e8e7;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
	horizontal-align: center;
	margin-left: 0;
}

#DebutInformation.Initialize #Intro
{
	color: #d9e8e7;
}

#HeroButtons
{
	margin-bottom: 10px;
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 0px 16px;
}

#DemoButtons
{
	flow-children: right;
	margin-left: -12px;
	horizontal-align: center;
	height: 40px;
}

#ToNextHero
{
	width: 100%;
}

#ToNextHero Label
{
	width: 100%;
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 2px;
	margin-top: 24px;
}

#ToNextHero Label:hover
{
	brightness: 2.0;
}

#DemoHeroButton
{
	width: fit-children;
	vertical-align: top;
	margin-right: 12px;
	box-shadow: fill #00000050 1px 0px 1px 0px;
}

#ToLoadout
{
	font-size: 16px;
	margin-right: 0;
	box-shadow: fill #00000090 1px 0px 1px 4px;
}

#ToLoadout Label
{
	font-size: 18px;
	vertical-align: middle;
}

#LogoFull
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_bard/frog_logo_en_psd.vtex");
	img-shadow: 2px 2px 20px 6.0 #2d2d2d05;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 800px;
	height: 285px;
	margin-left: -30px;
	margin-top: -10px;
	horizontal-align: middle;
	z-index: 8;
}

.Language_schinese #LogoFull
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_bard/frog_logo_cn_psd.vtex");
}

.Title
{
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 130%;
	height: 220px;
	border: 1px solid red;
	opacity: 0;
	horizontal-align: center;
}

#Video1
{
	max-width: 97%;
	height: 240px;
	margin-bottom: 20px;
	horizontal-align: center;
}

.Language_schinese .Title
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_persona_pudge/pudge_title_zn_psd.vtex");
}

.SwapStyle
{
	width: 300px;
	height: 300px;
	vertical-align: bottom;
	horizontal-align: right;
	padding: 50px;
	margin: 50px;
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 1.0;
	transition-property: opacity, brightness;
	transition-duration: 1.0s, 0.2s;
}

.SwapStyle.Initialize
{
	transition-property: opacity, brightness;
	transition-duration: 0.2s, 0.2s;
}

.DashboardPage:not(.ShowingAlternateStyle) #DefaultStyleButton
{
	opacity: 0;
}

.DashboardPage.ShowingAlternateStyle #DefaultStyleButton.Initialize,.DashboardPage:not(.ShowingAlternateStyle) #AlternateStyleButton.Initialize
{
	opacity: 1.0;
}

.SwapStyle Label
{
	horizontal-align: center;
	vertical-align: bottom;
	font-size: 20px;
	color: #ffffff;
	text-shadow: 2px 0px 8px 10 rgba(0,0,0,0.4);
	letter-spacing: 8px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	brightness: 1;
	transition-property: text-shadow;
	transition-duration: 0.1s;
	text-align: center;
	font-family: titleFont;
	font-style: normal;
	font-weight: bold;
}

.SwapStyle:hover Label
{
	color: rgb(255, 255, 255);
	brightness: 1;
}

.SwapStyle:hover
{
	brightness: 1.5;
}

#DefaultStyleButton
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
}

#AlternateStyleButton
{
	background-image: url("s2r://panorama/images/compendium/international2020/wriath_king_arcana/seal-solo_png.vtex");
}

.PurchaseButton
{
	width: 308px;
	height: 49px;
	box-shadow: #27110250 6px 0px 12px ;
}

.BattlePassButton
{
	visibility: collapse;
	padding: 8px 18px 8px 18px;
	border-top: 1px solid #999999;
	margin-right: 10px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #333333 ), to( #3A1803 ) );
	transition-property: background-color;
	transition-duration: .2s;
	width: 236px;
	height: 49px;
	box-shadow: #27110250 6px 0px 12px ;
}

.SelfEventNotActive .BattlePassButton
{
	visibility: visible;
}

.BuyBattlePassButton
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
	border-top: 1px solid #D9B863;
	box-shadow: 0px 0px 20px #D9B86320;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E8CF8D ), to( #503712 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #B28948 ), to( #3A1803 ) );
}

.BuyBattlePassButton:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(243, 181, 82) ), to( rgb(160, 75, 23) ) );
}

.BuyBattlePassButton Label
{
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	vertical-align: middle;
	text-shadow: 0px 2px 2px 1.0 #000000;
	text-align: center;
	horizontal-align: center;
}

.Bullet
{
	vertical-align: top;
	margin-top: 9px;
	background-color: #dfc476;
}

.BulletList
{
	max-width: 500px;
	margin-left: 25px;
	margin-right: 24px;
}

.BulletList Label
{
	font-size: 16px;
	margin-bottom: 6px;
	max-width: 100%;
	color: #c2bbb1;
}

.bullettitle
{
	text-transform: uppercase;
	letter-spacing: 0px;
	width: 100%;
	margin-bottom: 4px;
	color: #d9e8e7;
	font-family: titleFont;
	font-size: 16px;
	font-weight: semi-bold;
}

.BulletDesc
{
	flow-children: down;
	margin-bottom: 12px;
}

.BulletDesc .Bullet
{
	margin-top: 5px;
}

.BulletBold
{
	font-weight: bold;
}

#HeroPortrait
{
	width: 95px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_persona_dk/portrait_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
	margin-right: 12px;
	margin-bottom: 12px;
}

#HeroIcons
{
	width: 120px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_persona_dk/hero_icon_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
	background-repeat: no-repeat;
	margin-right: 12px;
}

#HeroAbilities
{
	width: 182px;
	height: 120px;
	background-image: url("s2r://panorama/images/leaf_pages/debut_persona_dk/ability_icons_png.vtex");
	background-position: 0% 0%;
	background-size: 100%;
	vertical-align: top;
	background-repeat: no-repeat;
}

#ESImages
{
	flow-children: right;
}

#ControlButtonsContainer
{
	width: 200px;
	height: 500px;
	vertical-align: top;
	flow-children: down;
	visibility: collapse;
}

.MainBranch #ControlButtonsContainer
{
	visibility: visible;
}

#ControlButtonsContainer.Hide
{
	opacity: 0;
}

#ControlButtonsContainer .ButtonBevel
{
	width: 300px;
	height: 50px;
}

DOTAPurchaseBattlePassReward.RewardClaimed
{
	visibility: collapse;
}

.DefaultButton
{
	padding: 0px 20px 0px 20px;
	margin: 0px 0px;
	background-color: #00000044;
	border: 1px solid #cc9d45;
	border-radius: 4px;
	transition-property: background-color;
	transition-duration: .2s;
	flow-children: right;
	height: 100%;
	height: 35px;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.DefaultButton Label
{
	font-size: 16px;
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #f8d9a0;
	vertical-align: middle;
}

.DefaultButton:hover
{
	brightness: 3.0;
	background-color: #718D9F05;
}

#MovieContainer
{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
}

#MovieContainer.MovieFinished
{
	opacity: 0;
}

#LargoDebutMovie
{
	vertical-align: middle;
	horizontal-align: center;
	width: 100%;
	height: width-percentage( 56.25% );
	max-width: 1920px;
}

