@define calaveraBgColor: #F8C57A;
@define calaveraFgColor: #310E27;
@define calaveraFlamesWashColor: #0F5F4A55;

DOTAPopupMuertaCalavera.PopupPanel {
	width: 100%;
	height: 100%;
	padding: 0px;
	flow-children: none;
	border: 0px;
	box-shadow: none;
	background-color: #FFFFFF00;
}

DOTAPopupMuertaCalavera.PopupPanel.Hidden {
	sound: "";
}

.Contents {
	width: 100%;
	height: 100%;
}

#ParticleFXContainer {
	width: 100%;
	height: 100%;
}

.CalaveraFX {
	width: fill-parent-flow( 1.0 );
	height: 100%;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.5s;
	&.Hidden {
		opacity: 0;
	}
}

#CalaveraImageContainer {
	width: 1600px;
	height: 900px;
	flow-children: none;
	transform: rotateX( 3deg ) rotateY( 0deg ) rotateZ( 0deg );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;

	  
	                               
	                     
	                        
	                                    
	                                  
	  
}

#CalaveraImageGlow {
	horizontal-align: center;
	vertical-align: center;
	width: 101.5%;
	height: 101.5%;
	background-repeat: no-repeat;
	background-size: 96.5%;
	background-position: center;
	background-image: url( "file://{images}/events/muerta/calaveras/calavera_glow.png" );
	blur: gaussian( 12 );
	wash-color: #00FFAA;
	opacity: 0.25;
	animation-name: Glow;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

#CalaveraImage {
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 99.5%;
	background-position: center;
}

.CalaveraImagePage1 {
	background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_01_english.png" );
	sound: "ui_calavera_slide_in";
}

.CalaveraImagePage2 {
	background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_02_english.png" );
	sound: "ui_calavera_slide_in";
}

.CalaveraImagePage3 {
	background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_03_english.png" );
	sound: "ui_calavera_slide_in";
}

.CalaveraImagePage4 {
	background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_04_english.png" );
	sound: "ui_calavera_slide_in";
}

.Language_brazilian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/brazilian/muerta_01_brazilian.png" );
}
.Language_brazilian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/brazilian/muerta_02_brazilian.png" );
}
.Language_brazilian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/brazilian/muerta_03_brazilian.png" );
}
.Language_brazilian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/brazilian/muerta_04_brazilian.png" );
}
.Language_bulgarian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/bulgarian/muerta_01_bulgarian.png" );
}
.Language_bulgarian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/bulgarian/muerta_02_bulgarian.png" );
}
.Language_bulgarian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/bulgarian/muerta_03_bulgarian.png" );
}
.Language_bulgarian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/bulgarian/muerta_04_bulgarian.png" );
}
.Language_czech .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/czech/muerta_01_czech.png" );
}
.Language_czech .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/czech/muerta_02_czech.png" );
}
.Language_czech .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/czech/muerta_03_czech.png" );
}
.Language_czech .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/czech/muerta_04_czech.png" );
}
.Language_danish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/danish/muerta_01_danish.png" );
}
.Language_danish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/danish/muerta_02_danish.png" );
}
.Language_danish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/danish/muerta_03_danish.png" );
}
.Language_danish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/danish/muerta_04_danish.png" );
}
.Language_dutch .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/dutch/muerta_01_dutch.png" );
}
.Language_dutch .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/dutch/muerta_02_dutch.png" );
}
.Language_dutch .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/dutch/muerta_03_dutch.png" );
}
.Language_dutch .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/dutch/muerta_04_dutch.png" );
}
.Language_english .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_01_english.png" );
}
.Language_english .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_02_english.png" );
}
.Language_english .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_03_english.png" );
}
.Language_english .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/english/muerta_04_english.png" );
}
.Language_finnish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/finnish/muerta_01_finnish.png" );
}
.Language_finnish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/finnish/muerta_02_finnish.png" );
}
.Language_finnish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/finnish/muerta_03_finnish.png" );
}
.Language_finnish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/finnish/muerta_04_finnish.png" );
}
.Language_french .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/french/muerta_01_french.png" );
}
.Language_french .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/french/muerta_02_french.png" );
}
.Language_french .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/french/muerta_03_french.png" );
}
.Language_french .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/french/muerta_04_french.png" );
}
.Language_german .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/german/muerta_01_german.png" );
}
.Language_german .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/german/muerta_02_german.png" );
}
.Language_german .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/german/muerta_03_german.png" );
}
.Language_german .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/german/muerta_04_german.png" );
}
.Language_greek .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/greek/muerta_01_greek.png" );
}
.Language_greek .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/greek/muerta_02_greek.png" );
}
.Language_greek .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/greek/muerta_03_greek.png" );
}
.Language_greek .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/greek/muerta_04_greek.png" );
}
.Language_hungarian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/hungarian/muerta_01_hungarian.png" );
}
.Language_hungarian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/hungarian/muerta_02_hungarian.png" );
}
.Language_hungarian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/hungarian/muerta_03_hungarian.png" );
}
.Language_hungarian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/hungarian/muerta_04_hungarian.png" );
}
.Language_italian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/italian/muerta_01_italian.png" );
}
.Language_italian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/italian/muerta_02_italian.png" );
}
.Language_italian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/italian/muerta_03_italian.png" );
}
.Language_italian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/italian/muerta_04_italian.png" );
}
.Language_japanese .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/japanese/muerta_01_japanese.png" );
}
.Language_japanese .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/japanese/muerta_02_japanese.png" );
}
.Language_japanese .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/japanese/muerta_03_japanese.png" );
}
.Language_japanese .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/japanese/muerta_04_japanese.png" );
}
.Language_koreana .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/korean/muerta_01_korean.png" );
}
.Language_koreana .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/korean/muerta_02_korean.png" );
}
.Language_koreana .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/korean/muerta_03_korean.png" );
}
.Language_koreana .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/korean/muerta_04_korean.png" );
}
.Language_latam .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/latam/muerta_01_latam.png" );
}
.Language_latam .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/latam/muerta_02_latam.png" );
}
.Language_latam .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/latam/muerta_03_latam.png" );
}
.Language_latam .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/latam/muerta_04_latam.png" );
}
.Language_norwegian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/norwegian/muerta_01_norwegian.png" );
}
.Language_norwegian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/norwegian/muerta_02_norwegian.png" );
}
.Language_norwegian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/norwegian/muerta_03_norwegian.png" );
}
.Language_norwegian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/norwegian/muerta_04_norwegian.png" );
}
.Language_polish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/polish/muerta_01_polish.png" );
}
.Language_polish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/polish/muerta_02_polish.png" );
}
.Language_polish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/polish/muerta_03_polish.png" );
}
.Language_polish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/polish/muerta_04_polish.png" );
}
.Language_portuguese .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/portuguese/muerta_01_portuguese.png" );
}
.Language_portuguese .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/portuguese/muerta_02_portuguese.png" );
}
.Language_portuguese .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/portuguese/muerta_03_portuguese.png" );
}
.Language_portuguese .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/portuguese/muerta_04_portuguese.png" );
}
.Language_romanian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/romanian/muerta_01_romanian.png" );
}
.Language_romanian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/romanian/muerta_02_romanian.png" );
}
.Language_romanian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/romanian/muerta_03_romanian.png" );
}
.Language_romanian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/romanian/muerta_04_romanian.png" );
}
.Language_russian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/russian/muerta_01_russian.png" );
}
.Language_russian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/russian/muerta_02_russian.png" );
}
.Language_russian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/russian/muerta_03_russian.png" );
}
.Language_russian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/russian/muerta_04_russian.png" );
}
.Language_schinese .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/schinese/muerta_01_schinese.png" );
}
.Language_schinese .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/schinese/muerta_02_schinese.png" );
}
.Language_schinese .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/schinese/muerta_03_schinese.png" );
}
.Language_schinese .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/schinese/muerta_04_schinese.png" );
}
.Language_spanish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/spanish/muerta_01_spanish.png" );
}
.Language_spanish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/spanish/muerta_02_spanish.png" );
}
.Language_spanish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/spanish/muerta_03_spanish.png" );
}
.Language_spanish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/spanish/muerta_04_spanish.png" );
}
.Language_swedish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/swedish/muerta_01_swedish.png" );
}
.Language_swedish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/swedish/muerta_02_swedish.png" );
}
.Language_swedish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/swedish/muerta_03_swedish.png" );
}
.Language_swedish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/swedish/muerta_04_swedish.png" );
}
.Language_tchinese .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/tchinese/muerta_01_tchinese.png" );
}
.Language_tchinese .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/tchinese/muerta_02_tchinese.png" );
}
.Language_tchinese .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/tchinese/muerta_03_tchinese.png" );
}
.Language_tchinese .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/tchinese/muerta_04_tchinese.png" );
}
.Language_thai .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/thai/muerta_01_thai.png" );
}
.Language_thai .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/thai/muerta_02_thai.png" );
}
.Language_thai .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/thai/muerta_03_thai.png" );
}
.Language_thai .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/thai/muerta_04_thai.png" );
}
.Language_turkish .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/turkish/muerta_01_turkish.png" );
}
.Language_turkish .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/turkish/muerta_02_turkish.png" );
}
.Language_turkish .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/turkish/muerta_03_turkish.png" );
}
.Language_turkish .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/turkish/muerta_04_turkish.png" );
}
.Language_ukrainian .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/ukrainian/muerta_01_ukrainian.png" );
}
.Language_ukrainian .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/ukrainian/muerta_02_ukrainian.png" );
}
.Language_ukrainian .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/ukrainian/muerta_03_ukrainian.png" );
}
.Language_ukrainian .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/ukrainian/muerta_04_ukrainian.png" );
}
.Language_vietnamese .CalaveraImagePage1 {
        background-image: url( "file://{images}/events/muerta/calaveras/vietnamese/muerta_01_vietnamese.png" );
}
.Language_vietnamese .CalaveraImagePage2 {
        background-image: url( "file://{images}/events/muerta/calaveras/vietnamese/muerta_02_vietnamese.png" );
}
.Language_vietnamese .CalaveraImagePage3 {
        background-image: url( "file://{images}/events/muerta/calaveras/vietnamese/muerta_03_vietnamese.png" );
}
.Language_vietnamese .CalaveraImagePage4 {
        background-image: url( "file://{images}/events/muerta/calaveras/vietnamese/muerta_04_vietnamese.png" );
}

.CloseButton {
	horizontal-align: right;
	width: 48px;
	height: 48px;
	margin-top: 24px;
	margin-right: 24px;
	img-shadow: 0px 0px 8px 1.0 #00FFAA33;
	wash-color: #8BFFD8;
	brightness: 2;
	background-color: #00000000;
	background-size: 50%;
	width: 48px;
	height: 48px;
	background-image: url("file://{images}/leaf_pages/debut_arcana_wraith_king/close.png");
	background-size: 32px;
	transition-property: background-size, transform;
	transition-duration: 1.0s;
	transition-timing-function: ease-in-out;
}

.CloseButton:active {
	sound: "ui_calavera_slide_out";
}

.CloseButton:Hover {
	img-shadow: 0px 0px 8px 1.0 #00FFAA33;
	wash-color: #8BFFD8;
	brightness: 4;
}

#LeftArrow,
#RightArrow {
	width: 96px;
	height: 96px;
	vertical-align: middle;
	opacity: 1.0;

	.ArrowImage {	
		width: 80px;
		height: 80px;
		vertical-align: middle;
		horizontal-align: center;
	
		img-shadow: 0px 0px 8px 1.0 #00FFAA33;
		wash-color: #8BFFD8;
		brightness: 2;

		transition-property: transform;
		transition-duration: 0.05s;
		transition-timing-function: ease-in-out;
	}
}

#RightArrow:hover {
	brightness: 2;

	.ArrowImage{
		transform: translateX(8px);
	}
}

#LeftArrow:hover {
	brightness: 2;

	.ArrowImage{
		transform: translateX(8px);
	}
}

#LeftArrow {
	pre-transform-rotate2d: 180deg;
	transform: translateX(32px);
}

#LeftArrow.Disabled {
	opacity: 0;
}

#RightArrow {
	horizontal-align: right;
	transform: translateX(-32px);
}

#RightArrow.Disabled {
	opacity: 0;
}

.FlameReveal {
	&.Frame000 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/000.png" );
	}

	&.Frame001 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/001.png" );
	}

	&.Frame002 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/002.png" );
	}

	&.Frame003 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/003.png" );
	}

	&.Frame004 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/004.png" );
	}

	&.Frame005 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/005.png" );
	}

	&.Frame006 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/006.png" );
	}

	&.Frame007 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/007.png" );
	}

	&.Frame008 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/008.png" );
	}

	&.Frame009 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/009.png" );
	}

	&.Frame010 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/010.png" );
	}

	&.Frame011 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/011.png" );
	}

	&.Frame012 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/012.png" );
	}

	&.Frame013 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/013.png" );
	}

	&.Frame014 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/014.png" );
	}

	&.Frame015 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/015.png" );
	}

	&.Frame016 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/016.png" );
	}

	&.Frame017 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/017.png" );
	}

	&.Frame018 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/018.png" );
	}

	&.Frame019 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/019.png" );
	}

	&.Frame020 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/020.png" );
	}

	&.Frame021 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/021.png" );
	}

	&.Frame022 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/022.png" );
	}

	&.Frame023 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/023.png" );
	}

	&.Frame024 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/024.png" );
	}

	&.Frame025 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/025.png" );
	}

	&.Frame026 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/026.png" );
	}

	&.Frame027 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/027.png" );
	}

	&.Frame028 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/028.png" );
	}

	&.Frame029 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/029.png" );
	}

	&.Frame030 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/030.png" );
	}

	&.Frame031 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/031.png" );
	}

	&.Frame032 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/032.png" );
	}

	&.Frame033 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/033.png" );
	}

	&.Frame034 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/034.png" );
	}

	&.Frame035 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/035.png" );
	}

	&.Frame036 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/036.png" );
	}

	&.Frame037 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/037.png" );
	}

	&.Frame038 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/038.png" );
	}

	&.Frame039 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/039.png" );
	}

	&.Frame040 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/040.png" );
	}

	&.Frame041 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/041.png" );
	}

	&.Frame042 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/042.png" );
	}

	&.Frame043 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/043.png" );
	}

	&.Frame044 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/044.png" );
	}

	&.Frame045 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/045.png" );
	}

	&.Frame046 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/046.png" );
	}
	
	&.Frame047 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/047.png" );
	}

	&.Frame048 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/048.png" );
	}

	&.Frame049 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/049.png" );
	}

	&.Frame050 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/050.png" );
	}

	&.Frame051 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/051.png" );
	}

	&.Frame052 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/052.png" );
	}

	&.Frame053 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/053.png" );
	}

	&.Frame054 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/054.png" );
	}

	&.Frame055 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/055.png" );
	}

	&.Frame056 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/056.png" );
	}

	&.Frame057 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/057.png" );
	}

	&.Frame058 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/058.png" );
	}

	&.Frame059 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/059.png" );
	}

	&.Frame060 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/060.png" );
	}

	&.Frame061 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/061.png" );
	}

	&.Frame062 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/062.png" );
	}

	&.Frame063 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/063.png" );
	}

	&.Frame064 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/064.png" );
	}

	&.Frame065 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/065.png" );
	}

	&.Frame066 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/066.png" );
	}

	&.Frame067 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/067.png" );
	}

	&.Frame068 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/068.png" );
	}

	&.Frame069 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/069.png" );
	}

	&.Frame070 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/070.png" );
	}

	&.Frame071 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/071.png" );
	}

	&.Frame072 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/072.png" );
	}

	&.Frame073 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/073.png" );
	}

	&.Frame074 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/074.png" );
	}

	&.Frame075 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/075.png" );
	}

	&.Frame076 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/076.png" );
	}

	&.Frame077 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/077.png" );
	}

	&.Frame078 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/078.png" );
	}

	&.Frame079 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/079.png" );
	}

	&.Frame080 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/080.png" );
	}

	&.Frame081 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/081.png" );
	}

	&.Frame082 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/082.png" );
	}

	&.Frame083 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/083.png" );
	}

	&.Frame084 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/084.png" );
	}

	&.Frame085 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/085.png" );
	}

	&.Frame086 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/086.png" );
	}

	&.Frame087 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/087.png" );
	}

	&.Frame088 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/088.png" );
	}

	&.Frame089 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/089.png" );
	}

	&.Frame090 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/090.png" );
	}

	&.Frame091 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/091.png" );
	}

	&.Frame092 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/092.png" );
	}

	&.Frame093 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/093.png" );
	}

	&.Frame094 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/094.png" );
	}

	&.Frame095 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/095.png" );
	}

	&.Frame096 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/096.png" );
	}

	&.Frame097 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/097.png" );
	}

	&.Frame098 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/098.png" );
	}

	&.Frame099 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/099.png" );
	}

	&.Frame100 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/100.png" );
	}

	&.Frame101 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/101.png" );
	}

	&.Frame102 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/102.png" );
	}

	&.Frame103 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/103.png" );
	}

	&.Frame104 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/104.png" );
	}

	&.Frame105 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/105.png" );
	}

	&.Frame106 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/106.png" );
	}

	&.Frame107 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/107.png" );
	}

	&.Frame108 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/108.png" );
	}

	&.Frame109 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/109.png" );
	}

	&.Frame110 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/110.png" );
	}

	&.Frame111 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/111.png" );
	}

	&.Frame112 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/112.png" );
	}

	&.Frame113 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/113.png" );
	}

	&.Frame114 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/114.png" );
	}

	&.Frame115 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/115.png" );
	}

	&.Frame116 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/116.png" );
	}

	&.Frame117 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/117.png" );
	}

	&.Frame118 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/118.png" );
	}

	&.Frame119 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/119.png" );
	}

	&.Frame120 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/120.png" );
	}

	&.Frame121 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/121.png" );
	}

	&.Frame122 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/122.png" );
	}

	&.Frame123 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/123.png" );
	}

	&.Frame124 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/124.png" );
	}

	&.Frame125 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/125.png" );
	}

	&.Frame126 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/126.png" );
	}

	&.Frame127 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/127.png" );
	}

	&.Frame128 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/128.png" );
	}

	&.Frame129 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/129.png" );
	}

	&.Frame130 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/130.png" );
	}

	&.Frame131 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/131.png" );
	}

	&.Frame132 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/132.png" );
	}

	&.Frame133 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/133.png" );
	}

	&.Frame134 {
		opacity-mask: url( "file://{images}/masks/sequence/flamereveal/134.png" );
	}
}

@keyframes 'links-and-more-button-focus'
{
	from
	{
		background-color: #FFFFFF00; 
	}

	to
	{
		background-color: #FFFFFF00; 
	}
}

                                                            

@keyframes 'Glow' {
	0% {
		img-shadow: 0px 0px 24px #00FFAA00;
		brightness: 1;
	}
	
	100% {
		img-shadow: 0px 0px 32px #00FFAA88;
		brightness: 2.5;
	}
}

                                                            

@keyframes 'Idle' {
	0% {
		transform: rotateX( 3deg ) rotateY( -0.5deg ) rotateZ( 0.5deg );
	}

	25% {
		transform: rotateX( -1deg ) rotateY( 0deg ) rotateZ( 0deg );
	}

	50% {
		transform: rotateX( 3deg ) rotateY( 0.5deg ) rotateZ( -0.5deg );
	}

	75% {
		transform: rotateX( -1deg ) rotateY( 0deg ) rotateZ( 0deg );
	}

	100% {
		transform: rotateX( 3deg ) rotateY( -0.5deg ) rotateZ( 0.5deg );
	}
}