@define settingsBlue: #63A4FF;
@define settingsBlueDark: #4588E4;

DOTASettingsKeybinderV2
{
    ignore-parent-flow: true;
    width: 100%;
    height: 100%;
    horizontal-align: right;
    background-color: rgba( 0, 0, 0, 0.8 );
    margin-left: 330px;    
}

.KeybinderContainer
{
    width: 500px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #171c1f ), to( #0C1011 ) );
    horizontal-align: center;
    margin-top: 30%;
    border: 1px solid rgba(225, 241, 255, 0.105);
    flow-children: down;
    padding-bottom: 20px;
    box-shadow: 0px 12px 64px -4px rgba(0, 0, 0, 0.34);

    opacity: 0;
    transform: scale3d( 0.8, 0.8, 1 );
    transition-duration: 0.15s;
    transition-property: transform, opacity;
    transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

    .Active & {
        opacity: 1;
        transform: none;
    }
}

.KeybinderHeader
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .KeybinderTitle
    {
        horizontal-align: center;
        vertical-align: center;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        color: LightGrey;
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
    }

    #CloseButton 
    {
        ignore-parent-flow: true;
        margin: 8px;
        horizontal-align: right;
        z-index: 1;
        padding-left: 10px;
	    padding-right: 10px;
    }
}

.KeybinderBody
{
    width: 100%;
    margin-top: 16px;
    flow-children: down;

    .KeybinderLabel
    {
        horizontal-align: center;
        font-size: 22px;
        margin-bottom: 4px;
        text-align: center;
    }

    .KeybinderKeyInputContainer
    {
        min-width: 80px;
        height: 80px;
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #30373b ), to( #202729 ) );
        horizontal-align: center;
        margin-top: 10px;
        border-radius: 8px;
        border: 1.5px solid white;
        border-brush: gradient( linear, 0% 0%, 0% 100%, from( settingsBlue ), to( settingsBlueDark ) );
                                                      
        box-shadow: 0px 0px 24px rgba(0, 136, 255, 0.1);
        padding: 0px 20px;

        animation-name: GlowInputField;
        animation-duration: 0.5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;

        .KeybinderKeyInput
        {
            font-size: 36px;
            color: white;
            text-align: center;
            vertical-align: center;
            horizontal-align: center;
            text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
        }

        .KeybinderCursor
        {
            height: 100%;
            width: 1.5px;
            margin: 12px 0px;
            background-color: settingsBlue;
            horizontal-align: center;
            visibility: collapse;
            border-radius: 4px;

            animation-name: Blink;
            animation-duration: 0.5s;
            animation-direction: alternate-reverse; 
            animation-iteration-count: infinite; 

            .ShowCursor &
            {
                visibility: visible;
            }
        }
    }
}

#ClearButton
{
    horizontal-align: center;
    margin: 16px;
    
    Label
    {
        font-size: 15px;
        color: white;
    }
}

#ConfirmButton
{
    horizontal-align: center;
    margin: 10px 0px;
}

.ConfirmButtonLabel 
{
                          
}

.BindAnywayButtonLabel
{
                          
    visibility: collapse;
}

.Divider
{
    width: 50%;
    height: 8px;
    border-top: 1px solid #FFFFFF06;
    horizontal-align: center;
}

.AlreadyBoundLabel
{
    horizontal-align: center;
    color: #eb8730;
    visibility: collapse;
    margin: 4px 0px;
    text-align: center;
}

.AlreadyBound
{
    & .AlreadyBoundLabel
    {
        visibility: visible;
    }

    & .KeybinderKeyInputContainer
    {
        border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffa742 ), to( #eb8730 ) );
        animation-name: GlowInputFieldAlreadyBound;
    }

    & .ConfirmButtonLabel
    {
        visibility: collapse;
    }

    & .BindAnywayButtonLabel
    {
        visibility: visible;
    }
}

.BindingName
{
    color: white;
}

@keyframes 'Blink'
{
	0%	{
        opacity: 0;
	}

    100%	{
        opacity: 1;
	}
}

@keyframes 'GlowInputField'
{
	0% {
        border: 1.5px solid #FFFFFF33;
        box-shadow: 0px 0px 24px rgba(0, 136, 255, 0.02);
	}

	100%	{
		border: 1.5px solid white;
        box-shadow: 0px 0px 24px rgba(0, 136, 255, 0.2);
	}
}

@keyframes 'GlowInputFieldAlreadyBound'
{
	0% {
        border: 1.5px solid #FFFFFF33;
        box-shadow: 0px 0px 24px #ffa74101;
	}

	100%	{
		border: 1.5px solid white;
        box-shadow: 0px 0px 24px #ffa74211;
	}
}