/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Reborn #TimeOfDayBG
{
	horizontal-align: center;
	visibility: visible;
	z-index: 2;
	background-image: url("s2r://panorama/images/hud/reborn/the_international_2024/bg_timer_psd.vtex");
	background-size: 100%;
	height: 80px;
	width: 120px;
	overflow: noclip;
}

.Reborn .TournamentGame #TimeOfDayBG
{
	background-image: url("s2r://panorama/images/hud/reborn/the_international_2024/bg_timer_tournament_psd.vtex");
	z-index: -2;
}

#Pips
{
	background-image: url("s2r://panorama/images/hud/reborn/the_international_2024/bg_timer_pips_psd.vtex");
	height: 51px;
	width: 110px;
}

.RewardParticleBg_time_sparkles
{
	height: 80px;
	width: 120px;
	horizontal-align: center;
	vertical-align: top;
	opacity: 3;
	z-index: -10;
}

.RewardParticleBg_time
{
	height: 100px;
	width: 1000px;
	horizontal-align: center;
	vertical-align: top;
	opacity-mask: url("s2r://panorama/images/hud/reborn/the_international_2024/rewardparticlebg_time_mask_psd.vtex");
	opacity: 1;
	overflow: noclip;
	z-index: -10;
}

.TournamentGame .RewardParticleBg_time
{
	opacity-mask: url("s2r://panorama/images/hud/reborn/the_international_2024/rewardparticlebg_time_mask_tournament_psd.vtex");
}

