/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.HUDSkinTopBarBGParticlesFx
{
	height: 100%;
	width: 100%;
	background-size: 100%;
	horizontal-align: center;
	vertical-align: top;
	opacity-mask: url("s2r://panorama/images/hud/reborn/the_international_2024/rewardparticlebg_time_mask_psd.vtex");
	overflow: noclip;
}

.IsLocalPlayerSpectating .HUDSkinTopBarBGParticlesFx,.IsLocalPlayerSpectatingAllTeams .HUDSkinTopBarBGParticlesFx,.TournamentGame .HUDSkinTopBarBGParticlesFx
{
	opacity-mask: url("s2r://panorama/images/hud/reborn/the_international_2024/rewardparticlebg_time_mask_tournament_psd.vtex");
}

.IsLocalPlayerSpectating .HUDSkinTopBarBGParticlesFx,.IsLocalPlayerSpectatingAllTeams .HUDSkinTopBarBGParticlesFx,.TournamentGame .HUDSkinTopBarBGParticlesFx
{
	opacity-mask: url("s2r://panorama/images/hud/reborn/the_international_2024/rewardparticlebg_time_mask_tournament_psd.vtex");
}

#HUDSkinTopBarBG
{
	height: 100px;
	width: 1000px;
}


