/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

#HUDSkinPreCenterParticlesRight
{
	height: 100%;
	width: 100%;
	horizontal-align: left;
	vertical-align: bottom;
	overflow: noclip;
}

.GleamPanel
{
	height: 100%;
	width: 100%;
	animation-name: Gleam;
	animation-duration: 30s;
	animation-delay: 6s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	opacity-mask: url("s2r://panorama/images/hud/reborn/hud_custom_ti12/right_flare_bg_mask_psd.vtex");
}

.RewardParticleBg_right_sparkles
{
	height: 200px;
	width: 343px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: -100px;
	opacity-mask: url("s2r://panorama/images/hud/reborn/hud_custom_ti12/lower_hud_particlemask_rays_right_psd.vtex");
	z-index: 10;
	opacity: 1;
}

.RewardParticleBg_right
{
	height: 200px;
	width: 343px;
	vertical-align: bottom;
	horizontal-align: left;
	margin-left: -100px;
	opacity-mask: url("s2r://panorama/images/hud/reborn/hud_custom_ti12/lower_hud_particlemask_glassglow_right_psd.vtex");
	z-index: 10;
	opacity: 1;
}

@keyframes 'Gleam'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.01, #ef65ff00), color-stop(.2, #ef65ff22), color-stop(.4, #ef65ff00), to( #ef65ff00 ) );
	}
	
	1.2%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(0, #ef65ff00), color-stop(.3, #ef65ff22), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
	}
	
	3.2%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.3, #ef65ff00), color-stop(.5, #ef65ffaa), color-stop(.7, #ef65ff00), to( #ef65ff00 ) );
	}
	
	5.2%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.4, #ef65ff00), color-stop(.7, #ef65ff22), color-stop(1, #ef65ff00), to( #ef65ff00 ) );
	}
	
	6%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff22), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
	}
	
	7.2%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff00), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.2, #ef65ff00), color-stop(.5, #ef65ff00), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
	}
	
}

