/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 1020px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	opacity: 1;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.PopupPanel.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	sound: "ui_custom_lobby_dialog_slide";
}

.PopupPanel .ImmortalBadges
{
	z-index: 1;
	horizontal-align: center;
	width: 320px;
	margin-bottom: -100px;
}

.PopupContentsContainer
{
	box-shadow: 0px 12px 80px -4px rgba(0, 0, 0, 0.6);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #552F1A ), color-stop( 0.5, #191418 ), to( #101219 ) );
}

.PopupContentsContainer .BackgroundImage
{
	ignore-parent-flow: true;
	width: 1020px;
	height: 600px;
}

.PopupContentsContainer .PopupBorderTopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(132, 83, 30) ), color-stop( 0.5, rgb(255, 233, 152) ), to( rgb(132, 83, 30) ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.PopupContentsContainer .PopupBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 221, 212, 0.119);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0.2) ) );
}

.PopupContentsContainer .PopupContents
{
	flow-children: down;
	vertical-align: center;
	margin: 0px 32px;
}

.PopupContentsContainer .PopupContents Label
{
	text-align: center;
	color: whitesmoke;
}

.PopupContentsContainer .PopupContents Label,.PopupContentsContainer .PopupContents Button
{
	horizontal-align: center;
}

.PopupContentsContainer .PopupContents .PopupMessageTitle
{
	margin-bottom: 24px;
	text-shadow: 0px 0px 24px rgba(255, 155, 98, 0.6);
}

.PopupContentsContainer .PopupContents .PopupMessageLabel
{
	font-family: titleFont;
	font-size: 20px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	margin-bottom: 28px;
	padding: 0px 72px;
	max-height: 86px;
	text-overflow: shrink;
}

.PopupContentsContainer .PopupContents .PopupMessageSteamName
{
	font-size: 28px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	margin: 8px 0px 12px;
}

.PopupContentsContainer .PopupContents #RegisteredNameAnchorButton
{
	min-width: 320px;
}

.PopupContentsContainer .PopupContents .PopupMessageConfirmation,.PopupContentsContainer .PopupContents .PopupMessageAlternative
{
	opacity: 0.6;
}

.PopupContentsContainer .PopupContents .Dash
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, rgb(193, 237, 255) ), to( rgba(255, 255, 255, 0) ) );
	opacity: 0.06;
	margin: 32px 0px 28px;
}

.PopupContentsContainer #CloseButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	margin: 12px;
}


