/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAHeroFacetPickerPopup
{
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 60%, from( #272e36 ), to( #0a0d0f ) );
	padding-bottom: 12px;
	border: 0px;
	box-shadow: 0px 8px 48px -4px #000000b3;
	border: 2px solid black;
	vertical-align: center;
	horizontal-align: center;
}

DOTAHeroFacetPickerPopup.Hidden
{
	visibility: collapse;
}

#HeaderRow
{
	width: 100%;
}

#HeaderRow #SelectionChoice
{
	horizontal-align: center;
	color: LighterGrey;
	text-overflow: shrink;
	margin-bottom: 4px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	vertical-align: center;
	margin-top: 12px;
}

#HeaderRow .CloseButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 4px;
}

#FacetPicker
{
	padding-left: 12px;
	padding-right: 12px;
}

