/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define settingsBlue: #63A4FF;
@define settingsBlueDark: #4588E4;
@define newSectionGreen: #52b464;
@keyframes 'SearchResultSelectedAnimation'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	20%
	{
		pre-transform-scale2d: 1.08;
		background-color: settingsBlue&22;
		brightness: 2;
	}
	
	40%
	{
		pre-transform-scale2d: 1;
	}
	
	60%
	{
		pre-transform-scale2d: 1.08;
		background-color: settingsBlue&22;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'NewSettingAnimation'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	20%
	{
		pre-transform-scale2d: 1.08;
		background-color: newSectionGreen&66;
		brightness: 2;
	}
	
	40%
	{
		pre-transform-scale2d: 1;
	}
	
	60%
	{
		pre-transform-scale2d: 1.08;
		background-color: newSectionGreen&66;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

