@define calaveraBgColor:  #F8C57A;
 @define calaveraFgColor: #310E27;
 @define calaveraFlamesWashColor: #0F5F4A55;

 DOTAPopupMuertaCalavera.PopupPanel{
  width: 100%;
  height: 100%;
  padding: 0px;
  flow-children: none;
  border: 0px;
  box-shadow: none;
  background-color: #FFFFFF00;
 }

 DOTAPopupMuertaCalavera.PopupPanel.Hidden{
  sound: "";
 }

 .Contents{
  width: 100%;
  height: 100%;
 }

 #ParticleFXContainer{
  width: 100%;
  height: 100%;
 }

 .CalaveraFX{
  width: fill-parent-flow( 1.0 );
  height: 100%;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
 }.CalaveraFX.Hidden{
   opacity: 0;
  }


 #CalaveraImageContainer{
  width: 1600px;
  height: 900px;
  flow-children: none;
  transform: rotateX( 3deg ) rotateY( 0deg ) rotateZ( 0deg );
  horizontal-align: center;
  vertical-align: center;
  overflow: noclip;
 }









 #CalaveraImageGlow{
  horizontal-align: center;
  vertical-align: center;
  width: 101.5%;
  height: 101.5%;
  background-repeat: no-repeat;
  background-size: 96.5%;
  background-position: center;
  background-image: url( "s2r://panorama/images/events/muerta/calaveras/calavera_glow_png.vtex");
  blur: gaussian( 12 );
  wash-color: #00FFAA;
  opacity: 0.25;
  animation-name: Glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
 }

 #CalaveraImage{
  horizontal-align: center;
  vertical-align: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 99.5%;
  background-position: center;
 }

 .CalaveraImagePage1{
  background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_01_english_png.vtex");
  sound: "ui_calavera_slide_in";
 }

 .CalaveraImagePage2{
  background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_02_english_png.vtex");
  sound: "ui_calavera_slide_in";
 }

 .CalaveraImagePage3{
  background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_03_english_png.vtex");
  sound: "ui_calavera_slide_in";
 }

 .CalaveraImagePage4{
  background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_04_english_png.vtex");
  sound: "ui_calavera_slide_in";
 }

 .Language_brazilian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/brazilian/muerta_01_brazilian_png.vtex");
 }
 .Language_brazilian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/brazilian/muerta_02_brazilian_png.vtex");
 }
 .Language_brazilian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/brazilian/muerta_03_brazilian_png.vtex");
 }
 .Language_brazilian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/brazilian/muerta_04_brazilian_png.vtex");
 }
 .Language_bulgarian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/bulgarian/muerta_01_bulgarian_png.vtex");
 }
 .Language_bulgarian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/bulgarian/muerta_02_bulgarian_png.vtex");
 }
 .Language_bulgarian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/bulgarian/muerta_03_bulgarian_png.vtex");
 }
 .Language_bulgarian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/bulgarian/muerta_04_bulgarian_png.vtex");
 }
 .Language_czech .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/czech/muerta_01_czech_png.vtex");
 }
 .Language_czech .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/czech/muerta_02_czech_png.vtex");
 }
 .Language_czech .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/czech/muerta_03_czech_png.vtex");
 }
 .Language_czech .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/czech/muerta_04_czech_png.vtex");
 }
 .Language_danish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/danish/muerta_01_danish_png.vtex");
 }
 .Language_danish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/danish/muerta_02_danish_png.vtex");
 }
 .Language_danish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/danish/muerta_03_danish_png.vtex");
 }
 .Language_danish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/danish/muerta_04_danish_png.vtex");
 }
 .Language_dutch .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/dutch/muerta_01_dutch_png.vtex");
 }
 .Language_dutch .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/dutch/muerta_02_dutch_png.vtex");
 }
 .Language_dutch .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/dutch/muerta_03_dutch_png.vtex");
 }
 .Language_dutch .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/dutch/muerta_04_dutch_png.vtex");
 }
 .Language_english .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_01_english_png.vtex");
 }
 .Language_english .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_02_english_png.vtex");
 }
 .Language_english .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_03_english_png.vtex");
 }
 .Language_english .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/english/muerta_04_english_png.vtex");
 }
 .Language_finnish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/finnish/muerta_01_finnish_png.vtex");
 }
 .Language_finnish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/finnish/muerta_02_finnish_png.vtex");
 }
 .Language_finnish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/finnish/muerta_03_finnish_png.vtex");
 }
 .Language_finnish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/finnish/muerta_04_finnish_png.vtex");
 }
 .Language_french .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/french/muerta_01_french_png.vtex");
 }
 .Language_french .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/french/muerta_02_french_png.vtex");
 }
 .Language_french .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/french/muerta_03_french_png.vtex");
 }
 .Language_french .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/french/muerta_04_french_png.vtex");
 }
 .Language_german .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/german/muerta_01_german_png.vtex");
 }
 .Language_german .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/german/muerta_02_german_png.vtex");
 }
 .Language_german .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/german/muerta_03_german_png.vtex");
 }
 .Language_german .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/german/muerta_04_german_png.vtex");
 }
 .Language_greek .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/greek/muerta_01_greek_png.vtex");
 }
 .Language_greek .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/greek/muerta_02_greek_png.vtex");
 }
 .Language_greek .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/greek/muerta_03_greek_png.vtex");
 }
 .Language_greek .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/greek/muerta_04_greek_png.vtex");
 }
 .Language_hungarian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/hungarian/muerta_01_hungarian_png.vtex");
 }
 .Language_hungarian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/hungarian/muerta_02_hungarian_png.vtex");
 }
 .Language_hungarian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/hungarian/muerta_03_hungarian_png.vtex");
 }
 .Language_hungarian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/hungarian/muerta_04_hungarian_png.vtex");
 }
 .Language_italian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/italian/muerta_01_italian_png.vtex");
 }
 .Language_italian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/italian/muerta_02_italian_png.vtex");
 }
 .Language_italian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/italian/muerta_03_italian_png.vtex");
 }
 .Language_italian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/italian/muerta_04_italian_png.vtex");
 }
 .Language_japanese .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/japanese/muerta_01_japanese_png.vtex");
 }
 .Language_japanese .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/japanese/muerta_02_japanese_png.vtex");
 }
 .Language_japanese .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/japanese/muerta_03_japanese_png.vtex");
 }
 .Language_japanese .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/japanese/muerta_04_japanese_png.vtex");
 }
 .Language_koreana .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/korean/muerta_01_korean_png.vtex");
 }
 .Language_koreana .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/korean/muerta_02_korean_png.vtex");
 }
 .Language_koreana .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/korean/muerta_03_korean_png.vtex");
 }
 .Language_koreana .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/korean/muerta_04_korean_png.vtex");
 }
 .Language_latam .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/latam/muerta_01_latam_png.vtex");
 }
 .Language_latam .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/latam/muerta_02_latam_png.vtex");
 }
 .Language_latam .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/latam/muerta_03_latam_png.vtex");
 }
 .Language_latam .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/latam/muerta_04_latam_png.vtex");
 }
 .Language_norwegian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/norwegian/muerta_01_norwegian_png.vtex");
 }
 .Language_norwegian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/norwegian/muerta_02_norwegian_png.vtex");
 }
 .Language_norwegian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/norwegian/muerta_03_norwegian_png.vtex");
 }
 .Language_norwegian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/norwegian/muerta_04_norwegian_png.vtex");
 }
 .Language_polish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/polish/muerta_01_polish_png.vtex");
 }
 .Language_polish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/polish/muerta_02_polish_png.vtex");
 }
 .Language_polish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/polish/muerta_03_polish_png.vtex");
 }
 .Language_polish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/polish/muerta_04_polish_png.vtex");
 }
 .Language_portuguese .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/portuguese/muerta_01_portuguese_png.vtex");
 }
 .Language_portuguese .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/portuguese/muerta_02_portuguese_png.vtex");
 }
 .Language_portuguese .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/portuguese/muerta_03_portuguese_png.vtex");
 }
 .Language_portuguese .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/portuguese/muerta_04_portuguese_png.vtex");
 }
 .Language_romanian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/romanian/muerta_01_romanian_png.vtex");
 }
 .Language_romanian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/romanian/muerta_02_romanian_png.vtex");
 }
 .Language_romanian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/romanian/muerta_03_romanian_png.vtex");
 }
 .Language_romanian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/romanian/muerta_04_romanian_png.vtex");
 }
 .Language_russian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/russian/muerta_01_russian_png.vtex");
 }
 .Language_russian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/russian/muerta_02_russian_png.vtex");
 }
 .Language_russian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/russian/muerta_03_russian_png.vtex");
 }
 .Language_russian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/russian/muerta_04_russian_png.vtex");
 }
 .Language_schinese .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/schinese/muerta_01_schinese_png.vtex");
 }
 .Language_schinese .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/schinese/muerta_02_schinese_png.vtex");
 }
 .Language_schinese .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/schinese/muerta_03_schinese_png.vtex");
 }
 .Language_schinese .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/schinese/muerta_04_schinese_png.vtex");
 }
 .Language_spanish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/spanish/muerta_01_spanish_png.vtex");
 }
 .Language_spanish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/spanish/muerta_02_spanish_png.vtex");
 }
 .Language_spanish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/spanish/muerta_03_spanish_png.vtex");
 }
 .Language_spanish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/spanish/muerta_04_spanish_png.vtex");
 }
 .Language_swedish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/swedish/muerta_01_swedish_png.vtex");
 }
 .Language_swedish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/swedish/muerta_02_swedish_png.vtex");
 }
 .Language_swedish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/swedish/muerta_03_swedish_png.vtex");
 }
 .Language_swedish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/swedish/muerta_04_swedish_png.vtex");
 }
 .Language_tchinese .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/tchinese/muerta_01_tchinese_png.vtex");
 }
 .Language_tchinese .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/tchinese/muerta_02_tchinese_png.vtex");
 }
 .Language_tchinese .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/tchinese/muerta_03_tchinese_png.vtex");
 }
 .Language_tchinese .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/tchinese/muerta_04_tchinese_png.vtex");
 }
 .Language_thai .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/thai/muerta_01_thai_png.vtex");
 }
 .Language_thai .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/thai/muerta_02_thai_png.vtex");
 }
 .Language_thai .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/thai/muerta_03_thai_png.vtex");
 }
 .Language_thai .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/thai/muerta_04_thai_png.vtex");
 }
 .Language_turkish .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/turkish/muerta_01_turkish_png.vtex");
 }
 .Language_turkish .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/turkish/muerta_02_turkish_png.vtex");
 }
 .Language_turkish .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/turkish/muerta_03_turkish_png.vtex");
 }
 .Language_turkish .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/turkish/muerta_04_turkish_png.vtex");
 }
 .Language_ukrainian .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/ukrainian/muerta_01_ukrainian_png.vtex");
 }
 .Language_ukrainian .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/ukrainian/muerta_02_ukrainian_png.vtex");
 }
 .Language_ukrainian .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/ukrainian/muerta_03_ukrainian_png.vtex");
 }
 .Language_ukrainian .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/ukrainian/muerta_04_ukrainian_png.vtex");
 }
 .Language_vietnamese .CalaveraImagePage1{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/vietnamese/muerta_01_vietnamese_png.vtex");
 }
 .Language_vietnamese .CalaveraImagePage2{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/vietnamese/muerta_02_vietnamese_png.vtex");
 }
 .Language_vietnamese .CalaveraImagePage3{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/vietnamese/muerta_03_vietnamese_png.vtex");
 }
 .Language_vietnamese .CalaveraImagePage4{
         background-image: url( "s2r://panorama/images/events/muerta/calaveras/vietnamese/muerta_04_vietnamese_png.vtex");
 }

 .CloseButton{
  horizontal-align: right;
  width: 48px;
  height: 48px;
  margin-top: 24px;
  margin-right: 24px;
  img-shadow: 0px 0px 8px 1.0 #00FFAA33;
  wash-color: #8BFFD8;
  brightness: 2;
  background-color: #00000000;
  background-size: 50%;
  width: 48px;
  height: 48px;
  background-image: url("s2r://panorama/images/leaf_pages/debut_arcana_wraith_king/close_png.vtex");
  background-size: 32px;
  transition-property: background-size, transform;
  transition-duration: 1.0s;
  transition-timing-function: ease-in-out;
 }

 .CloseButton:active{
  sound: "ui_calavera_slide_out";
 }

 .CloseButton:Hover{
  img-shadow: 0px 0px 8px 1.0 #00FFAA33;
  wash-color: #8BFFD8;
  brightness: 4;
 }

 #LeftArrow,#RightArrow{

  width: 96px;
  height: 96px;
  vertical-align: middle;
  opacity: 1.0;
 }
  #LeftArrow .ArrowImage,#RightArrow .ArrowImage{
   width: 80px;
   height: 80px;
   vertical-align: middle;
   horizontal-align: center;

   img-shadow: 0px 0px 8px 1.0 #00FFAA33;
   wash-color: #8BFFD8;
   brightness: 2;

   transition-property: transform;
   transition-duration: 0.05s;
   transition-timing-function: ease-in-out;
  }


 #RightArrow:hover{
  brightness: 2;
 }
  #RightArrow:hover .ArrowImage{
   transform: translateX(8px);
  }


 #LeftArrow:hover{
  brightness: 2;
 }
  #LeftArrow:hover .ArrowImage{
   transform: translateX(8px);
  }


 #LeftArrow{
  pre-transform-rotate2d: 180deg;
  transform: translateX(32px);
 }

 #LeftArrow.Disabled{
  opacity: 0;
 }

 #RightArrow{
  horizontal-align: right;
  transform: translateX(-32px);
 }

 #RightArrow.Disabled{
  opacity: 0;
 }


  .FlameReveal.Frame000{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/000_png.vtex");
  }

  .FlameReveal.Frame001{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/001_png.vtex");
  }

  .FlameReveal.Frame002{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/002_png.vtex");
  }

  .FlameReveal.Frame003{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/003_png.vtex");
  }

  .FlameReveal.Frame004{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/004_png.vtex");
  }

  .FlameReveal.Frame005{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/005_png.vtex");
  }

  .FlameReveal.Frame006{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/006_png.vtex");
  }

  .FlameReveal.Frame007{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/007_png.vtex");
  }

  .FlameReveal.Frame008{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/008_png.vtex");
  }

  .FlameReveal.Frame009{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/009_png.vtex");
  }

  .FlameReveal.Frame010{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/010_png.vtex");
  }

  .FlameReveal.Frame011{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/011_png.vtex");
  }

  .FlameReveal.Frame012{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/012_png.vtex");
  }

  .FlameReveal.Frame013{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/013_png.vtex");
  }

  .FlameReveal.Frame014{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/014_png.vtex");
  }

  .FlameReveal.Frame015{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/015_png.vtex");
  }

  .FlameReveal.Frame016{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/016_png.vtex");
  }

  .FlameReveal.Frame017{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/017_png.vtex");
  }

  .FlameReveal.Frame018{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/018_png.vtex");
  }

  .FlameReveal.Frame019{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/019_png.vtex");
  }

  .FlameReveal.Frame020{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/020_png.vtex");
  }

  .FlameReveal.Frame021{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/021_png.vtex");
  }

  .FlameReveal.Frame022{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/022_png.vtex");
  }

  .FlameReveal.Frame023{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/023_png.vtex");
  }

  .FlameReveal.Frame024{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/024_png.vtex");
  }

  .FlameReveal.Frame025{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/025_png.vtex");
  }

  .FlameReveal.Frame026{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/026_png.vtex");
  }

  .FlameReveal.Frame027{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/027_png.vtex");
  }

  .FlameReveal.Frame028{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/028_png.vtex");
  }

  .FlameReveal.Frame029{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/029_png.vtex");
  }

  .FlameReveal.Frame030{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/030_png.vtex");
  }

  .FlameReveal.Frame031{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/031_png.vtex");
  }

  .FlameReveal.Frame032{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/032_png.vtex");
  }

  .FlameReveal.Frame033{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/033_png.vtex");
  }

  .FlameReveal.Frame034{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/034_png.vtex");
  }

  .FlameReveal.Frame035{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/035_png.vtex");
  }

  .FlameReveal.Frame036{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/036_png.vtex");
  }

  .FlameReveal.Frame037{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/037_png.vtex");
  }

  .FlameReveal.Frame038{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/038_png.vtex");
  }

  .FlameReveal.Frame039{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/039_png.vtex");
  }

  .FlameReveal.Frame040{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/040_png.vtex");
  }

  .FlameReveal.Frame041{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/041_png.vtex");
  }

  .FlameReveal.Frame042{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/042_png.vtex");
  }

  .FlameReveal.Frame043{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/043_png.vtex");
  }

  .FlameReveal.Frame044{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/044_png.vtex");
  }

  .FlameReveal.Frame045{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/045_png.vtex");
  }

  .FlameReveal.Frame046{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/046_png.vtex");
  }

  .FlameReveal.Frame047{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/047_png.vtex");
  }

  .FlameReveal.Frame048{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/048_png.vtex");
  }

  .FlameReveal.Frame049{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/049_png.vtex");
  }

  .FlameReveal.Frame050{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/050_png.vtex");
  }

  .FlameReveal.Frame051{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/051_png.vtex");
  }

  .FlameReveal.Frame052{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/052_png.vtex");
  }

  .FlameReveal.Frame053{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/053_png.vtex");
  }

  .FlameReveal.Frame054{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/054_png.vtex");
  }

  .FlameReveal.Frame055{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/055_png.vtex");
  }

  .FlameReveal.Frame056{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/056_png.vtex");
  }

  .FlameReveal.Frame057{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/057_png.vtex");
  }

  .FlameReveal.Frame058{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/058_png.vtex");
  }

  .FlameReveal.Frame059{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/059_png.vtex");
  }

  .FlameReveal.Frame060{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/060_png.vtex");
  }

  .FlameReveal.Frame061{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/061_png.vtex");
  }

  .FlameReveal.Frame062{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/062_png.vtex");
  }

  .FlameReveal.Frame063{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/063_png.vtex");
  }

  .FlameReveal.Frame064{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/064_png.vtex");
  }

  .FlameReveal.Frame065{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/065_png.vtex");
  }

  .FlameReveal.Frame066{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/066_png.vtex");
  }

  .FlameReveal.Frame067{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/067_png.vtex");
  }

  .FlameReveal.Frame068{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/068_png.vtex");
  }

  .FlameReveal.Frame069{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/069_png.vtex");
  }

  .FlameReveal.Frame070{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/070_png.vtex");
  }

  .FlameReveal.Frame071{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/071_png.vtex");
  }

  .FlameReveal.Frame072{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/072_png.vtex");
  }

  .FlameReveal.Frame073{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/073_png.vtex");
  }

  .FlameReveal.Frame074{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/074_png.vtex");
  }

  .FlameReveal.Frame075{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/075_png.vtex");
  }

  .FlameReveal.Frame076{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/076_png.vtex");
  }

  .FlameReveal.Frame077{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/077_png.vtex");
  }

  .FlameReveal.Frame078{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/078_png.vtex");
  }

  .FlameReveal.Frame079{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/079_png.vtex");
  }

  .FlameReveal.Frame080{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/080_png.vtex");
  }

  .FlameReveal.Frame081{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/081_png.vtex");
  }

  .FlameReveal.Frame082{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/082_png.vtex");
  }

  .FlameReveal.Frame083{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/083_png.vtex");
  }

  .FlameReveal.Frame084{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/084_png.vtex");
  }

  .FlameReveal.Frame085{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/085_png.vtex");
  }

  .FlameReveal.Frame086{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/086_png.vtex");
  }

  .FlameReveal.Frame087{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/087_png.vtex");
  }

  .FlameReveal.Frame088{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/088_png.vtex");
  }

  .FlameReveal.Frame089{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/089_png.vtex");
  }

  .FlameReveal.Frame090{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/090_png.vtex");
  }

  .FlameReveal.Frame091{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/091_png.vtex");
  }

  .FlameReveal.Frame092{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/092_png.vtex");
  }

  .FlameReveal.Frame093{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/093_png.vtex");
  }

  .FlameReveal.Frame094{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/094_png.vtex");
  }

  .FlameReveal.Frame095{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/095_png.vtex");
  }

  .FlameReveal.Frame096{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/096_png.vtex");
  }

  .FlameReveal.Frame097{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/097_png.vtex");
  }

  .FlameReveal.Frame098{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/098_png.vtex");
  }

  .FlameReveal.Frame099{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/099_png.vtex");
  }

  .FlameReveal.Frame100{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/100_png.vtex");
  }

  .FlameReveal.Frame101{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/101_png.vtex");
  }

  .FlameReveal.Frame102{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/102_png.vtex");
  }

  .FlameReveal.Frame103{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/103_png.vtex");
  }

  .FlameReveal.Frame104{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/104_png.vtex");
  }

  .FlameReveal.Frame105{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/105_png.vtex");
  }

  .FlameReveal.Frame106{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/106_png.vtex");
  }

  .FlameReveal.Frame107{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/107_png.vtex");
  }

  .FlameReveal.Frame108{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/108_png.vtex");
  }

  .FlameReveal.Frame109{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/109_png.vtex");
  }

  .FlameReveal.Frame110{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/110_png.vtex");
  }

  .FlameReveal.Frame111{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/111_png.vtex");
  }

  .FlameReveal.Frame112{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/112_png.vtex");
  }

  .FlameReveal.Frame113{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/113_png.vtex");
  }

  .FlameReveal.Frame114{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/114_png.vtex");
  }

  .FlameReveal.Frame115{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/115_png.vtex");
  }

  .FlameReveal.Frame116{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/116_png.vtex");
  }

  .FlameReveal.Frame117{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/117_png.vtex");
  }

  .FlameReveal.Frame118{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/118_png.vtex");
  }

  .FlameReveal.Frame119{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/119_png.vtex");
  }

  .FlameReveal.Frame120{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/120_png.vtex");
  }

  .FlameReveal.Frame121{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/121_png.vtex");
  }

  .FlameReveal.Frame122{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/122_png.vtex");
  }

  .FlameReveal.Frame123{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/123_png.vtex");
  }

  .FlameReveal.Frame124{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/124_png.vtex");
  }

  .FlameReveal.Frame125{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/125_png.vtex");
  }

  .FlameReveal.Frame126{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/126_png.vtex");
  }

  .FlameReveal.Frame127{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/127_png.vtex");
  }

  .FlameReveal.Frame128{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/128_png.vtex");
  }

  .FlameReveal.Frame129{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/129_png.vtex");
  }

  .FlameReveal.Frame130{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/130_png.vtex");
  }

  .FlameReveal.Frame131{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/131_png.vtex");
  }

  .FlameReveal.Frame132{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/132_png.vtex");
  }

  .FlameReveal.Frame133{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/133_png.vtex");
  }

  .FlameReveal.Frame134{
   opacity-mask: url( "s2r://panorama/images/masks/sequence/flamereveal/134_png.vtex");
  }


 @keyframes 'links-and-more-button-focus'{

  from{

   background-color: #FFFFFF00;
  }

  to{

   background-color: #FFFFFF00;
  }
 }



 @keyframes 'Glow'{
  0%{
   img-shadow: 0px 0px 24px #00FFAA00;
   brightness: 1;
  }

  100%{
   img-shadow: 0px 0px 32px #00FFAA88;
   brightness: 2.5;
  }
 }



 @keyframes 'Idle'{
  0%{
   transform: rotateX( 3deg ) rotateY( -0.5deg ) rotateZ( 0.5deg );
  }

  25%{
   transform: rotateX( -1deg ) rotateY( 0deg ) rotateZ( 0deg );
  }

  50%{
   transform: rotateX( 3deg ) rotateY( 0.5deg ) rotateZ( -0.5deg );
  }

  75%{
   transform: rotateX( -1deg ) rotateY( 0deg ) rotateZ( 0deg );
  }

  100%{
   transform: rotateX( 3deg ) rotateY( -0.5deg ) rotateZ( 0.5deg );
  }
}