/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPopupUITreasureRecycling.PopupPanel
{
	width: 700px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	animation-name: none;
	background-color: black;
	background-color: gradient( linear, 0% 0%, 140% 0%, from( #22282Af4 ), to( #000000 ) );
	border: 0px;
	box-shadow: fill black 0px 0px 20px 0px ;
	padding: 0px;
	transition-duration: .35s;
}

