/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/popups/popup_settings_reborn_shared.vcss_c");
DOTASettingsEnum Label
{
	font-size: 18px;
	color: LighterGrey;
	margin: 0px;
	padding-top: 0px;
	padding-left: 5px;
	letter-spacing: 0.3px;
	margin-bottom: 4px;
}

DOTASettingsEnum #title
{
	margin-right: 8px;
	padding-left: 0px;
}

.HideTitle #title
{
	visibility: collapse;
}

DOTASettingsEnum #values
{
	flow-children: down;
}

DOTASettingsEnum.HorizontalEnum #values
{
	flow-children: right;
}

DOTASettingsEnum.HorizontalEnum #values RadioButton
{
	margin-right: 5px;
}

DOTASettingsEnum:disabled Label
{
	color: #333333;
}

.SearchedText
{
	color: white;
	background-color: #4588E4;
}

.SearchResultSelected
{
	animation-name: SearchResultSelectedAnimation;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-delay: 0.15s;
}

