
.CandyShopDebugContents
{
	flow-children: down;
}

.Title
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666;
	horizontal-align: center;
	text-align: center;
}

.ShopName
{
	font-size: 20
	horizontal-align: center;
	text-align: center;
}

.CandyBagTools
{
	flow-children: right;
	margin-bottom: 6px;

	#CandyBagImage 
	{
		width: 60px;
		height: 40px;
		margin-right: 4px;
	}
	
	#CandyBagNumberEntry
	{
		margin-right: 6px;
		vertical-align: middle;
	}

	#GrantButton
	{
		min-width: 0px;
		margin: 0px;
		ui-scale: 75%;
		vertical-align: middle;
	}
}

	
.RerollTools
{
	flow-children: right;
	margin-bottom: 6px;

	#RerollImage 
	{
		width: 60px;
		height: 28px;
		margin-right: 4px;
		vertical-align: center;

		background-image: url( "file://{images}/control_icons/24px/reroll.svg" );
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	
	#RerollChargesNumberEntry
	{
		margin-right: 6px;
		vertical-align: middle;
	}

	#GrantButton
	{
		min-width: 0px;
		margin: 0px;
		ui-scale: 75%;
		vertical-align: middle;
	}
}

#CandyRows
{
	flow-children: down;
}

.CandyRow
{
	flow-children: right;
	margin-bottom: 6px;

	.CandyID
	{
		width: 20px;
		font-size: 24px;
		vertical-align: middle;
		margin-right: 6px;
		color: #ccc;
	}

	#CandyImage
	{
		ui-scale: 50%;
		vertical-align: middle;
		margin-right: 6px;
	}

	#NumberEntry
	{
		margin-right: 6px;
	}

	#GrantButton
	{
		min-width: 0px;
		margin: 0px;
		ui-scale: 75%;
		vertical-align: middle;
	}
}

.DebugActionButton
{
	horizontal-align: center;
	ui-scale: 75%;
	margin: 0px;
	min-width: 300px;
	margin-bottom: 6px;
}

.DebugSection
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.DebugCandyShopID_2 .DebugSection__Crownfall
{
	visibility: visible;
}

