.SkyVengeDebut {
    width: 100%;
    height: 100%;
}

#ModelContainer
{
	width: 100%;
	height: 100%;
}

#ModelBackground {
	transform: scaleX(1);
	width: 100%;
	height: 100%;
	opacity: 0;
	pre-transform-scale2d: 1;
	vertical-align: middle;
	horizontal-align: center;
	saturation: 0;
	contrast: 1.03;
	transition-property: opacity, wash-color, saturation, contrast;
	transition-duration: 0.9s;
	transition-timing-function: ease-in;
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	&.Initialize {
		saturation: 1;
		contrast: 1;
		opacity: 1.0;
	}

	.AspectRatio21x9 & {
		opacity-mask: url( "file://{images}/masks/softedge_horizontal.png" );
	}

}

#MainContainer
{
	width: 100%;
	max-width: 2300px;
	horizontal-align: center;
	height: 100%;
    wash-color: #000;

    transition-property: wash-color;
	transition-duration: 1.0s; 
	transition-timing-function: ease-in;

	&.Initialize {
		wash-color: #fff;
		transition-duration: 0.2s; 
	}
}

.BottomControls {
	width: 100%;
	vertical-align: bottom;
	transform: translateY( -100px );

	transition-property: transform;
	transition-duration: 1.0s;

	.FullscreenPage & {
		transform: none;
	}
}


#CrownfallLogo {
	width: 1000px;
	height: 800px;
	ui-scale: 67%;
	horizontal-align: center;
	vertical-align: bottom;

	opacity: 0.0;
	transform: translateY( 80px );

	transition-property: opacity, transform;
	transition-duration: 1.0s;

	&.Initialize {
		opacity: 1.0;
		transform: translateY( 60px );
		transition-duration: 0.0s;
	}
}

#ContinueButton {
	min-width: 300px;
	ui-scale: 90%;
	margin-bottom: 12px;
	horizontal-align: center;
	vertical-align: bottom;

	opacity: 0.0;
	transform: translateY( 20px );

	transition-property: opacity, transform;
	transition-duration: 1.0s;

	&.Initialize {
		opacity: 1.0;
		transform: none;
		transition-duration: 0.0s;
	}
}