/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAFrostivus2024FrontPageCell.FrontPageCell
{
	width: 330px;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

DOTAFrostivus2024FrontPageCell.FrontPageCell.Hidden
{
	opacity: 0;
}

.Language_schinese .CellBackground,.Language_tchinese .CellBackground
{
	background-image: url("s2r://panorama/images/front_page/frostivus_2024_advent_calendar_bg_tall_cn_psd.vtex");
}

.Language_schinese .CellBackground .Title Image.cn,.Language_tchinese .CellBackground .Title Image.cn
{
	visibility: visible;
}

.Language_schinese .CellBackground .Title Image.en,.Language_tchinese .CellBackground .Title Image.en
{
	visibility: collapse;
}

.CellBackground
{
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("s2r://panorama/images/front_page/frostivus_2024_advent_calendar_bg_tall_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 0px 6px 48px -4px rgba(0, 0, 0, 0.5);
}

.CellBackground .SnowParticles
{
	width: 100%;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 0.4;
	blur: gaussian( 0.5px );
}

.CellBackground .SnowParticles.Background
{
	blur: gaussian( 4px );
	opacity: 0.2;
}

.CellBackground .Title
{
	horizontal-align: center;
	height: 57px;
	margin-left: 8px;
	margin-top: 4px;
	animation-name: TitleIntro;
	animation-duration: 0.3s;
}

.CellBackground .Title Image
{
	horizontal-align: center;
	animation-name: FloatBob;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function:ease-in-out;
}

.CellBackground .Title Image.cn
{
	visibility: collapse;
}

@keyframes 'TitleIntro'
{
	0%
	{
		transform: translateY( -5px );
		opacity: 0;
	}
	
}

@keyframes 'FloatBob'
{
	100%
	{
		transform: translateY( 2px );
	}
	
}

.CellContents
{
	width: 100%;
	height: 100%;
	flow-children: down;
	margin: 110px 45px 45px 50px;
}

.CellContents .HowToPlay,.CellContents .StoryDescription
{
	width: 100%;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.CellContents .HowToPlay Label,.CellContents .StoryDescription Label
{
	font-size: 15px;
	font-family: defaultFont;
	text-align: center;
	horizontal-align: center;
}

.CellContents .Inventory
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 10px;
}

.CellContents .Inventory .ComponentContainer
{
	padding: 3px;
}

.CellContents .Inventory .ComponentContainer Image
{
	width: 50px;
	height: 50px;
}

.CellContents .Divider
{
	height: 20px;
	width: 100%;
	background-image: url("s2r://panorama/images/events/frostivus/2024/front_cell_divider_png.vtex");
	background-size: contain;
	margin-top: 5px;
}

.CellContents .StoryButtonContainer
{
	flow-children: right;
	horizontal-align: center;
}

.CellContents .StoryButtonContainer .Filigree
{
	width: 30px;
	height: 30px;
	vertical-align: center;
	background-size: contain;
}

.CellContents .StoryButtonContainer .Filigree.Left
{
	background-image: url("s2r://panorama/images/events/frostivus/2023/snowflake_gold_png.vtex");
}

.CellContents .StoryButtonContainer .Filigree.Right
{
	background-image: url("s2r://panorama/images/events/frostivus/2023/snowflake_gold_png.vtex");
	transform: scaleX( -1 );
}

.CellContents .StoryButton,.CellContents .CraftworksButtonContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 5px;
}

.CellContents .StoryButton:hover,.CellContents .CraftworksButtonContainer:hover
{
	brightness: 1.5;
}

.CellContents .StoryButton:hover .CraftworksButton,.CellContents .CraftworksButtonContainer:hover .CraftworksButton
{
	box-shadow: fill #414f4daa 0px 0px 8px 0px;
}

.CellContents .StoryButton:active,.CellContents .CraftworksButtonContainer:active
{
	brightness: 0.6;
}

.CellContents .StoryButton:hover
{
	box-shadow: fill #414f4daa 0px 0px 8px 0px;
}

.CellContents .StoryButton,.CellContents .CraftworksButton
{
	ui-scale: 75%;
	horizontal-align: center;
	height: 50px;
	max-width: 250px;
	background-color: gradient( linear, 0% 20%, 0% 100%, from( #e0b75f ), to( #a57d27) );
}

.CellContents .RewardClaimableBadge
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 5px;
	border-radius: 1px;
	padding: 1px 6px;
	animation-name: GlowUnclaimedRewardsBadge;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.CellContents .RewardClaimableBadge Label
{
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
	font-size: 15px;
}

.RewardClaimable .CellContents .RewardClaimableBadge
{
	visibility: visible;
}

.CellContents #AsyncInventory
{
	width: 100%;
	height: 60px;
}

.CellContents #AsyncInventory #Inventory
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	vertical-align: middle;
}

.InventoryComponent
{
	width: 56px;
	height: 56px;
}

.InventoryComponent #ComponentImage
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
}

.InventoryComponent .ComponentAmount
{
	width: 24px;
	height: 24px;
	horizontal-align: right;
	vertical-align: bottom;
	background-color: black;
	border-radius: 50%;
}

.InventoryComponent .ComponentAmount > Label
{
	font-size: 16px;
	width: 100%;
	color: rgb(192, 220, 231);
	text-shadow: 0px 2px 8px black;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	transform: translateY( 1px );
	text-overflow: shrink;
}

@keyframes 'GlowUnclaimedRewardsBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}


