/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.TooltipContents
{
	flow-children: down;
	padding: 0px;
	width: 300px;
	background-color: gradient( radial, 30% 20%, 0% 0%, 100% 100%, from( #132b42 ), to( #0a1223 ) );
}

.Header
{
	width: 100%;
	flow-children: right;
	background-color: rgba(5, 8, 16, 0.7);
	padding: 16px;
}

.Header .LockIcon
{
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 6px;
	transform: translateY( -1px );
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #97aece ), to( #364355 ) );
	img-shadow: 0px 1px 4px black;
	background-image: url("s2r://panorama/images/control_icons/24px/lock.vsvg");
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.Header .Title
{
	color: whitesmoke;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-weight: semi-bold;
}

.Tier1 .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #b1ffb6 ), to( #5de766 ) );
}

.Tier2 .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #98ffff ), to( #6ce3e3 ) );
}

.Tier3 .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #83cfff ), to( #55A4FF ) );
}

.TierCrownfall .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #8d87ff ), to( #675fff ) );
}

.TierLegacy .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #ff678d ), to( #ef2846 ) );
}

.TierPremium .Header .Title
{
	color: gradient( linear, 0% 10%, 0% 100%, from( #ffffff ), color-stop( 0.45, #fedb8f ), color-stop( 0.55, #a58c54 ), to( #c49b41 ) );
}

.Body
{
	flow-children: down;
	padding: 16px 16px 24px;
	width: 100%;
}

.Body Label
{
	color: LighterGrey;
}

.Body .TierLockDesc
{
	width: 100%;
	margin-bottom: 8px;
	padding-bottom: 12px;
	border-bottom: 1px solid rgba(218, 241, 255, 0.05);
	border-brush: gradient( linear, 50% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.Body .ProgressContainer
{
	width: 100%;
	flow-children: down;
	margin-top: 4px;
}

.Body .ProgressContainer .ProgressStatus
{
	width: 100%;
	flow-children: right;
}

.Body .ProgressContainer .ProgressStatus .ProgressLabel
{
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1px;
}

.Body .ProgressContainer .ProgressStatus .ProgressAmount
{
	font-size: 16px;
}

.Body .ProgressContainer #ProgressBar
{
	margin-top: 6px;
	width: 100%;
	border-radius: 4px;
	height: 8px;
}

.Tier1 .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #b1ffb6 ), to( #5de766 ) );
}

.Tier2 .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #98ffff ), to( #6ce3e3 ) );
}

.Tier3 .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #83cfff ), to( #55A4FF ) );
}

.TierCrownfall .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #8d87ff ), to( #675fff ) );
}

.TierLegacy .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #ff678d ), to( #ef2846 ) );
}

.TierPremium .Body .ProgressContainer #ProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 10%, 0% 100%, from( #ffffff ), color-stop( 0.45, #fedb8f ), color-stop( 0.55, #a58c54 ), to( #c49b41 ) );
}


