.PenguinLoadoutRoot
{
    width: 100%;
    height: 100%;
}

#PenguinLoadoutBackground
{
    background-color: #000000ee;
    width: 100%;
    height: 100%;
    opacity: 0;

    transition-property: opacity;
    transition-duration: .8s;

    &.Visible
    {
        opacity: 1;
        transition-duration: .4s;
    }
}

#PenguinLoadoutContainer
{
    width: 1280px;
	height: 620px;
	vertical-align: center;
	horizontal-align: center;
    flow-children: down;
    margin-top: -80px;


    background-image: url("file://{images}/game_modes/diretide2022_mount_select.psd");
    background-size: contain;
    background-repeat: no-repeat;
	border-right: 1px solid #30313D88;
	border-left: 1px solid #30313D88;
	border-bottom: 1px solid #30313D88;

	box-shadow: fill 0px 8px 48px #000000BB;

    opacity: 0;
    transform: translatey( 20px );
    transition-property: opacity, transform;
    transition-duration: .8s;

    &.Visible
    {
        opacity: 1;
        transform: translatey( 0 );
        transition-duration: .4s;
    }
}

#PenguinLoadoutTitle
{
    width: 100%;
    margin: 54px 20px 0px 20px;
    text-align: center;
    font-size: 28px;
    font-family: titleFont;
    text-transform: uppercase;
    color: bluegreyTextBright;
    font-weight: semi-bold;
    letter-spacing: 2px;
    text-shadow: 0px 1px 8px #00000088;
}

#PenguinLoadoutDescription
{
    width: 100%;
    margin: -4px 20px 20px 20px;
    text-align: center;
    font-size: 18px;
    color: bluegreyTextReg;
    text-shadow: 0px 1px 8px #00000088;
}

#PenguinLoadoutList
{
    width: fit-children;
	flow-children: right;
    horizontal-align: center;
}

.LoadoutSelector
{
    width: 240px;
    height: 400px;
    margin: 8px;

    border: 2px solid #96a2bc11;
    border-radius: 5px;
    //box-shadow: fill 0px 8px 48px #00000066;

    pre-transform-scale2d: 1;

    transition-property: brightness, pre-transform-scale2d;
    transition-duration: .2s;
    &:hover
    {
        brightness: 1.8;
        pre-transform-scale2d: 1.03;
    }
    &:active
    {
        brightness: 2.2;
        sound: "ui_quit_menu_fadeout" ;
    }


}
.PenguinLoadoutItem
{

    width: 240px;
    height: 400px;

    horizontal-align: center;
    vertical-align: center;
    flow-children: down;

    background-image: url("file://{images}/game_modes/diretide2022_mount_selector.psd");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.PenguinLoadoutName
{
    width: 208px;
    margin: 8px 20px 4px 20px;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
	text-transform: uppercase;
    font-family: titleFont;
    color: bluegreyTextBright;
    letter-spacing: 1px;
    text-shadow: 0px 1px 8px #000000aa;
}

#PenguinLoadoutIcon
{
    width: 208px;
    height: 208px;
    margin: 4px;
    horizontal-align: center;
    background-size: 100%;
    background-image: url("file://{images}/spellicons/empty.png");
	box-shadow: fill 0px 8px 24px #00000044;
    
    transition-property: box-shadow;
    transition-duration: .1s;
    .PenguinLoadoutItem:hover &
    {
        box-shadow: fill 0px 8px 24px #00000044;
    }

    .penguin &
    {
        background-image: url("file://{images}/spellicons/mount_penguin.png");
    }
    .ogreseal &
    {
        background-image: url("file://{images}/spellicons/mount_ogreseal.png");
    }
    .snowball &
    {
        background-image: url("file://{images}/spellicons/mount_snowball.png");
    }
    .frosttoad &
    {
        background-image: url("file://{images}/spellicons/mount_frosttoad.png");
    }
}

.PenguinLoadoutDescription
{
    width: 208px;
    height: 150px;
    margin: 8px 20px 0 20px;
    horizontal-align: center;
    text-align: left;
    font-size: 16px;
    color: bluegreyTextReg;
    font-family: titleFont;
    font-weight: semi-bold;
    text-align: center;
    text-shadow: 0px 1px 8px #000000aa;
}

.PenguinLoadoutDescription b
{
    color: bluegreyTextBright;
}

#PenguinLoadoutClaim
{
    width: 268px;
    height: 40px;
    margin: 40px 0px 20px 0px;
    vertical-align: bottom;


	horizontal-align: center;
    background-color: gradient( linear, 0% 0%, 90% 100%, from( #1E2E3E66 ), color-stop( 0.5, #26374766 ), to( #1E2E3E66 ) );
	border: 1px solid #BBCDD744; 
	border-radius: 4px;
	transition-property: brightness;
	transition-duration: 0.2s;

    & Label
    {
        width: 100%;
        text-align: center;
        vertical-align: center;
        font-weight: semi-bold;
        //font-family: titleFont;
        font-size: 16px;
        color: #BBCDD7;
        text-shadow: 0px 1px 4px #000000;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &:hover
    {
        brightness: 2.2;
    }
}

#PenguinLoadoutFloatingIcon
{
    background-size: 100%;

	transition-property: opacity, transform;
    transition-duration: 1s;
    
    opacity: 1;
    transform: translatey( 0 );
    transition-duration: .2s;

    &.Hidden
    {
        opacity: 0;
        transform: translatey( 15px );
        transition-duration: 0s;
    }

    &.penguin
    {
        background-image: url("file://{images}/spellicons/mount_penguin.png");
    }
    &.ogreseal
    {
        background-image: url("file://{images}/spellicons/mount_ogreseal.png");
    }
    &.snowball
    {
        background-image: url("file://{images}/spellicons/mount_snowball.png");
    }
    &.frosttoad
    {
        background-image: url("file://{images}/spellicons/mount_frosttoad.png");
    }
}