DOTACrownfallButton {

	transition-property: brightness, transform;
	transition-duration: 0.1s, 0.05s;

	.ButtonLabel {
		max-height: 30px;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: semi-bold;
		letter-spacing: 1.5px;
		text-align: center;
		color: whitesmoke;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
		horizontal-align: center;
		margin-top: 21px;
		padding: 0px 55px;
		text-overflow: shrink;

		transition-property: color;
		transition-duration: 0.05s;
		.Language_schinese &,
		.Language_tchinese &,
		.Language_koreana & {
			font-size: 24px;
		}
	}

	.ButtonBackground, .ButtonOutline {
		width: 100%;

		border-width: 88px 56px 0px 56px;
		border-image-slice: 100% 112px 0px 112px;
		border-image-repeat: stretch;

		transition-property: brightness, wash-color;
		transition-duration: 0.05s;
	}

	.ButtonBackground {
		wash-color: rgb(42, 123, 222);
		border-image-source: url( "file://{images}/events/crownfall/buttons/button_primary_bg.psd" );
	}

	.ButtonOutline {
		border-image-source: url( "file://{images}/events/crownfall/buttons/button_primary_outline.psd" );
	}

	&.MinWidth {
		min-width: 200px;
	}

	&.Secondary {

		margin-left: -8px;
		margin-right: -8px;
		max-height: 45px;
		
		.ButtonLabel {
			max-height: 20px;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: 1.5px;
			text-align: center;
			color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #B0BCC2 ) );
			text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
			horizontal-align: center;
			margin-top: 15px;
			padding: 0px 36px;
			font-family: Radiance;
			
			.Language_schinese &,
			.Language_tchinese & {
				font-size: 24px;
				font-family: defaultFont;
			}

			.Language_koreana & {
				font-size: 18px;
				font-family: defaultFont;
			}

			.Language_thai & {
				font-family: defaultFont;
				font-size: 26px;
				max-height: 26px;
				margin-top: 12px;
			}
		}

		.ButtonBackground, .ButtonOutline {
			border-width: 56px 32px 0px 32px;
			border-image-slice: 100% 64px 0px 64px;
		}

		.ButtonBackground {
			wash-color: rgb(31, 55, 118);
			border-image-source: url( "file://{images}/events/crownfall/buttons/button_secondary_bg.psd" );
		}
		
		.ButtonOutline {
			border-image-source: url( "file://{images}/events/crownfall/buttons/button_secondary_outline.psd" );
		}
	}

	&.Secondary.Wide {
		.ButtonLabel {
			padding: 0px 44px;
		}
	}

	&:enabled:hover {
		.ButtonBackground {
			brightness: 2.5;
		}

		.ButtonLabel {
			color: white;
		}
	}

	&:active {
		transform: scale3d( 0.98, 0.98, 1 );

		.ButtonBackground {
			brightness: 0.4;
		}
	}

	&:disabled {
		saturation: 0.2;
		brightness: 0.2;
	}

	&.Blue {
		.ButtonBackground {
			wash-color: rgb(42, 123, 222);
		}
	}

	&.Gold {
		.ButtonBackground {
			wash-color: rgb(255, 205, 118);
		}
	}

	&.GlowButton {
		animation-name: GlowButton;
        animation-duration: 0.8s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
	}
}

@keyframes 'GlowButton' {
    0% {
        brightness: 1;
    }
    100% {
        brightness: 2.2;
    }
}