.ChapterInfoContainer {
	flow-children: down;

	transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;

	visibility: collapse;

	padding: 8px;
	padding-left: 12px;
	padding-right: 6px;
	background-color: rgba(25, 17, 34, .7);
	                                           
	border-radius: 16px;
    opacity: 0;

    .ShowingIntro & {
        opacity: 0;
    }
	

	Label {		
		text-shadow: 2px 1px 3px 2 black;
	}

	.ChapterNumber {
		flow-children: right;
	}

	.ChapterNumberIcon {
		width: 16px;
		height: width-percentage( 100% );
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
		margin-right: 8px;
		vertical-align: center;
		opacity-mask: url( "file://{images}/control_icons/24px/comic.png" );
		                                         
		                     
	}

	.ChapterNumberLabel {
		max-height: 24px;
	}
	.ChapterNameLabel {
		max-height: 32px;
	}
	.ChapterNumberLabel,
	.ChapterNameLabel {
		color: gradient( linear, 0% 0%, 0% 100%, from( #FFF4D8 ), color-stop( 0.5, gold1 ), to( gold2 ) );
		vertical-align: center;
		text-overflow: shrink;
		line-height: normal;
	}

	.StageCompletionLabel {
		color: LighterGrey;
	}
}

@keyframes 'ClickMePulse'
{
	0%		{ pre-transform-scale2d: 1; }
	25%		{ pre-transform-scale2d: 0.98; }
	75%		{ pre-transform-scale2d: 1.02; }
	100%	{ pre-transform-scale2d: 1; }
}

.PremiumRope {
	width: 150px;
	height: 60px;
	background-size: 100% 100%;
	texture-sampling: point;

	&:hover {
		brightness: 1.5;
		animation-name: ClickMePulse;
		animation-duration: 0.3s;
		animation-timing-function: linear;
		animation-iteration-count: 1;
	}
}

.Clickable 
{
	width: fit-children;
	height: fit-children;

	                                                        
	&.ExpandedClickArea
	{
		padding: 50px;
		margin-left: -50px;
		margin-top: -50px;
	}

	AnimatedImageStrip {
		texture-sampling: point;
	}
  	
	                          
	                       
	                                    
	                                       
	                  
  
}

.DebugShowClickables, .EditMode, .IsDragging
{
	.Clickable {
		box-shadow: 0 0 0 4px #f008 inset;
	}
	
}

