.PopupPanel.CrownfallFeedback {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #202b36 ), to( #0a111c ) );
	width: 1000px;
	padding: 0px;
	border: 0;
	box-shadow: 0px 16px 64px -4px rgba(0, 0, 0, 0.6);

	background-image: url( "file://{images}/events/crownfall/backgrounds/bg.png" );
	background-size: cover;
	background-position: center;
	background-img-opacity: 0;
}

#CloseButtonContainer {
	ignore-parent-flow: true;
}

#MainBody {
	width: 100%;
	height: fit-children;
	flow-children: right;
 }
 
.MainContainer {
	padding: 0px 80px 0px;
	width: 100%;
	flow-children: down;

	.Content {
		width: 100%;
		flow-children: down;

		padding: 40px 0px 34px;
		background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(119, 142, 171, 0.1) ), to( gold3&00 ) );

		Label {
			font-size: 17px;
			color: LighterGrey;
			text-shadow: 0px 2px 10px black;
	
			b {
				font-weight: semi-bold;
				color: #ddd;
			}
		}

		TextEntry {
			margin: 40px 0px;
			width: 100%;
			height: 300px;
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #0C141EFF ), to( #151E28FF ) );
			overflow: scroll;

			font-size: 18px;
			border: 1px solid rgba(208, 233, 255, 0.128);
			                                                                                                                                                                                                       
		}

		DOTACrownfallButton {
			horizontal-align: center;
		}
	}
}

.Footnote {
	font-family: titleFont;
	horizontal-align: center;
	color: LighterGrey;
	margin-top: 40px;
	margin-bottom: -16px;
}

.RightFlowContainer {
	flow-children: right;
	horizontal-align: center;
}

.WelcomeTitleContainer {
	width: 100%;
	background-color: #05080d55;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, #BA8C47 ), color-stop( 0.5, #ebc386 ), color-stop( 0.7, #BA8C47 ), to( rgba(255, 255, 255, 0) ) );
	min-height: 120px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.5);
	
	.WelcomeTitle {
		vertical-align: center;
		horizontal-align: center;
		font-family: titleFont;
		color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
		font-weight: semi-bold;
		font-size: 38px;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-shadow: 0px 2px 16px black;
		margin-top: 4px;
	}
}

.TopGoldDash {
	width: 100%;
	height: 2px;
	ignore-parent-flow: true;
	vertical-align: top;
}

.Separator {
	width: 100%;
	height: 2px;
	background-color:gold2;
	margin-top: 30px;
	margin-bottom: 30px;
}
