                            
DOTABPCrownfallCandyShopPage {
	width: 100%;
	height: 100%;

	             
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;

	                                    
	                          
}

.MainContents
{
	horizontal-align: center;
	vertical-align: center;
	                          
	                          
	width: 100%;
	height: 100%;
	                
	                
}

.AsyncContents
{
	width: fit-children;
	height: 100%;
	horizontal-align: center;
}

.AsyncContents > .AsyncSuccessContainer
{
	width: fit-children;
	height: 100%;
	flow-children: right;
}

.ShadeTop
{
	ignore-parent-flow: true;
	width: 100%;
	height: 128px;
	background-color: gradient (linear, 0% 0%, 0% 100%, from( #000000cc ), to( #00000000 ));
}

.ShadeRight
{
	ignore-parent-flow: true;
	horizontal-align: right;
	width: 256px;
	height: 100%;
	background-color: gradient (linear, 0% 100%, 100% 100%, from( #00000000 ), to( #000000cc ));
}

.ShadeBottom
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	width: 100%;
	height: 128px;
	background-color: gradient (linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000cc ));
}


                                                                               

.RightSection
{
	flow-children: down;
	width: 512px;
	margin-top: 110px;
	margin-left: 40px;
	height: 710px;
}

.RightSectionGroup
{
	width: 100%;
	margin-top: 70px;
	background-color: gradient( linear, 0% 20%, 80% 100%, from( rgb(132, 116, 87) ), to( rgb(43, 33, 16) ) );
	box-shadow: #00000066 0px 2px 32px 0px;
	height: fill-parent-flow(1);
}

.SubSectionTitle
{
	width: 100%;
	flow-children: right;

	.Rule
	{
		width: fill-parent-flow( 1.0 );
		height: 1px;
		background-color: #ffffff06;
		vertical-align: middle;
	}
	
	Label
	{
		margin: 0px 16px;
		color: rgb(255, 233, 202);
		text-shadow: 0px -1px 2px black;
	}
}

.CandyPacks
{
	width: 100%;
	height: 100px;
}

#OpenCandyPackButton
{
	visibility: visible;

	Label
	{
		horizontal-align: center;
		vertical-align: center;
		text-align: center;
	}
}

#SlotsFullLabel {
	visibility: collapse;
	horizontal-align: center;
	margin-top: -14px;
	color: rgb(255, 100, 100);
	text-shadow: 0px 2px 8px black;
}

.CandyShopSlotsAvailableNoCandies
{
	#OpenCandyPackButton.BattlePassBrightButton
	{
		background-color: secondaryDarkColor;
		border-color: ultraBrightColor&06;
		box-shadow: none;
		opacity: 0.5;
	}

	#OpenCandyPackButton.BattlePassBrightButton Label
	{
		color: ultraBrightColor&33;
		text-shadow: none;
	}

	#OpenCandyPackButton.BattlePassBrightButton:hover:enabled
	{
		brightness: 1;
		background-color: secondaryDarkColor;
		box-shadow: none;
	
		transition-property: brightness, background-color, box-shadow;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
	}
}

.CandyShopSlotsAvailableHasCandy
{
	.CandyPacksMain
	{
		background-color: gradient (linear, 0% 0%, 100% 100%, from( gold1 ), color-stop( 0.7, gold2&22 ), to( gold3&00 ));
		transition-property: background-color;
		transition-duration: 0.35s;
		transition-timing-function: ease-in-out;
	}

	.CandyPacksMain .CandyPacksCount
	{
		color: white;
		                                                         
	}

	#BackgroundFXWindow
	{
		visibility: visible;
	}

	#OpenCandyPackButton.BattlePassBrightButton
	{
		animation-name: PulseUnclaimed;	
		animation-duration: 1.7s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}	

	#CandyInventory .CandyInventorySlot
	{
		                                                                                                        
	}

	#CandyInventory .CandyInventorySlot.SlotFillable
	{
		background-color: gold1&11;
		border: 1px solid gold1;

		animation-name: FillSlot;	
		animation-duration: 1.7s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	
	#CandyInventory .CandyInventorySlot.HasCandy
	{
		background-color: none;
		border: 0px;
	}

	#CandyInventory .CandyInventorySlot.SlotLocked
	{
		                                                                                                        
		                                  
	}
}

.CandyShopSlotsFull
{
	#SlotsFullLabel
	{
		visibility: visible;
	}

	#OpenCandyPackButton
	{
		saturation: 0.2;
		brightness: 0.2;
	}

	.CandyPacksMain
	{
		background-color: gradient (linear, 0% 0%, 100% 100%, from( #000000cc ), to( #76251fcb ));
		transition-property:background-color;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;

		.BattlePassBrightButton
		{
			background-color: secondaryDarkColor;
			border-color: ultraBrightColor&06;
		}

		.BattlePassBrightButton Label
		{
			color: #FF4433;
			text-shadow: none;
		}

		.BattlePassBrightButton:hover:enabled
		{
			brightness: 1;
			background-color: secondaryDarkColor;
			box-shadow: none;
		
			transition-property: brightness, background-color, box-shadow;
			transition-duration: 0.5s;
			transition-timing-function: ease-in-out;
		}
	}
}

.CandyPacksMain
{
	flow-children: right;
	vertical-align: center;
	width: 100%;
	height: 100%;
	padding-left: 190px;
	background-color: #000000cc;
	transition-property:background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	
	.CandyCount
	{
		vertical-align: center;
		margin-bottom: 12px;
	}

	.CandyPacksCount
	{
		horizontal-align: center;
		vertical-align: center;
		font-size: 56px;
		letter-spacing: 2px;
		font-family: titleFont;
		font-weight: semi-bold;
		color: gradient (linear, 0% 15%, 0% 115%, from( accentColorBright ), color-stop( 0.50, white ), color-stop( 0.51, accentColorBright ), to( ultraBrightColor ));
		text-shadow: 0px 2px 6px 1.0 #00000066;		
	}

	.CandyPacksLabel
	{
		horizontal-align: center;
		margin-top: -14px;
		margin-right: 6px;
		color: gold1;
		text-shadow: 0px 2px 6px 1.0 #00000066;
	}

	.BattlePassBrightButton
	{
		vertical-align: center;
		margin: 0px;
	}

	.OpenCandyBtn
	{
		flow-children: down;
		vertical-align: center;
		horizontal-align: right;
		margin-top: 12px;
		margin-right: 8px;
		
		.CandyShopSlotsFull & {
			margin-top: 0px;
		}

		DOTACrownfallButton {
			vertical-align: center;
			ui-scale: 86%;
		}
	}
}

#BackgroundFXWindow
{
	ignore-parent-flow: true;

	width: 300px;
	height: 300px;
	margin-left: -60px;
	margin-top: -20px;
	wash-color: gold1;
	brightness: 2;
	visibility: collapse;
	opacity-mask: url( "file://{images}/masks/softedge_circle.png" ) 1.0;
	overflow: noclip;
}

.CandyPacksImage
{
	ignore-parent-flow: true;
	overflow: noclip;
	width: 180px;
	height: 180px;
	margin-top: 24px;

	background-image: url( "file://{images}/battlepass/international2022/candy_shop/candy_bag.psd" );
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}



                                                                               

.CandyOwned
{
	width: 100%;
	padding: 24px 24px 0px 24px;
	flow-children: down;

	                   
	 
		                 
	    
}

#CandyInventory
{
	flow-children: down;
	horizontal-align: center;
}

.CandyInventoryRow
{
	flow-children: right;
}

.CandyInventorySlot
{
	width: 40px;
	height: 40px;
	margin: 4px 4px 0px 0px;
	background-color: rgba(255, 255, 255, 0.02);
	border: 1px solid #fff1d83d;
	border-radius: 2px;

	&.IsNewCandy {
		animation-name: AddCandy;	
		animation-duration: 0.4s;
		animation-timing-function: linear;
		animation-iteration-count: 4;
		animation-fill-mode: both;
	}

	#CandyImage
	{
		width: 100%;
		height: 100%;

		visibility: collapse;
	}

	.LockedIcon
	{
		width: 20px;
		height: width-percentage( 100% );
		horizontal-align: center;
		vertical-align: center;
		wash-color: rgb(138, 130, 112);
		img-shadow: 0px 1px 4px black;
		tooltip-position: top;

		visibility: collapse;
	}

	&.SlotHidden
	{
		opacity: 0;
	}

	&.HasCandy
	{
		background-color: none;
		border: 0px;

		#CandyImage
		{
			visibility: visible;
		}
	}

	&.SlotLocked
	{
		background-color: gradient( radial, 50% 50%, 0% 0%, 75% 75%, from( #00000042 ), to( #00000076 ) );
		border-color: rgba(0, 0, 0, 0.1);

		.LockedIcon
		{
			visibility: visible;
		}
	}
}

@keyframes 'AddCandy'
{
	0% {
		brightness: 1;
		transform: none;
	}

	50% {
		brightness: 2;
		transform: scale3d( 1.5, 1.5, 1 );
	}

	100% {
		brightness: 1;
		transform: none;
	}

}

                                                                               

.CandyExchange
{
	flow-children: down;
	width: 100%;
	padding: 16px 24px 24px;
}

.ExchangeSection 
{
	width: 100%;
	margin-bottom: 12px;
	flow-children: down;
}

.VariableExchangeSection
{
	width: 100%;

	.ExchangeRecipe
	{
		flow-children: right;
		vertical-align: center;
		width: 116px;
		height: 46px;
		padding: 0px 4px;
		margin: 0px 8px;
		border-radius: 2px;
		background-color: #ffda9f0e;
	}

	.ExchangeRecipeInvalid
	{
		background-color: #00000033;
		brightness: 1;
	}
}

.ExchangeRecipe
{
	flow-children: right;
	width: 100%;
	height: 42px;
	margin-bottom: 4px;
	border-radius: 2px;
	background-color: #ffda9f0e;
	border: 1px solid #fff0cb0b;
	
	transition-property: brightness;
	transition-duration: 0.1s;

	.ExchangeButton {
		transition-property: transform;
		transition-duration: 0.1s;
	}

	&:hover {
		brightness: 1.5;

		.ExchangeButton {
			transform: scale3d( 1.15, 1.15, 1 );
		}
	}
}

.ExchangeRecipe:active
{
	brightness: 4;

	transition: brightness 0.5s ease-in-out 0.0s;
}

.ExchangeRecipeInvalid.ExchangeRecipe:hover
{
	background-color: #00000033;
	brightness: 1;

	.ExchangeButton
	{
		pre-transform-scale2d: 1;
		background-color: none;
	}
}

.ExchangeRecipeInvalid
{
	background-color: #00000057;
	border: 1px solid #0000003e;

	transition: border 0.2s ease-in-out 0.0s, background-color 0.2s ease-in-out 0.0s;

	.ExchangeButton
	{		
		background-color: none;
		border: 0px;
		opacity: 0.2;
		box-shadow: none;
	}
}

.ExchangeRecipeCandysList
{
	flow-children: right;
}

.ExchangeRecipeCandysList DOTACandyImage
{
	ui-scale: 50%;
	margin: 0px 8px 0px 0px;
}

.ExchangeInputs
{
	flow-children: right;
	vertical-align: center;
	width: fill-parent-flow (1);

	DropDown
	{
		width: fill-parent-flow (1);
	}
}

.ExchangeInputs .ExchangeRecipeCandysList
{
	horizontal-align: right;
}


.ExchangeInputs .ExchangeRecipeCandysList.DropDownChild
{
	horizontal-align: left;
}

.ExchangeArrow
{
	vertical-align: center;
	horizontal-align: center;
	width: 16px;
	height: 16px;
}

.ExchangeOutputs
{
	flow-children: right;
	vertical-align: center;
	width: fill-parent-flow (1);

	DropDown
	{
		width: fill-parent-flow (1);
	}
}

.ExchangeButton
{
	vertical-align: center;
	horizontal-align: center;
	width: 32px;
	height: 32px;
	margin: 0px 24px;
	background-position: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( defaultColor ), to( accentColor ) );
    border: 1px solid accentColor;
	border-radius: 50%;
	box-shadow: #00000066 0px 2px 8px 0px;

	.ExchangeArrow
	{
		vertical-align: center;
		horizontal-align: center;
		width: 16px;
		height: 16px;
	}

}


.ExchangeButton:disabled 
{
	background-color: none;
	border: 0px;

	.CandyRewardShelf
	{
		background-color: red;
	}	
}

.ExchangeHeader
{
	flow-children: right;
	width: 100%;
	width: 32px;
	height: 32px;

}

.SubTitle
{
	horizontal-align: center;
	margin-bottom: 4px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff68;
	letter-spacing: 1px;
	font-size: 14px;
}



                                                                               

.PageTitleContainer
{
	flow-children: down;
	z-index: 200;
	horizontal-align: center;
	margin-top: 80px;
}

.PageTitle
{
	horizontal-align: center;
	text-align: center;
	font-size: 40px;
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
	margin-bottom: -6px;
}

.PageSubtitle
{
	horizontal-align: center;
	margin-top: -12px;
	font-size: 24px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( ultraBrightColor ), to( accentColor ) ); 
}

#InfoButtons
{ 
	horizontal-align: center;
	
	.battlepassBtnMinor
	{
		height: 35px;
		margin: 0px 0px 0px 0px;
		padding: 8px 24px 8px 24px;
		font-size: 16px;
		font-weight: semi-bold;
	}
}


                                                                               


.LeftSection
{
	width: 1020px;
	height: 100%;
	horizontal-align: left;
	vertical-align: center;
	flow-children: down;
	z-index: 100;
	margin-top: 180px;
}

#HelpText
{
	flow-children: right;
	horizontal-align: center;
	margin: 0px 8px;
}

.HelpText
{
	margin-right: 16px;
	color: #ffffff66;
	text-shadow: 0px 2px 8px 3.0 #00000066;
}

#TextLink
{
	flow-children: right;
	brightness: 1;
	transition: brightness 0.1s ease-in-out 0.0s;
}

#TextLink:hover
{
	brightness: 3;
	transition: brightness 0.3s ease-in-out 0.0s;
}

.TextLink
{
	color: accentColor;
	text-shadow: 0px 2px 8px 3.0 #00000066;
}

.InfoIcon 
{
	width: 16px;
	height: 16px;
	background-image: url( "file://{images}/status_icons/information.psd" );
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 0px;
	margin-right: 4px;

	tooltip-position: right;
	tooltip-body-position: 50% 10%;
	wash-color: accentColor;
	vertical-align: middle;

	transition-property: wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;

}

.RewardCourier #CandyRewardDetail 
{
	                        
}


#CandyRewards
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 12px;
	overflow: noclip;
}

.CandyReward
{
	flow-children: down;
	width: 420px;
	margin-right: -56px;
	margin-left: -56px;
	overflow: noclip;

	.CandyRewardTop
	{
		width: 100%;
		height: 448px;
		overflow: noclip;
		margin-top: -60px;
		ignore-parent-flow: true;

		.CandyRewardShelf
		{
			                            
			              
			             
			                       
			                                                                                                                                                                                
			                                          
			
			visibility: collapse;
		}

		#CandyRewardDetail
		{
			width: 100%;
			height: 100%;
			overflow: noclip;
			opacity-mask: url( "file://{images}/masks/softedge_box.png" );

			.EventActionDetail
			{
				width: 100%;
				height: 100%;

				tooltip-body-position: -100px 50%;

				.EventActionCoinScene
				{
					width: 100%;
					height: 100%;
				}

				.EventActionCoinQty
				{
					horizontal-align: right;
					vertical-align: bottom;

					margin-right: 120px;
					margin-bottom: 133px;

					color: white;
					text-shadow: 2px 2px 8px black;
					font-weight: bold;
					font-size: 42px;
				}
			}

			.EconItemDetail
			{
				width: 100%;
				height: 100%;

				tooltip-body-position: -100px 50%;

				#ItemShadow
				{
					width: 48px;
					height: 48px;
					vertical-align: bottom;
					horizontal-align: center;
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

					pre-transform-scale2d: 7.0;
					blur: gaussian(1px);
					brightness: 0.0;
					saturation: 0;
					opacity: 0.8;
					transform: scaleY( 0.4 ) translateY( -76px );
				}

				#ItemReflection
				{
					width: 80px;
					height: 40px;
					vertical-align: bottom;
					horizontal-align: center;
					pre-transform-scale2d: 4.2;
					transform: scaleY(-1) translateY(24px);
					blur: gaussian(1px);
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
					opacity: 1;
					saturation: .8;
				}

				#ItemSetPreview
				{
					width: 100%;
					height: 100%;
					margin-bottom: 12px;
					opacity-mask: url( "file://{images}/masks/softedge_box.png" );
				}
				
				&.Showing2DPreview
				{
					#ItemSetPreview
					{
						horizontal-align: center;
						width: 420px;
						height: 420px;
						transform: scaleX(0.85) scaleY(0.85) translate3d( 0px, 64px, 0px );
						opacity-mask: url( "file://{images}/masks/softedge_box.png" );
					}
				
					#ItemShadow
					{
						visibility: collapse;
						  
						                                                        
						                       
						                         
				
						             
						              
						                            
						                                                                      
				
						              
						                                                                       
				
						                    
						                
						              
						  
					}
				
					#ItemReflection
					{
						vertical-align: bottom;
						horizontal-align: center;
				
						width: 210px;
						height: 210px;
						pre-transform-scale2d: 2.0;                                           
						transform: scaleX(0.85) scaleY(-0.5) translateX(0px) translateY(96px);
				
						blur: gaussian(3px);
						opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
						opacity: 0.25;
						saturation: .8;
					}
				}

			}

			.HeroItemReward
			{
				width: 100%;
				height: 100%;

				#ItemShadow
				{
					width: 48px;
					height: 48px;
					vertical-align: bottom;
					horizontal-align: center;
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

					pre-transform-scale2d: 7.0;
					blur: gaussian(1px);
					brightness: 0.0;
					saturation: 0;
					opacity: 0.8;
					transform: scaleY( 0.4 ) translateY( -76px );
				}

				#ItemReflection
				{
					width: 80px;
					height: 40px;
					vertical-align: bottom;
					horizontal-align: center;
					pre-transform-scale2d: 4.2;
					transform: scaleY(-1) translateY(24px);
					blur: gaussian(1px);
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
					opacity: 1;
					saturation: .8;
				}

				#ItemSetPreview
				{
					width: 100%;
					height: 100%;
					margin-bottom: 12px;
					opacity-mask: url( "file://{images}/masks/softedge_box.png" );
				}
			}

			.EventPointsDetail
			{
				width: 100%;
				height: 100%;
				overflow: clip;

				#ItemSetPreview
				{
					width: 420px;
					height: 420px;
					horizontal-align: center;
					transform: scaleX(1.2) scaleY(1.2) translate3d( 40px, 0px, 0px );
					opacity-mask: url( "file://{images}/masks/softedge_box.png" );
				}

				#ItemShadow
				{
					vertical-align: bottom;
					horizontal-align: center;

					width: 210px;
					height: 210px;
					pre-transform-scale2d: 2.0;                                                                 
					transform: scaleX(1.25) scaleY(0.7) translateX(40px) translateY(16px);

					opacity: 0.75;
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
					blur: gaussian(3px);
					brightness: 0.0;
					saturation: 0;
				}

				#ItemReflection
				{
					vertical-align: bottom;
					horizontal-align: center;

					width: 210px;
					height: 210px;
					pre-transform-scale2d: 2.0;                                           
					transform: scaleX(1.25) scaleY(-0.7) translateX(40px) translateY(96px);

					blur: gaussian(3px);
					opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
					opacity: 0.5;
					saturation: .8;
				}

				.EventPointsAmount
				{
					horizontal-align: center;
					vertical-align: bottom;
					transform: translateY( -24px );
					text-align: center;
					font-family: titleFont;
					font-weight: bold;
					font-size: 56px;
					text-overflow: shrink;	
					color: gradient (linear, 0% 0%, 0% 100%, from( #FFE293 ), color-stop( 0.2, #FFE293 ), color-stop( 0.7, white ), color-stop( 0.71, #FFE293 ), to( #FFE293 ) );
					text-shadow: 0px 4px 12px #000000aa;
				}
			}
		}
	}

	.CandyRewardFront
	{
		horizontal-align: center;
		width: 268px;
		background-color: gradient (linear, 0% 0%, 0% 100%, from( #04070b ), color-stop( 0.4, #0A101A ), color-stop( 0.6, #17293d ), to( #293d54 ) );
		border: 1px solid rgba( 255, 255, 255, 0.05 );
		border-brush: gradient (linear, 0% 20%, 0% 100%, from ( #FFFFFF00 ), to ( #FFFFFF ) );
		flow-children: down;
		padding-top: 350px;
		box-shadow: 0px 12px 64px -4px rgba(0, 0, 0, 0.4);

		.CandyRewardName
		{
			margin: 0px 16px;
			width: 100%;
			height: 50px;
			padding-bottom: 4px;
			border-bottom: 1px solid rgba( 255, 255, 255, 0.1 );
			border-brush: gradient (linear, 0% 0%, 100% 0%, from( gold3&00 ), color-stop( 0.4, gold2 ), color-stop( 0.6, gold2 ), to( gold3&00 ) );

			Label
			{
				vertical-align: middle;
				horizontal-align: center;
				text-align: center;
				text-overflow: shrink;
				color: LightestGrey;
				font-family: titleFont;
				text-shadow: 0px 2px 12px black;
			}
		}

		.CandyRewardPrice
		{
			horizontal-align: center;
			height: 112px;
			width: 100%;
			padding: 0px 16px;
			margin-bottom: 40px;

			#CandyRewardPriceCandies
			{
				vertical-align: middle;
				horizontal-align: center;
				flow-children: right-wrap;

				DOTACandyImage
				{
					ui-scale: 52%;
					margin: 2px;
				}
			}
		}

		.TopDash {
			width: 100%;
			height: 2px;
			background-color: gradient (linear, 0% 0%, 100% 0%, from ( gold3 ), color-stop ( 0.5, gold1 ), to ( gold3 ) );
			margin-bottom: -1px;
			margin-left: -1px;
			margin-right: -1px;
		}
	}
}

                                                                      

	             
	          
	             
	              
	                 
	          
	            
	                

  

                                                                           
.RewardItem.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(0.8) scaleY(0.8) translate3d( 0px, 64px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(0.8) scaleY(0.5) translateX(0px) translateY(-8px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(0.8) scaleY(-0.5) translateX(0px) translateY(88px);

		blur: gaussian(3px);
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.5;
		saturation: .8;
	}
}

                                                                     
.RewardHeroSet.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(1) scaleY(1) translate3d( 0px, 16px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(1) scaleY(0.5) translateX(0px) translateY(-34px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(1) scaleY(-0.5) translateX(0px) translateY(108px);

		blur: gaussian( 1px );
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.2;
		saturation: .8;
	}
}

                                                                            
.RewardRoshanSkin.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(1) scaleY(1) translate3d( 0px, 48px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(1) scaleY(0.5) translateX(0px) translateY(-16px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(1) scaleY(-0.5) translateX(0px) translateY(64px);

		blur: gaussian(3px);
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.5;
		saturation: .8;
	}
}

                                                                         
.RewardTreasure.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(0.85) scaleY(0.85) translate3d( 16px, 32px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(0.85) scaleY(0.5) translateX(16px) translateY(-32px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(0.85) scaleY(-0.5) translateX(16px) translateY(128px);

		blur: gaussian(3px);
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.5;
		saturation: .8;
	}
}

                                                                        
.RewardCourier.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(1) scaleY(1) translate3d( 0px, 24px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(1) scaleY(0.5) translateX(0px) translateY(-18px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(1) scaleY(-0.5) translateX(0px) translateY(156px);

		blur: gaussian(3px);
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.3;
		saturation: .8;
	}
}

                                                                     
.RewardWard.CandyReward  #CandyRewardDetail .EconItemDetail 
{
	#ItemSetPreview
	{
		horizontal-align: center;
		width: 420px;
		height: 420px;
		transform: scaleX(1) scaleY(1) translate3d( -56px, 48px, 0px );
		opacity-mask: url( "file://{images}/masks/softedge_box.png" );
	}

	#ItemShadow
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                                                 
		transform: scaleX(1) scaleY(0.5) translateX(-56px) translateY(-16px);

		opacity: 0.75;
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );

		blur: gaussian(3px);
		brightness: 0.0;
		saturation: 0;
	}

	#ItemReflection
	{
		vertical-align: bottom;
		horizontal-align: center;

		width: 210px;
		height: 210px;
		pre-transform-scale2d: 2.0;                                           
		transform: scaleX(1) scaleY(-0.5) translateX(-56px) translateY(104px);

		blur: gaussian(3px);
		opacity-mask: url( "file://{images}/masks/rewardline_reflection.psd" );
		opacity: 0.5;
		saturation: .8;
	}
}


.horizontalRule
{
	width: 100%;
	height: 1px;
	background-color: #ffffff0a;
}

.RerollImage 
{
	width: 28px;
	height: 28px;
	margin-right: 6px;
	margin-top: -3px;
	vertical-align: center;

	background-image: url( "file://{images}/control_icons/random_dice.psd" );
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.RerollRow
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;

	.RerollShadow {
		ignore-parent-flow: true;
		horizontal-align: center;
		width: 600px;
		height: 140%;
		margin-top: -40%;
		background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(7, 12, 25) ), color-stop( 0.5, rgba(7, 14, 28, 0.922), to( rgba(0, 0, 0, 0) ) );
		blur: gaussian( 24px );
	}

	.RerollDash {
		width: fill-parent-flow( 1 );
		height: 1px;
		background-color: gradient (linear, 0% 0%, 100% 0%, from ( gold3&00 ), to ( gold1 ) );
		vertical-align: center;
		margin: 0px 16px;
		margin-bottom: 4px;
		opacity: 0.2;

		&.Right {
			transform: scaleX( -1 );
		}
	}

	Label
	{
		vertical-align: center;
	}

	.RerollMessages {
		& b {
			color: LighterGrey;
			font-weight: semi-bold;
		}
	}

	.AdditionalRerolls
	{
		vertical-align: center;
		margin-left: 5px;
		font-size: 30px;
		font-family: titleFont;
		letter-spacing: 2px;
		font-weight: bold;
		color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
		text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);

		visibility: collapse;
		.HasAdditionalRerolls & { visibility: visible; }
	}

	#RerollButton
	{
		horizontal-align: right;
		vertical-align: center;
		margin: 0px;
		margin-left: -8px;
		margin-right: -8px;
		margin-bottom: 5px;
	}

	.RerollMessagesContainer
	{
		flow-children: down;
		horizontal-align: center;
		margin-top: 4px;
		visibility: collapse;
	
		.RerollMessages {
			text-align: center;
			horizontal-align: center;
		}
	}
	
	.RerollCount {
		font-size: 28px;
		font-family: titleFont;
		font-weight: semi-bold;
		margin-top: -3px;
		margin-right: 4px;
		letter-spacing: 0px;
	}

	                                                                    
	#OutOfRollsMessage {
		visibility: collapse;
		.RerollResourceAvailable & { visibility: visible; }
		.AtMaxRerolls & { visibility: collapse; }
	}

	                                              
	#EarnRollsMessage {
		visibility: collapse;
		.RerollResourceAvailable & { visibility: visible; }
		.AtMaxRerolls & { visibility: collapse; }
	}

	#EarnRollsInfo {
		width: 13px;
		height: 13px;
		overflow: noclip;

		.InfoIcon
		{
			width: 13px;
			height: 13px;
			margin-top: -3px;
		}
	}


	                                     
	#RerollCountdown
	{
		visibility: visible;
		.RerollResourceAvailable & { visibility: collapse; }
		.AtMaxRerolls & { visibility: collapse; }
	}

	                                          	
	#MaxRerollsReachedMessage {
		visibility: collapse;
		.AtMaxRerolls & { visibility: visible; }
	}


}

.RerollIcons
{
	flow-children: down;
}

.RerollIconRow
{
	flow-children: right;
}

.RerollIcon
{
	width: 24px;
	height: 24px;
	margin: 1px 2px;
	background-color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	opacity-mask: url( "file://{images}/events/crownfall/control_icons/reroll_crownfall.png" );

	&:not(.RerollActive)
	{
		background-color: LightGrey;
		opacity: 0.3;
	}
}

  
                                      
 
	             
	                 
	                
 
  



.ExchangeRecipeCandysList.DropDownChild 
{
	flow-children: right;
	vertical-align: center;
}

.PageActionsContainer {
	flow-children: right;
	horizontal-align: right;
	margin: 24px;

	#DebugButton {
		z-index: 1000;
		margin: 0px;
		margin-right: 12px;

		visibility: collapse;
		.MainBranch & { visibility: visible; }
	}
}

#PurchaseButton
{
	horizontal-align: center;
	width: 56%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -30px;
	ui-scale: 86%;

	                              
	                         
	                               
	                                       

	&.Disabled,
	&:disabled {
		saturation: 0.2;
		brightness: 0.2;
		                           
	}

	&.BattlePassBrightButton.PurchasableByExchangeRecipe 
	{
		brightness: 1.5;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDefaultColor ), to(  secondaryDarkColor ) );

		Label
		{
			color: #ffffff66;
		}
	}

	&.BattlePassBrightButton.UnPurchasableByExchangeRecipe 
	{
		pre-transform-scale2d: 0.95;
		brightness: 0.25;

		transition: pre-transform-scale2d 0.15s ease-in-out 0.0s, brightness 0.15s ease-in-out 0.0s;
	}
}


DropDown
{
	width: fit-children;
	height: 48px;
	margin: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( secondaryUltraDarkColor ) );
	border: 2px solid secondaryAccentColor&33;
	box-shadow: none;
}

DropDown:enabled:hover:not(:parentdisabled), DOTASettingsEnumDropDown:enabled:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryDefaultColor ), to( secondaryDarkColor ) );
}

DropDownMenu
{
	width: fit-children;
	background-color: secondaryDarkColor;

	.DropDownChild
	{
		padding: 8px 40px 8px 8px;
	}

	.ExchangeRecipeCandysList.DropDownChild
	{
		width: 166px;
		padding: 8px;
	}

	.DropDownChild:hover
	{
		background-color: #ffffff06;
	}
}

@keyframes 'FillSlot'
{
	0%
	{
		brightness: 1.5;
		box-shadow: fill gold1&33 0px 0px 12px ;
	}

	50%
	{
		brightness: 1;
		box-shadow: fill gold1&00 0px 0px 2px ;
	}
	
	100%
	{
		brightness: 1.5;
		box-shadow: fill gold1&33 0px 0px 12px ;
	}
}

@keyframes 'PulseUnclaimed'
{
	0%
	{
		brightness: 1.5;
		box-shadow: fill secondaryColor&60 0px 0px 20px ;
	}

	50%
	{
		brightness: 1;
		box-shadow: fill secondaryLighterColor&20 0px 0px 5px ;
	}
	
	100%
	{
		brightness: 1.5;
		box-shadow: fill secondaryColor&60 0px 0px 20px ;
	}
}



