
@define StampPosX1: 85px;
@define StampPosY1: 260px;

@define StampPosX2: 250px;
@define StampPosY2: 200px;

@define StampPosX3: 400px;
@define StampPosY3: 150px;

@define StampPosX4: 550px;
@define StampPosY4: 90px;

@define BaseHandPosition: translateX(-70px) translateY(-200px);

@define HandAnimDuration: 2s;

.PopupPanel
{
    padding: 0px;
    flow-children: none;
}

.Contents
{
    flow-children: right;
    height: 534px;
}

.LeftSide
{
    width: 600px;
    height: 100%;
    flow-children: down;
    padding: 30px;
}

.Title
{
    horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.33, #FFE08F ), color-stop( 0.66, #A38F59 ), to( #F5D174 ) );
}

.Description
{
    horizontal-align: center;
    text-align: center;

    margin: 5px 0px 30px 0px;
    color: white;
}

.UpgradeTable
{
    margin-left: 40px;
    flow-children: down;
}

.UpgradeRow
{
    flow-children: right;
    height: 60px;
}

.UpgradeLeft
{
    width: 30px;
    height: 30px;
    vertical-align: center;
    border: 1px solid #cccccc;
    border-radius: 15px;
    margin-bottom: 1px;

    transition-property: background-image, wash-color, brightness;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.StampClaimed1 .UpgradeRow1 .UpgradeLeft,
.StampClaimed2 .UpgradeRow2 .UpgradeLeft,
.StampClaimed3 .UpgradeRow3 .UpgradeLeft,
.StampClaimed4 .UpgradeRow4 .UpgradeLeft
{
    background-image: url('file://{images}/control_icons/check_shadow.png');
    background-repeat: no-repeat;
    background-position: 45% 55%;
    background-size: 75% 75%;

    wash-color: #11ff11;
}

.UpgradeRight
{
    width: 500px;
    margin: 4px 4px 4px 10px;
    vertical-align: center;
    white-space: normal;
    text-overflow: shrink;

    color: #555;
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.StampClaimed1 .UpgradeRow1 .UpgradeRight,
.StampClaimed2 .UpgradeRow2 .UpgradeRight,
.StampClaimed3 .UpgradeRow3 .UpgradeRight,
.StampClaimed4 .UpgradeRow4 .UpgradeRight
{
    color: white;
}

.StampHighlight1 .UpgradeRow1 .UpgradeRight,
.StampHighlight2 .UpgradeRow2 .UpgradeRight,
.StampHighlight3 .UpgradeRow3 .UpgradeRight,
.StampHighlight4 .UpgradeRow4 .UpgradeRight
{
    animation-name: HighlightRow;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;

    text-shadow: 0px 0px 8px 3.0 #ccc8;
}

@keyframes 'HighlightRow'
{
    0% { text-shadow: none; }
    30% { text-shadow: 0px 0px 8px 3.0 #ccc4; }
    50% { text-shadow: 0px 0px 8px 3.0 #ccc5; }
    70% { text-shadow: 0px 0px 8px 3.0 #ccc4; }
    100% { text-shadow: none; }
}

.EnterCandyShop
{
    horizontal-align: center;
}

.RightSide
{
    width: 800px;
    height: 100%;
    background-image: url('file://{images}/battle_path/ui/candyworks_loyalty_card.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: clip;
}

.RightSideVignette
{
    width: 800px;
    height: 100%;
    background-image: url('file://{images}/battle_path/ui/candyworks_loyalty_card_vignette.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: clip;
}

.StampContainer
{
    width: 200px;
    height: 200px;
    background-image: url('file://{images}/battle_path/ui/candyworks_loyalty_stamp.png');
    background-size: contain;
    background-repeat: no-repeat;
    visibility: collapse;

    &.Stamp1
    {
        x: StampPosX1;
        y: StampPosY1;

        .StampClaimed1 & { visibility: visible; }
    }

    &.Stamp2
    {
        x: StampPosX2;
        y: StampPosY2;

        .StampClaimed2 & { visibility: visible; }
    }

    &.Stamp3
    {
        x: StampPosX3;
        y: StampPosY3;

        .StampClaimed3 & { visibility: visible; }
    }

    &.Stamp4
    {
        x: StampPosX4;
        y: StampPosY4;

        .StampClaimed4 & { visibility: visible; }
    }
}

.SithilHand
{
    background-image: url('file://{images}/battle_path/ui/sithil_hand_with_stamp_top.png');
}

.SithilHandTop
{
    background-image: url('file://{images}/battle_path/ui/sithil_hand_with_stamp_top_2.psd');
}

.SithilHandShadow
{
    background-image: url('file://{images}/battle_path/ui/sithil_hand_with_stamp_top_shadow.png');
}

.SithilHand,
.SithilHandTop
{
    .AnimateStamp &
    {
        opacity: 1;
        animation-name: SithilStamp;
        animation-duration: HandAnimDuration;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }   
}

.SithilHandShadow
{
    .AnimateStamp &
    {
        opacity: 1;
        animation-name: SithilStampShadow;
        animation-duration: HandAnimDuration;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-fill-mode: both;
    }   
}

.SithilHandShadow,
.SithilHand,
.SithilHandTop
{
    width: 1000px;
    height: 400px;
                              

    background-size: contain;
    background-repeat: no-repeat;
    
                                                                                                          
    opacity: 0.001;
                                                       

    .AnimateStamp1 &
    {
        x: StampPosX1;
        y: StampPosY1;
    }

    .AnimateStamp2 &
    {
        x: StampPosX2;
        y: StampPosY2;
    }

    .AnimateStamp3 &
    {
        x: StampPosX3;
        y: StampPosY3;
    }

    .AnimateStamp4 &
    {
        x: StampPosX4;
        y: StampPosY4;
    }
}

                                
.SithilHandStamp
{
    width: 600px;
    height: 400px;

    background-image: url('file://{images}/battle_path/ui/sithil_hand_with_stamp_bot.png');
    background-size: contain;
    background-repeat: no-repeat;

                                                                                                          
    opacity: 0.001;

    .AnimateStamp &
    {
        opacity: 1;
        animation-name: SithilHandStamp;
        animation-duration: HandAnimDuration;
        animation-iteration-count: 1;
        animation-timing-function: linear;
                                    
    }
}

@keyframes 'SithilStamp'
{
    0% {
        transform: BaseHandPosition translateX(800px) translateY(0px);
    }
    30%
    {
        transform: BaseHandPosition translateX(0px) translateY(-100px);
    }
    40%
    {
        transform: BaseHandPosition translateX(0px) translateY(0px);
    }
    50%
    {
        transform: BaseHandPosition translateX(0px) translateY(100px);
    }
    60%
    {
        transform: BaseHandPosition translateX(0px) translateY(0px);
    }
    90%
    {
        transform: BaseHandPosition translateX(800px) translateY(-100px);
    }
    100%
    {
        transform: BaseHandPosition translateX(800px) translateY(0px);
    }
}

@keyframes 'SithilStampShadow'
{
    0% {
        transform: BaseHandPosition translateX(800px) translateY(20px);
    }
    30%
    {
        transform: BaseHandPosition translateX(0px) translateY(20px);
    }
    40%
    {
        transform: BaseHandPosition translateX(0px) translateY(20px);
    }
    50%
    {
        transform: BaseHandPosition translateX(0px) translateY(20px);
    }
    60%
    {
        transform: BaseHandPosition translateX(0px) translateY(20px);
    }
    90%
    {
        transform: BaseHandPosition translateX(800px) translateY(20px);
    }
    100%
    {
        transform: BaseHandPosition translateX(800px) translateY(20px);
    }
}

@keyframes 'SithilHandStamp'
{
    0% {
        transform: translateY(0px);
    }
    40%
    {
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(-100px);
    }
    60%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

@if MainBranch
{
    #DebugButton
    {
        vertical-align: bottom;
        horizontal-align: right;
    }
}