DOTABPCrownfallArchivePage {
	width: 100%;
	height: 100%;
}

.BackgroundImageContainer {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(36, 29, 31) ), to( rgb(12, 11, 11) ) );

	transition-property: opacity, blur;
    transition-duration: 0.4s;
	transition-timing-function: ease;

	opacity: 1;
	blur: gaussian(0px);

	.BackgroundImage {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		horizontal-align: center;

		transition-property: opacity;
		transition-duration: 0.4s;
		transition-timing-function: ease;

		&.Act4 {
			background-image: url( "file://{images}/events/crownfall/backgrounds/bg_act4.png" );
			opacity: 1;
		}
	}
}

.HeroesSceneModels {
    width: 100%;
    height: 100%;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0.3) ), color-stop( 0.15, white ), color-stop( 0.85, white ), to( rgba(255, 255, 255, 0.3) ) );

    transition-property: transform, opacity;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
    transition-delay: 0.2s;

    wash-color: rgba(17, 92, 230, 0.2);
	brightness: 1.1;
	
	opacity: 1;

	.PremiumReward {
		horizontal-align: center;
        vertical-align: center;
        width: 1920px;
		height: 1080px;

		transition-property: brightness;
		transition-duration: 0.2s;

		&.Hovered {
			brightness: 2;
		}
	}
}

#PremiumReward_Skywrath {
	opacity-mask: url( "file://{images}/events/crownfall/masks/skywrath_model_mask.png" );
	opacity-mask-position: 0px 0px;
	transform: translateX( -470px ) translateY( 10px );

	.AspectRatio21x9 & { transform: translateX( -570px ) translateY( 0px );	}
}    

#PremiumReward_Vengeful {
	opacity-mask: url( "file://{images}/events/crownfall/masks/vengeful_model_mask.png" );
	opacity-mask-position: 0px 40px;
	transform: translateX( 730px ) translateY( -10px );

	.AspectRatio21x9 & { transform: translateX( 830px ) translateY( 0px ); }
}

.BottomGradient {
    vertical-align: bottom;
    width: 100%;
    height: 300px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000 ) );
}

.SmokeFX {
    width: 100%;
    height: 100%;
    horizontal-align: center;	
	vertical-align: bottom;
	transform: translateY( 200px );
	wash-color: rgb(78, 70, 70);
}

.MainContents {
	horizontal-align: center;
	margin-top: 80px;
	flow-children: down;

	opacity: 1.0;
	transform: none;

	transition-property: opacity, transform;
	transition-duration: 0.2s;

	.AspectRatio16x10 & {
		margin-top: 108px;
	}
}

.CrownfallLogoContainer {
	horizontal-align: center;
	flow-children: down;

	margin-top: 60px;
	margin-bottom: 10px;
	ui-scale: 90%;

	.AspectRatio16x10 & {
		ui-scale: 86%;
		margin-top: 32px;
	}

	.Language_schinese & {
		margin-bottom: 12px;
	}
	
	#CrownfallLogo {
		width: 400px;
		height: width-percentage( 80% );
		margin: -40px 0px -150px 0px;

		.Language_schinese & {
			margin: -60px 0px -150px 0px;
		}
	}

	.CellLabel {
		horizontal-align: center;
		text-align: center;
		vertical-align: top;
		
		font-size: 22px;
		text-shadow: 0px 3px 1px rgba(0, 0, 0, 1);
		color: rgba(255, 255, 255, 0.9);
		margin-top: 4px;
		                        
		                          
		                       
		text-overflow: shrink;
		opacity: 0.9;
	}

}



.Credits {
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	
	.CreditsButtonContainer {
		flow-children: right;
		vertical-align: center;

		.CreditsButton {
			width: 200px;
		}

		.EndingCinematicButton {
			min-width: 300px;
		}

		.Dash {
			width: 50px;
			height: 1px;
			vertical-align: center;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), to( #efefef ) );
			background-color: gradient( linear, 0% 0%, 100% 0%, from( #0000 ), to( #efefef ) );
			opacity: 0.3;		
			margin: 0px 8px;

			&.Right {
				transform: scaleX( -1 );
			}
		}
	}
}

.TopGoldDash {
	width: 100%;
	height: 2px;
	ignore-parent-flow: true;

	&.Bottom {
		vertical-align: bottom;
		z-index: 1;
	}
}

.ArchiveContentContainer {
	flow-children: right;
	width: 1000px;
	height: 530px;
}

.ComicsPanel, .MinigamesPanel {
	width: 48%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #09111b ), to( #1c2d51 ) );
	margin: 18px 8px;
	flow-children: down;
	box-shadow: 0px 12px 48px -2px rgba(0, 0, 0, 0.4);

	.ContentPanelBorder {
		width: 100%;
		height: 100%;
		ignore-parent-flow: true;
		border: 1px solid rgba(255, 255, 255, 0.02);
	}
}

.ComicsContentPanel {
	overflow: clip scroll;
	flow-children: down;
	height: 100%;
	width: 100%;
	padding-bottom: 24px;
}

.DashDotDivider {
	width: 80%;
	margin: 20px 0px 8px;

	.Dash {
		opacity: 0.5;
	}

	.Dot {
		margin: 0px;
	}
	&.DashDotDividerArchive {
		margin-top: 50px;
		ui-scale: 80%;
		
	}
}


.GoldTitle {
	font-family: titleFont;
	font-size: 24px;
	margin: 0px 12px;
	color: gradient( linear, 0% 30%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ActComics {
	width: 100%;
	flow-children: down;
	padding-bottom: 16px;
	margin-bottom: -8px;
}

.ComicsActHeading {
	ui-scale: 90%;
	width: 100%;
	text-align: center;
	font-family: titleFont;
	margin: 2px 0px;
	color: gradient( linear, 0% 60%, 0% 100%, from( white ), to( rgb(219, 219, 219) ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.ComicButton {
	width: 100%;
	height: 100px;
	flow-children: right;
	margin: 4px 24px;
	background-color: #101c2b;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.3);

	transition-property: transform, box-shadow;
	transition-duration: 0.1s, 0.2s;

	.ComicButtonBorder {
		width: 100%;
		height: 100%;
		ignore-parent-flow: true;
		border: 1px solid rgba(255, 255, 255, 1);
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.48, white ), color-stop( 0.52, white ), to( white ) );
		opacity: 0.02;

		transition-property: opacity, border, border-brush;
		transition-duration: 0.1s;
	}

	.BackgroundButtonImage {
		width: 120%;
		ignore-parent-flow: true;
		opacity: 0.2;
		blur: gaussian(4px);
	}

	.ComicImage {
		width: 127px;
		height: 71px;
		margin-left: 12px;
		vertical-align: middle;
		box-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.3);
	}

	.ComicTitle {
		margin-left: 12px;

		vertical-align: middle;
		width: 100%;
		text-overflow: shrink;
		text-shadow: 0px 2px 8px black;
		padding: 0px 0px;
		font-weight: normal;
		color: gradient( linear, 0% 60%, 0% 100%, from( white ), to( rgb(177, 179, 185) ) );
	}

	&:hover {
		transform: scale3d( 1.03, 1.03, 1 );
		box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.6);
		z-index: 1;

		.ComicButtonBorder {
			border-width: 2px;
			opacity: 0.8;
			border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
		}
	}

	&:active {
		transform: scale3d( 1.02, 1.02, 1 );
		brightness: 0.5;
	}
}

.MinigameLabel {
    vertical-align: bottom;
    width: 100%;
    text-align: center;
    font-size: 16px;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    color: gradient( linear, 0% 60%, 0% 100%, from( white ), to( rgb(188, 188, 188) ) );
}

.MinigamesRow
{
    horizontal-align: center;
    flow-children: right;
	margin-top: -8px;
}

.MiniGameButton {
}

#FishingGamesPopupContainer {
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.15s;

	&.FishingPopupOpen {
		opacity: 1;

		.FishingGamesPopupContent {
			transform: none;
			transition-timing-function: ease-in;
		}
	}

	.FishingGamesPopupBlocker {
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
		opacity: 0.92;
		                                   
		                                 
	}

	.FishingGamesPopupContent {
		horizontal-align: center;
		vertical-align: middle;
		flow-children: down;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #09111b ), to( #1c2d51 ) );
		box-shadow: 0px 12px 48px -2px rgba(0, 0, 0, 0.4);

		                                        
		transform: scale3d( 0.8, 0.8, 1 );

		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

		.FishingGamesPopupContentBorder {
			ignore-parent-flow: true;
			width: 100%;
			height: 100%;
			border: 1px solid rgba( 217, 233, 255, 0.02 );
		}
		
		.FishingMiniGamesTitle {
			horizontal-align: center;
			padding: 32px 0px 0px;
			font-size: 20px;
		}

		#CloseButton {
			horizontal-align: right;
			ignore-parent-flow: true;
			margin: 12px;
		}

		.MinigamesRow {
			horizontal-align: center;
			flow-children: right;
			margin: -12px 0px -48px;
			padding: 20px;
		}

		.FishingButton {
			background-color: gradient( linear, 0% 20%, 0% 100%, from( #293645 ), to( #0d1115 ) );
			margin: 8px;
			width: 200px;
			flow-children: down;
			box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.6);

			transition-property: transform, brightness, box-shadow;
			transition-duration: 0.1s, 0.2s;

			.Node {
				horizontal-align: center;
				ui-scale: 60%;
				margin-top: -42px;

				&:hover {
					transform: scale3d( 1, 1, 1 );
				}
			}

			.FishingButtonBorder {
				width: 100%;
				height: 100%;
				ignore-parent-flow: true;
				border: 2px solid white;
				border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
			}

			.FishingMinigameThumbnailImage {
				                                                  
			}

			.MinigameLabel {
				margin: -8px 0px 0px;
				font-size: 18px;
				text-shadow: 0px 2px 8px black;
			}

			.FishingActLabel {
				horizontal-align: center;
				margin-bottom: 24px;
				color: LightGrey;
				text-shadow: 0px 2px 8px black;
			}

			&:hover {
				transform: scale3d( 1.04, 1.04, 1 );
				brightness: 1.5;
				box-shadow: 0px 4px 40px -2px rgba(0, 0, 0, 0.6);
			}
		}
	}
}


                                                       
                
                                                       
.Node {
	                                                                                          
	height: 140px;
	transition-property: transform, brightness;
	transition-duration: 0.1s, 0.2s;
	#NodeBackground {
        horizontal-align: center;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    #NodeBackgroundInner {
        horizontal-align: center;
        vertical-align: middle;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

                                         
		wash-color: #32404f;
    }
    
    .NodeIcon {
        width: 22px;
        height: width-percentage( 100% );
        horizontal-align: center;
        vertical-align: center;
        background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
        visibility: collapse;

        &.Shadow {
            background-color: black;
            margin-top: 3px;
        }
    }

    &:hover {
		transform: scale3d( 1.1, 1.1, 1 );
		brightness: 1.5;
    }

	&:active {
		transform: scale3d( 1.05, 1.05, 1 );
		brightness: 0.5;
    }


                                    
                                    
                                    

    &.EncounterNode{
        #NodeBackground {
            width: 132px;
            height: width-percentage( 100% );
            background-image: url( "file://{images}/events/crownfall/overworld/nodes/node_background_encounter.png" );

                                
                                         
        }

       #NodeBackgroundInner {
            width: 132px;
            height: width-percentage( 100% );
            background-image: url( "file://{images}/events/crownfall/overworld/nodes/node_background_encounter_inner.png" );
        }
       
        .NodeIcon {
            width: 32px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter.png" );
            visibility: visible;
        }
        
        &.fishing .NodeIcon,
        &.sand_fishing .NodeIcon {
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_fish.png" );
        }
        &.flappy_skywrath_act2 .NodeIcon {
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_bat.png" );
        }
		&.fighting .NodeIcon {
			  width: 38px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_sleetfighter.png" );
        }
		&.match_3 .NodeIcon {
			  width: 38px;
			  margin-top:-3px;
			  margin-left:-1px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_match3.png" );
        }
		&.shmup .NodeIcon {
			  width: 38px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_bullethell.png" );
        }
		&.survivors .NodeIcon {
			 width: 38px;
			  margin-top:-6px;
			  margin-left:0px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_survivors.png" );
        }
		&.artillery .NodeIcon {
			width: 36px;
			margin-top:-2px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_artillery.png" );
        }
		&.techiemen .NodeIcon {
			width: 38px;
			  margin-top:0px;
			  margin-left:-2px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_spoonman.png" );
        }
		&.minesweeper .NodeIcon {
			width: 38px;
            opacity-mask: url( "file://{images}/events/crownfall/overworld/nodes/icons/encounter_minesweeper.png" );
        }
    }
}