.PopupPanel.TokenTreasure {
	
}

.TokenTreasure
{
	min-width: 500px;
	min-height: 300px;
}

.Title {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.AlreadyClaimed .Title
{
	visibility: collapse;
}

.Shopkeeper
{
	horizontal-align:center;
	flow-children: right;
	margin-top: 48px;
	.MeepoIcon 
	{
		width: 128px;
		height: 128px;
		texture-sampling: point;
		margin: 0px 48px;
		vertical-align: middle;
	}

	.FireImage 
	{
		width: 96px;
		height: 96px;
		texture-sampling: point;
		vertical-align: middle;
	}

}

.AlreadyClaimed .Shopkeeper
{
	visibility: collapse;
}

DOTACrownfallToken {
	ui-scale: 125%;
	width: 44px;
	margin: -15px;
}

#TokenTreasureOptionsContainer
{
	flow-children: right;
}

.Center 
{
	flow-children: right;
	margin-top: 48px;
	margin-bottom: -32px;
	
	.Chest
	{
		horizontal-align: center;
		width: 320px;
		height: 280px;
		margin: 0px 16px;

		&.NotEnoughTokens {
			.ChestParticlesContainer {
				opacity: 0;
			}
			.ChestMessage {
				visibility: visible;
			}
		}
		
		.ChestTokens
		{
			flow-children: right;
			horizontal-align: center;
			width: fit-children;
		}
		
		.ChestMessage {
			vertical-align: bottom;
			horizontal-align: center;
			margin-bottom: 28px;
			color: LighterGrey;
			opacity: 0.6;
			visibility: collapse;
		}

		.ChestCostToken
		{
			horizontal-align: center;
		}

		.ChestShadow
		{
			width: 90%;
			vertical-align: bottom;
			horizontal-align: center;
			margin-bottom: 12px;
		}

		#RewardTokensContainer {
			flow-children: right;
			horizontal-align: center;

			DOTACrownfallToken {
				ui-scale: 160%;
				margin: -32px;
			}
		}
		
		.ChestImage
		{
			flow-children: down;
			horizontal-align: center;
			width: 260px;
			vertical-align: bottom;
			margin-bottom: 80px;

			.ChestParticlesContainer {
				ignore-parent-flow: true;
				width: 100%;
				height: width-percentage( 60% );
				horizontal-align: center;
				overflow: clip;
				margin-top: -120px;

				.ChestParticles {
					width: 80%;
					height: 360%;
					overflow: noclip;
					margin-top: 120%;
					opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
					vertical-align: center;
					horizontal-align: center;
					hue-rotation: -90deg;
				}
			}
		}		

		.ChestCost
		{
			flow-children: down;
			horizontal-align: center;
			vertical-align: bottom;
			margin-bottom: 50px;

			.InstructionLabel {
				horizontal-align: center;
			}

			#CostTokensContainer {
				z-index: 1;
				horizontal-align: center;				
				padding: 9px;
				flow-children: right;
	
				                                                                                       
				                         
				                               
			}

			#ClaimRewardOptionButton {
				width: 330px;
				ui-scale: 86%;
				opacity: 0;
				transition-property: opacity;
				transition-duration: 0.3s;
				.DialogueComplete & {
					opacity: 1;
				}
			}
		}		
	}
}

.AlreadyClaimed .Center
{
	visibility: collapse;
}

.Tokens {
	horizontal-align: center;
	flow-children: right;
	margin-top: 48px;

	DOTACrownfallToken {
		ui-scale: 300%;
	}
}

.ChooseOneLabel {
	margin-top: 32px;
    horizontal-align: center;
    text-transform: uppercase;
    color: LighterGrey;
    letter-spacing: 2px;
    text-shadow: 0px 2px 8px black;

	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	.DialogueComplete & {
		opacity: 1;
	}

	.AlreadyClaimed & {
		visibility: collapse;
	}
}

             
	            
	             
	                  
    


                         
	                         
	                 
	                          
	            
	                    

	                     

	                   
		                    
	 

    