.PopupPanel.TokenQuest {
	
}

.Title {
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;		
}

.Center {
	flow-children: right;

	.OldManIcon {
		width: 128px;
		height: 128px;
		texture-sampling: point;
		margin: 0px 48px;
		margin-bottom: 20px;
		vertical-align: middle;
	}
}

#RewardContainer {

	vertical-align: center;
	flow-children: right;
	min-width: 320px;
	min-height: 250px;

	Panel
	{
		vertical-align: center;
		horizontal-align: center;
	}

	.ModelReward {
		horizontal-align: center;
		flow-children: down;
		
		#ModelPreview {
			width: 480px;
			height: 320px;
		}
	}

	.EconItemReward {
		flow-children: down;
		horizontal-align: center;

		.ImageContainer {
			width: 240px;
			height: 160px;
			horizontal-align: center;
			margin-bottom: 8px;
		}

		.Details {
			Label {
				font-size: 20px;
				color: LighterGrey;
			}
		}
	}

	.CandyShopRerollChargesItem {

		flow-children: down;

		.CandyShopRerollChargeImage
		{
			width: 200px;
			height: 200px;
			background-image: url( "file://{images}/events/crownfall/store/bunlde_item_reroll_dice.png" );
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}

		Label {
			vertical-align: middle;
			color: #ccc;
			font-size: 24px;
		}
	}

	.Details {
		.ItemName {
			font-size: 24px;
		}
	}
	
	.AlreadyClaimed &
	{
		visibility: Collapse;
	}
}

#ClaimRewardButton
{
	horizontal-align: center;
	width: 200px;
}


#CostTokensContainer {
	vertical-align: center;
	horizontal-align: center;
	flow-children: right-wrap;
	margin: 10px;
	min-height: 80px;
	max-width: 700px;
	max-height: 280px;

	DOTACrownfallToken {
		ui-scale: 260%;
		margin: -4px;
		width: 44px;
	}

	.AlreadyClaimed &
	{
		visibility: Collapse;
	}
}


.BodyContainer
{
	.LowerContainer
	{
		height: 600px;
		vertical-align: bottom;
		margin-bottom: 50px;
		Panel
		{
			vertical-align: bottom;
		}
	}
	AsyncDataPanel
	{
		horizontal-align: center;

		.PopupClosing &
		{
			visibility: collapse;
		}
	}

	AsyncDataPanel > .AsyncContainer
	{
		width: fit-children;
		height: fit-children;
		flow-children: down;
		min-width: 600px;
	}

	.CenterContainer
	{
		horizontal-align: center;
		flow-children: right;
		.AlreadyClaimed &
		{
			visibility: collapse;
		}
	}
}

.NoRewardVisualization
{
	.TradeArrow
	{
		visibility: collapse;
	}

	#RewardContainer
	{
		visibility: collapse;
	}
}

.TradeArrow {
	width: 28px;
	height: 28px;
	vertical-align: center;
	margin: 0px 12px;
	wash-color: LighterGrey;
	img-shadow: 0px 2px 8px black;
	margin-left: 40px;
}

.AlreadyClaimed {
	.BodyContainer .AsyncContainer .Actions {
		min-height: 100px;
		width: 600px;
		flow-children: down;
		.ClaimRewardButton {
			visibility: collapse;
		}
	}
}