@define introWidth: 1280px;

.PopupPanel.StoryRecap {
	background-color: #00000000;
	border: 0px;
	box-shadow: 0px 0px 0px #00000000;
	width: introWidth;
	padding: 0px;
	margin-top: 60px;

	                                                                
	animation-name: none; 

	                                                                  
	&.Loaded
	{
		
	}
}

.TitleContainer
{
	horizontal-align: center;
	width: fit-children;
	height: fit-children;
	min-height: 50px;
	transform: translateY( 270px );
	margin-top: 24px;
	margin-bottom: -48px;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier( 1, 0, 0, 1 );
	transition-duration: 1s, 0.5s;
	transition-delay: 0s, 1s;
	opacity: 0;

	.Loaded:not(.ShowStoryPage) &
	{
		opacity: 1;
		transform: none;
		transition-delay: 0s;
	}
	.ShowStoryPage & {
		transform: translateY( 270px );
		opacity: 1;
		transition-delay: 0s;
	}
	.ShowStoryPage.StoryPageLoaded & {
		transform: none;

	}

	.HowToPlayTitle {
		color: gradient( linear, 0% 37%, 0% 100%, from( #FFF2DF ), color-stop( 0.47, #DDAF6B ), color-stop( 0.53, #7F5F2F ), to( #AC803F ) );
		horizontal-align: center;

		opacity: 0;
	}
	.StoryTitle
	{
		color: gradient( linear, 0% 37%, 0% 100%, from( #FFF2DF ), color-stop( 0.47, #DDAF6B ), color-stop( 0.53, #7F5F2F ), to( #AC803F ) );
		horizontal-align: center;
		opacity: 0;
	}

}

.Loaded:not(.ShowStoryPage) .TitleContainer .HowToPlayTitle
{
	opacity: 1;
}

.ShowComicPage .TitleContainer .StoryTitle,
.ShowStoryPage .TitleContainer .StoryTitle
{
	opacity: 1;
}

.DashDotDivider {
	width: introWidth;

	                 

	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier( 1, 0, 0, 1 );
	transition-duration: 0.5s;
	transition-delay: 1s;

	&.Top {
		transform: translateY( 270px );
	}

	&.Bottom {
		transform: translateY( -260px );
	}

	.Loaded:not(.ShowStoryPage) & {
		opacity: 1;
		transform: none;
		transition-delay: 0s;
	}
	.ShowStoryPage & {
		opacity: 1;
		transition-delay: 0s;
	}
	.ShowStoryPage.StoryPageLoaded & {
		transform: none;
	}
}

.ContentContainer {
	width: 100%;
	height: 600px;
	padding: 0px 140px;
	opacity-mask: url( "file://{images}/masks/fade_left_right_edge_mask.png" );

	                                

	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );

	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
	transition-duration: 1s, 0.5s;
	transition-delay: 1.4s;

	.Loaded & {
		opacity: 1;
		transform: none;
	}
}

.Columns {
	width: introWidth;
	flow-children: right;
	vertical-align: center;

	transition-property: transform, opacity;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	
	transform: translateX( 0px );

	                            

	.ShowComicPage &,
	.ShowStoryPage &
	{
		transform: translateX( -200px );
		opacity: 0;
	}
	
	.ColumnContainer {
		width: fill-parent-flow( 1 );
		flow-children: down;

		transition-property: opacity, blur;
		transition-duration: 0.5s;

		opacity: 0.3;
		blur: gaussian( 1.5px );

		.ColumnMedia {
			width: 205px;
			height: 264px;
			horizontal-align: center;
			
			transition-property: transform;
			transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
			transition-duration: 0.3s;
			transform: scale3d( 0.8, 0.8, 1 ) translateY( 8px );
			                                     
			border: 1px solid gold2;
			box-shadow: 0px 3px 3px 1px #54250a;
		}
		.ColumnImage {
			horizontal-align: center;
			ignore-parent-flow: true;
			width: 100%;
			height: 100%;
		}
		.ColumnVideo {
			ignore-parent-flow: true;
			width: 100%;
			height: 100%;
			horizontal-align: center;
			opacity: 0;
			transition-property: opacity;
			transition-duration: 0.3s;
			&.MovieError {
				visibility: collapse;
			}
		}

		.ColumnTitle,
		.ColumnText {
			width: 100%;
			vertical-align: middle;
			
			text-align: center;
			color: LightGrey;
			margin-left: 16px;
			margin-right: 16px;

			b {
				color: white;
			}
		}

		.ColumnTitle	{
			font-family: titleFont;
			font-weight: bold;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			font-size: 22px;
			                                                                                                                                       
			color: white;
			               
			text-shadow: 0px 2px 8px black;
			margin-top: 24px;
		}

		.ColumnText {
			margin-top: 12px;
			opacity: 0;
		}

		&.Column1
		{
			opacity: 1;
			blur: gaussian( 0px );

			.ColumnMedia {
				transform: none;
			}
			.ColumnVideo {
				opacity: 1;
			}

			Label
			{
				opacity: 1;
			}
		}

		.ShowColumn2 &.Column2
		{
			opacity: 1;
			blur: gaussian( 0px );

			
			.ColumnMedia {
				transform: none;
			}
			.ColumnVideo {
				opacity: 1;
			}


			Label
			{
				opacity: 1;
			}
		}

		.ShowColumn3 &.Column3
		{
			opacity: 1;
			blur: gaussian( 0px );

			
			.ColumnMedia {
				transform: none;
			}
			.ColumnVideo {
				opacity: 1;
			}

			Label
			{
				opacity: 1;
			}
		}
		.CharacterImage
		{
			width: 100%;
		}
	}
}

.Comic
{
	ignore-parent-flow: true;
	vertical-align: center;
	margin-top: 24px;

	                            
	
	flow-children: down;
	width: 100%;

	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);

	opacity: 0;
	transform: translateX( 400px );

	.ShowComicPage &
	{
		opacity: 1;
		transform: translateX( 0px );

		.ImageContainer {
			transform: scale3d( 1, 1, 1 );
		}

		#ViewComicButton {
			transform: none;
			opacity: 1;
		}
	}

	#ViewComicButton {
		width: 210px;
		horizontal-align: center;
		margin-top: -28px;

		transition-property: transform, opacity;
		transition-duration: 0.5s;
		transition-delay: 0.4s;
		transition-timing-function: cubic-bezier(0, 1, 0, 1);

		transform: translateY( 16px );
		opacity: 0;
		margin-left: 0px;
		margin-right: 0px;
	}

	.ComicText {
		horizontal-align: center;
		text-align: center;
		font-family: Reaver;
		font-size: 24px;
		color: LightestGrey;
		margin-bottom: 12px;
	}

	.ImageContainer
	{
		horizontal-align: center;
		height: 400px;

		transition-property: transform;
		transition-duration: 0.5s;
		transition-delay: 0.15s;
		transition-timing-function: cubic-bezier(0, 1, 0, 1);

		transform: scale3d( 0.8, 0.8, 1 );

		.CoverImage
		{
			horizontal-align: center;
		}

		          
		 
			                
		    
	}
}

#ProceedStoryButton {
	width: 300px;

	opacity: 0;
	transform: translateY( 24px );

	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier( 0, 1, 0, 1 );
	transition-duration: 0.4s;
	transition-delay: 1.7s;

	
	
	.Loaded:not(.ShowStoryPage) &,
	.StoryPageLoaded & {
		opacity: 1;
		transform: none;
		transition-delay: 0s;
	}
}

.CharacterImageContainer {
    width: 320px;
    height: 360px;
                        
    z-index: 1;
	horizontal-align: center;

    transition-property: opacity, transform, saturation, brightness;
    transition-duration: 0.3s;

    .ActorShadow {
        width: 100%;
        height: width-percentage( 100% );
        background-image: url( "file://{images}/events/crownfall/visual_novel/shadow.png" );
        background-size: cover;
        margin-top: 72px;
    }

    .ActorBackground {
        width: 160px;
        height: 160px;
        horizontal-align: center;
        vertical-align: center;
        margin-top: 88px;
        transform: rotateZ( 45deg );
        background-size: cover;

                     
        background-image: url( "file://materials/portraits_card/portrait_backgrounds/storm_spirit.psd" ); 

                                                                 
        .Character1 &			{ background-image: url( "file://materials/portraits_card/portrait_backgrounds/dark_seer.psd" ); }
        .Character2 &			{ background-image: url( "file://materials/portraits_card/portrait_backgrounds/storm_spirit.psd" ); }
        .Character3 &			{ background-image: url( "file://materials/portraits_card/portrait_backgrounds/queenofpain.psd" ); }
    }

    .ActorBorder {
        width: 100%;
        height: width-percentage( 100% );
        vertical-align: bottom;
        background-size: cover;
        transition-property: opacity, transform;
        transition-duration: 0.6s;

        &.Under {
            background-image: url( "file://{images}/events/crownfall/visual_novel/border_under.png" );
        }

        &.Over {
            background-image: url( "file://{images}/events/crownfall/visual_novel/border_over.png" );
        }
    }

    .PictureMask {
        width: 100%;
        height: 100%;
        opacity-mask: url( "file://{images}/events/crownfall/visual_novel/portrait_mask.png" );
        
        .AnimationContainer {
            width: 100%;
            height: 100%;

            .ActorPicture {
                width:100%;
                height:100%;
            }
        }
    }

    .ActorNameContainer {
        horizontal-align: center;
        vertical-align: bottom;
        min-width: 164px;
        margin-bottom: 14px;

        .ActorName {
            color: white;
            text-shadow: 0px 2px 8px black;
            horizontal-align: center;
            margin-top: 10px;
            padding: 0px 36px;
            transition-property: opacity;
        }

        .ActorNameBackground {
            flow-children: right;
            width: 100%;

            .Edge {
                width: 40px;
                height: 64px;
                background-image: url( "file://{images}/events/crownfall/visual_novel/name_container_edge.png" );
                background-size: contain;
                background-repeat: no-repeat;

                &.Right {
                    transform: scaleX( -1 );
                }
            }

            .Middle {
                width: 24px;
                height: 64px;
                background-image: url( "file://{images}/events/crownfall/visual_novel/name_container_middle.png" );
                background-size: contain;
                background-repeat: no-repeat;
            }

            .Fill {
                width: fill-parent-flow( 1 );
                height: 64px;
                background-image: url( "file://{images}/events/crownfall/visual_novel/name_container_fill.png" );
                background-size: contain;
            }
        }
    }
}


.Story 
{
	height: 100%;
	flow-children: down;
	opacity: 0;
	
	transition-property: transform, opacity;
	transition-duration: 0.45s;
	transition-delay: 0.3s;

	.ShowStoryPage.StoryPageLoaded:not(.ShowComicPage) &
	{
		opacity: 1;
		transition-delay: 0s;
		transition-duration: 0.15s;
	}
	
	.ShowComicPage &
	{
		transform: translateX( -200px );
	}

	.StorySoFarText {
		width: 90%;
		margin-top: 20px;
		horizontal-align: center;
		text-align: center;
		color: #ccc;
		font-size: 26px;
		font-family: titleFont;

		opacity: 0;
		animation-name: FadeInStoryText;
		animation-duration: 0.8s;
		animation-delay: 0.5s;
		animation-fill-mode: forwards;
		text-overflow: shrink min(20px);

	}

	.Characters {
		width: introWidth;
		flow-children: right;
		vertical-align: bottom;

		transition-property: transform, opacity;
		transition-timing-function: ease-in;
		transition-duration: 0.5s;
	
		opacity: 0;
		transform: translateY( 100px );
		
		.ShowStoryPage &
		{
			opacity: 1;
			transform: translateX( 0px );
		}
		.ShowComicPage &
		{
			opacity: 0;
		}
	
		.CharacterInfo {
			width: fill-parent-flow( 1 );
			flow-children: down;

			transition-property: opacity, blur;
			transition-duration: 0.5s;


			.CharacterImageContainer {
				transition-property: transform;
				transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
				transition-duration: 0.3s;

			}

			.CharacterTitle,
			.CharacterText {
				width: 100%;
				vertical-align: middle;
			
				text-align: center;
				color: LightGrey;
				margin-left: 16px;
				margin-right: 16px;

				b {
					color: white;
				}
			}

			.CharacterTitle	{
				font-family: Reaver;
				font-size: 22px;
				color: LightestGrey;
				opacity: 0.2;
			}

			.CharacterText {
				margin-top: 12px;
				opacity: 0;
			}

			&.Character1
			{
				opacity: 1;
				blur: gaussian( 0px );

				.CharacterImageContainer {
					transform: none;
				}

				Label
				{
					opacity: 1;
				}
			}

			.CharacterImage
			{
				width: 100%;
			}
		}
	}
}

@keyframes 'FadeInStoryText'
{
	0% {
		opacity: 0;
		transform: translateY( -10px);
	   }
	100% {
		opacity: 1;
	}
}