DOTABPCrownfallQuestsPage {
	                    
	                          
	background-image: url( "file://{images}/events/crownfall/backgrounds/bg.png" );
	background-size: cover;
	flow-children: right;
}

.ZooColumn {
	flow-children: down;
}

.CrownfallButtonPrimary {

	min-width: 200px;
	transition-property: brightness, transform;
	transition-duration: 0.1s;

	.ButtonLabel {
		text-align: center;
		color: white;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
		horizontal-align: center;
		margin-top: 21px;
		padding: 0px 48px;
	}

	.ButtonParticles {
		width: 100%;
		height: 100%;
		horizontal-align: center;
		vertical-align: center;
		opacity-mask: url( "file://{images}/masks/sun_burst.png" );
	}
	
	.ButtonOutline,
	.ButtonBackground {
		flow-children: right;
		width: 100%;

		.Edge {
			width: 48px;
			height: 80px;
			background-size: contain;
			background-repeat: no-repeat;

			&.Right {
				transform: scaleX( -1 );
			}
		}

		.Middle {
			width: 24px;
			height: 80px;
			background-size: contain;
		}

		.Fill {
			width: fill-parent-flow( 1 );
			height: 80px;
			background-size: contain;
		}
	}

	.ButtonBackground {
		wash-color: rgb(42, 123, 222);
		transition-property: brightness, wash-color;
		transition-duration: 0.1s;

		.Edge {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_bg_edge.png" );
		}

		.Middle {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_bg_middle.png" );
		}

		.Fill {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_bg_fill.png" );
		}		
	}

	.ButtonOutline {
		.Edge {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_outline_edge.png" );
		}

		.Middle {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_outline_middle.png" );
		}

		.Fill {
			background-image: url( "file://{images}/events/crownfall/buttons/button_primary_outline_fill.png" );
		}
	}

	&.Purple {
		.ButtonBackground {
			wash-color: rgb(102, 68, 186);
		}
	}

	&:hover {
		.ButtonBackground {
			brightness: 2;
		}
	}

	&:active {
		transform: translateY( 1px );
	}
}

.Emblem_1 {
	width: 600px;
	height: 24px;
}

.Emblem_2 {
	width: 360px;
	height: 40px;
}









