
#Contents.NodeTooltipContents {
	min-width: 300px;
	padding: 0px;
	
	brightness: 0.75;
	transition-property: brightness, opacity;
	transition-duration: 0.2s, 0.1s;
	.Hidden &
	{
		opacity: 0.5;
	}
	.Interactive & {
		brightness: 1.0;
	}

	.AsyncPanel {
		width: 100%;

		.AsyncFailureContainer {
			height: 100px;
		}

		.AsyncLoadingContainer {
			height: 100px;
		}

		.AsyncSuccessContainer {
			height: fit-children;
		}
	}
}
.TooltipSection {
	flow-children: down;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
	
	.TopGoldDash {
		width: 100%;
		height: 3px;
		brightness: 0.4;
		.Interactive & {
			brightness: 1.0;
		}
	}

	.Header {
		flow-children: down;
		width: 100%;
		background-color: rgba(13, 14, 21, 0.3);
		padding: 10px 8px 16px;
		border-bottom: 1px solid rgba(212, 235, 255, 0.02);

		.ChapterInfo {
			flow-children: right;
			horizontal-align: center;
			visibility: collapse;
			.ShowChapterTitle &
			{
				visibility: visible;
			}
			.ChapterTitle {
				color: #ccc;
				text-shadow: 0px 1px 6px black;
				text-align: center;
			}
		}
		.DialogueTitle { 
			color: #aaac;
			horizontal-align: center;
			text-shadow: 0px 1px 6px black;
			font-size: 14px;
			font-style: italic;
			text-transform: none;
			margin-bottom: 5px;
			margin-top: -2px;
			visibility: collapse;
			.ShowDialogueTitle &
			{
				visibility: visible;
			}

		}
		.SectionTitle {
			color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
			horizontal-align: center;
			text-shadow: 0px 1px 6px black;
			brightness: 1.5;
			saturation: 0.8;
		}
	}

	.Instructions {
		font-size: 14px;
		padding: 8px 8px 0px 8px;
		horizontal-align: center;
	}
}

.RewardsSection {
	visibility: collapse;

	.HasRewards & {
		visibility: visible;
	}

	.RewardStatus {
		flow-children: right;
	}

	#RewardList {
		flow-children: down;
		padding: 12px 12px 8px;
		width: 100%;

		.RewardContainer {
			width: 100%;
			margin-bottom: 8px;
			
			.EconItemReward
			{
				padding-top: 2px;
				transition-property: transform;
				transition-duration: 0.2s;
				overflow: noclip;
			}
			&.CanClick
			{
				&:hover
				{
					brightness: 1.5;
					.EconItemReward
					{
						transition-property: transform;
						transition-duration: 0.2s;
						transform: scale3d( 1.04, 1.04, 1.0 );
					}
				}
				&:active
				{
					brightness: 0.5;
				}
			}
		}
	}

	#ShowcaseRewardsContainer {
		flow-children: down;
		margin-top: -8px;
		padding: 0px 12px 8px;
		width: 100%;
		visibility: collapse;

		.HasShowcaseRewards & {
			visibility: visible;
		}

		#ShowcaseRewardsList {
			horizontal-align: center;
			width: fit-children;
			flow-children: right;

			DOTAShowcaseDecoration {
				width: 60px;
				height: 60px;

				&:hover
				{
					brightness: 1.5;
					transition-property: transform;
					transition-duration: 0.2s;
					transform: scale3d( 1.04, 1.04, 1.0 );
				}
				&:active
				{
					brightness: 0.5;
				}
			}
		}

		Label {
			horizontal-align: center;
			text-align: center;
			color: LightestGrey;
			text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
		}
	}
}

.RewardStatus,
.EncounterStatus {
	horizontal-align: center;
	width: 100%;
	padding: 8px;
	margin-top: 4px;
	border-top: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgba(207, 236, 255, 0.06) ), color-stop( 0.7, rgba(207, 236, 255, 0.06) ), to( rgba(255, 255, 255, 0) ) );

	.RewardStatusInfo,
	.EncounterStatusInfo {
		horizontal-align: center;
		flow-children: right;
	}

	Label {
		vertical-align: center;
	}	
}

.RewardStatus {
	.RewardsUnlocked & {
		background-color: gradient( linear, 0% 0%, 0% 100%, from( winnerGreenLow&11 ), to( winnerGreen&05 ) );
		border-brush: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&11 ), color-stop( 0.3, winnerGreen&33 ), color-stop( 0.7, winnerGreen&33 ), to( winnerGreenLow&11 ) );
	}

	.RewardStatusIcon {
		width: 28px;
		height: 28px;
		vertical-align: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
	}

	.RewardsLocked & .RewardStatusIcon {
		background-image: url( "file://{images}/control_icons/24px/lock.svg" );
		wash-color: Grey;
	}

	.RewardsLocked & Label {
		color: Grey;
	}

	.RewardsUnlocked & .RewardStatusIcon {
		background-image: url( "file://{images}/control_icons/24px/check.svg" );
		wash-color: winnerGreen;
		img-shadow: 0px 0px 12px winnerGreen&22;
	}
	.RewardsUnlocked & Label {
		color: winnerGreen;
		text-shadow: 0px 0px 12px winnerGreen&22;
	}
}


.RewardStatus {
	color: #999;
}

DOTACrownfallButton.ReplayDialogue.Secondary {
	visibility: collapse;
	horizontal-align: center;
	margin: 0;
	margin-bottom: 4px;
	.HasDialogue.EncounterUnlocked &,
	.HasDialogue.RewardsUnlocked & {
		visibility: visible;
	}
}

DOTACrownfallButton.PlayDialogue.Secondary {
	visibility: collapse;
	horizontal-align: center;
	margin: 0;
	margin-bottom: 4px;

	.HasDialogue & {
		visibility: visible;
	}

	.HasDialogue.EncounterUnlocked &,
	.HasDialogue.RewardsUnlocked & {
		visibility: collapse;
	}
}

.EconItemReward {
	flow-children: down;
	horizontal-align: center;
	width: 100%;

	.ImageContainer {
		width: 180px;
		height: 120px;
		horizontal-align: center;
		margin-bottom: 8px;

		#ItemImage {
			width: 100%;
			height: 100%;
			img-shadow: 0px 2px 12px black;
			animation-name: ItemGlow;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}

		.Quantity {
			vertical-align: bottom;
			horizontal-align: right;
			color: white;
			text-shadow: 2px 2px 4px black;
			font-weight: bold;
			font-size: 32px;
			margin: 2px 6px;

			visibility: collapse;
		}
	}

	&.HasQuantity .Quantity	{
		visibility: visible;
	}

	.Details {
		vertical-align: middle;
		horizontal-align: center;
		width: 100%;

		.ItemName {
			color: LightestGrey;
			text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
			horizontal-align: center;
			text-align: center;
		}
	}
}

@keyframes 'ItemGlow'
{
	0%
	{
		brightness: 1;
		transform: scale3d( 1, 1, 1);
	}
	100%
	{
		brightness: 1.3;
		transform: scale3d( 1.01, 1.01, 1);
	}
}

.ChatWheelSprayReward {
	flow-children: down;
	horizontal-align: center;

	.ImageContainer {
		width: 220px;
		height: 200px;
		horizontal-align: center;
		margin-bottom: 8px;

		#ItemImage {
			width: 100%;
			height: 100%;
			img-shadow: 0px 2px 12px black;
		}
	}

	.Details {
		vertical-align: middle;
		horizontal-align: center;

		.ItemName {
			color: LightestGrey;
			text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
		}
	}
}
	

.ActionListReward {
	flow-children: down;
	horizontal-align: center;

	#ActionList {
		width: 220px;
		horizontal-align: center;
		margin-bottom: 8px;
	}

	.Details {
		flow-children: down;
		vertical-align: middle;
		horizontal-align: center;
		text-align: center;

		.ItemName {
			color: LightestGrey;
			text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
			margin-bottom: 8px;
		}

		Label {
			horizontal-align: center;
			text-align: center;
		}
	}
}

.ActionListRewardInfo {
	visibility: collapse;
	text-align: center;
	horizontal-align: center;
	margin-top: -8px;
	margin-bottom: 16px;

	.HasActionListReward & {
		visibility: visible;
	}
}

.TrophyReward {
	flow-children: down;
	horizontal-align: center;

	#TrophyImage {
		width: 120px;
		height: 120px;
		horizontal-align: center;
	}

	Label {
		horizontal-align: center;
		text-align: center;
		color: LightestGrey;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	}
}

.TokenReward {
	flow-children: down;
	horizontal-align: center;
	.Token {
		horizontal-align: center;
	}
	.TokenName {
		horizontal-align: center;
		margin-top: -10px;
		text-align: center;
		color: LightestGrey;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	}
}
.CandyShopRerollChargesItem {
	flow-children: down;
	horizontal-align: center;

	.CandyShopRerollChargeImage
	{
		width: 120px;
		height: 120px;
		horizontal-align: center;
		background-image: url( "file://{images}/events/crownfall/store/bunlde_item_reroll_dice.png" );
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	Label {
		horizontal-align: center;
		text-align: center;
		color: LightestGrey;
		text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	}
}

.EncounterSection {
	visibility: collapse;

	.HasEncounter & {
		visibility: visible;
	}

	.EncounterDetails {
		flow-children: down;
		horizontal-align: center;
		margin-bottom: 8px;
		padding: 12px 12px 8px;

		#EncounterImage {
			width: 80px;
			height: 80px;
			margin-bottom: 8px;
			                            
			horizontal-align: center;
			                            
			background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to ( gold3 ) );
			.HideEncounterImage & {
				visibility: collapse;
			}
		}

		.EncounterInfo {
			flow-children: down;
			vertical-align: middle;

			.EncounterName {
				horizontal-align: center;
				text-align: center;
				color: LightestGrey;
				text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
			}

			.EncounterDescription {
				horizontal-align: center;
				text-align: center;
				color: LightGrey;
				text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
			}
		}
	}
}

@keyframes 'IconGlow'
{
	0%
	{
		brightness:0.7;
	}
	50%
	{
		brightness: 1.3;
	}
	100%
	{
		brightness:0.7;
	}
}
