.CrownfallTabs {
    
    margin-top: 4px;

    RadioButton Label {
        text-shadow: 0px 2px 8px black;
        brightness: 1.6;
        padding: 12px;
    }

    RadioButton {
        tooltip-position: bottom;
    }

    .SecondaryTabSeparator {
        margin: 0px 4px;
    }
}