.CrownfallStoreCell {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
	                    
}

#CellBackground {
	width: 100%;
	height: 100%;

	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;

	&.Hovered {
		brightness: 1.3;
		pre-transform-scale2d: 1.02;
	}
}

.CellBorder {
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #ebf7ff29 ), to( #d0dfff14 ) );
}

.CellImage {
	width: 260px;
	margin-left: 30px;
	margin-top: 10px;
	overflow: noclip;
	vertical-align: center;

	animation-name: BobPack;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;

	&:hover {
		brightness: 1.3;
		pre-transform-scale2d: 1.03;
	}
}

.CellContent {
	width: 100%;
	height: 100%;
	flow-children: down;
	margin-top: 44px;
}

.CellTitle {
	horizontal-align: center;
	color: white;
	margin: 10px 12px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: semi-bold;
	                                                                                               
	                                                        
	                                                                                                                                                                             
}

.CellFooter {
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	padding-bottom: 12px;

	#ViewStoreButton {
		horizontal-align: center;
		width: 100%;
		margin: 0px 12px 6px;
	}
}

.DiscountText {
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 16px;
	margin-top: 2px;

	animation-name: DiscountGlow;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;

	visibility: collapse;

	.CanActivateDiscount & {
		visibility: visible;
	}
}

.StoreItemContainer {
	width: 100%;
	height: fill-parent-flow(1);
	
	.StoreItem {
		flow-children: down;
		vertical-align: center;
		horizontal-align: right;
		width: 170px;
		padding-right: 16px;

		#NewArrivalBadge {	
			flow-children: right;
			border-radius: 2.5px;
			margin-left: -1px;
			margin-bottom: 6px;
			box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
		
			Label {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFF2DF ), color-stop( 0.40, #ebc386 ), color-stop( 0.60, #BA8C47 ), to( #8d6c3a ) );
				color: rgba(0, 0, 0, 1);
				text-shadow: 0px 0.5px 0px 0 #ffffff25;
				padding: 1px 6px;
				font-weight: bold;	
				letter-spacing: 0.3px;	
			}
		}
	
		.StoreItemTitle {
			                             
			font-size: 16px;
			color: whitesmoke;
			text-shadow: 0px 2px 12px black;
			margin-bottom: 4px;
			max-height: 38px;
			text-overflow: shrink;
		}
	
		.StoreItemPrice {
			font-weight: semi-bold;
			letter-spacing: 1px;
			color: rgba(255, 233, 171, 0.9);
			text-shadow: 0px 2px 12px black;
			margin: 0px 1px;
			text-transform: uppercase;
		}
	}

	

	                
		            
		                                
		                     
		                   

		            
			             
			                               
			               
			                               
			                    

			                                
			                          

			         
				                
			 
			          
				                
			 

			                 
				            
				             

				                         
				                             
				                            
			 

			                 
				            
				                       
				                   
				                
				            
				                               
				                    
				                          
				                 
			 

			                      
				                  

				                 
					           
					                  
					                         
					                                                                                          

					                        
					                         
					                                    
					                               
					                                       
				 
			 

			             
				                 

				                 
					                         
					             
					                                                  
				 
			 
		 
	    

	
}

@keyframes 'BobPack'
{
	0% {
		transform: translateX( -80px ) translateY( 8px );
	}

	100% {
		transform: translateX( -80px ) translateY( 16px );
	}
}

	
@keyframes 'DiscountGlow'
{
	0% {
		text-shadow: 0px 0px 4px gold2;
	}
	100% {
		text-shadow: 0px 0px 12px gold1;
	}
}