.Match3TooltipAbility {
	width: 400px;
	flow-children: down;
}

.AbilityName {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.AbilityDescription {
	font-size: 18px;
	color: #9ab0cd;
}

#AbilityValues {
	flow-children: down;

	Label {
		font-size: 18px;
		text-transform: uppercase;
		color: #596e89;

		.GameplayVariable {
			font-weight: semibold;
			color: #e1e1e1;
		}
	}
}