/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Language_schinese .CrownfallLogo,.CrownfallLogoCN
{
	visibility: collapse;
}

.Language_schinese .CrownfallLogoCN,.CrownfallLogo
{
	visibility: visible;
}

.LogoContainer
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 32px;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.6s;
	opacity: 0;
	transform: translateY( -48px );
}

.LogoContainer .TitleLogoBackgroundImage
{
	width: 660px;
	horizontal-align: center;
	vertical-align: center;
}

.LogoContainer .LogoShadow
{
	ignore-parent-flow: true;
	width: 240px;
	height: 120px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 24px );
	opacity: 0.9;
	horizontal-align: center;
	margin-top: 44px;
}

.LogoContainer .TitleTextContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.LogoContainer .TitleTextContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.LogoContainer .TitleTextContainer .CrownfallLogo,.LogoContainer .TitleTextContainer .CrownfallLogoCN
{
	width: 200px;
	horizontal-align: center;
	margin: -17px 0px;
}

.LogoContainer .TitleTextContainer .ContestTitle
{
	color: gradient( linear, 0% 35%, 0% 100%, from( white ), color-stop( 0.48, #d4e3ef ), color-stop( 0.52, #b8bec0 ), to( #8e8c93 ) );
	margin-bottom: -4px;
	text-shadow: 0px 8px 48px 16 rgba(0, 0, 0, 0.1);
	font-size: 56px;
	max-height: 144px;
	text-overflow: shrink;
}

.LogoContainer .TitleTextContainer .ContestDescription
{
	font-family: titleFont;
	margin: 12px 56px 0px;
	font-size: 18px;
	color: LightestGrey;
	opacity: 0.6;
	text-shadow: 0px 4px 12px black;
	text-overflow: shrink;
	width: 360px;
}

.Language_schinese .LogoContainer .CrownfallLogo,.LogoContainer .CrownfallLogoCN
{
	visibility: collapse;
}

.Language_schinese .LogoContainer .CrownfallLogoCN,.LogoContainer .CrownfallLogo
{
	visibility: visible;
}

.FullPreviewMode .LogoContainer
{
	opacity: 1;
	transform: translateY( -32px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0.1s;
}

.SmokeFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	wash-color: rgb(56, 45, 86);
	opacity: 0.5;
	transform: translateY( 400px );
	transition-property: transform;
	transition-duration: 1s;
}

.FullPreviewMode .SmokeFX
{
	transform: translateY( 200px );
}

