/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.LogoContainer
{
	horizontal-align: center;
	vertical-align: top;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.6s;
	opacity: 0;
	transform: translateY( -48px );
}

.LogoContainer .TitleLogoBackgroundImage
{
	width: 640px;
	height: 320px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 12px;
}

.LogoContainer .LogoShadow
{
	ignore-parent-flow: true;
	width: 240px;
	height: 120px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 24px );
	opacity: 0.9;
	horizontal-align: center;
	margin-top: 44px;
}

.LogoContainer .TitleTextContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.LogoContainer .TitleTextContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.LogoContainer .TitleTextContainer .YearLabel
{
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px black;
}

.LogoContainer .TitleTextContainer .ContestTitle
{
	color: gradient( linear, 0% 35%, 0% 100%, from( white ), color-stop( 0.4, #d4e3ef ), color-stop( 0.6, #b8bec0 ), to( #a2a6a9 ) );
	margin-bottom: -4px;
	text-shadow: 0px 8px 48px 16 rgba(0, 0, 0, 0.1);
	font-size: 48px;
	font-weight: normal;
	width: 580px;
	max-height: 122px;
	text-overflow: shrink;
}

.LogoContainer .TitleTextContainer .ContestDescription
{
	font-family: titleFont;
	font-size: 18px;
	color: LightestGrey&CC;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
	text-overflow: shrink;
	width: 620px;
}

.FullPreviewMode .LogoContainer
{
	opacity: 1;
	transform: translateY( -32px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0.1s;
}

.ParticleWindow
{
	width: 600px;
	height: 400px;
	transform: scale3d( 0.7, 0.7, 1 );
	horizontal-align: center;
	vertical-align: top;
	ignore-parent-flow: true;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	margin-top: -70px;
}

