/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Language_schinese .DarkCarnivalLogo,.DarkCarnivalLogoCN
{
	visibility: collapse;
}

.Language_schinese .DarkCarnivalLogoCN,.DarkCarnivalLogo
{
	visibility: visible;
}

.LogoContainer
{
	horizontal-align: center;
	vertical-align: top;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.6s;
	opacity: 0;
	transform: translateY( -48px );
}

.LogoContainer .DarkCarnivalLogo
{
	width: 400px;
	transform-origin: 50% 0%;
	animation-name: SwayLogo;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.LogoContainer .DarkCarnivalLogo:hover
{
	brightness: 1.5;
	pre-transform-scale2d: 1.02;
}

.LogoContainer .DarkCarnivalLogo.en
{
	visibility: visible;
}

.Language_schinese .LogoContainer .DarkCarnivalLogo.en
{
	visibility: collapse;
}

.LogoContainer .DarkCarnivalLogo.cn
{
	visibility: collapse;
}

.Language_schinese .LogoContainer .DarkCarnivalLogo.cn
{
	visibility: visible;
}

.LogoContainer #TreasureRecycling
{
	opacity: 0;
}

.FullPreviewMode .LogoContainer
{
	opacity: 1;
	transform: translateY( -32px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.GodRays
{
	width: 250%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	y: -150px;
}

@keyframes 'SwayLogo'
{
	0%
	{
		transform: rotateZ( -1deg );
	}
	
	100%
	{
		transform: rotateZ( 1deg );
	}
	
}

