/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#BackgroundContainer
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/muerta/treasure_assets/background_sky_psd.vtex");
	background-size: cover;
}

#BackgroundContainer #BackgroundEffects
{
	width: 100%;
	height: 100%;
}

#BackgroundContainer .BackgroundGradient
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0A121A00 ), color-stop( 0.35, #0A121AEF ), color-stop( 0.55, #152434 ), to( #152034 ) );
}

#BackgroundContainer #TreeImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/muerta/treasure_assets/tree_psd.vtex");
	background-size: cover;
	transform: translateX( 300px ) translateY( -100px );
}

#BackgroundContainer #GrassRocks
{
	width: 1060px;
	height: 596px;
	background-image: url("s2r://panorama/images/events/muerta/treasure_assets/grass_rocks_psd.vtex");
	background-size: cover;
	horizontal-align: center;
	vertical-align: center;
	transform: translateY( 20px );
	transition-property: opacity, transform;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0s;
}

#BackgroundContainer #ForegroundGrass
{
	width: 100%;
	height: 750px;
	background-image: url("s2r://panorama/images/events/muerta/treasure_assets/foreground_grass_psd.vtex");
	background-size: cover;
	transform: translateY( 260px );
	blur: gaussian( 80px );
}

#BackgroundContainer .MainPreviewRays
{
	transform: translateY(-90px) translateX(0px);
	horizontal-align: center;
	width: 100%;
	height: 100%;
	transform: rotateZ( 45deg ) translate3d( 0px, -340px, 0px ) scale3d(1.2, 1.2, 1.2);
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 1;
}

.FullPreviewMode #BackgroundContainer .MainPreviewRays,.FullPreviewTransition #BackgroundContainer .MainPreviewRays
{
	opacity: 0;
}

#BackgroundContainer #PreviewRays2
{
	width: 50%;
}

#TreasureLogo
{
	width: 800px;
	margin-top: 80px;
}

.AspectRatio21x9 #TreasureLogo
{
	margin-right: 120px;
}

#TreasureLogo .DeadReckoningLogo
{
	width: 600px;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

#TreasureLogo .DeadReckoningLogo.en
{
	visibility: visible;
}

.Language_schinese #TreasureLogo .DeadReckoningLogo.cn,.Language_tchinese #TreasureLogo .DeadReckoningLogo.cn
{
	visibility: visible;
}

.Language_schinese #TreasureLogo .DeadReckoningLogo.en,.Language_tchinese #TreasureLogo .DeadReckoningLogo.en
{
	visibility: collapse;
}

DOTATierTreasureDetails #TreasureLogo
{
	visibility: visible;
}

.ChestIcon,.KeyIcon
{
	width: 120px;
	height: width-percentage(100%);
	margin-right: 24px;
	vertical-align: center;
	background-size: contain;
}

.ChestIcon
{
	background-image: url("s2r://panorama/images/events/muerta/muerta_chest_icon_psd.vtex");
}

.KeyIcon
{
	background-image: url("s2r://panorama/images/events/muerta/muerta_key_icon_psd.vtex");
}

.ChestHex
{
	background-image: url("s2r://panorama/images/events/muerta/muerta_chest_icon_psd.vtex");
}

.TextButton Label
{
	color: #8bffd8;
}

.TextButton Image
{
	wash-color: #8bffd8;
}

.PurchaseRowDivider .Emblem
{
	background-image: url("s2r://panorama/images/events/muerta/emblem_png.vtex");
	wash-color: #FFE6A6;
	visibility: visible;
}

.PurchaseRowDivider .Dash
{
	wash-color: #FFE6A6;
}

#UnlockChestButton,#RecycleButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #387d69 ), to( #225a49 ) );
}

@keyframes 'GlowTreasureButtonPrimary'
{
	0%
	{
		box-shadow: 0px 0px 24px #8bffd800;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #8bffd822;
		brightness: 2.5;
	}
	
}

