/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATierTreasureDetails
{
	background-color: #020910;
}

#BackgroundContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-size: cover;
	background-position: center;
	brightness: 1.5;
}

.AspectRatio21x9 #BackgroundContainer
{
	max-width: 2200px;
	opacity-mask: url("s2r://panorama/images/masks/profile_background_mask_psd.vtex");
}

#BackgroundContainer .MainPreviewRays
{
	transform: translateY(-90px) translateX(0px);
	horizontal-align: center;
	width: 100%;
	height: 100%;
	transform: rotateZ( 50deg ) translate3d( 240px, -480px, 0px ) scale3d(1, 1, 1);
	hue-rotation: -20deg;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	transition-property: opacity;
	transition-duration: 0.6s;
	opacity: 0.5;
}

.FullPreviewMode #BackgroundContainer .MainPreviewRays,.FullPreviewTransition #BackgroundContainer .MainPreviewRays
{
	opacity: 0;
}

#BackgroundContainer #PreviewRays2
{
	transform: rotateZ( 50deg ) translate3d( 400px, -680px, 0px ) scale3d(0.7, 0.7, 0.7);
	hue-rotation: 60deg;
}

#TreasureLogo
{
	width: 800px;
	margin-top: 110px;
	flow-children: down;
}

.AspectRatio16x10 #TreasureLogo
{
	width: 700px;
}

.AspectRatio21x9 #TreasureLogo
{
	width: 700px;
	margin-right: 120px;
}

#TreasureLogo .TreasureTitle
{
	font-family: titleFont;
	color: whitesmoke;
	margin-bottom: 12px;
	line-height: 1.5;
	horizontal-align: center;
	font-size: 60px;
}

#TreasureLogo .TreasureDetailsContainer
{
	width: 500px;
	horizontal-align: center;
	flow-children: down;
}

#TreasureLogo .TreasureDetailsContainer Label
{
	text-align: center;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}

#TreasureLogo .TreasureDetailsContainer .TreasureIntro
{
	font-family: titleFont;
	color: whitesmoke;
	margin-bottom: 12px;
	line-height: 1.5;
}

#TreasureLogo .TreasureDetailsContainer .TreasureDescription
{
	color: rgba(190, 200, 211, 0.8);
	margin-bottom: 12px;
}

#UnusualOddsTooltip
{
	width: 16px;
	height: 16px;
	margin-left: 4px;
	margin-bottom: 2px;
	tooltip-position: bottom;
	wash-color: #99a6b5;
	img-shadow: 0px 1px 4px black;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

#UnusualOddsTooltip:hover
{
	wash-color: #e1e6ed;
}

DOTATierTreasureDetails #TreasureLogo
{
	visibility: visible;
}

.ChestIcon,.KeyIcon
{
	width: 128px;
	height: width-percentage(100%);
	margin-right: 24px;
	vertical-align: center;
	background-size: cover;
	background-position: center;
	visibility: collapse;
}

#UnlockChestButton,#RecycleButton,#DoneButton,#OpenAnotherButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4aaed0 ), to( #13426a ) );
}

@keyframes 'GlowTreasureButtonPrimary'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2.5;
	}
	
}

