/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.LogoContainer
{
	horizontal-align: center;
	vertical-align: top;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.6s;
	opacity: 0;
	transform: translateY( -48px );
}

.LogoContainer .TitleLogoBackgroundImage
{
	width: 640px;
	height: 320px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 12px;
	wash-color: rgb(232, 225, 255);
}

.LogoContainer .StarsFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.LogoContainer .TitleTextContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.LogoContainer .TitleTextContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.LogoContainer .TitleTextContainer .YearLabel
{
	margin-bottom: -4px;
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px black;
}

.LogoContainer .TitleTextContainer .ContestTitle
{
	color: white;
	font-weight: normal;
	text-shadow: 0px 0px 48px rgba(209, 124, 255, 0.2);
	margin-bottom: -4px;
	font-size: 48px;
	width: 580px;
	max-height: 122px;
	text-overflow: shrink;
}

.LogoContainer .TitleTextContainer .ContestDescription
{
	font-family: titleFont;
	font-size: 18px;
	color: #d1d1ffbd;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	text-overflow: shrink;
	width: 420px;
}

.FullPreviewMode .LogoContainer
{
	opacity: 1;
	transform: translateY( -32px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0.1s;
}


