/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATierTreasureDetails #BackgroundContainer
{
	visibility: visible;
}

DOTATierTreasureDetails .TreasureInfoContainer
{
	visibility: visible;
}

.TreasureHomeFocused #TreasureModelContainer
{
	opacity: 0;
}

#BackgroundContainer
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #131d1f ), to( #030606 ) );
	visibility: collapse;
}

#BackgroundContainer .BackgroundImage
{
	width: 100%;
	height: 100%;
	max-width: 2560px;
	horizontal-align: center;
	background-size: cover;
	background-position: center;
	background-image: url("s2r://panorama/images/treasures/monster_hoard/monster_hoard_2026_treasure_background_png.vtex");
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );
}

#BackgroundContainer .SmokeFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	wash-color: rgb(120, 136, 142);
	margin-top: -360px;
	-s2-mix-blend-mode: overlay;
	opacity-brush: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffffff ), color-stop( 0.5, #ffffff ), to( #ffffff00 ) );
}

.RewardsRevealed #BackgroundContainer
{
	animation-name: PopAndDarkenBackground;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

@keyframes 'PopAndDarkenBackground'
{
	0%
	{
		brightness: 1;
		transform: none;
	}
	
	5%
	{
		brightness: 4;
		transform: scale3d(1.01, 1.01, 1 );
	}
	
	50%
	{
		brightness: 0.2;
		transform: none;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

.HeroesSceneModels
{
	height: 100%;
	horizontal-align: center;
	padding: 0px 120px;
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 60% 100%, from( #ffffff ), color-stop( 0.5, #ffffff ), color-stop( 0.75, #a9bbbe ), to( #171a1be7 ) );
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.1s;
	opacity: 0;
	transform: translateX( -48px );
}

.AspectRatio16x10 .HeroesSceneModels
{
	ui-scale: 88%;
	padding-top: 48px;
}

.TreasureHomeFocused .HeroesSceneModels
{
	opacity: 1;
	transform: none;
	transition-delay: 0s;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

.HeroesSceneModels .HeroModel
{
	transition-property: brightness;
	transition-duration: 0.25s;
}

.HeroesSceneModels .HeroModel.Hovered
{
	brightness: 2;
}

.HeroesSceneModels #PremiumReward_Right
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 1080px;
	height: width-percentage(100%);
	transform: translateX( 360px ) translateY( -350px );
}

.HeroesSceneModels #PremiumReward_Left
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 720px;
	height: width-percentage(100%);
	transform: translateX( -380px ) translateY( -70px );
}

.HeroesSceneModels #PremiumReward_Middle
{
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/hero_model_preview_mask_treasure_psd.vtex");
	opacity-mask-position: 0px 100px;
	width: 1080px;
	height: width-percentage(100%);
	transform: translateX( 0px ) translateY( -300px );
}

.HeroesSceneModels .HeroShadowLeft,.HeroesSceneModels .HeroShadowRight,.HeroesSceneModels .HeroShadowMiddle
{
	width: 500px;
	height: 80px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop(0.5, #000000a0 ), to( #00000000 ) );
	blur: gaussian( 8px );
	vertical-align: center;
	horizontal-align: center;
	margin-top: 120px;
	opacity: 0.9;
}

.HeroesSceneModels .HeroShadowLeft
{
	margin-right: 440px;
}

.HeroesSceneModels .HeroShadowRight
{
	margin-left: 680px;
}

.HeroesSceneModels .HeroShadowMiddle
{
	margin-top: 260px;
}

.HeroesSceneModels .HeroModelHitBox
{
	width: 390px;
	height: 600px;
	background-color: rgba(255, 0, 255, 0);
}

.HeroesSceneModels .HeroModelHitBox.Middle
{
	horizontal-align: center;
}

.HeroesSceneModels .HeroModelHitBox.Right
{
	horizontal-align: right;
	height: 480px;
	margin-top: 120px;
}

.HeroesSceneModels .HeroModelHitBox.Left
{
	horizontal-align: left;
	height: 480px;
	margin-top: 120px;
}

.TreasureInfoContainer
{
	margin: 0px;
	horizontal-align: center;
	margin-top: 440px;
	width: 900px;
}

.TreasureInfoContainer .EmblemImage
{
	ignore-parent-flow: true;
	width: 75%;
	horizontal-align: center;
}

.TreasureInfoContainer .TreasureTitle
{
	margin-top: 140px;
	text-shadow: 0px 0px 48px rgba(107, 211, 255, 0.1);
	font-weight: normal;
}

.TreasureInfoContainer .TreasureDescription
{
	color: rgba(197, 234, 235, 0.9);
	font-size: 18px;
}

.PurchaseRowDivider .Emblem
{
	background-image: url("s2r://panorama/images/treasures/monster_hoard/emblem_png.vtex");
	visibility: visible;
}

.PurchaseRowDivider .Dash
{
	wash-color: #7da0a1;
}

.TextButton Label
{
	color: #8bffd8;
}

.TextButton Image
{
	wash-color: #8bffd8;
}

#UnlockChestButton,#RecycleButton,#OpenAnotherButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b888a ), to( #1d5660 ) );
}

.MilestoneRewardItemCount b
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #95fbff ), to( #56bfd2 ) );
}

.ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b888a ), to( #1d5660 ) );
	brightness: 4;
}

@keyframes 'GlowTreasureButtonPrimary'
{
	0%
	{
		box-shadow: 0px 0px 24px #3b888a00;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #3b888a22;
		brightness: 2.5;
	}
	
}

.MilestoneReward_Roshan
{
	width: 50%;
	height: width-percentage(100%);
	vertical-align: center;
	horizontal-align: center;
	transition-property: brightness;
	transition-duration: 0.1s;
	opacity-brush: gradient( linear, 0% 75%, 0% 85%, from( white ), color-stop( 0.5, #FFFFFF99 ), to( #ffffff00 ) );
}

