/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Season_Fall2025 #Contents
{
	background-color: #2d2a21;
}

.Season_Fall2025 #Title
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.Season_Fall2025 #Status
{
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
}

.Season_Fall2025 #Body,.Season_Fall2025 #PreviousMatchInfo
{
	color: rgb(202, 183, 169);
}

.Season_Fall2025 #Level
{
	text-shadow: 0px 0px 12px rgba(255, 170, 101, 0.4);
}

.Season_Winter2025 #Contents
{
	background-color: #1d282e;
}

.Season_Winter2025 #Title
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #dff9ff ) );
}

.Season_Winter2025 #Status
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #bfdcf7 ), to( #394f7e ) );
}

.Season_Winter2025 #Body,.Season_Winter2025 #PreviousMatchInfo
{
	color: rgb(163, 174, 179);
}

.Season_Winter2025 #Level
{
	text-shadow: 0px 0px 12px rgba(101, 188, 255, 0.4);
}

#Contents
{
	background-color: #2d2a21;
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 0px;
	width: 300px;
	flow-children: down;
}

#Contents #Title
{
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-family: titleFont;
	text-align: center;
	font-weight: semi-bold;
	font-size: 16px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: 100%;
	vertical-align: top;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF99 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF99 ) );
	padding: 10px;
	margin-bottom: 12px;
	background-color: rgba(0, 0, 0, 0.258);
}

#Contents #Level
{
	width: 100%;
	vertical-align: top;
	text-align: center;
	font-size: 21px;
	font-family: titleFont;
	color: white;
}

#Contents #Level b
{
	color: white;
}

#Contents #Status
{
	width: 100%;
	vertical-align: top;
	text-align: center;
	letter-spacing: 1px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#Contents #Body
{
	width: 100%;
	margin: 8px;
	text-align: center;
	font-size: 17px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#Contents #PreviousMatchInfo
{
	width: 100%;
	vertical-align: top;
	margin-bottom: 4px;
	text-align: center;
	font-size: 13px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	visibility: collapse;
}

.HasPointsGained #Contents #PreviousMatchInfo
{
	visibility: visible;
}

