/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	max-width: 350px;
}

#Heading
{
	margin-bottom: 8px;
	horizontal-align: center;
	text-align: center;
}

#Heading .HeroName,#Heading .TokenName
{
	color: white;
}

#RewardList
{
	horizontal-align: center;
	flow-children: right;
	width: fit-children;
}

