/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Season_Fall2025 #Contents
{
	background-color: #2d2a21;
}

.Season_Fall2025 #RewardText
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.Season_Fall2025 #RewardClaimableAtText,.Season_Fall2025 #DialogReplayableText
{
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
}

.Season_Fall2025 #RewardClaimableText
{
	text-shadow: 0px 0px 12px rgba(255, 208, 99, 0.5);
}

.Season_Winter2025 #Contents
{
	background-color: #1d282e;
}

.Season_Winter2025 #RewardText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #dff9ff ) );
}

.Season_Winter2025 #RewardClaimableAtText,.Season_Winter2025 #DialogReplayableText
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #acdfff ), to( #74a7d8 ) );
}

.Season_Winter2025 #RewardClaimableText
{
	text-shadow: 0px 0px 12px rgba(99, 193, 255, 0.5);
}

#Contents
{
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 10px;
	width: 300px;
	flow-children: down;
}

#Contents #RewardText
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 0px 2px 12px black;
	margin-bottom: 5px;
}

#Contents #RewardDescription
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	color:rgb(202, 183, 169);
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 0px 2px 8px black;
	margin-bottom: 5px;
	visibility: collapse;
}

.HasRewardDescription #Contents #RewardDescription
{
	visibility: visible;
}

#Contents #RewardFlavor
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	color: LighterGrey;
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 0px 2px 8px black;
	margin-bottom: 5px;
	visibility: collapse;
}

#Contents #ImageContainer
{
	width: 90%;
	horizontal-align: center;
	margin: 2px 0px 24px;
	height: 200px;
	visibility: collapse;
}

.HasVideo #Contents #ImageContainer
{
	height: width-percentage( 64% );
}

.HasImage #Contents #ImageContainer,.HasVideo #Contents #ImageContainer
{
	visibility: visible;
}

#Contents #ImageContainer #RewardImage
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HasImage #Contents #ImageContainer #RewardImage
{
	visibility: visible;
}

#Contents #ImageContainer #RewardVideo
{
	width: 100%;
	height: 100%;
	box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.4);
	visibility: collapse;
}

.HasVideo #Contents #ImageContainer #RewardVideo
{
	visibility: visible;
}

#Contents #ImageContainer .HighValueFX
{
	width: 100%;
	height: width-percentage( 67% );
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	opacity-mask: url("s2r://panorama/images/events/seasonal/masks/antique_fx_mask_psd.vtex");
	brightness: 2;
	visibility: collapse;
}

.HighValue #Contents #ImageContainer .HighValueFX
{
	visibility: visible;
}

#Contents #RewardClaimableText
{
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1.5px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	color: white;
	vertical-align: top;
	visibility: collapse;
}

.Claimable #Contents #RewardClaimableText
{
	visibility: visible;
	animation-name: GlowRewardClaimableText;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#Contents #DialogReplayableText
{
	width: 100%;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.5px;
	font-weight: normal;
	vertical-align: top;
	text-shadow: 0px 2px 8px black;
	visibility: collapse;
}

.Replayable #Contents #DialogReplayableText
{
	visibility: visible;
}

#Contents #RewardClaimedText
{
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	background-size: 14px;
	background-position: 0px 1px;
	background-repeat: no-repeat;
	padding-left: 16px;
	horizontal-align: center;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.5px;
	color: white;
	wash-color: #6ec187;
	font-weight: normal;
	vertical-align: top;
	text-shadow: 0px 2px 8px black;
	margin-bottom: 2px;
	visibility: collapse;
}

.AlreadyClaimed #Contents #RewardClaimedText
{
	visibility: visible;
}

#Contents #RewardClaimableAtText
{
	width: 100%;
	text-align: center;
	font-size: 13px;
	letter-spacing: 1.5px;
	font-weight: normal;
	vertical-align: top;
	text-shadow: 0px 2px 8px black;
}

.Claimable #Contents #RewardClaimableAtText,.AlreadyClaimed #Contents #RewardClaimableAtText
{
	visibility: collapse;
}

@keyframes 'GlowRewardClaimableText'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

