/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from ( #181b1d), to ( #22292f ) );
	padding: 12px 12px 8px 12px;
}

#StatBranch
{
	width: 430px;
	height:fit-children;
}

.VariantLabel
{
	color: #e1e1e1;
	font-size: 15px;
	line-height: 15px;
	width: 100% text-shadow: 1px 1px 2px 3.0 #00000077;
	text-align: center;
	vertical-align: middle;
	horizontal-align: middle;
}


