/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#RewardTooltip #LeftArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_left_png.vtex");
	wash-color: #2c2720;
	margin-right: -5px;
}

#RewardTooltip #RightArrow
{
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_right_png.vtex");
	wash-color: #2c2720;
	margin-left: -2px;
}

#Contents
{
	background-color: #2d2a21;
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 10px;
	width: 300px;
	flow-children: down;
}

#Contents #RewardText
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
	font-size: 18px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 5px;
}

#Contents #RewardDescription
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	color:rgb(202, 183, 169);
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 5px;
	visibility: collapse;
}

.HasRewardDescription #Contents #RewardDescription
{
	visibility: visible;
}

#Contents #RewardFlavor
{
	width: 100%;
	font-family: titleFont;
	text-align: center;
	color: LighterGrey;
	font-size: 12px;
	font-weight: normal;
	vertical-align: top;
	letter-spacing: 0.25px;
	text-shadow: 1px 1px 2px black;
	margin-bottom: 5px;
	visibility: collapse;
}

#Contents #ImageContainer
{
	width: 90%;
	horizontal-align: center;
	margin: 2px 0px 24px;
	height: 200px;
	visibility: collapse;
}

.HasVideo #Contents #ImageContainer
{
	height: width-percentage( 64% );
}

.HasImage #Contents #ImageContainer,.HasVideo #Contents #ImageContainer
{
	visibility: visible;
}

.IsItemReward.HasImage #Contents #ImageContainer
{
	visibility: collapse;
}

#Contents #ImageContainer #RewardImage
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HasImage #Contents #ImageContainer #RewardImage
{
	visibility: visible;
}

#Contents #ImageContainer #RewardVideo
{
	width: 100%;
	height: 100%;
	box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.4);
	visibility: collapse;
}

.HasVideo #Contents #ImageContainer #RewardVideo
{
	visibility: visible;
}

#Contents #RewardClaimableText
{
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 1.25px;
	color: #e2d3bc;
	text-shadow: 1px 1px 2px black;
	vertical-align: top;
	visibility: collapse;
}

.Claimable #Contents #RewardClaimableText
{
	visibility: visible;
}

#Contents #DialogReplayableText
{
	width: 100%;
	text-align: center;
	font-family: titleFont;
	font-size: 11px;
	letter-spacing: 1.7px;
	color: #b9a486;
	font-weight: normal;
	vertical-align: top;
	visibility: collapse;
}

.Replayable #Contents #DialogReplayableText
{
	visibility: visible;
}

#Contents #RewardClaimedText
{
	width: 100%;
	text-align: center;
	font-family: titleFont;
	font-size: 11px;
	letter-spacing: 1.7px;
	color: #b9a486;
	font-weight: normal;
	vertical-align: top;
	visibility: collapse;
}

.AlreadyClaimed #Contents #RewardClaimedText
{
	visibility: visible;
}

#Contents #RewardClaimableAtText
{
	width: 100%;
	text-align: center;
	font-family: titleFont;
	font-size: 11px;
	letter-spacing: 1.7px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	font-weight: normal;
	vertical-align: top;
}

.Claimable #Contents #RewardClaimableAtText,.AlreadyClaimed #Contents #RewardClaimableAtText
{
	visibility: collapse;
}

