/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.TooltipProfileCard
{
	flow-children: down;
}

.ShowMiniShowcase #ProfileCard
{
	visibility: collapse;
}

#MiniShowcase
{
	visibility: collapse;
}

.ShowMiniShowcase #MiniShowcase
{
	visibility: visible;
}

.EventLevelContainer
{
	width: 100%;
	flow-children: right;
	visibility: collapse;
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act3_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ShowEventLevel .EventLevelContainer
{
	visibility: visible;
}

.EventLevelContainer #EventLevelShield
{
	ui-scale: 70%;
}

.EventLevelContainer .EventLevelLabel
{
	vertical-align: middle;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: titleFont;
	color: #ccc;
}

#PartySection
{
	background-color: #000000FF;
	width: 100%;
	padding: 4px;
	visibility: collapse;
}

.ShowPartySection #PartySection
{
	visibility: visible;
}

#PartySection .Bans
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 2px;
}

#PartySection Label
{
	vertical-align: center;
	font-size: 14px;
	text-transform: uppercase;
	color: #556;
	letter-spacing: 1px;
}

#PartySection .BannedHero.Empty
{
	visibility: collapse;
}

#PartySection DOTAHeroImage
{
	width: 32px;
	height: 32px;
	margin: 4px;
}

#PartySection .HasBansLabel
{
	visibility: visible;
	margin-right: 4px;
}

#PartySection .NoBansLabel
{
	visibility: collapse;
}

.NoBans .Bans .HasBansLabel
{
	visibility: collapse;
}

.NoBans .Bans .NoBansLabel
{
	visibility: visible;
}

