/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.ContributionDetailsContents
{
	width: 420px;
	height: fit-children;
	flow-children: down;
	background-color: #181d20;
	padding: 0px;
}

.ContributionDetailsHeader
{
	flow-children: right;
	width: 100%;
	border-bottom: 1px solid black;
	min-height: 36px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #c7ddff09 ), to( #c7ddff04 ) );
	padding: 4px 8px;
}

#HeroIcon
{
	visibility: collapse;
	width: 28px;
	height: 28px;
}

.HeroName,.GeneralHeading
{
	color: whitesmoke;
	text-transform: uppercase;
	vertical-align: middle;
	margin-left: 6px;
	font-size: 16px;
	font-family: titleFont;
	letter-spacing: 1px;
	font-weight: semi-bold;
	text-shadow: 0px 1px 6px black;
}

.HeroName
{
	visibility: collapse;
}

.ShowHeroHeader .HeroName,.ShowHeroHeader #HeroIcon
{
	visibility: visible;
}

.ShowHeroHeader .GeneralHeading
{
	visibility: collapse;
}

#ContributionDetailsMain
{
	width: 100%;
	flow-children: down;
}

.ContributionDetailSection
{
	flow-children: down;
	padding: 8px;
	width: 100%;
	border-bottom: 1px solid rgb(0, 0, 0);
	margin-bottom: -1px;
	visibility: collapse;
}

.ContributionDetailSection.ShowSection
{
	visibility: visible;
}

.SectionHeader
{
	flow-children: right;
	width: 100%;
	height: 24px;
}

.SectionLegend
{
	width: 20px;
	margin: 8px;
	margin-left: 6px;
	height: 6px;
	background-color: gray;
	background-image: url("s2r://panorama/images/hud/hazard_pattern_png.vtex");
	background-size: 8px 8px;
	background-img-opacity: 0.1;
}

#AbilityContributionTypeSection1 .SectionLegend
{
	background-color: #d8e6ee;
}

#AbilityContributionTypeSection2 .SectionLegend
{
	background-color: #4a8b74;
}

#AbilityContributionTypeSection3 .SectionLegend
{
	background-color: #3478d2;
}

#AbilityContributionTypeSection4 .SectionLegend
{
	background-color: #9845e7;
}

#AbilityContributionTypeSection5 .SectionLegend
{
	background-color: #fdc14b;
}

#AbilityContributionTypeSection6 .SectionLegend
{
	background-color: #ae2f28;
}

#AbilityContributionTypeSection7 .SectionLegend
{
	background-color: #5b93d1;
}

#AbilityContributionTypeSection8 .SectionLegend
{
	background-color: #d8ae53;
}

#AbilityContributionTypeSection9 .SectionLegend
{
	background-color: #c20ce6;
}

.SectionTitle
{
	color: LightestGrey;
	font-weight: semi-bold;
	vertical-align: middle;
	font-size: 14px;
	margin-top: -4px;
}

.SectionTotal
{
	horizontal-align: right;
	font-size: 16px;
	font-weight: semi-bold;
	vertical-align: center;
	color: whitesmoke;
	text-align: right;
	font-family: monospaceNumbersFont;
}

#SectionContents
{
	flow-children: down;
	width: 100%;
}

.SectionFooter
{
	flow-children: right;
	width: 100%;
	height: 24px;
	visibility: collapse;
}

.ShowAltFooter .SectionFooter
{
	visibility: visible;
}

.AltPressed .SectionFooter
{
	visibility: collapse;
}

.SectionFooter Label
{
	horizontal-align: right;
	text-align: right;
	color: LighterGrey;
	font-size: 10px;
}

.ContributionDetailRow
{
	flow-children: right;
	padding: 4px 0px;
	width: 100%;
	height: 28px;
	border-top: 1px solid rgba(255, 255, 255, 0.01);
	visibility: collapse;
}

.ContributionDetailRow.ShowRow
{
	visibility: visible;
}

.AltPressed .ContributionDetailRow
{
	visibility: visible;
}

#ContributingAbility
{
	width: 30px;
}

.IsBaseHeroContribution #ContributingAbility,.IsTalentContribution #ContributingAbility
{
	visibility: collapse;
}

#ContributingTalent
{
	height: 20px;
	width: 20px;
	margin: 0px 5px;
	visibility: collapse;
}

.IsTalentContribution #ContributingTalent
{
	visibility: visible;
}

.GraphBarContainer
{
	width: fill-parent-flow( 1.0 );
	height: 8px;
	vertical-align: middle;
	padding: 0px 4px;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #2a2f3a ), to( #2a2f3a22 ) );
}

#MitigationBar.GraphBarSection
{
	background-image: url("s2r://panorama/images/hud/hazard_pattern_png.vtex");
	background-size: 8px 8px;
	background-img-opacity: 0.1;
}

#MitigationBar.GraphBarSection.GraphBarSectionType1
{
	background-color: #92979a;
}

#MitigationBar.GraphBarSection.GraphBarSectionType2
{
	background-color: #4a8b74;
}

#MitigationBar.GraphBarSection.GraphBarSectionType3
{
	background-color: #3478d2;
}

#MitigationBar.GraphBarSection.GraphBarSectionType4
{
	background-color: #9845e7;
}

#MitigationBar.GraphBarSection.GraphBarSectionType5
{
	background-color: #fdc14b;
}

#MitigationBar.GraphBarSection.GraphBarSectionType6
{
	background-color: #ae2f28;
}

#MitigationBar.GraphBarSection.GraphBarSectionType7
{
	background-color: #5b93d1;
}

#MitigationBar.GraphBarSection.GraphBarSectionType8
{
	background-color: #d8ae53;
}

#MitigationBar.GraphBarSection.GraphBarSectionType9
{
	background-color: #c20ce6;
}

#BaseHeroIcon
{
	width: 30px;
	visibility: collapse;
}

.IsBaseHeroContribution #BaseHeroIcon
{
	visibility: visible;
}

.ContributingAbilityLabel
{
	width: 140px;
	font-size: 14px;
	vertical-align: middle;
	margin-left: 4px;
}

.PercentLabel
{
	font-size: 14px;
	horizontal-align: right;
	text-align: right;
	width: 34px;
	color: LightGrey;
	vertical-align: middle;
	font-family: monospaceNumbersFont;
	margin-bottom: -2px;
}

.ValueLabel
{
	font-size: 14px;
	horizontal-align: right;
	text-align: right;
	width: 50px;
	vertical-align: middle;
	font-family: monospaceNumbersFont;
	margin-bottom: -2px;
}

.AltDetailsIndicatorContainer
{
	padding: 3px 8px;
	width: 100%;
	border-top: 1px solid rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0.5);
	flow-children: left;
	visibility: collapse;
}

.ShowAltFooter .AltDetailsIndicatorContainer
{
	visibility: visible;
}

.AltDetailsIndicatorContainer .AltKeyIcon
{
	vertical-align: center;
	width: 28px;
	margin-left: 6px;
}

.AltDetailsIndicatorContainer Label
{
	font-size: 14px;
	color: LightGrey;
	vertical-align: center;
	margin-bottom: 2px;
}

.AltPressed .AltDetailsIndicatorContainer
{
	visibility: collapse;
}

