/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.TooltipProfileCard
{
	flow-children: down;
}

.ShowMiniShowcase #ProfileCard
{
	visibility: collapse;
}

#MiniShowcase
{
	visibility: collapse;
}

.ShowMiniShowcase #MiniShowcase
{
	visibility: visible;
}

