/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	width: 360px;
	padding: 0px;
	border: 2px solid black;
	flow-children: down;
	background-color: #181f24;
}

Label
{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	text-shadow: 0px 1.5px 6px rgba(0, 0, 0, 1);
	color: LighterGrey;
}

.NeutralName
{
	color: whitesmoke;
	font-weight: semi-bold;
	letter-spacing: 0.5px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
	margin: 8px 12px;
}

.NeutralSubtitle
{
	margin-top: -2px;
}

.TooltipHeader
{
	width: 100%;
	flow-children: right;
}

.TooltipHeader .HeaderBackgroundTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/hud/facets/ripple_texture_png.vtex");
	background-size: cover;
	background-position: center;
	-s2-mix-blend-mode: screen;
	opacity: 0.05;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.TooltipHeader .TooltipHeaderBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-color: rgba(191, 231, 255, 0.02);
}

.ItemImageHolder
{
	margin: 10px 12px;
}

.ItemImageHolder DOTAItemImage
{
	width: 66px;
	height: 48px;
	border: 1px solid black;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}

.NeutralHeaderText
{
	color: #e1e1e1;
	vertical-align: center;
	flow-children: down;
}

.HeaderDash
{
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.01);
}

.TooltipBody
{
	width: 100%;
	flow-children: down;
}

.NeutralItemTier1 .NeutralItemTier
{
	color: NeutralTier1;
	font-weight: semi-bold;
}

.NeutralItemTier2 .NeutralItemTier
{
	color: NeutralTier2;
	font-weight: semi-bold;
}

.NeutralItemTier3 .NeutralItemTier
{
	color: NeutralTier3;
	font-weight: semi-bold;
}

.NeutralItemTier4 .NeutralItemTier
{
	color: NeutralTier4;
	font-weight: semi-bold;
}

.NeutralItemTier5 .NeutralItemTier
{
	color: NeutralTier5;
	font-weight: semi-bold;
}

.NeutralItemTier1 .TooltipHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier1&33 ), to( NeutralTier1&05 ) );
}

.NeutralItemTier2 .TooltipHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier2&33 ), to( NeutralTier2&05 ) );
}

.NeutralItemTier3 .TooltipHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier3&33 ), to( NeutralTier3&05 ) );
}

.NeutralItemTier4 .TooltipHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier4&33 ), to( NeutralTier4&05 ) );
}

.NeutralItemTier5 .TooltipHeader
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier5&33 ), to( NeutralTier5&05 ) );
}

.NeutralItemTier1 .HeaderBackgroundTexture
{
	wash-color: NeutralTier1;
}

.NeutralItemTier2 .HeaderBackgroundTexture
{
	wash-color: NeutralTier2;
}

.NeutralItemTier3 .HeaderBackgroundTexture
{
	wash-color: NeutralTier3;
}

.NeutralItemTier4 .HeaderBackgroundTexture
{
	wash-color: NeutralTier4;
}

.NeutralItemTier5 .HeaderBackgroundTexture
{
	wash-color: NeutralTier5;
}

.TierTimingInfo
{
	flow-children: right;
	overflow: squish;
	text-overflow: shrink;
}

.TierTimingInfo .TierTimingSeperator
{
	width: fill-parent-flow( 1 );
	background-color: rgba(255, 255, 255, 0.1);
	height: 1px;
	vertical-align: center;
	visibility: collapse;
}

.TierTimingInfo .TierTextContainer
{
	flow-children: down;
	margin: 0px 4px;
}

.TierTimingInfo .TierTimingHeader
{
	font-size: 13px;
	font-weight: semi-bold;
	text-transform: uppercase;
	horizontal-align: center;
	letter-spacing: 1px;
	text-overflow: shrink;
	color: LightGrey;
}

.TierTimingInfo .TierTimingFooter
{
	font-size: 13px;
	horizontal-align: center;
	letter-spacing: 0.5px;
	color: LightGrey;
}

.TierTimingInfo .TierGlow
{
	width: 200%;
	height: 320%;
	vertical-align: middle;
	horizontal-align: center;
	ignore-parent-flow: true;
	overflow: noclip;
	border-radius: 50%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( white ), color-stop( 0.4, rgba(255, 255, 255, 0.35) ), to( rgba(255, 255, 255, 0) ) );
	visibility: collapse;
	-s2-mix-blend-mode: screen;
	opacity: 0.2;
	blur: gaussian( 4px );
}

.TierTimingInfo.TierActive .TierTimingHeader
{
	brightness: 1.4;
	saturation: 1;
}

.TierTimingInfo.TierActive .TierTimingFooter
{
	color: white;
}

.TierTimingInfo.TierActive .TierGlow
{
	visibility: visible;
}

.TierTimingInfo.DisplaySeperator
{
	width: fill-parent-flow( 1 );
}

.TierTimingInfo.DisplaySeperator .TierTimingSeperator
{
	visibility: visible;
}

.TierTimingInfo.NeutralItemTier1.TierActive .TierTimingHeader
{
	color: NeutralTier1;
}

.TierTimingInfo.NeutralItemTier1.TierActive .TierGlow
{
	wash-color: NeutralTier1;
}

.TierTimingInfo.NeutralItemTier2.TierActive .TierTimingHeader
{
	color: NeutralTier2;
}

.TierTimingInfo.NeutralItemTier2.TierActive .TierGlow
{
	wash-color: NeutralTier2;
}

.TierTimingInfo.NeutralItemTier3.TierActive .TierTimingHeader
{
	color: NeutralTier3;
}

.TierTimingInfo.NeutralItemTier3.TierActive .TierGlow
{
	wash-color: NeutralTier3;
}

.TierTimingInfo.NeutralItemTier4.TierActive .TierTimingHeader
{
	color: NeutralTier4;
}

.TierTimingInfo.NeutralItemTier4.TierActive .TierGlow
{
	wash-color: NeutralTier4;
}

.TierTimingInfo.NeutralItemTier5.TierActive .TierTimingHeader
{
	color: NeutralTier5;
}

.TierTimingInfo.NeutralItemTier5.TierActive .TierGlow
{
	wash-color: NeutralTier5;
}

.TierInfoContainer
{
	flow-children: down;
	width: 100%;
	padding: 6px;
}

.TierInfoContainer #TierList
{
	width: 100%;
	flow-children: right;
	overflow: squish;
	padding: 10px 8px;
}

.TierInfoContainer .NeutralCraftExplanationContainer
{
	flow-children: right;
	padding: 0px 8px;
}

.TierInfoContainer .NeutralCraftExplanationContainer .NeutralExplainerText
{
	font-size: 16px;
	width: fill-parent-flow(1.0);
	vertical-align: center;
}

.TierInfoContainer .NeutralCraftExplanationContainer .NeutralResourceImageContainer
{
	margin: -4px 0px;
}

.TierInfoContainer .NeutralCraftExplanationContainer .NeutralResourceImageContainer .NeutralResourceImageBackground
{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	blur: gaussian( 4px );
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #40ff70 ), color-stop( 0.4, #40fff244 ), to( #40ff9900 ) );
	opacity: 0.2;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
}

.TierInfoContainer .NeutralCraftExplanationContainer .NeutralResourceImageContainer .NeutralResourceImage
{
	height: 68px;
	width: 68px;
}

.TierInfoContainer .MadstoneCountdown
{
	padding: 6px 8px;
	background-color: rgba(218, 240, 255, 0.041);
	width: 100%;
	margin: 0px 8px;
	margin-top: 8px;
	visibility: collapse;
}

.TeamNeutralsContainer
{
	flow-children: down;
	width: 100%;
	padding: 12px 12px 8px;
	background-color: #12181c;
	visibility: collapse;
}

.AltPressed:not(.NoTeamInfo) .TeamNeutralsContainer
{
	visibility: visible;
}

.TeamNeutralsContainer .TeamNeutralsHeader
{
	font-size: 13px;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: LightGrey;
	width: 100%;
	text-align: center;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(230, 242, 255, 0.04);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.4, white ), color-stop( 0.6, white ), to( rgba(255, 255, 255, 0) ) );
}

.TeamNeutralsContainer #TeamList
{
	flow-children: right;
	width: fit-children;
	horizontal-align: center;
	margin: 4px;
}

.TeamNeutralInfo
{
	width: fit-children;
	height: fit-children;
	margin: 0px 8px;
	flow-children: down;
}

.TeamNeutralInfo .UpperSection
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer
{
	width: 46px;
	height: width-percentage(100%);
	border-radius: 50%;
	vertical-align: bottom;
	horizontal-align: center;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer .CraftingProgressBackground
{
	width: 46px;
	height: width-percentage(100%);
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
	border: 2px solid rgba(255, 255, 255, 0.06);
	visibility: collapse;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer #CraftingProgressForeground
{
	width: 46px;
	height: width-percentage(100%);
	border-radius: 50%;
	vertical-align: center;
	horizontal-align: center;
	border: 2px solid;
	visibility: collapse;
}

.MadstoneEarnable .TeamNeutralInfo .UpperSection .CraftingProgressContainer #CraftingProgressForeground
{
	visibility: visible;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer .LevelUpNeutralButtonIcon
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 10%, 0% 0%, 90% 90%, from( #8A7946 ), color-stop( 0.6, #B8A35A), color-stop( 0.9, #D8C382), to( #fff4d3 ) );
	border: 1px solid rgb(255, 250, 225);
	border-brush: gradient( linear, 0% 0%, 0% 50%, from( #ffffffcf ), to( #1d191399 ) );
	border-radius: 50%;
	box-shadow: 0px 2px 24px -1px rgba(0, 0, 0, 0.8);
	padding: 12px;
	margin: 2px;
	transition-property: brightness;
	transition-duration: 0.1s;
	visibility: collapse;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer .PlayerNeutralItemBackground
{
	background-color: rgba(0, 0, 0, 0.7);
	border: 1px solid black;
	height: 34px;
	width: 34px;
	horizontal-align: center;
	border-radius: 50%;
	horizontal-align: center;
	vertical-align: center;
}

.TeamNeutralInfo .UpperSection .CraftingProgressContainer #PlayerNeutralItem
{
	box-shadow: 0px 2px 12px black;
	height: 34px;
	width: 34px;
	horizontal-align: center;
	border-radius: 50%;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.TeamNeutralInfo .UpperSection .CraftedCompleteIcon
{
	width: 16px;
	height: width-percentage( 100% );
	horizontal-align: center;
	opacity: 1;
	wash-color: Grey;
	img-shadow: 0px 1px 6px black;
	padding: 2px;
	margin-bottom: -8px;
	margin-top: -2px;
}

.TeamNeutralInfo .UpperSection Label
{
	horizontal-align: center;
	font-size: 14px;
	margin-top: 3px;
	text-align: center;
	text-shadow: 0px 2px 8px black;
	color: LightGrey;
}

.TeamNeutralInfo .UpperSection .MadstoneLabel
{
	letter-spacing: 1.3px;
}

.TeamNeutralInfo .UpperSection .MadstoneLabel b
{
	font-weight: semi-bold;
}

.TeamNeutralInfo .UpperSection .TierLabel
{
	font-weight: semi-bold;
	letter-spacing: 0px;
}

.TeamNeutralInfo.MadstoneEarnable .UpperSection #CraftingProgressForeground
{
	visibility:visible;
}

.TeamNeutralInfo.MadstoneEarnable .UpperSection .CraftingProgressBackground
{
	visibility:visible;
}

.TeamNeutralInfo.Craftable .UpperSection .LevelUpNeutralButtonIcon
{
	visibility:visible;
}

.TeamNeutralInfo.HasCraftedNeutral:not(.Craftable) .UpperSection #PlayerNeutralItem
{
	visibility: visible;
}

.TeamNeutralInfo:not(.MadstoneEarnable) .UpperSection .MadstoneLabel
{
	visibility: collapse;
}

.TeamNeutralInfo.MadstoneEarnable .UpperSection .TierLabel
{
	visibility: collapse;
}

.TeamNeutralInfo.MadstoneEarnable .UpperSection .CraftedCompleteIcon
{
	opacity: 0;
}

.TeamNeutralInfo.NeutralItemTier1 #CraftingProgressForeground
{
	border-color: NeutralTier1;
}

.TeamNeutralInfo.NeutralItemTier1 Label
{
	color: NeutralTier1;
}

.TeamNeutralInfo.NeutralItemTier2 #CraftingProgressForeground
{
	border-color: NeutralTier2;
}

.TeamNeutralInfo.NeutralItemTier2 Label
{
	color: NeutralTier2;
}

.TeamNeutralInfo.NeutralItemTier3 #CraftingProgressForeground
{
	border-color: NeutralTier3;
}

.TeamNeutralInfo.NeutralItemTier3 Label
{
	color: NeutralTier3;
}

.TeamNeutralInfo.NeutralItemTier4 #CraftingProgressForeground
{
	border-color: NeutralTier4;
}

.TeamNeutralInfo.NeutralItemTier4 Label
{
	color: NeutralTier4;
}

.TeamNeutralInfo.NeutralItemTier5 #CraftingProgressForeground
{
	border-color: NeutralTier5;
}

.TeamNeutralInfo.NeutralItemTier5 Label
{
	color: NeutralTier5;
}

.TeamNeutralInfo #HeroImage
{
	width: 28px;
	height: 28px;
	horizontal-align: center;
	margin: 6px;
	img-shadow: 0px 2px 12px black;
}

.HorizontalRule
{
	height: 1px;
	width: 100%;
	background-color: black;
}

.NoTeamInfo .HorizontalRule
{
	visibility: collapse;
}

.AltDetailsHelp
{
	horizontal-align: right;
	margin: 4px;
	width: 100%;
	text-align: right;
	padding-top: 6px;
	border-top: 1px solid rgba(255, 255, 255, 0.02);
	border-brush: gradient( linear, 0% 0%, 50% 0%, from( #ffffff00 ), to( #ffffff ) );
	flow-children: left;
	margin-top: 0px;
}

.AltDetailsHelp .AltKeyIcon
{
	vertical-align: center;
	width: 28px;
	margin-left: 4px;
}

.AltDetailsHelp Label
{
	font-size: 14px;
	color: Grey;
	vertical-align: center;
	margin-bottom: 2px;
}

.AltPressed .AltDetailsHelp
{
	visibility: collapse;
}

.NoTeamInfo .AltDetailsHelp
{
	visibility: collapse;
}

