/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.Frostivus2023EventTooltip
{
	flow-children: down;
	width: 450px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #142F51 ), to( #041020 ) );
}

.Header
{
	font-size: 24px;
	margin-bottom: 16px;
	font-family: titleFont;
	color: white;
}

.Text
{
	font-size: 16px;
	color: LighterGrey;
}

.Description
{
	width: 410px;
	margin-bottom: 16px;
}

.ListHeader
{
	font-size: 16px;
	margin-bottom: 4px;
	text-transform: uppercase;
	font-weight: bold;
}

.ul
{
	flow-children: right-wrap;
	width: 100%;
}

.ul .li
{
	flow-children: down;
	width: 135px;
	background-color: rgba(47, 106, 131, 0.1);
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 8px 4px;
}

.ul .li .bulletText
{
	width: 100%;
	flow-children: right;
	margin-bottom: 6px;
}

.ul .li .bulletText .bulletNumber
{
	text-align: center;
	font-size: 14px;
	horizontal-align: right;
	color: LighterGrey;
	height: 16px;
	margin-left: 6px;
}

.ul .li .bulletText .bulletRewardType
{
	horizontal-align: left;
	font-size: 14px;
	width: 100px;
	height: 18px;
	color: LighterGrey;
	margin-left: 3px;
	text-overflow: shrink;
}

.ul .li.Claimed
{
	background-color: winnerGreenLow&11;
	z-index: 1;
}

.ul .li.Claimed .bulletNumber
{
	color: winnerGreen;
}

.ul .li.Claimed .bulletRewardType
{
	color: winnerGreen;
}

.ul .li .bulletClaimedStatus
{
	width: 24px;
	height: 24px;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-right: -4px;
	margin-top: -8px;
}

.ul .li.Claimed .bulletClaimedStatus
{
	wash-color: winnerGreen;
	opacity: 0.6;
	background-image: url("s2r://panorama/images/control_icons/24px/check_corner_topright.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.ul .li .bulletPreview
{
	width: 100%;
}

.ul .li .bulletPreview .RewardCell
{
	width: 100%;
	max-height: 64px;
}

.ul .li .bulletPreview .RewardCell .EmoticonReward
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
}

.ul .li .bulletPreview .RewardCell .EmoticonReward #Emoticon
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 64px;
	height: 64px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
}

.ul .li .bulletPreview .RewardCell .ChatWheelReward
{
	flow-children: down;
	width: 100%;
	margin: 0px 0px;
	horizontal-align: center;
	margin: 0px 0px;
}

.ul .li .bulletPreview .RewardCell .ChatWheelRewardHeader
{
	flow-children: right;
}

.ul .li .bulletPreview .RewardCell .ChatWheelIcon
{
	width: 18px;
	height: 18px;
	margin-right: 4px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.ul .li .bulletPreview .RewardCell .ChatWheelRewardTitle
{
	text-transform: uppercase;
	horizontal-align: center;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}

.ul .li .bulletPreview .RewardCell .ChatWheelRewardTitle
{
	visibility: collapse;
}

.ul .li .bulletPreview .RewardCell .ChatWheelRewardContents
{
	flow-children: right;
	horizontal-align: center;
	text-overflow: clip;
	padding: 0px 0px;
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessage
{
	flow-children: right;
}

.ul .li .bulletPreview .RewardCell .SprayContainer
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	vertical-align: middle;
	visibility: collapse;
	overflow: noclip;
}

.ul .li .bulletPreview .RewardCell .SprayScale
{
	width: 64px;
	height: 64px;
	ui-scale: 200%;
	horizontal-align: center;
	vertical-align: center;
}

.ul .li .bulletPreview .RewardCell .SprayWheelImage
{
	transform: scale3d( 0.5, 0.5, 1 );
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessageIsSpray .SprayContainer
{
	visibility: visible;
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessageIcon
{
	width: 18px;
	height: 18px;
	margin-left: -12px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: collapse;
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessageIsSpray .ChatWheelMessageIcon
{
	margin-top: 20px;
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessageAll
{
	visibility: collapse;
}

.ul .li .bulletPreview .RewardCell .ChatWheelMessage.ChatWheelMessageSendToAll .ChatWheelMessageAll
{
	visibility: visible;
}

.ul .li .bulletPreview .RewardCell .ImageReward
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	vertical-align: middle;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ul .li .bulletPreview .RewardCell .EconItemReward
{
	horizontal-align: center;
}

