/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	width: 450px;
}

.StickerCapsuleContents
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.TeamContents,.LogoContents
{
	margin-bottom: 10px;
	visibility: collapse;
}

.TooltipStickerType_Player .TeamContents
{
	visibility: visible;
}

.TooltipStickerType_Team .LogoContents
{
	visibility: visible;
}

.OddsLabel
{
	margin-bottom: 10px;
}

.OddsList
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-left: 24px;
}

.OddsList .OddItem
{
	flow-children: right;
}

.OddsList .OddItem .OddsName
{
	width: 150px;
	horizontal-align: left;
}


