/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 12px;
}

#Contents.TormentorTimerContents
{
	width: 280px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#TormentorMainContents
{
	width: 100%;
	flow-children: right;
}

.TormentorStatusLabel
{
	font-size: 16px;
	color: #CCCCCC;
	width: 200px;
	vertical-align: center;
	text-overflow: shrink;
	margin-left: 12px;
}

.TormentorIcon
{
	width: 72px;
	height: width-percentage( 66.67% );
	background-size: cover;
	background-position: center;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.6);
	background-image: url("s2r://panorama/images/heroes/npc_dota_tormentor_radiant_png.vtex");
}

.TormentorTop .TormentorIcon
{
	background-image: url("s2r://panorama/images/heroes/npc_dota_tormentor_dire_png.vtex");
}

.TormentorBottom .TormentorIcon
{
	background-image: url("s2r://panorama/images/heroes/npc_dota_tormentor_radiant_png.vtex");
}

