/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAGroupMemberRegionPing
{
	flow-children: right;
}

#Ping
{
	width: 240px;
}

#FriendName
{
	margin-left: 4px;
	width: 200px;
}

#FriendAvatarImage
{
	width: 20px;
	height: 20px;
}


