/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 130%, from( charcoalLight ), to( charcoalDark ) );
}

.Title
{
	horizontal-align: center;
	text-shadow: 0px 2px 8px black;
}

.Heading
{
	margin-bottom: 4px;
	horizontal-align: center;
	color: LighterGrey;
	text-shadow: 0px 2px 8px black;
}

.Heading .TokenName
{
	color: white;
}

#RewardList
{
	flow-children: down;
	width: fit-children;
}

.RewardRow
{
	flow-children: down;
	width: 400px;
}

.RewardRow .SectionHeader
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 2px;
	overflow: noclip;
	width: 80%;
}

.RewardRow .SectionHeader .Divider
{
	height: 1px;
	width: fill-parent-flow(1);
	vertical-align: center;
	margin: 0px 8px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( LightGrey ), to( LightGrey&00 ) );
	opacity: 0.3;
}

.RewardRow .SectionHeader .Divider.Flip
{
	transform: scaleX( -1 );
}

.RewardRow .SectionHeader #TokenList
{
	flow-children: right;
	ui-scale: 80%;
}

.RewardRow .SectionHeader #TokenList DOTACrownfallToken
{
	margin: -14px;
}

.RewardRow .SectionHeader #TokenList #TokenImage1
{
	z-index: -1;
}

.RewardRow .Separator
{
	vertical-align: top;
	margin-top: 8px;
	margin-left: 4px;
	font-weight: bold;
}

.RewardRow #HeroList
{
	flow-children: right-wrap;
	horizontal-align: center;
}

#HeroImage
{
	margin: 4px;
	width: 32px;
	height: width-percentage( 100% );
}

