/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Season_Fall2025 #Contents
{
	background-color: #2d2a21;
}

.Season_Fall2025 #ActorText
{
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
}

.Season_Winter2025 #Contents
{
	background-color: #1d282e;
}

.Season_Winter2025 #ActorText
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #bfdcf7 ), to( #394f7e ) );
}

#Contents
{
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 10px;
	width: 260px;
	flow-children: down;
}

#Contents .Contents
{
	width: 100%;
	height: 100%;
}

#Contents #ActorText
{
	margin-left: 8px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	font-size: 13px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: 100%;
	vertical-align: top;
	border-bottom: 1px solid rgba(255, 230, 199, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 1) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0)) );
	padding-bottom: 6px;
}

#Contents #DialogueText
{
	width: 100%;
	height: 84px;
	margin: 8px;
	margin-bottom: 4px;
	vertical-align: top;
	color: whitesmoke;
}

