/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.TooltipHeroPatchNotesContainer
{
	flow-children: down;
}

.PatchNotesTitle
{
	horizontal-align: center;
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid white;
	margin-bottom: 8px;
}

