/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.BuffContents
{
	width: 350px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#BuffHeader
{
	flow-children: right;
	border-bottom-color: #626262;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	margin-bottom: 5px;
	padding-bottom: 8px;
	min-height: 36px;
}

.BuffNameContainer
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
}

#BuffName
{
	font-size: 17px;
	color: white;
	vertical-align: middle;
}

#UndispellablePanel
{
	visibility: collapse;
	horizontal-align: left;
	vertical-align: middle;
}

.is_undispellable #UndispellablePanel
{
	visibility: visible;
}

#UndispellableText
{
	font-size: 12px;
	font-weight: bold;
}

.BuffDetails
{
	flow-children: down;
	width: 90px;
	height: 100%;
	horizontal-align: right;
	margin-left: 8px;
	vertical-align: middle;
}

#BuffLevel
{
	font-size: 12px;
	horizontal-align: right;
	margin-left: 8px;
	vertical-align: middle;
}

#BuffDuration
{
	font-size: 12px;
	horizontal-align: right;
	margin-left: 8px;
	vertical-align: middle;
}

#BuffDuration.Hidden
{
	visibility: collapse;
}

#BuffDescription
{
	color: #c8c8c8;
	font-size: 16px;
}

