/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	width: 260px;
	padding: 4px;
	background-color: gradient( linear, 0% 0%, 0% 130%, from( purpleLight ), to( purpleDark ) );
	background-color: greyDark;
}

#Heading
{
	margin-bottom: 8px;
	horizontal-align: center;
	text-align: center;
	font-size: 17px;
	line-height: 1.2;
}

#Heading .HeroName,#Heading .TokenName
{
	color: white;
}

#RewardList
{
	horizontal-align: center;
	flow-children: right;
	width: fit-children;
}

.InnerContents
{
	width: 100%;
	flow-children: down;
	padding: 12px;
	background-image: url("s2r://panorama/images/events/dark_carnival/textures/tooltip_background_png.vtex");
	background-size: cover;
	border: 1px solid goldLight&11;
	background-img-opacity: 0.8;
}

