/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.DOTATooltipHeroXPRange
{
	flow-children: down;
}

#Contents
{
	padding: 8px;
}

.InfoRow
{
	flow-children: right;
}

.InfoData
{
	color: white;
	margin-left: 3px;
}

