/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.DOTAInternational2026Background
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 60% 60%, from( black ), color-stop( 0.5, black ), to( ti26_yellow&03 ) );
}

.BokehContainer
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	transition-property: opacity, blur;
	transition-duration: 0.2s;
	opacity: 0.2;
}

.OnHomePage .BokehContainer
{
	opacity: 1;
}

.BokehContainer .Bokeh
{
	width: 1080px;
	height: 1080px;
	ignore-parent-flow: true;
	y: -50%;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	transition-property: opacity;
	transition-duration: 0.2s;
}

.BokehContainer .Bokeh.Left
{
	x: -10%;
}

.BokehContainer .Bokeh.Right
{
	x: 10%;
	horizontal-align: right;
}

.BokehContainer .BokehBlur
{
	width: 1080px;
	height: 1080px;
	ignore-parent-flow: true;
	y: -50%;
	blur: gaussian(4px);
	opacity: 0.1;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
}

.BokehContainer .BokehBlur.Left
{
	x: -10%;
}

.BokehContainer .BokehBlur.Right
{
	x: 10%;
	horizontal-align: right;
}

.BackgroundContainer
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 100%, 0% 0%, 60% 50%, from( ti26_yellow&06 ), color-stop( 0.5, ti26_yellow&02 ), to( ti26_brown&00 ) );
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );
}

.BackgroundContainer .AegisEmblemContainer
{
	width: 1080px;
	height: 1080px;
	horizontal-align: center;
	vertical-align: bottom;
	transform: rotateX( 70deg ) scale3d( 3, 3, 1 );
	y: 64%;
	opacity: 0.1;
	blur: gaussian(4px);
	opacity-brush: gradient( linear, 0% 0%, 0% 50%, from( #ffffff00 ), color-stop( 0.5, #ffffff0a ), to( #ffffff ) );
}

.BackgroundContainer .AegisEmblemContainer .AegisEmblem
{
	width: 100%;
	height: 100%;
	animation-name: SpinAegis;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.GoldRibbon
{
	width: 100%;
	max-width: 1920px;
	horizontal-align: center;
	vertical-align: bottom;
	y: 200px;
	-s2-mix-blend-mode: screen;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.OnHomePage .GoldRibbon,.International2026CompendiumPage .GoldRibbon
{
	opacity: 1;
}

@keyframes 'SpinAegis'
{
	0%
	{
		transform: rotateZ( -25deg );
	}
	
	100%
	{
		transform: rotateZ( 25deg );
	}
	
}

.LogoGodRays
{
	width: 1200px;
	height: 100%;
	horizontal-align: center;
	y: -50%;
	hue-rotation: -200deg;
	opacity: 0.3;
}

.LogoContainer
{
	horizontal-align: center;
	margin-top: 72px;
}

.ShowVideoPlayer .LogoContainer
{
	visibility: collapse;
}

.TournamentFinished .LogoContainer
{
	ui-scale: 75%;
	margin-top: 48px;
}

.LogoContainer .TILogo2026
{
	width: 580px;
	img-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.LogoContainer .Bokeh
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/events/international_2026/logos/ti2026_logo_mask_png.vtex");
	hue-rotation: -200deg;
	brightness: 2;
}

.WinningHeroes
{
	horizontal-align: center;
	-s2-mix-blend-mode: screen;
	ignore-parent-flow: true;
	margin-top: -60px;
	opacity: 0.4;
}

.TournamentFinished .WinningHeroes
{
	visibility: collapse;
}

.Content
{
	width: 1920px;
	height: 100%;
	horizontal-align: center;
	padding-top: 60px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.15s;
	opacity: 0;
	transform: scale3d( 0.98, 0.98, 1 );
}

.OnHomePage .Content
{
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
	opacity: 1;
	transform: none;
}

.EventTitleContainer
{
	horizontal-align: center;
	flow-children: right;
	width: 960px;
	margin-top: 28px;
}

.ShowVideoPlayer .EventTitleContainer
{
	visibility: collapse;
}

.EventTitleContainer .EventStageDescription
{
	width: fill-parent-flow( 1 );
	flow-children: down;
}

.EventTitleContainer .EventStageDescription .EventStageTitle
{
	flow-children: right;
}

.EventTitleContainer .EventStageDescription .EventStageTitle .EventStateTitle
{
	margin: 0px 8px;
	text-transform: uppercase;
	text-align: center;
	font-weight: semi-bold;
	color: ti26_cream;
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash
{
	width: fill-parent-flow( 1 );
	height: 1px;
	margin-top: 10px;
	opacity: 0.1;
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash.Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ti26_beige&00 ), to( ti26_beige ) );
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ti26_beige ), to( ti26_beige&00 ) );
}

.EventTitleContainer .EventStageDescription Label
{
	color: ti26_peach;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	margin: -1px 0px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.EventTitleContainer .EventStageDescription .EventStateDate
{
	font-weight: semi-bold;
}

#VideoPlayer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 39px;
	width: 888px;
	background-color: gradient( linear, 0% 0%, 0% 200%, from( ti26_black ), to( ti26_chocolate ) );
	box-shadow: 0px 12px 64px -12px rgba(0, 0, 0, 0.6);
	border-radius: 8px;
	visibility: collapse;
}

.ShowVideoPlayer #VideoPlayer
{
	visibility: visible;
}

.TournamentFinished #VideoPlayer
{
	visibility: collapse;
}

#VideoPlayer .VideoPlayerBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid ti26_cream&06;
	z-index: 1;
	border-radius: 8px;
}

.EventLogoContainerSmall
{
	flow-children: down;
	vertical-align: center;
	width: fill-parent-flow(1);
	margin-top: -24px;
	visibility: collapse;
}

.ShowVideoPlayer .EventLogoContainerSmall
{
	visibility: visible;
}

.TournamentFinished .EventLogoContainerSmall
{
	visibility: collapse;
}

.EventLogoContainerSmall .TILogo2026
{
	width: 250px;
	horizontal-align: center;
	margin-top: 16px;
}

.EventLogoContainerSmall .AegisDash
{
	horizontal-align: center;
	width: 100%;
	margin: 8px 16px 16px;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	wash-color: ti26_brown;
}

.EventLogoContainerSmall .AegisLabelsSpacer
{
	height: 8px;
}

.EventLogoContainerSmall Label
{
	horizontal-align: center;
	text-align: center;
	color: ti26_peach;
	text-shadow: textShadowSmall;
}

.EventLogoContainerSmall .EventStateTitle
{
	margin: 0px 8px;
	color: #DEA8F4;
	text-transform: uppercase;
	text-align: center;
	font-weight: semi-bold;
	color: ti26_cream;
}

.EventLogoContainerSmall .EventStateDate
{
	font-weight: semi-bold;
}

.VideoPlayerContainer
{
	horizontal-align: right;
	width: height-percentage( 177.777% );
	height: 350px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(6, 2, 30) ), to( rgb(17, 9, 51) ) );
	margin: 8px;
	margin-left: 0px;
	border: 1px solid black;
}

.FootageContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	background-color: ti26_black;
	visibility: collapse;
}

.WantsLiveVideo .FootageContainer
{
	visibility: visible;
}

.LiveContainer
{
	horizontal-align: center;
	height: 100%;
	width: height-percentage( 177.777% );
	visibility: collapse;
}

.LiveVideo_Active .LiveContainer
{
	visibility: visible;
}

.LiveContainer #LiveStream
{
	height: 100%;
	width: 100%;
}

.LiveContainer .OverlayPanel
{
	flow-children: right;
	padding: 8px;
	horizontal-align: right;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
	visibility: collapse;
}

.LiveContainer .OverlayPanel .OverlayButton
{
	width: 32px;
	height: 32px;
	margin: 8px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	wash-color: #ccc;
	transition-property: wash-color;
	transition-duration: 0.2s;
}

.LiveContainer .OverlayPanel .OverlayButton:hover
{
	wash-color: white;
}

.LiveContainer .OverlayPanel .OverlayButton:active
{
	wash-color: #aaa;
}

.LiveContainer .OverlayPanel .OverlayButton.BrowserButton
{
	background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
}

.LiveContainer .OverlayPanel .OverlayButton.HideButton
{
	background-image: url("s2r://panorama/images/control_icons/x_close_filled_png.vtex");
}

.LiveContainer:hover .OverlayPanel
{
	opacity: 1.0;
	transform: none;
}

.NotLiveContainer
{
	horizontal-align: center;
	height: 100%;
	width: 100%;
	visibility: collapse;
}

.NotLiveContainer .NotLiveLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-family: titleFont;
	text-shadow: textShadowMedium;
	color: ti26_cream&66;
}

.LiveVideo_NotActive .NotLiveContainer
{
	visibility: visible;
}

.LiveBlockedContainer
{
	height: 100%;
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.LiveVideo_SpoilerBlocked .LiveBlockedContainer
{
	visibility: visible;
}

.LiveBlockedContainer .LiveBlockedCenter
{
	vertical-align: middle;
	width: 100%;
	flow-children: down;
}

.LiveBlockedContainer .LiveBlockedCenter .LiveBlockedDay
{
	horizontal-align: center;
	text-align: center;
	ui-scale: 200%;
}

.LiveBlockedContainer .LiveBlockedCenter .ButtonPrimary
{
	horizontal-align: center;
	margin-top: 8px;
}

.LiveFeedCountdownContainer
{
	vertical-align: center;
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.LiveFeedCountdownContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.LiveFeedCountdownContainer .CountdownText
{
	text-align: center;
	font-family: titleFont;
	font-size: 24px;
	margin-top: 8px;
	color: rgb(222, 213, 255);
	z-index: 2;
	text-shadow: textShadowMedium;
}

.ShowCountdown .LiveFeedCountdownContainer
{
	visibility: visible;
}

.CountdownActive .CountDownActiveText,.CountdownAfterEnd .CountDownCompleteText
{
	visibility: visible;
}

.CountdownAfterEnd .CountDownActiveText,.CountdownActive .CountDownCompleteText
{
	visibility: collapse;
}

.CellsContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 900px;
	flow-children: down;
	margin: 12px 12px 128px;
}

.AspectRatio21x9 .CellsContainer
{
	width: 1100px;
}

.ParticipateSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 3px;
	font-family: titleFont;
	font-size: 22px;
	color: ti26_cream;
	text-shadow: 0px 2px 12px 1 rgb(11, 5, 24);
}

.TournamentFinished .ParticipateSummaryLabel
{
	visibility: collapse;
}

.SupportSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 6px 0px 2px;
	font-size: 17px;
	font-family: titleFont;
	color: ti26_beige;
	text-shadow: 0px 2px 12px 2 rgb(11, 5, 24);
}

.RevenueDistributionSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 4px;
	font-size: 15px;
	color: ti26_beige;
	text-shadow: textShadowMedium;
}

.TournamentFinished .RevenueDistributionSummaryLabel
{
	visibility: collapse;
}

.TopCellsContainer
{
	width: 100%;
	flow-children: right;
	box-shadow: 0px 8px 48px -12px rgba(0, 0, 0, 0.6);
}

.TournamentFinished .TopCellsContainer
{
	visibility: collapse;
}

.TopCell
{
	width: fill-parent-flow( 1 );
	height: 230px;
	margin: 6px;
	border-radius: 8px;
	flow-children: down;
	transition-property: brightness, background-color, transform;
	transition-duration: 0.1s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell:hover
{
	transform: scale3d( 1.025, 1.025, 1 );
}

.TopCell:hover .BottomCellButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_yellow ), to( ti26_brown ) );
}

.TopCell:hover .BottomCellButton Label
{
	color: gradient( linear, 0% 30%, 0% 100%, from( white ), to( white ) );
}

.TopCell:active
{
	transform: scale3d( 1.025, 1.025, 1 ) translateY( 1px );
	brightness: 0.7;
	sound: "ui_topmenu_activate";
}

.TopCell .TopCellContents
{
	width: 100%;
	background-color: ti26_beige;
	height: fill-parent-flow(1);
}

.TopCell .TopCellImage
{
	transition-property: transform, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell .TopCellInfo
{
	flow-children: down;
	margin: 16px 12px 0px;
	width: 100%;
}

.TopCell .TopCellInfo Label
{
	horizontal-align: center;
}

.TopCell .TopCellInfo .TopCellTitle
{
	color: ti26_chocolate;
	text-shadow: textShadowWhite;
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 18px;
}

.TopCell .TopCellInfo .TopCellStage
{
	margin-top: -3px;
	color: ti26_brown;
	text-shadow: textShadowWhite;
	font-weight: semi-bold;
	letter-spacing: 0.5px;
}

.TopCell .TopCellBorder
{
	width: 100%;
	height: 100%;
	border-radius: 8px;
	border: 1px solid ti26_beige&11;
	ignore-parent-flow: true;
}

.TopCell .BottomCellButton
{
	width: 100%;
	vertical-align: bottom;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_orange ), to( ti26_brown ) );
	border-radius: 1px;
	transition-property: background-color;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell .BottomCellButton .FabricTexture
{
	opacity: 0.3;
}

.TopCell .BottomCellButton Label
{
	margin: 8px 12px 12px;
	horizontal-align: center;
	text-shadow: 0px 1px 8px black;
	color: ti26_goldGradient;
	transition-property: color, text-shadow;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell .BottomCellButton Label b
{
	font-weight: semi-bold;
}

#PredictionsCell .PredictionsCellImage
{
	width: 210px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
}

#RewardsCell .RewardsCellImageContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	y: 12px;
	margin: 4px;
	border-radius: 4px;
}

.AspectRatio21x9 #RewardsCell .RewardsCellImageContainer
{
	padding: 0px 40px;
}

#RewardsCell .RewardsCellImageContainer .RewardImagesFX
{
	horizontal-align: center;
	vertical-align: center;
	width: height-percentage(100%);
	height: 150%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	z-index: -5;
}

#RewardsCell .RewardsCellImageContainer #RewardImage1
{
	width: fill-parent-flow(1);
	margin-right: -15%;
	margin-left: -15%;
	margin-bottom: -10%;
	z-index: -2;
	animation-name: BobRewardImage;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage2
{
	width: fill-parent-flow(1);
	margin-right: -18%;
	margin-left: -2%;
	margin-bottom: -10%;
	z-index: -1;
	animation-name: BobRewardImage;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage3
{
	z-index: 1;
	width: fill-parent-flow(1.3);
	animation-name: BobRewardImage;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage4
{
	width: fill-parent-flow(1);
	margin-left: -17%;
	margin-right: -3%;
	margin-bottom: -10%;
	z-index: -1;
	animation-name: BobRewardImage;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage5
{
	width: fill-parent-flow(1);
	margin-left: -15%;
	margin-right: -15%;
	z-index: -2;
	vertical-align: center;
	animation-name: BobRewardImage;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#FantasyCell .FantasyCellPlayersContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin: 4px;
	border-radius: 4px;
	width: 100%;
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImage
{
	vertical-align: bottom;
	width: 128px;
	height: width-percentage( 100% );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupLeft
{
	horizontal-align: left;
	vertical-align: bottom;
	overflow: noclip;
	z-index: -1;
}

.AspectRatio21x9 #FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupLeft
{
	transform: translateX( 5% );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupLeft .FantasyPlayerImage
{
	width: 110px;
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupLeft #FantasyPlayerLeft2
{
	transform: translateX( -20% );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupLeft #FantasyPlayerLeft1
{
	transform: translateX( 20% );
}

#FantasyCell .FantasyCellPlayersContainer #FantasyPlayerMiddle
{
	horizontal-align: center;
	z-index: 1;
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupRight
{
	horizontal-align: right;
	vertical-align: bottom;
	overflow: noclip;
	z-index: -1;
}

.AspectRatio21x9 #FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupRight
{
	transform: translateX( -5% );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupRight .FantasyPlayerImage
{
	width: 110px;
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupRight #FantasyPlayerRight1
{
	transform: translateX( -20% );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImageGroupRight #FantasyPlayerRight2
{
	transform: translateX( 20% );
}

@keyframes 'BobRewardImage'
{
	0%
	{
		transform: translateY( -2px );
	}
	
	100%
	{
		transform: translateY( 2px );
	}
	
}

.BottomCellsContainer
{
	horizontal-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0px 36px;
	flow-children: right;
	box-shadow: 0px 8px 48px -12px rgba(0, 0, 0, 0.6);
}

.TournamentFinished .BottomCellsContainer
{
	visibility: collapse;
}

.BottomCell
{
	width: fill-parent-flow( 1 );
	height: 120px;
	margin: 6px;
	border-radius: 8px;
	transition-property: brightness, background-color, transform;
	transition-duration: 0.1s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.BottomCell:hover
{
	transform: scale3d( 1.025, 1.025, 1 );
}

.BottomCell:active
{
	transform: scale3d( 1.025, 1.025, 1 ) translateY( 1px );
	brightness: 0.7;
	sound: "ui_topmenu_activate";
}

.BottomCell .BottomCellImage
{
	transition-property: transform, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: scale3d( 0.99, 0.99, 1 );
	height: 120px;
	horizontal-align: right;
	margin-right: -8%;
}

.BottomCell .BottomCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid ti26_cream&06;
	border-radius: 8px;
}

.BottomCell .BottomCellInfo
{
	width: 100%;
	flow-children: down;
	vertical-align: center;
	margin-left: 24px;
}

.BottomCell .BottomCellInfo Label
{
	text-shadow: 0px 1px 8px black;
	color: ti26_goldGradient;
}

.BottomCell .BottomCellInfo Label b
{
	font-weight: semi-bold;
}

.BottomCell .BottomCellInfo .BottomCellTitle
{
	color: ti26_cream;
	font-family: titleFont;
	font-weight: semi-bold;
	font-size: 16px;
}

#TalentCell
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( ti26_chocolate ), to( ti26_brown ) );
}

#TalentCell:hover
{
	background-color: gradient( linear, -50% 0%, 500% 100%, from( ti26_chocolate ), to( ti26_orange ) );
}

#TeamsCell
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( ti26_brown ), to( ti26_chocolate ) );
}

#TeamsCell:hover
{
	background-color: gradient( linear, -500% 0%, 150% 100%, from( ti26_orange ), to( ti26_chocolate ) );
}

.PredictionStage
{
	visibility: collapse;
}

.HasValidPredictionState .PredictionStage
{
	visibility: visible;
}

#EventChampionsContainer
{
	horizontal-align: center;
	width: 800px;
	flow-children: down;
	margin-top: 316px;
	visibility: collapse;
}

.TournamentFinished #EventChampionsContainer
{
	visibility: visible;
}

#EventChampionsContainer .EventLogoContainer
{
	horizontal-align: center;
	ui-scale: 80%;
	margin: -12px 0px 8px;
	transition-property: transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#EventChampionsContainer .EventLogoContainer:hover
{
	transform: scale3d(1.03, 1.03, 1);
	brightness: 1.5;
}

#EventChampionsContainer .ChampionsTitle
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 40px;
	color: white;
	text-shadow: 0px 0px 48px ti26_orange&22;
	width: 100%;
	height: 58px;
	text-overflow: shrink;
}

#EventChampionsContainer .ChampionsDescription
{
	horizontal-align: center;
	width: 640px;
	text-align: center;
	font-family: titleFont;
	font-size: 20px;
	color: ti26_beige;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
	height: 58px;
	text-overflow: shrink;
}

#EventChampionsContainer .YourPerformanceLabel
{
	font-weight: semi-bold;
	horizontal-align: center;
	color: ti26_lemon;
	font-weight: semi-bold;
	margin-top: 16px;
}

#EventChampionsContainer .EventActionsContainer
{
	flow-children: right;
	horizontal-align: center;
}

#EventChampionsContainer .ClaimRewardsFX
{
	width: 220%;
	height: 150%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.HasUnclaimedRewards #EventChampionsContainer .ClaimRewardsFX
{
	visibility: visible;
}

#EventChampionsContainer #ClaimRewardsButton
{
	horizontal-align: center;
	margin: 4px 8px;
	visibility: collapse;
}

.HasUnclaimedRewards #EventChampionsContainer #ClaimRewardsButton
{
	visibility: visible;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#EventChampionsContainer #ViewEventButton
{
	horizontal-align: center;
	margin: 4px 8px;
	visibility: visible;
}

.HasUnclaimedRewards #EventChampionsContainer #ViewEventButton
{
	visibility: collapse;
}

.PlayerInfoContainer
{
	margin: 8px 0px 12px;
	width: 80%;
	horizontal-align: center;
	border: 1px solid ti26_beige&22;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ti26_black&00 ), color-stop( 0.25, ti26_black&ee ), color-stop( 0.5, ti26_black&fe ), color-stop( 0.75, ti26_black&ee ), to( ti26_black&00 ) );
}

.PlayerInfoContainer .PlayerInfoContents
{
	horizontal-align: center;
	flow-children: right;
}

.PlayerInfoContainer .PlayerInfoBlock
{
	flow-children: down;
	width: fill-parent-flow(1);
	width: 170px;
	padding: 8px 0px;
}

.PlayerInfoContainer .PlayerInfoBlock .PlayerInfoValue
{
	horizontal-align: center;
	margin: -2px;
	color: ti26_cream;
	font-size: 20px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	letter-spacing: 0px;
}

.PlayerInfoContainer .PlayerInfoBlock .PlayerInfoLabel
{
	horizontal-align: center;
	color: ti26_peach;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 2px;
}

.PlayerInfoContainer .PlayerInfoBlock:hover .InfoIcon
{
	wash-color: none;
	opacity: 1;
}

.PlayerInfoContainer .TotalPointsBlock
{
	flow-children: right;
	horizontal-align: center;
}

.PlayerInfoContainer .TotalPointsBlock .InfoIcon
{
	wash-color: ti26_cream;
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PlayerInfoContainer .VerticalDivider
{
	height: 100%;
	background-color: ti26_beige&22;
}

@define slideshowFrameDuration: 20s;
.ChampionsImageSequenceContainer
{
	horizontal-align: center;
	width: 100%;
	max-width: 2400px;
	height: 100%;
	wash-color: ti26_beigeDark;
	brightness: 0.5;
	saturation: 0.8;
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( white ), color-stop( 0.5, rgba(255, 255, 255, 0.6) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: opacity;
	transition-duration: 0.3s;
	opacity: 0;
	visibility: collapse;
}

.TournamentFinished .ChampionsImageSequenceContainer
{
	visibility: visible;
}

.OnHomePage .ChampionsImageSequenceContainer
{
	opacity: 1;
}

.ChampionsImageSequenceContainer .ChampionPhoto1,.ChampionsImageSequenceContainer .ChampionPhoto2,.ChampionsImageSequenceContainer .ChampionPhoto3
{
	width: 100%;
	height: 100%;
	opacity: 0;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.ChampionsImageSequenceContainer .ChampionPhoto1
{
	animation-name: RevealChampionPhoto1;
	animation-duration: slideshowFrameDuration;
}

.ChampionsImageSequenceContainer .ChampionPhoto2
{
	animation-name: RevealChampionPhoto2;
	animation-duration: slideshowFrameDuration;
}

.ChampionsImageSequenceContainer .ChampionPhoto3
{
	animation-name: RevealChampionPhoto3;
	animation-duration: slideshowFrameDuration;
}

@keyframes 'RevealChampionPhoto1'
{
	0%
	{
		transform: none;
		opacity: 0;
	}
	
	8%
	{
		opacity: 1;
	}
	
	30%
	{
		opacity: 1;
	}
	
	38%
	{
		transform: scale3d( 1.05, 1.05, 1 );
		opacity: 0;
	}
	
}

@keyframes 'RevealChampionPhoto2'
{
	30%
	{
		transform: none;
		opacity: 0;
	}
	
	38%
	{
		opacity: 1;
	}
	
	60%
	{
		opacity: 1;
	}
	
	68%
	{
		transform: scale3d( 1.05, 1.05, 1 );
		opacity: 0;
	}
	
}

@keyframes 'RevealChampionPhoto3'
{
	60%
	{
		transform: none;
		opacity: 0;
	}
	
	68%
	{
		opacity: 1;
	}
	
	90%
	{
		opacity: 1;
	}
	
	100%
	{
		transform: scale3d( 1.05, 1.05, 1 );
		opacity: 0;
	}
	
}

.TournamentFinishedCellsContainer
{
	horizontal-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0px 36px 8px;
	flow-children: right;
	box-shadow: 0px 8px 48px -12px rgba(0, 0, 0, 0.6);
	visibility: collapse;
}

.TournamentFinished .TournamentFinishedCellsContainer
{
	visibility: visible;
}

.TournamentFinishedCell
{
	width: fill-parent-flow( 1 );
	height: 200px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( ti26_brown ), to( ti26_chocolate ) );
	margin: 6px;
	border-radius: 8px;
	transition-property: brightness, background-color, transform;
	transition-duration: 0.1s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TournamentFinishedCell:hover
{
	background-color: gradient( linear, -50% 0%, 500% 100%, from( ti26_chocolate ), to( ti26_orange ) );
	transform: scale3d( 1.025, 1.025, 1 );
}

.TournamentFinishedCell:hover .BottomCellAction
{
	color: gradient( linear, 0% 30%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px ti26_orange&cc;
}

.TournamentFinishedCell:hover .BottomCellTitle
{
	color: white;
}

.TournamentFinishedCell:active
{
	transform: scale3d( 1.025, 1.025, 1 ) translateY( 1px );
	brightness: 0.7;
	sound: "ui_topmenu_activate";
}

.TournamentFinishedCell .BottomCellImage
{
	horizontal-align: center;
	margin: 0px;
	width: 110%;
	overflow: noclip;
	transition-property: transform, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: scale3d( 0.99, 0.99, 1 );
}

.TournamentFinishedCell .BottomCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid ti26_cream&06;
	border-radius: 8px;
}

.TournamentFinishedCell Label
{
	text-shadow: 0px 1px 8px black;
	text-align: center;
	horizontal-align: center;
}

.TournamentFinishedCell Label b
{
	font-weight: semi-bold;
}

.TournamentFinishedCell .BottomCellTitle
{
	color: ti26_cream;
	font-family: titleFont;
	font-weight: semi-bold;
	font-size: 15px;
	margin-top: 14px;
	transition-property: color;
	transition-duration: 0.2s;
}

.TournamentFinishedCell .BottomCellAction
{
	vertical-align: bottom;
	margin-bottom: 12px;
	text-shadow: 0px 1px 8px black;
	color: ti26_goldGradient;
	transition-property: color;
	transition-duration: 0.2s;
}

.TournamentFinishedCell .BottomCellAction b
{
	font-weight: semi-bold;
}

.TournamentFinishedCell DOTAUIStickerCapsulePreview
{
	ui-scale: 72%;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: -8px;
}

.TournamentFinishedCell .StickerFX
{
	horizontal-align: center;
	vertical-align: center;
	width: 120%;
	height: 120%;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	margin-top: 20px;
}

#TeamsCell.TournamentFinishedCell .BottomCellImage
{
	width: 130%;
}

