/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2026PopupFantasyCraftChoice
{
	width: 1720px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTAInternational2026PopupFantasyCraftChoice.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupContents
{
	width: 100%;
	flow-children: down;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2026/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

#ChoiceHolder
{
	width: 100%;
}

#ChoiceHolder #Choices
{
	flow-children: right-wrap;
	horizontal-align: center;
	padding: 24px 0px;
}

#ChoiceHolder VerticalScrollBar
{
	margin: 20px 0px 40px;
}

#Options
{
	width: 100%;
}

#Options #SubmitButton
{
	horizontal-align: center;
	padding: 0px 24px 48px;
}

.Header
{
	width: 100%;
	padding: 28px 32px 0px;
}

.Header #CloseButton
{
	horizontal-align: right;
}

.PlayerChoice
{
	flow-children: down;
	width: 190px;
	height: 300px;
	margin: 8px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( ti26_brown ), to( ti26_chocolate ) );
	box-shadow: 0px 4px 12px -1px rgba( 0, 0, 0, 0.5 );
	transition-property: pre-transform-scale2d, box-shadow, transform, brightness, background-color;
	transition-duration: 0.05s, 0.1s;
}

.PlayerChoice .SelectedBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-color: ti26_goldFabricGradient;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.PlayerChoice .FantasyPlayerTitle
{
	margin: 16px 12px;
	horizontal-align: center;
	color: ti26_goldGradient;
	text-shadow: 0px 2px 12px black;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
}

.PlayerChoice .FantasyPlayerTitle .PersonaName
{
	color: ti26_goldGradient;
}

.PlayerChoice .PlayerImages
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

.TwoPlayers.PlayerChoice .PlayerImages
{
	margin-left: -20%;
}

.PlayerChoice .TeamPlayerImage
{
	width: 75%;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: bottom;
	overflow: noclip;
}

.OnePlayer.PlayerChoice .TeamPlayerImage
{
	width: 85%;
}

.PlayerChoice .TeamPlayerImage.player_2
{
	margin-left: -15%;
}

.PlayerChoice .TopShadow
{
	width: 100%;
	height: 120px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_lemon ), color-stop( 0.5, ti26_lemon&66 ), to( ti26_lemon&00 ) );
	opacity: 0;
	ignore-parent-flow: true;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.PlayerChoice #TeamLogo
{
	width: 60%;
	height: width-percentage(100%);
	vertical-align: middle;
	horizontal-align: center;
	opacity: 0.96;
	y: -10%;
	ignore-parent-flow: true;
}

.PlayerChoice .ChoiceBottomEdge
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
	ignore-parent-flow: true;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dcb777 ), to( #8d743d ) );
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.PlayerChoice .ChoiceBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid ti26_beige&11;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
	ignore-parent-flow: true;
	transition-property: border;
	transition-duration: 0.1s;
}

.PlayerChoice:hover
{
	pre-transform-scale2d: 1.02;
	background-color: gradient( linear, -200% -200%, 100% 100%, from( ti26_orange ), to( ti26_brown ) );
}

.PlayerChoice:active
{
	pre-transform-scale2d: 0.99;
	sound: "ui_generic_button_click";
}

.PlayerChoice.ChoiceSelected
{
	z-index: 1;
	sound: "ui_player_beacon_appear";
}

.PlayerChoice.ChoiceSelected .SelectedBackground
{
	opacity: 1;
}

.PlayerChoice.ChoiceSelected .TopShadow
{
	opacity: 0.3;
}

.PlayerChoice.ChoiceSelected .FantasyPlayerTitle
{
	color: ti26_black;
	text-shadow: textShadowWhite;
	font-weight: semi-bold;
	letter-spacing: 0.5px;
}

.PlayerChoice.ChoiceSelected .FantasyPlayerTitle .PersonaName
{
	color: ti26_black;
}

.PlayerChoice.ChoiceSelected .ChoiceBorder
{
	border: 2px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffeac7 ), color-stop( 0.5, #dcb777 ), to( #8d743d ) );
}

@keyframes 'GlowChoice'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'GlowChoiceBorder'
{
	0%
	{
		brightness: 1;
		border: 2px solid white;
	}
	
	100%
	{
		brightness: 2.2;
		border: 2px solid primaryColor1;
	}
	
}

