/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2026Button .ButtonShadow
{
	width: 100%;
	height: 100%;
	background-color: black;
	border-radius: 4px;
	margin: 0px 2px;
	box-shadow: 0px 3px 24px -2px rgba(0, 0, 0, 0.6);
}

DOTAInternational2026Button .OuterBackground
{
	background-color: ti26_black;
	border-radius: 4px;
	padding: 3px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( ti26_lemon ), to( ti26_orange ) );
	transition-property: border-brush;
	transition-duration: 0.1s;
}

DOTAInternational2026Button .InnerBackground
{
	border-radius: 2px;
	transition-property: background-color;
	transition-duration: 0.1s;
}

DOTAInternational2026Button .InnerGlow
{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 0%, 0% 0%, 75% 100%, from( ti26_yellow ), color-stop( 0.5, ti26_yellow&99 ), to( ti26_yellow&00 ) );
	-s2-mix-blend-mode: screen;
	opacity: 0.1;
	transition-property: opacity;
	transition-duration: 0.1s;
}

DOTAInternational2026Button .InnerBorder
{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	ignore-parent-flow: true;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.3) ) );
	transition-property: border;
	transition-duration: 0.1s;
}

DOTAInternational2026Button .ButtonLabel
{
	padding: 7px 28px 10px;
	color: gradient( linear, 0% 30%, 0% 100%, from( ti26_lemon ), to( ti26_yellow ) );
	text-shadow: 0px 2px 12px black;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	height: 42px;
	transition-property: transform, color, text-shadow;
	transition-duration: 0.1s;
}

DOTAInternational2026Button.FillWidth .OuterBackground
{
	width: 100%;
}

DOTAInternational2026Button.FillWidth .InnerBackground
{
	width: 100%;
}

DOTAInternational2026Button.Wide .ButtonLabel
{
	padding-left: 56px;
	padding-right: 56px;
}

DOTAInternational2026Button.TextOnly .OuterBackground,DOTAInternational2026Button.TextOnly .InnerBackground
{
	background-color: none;
	padding: 0px;
	border: 0px;
}

DOTAInternational2026Button.TextOnly .InnerGlow,DOTAInternational2026Button.TextOnly .ButtonShadow,DOTAInternational2026Button.TextOnly .InnerBorder
{
	visibility: collapse;
}

DOTAInternational2026Button.TextOnly .BottomBorder
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dbc49100 ), color-stop( 0.3, #dbc491c7 ), color-stop( 0.5, #ffe9bb ), color-stop( 0.7, #dbc491c7 ), to( #dbc49100 ) );
	vertical-align: bottom;
	margin: 2px 6px;
	opacity: 0.2;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

DOTAInternational2026Button.TextOnly .ButtonLabel
{
	font-size: 16px;
	line-height: 1;
	padding: 7px 6px 5px;
	color: gradient( linear, 0% 30%, 0% 100%, from( ti26_lemon ), to( ti26_yellow ) );
	height: 42px;
	text-overflow: shrink;
}

DOTAInternational2026Button.TextOnly:enabled:hover .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #FFFFFF ) );
	transform: translateY( -2px );
}

DOTAInternational2026Button.TextOnly:enabled:hover .BottomBorder
{
	transform: none;
	opacity: 1;
}

DOTAInternational2026Button.TextOnly:enabled:hover .InnerBackground
{
	background-color: none;
}

DOTAInternational2026Button.TextOnly:active
{
	sound: "ui_generic_button_click";
}

DOTAInternational2026Button.TextOnly:active .InnerBackground
{
	background-color: none;
}

DOTAInternational2026Button.TextOnly:active .InnerGlow
{
	opacity: 0;
}

DOTAInternational2026Button.TextOnly:active .InnerBorder
{
	border-brush: none;
}

DOTAInternational2026Button.Small .OuterBackground
{
	padding: 2px;
}

DOTAInternational2026Button.Small .ButtonLabel
{
	font-size: 16px;
	line-height: 1;
	padding: 6px 16px 6px;
	font-weight: normal;
	text-align: center;
	height: fit-children;
	max-height: 46px;
	text-overflow: shrink;
}

DOTAInternational2026Button.Small.Wide .ButtonLabel
{
	padding-left: 24px;
	padding-right: 24px;
}

DOTAInternational2026Button.Tiny .OuterBackground
{
	padding: 2px;
}

DOTAInternational2026Button.Tiny .ButtonLabel
{
	font-size: 14px;
	line-height: 1;
	padding: 3px 10px 4px;
	font-weight: normal;
	letter-spacing: 1px;
	height: fit-children;
}

DOTAInternational2026Button.Tiny .ButtonShadow
{
	background-color: black;
	border-radius: 4px;
	margin: 0px 2px;
	box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.4);
}

DOTAInternational2026Button.Tiny.Wide .ButtonLabel
{
	padding-left: 16px;
	padding-right: 16px;
}

DOTAInternational2026Button.NoOutline .OuterBackground
{
	background-color: none;
	padding: 0px;
	border: 0px;
}

DOTAInternational2026Button .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_orange ), to( ti26_brown ) );
}

DOTAInternational2026Button .InnerBorder
{
	opacity: 0.06;
}

DOTAInternational2026Button:enabled:hover .OuterBackground
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( ti26_orange ) );
}

DOTAInternational2026Button:enabled:hover .InnerBackground
{
	background-color: gradient( linear, 0% -50%, 0% 100%, from( ti26_yellow ), to( ti26_brown ) );
}

DOTAInternational2026Button:enabled:hover .ButtonLabel
{
	color: gradient( linear, 0% 30%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px ti26_orange&cc;
}

DOTAInternational2026Button:active .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_brown ), to( ti26_orange ) );
}

DOTAInternational2026Button:active .InnerGlow
{
	opacity: 0;
}

DOTAInternational2026Button:active .InnerBorder
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
}

DOTAInternational2026Button:active .ButtonLabel
{
	transform: translateY( 1px );
	color: LightestGrey;
}

DOTAInternational2026Button.Disabled,DOTAInternational2026Button:disabled
{
	saturation: 0.4;
	brightness: 0.2;
}

@keyframes 'GlowButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2.2;
	}
	
}

