/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define ti26_black: #070502;
@define ti26_chocolate: #2C1E0F;
@define ti26_brown: #49321A;
@define ti26_orange: #A3772C;
@define ti26_yellow: #F2C549;
@define ti26_lemon: #FFEEBE;
@define ti26_beigeDark: #938A6E;
@define ti26_beige: #BDB291;
@define ti26_peach: #CB8A63;
@define ti26_red: #BC473E;
@define ti26_green: #505A27;
@define ti26_cream: #ECE5CF;
@define shadowMedium: 0px 8px 24px -4px rgba(0, 0, 0, 0.5);
@define textShadowSmall: 0px 2px 4px rgba(0, 0, 0, 0.5);
@define textShadowMedium: 0px 3px 8px rgba(0, 0, 0, 0.5);
@define textShadowWhite: 0px 1px 1px #FFFFFF11;
@define ti26_goldGradient: gradient( linear, 0% 30%, 0% 100%, from( ti26_lemon ), to( ti26_yellow ) );
@define ti26_goldFabricGradient: gradient( linear, 0% 0%, 100% 100%, from( #60502D ), color-stop( 0.33, #A9976F ), color-stop( 0.66, #877753 ), to( #60502D ) );
@define bp_logo_small: url("s2r://panorama/images/badges/international_2024_compendium_badge_2_png.vtex");
@define bp_single_point: url("s2r://panorama/images/compendium/international2020/single_point_psd.vtex");
@define bp_single_point_selected: url("s2r://panorama/images/compendium/international2020/single_point_selected_psd.vtex");
@define bp_activequestring_small: url("s2r://panorama/images/compendium/international2020/activequestring_small_psd.vtex");
@define bp_activequestring_endscreen: url("s2r://panorama/images/compendium/international2020/activequestring_endscreen_psd.vtex");
@define bp_shield_icon_endscreen: url("s2r://panorama/images/compendium/international2020/shield_icon_end_screen_psd.vtex");
@define bp_tip_button_points: url("s2r://panorama/images/compendium/international2020/tip_button_points_psd.vtex");
@define bp_tip_button_points_hover: url("s2r://panorama/images/compendium/international2020/tip_button_points_hover_psd.vtex");
@define bp_total_tokens: url("s2r://panorama/images/compendium/international2020/totaltokens_psd.vtex");
@define bp_total_points: url("s2r://panorama/images/compendium/international2020/totalpoints_psd.vtex");
@define bp_bounty_icon: url("s2r://panorama/images/compendium/international2020/icon_bounty_crosshair_png.vtex");
@define bp_bounty_shadow_icon: url("s2r://panorama/images/compendium/international2020/icon_bounty_crosshair_shadow_png.vtex");
@define bp_cavern_crawl_logo: url("s2r://panorama/images/cavern/icon_logo_ti2022_png.vtex");
@define bp_cavern_crawl_challenge: url("s2r://panorama/images/cavern/icon_challenge_available_ti2022_png.vtex");
@define bp_cavern_crawl_challenge_2: url("s2r://panorama/images/cavern/icon_challenge_available_ti2022_2_png.vtex");
@define bp_cavern_crawl_challenge_wounded: url("s2r://panorama/images/cavern/icon_challenge_wounded_ti2022_png.vtex");
@define bp_cavern_crawl_challenge_2_wounded: url("s2r://panorama/images/cavern/icon_challenge_wounded_ti2022_2_png.vtex");
@define bp_cavern_crawl_hero_filter: url("s2r://panorama/images/control_icons/filter_cavern_2022_png.vtex");
@define bp_quest_rank_empty: url("s2r://panorama/images/status_icons/3star_empty_psd.vtex");
@define bp_quest_rank_1: url("s2r://panorama/images/status_icons/3star_1_psd.vtex");
@define bp_quest_rank_2: url("s2r://panorama/images/status_icons/3star_2_psd.vtex");
@define bp_quest_rank_3: url("s2r://panorama/images/status_icons/3star_3_psd.vtex");
@define bp_quest_tabletop: url("s2r://panorama/images/compendium/international2020/tabletop_psd.vtex");
@define bp_quest_scroll_left_texture: url("s2r://panorama/images/compendium/international2020/scroll_left_texture_psd.vtex");
@define bp_quest_scroll_texture: url("s2r://panorama/images/compendium/international2020/scroll_texture_psd.vtex");
@define bp_profile_tooltip_max: url("s2r://panorama/images/compendium/international2020/profiletooltip_max_psd.vtex");
@define bp_platinum_backer: url("s2r://panorama/images/compendium/international2020/platinum_backer_psd.vtex");
@define bp_avatar_border_default: url("s2r://panorama/images/compendium/international2020/avatarborder_default_psd.vtex");
@define bp_avatar_border_max: url("s2r://panorama/images/compendium/international2020/avatarborder_max_psd.vtex");
@define bp_point_log_tip_received: url("s2r://panorama/images/compendium/international2020/logicon_gottip_psd.vtex");
@define bp_point_log_tip_given: url("s2r://panorama/images/compendium/international2020/logicon_gavetip_psd.vtex");
@define bp_point_log_pass_activated: url("s2r://panorama/images/compendium/international2020/logicon_activate_psd.vtex");
@define bp_point_log_wager_won: url("s2r://panorama/images/compendium/international2020/logicon_wonwager_psd.vtex");
@define bp_point_log_prediction_correct: url("s2r://panorama/images/compendium/international2020/logicon_prediction_psd.vtex");
@define bp_point_log_recycled_item: url("s2r://panorama/images/compendium/international2020/logicon_recycle_psd.vtex");
@define bp_point_log_achievement: url("s2r://panorama/images/compendium/international2020/logicon_achievement_psd.vtex");
@define bp_point_log_wheel_reward: url("s2r://panorama/images/compendium/international2020/logicon_spinwheel_psd.vtex");
@define bp_point_log_community_goal: url("s2r://panorama/images/compendium/international2020/logicon_community_goal_psd.vtex");
@define bp_point_log_quest_complete: url("s2r://panorama/images/compendium/international2020/logicon_questcomplete_psd.vtex");
@define bp_point_log_points_consumed: url("s2r://panorama/images/compendium/international2020/totalpoints_psd.vtex");
@define bp_point_log_won_battlecup: url("s2r://panorama/images/weekend_tourney/battlecup_icon_psd.vtex");
@define bp_point_log_prediction_tokens: url("s2r://panorama/images/compendium/international2020/prediction_tokens_psd.vtex");
@define bp_point_log_event_game: url("s2r://panorama/images/compendium/international2020/aghanim_icon_psd.vtex");
@define bp_point_log_shovel: url("s2r://panorama/images/compendium/international2020/shovel_icon_psd.vtex");
@define chatWheelCategoryIcon: url("s2r://panorama/images/badges/international_2020_battle_pass_badge_3_png.vtex");
@define battlecup_current_season_icon: url("s2r://panorama/images/icon_trophy_battle_cup_summer_psd.vtex");
@define battlecup_current_season_champions_icon: url("s2r://panorama/images/icon_trophy_champions_cup_psd.vtex");
@define battlecup_current_season_champions_animation_icon: url("s2r://panorama/images/icon_trophy_champions_cup_animation_png.vtex");
@define pageMarginTop: 40px;
@define pageMarginLeft: 460px;
@define SlotWidth: 180px;
@define SlotWidth_16x10: 180px;
@define SlotWidth_21x9: 180px;
@define SlotHeight: 32px;
@define SlotLabelFontSize: 14px;
@keyframes 'PulseUnclaimed'
{
	0%
	{
		brightness: 1.5;
	}
	
	50%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

@keyframes 'GlowUnclaimedButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'GlowPrimaryButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

@keyframes 'GlowUnclaimedRewardsBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'PulseUnclaimedRewardsBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.8;
	}
	
}

.BPSharedPageContainer,.BPSharedPageContainer.AsyncContainer
{
	width: 1420px;
	margin-left: 440px;
	flow-children: down;
}

.AspectRatio16x10 .BPSharedPageContainer,.AspectRatio16x10 .BPSharedPageContainer.AsyncContainer
{
	width: 1228px;
}

.AspectRatio21x9 .BPSharedPageContainer,.AspectRatio21x9 .BPSharedPageContainer.AsyncContainer
{
	width: 1600px;
	margin-left: 650px;
}

.BPSharedPageContainer .BPSharedHeaderContainer,.BPSharedPageContainer.AsyncContainer .BPSharedHeaderContainer
{
	width: 100%;
	padding: 40px 0px 20px;
	flow-children: down;
}

.BPSharedPageContainer .BPSharedHeaderContainer .BPTitle,.BPSharedPageContainer.AsyncContainer .BPSharedHeaderContainer .BPTitle
{
	z-index: 2;
	margin-bottom: 4px;
	height: 48px;
	vertical-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
	font-family: titleFont;
	font-size: 36px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px ti26_orange&66;
}

.BPSharedPageContainer .BPSharedHeaderContainer .BPPageDescription,.BPSharedPageContainer.AsyncContainer .BPSharedHeaderContainer .BPPageDescription
{
	font-family: titleFont;
	font-size: 20px;
	color: ti26_beige;
	text-shadow: textShadowMedium;
	max-height: 88px;
	text-overflow: shrink;
	margin-right: 300px;
}

.AspectRatio16x10 .BPSharedPageContainer .BPSharedHeaderContainer .BPPageDescription,.AspectRatio16x10 .BPSharedPageContainer.AsyncContainer .BPSharedHeaderContainer .BPPageDescription
{
	margin-right: 270px;
}

.AvailablilityNote
{
	margin-top: 14px;
	color: ti26_beigeDark;
	visibility: collapse;
}

.HasEndDate .AvailablilityNote
{
	visibility: visible;
}

.StageTabsContainer
{
	flow-children: right;
	padding: 3px 1px;
	background-color: #000000;
	border: 1px solid ti26_lemon&06;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 4px;
}

.StageTab,.StageTabSimple,.ChallengeSelector
{
	overflow: noclip;
	transition-property: transform;
	transition-duration: 0.08s;
}

.StageTab .TabContents,.StageTabSimple .TabContents,.ChallengeSelector .TabContents
{
	border-radius: 3px;
	margin: 0px 2px;
	transition-property: background-color, border, transform, brightness;
	transition-duration: 0.1s;
}

.StageTab .TabBorder,.StageTabSimple .TabBorder,.ChallengeSelector .TabBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid ti26_yellow;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff33 ), to( #ffffff11 ) );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
}

.StageTab .RadioBox,.StageTabSimple .RadioBox,.ChallengeSelector .RadioBox
{
	visibility: collapse;
}

.StageTab.FixedWidth .TabContents,.StageTabSimple.FixedWidth .TabContents,.ChallengeSelector.FixedWidth .TabContents
{
	width: 280px;
}

.StageTab .StageTabLeft,.StageTabSimple .StageTabLeft,.ChallengeSelector .StageTabLeft
{
	flow-children: down;
	horizontal-align: center;
	margin: 6px;
}

.StageTab .StageTabLeft .StageName,.StageTabSimple .StageTabLeft .StageName,.ChallengeSelector .StageTabLeft .StageName
{
	margin-bottom: -1px;
	horizontal-align: center;
	font-size: 15px;
	text-shadow: textShadowMedium;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	color: ti26_goldGradient;
	text-align: center;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTab .StageTabLeft DOTACountdown,.StageTabSimple .StageTabLeft DOTACountdown,.ChallengeSelector .StageTabLeft DOTACountdown
{
	horizontal-align: center;
}

.StageTab .StageTabLeft .StageLock,.StageTabSimple .StageTabLeft .StageLock,.ChallengeSelector .StageTabLeft .StageLock
{
	font-size: 12px;
	color: ti26_beige;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: textShadowSmall;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTab .StageTabRight,.StageTabSimple .StageTabRight,.ChallengeSelector .StageTabRight
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: middle;
	margin-top: 2px;
}

.StageTab .StageTabRight .StagePredict,.StageTabSimple .StageTabRight .StagePredict,.ChallengeSelector .StageTabRight .StagePredict
{
	text-align: right;
	horizontal-align: right;
	color: LightestGrey;
	text-shadow: textShadowSmall;
}

.StageTab .StageTabRight .StageReward,.StageTabSimple .StageTabRight .StageReward,.ChallengeSelector .StageTabRight .StageReward
{
	flow-children: right;
	horizontal-align: right;
}

.StageTab .StageTabRight .StageReward Label,.StageTabSimple .StageTabRight .StageReward Label,.ChallengeSelector .StageTabRight .StageReward Label
{
	font-weight: semi-bold;
}

.StageTab .StageTabRight .StageReward .PointsIcon,.StageTabSimple .StageTabRight .StageReward .PointsIcon,.ChallengeSelector .StageTabRight .StageReward .PointsIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/compendium/international2022/totalpoints_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.StageTab.Locked,.StageTabSimple.Locked,.ChallengeSelector.Locked
{
	saturation: 0.2;
	opacity: 0.3;
}

.StageTab:hover .TabContents,.StageTabSimple:hover .TabContents,.ChallengeSelector:hover .TabContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_brown&66 ), to( ti26_chocolate&66 ) );
}

.StageTab:hover .StageName,.StageTabSimple:hover .StageName,.ChallengeSelector:hover .StageName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.StageTab:hover .TabBorder,.StageTabSimple:hover .TabBorder,.ChallengeSelector:hover .TabBorder
{
	opacity: 0.3;
}

.StageTab:active,.StageTabSimple:active,.ChallengeSelector:active
{
	transform: translateY( 1px );
	sound: "ui_topmenu_swt";
}

.StageTab:selected .TabContents,.StageTab.VisibleChallenge .TabContents,.StageTabSimple:selected .TabContents,.StageTabSimple.VisibleChallenge .TabContents,.ChallengeSelector:selected .TabContents,.ChallengeSelector.VisibleChallenge .TabContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_brown ), to( ti26_chocolate ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.StageTab:selected .TabBorder,.StageTab.VisibleChallenge .TabBorder,.StageTabSimple:selected .TabBorder,.StageTabSimple.VisibleChallenge .TabBorder,.ChallengeSelector:selected .TabBorder,.ChallengeSelector.VisibleChallenge .TabBorder
{
	opacity: 1;
	transform: none;
}

.StageTab:selected .StagePredict,.StageTab.VisibleChallenge .StagePredict,.StageTabSimple:selected .StagePredict,.StageTabSimple.VisibleChallenge .StagePredict,.ChallengeSelector:selected .StagePredict,.ChallengeSelector.VisibleChallenge .StagePredict
{
	color: white;
}

.StageTab:selected .StageName,.StageTab.VisibleChallenge .StageName,.StageTabSimple:selected .StageName,.StageTabSimple.VisibleChallenge .StageName,.ChallengeSelector:selected .StageName,.ChallengeSelector.VisibleChallenge .StageName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
	text-shadow: 0px 0px 12px ti26_orange&cc;
}

.StageTabSimple Label,.ChallengeSelector Label
{
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: LightestGrey;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTabSimple:hover Label,.ChallengeSelector:hover Label
{
	color: white;
}

.StageTabSimple:selected Label,.ChallengeSelector:selected Label
{
	color: white;
}

.StageTabSimple Label
{
	font-size: 18px;
}

.ChallengeSelector Label
{
	font-size: 18px;
}

.PerformanceWidgetContainer
{
	width: 100%;
	height: fit-children;
}

.PerformanceWidgetContainer .AsyncContainer
{
	height: fit-children;
}

.PerformanceWidgetContainer .AsyncContainer.AsyncFailureContainer,.PerformanceWidgetContainer .AsyncContainer.AsyncSuccesContainer
{
	margin: 20px;
}

.PerformanceWidget
{
	flow-children: right;
	width: 100%;
	margin: 8px;
	padding: 12px 12px 40px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( ti26_brown&66 ), color-stop( 0.5, ti26_brown&22 ), to( ti26_brown&00 ) );
	margin-bottom: -20px;
	border-top: 1px solid ti26_orange&22;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
}

.PerformanceWidget Label
{
	text-shadow: 0px 2px 12px black;
}

.PerformanceWidget .PerformanceWidgetContent
{
	flow-children: right;
	horizontal-align: center;
}

.PerformanceWidget DOTAAvatarImage
{
	width: 32px;
	height: width-percentage( 100% );
	vertical-align: center;
	background-color: rgb(98, 101, 111);
	border-radius: 3px;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.6);
	margin-right: 12px;
}

.PerformanceWidget .PerformanceTitle
{
	vertical-align: center;
	margin-right: 16px;
	font-size: 15px;
	color: ti26_cream;
	font-weight: semi-bold;
	letter-spacing: 1px;
}

.PerformanceWidget .PlayerInfoBlock
{
	flow-children: down;
	padding: 0px 10px;
	vertical-align: center;
}

.PerformanceWidget .PlayerInfoBlock .PercentileHolder
{
	horizontal-align: center;
	width: fit-children;
	height: fit-children;
	flow-children: right;
}

.PerformanceWidget .PlayerInfoBlock .PlayerInfoValue
{
	horizontal-align: center;
	font-weight: semi-bold;
	letter-spacing: 1px;
	margin: -2px;
	color: ti26_cream;
	font-size: 20px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	letter-spacing: 0px;
}

.PerformanceWidget .PlayerInfoBlock .PlayerInfoLabel
{
	horizontal-align: center;
	color: ti26_peach;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 2px;
}

.PerformanceWidget .PlayerInfoBlock .InfoIcon
{
	wash-color: ti26_cream;
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PerformanceWidget .PlayerInfoBlock:hover .InfoIcon
{
	wash-color: none;
	opacity: 1;
}

.PerformanceWidget .TotalPointsBlock
{
	flow-children: right;
	horizontal-align: center;
}

.PerformanceWidget .TotalPointsBlock .InfoIcon
{
	wash-color: ti26_cream;
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PerformanceWidget .RewardsButton
{
	margin-left: 16px;
	vertical-align: center;
}

.PerformanceWidget .PerformanceNote
{
	vertical-align: center;
	width: 260px;
	font-size: 13px;
	line-height: 1.2;
	margin-left: 16px;
	color: ti26_beige&99;
}

#LockedPanel,.PeriodLocked
{
	height: fit-children;
	width: fit-children;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	margin-top: -120px;
}

#LockedPanel .LockedHeader,.PeriodLocked .LockedHeader
{
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: ti26_peach;
}

#LockedPanel .LockIconContainer,.PeriodLocked .LockIconContainer
{
	horizontal-align: center;
	margin-bottom: -16px;
	overflow: noclip;
}

#LockedPanel .LockIconContainer .LockBackground,.PeriodLocked .LockIconContainer .LockBackground
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
	border: 1px solid rgba(255, 255, 255, 0.212);
	border-radius: 50%;
	border-brush: gradient( linear, 0% 0%, 0% 80%, from( ti26_peach ), color-stop( 0.5, ti26_peach&33 ), to( ti26_peach&00 ) );
}

#LockedPanel .LockIconContainer .LockIcon,.PeriodLocked .LockIconContainer .LockIcon
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: ti26_peach;
	margin-top: -12px;
}

#LockedPanel .HeaderDetails,.PeriodLocked .HeaderDetails
{
	horizontal-align: center;
	color: ti26_beige;
	margin-top: 4px;
	font-size: 22px;
	font-family: titleFont;
}

AsyncDataPanel .AsyncContainer.AsyncFailureContainer,AsyncDataPanel .AsyncContainer.AsyncLoadingContainer
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

AsyncDataPanel .AsyncContainer.AsyncFailureContainer Label,AsyncDataPanel .AsyncContainer.AsyncLoadingContainer Label
{
	horizontal-align: center;
}

.EventActivationContainer
{
	width: 100%;
	height: 100%;
	background-color: ti26_black&fc;
	visibility: collapse;
}

.EventActivationContainer .EventActivationContent
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	padding: 24px 120px 16px;
	margin-bottom: 40px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ti26_chocolate&00 ), color-stop( 0.15, ti26_chocolate&ee ), color-stop( 0.5, ti26_chocolate ), color-stop( 0.85, ti26_chocolate&ee ), to( ti26_chocolate&00 ) );
	border: 1px solid ti26_beige;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
}

.EventActivationContainer .EventActivationContent Label
{
	horizontal-align: center;
}

.EventActivationContainer .EventActivationContent .ActivationSubTitle
{
	text-align: center;
	color: ti26_lemon;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 8px;
	text-shadow: textShadowSmall;
	margin-bottom: 2px;
}

.EventActivationContainer .EventActivationContent .ActivationTitle
{
	font-size: 32px;
	font-family: titleFont;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-shadow: 0px 0px 12px ti26_orange&66;
}

.EventActivationContainer .EventActivationContent .ActivationDescription
{
	text-align: center;
	font-family: titleFont;
	color: ti26_cream;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.EventActivationContainer .EventActivationContent .IneligibleDescription
{
	color: ti26_peach;
	margin-top: 12px;
	padding: 8px;
	text-shadow: 0px 2px 8px black;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( ti26_peach&00 ), color-stop( 0.15, ti26_peach&11 ), color-stop( 0.85, ti26_peach&11 ), to( ti26_peach&00 ) );
	border: 1px solid ti26_peach&22;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
}

.EventActivationContainer .EventActivationContent #ActivateButton
{
	horizontal-align: center;
	margin: 16px;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.AccountIneligible .EventActivationContainer
{
	visibility: visible;
}

.AccountIneligible .EventActivationContainer .IneligibleDescription
{
	visibility: visible;
}

.AccountIneligible .EventActivationContainer .ActivationSubTitle,.AccountIneligible .EventActivationContainer .ActivationDescription,.AccountIneligible .EventActivationContainer #ActivateButton
{
	visibility: collapse;
}

.IneligibleDescription
{
	visibility: visible;
}

.InProgressInfo
{
	visibility: collapse;
	width: 18px;
	height: 18px;
	background-image: url("s2r://panorama/images/control_icons/24px/timer.vsvg");
	background-texture-size: 48px 48px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 6px;
	margin-right: 6px;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
	wash-color: #888888;
	vertical-align: middle;
	transition-property: wash-color;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.RankingInProgress .InProgressInfo
{
	visibility: visible;
}

.FabricTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/events/international_2026/textures/fabric_texture_png.vtex");
	background-size: 400px;
	-s2-mix-blend-mode: overlay;
	opacity: 0.5;
	brightness: 1.2;
}

.AegisTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	opacity: 0.4;
	background-image: url("s2r://panorama/images/events/international_2026/textures/aegis_tile_texture_png.vtex");
	background-size: 44px;
	-s2-mix-blend-mode: overlay;
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( white ), to( black ) );
}

.TopShadow
{
	width: 100%;
	height: 180px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_lemon ), color-stop( 0.5, ti26_lemon&66 ), to( ti26_lemon&00 ) );
	opacity: 0.3;
	ignore-parent-flow: true;
}

.RopeTexture
{
	background-image: url("s2r://panorama/images/events/international_2026/textures/rope_texture_png.vtex");
	background-size: 384px 4px;
	width: 100%;
	height: 4px;
	border-radius: 1px;
}

.CellBorder
{
	width: 100%;
	height: 100%;
	margin: 4px;
	border-image-source: url("s2r://panorama/images/events/international_2026/artwork/cell_border_png.vtex");
	border-width: 20px;
	border-image-slice: 40px;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid ti26_lemon;
	opacity: 0.01;
}

.PopupBackgroundImage
{
	width: 100%;
	height: 100%;
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/events/international_2026/backgrounds/ti2026_background_png.vtex");
	background-size: cover;
	background-position: center bottom;
}

.PopupTitle
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 36px;
	color: white;
	text-shadow: 0px 0px 12px ti26_orange&66;
	letter-spacing: 1.5px;
}

.VoiceLineContainer
{
	width: fill-parent-flow( 1 );
	flow-children: right;
	border-radius: 3px;
	padding: 0px 4px;
	border: 1px solid ti26_beigeDark&22;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_beigeDark&11 ), to( ti26_beigeDark&06 ) );
	margin: 2px;
	height: 36px;
	tooltip-position: left;
	transition-property: background-color;
	transition-duration: 0.1s;
}

.VoiceLineContainer .LabelContainer
{
	vertical-align: center;
	width: fill-parent-flow(1);
}

.VoiceLineContainer Label
{
	color: ti26_cream;
	margin-left: 2px;
	vertical-align: center;
	font-size: 16px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: fill-parent-flow(1);
	height: 20px;
	transition-property: color, text-shadow;
	transition-duration: 0.2s;
}

.VoiceLineContainer.SingleLine
{
	height: 28px;
}

.VoiceLineContainer.SingleLine Label
{
	height: 20px;
}

.VoiceLineContainer DOTAPreviewAudioButton.Small
{
	vertical-align: center;
	margin-right: 4px;
}

.VoiceLineContainer:hover:enabled:not(.Disabled)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ti26_beigeDark&22 ), to( ti26_beigeDark&11 ) );
}

.VoiceLineContainer:hover:enabled:not(.Disabled) Label
{
	color: white;
	opacity: 1;
	text-shadow: 0px 0px 12px ti26_orange&cc;
}

.VoiceLineContainer:hover:enabled:not(.Disabled) Image,.VoiceLineContainer:hover:enabled:not(.Disabled) MoviePanel
{
	wash-color: white;
}

.VoiceLineContainer:active:enabled:not(.Disabled)
{
	brightness: 0.9;
	transform: scale3d(0.98, 0.98, 1.0 );
}

