/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.DOTAInternational2025Background
{
	background-color: gradient( linear, 0% 60px, 0% 100%, from( #010212 ), color-stop( 0.5, #131747 ), color-stop( 0.6, #3B3452 ), color-stop( 0.65, #1c1f61 ), to( #000617 ) );
}

.AspectRatio21x9 .EdgeShadows
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop( 0.2, #00000000 ), color-stop( 0.8, #00000000 ), to( #000000 ) );
}

.BackgroundContainer
{
	horizontal-align: center;
}

.AspectRatio21x9 .BackgroundContainer
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, white ), color-stop( 0.8, white ), to( #FFFFFF00 ) );
}

.BackgroundContainer .BackgroundImage
{
	transition-property: blur, opacity, opacity-brush;
	transition-duration: 0.3s;
	opacity: 0.4;
	blur: gaussian( 4px );
	opacity-brush: gradient( linear, 0% 0%, 0% 85%, from( white ), color-stop( 0.6, white ), to( rgba(255, 255, 255, 0) ) );
}

.OnHomePage .BackgroundContainer .BackgroundImage
{
	opacity: 1;
	blur: gaussian( 1px );
	opacity-brush: gradient( linear, 0% 0%, 0% 85%, from( white ), color-stop( 0.6, white ), to( rgba(255, 255, 255, 1) ) );
}

.International2025CompendiumPage .BackgroundContainer .BackgroundImage
{
	opacity: 1;
}

.BackgroundContainer .GalaxyFX
{
	width: 100%;
	height: 100%;
	opacity-brush: gradient( linear, 0% 0%, 0% 70%, from( rgb(218, 205, 255) ), color-stop( 0.8, rgb(224, 193, 247) ), to( rgba(255, 255, 255, 0) ) );
	brightness: 3;
	wash-color: rgb(233, 222, 255);
	saturation: 1.2;
	transition-property: blur, opacity;
	transition-duration: 0.3s;
	opacity: 0;
	blur: gaussian( 0px );
}

.OnHomePage .BackgroundContainer .GalaxyFX
{
	opacity: 1;
}

.International2025CompendiumPage .BackgroundContainer .GalaxyFX
{
	opacity: 0.3;
	blur: gaussian( 1px );
}

.GoldLabel
{
	color: gradient( linear, 0% 30%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
}

.Content
{
	width: 1060px;
	height: 100%;
	horizontal-align: center;
	padding-top: 60px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.15s;
	opacity: 0;
	transform: scale3d( 0.98, 0.98, 1 );
}

.AspectRatio21x9 .Content
{
	width: 1200px;
	padding: 0px 24px;
}

.OnHomePage .Content
{
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0s;
	opacity: 1;
	transform: none;
}

.HeroConstellationsImage
{
	horizontal-align: center;
	-s2-mix-blend-mode: screen;
	ignore-parent-flow: true;
	opacity: 0.25;
	margin-top: -440px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( rgb(167, 152, 255) ), to( rgb(238, 180, 255) ) );
}

.EventTitleContainer
{
	horizontal-align: center;
	flow-children: right;
	width: 100%;
}

.EventTitleContainer .EventStageDescription
{
	width: fill-parent-flow( 1 );
	margin-top: 39%;
	flow-children: down;
	margin-bottom: 24px;
}

.EventTitleContainer .EventStageDescription .EventStageTitle
{
	flow-children: right;
}

.EventTitleContainer .EventStageDescription .EventStageTitle .EventStateTitle
{
	margin: 0px 8px;
	color: #DEA8F4;
	text-transform: uppercase;
	text-align: center;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 130, 255, 0.4);
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash
{
	width: fill-parent-flow( 1 );
	height: 1px;
	margin-top: 10px;
	opacity: 0.2;
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash.Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E886FF00 ), to( #E886FF ) );
}

.EventTitleContainer .EventStageDescription .EventStageTitle .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E886FF ), to( #E886FF00 ) );
}

.EventTitleContainer .EventStageDescription Label
{
	color: #DEA8F4;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	margin: -1px 0px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.EventTitleContainer .EventStageDescription .EventStateDate
{
	font-weight: semi-bold;
}

.EventTitleContainer .EventLogoContainer
{
	flow-children: down;
	margin: 0px -24px;
}

.AspectRatio21x9 .EventTitleContainer .EventLogoContainer
{
	margin-top: 50px;
}

.EventTitleContainer .EventLogoContainer .AegisContainer
{
	width: 400px;
	height: width-percentage( 100% );
	horizontal-align: center;
	margin-bottom: -72px;
}

.EventTitleContainer .EventLogoContainer .AegisContainer .Aegis2025
{
	width: 100%;
	height: width-percentage( 100% );
	-s2-mix-blend-mode: screen;
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	brightness: 2;
	saturation: 1.5;
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star1
{
	transform: translateY( -31.5% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star2
{
	transform: translateX( -31.5% ) translateY( 7.5% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star3
{
	transform: translateX( 30% ) translateY( 7.5% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star4
{
	transform: translateX( -20% ) translateY( 24% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star5
{
	transform: translateX( 20% ) translateY( 24% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Small
{
	width: 50px;
	height: 50px;
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star6
{
	transform: translateX( 0% ) translateY( -1% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star7
{
	transform: translateX( 12% ) translateY( 16% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star8
{
	transform: translateX( -21.5% ) translateY( 15% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star9
{
	transform: translateX( 25.5% ) translateY( -17.5% );
}

.EventTitleContainer .EventLogoContainer .AegisContainer .AegisStarFX.Star10
{
	transform: translateX( 12.5% ) translateY( 28.5% );
}

.EventTitleContainer .EventLogoContainer .TheInternationalScriptContainer
{
	margin-bottom: -8px;
	horizontal-align: center;
}

.EventTitleContainer .EventLogoContainer .TheInternationalScriptContainer .TheInternationalScript
{
	width: 440px;
	img-shadow: 0px 4px 16px rgba(102, 59, 171, 0.5);
	opacity-brush: gradient( linear, 0% 50%, 0% 90%, from( white ), to( #C297C8 ) );
	padding: 12px;
}

.EventTitleContainer .EventLogoContainer .TheInternationalScriptContainer .TheInternationalScriptShimmerContainer
{
	width: 100%;
	height: 100%;
	blur: gaussian( 12px );
	padding: 12px;
	vertical-align: center;
	wash-color: rgb(172, 109, 255);
	brightness: 5;
}

.EventTitleContainer .EventLogoContainer .TheInternationalScriptContainer .TheInternationalScriptShimmerContainer .TheInternationalScriptShimmer
{
	vertical-align: center;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity-mask: url("s2r://panorama/images/events/international_2025/artwork/the_international_script.vsvg");
	animation-name: ShimmerScript;
	animation-duration: 7s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	-s2-mix-blend-mode: screen;
}

.EventTitleContainer .EventLogoContainer .TheInternationalText
{
	horizontal-align: center;
	max-width: 500px;
	height: 60px;
	margin-top: 36px;
	margin-bottom: -4px;
	font-family: titleFont;
	color: gradient( linear, 0% 30%, 0% 130%, from( white ), to( #C297C8 ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.7);
	font-size: 84px;
	text-align: center;
	text-overflow: shrink;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
	visibility: collapse;
}

.Language_schinese .EventTitleContainer .EventLogoContainer .TheInternationalScript,.Language_tchinese .EventTitleContainer .EventLogoContainer .TheInternationalScript
{
	visibility: collapse;
}

.Language_schinese .EventTitleContainer .EventLogoContainer .TheInternationalText,.Language_tchinese .EventTitleContainer .EventLogoContainer .TheInternationalText
{
	visibility: visible;
}

.EventTitleContainer .EventLogoContainer .StarsContainer
{
	horizontal-align: center;
	flow-children: right;
}

.EventTitleContainer .EventLogoContainer .StarsContainer .StarIcon
{
	opacity-brush: gradient( linear, 0% 10%, 0% 90%, from( white ), to( #8A7AC9 ) );
	img-shadow: 0px 2px 12px rgba(209, 130, 255, 0.5);
	padding: 4px;
	width: 22px;
}

@keyframes 'ShimmerScript'
{
	0%
	{
		background-color: gradient( linear, -100% -100%, 0% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
	20%
	{
		background-color: gradient( linear, 50% 50%, 150% 150%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
	40%
	{
		background-color: gradient( linear, 100% 100%, 200% 200%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 100% 100%, 200% 200%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
}

.CellsContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 900px;
	flow-children: down;
	margin: 12px 12px 116px;
}

.AspectRatio21x9 .CellsContainer
{
	width: 100%;
}

.ParticipateSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 3px;
	font-family: titleFont;
	font-size: 20px;
	color: rgb(222, 213, 255);
	text-shadow: 0px 2px 12px 1 rgb(11, 5, 24);
}

.SupportSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 6px 0px 2px;
	font-size: 17px;
	font-family: titleFont;
	color: #D4C5F6;
	text-shadow: 0px 2px 12px 2 rgb(11, 5, 24);
}

.RevenueDistributionSummaryLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	margin: 4px;
	font-size: 14px;
	color: #d4c5f6b3;
	text-shadow: textShadowMedium;
}

.TopCellsContainer
{
	width: 100%;
	flow-children: right;
	box-shadow: 0px 8px 48px -12px rgba(0, 0, 0, 0.6);
}

.TopCell
{
	width: fill-parent-flow( 1 );
	height: 230px;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #953dc4 ), to( #2d1158 ) );
	margin: 6px;
	transition-property: brightness, background-color, transform;
	transition-duration: 0.1s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell:hover
{
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #ae4bd8 ), to( #351b6d ) );
	transform: scale3d( 1.025, 1.025, 1 );
}

.TopCell:hover .TopCellImage
{
	brightness: 1.5;
	transform: scale3d( 1.025, 1.025, 1 );
}

.TopCell:active
{
	transform: scale3d( 1.025, 1.025, 1 ) translateY( 1px );
	brightness: 0.7;
	sound: "ui_topmenu_activate";
}

.TopCell .CellStarMap
{
	width: 130%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.3;
	margin-top: 80px;
	wash-color: rgb(152, 140, 255);
}

.TopCell .TopCellImage
{
	transition-property: transform, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TopCell .TopCellInfo
{
	flow-children: down;
	margin: 12px;
	width: 100%;
}

.TopCell .TopCellInfo Label
{
	horizontal-align: center;
}

.TopCell .TopCellInfo .TopCellTitle
{
	color: whitesmoke;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 18px;
}

.TopCell .TopCellInfo .TopCellStage
{
	margin-top: -3px;
	color: #DEA8F4;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}

.TopCell .TopCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 0% 80%, from( #ffffff ), to( #8f47c081 ) );
}

.TopCell .BottomCellButton
{
	width: 100%;
	vertical-align: bottom;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #511e82 ), to( #311470 ) );
	border-top: 1px solid rgba(203, 125, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0.25) ), color-stop( 0.4, white ), color-stop( 0.6, white ), to( rgba(255, 255, 255, 0.25) ) );
}

.TopCell .BottomCellButton .BottomCellButtonGlow
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgb(162, 80, 255) ), to( rgba(80, 83, 255, 0) ) );
	opacity: 0.3;
}

.TopCell .BottomCellButton Label
{
	margin: 8px 12px 12px;
	horizontal-align: center;
	color: gradient( linear, 0% 30%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-shadow: 0px 1px 8px black;
}

.TopCell .BottomCellButton Label b
{
	font-weight: semi-bold;
}

.TopCell .PredictionsCellImage
{
	width: 234px;
	horizontal-align: center;
	vertical-align: center;
}

#RewardsCell .RewardsCellImageContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	margin-bottom: 12px;
}

.AspectRatio21x9 #RewardsCell .RewardsCellImageContainer
{
	padding: 0px 20px;
}

#RewardsCell .RewardsCellImageContainer .RewardsCellImageGlow
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	height: 90%;
	width: height-percentage( 100% );
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(211, 116, 255, 0.8) ), to( rgba(80, 83, 255, 0) ) );
}

#RewardsCell .RewardsCellImageContainer .RewardImagesFX
{
	horizontal-align: center;
	vertical-align: center;
	width: height-percentage(100%);
	height: 150%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	z-index: -5;
}

#RewardsCell .RewardsCellImageContainer #RewardImage1
{
	width: fill-parent-flow(1);
	margin-right: -15%;
	margin-left: -15%;
	margin-bottom: -10%;
	opacity: 0.9;
	wash-color: rgb(230, 213, 255);
	z-index: -2;
	animation-name: BobRewardImage;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage2
{
	width: fill-parent-flow(1);
	margin-right: -15%;
	margin-left: -5%;
	margin-bottom: -10%;
	opacity: 0.9;
	z-index: -1;
	animation-name: BobRewardImage;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage3
{
	z-index: 1;
	width: fill-parent-flow(1.2);
	animation-name: BobRewardImage;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage4
{
	width: fill-parent-flow(1);
	margin-left: -15%;
	margin-right: -5%;
	margin-bottom: -10%;
	opacity: 0.9;
	z-index: -1;
	animation-name: BobRewardImage;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RewardsCell .RewardsCellImageContainer #RewardImage5
{
	width: fill-parent-flow(1);
	margin-left: -15%;
	margin-right: -15%;
	margin-bottom: -10%;
	opacity: 0.9;
	wash-color: rgb(230, 213, 255);
	z-index: -2;
	animation-name: BobRewardImage;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#FantasyCell .FantasyCellPlayersContainer
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	width: 100%;
	margin-bottom: 40px;
}

#FantasyCell .FantasyCellPlayersContainer .FantasyCellPlayersGlow
{
	ignore-parent-flow: true;
	horizontal-align: center;
	height: 100%;
	width: height-percentage( 100% );
	background-color: gradient( radial, 50% 100%, 0% 0%, 50% 100%, from( rgba(211, 116, 255, 0.8) ), to( rgba(80, 83, 255, 0) ) );
}

#FantasyCell .FantasyCellPlayersContainer .FantasyPlayerImage
{
	vertical-align: bottom;
}

#FantasyCell .FantasyCellPlayersContainer #FantasyPlayerLeft
{
	width: fill-parent-flow(1);
	height: width-percentage( 95% );
	margin-right: -20%;
	margin-left: -6%;
	opacity: 0.9;
	wash-color: rgb(230, 213, 255);
	z-index: -1;
}

#FantasyCell .FantasyCellPlayersContainer #FantasyPlayerMiddle
{
	z-index: 1;
	width: fill-parent-flow(1.15);
	height: width-percentage( 95% );
	wash-color: rgba(230, 213, 255, 0.3);
}

#FantasyCell .FantasyCellPlayersContainer #FantasyPlayerRight
{
	width: fill-parent-flow(1);
	height: width-percentage( 95% );
	margin-left: -20%;
	margin-right: -6%;
	opacity: 0.9;
	wash-color: rgb(230, 213, 255);
	z-index: -1;
}

@keyframes 'BobRewardImage'
{
	0%
	{
		transform: translateY( -2px );
	}
	
	100%
	{
		transform: translateY( 2px );
	}
	
}

.BottomCellsContainer
{
	horizontal-align: center;
	width: 100%;
	max-width: 880px;
	margin: 0px 36px;
	flow-children: right;
	box-shadow: 0px 8px 48px -12px rgba(0, 0, 0, 0.6);
}

.BottomCell
{
	width: fill-parent-flow( 1 );
	height: 120px;
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #070926 ), to( #0C104A ) );
	margin: 6px;
	transition-property: brightness, background-color, transform;
	transition-duration: 0.1s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.BottomCell:hover
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #080b31 ), to( #111665 ) );
	transform: scale3d( 1.025, 1.025, 1 );
}

.BottomCell:hover .BottomCellImage
{
	brightness: 1.5;
	transform: scale3d( 1.025, 1.025, 1 );
}

.BottomCell:active
{
	transform: scale3d( 1.025, 1.025, 1 ) translateY( 1px );
	brightness: 0.7;
	sound: "ui_topmenu_activate";
}

.BottomCell .BottomCellImage
{
	transition-property: transform, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: scale3d( 0.99, 0.99, 1 );
	height: 100%;
	horizontal-align: right;
	margin-right: -8%;
}

.BottomCell .CellStarMap
{
	height: 300%;
	width: height-percentage( 100% );
	horizontal-align: right;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.1;
	margin-top: 70%;
	margin-right: -21%;
	wash-color: rgb(152, 140, 255);
}

.BottomCell .BottomCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #EFA1FF ), to( #9365cf22 ) );
}

.BottomCell .BottomCellInfo
{
	width: 100%;
	flow-children: down;
	vertical-align: center;
	margin-left: 24px;
}

.BottomCell .BottomCellInfo Label
{
	text-shadow: 0px 1px 8px black;
}

.BottomCell .BottomCellInfo Label b
{
	font-weight: semi-bold;
}

.BottomCell .BottomCellInfo .BottomCellTitle
{
	color: whitesmoke;
	font-weight: semi-bold;
	text-shadow: 0px 0px 12px rgba(128, 93, 255, 0.6);
	margin-bottom: 2px;
}

.PredictionStage
{
	visibility: collapse;
}

.HasValidPredictionState .PredictionStage
{
	visibility: visible;
}


