/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025Page
{
	width: 100%;
	height: 100%;
}

.BackgroundContainer
{
	width: 100%;
	height: 100%;
}

.BackgroundContainer .BackgroundImage
{
	width: 100%;
	height: 100%;
}

.AsyncContents
{
	width: 100%;
	height: 100%;
}

.AspectRatio16x10 .AsyncContents
{
	width: 100%;
}

.AspectRatio21x9 .AsyncContents
{
	width: 100%;
	margin-left: 400px;
}

#MainContents
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
}

.MainPageContents
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	margin-left: 40px;
	margin-right: 40px;
	flow-children: right;
}

.CenterPanel
{
	width: fill-parent-flow(1);
	height: 100%;
	flow-children: down;
	max-width: 1400px;
	horizontal-align: center;
}

.Header
{
	width: 84%;
	max-width: 900px;
	flow-children: down;
	horizontal-align: center;
	margin-bottom: 8px;
	margin-top: 40px;
}

.Header .MainTitleContainer
{
	horizontal-align: center;
}

.Header .MainTitleContainer .MainTitleGlow
{
	horizontal-align: center;
	vertical-align: center;
	width: 150%;
	height: 150%;
	overflow: noclip;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #be5cff ), color-stop(0.7, #9e75ff14 ), to( #00000000 ) );
	blur: gaussian( 8px );
	-s2-mix-blend-mode: screen;
	opacity: 0.2;
}

.Header .MainTitleContainer .MainTitle
{
	font-size: 56px;
	font-family: titleFont;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
	text-shadow: 0px 0px 48px rgba(209, 124, 255, 0.3);
}

.Header .SubHeader
{
	text-align: center;
	font-family: titleFont;
	font-size: 22px;
	color: #bbbbe5;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	transition-property: color;
	transition-duration: 0.1s;
}

.Header .SubHeader b
{
	color: #f2d79c;
	font-weight: normal;
	text-decoration: underline;
}

.Header .SubHeader a:hover
{
	color: white;
}

.TreasurePreviewContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: -160px;
	overflow: noclip;
	z-index: -1;
}

.AspectRatio21x9 .TreasurePreviewContainer
{
	margin-top: -180px;
}

.TreasurePreviewContainer .TreasurePreviewFloor
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -5%;
	width: 120%;
	overflow: noclip;
	opacity: 0.6;
	wash-color: #b48eff;
}

.TreasurePreviewContainer .TreasurePreviewGlow
{
	width: 80%;
	height: 70%;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #a947ff ), color-stop(0.7, #7575ff14 ), to( #00000000 ) );
	blur: gaussian( 8px );
	-s2-mix-blend-mode: screen;
	opacity: 0.4;
}

.TreasurePreviewContainer .TreasurePreviewModelContainer
{
	width: 380px;
	height: width-percentage( 110% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	transition-property: brightness;
	transition-duration: 0.1s;
	margin: 0px -90px;
}

.AspectRatio21x9 .TreasurePreviewContainer .TreasurePreviewModelContainer
{
	width: 400px;
}

.TreasurePreviewContainer .TreasurePreviewModelContainer .RewardModelPreviewShadow
{
	width: 100%;
	height: 40px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 17%;
}

.TreasurePreviewContainer .TreasurePreviewModelContainer .RewardModelPreview
{
	width: 100%;
	height: width-percentage( 100% );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.TreasurePreviewContainer .TreasurePreviewModelContainer .RewardModelPreview.Flipped
{
	transform: scaleY( -1 ) translateY( 66% );
	opacity: 0.5;
	saturation: 0.3;
	brightness: 2;
	blur: gaussian(0.5px);
	opacity-brush: gradient( linear, 0% 65%, 0% 80%, from( #ffffff00 ), color-stop( 0.5, #ffffff3f ), to( #ffffff ) );
}

.TreasurePreviewContainer .TreasurePreviewModelContainer.Hovered
{
	brightness: 2;
}

.TreasurePreviewContainer .TreasurePreviewModelContainer.Model3
{
	z-index: 3;
	ui-scale: 160%;
	margin: 0px -170px;
	transform: translateY( 0px ) translateX( -10px );
}

.TreasurePreviewContainer .TreasurePreviewModelContainer.Model2,.TreasurePreviewContainer .TreasurePreviewModelContainer.Model4
{
	z-index: 2;
	ui-scale: 120%;
	margin: 0px -160px;
	transform: translateY( 10px );
}

.TreasurePreviewContainer .ModelHitBoxContainer
{
	ignore-parent-flow: true;
	flow-children: right;
	width: 100%;
	height: 100%;
	z-index: 4;
}

.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox
{
	width: fill-parent-flow(1);
	margin: 2px;
	height: 60%;
	background-color: rgba(255, 0, 255, 0);
	horizontal-align: center;
	vertical-align: center;
	margin-top: 10%;
}

.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox:active
{
	sound: "ui_topmenu_activate";
}

.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox.HitBox2,.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox.HitBox4
{
	height: 50%;
}

.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox.HitBox1,.TreasurePreviewContainer .ModelHitBoxContainer .ModelHitBox.HitBox5
{
	height: 40%;
}

.Aegis2025Dark
{
	ignore-parent-flow: true;
	width: 1000px;
	horizontal-align: center;
	opacity: 0.1;
	margin-top: -55%;
	opacity-brush: gradient( linear, 0% 60%, 0% 85%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.AsyncOuterRewardsContainer
{
	width: 100%;
	margin-top: -170px;
	height: fit-children;
}

.AsyncOuterRewardsContainer .AsyncContainer
{
	width: 100%;
	height: fit-children;
}

.AsyncOuterRewardsContainer .AsyncContainer.AsyncFailureContainer,.AsyncOuterRewardsContainer .AsyncContainer.AsyncLoadingContainer
{
	margin-top: 170px;
}

.RewardsPreviewContainer
{
	width: 100%;
	max-width: 960px;
	horizontal-align: center;
	flow-children: right;
}

.RewardsPreviewContainer .RewardPreview
{
	width: fill-parent-flow( 1 );
	flow-children: down;
	margin: 0px 12px;
	padding-top: 40px;
}

.RewardsPreviewContainer .RewardPreview:hover .RewardPreviewImageGlow
{
	opacity: 1;
}

.RewardsPreviewContainer .RewardPreview:hover .RewardPreviewImage
{
	transform: scale3d( 1.1, 1.1, 1 );
	brightness: 1.5;
}

.RewardsPreviewContainer .RewardPreview:hover .RewardPreviewBackgroundGlow
{
	opacity: 0.3;
	transform: scale3d(1.1, 1.1, 1 );
}

.RewardsPreviewContainer .RewardPreview DOTAInternational2025Button
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: 80px;
	visibility: collapse;
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewFX
{
	horizontal-align: center;
	width: height-percentage(100%);
	height: 70%;
	margin-top: -23%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	visibility: collapse;
}

.RewardsPreviewContainer .RewardPreview.AnyClaimable DOTAInternational2025Button
{
	visibility: visible;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.RewardsPreviewContainer .RewardPreview.AnyClaimable .RewardPreviewImageGlow
{
	opacity: 1;
	width: 100%;
	margin-top: -16%;
}

.RewardsPreviewContainer .RewardPreview.AnyClaimable .RewardPreviewFX
{
	visibility: visible;
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewImageGlow
{
	horizontal-align: center;
	margin-top: -8%;
	width: 70%;
	height: width-percentage( 100% );
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #be5cff ), color-stop(0.7, #9e75ff14 ), to( #00000000 ) );
	blur: gaussian( 8px );
	-s2-mix-blend-mode: screen;
	opacity: 0.4;
	transition-property: opacity;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewBackgroundGlow
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	margin-top: -20%;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #925cff ), color-stop(0.7, #9175ff14 ), to( #00000000 ) );
	blur: gaussian( 8px );
	-s2-mix-blend-mode: screen;
	overflow: noclip;
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewImageShadow
{
	horizontal-align: center;
	width: 100%;
	margin-top: -32px;
	margin-bottom: -24px;
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewImage
{
	horizontal-align: center;
	width: 110px;
	transform-origin: 50% 80%;
	transition-property: transform, brightness;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.RewardsPreviewContainer .RewardPreview Label
{
	text-align: center;
	width: 100%;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewTitle
{
	color: #E79EFF;
	color: gradient( linear, 0% 20%, 0% 100%, from( #eaaaff ), to( #ce6eee ) );
	font-family: titleFont;
	color: whitesmoke;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	text-transform: none;
	letter-spacing: 0px;
	font-weight: normal;
}

.RewardsPreviewContainer .RewardPreview .RewardPreviewDescription
{
	color: #babddbde;
	margin-top: 4px;
}

.RewardsPreviewContainer .RewardPreview .AegisInfo
{
	text-align: center;
	font-size: 13px;
	line-height: 1.3;
	color: #b1afd275;
	margin-top: 8px;
	padding-top: 4px;
	border-top: 1px solid rgba(180, 145, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
}

.RightPanel
{
	height: 100%;
	flow-children: down;
	margin-left: 20px;
	padding: 20px;
	width: 440px;
}

.AspectRatio16x10 .RightPanel
{
	width: 368px;
}

.RightPanel .RewardHeader
{
	color: #E79EFF;
	color: gradient( linear, 0% 20%, 0% 100%, from( #eaaaff ), to( #ce6eee ) );
	text-shadow: 1px 1px 12px 3.0 #00000022;
	horizontal-align: center;
	text-align: center;
	padding: 16px 0px 8px;
}

.RightPanel .RewardSummary
{
	horizontal-align: center;
	text-align: center;
	margin-top: -12px;
	color: #aca8e1;
	font-size: 13px;
	margin-bottom: 8px;
}

.RightPanel .RewardContainerDash
{
	width: 100%;
	height: 2px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
}

.RightPanel .RewardContainerDashOrnament
{
	width: 80px;
	horizontal-align: center;
}

.RightPanel .RewardContainerDashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.RightPanel .RewardContainer
{
	width: 100%;
	flow-children: down;
	box-shadow: 0px 4px 48px -2px rgba(0, 0, 0, 0.4);
}

.RightPanel .RewardContainer .RewardsContainerBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgb(218, 201, 255);
	opacity: 0.02;
}

.RightPanel .RewardContainer.ParticipationRewards
{
	height: 156px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #060d3c ), to( #06021e) );
}

.RightPanel .RewardContainer .HeaderRow
{
	flow-children: right;
	width: 100%;
	background-color: #020517;
	padding: 8px 16px;
	padding-left: 20px;
}

.RightPanel .RewardContainer .HeaderRow .HeaderCategory
{
	width: fill-parent-flow(1.0);
	text-overflow: shrink;
	text-align: center;
	vertical-align: center;
	line-height: 1;
	color: #b4b4e996;
	letter-spacing: 0.3px;
}

.RightPanel .RewardContainer .HeaderRow .HeaderCategory.RankColumn
{
	text-align: left;
	width: fill-parent-flow(1.5);
}

.RightPanel .RewardContainer #PerformanceRewardContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.RightPanel .RewardContainer #ShardsRewardContainer
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #060d3c ), to( #06021e) );
	border-top: 1px solid rgba(255, 255, 255, 0.01);
	padding: 12px 6px;
	flow-children: down;
}

.RightPanel .RewardContainer #ShardsRewardContainer .ShardsRewardContent
{
	flow-children: right;
	horizontal-align: center;
	margin-left: -6px;
}

.RightPanel .RewardContainer #ShardsRewardContainer .ShardsRewardContent .ShardsIcon
{
	width: 26px;
	height: 26px;
	margin-right: 6px;
	margin-top: -2px;
	background-image: dotaPlusCurrencySmallIcon;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.RightPanel .RewardContainer #ShardsRewardContainer .ShardsRewardContent .ShardsRewardDescription
{
	font-size: 14px;
	text-align: center;
	font-family: titleFont;
	color: whitesmoke;
	margin-top: 1px;
	text-shadow: textShadowSmall;
}

.RightPanel .RewardContainer #ShardsRewardContainer .ClaimShardsButton
{
	margin: 4px 25% 2px;
	horizontal-align: center;
	visibility: collapse;
}

.RightPanel .RewardContainer #ShardsRewardContainer .AnyClaimableBackground
{
	width: 90%;
	height: 150%;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	overflow: noclip;
}

.RightPanel .RewardContainer #ShardsRewardContainer.AnyClaimable .AnyClaimableBackground
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(179, 137, 255) ), color-stop(0.5, rgba(198, 137, 255, 0.146) ), to( gold2&00 ) );
}

.RightPanel .RewardContainer #ShardsRewardContainer.AnyClaimable .ClaimShardsButton
{
	visibility: visible;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.RightPanel .RewardContainer .RewardRow
{
	width: 100%;
	height: fit-children;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #060d3c ), to( #06021e) );
	border-top: 1px solid rgba(255, 255, 255, 0.01);
	padding: 4px 16px 6px;
	padding-left: 20px;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn
{
	width: fill-parent-flow(1.0);
	opacity: 0.1;
	font-size: 16px;
	text-overflow: shrink;
	flow-children: down;
	vertical-align: center;
}

.AspectRatio16x10 .RightPanel .RewardContainer .RewardRow .RewardColumn
{
	margin: 0px -8px;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn Label
{
	text-overflow: shrink;
	font-size: 14px;
	text-align: center;
	font-family: titleFont;
	color: whitesmoke;
	margin-top: -1px;
	width: 100%;
	height: 20px;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn.RankColumn
{
	width: fill-parent-flow(1.5);
	color: #babddbea;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.AspectRatio16x10 .RightPanel .RewardContainer .RewardRow .RewardColumn.RankColumn
{
	margin: 0px;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn.HasRewards,.RightPanel .RewardContainer .RewardRow .RewardColumn.RankColumn
{
	opacity: 1.0;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn.HasRewards .RewardPreviewImageGlow
{
	opacity: 0.4;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn .RewardImage
{
	width: 54px;
	height: width-percentage( 100% );
	background-size: cover;
	horizontal-align: center;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn .RewardPreviewImageGlow
{
	horizontal-align: center;
	width: 68px;
	margin-top: -6px;
	overflow: noclip;
	height: width-percentage( 100% );
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #be5cff ), color-stop(0.7, #9e75ff14 ), to( #00000000 ) );
	blur: gaussian( 8px );
	-s2-mix-blend-mode: screen;
	opacity: 0;
}

.RightPanel .RewardContainer .RewardRow .RewardColumn .RewardLabel
{
	horizontal-align: center;
}

.RightPanel .RewardContainer .RewardRow #PlusReward .RewardImage
{
	background-image: url("s2r://panorama/images/events/international_2025/artwork/dota_plus_png.vtex");
}

.RightPanel .RewardContainer .RewardRow #ArcanaReward .RewardImage
{
	background-image: url("s2r://panorama/images/events/international_2025/artwork/arcana_token_png.vtex");
}

.RightPanel .RewardContainer .RewardRow #AegisReward .RewardImage
{
	background-image: url("s2r://panorama/images/events/international_2025/artwork/aegis_png.vtex");
}

.RightPanel .RewardContainer .RewardRow #WitnessReward .RewardImage
{
	background-image: url("s2r://panorama/images/events/international_2025/artwork/purple_witness_png.vtex");
}

.RightPanel .ParticipationRewards
{
	flow-children: right;
}

.RightPanel .ParticipationRewards .ParticipationRewardDivider
{
	height: 100%;
	width: 1px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.1) ), color-stop( 0.1, rgba(255, 255, 255, 0.5) ), color-stop( 0.5, white ), color-stop( 0.9, rgba(255, 255, 255, 0.5) ), to( rgba(255, 255, 255, 0.1) ) );
	wash-color: rgb(170, 166, 255);
	opacity: 0.07;
}

.RightPanel .ParticipationRewards .ParticipationRewardDivider.Shadow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0.1) ), color-stop( 0.1, rgba(0, 0, 0, 0.5) ), color-stop( 0.5, black ), color-stop( 0.9, rgba(0, 0, 0, 0.5) ), to( rgba(0, 0, 0, 0.1) ) );
	opacity: 1;
}

.RightPanel .ParticipationRewards .ParticipationRewardLabel
{
	font-size: 16px;
	font-family: titleFont;
	color: whitesmoke;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	horizontal-align: center;
	margin: 8px 0px;
}

.RightPanel .ParticipationRewards .Spacer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
}

.RightPanel .ParticipationRewards .ParticpationPreview
{
	width: 100%;
	height: fill-parent-flow(1);
	horizontal-align: center;
}

.RightPanel .ParticipationRewards .ParticpationPreview DOTAEmoticon
{
	horizontal-align: center;
	vertical-align: center;
	width: 44px;
	height: width-percentage( 100% );
}

.RightPanel .ParticipationRewards .ParticpationPreview .WallpaperRewardImage
{
	horizontal-align: center;
	vertical-align: center;
	width: height-percentage(100%);
	height: 130%;
	overflow: noclip;
	brightness: 1.5;
}

.RightPanel .ParticipationRewards .RewardClaimable
{
	width: 20%;
	vertical-align: center;
}

.RightPanel .ParticipationRewards DOTAInternational2025Button
{
	horizontal-align: center;
	visibility: collapse;
	width: 100%;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.RightPanel .ParticipationRewards .ParticipationRewardClaimed
{
	horizontal-align: center;
	width: 100%;
	border-top: 1px solid rgba(188, 177, 255, 0.084);
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 1;
	padding: 5px 10px 2px;
	font-weight: normal;
	letter-spacing: 1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
}

.RightPanel .ParticipationRewards .ParticpationPreviewFX
{
	horizontal-align: center;
	vertical-align: center;
	width: height-percentage(100%);
	height: 300%;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	visibility: collapse;
}

.RightPanel .ParticipationRewards .CustomizeChatWheelButton,.RightPanel .ParticipationRewards .CustomizeLoadingScreensButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	tooltip-position: left;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0;
}

.RightPanel .ParticipationRewards #AegisEmoticonClaim:hover .CustomizeChatWheelButton
{
	opacity: 1;
}

.RightPanel .ParticipationRewards #WallpaperClaim:hover .CustomizeLoadingScreensButton
{
	opacity: 1;
}

.RightPanel .ParticipationRewards .ParticipationReward
{
	width: fill-parent-flow(1);
	flow-children: down;
	padding: 12px;
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable
{
	background-color: gradient( radial, 50% 35%, 0% 0%, 50% 60%, from( rgb(179, 137, 255) ), color-stop(0.5, rgba(198, 137, 255, 0.146) ), to( gold2&00 ) );
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable DOTAInternational2025Button
{
	visibility: visible;
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable .ParticipationRewardClaimed
{
	visibility: collapse;
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable .ParticpationPreviewFX
{
	visibility: visible;
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable .CustomizeChatWheelButton
{
	visibility: collapse;
}

.RightPanel .ParticipationRewards .ParticipationReward.AnyClaimable .CustomizeLoadingScreensButton
{
	visibility: collapse;
}

#RightPanelContainer .AsyncContainer
{
	width: 440px;
	height: 1000px;
}

#RightPanelContainer .AsyncContainer .LoadingContents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
}

#RightPanelContainer .AsyncContainer .LoadingContents Label,#RightPanelContainer .AsyncContainer .LoadingContents .Spinner
{
	horizontal-align: center;
}

.BPSharedPageContainer
{
	padding: 0px;
	margin-left: 400px;
}

.AspectRatio21x9 .BPSharedPageContainer
{
	padding-left: 0px;
	padding-right: 0px;
}

.RewardClaimable
{
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.49, #CCA160 ), color-stop( 0.51, #B88943 ), to( #7F5C26 ) );
	padding: 1px 6px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	width: 100%;
	animation-name: GlowUnclaimedRewardsBadge;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
	visibility: collapse;
}

.RewardClaimable Label
{
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
	font-size: 15px;
	height: 18px;
	max-width: 180px;
	text-overflow: shrink;
}

.AnyClaimable .RewardClaimable
{
	visibility: visible;
}


