/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025ItemClaimPopup
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	margin: 40px 80px;
	max-width: 1920px;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTAInternational2025ItemClaimPopup.ItemCount5
{
	height: 900px;
}

DOTAInternational2025ItemClaimPopup.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.AspectRatio16x10 DOTAInternational2025ItemClaimPopup
{
	margin: 40px;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.PageHeaderContainer
{
	flow-children: down;
	width: 100%;
	padding: 28px 32px 8px;
	z-index: 1;
}

.PageHeaderContainer #CloseButton
{
	ignore-parent-flow: true;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 8px;
}

.PageHeaderContainer .AllowDuplicatesCheckbox
{
	ignore-parent-flow: true;
	vertical-align: center;
}

.PageHeaderContainer .AllowDuplicatesCheckbox Label
{
	color: rgba(209, 211, 227, 0.845);
}

.PageHeaderContainer .AllowDuplicatesCheckbox:hover Label
{
	color: rgb(255, 255, 255);
}

.PageHeaderContainer Label
{
	horizontal-align: center;
	text-align: center;
}

.PageHeaderContainer .PageTitle
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
	margin-bottom: -4px;
}

.PageHeaderContainer .PageSubtitle
{
	color: rgba(189, 193, 234, 0.658);
}

.ClaimsRemainingContainer
{
	horizontal-align: center;
	margin-top: 16px;
	padding: 2px 160px;
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(18, 13, 46, 0) ), color-stop( 0.2, rgba(18, 9, 52, 0.8) ), color-stop( 0.5, rgb(22, 14, 55) ), color-stop( 0.8, rgba(18, 9, 52, 0.8) ), to( rgba(14, 14, 39, 0) ) );
	border: 1px solid rgba(213, 170, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	visibility: collapse;
}

.ClaimsRemainingContainer .ClaimsRemainingTypeImage
{
	width: 48px;
	height: width-percentage( 100% );
	margin-right: 4px;
	background-size: cover;
	background-image: url("s2r://panorama/images/events/international_2025/artwork/arcana_token_png.vtex");
}

.ItemCount5 .ClaimsRemainingContainer .ClaimsRemainingTypeImage
{
	background-image: url("s2r://panorama/images/events/international_2025/artwork/purple_witness_png.vtex");
}

.ClaimsRemainingContainer .ClaimsRemainingDescription,.ClaimsRemainingContainer .ClaimsRemainingCountLabel
{
	text-align: center;
	font-family: titleFont;
	font-size: 20px;
	color: #c4c4ffe3;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	vertical-align: center;
}

.ClaimsRemainingContainer .ClaimsRemainingCountLabel
{
	font-weight: semi-bold;
	color: whitesmoke;
	padding: 2px 14px;
	border-radius: 4px;
	border: 1px solid #d7ccff;
	box-shadow: 0px 0px 24px -1px #7a55ff4c;
	margin-left: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #190B3A ), to( #2D256F ) );
	animation-name: GlowRewardsCount;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.EligibleToClaim .ClaimsRemainingContainer
{
	visibility: visible;
}

@keyframes 'GlowRewardsCount'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px -2px #7a55ff33;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 32px -2px #7a55ff99;
	}
	
}

.PageLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 12px 24px black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.6;
}

.ItemContainerOuter
{
	width: 100%;
	height: 100%;
	overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll_psd.vtex");
	padding: 16px 32px 36px;
}

.ItemContainerOuter VerticalScrollBar
{
	margin: 16px 0px 0px;
}

#ItemContainer
{
	width: 100%;
	flow-children: right-wrap;
}

.ChoiceItem
{
	width: 19.97%;
	height: width-percentage( 150% );
	overflow: clip;
	padding: 0px 8px 16px;
	box-shadow: 0px 2px 36px -16px rgba(0, 0, 0, 0.6);
}

.ChoiceItem:hover #InfoButton
{
	opacity: 1;
}

.ChoiceItem #HeroLoadoutBackgroundImageContainer .PanelBackground
{
	width: 100%;
	height: 100%;
	transform: scale3d( 1.5, 1.5, 1 );
	brightness: 0.3;
}

.ItemCount5 .ChoiceItem
{
	height: width-percentage( 170% );
}

.ItemCount5 .ChoiceItem #HeroLoadoutBackgroundImageContainer
{
	background-color: gradient( radial, 50% 35%, 0% 0%, 140% 70%, from( #6854dc ), color-stop( 0.5, #230d48 ), to( #0f0d1f ) );
	saturation: 1;
}

.ItemCount5 .ChoiceItem #HeroLoadoutBackgroundImageContainer .PanelBackground
{
	visibility: collapse;
}

.ItemCount5 .ChoiceItem .CellStarMap
{
	visibility: visible;
}

.ChoiceItem .CellStarMap
{
	width: 180%;
	height: width-percentage( 100% );
	margin-top: -50%;
	transform: scaleY( -1 );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.25;
	wash-color: rgb(152, 140, 255);
	opacity-brush: gradient( linear, 0% 70%, 0% 20%, from( #ffffff ), to( #ffffff00 ) );
	visibility: collapse;
}

.ChoiceItem .ChoiceItemBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.5, #4c4168 ), to( #71668c ) );
}

.ChoiceItem .ChoiceItemInnerShadow
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 3px solid rgb(0, 0, 0);
	opacity: 0.5;
}

.ChoiceItem #InfoButton
{
	vertical-align: top;
	horizontal-align: left;
	margin: 10px;
	background-color: rgba(14, 13, 17, 0.98);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( LightestGrey ), to( Grey ) );
	box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
	padding: 3px;
	opacity: 0.2;
	transition-property: opacity, border, background-color;
	transition-duration: 0.1s;
}

.ChoiceItem #InfoButton:hover
{
	opacity: 1;
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(14, 13, 17, 1);
}

.ChoiceItem #InfoButton:hover .InfoIconImage
{
	wash-color: LightestGrey;
}

.ChoiceItem #InfoButton .InfoIconImage
{
	wash-color: LighterGrey;
	width: 18px;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.ChoiceItem .ItemInfo
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
	padding: 16px;
}

.ChoiceItem .ItemInfo Label
{
	horizontal-align: center;
	text-align: center;
}

.ChoiceItem .ItemInfo #ClaimButton
{
	horizontal-align: center;
	width: 60%;
}

.ChoiceItem .ItemInfo .HeroName
{
	margin-bottom: 4px;
	color: rgba(245, 245, 245, 0.7);
	text-shadow: 0px 2px 8px black;
}

.ChoiceItem .ItemInfo .ItemName
{
	margin-bottom: 8px;
	color: whitesmoke;
	font-family: titleFont;
	text-shadow: 0px 2px 12px black;
}

.ChoiceItem .ItemInfo .ReleaseDate
{
	color: rgba(229, 227, 255, 0.3);
	text-shadow: 0px 2px 8px black;
	margin-top: 6px;
	font-size: 15px;
	width: 100%;
	height: 20px;
	text-overflow: shrink;
}

.ChoiceItem .ItemInfo .AlreadyOwned
{
	margin: 10px 0px 13px;
	color: whitesmoke;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.ChoiceItem .ItemInfo .HorizontalRule
{
	width: fill-parent-flow( 1.0 );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	height: 1px;
	vertical-align: center;
	margin-left: 4px;
	margin-right: 4px;
	opacity: 0.1;
}

.ChoiceItem .ModelPreviewContainer
{
	width: 100%;
	height: 100%;
	opacity-brush: gradient( linear, 0% 65%, 0% 95%, from( #ffffff ), color-stop(0.5, #ffffff11 ), to( #ffffff00 ) );
	overflow: clip;
}

.ChoiceItem .ModelPreviewContainer #ModelPreview
{
	width: 150%;
	height: 150%;
	vertical-align: center;
	horizontal-align: center;
	margin-top: -5%;
}

.ChoiceItem.skywrath_mage #ModelPreview,.ChoiceItem.vengefulspirit #ModelPreview
{
	width: 200%;
	height: 200%;
	margin-top: 5%;
}

.ChoiceItem.juggernaut #ModelPreview
{
	width: 165%;
	height: 165%;
	margin-top: -10%;
	margin-left: 10%;
}

.ChoiceItem.ogre_magi #ModelPreview,.ChoiceItem.pudge #ModelPreview,.ChoiceItem.rubick #ModelPreview,.ChoiceItem.techies #ModelPreview
{
	width: 135%;
	height: 135%;
}

.ChoiceItem.nevermore #ModelPreview,.ChoiceItem.terrorblade #ModelPreview
{
	width: 110%;
	height: 110%;
	margin-top: 5%;
}

.ChoiceItem.rubick #ModelPreview
{
	margin-top: 8%;
}

.ChoiceItem.techies #ModelPreview
{
	margin-top: -50%;
}

.ChoiceItem.spirit_breaker #ModelPreview
{
	width: 135%;
	height: 135%;
	margin-top: -35%;
}

.ChoiceItem.queenofpain #ModelPreview
{
	width: 170%;
	height: 170%;
	margin-top: -20%;
}

.ChoiceItem.phantom_lancer #ModelPreview
{
	width: 170%;
	height: 170%;
	margin-top: -20%;
	margin-left: -10%;
}

.ChoiceItem.lion #ModelPreview
{
	margin-top: -15%;
}

.ChoiceItem.shadow_shaman #ModelPreview
{
	margin-left: -5%;
	margin-top: -15%;
}

.OwnedOnly,.ItemOwned #ClaimButton
{
	visibility: collapse;
}

.ItemOwned .OwnedOnly
{
	visibility: visible;
}


