/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025PredictionRankings
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

.SummaryTextContainer
{
	width: 100%;
	padding: 20px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(13, 6, 50, 0.95) ), to( rgba(14, 14, 39, 0) ) );
	border: 1px solid rgba(158, 128, 255, 0.1);
	border-bottom: 0px;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	visibility: collapse;
}

.SummaryTextContainer .SummaryText
{
	width: 85%;
	horizontal-align: center;
	font-family: titleFont;
	font-size: 20px;
	text-align: center;
	color: #bbbbe5;
	text-shadow: textShadowMedium;
}

.PredictionWrapper
{
	width: 100%;
	flow-children: down;
}

.ShowResultsPopup .PredictionWrapper
{
	opacity: 0.2;
	brightness: 0.5;
}

.LockedPredictionsPanel
{
	width: 100%;
	height: 88%;
	ignore-parent-flow: true;
	visibility: collapse;
}

.PredictionGroups
{
	width: 100%;
	flow-children: right;
	margin-right: 5px;
}

.PredictionGroups .PredictionGroup
{
	flow-children: right;
	padding: 16px 6px;
	width: fill-parent-flow(1);
}

.PredictionGroups .PredictionGroup .GroupTitle
{
	margin: 0px 8px;
	text-align: center;
	color: #beb5f3;
	font-weight: semi-bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
	text-shadow: textShadowSmall;
}

.PredictionGroups .PredictionGroup .GroupNote
{
	ignore-parent-flow: true;
	horizontal-align: center;
	text-shadow: textShadowSmall;
	text-align: center;
	font-size: 14px;
	color: rgba(166, 167, 235, 0.5);
}

.PredictionGroups .PredictionGroup .Dash
{
	width: fill-parent-flow(1);
	height: 24px;
	border: 1px solid rgba(186, 154, 255, 0.3);
}

.PredictionGroups .PredictionGroup .Dash.Left
{
	border-right: 0px;
}

.PredictionGroups .PredictionGroup .Dash.Right
{
	border-left: 0px;
}

.PredictionGroups .PredictionGroup.1_col
{
	width: 12.5%;
}

.PredictionGroups .PredictionGroup.2_col
{
	width: 25%;
}

.PredictionGroups.Bottom .GroupTitle
{
	vertical-align: bottom;
	margin-bottom: -8px;
}

.PredictionGroups.Bottom .GroupNote
{
	transform: translateY( -8px );
}

.PredictionGroups.Bottom .Dash
{
	border-top: 0px;
	border-brush: gradient( linear, 0% 100%, 0% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.PredictionGroups.Top .GroupTitle
{
	margin-top: -8px;
	vertical-align: top;
}

.PredictionGroups.Top .GroupNote
{
	transform: translateY( 12px );
}

.PredictionGroups.Top .Dash
{
	border-bottom: 0px;
	vertical-align: bottom;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

#PredictionContainer
{
	width: 100%;
	height: 560px;
	flow-children: right-wrap;
}

.TeamPredictionCell
{
	width: 12.45%;
	height: 280px;
	padding: 6px;
	box-shadow: 0px 4px 32px -8px rgba(0, 0, 0, 0.5);
	transition-duration: 0.15s;
	transition-property: brightness, background-color, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TeamPredictionCell .TeamPrediction
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #060425 ), to( #0f0632 ) );
	transition-duration: 0.05s;
	transition-property: transform;
}

.TeamPredictionCell Label
{
	horizontal-align: center;
	text-align: center;
	width: 100%;
	margin-top: 16px;
}

.TeamPredictionCell .TeamChosenFX
{
	width: 150%;
	height: 150%;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 40px;
	hue-rotation: -130deg;
	overflow: noclip;
	opacity: 0;
}

.TeamPredictionCell .TeamLabel,.TeamPredictionCell .ChooseTeamLabel
{
	width: 100%;
	padding: 12px 12px 20px;
	horizontal-align: center;
	vertical-align: bottom;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: textShadowSmall;
}

.TeamPredictionCell .ChooseTeamLabel
{
	animation-name: SelectTeamLabelGlow;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.TeamPredictionCell .TeamLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #eceeff ), to( #b0b3d7 ) );
}

.TeamPredictionCell .RankingLabel
{
	visibility: collapse;
	margin: 12px;
	text-align: center;
	color: #b6a8f485;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 12px;
	text-shadow: textShadowSmall;
}

.TeamPredictionCell .CellStarMap
{
	width: 300%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0;
	margin-top: 100px;
	wash-color: rgb(152, 140, 255);
	transition-duration: 0.15s;
	transition-property: opacity;
}

.TeamPredictionCell #team_image
{
	width: 110px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 40px;
	opacity: 0;
	transform: scale3d( 2, 2, 1 );
	transition-duration: 0.2s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TeamPredictionCell #team_image Image
{
	img-shadow: 0px 4px 16px black;
}

.TeamPredictionCell .EmptyTeamLogo
{
	width: 110px;
	horizontal-align: center;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #8c4abc ), to( #632e9f ) );
	margin-bottom: 40px;
	opacity: 1;
	transition-duration: 0.1s;
	transition-property: opacity;
}

.TeamPredictionCell .TeamBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(175, 143, 255, 0.3);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
	transition-duration: 0.15s;
	transition-property: border;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TeamPredictionCell .ResultBorder
{
	width: 100%;
	height: 100%;
	margin: -1px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #a0a0a0 ) );
	visibility: collapse;
}

.TeamPredictionCell .ResultCheck
{
	horizontal-align: right;
	wash-color: winnerGreen;
	visibility: collapse;
}

.TeamPredictionCell .ResultCross
{
	horizontal-align: right;
	wash-color: loserRed;
	visibility: collapse;
}

.TeamPredictionCell .SelectedShimmer
{
	width: 100%;
	height: 100%;
}

.TeamPredictionCell .TeamLockIcon
{
	margin: 6px;
	width: 20px;
	img-shadow: 0px 2px 12px black;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ecdcff ), to( #bda5d1 ) );
	opacity: 0.8;
	padding: 2px;
	visibility: collapse;
}

.TeamPredictionCell.HasPrediction #team_image
{
	opacity: 1;
	transform: none;
	transition-delay: 0s, 0.2s;
}

.TeamPredictionCell.HasPrediction .EmptyTeamLogo
{
	opacity: 0;
	transition-duration: 0.3s;
	transition-delay: 0.2s;
}

.TeamPredictionCell.HasPrediction.Selected
{
	z-index: 1;
	sound: "ui_player_beacon_appear";
}

.TeamPredictionCell.HasPrediction.Selected .TeamPrediction
{
	animation-name: SelectTeam;
	animation-duration: 0.4s;
	animation-timing-function: ease-out;
}

.TeamPredictionCell.HasPrediction.Selected .TeamChosenFX
{
	animation-name: SelectTeamFX;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

.TeamPredictionCell.HasPrediction.Selected .SelectedShimmer
{
	wash-color: rgb(232, 198, 255);
	animation-name: Shimmer;
	animation-duration: 0.5s;
	animation-timing-function: ease-out;
	-s2-mix-blend-mode: screen;
}

.TeamPredictionCell.HasPrediction.UnknownPrediction .TeamPrediction
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #170c36 ), color-stop( 0.5, #200C5C ), to( #581192 ) );
}

.TeamPredictionCell.HasPrediction.UnknownPrediction .CellStarMap
{
	opacity: 0.1;
}

.TeamPredictionCell.HasPrediction.HasPrediction .TeamPrediction
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #170c36 ), color-stop( 0.5, #200C5C ), to( #581192 ) );
}

.TeamPredictionCell.HasPrediction.HasPrediction .CellStarMap
{
	opacity: 0.1;
}

.TeamPredictionCell.HasPrediction.HasPrediction .ChooseTeamLabel
{
	opacity: 0;
}

.TeamPredictionCell.HasPrediction.CorrectPrediction
{
	opacity: 1;
}

.TeamPredictionCell.HasPrediction.CorrectPrediction .ResultBorder
{
	border: 2px solid winnerGreen;
	visibility: visible;
}

.TeamPredictionCell.HasPrediction.CorrectPrediction .ResultCheck
{
	visibility: visible;
}

.TeamPredictionCell.HasPrediction.CorrectPrediction .TeamLockIcon
{
	visibility: collapse;
}

.TeamPredictionCell.HasPrediction.IncorrectPrediction
{
	opacity: 1;
}

.TeamPredictionCell.HasPrediction.IncorrectPrediction .ResultBorder
{
	border: 2px solid loserRed;
	visibility: visible;
}

.TeamPredictionCell.HasPrediction.IncorrectPrediction .ResultCross
{
	visibility: visible;
}

.TeamPredictionCell.HasPrediction.IncorrectPrediction .TeamLockIcon
{
	visibility: collapse;
}

.TeamPredictionCell:hover
{
	brightness: 2;
}

.TeamPredictionCell:hover .TeamBorder
{
	border: 1px solid rgba(221, 208, 255, 0.5);
}

.TeamPredictionCell:active
{
	sound: "ui_generic_button_click";
}

.TeamPredictionCell:active .TeamPrediction
{
	transform: scale3d( 0.98, 0.98, 1 );
}

.PredictionsLocked .TeamPredictionCell:hover
{
	brightness: 1;
}

.PredictionsLocked .TeamPredictionCell:hover .TeamBorder
{
	border: 1px solid rgba(175, 143, 255, 0.3);
}

.PredictionsLocked .TeamPredictionCell:active
{
	sound: "";
}

.PredictionsLocked .TeamPredictionCell:active .TeamPrediction
{
	transform: scale3d( 1, 1, 1 );
}

.PredictionsLocked .TeamLockIcon
{
	visibility: visible;
}

.PredictionsLocked .ChooseTeamLabel
{
	visibility: collapse;
}

.DebugRow
{
	visibility: collapse;
	background-color: firebrick;
	margin-top: 24px;
}

.MainBranch .DebugRow
{
	visibility: visible;
}

.DebugRow .DebugButton
{
	margin-left: 10px;
	text-decoration: underline;
}

.DebugRow .DebugButton:hover
{
	brightness: 1.5;
}

@keyframes 'Shimmer'
{
	0%
	{
		background-color: gradient( linear, -50% -50%, 0% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF11 ), to( #FFFFFF00 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 100% 100%, 150% 150%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF11 ), to( #FFFFFF00 ) );
	}
	
}

@keyframes 'SelectTeam'
{
	0%
	{
		transform: none;
	}
	
	20%
	{
		transform: scale3d( 0.95, 0.95, 1 );
		brightness: 4;
	}
	
	100%
	{
		transform: none;
	}
	
}

@keyframes 'SelectTeamFX'
{
	0%
	{
		opacity: 0;
	}
	
	10%
	{
		opacity: 1;
		brightness: 1;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

@keyframes 'SelectTeamLabelGlow'
{
	0%
	{
		text-shadow: 0px 0px 12px gold1&11;
	}
	
	100%
	{
		text-shadow: 0px 0px 12px gold1&10;
		brightness: 4;
	}
	
}

