/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025TalentPage.DashboardPage
{
	width:100%;
	height: 100%;
}

.HeaderRight
{
	horizontal-align: right;
	ignore-parent-flow: true;
}

.HeaderRight #LanguageSelection
{
	vertical-align: bottom;
	margin-bottom: 20px;
}

.HeaderRight #LanguageSelection #LanguageDropDown
{
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.027);
}

.HeaderRight #LanguageSelection #LanguageDropDown Label
{
	color: white;
}

.HeaderRight #LanguageSelection Label
{
	vertical-align: center;
	margin-right: 16px;
	text-shadow: 0px 2px 8px black;
}

.HeaderRight #LanguageSelection .DropdownLabel
{
	color: #9BCBAD;
}

.BPSharedPageContainer,.BPSharedPageContainer.AsyncContainer
{
	margin-bottom: 96px;
}

.TalentContainer
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow(1);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(11, 8, 48, 0.929) ), color-stop( 0.5, rgba(28, 6, 47, 0.902) ), to( rgba(8, 10, 47, 0.87) ) );
	margin-top: -4px;
}

.TalentContainer .TalentContainerBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(214, 197, 255, 0.1);
	z-index: 1;
}

.TalentContainer .TalentContainerDash
{
	width: 100%;
	height: 1px;
	ignore-parent-flow: true;
	z-index: 1;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	wash-color: rgb(149, 122, 255);
	opacity: 0.1;
}

.TalentCategoriesContainer
{
	width: 100%;
	background-color: gradient( radial, 50% 0%, 0% 0%, 70% 100%, from( #281464 ), to( #0d0736) );
	border-bottom: 1px solid rgba(214, 197, 255, 0.02);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid black;
	box-shadow: 0px 1px 0px rgba(209, 186, 255, 0.02);
	z-index: 1;
}

.TalentCategoriesContainer #TalentCategories
{
	flow-children: right;
	horizontal-align: center;
	padding: 6px;
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection
{
	padding: 8px 16px;
	border-radius: 3px;
	border: 1px solid rgba(214, 167, 255, 0);
	margin: 0px 2px;
	flow-children: right;
	transition-duration: 0.1s;
	transition-property: transform;
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-align: center;
	text-overflow: shrink;
	text-shadow: textShadowMedium;
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection .NewBadge
{
	visibility: collapse;
	vertical-align: center;
	padding: 1px 4px;
	background-color: winnerGreenLow&88;
	margin-left: 5px;
	margin-right: -5px;
	transform: translateY( -1px );
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: semi-bold;
	letter-spacing: 0.5px;
	text-align: center;
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection.New .NewBadge
{
	visibility: visible;
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection:hover
{
	background-color: rgba(165, 116, 255, 0.05);
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection.Selected
{
	border: 1px solid rgba(214, 167, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.4) ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a34a0 ), to( #231556 ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection.Selected Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(168, 98, 255, 0.4);
}

.TalentCategoriesContainer #TalentCategories .TalentCategorySelection:active
{
	transform: translateY( 1px );
	sound: "ui_select_arrow";
}

#TalentWell
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: right-wrap;
	overflow: squish scroll;
	padding: 10px 12px 12px;
}

.TalentPanel
{
	width: 16.58%;
	padding: 6px;
	box-shadow: 0px 4px 32px -8px rgba(0, 0, 0, 0.5);
	transition-property: brightness, transform;
	transition-duration: 0.15s;
}

.TalentPanel.CommunityBundle
{
	width: 20.98%;
}

.TalentPanel.CommunityBundle .TalentRewardsContainer
{
	height: 130px;
	flow-children: up;
}

.TalentPanel.CommunityBundle .TalentDetails
{
	ignore-parent-flow: true;
	margin-top: 26%;
	z-index: 1;
}

.TalentPanel.CommunityBundle #TalentImage
{
	visibility: collapse;
}

.TalentPanel.CommunityBundle .CommunityBroadcastText
{
	visibility: visible;
}

.TalentPanel.CommunityBundle .HeadsetImage
{
	visibility: visible;
}

.TalentPanel.CommunityBundle .CellStarMap
{
	width: 220%;
	opacity: 0.3;
	margin-top: 60px;
}

.TalentPanel.CommunityBundle.SupporterLevel1 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/dpc/supclub_bronze_square_psd.vtex");
}

.TalentPanel.CommunityBundle.SupporterLevel2 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/dpc/supclub_silver_square_psd.vtex");
}

.TalentPanel.CommunityBundle.SupporterLevel3 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/dpc/supclub_gold_square_psd.vtex");
}

.TalentPanel.CommunityBundle .TalentContent .TalentImageContainer .SupporterLevelLabels
{
	visibility: collapse;
}

.TalentPanel .CommunityBroadcastText
{
	margin: 12px 0px 16px;
	horizontal-align: center;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c4c7df ), to( #8d91bc ) );
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	text-shadow: textShadowSmall;
	visibility: collapse;
}

.TalentPanel .HeadsetImage
{
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	transform: translateY( -12px );
	visibility: collapse;
}

.TalentPanel .TalentContent
{
	width: 100%;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 65%, from( #0E0722 ), color-stop( 0.5, #200C5C ), to( #581192 ) );
	background-size: cover;
	background-position: center;
}

.TalentPanel .CellStarMap
{
	width: 250%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.2;
	margin-top: 40px;
	wash-color: rgb(152, 140, 255);
	ignore-parent-flow: true;
	transform: scaleY( -1 );
}

.TalentPanel .TalentImageContainer
{
	width: 100%;
	height: width-percentage( 100% );
}

.TalentPanel .TalentImageContainer .TalentImageGlow
{
	overflow: noclip;
	width: 150%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 70%, 0% 0%, 60% 50%, from( white ), color-stop( 0.5, rgba(255, 255, 255, 0.5) ), to( rgba(255, 255, 255, 0) ) );
	wash-color: #8947ec;
	opacity: 0.5;
}

.TalentPanel .TalentImageContainer #TalentImage
{
	width: 100%;
	height: 100%;
}

.TalentPanel .TalentImageContainer .SupportedText
{
	visibility: collapse;
	text-align: center;
	horizontal-align: center;
	color: rgb(115, 198, 132);
}

.TalentPanel .TalentDetails
{
	width: 100%;
	flow-children: down;
	padding: 16px 8px 0px;
}

.TalentPanel .TalentDetails Label
{
	text-shadow: 0px 2px 8px black;
	transition-property: color;
	transition-duration: 0.1s;
}

.TalentPanel .TalentDetails .Name
{
	width: 100%;
	text-align: center;
	font-family: titleFont;
	vertical-align: bottom;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #d4d7ed ) );
	text-shadow: textShadowMedium;
}

.TalentPanel .TalentDetails .RealName
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
	height: 32px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c4c7df ), to( #8d91bc ) );
	font-size: 15px;
	text-align: center;
	text-shadow: textShadowSmall;
	text-overflow: shrink;
}

.TalentPanel .TalentBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(175, 143, 255, 0.2);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
	transition-property: border;
	transition-duration: 0.1s;
}

.TalentPanel .Title
{
	margin-top: 2px;
	color: #2f7eb1;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 1.5px;
	visibility: collapse;
}

.TalentPanel .TalentRewardsContainer
{
	flow-children: down;
	padding: 6px 6px 8px;
	width: 100%;
	height: 92px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #461474 ), to( #0d063c) );
	border-top: 1px solid rgba(203, 189, 255, 0.034);
	background-size: cover;
	background-position: center;
}

.TalentPanel .SupportedBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 2px solid;
	opacity-brush: gradient( linear, 0% 0%, 100% 100%, from( #ffffff ), color-stop( 0.5, #4e4e4e ), to( #8d8d8d ) );
	visibility: collapse;
}

.TalentPanel .BundleTierTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: cover;
	background-position: center;
	opacity: 0.4;
}

.TalentPanel .SupporterLevelLabels,.TalentPanel .CommunitySupporterLevelLabels
{
	width: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 24px 8px 8px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop(0.5, #06011ea8 ), to( #06011ef6 ) );
	visibility: collapse;
}

.TalentPanel .SupporterLevelLabels .SupporterLevelTitle,.TalentPanel .CommunitySupporterLevelLabels .SupporterLevelTitle
{
	horizontal-align: center;
	font-size: 12px;
	color: rgba(240, 237, 255, 0.616);
	text-shadow: 0px 1px 6px black;
}

.TalentPanel .SupporterLevelLabels .SupporterLevelLabel,.TalentPanel .CommunitySupporterLevelLabels .SupporterLevelLabel
{
	horizontal-align: center;
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 6px black;
	font-weight: semi-bold;
	font-size: 12px;
	visibility: collapse;
}

.TalentPanel .SupporterLevelLabels .SupporterLevelLabel.Level1
{
	color: gradient( linear, 0% 25%, 0% 100%, from( LightestGrey ), to( LighterGrey ) );
}

.TalentPanel .SupporterLevelLabels .SupporterLevelLabel.Level2
{
	color: gradient( linear, 0% 25%, 0% 100%, from( white ), color-stop( 0.45, LightestGrey ), color-stop( 0.55, LightGrey ), to( white ) );
}

.TalentPanel .SupporterLevelLabels .SupporterLevelLabel.Level3
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( primaryColor1 ) );
}

.TalentPanel .SupporterLevelLabels .SupporterLevelLabel.Level4
{
	color: gradient( linear, 0% 25%, 0% 100%, from( white ), color-stop( 0.45, rgb(231, 213, 170) ), color-stop( 0.55, rgb(168, 144, 80) ), to( rgb(195, 171, 91) ) );
}

.TalentPanel .CommunitySupporterLevelLabels .SupporterLevelLabel.Level1
{
	color: #b3897c;
}

.TalentPanel .CommunitySupporterLevelLabels .SupporterLevelLabel.Level2
{
	color: #a7d5d3;
}

.TalentPanel .CommunitySupporterLevelLabels .SupporterLevelLabel.Level3
{
	color: #d8d2a8;
}

.TalentPanel.SupporterLevel1 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_standard_png.vtex");
}

.TalentPanel.SupporterLevel1 .SupporterLevelLabels .SupporterLevelLabel.Level1,.TalentPanel.SupporterLevel1 .CommunitySupporterLevelLabels .SupporterLevelLabel.Level1
{
	visibility: visible;
}

.TalentPanel.SupporterLevel1 .SupportedBorder
{
	border-color: rgb(166, 150, 198);
}

.TalentPanel.SupporterLevel2 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_glitter_png.vtex");
}

.TalentPanel.SupporterLevel2 .SupporterLevelLabels .SupporterLevelLabel.Level2,.TalentPanel.SupporterLevel2 .CommunitySupporterLevelLabels .SupporterLevelLabel.Level2
{
	visibility: visible;
}

.TalentPanel.SupporterLevel2 .SupportedBorder
{
	border-color: rgb(203, 223, 255);
}

.TalentPanel.SupporterLevel3 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_holo_png.vtex");
}

.TalentPanel.SupporterLevel3 .SupporterLevelLabels .SupporterLevelLabel.Level3,.TalentPanel.SupporterLevel3 .CommunitySupporterLevelLabels .SupporterLevelLabel.Level3
{
	visibility: visible;
}

.TalentPanel.SupporterLevel3 .SupportedBorder
{
	border-color: rgb(148, 255, 201);
}

.TalentPanel.SupporterLevel4 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_gold_png.vtex");
}

.TalentPanel.SupporterLevel4 .SupporterLevelLabels .SupporterLevelLabel.Level4
{
	visibility: visible;
}

.TalentPanel.SupporterLevel4 .SupportedBorder
{
	border-color: rgb(255, 236, 143);
}

.TalentPanel.SupporterLevel1 .SupporterLevelLabels,.TalentPanel.SupporterLevel2 .SupporterLevelLabels,.TalentPanel.SupporterLevel3 .SupporterLevelLabels,.TalentPanel.SupporterLevel4 .SupporterLevelLabels
{
	visibility: visible;
}

.TalentPanel.SupporterLevel1 .TalentImageGlow,.TalentPanel.SupporterLevel2 .TalentImageGlow,.TalentPanel.SupporterLevel3 .TalentImageGlow,.TalentPanel.SupporterLevel4 .TalentImageGlow
{
	visibility: collapse;
}

.TalentPanel.SupporterLevel1 .SupportedBorder,.TalentPanel.SupporterLevel2 .SupportedBorder,.TalentPanel.SupporterLevel3 .SupportedBorder,.TalentPanel.SupporterLevel4 .SupportedBorder
{
	visibility: visible;
}

.TalentPanel.SupporterLevel1 .SupportedText,.TalentPanel.SupporterLevel2 .SupportedText,.TalentPanel.SupporterLevel3 .SupportedText,.TalentPanel.SupporterLevel4 .SupportedText
{
	visibility: visible;
}

.TalentPanel.SupporterLevel1.CommunityBundle .CommunitySupporterLevelLabels,.TalentPanel.SupporterLevel2.CommunityBundle .CommunitySupporterLevelLabels,.TalentPanel.SupporterLevel3.CommunityBundle .CommunitySupporterLevelLabels,.TalentPanel.SupporterLevel4.CommunityBundle .CommunitySupporterLevelLabels
{
	visibility: visible;
}

.TalentPanel:hover
{
	z-index: 1;
	brightness: 2;
}

.TalentPanel:hover .TalentBorder
{
	border: 1px solid rgba(221, 208, 255, 0.5);
}

.TalentPanel:active
{
	brightness: 0.5;
}

.Row
{
	flow-children: right;
	height: fit-children;
	width: 100%;
}

.VoiceLineContainer
{
	width: fill-parent-flow( 0.5 );
	flow-children: right;
	border: 1px solid #ffffff06;
	border-radius: 3px;
	padding: 0px 4px;
	background-color: #8881;
	margin: 2px;
	height: 36px;
	visibility: collapse;
	tooltip-position: left;
}

.VoiceLineContainer .LabelContainer
{
	vertical-align: center;
}

.VoiceLineContainer .LabelContainer Label
{
	color: #d0d0e6;
	margin-left: 2px;
	vertical-align: center;
	text-overflow: shrink;
	font-size: 16px;
	line-height: 1.1;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: fill-parent-flow(1);
	text-overflow: shrink;
}

.VoiceLineContainer DOTAPreviewAudioButton.Small
{
	vertical-align: center;
	margin-right: 4px;
}

.VoiceLineContainer:hover:enabled:not(.Disabled)
{
	brightness: 2;
}

.VoiceLineContainer:hover:enabled:not(.Disabled) Label
{
	color: white;
	opacity: 1;
}

.VoiceLineContainer:hover:enabled:not(.Disabled) Image,.VoiceLineContainer:hover:enabled:not(.Disabled) MoviePanel
{
	wash-color: white;
}

.VoiceLineContainer:active:enabled:not(.Disabled)
{
	brightness: 0.9;
	transform: scale3d(0.98, 0.98, 1.0 );
}

.VoiceLineCount1 #VoiceLine1
{
	visibility: visible;
}

.VoiceLineCount2 #VoiceLine1,.VoiceLineCount2 #VoiceLine2
{
	visibility: visible;
}

.VoiceLineCount3 #VoiceLine1,.VoiceLineCount3 #VoiceLine2,.VoiceLineCount3 #VoiceLine3
{
	visibility: visible;
}

