/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025AegisPopup
{
	width: 1280px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	margin: 40px 80px;
	max-width: 1920px;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTAInternational2025AegisPopup.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.AspectRatio16x10 DOTAInternational2025AegisPopup
{
	margin: 40px;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

#CloseButton
{
	horizontal-align: right;
	margin: 16px;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash,.HorizontalRule
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.PopupLeft
{
	width: 500px;
	height: fit-children;
	flow-children: down;
	vertical-align: middle;
	margin-left: 120px;
	margin-bottom: 60px;
}

.PopupLeft .HeaderBar
{
	width: 100%;
	flow-children: right;
	margin: 28px 0px;
}

.PopupLeft .HeaderBar.Bottom
{
	margin: 16px 0px;
}

.PopupLeft .HeaderBar .AegisIcon
{
	margin: 0px 12px;
	img-shadow: 0px 0px 16px rgba(148, 77, 255, 0.6);
}

.PopupLeft .HeaderBar .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	background-color: white;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dfa8f400 ), to( #dfa8f4 ) );
	opacity: 0.1;
	margin-left: 2px;
	margin-right: 2px;
}

.PopupLeft .HeaderBar .Dash.Right
{
	transform: scaleX( -1 );
}

.PopupLeft .HeaderBar .Dash.Middle
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dfa8f400 ), color-stop( 0.5, #dfa8f4 ), to( #dfa8f400 ) );
}

.PopupLeft Label
{
	horizontal-align: center;
	text-align: center;
	text-shadow: textShadowMedium;
}

.PopupLeft .HeaderText
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.PopupLeft .AegisPriceContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 12px;
	margin-left: 24px;
}

.PopupLeft .AegisPriceContainer Label
{
	color: #ebebff;
}

.PopupLeft .AegisPriceContainer .AegisPrice
{
	letter-spacing: 0px;
	font-weight: semi-bold;
}

.PopupLeft .AegisPriceContainer .AegisPrice .Strikethrough
{
	text-decoration: line-through;
}

.PopupLeft .AegisPriceContainer .AegisPriceCurrency
{
	vertical-align: bottom;
	margin-bottom: 6px;
	margin-left: 2px;
	opacity: 0.5;
}

.PopupLeft .AegisDescription
{
	margin-top: 8px;
	text-align: center;
	font-family: titleFont;
	color: #bbbbe5;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.PopupLeft .PurchaseControls
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	flow-children: down;
	padding: 8px 0px 12px;
}

.PopupLeft .PurchaseControls #PurchaseButton
{
	horizontal-align: center;
}

.PopupLeft .PurchaseControls .DiscountLabel
{
	color: white;
	font-size: 18px;
	margin-bottom: 4px;
	vertical-align: center;
	visibility: collapse;
}

.PopupLeft .PurchaseControls .DiscountLabel.CopyCode
{
	color: #888;
	cursor: pointer;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 20px;
}

.PopupLeft .PurchaseControls .DiscountLabel.CopyCode:hover
{
	color: #FFF;
}

.PopupLeft .PurchaseControls .DiscountLabel .Code
{
	color: #FFFF88;
	margin-left: 16px;
}

.HasDiscount .PopupLeft .PurchaseControls .DiscountLabel
{
	visibility: visible;
}

.PopupLeft .PurchaseNote
{
	color: #9a96d2d0;
}

.PopupLeft .AegisInfo
{
	text-align: center;
	font-size: 13px;
	line-height: 1.3;
	color: #b1afd275;
	margin-top: 8px;
	padding-top: 4px;
}

.HasDiscount .BasePrice
{
	visibility: collapse;
}

.Discount50,.Discount100
{
	visibility: collapse;
}

.HasDiscount50 .Discount50
{
	visibility: visible;
}

.HasDiscount50 .BasePrice,.HasDiscount50 .Discount100
{
	visibility: collapse;
}

.HasDiscount100 .Discount100
{
	visibility: visible;
}

.HasDiscount100 .BasePrice,.HasDiscount100 .Discount50
{
	visibility: collapse;
}

.AegisContainer
{
	vertical-align: middle;
	horizontal-align: right;
	overflow: noclip;
	transform: translateY( 1% ) translateX( 3% );
}

.AegisContainer .TreasurePreviewFloor
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: -5%;
	width: 120%;
	overflow: noclip;
	opacity: 0.3;
	wash-color: #b48eff;
}

.AegisContainer .StarsFX
{
	width: 720px;
	height: 720px;
	vertical-align: center;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.AegisContainer .Aegis2025Model
{
	width: 760px;
	height: 760px;
	margin-bottom: 70px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.AegisContainer .Aegis2025Model.Reflection
{
	transform: scaleY( -1 ) translateY( 66% );
	opacity: 0.2;
	saturation: 0.2;
	brightness: 2;
	blur: gaussian(0.5px);
	opacity-brush: gradient( linear, 0% 65%, 0% 80%, from( #ffffff00 ), color-stop( 0.5, #ffffff3f ), to( #ffffff ) );
}

.AegisContainer .RewardModelPreviewShadow
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10%;
	width: 110%;
	height: 140px;
	overflow: noclip;
	opacity: 0.7;
}

