/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025PredictionsPage.DashboardPage
{
	width: 100%;
	height: 100%;
}

.PageContents
{
	flow-children: down;
}

.NoCompendium #HelpPanel
{
	visibility: collapse;
}

#HelpPanel
{
	ignore-parent-flow: true;
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
}

#HelpPanel #DebugStateSelector
{
	background-color: firebrick;
	width: 200px;
}

#HelpPanel #DebugStateSelector Label
{
	text-overflow: shrink;
}

#HelpPanel DOTAInternational2025Button
{
	horizontal-align: right;
	margin-left: 6px;
	max-width: 160px;
	vertical-align: center;
}

.BPTitle
{
	max-width: 380px;
}

.AspectRatio16x10 .BPTitle
{
	max-width: 280px;
}

.Body
{
	width: 100%;
	height: 100%;
}

.NoCompendium .Body,.NoCompendium .HeaderRow,.HasCompendium .NoCompendiumView
{
	visibility: collapse;
}

.NoCompendium .NoCompendiumView
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	margin-top: -60px;
}

.NoCompendium .NoCompendiumView .LockedHeader
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 28px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: LightestGrey;
	margin: -48px 0px 8px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
}

.NoCompendium .NoCompendiumView .LockIconContainer
{
	horizontal-align: center;
	padding: 32px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 70% 70%, from( primaryColor3 ), to( primaryColor4&00 ) );
	margin: 40px;
	transform: rotateZ( 45deg );
}

.NoCompendium .NoCompendiumView .LockIconContainer .LockIcon
{
	transform: rotateZ( -45deg );
}

.NoCompendium .BPSharedPageContainer .BPSharedHeaderContainer
{
	height: fit-children;
}

.PeriodContents
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.PeriodContents:selected
{
	visibility: visible;
}

.StageLock
{
	visibility: collapse;
}

.PredictionsNotAvailable .StageLock.PredictionsNotAvailable,.PredictionsUnlocked .StageLock.PredictionsUnlocked,.PredictionsLocked .StageLock.PredictionsLocked
{
	visibility: visible;
}

#RTTIPredictions,#MainEventPredictions,.RTTISelected.RTTIPredictionsUnlocked .PeriodLocked,.RTTISelected.RTTIPredictionsLocked .PeriodLocked,.MainEventSelected.MainEventPredictionsUnlocked .PeriodLocked,.MainEventSelected.MainEventPredictionsLocked .PeriodLocked
{
	visibility: collapse;
}

.RTTISelected.RTTIPredictionsUnlocked #RTTIPredictions,.RTTISelected.RTTIPredictionsLocked #RTTIPredictions,.MainEventSelected.MainEventPredictionsUnlocked #MainEventPredictions,.MainEventSelected.MainEventPredictionsLocked #MainEventPredictions
{
	visibility: visible;
}

.StageResultsContainer
{
	vertical-align: center;
	flow-children: right;
	margin-left: 8px;
	padding: 1px 6px;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: collapse;
}

.NoCompendium .StageResultsContainer
{
	saturation: 0.7;
}

.StageResultsContainer .CheckIcon
{
	width: 12px;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #97FF62, to( #4db239 ) );
	margin-right: 4px;
}

.StageResultsContainer .CorrectPredictionsCount
{
	vertical-align: center;
	font-size: 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #97FF62, to( #4db239 ) );
	text-shadow: 0px 1px 4px black;
}

.HasScores .StageResultsContainer
{
	visibility: visible;
}

.ResultsPopupContainer
{
	width: 100%;
	height: fill-parent-flow(1);
	ignore-parent-flow: true;
	visibility: collapse;
}

.ShowResultsPopup .ResultsPopupContainer
{
	visibility: visible;
	sound: "ui.guild_joined";
	sound: "HeroBadgeLevelUpReward.ShowReward";
}

.ShowResultsPopup .ResultsPopupContainer .ResultsPopupDarkness
{
	opacity: 1;
}

.ShowResultsPopup .ResultsPopupContainer .ResultsPopup
{
	opacity: 1;
	transform: none;
}

.ResultsPopupContainer .ResultsPopupDarkness
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.ResultsPopupContainer .ResultsPopup
{
	horizontal-align: center;
	margin-top: 120px;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: scale3d( 1.3, 1.3, 1 );
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0c092c ), to( #2a1258 ) );
	margin-bottom: 24px;
	box-shadow: 0px 8px 80px -2px rgba(0, 0, 0, 0.6);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupDash
{
	width: 100%;
	height: 2px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupDash.Bottom
{
	vertical-align: bottom;
	margin-bottom: 24px;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents
{
	flow-children: down;
	padding: 56px 140px 80px;
}

.ResultsPopupModeRTTI .ResultsPopupContainer .ResultsPopup .ResultsPopupContents .MainEvent,.ResultsPopupModeMainEvent .ResultsPopupContainer .ResultsPopup .ResultsPopupContents .RTTI
{
	visibility: collapse;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsSubHeader
{
	horizontal-align: center;
	font-weight: normal;
	margin-bottom: -2px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	color: #babddb;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsTitle
{
	horizontal-align: center;
	color: white;
	font-weight: normal;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer
{
	flow-children: right;
	horizontal-align: center;
	border-top: 1px solid #b3a9ef18;
	border-bottom: 1px solid #b3a9ef18;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, white), color-stop( 0.8, white), to( rgba(255, 255, 255, 0) ) );
	margin: 24px 0px;
	padding: 0px 48px;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer,.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer
{
	flow-children: down;
	padding: 12px;
	min-width: 240px;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultStatLabel,.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultStatLabel
{
	horizontal-align: center;
	color: #babddb;
	text-shadow: 0px 2px 12px black;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultsStatsContainer,.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultsStatsContainer
{
	flow-children: right;
	horizontal-align: center;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultsStatsContainer .ResultStatIcon,.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultsStatsContainer .ResultStatIcon
{
	vertical-align: center;
	margin-left: 4px;
	margin-bottom: 4px;
	width: 32px;
	height: width-percentage( 100% );
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultsStatsContainer .ResultStatValue,.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultsStatsContainer .ResultStatValue
{
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer
{
	border-right: 1px solid #b3a9ef18;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultStatValue
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #97FF62, to( #439c32 ) );
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .CorrectResultsContainer .ResultStatIcon
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #97FF62, to( #439c32 ) );
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultStatValue
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FF6046, to( #A02D25 ) );
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsContainer .IncorrectResultsContainer .ResultStatIcon
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #FF6046, to( #A02D25 ) );
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsPointsEarnedLabel
{
	horizontal-align: center;
	color: whitesmoke;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsPointsContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: -4px;
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsPointsContainer .ResultsPointsEarnedValue
{
	font-weight: semi-bold;
	font-size: 48px;
	color: whitesmoke;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.ResultsPopupContainer .ResultsPopup .ResultsPopupContents .ResultsPointsContainer .ResultsPointsEarnedIcon
{
	width: 48px;
	height: 48px;
	wash-color: secondaryColor1;
	margin-left: 4px;
	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: middle;
	vertical-align: middle;
}

.ResultsPopupContainer .ResultsPopup .DoneButton
{
	horizontal-align: center;
	vertical-align: bottom;
}

AsyncDataPanel
{
	width: 100%;
	height: 100%;
}

AsyncDataPanel .AsyncFailureContainer,AsyncDataPanel .AsyncLoadingContainer
{
	background-color: #000c;
	padding: 10px;
	horizontal-align: center;
	vertical-align: center;
}

