/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025SupportersClub
{
	flow-children: right;
}

.Body
{
	width: 100%;
	flow-children: down;
}

.BodyColumn
{
	width: fit-children;
	flow-children: down;
	width: 100%;
}

.Header
{
	width: 400px;
	flow-children: down;
	padding-bottom: 12px;
}

#LeftHeader
{
	horizontal-align: left;
	vertical-align: middle;
	flow-children: right;
}

#CenterHeader
{
	horizontal-align: left;
	vertical-align: bottom;
	flow-children: down;
	margin-right: 16px;
}

.OwnedTeamDescriptionContainer
{
	flow-children: down;
	margin-right: -8px;
	vertical-align: center;
}

.OwnedTeamDescriptionContainer .OwnedTitle
{
	color: #dfa8f4;
	text-shadow: textShadowSmall;
}

.OwnedTeamDescriptionContainer .OwnedSubtitle
{
	font-size: 16px;
	color: #babddb;
	text-shadow: textShadowSmall;
}

#Title
{
	font-size: 24px;
	color: bluegreyTextBright;
	font-weight: semi-bold;
	vertical-align: bottom;
	margin-top: 40px;
}

.Subtitle
{
	font-size: 18px;
	line-height: 24px;
	color: bluegreyTextReg;
	width: 355px;
}

.Instructions
{
	font-size: 18px;
	line-height: 24px;
	color: bluegreyTextReg;
	width: 500px;
	font-weight: semi-bold;
	margin-left: 10px;
}

.FeatureName
{
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 3px;
	color: dpcSupClubColor;
	font-family: titleFont;
	font-weight: semi-bold;
	margin-top: 4px;
}

#RightHeader
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
}

.DPCLogoContainer
{
	flow-children: right;
}

#DPCLogo
{
	vertical-align: middle;
	margin-top: 40px;
}

.DPCLogoText
{
	flow-children: down;
	vertical-align: middle;
}

.DPCName
{
	font-size: 36px;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 2px;
	color: white;
	horizontal-align: left;
	text-align: center;
}

#AsyncContainer
{
	width: 1600px;
	horizontal-align:center;
	vertical-align: top;
}

#AsyncContainer .AsyncContainer
{
	height: fit-children;
}

#Teams
{
	flow-children: right-wrap;
	width: 1600px;
	horizontal-align: center;
	vertical-align: top;
	height: 560px;
	margin: -6px;
	overflow: noclip;
}

.Team
{
	flow-children: none;
	padding: 5px;
	width: 12.47%;
	height: 280px;
	box-shadow: 0px 4px 32px -8px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0);
	transition-duration: 0.15s;
	transition-property: brightness, background-color, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Team .SupporterLevelTitle
{
	horizontal-align: center;
	font-size: 12px;
	color: rgba(240, 237, 255, 0.616);
	text-shadow: 0px 1px 6px black;
	vertical-align: bottom;
	margin-bottom: 26px;
	visibility: collapse;
}

.Team .TierName
{
	horizontal-align: center;
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: semi-bold;
	font-size: 12px;
	margin-bottom: 10px;
	text-shadow: 0px 1px 6px black;
	vertical-align: bottom;
	visibility: collapse;
}

.Team .TierName.Bronze
{
	color: #b3897c;
}

.Team .TierName.Silver
{
	color: #a7d5d3;
}

.Team .TierName.Gold
{
	color: #d8d2a8;
}

.Team .FeaturedCheck
{
	horizontal-align: right;
	visibility: collapse;
	img-shadow: 0px 0px 12px black;
}

.Team .TeamContents
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0E0722 ), color-stop( 0.5, #200C5C ), to( #581192 ) );
	background-size: cover;
	background-position: center;
}

.Team .TeamBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(175, 143, 255, 0.3);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
	transition-duration: 0.15s;
	transition-property: border;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Team .CellStarMap
{
	width: 300%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.1;
	margin-top: 140px;
	wash-color: rgb(152, 140, 255);
}

.Team.TeamUnavailable
{
	saturation: 0.6;
	opacity: 0.6;
}

.Team.TeamUnavailable .TeamLogoContainer
{
	opacity: 0.5;
}

.Team:hover
{
	brightness: 2;
	z-index: 1;
}

.Team:hover .TeamBorder
{
	border: 1px solid rgba(221, 208, 255, 0.5);
}

.Team:active
{
	brightness: 0.5;
}

.Team.CurrentFavorite
{
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 50% 50%, from( #ffffff ), to( #9072dc ) );
	background-color: rgba(8, 5, 19, 0.9);
	z-index: 2;
}

.Team.CurrentFavorite .FeaturedCheck
{
	visibility: visible;
}

.Team.CurrentFavorite .TeamName
{
	color: white;
	text-shadow: 0px 0px 12px rgba(168, 98, 255, 0.4);
}

.Team.FanLevel1 .CellStarMap,.Team.FanLevel2 .CellStarMap,.Team.FanLevel3 .CellStarMap
{
	visibility: collapse;
}

.Team.FanLevel1 .TeamBorder,.Team.FanLevel2 .TeamBorder,.Team.FanLevel3 .TeamBorder
{
	border: 1px solid rgba(232, 223, 255, 0.05);
}

.Team.FanLevel1 .SupporterLevelTitle,.Team.FanLevel2 .SupporterLevelTitle,.Team.FanLevel3 .SupporterLevelTitle
{
	visibility: visible;
}

.Team.FanLevel1 .TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_bronze_square_psd.vtex");
}

.Team.FanLevel1 .TierName.Bronze
{
	visibility: visible;
}

.Team.FanLevel2 .TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_silver_square_psd.vtex");
}

.Team.FanLevel2 .TierName.Silver
{
	visibility: visible;
}

.Team.FanLevel3 .TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_gold_square_psd.vtex");
}

.Team.FanLevel3 .TierName.Gold
{
	visibility: visible;
}

.FanLevel1.TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_bronze_square_psd.vtex");
}

.FanLevel2.TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_silver_square_psd.vtex");
}

.FanLevel3.TeamContents
{
	background-image: url("s2r://panorama/images/dpc/supclub_gold_square_psd.vtex");
}

.TeamNameContainer
{
	height: 64px;
	width: 100%;
}

.TeamNameContainer .TeamName
{
	vertical-align: center;
	horizontal-align: center;
	margin: 0px 8px;
	width: 100%;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #d4d7ed ) );
	font-size: 16px;
	text-overflow: shrink;
	text-align: center;
	font-family: titleFont;
	text-shadow: textShadowMedium;
}

.TeamImageStyleSquareLarge
{
	width: 110px;
	height: width-percentage( 100% );
}

.TeamImageStyleSquareLarge Image
{
	img-shadow: 0px 4px 16px black;
}

.SupporterTier0,.SupporterTier1,.SupporterTier2,.SupporterTier3
{
	visibility: collapse;
}

.FanLevel1 .SupporterTier1,.FanLevel2 .SupporterTier2,.FanLevel3 .SupporterTier3
{
	visibility: visible;
}

#SupportButton,#FavoriteButton
{
	margin-top:10px;
	padding: 0px 20px 0px 20px;
	vertical-align: middle;
	horizontal-align:middle;
	background-color: #00000044;
	border: 1px solid #718D9F;
	border-radius: 5px;
	transition-property: background-color;
	transition-duration: .2s;
	flow-children: right;
	tooltip-position: bottom;
	height: 50px;
	transition-property: brightness;
	transition-duration: 0.2s;
	visibility: collapse;
}

#SupportButton:hover,#FavoriteButton:hover
{
	brightness: 3.0;
	background-color: #718D9F05;
}

#FavoriteButton
{
	width: 28px;
	height: 28px;
}

#FavoriteButton .DPCFavoriteStar
{
	width: 100%;
	height: 100%;
}

#SupportButton Label
{
	vertical-align:center;
}

.BecomeSupporter,.IncreaseSupport
{
	visibility: collapse;
}

.FanLevel0 .BecomeSupporter
{
	visibility:visible;
}

.FanLevel1 .IncreaseSupport,.FanLevel2 .IncreaseSupport
{
	visibility: visible;
}

.FanLevel3 #SupportButton
{
	visibility:collapse;
}

.FanLevel0 #FavoriteButton
{
	visibility: collapse;
}

.CurrentFavorite #FavoriteButton
{
	visibility: collapse;
}

.TeamFavoriteStar.DPCFavoriteStar
{
	width: 28px;
	height: 28px;
	vertical-align: top;
	horizontal-align: right;
	visibility: collapse;
}

.CurrentFavorite .TeamFavoriteStar.DPCFavoriteStar
{
	visibility: visible;
}

.TeamLogoContainer
{
	horizontal-align: center;
	vertical-align: center;
}

.OwnedTeam
{
	border-radius: 3px;
	margin: 0px 2px;
	transition-duration: 0.1s;
	transition-property: opacity, brightness, transform;
}

.OwnedTeam #TeamLogo
{
	width: 34px;
	height: 34px;
	margin: 6px;
	margin-left: 8px;
}

.OwnedTeam .OwnedTeamBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.3) ) );
	opacity: 0;
}

.OwnedTeam .OwnedTeamInfo
{
	vertical-align: center;
	margin-right: 12px;
}

.OwnedTeam .OwnedTeamInfo .OwnedTeamName
{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-align: center;
	text-overflow: shrink;
	text-shadow: textShadowMedium;
}

.OwnedTeam .OwnedTeamInfo .OwnedTeamTier
{
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
	text-align: center;
	text-overflow: shrink;
	margin-top: -2px;
	font-family: titleFont;
	font-weight: semi-bold;
}

.OwnedTeam.OwnedFanLevel1 .OwnedTeamTier
{
	color: #b3897c;
}

.OwnedTeam.OwnedFanLevel2 .OwnedTeamTier
{
	color: #a7d5d3;
}

.OwnedTeam.OwnedFanLevel3 .OwnedTeamTier
{
	color: #d8d2a8;
}

.OwnedTeam:hover
{
	background-color: rgba(165, 116, 255, 0.05);
}

.OwnedTeam:active
{
	transform: translateY( 1px );
}

.OwnedTeam.Featured
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #462680 ), to( #1b1041 ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.OwnedTeam.Featured .OwnedTeamBorder
{
	opacity: 1;
}

.OwnedTeam.Featured .OwnedTeamName
{
	color: white;
	text-shadow: 0px 0px 12px rgba(168, 98, 255, 0.4);
}

.OwnedTeamsContainer
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.02, white ), color-stop( 0.97, white ), to( rgba(255, 255, 255, 0) ) );
	margin-bottom: -1px;
}

.OwnedTeamsContainer:hover HorizontalScrollBar
{
	opacity: 1;
}

.OwnedTeamsContainer HorizontalScrollBar
{
	height: 3px;
	opacity: 0;
}

.OwnedTeamsContainer #OwnedTeams
{
	overflow: scroll squish;
	flow-children: right;
	padding: 8px 0px 9px;
	padding-right: 32px;
	padding-left: 24px;
}

#BottomHeader
{
	width: 100%;
	flow-children: right;
	margin-top: 28px;
	border: 1px solid rgba(214, 197, 255, 0.05);
	border-right: 0px;
	padding-left: 16px;
	border-brush: gradient( linear, 50% 0%, 100% 0%, from(white ), to( rgba(255, 255, 255, 0)) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgb(11, 6, 34) ), to( rgba(14, 14, 39, 0) ) );
	visibility: collapse;
}

.SupportsATeam #BottomHeader
{
	visibility: visible;
}

#BottomHeader .FeaturedCheckContainer
{
	vertical-align: center;
	margin-right: 12px;
	width: 30px;
	height: 30px;
	background-color: gradient( linear, 100% 0%, 0% 100%, from( #581192 ), to( #0E0722 ) );
	border-radius: 2px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

#BottomHeader .FeaturedCheckContainer .FeaturedCheckBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(227, 200, 255, 0.078);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
	border-radius: 2px;
}

#BottomHeader .FeaturedCheckContainer .FeaturedCheck
{
	width: 22px;
	horizontal-align: right;
	img-shadow: 0px 0px 12px black;
	opacity: 0.8;
}

#NewTeams
{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1px;
	color: bluegreyTextBright;
	font-family: titleFont;
	font-weight: semi-bold;
	padding: 2px 2px 2px 12px;
	text-shadow: 0px 0px 20px 1.5 #562b0633;
	background-color: red;
	background-color: gradient( linear, 0% 0%, 100% 0%, from(#c44305 ), to( #a43504) );
}

#NewTeamsEdge
{
	background-image: url("s2r://panorama/images/dpc/new_callout_edge_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.Discount
{
	margin: 2px;
	ignore-parent-flow: true;
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	border-radius: 4px;
	border: 1px solid rgb(37, 73, 23);
	color: #dbf384;
	background-color: #4C6B22aa;
	border-right-width: 0px;
	padding: 4px 12px;
	transform: rotateZ(0deg) translateY(42px) translateX(134px);
	visibility: collapse;
}

.DivMarker
{
	horizontal-align: right;
	vertical-align: top;
}

.DivMarker Label
{
	color: bluegreyTextReg;
}

.Div1Marker,.Div2Marker
{
	visibility: collapse;
}

.Div1 .Div1Marker,.Div2 .Div2Marker
{
	visibility: visible;
}

.SupportersClubSale .Discount
{
	visibility: visible;
}

.CapsuleHolder
{
	visibility: collapse;
	width: 280px;
	height: 110px;
	ignore-parent-flow: true;
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #190b2fb8 ), to( #29134eef ) );
	background-color: rgb(11, 6, 34);
	border: 1px solid rgba(209, 190, 255, 0.053);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #c0c0c0 ) );
}

.CapsuleHolder .RewardHolder
{
	height: 100%;
	width: height-percentage( 100% );
	border-right: 1px solid rgba(203, 183, 255, 0.071);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgba(255, 255, 255, 0.5) ), color-stop( 0.5, white ), color-stop( 0.8, rgba(255, 255, 255, 0.5) ), to( rgba(255, 255, 255, 0) ) );
}

.CapsuleHolder .RewardHolder .RewardModelPreview
{
	height: 120%;
	width: 120%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	transform: translateY( 16% ) translateX( 3% );
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.15s;
}

.CapsuleHolder .RewardHolder .CapsuleFX
{
	horizontal-align: center;
	vertical-align: center;
	width: height-percentage(100%);
	height: 150%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	hue-rotation: -110deg;
	visibility: collapse;
}

.AnyOwnedCapsules .CapsuleHolder .RewardHolder
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(179, 137, 255) ), color-stop(0.5, rgba(198, 137, 255, 0.2) ), to( gold2&00 ) );
}

.AnyOwnedCapsules .CapsuleHolder .RewardHolder .CapsuleFX
{
	visibility: visible;
}

.CapsuleHolder .RewardHolder:hover .RewardModelPreview
{
	pre-transform-scale2d: 1.08;
	brightness: 1.5;
}

.CapsuleHolder .CapsulesOwnedInfo
{
	horizontal-align: center;
	vertical-align: bottom;
	margin: 2px 0px;
	visibility: collapse;
}

.CapsuleHolder .CapsulesOwnedInfo Label
{
	padding: 2px 6px;
	border-radius: 40px;
	background-color: rgba(21, 11, 36, 0.99);
	box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.8);
	margin-bottom: 10px;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-shadow: 0px 1px 8px black;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
}

.CapsuleHolder .ClaimHolder
{
	flow-children: down;
	vertical-align: center;
	padding: 0px 16px;
}

.CapsuleHolder .ClaimHolder .ClaimLabel
{
	color: #babddb;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	text-shadow: textShadowSmall;
	margin-bottom: 8px;
	width: 100%;
}

.CapsuleHolder .ClaimHolder .ClaimButton
{
	horizontal-align: center;
}

.AnyClaimableCapsules .CapsuleHolder .ClaimHolder .ClaimButton
{
	opacity: 1;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.ClaimsSetup .CapsuleHolder
{
	visibility: visible;
}

.AnyOwnedCapsules .CapsuleHolder .CapsulesOwnedInfo
{
	visibility: visible;
}

.AnyOwnedCapsules .CapsuleHolder .CapsulesOwnedInfo Label
{
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.Hack1
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/8599101/teamlogo_png.vtex");
}

.Hack2
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/8599101/teamlogo_medium_png.vtex");
}

.Hack3
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/8599101/teamlogo_small_png.vtex");
}

.HackPlayer1
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/players/16497807_png.vtex");
}

.HackPlayer2
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/players/171262902_png.vtex");
}

.HackPlayer3
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/players/221666230_png.vtex");
}

.HackPlayer4
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/players/93817671_png.vtex");
}

.HackPlayer5
{
	background-image: url("s2r://panorama/images/teamfancontent/season_12/players/97590558_png.vtex");
}

