/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025Button .ButtonShadow
{
	width: 100%;
	height: 100%;
	background-color: black;
	border-radius: 4px;
	margin: 0px 2px;
	box-shadow: 0px 6px 40px -2px rgba(0, 0, 0, 0.6);
}

DOTAInternational2025Button .OuterBackground
{
	background-color: #06010b;
	border-radius: 3px;
	padding: 3px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.48, #CCA160 ), color-stop( 0.52, #B88943 ), to( #7F5C26 ) );
}

DOTAInternational2025Button .InnerBackground
{
	border-radius: 1px;
	transition-property: background-color;
	transition-duration: 0.1s;
}

DOTAInternational2025Button .InnerGlow
{
	width: 100%;
	height: 100%;
	border-radius: 1px;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 80%, from( #8575ff ), to( rgba(255, 255, 255, 0) ) );
	-s2-mix-blend-mode: screen;
	opacity: 0.1;
	transition-property: opacity;
	transition-duration: 0.1s;
}

DOTAInternational2025Button .InnerBorder
{
	width: 100%;
	height: 100%;
	border-radius: 1px;
	ignore-parent-flow: true;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.3) ) );
	transition-property: border;
	transition-duration: 0.1s;
}

DOTAInternational2025Button .ButtonLabel
{
	margin: 7px 28px 10px;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
	text-overflow: shrink;
	text-align: center;
	horizontal-align: center;
	transition-property: transform, color;
	transition-duration: 0.1s;
}

DOTAInternational2025Button.FillWidth .OuterBackground
{
	width: 100%;
}

DOTAInternational2025Button.FillWidth .InnerBackground
{
	width: 100%;
}

DOTAInternational2025Button.Wide .ButtonLabel
{
	margin-left: 56px;
	margin-right: 56px;
}

DOTAInternational2025Button.TextOnly .OuterBackground,DOTAInternational2025Button.TextOnly .InnerBackground
{
	background-color: none;
	padding: 0px;
	border: 0px;
}

DOTAInternational2025Button.TextOnly .InnerGlow,DOTAInternational2025Button.TextOnly .ButtonShadow,DOTAInternational2025Button.TextOnly .InnerBorder
{
	visibility: collapse;
}

DOTAInternational2025Button.TextOnly .BottomBorder
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dbc49100 ), color-stop( 0.3, #dbc491c7 ), color-stop( 0.5, #ffe9bb ), color-stop( 0.7, #dbc491c7 ), to( #dbc49100 ) );
	vertical-align: bottom;
	margin: 2px 6px;
	opacity: 0.2;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

DOTAInternational2025Button.TextOnly .ButtonLabel
{
	font-size: 16px;
	line-height: 1;
	margin: 7px 6px 5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffe9b6 ), to( #ceb06d ) );
}

DOTAInternational2025Button.TextOnly:enabled:hover .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #FFFFFF ) );
	transform: translateY( -2px );
}

DOTAInternational2025Button.TextOnly:enabled:hover .BottomBorder
{
	transform: none;
	opacity: 1;
}

DOTAInternational2025Button.TextOnly:enabled:hover .InnerBackground
{
	background-color: none;
}

DOTAInternational2025Button.TextOnly:active .InnerBackground
{
	background-color: none;
}

DOTAInternational2025Button.TextOnly:active .InnerGlow
{
	opacity: 0;
}

DOTAInternational2025Button.TextOnly:active .InnerBorder
{
	border-brush: none;
}

DOTAInternational2025Button.Small .OuterBackground
{
	padding: 2px;
}

DOTAInternational2025Button.Small .ButtonLabel
{
	font-size: 16px;
	line-height: 1;
	margin: 6px 16px 6px;
	font-weight: normal;
	text-align: center;
}

DOTAInternational2025Button.Small.Wide .ButtonLabel
{
	margin-left: 24px;
	margin-right: 24px;
}

DOTAInternational2025Button.Tiny .OuterBackground
{
	background-color: none;
	padding: 0px;
	border: 0px;
}

DOTAInternational2025Button.Tiny .ButtonLabel
{
	font-size: 14px;
	line-height: 1;
	margin: 4px 10px 5px;
	font-weight: normal;
	letter-spacing: 1px;
	height: 16px;
}

DOTAInternational2025Button.Tiny .ButtonShadow
{
	background-color: black;
	border-radius: 4px;
	margin: 0px 2px;
	box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.4);
}

DOTAInternational2025Button.NoOutline .OuterBackground
{
	background-color: none;
	padding: 0px;
	border: 0px;
}

DOTAInternational2025Button .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #36256f ), to( #190B3A ) );
}

DOTAInternational2025Button .InnerBorder
{
	opacity: 0.06;
}

DOTAInternational2025Button:enabled:hover .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #463ab0 ), to( #261157 ) );
}

DOTAInternational2025Button:active .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #190B3A ), to( #2D256F ) );
}

DOTAInternational2025Button:active .InnerGlow
{
	opacity: 0;
}

DOTAInternational2025Button:active .InnerBorder
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
}

DOTAInternational2025Button:active .ButtonLabel
{
	transform: translateY( 1px );
	color: LightestGrey;
}

DOTAInternational2025Button.Gold .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffdaa3 ), color-stop( 0.48, #CCA160 ), color-stop( 0.52, #B88943 ), to( #7F5C26 ) );
}

DOTAInternational2025Button.Gold .InnerBackground .InnerBorder
{
	opacity: 0.2;
}

DOTAInternational2025Button.Gold:enabled:hover .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #fff4d9 ), color-stop( 0.48, #e3bf78 ), color-stop( 0.52, #d0aa69 ), to( #a67b3b ) );
}

DOTAInternational2025Button.Gold:active .InnerBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #36250F ), color-stop( 0.48, #36250F ), color-stop( 0.52, #574124 ), to( #6A5943 ) );
}

DOTAInternational2025Button.Gold:active .InnerBackground .InnerGlow
{
	opacity: 0;
}

DOTAInternational2025Button.Gold:active .InnerBackground .InnerBorder
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
}

DOTAInternational2025Button.Gold:active .ButtonLabel
{
	transform: translateY( 1px );
	color: LightestGrey;
}

DOTAInternational2025Button.Disabled
{
	saturation: 0;
	brightness: 0.5;
}

DOTAInternational2025Button:disabled
{
	saturation: 0.1;
	brightness: 0.5;
}

@keyframes 'GlowButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2.2;
	}
	
}

