/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025PopupFantasyCraftTitle
{
	width: 1280px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTAInternational2025PopupFantasyCraftTitle.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 2px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#ChoiceHolder
{
	width: 100%;
	height: fill-parent-flow(1);
	overflow: clip scroll;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
	box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.1);
}

#ChoiceHolder #Choices
{
	padding: 28px;
	width: fill-parent-flow(1);
	flow-children: right-wrap;
	horizontal-align: center;
}

#ConfirmChoice
{
	horizontal-align: center;
	padding-left: 56px;
	padding-right: 56px;
	margin: 16px 0px;
}

.PlayerNameAndTitle
{
	width: 100%;
	flow-children: down;
	text-align: center;
	horizontal-align: center;
	padding: 0px 12px;
}

.PlayerNameAndTitle Label
{
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 6px;
	color: LighterGrey;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.PlayerNameAndTitle Label b
{
	color: white;
	font-weight: semi-bold;
}

.PlayerNameAndTitle #PlayerTitleLabel
{
	color: #bbbbe5;
	text-shadow: textShadowSmall;
	font-family: titleFont;
	font-size: 28px;
	line-height: 1.2;
}

.PlayerNameAndTitle #PlayerTitleLabel b
{
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.PlayerNameAndTitle .PrefixUnderline
{
	text-decoration: underline;
}

.PlayerAndImages
{
	width: 100%;
	height: 100%;
}

.PlayerAndImages .RoleAndName
{
	flow-children: down;
	width: 100%;
	margin: 0px 32px;
	padding-top: 32px;
	border-top: 1px solid rgba(231, 208, 255, 0.103);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
}

.PlayerAndImages .PlayerImages
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
}

.PlayerAndImages .PlayerImages #Headshot
{
	width: 100%;
	height: width-percentage(100%);
	overflow: noclip;
	horizontal-align: center;
	vertical-align: bottom;
}

.PlayerAndImages .PlayerImages #TeamLogo
{
	width: 80px;
	height: 80px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 42%;
	margin-right: 12px;
}

#GenerateNoOptions
{
	margin-top: 32px;
	horizontal-align: center;
}

#GenerateHasOptions
{
	margin-right: 16px;
}

#PlayerImage
{
	width: 100%;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: bottom;
}

#TeamLogo
{
	width: 64px;
	height: 64px;
	vertical-align: top;
	horizontal-align: right;
}

#Options
{
	width: 100%;
	padding: 16px;
}

#Options #SubmitButton
{
	horizontal-align: center;
	padding-left: 48px;
	padding-right: 48px;
}

.ChoiceSelected
{
	background-color: darkgreen;
}

.TitleChoice
{
	width: fit-children;
}

.TitleChoice.ChoiceSelected
{
	background-color: darkgreen;
}

.Header
{
	width: 100%;
	padding: 24px 32px;
}

.Header .PlayerChoiceTitle
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 28px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.Header #CloseButton
{
	horizontal-align: right;
}

.TitleChoice
{
	width: 100%;
	height: fit-children;
	margin-bottom: 6px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b186b ), to( #221154 ) );
	box-shadow: 0px 4px 12px -2px rgba( 0, 0, 0, 0.5 );
	transition-property: transform, background-color, box-shadow, brightness;
	transition-duration: 0.05s, 0.1s;
}

.TitleChoice #PlayerTitle
{
	margin-bottom: 4px;
	color: #bbbbe5;
	font-family: titleFont;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	transition-property: color;
	transition-duration: 0.1s;
}

.TitleChoice Label
{
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.TitleChoice .TitleChoiceInfoContainer
{
	padding: 12px 24px;
	flow-children: down;
}

.TitleChoice .TitleChoiceBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.034);
	transition-property: border;
	transition-duration: 0.1s;
}

.TitleChoice .PrefixUnderline
{
	text-decoration: underline;
}

.TitleChoice:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d228b ), to( #291564 ) );
}

.TitleChoice:hover #PlayerTitle
{
	color: #dcdcf7;
}

.TitleChoice:active
{
	transform: scale3d(0.985, 0.985, 1);
	brightness: 0.5;
}

.TitleChoice.ChoiceSelected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b1975e ), to( #7d6743 ) );
	z-index: 1;
	brightness: 1.2;
	box-shadow: 0px 12px 48px -2px rgba( 0, 0, 0, 0.5 );
}

.TitleChoice.ChoiceSelected Label
{
	color: white;
}

.TitleChoice.ChoiceSelected #PlayerTitle
{
	color: #ffffff;
}

.TitleChoice.ChoiceSelected .TitleChoiceBorder
{
	opacity: 0.2;
	border: 2px solid #ffd392;
	animation-name: GlowChoiceBorder;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes 'GlowChoiceBorder'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2.2;
	}
	
}

.Body
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.CellStarMap
{
	width: 130%;
	height: 130%;
	overflow: noclip;
	ignore-parent-flow: true;
	transform: scaleY( -1 );
	horizontal-align: center;
	wash-color: rgb(109, 82, 168);
	-s2-mix-blend-mode: screen;
}

.PlayerGlow
{
	ignore-parent-flow: true;
	width: 100%;
	height: width-percentage( 100% );
	background-color: red;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 60%, 0% 0%, 50% 50%, from( #6a37d8 ), color-stop( 0.5, #4f37d869 ), to( #222b3300 ) );
}

.PlayerColumn
{
	width: fill-parent-flow(1);
	height: 100%;
	flow-children: down;
}

.BodyColumn
{
	width: 840px;
	height: 100%;
	flow-children: down;
	margin-left: 32px;
}

.HasTitles,.TitlesAvailable .NoTitles
{
	visibility: collapse;
}

.TitlesAvailable .HasTitles
{
	visibility: visible;
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
	padding-bottom: 16px;
}

.TitlesAvailable .HasTitles .ControlButtons
{
	width: fit-children;
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	border-top: 1px solid rgba(225, 207, 255, 0.053);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, white ), color-stop( 0.8, white ), to( rgba(255, 255, 255, 0) ) );
}

.TitlesAvailable .HasTitles .ControlButtons .ControlButtonsContainer
{
	flow-children: right;
	horizontal-align: center;
	padding: 8px;
}

.TitlesAvailable .HasTitles .ControlButtons DOTAInternational2025Button
{
	margin-left: 8px;
	margin-right: 8px;
	margin-right: 16px;
	vertical-align: center;
}

.TitlesAvailable .HasTitles .ControlButtons .RerollIcon
{
	width: 32px;
	height: 32px;
	margin-right: 6px;
	vertical-align: center;
	margin-top: 2px;
	overflow: noclip;
	ui-scale: 150%;
}

.TitlesAvailable .HasTitles .ControlButtons #TokensLabel
{
	vertical-align: center;
	horizontal-align: right;
}

.NoTitles
{
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	flow-children: down;
	width: 100%;
	height: fill-parent-flow(1);
	overflow: clip scroll;
	padding: 32px;
	margin-bottom: 32px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
}

.NoTitles #TokensContainer
{
	horizontal-align: center;
	margin-top: 64px;
}

.NoTitles .TokenSpendDescription
{
	horizontal-align: center;
	margin-bottom: 8px;
	text-align: center;
	color: LighterGrey;
	font-family: titleFont;
}

.NoTitles .RerollIcon
{
	margin-right: 6px;
	vertical-align: center;
	width: 64px;
	img-shadow: 0px 8px 16px rgba(56, 167, 98, 0.212);
}

.NoTitles #TokensLabel
{
	vertical-align: center;
}

.NoTitles Button
{
	horizontal-align: center;
	margin-top: 16px;
}

