/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

International2025PopupPredictionsHelp
{
	width: 1100px;
	height: 720px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

International2025PopupPredictionsHelp.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.Header
{
	width: 100%;
	padding: 28px 32px 0px;
}

.Header .RewardsHeading
{
	horizontal-align: center;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 28px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.Header #CloseButton
{
	horizontal-align: right;
}

.LeaderboardsContainer
{
	width: 280px;
	background-color: rgba(255, 0, 255, 0.04);
	padding: 16px;
	margin: 48px;
	margin-left: 24px;
}

.StagesContainer
{
	flow-children: right;
	padding: 0px 40px;
	width: 100%;
	overflow: squish scroll;
}

.StageDetails
{
	width: fill-parent-flow(1);
	height: fit-children;
	flow-children: down;
	border-top: 1px solid rgba(220, 199, 255, 0.05);
	margin: 16px;
	padding-top: 16px;
}

.StageDetails Label
{
	color: #BABDDB;
	text-shadow: 0px 2px 8px black;
}

.StageDetails .StageTitle
{
	margin-bottom: 12px;
	font-family: titleFont;
	font-size: 22px;
	color: whitesmoke;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.StageDetails .RewardDetails
{
	width: fill-parent-flow(0.5);
	height: fit-children;
	flow-children: down;
	margin-top: 12px;
	horizontal-align: center;
	padding-right: 24px;
}

.StageDetails .RewardDetails .TableHeaderContainer
{
	width: 100%;
	text-transform: uppercase;
}

.StageDetails .RewardDetails .TableHeaderContainer .TableHeader
{
	color: #dfa8f4;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 14px;
	margin-bottom: 4px;
	margin-top: 8px;
}

.StageDetails .RewardDetails .TableHeaderContainer .TableHeader.Right
{
	horizontal-align: right;
}

.StageDetails .RewardDetails .DotDotDot
{
	margin: 0px 8px;
	height: 1px;
	width: fill-parent-flow(1);
	vertical-align: center;
	background-color: rgba(142, 114, 188, 0.112);
}

.StageDetails .RewardDetails .RewardCellLine
{
	flow-children: right;
	width: 100%;
}

.StageDetails .RewardDetails .InfoRewards
{
	color: LighterGrey;
	text-align: center;
	horizontal-align: right;
	vertical-align: center;
	margin-bottom: 0px;
	letter-spacing: 1.5px;
}

.Leaderboard
{
	width: 100%;
	height: 208px;
	margin-bottom: 16px;
}


