/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025FantasyPage
{
	width: 100%;
	height: 100%;
}

.PageContents
{
	flow-children: down;
}

.BPSharedPageContainer
{
	height: 922px;
}

.NoCompendium #HelpPanel
{
	visibility: collapse;
}

#HelpPanel
{
	ignore-parent-flow: true;
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
	margin-bottom: 4px;
}

#HelpPanel DOTAInternational2025Button
{
	horizontal-align: right;
	margin-left: 6px;
	max-width: 160px;
	vertical-align: center;
}

.BPTitle
{
	max-width: 380px;
}

.AspectRatio16x10 .BPTitle
{
	max-width: 280px;
}

.Body
{
	width: 100%;
	height: 100%;
}

.NoCompendium:not(.EventNotOwned) .Body,.NoCompendium:not(.EventNotOwned) .HeaderRow,.HasCompendium:not(.EventNotOwned) .NoCompendiumView
{
	visibility: collapse;
}

.NoCompendium .BPSharedPageContainer .BPSharedHeaderContainer
{
	height: fit-children;
}

.PeriodContents
{
	width: 100%;
	height: 100%;
	transition-duration: 0.3s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.1s;
}

#periodcontents_0
{
	opacity: 0;
	transform: translateX( -24px );
}

#periodcontents_0:selected
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
}

#periodcontents_1
{
	opacity: 0;
	transform: translateX( 24px );
}

#periodcontents_1:selected
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
}

.gem_shape1
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_round_png.vtex");
}

.gem_shape2
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_pear_png.vtex");
}

.gem_shape3
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_cushion_png.vtex");
}

.gem_shape4
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_princess_png.vtex");
}

.gem_shape5
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_heart_png.vtex");
}

.gem_quality1
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank1_psd.vtex");
}

.gem_quality2
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank2_psd.vtex");
}

.gem_quality3
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank3_psd.vtex");
}

.gem_quality4
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank4_psd.vtex");
}

.gem_quality5
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank5_psd.vtex");
}

.Results .StageLock.LockUpcoming
{
	visibility: collapse;
}

.StageLock.Locked
{
	visibility: collapse;
}

.Results .StageLock.Locked
{
	visibility: visible;
}

#TabUnclaimedRewardsBadge
{
	visibility: collapse;
	horizontal-align: center;
	transform: translateY( -16px );
}

.HasUnclaimedRewards #TabUnclaimedRewardsBadge
{
	visibility: visible;
}

AsyncDataPanel
{
	width: 100%;
	height: 922px;
}

AsyncDataPanel .AsyncFailureContainer,AsyncDataPanel .AsyncLoadingContainer
{
	background-color: #000c;
	padding: 10px;
	horizontal-align: center;
	vertical-align: center;
}


