/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define OffCenterMargin: 140px;
DOTAInternational2025ItemClaimPage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/battlepass/international2022/swag_bag/swag_bag_background_psd.vtex");
	background-size: cover;
	background-img-opacity: 0.7;
}

.PageHeaderContainer
{
	width: 840px;
	horizontal-align: center;
	text-align: center;
	padding-top: 48px;
	flow-children: down;
	margin-right: OffCenterMargin;
}

.PageLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 12px 24px black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.6;
}

.ItemPickerTitle
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 12px 24px black;
	font-size: 48px;
}

.HeroArea
{
	height: 100%;
	width: 100%;
	horizontal-align: center;
	margin-right: OffCenterMargin;
}

.HeroAreaModel
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/hero_model_opacity_mask_png.vtex");
	transform: translateY( -80px ) translateX(0px);
}

.AspectRatio21x9 .HeroAreaModel
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_sharper_png.vtex");
	transform: translateY( -80px ) translateX(45px);
}

.ItemList
{
	horizontal-align: right;
	padding: 40px 60px 160px;
	width: 560px;
	height: 100%;
	flow-children: down;
	box-shadow: 0px 0px 120px -56px rgba(0, 0, 0, 0.6);
	overflow: squish scroll;
}

.ItemList:hover VerticalScrollBar
{
	opacity: 0.6;
}

.ItemList VerticalScrollBar
{
	transition-property: transform, opacity;
	transition-duration: 0.2s, 0.2s;
	transition-timing-function: ease-in-out, ease-in-out;
	opacity: 0;
	margin: 40px 48px 166px;
	width: 6px;
}

.ChoiceItem
{
	width: 100%;
	background-color: #101218c9;
	flow-children: right;
	padding: 12px 12px 12px 16px;
	margin-bottom: 6px;
	border: 1px solid rgba(255, 255, 255, 0.005);
	transition-property: background-color, transform, brightness;
	transition-duration: 0.1s;
}

.ChoiceItem:hover
{
	background-color: #1A1C23;
}

.ChoiceItem:hover .ChoiceItemName
{
	opacity: 1;
}

.ChoiceItem.Selected
{
	background-color: #272a32;
}

.ChoiceItem.Selected .ChoiceItemName
{
	opacity: 1;
}

.ChoiceItem:active
{
	transform: scale3d(0.985, 0.985, 1);
	brightness: 0.5;
}

.ChoiceItemImage
{
	width: 96px;
	height: 96px;
	margin-right: 16px;
	visibility: collapse;
}

.ChoiceItemHero
{
	width: height-percentage(150%);
	height: 80px;
	vertical-align: center;
	margin-right: 16px;
}

.ChoiceItemInfo
{
	width: fill-parent-flow(1.0);
	flow-children: down;
	vertical-align: center;
}

.ChoiceItemHeroName
{
	font-size: 13px;
	text-transform: uppercase;
	opacity: 0.3;
	letter-spacing: 1px;
	margin-bottom: 2px;
}

.ChoiceItemName
{
	font-size: 20px;
	font-weight: semi-bold;
	color: whitesmoke;
	margin-bottom: 2px;
	opacity: 0.7;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.ChoiceItemAlreadyOwned
{
	visibility: collapse;
}

.ChoiceItemRelease
{
	font-size: 16px;
	opacity: 0.6;
}

.ChoiceItem .RadioBox
{
	vertical-align: center;
	margin: 0px 8px;
	visibility: collapse;
}

.ActionArea
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 120px;
	margin-right: OffCenterMargin;
	flow-children: down;
}

.ActionItemName
{
	horizontal-align: center;
	font-size: 28px;
	color: white;
	margin-bottom: 20px;
	text-shadow: 0px 4px 12px black;
}

.ActionButtons
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
}

.ChoiceItemAlreadyOwned
{
	visibility: collapse;
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
	color: rgba(255, 255, 255, 0.6);
	padding: 2px 4px;
	border-radius: 2px;
	margin-top: -4px;
	margin-right: -4px;
	background-color: green;
}

.ItemOwned .ChoiceItemAlreadyOwned
{
	visibility: visible;
}

.ArcanaDetailsLink
{
	horizontal-align: center;
}

.ArcanaDetailsLink Label
{
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
}

.ActionArea
{
	transform: translateY( 40px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier( 0, 1, 0, 1 );
}

.PageVisible .ActionArea
{
	transform: none;
	opacity: 1;
	transition-delay: 0s;
}

.PageHeaderContainer
{
	transform: translateY( -40px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier( 0, 1, 0, 1 );
}

.PageVisible .PageHeaderContainer
{
	transform: none;
	opacity: 1;
	transition-delay: 0s;
	z-index: 2;
}

.ItemList
{
	transform: translateX( 60px );
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.6s;
	transition-timing-function: cubic-bezier( 0, 1, 0, 1 );
}

.PageVisible .ItemList
{
	transform: none;
	opacity: 1;
	transition-delay: 0s;
}

@keyframes 'glowButton'
{
	0%
	{
		box-shadow: 0px 0px 24px #FF704300;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #FF704333;
		brightness: 2.2;
	}
	
}


