/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltip2025Score
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	border: 2px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
}

DOTATooltip2025Score #Contents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(49, 23, 104) ), to( rgb(20, 12, 66) ) );
	flow-children: down;
	width: 500px;
}

DOTATooltip2025Score .TooltipText
{
	font-size: 16px;
	horizontal-align: left;
	color: LighterGrey;
	margin: 2px 0px;
}

DOTATooltip2025Score .TooltipText b
{
	color: whitesmoke;
	font-weight: semi-bold;
}

DOTATooltip2025Score .Divider
{
	width: 100%;
	height: 1px;
	margin: 8px 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
	wash-color: rgb(203, 185, 255);
	opacity: 0.1;
	visibility: collapse;
}

DOTATooltip2025Score .TooltipGroupTitle
{
	margin: 4px 0px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-shadow: textShadowSmall;
}

.TooltipGroupTitle,.FantasyRTTI,.FantasyTI,.PredictionsRTTI,.PredictionsTI,.HasFantasyRTTI .Fallback,.HasFantasyTI .Fallback,.HasPredictionsRTTI .Fallback,.HasPredictionsTI .Fallback
{
	visibility: collapse;
}

.HasFantasyRTTI .Fantasy.TooltipGroupTitle,.HasFantasyTI .Fantasy.TooltipGroupTitle,.HasPredictionsRTTI .Predictions.TooltipGroupTitle,.HasPredictionsTI .Predictions.TooltipGroupTitle
{
	visibility: visible;
}

.HasFantasyRTTI .FantasyRTTI,.HasFantasyTI .FantasyTI,.HasPredictionsRTTI .PredictionsRTTI,.HasPredictionsTI .PredictionsTI,.Fallback
{
	visibility: visible;
}

.HasFantasyRTTI .Divider,.HasFantasyTI .Divider
{
	visibility: visible;
}

.PointsIcon
{
	height: 16px;
	width: 16px;
	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


