/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltipFantasy2025Title
{
	width: 300px;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( #000B16 ) );
	border: 2px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
}

DOTATooltipFantasy2025Title #Contents
{
	flow-children: down;
	width: 500px;
}

DOTATooltipFantasy2025Title .TooltipText
{
	font-size: 16px;
	horizontal-align: left;
	color: LighterGrey;
	margin-bottom: 8px;
}

DOTATooltipFantasy2025Title .TooltipText b
{
	color: whitesmoke;
	font-weight: semi-bold;
}

.NoHeroIcons #HeroIcons
{
	visibility: collapse;
}

#HeroIcons
{
	width: 100%;
	height: fit-children;
	flow-children: right-wrap;
	margin-bottom: 8px;
}

#HeroIcons DOTAHeroImage
{
	width: 28px;
	height: width-percentage( 100% );
	margin-right: 4px;
	margin-bottom: 4px;
}

.HeroIconsOnly .TooltipText
{
	visibility: collapse;
}

