/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAInternational2025CommunityBundlesPopup.PopupPanel
{
	width: 1200px;
	height: 920px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTAInternational2025CommunityBundlesPopup.PopupPanel.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.SupporterTierBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(255, 255, 255, 0.02);
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#BackgroundTeamLogo
{
	width: 256px;
	height: 256px;
	opacity: 0.00;
	visibility: collapse;
}

.Header
{
	width: 100%;
}

.BundleInfo
{
	flow-children: down;
	width: 100%;
	margin: 28px 32px 12px;
}

.BundleInfo #CloseButton
{
	horizontal-align: right;
	ignore-parent-flow: true;
}

.BundleInfo Label
{
	horizontal-align: center;
	text-align: center;
}

.BundleInfo .FeatureName
{
	color: #dfa8f4;
	text-shadow: textShadowSmall;
}

.BundleInfo .TeamName
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: 3px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
}

.BundleInfo .TeamPerksTitle
{
	color: bluegreyTextBright;
	font-weight: semi-bold;
	font-size: 20px;
}

.BundleInfo .PerksText
{
	font-size: 16px;
	color: #babddb;
}

.BundleInfo .TeamPerksOverviewText
{
	width: 75%;
	color: #babddb;
	font-family: titleFont;
}

.TeamPerksText
{
	visibility: collapse;
}

.HasTeamPacks .TeamPerksText
{
	visibility: visible;
}

.HasTeamPacks .BasicPerksText
{
	visibility: collapse;
}

.BundleInfo
{
	flow-children: down;
}

.SupporterTiers
{
	flow-children: right;
	height: 100%;
	horizontal-align: center;
	padding-bottom: 32px;
}

.SupporterTier
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	height: 100%;
	max-width: 337px;
	margin: 8px;
}

.SupporterTierMain
{
	flow-children: down;
	width: 100%;
	background-size: cover;
	box-shadow: 0px 0px 24px #00000066;
}

#SupporterTier1 .SupporterTierMain
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b3897c11 ), to( #b3897c00 ) );
	background-image: url("s2r://panorama/images/dpc/supclub_bronze_bg_psd.vtex");
}

#SupporterTier2 .SupporterTierMain
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ebe2df11 ), to( #ebe2df00 ) );
	background-image: url("s2r://panorama/images/dpc/supclub_silver_bg_psd.vtex");
}

#SupporterTier3 .SupporterTierMain
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #d8d2a811 ), to( #d8d2a800 ) );
	background-image: url("s2r://panorama/images/dpc/supclub_gold_bg_psd.vtex");
}

.TierTitle
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 8px 0px;
	width: 100%;
	text-align: center;
	font-family: titleFont;
	text-shadow: textShadowMedium;
	background-color: rgba(255, 255, 255, 0.01);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#SupporterTier1 .TierTitle
{
	color: #b3897c;
}

#SupporterTier2 .TierTitle
{
	color: #a7d5d3;
}

#SupporterTier3 .TierTitle
{
	color: #d8d2a8;
}

.TierBadge
{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	margin-top: 32px;
	background-color: none;
}

.GoldBadgeBanner
{
	width: 200px;
	height: 200px;
}

DOTAEventCrestImage.Quality2,DOTAEventCrestImage.Quality1
{
	background-color: none;
}

.BadgeBannerContainer
{
	width: 100%;
}

.GoldBadgeBanner
{
	background-size: cover;
	width: 148px;
	height: 172px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/dpc/badge/banner_bg_tier3_png.vtex");
	margin-top: 12px;
	img-shadow: 0px 2px 12px #00000044;
}

.SilverBadgeBanner
{
	background-size: cover;
	width: 148px;
	height: 172px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/dpc/badge/banner_bg_tier2_png.vtex");
	margin-top: 12px;
	img-shadow: 0px 2px 12px #00000044;
}

.BronzeBadgeBanner
{
	background-size: cover;
	width: 148px;
	height: 172px;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/dpc/badge/banner_bg_tier1_png.vtex");
	margin-top: 12px;
	img-shadow: 0px 2px 12px #00000044;
}

DOTAEventCrestImage.Quality2,DOTAEventCrestImage.Quality1
{
	background-color: none;
}

.TeamBadgeLabel
{
	margin-top: -48px;
	margin-bottom: 12px;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: semi-bold;
	color: whitesmoke;
	text-shadow: textShadowMedium;
}

.TierDescription
{
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	color: #9C8A83;
	width: 100%;
	padding: 0px 20px;
	text-align: center;
}

.TierPurchaseButton
{
	horizontal-align: center;
	margin: 12px 48px;
	visibility: collapse;
}

:not(.HasTier) .TierPurchaseButton
{
	visibility: visible;
}

.TierAlreadyPurchased
{
	horizontal-align: center;
	color: rgba(245, 245, 245, 0.6);
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	visibility: collapse;
	margin-bottom: 56px;
	width: 100%;
	text-align: center;
	padding-top: 18px;
	border-top: 1px solid rgba(255, 255, 255, 0.057);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
}

.HasTier .TierAlreadyPurchased
{
	visibility: visible;
}

.TierNotAvailable
{
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	font-size: 15px;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

.TierNotAvailable
{
	visibility: collapse;
}

.HasTier .IncludesText
{
	visibility: collapse;
}

.IncludesText
{
	horizontal-align: center;
	text-align: center;
	color: rgba(245, 245, 245, 0.3);
	font-size: 15px;
	margin-bottom: 16px;
	visibility: collapse;
}

.IncludesText
{
	visibility: visible;
}

.TierContent
{
	flow-children: down;
	width: 100%;
}

#FriendPreviewAvatarImage
{
	width: 48px;
	height: 48px;
	box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.6);
	border-radius: 2px;
}

.FriendPreview
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 32px;
	margin-left: 16px;
}

.FriendPreviewDetails
{
	flow-children: down;
	vertical-align: middle;
	margin-left: 8px;
}

.FriendPreviewNameContainer
{
	flow-children: right;
}

#FriendPreviewBadge
{
	width: 22px;
	height: 22px;
}

.FriendPreviewName
{
	vertical-align: middle;
	margin-left: 2px;
}

.FriendRichPesence
{
	color: #6A9561;
	font-size: 16px;
	margin-top: -2px;
}

.ChatPreview
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 32px;
}

#ChatPreviewBadge
{
	width: 22px;
	height: 22px;
	margin-right: 2px;
}

.ChatPreviewLabel
{
	color: white;
	vertical-align: middle;
}

.ChatPreviewText
{
	vertical-align: middle;
}

.RewardCategory
{
	flow-children: down;
	horizontal-align: center;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.3);
	padding: 5px;
	width: 100%;
	margin: 4px 12px;
}

#RewardCategoryItems
{
	flow-children: right;
	horizontal-align: center;
	margin: 6px;
}

.RewardCategoryName
{
	horizontal-align: center;
	text-align: center;
	margin-bottom: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	color: rgba(245, 245, 245, 0.6);
	text-shadow: textShadowMedium;
}

.EmoticonReward
{
	margin: 0px 6px;
}

.EmoticonCategory .RewardCategoryName
{
	margin-top: 2px;
}

.ChatWheelCategory #RewardCategoryItems
{
	flow-children: down;
}

.ChatWheelCategory .RewardCategoryName
{
	margin-top: 2px;
}

.ChatWheelReward
{
	flow-children: right;
	border: 1px solid #ffffff06;
	border-radius: 4px;
	padding: 4px;
	width: 280px;
	margin-bottom: 6px;
	background-color: gradient( linear, 0% 0%, 90% 100%, from( #ffffff02 ), color-stop( 0.8, #ffffff06 ), to( #ffffff00 ) );
	transition-property: brightness;
	transition-duration: 0.2s;
}

.ChatWheelReward Label
{
	color: #C2B9A9;
	margin-left: 2px;
	font-size: 16px;
	vertical-align: center;
	width: fill-parent-flow(1);
	height: 19px;
	text-overflow: ellipsis;
}

.ChatWheelReward:hover
{
	brightness: 2.0;
}

.ChatWheelReward:active
{
	brightness: 1.5;
	transform:translateY(1px);
}

#ChatWheelSoundButton
{
	margin-right: 4px;
	vertical-align: center;
}

.SprayReward
{
	width: 92px;
	height: 92px;
	margin: 4px;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.SprayReward:hover
{
	brightness: 1.6;
	pre-transform-scale2d: 1.03;
}

.SprayReward:active
{
	brightness: 1.2;
}

.SprayReward #SprayImage
{
	width: 100%;
	height: 100%;
}

.LoadingScreenReward
{
	width: 160px;
	height: 90px;
	ui-scale: 87%;
	margin: 0px 4px;
	box-shadow: 2px 2px 4px #00000044;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.LoadingScreenReward
{
	ui-scale: 75%;
}

.LoadingScreenReward:hover
{
	brightness: 1.6;
	pre-transform-scale2d: 1.03;
}

.LoadingScreenReward:active
{
	brightness: 1.2;
}

.LoadingScreenReward #EconItemImage
{
	width: 100%;
	height: 100%;
}

.LoadingScreenCategory .RewardCategoryName
{
	margin-top: 2px;
}

.HPBarImage
{
	width: 197px;
	height: 37px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/dpc/healthbar_badge_preview_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#HPBarBadge
{
	width: 30px;
	height: 30px;
	margin-left: 4px;
	margin-right: 30px;
	vertical-align: middle;
}

.Highlight
{
	color: white;
}

.PlayerCardPackInfo
{
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 16px;
	flow-children: down;
}

.PlayerCardPackInfo .FeatureName
{
	margin: 0;
}

#CardPackScenePanel
{
	width: 200px;
	height: 280px;
	z-index: 1;
	brightness: 1;
	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
	horizontal-align: center;
	margin-bottom: -10px;
}

.CardPacksShadow
{
	width: 150px;
	height: 220px;
	z-index: 0;
	margin-left: 32px;
	margin-top: 82px;
	wash-color: black;
	blur: gaussian(6px);
	opacity: .6;
	horizontal-align: center;
	ignore-parent-flow: true;
	pre-transform-scale2d: 1.35;
	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 0.16s;
	transition-timing-function: ease-in-out;
}

#SupporterTier3 .CardPackIncludesContainer
{
	margin-top: 2px;
}

.CardPackIncludesContainer
{
	vertical-align: bottom;
	flow-children: down;
	margin-top: 32px;
	horizontal-align: center;
	width: 100%;
	padding: 8px 0;
	background-color: #0005;
	box-shadow: 0 2px 6px #0004;
	margin-bottom: 24px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	border-brush: gradient( linear, 30% 100%, 90% 0%, from( #cc8727 ), color-stop( 0.08, #e7a850 ),color-stop( 0.38, #f5d7ad ),color-stop( 0.68, #c0780b ),color-stop( 0.8, #754705 ), to( #643f0b ) );
}

.CardPackContainer
{
	horizontal-align: center;
	flow-children: right;
}

.CardPackType
{
	flow-children: right;
	tooltip-position:top;
	tooltip-body-position: 100%;
	tooltip-arrow-position: 25%;
	visibility: collapse;
}

.TierHasBasicPacks #BasicCardPackType,.TierHasTeamPacks #TeamCardPackType
{
	visibility: visible;
}

.CardPackBasic
{
	width: 32px;
	height: 42px;
	background-image: url("s2r://panorama/images/playercards/cardback_winter2022_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 4px;
}

#TeamCardPackType .CardPackBasic
{
	background-image: url("s2r://panorama/images/playercards/cardback_winter2022_psd.vtex");
}

.CardPackLogo
{
	width: 20px;
	height: 20px;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 6px;
}

#CardPackLogoBasic
{
	width: 16px;
	height: 16px;
	wash-color: #daa32d;
}

.CardPackAmount
{
	vertical-align: bottom;
	margin-bottom: 4px;
	font-size: 26px;
	font-weight: thin;
	margin-right: 16px;
	color: #DAA42E;
}

.HasTier .Discount
{
	visibility: collapse;
}

.Discount
{
	margin: 1px 0;
	padding: 0 12px;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}

.DiscountContainer
{
	ignore-parent-flow: true;
	flow-children: right;
	transform: rotateZ( 0deg) translateY(-76px) translateX(100px);
	vertical-align: bottom;
}

.StrikeThroughLine
{
	width: 100%;
	height: 1px;
	background-color: #99D4EEaa;
	horizontal-align: right;
	vertical-align: middle;
	margin: 0 6px;
	box-shadow: 0px 0.5px 0px #294049;
}

.LeftDiscount
{
	margin-left: 1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid rgb(37, 73, 23);
	color: #dbf384;
	background-color: #4C6B22;
	border-right-width: 0px;
}

.RightDiscount
{
	margin-right: 1px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background-color: #000;
	border: 1px solid rgb(59, 105, 40);
	border-left-width: 0px;
	color: #99D4EE;
}

#SupporterTier1 .CardPackAmount
{
	color: #b3897c;
}

#SupporterTier2 .CardPackAmount
{
	color: #ebe2df;
}

#SupporterTier3 .CardPackAmount
{
	color: #d8d2a8;
}

#SupporterTier1 .CardPackIncludesContainer
{
	border-brush: gradient( linear, 30% 100%, 90% 0%, from( #997266 ), color-stop( 0.08, #c09689 ),color-stop( 0.38, #c7988a ),color-stop( 0.68, #d6a799 ),color-stop( 0.8, #ca9f92 ), to( #8b665b ) );
}

#SupporterTier2 .CardPackIncludesContainer
{
	border-brush: gradient( linear, 30% 100%, 90% 0%, from( #71828f ), color-stop( 0.08, #86a3b8 ),color-stop( 0.38, #abc8dd ),color-stop( 0.68, #afcee4 ),color-stop( 0.8, #A2BDD0 ), to( #8097a8 ) );
}

#SupporterTier3 .CardPackIncludesContainer
{
	border-brush: gradient( linear, 30% 100%, 90% 0%, from( #cc8727 ), color-stop( 0.08, #e7a850 ),color-stop( 0.38, #f5d7ad ),color-stop( 0.68, #c0780b ),color-stop( 0.8, #754705 ), to( #643f0b ) );
}

