/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPInternational2025TalentBundlesPopup.PopupPanel
{
	width: 1320px;
	height: 920px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTABPInternational2025TalentBundlesPopup.PopupPanel.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.PopupContents
{
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: down;
}

.DashOrnament
{
	horizontal-align: center;
	width: 100px;
}

.DashOrnament.Flipped
{
	transform: scaleY( -1 );
	brightness: 0.4;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: 180%;
	background-position: center top;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #554587 ) );
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #8d7893 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.Header
{
	flow-children: down;
	horizontal-align: center;
	padding-bottom: 8px;
	width: 100%;
	padding: 28px 32px 0px;
}

.Header Label
{
	text-shadow: 0px 2px 12px black;
}

.Header .Title
{
	horizontal-align: center;
	font-family: titleFont;
	font-weight: thin;
	font-size: 32px;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.2);
}

.Header .Title .TalentName
{
	font-weight: semi-bold;
	color: white;
}

.Header .Subtitle
{
	horizontal-align: center;
	color: #babddb;
	font-family: titleFont;
	width: 920px;
	text-align: center;
}

.Header .Subtitle b
{
	font-weight: semi-bold;
}

.Header #CloseButton
{
	horizontal-align: right;
	ignore-parent-flow: true;
}

#BundleTiers
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 16px;
	visibility: collapse;
}

.HasBundles #BundleTiers
{
	visibility: visible;
}

.NoBundleTiers
{
	width: 800px;
	height: 400px;
	horizontal-align: center;
}

.HasBundles .NoBundleTiers
{
	visibility: collapse;
}

.NoBundleTiers Label
{
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	color: #ccc;
}

.BundleTier
{
	flow-children: down;
	margin: 8px;
	max-width: 400px;
	height: 700px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #280e5f ), to( #0d032e ) );
	box-shadow: 0px 0px 24px #00000066;
}

.BundleTier .BundleTierBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(232, 213, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 100%, from( white ), to( rgb(137, 137, 137) ) );
}

.BundleTier .CellStarMap
{
	width: 250%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	-s2-mix-blend-mode: screen;
	opacity: 0.1;
	margin-top: -17%;
	wash-color: rgb(120, 105, 255);
	ignore-parent-flow: true;
	visibility: collapse;
}

.BundleTier .BundleTierTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-size: cover;
	background-position: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 90%, from( white ), color-stop(0.5, rgba(255, 255, 255, 0.2) ), to( rgba(255, 255, 255, 0) ) );
	opacity: 0.6;
}

.BundleTier.BundleTier1 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_standard_png.vtex");
}

.BundleTier.BundleTier2 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_glitter_png.vtex");
}

.BundleTier.BundleTier3 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_holo_png.vtex");
}

.BundleTier.BundleTier4 .BundleTierTexture
{
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/talent_bundle_texture_gold_png.vtex");
}

.BundleTier .TierName
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 12px 0px 8px;
	width: 100%;
	text-align: center;
	font-family: titleFont;
	text-shadow: 0px 2px 12px black;
	background-color: rgba(21, 13, 65, 0.95);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.BundleTier.HasBundleRewards #TierRewards
{
	visibility: visible;
}

.BundleTier.HasBundleRewards .NoRewardsLabel
{
	visibility: collapse;
}

.BundleTier #TierRewards
{
	width: 300px;
	height: fill-parent-flow( 1.0 );
	horizontal-align: center;
	padding-top: 12px;
	flow-children: down;
	overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll_psd.vtex");
	visibility: collapse;
}

.BundleTier #TierRewards VerticalScrollBar
{
	width: 6px;
	opacity: 0;
}

.BundleTier #TierRewards:hover VerticalScrollBar
{
	opacity: 1;
}

.BundleTier #TierRewards .Reward
{
	flow-children: down;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.3);
	padding: 5px;
	width: 100%;
	margin: 4px 12px;
}

.BundleTier #TierRewards .Reward.RewardTypeSticker
{
	border: 0px;
	background-color: none;
	margin: 0px;
	margin-top: -8px;
}

.BundleTier #TierRewards .Reward #RewardContents
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
	padding: 0px 8px;
}

.BundleTier #TierRewards .Reward .RewardName
{
	horizontal-align: center;
	text-transform: uppercase;
	color: rgba(211, 199, 237, 0.8);
	letter-spacing: 2px;
	font-size: 14px;
	margin: 2px 0px;
	text-shadow: textShadowSmall;
}

.BundleTier #TierRewards .Reward .StickerReward
{
	width: 250px;
	height: 250px;
	margin-bottom: 4px;
	horizontal-align: center;
	saturation: 1.1;
	brightness: 1.1;
}

.BundleTier #TierRewards .Reward .ChatWheelReward
{
	flow-children: right;
	border: 1px solid #ffffff06;
	border-radius: 4px;
	padding: 0px 4px;
	width: 280px;
	margin-bottom: 6px;
	background-color: #8881;
	height: 36px;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.BundleTier #TierRewards .Reward .ChatWheelReward:hover
{
	brightness: 2.0;
	transition-duration: 0s;
}

.BundleTier #TierRewards .Reward .ChatWheelReward:hover Label
{
	color: white;
	opacity: 1;
}

.BundleTier #TierRewards .Reward .ChatWheelReward:hover Image,.BundleTier #TierRewards .Reward .ChatWheelReward:hover MoviePanel
{
	wash-color: white;
}

.BundleTier #TierRewards .Reward .ChatWheelReward:hover DOTAPreviewAudioButton
{
	transform: scale3d( 1.05, 1.05, 1 );
}

.BundleTier #TierRewards .Reward .ChatWheelReward DOTAPreviewAudioButton
{
	transition-property: transform;
	transition-duration: 0.1s;
	vertical-align: center;
}

.BundleTier #TierRewards .Reward .ChatWheelReward:active:enabled:not(.Disabled)
{
	brightness: 0.7;
	transform: scale3d(0.98, 0.98, 1.0 );
}

.BundleTier #TierRewards .Reward .ChatWheelReward .ChatWheelSoundIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.BundleTier #TierRewards .Reward .ChatWheelReward .ChatWheelText
{
	color: #d0d0e6;
	margin-left: 2px;
	vertical-align: center;
	text-overflow: shrink;
	font-size: 16px;
	line-height: 1.1;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: fill-parent-flow(1);
	text-overflow: shrink;
}

.BundleTier #TierRewards .Reward .AutographReward
{
	horizontal-align: center;
	ui-scale: 75%;
}

.BundleTier #PurchaseButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 28px;
}

.BundleTier .PurchasedTick
{
	width: 32px;
	height: 32px;
	ignore-parent-flow: true;
	horizontal-align: right;
	margin: 1px;
	visibility: collapse;
}

.BundleTier .SupportedBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 2px solid;
	opacity-brush: gradient( linear, 100% 0%, 0% 100%, from( #ffffff ), color-stop( 0.5, #4e4e4e ), to( #8d8d8d ) );
	visibility: collapse;
}

.BundleTier.Purchased .PurchasedTick
{
	visibility: visible;
}

.BundleTier.Purchased .SupportedBorder
{
	visibility: visible;
}

.BundleTier1 .TierName
{
	color: gradient( linear, 0% 25%, 0% 100%, from( LightestGrey ), to( LighterGrey ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(117, 113, 156, 0.176) ), to( rgba(48, 26, 78, 0.489) ) );
}

.BundleTier1 .SupportedBorder
{
	border-color: rgb(166, 150, 198);
}

.BundleTier1 .PurchasedTick
{
	wash-color: rgb(166, 150, 198);
}

.BundleTier2 .TierName
{
	color: gradient( linear, 0% 25%, 0% 100%, from( white ), color-stop( 0.45, LightestGrey ), color-stop( 0.55, LightGrey ), to( white ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(117, 113, 156, 0.6) ), to( rgba(48, 26, 78, 0.489) ) );
}

.BundleTier2 .SupportedBorder
{
	border-color: rgb(203, 223, 255);
}

.BundleTier2 .PurchasedTick
{
	wash-color: rgb(203, 223, 255);
}

.BundleTier3 .TierName
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( primaryColor1 ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(77, 95, 167, 0.6) ), to( rgba(52, 36, 104, 0.489) ) );
}

.BundleTier3 .SupportedBorder
{
	border-color: rgb(148, 255, 201);
}

.BundleTier3 .PurchasedTick
{
	wash-color: rgb(148, 255, 201);
}

.BundleTier4 .TierName
{
	color: gradient( linear, 0% 25%, 0% 100%, from( white ), color-stop( 0.45, rgb(231, 213, 170) ), color-stop( 0.55, rgb(168, 144, 80) ), to( rgb(195, 171, 91) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(194, 174, 94, 0.2) ), to( rgba(93, 72, 26, 0.1) ) );
}

.BundleTier4 .SupportedBorder
{
	border-color: rgb(255, 236, 143);
}

.BundleTier4 .PurchasedTick
{
	wash-color: rgb(255, 236, 143);
}

