/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.SecondaryTabSet
{
	flow-children: down;
	vertical-align: top;
	margin: 0px;
	padding: 0px 32px;
	width: 400px;
	height: 1080px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0a0732 ), to( #05021a ) );
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 0px 0px rgba(236, 230, 255, 0.01);
}

.SecondaryTabSet .SectionHeader
{
	horizontal-align: center;
	text-align: center;
	color: #babddb;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 4px 12px;
	margin-top: 8px;
	font-size: 14px;
	text-shadow: textShadowSmall;
}

.Divider
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	wash-color: rgb(66, 62, 116);
}

.LogoContainerSmall
{
	flow-children: down;
	padding: 12px 0px 12px;
	width: 100%;
	transition-property: transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.LogoContainerSmall:hover
{
	transform: scale3d(1.03, 1.03, 1);
	brightness: 1.5;
}

.LogoContainerSmall:active
{
	transform: scale3d(1.03, 1.03, 1) translateY(2px);
	brightness: 0.8;
	sound: "ui_generic_button_click";
}

.LogoContainerSmall .AegisContainer
{
	horizontal-align: center;
	margin-bottom: -36px;
}

.LogoContainerSmall .AegisContainer .AegisGlow
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(80, 82, 255) ), color-stop( 0.5, rgb(80, 82, 255) ), to( rgba(80, 83, 255, 0) ) );
	opacity: 0.1;
	transform: scale3d( 1.1, 1.1, 1 );
}

.LogoContainerSmall .AegisContainer .Aegis2025
{
	width: 240px;
	height: width-percentage( 100% );
	-s2-mix-blend-mode: screen;
}

.LogoContainerSmall .TheInternationalScript
{
	width: 300px;
	horizontal-align: center;
	img-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
	opacity-brush: gradient( linear, 0% 50%, 0% 90%, from( white ), to( #C297C8 ) );
	padding: 12px;
	margin-bottom: -4px;
}

.LogoContainerSmall .TheInternationalText
{
	horizontal-align: center;
	font-family: titleFont;
	color: gradient( linear, 0% 30%, 0% 130%, from( white ), to( #C297C8 ) );
	text-shadow: 0px 2px 12px black;
	font-size: 28px;
	max-width: 240px;
	height: 40px;
	text-align: center;
	text-overflow: shrink;
	margin-top: 16px;
	margin-bottom: -4px;
	visibility: collapse;
}

.Language_schinese .LogoContainerSmall .TheInternationalScript,.Language_tchinese .LogoContainerSmall .TheInternationalScript
{
	visibility: collapse;
}

.Language_schinese .LogoContainerSmall .TheInternationalText,.Language_tchinese .LogoContainerSmall .TheInternationalText
{
	visibility: visible;
}

.LogoContainerSmall .StarsContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: -2px;
}

.LogoContainerSmall .StarsContainer .StarIcon
{
	opacity-brush: gradient( linear, 0% 10%, 0% 90%, from( white ), to( #8A7AC9 ) );
	img-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
	padding: 4px;
	width: 20px;
	margin: 0px -1px;
}

.DashDotDivider
{
	width: 60%;
}

.TopBorder
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( secondaryColor3 ), color-stop( 0.5, secondaryColor1 ), to( secondaryColor3 ) );
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.SecondaryTabsContainer
{
	flow-children: down;
	width: 100%;
	margin: 4px 0px 12px;
}

.SecondaryTabButton
{
	width: 100%;
	height: 30px;
	border-top: 1px solid rgba(255, 255, 255, 0);
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #247B2900 ), color-stop( 0.5, #176d2a00 ), to( #247B2900 ) );
	overflow: noclip;
	transition-property: background-color, brightness;
	transition-duration: 0.1s;
}

.SecondaryTabButton .TabGlow
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	z-index: -1;
	overflow: noclip;
	width: 90%;
	height: 80px;
	-s2-mix-blend-mode: screen;
	opacity-brush: gradient( linear, 0% 30%, 0% 80%, from( white ), to( rgb(19, 0, 128) ) );
	margin-top: 2px;
	hue-rotation: -2deg;
	opacity: 0;
	transform: scale3d(0.7, 0.7, 1);
	transition-property: opacity, transform;
	transition-duration: 0.15s, 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.SecondaryTabButton Label
{
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	font-size: 18px;
	transition-property: color;
	transition-duration: 0.2s;
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	transition-property: transform, color;
	transition-duration: 0.1s;
}

.SecondaryTabButton .ButtonContents
{
	horizontal-align: center;
	flow-children: right;
}

.SecondaryTabButton .ButtonContents Label
{
	width: fit-children;
}

.SecondaryTabButton.RewardsButton Label
{
	font-size: 22px;
	letter-spacing: 2px;
}

.SecondaryTabButton:hover Label
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.SecondaryTabButton:hover Image
{
	wash-color: white;
}

.SecondaryTabButton:selected Label
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.SecondaryTabButton:selected .TabGlow
{
	opacity: 1;
	transform: none;
}

.SecondaryTabButton:active
{
	sound: "ui_generic_button_click";
}

.SecondaryTabButton:active Label
{
	transform: translateY( 1px );
}

.WebsiteLink
{
	horizontal-align: center;
	flow-children: right;
}

.WebsiteLink Label
{
	font-size: 15px;
	text-shadow: textShadowMedium;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-align: center;
	transition-property: color;
	transition-duration: 0.1s;
}

.WebsiteLink Image
{
	width: 16px;
	height: 16px;
	vertical-align: center;
	margin-left: 2px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	transition-property: opacity-brush;
	transition-duration: 0.1s;
}

.WebsiteLink:hover Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.WebsiteLink:hover Image
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.SecondaryTabsContainer .Divider
{
	margin: 8px 0px 12px;
}

.CellStarMap
{
	ignore-parent-flow: true;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: bottom;
	width: 200%;
	height: 200%;
	margin-bottom: -100%;
	wash-color: rgb(216, 186, 255);
	opacity: 0;
	transform: scaleY( -1 );
}

.PlayerInfoContainer
{
	width: 100%;
	margin: 0px 12px;
	flow-children: right;
}

.PlayerInfoContainer .PlayerInfoBlock
{
	flow-children: down;
	width: fill-parent-flow(1);
	padding: 8px 0px;
}

.PlayerInfoContainer .PlayerInfoBlock .PlayerInfoValue
{
	horizontal-align: center;
	margin: -2px;
	color: whitesmoke;
	font-size: 20px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	letter-spacing: 0px;
}

.PlayerInfoContainer .PlayerInfoBlock .PlayerInfoLabel
{
	horizontal-align: center;
	color: #babddb;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 2px;
}

.PlayerInfoContainer .PlayerInfoBlock:hover .InfoIcon
{
	wash-color: none;
	opacity: 1;
}

.PlayerInfoContainer .TotalPointsBlock
{
	flow-children: right;
	horizontal-align: center;
}

.PlayerInfoContainer .TotalPointsBlock .InfoIcon
{
	wash-color: rgb(189, 175, 224);
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PlayerInfoContainer .VerticalDivider
{
	height: 100%;
	background-color: rgb(66, 62, 116);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.PlayerInfoContainer DOTAAvatarImage
{
	width: 32px;
	height: width-percentage( 100% );
	background-color: rgb(98, 101, 111);
	border-radius: 3px;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.6);
}

.LeaderboardArea
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-top: 12px;
}

.LeaderboardSelectorRow
{
	horizontal-align: center;
	flow-children: right;
	background-color: rgba(5, 5, 50, 0.97);
	box-shadow: 0px 0px 0px 1px rgba(241, 237, 255, 0.02);
	horizontal-align: center;
	overflow: noclip;
	border-radius: 3px;
}

.LeaderboardSelectorRow .LeaderboardSelector
{
	margin: 2px;
	padding: 6px 12px;
	border-radius: 3px;
	border: 1px solid;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a34a000 ), to( #23155600 ) );
	box-shadow: none;
	transition-duration: 0.1s;
}

.LeaderboardSelectorRow .LeaderboardSelector Label
{
	margin-bottom: -1px;
	horizontal-align: center;
	font-size: 15px;
	text-shadow: textShadowMedium;
	text-transform: uppercase;
	letter-spacing: 1.1px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	text-align: center;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.LeaderboardSelectorRow .LeaderboardSelector .RadioBox
{
	visibility: collapse;
}

.LeaderboardSelectorRow .LeaderboardSelector:selected
{
	border: 1px solid rgba(214, 167, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.4) ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a34a0 ), to( #231556 ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

.LeaderboardSelectorRow .LeaderboardSelector:selected Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(168, 98, 255, 0.4);
}

.LeaderboardSelectorRow .LeaderboardSelector:active
{
	transform: translateY( 1px );
	sound: "ui_select_arrow";
}

.LeaderboardContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin: 20px 0px 0px;
}

#LeaderboardContainerGlobal,#LeaderboardContainerFriends
{
	visibility: collapse;
}

.ShowFriendsLeader #LeaderboardContainerFriends,.ShowGlobalLeader #LeaderboardContainerGlobal
{
	visibility: visible;
}

.LeaderList
{
	width: 100%;
	height: 200px;
	flow-children: down;
	overflow: squish scroll;
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll.psd");
	padding: 4px 0px 8px;
}

.LeaderList VerticalScrollBar
{
	width: 4px;
	margin: 4px 0px 10px;
	wash-color: rgb(219, 187, 255);
}

.LeaderListHeader
{
	width: 100%;
}

.LeaderListHeader Label
{
	text-transform: uppercase;
	font-size: 14px;
	color: #babddb;
	letter-spacing: 2px;
}

.LeaderListHeader .TotalScore
{
	horizontal-align: right;
	text-align: right;
}

.LeaderboardRow
{
	width: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #181456 ), color-stop( 0.5, #1814567c ), to( #18145600 ) );
	flow-children: right;
	padding-right: 4px;
}

.LeaderboardRow #LeaderListAvatar
{
	width: 28px;
	height: 28px;
	vertical-align: middle;
	background-color: rgba( 0, 0, 0, 0.5 );
	margin-right: 6px;
}

.LeaderboardRow .LeaderListName
{
	color: #c8c8e4;
	vertical-align: center;
}

.LeaderboardRow .LeaderListName .PersonaName
{
	color: #c8c8e4;
}

.LeaderboardRow .LeaderListValue
{
	horizontal-align: right;
	text-align: right;
	color: whitesmoke;
	vertical-align: center;
	margin-right: 12px;
}


