/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MixBlendModePlayground
{
	width: 100%;
	max-width: 1920px;
	padding: 100px 40px;
	flow-children: down;
	overflow: squish scroll;
	background-color: DarkestGrey;
}

.MixBlendModeContent
{
	width: 100%;
	flow-children: down;
}

.MixBlendModeTitle
{
	horizontal-align: center;
	color: whitesmoke;
	margin-bottom: 24px;
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}

.MixBlendModeGrid
{
	flow-children: right-wrap;
	horizontal-align: center;
}

.MixBlendModeContainer
{
	width: 275px;
	height: width-percentage( 100% );
	box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.1);
	margin: 8px;
	border-radius: 10px;
	background-color: gradient(linear, 0% 0%, 100% 100%, from(red), color-stop(0.166, orange), color-stop(0.333, yellow), color-stop(0.5, green), color-stop(0.666, blue), color-stop(0.833, indigo), to(violet));
	padding: 8px;
}

.MixBlendMode_Red
{
	width: 150px;
	height: 150px;
	background-color: #ff0000;
	horizontal-align: center;
	vertical-align: center;
	transform: translateX(-50px) translateY(-25px);
}

.MixBlendMode_Green
{
	width: 150px;
	height: 150px;
	background-color: #00ff00;
	horizontal-align: center;
	vertical-align: center;
	transform: translateX(50px) translateY(-25px);
}

.MixBlendMode_Blue
{
	width: 150px;
	height: 150px;
	background-color: #0000ff;
	horizontal-align: center;
	vertical-align: center;
	transform: translateY(50px);
}

.MainBranch .MixBlendMode_Normal .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: normal;
}

.MainBranch .MixBlendMode_Multiply .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: multiply;
}

.MainBranch .MixBlendMode_Screen .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: screen;
}

.MainBranch .MixBlendMode_Additive .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: additive;
}

.MainBranch .MixBlendMode_Opaque .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: opaque;
}

.MainBranch .MixBlendMode_Overlay .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: overlay;
}

.MainBranch .MixBlendMode_HardLight .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: hardlight;
}

.MainBranch .MixBlendMode_LinearBurn .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: linearburn;
}

.MainBranch .MixBlendMode_Darken .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: darken;
}

.MainBranch .MixBlendMode_Lighten .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: lighten;
}

.MainBranch .MixBlendMode_ColorDodge .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: colordodge;
}

.MainBranch .MixBlendMode_ColorBurn .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: colorburn;
}

.MainBranch .MixBlendMode_Hue .MixBlendMode_ApplyBlend
{
	-s2-mix-blend-mode: hue;
}

.MainBranch .Normal
{
	-s2-mix-blend-mode: normal;
}

.MainBranch .Multiply
{
	-s2-mix-blend-mode: multiply;
}

.MainBranch .Screen
{
	-s2-mix-blend-mode: screen;
}

.MainBranch .Additive
{
	-s2-mix-blend-mode: additive;
}

.MainBranch .Opaque
{
	-s2-mix-blend-mode: opaque;
}

.MainBranch .Overlay
{
	-s2-mix-blend-mode: overlay;
}

.MainBranch .HardLight
{
	-s2-mix-blend-mode: hardlight;
}

.MainBranch .LinearBurn
{
	-s2-mix-blend-mode: linearburn;
}

.MainBranch .Darken
{
	-s2-mix-blend-mode: darken;
}

.MainBranch .Lighten
{
	-s2-mix-blend-mode: lighten;
}

.MainBranch .ColorDodge
{
	-s2-mix-blend-mode: colordodge;
}

.MainBranch .ColorBurn
{
	-s2-mix-blend-mode: colorburn;
}

.MainBranch .Hue
{
	-s2-mix-blend-mode: hue;
}

.Blur
{
	blur: gaussian(4px);
}

.Black
{
	wash-color: #000000;
}

.MixBlendModeSubTitle
{
	horizontal-align: center;
	margin: 8px;
	color: white;
}

.Divider
{
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.041);
	margin: 16px;
}

.MixBlendModeGridSub
{
	flow-children: down;
	border: 1px solid rgba(255, 255, 255, 0.02);
	background-color: black;
	margin: 8px;
	padding: 8px;
}

.MixBlendModeGridSub .MixBlendModeTitle
{
	margin-bottom: 0px;
	font-size: 16px;
	color: LighterGrey;
	width: 100%;
	text-align: center;
	height: 40px;
}

.MixBlendModeGridSub .MixBlendModeContainer
{
	margin: 4px;
}

.MixBlendModeGridSub .MixBlendModeContainer
{
	background-color: black;
	box-shadow: none;
	width: 190px;
	border-radius: 4px;
	padding: 0px;
}

.MixBlendModeNotes
{
	vertical-align: bottom;
	horizontal-align: center;
	margin: 4px;
	text-align: center;
	font-size: 14px;
	color: white;
	text-shadow: 0px 1px 8px black;
	padding: 2px 8px;
	border-radius: 4px;
	width: 100%;
	height: 56px;
}

.MixBlendModeNotes.Good
{
	background-color: rgba(85, 255, 113, 0.1);
}

.MixBlendModeNotes.Improve
{
	background-color: rgba(255, 159, 85, 0.1);
}

.FigmaLogo
{
	border-radius: 6px;
	width: 32px;
	height: 32px;
	vertical-align: bottom;
	margin: 8px;
}

.TestImage
{
	width: 80%;
	height: 80%;
	horizontal-align: center;
	vertical-align: center;
}

.MixBlendModeContainer.Gradient2Color
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #4071ad ), to( #703080 ) );
}

.TestCircle
{
	horizontal-align: center;
	vertical-align: center;
	width: 75%;
	height: 75%;
	background-color: white;
	border-radius: 50%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #FFFFFF ), to( #000000 ) );
}

.TestCircle.SolidFill
{
	background-color: black;
}

.TestSquare
{
	horizontal-align: center;
	vertical-align: center;
	width: 75%;
	height: 75%;
	background-color: white;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #000000 ) );
}

.GroupNotes
{
	horizontal-align: center;
	margin: 12px;
}

.WashTest
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	width: 75%;
	height: 75%;
	background-color: none;
}

.WashTest .Left
{
	width: 50%;
	height: 100%;
	overflow: clip;
}

.WashTest .Right
{
	width: 50%;
	height: 100%;
	overflow: clip;
}

.WashTest .Right .Image
{
	position: -100% 0px 0px;
}

.WashTest .Image
{
	width: 200%;
	height: 100%;
	border: 2px solid white;
	background-image: url("s2r://panorama/images/dev/blend_modes/oracle_icon_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
}

.WashTest .Image.WashColor
{
	wash-color: #7F7F7F;
}

.WashTest .Image.Rounded
{
	border-radius: 40px;
}

.WashTest Image
{
	width: 100%;
	height: 100%;
}

.WashTest Image.WashColor
{
	wash-color: #7F7F7F;
}

.WashTest.Rounded
{
	border-radius: 40px;
}

.WashTest.Border
{
	border: 1px solid white;
}

