
DOTABPInternational2023TalentPage.DashboardPage {
    width:100%;
	height: 100%;
}

#DOTABPInternational2023TalentPage .BPPageDescription {
	margin-right: 500px;
}


.Header {
	margin-bottom: 4px;


	.HeaderRight {
		horizontal-align: right;
		height: 100%;

		#LanguageSelection {
			vertical-align: bottom;
			margin-bottom: 20px;

			 #LanguageDropDown {
				border-width: 1px;
				border-color: white;
				border-brush: gradient( linear, 0% 0%, 100% 100%, from( defaultColor ), color-stop( 0.2, accentColorBright ), to( defaultColor ) );

				Label {
					color: white;
				}
			}

			Label {
				vertical-align: center;
				color: secondaryBrightColor;
				text-transform: uppercase;

				margin-top: 2px;
				margin-right: 16px;
			}
		}
	}
}

.LanguageMenu
{
	Label {
		background-color: #222222;
	}

	.DropDownChild {
		width: 100%;
	}
}

#TalentWell {
	width: 100%;
	height: 100%;
	flow-children: right-wrap;
	overflow: squish scroll;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.TalentPanel {
	width: 210px;
	margin: 4px;

	flow-children: down;
	padding: 20px 20px 14px 20px;
	background-color: rgba(0, 0, 0, 0.708);

	transition-property: brightness;
	transition-duration: 0.2s;

	&:hover {
		brightness: 2.0;
	}
	&:active {
		brightness: 1.5;
	}


	#TalentImage {
		box-shadow: #000000aa 0px 0px 8px 0px;
		width: 100%;
		height: width-percentage( 100% );
		background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( primaryColor5 ), to( #000 ) );
		saturation: 0.8;
	}

	.Name {
		margin: 8px 0px 2px;
		color: white;
		font-size: 20px;
		color: whitesmoke;
		font-weight: semi-bold;
	}

	.RealName {
		color: accentColor;
		font-size: 16px;
		text-overflow: shrink;
		height: 20px;
	}

	.Title {
		margin-top: 2px;

		color: #2f7eb1;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 1.5px;

		visibility: collapse;
	}
}