
DOTABPInternational2023TalentBundlesPopup.PopupPanel {
	flow-children: none;
	background-image: url( "file://{images}/battlepass/international2023/bg_night_compendium_subsection.jpg" );
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	background-color: #011017;
	box-shadow: shadowMedium;
	animation-name: none;
	padding: 0px;

	.CloseButton {
		horizontal-align: right;
	}
}

.MainContents {
	padding: 32px 48px;
	flow-children: down;
}

.Header {
	flow-children: down;

	.Title {
		font-size: 32px;
		color: primaryColor2;
		text-shadow: 2px 2px 4px black;

		.TalentName {
			color: white;
			font-weight: bold;
		}
	}
	.Subtitle {
		color: #999;
		font-size: 24px;
	}
}

#BundleTiers {
	flow-children: right;
	margin-top: 16px;

	visibility: collapse;

	.HasBundles & {
		visibility: visible;
	}
}

.NoBundleTiers {
	width: 800px;
	height: 400px;
	horizontal-align: center;

	.HasBundles & {
		visibility: collapse;
	}

	Label {
		horizontal-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 20px;
		color: #ccc;
	}
}

.BundleTier {
	flow-children: down;
	margin-right: 16px;

	.TierName {
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 24px;
		horizontal-align: center;
		text-align: center;
	}

	&.HasBundleRewards {

		#TierRewards {
			visibility: visible;
		}
		.NoRewardsLabel { 
			visibility: collapse;
		}
	}

	#TierRewards {
		width: 300px;
		height: 550px;
		background-color: #000c;
		flow-children: down;
		padding-top: 16px;

		visibility: collapse;

		.Reward {
			flow-children: down;
			width: 100%;
			margin-bottom: 16px;

			#RewardContents {
				width: 100%;
				flow-children: down;
				vertical-align: bottom;
				padding: 0px 8px;
			}

			.RewardName {
				horizontal-align: center;
				text-transform: uppercase;
				color: #666;
				letter-spacing: 2px;
				font-size: 14px;
			}

			.StickerReward {
				width: 250px;
				height: 250px;
				margin-bottom: 4px;
				horizontal-align: center;
			}

			.ChatWheelReward {
				flow-children: right;
				horizontal-align: center;

				transition-property: brightness;
				transition-duration: 0.2s;

				&:hover {
					brightness: 2.0;
				}
				&:active {
					brightness: 1.5;
				}

				.ChatWheelSoundIcon {
					width: 20px;
					height: 20px;

					background-image: url( "file://{images}/hud/reborn/icon_scoreboard_mute_sound.psd" );
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}

				.ChatWheelText {
					margin-left: 4px;
				}
			}

			.AutographReward {
				horizontal-align: center;
				ui-scale: 75%;
			}
		}
	}

	#PurchaseButton {
		horizontal-align: center;
		margin-top: 16px;
	}
}



.BundleTier1 .TierName { color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( primaryColor4 ) ); }
.BundleTier2 .TierName { color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #999 ) ); }
.BundleTier3 .TierName { color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( primaryColor1 ) ); }
.BundleTier4 .TierName { color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( goldColor ) ); }
