
DOTABPInternational2023PredictionsPage.DashboardPage
{
    width: 100%;
	height: 100%;
}


.MainContents {
	
	flow-children: down;

	.Header {
		.StageTabs {
			vertical-align: bottom;
			flow-children: right;

			.Countdown
			{
				.Locked &
				{
					opacity: 0;
				}
			}

			.StageTabRight {
				margin-left: 15px;
				visibility: collapse;
			}

			.TabContents {
				min-width: 350px;
			}

			                                                                                                     
			.MainEventComplete & #MainEventTab .StageTabRight,
			.PlayoffsComplete & #PlayoffsTab .StageTabRight,
			.GroupStageCompleted & #GroupStageTab .StageTabRight {
				visibility: visible;
			}
		}
	}

	.BodyContainer {
		width: 100%;
		height: fill-parent-flow(1);
		border: 1px solid rgba(255, 255, 255, 0.15);
		border-top: 0px;
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
		background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( rgba(0, 0, 0, 1) ) );
	}

	.Body {
		overflow: scroll;
		flow-children: right;
		width: 100%;
		height: fill-parent-flow(1);

		TabContents {
			padding: 24px 48px 48px;
		}

		.UnavailableContainer {
			width: 1380px;
			height: fit-children;
			vertical-align: center;
			horizontal-align: center;
			flow-children: down;
			visibility: visible;

			.Available.HasCompendium & {
				visibility: collapse;
			}

			.LockedHeader {
				horizontal-align: center;
				vertical-align: middle;
				font-size: 28px;
				font-family: titleFont;
				font-weight: semi-bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: LightestGrey;
				margin: -48px 0px 8px;
				color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
			}

			#LockedReasonLabel {
				horizontal-align: center;
			}

			.LockIconContainer {
				horizontal-align: center;
				padding: 32px;
				border: 1px solid white;
				border-brush: gradient( linear, 0% 0%, 70% 70%, from( primaryColor3 ), to( primaryColor4&00 ) );
				margin: 40px;
				transform: rotateZ( 45deg );

				.LockIcon {
					transform: rotateZ( -45deg );				
				}
			}
		}


		.Stage {
			flow-children: right;
			visibility: collapse;

			.Available.HasCompendium &:selected {
				visibility: visible;
			}

			.StageColumns {
				flow-children: right;

				.Column {
					flow-children: down;
					vertical-align: center;

					.FinalsRow {
						flow-children: right;
						margin-bottom: 30px;
					}

					.DayContainer {
						margin-bottom: 16px;
					}
				}
			}

			.StageRows {
				flow-children: down;
				visibility: collapse;

				.Available & {
					visibility: visible;
				}

				.Row {
					flow-children: right;
					margin-bottom: 16px;

					.DayContainer {
						                         
					}
				}
			}

			.StageStats {
				flow-children: down;
				width: 350px;
				margin-right: 16px;
				visibility: collapse;

				.Available & {
					visibility: visible;
				}

				.StageDetails {
					width: 100%;
					                    
					margin-bottom: 16px;
					margin-right: 32px;
					padding-top: 24px;
					flow-children: down;

					.RewardsHeading {
						width: 100%;
							font-family: titleFont;
							font-size: 32px;
							letter-spacing: 0.2px;
							color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
							padding-bottom: 12px;
							border-bottom: 1px solid white;
							border-brush: gradient( linear, 0% 0%, 100% 0%, from( primaryColor4 ), to( primaryColor4&00 ) );
					}

					Label {
						margin-bottom: 24px;
						color: LightGrey;
					}


					.RewardDetails {
						width: 100%;
						height: fit-children;
						flow-children: down;
						margin-top: 12px;
						horizontal-align: center;

						.DotDotDot	{
							margin: 0px 8px;
							height: 1px;
							width: fill-parent-flow(1);
							vertical-align: center;
							background-color: accentColorBright&44;
						}

						.RewardCellLine	{
							flow-children: right;
							width: 100%;
						}

						.InfoRewards {
							color: LighterGrey;
							text-align: center;
							horizontal-align: right;
							vertical-align: center;
							margin-bottom: 0px;
						}
					}
				}
				
				.Leaderboard {
					width: 100%;
					height: 208px;
					margin-bottom: 16px;
				}

			}
		}

		.DayContainer {
			flow-children: down;
			background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor5&99 ), to( primaryColor6 ));
			border: 2px solid rgba(255, 255, 255, 1);
			border-brush: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor3 ));
			box-shadow: 0px 12px 48px -8px rgba( 0, 0, 0, 0.6);
			vertical-align: center;

			&.Inactive {
				brightness: 0.2;
				saturation: 0.8;
			}

			.DayHeader {
				width: 100%;
				flow-children: right;
				padding: 8px 12px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.055);
				background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor5 ));
				box-shadow: 0px 1px 0px primaryColor4&66;

				.DayName {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 1px;
					color: LightestGrey;
					text-shadow: textShadowSmall;
				}

				.DayDate {
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 1px;
					color: LightestGrey;
					text-shadow: textShadowSmall;
				}
			}

			.DayContents {
				flow-children: down;
				width: fit-children;
				padding: 12px;

				.DayRow {
					flow-children: right;
				}

				.GroupName {
					margin: 4px 0px;
					color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
					text-shadow: textShadowSmall;
				}

				International2023PredictionGroup, International2023PredictionSeries {
					margin-bottom: 8px;
				}
			}
		}
	}
}

#PlayoffsTabContents {
	#PlayoffsColumn2 {
		.EmptyDay {
			width: 100%;
			height: 340px;
			margin-bottom: 16px;

			.LeftRightLinesContainer {
				vertical-align: center;
				opacity: 0.2;
				margin-top: -2px;
			}
		}		
	}

	#PlayoffsColumn3 {
		vertical-align: top;
	}

	.DayContents {
		padding: 8px;
	}

	#PlayoffsLinesColumn1 {
		width: 48px;
		height: 50%;
		opacity: 0.2;
		margin-bottom: 30px;
		vertical-align: center;
		flow-children: down;
	}
	
	#PlayoffsLinesColumn2 {
		width: 48px;
		height: 50%;
		opacity: 0.2;
		margin-bottom: 30px;
		vertical-align: center;
		flow-children: down;
	}
}

.GroupLabel {
	color: secondaryColor1;
	padding: 0px 0px 3px;
	border-radius: 4px;
	letter-spacing: 0px;
	border: 1px solid secondaryColor1&33;
	background-color: primaryColor7;
	width: 30px;
	text-align: center;
}

#MainEventTabContents {
	.StageColumns {
		padding-top: 20px;
	}

	#FinalsColumn1 {
		margin-top: 218px;
	}

	#FinalsColumn3 {
		margin-top: 240px;
	}

	#FinalsColumn4 {
		margin-top: 0px;

		.DayContainer {
			margin: 30px 0px;
		}
	}

	#FinalsColumn5 {
		margin-top: 120px;
	}

	#WinnerColumn {
		margin-top: 132px;
	}

	.DayContainer {
		margin-bottom: 30px;
	}

	.DayContents {
		padding: 8px;
	}

	#FinalsUB {
		overflow: noclip;

		.LinesContainer {
			width: 302px;
		}

		#FinalsUB_AB_Container {
			height: 100%;

			#GroupLabelA {
				horizontal-align: center;
				vertical-align: center;
				margin-bottom: 30px;
				transform: translateY( -15% );
			}

			#GroupLabelB {
				horizontal-align: center;
				vertical-align: center;
				transform: translateY( 15% );
				margin-bottom: 30px;
			}

			.DoubleLinesContainer {
				width: 64px;
				flow-children: none;			
			}
		}

		#FinalsUB_C_Container {
			height: 100%;

			#GroupLabelC {
				horizontal-align: right;
				vertical-align: center;
				margin-bottom: 30px;
				margin-right: 16px;
			}

			.ForkContainer {
				width: 654px;
			}
		}		
	}

	#FinalsLB {
		margin-left: 64px;
	}
}

.GroupTeamSlot {
	flow-children: right;
	background-color: primaryColor7;
	border: 1px solid primaryColor2&44;
	width: 220px;

	transition-property: border;
	transition-duration: 0.1s;

	Label {
		color: LighterGrey;
	}

	&.Active {
		border-color: primaryColor2;

		animation-name: GlowActiveTeamSelector;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: alternate-reverse;
	}

	&.Inactive {
		border-color: primaryColor2&11;
		background-color: primaryColor6;
		brightness: 0.5;

		Label {
			color: LightGrey;
		}
	}

	DOTATeamImage {
		width: 32px;
		height: 32px;
	}

	.TeamName {
		vertical-align: middle;
	}

	Label {
		transition-property: color;
		transition-duration: 0.1s;
	}

	.ResultIcon {
		width: 14px;
		height: 14px;
		vertical-align: center;
		horizontal-align: right;
		margin-right: 8px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}

	&:hover:not(&.Inactive) {
		border-color: white;

		Label {
			color: white;
		}
	}

	.NoData &:hover:not(&.Inactive),
	.Locked &:hover:not(&.Inactive) {
		border-color: primaryColor2&44;

		Label {
			color: LighterGrey;
		}
	}

	&.Correct,
	&.OpponentCorrect {
		border-color: winnerGreen&44;
		background-color: winnerGreen&11;
		box-shadow: 0px 0px 16px winnerGreen&09;

		Label {
			color: winnerGreen;
			brightness: 1.5;
		}

		.ResultIcon {
			background-image: url("file://{images}/control_icons/24px/check.svg");
			wash-color: winnerGreen;
		}
	}

	&.Incorrect,
	&.OpponentIncorrect {
		border-color: loserRed&44;
		background-color: loserRed&11;
		box-shadow: 0px 0px 16px loserRed&09;

		Label {
			color: loserRed;
			brightness: 1.5;
		}

		.ResultIcon {
			background-image: url("file://{images}/control_icons/24px/x_close.svg");
			wash-color: loserRed;
		}
	}
}

International2023PredictionGroup {
	padding: 8px;
	flow-children: down;

	&.NoData,
	&.Locked {
		brightness: 0.5;
	}

	.GroupTeamSlot {
		flow-children: right;
		margin-bottom: 6px;

		.TeamRank {
			width: 45px;
			text-align: right;
			padding-right: 8px;
			vertical-align: middle;
			font-weight: semi-bold;
		}

		.GroupTeam {
			flow-children: right;
			height: 32px;
		}

		.NoTeamMark {
			visibility: collapse;
			vertical-align: middle;
		}

		&.NoTeam {
			.NoTeamMark {
				visibility: visible;
			}

			.TeamName,
			#TeamImage {
				visibility: collapse;
			}
		}
	}
}

.SingleLine {
	width: 48px;
	height: 1px;
	vertical-align: center;
	opacity: 0.2;
	background-color: secondaryColor1;
	margin-bottom: 30px;
}

.ForkContainer {
	width: 48px;
	height: 100%;
	flow-children: right;
	vertical-align: center;
	opacity: 0.2;
	margin-bottom: 30px;

	.Fork2 {
		width: 24px;
		height: 100%;
		border: 1px solid secondaryColor1;
		border-left: 0px;
	}

	.Fork1 {
		width: fill-parent-flow(1);
		height: 50%;
		border-bottom: 1px solid secondaryColor1;
	}

	&.Height_20 { height: 20%; }
	&.Height_30 { height: 30%; }
	&.Height_40 { height: 40%; }
	&.Height_50 { height: 50%; }
	&.Height_60 { height: 60%; }
	&.Height_70 { height: 70%; }
	&.Height_80 { height: 80%; }
}

.TopLeftBottomRightLinesContainer {
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: right;
	margin-bottom: 12px;

	.LeftLine {
		width: fill-parent-flow( 1 );
		height: 100%;
		border-top: 1px solid secondaryColor1;
		border-right: 1px solid secondaryColor1;
	}

	.RightLine {
		width: fill-parent-flow( 1 );
		height: 100%;
		border-bottom: 1px solid secondaryColor1;
	}
}

.BottomLeftTopRightLinesContainer {
	width: 100%;
	height: fill-parent-flow(1);
	flow-children: right;
	margin-bottom: 12px;

	.LeftLine {
		width: fill-parent-flow( 1 );
		height: 100%;
		border-bottom: 1px solid secondaryColor1;
		border-right: 1px solid secondaryColor1;
	}

	.RightLine {
		width: fill-parent-flow( 1 );
		height: 100%;
		border-top: 1px solid secondaryColor1;
	}
}

.LeftRightLinesContainer {
	width: 100%;
	height: 1px;
	background-color: secondaryColor1;
	margin-bottom: 12px;
}

.DoubleLinesContainer {
	width: 48px;
	height: 100%;
	flow-children: right;
	vertical-align: center;
	opacity: 0.2;
	border-top: 1px solid secondaryColor1;
	border-bottom: 1px solid secondaryColor1;
	margin-bottom: 30px;

	&.Height_20 { height: 20%; }
	&.Height_30 { height: 30%; }
	&.Height_40 { height: 40%; }
	&.Height_50 { height: 50%; }
	&.Height_60 { height: 60%; }
	&.Height_70 { height: 70%; }
	&.Height_80 { height: 80%; }
}

@keyframes 'GlowActiveTeamSelector' {
	0% {
		brightness: 1;
		box-shadow: 0px 0px 12px primaryColor3&00;
	}

	100% {
		brightness: 2;
		box-shadow: 0px 0px 24px primaryColor3&99;
	}
}

@keyframes 'GlowActiveCrownSelector'
{
	0% {
		brightness: 0.2;
	}

	100% {
		brightness: 1.5;
	}
}

International2023PredictionSeries {
	padding: 8px 8px 0px 8px;
	flow-children: down;
	margin-bottom: 16px;

	&.NoData,
	&.Locked {
		brightness: 0.5;
	}

	&.Winner0 #Crown0,
	&.Winner1 #Crown1 {
		brightness: 1.2;
	}

	                                                
	&.Winner0.WinnerCorrect #Crown0,
	&.Winner1.WinnerCorrect #Crown1 {
		wash-color: winnerGreen;
		img-shadow: 0px 0px 16px winnerGreen&33;
	}

	&.Winner0.WinnerCorrect #CrownResultIcon0,
	&.Winner1.WinnerCorrect #CrownResultIcon1 {
		background-image: url("file://{images}/control_icons/24px/check.svg");
		wash-color: winnerGreen;
	}

	                                                  
	&.Winner0.WinnerIncorrect #Crown0,
	&.Winner1.WinnerIncorrect #Crown1 {
		wash-color: loserRed;
		img-shadow: 0px 0px 16px loserRed&33;
	}

	&.Winner0.WinnerIncorrect #CrownResultIcon0,
	&.Winner1.WinnerIncorrect #CrownResultIcon1 {
		background-image: url("file://{images}/control_icons/24px/x_close.svg");
		wash-color: loserRed;
	}


	.Crown {
		vertical-align: middle;
		height: 24px;
		width: 24px;
		margin-left: 4px;
		background-image: url( "file://{images}/hud/player_mvp_crown.png" );
		background-repeat: no-repeat;
		background-size: contain;
		brightness: 0.2;

		transition-property: brightness;
		transition-duration: 0.1s;
	}

	&.CrownsActive .Crown
	{
		animation-name: GlowActiveCrownSelector;
		animation-duration: 0.8s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: alternate-reverse;
	}

	.GroupTeamRow {
		flow-children: right;
		margin-bottom: 8px;
		overflow: noclip;

		.CrownResultIcon {
			width: 12px;
			height: 12px;
			vertical-align: center;
			horizontal-align: right;
			transform: translateX( 10px );
			
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			ignore-parent-flow: true;
		}
	}

	.GroupTeamSlot {
		flow-children: right;
		width: 200px;

		.GroupTeam {
			flow-children: right;
			width: fill-parent-flow(1);
			height: 32px;
			padding-left: 8px;

			DOTATeamImage {
				width: 32px;
				height: 32px;
			}

			.TeamName {
				vertical-align: middle;
			}

			.NoTeamMark {
				vertical-align: middle;
				visibility: collapse;
			}
		}

		&.NoTeam
		{
			.NoTeamMark
			{
				visibility: visible;
			}

			.TeamName,
			#TeamImage
			{
				visibility: collapse;
			}
		}
	}
}

BracketPrediction.TI2023 {
	margin: 8px;
	width: 220px;
}

.PredictionsBackgroundImage {
	width: 1200px;
	height: 100%;
	horizontal-align: center;
	ignore-parent-flow: true;
	background-image: url( "file://{images}/compendium/international2023/oracle_background.png" );
	background-size: cover;
	background-position: center;
	opacity: 0.3;
	wash-color: primaryColor2&99;
	opacity-mask: url( "file://{images}/masks/hero_model_preview_mask_loadout.psd" );
	transform: translateX( 430px );

	.CompediumBackgroundParticles {
		width: 160%;
		height: 160%;
		brightness: 6;
		horizontal-align: center;
		vertical-align: center;
		overflow: noclip;
	}
}



                                                   

                           
	                    
	                     

	                       
		                     
	 

	             
		                    
	 

	            
		                    
	 
 

                      
	                    
	                     
 

                       
	                    
	                     
    