/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.Title
{
	horizontal-align: center;
	text-align: center;
	width: 100%;
	font-family: titleFont;
	color: white;
	text-shadow: 2px 2px 4px black;
	font-size: 32px;
	padding: 16px;
	font-weight: bold;
}

.Features
{
	vertical-align: bottom;
	width: 100%;
	flow-children: down;
	padding: 48px 16px 16px 16px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000 ), color-stop( 0.2, #000c ), to( #000f ) );
}

.Features .Feature
{
	horizontal-align: center;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor3 ) );
}

