/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define gold1: #EFD4AC;
@define gold2: #DCB25E;
@define gold3: #977628;
.FrontPageCell738
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
}

.FrontPageCell738 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #d1f7ff0f ), to( #acffd305 ) );
}

.FrontPageCell738 .CellContent
{
	padding: 24px 16px;
	width: 100%;
	flow-children: down;
}

.FrontPageCell738 .CellContent .CellLabel
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #69f8ca ), to( #23847e ) );
	text-shadow: 0px 2px 10px black;
	margin-bottom: 6px;
}

.FrontPageCell738 .CellContent .CellLabel b
{
	font-weight: semi-bold;
}

.FrontPageCell738 .CellContent .PatchTitle
{
	horizontal-align: center;
	margin-bottom: 4px;
	text-align: center;
	color: rgba(230, 235, 255, 0.927);
	font-weight: semi-bold;
	font-size: 32px;
	text-shadow: 0px 2px 12px black;
	text-overflow: shrink;
}

.FrontPageCell738 .CellContent .Description
{
	text-align: center;
	font-family: 'titleFont';
	color: LighterGrey;
	text-shadow: 0px 2px 12px black;
	margin-bottom: 16px;
	font-size: 16px;
	text-overflow: shrink;
}

.FrontPageCell738 .ButtonsContainer
{
	horizontal-align: center;
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
	padding: 0px 20px 8px;
}

.FrontPageCell738 .ButtonsContainer #PatchNotesButton
{
	horizontal-align: center;
	margin-bottom: 12px;
	width: 100%;
	ui-scale: 90%;
}

.FrontPageCell738 .ButtonsContainer .VisitWebsiteLabel
{
	color: rgba(255, 255, 255, 0.6);
	margin-top: -10px;
	padding: 8px;
	width: 100%;
	text-align: center;
	text-shadow: 0px 0px 24px rgba(213, 255, 249, 0);
	transition-property: color, text-shadow;
	transition-duration: 0.05s, 0.2s;
}

.FrontPageCell738 .ButtonsContainer .VisitWebsiteLabel:hover
{
	color: white;
	text-shadow: 0px 0px 24px rgba(213, 255, 249, 0.5);
}


