/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CosmicTreasure2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0A0532 ), to( #49216A ) );
}

.CosmicTreasure2025:hover .CellBorder
{
	border: 1px solid rgba(220, 205, 255, 0.1);
}

.CosmicTreasure2025:hover .CellArt,.CosmicTreasure2025:hover .HeroModels
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.CosmicTreasure2025:hover .CellContent .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.CosmicTreasure2025 .CellArt
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CosmicTreasure2025 .CellTitle
{
	horizontal-align: center;
	width: 100%;
	font-family: titleFont;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 0px 48px rgba(209, 124, 255, 0.2);
	font-size: 15px;
	padding: 12px;
}

.CosmicTreasure2025 .TopGradient
{
	width: 100%;
	height: 200px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 40%, 0% 80%, from( #12102400 ), color-stop( 0.5, #12102499 ), to( #0c0a24 ) );
	opacity: 0.6;
}

.CosmicTreasure2025 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(220, 205, 255, 0.05);
	transition-property: border;
	transition-duration: 0.1s;
}

.CosmicTreasure2025 .HeroModels
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -12%;
	opacity-brush: gradient( linear, 0% 85%, 0% 94%, from( white ), to( rgba(255, 255, 255, 0) ) );
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CosmicTreasure2025 .HeroModels .HeroModelShadow
{
	width: 80%;
	height: 40px;
	margin-bottom: 5%;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 0, 0, 0.9) ), color-stop( 0.6, rgba(0, 0, 0, 0.7) ), to( #00000000 ) );
}

.CosmicTreasure2025 .HeroModels .RewardModelPreview
{
	width: 240px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.CosmicTreasure2025 .HeroModels #Earthshaker
{
	transform: translateX( 2% ) translateY( 3% );
}

.CosmicTreasure2025 .HeroModels #Luna
{
	transform: translateX( 34% ) translateY( 0% ) scale3d( 0.9, 0.9, 1 );
}

.CosmicTreasure2025 .HeroModels #Sven
{
	transform: translateX( -32% ) translateY( 0% ) scale3d( 0.9, 0.9, 1 );
}

.CosmicTreasure2025 .CellContent
{
	padding: 12px;
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.CosmicTreasure2025 .CellContent .Description
{
	text-align: center;
	color: #d1d1ff;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	text-align: center;
	width: 100%;
	font-size: 14px;
}

