/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.International2025
{
	background-color: gradient( linear, 0% 60px, 0% 100%, from( #010212 ), color-stop( 0.65, #1c1f61 ), to( #1c1f61 ) );
}

.International2025:hover .CellBorder
{
	border: 1px solid rgba(220, 205, 255, 0.1);
}

.International2025:hover .BackgroundImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.BackgroundImage
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(196, 183, 255, 0.05);
	transition-property: border;
	transition-duration: 0.1s;
}

.TopContent
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 8px;
	width: 100%;
}

.TopContent Label
{
	horizontal-align: center;
	text-align: center;
}

.Congratulations
{
	color: #DEA8F4;
}

.TeamName
{
	width: 100%;
	height: 32px;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
	font-family: titleFont;
	color: white;
	font-size: 18px;
	text-overflow: shrink;
}

.ChampionsDescription
{
	margin: 0px 8px;
	height: 56px;
	text-overflow: shrink;
	text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
	font-size: 15px;
	color: #d0d6ffe6;
	line-height: 1.2;
}

.YourPerformanceLabel
{
	horizontal-align: center;
	margin-bottom: 6px;
	color: whitesmoke;
	font-weight: semi-bold;
	text-shadow: 0px 0px 12px rgba(128, 93, 255, 0.6);
}

.BottomContent
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
}

.BottomContent Label
{
	horizontal-align: center;
	text-align: center;
}

.PlayerInfoContents
{
	padding: 0px 44px;
	width: 100%;
	horizontal-align: center;
	flow-children: right;
	border-top: 1px solid rgba(207, 173, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
}

.PlayerInfoContents .PlayerInfoBlock
{
	flow-children: down;
	width: fill-parent-flow(1);
	padding: 8px 0px;
	horizontal-align: center;
}

.PlayerInfoContents .PlayerInfoBlock .PlayerInfoValue
{
	horizontal-align: center;
	margin: -2px;
	color: whitesmoke;
	font-size: 18px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	letter-spacing: 0px;
}

.PlayerInfoContents .PlayerInfoBlock .PlayerInfoLabel
{
	horizontal-align: center;
	color: #cacef4;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 2px;
}

.PlayerInfoContents .PlayerInfoBlock:hover .InfoIcon
{
	wash-color: none;
	opacity: 1;
}

.PlayerInfoContents .TotalPointsBlock
{
	flow-children: right;
	horizontal-align: center;
}

.PlayerInfoContents .TotalPointsBlock .InfoIcon
{
	wash-color: rgb(189, 175, 224);
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PlayerInfoContents .VerticalDivider
{
	height: 100%;
	background-color: rgba(207, 173, 255, 0.3);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
}

.EventActionsContainer
{
	horizontal-align: center;
	padding: 16px;
	padding-top: 0px;
}

.EventActionsContainer .ClaimRewardsFX
{
	width: 220%;
	height: 400%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: -80px;
	visibility: collapse;
}

.HasUnclaimedRewards .EventActionsContainer .ClaimRewardsFX
{
	visibility: visible;
}

.EventActionsContainer #ClaimRewardsButton
{
	horizontal-align: center;
	visibility: collapse;
}

.HasUnclaimedRewards .EventActionsContainer #ClaimRewardsButton
{
	visibility: visible;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.EventActionsContainer #ViewEventButton
{
	horizontal-align: center;
	visibility: visible;
}

.HasUnclaimedRewards .EventActionsContainer #ViewEventButton
{
	visibility: collapse;
}


