/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.ShortFilmContent2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0A0532 ), to( #49216A ) );
}

.ShortFilmContent2025:hover .CellArt
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.ShortFilmContent2025:hover .CellContent .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.ShortFilmContent2025 .CellArt
{
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.ShortFilmContent2025 .CellTitle
{
	width: 100%;
	font-size: 14px;
	font-weight: semi-bold;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 12px rgba(209, 124, 255, 0.3);
	padding: 0px 8px;
	height: 22px;
	text-overflow: shrink;
	font-family: titleFont;
	margin-top: 12px;
	letter-spacing: 1.2px;
}

.ShortFilmContent2025 .TopGradient
{
	width: 100%;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d5f6ac2 ), to( #88aeff02 ) );
}

.ShortFilmContent2025 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #3a9b64 ), to( #226955 ) );
	opacity: 0.1;
}

.ShortFilmContent2025 .CellContent
{
	padding: 16px 12px;
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.ShortFilmContent2025 .CellContent .Description
{
	text-align: center;
	color: rgb(202, 195, 234);
	text-shadow: 0px 2px 12px 2 black;
	margin-bottom: 4px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	max-height: 40px;
	text-overflow: shrink;
	opacity: 0.9;
}

.ShortFilmContent2025 .CellContent .ButtonLabel
{
	color: gradient( linear, 0% 20%, 0% 100%, from( #fffffe ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
	width: 100%;
	text-align: center;
	text-shadow: 0px 2px 8px black;
	transition-property: color;
	transition-duration: 0.2s;
}

