/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.International2026
{
	background-color: gradient( linear, 0% 60px, 0% 100%, from( ti26_black ), to( ti26_chocolate ) );
}

.International2026:hover .FPCellBorder
{
	border: 1px solid rgba(255, 228, 207, 0.06);
}

.International2026:hover .BackgroundImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.BackgroundImage
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.FPCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 228, 207, 0.03);
	transition-property: border;
	transition-duration: 0.1s;
}

.CellDescription
{
	text-align: center;
	font-size: 15px;
	line-height: 1.2;
	margin: 12px;
	text-shadow: 0px 2px 8px black;
	vertical-align: bottom;
	color: ti26_cream&99;
	max-height: 60px;
	text-overflow: shrink;
}

.TitleContainer
{
	flow-children: down;
	vertical-align: center;
	width: 45%;
	margin: 0px 12px 60px;
}

.TitleContainer Label
{
	text-align: center;
	horizontal-align: center;
}

.TitleContainer .Year
{
	color: ti26_lemon;
	text-shadow: 0px 2px 8px black;
	letter-spacing: 2px;
}

.TitleContainer .Title
{
	color: whitesmoke;
	font-weight: normal;
	font-size: 20px;
	text-overflow: shrink;
	max-height: 60px;
	text-shadow: 0px 0px 12px ti26_yellow&22;
}

