/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.WinterTreasure2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #254767 ), to( #5e87ae ) );
}

.WinterTreasure2025:hover .CellBorder
{
	border: 1px solid rgba(220, 205, 255, 0.1);
}

.WinterTreasure2025:hover .CellArt,.WinterTreasure2025:hover .HeroModels
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.WinterTreasure2025:hover .CellContent .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.WinterTreasure2025 .CellArt
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.WinterTreasure2025 .Darkness
{
	width: 100%;
	height: 100px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0b171e00 ), color-stop( 0.5, #0b171e88 ), to( #050c0fe8 ) );
}

.WinterTreasure2025 .CellTitle
{
	horizontal-align: center;
	width: 100%;
	font-family: titleFont;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 2px 12px 2 rgba(0, 0, 0, 0.9);
	font-size: 15px;
	padding: 12px;
}

.WinterTreasure2025 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(205, 228, 255, 0.05);
	transition-property: border;
	transition-duration: 0.1s;
}

.WinterTreasure2025 .HeroModels
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 85%, 0% 94%, from( white ), color-stop( 0.5, #8bc7ffea ), to( #6fb9ffb3 ) );
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.WinterTreasure2025 .HeroModels .HeroModelShadow
{
	width: 80%;
	height: 30px;
	margin-bottom: 12%;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(3, 15, 20, 0.8) ), color-stop( 0.5, rgba(3, 15, 20, 0.6) ), to( #00000000 ) );
}

.WinterTreasure2025 .HeroModels .RewardModelPreview
{
	width: 220px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.WinterTreasure2025 .HeroModels #Ringmaster
{
	transform: translateX( -32% ) translateY( 8% ) scale3d( 1, 1, 1 );
	z-index: 1;
}

.WinterTreasure2025 .HeroModels #Tiny
{
	transform: translateX( -5% ) translateY( -4% );
}

.WinterTreasure2025 .HeroModels #ShadowFiend
{
	transform: translateX( 38% ) translateY( 12% ) scale3d( 1, 1, 1 );
	z-index: 1;
}

.WinterTreasure2025 .CellContent
{
	padding: 12px;
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.WinterTreasure2025 .CellContent .Description
{
	text-align: center;
	color: #e5f3ff;
	text-shadow: 0px 2px 12px 2 rgba(0, 0, 0, 0.9);
	text-align: center;
	width: 100%;
	font-size: 15px;
}

