/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define gold1: #EFD4AC;
@define gold2: #DCB25E;
@define gold3: #977628;
.FrontPageSpringForward
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1C183F ), to( #2E3C56 ) );
}

.FrontPageSpringForward:hover .CellArt
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.FrontPageSpringForward:hover .CellLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( white ) );
}

.FrontPageSpringForward:hover .CellBorder
{
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.FrontPageSpringForward .CellArt
{
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.FrontPageSpringForward .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #ffd1e3 ), to( #ffc5d1 ) );
	transition-property: border;
	transition-duration: 0.1s;
}

.FrontPageSpringForward .TopShadow
{
	width: 100%;
	height: 110px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(17, 11, 13, 0.8) ), color-stop(0.5, rgba(66, 31, 51, 0.8) ), to( rgba(42, 21, 27, 0) ) );
}

.FrontPageSpringForward .CellContent
{
	padding: 12px 8px;
	width: 100%;
	flow-children: down;
}

.FrontPageSpringForward .CellContent .CellTitle
{
	horizontal-align: center;
	text-align: center;
	color: whitesmoke;
	font-weight: semi-bold;
	font-size: 15px;
	text-shadow: 0px 2px 12px black;
	text-overflow: shrink;
}

.FrontPageSpringForward .CellContent .Description
{
	width: 100%;
	text-align: center;
	color: rgba(220, 233, 255, 0.8);
	text-shadow: 0px 2px 12px black;
	font-size: 14px;
	letter-spacing: -0.1px;
	text-overflow: shrink;
}

.FrontPageSpringForward .CellLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	padding: 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 232, 217) ), to( rgb(255, 211, 183) ) );
	text-shadow: 0px 2px 10px black;
	font-weight: semi-bold;
	font-size: 14px;
	transition-property: color;
	transition-duration: 0.1s;
}


