/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.International2023TalentCell .FrontpageCellImage
{
	hue-rotation: 5deg;
}

.Top
{
	flow-children: down;
	width: 100%;
	padding: 24px 16px;
}

.Top Label
{
	width: 100%;
	text-align: center;
}

.Top .Header
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	font-size: 26px;
	letter-spacing: 2px;
	line-height: 1.3;
	color: white;
	z-index: 2;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
	text-shadow: textShadowSmall;
	brightness: 1.3;
	text-align: center;
	width: 100%;
}

.Top .NowAvailable
{
	color: white;
	text-transform: uppercase;
	text-shadow: textShadowSmall;
	letter-spacing: 4px;
	margin-bottom: 4px;
	font-size: 20px;
}

.Bottom
{
	vertical-align: bottom;
	padding: 20px;
	width: 100%;
	flow-children: down;
}

.Bottom .Desc
{
	width: 100%;
	text-align: center;
	color: #ccc;
	text-shadow: textShadowSmall;
}

.Bottom .Percentage
{
	font-size: 14px;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	color: secondaryColor2;
	margin-top: 8px;
}

.StickerPreviewContainer
{
	vertical-align: center;
	horizontal-align: center;
	width: 100%;
}

.StickerPreviewContainer #CapsulePreview
{
	width: 100%;
}

.StickerPreviewContainer .StickerShadow
{
	horizontal-align: center;
	width: 1000%;
	height: 64px;
	margin-bottom: 28px;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 24px );
}

#BuyStickersButton
{
	horizontal-align: center;
	width: 100%;
	margin-top: 12px;
}

