/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.International2026
{
	background-color: gradient( linear, 0% 60px, 0% 100%, from( ti26_black ), to( ti26_chocolate ) );
}

.International2026:hover .FPCellBorder
{
	border: 1px solid rgba(255, 228, 207, 0.06);
}

.International2026:hover .BackgroundImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.BackgroundImage
{
	opacity: 0.8;
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.FPCellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 228, 207, 0.03);
	transition-property: border;
	transition-duration: 0.1s;
}

.TopContent
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 8px;
	width: 100%;
}

.TopContent Label
{
	horizontal-align: center;
	text-align: center;
}

.TeamName
{
	width: 100%;
	height: 32px;
	text-shadow: 0px 0px 12px ti26_orange&22;
	font-family: titleFont;
	color: white;
	font-size: 18px;
	text-overflow: shrink;
}

.ChampionsDescription
{
	margin: 0px 8px;
	height: 56px;
	text-overflow: shrink;
	text-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
	font-size: 15px;
	color: #d0d6ffe6;
	line-height: 1.2;
}

.YourPerformanceLabel
{
	horizontal-align: center;
	margin-bottom: 6px;
	color: ti26_lemon;
	font-weight: semi-bold;
	text-shadow: 0px 2px 8px black;
}

.BottomContent
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
}

.BottomContent Label
{
	horizontal-align: center;
	text-align: center;
}

.PlayerInfoContents
{
	padding: 0px 44px;
	width: 100%;
	horizontal-align: center;
	flow-children: right;
	border-top: 1px solid ti26_beigeDark&99;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( ti26_black&cc ), color-stop( 0.5, ti26_black&99 ), to( ti26_black&00 ) );
}

.PlayerInfoContents .PlayerInfoBlock
{
	flow-children: down;
	width: fill-parent-flow(1);
	padding: 8px 0px;
	horizontal-align: center;
}

.PlayerInfoContents .PlayerInfoBlock .PlayerInfoValue
{
	horizontal-align: center;
	margin: -2px;
	color: ti26_cream;
	font-size: 18px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	letter-spacing: 0px;
}

.PlayerInfoContents .PlayerInfoBlock .PlayerInfoLabel
{
	horizontal-align: center;
	color: ti26_peach;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 2px;
}

.PlayerInfoContents .PlayerInfoBlock:hover .InfoIcon
{
	wash-color: none;
	opacity: 1;
}

.PlayerInfoContents .TotalPointsBlock
{
	flow-children: right;
	horizontal-align: center;
}

.PlayerInfoContents .TotalPointsBlock .InfoIcon
{
	wash-color: ti26_cream;
	width: 16px;
	opacity: 0.8;
	margin-left: 7px;
}

.PlayerInfoContents .VerticalDivider
{
	height: 100%;
	background-color: ti26_beigeDark&99;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
}

.EventActionsContainer
{
	horizontal-align: center;
	width: 100%;
	margin-top: 8px;
	padding-top: 0px;
}

.EventActionsContainer .ProgressAvailableBadge
{
	color: white;
	horizontal-align: center;
	padding: 5px 4px 6px;
	width: 100%;
	margin-top: -4px;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 208, 142, 0.76);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.5) ), color-stop( 0.5, rgba(177, 137, 72, 0.7) ), color-stop( 0.7, rgba(177, 137, 72, 0.5) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	visibility: collapse;
	animation-name: ProgressAvailableAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.HasUnclaimedRewards .EventActionsContainer .ProgressAvailableBadge
{
	visibility: visible;
}

@keyframes 'ProgressAvailableAnimation'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

