/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CosmicTreasure2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0A0532 ), to( #49216A ) );
}

.CosmicTreasure2025:hover .CellBorder
{
	border: 1px solid rgba(220, 205, 255, 0.1);
}

.CosmicTreasure2025:hover .CellArt,.CosmicTreasure2025:hover .HeroModels
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.CosmicTreasure2025:hover .CellContent .ButtonLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}

.CosmicTreasure2025 .CellArt
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CosmicTreasure2025 .CellTitleContainer
{
	width: 100%;
	flow-children: down;
	padding: 44px 8px;
}

.CosmicTreasure2025 .CellTitleContainer .TitleLogoBackgroundImage
{
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: -52px;
	margin-left: -8px;
	wash-color: rgb(210, 200, 255);
	opacity: 0.95;
	transform: scale3d( 1.08, 1.08, 1 );
}

.CosmicTreasure2025 .CellTitleContainer #FxScene
{
	width: 100%;
	height: 100%;
	overflow: noclip;
	horizontal-align: center;
	ignore-parent-flow: true;
	margin-top: -36px;
	margin-left: -10px;
}

.CosmicTreasure2025 .CellTitleContainer .CellLabel
{
	horizontal-align: center;
	color: rgb(227, 183, 239);
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 1px 6px black;
	font-weight: semi-bold;
}

.CosmicTreasure2025 .CellTitleContainer .CellSubTitle
{
	horizontal-align: center;
}

.CosmicTreasure2025 .CellTitleContainer .CellTitle
{
	horizontal-align: center;
	width: 100%;
	font-family: titleFont;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 2px 12px black;
}

.CosmicTreasure2025 .CellTitleContainer .Description
{
	text-align: center;
	font-family: 'titleFont';
	color: #d1d1ff;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	margin-bottom: 8px;
	text-align: center;
	width: 100%;
	font-size: 14px;
}

.CosmicTreasure2025 .TopGradient
{
	width: 100%;
	height: 200px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 80%, from( #12102400 ), color-stop( 0.5, #12102499 ), to( #0c0a24 ) );
}

.CosmicTreasure2025 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(220, 205, 255, 0.05);
	transition-property: border;
	transition-duration: 0.1s;
}

.CosmicTreasure2025 .HeroModels
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -12%;
	opacity-brush: gradient( linear, 0% 85%, 0% 94%, from( white ), to( rgba(255, 255, 255, 0) ) );
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CosmicTreasure2025 .HeroModels .HeroModelShadow
{
	width: 80%;
	height: 40px;
	margin-bottom: 5%;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 0, 0, 0.9) ), color-stop( 0.6, rgba(0, 0, 0, 0.7) ), to( #00000000 ) );
}

.CosmicTreasure2025 .HeroModels .RewardModelPreview
{
	width: 320px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.CosmicTreasure2025 .HeroModels #Earthshaker
{
	transform: translateX( 2% ) translateY( 3% );
}

.CosmicTreasure2025 .HeroModels #Luna
{
	width: 290px;
	transform: translateX( 32% ) translateY( 0% );
}

.CosmicTreasure2025 .HeroModels #Sven
{
	width: 290px;
	transform: translateX( -31% ) translateY( 0% );
}

.CosmicTreasure2025 .CellContent
{
	padding: 16px 12px;
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.CosmicTreasure2025 .CellContent .Description
{
	text-align: center;
	font-family: 'titleFont';
	color: #d1d1ff;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	margin-bottom: 8px;
	text-align: center;
	width: 100%;
	font-size: 16px;
}

.CosmicTreasure2025 .CellContent #ViewTreasureButton
{
	horizontal-align: center;
	width: 100%;
	margin-top: 8px;
}

