/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.International2023TeamsCell
{
	overflow: clip;
}

.International2023TeamsCell:hover .ActionLabel
{
	color: white;
}

.International2023TeamsCell:hover .TeamsImage
{
	transform: translateX( 106px ) scale3d( 1.05, 1.05, 1 );
}

.TeamsImage
{
	horizontal-align: center;
	vertical-align: center;
	transform: translateX( 110px );
	width: 320px;
	height: width-percentage(100%);
	overflow: noclip;
	margin-top: 0px;
	background-image: url("s2r://panorama/images/compendium/international2023/lastchance_popup/supporters_club_png.vtex");
	background-size: cover;
	background-position: center;
	transition-duration: 0.25s;
	transition-property: transform;
	transition-timing-function: ease-out;
}

.Contents
{
	flow-children: down;
	width: 70%;
	padding: 20px;
}

.Contents Label
{
	width: 100%;
}

.Contents .Header
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 1.2;
	margin-bottom: 4px;
	color: white;
	z-index: 2;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
	text-shadow: textShadowMedium;
	brightness: 1.3;
	width: 100%;
	text-overflow: shrink;
	max-height: 70px;
}

.Contents .EndDate
{
	color: white;
	font-family: titleFont;
	text-shadow: textShadowSmall;
	margin-bottom: 8px;
	font-size: 16px;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( LightestGrey ) );
	text-overflow: shrink;
	max-height: 34px;
}

.Contents .Desc
{
	color: LightestGrey;
	opacity: 0.8;
	text-shadow: textShadowSmall;
}

.ActionLabel
{
	vertical-align: bottom;
	width: 100%;
	margin: 0px 16px;
	padding: 12px 0px;
	font-weight: semi-bold;
	color: primaryColor1;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( primaryColor3 ), color-stop( 0.7, primaryColor3 ), to( primaryColor3&00 ) );
	transition-duration: 0.1s;
	transition-property: color;
	transition-timing-function: ease-out;
}

