/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MonsterHunterCell
{
	background-color: gradient( linear, 0% 0%, 0% 90%, from( #5070ba ), color-stop( 0.5, #1b192c ), to( #1a1614 ) );
	overflow: clip;
}

.MonsterHunterCell:hover .CellBorder
{
	opacity: 0.08;
}

.MonsterHunterCell:hover .MonsterHunterScene
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.MonsterHunterCell .MonsterHunterScene
{
	width: 330px;
	height: 350px;
	horizontal-align: center;
	overflow: noclip;
	opacity-brush: gradient( linear, 0% 50%, 0% 100%, from( #ffffff ), color-stop( 0.8, #ffffff3c ), to( #ffffff00 ) );
	opacity: 0;
	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.5s, 0.2s;
}

.MonsterHunterCell .MonsterHunterScene.Initialize
{
	opacity: 1;
}

.MonsterHunterCell .MonsterHunterLogo
{
	horizontal-align: center;
	width: 240px;
}

.MonsterHunterCell .DiscountContainer
{
	visibility: collapse;
	horizontal-align: right;
	flow-children: right;
	padding: 2px 4px 3px 24px;
	background-color: gradient( linear, 0% 0%, 30% 0%, from( #00000000 ), to( GreenLighter&CC ) );
}

.MonsterHunterCell .DiscountContainer .DiscountLabel
{
	color: white;
	font-weight: semi-bold;
	text-shadow: 0px 1px 8px black;
	vertical-align: center;
	letter-spacing: 1px;
}

.MonsterHunterCell .DiscountContainer .GuildIcon
{
	width: 16px;
	vertical-align: center;
	img-shadow: 0px 1px 8px rgb(0, 0, 0);
	margin-left: 2px;
}

.OwnsPremium .MonsterHunterCell .DiscountContainer
{
	visibility: collapse;
}

.MonsterHunterCell .CellContent
{
	flow-children: down;
	vertical-align: bottom;
	width: 100%;
}

.MonsterHunterCell .CellContent .LastChanceText
{
	width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.95);
	text-shadow: 0px 2px 12px black;
	font-size: 17px;
	letter-spacing: 1px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-transform: uppercase;
}

.MonsterHunterCell .CellContent .FrontCellEndDate
{
	flow-children: right;
	margin-bottom: 12px;
	margin-left: 6px;
	horizontal-align: center;
	tooltip-position: top;
}

.MonsterHunterCell .CellContent .FrontCellEndDate .EndDateText
{
	color: rgba(255, 248, 233, 0.5);
	text-shadow: 0px 2px 12px black;
	font-size: 13px;
	vertical-align: center;
}

.MonsterHunterCell .CellContent .FrontCellEndDate .TooltipInfoIcon
{
	height: 16px;
	width: 16px;
	margin-left: 5px;
	vertical-align: center;
	wash-color: rgba(255, 248, 233, 1);
	opacity: 0.5;
}

.MonsterHunterCell .CellContent .MaterialPacks
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, #9e8fcb14 ), color-stop( 0.5, #9e8fcb19 ), color-stop( 0.7, #9e8fcb14 ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(198, 194, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgb(255, 255, 255) ), color-stop( 0.7, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	width: 100%;
	padding: 8px 8px 12px;
	flow-children: down;
}

.MonsterHunterCell .CellContent .MaterialPacks Label
{
	horizontal-align: center;
	text-align: center;
	width: 100%;
}

.MonsterHunterCell .CellContent .MaterialPacks .PacksTitle
{
	color: TextColorGradientGold;
	font-weight: semi-bold;
	margin-bottom: 2px;
	height: 20px;
	text-overflow: shrink;
	text-shadow: 0px 2px 12px black;
}

.MonsterHunterCell .CellContent .MaterialPacks .PacksDescription
{
	color: rgba(255, 249, 239, 0.829);
	font-size: 15px;
	line-height: 1.2;
}

.MonsterHunterCell .CellContent .EventDescription
{
	width: 100%;
	text-align: center;
	color: rgba(255, 248, 233, 0.87);
	text-shadow: 0px 2px 12px black;
	margin: 0 12px 12px 12px;
	font-size: 15px;
}

.MonsterHunterCell .CellContent .ProgressAvailableBadge
{
	color: TextColorLightest;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 5px 4px 6px;
	width: 100%;
	font-weight: semi-bold;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 208, 142, 0.76);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.5) ), color-stop( 0.5, rgba(177, 137, 72, 0.7) ), color-stop( 0.7, rgba(177, 137, 72, 0.5) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	animation-name: ProgressAvailableAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.MonsterHunterCell .CellContent .HolidayMaterialsAvailableBadge
{
	color: TextColorLightest;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 5px 4px 6px;
	width: 100%;
	font-weight: semi-bold;
	text-align: center;
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 208, 142, 0.76);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.5) ), color-stop( 0.5, rgba(177, 137, 72, 0.7) ), color-stop( 0.7, rgba(177, 137, 72, 0.5) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	animation-name: ProgressAvailableAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.MonsterHunterCell .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 238, 205, 1);
	opacity: 0.04;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.ExpeditionPackIsOnSale .DiscountContainer
{
	visibility: visible;
}

.ProgressAvailableBadge
{
	visibility: collapse;
}

.MonsterHunterCell.ProgressAvailable .ProgressAvailableBadge
{
	visibility: visible;
}

.HolidayMaterialsAvailableBadge
{
	visibility: collapse;
}

.MonsterHunterCell.HolidayMaterialsAvailable .HolidayMaterialsAvailableBadge
{
	visibility: visible;
}

.MonsterHunterCell.HolidayMaterialsAvailable.ProgressAvailable .ProgressAvailableBadge
{
	visibility: collapse;
}

@keyframes 'ProgressAvailableAnimation'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

