/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.FrontPageSeasonalRewardLineCell
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #211910 ), to( #120a06 ) );
}

.FrontPageSeasonalRewardLineCell:hover .CellBorder
{
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.FrontPageSeasonalRewardLineCell:hover .BackgroundImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.FrontPageSeasonalRewardLineCell #TimeLeft #Completed
{
	visibility: collapse;
}

.FrontPageSeasonalRewardLineCell .ProgressionDisabled #TimeLeft Label
{
	visibility: collapse;
}

.FrontPageSeasonalRewardLineCell .ProgressionDisabled #TimeLeft Label#Completed
{
	visibility: visible;
}

.FrontPageSeasonalRewardLineCell .BackgroundImage
{
	width: 200%;
	height: width-percentage( 56.25% );
	horizontal-align: center;
	overflow: noclip;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.FrontPageSeasonalRewardLineCell .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #ffd1e3 ), to( #ffc5d1 ) );
	transition-property: border;
	transition-duration: 0.1s;
}

.FrontPageSeasonalRewardLineCell .CellContent
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
}

.FrontPageSeasonalRewardLineCell .CellContent .HeroModelsContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.FrontPageSeasonalRewardLineCell .CellContent .HeroModel
{
	width: 420px;
	height: width-percentage( 100% );
	overflow: noclip;
}

.FrontPageSeasonalRewardLineCell .CellContent #PremiumReward_LegionCommander
{
	transform: translateX( 30px ) translateY( -60px );
}

.FrontPageSeasonalRewardLineCell .CellContent #PremiumReward_VengefulSpirit
{
	transform: translateX( -130px ) translateY( -40px ) scale3d( 0.95, 0.95, 1 );
}

.FrontPageSeasonalRewardLineCell .CellContent .Darkness
{
	width: 100%;
	height: 100px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 75%, from( #1e110b00 ), to( #0f0805f6 ) );
}

.FrontPageSeasonalRewardLineCell .CellContent Label
{
	horizontal-align: center;
	text-align: center;
}

.FrontPageSeasonalRewardLineCell .CellContent .TitleContainer
{
	flow-children: down;
	width: 100%;
	margin: 12px;
}

.FrontPageSeasonalRewardLineCell .CellContent .TitleContainer #SeasonTitle
{
	font-size: 15px;
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px 2.0 #000a;
	vertical-align: center;
	padding: 0px 8px;
	height: 22px;
	text-overflow: shrink;
}

.FrontPageSeasonalRewardLineCell .CellContent .TitleContainer #SeasonDescription
{
	width: 100%;
	font-family: titleFont;
	text-shadow: 0px 2px 12px 2.0 #000a;
	color: gradient( linear, 0% 30%, 0% 140%, from( #ffebce ), to( #9a876a ) );
	color: rgba(255, 245, 226, 0.7);
	line-height: 1.2;
	font-size: 15px;
	max-height: 32px;
	text-overflow: shrink;
	margin-top: -1px;
}

.FrontPageSeasonalRewardLineCell .CellContent DOTAEventStatus
{
	vertical-align: center;
	horizontal-align: center;
	margin-top: 12px;
	ui-scale: 110%;
}

.FrontPageSeasonalRewardLineCell .CellContent #TimeLeft
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	margin-bottom: 8px;
}

.FrontPageSeasonalRewardLineCell .CellContent #TimeLeft Label
{
	font-size: 13px;
	color: rgba(211, 208, 202, 0.6);
	text-shadow: 0px 1px 8px 2.0 #000a;
	text-align: center;
	margin: 0px 2px;
	horizontal-align: center;
}

.FrontPageSeasonalRewardLineCell .CellContent .ClaimButton
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	margin: 0px 16px 28px;
	visibility: collapse;
}

.FrontPageSeasonalRewardLineCell .CellContent.HasUnclaimedReward .ClaimButton
{
	visibility: visible;
	animation-name: GlowPrimaryButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'GlowPrimaryButton'
{
	0%
	{
		box-shadow: 0px 0px 23px #E2A65222;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #E2A65233;
		brightness: 1.5;
	}
	
}

