/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.FrontPageCell741
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #31412D ), to( #282D22 ) );
}

.FrontPageCell741:hover .CellArt
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.FrontPageCell741:hover .CellLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( white ) );
}

.FrontPageCell741:hover .CellBorder
{
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.FrontPageCell741 .CellArt
{
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.FrontPageCell741 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.03);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #fafff2 ), to( #f5fff7 ) );
	transition-property: border;
	transition-duration: 0.1s;
}

.FrontPageCell741 .TopShadow
{
	width: 100%;
	height: 100px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(11, 17, 15, 0.8) ), color-stop(0.5, rgba(17, 22, 20, 0.8) ), to( rgba(21, 42, 31, 0) ) );
	opacity: 0.5;
}

.FrontPageCell741 .CellContent
{
	padding: 12px 8px;
	width: 100%;
	flow-children: down;
}

.FrontPageCell741 .CellContent .CellTitle
{
	horizontal-align: center;
	text-align: center;
	color: whitesmoke;
	font-weight: semi-bold;
	font-size: 15px;
	text-shadow: 0px 2px 12px black;
	text-overflow: shrink;
}

.FrontPageCell741 .CellContent .Description
{
	width: 100%;
	text-align: center;
	color: rgba(250, 255, 232, 0.8);
	text-shadow: 0px 2px 12px black;
	font-size: 15px;
	letter-spacing: -0.1px;
}

.FrontPageCell741 .PatchNumber
{
	horizontal-align: center;
	vertical-align: center;
	font-family: titleFont;
	font-size: 40px;
	color: whitesmoke;
	text-shadow: 0px 2px 12px black;
}

.FrontPageCell741 .CellLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	padding: 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 246, 217) ), to( rgb(231, 217, 162) ) );
	text-shadow: 0px 2px 10px black;
	font-weight: semi-bold;
	font-size: 14px;
	transition-property: color;
	transition-duration: 0.1s;
}

