/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Patch_737
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
}

.Patch_737:hover .CellArt
{
	brightness: 1.3;
	pre-transform-scale2d: 1.03;
}

.Patch_737 .CellArt
{
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.Patch_737 .CellTitle
{
	horizontal-align: center;
	color: white;
	margin: 10px 12px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 1);
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: semi-bold;
}

.Patch_737 .TopGradient
{
	width: 100%;
	height: 60px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d5f6ac2 ), to( #88aeff02 ) );
}

.Patch_737 .CellBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 50% 100%, from( #d1e6ff38 ), to( #88aeff02 ) );
}

.Patch_737 .CellContent
{
	padding: 16px 12px;
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.Patch_737 .CellContent .PatchTitle
{
	horizontal-align: center;
	color: white;
	margin: 12px 12px;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6);
	letter-spacing: 1px;
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.Patch_737 .CellContent .Description
{
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0px 2px 12px 2 black;
	margin-bottom: 4px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	max-height: 40px;
	text-overflow: shrink;
	margin-left: 16px;
	margin-right: 16px;
}

.Patch_737 .CellContent DOTACrownfallButton
{
	horizontal-align: center;
	width: 100%;
	margin-left: 6px;
	margin-right: 6px;
}

.Patch_737 .CellContent .VisitWebsiteLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	margin-top: -12px;
	padding: 8px;
	padding-bottom: 4px;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, gold1), color-stop( 0.7, gold1), to( rgba(255, 255, 255, 0) ) );
	width: 100%;
	text-align: center;
	text-shadow: 0px 2px 8px black;
	transition-property: color;
	transition-duration: 0.2s;
}

.Patch_737 .CellContent .VisitWebsiteLabel:hover
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
}


