/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CollectorsCacheVoting
{
	background-color: gradient( linear, 0% 60px, 0% 100%, from( #010212 ), color-stop( 0.65, #1c1f61 ), to( #1c1f61 ) );
}

.CollectorsCacheVoting:hover .CellBorder
{
	border: 1px solid rgba(220, 205, 255, 0.1);
}

.CollectorsCacheVoting:hover .BackgroundImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.BackgroundImage
{
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.2s;
}

.CellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(196, 183, 255, 0.05);
	transition-property: border;
	transition-duration: 0.1s;
}

.VotingTitle
{
	font-size: 15px;
	color: gradient( linear, 0% 35%, 0% 100%, from( white ), to( #9f9ba7 ) );
	text-shadow: 0px 2px 12px 2.0 #000a;
	vertical-align: center;
	padding: 0px 8px;
	height: 22px;
	text-overflow: shrink;
	text-transform: uppercase;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 12px;
	font-family: titleFont;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
}

.Contents
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.ContestDescription
{
	font-family: titleFont;
	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.927);
	text-shadow: 0px 4px 48px black;
	margin-bottom: 4px;
	height: 40px;
	text-overflow: shrink;
}

.VoteLabel
{
	width: 100%;
	text-align: center;
	padding: 8px;
	margin: 4px 24px;
	border-top: 1px solid rgba(255, 236, 206, 0.338);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px black;
	letter-spacing: 1.5px;
}


