
@define gold1: #EFD4AC;
@define gold2: #DCB25E;
@define gold3: #977628;

.DotaPlusSpring2025 {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292623 ), to( #0e141e ) );

	&:hover {
		.TreasureModels {
			brightness: 1.3;
			pre-transform-scale2d: 1.03;
		}
	}	

	.TreasureModels {
		width: 100%;
		height: 100%;
		overflow: noclip;

		transition-property: brightness, pre-transform-scale2d;
		transition-duration: 0.2s;
		transition-timing-function: ease;

		.CellArt {
			width: 100%;
			height: 100%;
		}		

		#Model_Kunkka {
			width: 320px;
			height: 320px;
			transform: translateX( -60px ) translateY( 10px );
			opacity-brush: gradient( linear, 0% 50%, 0% 80%, from( #ffffff ), to( #ffffff00 ) );
		}

		#Model_Leshrac {
			width: 320px;
			height: 320px;
			transform: translateX( 50px ) translateY( 35px );
			opacity-brush: gradient( linear, 0% 50%, 0% 80%, from( #ffffff ), to( #ffffff00 ) );
			opacity: 0.95;
		}
	}
	
	.BottomGradient {
		width: 100%;
		height: 100px;
		vertical-align: bottom;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #0e0b0800 ), color-stop( 0.6, #0e0f12d5 ), to( #0f1316 ) );
		opacity: 0.95;
	}

	.TopBorder {
		width: 100%;
		height: 2px;
		background-color: rgba(220, 173, 87, 0.66);
	}

	.CellBorder {
		ignore-parent-flow: true;
		width: 100%;
		height: 100%;
		border: 1px solid rgba(255, 255, 255, 1);
		border-brush: gradient( linear, 0% 0%, 50% 100%, from( #fff3d10f ), to( #ffd1ac05 ) );
	}	
	
	.CellContent {
		padding: 12px 8px;
		width: 100%;
		flow-children: down;

		.CellTitleContainer {
			flow-children: right;
			horizontal-align: center;
	
			.DotaPlusIcon {
				width: 17px;
				margin-left: 6px;
			}
	
			.CellTitle {
				text-align: center;
				color: rgba(230, 235, 255, 0.927);
				font-weight: semi-bold;
				font-size: 15px;
				text-shadow: 0px 2px 12px black;
				text-overflow: shrink;
			}
		}
		
		.Description {
			horizontal-align: center;
			text-shadow: 0px 2px 10px black;
			font-size: 15px;
			color: rgba(255, 237, 205, 0.7);
		}
	}

	#ViewTreasureButton {
		width: 100%;
		horizontal-align: center;
		vertical-align: bottom;
		margin: 16px 20px;
		height: 32px;
	}
}
