.International2023TalentCell {

}

.Top {
	flow-children: down;
	width: 100%;
	padding: 24px 16px;

	Label {
		width: 100%;
		text-align: center;
	}

	.Header {
        text-transform: uppercase;
        font-family: titleFont;
		font-weight: bold;
        font-size: 26px;
        letter-spacing: 2px;
		line-height: 1.3;
        color: white;
        z-index: 2;
        color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
        text-shadow: textShadowSmall;
        brightness: 1.3;
		text-align: center;
		width: 100%;
	}

	.NowAvailable {
		color: white;
		text-transform: uppercase;
		text-shadow: textShadowSmall;
		letter-spacing: 4px;
		margin-bottom: 4px;
		font-size: 20px;
	}

}


.Bottom {
	vertical-align: bottom;
	padding: 20px;
	width: 100%;
	flow-children: down;

	.Desc {
		width: 100%;
		text-align: center;
		color: #ccc;
		text-shadow: textShadowSmall;
	}

	.Percentage {
		font-size: 14px;
		text-transform: uppercase;
		width: 100%;
		text-align: center;
		letter-spacing: 2px;
		color: secondaryColor2;
		margin-top: 8px;
	}
}