
@define gold1: #EFD4AC;
@define gold2: #DCB25E;
@define gold3: #977628;

.FrontPageCell739 {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b2323 ), to( #562e2e ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #38233b ), to( #432e56 ) );

	&:hover {
		.CellArt {
			brightness: 1.5;
			pre-transform-scale2d: 1.03;
		}

		.CellLabel {
			color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( white ) );
		}

		.CellBorder {
			border: 1px solid rgba(255, 255, 255, 0.1);
		}
	}

	.CellArt {
		transition-property: brightness, pre-transform-scale2d;
		transition-duration: 0.2s;
	}
	
	.CellBorder {
		ignore-parent-flow: true;
		width: 100%;
		height: 100%;
		border: 1px solid rgba(255, 255, 255, 0.03);
		border-brush: gradient( linear, 0% 0%, 50% 100%, from( #fff4f2 ), to( #fff5f6 ) );

		transition-property: border;
		transition-duration: 0.1s;
	}

	.TopShadow {
		width: 100%;
		height: 110px;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(17, 11, 13, 0.8) ), color-stop(0.5, rgba(22, 18, 17, 0.8) ), to( rgba(42, 21, 27, 0) ) );
	}
	
	.CellContent {
		padding: 12px 8px;
		width: 100%;
		flow-children: down;
		
		.CellTitle {
			horizontal-align: center;			
			text-align: center;
			color: whitesmoke;
			font-weight: semi-bold;
			font-size: 15px;
			text-shadow: 0px 2px 12px black;
			text-overflow: shrink;
		}

		.Description {
			width: 100%;
			text-align: center;
			color: rgba(220, 233, 255, 0.8);
			text-shadow: 0px 2px 12px black;
			font-size: 14px;
			letter-spacing: -0.1px;
			text-overflow: shrink;
		}	
	}

	.PatchNumber {
		horizontal-align: center;
		vertical-align: center;
		font-family: titleFont;
		font-size: 40px;
		color: whitesmoke;
		text-shadow: 0px 2px 12px black;
	}

	.CellLabel {
		horizontal-align: center;
		vertical-align: bottom;
		padding: 12px;
		color: rgb(255, 211, 183);
		color: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 232, 217) ), to( rgb(255, 211, 183) ) );
		text-shadow: 0px 2px 10px black;
		font-weight: semi-bold;
		font-size: 14px;

		transition-property: color;
		transition-duration: 0.1s;
	}	
}
