.Frostivus2023Cell {
	overflow: clip;

	&:hover {
		.ActionLabel {
			color: white;
		}

		                
			                                                        
		    
	}
}

.CellBackground {
	hue-rotation: 5deg;
}

.CellImage {
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	overflow: noclip;
	background-size: cover;
	background-position: center;

	transition-duration: 0.25s;
	transition-property: transform;
	transition-timing-function: ease-out;
	background-image: url("file://{images}/events/frostivus/2023/cell_patchnotes.png");
}

.SnowBorder {
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	overflow: noclip;
	margin-top: 0px;
	background-image: url( "file://{images}/events/frostivus/2023/front_page_cell_snow.png" );
	background-size: cover;
	background-position: center;
}

.Contents {
	flow-children: down;
	width: 70%;
	padding: 20px;

	Label {
		width: 100%;
	}

	.Header {
        text-transform: uppercase;
        font-family: titleFont;
		font-weight: bold;
        font-size: 21px;
        letter-spacing: 2px;
		line-height: 1.2;
		margin-bottom: 6px;
        color: white;
        z-index: 2;
        color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #C5B88E ) );
        brightness: 1.3;
		width: 100%;
		text-overflow: shrink;
		max-height: 70px;
	}

	.SubHeader {
		color: #C0DFFF;
		margin-bottom: 6px;
		font-size: 16px;
		text-overflow: shrink;
		max-height: 34px;
		text-shadow: 0px 2px 8px black;
	}

	.Desc {
		color: LightestGrey;
		opacity: 0.8;
		text-shadow: 0px 2px 8px black;
	}
}

.ActionLabel {
	vertical-align: bottom;
	width: 100%;
	margin: 0px 16px;
	padding: 12px 0px;
	font-weight: semi-bold;
	                           
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	                                                                                                                                        

	transition-duration: 0.1s;
	transition-property: color;
	transition-timing-function: ease-out;
}