                                         

.TooltipProfileCard {
	flow-children: down;
}

#ProfileCard {
	.ShowMiniShowcase & {
		visibility: collapse;
	}
}

#MiniShowcase {
	visibility: collapse;

	.ShowMiniShowcase & {
		visibility: visible;
	}
}

.EventLevelContainer {
	width: 100%;
	flow-children: right;

	visibility: collapse;

	background-image: url( "file://{images}/events/crownfall/backgrounds/bg_act4.png" );
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.ShowEventLevel & {
		visibility: visible;
	}

	#EventLevelShield {
		ui-scale: 70%;
	}

	.EventLevelLabel {
		vertical-align: middle;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: titleFont;
		color: #ccc;
	}
}



#PartySection {
	background-color: #000000FF;
	width: 100%;
	padding: 4px;
	visibility: collapse;

	.ShowPartySection & {
		visibility: visible;
	}
	
	.Bans {
		horizontal-align: center;
		flow-children: right;
		margin-bottom: 2px;
	}

	Label {
		vertical-align: center;
		font-size: 14px;
		text-transform: uppercase;
		color: #556;
		letter-spacing: 1px;
	}

	.BannedHero.Empty {
		visibility: collapse;
	}

	DOTAHeroImage {
		width: 32px;
		height: 32px;
		margin: 4px;
	}

	.HasBansLabel {
		visibility: visible;
		margin-right: 4px;
	}

	.NoBansLabel {
		visibility: collapse;
	}
}

.NoBans .Bans {
	.HasBansLabel {
		visibility: collapse;
	}
	.NoBansLabel {
		visibility: visible;
	}
}