#Contents
{
	flow-children: down;
	width:  450px;
}

.StickerCapsuleContents
{
	width: 100%;
	height:  fit-children;
	flow-children: down;
}

.TeamContents,
.LogoContents
{
	margin-bottom: 10px;
	visibility: collapse;
}

.TooltipStickerType_Player .TeamContents {
	visibility: visible;
}

.TooltipStickerType_Team .LogoContents {
	visibility: visible;
}

.OddsLabel {
	margin-bottom: 10px;
}

.OddsList {
	width: 100%;
	height:  fit-children;
	flow-children: down;
	margin-left: 24px;
	
	.OddItem {
		flow-children: right;
	
		.OddsName {
			width: 150px;
			horizontal-align: left;
		}

		.OddsValue {
		}
	}
}
