@define RowHeight: 44px;

#Contents
{
	background-color: none;
	box-shadow: none;
	padding: 0px;
	border: 1px;
	background-color: #3A444433;
}

.Row
{
	flow-children: right;
	height: 44px;
	min-width: 100px;
	border: 1px solid black;

	transition-property: position;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

.Row.Dire
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #552929 ), to( #292327 ) );
}

.Row.Radiant
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #123f26 ), to( #1c2825 ) );
}

.Row DOTAHeroImage
{
	width: 32px;
	height: width-percentage( 100% );
	margin-left: 6px;
	vertical-align: middle;
	texture-sampling: point;
	img-shadow: 0px 1px 4px rgb(0, 0, 0);
}

.Row Label
{
	margin-left: 12px;
	vertical-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 80px;
	width: 30px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid #E7D29188;
	box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.8);

	color: #E7D291;
	text-shadow: 0px 1px 6px black;
	font-weight: normal;
	text-align: center;
	font-size: 16px;
	font-family: monospaceNumbersFont;
}

#ColorBar
{
	vertical-align: center;
	height: 100%;
	margin-right: 2px;
	width: 3px;
}