#Contents
{
	flow-children: down;
	max-width: 350px;
}

#Heading
{
	margin-bottom: 8px;
	horizontal-align: center;
	text-align: center;
	
	.HeroName,
	.TokenName {
		color: white;
	}
}

#RewardList
{
	horizontal-align: center;
	flow-children: right;
	width: fit-children;
}