#Contents
{
	width: 360px;
    padding: 0px;
    border: 2px solid black;    
    flow-children: down;
	background-color: #181f24;
}

Label.TitleFont, TextEntry.TitleFont
{
	font-family: defaultFont;
	text-transform: uppercase; 
	letter-spacing: 2px;
}

Label
{
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0px;
	text-shadow: 0px 1.5px 6px rgba(0, 0, 0, 1);
	color: LighterGrey;
}

.NeutralName {
	color: whitesmoke;
	font-weight: semi-bold;
	letter-spacing: 0.5px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}

.NeutralSubtitle {
	margin-top: -2px;
}

.TooltipHeader {
	width: 100%;
	flow-children: right;

	.HeaderBackgroundTexture {
		width: 100%;
		height: 100%;
		ignore-parent-flow: true;
		background-image: url( "file://{images}/hud/facets/ripple_texture.png" );
		background-size: cover;
		background-position: center;
		-s2-mix-blend-mode: screen;
		opacity: 0.3;
		opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
	}

	.TooltipHeaderBackground {
		width: 100%;
		height: 100%;
		ignore-parent-flow: true;
		background-color: rgba(191, 231, 255, 0.02);
	}
}

.ItemImageHolder {
	margin: 10px 12px;
	
	DOTAItemImage {
		width: 66px;
		height: 48px;
		border: 1px solid black;
		box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
	}
}

.NeutralHeaderText {
	color: #e1e1e1;
	vertical-align: center;
	flow-children: down;
}

.HeaderDash {
	width: 100%;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.01);
}

.TooltipBody {
	width: 100%;
	flow-children: down;
	padding: 12px;
}

.DamageTypePhysical {
	color: #ae2f28;
}

.GameplayVariable.DamageTypePhysical {
	color: #ff443b;
}

.DamageTypeMagical {
	color: #5b93d1;
}

.GameplayVariable.DamageTypeMagical {
	color: #99c9ff;
}

.DamageTypePure {
	color: #d8ae53;
}

.GameplayVariable.DamageTypePure {
	color: #ffdf99;
}

.NeutralBody {
	                   
}

.GameplayValues {
	color: #474a61;
}

.GameplayValues.GameplayVariable {
	font-weight: semibold;
	color: #e1e1e1;
}

#AbilityDescriptionContainer {
	flow-children: down;
	width: fill-parent-flow( 1 );
	margin-top: -8px;

	Label {
		font-size: 16px;
		width: fill-parent-flow( 1 );
		padding: 6px 10px;
		
		&.Header {
			padding: 4px 10px;
			height: 30px;
			font-weight: semi-bold;
			border-top: 1px solid rgba(255, 255, 255, 0.05);
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
			margin-top: 8px;
		}
	}
	
	             
	Label {
		color: #9ab0cdb5;
		background-color: #1D2730;
		
		&.Header {
			color: #9ab0cd;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( #2b3d49 ), to( #1D2730 ) );
		}
	}

	            
	Label.Active {
		color: #b1b1ff88;
		background-color: #1C2438;
		
		&.Header {
			color: #B1B1FF;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( #38387F ), to( #1C2438 ) );
		}
	}
}

.AbilityActiveContainer {
	width: 100%;

	#CurrentItemCosts {
		ignore-parent-flow: true;
	}
}

#CurrentItemCosts {
	flow-children: left;
	width: 100%;
	margin-right: 8px;
	z-index: 1;
	
	Label {
		color: #e1e1e1;
		font-size: 16px;
		background-position: 0% 50%;
		background-repeat: no-repeat;
		padding-left: 25px;
		margin-left: 10px;
		padding-top: 2px;
		font-weight: semi-bold;
	}
	
	.Cooldown,
	.ManaCost,
	.HealthCost,
	.CastRange {
		margin-top: 4px;
		text-overflow: shrink;
		margin-left: 5px;
		margin-right: 2px;
		background-size: 20px;
		visibility: collapse;
	}

	.Cooldown {
		background-image: url( "file://{images}/status_icons/ability_cooldown_icon.psd" );
	}

	.ManaCost {
		background-image: url( "file://{images}/status_icons/ability_manacost_icon.psd" );
	}

	.HealthCost {
		background-image: url( "file://{images}/status_icons/ability_healthcost_icon.psd" );
	}

	.CastRange {
		background-image: url( "file://{images}/status_icons/ability_castrange_icon.psd" );
	}
}

.HasCooldown #CurrentItemCosts .Cooldown
{
	visibility: visible;
}

.HasManaCost #CurrentItemCosts .ManaCost
{
	visibility: visible;
}

.HasHealthCost #CurrentItemCosts .HealthCost
{
	visibility: visible;
}

.HasCastRange #CurrentItemCosts .CastRange
{
	visibility: visible;
}

.NeutralSeparator {
	width: 100%;
	flow-children: right;
	margin-top: 12px;
	margin-bottom: 2px;

	.HorizontalRule	{
		width: fill-parent-flow( 1.0 );
		background-color: #323f45;
		height: 1px;	
		vertical-align: center;
	}

	Label {
		font-family: defaultFont;
		text-transform: uppercase; 
		letter-spacing: 1px;
		font-size: 13px;
		margin-left: 8px;
		opacity: 0.8;
	}

	visibility: collapse;
}

.PreservedEnhancementSeparator {
	width: 100%;
	flow-children: right;
	margin-top: 12px;
	margin-bottom: 2px;
	padding-bottom: 10px;

	.HorizontalRule	{
		width: fill-parent-flow( 1.0 );
		background-color: #323f45;
		height: 1px;	
		vertical-align: center;
	}

}

.FirstEnhancementSnippet .PreservedEnhancementSeparator {
	visibility: collapse;
}

.EnhancementContainer {
	width: 100%;
	flow-children: down;
}

.EnhancementDetails {
	width: 100%;
	flow-children: down;
}

.EnhancementTitle {
	width: 100%;
	height: fit-children;
	flow-children: right;
	margin-bottom: 8px;

	Label {
		vertical-align: center;
		font-family: titleFont;
		text-transform: uppercase;		
		letter-spacing: 0.5px;
		font-size: 14px;
		font-weight: semi-bold;
		color: whitesmoke;
	}

	#Enhancement {
		width: 32px;
		height: width-percentage( 100% );
		margin-right: 8px;
		border: 1px solid black;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
		border-radius: 50%;
	}

	visibility: collapse;
}

.AbilityNotes
{
	font-size: 16px;
	color: rgb(158, 182, 197);
	background-color: rgb(37, 56, 68);
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	padding-bottom: 8px;
	margin-bottom: 12px;
	margin-left: 2px;
	margin-right: 3px;
	margin-top: 8px;
	width: 330px;
	visibility: collapse;
}

.LoreContainer
{
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	color: #3d4e5b;
	font-style: italic;
	background-color: #0b1215;
	width: 330px;
	margin-top: 12px;
	margin-left: 1px;
	visibility: collapse;
}

.ShowExtraDescription .AbilityNotes.HasExtraDescription,
.ShowExtraDescription .LoreContainer.HasLoreText
{
	visibility: visible;
}

.ShowExtraDescription .AbilityActiveContainer
{
	flow-children: down;
}

.HasPassiveDesc.HasActiveDesc .NeutralSeparator,
.HasPassiveDesc.HasActiveDesc .EnhancementTitle
{
	visibility: visible;
}

.NeutralItemTier1 .NeutralItemTier { color: NeutralTier1; font-weight: semi-bold; }
.NeutralItemTier2 .NeutralItemTier { color: NeutralTier2; font-weight: semi-bold; }
.NeutralItemTier3 .NeutralItemTier { color: NeutralTier3; font-weight: semi-bold; }
.NeutralItemTier4 .NeutralItemTier { color: NeutralTier4; font-weight: semi-bold; }
.NeutralItemTier5 .NeutralItemTier { color: NeutralTier5; font-weight: semi-bold; }

.NeutralItemTier1 .TooltipHeader { background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier1&33 ), to( NeutralTier1&05 ) ); }
.NeutralItemTier2 .TooltipHeader { background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier2&33 ), to( NeutralTier2&05 ) ); }
.NeutralItemTier3 .TooltipHeader { background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier3&33 ), to( NeutralTier3&05 ) ); }
.NeutralItemTier4 .TooltipHeader { background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier4&33 ), to( NeutralTier4&05 ) ); }
.NeutralItemTier5 .TooltipHeader { background-color: gradient( linear, 0% 0%, 100% 0%, from( NeutralTier5&33 ), to( NeutralTier5&05 ) ); }

.NeutralItemTier1 .HeaderBackgroundTexture { wash-color: NeutralTier1; }
.NeutralItemTier2 .HeaderBackgroundTexture { wash-color: NeutralTier2; }
.NeutralItemTier3 .HeaderBackgroundTexture { wash-color: NeutralTier3; }
.NeutralItemTier4 .HeaderBackgroundTexture { wash-color: NeutralTier4; }
.NeutralItemTier5 .HeaderBackgroundTexture { wash-color: NeutralTier5; }

.InlineIcon
{
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin-top: 2px;
	margin-bottom: 2px;
}