#Contents
{
	flow-children: down;
	box-shadow: none;
	padding: 0px;
	border: 1px;
	width: 130px;
}

.TooltipContainer.LeftArrowVisible #Contents {
	margin-left: 2px;
}

.TeamColorIcon
{
	vertical-align: center;
    width: 3px;
    height: 36px;
	margin-right: 8px;
}


.NetWorthAdvantageNone #NetWorthContainer,
.ExperienceAdvantageNone #ExperienceContainer,
.WinProbabilityAdvantageNone #WinProbabilityContainer
{
	                                                                                               
}

.NetWorthAdvantageRadiant #NetWorthContainer,
.ExperienceAdvantageRadiant #ExperienceContainer,
.WinProbabilityAdvantageRadiant #WinProbabilityContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #324924CC ), to( #1F292900 ) );
}

.NetWorthAdvantageDire #NetWorthContainer,
.ExperienceAdvantageDire #ExperienceContainer,
.WinProbabilityAdvantageDire #WinProbabilityContainer
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #5C2F2CCC ), to( #29232700 ) );
}

#NetWorthContainer,
#ExperienceContainer,
#WinProbabilityContainer {
    flow-children: right;
    width: 100%;
	border: 1px solid black;
	padding-right: 4px;

	visibility: collapse;
}


                                                                            
               

.HasNetWorth #NetWorthContainer
{
	visibility: visible;
}

#NetWorthPlusSign
{
	visibility: collapse;
}

.GoldDiscreteIcon
{
    background-image: url( "file://{images}/hud/reborn/gold_small.psd" );
    vertical-align: middle;
    horizontal-align: left;
    height: 24px;
	width: 24px;
    background-size: cover;
    margin-right: 4px;
	margin-top: -2px;
	brightness: 0.7;
}

#NetWorthDifferenceLabel
{
    color: #E7BA01;
	text-shadow: 0px 1px 6px black;
	vertical-align: center;
}

#NetWorthPlusSign {
	width: 12px;
	height: 12px;
	margin-right: 4px;
	wash-color: #E7BA01;
	vertical-align: center;
}

#NetWorthDifferenceLabel {
	width: fill-parent-flow(1);
}

.NetWorthAdvantageRadiant #NetWorthPlusSign,
.NetWorthAdvantageDire #NetWorthPlusSign
{
	visibility: visible;
}

.NetWorthAdvantageNone #NetWorthTeamIcon
{
	background-color: gray;
}

.NetWorthAdvantageRadiant #NetWorthTeamIcon
{
	background-color: radiantColor;
}

.NetWorthAdvantageDire #NetWorthTeamIcon
{
	background-color: direColor;
}


                                                                            
                

.HasExperience #ExperienceContainer
{
	visibility: visible;
}

#ExperiencePlusSign
{
	visibility: collapse;
}

.XPLabel {
	color: lightblue;
	text-shadow: 0px 1px 6px black;
	text-align: center;
	width: 24px;
	margin-right: 4px;
	font-weight: semi-bold;
	font-family: monospaceNumbersFont;
	vertical-align: center;
}

#ExperienceDifferenceLabel
{
    color: lightblue;
	text-shadow: 0px 1px 6px black;
	vertical-align: center;
}

#ExperiencePlusSign {
	width: 12px;
	height: 12px;
	margin-right: 4px;
	wash-color: lightblue;
	vertical-align: center;
}

#ExperienceDifferenceLabel {
	width: fill-parent-flow(1);
}

.ExperienceAdvantageRadiant #ExperiencePlusSign,
.ExperienceAdvantageDire #ExperiencePlusSign
{
	visibility: visible;
}

.ExperienceAdvantageNone #ExperienceTeamIcon
{
	background-color: gray;
}

.ExperienceAdvantageRadiant #ExperienceTeamIcon
{
	background-color: radiantColor;
}

.ExperienceAdvantageDire #ExperienceTeamIcon
{
	background-color: direColor;
}


                                                                            
                     

.HasWinProbability #WinProbabilityContainer
{
	visibility: visible;
}

#WinProbabilityDifferenceLabel
{
	text-shadow: 0px 1px 6px black;
	width: fill-parent-flow(1);
	vertical-align: center;
	color: winnerGreen;

	.WinProbabilityAdvantageNone & {
		color: gray;	
	}
	
	.WinProbabilityAdvantageRadiant & {
		color: winnerGreen;
	}
	
	.WinProbabilityAdvantageDire & {
		color: loserRed;
		brightness: 2;
	}
}

.WinProbabilityAdvantageNone #WinProbabilityTeamIcon
{
	background-color: gray;
}

.WinProbabilityAdvantageRadiant #WinProbabilityTeamIcon
{
	background-color: radiantColor;
}

.WinProbabilityAdvantageDire #WinProbabilityTeamIcon
{
	background-color: direColor;
}
