                                     

DOTABPBackgroundInternational2024
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #012916 ), color-stop( 0.5, #00241A ), to( #000000 ) );
}

.CompediumBackgroundImageDark {
	width: 100%;
	height: 100%;
	max-width: 2200px;
	horizontal-align: center;
	background-image: url("file://{images}/compendium/international2024/ti13_compendium_home_background_dark.png");
	background-size: cover;
	background-position: center;
	
	.AspectRatio21x9 & {
		opacity-brush: gradient( linear, 0% 0%, 100% 00%, from( #ffffff00 ), color-stop( 0.1, white ), color-stop( 0.9, white ), to( #ffffff00 ) );
	}
}

.CompediumBackgroundImage {
	width: 100%;
	height: 100%;
	max-width: 2200px;
	horizontal-align: center;
	background-image: url("file://{images}/compendium/international2024/ti13_compendium_home_background.png");
	background-size: cover;
	background-position: center;		

	transition-property: blur, wash-color;
	transition-duration: 0.3s;

	opacity: 0;

	.OnHomePage & {
		opacity: 1;
	}

	.AspectRatio21x9 & {
		opacity-brush: gradient( linear, 0% 0%, 100% 00%, from( #ffffff00 ), color-stop( 0.1, white ), color-stop( 0.9, white ), to( #ffffff00 ) );
	}
}

#CompediumBackground {
	width: 100%;
	height: 100%;
	margin-top: 60px;

	transition-property: blur, opacity;
	transition-duration: 0.3s;

	opacity: 0;

	.OnHomePage & {
		opacity: 1;
	}

	.CompediumBackgroundTopGradient {
		width: 100%;
		height: 800px;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000f6 ), to( #00000000 ) );
	}

	.SmokeFXFront {
		width: 100%;
		height: 1000px;
		transform: translateY( 230px );
		transition-property: opacity;
		transition-duration: 0.3s;
		wash-color: rgb(29, 54, 30);
		opacity: 0.5;
	}

	.BackgroundFloor {
		vertical-align: bottom;
		opacity: 0.1;

		visibility: visible;

		.OwnsEvent &,
		.TournamentFinished & {
			visibility: collapse;
		}
	}

	.SpotlightParticles {
		ignore-parent-flow: true;
		horizontal-align: center;
		opacity-mask: url( "file://{images}/masks/preview_rays_mask.psd" );
		transform: translateY( -200px );
		hue-rotation: -20deg;
		width: 1400px;
		height: 1600px;
		brightness: 1.5;
		saturation: 0.95;

		.OwnsEvent & {
			brightness: 1;
		}

		.TournamentFinished & {
			transform: translateY( -400px );
		}
	}
	
	#RingmasterModel {
		width: 1160px;
		height: 1160px;
		transform: translateY( 40px );
		horizontal-align: center;
		opacity-brush: gradient( linear, 0% 50%, 0% 90%, from( rgb(255, 255, 255) ), to( #2c2d1ad4 ) );
	
		transition-property: brightness, opacity, transform;
		transition-duration: 0.3s, 0.3s, 0.2s;

		.OwnsEvent & {
			opacity-brush: gradient( linear, 0% 35%, 0% 100%, from( rgb(255, 255, 255) ), color-stop( 0.4, #ffffff11 ), to( #ffffff00 ) );
		}

		.ShowVideoPlayer &,
		.TournamentFinished & {
			visibility: collapse;
		}
	}
	
	.RingmasterHitBox {
		width: 900px;
		height: 340px;
		horizontal-align: center;

		.ShowVideoPlayer &,
		.TournamentFinished & {
			visibility: collapse;
		}
	}

	.CircusBackground {
		width: 100%;
		opacity: 0.6;

		.TournamentFinished & {
			visibility: collapse;
		}
	}
	
	.Aegis2024_Large {
		width: 1300px;
		height: 1300px;
		horizontal-align: center;
		transform: translateY( -580px );
		margin-right: 16px;
		overflow: noclip;
		opacity-brush: gradient( linear, 0% 60%, 0% 84%, from( rgb(255, 255, 255) ), color-stop( 0.5, #ffffff6e ), to( #ffffff00 ) );
		brightness: 1.8;
		opacity: 0.8;

		.OwnsEvent & {
			transform: translateY( -632px );
			opacity-brush: gradient( linear, 0% 40%, 0% 84%, from( rgb(255, 255, 255) ), color-stop( 0.5, #ffffff6e ), to( #ffffff00 ) );
		}

		.TournamentFinished & {
			opacity-brush: gradient( linear, 0% 40%, 0% 84%, from( rgb(255, 255, 255) ), color-stop( 0.5, #ffffff0b ), to( #ffffff00 ) );
			                           
		}
	}

	.RingmasterButtons {
		                                    
		horizontal-align: center;
		flow-children: right;
		DOTAInternational2024Button {
			margin: 10px;
		}

		.TournamentFinished & {
			visibility: collapse;
		}
	}
}

.GCStatusVisible .RingmasterButtons {
	transform: translateY( 32px );
}

.MainContents {
	horizontal-align: center;
	padding-bottom: 24px;
	flow-children: down;
	width: 1000px;
	margin-top: 580px;

	opacity: 0;
	transform: translateY( 24px );
	
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

	.AspectRatio16x10 & {
		width: 880px;
	}

	.AspectRatio21x9 & {
		width: 1132px;
	}

	.OwnsEvent & {
		margin-top: 402px;
	}

	.ShowVideoPlayer & {
		margin-top: 60px;
	}

	.TournamentFinished & {
		margin-top: 60px;
	}

	.OnHomePage & { 
		opacity: 1.0;
		transform: none;
		transition-timing-function: ease-in;
		transition-duration: 0.2s;
		transition-delay: 0.2s, 0s;
	}
}

.VideoPlayerTitle {
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 52px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 6px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2 ), to( primaryColor1 ) );
	text-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( primaryColor2&00 ), color-stop( 0.5, primaryColor2 ), to( primaryColor2&00 ) );
	padding-bottom: 12px;
	margin-bottom: 24px;
	brightness: 1.4;

	.AspectRatio16x10 & {
		                      
	}
}

.Header {
	flow-children: down;
	width: 100%;

	.TILogoText {
		horizontal-align: center;
		width: 480px;
		margin-bottom: -32px;
		brightness: 1.2;

		.OwnsEvent & {
			width: 432px;
		}
	}

	.Title {
		horizontal-align: center;
		text-align: center;
		vertical-align: middle;
		text-transform: uppercase;
		font-weight: semi-bold;
		letter-spacing: 8px;
		color: white;
		text-shadow: 0px 8px 32px rgba(0, 0, 0, 0.6);
		text-overflow: shrink;

		font-size: 80px;
		height: 96px;
		width: 620px;

		.OwnsEvent & {
			font-size: 64px;
			height: 76px;
			width: 500px;
		}
	}

	#StarsContainer {
		flow-children: right;
		horizontal-align: center;
		margin-top: -4px;

		.CompendiumStar {
			width: 16px;
			height: 16px;
			background-image: url("file://{images}/control_icons/24px/star.svg");
			background-size: cover;
			background-position: center;
			wash-color: loserRed;
			margin: 0px 4px;
		}
	}

	.ShowVideoPlayer & {
		visibility: collapse;
	}

	.TournamentFinished & {
		visibility: collapse;
	}
}

.PurchaseSection {
	width: 100%;
	flow-children: down;
	margin: 40px 0px 24px;

	.OwnsEvent & {
		visibility: collapse;
		margin: 24px 0px;
	}

	.PurchaseButton {
		horizontal-align: center;
	}

	.PurchaseDetails {
		flow-children: right;
		horizontal-align: center;
		text-align: center;
		margin-top: 24px;

		DOTAInternational2024Button {
			margin: 0px 4px;
		}

		.AspectRatio21x9 & {
			margin-top: 12px;
		}
	}

	.TournamentFinished & {
		visibility: collapse;
	}
}

.Curtains {
	width: 100%;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 30%, 0% 90%, from( rgb(255, 255, 255) ), to( #ffffff00 ) );

	.Curtain {
		&.Left {
			transform: translateX( -520px );
		}

		&.Right {
			horizontal-align: right;
			transform: scaleX( -1 ) translateX( 520px );
		}
	}

	.AspectRatio16x10 & {
		.Curtain {
			&.Left {
				transform: translateX( -540px );
			}
	
			&.Right {
				transform: scaleX( -1 ) translateX( 540px );
			}
		}
	}
	
	.AspectRatio21x9 & {
		.Curtain {
			&.Left {
				transform: translateX( -420px );
			}
	
			&.Right {
				transform: scaleX( -1 ) translateX( 420px );
			}
		}
	}
}

.PointsSection {
	visibility: collapse;

	.OwnsEvent & {
		visibility: visible;
	}
}

.RingmasterButtonsDarkness {
	width: 100%;
	height: 120px;
	background-color: gradient( linear, 0% 20%, 0% 100%, from( #37411b ), to( #816a3e00 ) );
	opacity: 0.8;
}

.DashDotDivider {
	width: 900px;
	margin-top: 20px;

	visibility: collapse;

	.Dash {
		opacity: 0.2;
	}

	.OwnsEvent & {
		visibility: collapse;
	}
}

.ScheduleSection {
	flow-children: right;
	margin-top: 256px;
	ignore-parent-flow: true;
	width: 96%;
	horizontal-align: center;

	.OwnsEvent & {
		margin-top: 68px;
		width: 100%;
	}

	.ShowVideoPlayer & {
		visibility: collapse;
	}

	.TournamentFinished & {
		visibility: collapse;
	}

	.ScheduleEntry {
		flow-children: down;
		width: 200px;
		margin: 0px 8px;

		Label {
			text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
		}

		.Name {
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 18px;
			horizontal-align: center;
			font-weight: semi-bold;
			margin: 0px 8px;
			vertical-align: center;
			color: whitesmoke;
			text-align: center;
			line-height: 1.1;

			.OwnsEvent & {
				font-size: 16px;
				line-height: 1;
			}
		}
		
		.Dates {
			text-transform: uppercase;
			font-size: 14px;
			horizontal-align: center;
			letter-spacing: 2px;
			font-weight: semi-bold;
			color: #9ae5a9ea;
		}

		.Location {
			text-transform: uppercase;
			font-size: 14px;
			horizontal-align: center;
			letter-spacing: 2px;
			color: #9ae5a9ea;
			margin-top: -1px;
		}
	}
}

.PointsSection {
	width: 100%;
	margin-top: -32px;
	margin-bottom: -48px;

	.PointsSectionContainer {
		vertical-align: center;
		flow-children: right;
		overflow: clip;

		background-color: gradient( linear, 0% 0%, 100% 0%, from( #C6AB6D ), to( #816a3e ) );
		box-shadow: 0px 4px 32px -4px rgba(0, 0, 0, 0.4);
		width: 100%;

		.PointsBackgroundTexture {
			background-image: url( "file://{images}/compendium/international2024/dashboard/points_bg_texture.png" );
			background-size: cover;
			background-position: left center;
			width: 100%;
			height: 100%;
			ignore-parent-flow: true;
			-s2-mix-blend-mode: screen;
		}

		.PointsSectionBorder {
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffeec5 ), to( #E1CC9A ) );
			width: 100%;
			height: 100%;
			ignore-parent-flow: true;
		}

		.ProgressContainer {
			width: fill-parent-flow( 1 );
			flow-children: down;
			padding: 16px 16px 16px 132px;

			.AspectRatio16x10 & {
				padding-left: 110px;
			}

			.CompendiumLevelLabel,
			.CompendiumLevelLabelShort {
				text-shadow: 0px 2px 12px black;
				text-overflow: shrink;
				max-width: 270px;
				height: 29px;

				.AspectRatio16x10 & {
					max-width: 220px;
				}
			}

			#CurrentLevelProgressBar {
				width: 100%;
				height: 12px;
				vertical-align: bottom;
				border-radius: 2px;
				overflow: clip;
				margin: 8px 0px 6px;
			}

			.PointsAndLogContainer {
				flow-children: right;
				ignore-parent-flow: true;
				horizontal-align: right;
				margin-top: 2px;

				.PointIcon {
					width: 24px;
					height: 24px;
					margin-right: 4px;
					wash-color: secondaryColor1;
			
					background-image: url( "file://{images}/compendium/international2022/totalpoints.psd" );
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					horizontal-align: middle;
					vertical-align: middle;
				}

				.PointsLabel {
					font-weight: normal;
					color: white;
					text-shadow: textShadowSmall;
					brightness: 2;
					letter-spacing: 0px;
				}

				#PointsLogButton {
					margin-left: 8px;
					max-width: 150px;

					.AspectRatio16x10 & {
						max-width: 130px;
					}
				}

				#PurchaseLevelsButton {
					margin-left: 8px;
					max-width: 150px;

					.AspectRatio16x10 & {
						max-width: 130px;
					}
				}
			}
		}

		#UnappliedActionsContainer {
			height: 100%;
			max-width: 140px;
			
			padding: 0px 8px;
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.49, #CCA160 ), color-stop( 0.51, #B88943 ), to( #7F5C26 ) );

			visibility: collapse;

			.HasUnclaimedRewards &,
			.HasUnclaimedLevels &,
			.HasUnclaimedBoosters & {
				visibility: visible;

				animation-name: PulseUnclaimedRewardsBadge;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-direction: alternate-reverse;
			}

			.UnappliedAction {
				flow-children: down;
				vertical-align: middle;
				margin-top: -2px;

				visibility: collapse;

				.Text {
					horizontal-align: middle;
					flow-children: right;
					margin-right: 4px;

					.Icon {
						width: 24px;
						height: 24px;
						vertical-align: middle;
						wash-color: primaryColor3;
						margin-right: 4px;
	
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}

					.NumberValue {
						font-size: 30px;
						font-weight: bold;
						font-family: titleFont;
						color: black;
						text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
					}					
				}

				.Description {
					font-size: 14px;
					text-transform: uppercase;
					color: black;
					margin-top: -4px;
					font-weight: bold;
					text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
					text-align: center;
					line-height: 1;
					text-overflow: shrink;
				}
			}

			.UnappliedRewards .Icon {
				background-image: url("file://{images}/control_icons/24px/rewards.svg");				
			}

			.UnappliedLevels .Icon {
				background-image: url( "file://{images}/control_icons/24px/apply_levels.svg" );
			}

			.UnappliedBoosters .Icon {
				background-image: url( "file://{images}/control_icons/24px/boosters.svg" );
			}

			.HasUnclaimedRewards & .UnappliedRewards,
			.HasUnclaimedLevels & .UnappliedLevels,
			.HasUnclaimedBoosters & .UnappliedBoosters {
				visibility: visible;
			}

		}
	}

	.CurrentLevelShieldContainer {
		vertical-align: center;	
		margin-left: -28px;

		.AspectRatio16x10 & {
			margin-left: -40px;
		}

		.EventLevelParticles {
			width: 120%;
			height: 120%;
			saturation: 0.9;
			opacity-mask: url( "file://{images}/masks/sun_burst.png" );
			brightness: 5;
			overflow: noclip;
			vertical-align: center;
			horizontal-align: center;
			hue-rotation: 10deg;
		}

		#EventLevelShield {
			width: 132px;
			height: 132px;
			margin: 24px;		
		}
	}	
}

.ActionSection {
	width: 100%;
	flow-children: right;
	visibility: collapse;
	margin-top: -8px;
	padding: 0px 48px;


	DOTAInternational2024Button {
		                      
		vertical-align: center;
	}
	
	#ViewCompendiumButton {
		horizontal-align: center;
	}

	.Dash {
		width: fill-parent-flow(1);
		height: 1px;
		vertical-align: center;
		opacity: 0;

		&.Left {
			background-color: gradient( linear, 0% 0%, 100% 0%, from( primaryColor2&00 ), to( primaryColor2 ) );
		}

		&.Right {
			background-color: gradient( linear, 0% 0%, 100% 0%, from( primaryColor2 ), to( primaryColor2&00 ) );
		}
	}

	.OwnsEvent & {
		visibility: visible;
	}

	.ShowVideoPlayer & {
		visibility: collapse;
	}

	.TournamentFinished & {
		visibility: collapse;
	}
}

.RingmasterButtons {
	width: 1000px;

	.ShowVideoPlayer & {
		visibility: collapse;
	}

	.IntroducingRMTitle {
		color: rgba(255, 255, 255, 0.582);
		text-shadow: 0px 2px 12px black;
		border-radius: 3px;

		transition-property: color, background-color;
		transition-duration: 0.1s;
		padding: 6px 12px;

		&:hover {
			color: white;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	Label {
		vertical-align: center;
	}
}

.ActivitiesSection {
	flow-children: right;
	height: 250px;
	padding: 12px;
	margin-left: -12px;
	margin-right: -12px;

	.ShowVideoPlayer & {
		margin-top: 0px;
		z-index: -1;
	}

	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;

	opacity: 0;
	transform: translateY( 24px );

	visibility: collapse;

	.OwnsEvent & {
		visibility: visible;
	}

	.OnHomePage & {
		opacity: 1;
		transform: none;

		transition-timing-function: ease-in;
		transition-delay: 0.1s;
	}

	.ActivitySection {
		width: fill-parent-flow( 1.0 );
		height: 100%;
		margin: 6px;
		box-shadow: shadowMedium;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
		
		&:hover {
			transform: scale3d( 1.05, 1.05, 1 );
		}

		.UnclaimedRewardsBadge {
			ignore-parent-flow: true;
			border-radius: 2px;
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.49, #CCA160 ), color-stop( 0.51, #B88943 ), to( #7F5C26 ) );
			padding: 1px 6px;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
			horizontal-align: center;

			animation-name: GlowUnclaimedRewardsBadge;
			animation-duration: 1s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-direction: alternate-reverse;
			
			Label {
				font-weight: bold;
				text-transform: uppercase;
				color: rgb(0, 0, 0);
				text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
				font-size: 15px;
			}
		}

	}

	.ActivityBorder {
		width: 100%;
		height: 100%;
		margin-top: 10px;
		ignore-parent-flow: true;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( #62FFB9 ), to( #226955 ) );
	}

	.ActivityContainer {
		margin-top: 10px;
		flow-children: down;
		width: 100%;
		height: 100%;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #0C5124 ), to( #021E14 ) );
		padding: 12px;
		background-size: cover;
		background-position: center;

		&:hover {
			.ActivityAction {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #3EAC40be ), to( #054e1fbe ) );
				color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( white ) );
			}
		}

		.ActivityTitle {
			width: 100%;
			text-align: center;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
			color: rgba(255, 255, 255, 0.9);
			line-height: 1.2;
			height: 20px;
			text-overflow: shrink;
			font-size: 16px;
			letter-spacing: 0.5px;
		}

		.PhaseLabel {
			width: 100%;
			text-align: center;
			margin-top: -2px;
			color: #7FBC8B;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
		}

		.ActivitySummaryContainer {
			width: 100%;
			height: fill-parent-flow(1);

			.ActivitySummaryCenter {
				vertical-align: middle;
				width: 100%;
				flow-children: down;
			}
		}

		.ActivityAction {
			vertical-align: bottom;
			width: 100%;
			text-align: center;
			color: rgb(255, 255, 255);
			color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), to( #9D8145 ) );
			brightness: 1.5;
			text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
			font-weight: semi-bold;
			padding: 10px 8px;
			box-shadow: inset 0px 1px 0px rgba(122, 255, 193, 0.03);
			margin: 0px -12px -12px;
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #021C10 ), to( #021513 ) );
			height: 41px;
			text-overflow: shrink;

			transition-property: background-color, color;
			transition-duration: 0.1s;
		}
	}

	
	#WeeklyChallengeSection {
		margin-left: 0px;
	}

	.BingoSection {
		margin-right: 0px;
	}
}

.BingoSection {
	.ActivityContainer {
		background-image: url( "file://{images}/compendium/international2024/dashboard/activity_tile_bg_3.png" );
	}
}

#WeeklyChallengeSection {
	.ActivitySummaryCenter {
		vertical-align: top;
		padding-top: 4px;
	}
}

.TournamentFinishedLabel {
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	color: LightestGrey;
	text-shadow: textShadowSmall;
}

#WeeklyChallengeSection {
	tooltip-position: top;

	.ActivityContainer {
		background-image: url( "file://{images}/compendium/international2024/dashboard/activity_tile_bg_1.png" );
		padding-left: 0px;
		padding-right: 0px;

		.ActivityAction {
			margin-left: 0px;
		}
	}

	.WeeklyEarnedLabel {
		horizontal-align: center;
		text-align: center;
		color: #ccc;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: 2px;
		text-shadow: 2px 2px 4px black;
	}
	
	.WeeklyProgress {
		horizontal-align: center;

		#WeeklyChallengeProgressBar {
			background-color: rgba(0, 0, 0, 0.96);
			width: 200px;
			height: 24px;
			border-radius: 3px;
			box-shadow: 0px 0px 1px 0.5px rgba(219, 255, 237, 0.084);

			.ProgressBarLeft {
				border-radius: 2px;
				background-color: gradient( linear, 0% 0%, 100% 0%, from( #064F12 ), to( #2C9A23 ) );
				border: 2px solid black;
				box-shadow: 0px 2px 4px black;
			}
		}

		> Label {
			width: 100%;
			text-align: center;
			color: whitesmoke;
			font-size: 16px;
			vertical-align: center;
			text-shadow: 0px 2px 8px black;
			letter-spacing: 1px;
			margin-top: -0.5px;
		}
	}

	DOTACountdown {
		width: 100%;

		.CooldownText {
			color: #9BCBAD;
			text-shadow: 0px 2px 6px black;
			font-size: 14px;
			horizontal-align: center;
			text-align: center;
		}
	}

	.DailyBonusContainer {
		horizontal-align: center;
		width: 100%;
		height: fill-parent-flow(1);
		                         
		                                                                                           
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #46382300 ), color-stop( 0.4, #cca16025 ), color-stop( 0.6, #cca16025 ), to( #46382300 ) );
		border-top: 1px solid rgba(255, 255, 255, 0.082);
		                                     
		                                                                                                                                                 
		border-brush: gradient( linear, 0% 0%, 100% 0%, from( #00000039 ), color-stop( 0.3, #000000 ), color-stop( 0.5, #000000 ), color-stop( 0.7, #000000 ), to( #00000039 ) );
		background-color: gradient( radial, 50% 0%, 0% 0%, 80% 120%, from( #02130ac1  ), to( #02130a00 ) );
		margin-top: 8px;
		padding: 3px;
		                                                  
		
		.DailyBonusContents {
			horizontal-align: center;
			vertical-align: center;
			flow-children: down;
		}

		.DailyBonusLabel {
			horizontal-align: center;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			font-size: 12px;
			letter-spacing: 1px;
			text-shadow: 0px 2px 8px black;
		}

		.DailyBonusClaimed {
			horizontal-align: center;
			text-align: center;
			color: #7fbc8b62;
			text-shadow: 0px 2px 8px black;
		}
	
		.DailyBonusReady {
			horizontal-align: center;
			text-align: center;
			color: white;
			text-shadow: 0px 0px 12px rgba(255, 187, 92, 0.4);
			font-weight: semi-bold;
			padding: 0px 12px;
	
			visibility: collapse;
	
			.PointsIcon {
				width: 22px;
				height: 22px;
				wash-color: secondaryColor1;
				
				background-image: url( "file://{images}/compendium/international2022/totalpoints.psd" );
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}

	&.DailyBonusAvailable {
		.DailyBonusContainer {
			border-top: 1px solid white;
			background-color: gradient( radial, 50% 0%, 0% 0%, 80% 120%, from( #ffcd8322  ), to( #CCA16000 ) );
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( #7f5b2639 ), color-stop( 0.3, #CCA160 ), color-stop( 0.5, #ffe5b4 ), color-stop( 0.7, #CCA160 ), to( #7f5b2639 ) );

			.DailyBonusReady {
				visibility: visible;

				animation-name: GlowDailyBonusText;
				animation-duration: 1s;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
				animation-direction: alternate-reverse;
			}
	
			.DailyBonusClaimed {
				visibility: collapse;
			}
		}
	}
}

@keyframes 'GlowDailyBonusText'
{
	0%
	{
		brightness: 1;
		text-shadow: 0px 0px 12px rgba(255, 187, 92, 0.2);
	}

	100%
	{
		brightness: 2;
		text-shadow: 0px 0px 12px rgba(255, 187, 92, 0.8);
	}
}

.FantasySection {

	.ActivityContainer {
		background-image: url( "file://{images}/compendium/international2024/dashboard/activity_tile_bg_2.png" );
	}

	.ActivityContainer {
		padding: 0px;

		.ActivityTitle {
			margin-top: 12px;
		}

		.ActivityAction {
			margin: 0px;
		}
	}

	.ActivitySummaryCenter {
		height: 100%;
	}

	.FantasyPlayers {
		flow-children: right;
		height: 100%;
		width: 160%;

		.FantasyPlayer {
			vertical-align: bottom;
			width: 50%;
			height: width-percentage( 100% );
		}

		#PlayerImage1 {
			margin-left: -10%;
			wash-color: #0a341e8f;
			saturation: 0.9;
			blur: gaussian(0.4px);
			                                 
		}

		#PlayerImage2 {
			margin-left: -15%;
			margin-right: -15%;			
			z-index: 5;
		}

		#PlayerImage3 {
			margin-right: -10%;
			wash-color: #0a341e8f;
			saturation: 0.9;
			blur: gaussian(0.4px);
			                                 
		}
	}
	.UnclaimedRewardsBadge {
		visibility: collapse;
	}
	
	.FantasyAction {
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 16px;
		margin-top: 8px;
		font-weight: bold;
		color: secondaryGradient1_vertical;
		text-shadow: 0px 0px 4px black;
	}
}

.FantasySection.HasFantasyRewards .UnclaimedRewardsBadge {
	visibility: visible;
}

.PredictionBracketShadow {
	width: 120px;
	height: 20px;
	vertical-align: bottom;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 24px );
	opacity: 0.7;
	                          
}

#PredictionBrackets {
	flow-children: right;
	horizontal-align: center;	
	margin-bottom: 12px;

	.PredictionInfographic {
		width: 100px;
		height: width-percentage( 100% );
		horizontal-align: center;
		visibility: collapse;
	}

	#PredictionCountdown {
		vertical-align: center;

		Label {
			color: white;
			width: 80px;
			font-size: 16px;
			padding-left: 8px;
			text-shadow: textShadowSmall;
		}

		.MainEventLocked & {
			visibility: collapse;
		}
	}
}

.InGroupStage #PredictionBrackets .GroupStageInfographic,
.InPlayoffs #PredictionBrackets .PlayoffsInfographic,
.InMainEvent #PredictionBrackets .MainEventInfographic {
	visibility: visible;
}

#BingoSection {
	.BingoGrid {
		flow-children: down;

		.BingoRow {
			flow-children: right;

			.BingoSquare {
				margin: 1px;
				width: 15px;
				height: 15px;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-radius: 1px;
				background-color: rgba( 0, 0, 0, 0.7 );
				box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);

				&.Claimable {
					background-color: white;
					background-color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), to( #9D8145 ) );
					box-shadow: 0px 0px 12px secondaryColor1&22;
					border: 1px solid rgba(255, 255, 255, 0.1);
					brightness: 1.3;
				}

				&.Complete {
					background-color: white;
					background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
					box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
					border: 1px solid rgba(255, 255, 255, 0.1);
				}
			}
			
		}
	}
	
	.ActivitySummaryContainer {
		.ActivitySummaryCenter {
			flow-children: right;
			width: fit-children;
			horizontal-align: center;

			.BingoStats {
				flow-children: down;
				margin-left: 8px;
				vertical-align: middle;
				padding-top: 4px;

				.BingoStatLabel {
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 13px;
					color: LightestGrey;
					text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
					opacity: 0.8;
				}

				.BingoStatValue {
					color: white;
					margin-bottom: 6px;
					margin-top: -1px;
					text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
					font-size: 16px;
					font-weight: semi-bold;
				}
			}
		}
	}
}
#BingoUnclaimedRewards {
	visibility: collapse;
}
#BingoUnclaimedRewards.RewardsAvailable {
	visibility: visible;
}


#PredictionsSection {

	.ActivityContainer {
		background-image: url( "file://{images}/compendium/international2024/dashboard/activity_tile_bg_3.png" );
	}
	
	.ActivitySummaryContainer {
		.ActivitySummaryCenter {
			flow-children: right;
			width: fit-children;
			horizontal-align: center;

			.PredictionStat {
				flow-children: down;
				width: fill-parent-flow( 1.0 );
				padding: 0px 4px;
				visibility: collapse;

				.StatLabel {
					width: 100%;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-size: 14px;
					color: #ccc;
					text-shadow: 2px 2px 4px black;
				}
				.StatValue {
					width: 100%;
					text-align: center;
					color: white;
					font-size: 24px;
					text-shadow: 2px 2px 4px black;
				}

				.Active & {
					visibility: visible;
				}
			}

			#PredictionCountdown {
				.Active & {
					visibility: collapse;
				}
			}
		}
	}
}


#PurchaseBattlePassButton,
#PurchaseLevelsButton,
#ActivateBattlePassButton
{
	visibility: collapse;
}

DOTABPBackgroundInternational2024.GlobalEventActive.SelfEventNeedsActivate #ActivateBattlePassButton {
	visibility: visible;
}
DOTABPBackgroundInternational2024.GlobalEventActive.GlobalEventPurchasable.SelfEventNotActive #PurchaseBattlePassButton {
    visibility: visible;
}
DOTABPBackgroundInternational2024.SelfEventActive.GlobalEventActive.GlobalEventPurchasable #PurchaseLevelsButton {
	visibility: visible;
}

                                                                                                

#EventChampionsContainer {
	width: 100%;
	margin-top: 40px;
	flow-children: down;
	margin-bottom: 12px;
	                    
	
	visibility: collapse;

	.OwnsEvent & {
		height: 524px;
		margin-top: 20px;
	}

	.EventChampionsContent {
		flow-children: down;
		horizontal-align: center;
		vertical-align: center;

		.LogoSmall {
			horizontal-align: center;
			width: 500px;
			margin-bottom: -20px;
		}
	
		.LogoStars {
			horizontal-align: center;
			width: 100px;
			margin-bottom: 24px;
			brightness: 1.5;
		}

		.OwnsEvent & {
			.LogoSmall {
				width: 360px;
				margin-top: -20px;
			}
		
			.LogoStars {
				width: 80px;
				margin-bottom: 0px;
			}
		}

		.ChampionsTitle {
			horizontal-align: center;
			font-size: 46px;
			font-family: titleFont;
			letter-spacing: -1px;
			text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
			color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( rgb(222, 216, 202) ) );
			color: whitesmoke;
			text-overflow: shrink;
			text-align: center;
			max-height: 76px;
			margin-top: 0px;
			
			.OwnsEvent & {
				margin-top: 8px;
			}
		}

		.ChampionsDescription {
			width: 680px;
			height: 51px;
			text-overflow: shrink;
			text-align: center;
			horizontal-align: center;
			text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
			font-family: titleFont;
			color: rgba(255, 255, 255, 0.6);
		}

		#WatchReplayButton {
			margin-right: 12px;
		}

		.ChampionsActionsContainer {
			flow-children: right;
			margin-top: 24px;
			horizontal-align: center;
		}

		.Dash {
			width: 800px;
			height: 1px;
			margin: 24px 0px;
			opacity: 0.1;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.3, secondaryColor1), color-stop(0.7, secondaryColor1), to( rgba(255, 255, 255, 0) ) );
			visibility: collapse;
		}

		#ViewResultsButton {
			horizontal-align: center;
		}

		.PurchaseEndDateNote {
			width: 100%;
			horizontal-align: center;
			text-align: center;
			margin-top: 24px;
			padding-top: 6px;
			
			text-shadow: 0px 2px 8px black;
			color: rgba(255, 247, 220, 0.4);
			border-top: 1px solid rgba(255, 240, 195, 0.116);
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );

			visibility: collapse;

			.OwnsEvent & {
				visibility: visible;
			}
		}

		.TalentActionsContainer {
			horizontal-align: center;
			margin-top: 64px;
			width: 100%;

			border-top: 1px solid rgba(254, 255, 235, 0.073);
			padding: 12px 0px 64px;
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
			background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(255, 249, 220, 0.041) ), to( rgba(255, 249, 196, 0) ) );

			.TalentActions {
				flow-children: right;
				horizontal-align: center;

				DOTAInternational2024Button {
					margin: 0px 12px;
				}
			}

			.OwnsEvent & {
				visibility: collapse;
			}
		}
	}

	.TournamentFinished & {
		visibility: visible;
	}
}



                                                                                                  

#VideoPlayer {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
	flow-children: down;
	
	visibility: collapse;

	.VideoPlayerContent {
		height: 100%;
		width: fill-parent-flow(1);
	}

	.VideoPlayerContainer {
		width: 100%;
		vertical-align: center;
		background-color: black;
		box-shadow: 0px 16px 80px -12px rgba(0, 0, 0, 0.6);
		height: width-percentage( 56.25% );

		.OwnsEvent & {
			height: 456px;
		}
	}
	
	.ShowVideoPlayer & {
		visibility: visible;
	}

	.OwnsEvent & {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.TournamentFinished & {
		visibility: collapse;
	}
}

.DateLocationContainer {
	flow-children: right;
	horizontal-align: center;

	.Dates,
	.Location {
		text-align: center;
		color: #9ae5a9ea;
		horizontal-align: center;
		margin: -2px 0px;
		font-size: 14px;
		letter-spacing: 2px;
		text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	}

	.Dates {
		font-weight: semi-bold;
		horizontal-align: center;
		margin-right: 8px;
	}
}

#GroupStageHeaderContainer {
	width: 100%;
	min-height: 90px;

	visibility: collapse;

	.GroupStage & {
		visibility: visible;
	}

	#GroupStageDates {
		flow-children: down;
		horizontal-align: right;
		vertical-align: center;		
		min-width: 260px;

		.EventTitle {
			text-align: center;
			color: white;
			horizontal-align: center;
			letter-spacing: 2px;
			text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
		}	
	}	
}

#PlayoffsHeaderContainer {
	width: 100%;
	min-height: 124px;

	visibility: collapse;

	.Playoffs & {
		visibility: visible;
	}	

	#PlayoffsDates {
		flow-children: down;
		horizontal-align: right;
		vertical-align: center;		
		min-width: 260px;

		.EventTitle {
			text-align: center;
			color: white;
			horizontal-align: center;
			letter-spacing: 2px;
		}
	
		          
		           
			                   
			                     
			                         
			                 
			                
			                    
		 

		        
			                       
			                         
		    
	}	
}

#MainEventHeaderContainer {
	width: 100%;
	min-height: 124px;

	visibility: collapse;

	.MainEvent & {
		visibility: visible;
	}	

	#MainEventLogoContainer {
		flow-children: down;
		horizontal-align: center;
		vertical-align: center;

		.TILogo {
			width: 180px;
			horizontal-align: center;
		}

		#StarsContainerSmall {
			flow-children: right;
			horizontal-align: center;
			margin: 6px 0px;

			.CompendiumStarSmall {
				width: 8px;
				height: 8px;
				background-image: url("file://{images}/control_icons/24px/star.svg");
				background-size: cover;
				background-position: center;
				wash-color: loserRed;
				margin: 0px 3px;
			}
		}
	}

	#MainEventDates {
		flow-children: down;
		horizontal-align: right;
		vertical-align: center;	
		min-width: 260px;
		
		.EventTitle {
			text-align: center;
			color: white;
			horizontal-align: center;
			letter-spacing: 2px;
		}
	
		          
		           
			                   
			                     
			                         
			                 
			                
			                    
		 

		        
			                       
			                         
		    
	}	
}

.VideoCompendiumTitle {
	text-align: center;
	vertical-align: middle;
	font-size: 36px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 4px;
	color: whitesmoke;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);

	.AspectRatio16x10 & {
		letter-spacing: 2px;
	}
}

.RoadToInternationalContainer {
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;

	.DPCLogoContainer {
		horizontal-align: center;
		flow-children: right;
		width: 220px;

		.DPCLogo {
			width: 36px;
			wash-color: loserRed;
			saturation: 0.5;
			margin: 0px 2px;			
		}

		.Dash {
			width: fill-parent-flow(1);
			height: 1px;
			vertical-align: bottom;
			opacity: 0.2;
			margin-bottom: 8px;

			&.Left {
				background-color: gradient( linear, 0% 0%, 50% 0%, from( rgba(255, 255, 255, 0) ), to( white ) );
			}

			&.Right {
				background-color: gradient( linear, 50% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
			}
		}
	}

	.TitleCenter {
		horizontal-align: center;
		text-align: center;
		text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	}

	.RoadToLabel {
		horizontal-align: center;
		color: rgba(255, 255, 255, 0.8);
		font-size: 15px;
		margin-bottom: -4px;
		font-weight: normal;
		letter-spacing: 2px;
		
	}

	.TheInternationalLabel {
		horizontal-align: center;
		color: white;
		letter-spacing: 2px;
	}
}

		
.FootageContainer {
	width: 100%;
	height: 100%;
	horizontal-align: center;

	visibility: collapse;

	.WantsLiveVideo & {
		visibility: visible;
	}
}

.LiveContainer {
	horizontal-align: center;
	height: 100%;
	width: height-percentage( 177.777% );

	visibility: collapse;

	.LiveVideo_Active & {
		visibility: visible;
	}

	#LiveStream {
		height: 100%;
		width: 100%;
	}

	.OverlayPanel {
		flow-children: right;
		padding: 8px;
		horizontal-align: right;

		opacity: 0.0;

		transition-property: opacity;
		transition-duration: 0.2s;

		.OverlayButton {
			width: 32px;
			height: 32px;
			margin: 8px;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			wash-color: #ccc;

			transition-property: wash-color;
			transition-duration: 0.2s;

			&:hover {
				wash-color: white;
			}
			&:active {
				wash-color: #aaa;
			}

			&.BrowserButton {
				background-image: url( "file://{images}/control_icons/arrow_popout.png" );
			}
			&.HideButton {
				background-image: url( "file://{images}/control_icons/x_close_filled.png" );
			}
		}
	}

	&:hover .OverlayPanel {
		opacity: 1.0;
		transform: none;
	}
}

.NotLiveContainer {
	horizontal-align: center;
	height: 100%;
	width: height-percentage( 177.777% );

	background-image: url( "file://{images}/compendium/international2024/stream_not_live_background.jpg" );
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	visibility: collapse;

	.LiveVideo_NotActive & {
		visibility: visible;
	}
}

.LiveBlockedContainer {
	height: 100%;
	width: 100%;
	flow-children: down;

	visibility: collapse;

	.LiveVideo_SpoilerBlocked & {
		visibility: visible;
	}

	.LiveBlockedCenter {
		vertical-align: middle;
		width: 100%;
		flow-children: down;

		.LiveBlockedDay {
			horizontal-align: center;
			text-align: center;
			ui-scale: 200%;
		}
		.ButtonPrimary {
			horizontal-align: center;
			margin-top: 8px;
		}
	}
}

.LiveFeedCountdownContainer {
	vertical-align: center;
	flow-children: down;
	width: 100%;

	visibility: collapse;

	Label {
		text-align: center;
		horizontal-align: center;
	}

	.CountdownText {
		text-align: center;
		font-family: titleFont;
		font-size: 44px;
		margin-top: 8px;
		letter-spacing: -0.2px;
		color: white;
		z-index: 2;
		color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
		text-shadow: textShadowMedium;
		brightness: 1.3;
	}

	.ShowCountdown & {
		visibility: visible;
	}
}

.CountdownActive .CountDownActiveText,
.CountdownAfterEnd .CountDownCompleteText
{
    visibility: visible;
}

.CountdownAfterEnd .CountDownActiveText,
.CountdownActive .CountDownCompleteText
{
    visibility: collapse;
}

.ChampionsImageSequenceContainer {
	opacity-mask: url( "file://{images}/compendium/international2024/champions_photo_background_mask.png" );
	opacity: 0;
	wash-color: rgba(176, 170, 147, 0.9);
	blur: gaussian( 12px );
	width: 100%;
	height: 100%;
	
	transition-property: blur, wash-color;
	transition-duration: 0.4s;

	visibility: collapse;

	.TournamentFinished & {
		visibility: visible;
	}

	.OnHomePage & {
		opacity: 0.3;
		blur: gaussian( 0px );
	}

	.ChampionPhoto {
		width: 100%;
		height: 100%;

		opacity: 0.0;

		transition-property: opacity;
		transition-duration: 0.5s;

		&.Focused {
			opacity: 1.0;
		}
	}
}