                                                   

.TooltipContents {
	flow-children: down;
	width: 400px;

	Label {

		.PointsIcon {
			width: 22px;
			height: 22px;
			wash-color: secondaryColor1;
			
			background-image: url( "file://{images}/compendium/international2022/totalpoints.psd" );
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}