DOTAInternational2024Button {

	.ButtonShadow {
		width: 100%;
		height: 100%;
		background-color: black;
		border-radius: 4px;
		margin: 0px 2px;
		box-shadow: 0px 6px 40px -2px rgba(0, 0, 0, 0.6);
	}

	.OuterBackground {
		background-color: #01130D;
		border-radius: 3px;
		padding: 3px;
		border: 1px solid white;
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.48, #CCA160 ), color-stop( 0.52, #B88943 ), to( #7F5C26 ) );		
	}

	.InnerBackground {
		border-radius: 1px;
		transition-property: background-color;
		transition-duration: 0.1s;	
	}

	.InnerGlow {
		width: 100%;
		height: 100%;
		border-radius: 1px;
		ignore-parent-flow: true;
		background-color: gradient( radial, 50% 0%, 0% 0%, 40% 80%, from( #75FF7C ), to( rgba(255, 255, 255, 0) ) );
		-s2-mix-blend-mode: screen;
		opacity: 0.1;

		transition-property: opacity;
		transition-duration: 0.1s;
	}
	
	.InnerBorder {
		width: 100%;
		height: 100%;
		border-radius: 1px;
		ignore-parent-flow: true;
		border: 1px solid white;
		border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.3) ) );

		transition-property: border;
		transition-duration: 0.1s;
	}
	
	.ButtonLabel {
		margin: 9px 32px 12px;
		color: whitesmoke;
		text-shadow: 0px 2px 12px black;
		text-overflow: shrink;
		text-align: center;
		
		transition-property: transform, color;
		transition-duration: 0.1s;
	}
	
	&.Wide {
		.ButtonLabel {
			margin-left: 56px;
			margin-right: 56px;
		}
	}

	&.TextOnly {
		.OuterBackground,
		.InnerBackground {
			background-color: none;
			padding: 0px;
			border: 0px;
		}

		.InnerGlow,
		.ButtonShadow,
		.InnerBorder {
			visibility: collapse;
		}

		.BottomBorder {
			width: 100%;
			height: 1px;
			background-color: gradient( linear, 0% 0%, 100% 0%, from( #dbc49100 ), color-stop( 0.3, #dbc491c7 ), color-stop( 0.5, #ffe9bb ), color-stop( 0.7, #dbc491c7 ), to( #dbc49100 ) );
			vertical-align: bottom;
			margin: 2px 6px;
			opacity: 0.2;
			
			transition-property: transform, opacity;
			transition-duration: 0.25s;
			transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
		}

		.ButtonLabel {
			font-size: 16px;
			line-height: 1;
			margin: 7px 6px 5px;
			color: gradient( linear, 0% 0%, 0% 100%, from( #ffe9b6 ), to( #ceb06d ) );
		}
		
		&:enabled:hover {			
			.ButtonLabel {
				color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #FFFFFF ) );
				transform: translateY( -2px );
			}

			.BottomBorder {
				transform: none;
				opacity: 1;
			}
		}
	}

	&.Small {
		.OuterBackground {
			padding: 2px;
		}

		.ButtonLabel {
			font-size: 16px;
			line-height: 1;
			margin: 6px 16px 6px;
			font-weight: normal;
			text-align: center;
		}
	}

	&.Small.Wide {
		.ButtonLabel {
			margin-left: 24px;
			margin-right: 24px;
		}
	}

	&.Tiny {
		.OuterBackground {
			background-color: none;
			padding: 0px;
			border: 0px;
		}

		.ButtonLabel {
			font-size: 14px;
			line-height: 1;
			margin: 4px 10px 5px;
			font-weight: normal;
			letter-spacing: 1px;
			height: 16px;
		}

		.ButtonShadow {
			background-color: black;
			border-radius: 4px;
			margin: 0px 2px;
			box-shadow: 0px 3px 16px -2px rgba(0, 0, 0, 0.4);
		}
	}

	&.NoOutline {
		.OuterBackground {
			background-color: none;
			padding: 0px;
			border: 0px;
		}
	}

	                                                                     

	&.LightGreen {
		.InnerBackground {
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #3EAC40 ), to( #04431A ) );
		}

		.InnerBorder {
			opacity: 0.2;
		}

		&:enabled:hover {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(103, 217, 97) ), to( #097427 ) );
			}
		}
	
		&:active {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #022d1d ), to( #053f1a ) );				
			}

			.InnerGlow {
				opacity: 0;
			}
			
			.InnerBorder {
				border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
			}
	
			.ButtonLabel {
				transform: translateY( 1px );
				color: LightestGrey;
			}
		}
	}

	                                                                    

	&.DarkGreen {
		.InnerBackground {
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #0b5c27 ), to( #01201A ) );			
		}

		.InnerBorder {
			opacity: 0.08;
		}

		&:enabled:hover {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #1d853f ), to( #02381e ) );
			}
		}
	
		&:active {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #022d1d ), to( #053f1a ) );				
			}

			.InnerGlow {
				opacity: 0;
			}
			
			.InnerBorder {
				border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
			}
	
			.ButtonLabel {
				transform: translateY( 1px );
				color: LightestGrey;
			}
		}
	}

	                                                              

	&.Gold {
		.InnerBackground {
			background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffdaa3 ), color-stop( 0.48, #CCA160 ), color-stop( 0.52, #B88943 ), to( #7F5C26 ) );

			.InnerBorder {
				opacity: 0.2;
			}
		}

		&:enabled:hover {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #fff4d9 ), color-stop( 0.48, #e3bf78 ), color-stop( 0.52, #d0aa69 ), to( #a67b3b ) );
			}
		}
	
		&:active {
			.InnerBackground {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #36250F ), color-stop( 0.48, #36250F ), color-stop( 0.52, #574124 ), to( #6A5943 ) );
	
				.InnerGlow {
					opacity: 0;
				}
				
				.InnerBorder {
					border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.3) ), to( rgba(255, 255, 255, 0.3) ) );
				}
			}
	
			.ButtonLabel {
				transform: translateY( 1px );
				color: LightestGrey;
			}
		}
	}

	&.Disabled{
		saturation: 0;
		brightness: 0.5;
	},
	&:disabled {
		saturation: 0.1;
		brightness: 0.5;
	}

}

@keyframes 'GlowButton' {
    0% {
        brightness: 1;
    }
    100% {
        brightness: 2.2;
    }
}