/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPInternational2024PurchasePopup.PopupPanel
{
	padding: 0px;
	width: 1200px;
	height: 860px;
	border: 0px;
	background-image: url("s2r://panorama/images/compendium/international2024/ti13_compendium_home_background_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

DOTABPInternational2024PurchasePopup.PopupPanel.PurchaseAsGift
{
	height: 860px;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(210, 255, 217, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.1) ) );
}

.CompediumBackgroundParticles
{
	width: 100%;
	height: 400px;
	ignore-parent-flow: true;
	transform: scaleY( -1 );
}

.CompediumBackgroundParticles2
{
	width: 100%;
	height: 300px;
	ignore-parent-flow: true;
	transform: scaleY( -1 );
}

#UpgradedParticles
{
	width: 100%;
	height: 800px;
	transform: translateY(-550px);
	hue-rotation: -30deg;
	saturation: 1.5;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	overflow: noclip;
}

.AegisPattern
{
	horizontal-align: center;
	ignore-parent-flow: true;
	opacity: 0.15;
}

.Aegis2024_Large
{
	horizontal-align: center;
	ignore-parent-flow: true;
	transform: translateY( -400px );
	opacity-brush: gradient( linear, 0% 42%, 0% 84%, from( rgb(255, 255, 255) ), color-stop( 0.5, #ffffff7d ), to( #ffffff00 ) );
	brightness: 1.8;
	opacity: 0.2;
}

.TopRightGodRays
{
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	transform: translateY( -500px );
	width: 1600px;
	height: 1000px;
	overflow: noclip;
}

.BrightGlow
{
	ignore-parent-flow: true;
	width: 1600px;
	height: 1000px;
	horizontal-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #e1ff4c ), color-stop( 0.5, #79da524e ), to( #30c35f00 ) );
	opacity: 0.2;
	transform: translateY( -400px );
}

.LogoContainer
{
	flow-children: down;
	margin-bottom: 24px;
	width: 100%;
}

.PurchaseAsGift .LogoContainer
{
	ui-scale: 70%;
	margin-bottom: 12px;
}

.LogoContainer .TILogoText
{
	width: 460px;
	horizontal-align: center;
	margin-top: 64px;
	margin-bottom: -24px;
}

.LogoContainer .LogoSmall
{
	width: 460px;
	horizontal-align: center;
	margin-bottom: -40px;
}

.LogoContainer .Title
{
	width: 100%;
	font-size: 56px;
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 8px;
	color: whitesmoke;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.LogoContainer #StarsContainer
{
	flow-children: right;
	horizontal-align: center;
}

.PurchaseAsGift .LogoContainer #StarsContainer
{
	visibility: collapse;
}

.LogoContainer #StarsContainer .CompendiumStar
{
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/control_icons/24px/star.vsvg");
	background-size: cover;
	background-position: center;
	wash-color: loserRed;
	margin: 0px 4px;
}

#CancelButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	margin: 8px;
}

#TierContainer
{
	width: 1200px;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

#TierContainer .Tier
{
	width: fill-parent-flow( 1.0 );
	height: 300px;
}

.PurchaseAsGift #TierContainer .Tier
{
	height: 280px;
}

#TierContainer .Tier .TierContainer
{
	width: 100%;
	height: 100%;
	flow-children: down;
	padding: 24px;
	padding-top: 36px;
	border: 1px solid primaryColor3&22;
}

.PurchaseAsGift #TierContainer .Tier .TierContainer
{
	padding: 16px;
	padding-top: 24px;
}

#TierContainer .Tier .TopBorder
{
	width: 100%;
	height: 4px;
	ignore-parent-flow: true;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

#TierContainer .Tier .TierName
{
	horizontal-align: center;
	text-align: center;
	text-shadow: textShadowMedium;
	margin-bottom: 4px;
}

#TierContainer .Tier .TierIncludes
{
	width: 100%;
	flow-children: down;
	margin-bottom: 16px;
}

#TierContainer .Tier .TierIncludes Label
{
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 2px 6px black;
	color: gradient( linear, 0% 20%, 0% 100%, from( #ffe6ab ), color-stop( 0.5, #eed59e ), to( #c0a772 ) );
}

#TierContainer .Tier .TierIncludes .IncludesTitle
{
	width: 80%;
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 8px;
}

#TierContainer .Tier .TierIncludes .IncludesTitle Label
{
	margin: 0px 8px;
}

#TierContainer .Tier .TierIncludes .IncludesTitle .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	vertical-align: center;
	margin: 8px 0px 4px;
}

#TierContainer .Tier .TierIncludes .IncludesLevels
{
	font-size: 20px;
	color: rgba(245, 245, 245, 0.8);
}

#TierContainer .Tier .TierIncludes .IncludesBoosters
{
	font-size: 20px;
	color: rgba(245, 245, 245, 0.8);
}

#TierContainer .Tier .DiscountText
{
	font-size: 16px;
	color: white;
	text-shadow: 0px 0px 12px rgba(153, 205, 50, 0.555);
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	horizontal-align: center;
	max-height: 20px;
	text-overflow: shrink;
	visibility: collapse;
}

#TierContainer .Tier.ShowDiscount .DiscountText
{
	visibility: visible;
}

#TierContainer .Tier .TierButtons
{
	width: 100%;
	margin-bottom: 16px;
	horizontal-align: center;
}

#Tier1
{
	background-color: gradient( linear, 0% 0%, 30% 120%, from( primaryColor6&ee ), to( primaryColor7&dd ) );
	background-size: 100%;
	box-shadow: 0px 12px 64px -4px #00000088;
	margin-left: 48px;
	margin-right: 8px;
}

#Tier1 .TopBorder
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( primaryColor4 ), color-stop( 0.5, primaryColor2 ), to( primaryColor4 ) );
	brightness: 0.6;
}

#Tier1 .Dash
{
	opacity: 0.5;
}

#Tier1 .Dash.Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #c0a77200 ), to( #c0a772 ) );
}

#Tier1 .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #c0a772 ), to( #c0a77200 ) );
}

#Tier2
{
	background-color: gradient( linear, 0% 0%, 30% 120%, from( primaryColor3&ee ), to( primaryColor5&dd ) );
	background-size: 100%;
	box-shadow: 0px 12px 64px -4px #00000088;
	margin-left: 8px;
	margin-right: 48px;
}

#Tier2 .TopBorder
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #9f884c ), color-stop( 0.5, #fff1cf ), to( #9f884c ) );
}

#Tier2 .Dash
{
	opacity: 0.1;
}

#Tier2 .Dash.Left
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), to( white ) );
}

#Tier2 .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

#FooterInfo
{
	width: 100%;
	height: 100px;
	flow-children: down;
	margin-top: 24px;
}

#GiftingCounter
{
	width: 1000px;
	margin-bottom: 24px;
	flow-children: down;
	text-align: center;
	horizontal-align: center;
	padding-top: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.251);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #E1CC9A00 ), color-stop( 0.5, #E1CC9A), to( #E1CC9A00 ) );
	visibility: collapse;
}

.PurchaseAsGift #GiftingCounter
{
	visibility: visible;
}

.GiftingTitle
{
	font-size: 36px;
	margin-bottom: 8px;
	font-family: titleFont;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( LightestGrey ) );
	text-shadow: 0px 4px 24px #000000aa;
	width: 100%;
	text-align: center;
	text-overflow: shrink;
	letter-spacing: -0.2px;
}

#ProgressBar
{
	ui-scale: 80%;
	height: 90px;
	horizontal-align: center;
	flow-children:down;
}

#PurchasePoolContribution
{
	horizontal-align: center;
	margin-bottom: 0px;
	color: #b8d6bec6;
	font-size: 18px;
	text-align: center;
	width: 100%;
}

#InfoButtons
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 12px;
}

#InfoButtons DOTAInternational2024Button
{
	margin: 0px 4px;
}

#InfoButtons TextButton
{
	margin-right: 10px;
}

.BattlePassBrightButton
{
	padding: 10px 18px 6px 18px;
}

.DiscountText
{
	horizontal-align: center;
	text-align: center;
}

.PurchaseOptionButton
{
	margin-bottom: 0px;
	horizontal-align: center;
}

.PurchaseOptionActivate
{
	visibility: visible;
}

.PurchaseOptionGift
{
	visibility: collapse;
}

.PurchaseAsGift .PurchaseOptionActivate
{
	visibility: collapse;
}

.PurchaseAsGift .PurchaseOptionGift
{
	visibility: visible;
}

.LevelBadge
{
	width: 82px;
	height: 82px;
	border-radius: 50%;
	flow-children: down;
	margin-top: -13px;
	box-shadow: #00000088 0px 0px 6px 0px ;
}

#LevelCircle
{
	width: 40px;
	height: 40px;
	vertical-align: top;
	margin-top: 14px;
	margin-left: -1px;
	horizontal-align: center;
	wash-color: white;
}

#LevelCircle #LevelNumber
{
	font-size: 30px;
	margin-left: 0px;
	horizontal-align: center;
	text-align: center;
}

#BasicLevelBadge
{
	background-color: darkColor;
	border: 1px solid #ffffff09;
}

#LevelBadgeLabel
{
	color: white;
	font-size: 14px;
	margin-top: 2px;
	horizontal-align: center;
	margin-left: 1px;
	text-transform: uppercase;
	text-align: center;
}

.BundleOption #BasicLevelBadge
{
	background-color: darkColor;
}

#CourierPreview
{
	width: 500px;
	height: 300px;
	horizontal-align: left;
	vertical-align: top;
	background-color: none;
	visibility: collapse;
}

#Hermes
{
	width: 900px;
	height: 900px;
	horizontal-align: center;
	background-color: none;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_png.vtex") 1.0;
	transform: translateY(284px) translateX(-660px) scaleX(-1);
}

.BundleOption .PurchaseOptionSubheader
{
	color: textAccentColorBright;
}

#ButtonFooter
{
	width: 100%;
	height: 100px;
	flow-children: down;
	vertical-align: bottom;
	margin-bottom: 94px;
}

#ButtonFooterContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#ButtonFooterContainer TextButton
{
	margin-top: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: none;
	border: 1px solid accentColor;
	min-width: 250px;
	transition-property: brightness, background-color;
	transition-duration: .1s;
}

#ButtonFooterContainer .PopupButton Label
{
	font-size: 16px;
	text-transform: uppercase;
	color: textAccentColorBright;
	margin-top: 2px;
	letter-spacing: 1.2px;
}

#ButtonFooterContainer TextButton:Hover
{
	brightness: 2;
	background-color: secondaryDarkColor;
}

.Rewards
{
	flow-children:right;
}

#Reward1
{
	flow-children: down;
	margin-left:110px;
	width: 180px;
}

#Reward2
{
	flow-children: down;
	margin-left:25px;
	width: 180px;
}

#Reward3
{
	flow-children: down;
	margin-left:25px;
	width: 180px;
}

.RewardTitle
{
	color: #7FBC8B;
	text-transform:uppercase;
	horizontal-align:center;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
	text-shadow: 1px 1px 10px 0px #000000;
}

.DownArrow
{
	horizontal-align: center;
	height: 7px;
	width: 14px;
	background-image: url("s2r://panorama/images/tooltips/tooltip_arrow_bottom_png.vtex");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
	wash-color: accentColorBright;
}

#GiftProgressBar
{
	flow-children:right;
}

.Notch
{
	width:100px;
	height:25px;
	margin-right:3px;
	box-shadow: inset #0000007c 0px 1px 3px;
	background-color: #021A11;
}

#Notch1
{
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	margin-left: 100px;
}

#Notch1.Reached
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #126125 ), to( #1E7D2B ) );
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#Notch2.Reached
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #1E7D2B ), to( #2A9A31 ) );
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#Notch3.Reached
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #2A9A31 ), to( #43B737 ) );
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#Notch4.Reached
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #43B737 ), to( #77D53E ) );
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#Notch5.Reached
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #77D53E ), to( #A9F143 ) );
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

#Notch5
{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.XPCircle
{
	margin: 0px;
	padding: 0px;
	horizontal-align: center;
	flow-children: right;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: .25s;
	horizontal-align:center;
	width: fit-children;
}

.PTS
{
	background-image: bp_total_points;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	width: 26px;
	height: 26px;
	horizontal-align: center;
}

.AchievementReward
{
	color: white;
	text-shadow: 0px 1px 8px #000000bb;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: semi-bold;
	horizontal-align: center;
	margin-right: 4px;
	vertical-align: middle;
}

.DashDotDivider
{
	width: 400px;
	margin-top: 24px;
}

