/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define ultraBrightColor: #def1f9;
@define accentColorBright: #d2e4ec;
@define accentColor: #6dd6f3;
@define defaultColor: #126a90;
@define shadeColor: #08507a;
@define darkColor: #042a40;
@define ultraDarkColor: #021520;
@define secondaryUltraBrightColor: #F4F2ED;
@define secondaryBrightColor: #7D7F80;
@define secondaryAccentColor: #616466;
@define secondaryDefaultColor: #41494C;
@define secondaryDarkColor: #242E33;
@define secondaryUltraDarkColor: #0E1619;
@define primaryColor1: #97FF62;
@define primaryColor2: #3EAC40;
@define primaryColor3: #226931;
@define primaryColor4: #04431A;
@define primaryColor5: #0D4721;
@define primaryColor6: #01201A;
@define primaryColor7: #001A0E;
@define secondaryColor1: #EADAC0;
@define secondaryColor2: #CBB593;
@define secondaryColor3: #948A76;
@define secondaryColor4: #4E4B44;
@define primaryGradient1_vertical: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2 ), to( primaryColor3 ) );
@define secondaryGradient1_vertical: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), color-stop( 0.5, secondaryColor2 ), to( secondaryColor3 ) );
@define primaryGradient1_verticalInverted: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor2 ) );
@define secondaryGradient1_verticalInverted: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor3 ), color-stop( 0.5, secondaryColor2 ), to( secondaryColor2 ) );
@define shadowMedium: 0px 8px 24px -4px rgba(0, 0, 0, 0.5);
@define textShadowSmall: 0px 2px 4px rgba(0, 0, 0, 0.5);
@define textShadowMedium: 0px 3px 8px rgba(0, 0, 0, 0.5);
@define defaultGradient: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( ultraDarkColor ) );
@define secondaryGradient: gradient( linear, 0% 0%, 0% 100%, from( secondaryDarkColor ), to( secondaryUltraDarkColor ) );
@define highlightGradient: gradient( linear, 0% 100%, 0% 0%, from( #bdc6ee ), to( #fcabff) );
@define textUltraBrightColor: ultraBrightColor;
@define textAccentColorBright: accentColorBright;
@define textAccentColor: accentColor;
@define textDefaultColor: secondaryBrightColor;
@define textShadeColor: shadeColor;
@define textDarkColor: darkColor;
@define textUltraDarkColor: ultraDarkColor;
@define textSecondaryUltraBrightColor: secondaryUltraBrightColor;
@define textSecondaryBrightColor: secondaryBrightColor;
@define textSecondaryAccentColor: secondaryAccentColor;
@define textSecondaryDefaultColor: secondaryDefaultColor;
@define textSecondaryDarkColor: secondaryDarkColor;
@define textSecondaryUltraDarkColor: secondaryUltraDarkColor;
@define BRD: 1px solid darkColor;
@define bp_wagerTokenColor: accentColor;
@define XPCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( ultraDarkColor ), to( darkColor ) );
@define XPCircleBorder: 1px solid accentColor;
@define XPRequiredHeroCircleGradient: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( defaultColor ) );
@define XPRequiredHeroCircleBorder: 1px solid accentColor;
@define bp_battleLevelColor: accentColorBright;
@define bp_logo_small: url("s2r://panorama/images/badges/international_2024_compendium_badge_2_png.vtex");
@define bp_single_point: url("s2r://panorama/images/compendium/international2020/single_point_psd.vtex");
@define bp_single_point_selected: url("s2r://panorama/images/compendium/international2020/single_point_selected_psd.vtex");
@define bp_activequestring_small: url("s2r://panorama/images/compendium/international2020/activequestring_small_psd.vtex");
@define bp_activequestring_endscreen: url("s2r://panorama/images/compendium/international2020/activequestring_endscreen_psd.vtex");
@define bp_shield_icon_endscreen: url("s2r://panorama/images/compendium/international2020/shield_icon_end_screen_psd.vtex");
@define bp_tip_button_points: url("s2r://panorama/images/compendium/international2020/tip_button_points_psd.vtex");
@define bp_tip_button_points_hover: url("s2r://panorama/images/compendium/international2020/tip_button_points_hover_psd.vtex");
@define bp_total_tokens: url("s2r://panorama/images/compendium/international2020/totaltokens_psd.vtex");
@define bp_total_points: url("s2r://panorama/images/compendium/international2020/totalpoints_psd.vtex");
@define bp_bounty_icon: url("s2r://panorama/images/compendium/international2020/icon_bounty_crosshair_png.vtex");
@define bp_bounty_shadow_icon: url("s2r://panorama/images/compendium/international2020/icon_bounty_crosshair_shadow_png.vtex");
@define bp_cavern_crawl_logo: url("s2r://panorama/images/cavern/icon_logo_ti2022_png.vtex");
@define bp_cavern_crawl_challenge: url("s2r://panorama/images/cavern/icon_challenge_available_ti2022_png.vtex");
@define bp_cavern_crawl_challenge_2: url("s2r://panorama/images/cavern/icon_challenge_available_ti2022_2_png.vtex");
@define bp_cavern_crawl_challenge_wounded: url("s2r://panorama/images/cavern/icon_challenge_wounded_ti2022_png.vtex");
@define bp_cavern_crawl_challenge_2_wounded: url("s2r://panorama/images/cavern/icon_challenge_wounded_ti2022_2_png.vtex");
@define bp_cavern_crawl_hero_filter: url("s2r://panorama/images/control_icons/filter_cavern_2022_png.vtex");
@define bp_quest_rank_empty: url("s2r://panorama/images/status_icons/3star_empty_psd.vtex");
@define bp_quest_rank_1: url("s2r://panorama/images/status_icons/3star_1_psd.vtex");
@define bp_quest_rank_2: url("s2r://panorama/images/status_icons/3star_2_psd.vtex");
@define bp_quest_rank_3: url("s2r://panorama/images/status_icons/3star_3_psd.vtex");
@define bp_quest_tabletop: url("s2r://panorama/images/compendium/international2020/tabletop_psd.vtex");
@define bp_quest_scroll_left_texture: url("s2r://panorama/images/compendium/international2020/scroll_left_texture_psd.vtex");
@define bp_quest_scroll_texture: url("s2r://panorama/images/compendium/international2020/scroll_texture_psd.vtex");
@define bp_profile_tooltip_max: url("s2r://panorama/images/compendium/international2020/profiletooltip_max_psd.vtex");
@define bp_platinum_backer: url("s2r://panorama/images/compendium/international2020/platinum_backer_psd.vtex");
@define bp_avatar_border_default: url("s2r://panorama/images/compendium/international2020/avatarborder_default_psd.vtex");
@define bp_avatar_border_max: url("s2r://panorama/images/compendium/international2020/avatarborder_max_psd.vtex");
@define bp_point_log_tip_received: url("s2r://panorama/images/compendium/international2020/logicon_gottip_psd.vtex");
@define bp_point_log_tip_given: url("s2r://panorama/images/compendium/international2020/logicon_gavetip_psd.vtex");
@define bp_point_log_pass_activated: url("s2r://panorama/images/compendium/international2020/logicon_activate_psd.vtex");
@define bp_point_log_wager_won: url("s2r://panorama/images/compendium/international2020/logicon_wonwager_psd.vtex");
@define bp_point_log_prediction_correct: url("s2r://panorama/images/compendium/international2020/logicon_prediction_psd.vtex");
@define bp_point_log_recycled_item: url("s2r://panorama/images/compendium/international2020/logicon_recycle_psd.vtex");
@define bp_point_log_achievement: url("s2r://panorama/images/compendium/international2020/logicon_achievement_psd.vtex");
@define bp_point_log_wheel_reward: url("s2r://panorama/images/compendium/international2020/logicon_spinwheel_psd.vtex");
@define bp_point_log_community_goal: url("s2r://panorama/images/compendium/international2020/logicon_community_goal_psd.vtex");
@define bp_point_log_quest_complete: url("s2r://panorama/images/compendium/international2020/logicon_questcomplete_psd.vtex");
@define bp_point_log_points_consumed: url("s2r://panorama/images/compendium/international2020/totalpoints_psd.vtex");
@define bp_point_log_won_battlecup: url("s2r://panorama/images/weekend_tourney/battlecup_icon_psd.vtex");
@define bp_point_log_prediction_tokens: url("s2r://panorama/images/compendium/international2020/prediction_tokens_psd.vtex");
@define bp_point_log_event_game: url("s2r://panorama/images/compendium/international2020/aghanim_icon_psd.vtex");
@define bp_point_log_shovel: url("s2r://panorama/images/compendium/international2020/shovel_icon_psd.vtex");
@define bp_rewardsList_LevelContainer_background_color: gradient( linear, 0% 0%, 0% 100%, from( darkColor ), to( #000000FF ) );
@define bp_rewardsList_LevelContainer_StatSub_silverTier_Label_color: ultraDarkColor;
@define bp_rewardsList_pointLog_silverTier_Label_color: #e9faff;
@define bp_rewardsList_LevelContainer_LevelLabel_PrizePoolNumber_silverTier_color: defaultColor;
@define bp_rewardsList_LevelContainer_LevelLabel_PrizePoolNumber_silverTier_text_shadow: 1px 1px 6px 5 #000000;
@define bp_rewardsList_LevelContainer_LevelCircle_silverTier_Label_color: defaultColor;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_silverTier_wash_color: accentColorBright;
@define bp_rewardsList_LevelContainer_StatSub_goldTier_Label_color: #A5744A;
@define bp_rewardsList_pointLog_goldTier_Label_color: #FFFFE9;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_goldTier_wash_color: #F9BE2D;
@define bp_rewardsList_LevelContainer_StatSub_platinumTier_Label_color: secondaryBrightColor;
@define bp_rewardsList_pointLog_platinumTier_Label_color: #e9faff;
@define bp_rewardsList_LevelContainer_LevelCircle_Label_platinumTier_wash_color: shadeColor;
@define bp_LevelCircle_wash_color: accentColor;
@define chatWheelCategoryIcon: url("s2r://panorama/images/badges/international_2020_battle_pass_badge_3_png.vtex");
@define battlecup_current_season_icon: url("s2r://panorama/images/icon_trophy_battle_cup_summer_psd.vtex");
@define battlecup_current_season_champions_icon: url("s2r://panorama/images/icon_trophy_champions_cup_psd.vtex");
@define battlecup_current_season_champions_animation_icon: url("s2r://panorama/images/icon_trophy_champions_cup_animation_png.vtex");
@define bp_bracket_help_header_image: url("s2r://panorama/images/compendium/international2020/bracket_info_header_psd.vtex");
@define bp_bracket_help_footer_image: url("s2r://panorama/images/compendium/international2020/bracket_info_footer_psd.vtex");
@define pageMarginTop: 40px;
@define pageMarginLeft: 460px;
@define secondaryColor: accentColorBright;
@define secondaryLighterColor: #5DAFFF;
@define secondaryDarkerColor: #5DAFFF;
@define SlotWidth: 154px;
@define SlotWidth_16x10: 131px;
@define SlotWidth_21x9: 197px;
@define SlotHeight: 24px;
@define SlotLabelFontSize: 14px;
.GoldText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
}

.PlaceholderSection
{
	border: 2px solid #333;
	background-color: #2228;
}

.PlaceholderSection Label
{
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
}

.CompediumBackgroundOverlay
{
	width: 100%;
	height: 100%;
	background-color: primaryColor5;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor5 ), to( primaryColor5&00 ) );
	opacity: 0.7;
}

.CompendiumBody
{
	width: 100%;
	height: 100%;
	color: #fa97e8;
	background-color: #00000000;
	border-top: 1px solid shadeColor&66;
	border-bottom: 1px solid darkColor&00;
}

.PointsValueLabel
{
	color: gradient( linear, 0% 20%, 0% 100%, from( #ffe6ab ), color-stop( 0.5, #eed59e ), to( #c0a772 ) );
	font-weight: semi-bold;
	brightness: 1.8;
}

.BPSharedPageContainer
{
	width: fill-parent-flow(1);
	height: 100%;
	margin-left: 440px;
	flow-children: down;
	padding: 40px 58px 130px 0px;
}

.AspectRatio21x9 .BPSharedPageContainer
{
	padding-left: 160px;
	padding-right: 160px;
}

.BPSharedPageContainer .BPSharedHeaderContainer
{
	width: 100%;
	flow-children: down;
	margin-right: -8px;
}

.BPTitle
{
	text-transform: uppercase;
	font-family: titleFont;
	font-size: 48px;
	letter-spacing: 3px;
	color: white;
	z-index: 2;
	color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
	brightness: 1.3;
	font-weight: semi-bold;
	vertical-align: center;
	height: 68px;
	max-width: 960px;
	text-overflow: shrink;
}

.AspectRatio16x10 .BPTitle
{
	letter-spacing: 2px;
}

.BPPageDescription
{
	font-family: titleFont;
	font-size: 20px;
	vertical-align: bottom;
	margin-bottom: 24px;
	color: #9BCBAD;
	margin-right: 24%;
	max-height: 74px;
	text-overflow: shrink;
}

.StageTabsContainer
{
	flow-children: right;
	padding: 4px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #011810, to( #012419 ) );
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

.StageTab,.StageTabSimple,.ChallengeSelector
{
	overflow: noclip;
}

.StageTab .TabContents,.StageTabSimple .TabContents,.ChallengeSelector .TabContents
{
	border-radius: 3px;
	margin: 0px 2px;
	transition-property: background-color, border, transform, brightness;
	transition-duration: 0.1s;
}

.StageTab .TabBorder,.StageTabSimple .TabBorder,.ChallengeSelector .TabBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.3) ) );
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.StageTab .RadioBox,.StageTabSimple .RadioBox,.ChallengeSelector .RadioBox
{
	visibility: collapse;
}

.StageTab.FixedWidth .TabContents,.StageTabSimple.FixedWidth .TabContents,.ChallengeSelector.FixedWidth .TabContents
{
	width: 196px;
}

.StageTab .StageTabLeft,.StageTabSimple .StageTabLeft,.ChallengeSelector .StageTabLeft
{
	flow-children: down;
	horizontal-align: center;
	margin: 6px 16px;
}

.StageTab .StageTabLeft .StageName,.StageTabSimple .StageTabLeft .StageName,.ChallengeSelector .StageTabLeft .StageName
{
	font-size: 15px;
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	color: LightestGrey;
	horizontal-align: center;
	margin-bottom: -1px;
	text-align: center;
	height: 18px;
	text-overflow: shrink;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTab .StageTabLeft DOTACountdown,.StageTabSimple .StageTabLeft DOTACountdown,.ChallengeSelector .StageTabLeft DOTACountdown
{
	horizontal-align: center;
}

.StageTab .StageTabLeft .StageLock,.StageTabSimple .StageTabLeft .StageLock,.ChallengeSelector .StageTabLeft .StageLock
{
	color: LightGrey;
	horizontal-align: center;
	font-size: 16px;
	color: #7FBC8B;
	line-height: 1;
	text-align: center;
	text-overflow: shrink;
	height: 20px;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTab .StageTabRight,.StageTabSimple .StageTabRight,.ChallengeSelector .StageTabRight
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: middle;
	margin-top: 2px;
}

.StageTab .StageTabRight .StagePredict,.StageTabSimple .StageTabRight .StagePredict,.ChallengeSelector .StageTabRight .StagePredict
{
	text-align: right;
	horizontal-align: right;
	color: LightestGrey;
	text-shadow: textShadowSmall;
}

.StageTab .StageTabRight .StageReward,.StageTabSimple .StageTabRight .StageReward,.ChallengeSelector .StageTabRight .StageReward
{
	flow-children: right;
	horizontal-align: right;
}

.StageTab .StageTabRight .StageReward Label,.StageTabSimple .StageTabRight .StageReward Label,.ChallengeSelector .StageTabRight .StageReward Label
{
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
	font-weight: semi-bold;
}

.StageTab .StageTabRight .StageReward .PointsIcon,.StageTabSimple .StageTabRight .StageReward .PointsIcon,.ChallengeSelector .StageTabRight .StageReward .PointsIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/compendium/international2022/totalpoints_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: secondaryColor2;
}

.StageTab.Locked,.StageTabSimple.Locked,.ChallengeSelector.Locked
{
	saturation: 0.2;
	opacity: 0.3;
}

.StageTab:hover .TabContents,.StageTabSimple:hover .TabContents,.ChallengeSelector:hover .TabContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0D4721 ), to( #082f15 ) );
}

.StageTab:hover .StageName,.StageTabSimple:hover .StageName,.ChallengeSelector:hover .StageName
{
	color: white;
}

.StageTab:active,.StageTabSimple:active,.ChallengeSelector:active
{
	transform: translateY( 1px );
}

.StageTab:selected .TabContents,.StageTab.VisibleChallenge .TabContents,.StageTabSimple:selected .TabContents,.StageTabSimple.VisibleChallenge .TabContents,.ChallengeSelector:selected .TabContents,.ChallengeSelector.VisibleChallenge .TabContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2 ), to( primaryColor4 ) );
}

.StageTab:selected .TabBorder,.StageTab.VisibleChallenge .TabBorder,.StageTabSimple:selected .TabBorder,.StageTabSimple.VisibleChallenge .TabBorder,.ChallengeSelector:selected .TabBorder,.ChallengeSelector.VisibleChallenge .TabBorder
{
	opacity: 1;
}

.StageTab:selected .StageName,.StageTab.VisibleChallenge .StageName,.StageTabSimple:selected .StageName,.StageTabSimple.VisibleChallenge .StageName,.ChallengeSelector:selected .StageName,.ChallengeSelector.VisibleChallenge .StageName
{
	color: white;
}

.StageTab:selected .StageLock,.StageTab.VisibleChallenge .StageLock,.StageTabSimple:selected .StageLock,.StageTabSimple.VisibleChallenge .StageLock,.ChallengeSelector:selected .StageLock,.ChallengeSelector.VisibleChallenge .StageLock
{
	color: rgba(255, 255, 255, 0.8);
}

.StageTab:selected .StagePredict,.StageTab.VisibleChallenge .StagePredict,.StageTabSimple:selected .StagePredict,.StageTabSimple.VisibleChallenge .StagePredict,.ChallengeSelector:selected .StagePredict,.ChallengeSelector.VisibleChallenge .StagePredict
{
	color: white;
}

.StageTab.ActiveChallenge .TabContents,.StageTabSimple.ActiveChallenge .TabContents,.ChallengeSelector.ActiveChallenge .TabContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), color-stop( 0.4, secondaryColor2 ), color-stop( 0.6, secondaryColor3 ), to( secondaryColor2 ) );
	border-top: 1px solid secondaryColor1&99;
}

.StageTab.ActiveChallenge Label,.StageTabSimple.ActiveChallenge Label,.ChallengeSelector.ActiveChallenge Label
{
	color: white;
}

.StageTabSimple Label,.ChallengeSelector Label
{
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: LightestGrey;
	transition-property: text-shadow, color;
	transition-duration: 0.1s;
}

.StageTabSimple:hover Label,.ChallengeSelector:hover Label
{
	color: white;
}

.StageTabSimple:selected Label,.ChallengeSelector:selected Label
{
	color: white;
}

.StageTabSimple Label
{
	font-size: 18px;
}

.ChallengeSelector Label
{
	font-size: 18px;
}

#CampaignVignette
{
	width: 100%;
	height: 100%;
	z-index: 4;
}

#BattlePassTitleContainer
{
	margin-top: 60px;
	margin-left: 2px;
	z-index: 5;
	transform-origin: 0 50%;
	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
}

.DashDotDivider
{
	horizontal-align: center;
	flow-children: right;
}

.DashDotDivider .Dot
{
	width: 6px;
	height: width-percentage( 100% );
	background-color: gradient( linear, 0% 0%, 90% 90%, from( #E1CC9A ), to( #9D8145 ) );
	vertical-align: center;
	margin: 6px 8px;
	transform: rotateZ( 45deg );
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.DashDotDivider .Dash
{
	vertical-align: center;
	width: fill-parent-flow(1);
	height: 1px;
	opacity: 0.6;
}

.DashDotDivider .Dash.Left
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #E1CC9A ), to( #9D814500 ) );
}

.DashDotDivider .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #E1CC9A ), to( #9D814500 ) );
}

.International2024BattlePassPage .HighResTopBar #TopBarBackground
{
	background-image: url("s2r://panorama/images/topbar/topbar_lava_home_png.vtex");
}

.International2024BattlePassPage .LowVisualQuality #TopBarBackground,.International2024BattlePassPage #TopBarBackground
{
	background-image: url("s2r://panorama/images/topbar/topbar_lava_home_png.vtex");
}

.BPLogo
{
	background-size: 472px 69px;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 69px;
	margin: 12px;
	ui-scale: 100%;
	transition-property: transform, img-shadow, brightness, ui-scale;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	img-shadow: 0px 0px 24px 1.0 #e6cf6500;
}

.BPLogo:hover
{
	img-shadow: 0px 0px 16px 1.0 #e6ce652b;
	brightness: 2.5;
}

.Language_schinese .BPLogo,.Language_tchinese .BPLogo
{
	background-size: 472px 69px;
}

#BPHomeSlantedBG
{
	width: 420px;
	height: 100%;
	transform: skew(-14deg) translateX(-140px);
	z-index: -1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0.7) ), to( #00000000 ) );
	visibility: collapse;
}

#QtySelector
{
	font-size: 20px;
	height: fit-children;
}

.BattlePass2022ButtonPrimary,.BattlePass2022ButtonSecondary
{
	border-radius: 3px;
	max-width: 500px;
	padding: 10px 30px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
	background-image: none;
	min-width: 200px;
	transition-property: background-color, border;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

.BattlePass2022ButtonPrimary Label,.BattlePass2022ButtonSecondary Label
{
	color: ultraBrightColor;
	font-size: 20px;
	font-weight: semi-bold;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	text-overflow: shrink;
	text-shadow: 0px 1px 4px #000000;
	letter-spacing: 1px;
}

.BattlePass2022ButtonPrimary.Small,.BattlePass2022ButtonSecondary.Small
{
	padding: 6px 16px;
	min-width: 0px;
}

.BattlePass2022ButtonPrimary.Small Label,.BattlePass2022ButtonSecondary.Small Label
{
	font-size: 16px;
	font-weight: normal;
}

.BattlePass2022ButtonPrimary.Disabled,.BattlePass2022ButtonPrimary:disabled,.BattlePass2022ButtonSecondary.Disabled,.BattlePass2022ButtonSecondary:disabled
{
	saturation: 0;
	opacity: 0.2;
}

.BattlePass2022ButtonPrimary.Disabled Label,.BattlePass2022ButtonPrimary:disabled Label,.BattlePass2022ButtonSecondary.Disabled Label,.BattlePass2022ButtonSecondary:disabled Label
{
	opacity: 0.4;
}

.BattlePass2022ButtonPrimary
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E75035 ), to( #982F2E ) );
	border: 2px solid #EA695388;
}

.BattlePass2022ButtonPrimary:hover:enabled:not(.Disabled)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff5d40 ), to( #c53c3a ) );
	border: 2px solid #ea6a53;
}

.BattlePass2022ButtonPrimary:hover:enabled:not(.Disabled) Label
{
	color: white;
}

.BattlePass2022ButtonSecondary
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c2020 ), to( darkColor ) );
	border: 1px solid #ea6a534a;
}

.BattlePass2022ButtonSecondary:hover:enabled:not(.Disabled)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6a3030 ), to( #4c2020 ) );
	border: 1px solid #ea6a53;
}

.BattlePass2022ButtonSecondary:hover:enabled:not(.Disabled) Label
{
	color: white;
}

.BattlePass2022ButtonSecondary.Ice
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #263747 ), to( #1E2E3E ) );
	border: 1px solid #BBCDD744;
}

.BattlePass2022ButtonSecondary.Ice Label
{
	color: #BBCDD7;
}

.BattlePass2022ButtonSecondary.Ice:hover:enabled:not(.Disabled)
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3e5870 ), to( #2e455d ) );
	border: 1px solid #BBCDD799;
}

.BattlePass2022ButtonSecondary.Ice:hover:enabled:not(.Disabled) Label
{
	color: white;
}

.BattlePass2022ButtonTextLink
{
	border: 1px solid transparent;
	padding: 4px 8px;
	border-radius: 3px;
	transition-property: color, border;
	transition-duration: 0.1s;
	transition-timing-function: ease;
}

.BattlePass2022ButtonTextLink Label
{
	text-transform: uppercase;
	font-weight: semi-bold;
	color: ultraBrightColor;
}

.BattlePass2022ButtonTextLink:hover
{
	border-color: #ea6a537d;
}

.BattlePass2022ButtonTextLink:hover Label
{
	color: white;
}

.BottomGradient
{
	vertical-align: bottom;
	width: 100%;
	height: 280px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( ultraDarkColor&00 ), to( black ) );
}

.International2024CavernCrawlPage #BattlePassTitleContainer,.International2024WeeklyQuestsPage #BattlePassTitleContainer
{
	transform: translateY(-42px) translateX(22px) scale3d(.62, .62, 1);
}

#Dashboard:not(.International2024BattlePassPage) .SlantPanelEntry
{
	transform: translateX(-62px);
}

#Dashboard:not(.International2024BattlePassPage) #BattlePassTitleContainer
{
	transform: translateY(-62px) scale3d(.25, .25, 1);
	opacity: 0;
}

#BPTitleContainer
{
	z-index: 5;
	transform-origin: 0 50%;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.32s;
	transition-timing-function: ease-in-out;
}

.BPContainer
{
	width: 100%;
	height: 100%;
}

.BattlePointIcon
{
	wash-color: #5097ff;
	brightness: 1.1;
}

.SlantedPanel
{
	width: 640px;
	height: 1300px;
	background-color: #000a;
	transform: rotateZ(-12deg) translateY(-150px) translateX(-160px);
	transform-origin: 50% 50%;
	background-color: gradient( linear, 0% 80%, 55% -50%, from( #130f58 ), to( #6B7582 ) );
	box-shadow: 0 0 32px black;
	border: 1px solid #000f;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: 0.32s;
}

.SlantPanelEntryContainer
{
	height: 64px;
	flow-children: right;
}

.SlantPanelEntry Label
{
	color: white;
}

.SlantPanelEntry
{
	height: 100%;
	width: 100%;
	flow-children: right;
	background-color: secondaryDarkColor;
	transform: skew(12deg);
	box-shadow: 0 0 12px #000a;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( secondaryDefaultColor ), to( secondaryDarkColor ) );
	transition-property: opacity, transform;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

#UIParticles
{
	width: 1000px;
	height: 1000px;
	z-index: 0;
	horizontal-align: center;
	margin-left: 400px;
	margin-top: -200px;
	vertical-align: middle;
}

.PointTotalIcon,.WagerTotalIcon
{
	width: 30px;
	height: 36px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 12px;
	margin-top: 6px;
}

.PointTotalIcon
{
	wash-color: #B1BFFF;
}

.ReturnToBPHomeHitBox
{
	width: 280px;
	height: 90px;
	z-index: 5;
}

.International2024WeeklyQuestsPage .ReturnToBPHomeHitBox
{
	margin-top: 60px;
}

@keyframes 'PulseUnclaimed'
{
	0%
	{
		brightness: 1.5;
		box-shadow: fill accentColor&66 0px 0px 20px ;
	}
	
	50%
	{
		brightness: 1;
		box-shadow: fill accentColor&11 0px 0px 5px ;
	}
	
	100%
	{
		brightness: 1.5;
		box-shadow: fill accentColor&66 0px 0px 20px ;
	}
	
}

@keyframes 'GlowUnclaimedButton'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px secondaryColor4&00;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 24px secondaryColor1&33;
	}
	
}

@keyframes 'GlowPrimaryButton'
{
	0%
	{
		box-shadow: 0px 0px 16px primaryColor2&06;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 24px primaryColor2&33;
		brightness: 2.2;
	}
	
}

@keyframes 'GlowUnclaimedRewardsBadge'
{
	0%
	{
		box-shadow: 0px 0px 16px secondaryColor1&06;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 24px secondaryColor1&22;
		brightness: 2;
	}
	
}

@keyframes 'PulseUnclaimedRewardsBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.8;
	}
	
}

.UnclaimedRewardsBadge
{
	ignore-parent-flow: true;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #FFE3BA ), color-stop( 0.49, #CCA160 ), color-stop( 0.51, #B88943 ), to( #7F5C26 ) );
	padding: 1px 6px;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	animation-name: GlowUnclaimedRewardsBadge;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.UnclaimedRewardsBadge Label
{
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1);
	font-size: 15px;
}

#ProgressBurner,.ProgressBurner
{
	width: 100%;
	height: 80px;
	vertical-align: middle;
	z-index: 1;
	hue-rotation: 120deg;
	opacity: 0;
}

#LevelProgressBar,#CurrentLevelProgressBar
{
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.02);
	overflow: noclip;
}

.BurnerProgressBar .ProgressBarLeft
{
	z-index: 0;
}

.IgnoreParentFlow
{
	ignore-parent-flow: true;
}

#LevelProgressBar .ProgressBarLeft,#CurrentLevelProgressBar .ProgressBarLeft
{
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #108223 ), to( #7adc4d ) );
	z-index: 0;
	opacity: 0.8;
	margin: 2px;
}

@keyframes 'GlowProgressBar'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 12px secondaryColor1&00;
	}
	
	100%
	{
		brightness: 1.6;
		box-shadow: 0px 0px 12px secondaryColor1;
	}
	
}

.BurnerProgressBar .ProgressBarRight
{
	z-index: 2;
}

#LevelProgressBar .ProgressBarRight,#CurrentLevelProgressBar .ProgressBarRight
{
	background-color: primaryColor6;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.4);
	z-index: 2;
}

.BattlePassButton
{
	margin-right: 10px;
	padding: 8px 30px 8px 30px;
	background-color: accentColor;
	border: 1px solid accentColorBright;
	transition-duration: 0.2s;
	transition-property: brightness, pre-transform-scale2d, box-shadow;
	transition-timing-function: ease-in-out;
}

.BattlePassButton:hover
{
	background-color: accentColorBright;
	brightness: 2.0;
}

.BattlePassButton:active
{
	brightness: 2.0;
	box-shadow: #e6cf6533 0px 0px 16px 0px;
}

.BattlePassButton Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: semi-bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	color: white;
	text-shadow: 0px 0px 8px 1.5 rgba(255, 255, 255, 0.1);
}

@keyframes 'BrightButtonGlow'
{
	0%
	{
		box-shadow: secondaryColor&16 0px 0px 12px 0px ;
	}
	
	50%
	{
		box-shadow: secondaryColor&33 0px 0px 2px 0px ;
	}
	
	100%
	{
		box-shadow: secondaryColor&16 0px 0px 12px 0px ;
	}
	
}

.battlepassBtnMinor
{
	margin-top: 3px;
	padding: 8px 12px 8px 12px;
	background-color: defaultColor&11;
	border: 1px solid accentColorBright&66;
	border-radius: 2px;
}

.battlepassBtnMinor Label
{
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	color: ultraBrightColor&aa;
	text-shadow: 0px 0px 4px 1.0 ultraDarkColor;
}

.battlepassBtnMinor:disabled
{
	saturation: 0.0;
	wash-color: #000c;
}

.battlepassBtnMinor:hover:enabled
{
	brightness: 2.0;
	background-color: defaultColor;
	transition-property: brightness, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.battlepassBtnMinor:hover:enabled Label
{
	text-shadow: none;
}

.battlepassBtnMinor:active
{
	brightness: 2.0;
	background-color: accentColorBright;
	box-shadow: none;
}

.BattlePassLink
{
	background-color: transparent;
}

.BattlePassLink Label
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	text-align: center;
	horizontal-align: center;
	vertical-align: middle;
	color: white;
	text-shadow: 2px 2px 4px 3.0 #271a705d;
}

.LogoRefract
{
	width: 38%;
	height: 38%;
	horizontal-align: center;
	vertical-align: middle;
	pre-transform-scale2d: 4;
	blur: gaussian(0.5px);
	-s2-mix-blend-mode: screen;
	transition-property: pre-transform-scale2d, transform;
	transition-duration: .6s;
	wash-color: #6987D0;
	opacity-brush: gradient( radial, 51% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes 'refractLoop1'
{
	0%
	{
		opacity-brush: gradient( radial, 150% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(1.5px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
	30%
	{
		opacity-brush: gradient( radial, -50% 60%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 3.1;
		blur: gaussian(2px);
		transform: translateX(30px) translateY(10px) rotateZ(4deg);
	}
	
	70%
	{
		opacity-brush: gradient( radial, 200% 20%, 0% 0%, 120% 120%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(0.5px);
		transform: translateX(-20px) translateY(-20px)rotateZ(-4deg);
	}
	
	100%
	{
		opacity-brush: gradient( radial, 150% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(3.5px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
}

@keyframes 'refractLoop2'
{
	0%
	{
		opacity-brush: gradient( radial, -150% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(0.5px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
	50%
	{
		opacity-brush: gradient( radial, 150% 60%, 0% 0%, 170% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 3.1;
		blur: gaussian(2px);
		transform: translateX(-10px) translateY(-10px) rotateZ(4deg);
	}
	
	90%
	{
		opacity-brush: gradient( radial, 100% -20%, 0% 0%, 20% 20%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 3.2;
		blur: gaussian(0.5px);
		transform: translateX(20px) translateY(-20px)rotateZ(4deg);
	}
	
	100%
	{
		opacity-brush: gradient( radial, 150% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(2px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
}

@keyframes 'refractLoop3'
{
	0%
	{
		opacity-brush: gradient( radial, 150% 60%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(1px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
	50%
	{
		opacity-brush: gradient( radial, -50% 20%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(1.5px);
		transform: translateX(0px) translateY(0px);
	}
	
	40%
	{
		opacity-brush: gradient( radial, 150% 60%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 3.1;
		blur: gaussian(2px);
		transform: translateX(-10px) translateY(-10px) rotateZ(4deg);
	}
	
	70%
	{
		opacity-brush: gradient( radial, 150% 60%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(0.5px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
	100%
	{
		opacity-brush: gradient( radial, 150% 60%, 0% 0%, 70% 70%, from( #fff ), color-stop( .3, rgb(197, 237, 255) ), color-stop( .7, #0000 ),to( #0000 ) );
		pre-transform-scale2d: 2.9;
		blur: gaussian(1px);
		transform: translateX(0px) translateY(0px) rotateZ(0deg);
	}
	
}

.YearHeader
{
	horizontal-align: center;
	flow-children: right;
}

.YearLabel
{
	font-family: Reaver;
	font-weight: semi-bold;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	color: secondaryUltraBrightColor&66;
}

.Separator
{
	height: 1px;
	width: 225px;
	background-color: #FFFFFF05;
	margin: 10px;
}

.HeaderText
{
	font-size: 56px;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0px 2px 8px black;
	color: whitesmoke;
	color: gradient( linear, 0% 30%, 0% 140%, from( #EA5136 ), to( #FEE6A9 ) );
}

@keyframes 'glowButton'
{
	0%
	{
		box-shadow: 0px 0px 24px #FF704300;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #FF704333;
		brightness: 2.2;
	}
	
}

#ColorSwatches
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin: 0px 60px 80px 0px;
	visibility: collapse;
}

.Dota2Main #ColorSwatches
{
	visibility: visible;
}

#ColorSwatches .ColorSwatchGroup
{
	flow-children: right;
	margin-left: 12px;
}

#ColorSwatches .ColorSwatch
{
	width: 12px;
	height: 12px;
	border-radius: 200px;
	margin-right: 4px;
}

#ColorSwatches .ColorSwatch.Gradient
{
	width: 24px;
}

#ColorSwatches .ColorSwatch.primaryColor1
{
	background-color: primaryColor1;
}

#ColorSwatches .ColorSwatch.primaryColor2
{
	background-color: primaryColor2;
}

#ColorSwatches .ColorSwatch.primaryColor3
{
	background-color: primaryColor3;
}

#ColorSwatches .ColorSwatch.primaryColor4
{
	background-color: primaryColor4;
}

#ColorSwatches .ColorSwatch.primaryColor5
{
	background-color: primaryColor5;
}

#ColorSwatches .ColorSwatch.secondaryColor1
{
	background-color: secondaryColor1;
}

#ColorSwatches .ColorSwatch.secondaryColor2
{
	background-color: secondaryColor2;
}

#ColorSwatches .ColorSwatch.secondaryColor3
{
	background-color: secondaryColor3;
}

.TopGodRays
{
	ignore-parent-flow: true;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	transition-property: opacity;
	transition-duration: 0.6s;
	width: 1600px;
	height: 1600px;
	opacity: 0.3;
	transform: translateX( 150px ) translateY( -620px ) rotateZ( 45deg );
	hue-rotation: -80deg;
}

.Claimed.PaginationButton
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-size: 75%;
	wash-color: winnerGreen;
	border-radius: 0%;
	margin: 0px 0px 0px 0px;
	background-color: transparent;
}

