/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.TooltipContents
{
	flow-children: down;
	width: 400px;
}

.TooltipContents Label .PointsIcon
{
	width: 22px;
	height: 22px;
	wash-color: secondaryColor1;
	background-image: url("s2r://panorama/images/compendium/international2022/totalpoints_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}


