/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PageContents
{
	flow-children: down;
}

.NoCompendium #HelpPanel
{
	visibility: collapse;
}

#HelpPanel
{
	ignore-parent-flow: true;
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
}

#HelpPanel DOTAInternational2024Button
{
	horizontal-align: right;
	margin-left: 6px;
	max-width: 160px;
	vertical-align: center;
}

.BPTitle
{
	max-width: 380px;
}

.AspectRatio16x10 .BPTitle
{
	max-width: 280px;
}

.Body
{
	width: 100%;
	height: 100%;
	padding-top: 20px;
}

.NoCompendium .Body,.NoCompendium .HeaderRow,.HasCompendium .NoCompendiumView
{
	visibility: collapse;
}

.NoCompendium .NoCompendiumView
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	margin-top: -60px;
}

.NoCompendium .NoCompendiumView .LockedHeader
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 28px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: LightestGrey;
	margin: -48px 0px 8px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
}

.NoCompendium .NoCompendiumView .LockIconContainer
{
	horizontal-align: center;
	padding: 32px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 70% 70%, from( primaryColor3 ), to( primaryColor4&00 ) );
	margin: 40px;
	transform: rotateZ( 45deg );
}

.NoCompendium .NoCompendiumView .LockIconContainer .LockIcon
{
	transform: rotateZ( -45deg );
}

.NoCompendium .BPSharedPageContainer .BPSharedHeaderContainer
{
	height: fit-children;
}

.PeriodContents
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.PeriodContents:selected
{
	visibility: visible;
}

.gem_shape1
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_round_png.vtex");
}

.gem_shape2
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_pear_png.vtex");
}

.gem_shape3
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_cushion_png.vtex");
}

.gem_shape4
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_princess_png.vtex");
}

.gem_shape5
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_heart_png.vtex");
}

.gem_quality1
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank1_psd.vtex");
}

.gem_quality2
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank2_psd.vtex");
}

.gem_quality3
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank3_psd.vtex");
}

.gem_quality4
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank4_psd.vtex");
}

.gem_quality5
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank5_psd.vtex");
}

.Results .StageLock.LockUpcoming
{
	visibility: collapse;
}

.StageLock.Locked
{
	visibility: collapse;
}

.Results .StageLock.Locked
{
	visibility: visible;
}

#TabUnclaimedRewardsBadge
{
	visibility: collapse;
	horizontal-align: center;
	transform: translateY( -16px );
}

.HasUnclaimedRewards #TabUnclaimedRewardsBadge
{
	visibility: visible;
}


