/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

International2024PopupFantasyCraftChoice
{
	width: 1280px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #072F1D ), to( #000000 ) );
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

International2024PopupFantasyCraftChoice.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2024/ti13_compendium_home_background_png.vtex");
	background-size: 150%;
	background-position: center;
	ignore-parent-flow: true;
	opacity: 0.8;
	hue-rotation: 10deg;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #62FFB9 ), to( #226955 ) );
}

.TopDash
{
	width: 100%;
	height: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	ignore-parent-flow: true;
}

.TopDash.Bottom
{
	vertical-align: bottom;
}

#ChoiceHolder
{
	width: 100%;
	height: fill-parent-flow(1);
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll_psd.vtex");
	overflow: clip scroll;
}

#ChoiceHolder #Choices
{
	flow-children: right-wrap;
	horizontal-align: center;
	padding-top: 12px;
	padding-bottom: 48px;
}

#ChoiceHolder VerticalScrollBar
{
	margin: 20px 0px 40px;
}

.PlayerImages
{
	width: 100%;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: bottom;
}

#PlayerImage
{
	width: 100%;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: bottom;
}

#TeamLogo
{
	width: 64px;
	height: 64px;
	vertical-align: top;
	horizontal-align: right;
	opacity: 0.96;
	margin: 12px;
}

#Options
{
	width: 100%;
	padding: 16px 16px 32px;
}

#Options #SubmitButton
{
	horizontal-align: center;
	padding-left: 48px;
	padding-right: 48px;
}

.ChoiceSelected
{
	background-color: darkgreen;
}

.Header
{
	width: 100%;
	padding: 28px 32px 0px;
}

.Header .PlayerChoiceTitle
{
	horizontal-align: center;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
	color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
}

.Header #CloseButton
{
	horizontal-align: right;
}

.PlayerChoice
{
	flow-children: down;
	width: 190px;
	margin: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #301a1c ), to( #63353b ) );
	box-shadow: 0px 4px 12px -1px rgba( 0, 0, 0, 0.5 );
	transition-property: box-shadow, transform, brightness, background-color;
	transition-duration: 0.3s, 0.1s, 0.1s;
	transition-timing-function: ease-out;
}

.PlayerChoice #PlayerTitle
{
	horizontal-align: center;
	text-shadow: 0px 2px 8px black;
	opacity: 0.9;
}

.PlayerChoice .PlayerBackgroundTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/compendium/international2024/player_card_flag_texture_png.vtex");
	background-size: cover;
	background-position: center;
	-s2-mix-blend-mode: multiply;
}

.PlayerChoice .ChoiceBottomEdge
{
	width: 100%;
	height: 2px;
	vertical-align: bottom;
	ignore-parent-flow: true;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #dcb777 ), to( #8d743d ) );
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.PlayerChoice .ChoiceBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.06);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffdcdc ), to( #ffe0e02d ) );
	ignore-parent-flow: true;
	transition-property: border;
	transition-duration: 0.1s;
}

.PlayerChoice:hover
{
	brightness: 1.5;
	transform: scale3d(1.03, 1.03, 1);
}

.PlayerChoice:hover .ChoiceBorder
{
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ead0a4 ), color-stop( 0.5, #dcb777 ), to( #8d743d ) );
}

.PlayerChoice:active
{
	transform: scale3d(1.02, 1.02, 1) translateY( 2px );
	brightness: 0.5;
}

.PlayerChoice.ChoiceSelected
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5f4f33 ), to( #b1975e ) );
	z-index: 1;
	brightness: 1.2;
	animation-name: GlowChoice;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.PlayerChoice.ChoiceSelected .ChoiceBorder
{
	border: 3px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffeac7 ), color-stop( 0.5, #dcb777 ), to( #8d743d ) );
}

@keyframes 'GlowChoice'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'GlowChoiceBorder'
{
	0%
	{
		brightness: 1;
		border: 2px solid white;
	}
	
	100%
	{
		brightness: 2.2;
		border: 2px solid primaryColor1;
	}
	
}

.FantasyPlayerTitle
{
	margin: 12px;
}


