/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.RewardsHelpPopup
{
	flow-children: none;
	background-image: url("s2r://panorama/images/compendium/international2024/ti13_compendium_home_background_png.vtex");
	background-size: 200%;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: shadowMedium;
	animation-name: none;
	padding: 0px;
	border: 0px;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(210, 255, 217, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.1) ) );
}

.MainContents
{
	flow-children: down;
	padding: 32px 64px;
}

.MainContents .PopupTitle
{
	font-family: titleFont;
	font-size: 36px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
	text-shadow: 0px 2px 12px black;
}

#HelpCarousel
{
	width: 800px;
	height: 300px;
}

.CarouselItem
{
	width: 100%;
	height: 100%;
	background-color: #0009;
	flow-children: right;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.CarouselItem.Focused
{
	opacity: 1.0;
}

.CarouselItem .CarouselVisual
{
	width: 300px;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.CarouselItem .CarouselVisual .CarouselImage
{
	width: 100%;
	height: 100%;
}

.CarouselItem .CarouselVisual .ApplyButton
{
	width: 200px;
	height: 200px;
	horizontal-align: center;
	vertical-align: middle;
	padding: 12px 12px 8px 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( rgba(0, 0, 0, 1) ) );
	transition-property: border, background-color, brightness;
	transition-duration: 0.1s;
}

.CarouselItem .CarouselVisual .ApplyButton .ApplyLabel
{
	text-align: center;
	vertical-align: bottom;
	margin-top: 4px;
	color: #3BDFF9;
	width: 100%;
	font-size: 20px;
	visibility: collapse;
	transition-property: color;
	transition-duration: 0.1s;
}

.CarouselItem .CarouselVisual .ApplyButton .Icon
{
	width: 140px;
	height: 140px;
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flow-children: none;
	img-shadow: 0px 4px 12px black;
	border-radius: 4px;
	wash-color: rgb(159, 255, 114);
}

.CarouselItem .CarouselVisual .ApplyButton.ApplyLevels .Icon
{
	background-image: url("s2r://panorama/images/compendium/applylevels_icon_psd.vtex");
}

.CarouselItem .CarouselVisual .ApplyButton.ApplyBoosters .Icon
{
	background-image: url("s2r://panorama/images/compendium/applyboost_icon_psd.vtex");
}

.CarouselItem .CarouselItemText
{
	flow-children: down;
	padding: 16px;
	vertical-align: middle;
}

.CarouselItem .CarouselItemText .CarouselItemTitle
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #8ee5a0;
	margin-bottom: 8px;
	font-weight: semi-bold;
	text-shadow: 0px 4px 12px black;
}

.CarouselItem .CarouselItemText .CarouselItemDesc
{
	color: #999;
}

#HelpCarouselNav
{
	horizontal-align: center;
	margin-top: 16px;
}

.CloseButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
}

