/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPInternational2024PredictionsPage.DashboardPage
{
	width: 100%;
	height: 100%;
}

@define BracketLineColor: #7fbc8b44;
.StageTabs
{
	flow-children: right;
	visibility: collapse;
}

.PredictionsBackgroundImage
{
	width: 1200px;
	height: 100%;
	horizontal-align: center;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/compendium/international2023/oracle_background_png.vtex");
	background-size: cover;
	background-position: center;
	opacity: 0.3;
	wash-color: primaryColor2&99;
	opacity-mask: url("s2r://panorama/images/masks/hero_model_preview_mask_loadout_psd.vtex");
	transform: translateX( 430px );
}

.PredictionsBackgroundImage .CompediumBackgroundParticles
{
	width: 160%;
	height: 160%;
	brightness: 6;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

.HowToPlayButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
}

.WIPLabel
{
	color: magenta;
}

.UnavailableContainer
{
	width: 1380px;
	height: fit-children;
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	visibility: collapse;
}

.UnavailableContainer .LockedHeader
{
	horizontal-align: center;
	vertical-align: middle;
	font-size: 28px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: LightestGrey;
	margin: -48px 0px 8px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1 ), to( primaryColor2 ) );
}

.UnavailableContainer #LockedReasonLabel
{
	horizontal-align: center;
}

.UnavailableContainer .LockIconContainer
{
	horizontal-align: center;
	padding: 32px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 70% 70%, from( primaryColor3 ), to( primaryColor4&00 ) );
	margin: 40px;
	transform: rotateZ( 45deg );
}

.UnavailableContainer .LockIconContainer .LockIcon
{
	transform: rotateZ( -45deg );
}

.MainContents
{
	height: 100%;
	margin-right: 0px;
	padding: 40px 58px 140px 0px;
	overflow: squish scroll;
	opacity-brush: gradient( linear, 0% 60%, 0% 70%, from( #ffffff ), to( rgba(255, 255, 255, 0) ) );
}

.FullBracketContainer
{
	flow-children: right;
}

.StageContainer
{
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #041a13e1 ), to( #07251a00 ) );
	box-shadow: inset 0px 0px 1px 1px rgba(200, 255, 226, 0.01);
	margin-right: 8px;
}

.StageContainer.FinalsContainer
{
	margin-right: 0px;
}

.StageColumnsContainer
{
	flow-children: right;
}

.StageColumnsContainer.UpperBracket
{
	height: 630px;
}

.StageColumnsContainer.LowerBracket
{
	height: 336px;
}

.StageColumnsContainer .StageColumn
{
	flow-children: down;
	width: SlotWidth;
	overflow: noclip;
}

.AspectRatio16x10 .StageColumnsContainer .StageColumn
{
	width: SlotWidth_16x10;
}

.AspectRatio21x9 .StageColumnsContainer .StageColumn
{
	width: SlotWidth_21x9;
}

.ForksContainer
{
	width: 16px;
	flow-children: down;
}

.ForksContainer .Line
{
	width: fill-parent-flow(1);
	height: 1px;
	border-bottom: 1px solid BracketLineColor;
}

.ForksContainer .Fork
{
	flow-children: right;
}

.ForksContainer .Fork .ForkLeft
{
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	border: 1px solid BracketLineColor;
	border-left: 0px;
}

.ForksContainer .Fork .ForkRight
{
	border-bottom: 1px solid BracketLineColor;
	height: 50%;
	width: fill-parent-flow(1);
}

.ForksContainer.FullWidth
{
	width: 100%;
}

.OrcaleBackground
{
	horizontal-align: right;
	opacity: 0.1;
}

.StageTitleContainer
{
	width: 100%;
	flow-children: down;
	background-color: #1bd96431;
	border-top: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
}

.StageTitleContainer .TitleTexture
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2024/flag_texture_png.vtex");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	-s2-mix-blend-mode: multiply;
}

.StageTitleContainer Label
{
	horizontal-align: center;
}

.StageTitleContainer .StageName
{
	font-family: 'titleFont';
	font-size: 22px;
	text-shadow: 0px 2px 12px black;
	margin-top: 8px;
}

.StageTitleContainer .StageDateRange
{
	font-size: 14px;
	letter-spacing: 1.5px;
	color: #c5ffc6;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-shadow: 0px 2px 12px black;
}

.StageTitleContainer DOTACountdown
{
	horizontal-align: center;
	margin-bottom: 8px;
}

.StageTitleContainer DOTACountdown Label
{
	text-align: center;
	text-shadow: 0px 2px 12px black;
	color: #7FBC8B;
	font-size: 14px;
	text-overflow: ellipsis;
	height: 17px;
}

.RoundTitle
{
	horizontal-align: center;
	font-size: 15px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	color: #c5ffc6;
	margin: 10px 0px 3px;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	height: 18px;
	max-width: SlotWidth;
	text-overflow: shrink;
}

.DayDate
{
	horizontal-align: center;
	color: #7fbc8b;
	font-size: 14px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	margin-top: -1px;
	margin-bottom: 3px;
}

.BracketTitle
{
	font-size: 18px;
	font-weight: semi-bold;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	horizontal-align: center;
	width: 100%;
	text-align: center;
	margin-bottom: -40px;
	color: white;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
	padding: 24px 24px 40px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #1bd9801b ), color-stop( 0.5, #1bd9800a ), to( #1bd98000 ) );
	border-top: 1px solid rgba(151, 255, 175, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white), color-stop( 0.7, white), to( rgba(255, 255, 255, 0) ) );
}

.MatchContainer
{
	flow-children: down;
}

.MatchContainer.Inactive
{
	opacity: 0.5;
}

.WinnersAegis
{
	width: SlotWidth;
	horizontal-align: center;
	transform: scale3d( 1.1, 1.1, 1 );
}

International2024PredictionGroup
{
	flow-children: down;
}

International2024PredictionGroup .GroupTeamSlot
{
	margin-bottom: 6px;
}

.GroupTeamSlot
{
	flow-children: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c1416 ), to( #2b1c1f ));
	border: 1px solid #543d3f;
	width: SlotWidth;
	height: SlotHeight;
	transition-property: border;
	transition-duration: 0.1s;
}

.AspectRatio16x10 .GroupTeamSlot
{
	width: SlotWidth_16x10;
}

.AspectRatio21x9 .GroupTeamSlot
{
	width: SlotWidth_21x9;
}

.GroupTeamSlot Label
{
	color: LighterGrey;
}

.GroupTeamSlot .TeamRank
{
	width: 45px;
	text-align: right;
	padding-right: 8px;
	vertical-align: middle;
	font-weight: semi-bold;
}

.GroupTeamSlot .GroupTeam
{
	flow-children: right;
	height: SlotHeight;
}

.GroupTeamSlot .NoTeamMark
{
	visibility: collapse;
	vertical-align: middle;
}

.GroupTeamSlot.NoTeam .NoTeamMark
{
	visibility: visible;
}

.GroupTeamSlot.NoTeam .TeamName,.GroupTeamSlot.NoTeam #TeamImage
{
	visibility: collapse;
}

.GroupTeamSlot.Active
{
	border-color: white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #e4c989 ), to( #a08b58 ) );
	animation-name: GlowActiveTeamSelector;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.GroupTeamSlot.Inactive,.Locked .GroupTeamSlot.Active
{
	border-color: primaryColor2&11;
	background-color: primaryColor6;
	brightness: 0.5;
}

.GroupTeamSlot.Inactive Label,.Locked .GroupTeamSlot.Active Label
{
	color: LightGrey;
}

.GroupTeamSlot DOTATeamImage
{
	width: 32px;
	height: 32px;
}

.GroupTeamSlot .TeamName
{
	vertical-align: middle;
}

.GroupTeamSlot Label
{
	transition-property: color;
	transition-duration: 0.1s;
	font-size: SlotLabelFontSize;
}

.GroupTeamSlot .ResultIcon
{
	width: 14px;
	height: 14px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 8px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive)
{
	border-color: white;
}

.GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive) Label
{
	color: white;
}

.NoData .GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive),.Locked .GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive)
{
	border-color: primaryColor2&44;
}

.NoData .GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive) Label,.Locked .GroupTeamSlot:hover:not(.GroupTeamSlot.Inactive) Label
{
	color: LighterGrey;
}

.GroupTeamSlot.Correct,.GroupTeamSlot.OpponentCorrect
{
	border-color: winnerGreen&44;
	background-color: winnerGreen&11;
	box-shadow: 0px 0px 16px winnerGreen&09;
}

.GroupTeamSlot.Correct Label,.GroupTeamSlot.OpponentCorrect Label
{
	color: winnerGreen;
	brightness: 1.5;
}

.GroupTeamSlot.Correct .ResultIcon,.GroupTeamSlot.OpponentCorrect .ResultIcon
{
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	wash-color: winnerGreen;
}

.GroupTeamSlot.Incorrect,.GroupTeamSlot.OpponentIncorrect
{
	border-color: loserRed&44;
	background-color: loserRed&11;
	box-shadow: 0px 0px 16px loserRed&09;
}

.GroupTeamSlot.Incorrect Label,.GroupTeamSlot.OpponentIncorrect Label
{
	color: loserRed;
	brightness: 1.5;
}

.GroupTeamSlot.Incorrect .ResultIcon,.GroupTeamSlot.OpponentIncorrect .ResultIcon
{
	background-image: url("s2r://panorama/images/control_icons/24px/x_close.vsvg");
	wash-color: loserRed;
}

International2024PredictionSeries
{
	flow-children: down;
	margin-bottom: 8px;
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.5);
}

International2024PredictionSeries.NoData,International2024PredictionSeries.Locked
{
	brightness: 0.5;
}

International2024PredictionSeries.Winner0 #Crown0,International2024PredictionSeries.Winner1 #Crown1
{
	brightness: 1.2;
}

International2024PredictionSeries.Winner0.WinnerCorrect #Crown0,International2024PredictionSeries.Winner1.WinnerCorrect #Crown1
{
	wash-color: winnerGreen;
	img-shadow: 0px 0px 16px winnerGreen&33;
}

International2024PredictionSeries.Winner0.WinnerCorrect #CrownResultIcon0,International2024PredictionSeries.Winner1.WinnerCorrect #CrownResultIcon1
{
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	wash-color: winnerGreen;
}

International2024PredictionSeries.Winner0.WinnerIncorrect #Crown0,International2024PredictionSeries.Winner1.WinnerIncorrect #Crown1
{
	wash-color: loserRed;
	img-shadow: 0px 0px 16px loserRed&33;
}

International2024PredictionSeries.Winner0.WinnerIncorrect #CrownResultIcon0,International2024PredictionSeries.Winner1.WinnerIncorrect #CrownResultIcon1
{
	background-image: url("s2r://panorama/images/control_icons/24px/x_close.vsvg");
	wash-color: loserRed;
}

International2024PredictionSeries .Crown
{
	horizontal-align: right;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	margin-left: 4px;
	background-image: url("s2r://panorama/images/hud/player_mvp_crown_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	brightness: 0.2;
	transition-property: brightness;
	transition-duration: 0.1s;
}

International2024PredictionSeries.CrownsActive .Crown
{
	animation-name: GlowActiveCrownSelector;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

International2024PredictionSeries .GroupTeamRow
{
	overflow: noclip;
	height: SlotHeight;
}

International2024PredictionSeries .GroupTeamRow.Team2
{
	margin-top: -1px;
}

International2024PredictionSeries .GroupTeamRow .CrownResultIcon
{
	width: 12px;
	height: 12px;
	vertical-align: center;
	horizontal-align: right;
	transform: translateX( 10px );
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	ignore-parent-flow: true;
}

International2024PredictionSeries .GroupTeamSlot
{
	flow-children: right;
	width: SlotWidth;
	height: SlotHeight;
}

.AspectRatio16x10 International2024PredictionSeries .GroupTeamSlot
{
	width: SlotWidth_16x10;
}

.AspectRatio21x9 International2024PredictionSeries .GroupTeamSlot
{
	width: SlotWidth_21x9;
}

International2024PredictionSeries .GroupTeamSlot .GroupTeam
{
	flow-children: right;
	width: fill-parent-flow(1);
	padding-left: 8px;
}

International2024PredictionSeries .GroupTeamSlot .GroupTeam DOTATeamImage
{
	width: 32px;
	height: 32px;
}

International2024PredictionSeries .GroupTeamSlot .GroupTeam .TeamName
{
	vertical-align: middle;
}

International2024PredictionSeries .GroupTeamSlot .GroupTeam .NoTeamMark
{
	vertical-align: middle;
	visibility: collapse;
}

International2024PredictionSeries .GroupTeamSlot.NoTeam .NoTeamMark
{
	visibility: visible;
}

International2024PredictionSeries .GroupTeamSlot.NoTeam .TeamName,International2024PredictionSeries .GroupTeamSlot.NoTeam #TeamImage
{
	visibility: collapse;
}

BracketPrediction.TI2024
{
	margin-bottom: 8px;
	width: SlotWidth;
}

.AspectRatio16x10 BracketPrediction.TI2024
{
	width: SlotWidth_16x10;
}

.AspectRatio21x9 BracketPrediction.TI2024
{
	width: SlotWidth_21x9;
}

@keyframes 'GlowActiveTeamSelector'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 12px #E5C88700;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 24px #E5C88722;
	}
	
}

@keyframes 'GlowActiveCrownSelector'
{
	0%
	{
		brightness: 0.2;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

.LockIcon
{
	width: 15px;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	wash-color: #e8dbba;
	opacity: 0.6;
	visibility: collapse;
}

.Locked .LockIcon
{
	visibility: visible;
}

International2024PredictionSeries .GroupTeamRow .GroupTeamSlot .GroupTeam,International2024PredictionSeries .GroupTeamRow .GroupTeamSlot .ResultIcon,International2024PredictionSeries .GroupTeamRow .Crown,International2024PredictionSeries .GroupTeamRow .CrownResultIcon
{
	visibility: visible;
}

.Locked International2024PredictionSeries .GroupTeamRow .GroupTeamSlot .GroupTeam,.Locked International2024PredictionSeries .GroupTeamRow .GroupTeamSlot .ResultIcon,.Locked International2024PredictionSeries .GroupTeamRow .Crown,.Locked International2024PredictionSeries .GroupTeamRow .CrownResultIcon
{
	visibility: collapse;
}

.FullBracketContainer .StageContainer:not(.Locked) International2024PredictionSeries .GroupTeamRow #Slot0
{
	background-color: #383737;
	border-top: 1px solid #5b5b5b;
	border-bottom: 1px solid #262525;
	border-left: 1px solid #2e2d2d;
	border-right: 1px solid #2e2d2d;
}

International2024PredictionGroup .TeamRank,International2024PredictionGroup .GroupTeam,International2024PredictionGroup .ResultIcon
{
	visibility: visible;
}

.Locked International2024PredictionGroup .TeamRank,.Locked International2024PredictionGroup .GroupTeam,.Locked International2024PredictionGroup .ResultIcon
{
	visibility: collapse;
}

#GroupStageContainer
{
	visibility: collapse;
}

