/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/popups/popup_settings_reborn.vcss_c");
@define CommsWheelHeight: 440px;
.SettingsSectionColumnContainer
{
	flow-children: down;
}

.CommsWheelVisualContainer
{
	width: fill-parent-flow(1);
	flow-children: down;
}

.CommsWheelOptionsContainer .CommsWheelContentSection DOTAEmoticon
{
	margin: 5px;
}

.CommsWheelOptionsContainer .CommsWheelContentSection.EmoticonContainer
{
	flow-children: right-wrap;
}

.CommsWheelContentSection.Sprays
{
	flow-children: right-wrap;
}

.CommsWheelContentSection.Sprays .SprayImage
{
	width: 96px;
	margin: 4px;
}

#HideLockedMessagesToggle
{
	font-size: 24px;
	color: #939da0;
	width: 100%;
	z-index: 1;
	padding: 8px 12px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}

#HideLockedMessagesToggle Label
{
	margin-top: -5px;
	font-size: 16px;
	vertical-align: center;
}

.ChatWheelVisual
{
	width: 100%;
	height: CommsWheelHeight;
}

.ChatWheelVisual .ChatWheelIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 80px;
	img-shadow: 0px 2px 16px black;
	padding: 4px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #C2CED4 ), to( #6D777B ) );
}

.ChatWheelVisual .ChatWheelLines
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	margin: 20% 33%;
	opacity-brush: gradient( radial, 50% 50%, 0% 0%, 60% 60%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
}

.ChatWheelVisual .ChatWheelLines .ChatWheelLine
{
	height: 100%;
	width: 2px;
	background-color: DarkGrey;
	horizontal-align: center;
	vertical-align: center;
}

.ChatWheelVisual .ChatWheelLines .ChatWheelLine.90
{
	transform: rotateZ( 90deg );
}

.ChatWheelVisual .ChatWheelLines .ChatWheelLine.45
{
	transform: rotateZ( 45deg );
}

.ChatWheelVisual .ChatWheelLines .ChatWheelLine.-45
{
	transform: rotateZ( -45deg );
}

.ChatWheelVisual .ChatWheelButtons
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	transition-duration: 0.2s;
	transition-property: background-color;
}

.ChatWheelVisual .ChatWheelButtons .ChatWheelButtonRow
{
	width: 100%;
	flow-children: right;
	margin-top: 16px;
	margin-bottom: 16px;
}

.ChatWheelVisual .ChatWheelButtons .ChatWheelButtonRow.Inset
{
	margin-left: 6%;
	margin-right: 6%;
}

.ChatWheelButton
{
	horizontal-align: center;
	width: 160px;
	height: 50px;
	border-radius: 80px;
	padding: 0px 8px;
	box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.4);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkerGrey ) );
	transition-property: transform, background-color, border, brightness;
	transition-duration: 0.1s;
	border: 1.5px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( LightGrey ), to( Grey ) );
	brightness: 1;
}

.Dragging .ChatWheelButton
{
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
	brightness: 1.2;
}

.ChatWheelButton.DraggedChatWheelSlot
{
	horizontal-align: left;
}

.ChatWheelButton .ChatWheelButtonContents
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
}

.ChatWheelButton Label
{
	font-size: 16px;
	line-height: 1.1;
	max-height: 36px;
	text-overflow: ellipsis;
	color: whitesmoke;
	horizontal-align: center;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 1px 8px black;
	margin-top: -2px;
	transition-property: color;
	transition-duration: 0.1s;
}

.ChatWheelButton #ChatWheelEmoticon
{
	width: 20px;
	height: 20px;
	margin-left: 2px;
	vertical-align: center;
	visibility: collapse;
}

.ChatWheelButton.HasEmoticon #ChatWheelEmoticon
{
	visibility: visible;
}

.ChatWheelButton.HasEmoticon .ChatWheelButtonContents > Label
{
	max-width: 115px;
}

.ChatWheelButton .ChatWheelSoundIcon
{
	vertical-align: middle;
	margin-right: 4px;
	visibility: collapse;
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.ChatWheelButton.HasSound .ChatWheelSoundIcon
{
	visibility: visible;
}

.ChatWheelButton.HasSound .ChatWheelButtonContents > Label
{
	max-width: 94px;
}

.ChatWheelButton .ChatWheelSprayImage
{
	visibility: collapse;
	width: 46px;
	height: 46px;
	margin-left: 8px;
	margin-right: 8px;
	horizontal-align: center;
	wash-color: none;
}

.ChatWheelButton .PingWheelImage
{
	width: 54px;
	height: 54px;
	margin-left: 8px;
	margin-right: 8px;
	margin: 0;
	horizontal-align: center;
	wash-color: #fff;
}

.ChatWheelButton.IsSpray .ChatWheelSprayImage,.ChatWheelButton.IsSpray .PingWheelImage
{
	visibility: visible;
}

.ChatWheelButton.IsSpray .ChatWheelButtonContents
{
	visibility: collapse;
}

.ChatWheelButton.IsSpray Label
{
	margin-right: 96px;
}

.ChatWheelButton:selected
{
	background-color: #0570BB;
	border-color: #5C99FF;
	box-shadow: #5c99ff22 0px 0px 8px 0px ;
	animation-name: BackgroundPulse;
	animation-duration: 1.35s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.ChatWheelButton:selected Label
{
	color: white;
}

.ChatWheelButton.DragHovered
{
	border: 3px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
	brightness: 1.5;
}

#ChatWheelMessage
{
	flow-children: right;
	padding: 2px 0px;
	padding-right: 6px;
	border-radius: 3px;
}

#ChatWheelMessage.IsSpray
{
	padding: 4px;
}

.MessageIsUnlocked #ChatWheelMessage:not(.IsSpray):hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkerGrey ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.ChatWheelOption
{
	flow-children: right;
}

.IsSpray .ChatWheelSprayImage
{
	visibility: visible;
}

.MessageHasSound.IsSpray .ChatWheelSprayImage
{
	margin-left: 0px;
}

.MessageIsUnlocked .ChatWheelSprayImage,.MessageIsUnlocked .PingWheelImage
{
	wash-color: #fff;
}

.MessageIsUnlocked .ChatWheelUnlockInfo_EventLevel > Label
{
	color: textAccentColor;
}

.ChatWheelUnlockInfo_ShardsPurchase
{
	margin-right: 8px;
}

.ChatWheelUnlockInfo_ShardsPurchase #LockIcon,.ChatWheelUnlockInfo_ItemDefLevel #LockIcon,.ChatWheelUnlockInfo_EventGeneric #LockIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/24px/lock.vsvg");
	background-texture-size: 48px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( LightGrey ), to( DarkGrey ) );
	tooltip-position: left;
	tooltip-body-position: 50% 50%;
	opacity: 1.0;
}

.ChatWheelUnlockInfo_ShardsPurchase #LockIcon:hover,.ChatWheelUnlockInfo_EventGeneric #LockIcon:hover
{
	brightness: 2.0;
}

.ChatWheelUnlockInfo_ShardsPurchase #LockIcon:active,.ChatWheelUnlockInfo_EventGeneric #LockIcon:active
{
	brightness: 1.5;
}

.MessageIsUnlocked .ChatWheelUnlockInfo_ShardsPurchase #LockIcon,.MessageIsUnlocked .ChatWheelUnlockInfo_EventGeneric #LockIcon
{
	opacity: 0.0;
}

#ChatWheelMessageUnlockInfo.ChatWheelUnlockInfo_GuildPercentile
{
	vertical-align: top;
}

.IsSpray #ChatWheelMessageUnlockInfo.ChatWheelUnlockInfo_GuildPercentile
{
	vertical-align: middle;
}

.ChatWheelUnlockInfo_GuildPercentile .ChatWheelUnlockLevel
{
	letter-spacing: 0px;
	width: 120px;
	font-size: 16px;
	text-align: right;
	margin-right: 4px;
}

.ChatWheelCategory
{
	width: 100%;
	flow-children: down;
	padding-bottom: 16px;
}

#ChatWheelHeader
{
	width: 100%;
	border-bottom: 1px solid #ffffff0a;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
	margin-bottom: 4px;
	flow-children: right;
}

#ChatWheelHeader > Label
{
	color: #939da0;
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	transition-property: color, border;
	transition-duration: .32s;
}

#ChatWheelHeader #ChatWheelCategoryLink
{
	font-size: 14px;
	vertical-align: middle;
	color: #999;
	letter-spacing: 1px;
}

#ChatWheelHeader #ChatWheelCategoryLink:hover
{
	brightness: 2.0;
}

#ChatWheelHeader #ChatWheelCategoryLink:active
{
	brightness: 1.5;
}

#ChatWheelHeader.First
{
	margin-top: 0px;
}

#ChatWheelHeader .CategoryIcon
{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	visibility: collapse;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
}

#ChatWheelHeader #TeamLogo
{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	visibility: collapse;
}

.ChatWheelCategory.FandomCategory #TeamLogo
{
	visibility: visible;
}

.ChatWheelCategory.ActiveEventCategory #ChatWheelHeader
{
	border-bottom: 1px solid textUltraBrightColor&33;
}

.ChatWheelCategory.ActiveEventCategory #ChatWheelHeader .CategoryIcon
{
	visibility: visible;
	background-image: chatWheelCategoryIcon;
}

.ChatWheelCategory.ActiveEventCategory #ChatWheelHeader > Label
{
	color: textUltraBrightColor;
	letter-spacing: 1px;
}

.ChatWheelCategory.DotaPlusCategory #ChatWheelHeader
{
	border-bottom: 1px solid dotaPlusGold&66;
}

.ChatWheelCategory.DotaPlusCategory #ChatWheelHeader .CategoryIcon
{
	visibility: visible;
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
	width: 20px;
	height: 20px;
	vertical-align: middle;
	transform: translateY( -2px );
}

.ChatWheelCategory.DotaPlusCategory #ChatWheelHeader > Label
{
	margin-left: 2px;
	color: dotaPlusGoldGradient;
}

.ChatWheelCategory #ChatWheelMessages
{
	flow-children: down;
	width: 100%;
}

#ChatWheelMessages.RightWrapFlow
{
	flow-children: right-wrap;
}

.ChatWheelSprayImage
{
	visibility: collapse;
	horizontal-align: left;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/settings_chatwheel_png.vtex");
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	wash-color: #666;
	margin-left: 24px;
}

#ChatWheelPhraseListContainer.Active .ChatWheelOption.MessageIsUnlocked:hover,#PingWheelListContainer.Active .ChatWheelPhraseChoiceLine.MessageIsUnlocked:hover
{
	background-color: #0570BB;
}

#ChatWheelPhraseListContainer.Active .MessageIsLocked,#PingWheelListContainer.Active .MessageIsLocked,#ChatWheelPhraseListContainer.Active .NoMessagesUnlocked,#PingWheelListContainer.Active .NoMessagesUnlocked,.HideLockedMessages .MessageIsLocked,.HideLockedMessages .NoMessagesUnlocked
{
	visibility: collapse;
}

.ChatWheelUnlockInfo_EventLevel > Label
{
	text-align: right;
	margin-right: 6px;
	width: 90px;
	letter-spacing: 0px;
	color: textShadeColor;
	text-transform: uppercase;
}

.ChatWheelUnlockInfo_ItemDefLevel > Label
{
	text-align: right;
	margin-right: 6px;
	width: 90px;
	letter-spacing: 0px;
	color: textShadeColor;
	text-transform: uppercase;
}

.IsSpray .ChatWheelUnlockInfo_EventLevel > Label
{
	vertical-align: center;
}

.ChatWheelPhraseChoiceLine.MessageHasSound .ChatWheelPhraseChoiceText
{
	color: #555;
}

#ChatWheelMessageUnlockInfo
{
	vertical-align: bottom;
	ignore-parent-flow: true;
	z-index: 1;
}

.ChatWheelUnlockInfo_ShardsPurchase #LockIcon,.ChatWheelUnlockInfo_ItemDefLevel #LockIcon,.ChatWheelUnlockInfo_EventGeneric #LockIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/24px/lock.vsvg");
	background-texture-size: 48px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( LightGrey ), to( DarkGrey ) );
	tooltip-position: left;
	tooltip-body-position: 50% 50%;
	opacity: 1.0;
}

#SoundIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.HasSound #SoundIcon
{
	visibility: visible;
}

#SoundIcon:hover
{
	brightness: 2.0;
}

#SoundIcon:active
{
	brightness: 1.5;
}

