/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/popups/popup_settings_reborn.vcss_c");
.SettingsSectionColumnContainer
{
	flow-children: down;
}

.ResetDefaultsButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
}

.PingBindsColumn
{
	width: fill-parent-flow(1);
	flow-children: down;
	margin-top: -12px;
}

.PingWheelGraphics
{
	width: 82%;
	height: width-percentage(100%);
	background-color: DarkestGrey;
	ignore-parent-flow: true;
	border-radius: 50%;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	border: 1px solid black;
	background-color: gradient( radial, 50% 50%, 0% 0%, 60% 60%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgba(255, 255, 255, 0) ), color-stop( 0.3, rgba(255, 255, 255, 1) ), to( rgba(255, 255, 255, 1) ) );
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( DarkestGrey&99 ), to( DarkestGrey ) );
	box-shadow: inset 0px 2px 16px -2px rgba(0, 0, 0, 0.3);
}

.PingWheelVisual
{
	width: 100%;
	height: CommsWheelHeight;
	padding: 48px 64px;
	height: 420px;
}

.PingWheelVisual .PingWheelButtons.Top
{
	flow-children: right;
	horizontal-align: center;
}

.PingWheelVisual .PingWheelButtons.Bottom
{
	flow-children: left;
	horizontal-align: center;
	vertical-align: bottom;
}

.PingWheelVisual .PingWheelButtons.Left
{
	flow-children: down;
	vertical-align: center;
}

.PingWheelVisual .PingWheelButtons.Right
{
	flow-children: down;
	horizontal-align: right;
	vertical-align: center;
}

.PingWheelVisual .PingWheelLines
{
	horizontal-align: center;
	vertical-align: center;
	width: 80%;
	height: width-percentage(100%);
	overflow: noclip;
	opacity-brush: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(255, 255, 255, 0) ), color-stop( 0.4, rgba(255, 255, 255, 0) ), color-stop( 0.7, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
}

.PingWheelVisual .PingWheelLines .PingWheelLine
{
	height: 100%;
	width: 2px;
	background-color: DarkGrey;
	horizontal-align: center;
	vertical-align: center;
}

.PingWheelVisual .PingWheelLines .PingWheelLine.45
{
	transform: rotateZ( 45deg );
}

.PingWheelVisual .PingWheelLines .PingWheelLine.-45
{
	transform: rotateZ( -45deg );
}

.PingWheelVisual .HotkeyComboContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.PingWheelVisual .HotkeyComboContainer Label
{
	horizontal-align: center;
}

.PingWheelSlot
{
	width: 72px;
	height: width-percentage( 100% );
	margin: 4px;
	border-radius: 50%;
	horizontal-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.PingWheelSlot.Empty
{
	border: 1.5px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( LightGrey ), to( Grey ) );
	box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.4);
}

.PingWheelSlot.Empty .PingWheelButton
{
	visibility: collapse;
}

.PingWheelSlot.DragHovered
{
	border: 3px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
}

.PingWheelButton
{
	width: 72px;
	height: width-percentage( 100% );
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkerGrey ) );
	tooltip-position: top;
	box-shadow: 0px 2px 16px -1px rgba(0, 0, 0, 0.4);
	transition-property: background-color, border, brightness;
	transition-duration: 0.1s;
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
}

.NotDragging .PingWheelButton
{
	border: 1.5px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( LightGrey ), to( Grey ) );
}

.PingWheelButton #PingImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 48px;
	height: width-percentage( 100% );
	img-shadow: 0px 4px 16px rgb(28, 28, 28);
}

.PingWheelButton:hover
{
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( settingsBlue ), to( settingsBlueDark ) );
}

.PingWheelButton:hover Label
{
	color: white;
}

.PingWheelButton.DragHovered
{
	border: 3px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
	brightness: 1.5;
}

.PingWheelButton.IsOption
{
	background-color: none;
	border: 0;
	box-shadow: none;
}

.PingWheelButton.IsOption:hover
{
	border: 1.5px solid rgba(255, 255, 255, 1);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( DarkGrey ), to( DarkerGrey ) );
}

.PingWheelOptions
{
	padding: 12px;
}

.PingWheelOptions .PingWheelOptionsLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.5px;
	padding: 2px 0px 4px;
	color: LightGrey;
}

.PingWheelOptions .PingWheelInstructionsLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	font-size: 14px;
	opacity: 0.5;
}

.PingWheelOptions .PingWheelOptionsContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right-wrap;
	width: 248px;
	margin-bottom: 24px;
}

.PingWheelOptions .PingWheelOptionsContainer .PingWheelButton
{
	margin: 4px;
}

.PingWheelOptions .PingWheelOptionsContainer .PingWheelMessage
{
	width: 70px;
	height: 70px;
	margin: 5px;
}

.PingWheelOptions .PingWheelOptionsContainer .PingWheelMessage #PingImage
{
	width: 80%;
	height: 80%;
	horizontal-align: center;
	vertical-align: center;
}

.StandardPingsSection
{
	width: 100%;
	margin: 0px 12px;
	margin-top: -80px;
}

.StandardPingsSection .PingWheelButton
{
	horizontal-align: center;
}

.StandardPingsSection .SettingsSectionSubSubtitleSmall
{
	horizontal-align: center;
	margin-top: 6px;
}

.StandardPingWheelButton .BodySmall,.AlternatePingWheelButton .BodySmall
{
	color: whitesmoke;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.StandardPingWheelButton
{
	horizontal-align: left;
	flow-children: down;
}

.StandardPingWheelButton .PingWheelSlot
{
	horizontal-align: left;
}

.StandardPingWheelButton Label
{
	horizontal-align: left;
}

.AlternatePingWheelButton
{
	horizontal-align: right;
	flow-children: down;
}

.AlternatePingWheelButton .PingWheelSlot
{
	horizontal-align: right;
}

.AlternatePingWheelButton Label
{
	horizontal-align: right;
}

.AlternatePingWheelButton .HotkeyComboContainer
{
	margin-right: -2px;
}

#BelowPingWheel.SettingsSectionDivider
{
	margin-top: 30px;
	margin-bottom: 10px;
}

