/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltipMonsterHunterVariant #Contents
{
	background-color: rgb(15, 11, 8);
	border: 1px solid #655a49;
}

DOTATooltipMonsterHunterVariant .TooltipContents
{
	width: fit-children;
	flow-children: down;
	max-width: 300px;
}

.PremiumLockedContainer
{
	visibility: collapse;
	horizontal-align: center;
}

.LockedByPremium .PremiumLockedContainer
{
	visibility: visible;
	font-style:italic;
}

.LockedByPremium .NotPremiumLockedContainer,.LockedByPremium .PremiumIcon
{
	visibility: visible;
}

.TitleContainer
{
	width: fit-children;
	flow-children: right;
	horizontal-align: center;
}

.TitleContainer .Title
{
	font-weight: bold;
	vertical-align: center;
	color: TextColorGradientGold;
	letter-spacing: 1.5px;
}

.PremiumIcon
{
	vertical-align: center;
	height: 20px;
	margin-right: 4px;
	visibility: collapse;
}

.NotPremiumLockedContainer
{
	horizontal-align: center;
	font-style:italic;
	opacity: 0.8;
}

.TooltipText
{
	font-style: normal;
	opacity: 0.9;
	color: TextColorGradientSilver;
	horizontal-align: center;
	font-size: 17px;
	brightness: 0.7;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.CraftingUnlockedText,.CompleteText,.CraftingAvailableText,.MissingRequirementText
{
	visibility: collapse;
}

.CraftingAvailableText,.CompleteText,.CraftingUnlockedText
{
	brightness: 1;
}

.CraftingAvailable .CraftingAvailableText
{
	visibility: visible;
}

.Allowed .CraftingUnlockedText
{
	visibility: visible;
}

.LockedByPrevious .MissingRequirementText
{
	visibility: visible;
}

.Complete .CompleteText
{
	visibility: visible;
}

