/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltipMonsterHunterRank .TooltipContents
{
	flow-children: down;
}

DOTATooltipMonsterHunterRank .TooltipContents .TierList
{
	flow-children: right;
}

.RankBadge .RankTierImage
{
	width: 70px;
	height: 70px;
}

.RankBadge Label
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 24px;
	font-family: Radiance;
	text-shadow: 2px 2px 4px black;
	margin-top: 2px;
	color: #fbe7d4bb;
}

