/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 0px;
	border: 2px solid black;
}

.BackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
}

.OuterContainer
{
	flow-children: down;
	width: 300px;
	margin: 16px;
}

.OuterContainer Label
{
	horizontal-align: center;
	text-align: center;
}

#PreviewContainer
{
	flow-children: down;
	horizontal-align: center;
	margin: 16px 0px;
	padding: 8px;
	border: 2px solid #999;
}

.Preview
{
	margin: 8px;
	flow-children: right;
}

.Preview .Checkmark
{
	opacity: 0;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 12px;
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	background-size: cover;
	wash-color: rgba(97, 230, 155, 1);
}

.Preview.Unlocked .Checkmark
{
	opacity: 1;
}

.AnyPreview
{
	flow-children: right;
}

.AnyPreview .DOTAEmoticon
{
	vertical-align: middle;
}

.AnyPreview .RewardDescription
{
	margin-left: 16px;
	vertical-align: middle;
}

.SprayPreview .SprayWheelImage
{
	width: 60px;
	height: 60px;
}

.ChatWheelMessagePreview .ChatWheelMessageLabel
{
	vertical-align: middle;
}

