/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
}

#OuterContainer
{
	width: 480px;
	height: 480px;
}

#OuterContainer .FloorShadow
{
	width: 35%;
	height: 36px;
	margin-bottom: 21%;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 0, 0, 0.76) ), color-stop( 0.6, rgba(0, 0, 0, 0.4) ), to( #00000000 ) );
	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

#OuterContainer DOTAUIEconSetPreview
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 150%;
	height: width-percentage( 100% );
	overflow: noclip;
}

#OuterContainer.courier DOTAUIEconSetPreview
{
	transform: translateX( 0% ) translateY( 30% ) scale3d( .5, .5, 1 );
}

#OuterContainer.sniper DOTAUIEconSetPreview
{
	transform: translateX( 0% ) translateY( 15% ) scale3d( 1, 1, 1 );
}

#OuterContainer.techies DOTAUIEconSetPreview
{
	transform: translateX( -4% ) translateY( 15% ) scale3d( .95, .95, 1 );
}

#OuterContainer.antimage DOTAUIEconSetPreview
{
	transform: translateX( 1% ) translateY( 16% ) scale3d( .9, .9, 1 );
}

#OuterContainer.dragonknight DOTAUIEconSetPreview
{
	transform: translateX( 2% ) translateY( 16% ) scale3d( .85, .85, 1 );
}

#OuterContainer.beastmaster DOTAUIEconSetPreview
{
	transform: translateX( 5% ) translateY( 9% ) scale3d( .85, .85, 1 );
}

#OuterContainer.windranger DOTAUIEconSetPreview
{
	transform: translateX( -1% ) translateY( 16% ) scale3d( .825, .825, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#OuterContainer.poogie DOTAUIEconSetPreview
{
	transform: translateX( -2% ) translateY( 25% ) scale3d( 1, 1, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#MHEconSetPreview
{
	width: 150%;
	height: 150%;
	opacity: 1;
	transition-property: transform, brightness, saturation, wash-color, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

#MaterialInventory
{
	width: 100%;
}

.CanCraftFX
{
	width: 50%;
	height: 80px;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	transition-property: opacity;
	transition-duration: 0.2s;
	visibility: collapse;
}

.NotifyCanCraftSomething
{
	text-align: center;
	color: TextColorLightest;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	font-weight: semi-bold;
	padding: 6px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.6) ), color-stop( 0.5, rgba(177, 137, 72, 0.9) ), color-stop( 0.7, rgba(177, 137, 72, 0.6) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: opacity, transform;
	transition-duration: 0.2s, 0.08s;
	visibility: collapse;
}

@keyframes 'CanCraftLabelAnimation'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

