/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/events/monster_hunter/ui_monster_hunter_material.vcss_c");
#Contents
{
	padding: 0px;
	border: 2px solid black;
}

.BackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
}

.OuterContainer
{
	flow-children: down;
	min-width: 260px;
	width: fit-children;
}

.OuterContainer .RareBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #FFFFFF ), color-stop( 0.5, #FFFFFF55 ), to( #FFFFFF00 ) );
	blur: gaussian(4px);
	transition-property: opacity-brush;
	transition-duration: 0.2s;
	visibility: collapse;
}

.RarityRare .OuterContainer .RareBorder,.RaritySuperRare .OuterContainer .RareBorder
{
	visibility: visible;
}

.OuterContainer .MaterialNameContainer
{
	width: 100%;
	flow-children: right;
	background-color: rgba(227, 245, 255, 0.012);
}

.OuterContainer .MaterialNameContainer .MaterialBackgroundGlow
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 0% 0%, 0% 0%, 120% 200%, from( #FFFFFF ), color-stop( 0.5, #ffffff50 ), to( #FFFFFF00 ) );
	opacity: 0.3;
	transition-property: opacity-brush;
	transition-duration: 0.1s;
}

.RarityCommon .OuterContainer .MaterialNameContainer .MaterialBackgroundGlow
{
	visibility: collapse;
}

.OuterContainer .MaterialNameContainer .RareFX
{
	ignore-parent-flow: true;
	width: 100%;
	height: 300%;
	vertical-align: center;
	opacity: 0.3;
	overflow: noclip;
	transform: translateX( -40% );
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	opacity: 0.5;
	visibility: collapse;
}

.RaritySuperRare .OuterContainer .MaterialNameContainer .RareFX
{
	visibility: visible;
}

.OuterContainer .MaterialNameContainer #Material
{
	width: 64px;
	height: 64px;
}

.OuterContainer .MaterialNameContainer .TextContainer
{
	flow-children: down;
	vertical-align: center;
	width: fit-children;
}

.OuterContainer .MaterialNameContainer .TextContainer .RarityTextContainer
{
	padding: 4px 0px;
	margin: -4px 0px;
}

.OuterContainer .MaterialNameContainer .TextContainer .MaterialName
{
	color: white;
	text-shadow: 0px 2px 8px black;
}

.OuterContainer .MaterialNameContainer .TextContainer .RarityTextGlow
{
	width: 200%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	blur: gaussian(4px);
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #FFFFFF ), color-stop( 0.5, #ffffff33 ), to( #FFFFFF00 ) );
	transition-property: opacity-brush;
	transition-duration: 0.1s;
	visibility: collapse;
}

.RarityRare .OuterContainer .MaterialNameContainer .TextContainer .RarityTextGlow,.RaritySuperRare .OuterContainer .MaterialNameContainer .TextContainer .RarityTextGlow
{
	visibility: visible;
}

.OuterContainer .MaterialNameContainer .TextContainer .RarityText
{
	text-shadow: 0px 1px 8px 1 black;
	font-size: 12px;
}

.RarityRare .OuterContainer .MaterialNameContainer .TextContainer .RarityText,.RaritySuperRare .OuterContainer .MaterialNameContainer .TextContainer .RarityText
{
	color: white;
	font-weight: semi-bold;
}

.OuterContainer #TopLevelCraftableRewardsContainer
{
	flow-children: right;
	margin: 0px 15px;
	horizontal-align: center;
}

.OuterContainer .AltTipContainer
{
	flow-children: right;
	padding: 6px;
	horizontal-align: right;
	vertical-align: bottom;
	ignore-parent-flow: true;
	visibility: collapse;
}

.ShowClickAffordance .OuterContainer .AltTipContainer
{
	visibility: visible;
}

.ShowHeroDropList .OuterContainer .AltTipContainer
{
	visibility: collapse;
}

.OuterContainer .AltTipContainer .AltInfoIcon
{
	padding: 2px;
	width: 17px;
	vertical-align: center;
	wash-color: LightGrey;
	img-shadow: 0px 1px 6px black;
}

.OuterContainer .AltTipContainer .AltKeyIcon
{
	width: 24px;
	vertical-align: center;
	padding: -1px 3px;
	img-shadow: 0px 1px 6px black;
}

.IconExplanationContainer
{
	max-width: 260px;
}

.CraftableSetContainer
{
	flow-children: down;
}

.CraftableSetContainer .HeroIcon
{
	ignore-parent-flow: true;
	z-index: 1;
	horizontal-align: center;
}

.CraftableSetContainer .Divider
{
	width: 100%;
	height: 10px;
}

.CraftableSetContainer #CraftableRewardsContainer
{
	horizontal-align: center;
	flow-children: right;
}

.CraftableReward
{
	flow-children: down;
	margin-left: 2px;
	margin-right: 2px;
}

.CraftableReward .EconItemContainer
{
	height: 80px;
	width: 110px;
}

.CraftableReward .PartType
{
	max-width: 100px;
	height: 20px;
	text-align: center;
	text-overflow: shrink;
	horizontal-align: center;
	color: #d9b381cc;
}

.CraftableReward .StatusText
{
	max-width: 100px;
	height: 20px;
	text-align: center;
	text-overflow: shrink;
	horizontal-align: center;
}

.CommonCraftingReward
{
	flow-children: down;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 15px;
}

.CommonCraftingReward .CommonCraftingLabel
{
	text-align: center;
	horizontal-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	color: #A59682;
}

.CommonCraftingReward .HeroSetsContainer
{
	flow-children: down;
	horizontal-align: center;
}

.CommonCraftingReward .HeroSetsContainer .HeroIcon
{
	margin: 2px;
}

.VerticalDivider
{
	height: 100%;
	width: 1px;
	background-color: rgba(128, 128, 128, 0.475);
	margin-left: 10px;
	margin-right: 10px;
}

.HeroSetLabelContainer
{
	flow-children: right;
}

.HeroSetLabelContainer .HeroSetLabel
{
	vertical-align: center;
}

.HeroSetLabelContainer .TrackingIcon
{
	margin: -1px 0px -3px;
	margin-right: 2px;
	width: 24px;
	height: width-percentage( 100% );
	transform: translateY( 2px );
	visibility: collapse;
}

.HeroSetLabelContainer.IsTracked .TrackingIcon
{
	visibility: visible;
}

.HeroIcon
{
	texture-sampling: point;
	width: 20px;
	height: width-percentage( 100% );
	img-shadow: 0px 4px 16px -2px rgba(0, 0, 0, 0.6);
}

#HeroDropList
{
	horizontal-align: center;
	flow-children: down;
	padding: 8px;
	width: fill-parent-flow(1);
	border-top: 1px solid rgba(0, 0, 0, 0.8);
	visibility: collapse;
}

.ShowHeroDropList #HeroDropList
{
	visibility: visible;
}

#HeroDropList .HeroDropTitle
{
	margin-bottom: 4px;
}

#HeroDropList #HeroDropContainer
{
	flow-children: down;
}

#HeroDropList #HeroDropContainer .HeroIconRow
{
	flow-children: right;
}

#HeroDropList #HeroDropContainer .HeroIconRow .HeroIconDrop
{
	width: 24px;
	height: 24px;
	margin: 2px;
	texture-sampling: point;
}

#HeroDropList .SuperRareDescription
{
	visibility: collapse;
}

.MaterialName_rainbow_pigment #HeroDropList .HeroDropTitle,.MaterialName_palico_voucher #HeroDropList .HeroDropTitle,.MaterialName_poogie_voucher #HeroDropList .HeroDropTitle
{
	visibility: collapse;
}

.MaterialName_rainbow_pigment #HeroDropList .SuperRareDescription,.MaterialName_palico_voucher #HeroDropList .SuperRareDescription,.MaterialName_poogie_voucher #HeroDropList .SuperRareDescription
{
	visibility: visible;
}

.MaterialEarnedReason
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.MaterialEarnedReason .MaterialEarnedIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 36px;
	height: width-percentage(100%);
	margin: -4px 0px;
	margin-left: -4px;
	height: width-percentage( 100% );
	img-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.MatchReward .MaterialEarnedReason .MaterialEarnedIcon
{
	width: 24px;
	padding: 2px;
	margin: 0px;
	margin-right: 2px;
	wash-color: winnerGreen;
}

.Failed .MaterialEarnedReason .MaterialEarnedIcon
{
	wash-color: LighterGrey;
	img-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.MaterialEarnedReason .MaterialEarnedExplanationText
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	font-size: 15px;
	color: LighterGrey;
	text-shadow: 0px 1px 6px black;
	margin-top: 1px;
	text-overflow: shrink;
	height: 20px;
}

.MatchReward:not(.Failed) .MaterialEarnedReason .MaterialEarnedExplanationText
{
	color: winnerGreen&CC;
}

.HasEarnedReason .MaterialEarnedReason
{
	visibility: visible;
}

.MaterialEarnedReason .HeroIcon
{
	margin-left: 3px;
}

.MaterialEarnedReason .StrikeThrough
{
	width: 100%;
	height: 1px;
	background-color: white;
	vertical-align: center;
	ignore-parent-flow: true;
	margin-top: 2px;
	visibility: collapse;
}

.Failed .MaterialEarnedReason .StrikeThrough
{
	visibility: visible;
}

.Failed .MaterialEarnedReason
{
	saturation: 0.5;
	brightness: 0.2;
}

