/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltipMonsterHunterCraftWithUniversalMaterials
{
	padding: 0;
}

#Contents
{
	padding: 0px;
}

.InnerContents
{
	width: 300px;
	flow-children: down;
}

.InnerContents Label
{
	color: #ddd;
	text-align: center;
}

.InnerContents .Description
{
	width: 100%;
	padding: 8px 12px;
	font-family: titleFont;
	background-color: rgba(218, 234, 255, 0.02);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.Materials
{
	flow-children: down;
	padding: 6px 12px;
	width: 100%;
}

.Materials .Row
{
	flow-children: right;
}

.Materials .Row .Material
{
	margin: -2px;
	vertical-align: center;
	ui-scale: 125%;
}

.Materials .Row Label
{
	vertical-align: center;
}

.Common,.Uncommon,.Rare,.SuperRare
{
	visibility: collapse;
}

.NeedsCommon .Common,.NeedsUncommon .Uncommon,.NeedsRare .Rare,.NeedsSuperRare .SuperRare
{
	visibility: visible;
}

