/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATooltipMonsterHunterHeroAtlas .TooltipContents
{
	flow-children: down;
	max-width: 350px;
}

.CompleteText
{
	visibility: collapse;
}

.Title
{
	font-size: 20px;
	horizontal-align: center;
	text-align: center;
	color: TextColorGradientGold;
}

.ProgressText
{
	horizontal-align: center;
	text-align: center;
	margin-bottom: 5px;
}

.IncompleteText
{
	color: gray;
	text-align: center;
}

.Complete .ProgressText
{
	color: TextColorGradientSilver;
}

.Complete .CompleteText
{
	visibility: visible;
	text-align: justify;
}

.Complete .IncompleteText
{
	visibility: collapse;
}

.AltTextSection
{
	width: 100%;
	visibility: collapse;
	flow-children: right;
	padding: 5px;
	margin: 5px;
	border-radius: 5px;
	background-color: #0003;
}

.AltTextSection .Column
{
	width: fill-parent-flow( 0.5 );
	height: fit-children;
	margin: 5px;
	flow-children: down;
}

.AltTextSection .Column .SectionTitle
{
	horizontal-align: center;
	font-weight: semi-bold;
}

.AltTextSection .Column .Details
{
	font-size: 20px;
}

.AltHeld .AltTextSection
{
	visibility: visible;
}

