/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	background-color: #2d2a21;
	box-shadow: 0px 0px 10px 10.0 #000000;
	padding: 10px;
	width: 300px;
	flow-children: down;
}

#Contents #Title
{
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
	font-size: 13px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	width: 100%;
	vertical-align: top;
	border-bottom: 1px solid rgba(255, 230, 199, 0.1);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0)) );
	padding-bottom: 8px;
	margin-bottom: 12px;
}

#Contents #Body
{
	width: 100%;
	margin-top: 8px;
	vertical-align: top;
	margin-bottom: 4px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: rgb(202, 183, 169);
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

