.RootInnateDisplay
{
	width: 40px;
	height: 64px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 24px;
	margin-left: -6px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	z-index: 2;
	overflow: noclip;
}

#ContentsContainer
{
	height: fit-children;
	width: 40px;
	flow-children: down;
	vertical-align: middle;
	horizontal-align: center;

	#FacetIcon
	{
		horizontal-align: center;
	}
}

.HasNothing.RootInnateDisplay
{
	visibility: collapse;
}

.FacetHolder
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

.RootInnateDisplay:not(.HasFacet) .FacetHolder
{
	opacity: 0;
}

#InnateIcon
{
	width: 26px;
	height: 26px;
	horizontal-align: center;

	tooltip-position: top;
	tooltip-body-position: 50% 25px;
}

#FacetIcon {
	horizontal-align: center;
	margin-bottom: 6px;
	tooltip-position: top;
	tooltip-body-position: 50% 25px;
}