DOTATooltipGold #Contents {
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #252B2F ), to( #191C1F ) );
	width: 292px;
	padding: 12px;	
}

Label {
	color: LighterGrey&cc;
	font-size: 14px;
	text-shadow: 0px 1px 6px black;

	&.StatLabel {
		text-overflow: shrink;
		width: fill-parent-flow( 1 );
		margin-right: 4px;
	}

	&.StatValue {
		font-size: 14px;
		text-align: right;
	}

	&.Large {
		color: LightestGrey;
		font-size: 16px;
		margin-top: -1px;
	}

	&.Gold {
		color: #f0c23a;
	}

	&.Red {
		color: loserRed;
	}

	&.Green {
		color: winnerGreen&aa;
	}

	&.Bold {
		font-weight: semi-bold;
	}
}

.HorizontalDivider {
	opacity: 0.05;
	margin: 4px 0px;
}

.StatRow {
	flow-children: right;
	width: fill-parent-flow( 1 );

	          
		                                                                                             
	 

	         
		                                                                                                   
	    
}

#BuybackGoldNeeded,
#QuickbuyAndBuybackGoldNeeded,
#QuickbuyGoldNeeded {
	visibility: collapse;
}

.BuybackGoldRequired #BuybackGoldNeeded {
	visibility: visible;
}

#BuybackGoldSurplus {
	visibility: visible;
}

.BuybackGoldRequired #BuybackGoldSurplus {
	visibility: collapse;
}

#QuickbuyAndBuybackGoldSurplus, #QuickbuyGoldSurplus {
	visibility: collapse;
}

#QuickbuyGold { visibility: collapse; }
.ShowQuickbuyCost #QuickbuyGold { visibility: visible; }
.ShowQuickbuyCost #QuickbuyGoldSurplus { visibility: visible; }
.ShowQuickbuyCost.QuickbuyGoldRequired #QuickbuyGoldSurplus {	visibility: collapse; }
.ShowQuickbuyCost.QuickbuyGoldRequired #QuickbuyGoldNeeded { visibility: visible; }


#QuickbuyAndBuybackGold { visibility: collapse; }
.ShowQuickbuyAndBuybackCost #QuickbuyAndBuybackGold { visibility: visible; }
.ShowQuickbuyAndBuybackCost #QuickbuyAndBuybackGoldSurplus { visibility: visible; }
.ShowQuickbuyAndBuybackCost.QuickbuyAndBuybackGoldRequired #QuickbuyAndBuybackGoldSurplus {	visibility: collapse; }
.ShowQuickbuyAndBuybackCost.QuickbuyAndBuybackGoldRequired #QuickbuyAndBuybackGoldNeeded { visibility: visible; }

#GoldIcon {
	width: 16px;
	height: 16px;
	background-image: url( "file://{images}/hud/icon_gold.psd" );
	background-size: cover;
	background-position: center;
	margin-left: 3px;
	margin-top: 1px;
	img-shadow: 0px 1px 6px black;
}

.TimerIcon {
	width: 16px;
	height: 16px;
	padding: 1px;
	wash-color: loserRed;
	margin-left: 3px;
	vertical-align: center;
	margin-top: 1px;
	img-shadow: 0px 1px 6px black;
}

#CooldownReady {
	visibility: collapse;
}

.CooldownReady #CooldownReady {
	visibility: visible;
}

#CooldownNotReady {
	visibility: visible;
}

.CooldownReady #CooldownNotReady {
	visibility: collapse;
}

#DeathCost {
	visibility: collapse;
}

.ShowDeathCost #DeathCost {
	visibility: visible;
}

#DeathTime {
	visibility: collapse;
}

.ShowDeathTime #DeathTime {
	visibility: visible;
}

#BuybackCost {
	visibility: collapse;
}

.ShowBuybackCost #BuybackCost {
	visibility: visible;
}

.BuybackAvailableStatus,
.BuybackUnavailableStatus {
	width: 100%;
	padding: 3px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 2px;

	Label {
		width: 100%;
		text-align: center;
		font-weight: semi-bold;
		margin-top: -2px;
		margin-bottom: 3px;
	}
}

.BuybackAvailableStatus {
	padding: 5px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 60% 100%, from( #504225 ), to( #1f1e1a ) );
	border: 1.5px solid rgba(255, 255, 255, 1);
	border-left: 0px;
	border-right: 0px;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #a86700 ), color-stop( 0.5, #ffd932 ), to( #a86700 ) );
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
	
	visibility: collapse;

	Label {
		color: whitesmoke;
	}
}

.CooldownReady:not(.BuybackGoldRequired) {
	.BuybackAvailableStatus {
		visibility: visible;
	}
}

.BuybackUnavailableStatus {
	background-color: loserRed&11;
	border: 1px solid loserRed&22;
	
	visibility: collapse;

	Label {
		color: loserRed;
	}
}

.BuybackGoldRequired,
DOTATooltipGold:not(.CooldownReady) {
	.BuybackUnavailableStatus {
		visibility: visible;
	}
}