/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterButton
{
	overflow: noclip;
}

DOTAMonsterHunterButton .ButtonContainer
{
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.4);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #090706 ), to( #1B1411 ) );
	height: 44px;
	border-radius: 3px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #A68E6A ), to( #524937 ) );
	padding: 2px;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonGlow
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 60%, from( #ffc06258 ), to( #00000000 ) );
	animation-name: GlowButton;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonInner
{
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #D4A75E ), to( #432c10 ) );
	border-radius: 1.5px;
	padding: 0px 16px;
	border: 1px solid white;
	border-brush: WhiteGradientBorderMedium;
	transition-property: background-color;
	transition-duration: 0.1s;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonInner .LabelIconContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonInner .ButtonLabel
{
	vertical-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1.5px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
	text-overflow: shrink;
	margin: 0px 4px;
	transition-property: color;
	transition-duration: 0.05s;
}

.Locked DOTAMonsterHunterButton .ButtonContainer .ButtonInner .ButtonLabel
{
	padding-left: 18px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/lock_png.vtex");
	background-size: 14px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
	background-img-opacity: 0.2;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonInner .ButtonIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 16px;
	height: width-percentage(100%);
	img-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
	visibility: collapse;
}

DOTAMonsterHunterButton .ButtonContainer .ButtonInner .SigilBackground
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	width: 110%;
	height: width-percentage( 127% );
	wash-color: black;
	overflow: noclip;
	opacity: 0.1;
}

DOTAMonsterHunterButton.NoShadow .ButtonContainer
{
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

DOTAMonsterHunterButton:disabled .ButtonContainer
{
	border: 1px solid rgba(255, 255, 255, 0.3);
}

DOTAMonsterHunterButton:disabled .ButtonContainer .ButtonInner
{
	background-color: none;
	border-color: transparent;
}

DOTAMonsterHunterButton:disabled .ButtonContainer .ButtonInner .ButtonLabel
{
	color: #8a6c49;
}

DOTAMonsterHunterButton:disabled .ButtonContainer .ButtonInner .ButtonIcon
{
	wash-color: #8a6c49;
}

DOTAMonsterHunterButton:disabled .ButtonContainer .ButtonGlow
{
	visibility: collapse;
}

DOTAMonsterHunterButton:hover .ButtonInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffcb78 ), to( #64492a ) );
}

DOTAMonsterHunterButton:active:not(.CodexHeroListPaginationButton)
{
	sound: "monsterhunter.button.down";
}

DOTAMonsterHunterButton:active .ButtonContainer
{
	transform: translateY( 1px );
}

DOTAMonsterHunterButton:active .ButtonInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6c502f ), to( #b28b4d ) );
}

DOTAMonsterHunterButton.Wide .ButtonInner
{
	padding: 0px 28px;
}

DOTAMonsterHunterButton.Circular .ButtonContainer
{
	border-radius: 80px;
	width: 44px;
	height: 44px;
}

DOTAMonsterHunterButton.Circular .ButtonContainer .ButtonInner
{
	border-radius: 80px;
	width: 100%;
	padding: 0px;
}

DOTAMonsterHunterButton.Circular .ButtonContainer .ButtonGlow
{
	visibility: collapse;
}

DOTAMonsterHunterButton.Circular .ButtonContainer .ButtonIcon
{
	visibility: visible;
}

DOTAMonsterHunterButton.Circular .ButtonContainer .ButtonLabel
{
	visibility: collapse;
}

DOTAMonsterHunterButton.Circular.Large .ButtonContainer
{
	border-radius: 80px;
	width: 64px;
	height: 64px;
}

DOTAMonsterHunterButton.Circular.Large .ButtonIcon
{
	width: 24px;
}

DOTAMonsterHunterButton.FillWidth .ButtonContainer
{
	width: 100%;
}

DOTAMonsterHunterButton.FillWidth .ButtonInner
{
	width: 100%;
}

DOTAMonsterHunterButton.OnWhite .ButtonContainer
{
	box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.2);
}

DOTAMonsterHunterButton.Secondary .ButtonGlow
{
	visibility: collapse;
}

DOTAMonsterHunterButton.Secondary .ButtonInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c3422 ), to( #191109 ) );
	border-brush: WhiteGradientBorderSoft;
}

DOTAMonsterHunterButton.Secondary .ButtonInner .ButtonLabel
{
	color: TextColorGradientGold;
	transition-property: brightness;
	transition-duration: 0.1s;
}

DOTAMonsterHunterButton.Secondary .ButtonInner .SigilBackground
{
	opacity: 0.15;
}

DOTAMonsterHunterButton.Secondary:hover .ButtonInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #754f31 ), to( #271a0e ) );
}

DOTAMonsterHunterButton.Secondary:hover .ButtonInner .ButtonLabel
{
	brightness: 2;
}

DOTAMonsterHunterButton.Small .ButtonContainer
{
	height: 32px;
}

DOTAMonsterHunterButton.Small .ButtonContainer .ButtonInner
{
	padding: 0px 8px;
}

DOTAMonsterHunterButton.Small .ButtonContainer .ButtonInner .ButtonLabel
{
	font-size: 14px;
	font-weight: normal;
}

DOTAMonsterHunterButton.GlowButton
{
	animation-name: GlowButton;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'GlowButton'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

DOTAMonsterHunterButton.Slider .ButtonInner
{
	width: 100px;
}

