/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterInvestigationSimulator
{
	width: 100%;
	height: 100%;
}

.StageStart #SimulationHuntButtons,.StageStart #SimulationButtons,.StageStart .OuterContainer
{
	visibility: collapse;
}

.StageHuntLocked DOTAMonsterHunterInvestigationsContainer,.StageHuntLocked #LockHuntButton,.StageHuntLocked #SimulationButtons,.StageHuntLocked .OuterContainer
{
	visibility: collapse;
}

.StageHuntsComplete DOTAMonsterHunterInvestigationsContainer,.StageHuntsComplete #LockHuntButton,.StageHuntsComplete #SimulationHuntButtons,.StageHuntsComplete .OuterContainer
{
	visibility: collapse;
}

.StageFinished DOTAMonsterHunterInvestigationsContainer,.StageFinished #LockHuntButton,.StageFinished #SimulationHuntButtons,.StageFinished #SimulationButtons
{
	visibility: collapse;
}

#ControlContainer
{
	vertical-align: top;
	horizontal-align: left;
	margin-top: 220px;
	flow-children: down;
}

#ControlContainer DOTAHeroImage
{
	margin-bottom: 80px;
}

.DebugMetricsPanel
{
	vertical-align: top;
	horizontal-align: left;
	background-color: #330033;
	margin-top: 88px;
	margin-left: 24px;
	border: 3px solid #990099;
	padding: 8px 16px;
	flow-children: down;
}

.DebugMetricsPanel Label
{
	margin: 4px 0px;
}

#LockHuntButton
{
	horizontal-align: center;
}

.HeroPicker
{
	flow-children: down;
	margin-left: 24px;
}

#OurHero
{
	width: 100px;
	margin: 10px 0px;
	border: 6px solid black;
}

.SimulationContainer
{
	horizontal-align: center;
	vertical-align: top;
	width: 100%;
	margin-top: 100px;
}

.SimulationHuntButtons
{
	horizontal-align: center;
	margin-top: 300px;
}

.SimulationButtons
{
	horizontal-align: center;
	margin-top: 350px;
}

.OuterContainer
{
	margin: 100px 0px 40px 0px;
	horizontal-align: center;
	flow-children: down;
}

.OuterContainer TextButton
{
	horizontal-align: center;
	min-width: 300px;
}

.OuterContainer .ExtraMarginTop
{
	margin-top: 60px;
}

.RewardsContainer
{
	margin: 5px 5px;
	padding: 10px 10px;
	width: 600px;
	flow-children: down;
	horizontal-align: center;
	background-color: #444130;
}

.MaterialBreakdownContainer
{
	horizontal-align: left;
	flow-children: down;
}

.MaterialBreakdownContainer .MaterialBreakdownRow
{
	horizontal-align: left;
	flow-children: right;
	width: fill-parent-flow( 1 );
	height: 50px;
	background-color: rgb(107, 109, 67);
	margin: 5px;
	padding: 5px 15px;
}

.MaterialBreakdownContainer .MaterialBreakdownRow .MaterialBreakdownTitle
{
	vertical-align: center;
}

.MaterialBreakdownContainer .MaterialBreakdownRow .MaterialRewardsContainer
{
	horizontal-align: right;
	flow-children: right;
	vertical-align: center;
}

.MaterialBreakdownContainer .MaterialBreakdownRow .MaterialRewardsContainer DOTAMonsterHunterMaterial
{
	margin: -6px;
}

.RewardsTitle
{
	horizontal-align: center;
}

