/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.MonsterHunterBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 40%, 0% 100%, from( #0c1221 ), color-stop( 0.7, #1d2842 ), to( #0e0a15 ) );
}

.MonsterHunterSceneContainer
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	visibility: collapse;
	opacity-brush: gradient( linear, 0% 0%, 0% 98%, from( #ffffff38 ), color-stop( 0.2, white ), color-stop( 0.65, white ), color-stop( 0.8, rgba(255, 255, 255, 0.3) ), to( #ffffff00 ) );
}

.TutorialDone .MonsterHunterSceneContainer
{
	opacity-brush: gradient( linear, 0% 0%, 0% 98%, from( #ffffff38 ), color-stop( 0.2, white ), color-stop( 0.65, white ), color-stop( 0.8, rgba(255, 255, 255, 0.6) ), to( #ffffff03 ) );
}

.OnHomePage .MonsterHunterSceneContainer
{
	visibility: visible;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.MonsterHunterSceneContainer .SceneBackground
{
	width: 100%;
	height: 100%;
}

.MonsterHunterScene
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

#MonsterHunterScene.Initialize
{
	opacity: 1;
}

.SkyBackground
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	brightness: 0.05;
	blur: gaussian(4px);
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0.5;
}

.OnHomePage .SkyBackground
{
	opacity: 0;
}

.SmokeFX
{
	width: 100%;
	height: 100%;
	margin-top: 560px;
	wash-color: rgb(63, 73, 98);
	transition-property: opacity;
	transition-duration: 0.5s;
	opacity: 0;
}

.OnHomePage .SmokeFX
{
	opacity: 0.2;
}

.PageShadow
{
	height: 100%;
	width: 22.5%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #06070a ), color-stop(0.35, #06070ad2 ), color-stop(0.7, #06070a6e ), to( #06070a00 ) );
	opacity: 0.9;
}

.PageShadow.Right
{
	transform: scaleX( -1 );
	horizontal-align: right;
}

.MonsterHunterBackgroundContent
{
	width: 100%;
	height: 100%;
	transform: scale3d( 0.98, 0.98, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

.OnHomePage .MonsterHunterBackgroundContent
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.EventTitleContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 80px;
}

.EventTitleContainer .CrossOverLabel
{
	horizontal-align: center;
	color: rgba(255, 255, 255, 0.594);
	margin-bottom: 24px;
	letter-spacing: 2.5px;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.838);
}

.EventTitleContainer .LogoContainer
{
	horizontal-align: center;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer
{
	width: 100%;
	height: 100%;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .TitleEmblem
{
	horizontal-align: center;
	width: 90%;
	height: 8px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hero_title_emblem.vsvg");
	background-size: cover;
	background-position: center;
	background-texture-size: 1600px 16px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.5, white ), to( rgba(255, 255, 255, 0) ) );
	brightness: 2;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .TitleEmblem.Bottom
{
	vertical-align: bottom;
	transform: scaleY( -1 );
	width: 60%;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .LogoListBackground
{
	width: 100%;
	height: 100%;
	margin: 8px 0px;
	wash-color: rgb(17, 22, 29);
	opacity: 0.8;
	opacity-brush: gradient( radial, 50% 10%, 0% 0%, 50% 300%, from( #FFFFFF ), color-stop( 0.5, #ffffffbf ), to( #FFFFFF00 ) );
	background-color: gradient( linear, 10% 0%, 90% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.25, rgba(255, 255, 255, 0.9) ), color-stop(0.5, rgba(255, 255, 255, 0.98) ), color-stop(0.75, rgba(255, 255, 255, 0.9) ), to( rgba(255, 255, 255, 0) ) );
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .Triangle
{
	horizontal-align: center;
	width: 16px;
	wash-color: rgb(25, 37, 53);
	opacity: 0.8;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .Triangle.Bottom
{
	vertical-align: bottom;
	transform: scaleY( -1 );
	opacity: 0.6;
}

.EventTitleContainer .LogoContainer .LogoList
{
	padding: 18px 160px;
	flow-children: right;
	horizontal-align: center;
	overflow: noclip;
	margin-left: 92px;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList
{
	margin-left: 12px;
}

.EventTitleContainer .LogoContainer .LogoList .DotaLogo,.EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	height: 34px;
	vertical-align: center;
	img-shadow: 0px 2px 12px rgb(14, 28, 45);
	brightness: 1.5;
}

.EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	visibility: collapse;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	visibility: visible;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList .DotaLogo
{
	visibility: collapse;
}

.EventTitleContainer .LogoContainer .LogoList .CrossIcon
{
	height: 20px;
	margin-left: 18px;
	margin-right: -6px;
	vertical-align: center;
	img-shadow: 0px 4px 12px rgb(30, 18, 18);
}

.EventTitleContainer .LogoContainer .LogoList .MonsterHunterLogoHoriz
{
	height: 92px;
	saturation: 0.8;
	margin-top: -40px;
	vertical-align: center;
	img-shadow: 0px 4px 12px 3 rgb(33, 43, 76);
	transition-property: brightness, transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.EventTitleContainer .LogoContainer .LogoList .MonsterHunterLogoHoriz:hover
{
	brightness: 1.3;
	transform: scale3d( 1.02, 1.02, 1 );
}

.EventTitleContainer .EventDescriptionContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 10px;
}

.EventTitleContainer .EventDescriptionContainer .EventDescription
{
	text-align: center;
	text-shadow: 0px 4px 12px black;
	color: rgba(255, 255, 255, 0.8);
}

@define WidgetHeight: 80px;
.CraftingHeroesList
{
	visibility: collapse;
}

.DataLoading .WidgetStat,.DataFailure .WidgetStat
{
	opacity: 0;
}

.DataLoading .WidgetContents,.DataFailure .WidgetContents
{
	saturation: 0.7;
	brightness: 0.3;
}

.DataLoading .LoadingInfo,.DataFailure .LoadingInfo
{
	visibility: visible;
}

.LoadingInfo
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	ignore-parent-flow: true;
	visibility: collapse;
}

.LoadingInfo .Spinner
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 16px;
}

.EventUIContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 130px;
	flow-children: down;
}

.PurchaseNote
{
	horizontal-align: center;
	border-bottom: 1px solid rgba(255, 252, 220, 0.1);
	border-left: 0px;
	border-right: 0px;
	padding: 10px 60px 6px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.3, #5f4d35de ), color-stop( 0.7, #5f4d35de ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.3, #FFFFFF ), color-stop( 0.7, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: background-color, border;
	transition-duration: 0.1s;
	z-index: -1;
}

.OwnsPremium .PurchaseNote
{
	visibility: collapse;
}

.PurchaseNote:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.3, #755e3fde ), color-stop( 0.7, #755e3fde ), to( #00000000 ) );
}

.PurchaseNote:hover .PremiumText
{
	brightness: 1.8;
}

.PurchaseNote .PremiumText
{
	vertical-align: center;
	font-size: 17px;
	color: TextColorLightest&99;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	height: 24px;
	brightness: 1.5;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.PurchaseNote .PremiumText b
{
	text-transform: uppercase;
	color: TextColorGradientGold;
	font-family: titleFont;
	font-size: 14px;
	letter-spacing: 1.5px;
	text-decoration: underline;
}

.PurchaseNote .PremiumText Image
{
	width: 24px;
	margin: 0px 2px;
}

.WidgetsContainer
{
	horizontal-align: center;
	flow-children: right;
	width: 860px;
	opacity: 0;
	visibility: collapse;
}

.WidgetsContainer .WidgetsBackground
{
	width: 100%;
	height: WidgetHeight;
	vertical-align: bottom;
	background-color: black;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 200%, from( #201913 ), to( #101418 ) );
	ignore-parent-flow: true;
	box-shadow: 0px 8px 64px -4px rgba(0, 0, 0, 0.6);
}

.WidgetsContainer .WidgetsForeground
{
	width: 100%;
	height: WidgetHeight;
	vertical-align: bottom;
	ignore-parent-flow: true;
}

.WidgetsContainer .WidgetsForeground .WidgetsBackgroundBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid #ffd59a0b;
}

.WidgetsContainer .WidgetsForeground .EdgeBorder
{
	width: 100%;
	ignore-parent-flow: true;
	border: 5px solid;
	border-image-source: url("s2r://panorama/images/events/monster_hunter/artwork/emblem1_png.vtex");
	border-image-slice: 10px;
	wash-color: #ffdba8;
	opacity: 0.3;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.WidgetsContainer .WidgetsForeground .EdgeBorder.Top
{
	transform: scaleY( -1 );
}

.WidgetsContainer .WidgetsForeground .EdgeBorder.Bottom
{
	vertical-align: bottom;
}

.WidgetsContainer .WidgetContents
{
	width: fill-parent-flow( 1 );
	height: fit-children;
	flow-children: down;
	padding-top: 24px;
}

.WidgetsContainer .Widget
{
	flow-children: down;
	width: fill-parent-flow( 1 );
	vertical-align: bottom;
	z-index: 1;
	transition-property: brightness;
	transition-duration: 0.15s;
}

.WidgetsContainer .Widget .WidgetTitle
{
	horizontal-align: center;
	text-align: center;
	color: TextColorGradientSilver;
	text-shadow: 0px 2px 12px black;
	font-weight: semi-bold;
	font-size: 16px;
	margin-bottom: -1px;
}

.WidgetsContainer .Widget .WidgetStat
{
	horizontal-align: center;
	text-align: center;
	color: TextColorLighter&CC;
	text-shadow: 0px 2px 8px black;
	margin-bottom: 22px;
	letter-spacing: 1px;
	font-size: 13px;
}

.WidgetsContainer .Widget .ProgressBadge
{
	horizontal-align: center;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 206, 120, 0.8);
	margin-bottom: 22px;
	letter-spacing: 1px;
	font-size: 13px;
	visibility: collapse;
}

.WidgetsContainer .Widget .WidgetBackground
{
	width: 100%;
	height: WidgetHeight;
	ignore-parent-flow: true;
	vertical-align: bottom;
	background-color: rgba(255, 198, 107, 0.05);
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 100%, from( #b48948cb ), color-stop( 0.5, #b4804841 ), to( #b4804800 ) );
	border: 1px solid #ffddae18;
	transition-property: opacity;
	transition-duration: 0.15s;
	opacity: 0;
}

.WidgetsContainer .Widget .WidgetProgressGlow
{
	width: 100%;
	height: WidgetHeight;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 80%, from( #b48048dd ), color-stop( 0.5, #b4804841 ), to( #b4804800 ) );
	vertical-align: bottom;
	-s2-mix-blend-mode: screen;
	opacity: 0.5;
	visibility: collapse;
}

.WidgetsContainer .Widget:hover
{
	brightness: 1.5;
}

.WidgetsContainer .Widget:hover .WidgetBackground
{
	opacity: 0.3;
}

.WidgetsContainer .Widget.ProgressAvailable .WidgetProgressGlow
{
	visibility: visible;
	animation-name: GlowProgressAvailableBackground;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.WidgetsContainer .Widget.ProgressAvailable .ProgressBadge
{
	visibility: visible;
}

.WidgetsContainer .Widget.ProgressAvailable .WidgetStat
{
	visibility: collapse;
}

.WidgetsContainer .Widget.ProgressAvailable .WidgetTitle
{
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 206, 120, 0.8);
}

.WidgetsContainer .Widget.ProgressAvailable .CraftingIcon
{
	visibility: collapse;
}

.WidgetsContainer .Widget.ProgressAvailable .CraftingHeroesList
{
	visibility: visible;
}

.WidgetsContainer .WidgetDivider
{
	width: 1px;
	height: WidgetHeight;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff00 ), color-stop( 0.4, #ffffff ), color-stop( 0.6, #ffffff ), to( #ffffff00 ) );
	wash-color: rgb(255, 226, 177);
	opacity: 0.05;
	margin: 0px -1px;
	z-index: 1;
}

.WidgetsContainer #HunterRankWidget DOTAMonsterHunterRankBadge
{
	horizontal-align: center;
	ui-scale: 55%;
	brightness: 1.5;
}

.WidgetsContainer #CraftingWidget
{
	width: fill-parent-flow( 1.4 );
}

.WidgetsContainer #CraftingWidget:active
{
	sound: "monsterhunter.navigate.viewevent";
}

.WidgetsContainer #CraftingWidget .CraftingIcon
{
	overflow: noclip;
	horizontal-align: center;
	transform: translateY( -8px );
}

.WidgetsContainer #CraftingWidget .CraftingIcon .HeaderIconBackground
{
	width: 30px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
	background-color: rgb(26, 17, 8);
	border: 1px solid rgba(177, 147, 94, 0.5);
	transform: rotateZ( 45deg );
}

.WidgetsContainer #CraftingWidget .CraftingIcon .HeaderIcon
{
	width: 26px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/quest_main_objective_icon_psd.vtex");
	background-size: cover;
	saturation: 0;
	wash-color: #ffdca4;
	vertical-align: center;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList
{
	horizontal-align: center;
	flow-children: right;
	transform: translateX( -8px );
	padding: 4px 24px;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero
{
	vertical-align: center;
	width: 40px;
	height: 40px;
	border-radius: 80px;
	background-color: rgb(17, 15, 12);
	border: 1px solid rgba(179, 162, 129, 0.9);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #ffffff55 ) );
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
	margin-right: -16px;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero DOTAHeroImage
{
	visibility: collapse;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero DOTAHeroImage,.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero Image
{
	width: 28px;
	height: 28px;
	texture-sampling: point;
	horizontal-align: center;
	vertical-align: center;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero.IsHero DOTAHeroImage
{
	visibility: visible;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList .CraftingHero.IsHero Image
{
	visibility: collapse;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList #CraftingHero1
{
	z-index: 3;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList #CraftingHero2
{
	ui-scale: 92%;
	z-index: 2;
	brightness: 0.8;
}

.WidgetsContainer #CraftingWidget .CraftingHeroesList #CraftingHero3
{
	ui-scale: 84%;
	z-index: 1;
	brightness: 0.6;
}

.WidgetsContainer #AtlasWidget .CodexIcon
{
	horizontal-align: center;
	width: 52px;
	height: 52px;
}

.WidgetsContainer #AtlasWidget:active
{
	sound: "monsterhunter.navigate.viewevent";
}

.WidgetsContainer .ViewEventButtonContainer
{
	vertical-align: bottom;
	height: 76px;
	margin-bottom: 2px;
	padding: 0px 16px;
	background-color: rgba(0, 0, 0, 0.6);
	border-left: 1px solid #ffe8c716;
	transition-property: border;
	transition-duration: 0.15s;
}

.WidgetsContainer .ViewEventButtonContainer .ViewEventButton
{
	vertical-align: center;
}

.TutorialDone .WidgetsContainer
{
	visibility: visible;
}

.OnHomePage .WidgetsContainer
{
	opacity: 1;
}

.NumHeroIcons0 #CraftingHero1,.NumHeroIcons0 #CraftingHero2,.NumHeroIcons0 #CraftingHero3
{
	visibility: collapse;
}

.NumHeroIcons1 #CraftingHero2,.NumHeroIcons1 #CraftingHero3
{
	visibility: collapse;
}

.NumHeroIcons2 #CraftingHero3
{
	visibility: collapse;
}

@keyframes 'GlowProgressAvailableBackground'
{
	0%
	{
		opacity: 0.6;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1.2;
	}
	
}

.WIPLabel
{
	horizontal-align: center;
	vertical-align: center;
	color: rgba(255, 0, 255, 0.4);
	margin-bottom: 40px;
	padding: 24px;
	background-color: rgba(255, 0, 255, 0.02);
	border-radius: 4px;
}

#CraftPalicoContainer
{
	horizontal-align: center;
	padding: 40px;
	margin-bottom: -40px;
	transform-origin: 50% 65%;
	transition-property: transform, brightness;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#CraftPalicoContainer.Hovered
{
	transform: scale3d( 1.03, 1.03, 1 );
	brightness: 1.4;
}

.TutorialDone #CraftPalicoContainer
{
	visibility: collapse;
}

#CraftPalicoContainer .PalicoModelContainer
{
	width: 200px;
	height: 200px;
	margin-bottom: 2px;
	overflow: clip;
}

#CraftPalicoContainer .PalicoModelContainer .PalicoModelFX
{
	horizontal-align: center;
	vertical-align: center;
	width: 140%;
	height: width-percentage(100%);
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	blur: gaussian( 4px );
	x: -14%;
	y: 40%;
}

#CraftPalicoContainer .PalicoModelContainer .PalicoModel
{
	horizontal-align: center;
	vertical-align: center;
	width: 260%;
	height: width-percentage(100%);
	overflow: noclip;
	x: -12%;
	y: -30%;
}

#CraftPalicoContainer .CraftPalicoContents
{
	vertical-align: bottom;
	width: 600px;
	height: 100px;
	background-color: gradient( linear, 0% 0%, 70% 0%, from( #473521 ), to( #0B0E11 ) );
	box-shadow: 0px 8px 48px -2px rgba(0, 0, 0, 0.6);
}

#CraftPalicoContainer .CraftPalicoContents .SigilBackground
{
	horizontal-align: left;
	vertical-align: center;
	margin: 0px;
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 80% 100%, from( #a58b6a3a ), color-stop( 0.5, #9b826311 ), to( #00000000 ) );
	overflow: noclip;
	height: 300%;
	width: height-percentage(100%);
	margin-left: -12%;
	margin-top: 120%;
}

#CraftPalicoContainer .CraftPalicoContents .EdgeBorder
{
	width: 100%;
	border: 5px solid;
	border-image-source: url("s2r://panorama/images/events/monster_hunter/artwork/emblem1_png.vtex");
	border-image-slice: 10px;
	wash-color: #ffdba8;
	opacity: 0.3;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#CraftPalicoContainer .CraftPalicoContents .EdgeBorder.Top
{
	transform: scaleY( -1 );
}

#CraftPalicoContainer .CraftPalicoContents .EdgeBorder.Bottom
{
	vertical-align: bottom;
}

#CraftPalicoContainer .CraftPalicoContents .BackgroundBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid #ffd59a0b;
	transition-property: border;
	transition-duration: 0.1s;
}

#CraftPalicoContainer .CraftPalicoContents .Shimmer
{
	width: 100%;
	height: 100%;
	animation-name: Shimmer;
	animation-duration: 6s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

#CraftPalicoContainer .CraftContainer
{
	flow-children: right;
	margin-right: 20px;
	margin-left: 160px;
	vertical-align: center;
	horizontal-align: right;
}

#CraftPalicoContainer .CraftContainer .PalicoLabel
{
	vertical-align: center;
	color: TextColorLightest;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	width: fill-parent-flow( 1 );
	max-height: 52px;
	text-overflow: shrink;
}

#CraftPalicoContainer .CraftContainer .JoinButton
{
	margin-left: 12px;
	ui-scale: 110%;
}

@keyframes 'Shimmer'
{
	0%
	{
		background-color: gradient( linear, -50% -50%, 0% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFC16509 ), to( #FFFFFF00 ) );
	}
	
	15%
	{
		background-color: gradient( linear, 100% 100%, 150% 150%, from( #FFFFFF00 ), color-stop( 0.5, #FFC16509 ), to( #FFFFFF00 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 100% 100%, 150% 150%, from( #FFFFFF00 ), color-stop( 0.5, #FFC16509 ), to( #FFFFFF00 ) );
	}
	
}

@keyframes 'BobPalico'
{
	0%
	{
		transform: none;
	}
	
	2%
	{
		transform: scale3d( 1.03, 1.03, 1 );
		brightness: 1.4;
	}
	
	4%
	{
		transform: none;
		brightness: 1;
	}
	
	6%
	{
		transform: scale3d( 1.03, 1.03, 1 );
		brightness: 1.4;
	}
	
	20%
	{
		transform: none;
		brightness: 1;
	}
	
}

.EventEndDate Label
{
	color: white;
	opacity: 0.3;
}

