/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define RewardDetailPreviewCenterX: -80px;
@define RewardDetailPreviewCenterY: 260px;
DOTAMonsterHunterPage
{
	width: 100%;
	height: 100%;
}

.AsyncContents
{
	width: 100%;
	height: 100%;
}

#MainContents
{
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin-top: 60px;
	horizontal-align: center;
	vertical-align: center;
}

.TutorialNotDone .HideBeforeTutorial
{
	visibility: collapse;
}

.TutorialDone .HideAfterTutorial
{
	visibility: collapse;
}

.FadedBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	margin: 20px 0px 16px;
	transition-property: background-color, border;
	transition-duration: 0.15s;
}

#RankPanel,#CodexPanel
{
	margin: 40px 80px;
	width: 300px;
	padding-bottom: 12px;
	flow-children: down;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.FirstCraftingNotDone #RankPanel,.FirstCraftingNotDone #CodexPanel
{
	visibility: collapse;
}

#RankPanel:hover,#CodexPanel:hover
{
	brightness: 1.5;
	transform: scale3d( 1.04, 1.04, 1 );
}

#RankPanel:hover .FadedBackground,#CodexPanel:hover .FadedBackground
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.15, rgba(0, 0, 0, 0.6) ), color-stop( 0.3, rgba(0, 0, 0, 0.89) ), color-stop( 0.5, rgba(0, 0, 0, 1) ), color-stop( 0.7, rgba(0, 0, 0, 0.89) ), color-stop( 0.85, rgba(0, 0, 0, 0.6) ), to( rgba(0, 0, 0, 0) ) );
	border: 1px solid rgba(255, 229, 194, 0.1);
}

#RankPanel DOTAMonsterHunterButton,#CodexPanel DOTAMonsterHunterButton
{
	horizontal-align: center;
	margin-top: 12px;
	opacity: 0;
	margin-top: 0px;
}

#RankPanel
{
	transition-property: opacity, brightness, transform;
	transition-duration: 0.15s;
}

#RankPanel .RankPanelContents
{
	flow-children: down;
	width: 100%;
}

#RankPanel DOTAMonsterHunterRankBadge
{
	ui-scale: 110%;
	horizontal-align: center;
	margin-bottom: 4px;
	transition-property: transform, brightness;
	transition-duration: 0.15s;
}

#RankPanel .TitleEmblemContainer
{
	horizontal-align: center;
}

#RankPanel .TitleEmblemContainer Label
{
	font-weight: semi-bold;
}

#RankPanel .XPNumbers
{
	horizontal-align: center;
	color: TextColorLightest;
	margin-bottom: -2px;
}

#CodexPanel
{
	horizontal-align: right;
	transition-property: opacity, brightness, transform;
	transition-duration: 0.15s;
}

#CodexPanel .CodexPanelContents
{
	flow-children: down;
	width: 100%;
}

#CodexPanel .CodexIcon
{
	horizontal-align: center;
	width: 100px;
	height: 100px;
}

#CodexPanel .TitleEmblemContainer
{
	horizontal-align: center;
}

#CodexPanel .TitleEmblemContainer Label
{
	font-weight: semi-bold;
}

#CodexPanel .CodexStatsContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 2px;
}

#CodexPanel .CodexStatsContainer .CodexStatBlock
{
	flow-children: down;
	margin: 0px 8px;
}

#CodexPanel .CodexStatsContainer .CodexStatBlock Label
{
	text-align: center;
	horizontal-align: center;
}

#CodexPanel .CodexStatsContainer .CodexStatBlock .CodexStat
{
	color: TextColorLightest;
}

#CodexPanel .CodexStatsContainer .CodexStatBlock .CodexLabel
{
	color: TextColorLight;
}

.FirstCraftingNotDone DOTAMonsterHunterMaterialInventory
{
	visibility: collapse;
	opacity: 0;
}

.FreeSetUnlockedText
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
	color: TextColorGradientGold;
	brightness: 2;
	text-shadow: 1px 1px 6px black;
	font-size: 15px;
	opacity: 0;
	font-weight: semi-bold;
	width: 180px;
	text-align: center;
	letter-spacing: 1.5px;
	ignore-parent-flow: true;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.IntroRevealed .FreeSetUnlockedText
{
	animation-name: RevealAndFade;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
}

@keyframes 'RevealAndFade'
{
	0%
	{
		opacity: 0;
	}
	
	14%
	{
		brightness: 2;
		transform: translateY( -94px );
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
		brightness: 1;
		transform: translateY( -92px );
	}
	
}

.AnimatingIntro #CodexPanel
{
	opacity: 0;
	transform: translateX( 10px ) translateY( -10px );
	transition-duration: 0.6s;
	transition-delay: 0.6s;
}

.AnimatingIntro #RankPanel
{
	opacity: 0;
	transform: translateX( -10px ) translateY( -10px );
	transition-duration: 0.6s;
	transition-delay: 0.6s;
}

.AnimatingIntro DOTAMonsterHunterMaterialInventory
{
	opacity: 0;
	transform: translateY( 50px );
	transition-duration: 0.6s;
	transition-delay: 0.6s;
}

.AnimatingIntro .PurchaseContainer
{
	opacity: 0;
	transform: translateY( 10px );
	transition-duration: 0.6s;
	transition-delay: 1.3s;
}

.NewBadge
{
	color: TextColorLightest;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 2px;
	width: 100%;
	margin: 8px 48px -2px;
	font-weight: semi-bold;
	text-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.6) ), color-stop( 0.5, rgba(177, 137, 72, 0.9) ), color-stop( 0.7, rgba(177, 137, 72, 0.6) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	visibility: collapse;
}

.NewBadge.HasNew
{
	visibility: visible;
	animation-name: CanCraftLabelAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.EventContainer
{
	width: 100%;
	height: 100%;
	opacity: 1;
	transform: none;
	transition-property: transform, opacity;
	transition-duration: 0.15s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
}

.ShowingRewardDetails .EventContainer
{
	opacity: 0;
	transform: scale3d( 1.05, 1.05, 1 );
	transition-duration: 0.3s;
	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.AmbientFX
{
	width: 2200px;
	height: 570px;
	wash-color: #AC997B;
	opacity: 0.3;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#RewardDetails
{
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-delay: 0.1s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.ShowingRewardDetails #RewardDetails
{
	opacity: 1;
	transform: none;
	transition-duration: 0.15s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
}

.RewardsBackgroundImage
{
	width: 1600px;
	margin-top: -200px;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.ExpeditionPackIsOnSale .PremiumText.IsOnSale,.PremiumText.IsNotOnSale
{
	visibility: visible;
}

.ExpeditionPackIsOnSale .PremiumText.IsNotOnSale,.PremiumText.IsOnSale
{
	visibility: collapse;
}

.EventEndedNote
{
	margin-bottom: 264px;
	vertical-align: bottom;
	horizontal-align: center;
	padding: 10px;
	flow-children: right;
	border: 1px solid rgba(228, 220, 255, 0.064);
	border-left: 0px;
	border-right: 0px;
	padding: 0px 180px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, #9e8fcb10 ), color-stop( 0.6, #9e8fcb10 ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: brightness, opacity, transform;
	transition-duration: 0.1s, 0.15s;
}

.EventEndedNote .EventEndText
{
	font-size: 15px;
	color: whitesmoke;
	text-shadow: 0px 1px 4px black;
	margin: 4px 0px;
}

.EventEndedNote .InfoIcon
{
	vertical-align: center;
	margin: 4px;
	wash-color: #eee;
}

.UniversalMaterialsPurchaseNote
{
	margin-bottom: 264px;
	vertical-align: bottom;
	horizontal-align: center;
	padding: 10px;
	flow-children: right;
	border: 1px solid rgba(228, 220, 255, 0.064);
	border-left: 0px;
	border-right: 0px;
	padding: 0px 80px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, #9e8fcb10 ), color-stop( 0.6, #9e8fcb10 ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: brightness, opacity, transform;
	transition-duration: 0.1s, 0.15s;
	opacity: 1;
}

.UniversalMaterialsPurchaseNote .Separator
{
	width: 1px;
	height: 40px;
	background-color: rgba(228, 220, 255, 0.02);
	margin: 0px 8px;
}

.UniversalMaterialsPurchaseNote .EndingSoonContainer
{
	flow-children: right;
	vertical-align: center;
	tooltip-position: top;
}

.UniversalMaterialsPurchaseNote .EndingSoonContainer .EndingSoon
{
	font-size: 15px;
	color: whitesmoke;
	border-bottom: 1px solid rgba(255, 222, 193, 0.03);
	text-shadow: 0px 1px 4px black;
}

.UniversalMaterialsPurchaseNote .UniversalMaterialsDescription
{
	vertical-align: center;
	margin-left: 10px;
	color: rgba(228, 226, 255, 0.9);
	text-shadow: 0px 1px 4px black;
}

.UniversalMaterialsPurchaseNote .PurchaseButton
{
	margin-left: 10px;
	vertical-align: center;
}

.TutorialNotDone .UniversalMaterialsPurchaseNote,.ShowingRewardDetails .UniversalMaterialsPurchaseNote
{
	opacity: 0;
	transform: translateY( 8px );
	transition-delay: 0.25s;
}

.PurchaseContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 0px;
	flow-children: down;
	transition-property: opacity, transform;
	transition-duration: 0s;
}

.FirstCraftingNotDone .PurchaseContainer
{
	visibility: collapse;
}

.PurchaseContainer .Emblem
{
	horizontal-align: center;
	wash-color: rgb(69, 58, 47);
	height: 10px;
	z-index: 1;
}

.PurchaseContainer .Emblem.Top
{
	margin-bottom: -3px;
}

.PurchaseContainer .Emblem.Bottom
{
	transform: scaleY( -1 );
	margin-top: -3px;
}

.PurchaseContainer .PurchaseContainerInfo
{
	horizontal-align: center;
	margin-top: 16px;
	flow-children: down;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote
{
	horizontal-align: center;
	margin-bottom: 12px;
	border: 1px solid rgba(255, 252, 220, 0.064);
	border-left: 0px;
	border-right: 0px;
	padding: 6px 60px 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, #d5c89c10 ), color-stop( 0.6, #d5c89c10 ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: background-color, border;
	transition-duration: 0.1s;
}

.OwnsPremium .PurchaseContainer .PurchaseContainerInfo .PurchaseNote
{
	visibility: collapse;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, #d5c89c22 ), color-stop( 0.6, #d5c89c22 ), to( #00000000 ) );
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote:hover .PremiumText
{
	brightness: 1.5;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText
{
	vertical-align: center;
	font-size: 17px;
	color: TextColorLightest&99;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	height: 24px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText b
{
	text-transform: uppercase;
	color: TextColorGradientGold;
	font-family: titleFont;
	font-size: 14px;
	letter-spacing: 1.5px;
	text-decoration: underline;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText Image
{
	width: 24px;
	margin: 0px 2px;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText .PriceDiscount
{
	color: TextColorGradientGreen;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText .FromPrice
{
	color: TextColorGradientGold;
	text-decoration: line-through;
}

.PurchaseContainer .PurchaseContainerInfo .PurchaseNote .PremiumText .NowPrice
{
	color: TextColorGradientGreen;
	font-weight: semi-bold;
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 12px;
	border: 1px solid rgba(98, 198, 143, 0.068);
	border-left: 0px;
	border-right: 0px;
	padding: 4px 80px 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, GreenLightest&06 ), color-stop( 0.6, GreenLightest&06 ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: background-color, border;
	transition-duration: 0.1s;
	visibility: collapse;
}

.OwnsPremium .PurchaseContainer .PurchaseContainerInfo .OwnedNote
{
	visibility: visible;
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote:hover
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, GreenLightest&09 ), color-stop( 0.6, GreenLightest&09 ), to( #00000000 ) );
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote:hover .OwnedText
{
	brightness: 1.5;
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote .CheckIcon
{
	vertical-align: center;
	margin-right: 4px;
	width: 20px;
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote .OwnedText
{
	vertical-align: center;
	font-size: 17px;
	color: GreenLightest&88;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	transition-property: brightness;
	transition-duration: 0.1s;
}

.PurchaseContainer .PurchaseContainerInfo .OwnedNote .ViewDetailsLink
{
	vertical-align: center;
	margin-left: 8px;
}

.EventTitleContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 16px;
}

.EventTitleContainer .CrossOverLabel
{
	horizontal-align: center;
	color: TextColorLight;
	margin-bottom: 20px;
	letter-spacing: 2.5px;
	text-shadow: 0px 2px 8px black;
	opacity: 0;
}

.EventTitleContainer .LogoContainer
{
	horizontal-align: center;
	ui-scale: 105%;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer
{
	width: 100%;
	height: 100%;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .TitleEmblem
{
	horizontal-align: center;
	width: 90%;
	height: 7px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hero_title_emblem.vsvg");
	background-size: cover;
	background-position: center;
	background-texture-size: 1600px 16px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.5, white ), to( rgba(255, 255, 255, 0) ) );
	brightness: 0.6;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .TitleEmblem.Bottom
{
	vertical-align: bottom;
	transform: scaleY( -1 );
	width: 60%;
}

.EventTitleContainer .LogoContainer .LogoListBackgroundContainer .LogoListBackground
{
	width: 100%;
	height: 100%;
	margin: 7px 0px;
	wash-color: rgb(0, 0, 0);
	opacity: 0.9;
	background-color: gradient( linear, 10% 0%, 90% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.25, rgba(255, 255, 255, 0.9) ), color-stop(0.5, rgba(255, 255, 255, 0.98) ), color-stop(0.75, rgba(255, 255, 255, 0.9) ), to( rgba(255, 255, 255, 0) ) );
}

.EventTitleContainer .LogoContainer .LogoList
{
	padding: 16px 80px;
	flow-children: right;
	horizontal-align: center;
	overflow: noclip;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList
{
	margin-left: 8px;
}

.EventTitleContainer .LogoContainer .LogoList .DotaLogo,.EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	height: 30px;
	vertical-align: center;
	img-shadow: 0px 4px 12px black;
}

.EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	visibility: collapse;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList .DotaLogoCN
{
	visibility: visible;
}

.Language_schinese .EventTitleContainer .LogoContainer .LogoList .DotaLogo
{
	visibility: collapse;
}

.EventTitleContainer .LogoContainer .LogoList .CrossIcon
{
	height: 20px;
	margin-left: 18px;
	margin-right: -2px;
	vertical-align: center;
	img-shadow: 0px 4px 12px black;
}

.EventTitleContainer .LogoContainer .LogoList .MonsterHunterLogoHoriz
{
	height: 80px;
	saturation: 0.8;
	margin-top: -36px;
	vertical-align: center;
	img-shadow: 0px 4px 12px 3 black;
}

.EventTitleContainer .EventDescriptionContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 12px;
}

.EventTitleContainer .EventDescriptionContainer .EventDescription
{
	text-align: center;
	text-shadow: TextShadowMedium;
	color: TextColorLightest&CC;
	font-size: 20px;
	max-width: 800px;
	max-height: 58px;
	text-overflow: shrink;
}

.EventTitleContainer .EventDescriptionContainer .InfoIcon
{
	vertical-align: top;
	margin-top: 6px;
}

.EventTitleContainer .EventDescriptionContainer .HowToPlayLabel
{
	margin-left: 8px;
	color: TextColorGradientGold;
	text-shadow: 0px 2px 12px black;
	border-bottom: 1px solid rgba(255, 243, 208, 0.05);
	transition-property: color, brightness;
	transition-duration: 0.1s, 0.05s;
}

.EventTitleContainer .EventDescriptionContainer .HowToPlayLabel:hover
{
	color: white;
}

.EventTitleContainer .EventDescriptionContainer .HowToPlayLabel:active
{
	brightness: 0.5;
}

.EventTitleContainer .Separator
{
	margin-top: 13px;
	margin-left: 20px;
	margin-right: 20px;
	height: 16px;
	width: 1px;
	background-color: TextColorGradientGold;
	brightness: 0.2;
}

#PreviewPremiumContainer
{
	horizontal-align: center;
	vertical-align: top;
	flow-children: down;
	margin-top: 16px;
	background-color: black;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #A68E6A ), to( #524937 ) );
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	transition-property: brightness, background-color;
	transition-duration: 0.1s;
}

#PreviewPremiumContainer .Slider
{
	flow-children: right;
}

#PreviewPremiumContainer .Slider Label
{
	padding: 3px 0px;
	width: 120px;
	vertical-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-align: center;
	color: TextColorGradientGold;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
	text-overflow: shrink;
	margin: 2px;
}

#PreviewPremiumContainer .Slider .Option:hover
{
	brightness: 1.5;
}

#PreviewPremiumContainer .BackgroundSlider
{
	ignore-parent-flow: true;
	width: 120px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c3422 ), to( #191109 ) );
	border: 1px solid white;
	border-brush: WhiteGradientBorderSoft;
	border-radius: 2px;
	margin: 2px;
	vertical-align: center;
	transition-property: position;
	transition-duration: 0.1s;
}

#PreviewPremiumContainer.PreviewingPremium .BackgroundSlider
{
	x: 124px;
}

.OwnsPremium #PreviewPremiumContainer
{
	visibility: collapse;
}

.HeroCodexButton
{
	horizontal-align: right;
}

.Spinner
{
	horizontal-align: center;
	vertical-align: center;
}

.InventoryBackgroundBlocker
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.MaterialTraderVisible:not(.ShowingRewardDetails) .InventoryBackgroundBlocker
{
	opacity: 1;
}

.InventoryBackgroundBlockerRewardDetails
{
	background-color: rgba(0, 0, 0, 0.64);
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	width: 100%;
	height: 100%;
}

.MaterialTraderVisible.ShowingRewardDetails .InventoryBackgroundBlockerRewardDetails
{
	opacity: 1;
}

DOTAMonsterHunterMaterialInventory
{
	padding-bottom: 134px;
}

#RewardsList
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
	overflow: noclip;
	height: 660px;
	margin-bottom: 210px;
	y: -30px;
}

@keyframes 'CanCraftPipAnimation'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 16px rgba(255, 205, 130, 0.1);
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 24px rgba(255, 205, 130, 0.2);
	}
	
}

@keyframes 'CanCraftLabelAnimation'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

.Craftable
{
	flow-children: down;
	vertical-align: bottom;
	width: 1080px;
	overflow: noclip;
	ui-scale: 100%;
	margin-left: -430px;
	margin-right: -430px;
	transition-property: transform, opacity;
	transition-duration: 0.4s, 0.1s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
}

.Craftable.IntroHidden #EconSetPreviewContainer,.Craftable.IntroHidden .HeroName,.Craftable.IntroHidden .SetName
{
	brightness: 0.05;
}

.Craftable #CraftableHitBox
{
	width: 215px;
	height: 30%;
	horizontal-align: center;
	vertical-align: bottom;
	ignore-parent-flow: true;
	margin-bottom: 7%;
}

.Craftable.poogie #CraftableHitBox
{
	height: 16%;
}

.Craftable .LowerContents
{
	width: 240px;
	horizontal-align: center;
	flow-children: down;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.Craftable .LowerContents .StyleSelectorContainer
{
	horizontal-align: center;
	flow-children: right;
	background-color: black;
	border-radius: 15px;
	border: 1px solid #423b2ac7;
	padding: 5px;
	opacity: 0;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.Craftable .LowerContents .StyleSelectorContainer .StyleSelectorButton
{
	margin: 0px 5px;
}

.Craftable .LowerContents #StyleSelectorContainer
{
	visibility: collapse;
}

.Craftable .LowerContents .VariantPips
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-top: 6px;
	transition-property: opacity;
	transition-duration: 0s;
}

.TutorialNotDone .Craftable .LowerContents .VariantPips
{
	opacity: 0;
}

.Craftable .LowerContents .VariantPips.IntroHidden
{
	opacity: 0.3;
	transition-duration: 0.1s;
}

.Craftable .LowerContents .SetName
{
	color: TextColorLightest&CC;
	padding: 0px 12px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.Craftable .LowerContents .HeroName
{
	color: TextColorLighter&CC;
	margin-top: -1px;
}

.Craftable .LowerContents .ProgressContainer
{
	horizontal-align: center;
	height: 40px;
	flow-children: down;
	opacity: 0;
}

.Craftable .LowerContents .ProgressContainer .SubPipContainerWraper
{
	flow-children: right;
	margin: 0% 0px 4px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	wash-color: rgb(255, 241, 224);
	opacity: 0.08;
}

.Craftable .LowerContents .ProgressContainer .SubPipExtension
{
	width: 32px;
	height: 12px;
}

.Craftable .LowerContents .ProgressContainer #SubPipContainer
{
	flow-children: right;
}

.Craftable .LowerContents .ProgressContainer #SubPipContainer .SubPip
{
	width: 24px;
	height: 12px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/craftable_progress_off_png.vtex");
	background-size: cover;
}

.Craftable .LowerContents .ProgressContainer #SubPipContainer .SubPip.SubPipActive
{
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/craftable_progress_on_png.vtex");
}

.Craftable .LowerContents .ProgressContainer Label
{
	horizontal-align: center;
	text-align: center;
	color: TextColorLightest;
	text-shadow: 0px 0px 8px rgba(255, 200, 118, 0.2);
}

.Craftable.ShowNumCrafted .LowerContents .ProgressContainer
{
	opacity: 1;
}

.Craftable .LockIcon
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 2px;
	padding: 2px;
	width: 20px;
	wash-color: #AC997B;
	margin-bottom: 36px;
	ignore-parent-flow: true;
	tooltip-position: top;
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.2s;
	visibility: collapse;
}

.Craftable .CraftingAvailableContainer
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 11%;
	width: 300px;
}

.Craftable .CanCraftFX
{
	width: 100%;
	height: 80px;
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	transition-property: opacity;
	transition-duration: 0.2s;
	visibility: collapse;
}

.Craftable .NotifyCanCraftSomething
{
	text-align: center;
	color: whitesmoke;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	font-weight: semi-bold;
	padding: 6px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.6) ), color-stop( 0.5, rgba(177, 137, 72, 0.9) ), color-stop( 0.7, rgba(177, 137, 72, 0.6) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: opacity, transform;
	transition-duration: 0.2s, 0.08s;
	transition-delay: 0s;
	visibility: collapse;
}

.TutorialDone .Craftable.CanCraftSomething .NotifyCanCraftSomething
{
	visibility: visible;
}

.TutorialDone .Craftable.CanCraftSomething .NotifyCanCraftSomething
{
	animation-name: CanCraftLabelAnimation;
	animation-duration: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.TutorialDone .Craftable.CanCraftSomething .CanCraftFX
{
	visibility: visible;
}

.TutorialDone .Craftable.CanCraftSomething .SetGlow
{
	opacity: 1;
}

.TutorialNotDone .Craftable:not(.DimBeforeFirstCrafting) .NotifyCanCraftSomething
{
	visibility: visible;
}

.TutorialNotDone .Craftable:not(.DimBeforeFirstCrafting) .NotifyCanCraftSomething
{
	animation-name: CanCraftLabelAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.TutorialNotDone .Craftable:not(.DimBeforeFirstCrafting) .CanCraftFX
{
	visibility: visible;
}

.TutorialNotDone .Craftable:not(.DimBeforeFirstCrafting) .SetGlow
{
	opacity: 1;
}

.Craftable.Hidden
{
	opacity: 0;
	transition-delay: 0.3s;
	transition-duration: 0.3s;
}

.Craftable.Hovered .NotifyCanCraftSomething
{
	transform: scale3d( 1.04, 1.04, 1.0 );
}

.Craftable.Hovered .LowerContents .StyleSelectorContainer
{
	opacity: 1;
}

.Craftable.RewardDetailsFocused
{
	z-index: 10;
}

.Craftable.RewardDetailsFocused .Preview .FloorShadow
{
	transform: scale3d( 1.5, 1.5, 1 );
}

.Craftable.RewardDetailsFocused .Preview .SetGlow
{
	opacity: 0;
}

.Craftable.RewardDetailsFocused .NotifyCanCraftSomething,.Craftable.RewardDetailsFocused .CanCraftFX
{
	opacity: 0;
	transition-delay: 0.3s;
}

.Craftable.RewardDetailsFocused .TrackingStatus
{
	opacity: 0;
	transition-delay: 0.1s, 0s;
}

.Craftable.RewardDetailsFocused .LowerContents,.Craftable.RewardDetailsFocused .LockIcon
{
	opacity: 0;
	transition-delay: 0.3s;
}

.Craftable #RewardSetDetailedPreview
{
	opacity: 0;
	brightness: 0;
	transition-property: opacity, brightness;
	transition-duration: 0.3s, 0s;
	transition-delay: 0.3s, 0s;
	visibility: collapse;
}

.Craftable #RewardSetPreview
{
	opacity: 1;
	overflow: noclip;
	transition-property: transform, brightness, saturation, wash-color, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.Craftable #EconSetPreviewContainer
{
	opacity-mask: url("s2r://panorama/images/masks/hero_model_preview_mask_loadout_psd.vtex");
	opacity-mask-position: 0 -10px;
}

.Craftable #EconSetPreviewContainer.ShowDetailedPreview #RewardSetDetailedPreview
{
	visibility: visible;
	opacity: 1;
	transition-delay: 0s;
	brightness: 1;
}

.Craftable #EconSetPreviewContainer.ShowDetailedPreview #RewardSetPreview
{
	opacity: 0;
	transition-delay: 0s;
}

.Craftable .Preview
{
	width: 100%;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: bottom;
	transform: scale3d( 0.6, 0.6, 1 ) translateY( 120px );
	transform-origin: 50% 99%;
	transition-property: transform, brightness, saturation, wash-color, pre-transform-scale2d;
	transition-duration: 0.42s, 0.42s, 0.42s, 0.42s, 0.25s;
	transition-timing-function: cubic-bezier(0.5, 0, 0.3, 1);
}

.Craftable .Preview .FloorShadow
{
	width: 35%;
	height: 36px;
	margin-bottom: 19%;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgba(0, 0, 0, 0.8) ), color-stop( 0.6, rgba(0, 0, 0, 0.6) ), to( #00000000 ) );
	transition-property: opacity, transform;
	transition-duration: 0.3s;
}

.Craftable .Preview DOTAUIEconSetPreview
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	height: width-percentage( 100% );
	overflow: noclip;
	transition-property: transform;
	transition-duration: 0.42s;
}

.Craftable .Preview .SetGlow
{
	width: 130%;
	height: 110%;
	horizontal-align: center;
	vertical-align: bottom;
	hue-rotation: -200deg;
	overflow: noclip;
	transform: scaleY( -1 );
	opacity-brush: gradient( linear, 0% 26%, 0% 90%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.Craftable .Preview .SetGlow.Thin
{
	width: 50%;
	brightness: 4;
	saturation: 0.8;
	hue-rotation: -190deg;
}

.Craftable Label
{
	horizontal-align: center;
	text-shadow: TextShadowMedium;
}

.VariantPip
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	tooltip-position: bottom;
	transition-property: opacity, brightness;
	transition-duration: 0.1s;
}

.VariantPip:hover
{
	brightness: 2;
	transform: scale3d( 1.05, 1.05, 1 );
}

.VariantPip .Connector
{
	width: 100%;
	height: 1.3px;
	vertical-align: center;
	background-color: #ffe8b992;
	brightness: 0.7;
	visibility: collapse;
}

.VariantPip.Connected .Connector
{
	visibility: visible;
}

.VariantPip.First .Connector
{
	width: 50%;
	horizontal-align: right;
}

.VariantPip.Last .Connector
{
	width: 50%;
	horizontal-align: left;
}

.VariantPip .IntroFX
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ffdda3;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper_png.vtex");
}

.VariantPip.Highlight
{
	animation-name: HighlightPip;
	animation-duration: 0.55s;
	animation-iteration-count: 1;
}

.VariantPip.Highlight .IntroFX
{
	visibility: visible;
	animation-name: HighlightPipFX;
	animation-duration: 3.7s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.VariantPip .PipBackground
{
	horizontal-align: center;
	vertical-align: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
}

.VariantPip .PipBackground .PipBackgroundInner
{
	horizontal-align: center;
	vertical-align: center;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.VariantPip .GuildLockedIcon
{
	margin: 7px;
	horizontal-align: center;
	vertical-align: center;
	brightness: 0.4;
}

.VariantPip .GuildIcon
{
	visibility: collapse;
	margin: 2px;
}

.VariantPip .CheckMarkIcon
{
	width: 14px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	margin: 2px;
}

.VariantPip .PipBackground,.VariantPip.UnlockedButNotAvailable .PipBackground,.VariantPip.DarkenFree .PipBackground,.VariantPip.Unlocked .PipBackground
{
	border: 1px solid #ffe8b992;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #ffffff41 ) );
	background-color: rgb(14, 11, 9);
}

.VariantPip .PipBackground .PipBackgroundInner,.VariantPip.UnlockedButNotAvailable .PipBackground .PipBackgroundInner,.VariantPip.DarkenFree .PipBackground .PipBackgroundInner,.VariantPip.Unlocked .PipBackground .PipBackgroundInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #654730 ), to( #191109 ) );
	border: 1px solid #ffe8b90a;
}

.VariantPip:not(.Unlocked) .PipBackground .PipBackgroundInner
{
	opacity: 0;
}

.VariantPip.CraftingAvailable.Unlocked .PipBackground
{
	border: 1px solid #ffe8b9;
	box-shadow: 0px 0px 8px #ffb84f23;
	animation-name: CanCraftLabelAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.VariantPip.CraftingAvailable.Unlocked .PipBackground .PipBackgroundInner
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #dfc078 ), to( #876229 ) );
}

.VariantPip.UnlockedButNotAvailable
{
	opacity: 0.2;
}

.VariantPip.UnlockedButNotAvailable .GuildLockedIcon
{
	visibility: collapse;
}

.VariantPip.DarkenFree
{
	opacity: 0.2;
}

.VariantPip.DarkenFree .GuildLockedIcon
{
	visibility: collapse;
}

.VariantPip.Unlocked .GuildLockedIcon
{
	visibility: collapse;
}

.VariantPip.CanCraft .PipBackground
{
	border: 1px solid #ffe8b992;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( rgb(236, 213, 174) ), color-stop( 0.5, #b88649 ), to( #392712 ) );
}

.VariantPip.CanCraft .PipBackground .PipBackgroundInner
{
	visibility: collapse;
}

.VariantPip.Complete .PipBackground
{
	border: 1px solid #b9ffb992;
	background-color: GreenLighter;
	background-color: gradient( radial, 50% 40%, 0% 0%, 80% 80%, from( GreenLighter ), to( GreenLight ) );
	box-shadow: 0px 0px 12px GreenLight&44;
}

.VariantPip.Complete .PipBackground .PipBackgroundInner
{
	visibility: collapse;
}

.VariantPip.Complete .CheckMarkIcon
{
	visibility: visible;
}

.VariantPip.PreviewingPremium .GuildIcon
{
	visibility: visible;
}

.VariantPip.PreviewingPremium .GuildLockedIcon
{
	visibility: collapse;
}

@keyframes 'HighlightPip'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	30%
	{
		transform: scale3d( 1.14, 1.14, 1 );
		brightness: 1.9;
	}
	
	50%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	70%
	{
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	100%
	{
		transform: none;
	}
	
}

@keyframes 'HighlightPipFX'
{
	0%
	{
		opacity: 0.2;
	}
	
	100%
	{
		opacity: 0;
	}
	
}

.SomethingHovered .Craftable .Preview
{
	brightness: 0.6;
}

.SomethingHovered .Craftable.DimBeforeFirstCrafting .Preview
{
	brightness: 1.0;
}

.SomethingHovered .Craftable.Hovered .Preview
{
	pre-transform-scale2d: 1.01;
	brightness: 1.3;
}

.SomethingHovered .Craftable.Hovered.DimBeforeFirstCrafting .Preview
{
	pre-transform-scale2d: 1.0;
	brightness: 1.0;
}

.DimBeforeFirstCrafting .RewardSetPreview
{
	brightness: 0.4;
	saturation: 0.1;
	wash-color: rgb(92, 83, 75), 121);
}

.DimBeforeFirstCrafting .LowerContents,.DimBeforeFirstCrafting .LockIcon
{
	opacity: 0;
}

.SetBackgroundImage
{
	width: 1800px;
	margin-top: 150px;
	margin-left: -45%;
	horizontal-align: center;
	opacity-brush: gradient( linear, 20% 0%, 80% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.35, white ), color-stop( 0.65, white ), to( rgba(255, 255, 255, 0) ) );
	opacity: 0;
	transform: scale3d( 0.98, 0.98, 1 );
	transform-origin: 80% 40%;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.ShowingRewardDetails .SetBackgroundImage
{
	opacity: 0;
	transform: none;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.TrackingStatus
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 6px;
	border-top: 1px solid rgba(255, 229, 194, 0.05);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.35, white ), color-stop( 0.65, white ), to( rgba(255, 255, 255, 0) ) );
	padding: 4px 24px;
	transition-property: opacity, transform, brightness;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.TrackingStatus .TrackingStatusIcon
{
	width: 24px;
	height: 24px;
	background-size: cover;
	vertical-align: center;
	transition-property: brightness;
	transition-duration: 0.1s;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_off_png.vtex");
}

.IsTracked .TrackingStatus .TrackingStatusIcon
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_on_png.vtex");
}

.TrackingStatus Label
{
	margin-left: 4px;
	vertical-align: middle;
	color: TextColorLightest;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.IsTracked .TrackingStatus Label
{
	opacity: 0.7;
}

.TrackingStatus:hover Label
{
	opacity: 1;
}

.TrackingStatus:active
{
	transform: translateY( 1px );
	brightness: 0.6;
}

.TopRightButtonsContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 8px;
	margin-right: 8px;
}

.TopRightButtonsContainer .HowToPlayContainer
{
	flow-children: right;
	border-radius: 5px;
	padding: 4px 12px;
	background-color: #000000cc;
}

.TopRightButtonsContainer .HowToPlayContainer Label
{
	color: white;
}

.TopRightButtonsContainer .HowToPlayContainer:hover
{
	brightness: 1.5;
}

.TopRightButtonsContainer .HowToPlayContainer:active
{
	brightness: 0.5;
}

.TopRightButtonsContainer .HowToPlayContainer .Icon
{
	height: 18px;
	width: 18px;
	vertical-align: center;
	margin-right: 6px;
	wash-color: white;
}

.ShowingRewardDetails .TopRightButtonsContainer .HowToPlayContainer
{
	visibility: collapse;
}

.ShowingRewardDetails .DebugPopupButton
{
	visibility: collapse;
}

.Craftable.courier DOTAUIEconSetPreview
{
	transform: translateX( 0% ) translateY( 20% ) scale3d( .5, .5, 1 );
}

.Craftable.sniper DOTAUIEconSetPreview
{
	transform: translateX( 0% ) translateY( 15% ) scale3d( .8, .8, 1 );
}

.Craftable.techies DOTAUIEconSetPreview
{
	transform: translateX( -4% ) translateY( 5% ) scale3d( .95, .95, 1 );
}

.Craftable.antimage DOTAUIEconSetPreview
{
	transform: translateX( 1% ) translateY( 6% ) scale3d( .9, .9, 1 );
}

.Craftable.dragonknight DOTAUIEconSetPreview
{
	transform: translateX( 2% ) translateY( 6.5% ) scale3d( .85, .85, 1 );
}

.Craftable.rathalos DOTAUIEconSetPreview
{
	transform: translateX( 8% ) translateY( 6% ) scale3d( .75, .75, 1 );
}

.Craftable.beastmaster DOTAUIEconSetPreview
{
	transform: translateX( 5% ) translateY( 9% ) scale3d( .85, .85, 1 );
}

.Craftable.boar DOTAUIEconSetPreview
{
	transform: translateX( 5% ) translateY( 19.5% ) scale3d( .775, .775, 1 );
}

.Craftable.windranger DOTAUIEconSetPreview
{
	transform: translateX( -1% ) translateY( 8% ) scale3d( .825, .825, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.Craftable.poogie DOTAUIEconSetPreview
{
	transform: translateX( -2% ) translateY( 15% ) scale3d( 1, 1, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.Craftable.RewardDetailsFocused .Preview
{
	transform: scale3d( 1, 1, 1 ) translateY( 140px );
}

.Craftable.RewardDetailsFocused.courier DOTAUIEconSetPreview
{
	transform: translateX( -0% ) translateY( 16% ) scale3d( .86, .86, 1 );
}

.Craftable.RewardDetailsFocused.courier .FloorShadow
{
	transform: scale3d( 1.5, 4, 1 ) translateY( -3% );
}

.Craftable.RewardDetailsFocused.sniper DOTAUIEconSetPreview
{
	transform: translateX( -2% ) translateY( 4% ) scale3d( 1.1, 1.1, 1 );
}

.Craftable.RewardDetailsFocused.techies DOTAUIEconSetPreview
{
	transform: translateX( -7% ) translateY( -2% ) scale3d( 1.2, 1.2, 1 );
}

.Craftable.RewardDetailsFocused.techies .FloorShadow
{
	transform: scale3d( 1.5, 3, 1 ) translateY( -2% );
}

.Craftable.RewardDetailsFocused.antimage DOTAUIEconSetPreview
{
	transform: translateX( 0% ) translateY( 1% ) scale3d( 1.05, 1.05, 1 );
}

.Craftable.RewardDetailsFocused.dragonknight DOTAUIEconSetPreview
{
	transform: translateX( 2% ) translateY( 2% ) scale3d( 0.96, 0.96, 1 );
}

.Craftable.RewardDetailsFocused.beastmaster DOTAUIEconSetPreview
{
	transform: translateX( 1% ) translateY( 3% );
}

.Craftable.RewardDetailsFocused.windranger DOTAUIEconSetPreview
{
	transform: translateX( 2% ) translateY( 0% ) scale3d( 1.06, 1.06, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.Craftable.RewardDetailsFocused.poogie DOTAUIEconSetPreview
{
	transform: translateX( -3% ) translateY( 5% ) scale3d( 1.25, 1.25, 1 );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.EventEndDate
{
	transition-property: opacity;
	transition-duration: 0.1s;
}

.EventEndDate Label
{
	color: TextColorLightest;
	opacity: 0.15;
}

.ShowingRewardDetails .EventEndDate
{
	opacity: 0;
}

