/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define TextShadowSmall: 0px 1px 4px rgba(0, 0, 0, 0.8);
@define TextShadowMedium: 0px 2px 8px rgba(0, 0, 0, 0.8);
@define TextShadowLarge: 0px 3px 12px rgba(0, 0, 0, 0.8);
@define ImgShadowSmall: 0px 1px 4px rgba(0, 0, 0, 0.8);
@define ImgShadowMedium: 0px 2px 8px rgba(0, 0, 0, 0.8);
@define ImgShadowLarge: 0px 4px 16px rgba(0, 0, 0, 0.8);
@define TextShadowWhite: 0px 1px 1px rgba(255, 255, 255, 0.2);
@define ImgShadowWhite: 0px 1px 1px rgba(255, 255, 255, 0.2);
@define GreenLightest: #85FFBA;
@define GreenLighter: #31ab66;
@define GreenLight: #186B3C;
@define Tier0Low: #603023;
@define Tier0High: #8D673C;
@define Tier1Low: #414453;
@define Tier1High: #8197A5;
@define Tier2Low: #89611C;
@define Tier2High: #D8B644;
@define Tier3Low: #3B6EA8;
@define Tier3High: #8cd3ff;
@define Tier4Low: #3B6EA8;
@define Tier4High: #ffd3cf;
@define TextColorLightest: #F8EAD6;
@define TextColorLighter: #C8B79F;
@define TextColorLight: #AF947D;
@define TextColorGradientSilver: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
@define TextColorGradientGold: gradient( linear, 0% 0%, 0% 100%, from( #ffe8c6 ), to( #a08a68 ) );
.MHTitleFont
{
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.MHTitleFont.UltraLarge
{
	font-size: 48px;
	line-height: 1.1;
}

.MHTitleFont.ExtraLarge
{
	font-size: 32px;
}

.MHTitleFont.Large
{
	font-size: 24px;
}

.MHTitleFont.Medium
{
	font-size: 19px;
	font-weight: semi-bold;
}

.MHTitleFont.Small
{
	font-size: 14px;
}

.MHDisplayFont
{
	font-family: titleFont;
}

.MHDisplayFont.ExtraLarge
{
	font-size: 32px;
}

.MHDisplayFont.Large
{
	font-size: 20px;
}

.MHDisplayFont.Medium
{
	font-size: 16px;
	letter-spacing: 0.1px;
}

.MHDisplayFont.Small
{
	font-size: 14px;
	letter-spacing: 0.2px;
}

.MHBodyFont.Large
{
	font-size: 18px;
}

.MHBodyFont.Medium
{
	font-size: 16px;
}

.MHBodyFont.Small
{
	font-size: 14px;
}

.MHLabelFont
{
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.MHLabelFont.Large
{
	font-size: 16px;
}

.MHLabelFont.Medium
{
	font-size: 14px;
}

.MHLabelFont.Small
{
	font-size: 12px;
}

.PageBackgroundContainer
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
	transform: none;
}

.PageBackgroundContainer .PageBackgroundImage
{
	width: 100%;
	height: 100%;
	max-width: 2200px;
	horizontal-align: center;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.ShowingRewardDetails .PageBackgroundContainer .PageBackgroundImage
{
	transform: scale3d( 1.03, 1.03, 1 );
}

.AspectRatio21x9 .PageBackgroundContainer .PageBackgroundImage
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, #FFFFFF ), color-stop( 0.8, #FFFFFF ), to( #FFFFFF00 ) );
}

#SigilContainer,.SigilContainer
{
	horizontal-align: center;
	margin-top: -98px;
}

#SigilContainer .SigilBackground,#SigilContainer .SigilOutline,.SigilContainer .SigilBackground,.SigilContainer .SigilOutline
{
	width: 400px;
}

#SigilContainer .SigilBackground,.SigilContainer .SigilBackground
{
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 80% 100%, from( #8979661a ), color-stop( 0.5, #8779680a ), to( #00000000 ) );
}

#SigilContainer .SigilOutline,.SigilContainer .SigilOutline
{
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 80% 90%, from( #887c6d22 ), color-stop( 0.5, #887c6d15 ), to( #00000000 ) );
}

.InfoIcon
{
	opacity-brush: TextColorGradientGold;
	wash-color: white;
	opacity: 0.4;
	width: 16px;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.InfoIcon:hover
{
	opacity: 1;
}

.DebugButtons
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 60px;
	padding: 3px;
}

.DebugButtons Button,.DebugButtons TextButton
{
	margin: 3px;
}

.DebugLabel
{
	color: rgb(171, 44, 202);
	vertical-align: center;
	margin-right: 8px;
	padding: 6px;
}

.DebugLabel:hover
{
	color: whitesmoke;
}

.TitleEmblemContainer
{
	flow-children: right;
}

.TitleEmblemContainer .Title
{
	color: TextColorGradientSilver;
	text-align: center;
	text-shadow: 0px 2px 12px black;
}

.TitleEmblemContainer .MHEmblem
{
	width: 30px;
	height: 17px;
	ui-scale: 80%;
	vertical-align: center;
	margin: 0px 6px 2px;
	wash-color: #AC997B;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/emblem_edge.vsvg");
	background-size: cover;
	background-texture-size: 60px 34px;
}

.TitleEmblemContainer .MHEmblem.Right
{
	transform: scaleX( -1 );
}

.TitleEmblemContainer.Large .MHEmblem
{
	ui-scale: 100%;
}

.TitleEmblemContainer.Invert .Title
{
	color: #745F42;
	text-shadow: TextShadowWhite;
}

.TitleEmblemContainer.Invert .MHEmblem
{
	wash-color: #745F42;
}

#CloseButtonContainer
{
	horizontal-align: right;
	width: 96px;
	height: 96px;
	overflow: clip;
	ui-scale: 90%;
}

#CloseButtonContainer .CloseButtonBackground,#CloseButtonContainer .CloseButtonBackgroundHover
{
	overflow: noclip;
	width: 140px;
	height: width-percentage( 100% );
	horizontal-align: right;
}

#CloseButtonContainer .CloseButtonBackground
{
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.04);
	transform: rotateZ( 45deg ) translateX( 78px ) translateY( -78px );
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#CloseButtonContainer .CloseButtonBackgroundHover
{
	background-color: gradient( linear, 100% 100%, 50% 50%, from( #634d29 ), to( #ffd899 ) );
	transform: rotateZ( 45deg ) translateX( 76px ) translateY( -166px );
	transition-property: transform;
	transition-duration: 0.08s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#CloseButtonContainer .CloseIcon
{
	width: 22px;
	height: 22px;
	horizontal-align: right;
	margin: 13px;
	img-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
	wash-color: TextColorLighter;
	opacity: 0.6;
	transition-property: wash-color, opacity;
	transition-duration: 0.1s;
}

#CloseButtonContainer.Hovered .CloseButtonBackground
{
	background-color: rgba(0, 0, 0, 0.8);
}

#CloseButtonContainer.Hovered .CloseButtonBackground
{
	transform: rotateZ( 45deg ) translateX( 74px ) translateY( -74px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
}

#CloseButtonContainer.Hovered .CloseButtonBackgroundHover
{
	transform: rotateZ( 45deg ) translateX( 77px ) translateY( -77px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
}

#CloseButtonContainer.Hovered .CloseIcon
{
	wash-color: white;
	opacity: 1;
}

#RankProgressBar,#LevelProgressBar
{
	horizontal-align: center;
	width: 250px;
	height: 8px;
	border: 0px;
	border-radius: 2px;
	margin: 4px 0px;
	box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
}

#RankProgressBar .ProgressBarLeft,#LevelProgressBar .ProgressBarLeft
{
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.062);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier0Low ), to( Tier0High ) );
}

#RankProgressBar .ProgressBarRight,#LevelProgressBar .ProgressBarRight
{
	background-color: rgb(0, 0, 0);
	border: 1px solid TextColorLight&22;
}

#RankProgressBar.Rank10 .ProgressBarLeft,#LevelProgressBar.Rank10 .ProgressBarLeft
{
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.062);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier1Low ), to( Tier1High ) );
}

#RankProgressBar.Rank20 .ProgressBarLeft,#LevelProgressBar.Rank20 .ProgressBarLeft
{
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.062);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier2Low ), to( Tier2High ) );
}

#RankProgressBar.Rank30 .ProgressBarLeft,#LevelProgressBar.Rank30 .ProgressBarLeft
{
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.062);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier3Low ), to( Tier3High ) );
}

#LevelProgressBar
{
	height: 12px;
}

.Tier1 #RankProgressBar .ProgressBarLeft,.Tier1 #LevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier1Low ), to( Tier1High ) );
}

.Tier2 #RankProgressBar .ProgressBarLeft,.Tier2 #LevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier2Low ), to( Tier2High ) );
}

.Tier3 #RankProgressBar .ProgressBarLeft,.Tier3 #LevelProgressBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( Tier3Low ), to( Tier3High ) );
}

.FadedBackground
{
	border-left: 0px;
	border-right: 0px;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgb(255, 255, 255) ), color-stop( 0.7, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
}

#SimulateButton
{
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 64px;
	margin-right: 400px;
}

.EventEndDate
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 112px;
	flow-children: right;
}

.EventEndDate Label
{
	horizontal-align: center;
	text-shadow: 0px 1px 8px black;
	text-align: center;
}

.EventEndDate .Pipe
{
	width: 1px;
	height: 12px;
	vertical-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	margin: 0px 8px;
}

