/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterPurchaseUniversalMaterialsPopup.PopupPanel
{
	border: 0px;
	padding: 0px;
	margin: 0;
	box-shadow: none;
	background-color: none;
	flow-children: down;
}

.MainContentsContainer
{
	margin: 0;
	background-color: #000;
	border: 1px solid #AC997B;
	padding: 4px;
}

.MainContentsContainer .MainContents
{
	width: 1360px;
	height: 940px;
	background-color: gradient( linear, 0% 50%, 0% 90%, from( #0a0804 ), to( #16120b ) );
	box-shadow: inset 0px 0px 0px 1px #ffe2b411;
	flow-children: down;
}

.MainContents
{
	flow-children: down;
}

#PurchaseOptionsContainer,.PurchaseSummaryHeader,.PurchaseSummaryContainer,.PurchaseMaterials
{
	blur:gaussian(2px );
	brightness: 0.2;
}

.OwnsPremium #PurchaseOptionsContainer,.OwnsPremium .PurchaseSummaryHeader,.OwnsPremium .PurchaseSummaryContainer,.OwnsPremium .PurchaseMaterials
{
	blur: none;
	brightness: 1;
}

.PremiumNeededBlocker
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	transition-property: brightness, transform;
	transition-duration: 0.1s;
}

.PremiumNeededBlocker .CenteredContent
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	border: 1px solid rgba(255, 252, 220, 0.064);
	border-left: 0px;
	border-right: 0px;
	padding: 8px 200px 6px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.4, #d5c89c10 ), color-stop( 0.6, #d5c89c10 ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	transition-property: background-color, border;
	transition-duration: 0.1s;
}

.PremiumNeededBlocker .CenteredContent:hover
{
	brightness: 1.5;
	transform: scale3d( 1.01, 1.01, 1 );
}

.PremiumNeededBlocker .CenteredContent:active
{
	brightness: 0.5;
}

.PremiumNeededBlocker Label
{
	horizontal-align: center;
	text-shadow: 0 0 3px black;
	font-size: 30px;
	color: TextColorLightest&CC;
}

.OwnsPremium .PremiumNeededBlocker
{
	visibility: collapse;
}

.PopupTopLeftTexture
{
	width: 900px;
	-s2-mix-blend-mode: screen;
	ignore-parent-flow: true;
}

.PopupBottomRightTexture
{
	width: 422px;
	horizontal-align: right;
	vertical-align: bottom;
	transform: scale3d( -1, -1, 1 );
	-s2-mix-blend-mode: screen;
	brightness: 0.3;
	ignore-parent-flow: true;
}

.SigilContainer
{
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 0%, 0% 70%, from( white ), to( rgba(255, 255, 255, 0) ) );
	opacity: 0.5;
}

.InnerContents
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 72px 32px 56px 32px;
}

.TitleEmblemContainer
{
	horizontal-align: center;
	z-index: 1;
	transition-property: opacity;
	transition-duration: 0.15s;
	margin-bottom: 20px;
}

.TitleEmblemContainer .GuildIconLarge
{
	width: 72px;
	margin-right: 6px;
	vertical-align: center;
}

.TitleEmblemContainer.Hovered
{
	z-index: 0;
}

.LongDash
{
	width: fill-parent-flow(1);
	height: 1px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.5, rgba(177, 147, 94, 0.6) ), to( #ffffff00 ) );
}

.LongDash.Right
{
	transform: scaleX( -1 );
}

.TitleDescription
{
	horizontal-align: center;
	text-align: center;
	font-size: 26px;
	text-shadow: 0px 4px 12px black;
	margin-top: 20px;
	margin-bottom: 20px;
	z-index: 1;
	color: TextColorLightest&CC;
}

#PurchaseOptionsContainer
{
	flow-children: down;
	horizontal-align: center;
}

.PurchaseOption
{
	flow-children: right;
	border: 1px solid #e9c5a00c;
	background-color: rgba(255, 217, 192, 0.01);
	padding: 12px 24px 12px 24px;
	margin: 2px;
}

.PurchaseOption .OptionIcon
{
	overflow: noclip;
	margin-left: 12px;
	margin-right: -8px;
	tooltip-position: top;
}

.PurchaseOption .OptionIcon DOTAMonsterHunterMaterial
{
	width: 80px;
	horizontal-align: center;
	vertical-align: center;
}

.PurchaseOption .OptionIcon DOTAMonsterHunterMaterial.Small
{
	width: 72px;
	x: -14px;
	transform: rotateZ( -3deg );
	brightness: 0.75;
	blur: gaussian( 0.25px );
}

.PurchaseOption .OptionIcon DOTAMonsterHunterMaterial.Smaller
{
	width: 64px;
	x: -28px;
	transform: rotateZ( -6deg );
	brightness: 0.5;
	blur: gaussian( 0.5px );
}

.PurchaseOption .DescriptionSection
{
	width: 400px;
	margin-left: 24px;
	flow-children: down;
	vertical-align: center;
}

.PurchaseOption .DescriptionSection .PurchaseDescription
{
	color: TextColorLighter;
	font-size: 22px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.PurchaseOption .DescriptionSection .PurchaseDescription b
{
	font-weight: semi-bold;
	color: TextColorLightest;
}

.PurchaseOption .DescriptionSection .PurchasePrice
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #D5E876 ), color-stop( 0.2, #D5E876, to( #6DAE4A ) );
	font-size: 22px;
}

.PurchaseOption .QuantitySection
{
	flow-children: right;
	vertical-align: center;
	margin-left: 24px;
}

.PurchaseOption .QuantitySection .Qty
{
	color: rgba(251, 231, 212, 1);
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 1px;
	margin-right: 7px;
	vertical-align: center;
}

.PurchaseOption .QuantitySection #QuantityTextEntry
{
	width: 60px;
	height: 50px;
	box-shadow: 0 0 rgba(0, 0, 0, 0.25);
	background-color: gradient( linear, 0% 100%, 0% 0%, from( rgba(120, 95, 54, 0.20) ), color-stop( 0.6, rgba(64, 46, 25, 0.20), to( rgba(64, 46, 25, 0.20) ) ) );
	border-radius: 3px;
	border: 1px solid #fff9;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0.6) ), to( rgba(255, 255, 255, 0.2) ) );
	font-size: 26px;
	text-align: center;
	color: #888;
	text-align: center;
	horizontal-align: center;
	padding: 8px 0px 0px 15px;
}

.PurchaseOption.HasQuantity .QuantitySection #QuantityTextEntry
{
	color: white;
	brightness: 1.5;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 235, 193) ), to( rgb(233, 212, 187) ) );
	box-shadow: 0px 0px 24px rgba(255, 187, 115, 0.05);
}

.PurchaseOption .RoundButton
{
	vertical-align: center;
	margin-left: 10px;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c3422 ), to( #191109 ) );
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-brush: TextColorGradientGold;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
	transition-duration: 0.1s;
	transition-property: background-color, transform, border, brightness;
}

.PurchaseOption .RoundButton Image
{
	horizontal-align: center;
	vertical-align: center;
	width: 22px;
	height: 22px;
	img-shadow: 0px 2px 8px black;
	opacity-brush: TextColorGradientGold;
	transition-duration: 0.1s;
	transition-property: opacity-brush;
}

.PurchaseOption .RoundButton:hover
{
	transform: scale3d( 1.05, 1.05, 1 );
	border-color: white;
}

.PurchaseOption .RoundButton:hover Image
{
	opacity-brush: white;
}

.PurchaseOption .RoundButton:active
{
	transform: scale3d( 1.05, 1.05, 1 ) translateY( 1px );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #191109 ), to( #4c3422 ) );
	brightness: 0.5;
}

.ButtonRow
{
	flow-children: right;
	horizontal-align: center;
}

.PurchaseButton
{
	horizontal-align: center;
	ui-scale: 125%;
	margin-top: 24px;
	width: 260px;
}

.OwnsPremium .PurchaseButton
{
	visibility: collapse;
}

.PurchaseSummaryHeader
{
	horizontal-align: center;
	flow-children: right;
	width: 80%;
	margin-top: 23px;
}

.PurchaseSummaryHeader Label
{
	margin: 0px 3px;
	vertical-align: center;
	color: TextColorGradientSilver;
}

.PurchaseSummaryHeader .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.95, rgba(177, 147, 94, 0.6) ), to( #ffffff00 ) );
}

.PurchaseSummaryHeader .Dash.Right
{
	transform: scaleX( -1 );
}

.PurchaseSummaryContainer
{
	flow-children: down;
	horizontal-align: center;
	padding: 12px 0 16px 0;
}

.PurchaseSummaryContainer Label
{
	margin: 0px 8px;
}

.PurchaseSummaryLine
{
	color: TextColorLighter;
	font-size: 22px;
	visibility: collapse;
}

.PurchaseSummaryLine b
{
	color: TextColorLightest;
}

.SelectedCommons .PurchaseCommons,.SelectedUncommons .PurchaseUncommons,.SelectedRares .PurchaseRares,.SelectedSuperRares .PurchaseSuperRares
{
	visibility: visible;
}

.PurchaseSummaryNothingSelected
{
	color: #777;
	visibility: collapse;
}

.NothingSelected .PurchaseSummaryNothingSelected
{
	visibility: visible;
}

DOTAMonsterHunterButton.PurchaseMaterials
{
	max-width: 260px;
	ui-scale: 120%;
}

