/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.MaterialsReceived
{
	border: 0px;
	padding: 0px;
	margin: 0;
	box-shadow: none;
	background-color: none;
	flow-children: down;
	width: 100%;
	height: 100%;
}

.EarlyPurchaseBackpack
{
	ignore-parent-flow: true;
	width: 400px;
	vertical-align: center;
	horizontal-align: center;
	transform: rotateZ(-15deg) translateX(500px) translateY(200px);
	z-index: 100;
	visibility: collapse;
	animation-name: BagBounce;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.EarlyPurchaseMaterials .EarlyPurchaseBackpack
{
	visibility: visible;
}

.EarlyPurchaseBackpackImageTile1,.EarlyPurchaseBackpackImageTile2,.EarlyPurchaseBackpackImageTile3,.EarlyPurchaseBackpackImageTile4
{
	animation-name: TileBounce;
	animation-duration: 2.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SuperRareTileFX2,.SuperRareTileFX3,.SuperRareTileBGFX2,.SuperRareTileBGFX3
{
	margin: 0px;
	width: 100%;
	height: 100%;
	animation-name: TileBounce;
	animation-name: TileBounce;
	animation-duration: 2.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SuperRareTileBGFX2
{
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/artwork/material_pack_backpack_tile_1_mask_psd.vtex");
}

.SuperRareTileBGFX3
{
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/artwork/material_pack_backpack_tile_4_mask_psd.vtex");
}

.EarlyPurchaseBackpackImageTile2
{
	animation-duration: 1.75s;
}

.EarlyPurchaseBackpackImageTile3
{
	animation-duration: 2.4s;
}

.EarlyPurchaseBackpackImageTile4
{
	animation-duration: 2.1s;
}

@keyframes 'BagBounce'
{
	0%
	{
		transform: rotateZ(-13deg) translateX(500px) translateY(215px);
	}
	
	100%
	{
		transform: rotateZ(-16deg) translateX(505px) translateY(200px);
	}
	
}

@keyframes 'TileBounce'
{
	0%
	{
		transform: rotateZ(-2deg) translateX(7px) translateY(10px);
	}
	
	100%
	{
		transform: rotateZ(2deg) translateX(0px) translateY(00px);
	}
	
}

.StockingContents
{
	ignore-parent-flow: true;
	width: 400px;
	vertical-align: center;
	horizontal-align: center;
	transform: rotateZ(-15deg) translateX(-530px) translateY(200px);
	z-index: 100;
	visibility: collapse;
	animation-name: StockingBounceX;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.HolidayMaterials .StockingContents
{
	visibility: visible;
}

.Stocking
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	animation-name: StockingBounceY;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.HolidayMaterials .Stocking
{
	visibility: visible;
}

.Tile1,.Tile2,.Tile3,.Tile4
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
	animation-name: TileBounceY;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.HolidayMaterials .Tile1,.HolidayMaterials .Tile2,.HolidayMaterials .Tile3,.HolidayMaterials .Tile4
{
	visibility: visible;
}

.RareTileFX,.SuperRareTileFX,.SuperRareTileBGFX
{
	margin: 0px;
	width: 100%;
	height: width-percentage( 100% );
	animation-name: TileBounceY;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.SuperRareTileBGFX
{
	height: 100%;
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/artwork/material_pack_stocking_tile_2_mask_psd.vtex");
}

.RareTileFX,.Tile1
{
	animation-duration: 2.2s;
}

.SuperRareTileBGFX,.SuperRareTileFX,.Tile2
{
	animation-duration: 2.9s;
}

.Tile3
{
	animation-duration: 3.1s;
}

.Tile4
{
	animation-duration: 1.77s;
}

@keyframes 'StockingBounceX'
{
	0%
	{
		transform: rotateZ(-15deg) translateX(-530px) translateY(230px);
	}
	
	100%
	{
		transform: rotateZ(-13deg) translateX(-525px) translateY(230px);
	}
	
}

@keyframes 'StockingBounceY'
{
	0%
	{
		transform: rotateZ(-0deg) translateX(-0px) translateY(0px);
	}
	
	100%
	{
		transform: rotateZ(-0deg) translateX(-0px) translateY(25px);
	}
	
}

@keyframes 'TileBounceY'
{
	0%
	{
		transform: rotateZ(-2deg) translateX(-0px) translateY(0px);
	}
	
	100%
	{
		transform: rotateZ(-0deg) translateX(-0px) translateY(10px);
	}
	
}

.MaterialsReceivedContents
{
	border: 1px solid rgba(255, 237, 215, 0.066);
	width: 960px;
	flow-children: down;
	background-color: gradient( linear, 0% 50%, 0% 90%, from( #0f0b06 ), to( #211b11 ) );
	padding: 44px 0px;
	vertical-align: center;
	horizontal-align: center;
}

.FromPremiumPass .MaterialsReceivedContents
{
	padding: 0px;
}

.MaterialsReceived .PopupTitle
{
	margin: 0px;
	font-family: titleFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	color: TextColorGradientSilver;
	text-align: center;
	text-shadow: 0px 2px 12px black;
	font-weight: normal;
}

.MaterialsReceived .PopupDescription
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	color: LightestGrey;
	text-shadow: 0px 2px 8px black;
	color: TextColorLighter&CC;
	padding: 0px 12px;
}

.FromPremiumPass .PopupDescription
{
	visibility: collapse;
}

.ButtonContainer
{
	horizontal-align: center;
	flow-children: right;
}

.ButtonContainer DOTAMonsterHunterButton
{
	ui-scale: 110%;
}

.ButtonContainer .OKButton
{
	width: 220px;
	horizontal-align: center;
}

.FromPremiumPass .ButtonContainer .OKButton
{
	visibility: collapse;
}

#MaterialList
{
	flow-children: right-wrap;
	horizontal-align: center;
	margin: 36px 40px 44px;
}

.FromPremiumPass #MaterialList
{
	margin: 12px 40px 24px;
}

#MaterialList DOTAMonsterHunterMaterial
{
	tooltip-body-position: 50% 50px;
	margin: -6px;
	ui-scale: 200%;
}

.FromPremiumPass #MaterialList DOTAMonsterHunterMaterial
{
	margin: -6px;
	ui-scale: 165%;
}

#MaterialList DOTAMonsterHunterMaterial:disabled
{
	saturation: 0.0;
	brightness: 0.2;
}

.PurchaseConfirmation
{
	width: 100%;
	padding: 12px;
	margin-bottom: 44px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( GreenLighter&09 ), color-stop( 0.5, GreenLightest&11 ), to( GreenLighter&09 ) );
	border-bottom: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( GreenLighter&00 ), color-stop( 0.5, GreenLightest&22 ), to( GreenLighter&00 ) );
	visibility: collapse;
}

.PurchaseConfirmation Label
{
	horizontal-align: center;
	text-align: center;
	font-weight: semi-bold;
	color: GreenLightest&CC;
	text-shadow: 0px 2px 12px black;
	padding-left: 28px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/check_fancy.vsvg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 0% 80%;
}

.FromPremiumPass .PurchaseConfirmation
{
	visibility: visible;
}

.FromPremiumContentContainer
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	visibility: collapse;
}

.FromPremiumPass .FromPremiumContentContainer
{
	visibility: visible;
}

.FromPremiumContentContainer .YesAutoCraftButton
{
	horizontal-align: center;
	margin: 12px;
	ui-scale: 120%;
}

.FromPremiumContentContainer .YesCraftMessage
{
	horizontal-align: center;
	color: TextColorLightest&CC;
	font-size: 22px;
	text-shadow: 0px 2px 8px black;
}

.FromPremiumContentContainer .NoCraftContainer
{
	width: 100%;
	padding: 4px 4px 12px;
	margin-top: 36px;
	border-top: 1px solid rgba(255, 237, 211, 0.098);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 40% 100%, from( #0000004c ), to( #00000000 ) );
}

.FromPremiumContentContainer .NoCraftContainer .NoCraftContents
{
	flow-children: right;
	horizontal-align: center;
}

.FromPremiumContentContainer .NoCraftContainer .NoCraftMessage
{
	vertical-align: center;
	color: TextColorLighter&CC;
	text-shadow: 0px 2px 8px black;
}

.FromPremiumContentContainer .NoCraftContainer .NoAutoCraftButton
{
	vertical-align: center;
	margin: 12px;
}

