/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterMaterialDetailsPopup.PopupPanel
{
	border: 0px;
	padding: 0px;
	margin: 0;
	box-shadow: none;
}

.MainContentsContainer
{
	margin: 0;
	border: 1px solid #000 padding: 4px;
	background-color: #000000;
}

.MainContentsContainer .MainContents
{
	min-width: 450px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( DarkerGrey&99 ), to( DarkestGrey ) );
	flow-children: down;
}

#CloseButtonContainer
{
	ui-scale: 80%;
}

#CloseButtonContainer .CloseButtonBackground
{
	background-color: none;
	border: 0px;
}

#CloseButtonContainer .CloseIcon
{
	wash-color: rgb(218, 240, 255);
}

.MaterialNameContainer
{
	min-width: 450px;
	width: 100%;
	height: 75px;
	flow-children: right;
	overflow: clip;
	background-color: rgba(227, 245, 255, 0.012);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}

.MaterialNameContainer .RareBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid white;
	border-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #FFFFFF ), color-stop( 0.5, #FFFFFF55 ), to( #FFFFFF00 ) );
	blur: gaussian(4px);
	transition-property: opacity-brush;
	transition-duration: 0.2s;
	visibility: collapse;
}

.RarityRare .MaterialNameContainer .RareBorder,.RaritySuperRare .MaterialNameContainer .RareBorder
{
	visibility: visible;
}

.MaterialNameContainer .MaterialBackgroundGlow
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 0% 0%, 0% 0%, 100% 250%, from( #FFFFFF ), color-stop( 0.5, #ffffff50 ), to( #FFFFFF00 ) );
	opacity: 0.3;
}

.MaterialNameContainer .RareFX
{
	ignore-parent-flow: true;
	width: 600px;
	height: 300%;
	vertical-align: center;
	opacity: 0.3;
	overflow: noclip;
	transform: translateX( -280px );
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	opacity: 0.5;
	visibility: collapse;
}

.RaritySuperRare .MaterialNameContainer .RareFX
{
	visibility: visible;
}

.MaterialNameContainer #Material
{
	width: 64px;
	height: 64px;
	vertical-align: center;
}

.MaterialNameContainer .TextContainer
{
	flow-children: down;
	vertical-align: center;
	width: fill-parent-flow(1);
}

.MaterialNameContainer .TextContainer .RarityTextContainer
{
	padding: 4px 0px;
	margin: -4px 0px;
}

.MaterialNameContainer .TextContainer .MaterialName
{
	color: white;
	text-shadow: 0px 2px 8px black;
}

.MaterialNameContainer .TextContainer .RarityTextGlow
{
	width: 200%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	blur: gaussian(4px);
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #FFFFFF ), color-stop( 0.5, #ffffff33 ), to( #FFFFFF00 ) );
	transition-property: opacity-brush;
	transition-duration: 0.1s;
	visibility: collapse;
}

.RarityRare .MaterialNameContainer .TextContainer .RarityTextGlow,.RaritySuperRare .MaterialNameContainer .TextContainer .RarityTextGlow
{
	visibility: visible;
}

.MaterialNameContainer .TextContainer .RarityText
{
	text-shadow: 0px 1px 8px 1 black;
	font-size: 12px;
}

.RarityRare .MaterialNameContainer .TextContainer .RarityText,.RaritySuperRare .MaterialNameContainer .TextContainer .RarityText
{
	color: white;
	font-weight: semi-bold;
}

.HeroDropList
{
	margin: 16px 0px;
	width: fit-children;
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	border-bottom: 1px solid rgba(215, 234, 255, 0.057);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
}

.HeroDropList .HeroDropTitle
{
	horizontal-align: center;
	color: LighterGrey;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}

.MaterialName_rainbow_pigment .HeroDropList .HeroDropTitle,.MaterialName_poogie_voucher .HeroDropList .HeroDropTitle,.MaterialName_palico_voucher .HeroDropList .HeroDropTitle
{
	visibility: collapse;
}

.HeroDropList .SuperRareTitle
{
	horizontal-align: center;
	margin: 8px;
	color: LightestGrey;
	visibility: collapse;
}

.MaterialName_rainbow_pigment .HeroDropList .SuperRareTitle,.MaterialName_poogie_voucher .HeroDropList .SuperRareTitle,.MaterialName_palico_voucher .HeroDropList .SuperRareTitle
{
	visibility: visible;
}

.HeroDropList #HeroDropContainer
{
	flow-children: down;
	horizontal-align: center;
	padding: 8px 0px 12px;
}

.HeroDropList #HeroDropContainer .HeroIconRow
{
	flow-children: right;
	horizontal-align: center;
}

.HeroDropList #HeroDropContainer .HeroIconRow .HeroIconDrop
{
	width: 24px;
	height: width-percentage(100%);
	margin: 2px;
	texture-sampling: point;
}

.HeroDropList #HeroDropContainer .HeroIconRow .HeroIconDrop.HeroPortrait
{
	width: 55px;
}

.HeroDropList .SuperRareDescription
{
	visibility: collapse;
}

.CraftingListContainer
{
	width: fit-children;
	min-width: 450px;
	flow-children: down;
	horizontal-align: center;
}

.CraftingListContainer .CraftingListTitle
{
	width: 100%;
	horizontal-align: center;
	color: LighterGrey;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
	margin: 0px 16px 0px;
	text-align: center;
}

.CraftingListContainer #CraftingList
{
	horizontal-align: center;
	flow-children: right;
	max-width: 1400px;
	overflow: scroll clip;
	padding: 0px 15px;
	padding-top: 8px;
	padding-bottom: 36px;
}

.CraftingListContainer #CraftingList.GridLayout
{
	max-height: 600px;
	flow-children: down-wrap;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer
{
	width: 390px;
	margin: 8px 4px 0px;
	flow-children: down;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .PrerequisiteLock,.CraftingListContainer #CraftingList .SetCraftingListContainer .PremiumLock
{
	horizontal-align: left;
	vertical-align: middle;
	margin-left: 6px;
	visibility: collapse;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .PrerequisiteLock
{
	width: 16px;
	transform: translateY( -1px );
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .PremiumLock
{
	width: 20px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer.NeedPrerequisite .PrerequisiteLock
{
	visibility: visible;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer.NeedPremium .PremiumLock
{
	visibility: visible;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingListTitle
{
	width: fill-parent-flow(1);
	padding: 8px;
	flow-children: right;
	background-color: #090f1971;
	border: 1px solid #dceaff06;
	height: 52px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingListTitle .HeroIcon
{
	margin-right: 10px;
	width: 25px;
	height: width-percentage(100%);
	horizontal-align: left;
	vertical-align: center;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingListTitle .SetName
{
	horizontal-align: left;
	vertical-align: center;
	color: TextColorGradientSilver;
	text-shadow: 0px 2px 8px black;
	width: fill-parent-flow(1);
	line-height: 1.2;
	max-height: 34px;
	vertical-align: center;
	text-overflow: shrink;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingListTitle .VariantName
{
	horizontal-align: right;
	vertical-align: center;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList
{
	flow-children: down;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem
{
	margin-top: 2px;
	width: fill-parent-flow(1);
	flow-children: right;
	background-color: #dceaff02;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .ImageContainer
{
	background-color: black;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
	height: 60px;
	width: height-percentage( 150% );
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
	margin-right: 10px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .ImageContainer #ItemImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 104%;
	height: 104%;
	overflow: noclip;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .ItemName
{
	max-width: 210px;
	vertical-align: center;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity
{
	flow-children: down;
	margin: 3px;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 10px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity DOTAMonsterHunterMaterial
{
	margin: -8px -10px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity .HasEnoughGlow
{
	width: 180%;
	height: 130%;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffc44d ), color-stop(0.5, #ffbd6d9a ), to( #ffead100 ) );
	blur: gaussian( 8px );
	opacity: 0;
	overflow: noclip;
	margin-top: -30%;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity .MaterialName
{
	font-size: 14px;
	vertical-align: center;
	width: fill-parent-flow( 1 );
	color: #d8c9b77d;
	margin-left: 8px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity .Quantity
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 1px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity .QuantityText
{
	vertical-align: center;
	text-align: center;
	color: TextColorLighter&66;
	margin-right: 1px;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity.HaveEnough .MaterialName
{
	color: #ffead1;
	text-shadow: 0px 0px 12px #ffba6537;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity.HaveEnough .QuantityText
{
	font-weight: semi-bold;
	color: #ffead1;
	text-shadow: 0px 0px 12px #ffba6537;
}

.CraftingListContainer #CraftingList .SetCraftingListContainer .SetCraftingList .SetCraftingItem .MaterialQuantity.HaveEnough .HasEnoughGlow
{
	opacity: 0.2;
}

#NoMoreNeeded
{
	margin: 16px 0px;
	width: 100%;
	flow-children: down;
	horizontal-align: center;
}

#NoMoreNeeded Label
{
	horizontal-align: center;
	color: LighterGrey;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
}

