/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterSmallRewardsPopup.PopupPanel
{
	border: 0px;
	padding: 0px;
	box-shadow: none;
	background-color: none;
	animation-name: none;
	margin-bottom: 110px;
}

.MainContentsContainer
{
	background-color: rgba(34, 24, 18, 1);
	padding: 4px;
	margin-top: 102px;
	border: 1px solid #AC997B;
}

.MainContents
{
	width: 1280px;
	height: 760px;
	background-color: #000;
	background-color: gradient( radial, 0% 0%, 0% 0%, 100% 100%, from( #32291f ), to( #000000 ) );
	box-shadow: inset 0px 0px 0px 1px #ffe2b411;
}

.Contents
{
	flow-children: down;
	width: 100%;
}

.RankTier
{
	width: 100%;
	margin: 6px;
	box-shadow: 0px 4px 48px -2px rgba(0, 0, 0, 0.3);
}

.RankTier .RankTierBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid #AC997B;
	opacity: 0.0;
}

.RankTier .RankTierEdge
{
	width: 2px;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #ffffff33 ) );
	opacity: 0.6;
}

.RankTier .RankTierGlow
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 0% 0%, 0% 0%, 100% 200%, from( #ffffff ), color-stop( 0.5, #ffffff19 ), to( #ffffff00 ) );
	opacity: 0.4;
}

.RankTier .RankTierContents
{
	flow-children: down;
	padding: 12px 24px 24px;
}

.RankTier .RankTierTitleContainer
{
	flow-children: right;
	margin-bottom: 4px;
}

.RankTier .RankTierTitleContainer .RankTierImage
{
	width: 52px;
	height: width-percentage(100%);
	background-size: cover;
	vertical-align: center;
	margin-right: 6px;
	background-size: cover;
	img-shadow: 0px 2px 12px black;
}

.RankTier .RankTierTitleContainer .RankTierTitleInfo
{
	flow-children: down;
	vertical-align: center;
}

.RankTier .RankTierTitleContainer .RankTierTitleInfo .RankTierLabel
{
	font-weight: semi-bold;
	color: whitesmoke;
	text-shadow: 0px 2px 8px black;
}

.RankTier .RankTierTitleContainer .RankTierTitleInfo .RankTierLevels
{
	color: rgba(245, 245, 245, 0.3);
	text-shadow: 0px 2px 8px black;
}

.RankTier #RankTierContainer
{
	flow-children: right-wrap;
}

.RankTier.Tier0 .RankTierGlow
{
	wash-color: Tier0Low;
}

.RankTier.Tier0 .RankTierEdge
{
	wash-color: Tier0High;
}

.RankTier.Tier0 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_00_psd.vtex");
}

.RankTier.Tier1 .RankTierGlow
{
	wash-color: Tier1Low;
}

.RankTier.Tier1 .RankTierEdge
{
	wash-color: Tier1High;
}

.RankTier.Tier1 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_01_psd.vtex");
}

.RankTier.Tier2 .RankTierGlow
{
	wash-color: Tier2Low;
}

.RankTier.Tier2 .RankTierEdge
{
	wash-color: Tier2High;
}

.RankTier.Tier2 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_02_psd.vtex");
}

.RankTier.Tier3 .RankTierGlow
{
	wash-color: Tier3Low;
}

.RankTier.Tier3 .RankTierEdge
{
	wash-color: Tier3High;
}

.RankTier.Tier3 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_03_psd.vtex");
}

.RankReward
{
	flow-children: down;
	background-color: rgba(9, 6, 4, 0.9);
	border: 1px solid rgba(197, 171, 160, 0.18);
	width: 80px;
	height: 80px;
	padding: 4px;
	margin: 4px;
}

.RankReward.Claimed
{
	border: 1px solid rgba(239, 213, 179, 0.9);
}

.RankReward.Claimed .RankRewardLabel
{
	color: rgba(239, 213, 179, 0.9);
}

.RankReward.Available
{
	border: 2px solid rgba(239, 213, 179, 1.0);
	padding: 2px;
	animation-name: ClaimableRewardAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.RankReward.Available:hover
{
	background-color: rgba(239, 213, 179, 0.01);
	brightness: 2;
}

.RankReward #RankRewardContainer
{
	horizontal-align: center;
	width: 50px;
	height: 50px;
}

.RankReward .RankRewardLabel
{
	horizontal-align: center;
}

.RankReward .Unlocked
{
	background-color: black;
	border: 1px solid rgba(109, 178, 144, 1);
	box-shadow: 0px 0px 15px 0px rgba(75, 255, 234, 0.05);
}

.RankReward .Unlocked .CheckMark
{
	visibility: visible;
	margin: 2px;
}

@keyframes 'ClaimableRewardAnimation'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px rgba(255, 205, 130, 0.1);
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 32px rgba(255, 205, 130, 0.2);
	}
	
}

.AnyReward
{
	horizontal-align: center;
}

.AnyReward Label
{
	text-align: center;
	horizontal-align: center;
	font-size: 12px;
}

.EmoticonIconRef,.EmoticonIconShadow,.EmoticonIcon
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: bottom;
}

.SprayReward
{
	width: 60px;
	height: 55px;
	transition-property: brightness, transform;
	transition-duration: 0.15s;
}

.SprayReward:hover
{
	brightness: 1.5;
	transform: scale3d( 1.05, 1.05, 1 );
	transition-duration: 0.05s;
}

.SprayReward:active
{
	brightness: 0.5;
	transform: scale3d( 1.05, 1.05, 1 ) translateY( 1px );
}

.EmoticonReward
{
	margin: 0 4px;
}

.ScrapReward Label
{
	color: rgb(239, 213, 179);
}

.TraderReward
{
	background-color: rgba(239, 213, 179, 0.03);
	border-radius: 2px;
	padding: 6px 4px;
	flow-children: right;
}

.TraderReward Label
{
	color: rgb(239, 213, 179);
	vertical-align: center;
}

.TraderReward .TraderIcon
{
	height: 20px;
	width: height-percentage( 100% );
	margin-left: 4px;
	vertical-align: center;
	wash-color: rgb(239, 213, 179);
	background-image: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/token_trader_png.vtex");
	background-size: contain;
}

.PopupTopLeftTexture
{
	width: 800px;
	-s2-mix-blend-mode: screen;
}

.PopupBottomRightTexture
{
	width: 600px;
	horizontal-align: right;
	vertical-align: bottom;
	transform: scale3d( -1, -1, 1 );
	-s2-mix-blend-mode: screen;
	brightness: 0.3;
}

.SigilContainer
{
	ignore-parent-flow: true;
	margin-top: -180px;
}

DOTAMonsterHunterRankBadge.CurrentBadge
{
	ignore-parent-flow: true;
	horizontal-align: center;
	ui-scale: 200%;
	margin: 8px 0px;
	margin-top: 40px;
}

.InfoSection
{
	flow-children: down;
	width: fill-parent-flow(0.5);
	padding-top: 120px;
	background-color: rgba(255, 219, 157, 0.01);
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.RankInfo
{
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 28px;
}

.RankInfo .TitleEmblemContainer
{
	horizontal-align: center;
}

.RankInfo #LevelProgressBar
{
	width: 100%;
}

.RankInfo .XPNumbers
{
	horizontal-align: center;
	margin: 0px;
	margin-bottom: 2px;
	margin-left: 6px;
	color: TextColorLightest;
	text-shadow: 0px 2px 12px black;
}

.RankInfo .ProgressionInfo
{
	text-align: center;
	horizontal-align: center;
	color: TextColorLightest&77;
	text-shadow: 0px 2px 6px black;
}

.RankInfo .DashDivider_Horizontal
{
	width: 100%;
	height: 1px;
	margin-top: 16px;
	wash-color: TextColorLight;
	opacity: 0.2;
}

.RankInfo .ProgressionStatsContainer
{
	horizontal-align: center;
	flow-children: right;
	width: 100%;
	margin: 0px 32px;
}

.RankInfo .ProgressionStatsContainer .DashDivider_Vertical
{
	width: 1px;
	height: 100%;
	wash-color: TextColorLight;
	opacity: 0.2;
}

.RankInfo .ProgressionStatsContainer .ProgressionStatBlock
{
	flow-children: down;
	padding: 8px 0px;
	width: fill-parent-flow(1);
}

.RankInfo .ProgressionStatsContainer .ProgressionStatBlock Label
{
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 2px 6px black;
	color: TextColorLightest&77;
}

.RankInfo .ProgressionStatsContainer .ProgressionStatBlock .ProgressionStatLabel.Win
{
	color: winnerGreen&99;
}

.RankInfo .InfoIcon
{
	vertical-align: center;
}

.RankInfo .XPRow
{
	horizontal-align: center;
	flow-children: right;
}

.RankInfo .NextLevelText
{
	font-family: Radiance;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.1px;
}

.RewardsSection
{
	horizontal-align: center;
	flow-children: down;
	height: fit-children;
}

.RewardsSection .RewardsSubsection
{
	height: fit-children;
	width: fit-children;
	horizontal-align: center;
	flow-children: right;
}

#SpraysList
{
	flow-children: right-wrap;
}

#RankGroups
{
	flow-children: right;
	margin-left: 50px;
}

.ClaimButton
{
	visibility: collapse;
	margin-top: 10px;
}

.BehindBageShadow
{
	ignore-parent-flow: true;
	background-color: black;
	width: 110px;
	height: 110px;
	border-radius: 45px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
	horizontal-align: center;
	margin-top: -10px;
}

.HunterRankGroup
{
	padding-top: 40px;
	width: fill-parent-flow( 0.25 );
}

.HunterRankGroup #RankProgressBar
{
	margin-top: 40px;
	margin-left: 198px;
	width: 160px;
}

.HunterRankGroup .RankContents
{
	width: 200px;
	flow-children: down;
}

.HunterRankGroup .RankContents DOTAMonsterHunterRankBadge
{
	overflow: noclip;
}

.HunterRankGroup .RankContents .RankText
{
	font-family: Radiance;
	text-transform: uppercase;
	color: rgba(252, 234, 215, 1);
	letter-spacing: 1.1px;
	margin-top: 4px;
	font-weight: semi-bold;
}

.HunterRankGroup .RankContents .RewardsLabel
{
	horizontal-align: center;
	margin-bottom: 16px;
	color: TextColorLight;
	text-shadow: 0px 2px 8px black;
}

.HunterRankGroup .RankContents DOTAMonsterHunterRankBadge,.HunterRankGroup .RankContents .RankText,.HunterRankGroup .RankContents .ClaimButton
{
	horizontal-align: center;
}

.HunterRankGroup.Last #RankProgressBar
{
	visibility: collapse;
}

.HunterRankGroup.Claimable .ClaimButton
{
	visibility: visible;
}

.HunterRankGroup.Rank1 .RewardsLabel
{
	visibility: collapse;
}

.DebugButtons
{
	ignore-parent-flow: true;
}

