/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterPremiumPopup.PopupPanel
{
	border: 0px;
	padding: 0px;
	margin: 0;
	box-shadow: none;
	background-color: none;
	flow-children: down;
}

.MainContentsContainer
{
	margin: 0;
	background-color: #000;
	border: 1px solid #AC997B;
	padding: 4px;
}

.MainContentsContainer .MainContents
{
	width: 1600px;
	height: fit-children;
	background-color: #000;
	background-color: gradient( linear, 0% 50%, 0% 90%, from( #0a0804 ), to( #211b11 ) );
	box-shadow: inset 0px 0px 0px 1px #ffe2b411;
	flow-children: down;
}

.MainContents
{
	flow-children: down;
}

.PopupTopLeftTexture
{
	width: 900px;
	-s2-mix-blend-mode: screen;
	ignore-parent-flow: true;
}

.PopupBottomRightTexture
{
	width: 422px;
	horizontal-align: right;
	vertical-align: bottom;
	transform: scale3d( -1, -1, 1 );
	-s2-mix-blend-mode: screen;
	brightness: 0.3;
	ignore-parent-flow: true;
}

.SigilContainer
{
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 0%, 0% 70%, from( white ), to( rgba(255, 255, 255, 0) ) );
	opacity: 0.7;
}

.InnerContents
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	padding: 32px 64px;
}

.TitleContainer
{
	horizontal-align: center;
	flow-children: right;
}

.TitleContainer .Title
{
	horizontal-align: center;
	font-size: 20px;
	font-family: Reaver;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	color: TextColorGradientSilver;
}

.TitleEmblemContainer
{
	horizontal-align: center;
	z-index: 1;
	transition-property: opacity;
	transition-duration: 0.15s;
}

.TitleEmblemContainer .GuildIconLarge
{
	width: 72px;
	margin-right: 6px;
	vertical-align: center;
}

.TitleEmblemContainer.Hovered
{
	z-index: 0;
}

.TitleDescription
{
	horizontal-align: center;
	text-align: center;
	color: TextColorLighter;
	text-shadow: 0px 4px 12px black;
	margin-top: -8px;
	z-index: 1;
}

.PurchaseIncludesContainer
{
	width: 100%;
	margin: 0px;
	flow-children: right;
}

.PurchaseIncludesMontage
{
	width: 940px;
	height: 440px;
	margin-left: 24px;
	overflow: noclip;
}

.PurchaseIncludesMontage .SetBackgroundImage
{
	width: 100%;
	transform: scale3d( 1.5, 1.5, 1 );
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	y: -3%;
}

.PurchaseIncludesMontage .PurchaseIncludesGlow,.PurchaseIncludesMontage .PurchaseIncludesGlowSmall
{
	horizontal-align: center;
	vertical-align: center;
	width: 800px;
	height: 460px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffce9674 ), color-stop( 0.5, #c7986533 ), to( #00000000 ) );
	-s2-mix-blend-mode: screen;
	blur: gaussian( 8px );
	opacity: 0.05;
}

.PurchaseIncludesMontage .PurchaseIncludesGlowSmall
{
	height: 240px;
	opacity: 0.4;
	y: 22%;
}

.PurchaseIncludesMontage .ImageShadowsContainer
{
	width: 100%;
	height: 100%;
}

.PurchaseIncludesMontage .ImageShadowsContainer .ImageShadow
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000ef ), color-stop( 0.5, #000000b9 ), to( #00000000 ) );
	blur: gaussian( 8px );
	horizontal-align: center;
	vertical-align: center;
	width: 340px;
	height: 50px;
	opacity: 0.9;
}

.PurchaseIncludesMontage .ImageShadowsContainer .ImageShadow.BackgroundShadow
{
	width: 700px;
	height: 40px;
	y: 32%;
}

.PurchaseIncludesMontage .ImageShadowsContainer .ImageShadow.PoogieShadow
{
	width: 240px;
	height: 40px;
	y: 41%;
}

.PurchaseIncludesMontage .ImageShadowsContainer .ImageShadow.BullfangoShadow
{
	x: 28%;
	y: 35%;
	pre-transform-scale2d: 0.8;
}

.PurchaseIncludesMontage .ImageShadowsContainer .ImageShadow.MaterialPackShadow
{
	x: -28%;
	y: 35%;
	pre-transform-scale2d: 0.8;
}

.PurchaseIncludesMontage .TooltipsContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.PurchaseIncludesMontage .TooltipsContainer .Tooltip
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform-origin: 50% 100%;
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
}

.PurchaseIncludesMontage .TooltipsContainer .Tooltip .TooltipArrow
{
	horizontal-align: center;
	z-index: 1;
	margin-top: -2px;
	wash-color: #241b14;
}

.PurchaseIncludesMontage .TooltipsContainer .Tooltip .TooltipContents
{
	flow-children: down;
	horizontal-align: center;
	width: 300px;
	background-color: gradient( radial, 0% 0%, 0% 0%, 100% 100%, from( #4f3621 ), color-stop( 0.5, #462f1d ), to( #241b14 ) );
	padding: 12px;
	border: 2px solid black;
}

.PurchaseIncludesMontage .TooltipsContainer .Tooltip .TooltipContents Label
{
	color: TextColorLightest;
	text-shadow: 0px 2px 8px black;
}

.PurchaseIncludesMontage .TooltipsContainer .Tooltip.Hovered
{
	opacity: 1;
	transform: none;
}

.PurchaseIncludesMontage .TooltipsContainer #RathalosDragonTooltip
{
	flow-children: right;
	x: -32%;
	y: -84%;
}

.PurchaseIncludesMontage .TooltipsContainer #RathalosDragonTooltip .TooltipArrow
{
	vertical-align: center;
	transform: rotateZ( -90deg );
	margin-left: -10px;
}

.PurchaseIncludesMontage .TooltipsContainer #MaterialPackTooltip
{
	x: -30%;
	y: -56%;
}

.PurchaseIncludesMontage .TooltipsContainer #SpraysTooltip
{
	x: -20%;
	y: -82%;
}

.PurchaseIncludesMontage .TooltipsContainer #MusicPackTooltip
{
	x: 20%;
	y: -82%;
}

.PurchaseIncludesMontage .TooltipsContainer #BullfangoTooltip
{
	x: 30%;
	y: -56%;
}

.PurchaseIncludesMontage .TooltipsContainer #PoogieTooltip
{
	x: 0%;
	y: -46%;
}

.PurchaseIncludesMontage .TooltipsContainer #PoogieTooltip MoviePanel
{
	border: 2px solid black;
	border-bottom: 0px;
	width: 300px;
	height: width-percentage(56.56%);
}

.PurchaseIncludesMontage .HitboxContainer
{
	width: 100%;
	height: 100%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox
{
	width: 260px;
	height: 200px;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 12px;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.RathalosDragonHitbox
{
	width: 660px;
	height: 300px;
	y: -48%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.SpraysHitbox
{
	x: -20%;
	y: -10%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.MusicPackHitbox
{
	x: 20%;
	y: -10%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.MaterialPackHitbox
{
	width: 200px;
	x: -30%;
	y: 18%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.BullfangoHitbox
{
	width: 200px;
	x: 30%;
	y: 18%;
}

.PurchaseIncludesMontage .HitboxContainer .Hitbox.PoogieHitbox
{
	y: 22%;
}

.PurchaseIncludesMontage.Hovered .PurchaseImage
{
	brightness: 0.2;
	saturation: 0.1;
	wash-color: rgb(255, 235, 202);
}

.PurchaseIncludesMontage .ImagesContainer
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.PurchaseIncludesMontage .ImagesContainer .PurchaseImage
{
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	transition-property: brightness, opacity, saturation, pre-transform-scale2d;
	transition-duration: 0.15s;
}

.PurchaseIncludesMontage .ImagesContainer .PurchaseImage.Hovered
{
	brightness: 1.5;
	saturation: 1;
	wash-color: white;
	z-index: 1;
	pre-transform-scale2d: 1.05;
}

.PurchaseIncludesMontage .ImagesContainer .RathalosDragon
{
	opacity-brush: gradient( radial, 50% 40%, 0% 0%, 50% 30%, from( #ffffff ), color-stop( 0.5, #ffffffd6 ), to( #ffffff00 ) );
	width: 900px;
	height: width-percentage(100%);
	x: 7%;
	y: -12%;
}

.PurchaseIncludesMontage .ImagesContainer .SpraysImage
{
	width: 300px;
	perspective: 500;
	padding: 24px;
	x: -18%;
	y: -10%;
	animation-name: BobReward;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.PurchaseIncludesMontage .ImagesContainer .SpraysImage Image
{
	transform: rotateY( 25deg );
}

.PurchaseIncludesMontage .ImagesContainer .MusicPackImage
{
	width: 280px;
	perspective: 500;
	padding: 24px;
	x: 18%;
	y: -10%;
	animation-name: BobReward;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.PurchaseIncludesMontage .ImagesContainer .MusicPackImage Image
{
	transform: rotateY( -25deg );
}

.PurchaseIncludesMontage .ImagesContainer .MaterialPackImage
{
	width: 240px;
	x: -30%;
	y: 17%;
}

.PurchaseIncludesMontage .ImagesContainer .Bullfango
{
	width: 380px;
	height: width-percentage(100%);
	x: 28%;
	y: 6%;
}

.PurchaseIncludesMontage .ImagesContainer .Poogie
{
	width: 540px;
	height: width-percentage(100%);
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	x: -2%;
	y: 13%;
}

.PurchaseIncludesMontage .ImagesContainer .Poogie DOTAUIEconSetPreview
{
	width: 200%;
	height: 200%;
	horizontal-align: center;
	vertical-align: bottom;
	overflow: noclip;
}

.PurchaseIncludesMontage .ImagesContainer .Poogie Label
{
	horizontal-align: center;
	vertical-align: center;
	color: black;
	font-weight: bold;
	text-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffd88b ), to( #c79b4e ) );
	padding: 1px 4px 1px;
	border-radius: 3px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	border: 1px solid white;
	border-brush: WhiteGradientBorderMedium;
	x: 6%;
	y: -6%;
}

#PurchaseIncludesContents
{
	flow-children: down;
	width: fill-parent-flow(1);
	vertical-align: center;
	margin-bottom: 24px;
}

#PurchaseIncludesContents.Hovered .PurchaseIncludesItem
{
	opacity: 0.1;
}

#PurchaseIncludesContents .PurchaseIncludesTitle
{
	font-size: 24px;
	margin-bottom: 8px;
	width: fill-parent-flow(1);
	color: whitesmoke;
}

#PurchaseIncludesContents .PurchaseIncludesList
{
	width: 100%;
	flow-children: down;
}

#PurchaseIncludesContents .PurchaseIncludesItem
{
	flow-children: right;
	padding: 4px 8px;
	width: 100%;
	padding-left: 32px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/check_fancy.vsvg");
	background-repeat: no-repeat;
	background-position: 2px 40%;
	background-size: 24px;
	transition-property: background-color, opacity, brightness, color;
	transition-duration: 0.1s;
}

#PurchaseIncludesContents .PurchaseIncludesItem Label
{
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#PurchaseIncludesContents .PurchaseIncludesItem .PurchaseIncludesItemTitle
{
	color: TextColorLightest&CC;
	margin-bottom: 2px;
	font-size: 19px;
}

#PurchaseIncludesContents .PurchaseIncludesItem:hover,#PurchaseIncludesContents .PurchaseIncludesItem.Hovered
{
	background-color: gradient( linear, 50% 0%, 100% 0%, from( rgba(255, 226, 176, 0.02) ), to( #ffffff00 ) );
	opacity: 1;
	brightness: 1.2;
}

#PurchaseIncludesContents .PurchaseIncludesItem:hover .PurchaseIncludesItemTitle,#PurchaseIncludesContents .PurchaseIncludesItem.Hovered .PurchaseIncludesItemTitle
{
	color: TextColorLightest;
}

.ButtonRow
{
	flow-children: right;
	horizontal-align: center;
}

#PurchasePremiumButton,#OKButton
{
	horizontal-align: center;
	ui-scale: 125%;
	margin-top: 24px;
	width: 260px;
}

.OwnsPremium #PurchasePremiumButton,.OwnsPremium #OKButton
{
	visibility: collapse;
}

.PurchaseGiftButton
{
	horizontal-align: center;
	ui-scale: 125%;
	margin-top: 24px;
	width: 260px;
	margin-left: 20px;
}

#OKButton
{
	visibility: collapse;
}

.OwnsPremium #OKButton
{
	visibility: visible;
}

@keyframes 'BobReward'
{
	0%
	{
		transform: translateY( -4px );
	}
	
	100%
	{
		transform: translateY( 4px );
	}
	
}

@keyframes 'PulseReward'
{
	0%
	{
		transform: none;
	}
	
	100%
	{
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
}

@keyframes 'MusicPackAnimation'
{
	0%
	{
		transform: rotateY( -25deg ) rotateX( 15deg ) rotateZ( 5deg );
		y: -3px;
	}
	
	25%
	{
		transform: rotateY( -30deg ) rotateX( 10deg ) rotateZ( 5deg );
	}
	
	50%
	{
		transform: rotateY( -25deg ) rotateX( 15deg ) rotateZ( 5deg );
		y: 3px;
	}
	
	75%
	{
		transform: rotateY( -30deg ) rotateX( 10deg ) rotateZ( 5deg );
	}
	
	100%
	{
		transform: rotateY( -25deg ) rotateX( 15deg ) rotateZ( 5deg );
		y: -3px;
	}
	
}

.VariantCraftingSection
{
	width: 100%;
	z-index: -1;
	flow-children: down;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( rgba(168, 76, 42, 0.2) ), color-stop( 0.5, rgba(168, 76, 42, 0.1) ), to( #ffffff00 ) );
}

.VariantCraftingSection .TitleEmblemContainer
{
	margin-top: 20px;
}

#PopupMonsterHunterPremium.ExpeditionPackIsOnSale .PriceDiscount,#PopupMonsterHunterPremium.ExpeditionPackIsOnSale .WasPrice,#PopupMonsterHunterPremium.ExpeditionPackIsOnSale .DiscountEndDate
{
	visibility: visible;
}

#PopupMonsterHunterPremium.ExpeditionPackIsOnSale .NowPrice
{
	color: TextColorGradientGreen;
}

.PriceContainer
{
	horizontal-align: center;
	flow-children: right;
	width: 80%;
}

.PriceContainer Label
{
	margin: 0px 3px;
	vertical-align: center;
}

.PriceContainer .PriceDiscount
{
	visibility: collapse;
	color: TextColorGradientGreen;
}

.PriceContainer .WasPrice
{
	visibility: collapse;
	color: TextColorGradientGold;
	text-decoration: line-through;
}

.PriceContainer .NowPrice
{
	font-weight: semi-bold;
	font-size: 28px;
	margin-top: -1px;
}

.PriceContainer .PriceDash
{
	width: fill-parent-flow(1);
	height: 1px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.95, rgba(177, 147, 94, 0.6) ), to( #ffffff00 ) );
}

.PriceContainer .PriceDash.Right
{
	transform: scaleX( -1 );
}

.DiscountEndDate
{
	visibility: collapse;
	horizontal-align: center;
	color: TextColorLighter&99;
	margin-top: -4px;
}

.VariantCraftingContainer
{
	width: 100%;
	flow-children: right;
}

#VariantCraftingMontage
{
	width: 940px;
	height: 280px;
	margin-right: 24px;
	padding-left: 48px;
}

#VariantCraftingMontage.Hovered .VariantsImage
{
	brightness: 0.2;
	saturation: 0.1;
	wash-color: rgb(255, 235, 202);
}

#VariantCraftingMontage .VariantsImage
{
	vertical-align: center;
	overflow: noclip;
	transition-property: brightness, opacity, saturation, pre-transform-scale2d;
	transition-duration: 0.15s;
}

#VariantCraftingMontage .VariantsImage:hover,#VariantCraftingMontage .VariantsImage.Hovered
{
	brightness: 1.5;
	saturation: 1;
	wash-color: white;
	z-index: 1;
	pre-transform-scale2d: 1.05;
}

#VariantCraftingMontage .PalicoVariantsContainer
{
	height: 55%;
	horizontal-align: left;
}

#VariantCraftingMontage .PoogieVariantsContainer
{
	height: 55%;
	horizontal-align: right;
}

#VariantCraftingMontage .HeroSetVariantsContainer
{
	height: 80%;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 12px;
}

#VariantCraftingContents
{
	flow-children: down;
	width: fill-parent-flow(1);
	vertical-align: center;
	margin-bottom: 24px;
}

#VariantCraftingContents.Hovered .VariantIncludesItem
{
	opacity: 0.1;
}

#VariantCraftingContents .VariantCraftingIncludesTitle
{
	font-size: 24px;
	margin-bottom: 8px;
	width: fill-parent-flow(1);
	color: whitesmoke;
}

#VariantCraftingContents .VariantCraftingIncludesList
{
	width: 100%;
	flow-children: down;
}

#VariantCraftingContents .VariantIncludesItem
{
	flow-children: right;
	padding: 4px 8px;
	width: 100%;
	padding-left: 32px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/check_fancy.vsvg");
	background-repeat: no-repeat;
	background-position: 2px 40%;
	background-size: 24px;
	transition-property: background-color, opacity, brightness;
	transition-duration: 0.1s;
}

#VariantCraftingContents .VariantIncludesItem Label
{
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#VariantCraftingContents .VariantIncludesItem .VariantIncludesItemTitle
{
	color: TextColorLightest&CC;
	margin-bottom: 2px;
	font-size: 19px;
}

#VariantCraftingContents .VariantIncludesItem:hover,#VariantCraftingContents .VariantIncludesItem.Hovered
{
	background-color: gradient( linear, 50% 0%, 100% 0%, from( rgba(255, 226, 176, 0.02) ), to( #ffffff00 ) );
	opacity: 1;
	brightness: 1.2;
}

#VariantCraftingContents .VariantIncludesItem:hover .PurchaseIncludesItemTitle,#VariantCraftingContents .VariantIncludesItem.Hovered .PurchaseIncludesItemTitle
{
	color: TextColorLightest;
}

#VariantCraftingContents .MaterialsNotIncluded
{
	width: 100%;
	padding-top: 12px;
	color: TextColorLighter;
}

.VariantModel.Poogie
{
	visibility: collapse;
}

