/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterRankBadge
{
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
	background-size: 100%;
	width: 88px;
	height: 88px;
	overflow: noclip;
}

DOTAMonsterHunterRankBadge:hover .RankTierImage
{
	brightness: 2;
}

DOTAMonsterHunterRankBadge.LevelUp .BadgeContainer
{
	animation-name: PulseOnce;
	animation-duration: 0.7s;
	animation-iteration-count: 1;
}

.BadgeContainer
{
	width: 100%;
	height: 100%;
}

.RankTierImage
{
	width: 100%;
	height: 100%;
	background-size: 100%;
	vertical-align: bottom;
	horizontal-align: center;
	brightness: 2;
	animation-name: BadgeGlow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	background-size: cover;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_00_psd.vtex");
}

.Tier0 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_00_psd.vtex");
}

.Tier1 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_01_psd.vtex");
}

.Tier2 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_02_psd.vtex");
}

.Tier3 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_03_psd.vtex");
}

.Tier4 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_04_psd.vtex");
}

.Tier4.MoreThanTwoDigits .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_04_extended_psd.vtex");
}

.Small.Tier0 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_00_small_psd.vtex");
}

.Small.Tier1 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_01_small_psd.vtex");
}

.Small.Tier2 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_02_small_psd.vtex");
}

.Small.Tier3 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_03_small_psd.vtex");
}

.Small.Tier4 .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_04_small_psd.vtex");
}

.Small.Tier4.MoreThanTwoDigits .RankTierImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_04_extended_small_psd.vtex");
}

@keyframes 'BadgeGlow'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

#RankNumber
{
	width: 100%;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 6px;
	font-weight: semi-bold;
	text-align: center;
	text-shadow: 0px 2px 6px 2.0 #00000080;
	letter-spacing: -0.5px;
	color: gradient( linear, 0% 0%, 0% 100%, from( Tier0High ), to( Tier0Low ) );
	brightness: 3;
	saturation: 0.5;
}

.Tier1 #RankNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( Tier1High ), to( Tier1Low ) );
	brightness: 3;
	saturation: 0.5;
}

.Tier2 #RankNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( Tier2High ), to( Tier2Low ) );
	brightness: 2;
	saturation: 0.5;
}

.Tier3 #RankNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( Tier3High ), to( Tier3Low ) );
	brightness: 2;
	saturation: 1;
}

.Tier4 #RankNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( Tier4High ), to( Tier4Low ) );
	brightness: 2;
	saturation: 1;
}

#RankTierProgress
{
	color: #F7E5c3;
	letter-spacing: 1px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0px 2px 4px 4.0 #000000;
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
	padding-top: 0px;
	margin-bottom: 5px;
	visibility: collapse;
}

.ShowRankTierScore #RankTierProgress
{
	visibility: visible;
}

DOTAMonsterHunterRankBadge.NoBackgroundEffect .RankIdleFX
{
	visibility: collapse;
}

.RankIdleFX
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	height: width-percentage(100%);
	transform: scale3d( 2, 2, 1 );
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	margin-bottom: 5%;
}

#RankTierInfo
{
	width: 90%;
	height: 90%;
	horizontal-align: center;
	vertical-align: center;
	background-color: #00000000;
}

#BackgroundFX
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/artwork/hunter_rank_emblem_00_psd.vtex");
	brightness: 1.0;
}

.RankDataMissing #EliteFX,.RankTier0 #EliteFX,.RankTier1 #EliteFX,.RankTier2 #EliteFX,.RankTier3 #EliteFX,.RankTier4 #EliteFX,.RankTier5 #EliteFX,.RankTier6 #EliteFX,.RankTier7 #EliteFX
{
	visibility: collapse;
}

@keyframes 'PulseOnce'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	15%
	{
		transform: scale3d( 1.1, 1.1, 1 );
		brightness: 3;
	}
	
	30%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	45%
	{
		transform: scale3d( 1.03, 1.03, 1 );
		brightness: 4;
	}
	
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
}

