/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterInvestigationsContainer
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	transform: translateZ( -40px );
	transition-property: transform, opacity;
	transition-timing-function: ease-out;
	transition-duration: 0.1s;
}

DOTAMonsterHunterInvestigationsContainer.InSimulator
{
	opacity: 1;
	width: fit-children;
	height: fit-children;
	transform: none;
}

DOTAMonsterHunterInvestigationsContainer.InSimulator #CloseButton
{
	visibility: collapse;
}

DOTAMonsterHunterInvestigationsContainer.InVersusScreen
{
	opacity: 1;
	width: fit-children;
	height: fit-children;
	transform: none;
}

DOTAMonsterHunterInvestigationsContainer.InVersusScreen .InvestigationsTitle
{
	visibility: collapse;
}

DOTAMonsterHunterInvestigationsContainer.InVersusScreen .InvestigationsSubtitle
{
	visibility: collapse;
}

DOTAMonsterHunterInvestigationsContainer.InVersusScreen .InnerContainer
{
	background-color: #00000000;
	border: 0px;
	padding: 0px;
}

DOTAMonsterHunterInvestigationsContainer.InVersusScreen #CloseButton
{
	visibility: collapse;
}

DOTAMonsterHunterInvestigationsContainer.ShowInvestigations
{
	transform: none;
	opacity: 1;
}

#CloseBackgroundButton
{
	width: 100%;
	height: 100%;
}

.OuterContainer
{
	width: fit-children;
	height: fit-children;
	background-color: none;
	horizontal-align: center;
	vertical-align: center;
}

.InnerContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #21272af6 ), to( #121719f6 ) );
	border: 1px solid rgba(255, 255, 255, 0.02);
	padding: 16px 24px 28px;
}

.InvestigationContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	padding: 24px;
	margin: -24px;
}

.InvestigationsTitle
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: TextShadowLarge;
}

.SubtitleContainer
{
	horizontal-align: center;
}

.InvestigationsSubtitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: TextShadowLarge;
	margin-left: 5px;
}

.SkullIcon
{
	wash-color: #E4C8A6;
}

.HunterRankContainer
{
	width: 320px;
	margin-bottom: 8px;
	flow-children: down;
	ignore-parent-flow: true;
	z-index: 1;
}

.HunterRankContainer .HunterRankTitleContainer
{
	horizontal-align: center;
	flow-children: right;
}

.HunterRankContainer .HunterRankTitleContainer .HunterRankTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: TextShadowMedium;
}

.HunterRankContainer .HunterRankTitleContainer .Emblem
{
	vertical-align: center;
	margin: 0px 3px 2px;
	wash-color: #AC997B;
}

.HunterRankContainer .HunterRankTitleContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.HunterRankContainer .HunterRankValueContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-top: -4px;
}

.HunterRankContainer .HunterRankValueContainer .HunterRankEmblem
{
	width: 36px;
	vertical-align: center;
	margin-right: 8px;
	img-shadow: ImgShadowMedium;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
}

.HunterRankContainer .HunterRankValueContainer .HunterRankValue
{
	horizontal-align: center;
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: TextShadowMedium;
}

.MonsterHunterLogo
{
	horizontal-align: center;
	margin-top: 10px;
	width: 300px;
}

#CloseButton
{
	ignore-parent-flow: true;
	margin-right: 10px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	horizontal-align: right;
	z-index: 1;
}

