/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define CommonColor: #94A2A9;
@define CommonColorLow: #636F74;
@define ZinogreColor: #92d0c1;
@define ZinogreColorLow: #496861;
@define OdogaronColor: #D6688D;
@define OdogaronColorLow: #9D2741;
@define RathalosColor: #E26340;
@define RathalosColorLow: #A62118;
@define KirinColor: #7491f7;
@define KirinColorLow: #3e5bbf;
@define WyvernColor: #8DF0F3;
@define WyvernColorLow: #3A715F;
@define BulfangoColor: #E1A682;
@define BulfangoColorLow: #7E594B;
@define KestodonColor: #EF903D;
@define KestodonColorLow: #8F421E;
@define ElderDragonColor: #D668BB;
@define ElderDragonColorLow: #671D89;
@define BoneColor: #E4C8A6;
@define BoneColorLow: #655A4E;
@define MiscColor: #F2C958;
@define MiscColorLow: #9B6E36;
@define GoldColor: #e2c538;
@define GoldColorLow: #675b0d;
@define SuperRareColor: #e4ccfb;
@define SuperRareColorLow: #a78af8;
@define PoogieRareColor: #a6f9b2;
@define PoogieRareColorLow: #8af891;
@define RainbowPigmentColor: #e6a6f9;
@define RainbowPigmentColorLow: #fc5f86;
DOTAMonsterHunterMaterial
{
	width: 52px;
	height: width-percentage( 100% );
	tooltip-position: top;
	tooltip-body-position: 50% 36px;
	transition-property: transform, background-color, brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
}

.MaterialTrader DOTAMonsterHunterMaterial:active
{
	brightness: 0.5;
	transform: scale3d( 0.97, 0.97, 1 );
}

DOTAMonsterHunterMaterial.RarityRare .RareGlow,DOTAMonsterHunterMaterial.RarityRare .RareBorder
{
	visibility: visible;
}

DOTAMonsterHunterMaterial.MaterialUnowned .MaterialContainer,DOTAMonsterHunterMaterial.MaterialUnowned .RareBorder
{
	brightness: 0.2;
}

DOTAMonsterHunterMaterial.MaterialUnowned .RareGlow:not(.Inner)
{
	visibility: collapse;
}

DOTAMonsterHunterMaterial.MaterialNeeded .TrackingIcon
{
	visibility: visible;
}

DOTAMonsterHunterMaterial.MaterialNeeded.HaveEnough .TrackingIcon
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_complete_png.vtex");
}

DOTAMonsterHunterMaterial.MaterialNeeded .InventoryCount
{
	font-weight: semi-bold;
	color: #ffead1;
	text-shadow: 0px 0px 12px #ffba6537;
}

DOTAMonsterHunterMaterial .RareGlow
{
	width: 130%;
	height: 130%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 40% 40%, from( white ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	blur: gaussian( 4px );
	saturation: 1.15;
	opacity: 0.2;
	visibility: collapse;
}

DOTAMonsterHunterMaterial .RareGlow.Inner
{
	width: 300%;
	height: 300%;
	transform: translateX( -50% ) translateY( -50% );
	opacity: 0.2;
}

DOTAMonsterHunterMaterial .RareBorder
{
	margin: 10px;
	width: 100%;
	height: width-percentage( 100% );
	border-radius: 4px;
	border: 2px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 10% 10%, 80% 80%, from( white ), color-stop( 0.6, #d3d3d3 ), to( rgb(255, 255, 255) ) );
	visibility: collapse;
}

DOTAMonsterHunterMaterial.RaritySuperRare .RareBorderBGFX
{
	margin: 0px;
	width: 100%;
	height: width-percentage( 100% );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_softer_png.vtex");
}

DOTAMonsterHunterMaterial.RaritySuperRare:not(.MaterialUnowned) .SuperRareBorderFX
{
	margin: 2px;
	width: 100%;
	height: width-percentage( 100% );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_softer_png.vtex");
}

DOTAMonsterHunterMaterial.RarityRare:not(.MaterialUnowned) .RareBorderFX
{
	margin: 11px;
	width: 100%;
	height: width-percentage( 100% );
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

DOTAMonsterHunterMaterial .MaterialContainer
{
	margin: 10px;
	width: 100%;
	height: width-percentage( 100% );
	background-color: black;
	box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.7);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffefe432 ), to( #ffdede13 ) );
	border-radius: 4px;
	padding: 1px;
	transition-property: border-brush;
	transition-duration: 0.1s;
}

.MaterialTrader DOTAMonsterHunterMaterial .MaterialContainer:hover
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffefe486 ), to( #ffdede2d ) );
}

DOTAMonsterHunterMaterial .MaterialIconImageContainer
{
	width: 100%;
	height: 100%;
	border-radius: 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #28292e ), to( #101012 ) );
	border: 1px solid rgba(255, 255, 255, 0.015);
}

DOTAMonsterHunterMaterial .MaterialIconImageContainer .MaterialIconImage
{
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/materials/material_part_texture_png.vtex");
	width: 80%;
	height: width-percentage( 100% );
	background-size: cover;
	horizontal-align: center;
	vertical-align: center;
	margin-top: -1px;
	img-shadow: 0px 1px 6px rgba(0, 0, 0, 1);
	background-texture-size: 48px 48px;
}

DOTAMonsterHunterMaterial:hover:not(.FilterExcluded),DOTAMonsterHunterMaterial.SameTypeMaterialHovered:not(.FilterExcluded)
{
	brightness: 1.8;
}

DOTAMonsterHunterMaterial:hover:not(.FilterExcluded) .MaterialContainer,DOTAMonsterHunterMaterial.SameTypeMaterialHovered:not(.FilterExcluded) .MaterialContainer
{
	background-color: #ffc26911;
}

.MaterialUnowned DOTAMonsterHunterMaterial:hover:not(.FilterExcluded),.MaterialUnowned DOTAMonsterHunterMaterial.SameTypeMaterialHovered:not(.FilterExcluded)
{
	brightness: 1.8;
	opacity: 1;
}

DOTAMonsterHunterMaterial.InInventory.SameTypeMaterialHovered:not(:hover)
{
	transform: translateY( -8px );
}

DOTAMonsterHunterMaterial.InInventory.FilterExcluded.SameTypeMaterialHovered:not(:hover)
{
	transform: translateY( 2px );
	saturation: 0.5;
}

DOTAMonsterHunterMaterial .TrackingIcon
{
	visibility: collapse;
	horizontal-align: left;
	vertical-align: top;
	width: 20px;
	height: width-percentage( 100% );
	margin-left: 4px;
	margin-top: 6px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_on_png.vtex");
	background-size: cover;
}

DOTAMonsterHunterMaterial .HuntRewardIcon
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: top;
	width: 15px;
	height: 15px;
	margin: 5px;
}

DOTAMonsterHunterMaterial .HuntDenialIcon
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: top;
	width: 15px;
	height: 15px;
	margin: 5px;
}

DOTAMonsterHunterMaterial .HunterDuelIcon
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: top;
	width: 15px;
	height: 15px;
	margin: 5px;
}

DOTAMonsterHunterMaterial .InventoryCount
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: bottom;
	padding: 0px 0px 1px;
	width: 18px;
	height: 18px;
	text-overflow: shrink;
	margin: 6px;
	text-shadow: 0px 1px 6px 2 rgba(0, 0, 0, 1);
	font-size: 13px;
	border-radius: 4px;
	text-align: center;
	background-color: #08090a;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #87807C ), to( #4E4C4C ) );
}

DOTAMonsterHunterMaterial.ShowDebugControls .DebugIncrementQty
{
	visibility: visible;
}

DOTAMonsterHunterMaterial .DebugIncrementQty
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-top: 2px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: 0.3s;
	visibility: collapse;
}

DOTAMonsterHunterMaterial .DebugIncrementQty .DebugIncrementQtyButton
{
	width: 16px;
	height: width-percentage( 100% );
	background-color: rgb(126, 31, 126);
	border: 1px solid magenta;
	background-position: center;
	background-size: 60%;
	background-repeat: no-repeat;
}

DOTAMonsterHunterMaterial .DebugIncrementQty .DebugIncrementQtyButton:hover
{
	background-color: magenta;
}

DOTAMonsterHunterMaterial .DebugIncrementQty .DebugIncrementQtyButton.Decrease
{
	background-image: url("s2r://panorama/images/control_icons/24px/minus.vsvg");
	margin-right: -1px;
}

DOTAMonsterHunterMaterial .DebugIncrementQty .DebugIncrementQtyButton.Increase
{
	background-image: url("s2r://panorama/images/control_icons/24px/plus.vsvg");
}

DOTAMonsterHunterMaterial.InInventory:hover .DebugIncrementQty
{
	opacity: 1;
	transition-delay: 0s;
}

DOTAMonsterHunterMaterial.Small .MaterialContainer .MaterialIconImageContainer .MaterialIconImage
{
	width: 90%;
	margin-top: 0px;
}

DOTAMonsterHunterMaterial:hover
{
	sound: "material_inventory_hover";
}

DOTAMonsterHunterMaterial.ShowCount:not(.MaterialUnowned) .InventoryCount
{
	visibility: visible;
}

DOTATooltipMonsterHunterMaterial .IconExplanationContainer
{
	padding: 4px;
	width: 100%;
	flow-children: right;
	border-top: 1px solid rgba(0, 0, 0, 0.8);
}

DOTATooltipMonsterHunterMaterial .TrackingIcon
{
	width: 28px;
	height: width-percentage( 100% );
	vertical-align: middle;
	margin-right: 8px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_on_png.vtex");
	background-size: cover;
}

DOTATooltipMonsterHunterMaterial.HaveEnough .TrackingIcon
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_complete_png.vtex");
}

DOTATooltipMonsterHunterMaterial .IconExplanationText
{
	font-size: 14px;
	vertical-align: center;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
}

DOTATooltipMonsterHunterMaterial.HaveEnough .IconExplanationText
{
	color: rgb(154, 222, 178);
}

DOTATooltipMonsterHunterMaterial .WhenMoreNeeded,DOTATooltipMonsterHunterMaterial .WhenHaveEnough
{
	visibility: collapse;
}

DOTATooltipMonsterHunterMaterial.NeedMore .WhenMoreNeeded
{
	visibility: visible;
}

DOTATooltipMonsterHunterMaterial.HaveEnough .WhenHaveEnough
{
	visibility: visible;
}

.MaterialName_monster_essence .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_essence.vsvg");
}

.MaterialName_monster_bone .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_bone.vsvg");
}

.MaterialName_monster_fur .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_hide.vsvg");
}

.MaterialName_monster_claws .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_claw.vsvg");
}

.MaterialName_zinogre_electrofur .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_hide.vsvg");
}

.MaterialName_zinogre_deathly_shocker .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_monster.vsvg");
}

.MaterialName_zinogre_hardclaw .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_claw.vsvg");
}

.MaterialName_zinogre_cortex .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_shell.vsvg");
}

.MaterialName_zinogre_hardhorn .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_horn.vsvg");
}

.MaterialName_zinogre_skymerald .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_gem.vsvg");
}

.MaterialName_odogaron_sinew .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_monster.vsvg");
}

.MaterialName_odogaron_scale .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_scale.vsvg");
}

.MaterialName_odogaron_shard .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_scale.vsvg");
}

.MaterialName_odogaron_hardfang .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_fang.vsvg");
}

.MaterialName_odogaron_hardclaw .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_claw.vsvg");
}

.MaterialName_odogaron_mantle .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_mantle.vsvg");
}

.MaterialName_rathalos_scale .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_scale.vsvg");
}

.MaterialName_rathalos_carapace .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_carapace.vsvg");
}

.MaterialName_rathalos_medula .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_monster.vsvg");
}

.MaterialName_rathalos_wing .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_wing.vsvg");
}

.MaterialName_rathalos_ruby .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_gem.vsvg");
}

.MaterialName_rathalos_tail .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_tail.vsvg");
}

.MaterialName_rathalos_plate .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_plate.vsvg");
}

.MaterialName_kirin_hide .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_hide.vsvg");
}

.MaterialName_kirin_tail .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_tail.vsvg");
}

.MaterialName_kirin_thunderhorn .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_horn.vsvg");
}

.MaterialName_kirin_mane .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_monster.vsvg");
}

.MaterialName_kirin_azure_horn .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_blades.vsvg");
}

.MaterialName_ancient_bone .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_bone.vsvg");
}

.MaterialName_warped_bone .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_bone.vsvg");
}

.MaterialName_large_barrel .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_barrel.vsvg");
}

.MaterialName_warm_pelt .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_hide.vsvg");
}

.MaterialName_gunpowder .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_gunpowder.vsvg");
}

.MaterialName_iron_ore .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_iron_ore.vsvg");
}

.MaterialName_honey .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_honey.vsvg");
}

.MaterialName_sinister_cloth .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_sinister_cloth.vsvg");
}

.MaterialName_devils_blight .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_devils_blight.vsvg");
}

.MaterialName_kestodon_shell .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_shell.vsvg");
}

.MaterialName_large_elder_dragon_gem .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_gem.vsvg");
}

.MaterialName_bulfango_head .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_head.vsvg");
}

.MaterialName_wyvern_gem .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_gem.vsvg");
}

.MaterialName_palico_voucher .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_ticket.vsvg");
}

.MaterialName_poogie_voucher .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_ticket.vsvg");
}

.MaterialName_rainbow_pigment .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_ticket.vsvg");
}

.MaterialName_golden_egg .MaterialIconImage
{
	background-image: url("s2r://panorama/images/events/monster_hunter/materials/mh_material_egg.vsvg");
}

.MaterialName_random .MaterialIconImage
{
	background-image: url("s2r://panorama/images/pings/ping_world_questionmarks_psd.vtex");
}

.MaterialName_monster_bone .MaterialIconImage,.MaterialName_monster_fur .MaterialIconImage,.MaterialName_monster_claws .MaterialIconImage,.MaterialName_golden_egg .MaterialIconImage,.MaterialName_monster_bone .RareGlow,.MaterialName_monster_fur .RareGlow,.MaterialName_monster_claws .RareGlow,.MaterialName_golden_egg .RareGlow,.MaterialName_monster_bone .RareBorder,.MaterialName_monster_fur .RareBorder,.MaterialName_monster_claws .RareBorder,.MaterialName_golden_egg .RareBorder,.MaterialName_monster_bone .MaterialBackgroundGlow,.MaterialName_monster_fur .MaterialBackgroundGlow,.MaterialName_monster_claws .MaterialBackgroundGlow,.MaterialName_golden_egg .MaterialBackgroundGlow,.MaterialName_monster_bone .RareFX,.MaterialName_monster_fur .RareFX,.MaterialName_monster_claws .RareFX,.MaterialName_golden_egg .RareFX,.MaterialName_monster_bone .RarityTextGlow,.MaterialName_monster_fur .RarityTextGlow,.MaterialName_monster_claws .RarityTextGlow,.MaterialName_golden_egg .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( CommonColor ), to( CommonColorLow ) );
}

.MaterialName_monster_essence .MaterialIconImage,.MaterialName_wyvern_gem .MaterialIconImage,.MaterialName_monster_essence .RareGlow,.MaterialName_wyvern_gem .RareGlow,.MaterialName_monster_essence .RareBorder,.MaterialName_wyvern_gem .RareBorder,.MaterialName_monster_essence .MaterialBackgroundGlow,.MaterialName_wyvern_gem .MaterialBackgroundGlow,.MaterialName_monster_essence .RareFX,.MaterialName_wyvern_gem .RareFX,.MaterialName_monster_essence .RarityTextGlow,.MaterialName_wyvern_gem .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #58c9e9 ), to( #28839d ) );
}

.MaterialName_devils_blight .MaterialIconImage,.MaterialName_large_elder_dragon_gem .MaterialIconImage,.MaterialName_devils_blight .RareGlow,.MaterialName_large_elder_dragon_gem .RareGlow,.MaterialName_devils_blight .RareBorder,.MaterialName_large_elder_dragon_gem .RareBorder,.MaterialName_devils_blight .MaterialBackgroundGlow,.MaterialName_large_elder_dragon_gem .MaterialBackgroundGlow,.MaterialName_devils_blight .RareFX,.MaterialName_large_elder_dragon_gem .RareFX,.MaterialName_devils_blight .RarityTextGlow,.MaterialName_large_elder_dragon_gem .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #d23669 ), to( #941740 ) );
}

.MaterialName_warped_bone .MaterialIconImage,.MaterialName_warped_bone .RareGlow,.MaterialName_warped_bone .RareBorder,.MaterialName_warped_bone .MaterialBackgroundGlow,.MaterialName_warped_bone .RareFX,.MaterialName_warped_bone .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ba954b ), to( #6d5422 ) );
}

.MaterialName_large_barrel .MaterialIconImage,.MaterialName_gunpowder .MaterialIconImage,.MaterialName_large_barrel .RareGlow,.MaterialName_gunpowder .RareGlow,.MaterialName_large_barrel .RareBorder,.MaterialName_gunpowder .RareBorder,.MaterialName_large_barrel .MaterialBackgroundGlow,.MaterialName_gunpowder .MaterialBackgroundGlow,.MaterialName_large_barrel .RareFX,.MaterialName_gunpowder .RareFX,.MaterialName_large_barrel .RarityTextGlow,.MaterialName_gunpowder .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #b75d3d ), to( #bc5b39 ) );
}

.MaterialName_iron_ore .MaterialIconImage,.MaterialName_sinister_cloth .MaterialIconImage,.MaterialName_iron_ore .RareGlow,.MaterialName_sinister_cloth .RareGlow,.MaterialName_iron_ore .RareBorder,.MaterialName_sinister_cloth .RareBorder,.MaterialName_iron_ore .MaterialBackgroundGlow,.MaterialName_sinister_cloth .MaterialBackgroundGlow,.MaterialName_iron_ore .RareFX,.MaterialName_sinister_cloth .RareFX,.MaterialName_iron_ore .RarityTextGlow,.MaterialName_sinister_cloth .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #b9b9b9 ), to( #7f7f7f ) );
}

.MaterialName_ancient_bone .MaterialIconImage,.MaterialName_ancient_bone .RareGlow,.MaterialName_ancient_bone .RareBorder,.MaterialName_ancient_bone .MaterialBackgroundGlow,.MaterialName_ancient_bone .RareFX,.MaterialName_ancient_bone .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #47b267 ), to( #226235 ) );
}

.MaterialName_zinogre_electrofur .MaterialIconImage,.MaterialName_zinogre_deathly_shocker .MaterialIconImage,.MaterialName_zinogre_hardclaw .MaterialIconImage,.MaterialName_zinogre_cortex .MaterialIconImage,.MaterialName_zinogre_hardhorn .MaterialIconImage,.MaterialName_zinogre_skymerald .MaterialIconImage,.MaterialName_zinogre_electrofur .RareGlow,.MaterialName_zinogre_deathly_shocker .RareGlow,.MaterialName_zinogre_hardclaw .RareGlow,.MaterialName_zinogre_cortex .RareGlow,.MaterialName_zinogre_hardhorn .RareGlow,.MaterialName_zinogre_skymerald .RareGlow,.MaterialName_zinogre_electrofur .RareBorder,.MaterialName_zinogre_deathly_shocker .RareBorder,.MaterialName_zinogre_hardclaw .RareBorder,.MaterialName_zinogre_cortex .RareBorder,.MaterialName_zinogre_hardhorn .RareBorder,.MaterialName_zinogre_skymerald .RareBorder,.MaterialName_zinogre_electrofur .MaterialBackgroundGlow,.MaterialName_zinogre_deathly_shocker .MaterialBackgroundGlow,.MaterialName_zinogre_hardclaw .MaterialBackgroundGlow,.MaterialName_zinogre_cortex .MaterialBackgroundGlow,.MaterialName_zinogre_hardhorn .MaterialBackgroundGlow,.MaterialName_zinogre_skymerald .MaterialBackgroundGlow,.MaterialName_zinogre_electrofur .RareFX,.MaterialName_zinogre_deathly_shocker .RareFX,.MaterialName_zinogre_hardclaw .RareFX,.MaterialName_zinogre_cortex .RareFX,.MaterialName_zinogre_hardhorn .RareFX,.MaterialName_zinogre_skymerald .RareFX,.MaterialName_zinogre_electrofur .RarityTextGlow,.MaterialName_zinogre_deathly_shocker .RarityTextGlow,.MaterialName_zinogre_hardclaw .RarityTextGlow,.MaterialName_zinogre_cortex .RarityTextGlow,.MaterialName_zinogre_hardhorn .RarityTextGlow,.MaterialName_zinogre_skymerald .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( ZinogreColor ), to( ZinogreColorLow ) );
}

.MaterialName_odogaron_sinew .MaterialIconImage,.MaterialName_odogaron_scale .MaterialIconImage,.MaterialName_odogaron_shard .MaterialIconImage,.MaterialName_odogaron_hardfang .MaterialIconImage,.MaterialName_odogaron_hardclaw .MaterialIconImage,.MaterialName_odogaron_mantle .MaterialIconImage,.MaterialName_odogaron_sinew .RareGlow,.MaterialName_odogaron_scale .RareGlow,.MaterialName_odogaron_shard .RareGlow,.MaterialName_odogaron_hardfang .RareGlow,.MaterialName_odogaron_hardclaw .RareGlow,.MaterialName_odogaron_mantle .RareGlow,.MaterialName_odogaron_sinew .RareBorder,.MaterialName_odogaron_scale .RareBorder,.MaterialName_odogaron_shard .RareBorder,.MaterialName_odogaron_hardfang .RareBorder,.MaterialName_odogaron_hardclaw .RareBorder,.MaterialName_odogaron_mantle .RareBorder,.MaterialName_odogaron_sinew .MaterialBackgroundGlow,.MaterialName_odogaron_scale .MaterialBackgroundGlow,.MaterialName_odogaron_shard .MaterialBackgroundGlow,.MaterialName_odogaron_hardfang .MaterialBackgroundGlow,.MaterialName_odogaron_hardclaw .MaterialBackgroundGlow,.MaterialName_odogaron_mantle .MaterialBackgroundGlow,.MaterialName_odogaron_sinew .RareFX,.MaterialName_odogaron_scale .RareFX,.MaterialName_odogaron_shard .RareFX,.MaterialName_odogaron_hardfang .RareFX,.MaterialName_odogaron_hardclaw .RareFX,.MaterialName_odogaron_mantle .RareFX,.MaterialName_odogaron_sinew .RarityTextGlow,.MaterialName_odogaron_scale .RarityTextGlow,.MaterialName_odogaron_shard .RarityTextGlow,.MaterialName_odogaron_hardfang .RarityTextGlow,.MaterialName_odogaron_hardclaw .RarityTextGlow,.MaterialName_odogaron_mantle .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( OdogaronColor ), to( OdogaronColorLow ) );
}

.MaterialName_rathalos_scale .MaterialIconImage,.MaterialName_rathalos_carapace .MaterialIconImage,.MaterialName_rathalos_medula .MaterialIconImage,.MaterialName_rathalos_wing .MaterialIconImage,.MaterialName_rathalos_ruby .MaterialIconImage,.MaterialName_rathalos_tail .MaterialIconImage,.MaterialName_rathalos_plate .MaterialIconImage,.MaterialName_rathalos_scale .RareGlow,.MaterialName_rathalos_carapace .RareGlow,.MaterialName_rathalos_medula .RareGlow,.MaterialName_rathalos_wing .RareGlow,.MaterialName_rathalos_ruby .RareGlow,.MaterialName_rathalos_tail .RareGlow,.MaterialName_rathalos_plate .RareGlow,.MaterialName_rathalos_scale .RareBorder,.MaterialName_rathalos_carapace .RareBorder,.MaterialName_rathalos_medula .RareBorder,.MaterialName_rathalos_wing .RareBorder,.MaterialName_rathalos_ruby .RareBorder,.MaterialName_rathalos_tail .RareBorder,.MaterialName_rathalos_plate .RareBorder,.MaterialName_rathalos_scale .MaterialBackgroundGlow,.MaterialName_rathalos_carapace .MaterialBackgroundGlow,.MaterialName_rathalos_medula .MaterialBackgroundGlow,.MaterialName_rathalos_wing .MaterialBackgroundGlow,.MaterialName_rathalos_ruby .MaterialBackgroundGlow,.MaterialName_rathalos_tail .MaterialBackgroundGlow,.MaterialName_rathalos_plate .MaterialBackgroundGlow,.MaterialName_rathalos_scale .RareFX,.MaterialName_rathalos_carapace .RareFX,.MaterialName_rathalos_medula .RareFX,.MaterialName_rathalos_wing .RareFX,.MaterialName_rathalos_ruby .RareFX,.MaterialName_rathalos_tail .RareFX,.MaterialName_rathalos_plate .RareFX,.MaterialName_rathalos_scale .RarityTextGlow,.MaterialName_rathalos_carapace .RarityTextGlow,.MaterialName_rathalos_medula .RarityTextGlow,.MaterialName_rathalos_wing .RarityTextGlow,.MaterialName_rathalos_ruby .RarityTextGlow,.MaterialName_rathalos_tail .RarityTextGlow,.MaterialName_rathalos_plate .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( RathalosColor ), to( RathalosColorLow ) );
}

.MaterialName_kirin_hide .MaterialIconImage,.MaterialName_kirin_tail .MaterialIconImage,.MaterialName_kirin_thunderhorn .MaterialIconImage,.MaterialName_kirin_mane .MaterialIconImage,.MaterialName_kirin_azure_horn .MaterialIconImage,.MaterialName_kirin_hide .RareGlow,.MaterialName_kirin_tail .RareGlow,.MaterialName_kirin_thunderhorn .RareGlow,.MaterialName_kirin_mane .RareGlow,.MaterialName_kirin_azure_horn .RareGlow,.MaterialName_kirin_hide .RareBorder,.MaterialName_kirin_tail .RareBorder,.MaterialName_kirin_thunderhorn .RareBorder,.MaterialName_kirin_mane .RareBorder,.MaterialName_kirin_azure_horn .RareBorder,.MaterialName_kirin_hide .MaterialBackgroundGlow,.MaterialName_kirin_tail .MaterialBackgroundGlow,.MaterialName_kirin_thunderhorn .MaterialBackgroundGlow,.MaterialName_kirin_mane .MaterialBackgroundGlow,.MaterialName_kirin_azure_horn .MaterialBackgroundGlow,.MaterialName_kirin_hide .RareFX,.MaterialName_kirin_tail .RareFX,.MaterialName_kirin_thunderhorn .RareFX,.MaterialName_kirin_mane .RareFX,.MaterialName_kirin_azure_horn .RareFX,.MaterialName_kirin_hide .RarityTextGlow,.MaterialName_kirin_tail .RarityTextGlow,.MaterialName_kirin_thunderhorn .RarityTextGlow,.MaterialName_kirin_mane .RarityTextGlow,.MaterialName_kirin_azure_horn .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( KirinColor ), to( KirinColorLow ) );
}

.MaterialName_warm_pelt .MaterialIconImage,.MaterialName_honey .MaterialIconImage,.MaterialName_warm_pelt .RareGlow,.MaterialName_honey .RareGlow,.MaterialName_warm_pelt .RareBorder,.MaterialName_honey .RareBorder,.MaterialName_warm_pelt .MaterialBackgroundGlow,.MaterialName_honey .MaterialBackgroundGlow,.MaterialName_warm_pelt .RareFX,.MaterialName_honey .RareFX,.MaterialName_warm_pelt .RarityTextGlow,.MaterialName_honey .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( MiscColor ), to( MiscColorLow ) );
}

.MaterialName_bulfango_head .MaterialIconImage,.MaterialName_kestodon_shell .MaterialIconImage,.MaterialName_bulfango_head .RareGlow,.MaterialName_kestodon_shell .RareGlow,.MaterialName_bulfango_head .RareBorder,.MaterialName_kestodon_shell .RareBorder,.MaterialName_bulfango_head .MaterialBackgroundGlow,.MaterialName_kestodon_shell .MaterialBackgroundGlow,.MaterialName_bulfango_head .RareFX,.MaterialName_kestodon_shell .RareFX,.MaterialName_bulfango_head .RarityTextGlow,.MaterialName_kestodon_shell .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( KestodonColor ), to( KestodonColorLow ) );
}

.MaterialName_golden_egg .MaterialIconImage,.MaterialName_palico_voucher .MaterialIconImage,.MaterialName_golden_egg .RareGlow,.MaterialName_palico_voucher .RareGlow,.MaterialName_golden_egg .RareBorder,.MaterialName_palico_voucher .RareBorder,.MaterialName_golden_egg .MaterialBackgroundGlow,.MaterialName_palico_voucher .MaterialBackgroundGlow,.MaterialName_golden_egg .RareFX,.MaterialName_palico_voucher .RareFX,.MaterialName_golden_egg .RarityTextGlow,.MaterialName_palico_voucher .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( SuperRareColor ), to( SuperRareColorLow ) );
}

.MaterialName_poogie_voucher .MaterialIconImage,.MaterialName_poogie_voucher .RareGlow,.MaterialName_poogie_voucher .RareBorder,.MaterialName_poogie_voucher .MaterialBackgroundGlow,.MaterialName_poogie_voucher .RareFX,.MaterialName_poogie_voucher .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( PoogieRareColor ), to( PoogieRareColorLow ) );
}

.MaterialName_rainbow_pigment .MaterialIconImage,.MaterialName_rainbow_pigment .RareGlow,.MaterialName_rainbow_pigment .RareBorder,.MaterialName_rainbow_pigment .MaterialBackgroundGlow,.MaterialName_rainbow_pigment .RareFX,.MaterialName_rainbow_pigment .RarityTextGlow
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( RainbowPigmentColor ), to( RainbowPigmentColorLow ) );
}

.RarityUncommon .MaterialIconImageContainer
{
	opacity-brush: white;
}

DOTAMonsterHunterMaterial.HuntReward .HuntRewardIcon
{
	visibility: visible;
}

DOTAMonsterHunterMaterial.HuntDenial .HuntDenialIcon
{
	visibility: visible;
}

DOTAMonsterHunterMaterial.HunterDuel .HunterDuelIcon
{
	visibility: visible;
}

DOTAMonsterHunterMaterial .LeftClickIcon
{
	width: 16px;
	horizontal-align: center;
	vertical-align: middle;
	transition-property: opacity;
	transition-duration: 0.15s;
	opacity: 0;
}

DOTAMonsterHunterMaterial.ShowLeftClickHint .LeftClickIcon
{
	opacity: 1;
}

