/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterInvestigationDisplay
{
	visibility: collapse;
	overflow: clip;
	horizontal-align: right;
	vertical-align: top;
	margin-top: 70px;
}

#HuntedPlayerTextContainer
{
	horizontal-align: center;
	flow-children: right;
}

#HuntedPlayerTextContainer .HeroIconContainer
{
	margin: 2px 4px;
}

.ShowInvestigationDisplay
{
	visibility: visible;
}

.ContentsPanel
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	margin-bottom: 12px;
}

#HeroPortraitImage
{
	width: 80px;
	height: 80px;
	horizontal-align: center;
}

.BackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0000003e ), to( #19191944 ) );
	box-shadow: 0px 6px 28px -2px rgba(0, 0, 0, 0.5);
	transition-property: brightness, saturation;
	transition-duration: 0.1s;
}

.HeroIconContainer
{
	margin: 0px 6px;
}

.HeroIconContainer .HeroIcon
{
	width: 20px;
	height: 20px;
}

.HuntFailed.HeroIconContainer .HeroIcon
{
	wash-color: rgb(63, 63, 63);
}

.HuntSucceeded.HeroIconContainer .HeroIcon
{
	wash-color: rgb(123, 123, 123);
}

.HeroIconContainer .HeroSlash
{
	width: 20px;
	height: 20px;
	visibility: collapse;
	wash-color: red;
}

.HuntSucceeded.HeroIconContainer .HeroSlash
{
	visibility: visible;
}

#OngoingObjectives
{
	flow-children: left;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: translateX( 300px );
}

.InvestigationsLocked #OngoingObjectives
{
	transform: translateX(0px);
}

.Minimized.InvestigationsLocked #OngoingObjectives
{
	transform: translateX( 240px );
}

#OngoingObjectives .OuterObjectivesContainer
{
	flow-children: down;
	width: 240px;
}

#OngoingObjectives .OuterObjectivesContainer .OngoingObjectivesBackground
{
	ignore-parent-flow: true;
	z-index: -1;
	height: 100%;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.5, #1919198d ), to( #1919198d ) );
	background-color: #1919198d;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer
{
	flow-children: down;
	padding: 4px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle
{
	width: fill-parent-flow(1);
	height: 50px;
	margin-bottom: -6px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .ObjectiveImage
{
	margin-left: -3.5px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer
{
	width: 100%;
	height: 25px;
	vertical-align: center;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .LabelContainer
{
	vertical-align: center;
	width: 100%;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .LabelContainer .ObjectiveLabel
{
	horizontal-align: left;
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: 0px 2px 8px black;
	margin-left: 50px;
	margin-top: 1px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .LabelContainer .TooltipInfoIconSmall
{
	vertical-align: center;
	horizontal-align: right;
	wash-color: #ffe2b9;
	opacity: 0.2;
	margin-right: 5px;
	width: 12px;
	height: 12px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	box-shadow: 0px 6px 28px -2px rgba(0, 0, 0, 0.5);
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel.MainObjectivesBackgroundPanel
{
	background-color: gradient( linear, 0% -30%, 0% 130%, from( #1a1a1a ), color-stop( 0.3, #1a1a1a ), to( #942323 ) );
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel.SideObjectivesBackgroundPanel
{
	background-color: gradient( linear, 0% -30%, 0% 130%, from( #1a1a1a ), color-stop( 0.3, #1a1a1a ), to( #745511 ) );
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel .EdgeBorder
{
	width: 100%;
	border: 5px solid;
	border-image-source: url("s2r://panorama/images/events/monster_hunter/artwork/emblem1_png.vtex");
	border-image-slice: 10px;
	wash-color: #ffe2b9;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel .EdgeBorder.Top
{
	transform: scaleY( -1 );
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .ObjectivesTitle .TitleContainer .TitleBackgroundPanel .EdgeBorder.Bottom
{
	vertical-align: bottom;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer
{
	flow-children: down;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task
{
	margin-left: 6px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer
{
	horizontal-align: left;
	height: 28px;
	margin-left: 5px;
	margin-right: 5px;
	flow-children: right;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .CheckboxContainer
{
	vertical-align: center;
	width: 30px;
	height: 30px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .CheckboxContainer .Checkbox
{
	vertical-align: center;
	width: 18px;
	height: 18px;
	background-color: green;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0B0E11 ), to( #302417 ) );
	box-shadow: 0px 6px 28px -2px rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.7);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffefe432 ), to( #ffdede13 ) );
	border-radius: 4px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .CheckboxContainer .Checkmark
{
	visibility: collapse;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .HeroIconContainer
{
	margin-right: 6px;
	margin-left: -2px;
	vertical-align: center;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .HeroIconContainer .HeroIcon
{
	width: 24px;
	height: 24px;
	texture-sampling: point;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .HeroIconContainer .HeroSlash
{
	width: 28px;
	height: 28px;
	visibility: collapse;
	wash-color: red;
	padding-right: 4px;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .TaskContentsContainer .TaskLabel
{
	vertical-align: center;
	color: rgb(239, 237, 232);
	width: fill-parent-flow(1);
	height: 17px;
	text-overflow: shrink;
	text-shadow: 0px 1px 6px 2 black;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task .Strikethrough
{
	vertical-align: center;
	background-color: gray;
	width: 100%;
	height: 2px;
	border: 1px solid rgba(0, 0, 0, 0.539);
	border-radius: 4px;
	visibility: collapse;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.HuntingYouTask .CheckboxContainer
{
	opacity: 0;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.HuntingYouTask.TaskComplete .HeroIcon
{
	wash-color: #535352;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.HuntingYouTask.TaskComplete .HeroSlash
{
	visibility: visible;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.TaskComplete .TaskContentsContainer .Checkmark
{
	visibility: visible;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.TaskFailed .TaskContentsContainer .TaskLabel
{
	color: #535352;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.TaskFailed .TaskContentsContainer .HeroIcon
{
	saturation: 0.3;
	wash-color: #535352;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.TaskFailed .TaskContentsContainer .CheckboxContainer
{
	wash-color: #b1b1b1;
}

#OngoingObjectives .OuterObjectivesContainer .ObjectivesContainer .TasksContainer .Task.TaskFailed .Strikethrough
{
	visibility: visible;
}

.HideSideTasks #OngoingObjectives .OuterObjectivesContainer #SideObjectivesContainer
{
	visibility: collapse;
}

#HuntSelection
{
	horizontal-align: right;
	flow-children: left;
	ui-scale: 90%;
	padding: 4px 0px 12px;
	margin-right: 10px;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: translateX(0px);
}

.InvestigationsLocked #HuntSelection
{
	transform: translateX( 320px );
}

.Minimized:not(.InvestigationsLocked) #HuntSelection
{
	transform: translateX( 146px );
}

.Minimized:not(.InvestigationsLocked) #HuntSelection .BackgroundPanel
{
	box-shadow: 0px 6px 28px -2px rgba(0, 0, 0, 0);
}

#HuntSelection .HuntSelectionTitle
{
	horizontal-align: center;
	text-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	color: whitesmoke;
	margin-bottom: -4px;
	text-shadow: 0px 3px 12px 3 black;
}

#HuntSelection .OuterHuntSelectionContainer
{
	flow-children: down;
	width: 150px;
	padding-top: 3px;
}

#HuntSelection .OuterHuntSelectionContainer .ObjectiveImage
{
	width: 44px;
	z-index: 1;
	horizontal-align: center;
	margin-bottom: -23px;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer
{
	width: 100%;
	flow-children: down;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel .MonsterHeroName
{
	horizontal-align: center;
	margin: 18px 8px 0px;
	height: 25px;
	text-overflow: shrink;
	color: TextColorGradientSilver;
	text-align: center;
	text-shadow: 0px 2px 12px black;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel .PlayerNameContainer
{
	height: 30px;
	margin: 5px 0px;
	flow-children: right;
	horizontal-align: center;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel .PlayerNameContainer .PlayerName
{
	vertical-align: center;
	color: #A59682;
	text-shadow: TextShadowSmall;
	font-size: 15px;
	text-overflow: shrink;
	text-transform: none;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel .PlayerNameContainer .HeroIcon
{
	vertical-align: center;
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel .PlayerNameContainer .PlayerStreak
{
	color: #ffd677;
	text-shadow: 0px 0px 8px rgba(255, 132, 83, 0.2);
	horizontal-align: center;
	visibility: collapse;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .ContentsPanel #HeroPortraitImage
{
	width: 100px;
	height: 100px;
	horizontal-align: center;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0b0e11f6 ), to( #302417ee ) );
	box-shadow: 0px 6px 28px -2px rgba(0, 0, 0, 0.5);
	transition-property: brightness, saturation;
	transition-duration: 0.1s;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .BackgroundBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid #ffd59a0b;
	transition-property: border;
	transition-duration: 0.1s;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .SelectedBackground
{
	width: 100%;
	height: 100%;
	margin: 6px;
	background-color: rgba(255, 203, 135, 0.02);
	border: 1px solid rgba(255, 237, 201, 0.02);
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .EdgeBorder
{
	width: 100%;
	border: 5px solid;
	border-image-source: url("s2r://panorama/images/events/monster_hunter/artwork/emblem1_png.vtex");
	border-image-slice: 10px;
	wash-color: #ffe2b9;
	opacity: 0.2;
	transition-property: opacity;
	transition-duration: 0.1s;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .EdgeBorder.Top
{
	transform: scaleY( -1 );
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .EdgeBorder.Bottom
{
	vertical-align: bottom;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .SigilContainer
{
	ui-scale: 55%;
	margin-top: -140px;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .SigilContainer .SigilBackground
{
	opacity: 0.4;
}

#HuntSelection .OuterHuntSelectionContainer .ContentsContainer .BackgroundPanel .SigilContainer.Bottom
{
	vertical-align: bottom;
	transform: scaleY( -1 );
	margin-top: 0px;
	margin-bottom: -140px;
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer
{
	width: fill-parent-flow(1.0);
	margin: 0px 0px 4px;
	padding: 0px 4px;
	height: 40px;
	border-top: 1px solid rgba(255, 237, 190, 0.15);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.3, #ffffffc0 ), color-stop( 0.5, #FFFFFF ), color-stop( 0.7, #ffffffc0 ), to( #FFFFFF00 ) );
	padding: 2px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #ffc97700 ), to( #ffc97700 ) );
	transition-property: background-color, border;
	transition-duration: 0.1s;
	visibility: visible;
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer:hover
{
	border-top: 1px solid rgba(255, 237, 190, 0.3);
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #ffc9771a ), to( #ffc97704 ) );
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer:hover #ChangeButton Label
{
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 201, 115, 0.2);
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer #ChangeButton
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer #ChangeButton Label
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1.2px;
	text-align: center;
	color: whitesmoke;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.8);
	text-overflow: shrink;
	margin: 0px 1px;
	color: TextColorGradientGold;
	brightness: 1.2;
	transition-property: color, text-shadow;
	transition-duration: 0.1s, 0.2s;
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer #ChangeButton .ChangeLabel
{
	height: 20px;
	text-overflow: shrink;
}

#HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer #ChangeButton #TimeRemaining
{
	padding: 2px 3px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
	font-weight: normal;
	border: 1px solid rgba(255, 230, 189, 0.037);
	text-transform: none;
}

.HuntLocked #HuntSelection .OuterHuntSelectionContainer #ChangeButtonContainer
{
	visibility: collapse;
}

#HuntSelection .MinimizeButton
{
	margin-top: 28px;
}

.MinimizeButton
{
	width: 25px;
	height: 60px;
	z-index: -1;
	margin-left: 12px;
	vertical-align: center;
	transform: translateX( 0px );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #4f4130f6 ), to( #221c18f7 ) );
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: 0px 2px 16px -2px rgba(0, 0, 0, 0.3);
	transition-property: brightness, background-color, width;
	transition-delay: 0.0s;
	transition-duration: 0.1s, 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Minimized .MinimizeButton
{
	width: 52px;
}

.Minimized .MinimizeButton .RightArrowButtonIcon
{
	transform: translateX( -15px );
}

.Minimized .MinimizeButton .ObjectiveImagesContainer
{
	opacity: 1;
	transform: none;
	transition-delay: 0s;
	transition-duration: 0s;
}

.MinimizeButton .ObjectiveImagesContainer
{
	vertical-align: center;
	horizontal-align: right;
	flow-children: up;
	margin-left: 2px;
	padding: 8px 0px;
	opacity: 0;
	transform: scale3d( 1.5, 1.5, 1 );
	transition-property: opacity, transform;
	transition-delay: 0.15s;
	transition-duration: 0.2s, 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.MinimizeButton .ObjectiveImagesContainer .ObjectiveImage
{
	width: 36px;
	height: 36px;
	margin: -8px 0px;
	img-shadow: 0px 1px 8px black;
}

.MinimizeButton .RightArrowButtonIcon
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/control_icons/24px/chevron_fancy_left.vsvg");
	background-size: cover;
	background-repeat: no-repeat;
	wash-color: #ffe9c0;
	transform: rotateZ(180deg);
	transition-property: transform, wash-color;
	transition-delay: 0.0s;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.MinimizeButton:hover
{
	brightness: 1.8;
}

