/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAUIMonsterHunterMaterialPicker
{
	flow-children: down;
	width: 100%;
	padding-top: 0px;
	height: fit-children;
}

.CloseButton
{
	ignore-parent-flow: true;
	vertical-align: top;
	horizontal-align: right;
	margin-right: -40px;
}

#ItemList
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right-wrap;
}

.ChooseMaterialsTitle
{
	padding: 24px 0px 16px;
	horizontal-align: center;
	color: LightestGrey;
	width: 100%;
	text-align: center;
	text-shadow: 0px 2px 8px black;
	border-bottom: 1px solid rgba(204, 235, 255, 0.059);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, #FFFFFF ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(153, 219, 255, 0.02) ), to( rgba(108, 154, 192, 0) ) );
}

#InventoryPicker
{
	vertical-align: top;
	horizontal-align: center;
	margin-bottom: 16px;
	min-width: 600px;
}

.NoMaterialsLabel
{
	vertical-align: center;
	horizontal-align: center;
	font-size: 20px;
	visibility: collapse;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: .1s;
}

.NoMaterialsLabel:hover
{
	pre-transform-scale2d: 1.01;
}

.EmptyInventory .NoMaterialsLabel
{
	visibility: visible;
}

