/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterMaterialInventory
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	max-width: 1920px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #2e281d00 ), color-stop( 0.5, #211a1500 ), to( #000000 ) );
	box-shadow: 0px -2px 48px rgba(0, 0, 0, 0);
	transition-property: background-color, border, box-shadow, opacity, transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.ShowingRewardDetails DOTAMonsterHunterMaterialInventory
{
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #28231a00 ), color-stop( 0.5, #31261e00 ), to( #00000000 ) );
	box-shadow: none;
}

DOTAMonsterHunterMaterialInventory.CraftingVisible
{
	border-top: 1px solid #e7d1bc0c;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #2e281de7 ), color-stop( 0.5, #211a15f3 ), to( #000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0.05) ), color-stop( 0.3, rgba(255, 255, 255, 1) ), color-stop( 0.7, rgba(255, 255, 255, 1) ), to( rgba(255, 255, 255, 0.05) ) );
	box-shadow: 0px -2px 48px rgba(0, 0, 0, 0.5);
}

DOTAMonsterHunterMaterialInventory.UsedByEconSetPreview
{
	background-color: none;
}

DOTAMonsterHunterMaterialInventory.HideInventory
{
	visibility: collapse;
}

.AsyncContents
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

.Spinner
{
	horizontal-align: center;
	vertical-align: center;
}

.MaterialsWrapper
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	padding-top: 0px;
	transition-property: background-color;
	transition-duration: 0.5s;
}

.MaterialsWrapper .MaterialsTitleContainer,.MaterialsWrapper .TradeTitleContainer
{
	horizontal-align: center;
	transition-property: opacity;
	transition-duration: 0.15s;
}

.MaterialsWrapper .MaterialsTitleContainer Label,.MaterialsWrapper .TradeTitleContainer Label
{
	font-weight: semi-bold;
}

.MaterialsWrapper .TradeTitleContainer
{
	ignore-parent-flow: true;
	opacity: 0;
}

.MaterialsWrapper .MaterialsDescription
{
	horizontal-align: center;
	color: TextColorLightest&33;
	transition-property: opacity;
	transition-duration: 0.15s;
}

.MaterialsWrapper #MaterialsContainer
{
	flow-children: right;
	width: fit-children;
	height: fit-children;
	margin-top: 4px;
}

.MaterialsWrapper #MaterialsContainer .Separator
{
	width: 1px;
	height: 100%;
	background-color: #3336;
	visibility: collapse;
}

.MaterialsWrapper .MaterialRaritySection
{
	flow-children: down;
	margin: 0px 10px;
	min-width: 100px;
}

.MaterialsWrapper .MaterialRaritySection.Empty
{
	visibility: collapse;
}

.MaterialsWrapper .MaterialRaritySection .MaterialRaritySectionTitleContainer
{
	width: 100%;
	margin-top: -4px;
}

.MaterialsWrapper .MaterialRaritySection .MaterialRaritySectionTitleContainer .MaterialSectionTitle
{
	text-align: center;
	horizontal-align: center;
	color: TextColorLighter&CC;
	margin-top: 8px;
	text-shadow: 0px 0px 12px 6 black;
}

.MaterialsWrapper .MaterialRaritySection .MaterialRaritySectionTitleContainer .MarkerBorder
{
	width: 100%;
	margin: 0px 4px;
	vertical-align: center;
	wash-color: #9a9682;
	opacity: 0.1;
	opacity-brush: gradient( linear, 30% 0%, 70% 0%, from( white ), color-stop( 0.4, rgba(255, 255, 255, 0.5) ), color-stop( 0.6, rgba(255, 255, 255, 0.5) ), to( white ) );
	border-width: 10px 10px 0px 10px;
	border-image-slice: 100% 20px 0px 20px;
	border-image-repeat: stretch;
	border-image-source: url("s2r://panorama/images/events/monster_hunter/artwork/emblem1_png.vtex");
}

.MaterialsWrapper .Materials
{
	horizontal-align: center;
	flow-children: right-wrap;
	width: fit-children;
	height: fit-children;
}

.MaterialsWrapper .Materials DOTAMonsterHunterMaterial
{
	margin: 0px -7px;
}

DOTAMonsterHunterMaterialInventory.PickingMaterial DOTAMonsterHunterMaterial.FilterExcluded
{
	transform: translateY( 2px );
	saturation: 0.3;
	brightness: 0.3;
}

DOTAMonsterHunterMaterialInventory.PickingMaterial DOTAMonsterHunterMaterial.FilterIncluded
{
	brightness: 2;
	transform: translateY( -8px );
}

.CloseTraderButton
{
	ignore-parent-flow: true;
	horizontal-align: right;
	margin-top: -8px;
	padding: 8px;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #A68E6A ), to( #887b62 ) );
	transition-property: transform, border, opacity;
	transition-duration: 0.1s, 0.15s;
	opacity: 0;
}

.CloseTraderButton Image
{
	opacity-brush: TextColorGradientGold;
	transition-property: opacity-brush;
	transition-duration: 0.15s;
}

.CloseTraderButton:hover
{
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.CloseTraderButton:hover Image
{
	opacity-brush: white;
}

.CloseTraderButton:active
{
	brightness: 0.5;
	transform: scale3d( 0.95, 0.95, 1 );
}

.CraftingVisible .CloseTraderButton
{
	opacity: 1;
	transition-delay: 0s;
	transition-duration: 0s;
}

#CraftingToggle
{
	margin-top: 10px;
	margin-left: 8px;
	tooltip-position: top;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0s;
	transition-delay: 0s;
}

.CraftingVisible #CraftingToggle
{
	opacity: 0;
	transition-duration: 0.15s;
	transition-delay: 0.1s;
}

.UsedByEconSetPreview #CraftingToggle
{
	visibility: collapse;
}

.CraftingContainer
{
	height: 0;
	opacity: 0;
	horizontal-align: center;
	transition-property: opacity, height, margin;
	transition-duration: 0.15s;
	transition-delay: 0.1s, 0s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.CraftingVisible .MaterialsWrapper
{
	padding-top: 20px;
}

.CraftingVisible .CraftingContainer
{
	height: 170px;
	opacity: 1;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9), ease-in;
}

.CraftingVisible .MaterialsDescription
{
	opacity: 0;
}

.CraftingVisible .TradeTitleContainer
{
	opacity: 1;
}

.CraftingVisible .MaterialsTitleContainer
{
	opacity: 0;
}

