/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterInvestigationBanner
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: collapse;
	z-index: 2;
	overflow: noclip;
}

DOTAMonsterHunterInvestigationBanner.Hidden
{
	visibility: collapse;
}

DOTAMonsterHunterInvestigationBanner.HuntStatusReveal
{
	visibility: visible;
}

DOTAMonsterHunterInvestigationBanner.HuntStatusExpire
{
	visibility: visible;
}

#OuterContainer
{
	padding: 8px;
	overflow: noclip;
	width: 100%;
	height: 600px;
	horizontal-align: center;
	margin: 10px;
}

.Container2
{
	horizontal-align: center;
	flow-children: right;
	animation-duration: 0.2s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	opacity: 0;
}

.Container2 .LeftStyling
{
	width: 53px;
	height: 100%;
	opacity: 0.97;
}

.Container2 .RightStyling
{
	width: 53px;
	height: 100%;
	opacity: 0.97;
}

.Container2 .LabelContainer
{
	horizontal-align: center;
	height: 44px;
	max-width: 1300px;
	background-image: url("s2r://panorama/images/events/monster_hunter/banner/mh_dropdown_back_png.vtex");
	background-size: 100% 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-img-opacity: 0.97;
}

.Container2 .LabelContainer .HuntStatusText
{
	margin-top: 3px;
	vertical-align: center;
	font-size: 22px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	height: 32px;
	text-overflow: shrink;
}

.Container2 .LabelContainer .HuntStatusText Image
{
	width: 36px;
	margin-top: -6px;
	margin-right: 4px;
	height: width-percentage(100%);
}

.HuntStatusReveal .Container2
{
	animation-name: HuntStatusReveal;
	animation-duration: 0.35s;
	opacity: 1;
}

.HuntStatusExpire .Container2
{
	animation-name: HuntStatusExpire;
	opacity: 0;
}

.HuntSuccessText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ea3333 ), to( #ba1515 ) );
}

.HuntDenialText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(231, 222, 36) ), to( #c1a910 ) );
}

.PreventedHuntLabel
{
	horizontal-align: center;
}

@keyframes 'HuntStatusReveal'
{
	0%
	{
		opacity: 0;
		brightness: 4;
		pre-transform-scale2d: 2.0;
	}
	
	25%
	{
		pre-transform-scale2d: 0.92;
		opacity: 1;
	}
	
	100%
	{
		brightness: 1;
		pre-transform-scale2d: 1.0;
	}
	
}

@keyframes 'HuntStatusExpire'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0;
		pre-transform-scale2d: 0.8;
	}
	
}

