/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMonsterHunterRewardDetails
{
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	box-shadow: none;
	background-color: none;
	flow-children: down;
}

.MainContentsContainer
{
	width: 100%;
	height: 100%;
}

.MainContentsContainer .MainContents
{
	width: 100%;
	height: 100%;
}

.PopupTopLeftTexture
{
	width: 900px;
	-s2-mix-blend-mode: screen;
}

.PopupBottomRightTexture
{
	width: 600px;
	horizontal-align: right;
	vertical-align: bottom;
	transform: scale3d( -1, -1, 1 );
	-s2-mix-blend-mode: screen;
	brightness: 0.3;
}

.SigilContainer
{
	ignore-parent-flow: true;
	visibility: collapse;
}

#TrackingTooltip
{
	flow-children: down;
	width: 260px;
	horizontal-align: right;
	ignore-parent-flow: true;
	x: 140px;
	y: 96px;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.4s;
	opacity: 0;
	pre-transform-scale2d: 0.5;
}

.EventHasEnded #TrackingTooltip
{
	visibility: collapse;
}

#TrackingTooltip.ShowTrackingTooltip,.FirstCraftingDone #TrackingTooltip.NeedTrackingTutorial
{
	opacity: 1;
	pre-transform-scale2d: 1;
	transition-delay: 0s;
	animation-name: BobHelper;
	animation-duration: 1s;
	animation-iteration-count: 4;
}

#TrackingTooltip .TrackMaterialsContents
{
	flow-children: right;
	border: 2px solid black;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #39291a ), to( #1A140F ) );
	padding: 12px;
}

#TrackingTooltip .TrackMaterialsContents .TrackIconContainer
{
	vertical-align: center;
	margin-right: 8px;
}

#TrackingTooltip .TrackMaterialsContents .TrackIconContainer .TrackIconGlow
{
	horizontal-align: center;
	vertical-align: center;
	width: 200%;
	height: 200%;
	overflow: noclip;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #997745ab ), color-stop( 0.5, #99774576 ), to( #41342000 ) );
	opacity: 0.3;
}

#TrackingTooltip .TrackMaterialsContents .TrackIconContainer .TrackIcon
{
	width: 40px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 3px 12px black;
}

#TrackingTooltip .TrackMaterialsContents .TrackMaterialsInfo
{
	vertical-align: center;
	flow-children: down;
}

#TrackingTooltip .TrackMaterialsContents .TrackMaterialsInfo Label
{
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#TrackingTooltip .TrackMaterialsContents .TrackMaterialsInfo .TrackInfoTitle
{
	margin-bottom: 2px;
	color: TextColorGradientSilver;
}

#TrackingTooltip .TrackMaterialsContents .TrackMaterialsInfo .TrackInfoDescription
{
	color: TextColorLighter;
}

#TrackingTooltip .ArrowStem
{
	transform: translateX( 25% );
	margin-top: -2px;
	wash-color: #322216;
}

@keyframes 'BobHelper'
{
	0%
	{
		transform: none;
	}
	
	50%
	{
		transform: translateY( -4px );
	}
	
	100%
	{
		transform: none;
	}
	
}

.RightColumn
{
	flow-children: down;
	horizontal-align: center;
	width: 800px;
	margin-left: 42%;
	overflow: noclip;
	margin-top: 28px;
	transition-property: transform, opacity;
	transition-duration: 0s;
}

.LeftColumn
{
	width: 800px;
	height: 100%;
	margin-right: 45%;
	horizontal-align: center;
}

.LeftColumn DemoModeButton
{
	vertical-align: bottom;
	margin-bottom: 250px;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0s;
	transition-delay: 0s;
}

.HitTestBlockerRight
{
	horizontal-align: right;
	width: 1100px;
	height: 100%;
	margin-left: 40%;
}

.HitTestBlockerBottom
{
	width: 100%;
	height: 240px;
	vertical-align: bottom;
}

.PoogieInfoContainer
{
	width: fill-parent-flow(1);
	margin: 0px 12px;
	padding: 16px;
	flow-children: down;
	ignore-parent-flow: true;
	width: 840px;
	horizontal-align: center;
	vertical-align: bottom;
	x: 410px;
	y: -300px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 100%, from( rgba(0, 0, 0, 0.6) ), color-stop( 0.5, rgba(0, 0, 0, 0.4) ), to( #ffffff00 ) );
	border: 1px solid rgba(255, 239, 198, 0.043);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.5, #ffffff ), to( #ffffff00 ) );
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	visibility: collapse;
}

.AspectRatio16x10 .PoogieInfoContainer
{
	x: 370px;
}

.MaterialTraderVisible .PoogieInfoContainer
{
	opacity: 0.1;
}

.PoogieInfoContainer .PoogieTitle
{
	horizontal-align: center;
	text-align: center;
	color: TextColorLightest&CC;
	margin-bottom: 12px;
	letter-spacing: 0.2px;
}

.PoogieInfoContainer .PoogieDescriptionContainer
{
	flow-children: right;
	vertical-align: center;
}

.PoogieInfoContainer .PoogieDescriptionContainer MoviePanel
{
	width: 280px;
	height: width-percentage(56.25%);
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/events/monster_hunter/artwork/purchase_popup_v3/video_mask_png.vtex");
}

.PoogieInfoContainer .PoogieDescriptionContainer .PoogieDescription
{
	margin-left: 20px;
	font-size: 15px;
	color: TextColorLighter&CC;
	text-shadow: 0px 2px 12px black;
}

.poogie .PoogieInfoContainer
{
	visibility: visible;
}

.TitleContainer
{
	horizontal-align: center;
	flow-children: down;
	padding-top: 40px;
	width: 100%;
}

.TitleContainer .ItemHeroName
{
	horizontal-align: center;
	margin-bottom: 12px;
	text-shadow: TextShadowSmall;
	color: #BEB3A4;
}

.TitleContainer .ItemSetNameWrapper
{
	horizontal-align: center;
	flow-children: down;
	overflow: noclip;
	padding-bottom: 40px;
}

.TitleContainer .ItemSetNameWrapper DemoModeButton
{
	horizontal-align: center;
	vertical-align: bottom;
	ignore-parent-flow: true;
	margin-bottom: -10px;
	ui-scale: 85%;
}

.TitleContainer .ItemSetNameWrapper #ItemHeroIcon
{
	horizontal-align: center;
	texture-sampling: point;
	ignore-parent-flow: true;
	margin-top: -10px;
	width: 28px;
	height: 28px;
}

.TitleContainer .ItemSetNameWrapper .ItemSetNameGlow
{
	width: 420px;
	height: 220%;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #644d2b4e ), to( #41342000 ) );
	-s2-mix-blend-mode: screen;
	blur: gaussian(4px);
	opacity: 0.5;
}

.TitleContainer .ItemSetNameWrapper .TitleEmblem
{
	horizontal-align: center;
	width: 90%;
	height: 7px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hero_title_emblem.vsvg");
	background-size: cover;
	background-position: center;
	background-texture-size: 1600px 16px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.5, white ), to( rgba(255, 255, 255, 0) ) );
}

.TitleContainer .ItemSetNameWrapper .TitleEmblem.Bottom
{
	transform: scaleY( -1 );
	width: 70%;
}

.TitleContainer .ItemSetNameWrapper .ItemSetNameContainer
{
	horizontal-align: center;
	flow-children: right;
	padding: 8px 0px 6px;
	background-color: gradient( linear, 10% 0%, 90% 0%, from( rgba(0, 0, 0, 0) ), color-stop(0.25, rgba(0, 0, 0, 0.9) ), color-stop(0.5, rgba(0, 0, 0, 0.98) ), color-stop(0.75, rgba(0, 0, 0, 0.9) ), to( rgba(0, 0, 0, 0) ) );
}

.TitleContainer .ItemSetNameWrapper .ItemSetNameContainer .ItemSetName
{
	min-width: 600px;
	color: TextColorGradientSilver;
	text-align: center;
	text-shadow: TextShadowMedium;
	font-size: 44px;
	text-overflow: shrink;
	margin: 2px 0px 6px;
}

.TitleContainer .ItemSetNameWrapper .ItemSetNameContainer .Emblem
{
	vertical-align: center;
	margin: 0px 12px 2px;
	wash-color: #AC997B;
}

.TitleContainer .ItemSetNameWrapper .ItemSetNameContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.SlotsTitleContainer
{
	horizontal-align: center;
	flow-children: right;
	margin-bottom: 8px;
	visibility: collapse;
}

.SlotsTitleContainer .SlotsTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #978A76 ) );
	text-shadow: TextShadowMedium;
}

.SlotsTitleContainer .Emblem
{
	vertical-align: center;
	margin: 0px 6px 2px;
	wash-color: #AC997B;
}

.SlotsTitleContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.SlotsWrapper
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	max-height: 530px;
	transition-property: max-height;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.MaterialTraderVisible .SlotsWrapper
{
	max-height: 390px;
}

.VariantMessageContainer
{
	width: 100%;
	height: 36px;
	margin: 12px 12px -8px;
	padding: 6px;
	border: 1px solid rgba(221, 220, 255, 0.064);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #b4aea810 ), to( #00000000 ) );
}

.VariantMessageContainer.LockedBehindPrevious
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #9d91b214 ), to( #00000000 ) );
}

.VariantMessageContainer.LockedBehindPremium
{
	border: 1px solid rgba(255, 252, 220, 0.064);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.5, #d5c89c14 ), to( #00000000 ) );
}

.FirstCraftingNotDone .VariantMessageContainer
{
	visibility: collapse;
}

.VariantMessageContainer.LockedBehindPrevious .RequirementsMetMessage,.VariantMessageContainer.LockedBehindPremium .RequirementsMetMessage
{
	visibility: collapse;
}

.VariantMessageContainer.LockedBehindPremium .VariantMessageContents .RequiresHuntersGuildMessage
{
	visibility: visible;
}

.VariantMessageContainer.LockedBehindPrevious .VariantMessageContents .RequiresPrecedingMessage
{
	visibility: visible;
}

.VariantMessageContainer .VariantMessageContents
{
	horizontal-align: center;
	flow-children: right;
}

.VariantMessageContainer .VariantMessageContents .LockIcon
{
	vertical-align: center;
	width: 16px;
	margin-top: -2px;
	margin-right: 4px;
	opacity: 0.3;
}

.VariantMessageContainer .VariantMessageContents .VariantMessage
{
	color: rgba(255, 251, 240, 0.477);
	vertical-align: center;
	text-shadow: 0px 1px 6px black;
}

.VariantMessageContainer .VariantMessageContents .RequirementsMetMessage
{
	margin-top: 2px;
}

.VariantMessageContainer .VariantMessageContents .RequiresPrecedingMessage
{
	vertical-align: center;
	flow-children: right;
	visibility: collapse;
}

.OwnsPremium .VariantMessageContainer .VariantMessageContents .RequiresPrecedingMessage
{
	margin-top: 2px;
}

.VariantMessageContainer .VariantMessageContents .RequiresHuntersGuildMessage
{
	vertical-align: center;
	flow-children: right;
	margin-left: 8px;
	margin-top: -2px;
	visibility: collapse;
}

.VariantMessageContainer .VariantMessageContents .RequiresHuntersGuildMessage .PremiumIcon
{
	width: 20px;
	img-shadow: 0px 2px 12px black;
	vertical-align: center;
	margin-right: -2px;
}

.VariantMessageContainer .VariantMessageContents .RequiresHuntersGuildMessage .PremiumMessage
{
	color: TextColorGradientGold;
	margin-left: 4px;
	vertical-align: center;
	text-decoration: underline;
	padding: 4px;
	font-weight: semi-bold;
	text-shadow: 0px 1px 6px black;
	margin-top: 0px;
	transition-property: color;
	transition-duration: 0.1s;
}

.VariantMessageContainer .VariantMessageContents .RequiresHuntersGuildMessage .PremiumMessage:hover
{
	color: white;
}

.OwnsPremium .VariantMessageContainer .VariantMessageContents .RequiresHuntersGuildMessage
{
	visibility: collapse;
}

.TrackingStatus
{
	width: 28px;
	height: 28px;
	background-size: cover;
	transition-property: brightness, transform;
	transition-duration: 0.1s, 0.05s;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_off_png.vtex");
}

.EventHasEnded .TrackingStatus
{
	opacity: 0;
}

.TrackingStatus:hover
{
	brightness: 1.8;
}

.TrackingStatus:active
{
	brightness: 1;
	transform: translateY( 1px );
}

.TrackingStatus.IsTracked
{
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/bookmark_icon_on_png.vtex");
}

.FirstCraftingNotDone .TrackingStatus
{
	visibility: collapse;
}

.TrackingStatus.TrackingSetStatus
{
	vertical-align: top;
	horizontal-align: right;
	margin-right: 24px;
	margin-top: 16px;
	ignore-parent-flow: true;
}

.SlotsContainer
{
	width: 100%;
	max-height: 500px;
	horizontal-align: center;
	flow-children: down;
	padding: 12px 12px 24px;
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll_psd.vtex");
	opacity-mask-position: 20px 0px;
	overflow: squish scroll;
}

.SlotsContainer VerticalScrollBar
{
	margin: 12px 0px 28px;
}

.ItemSlot
{
	width: 100%;
	flow-children: right;
	padding-bottom: 4px;
}

.ItemSlot .ItemSlotBackground
{
	background-color: rgba(233, 216, 160, 0.01);
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.ItemSlot .ItemSlotBorder
{
	border: 1px solid #e9c5a00c;
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	z-index: 1;
}

.ItemSlot #CraftButton
{
	vertical-align: center;
	margin-right: 12px;
	tooltip-position: top;
}

.ItemSlot #PremiumPurchaseButton
{
	vertical-align: center;
	margin-right: 12px;
	visibility: collapse;
}

.ItemSlot #ImageHoverPanel
{
	height: 76px;
	margin-bottom: -4px;
	width: height-percentage( 142% );
	ignore-parent-flow: true;
	opacity: 1;
}

.ItemSlot .ImageContainer
{
	background-color: black;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
	height: 72px;
	width: height-percentage( 150% );
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
	transition-property: brightness, transform, saturation;
	transition-duration: 0.15s;
}

.ItemSlot .ImageContainer:hover
{
	transform: scale3d( 1.01, 1.01, 1 );
	saturation: 1;
}

.SomePartHovered .ItemSlot .ImageContainer:not(:hover)
{
	brightness: 0.4;
	saturation: 0.4;
}

.ItemSlot .ImageContainer #ItemImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 104%;
	height: 104%;
	overflow: noclip;
}

.ItemSlot .ImageContainer .ViewItemIcon
{
	width: 18px;
	horizontal-align: right;
	vertical-align: bottom;
	img-shadow: 0px 1px 8px black;
	wash-color: LightestGrey;
	margin: 6px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.ItemSlot .SlotName
{
	vertical-align: center;
	color: TextColorLighter;
	width: 170px;
	vertical-align: center;
	margin: 0px 16px;
	margin-right: 8px;
	line-height: 1.3;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	max-height: 68px;
	text-overflow: shrink;
	transition-property: brightness;
	transition-duration: 0.15s;
}

.ItemSlot .CraftedContainer
{
	horizontal-align: right;
	flow-children: right;
	margin-right: 16px;
	vertical-align: center;
	visibility: collapse;
}

.ItemSlot .CraftedContainer .CraftedText
{
	vertical-align: center;
	color: GreenLightest;
	text-shadow: 0px 0px 12px GreenLightest&11;
	font-weight: semi-bold;
}

.ItemSlot .CraftedContainer .CraftedCheck
{
	width: 28px;
	vertical-align: center;
	wash-color: GreenLightest;
	margin-left: 20px;
	brightness: 6;
	padding: 2px;
	img-shadow: 0px 0px 12px GreenLightest&11;
}

.ItemSlot .TrackingStatus
{
	vertical-align: center;
	margin-right: 12px;
}

.ItemSlot #RequiresPremium,.ItemSlot #RequiresPrevious
{
	vertical-align: middle;
	margin-right: 6px;
	color: #a98a66;
	font-weight: semi-bold;
}

.ItemSlot #LockIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 16px;
	margin-top: -2px;
	wash-color: #a98a66;
}

.ItemSlot.LockedByPremium,.ItemSlot.LockedByOrdering
{
	brightness: 0.5;
}

.ItemSlot.LockedByPremium #TrackingStatus,.ItemSlot.LockedByPremium #CraftButton,.ItemSlot.LockedByPremium #RequiresPrevious,.ItemSlot.LockedByPremium #LockIcon,.ItemSlot.LockedByPremium #RequiresPremium
{
	visibility: collapse;
}

.ItemSlot.LockedByOrdering #TrackingStatus,.ItemSlot.LockedByOrdering #CraftButton,.ItemSlot.LockedByOrdering #RequiresPremium
{
	visibility: collapse;
}

.ItemSlot.CannotCraft #RequiresPremium,.ItemSlot.CannotCraft #RequiresPrevious,.ItemSlot.CannotCraft #LockIcon
{
	visibility: collapse;
}

.ItemSlot.PurchasableThroughPremium #TrackingStatus,.ItemSlot.PurchasableThroughPremium #CraftButton,.ItemSlot.PurchasableThroughPremium #RequiresPrevious,.ItemSlot.PurchasableThroughPremium #LockIcon,.ItemSlot.PurchasableThroughPremium #RequiresPremium
{
	visibility: collapse;
}

.ItemSlot.PurchasableThroughPremium #PremiumPurchaseButton
{
	visibility: visible;
}

.ItemSlot.CanCraft
{
	box-shadow: 0px 0px 32px -2px rgba(255, 185, 99, 0.04);
	animation-name: GlowItemSlot;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.ItemSlot.CanCraft .ItemSlotBorder
{
	border: 1px solid #ffffff;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFF5B1 ), to( #C8A277 ) );
}

.ItemSlot.CanCraft .ItemSlotBackground
{
	background-color: rgba(233, 197, 160, 0.04);
}

.ItemSlot.CanCraft .SlotName
{
	color: #fffbf0;
	text-shadow: 0px 0px 12px #ffb9634d;
}

.ItemSlot.CanCraft #RequiresPremium,.ItemSlot.CanCraft #RequiresPrevious,.ItemSlot.CanCraft #LockIcon
{
	visibility: collapse;
}

.ItemSlot.Crafted .ItemSlotBackground
{
	background-color: GreenLightest&02;
}

.ItemSlot.Crafted .ItemSlotBorder
{
	border: 1px solid GreenLightest&09;
}

.ItemSlot.Crafted .SlotName
{
	color: rgba(196, 231, 207, 0.7);
	width: fill-parent-flow(1);
}

.ItemSlot.Crafted .CraftedContainer
{
	visibility: visible;
}

.ItemSlot.Crafted #MaterialsRequiredContainer,.ItemSlot.Crafted #CraftButton,.ItemSlot.Crafted #TrackingStatus,.ItemSlot.Crafted #RequiresPremium,.ItemSlot.Crafted #RequiresPrevious,.ItemSlot.Crafted #LockIcon
{
	visibility: collapse;
}

.SomePartHovered .ItemSlot:not(:hover) .SlotName
{
	brightness: 0.4;
}

.ItemSlot:hover .SlotName
{
	brightness: 2.0;
}

.ItemSlot:hover .ImageContainer
{
	brightness: 2;
}

.ItemSlot:hover .ViewItemIcon
{
	opacity: 1;
}

.ItemSlot:active .SlotName
{
	brightness: 0.5;
}

.ItemSlot:active .ImageContainer
{
	brightness: 0.5;
}

@keyframes 'GlowItemSlot'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.8;
	}
	
}

#MaterialsRequiredContainer
{
	vertical-align: center;
	flow-children: right;
	width: fill-parent-flow(1);
	margin-right: 8px;
	margin-left: -12px;
	padding: 0px 12px;
	height: 100%;
	overflow: scroll squish;
	opacity-mask: url("s2r://panorama/images/masks/challenges_opacity_mask_png.vtex");
}

#MaterialsRequiredContainer HorizontalScrollBar
{
	height: 3px;
	margin: 0px 12px;
	margin-bottom: 3px;
	box-shadow: 0px 0px 0px #00000000;
}

#MaterialsRequiredContainer .MaterialQuantity
{
	flow-children: down;
	width: 40px;
	vertical-align: center;
	margin-top: 2px;
}

#MaterialsRequiredContainer .MaterialQuantity #MaterialUniversal
{
	visibility: collapse;
}

#MaterialsRequiredContainer .MaterialQuantity.ShowUniversal #Material
{
	brightness: 0.5;
}

#MaterialsRequiredContainer .MaterialQuantity.ShowUniversal #MaterialUniversal
{
	visibility: visible;
	animation-name: FadeInOut;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#MaterialsRequiredContainer .MaterialQuantity DOTAMonsterHunterMaterial
{
	margin: -8px -10px;
	horizontal-align: center;
}

#MaterialsRequiredContainer .MaterialQuantity .HasEnoughGlow
{
	width: 180%;
	height: 130%;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffc44d ), color-stop(0.5, #ffbd6d9a ), to( #ffead100 ) );
	blur: gaussian( 8px );
	opacity: 0;
	overflow: noclip;
	margin-top: -30%;
}

#MaterialsRequiredContainer .MaterialQuantity .MaterialName
{
	font-size: 14px;
	vertical-align: center;
	width: fill-parent-flow( 1 );
	color: #d8c9b77d;
	margin-left: 8px;
}

#MaterialsRequiredContainer .MaterialQuantity .Quantity
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 1px;
}

#MaterialsRequiredContainer .MaterialQuantity .QuantityText
{
	vertical-align: center;
	text-align: center;
	color: TextColorLighter&66;
	margin-right: 1px;
	height: 17px;
}

#MaterialsRequiredContainer .MaterialQuantity.HaveEnough .MaterialName
{
	color: #ffead1;
	text-shadow: 0px 0px 12px #ffba6537;
}

#MaterialsRequiredContainer .MaterialQuantity.HaveEnough .QuantityText
{
	font-weight: semi-bold;
	color: #ffead1;
	text-shadow: 0px 0px 12px #ffba6537;
}

#MaterialsRequiredContainer .MaterialQuantity.HaveEnough .HasEnoughGlow
{
	opacity: 0.2;
}

@keyframes 'FadeInOut'
{
	0%
	{
		opacity: 0.01;
	}
	
	35%
	{
		opacity: 0.6;
	}
	
	70%
	{
		opacity: 0.01;
	}
	
	100%
	{
		opacity: 0.01;
	}
	
}

.StyleSelector
{
	horizontal-align: center;
	margin: 8px 0px;
}

.StyleSelector .StyleArrow
{
	height: 64px;
	vertical-align: middle;
	wash-color: #AC997B;
	brightness: 0.4;
	transition-property: transform, brightness;
	transition-duration: 0.1s;
}

.StyleSelector .StyleArrow.DimBeforeFirstCrafting
{
	brightness: 0.1;
	saturation: 0.1;
}

.StyleSelector .StyleArrow.PreviousStyleComplete
{
	brightness: 1.5;
}

.StyleSelector .StyleArrow.PreviousStyleComplete.PreviousStyleSelected
{
	animation-name: ArrowGlow;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: 0.7s;
}

.StyleSelector .StyleArrow.CraftInAnyOrder
{
	opacity: 0;
}

.StyleSelector .StyleSelectorButton
{
	margin: 0px -40px;
	overflow: noclip;
	background-color: gradient( radial, 50% 40%, 0% 0%, 30% 40%, from( #eab15a00 ), color-stop( 0.5, #99774500 ), to( #41342000 ) );
	transition-delay: 0s;
}

.courier .StyleSelector .StyleSelectorButton
{
	margin: 0px -56px;
}

.poogie .StyleSelector .StyleSelectorButton
{
	margin: 0px -48px;
}

.StyleSelector .StyleSelectorButton .RadioBox
{
	visibility: collapse;
}

.StyleSelector .StyleSelectorButton DOTAUIEconSetPreview
{
	width: 220px;
	height: 220px;
	margin: -36px 0px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	transition-property: brightness;
	transition-duration: 0.15s;
}

.StyleSelector .StyleSelectorButton DOTAUIEconSetPreview.Courier
{
	transform: translateY( 16px );
}

.StyleSelector .StyleSelectorButton DOTAUIEconSetPreview.PetEffigy
{
	transform: translateX( -4px ) translateY( 16px );
}

.StyleSelector .StyleSelectorButton #StyleLabel
{
	max-width: 145px;
	max-height: 23px;
	text-overflow: shrink;
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	margin: 0px;
	color: TextColorGradientGold;
	font-size: 15px;
	text-shadow: 0px 1px 6px black;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.StyleSelector .StyleSelectorButton.Locked DOTAUIEconSetPreview
{
	brightness: 0.7;
}

.StyleSelector .StyleSelectorButton.Locked #StyleLabel
{
	padding-left: 24px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/guildmembership_icon_on_png.vtex");
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

.OwnsPremium .StyleSelector .StyleSelectorButton.Locked #StyleLabel
{
	padding-left: 22px;
	background-size: 16px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/lock_png.vtex");
	background-position: 0% 30%;
	opacity: 0.3;
}

.StyleSelector .StyleSelectorButton.Locked:selected DOTAUIEconSetPreview
{
	brightness: 1;
}

.OwnsPremium .StyleSelector .StyleSelectorButton.Locked:selected #StyleLabel
{
	opacity: 0.9;
}

.StyleSelector .StyleSelectorButton.Complete #StyleLabel
{
	padding-left: 28px;
	background-image: url("s2r://panorama/images/events/monster_hunter/icons/check_fancy.vsvg");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 0% 100%;
	color: GreenLightest;
	color: gradient( linear, 0% 0%, 0% 100%, from( GreenLightest ), to( GreenLighter ) );
}

.StyleSelector .StyleSelectorButton.DimBeforeFirstCrafting
{
	brightness: 0.4;
	saturation: 0.1;
	wash-color: rgb(92, 83, 75), 121);
}

.StyleSelector .StyleSelectorButton:active
{
	transform: translateY( 1px );
	brightness: 0.5;
}

.StyleSelector .StyleSelectorButton:hover #StyleLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( white ) );
}

.StyleSelector .StyleSelectorButton:hover DOTAUIEconSetPreview
{
	brightness: 1.5;
}

.StyleSelector .StyleSelectorButton:selected
{
	background-color: gradient( radial, 50% 40%, 0% 0%, 30% 40%, from( #eab15a5f ), color-stop( 0.5, #9977451d ), to( #41342000 ) );
}

.StyleSelector .StyleSelectorButton:selected DOTAUIEconSetPreview
{
	brightness: 1.5;
}

.StyleSelector .StyleSelectorButton:selected #StyleLabel
{
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 198, 129, 0.6);
}

.StyleSelector .StyleSelectorButton.Complete:selected #StyleLabel
{
	text-shadow: 0px 0px 12px GreenLightest&55;
}

.StyleSelector .StyleSelectorButton #StyleCraftingAvailable
{
	width: 60%;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	margin: 0px;
	transform: translateY( 10% );
	padding: 3px 0px 3px;
	font-weight: semi-bold;
	text-align: center;
	color: white;
	font-size: 12px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.3, rgba(177, 137, 72, 0.6) ), color-stop( 0.5, rgba(177, 137, 72, 0.9) ), color-stop( 0.7, rgba(177, 137, 72, 0.6) ), to( rgba(0, 0, 0, 0) ) );
	border-left: 0px;
	border-right: 0px;
	border: 1px solid rgba(255, 229, 194, 0.3);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgb(255, 255, 255) ), color-stop( 0.8, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: opacity, transform;
	transition-duration: 0.2s, 0.08s;
	visibility: collapse;
}

.StyleSelector .StyleSelectorButton.HasStyleCraftingAvailable #StyleCraftingAvailable
{
	visibility: visible;
}

@keyframes 'ArrowGlow'
{
	0%
	{
		brightness: 1.8;
		transform: scale3d( 0.95, 0.95, 1 );
	}
	
	100%
	{
		brightness: 2.6;
		transform: scale3d( 1, 1, 1 );
	}
	
}

DOTAMonsterHunterMaterialInventory
{
	margin-top: 20px;
}

#PurchaseUniversalMaterialsContainer
{
	width: fill-parent-flow(1);
	padding: 8px 12px;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: -24px;
	flow-children: right;
	border: 1px solid rgba(228, 220, 255, 0.1);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #9e8fcb0a ), color-stop( 0.4, #9e8fcb10 ), color-stop( 0.6, #9e8fcb10 ), to( #9e8fcb0a ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff6c ), color-stop( 0.5, #FFFFFF ), to( #ffffff6c ) );
	visibility: collapse;
}

#PurchaseUniversalMaterialsContainer .UniversalMaterialIcon
{
	width: 18px;
	height: 18px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #EA9EEB ), to( #FA6895 ) );
	margin-right: 6px;
	vertical-align: center;
}

#PurchaseUniversalMaterialsContainer #PurchaseUniversalMaterialsText
{
	width: fill-parent-flow(1);
	color: rgba(228, 226, 255, 0.9);
	vertical-align: center;
	text-shadow: 0px 2px 4px black;
	font-size: 16px;
	line-height: 1.1;
	text-overflow: shrink;
	max-height: 37px;
}

#PurchaseUniversalMaterialsContainer #PurchaseUniversalMaterialsText b
{
	font-weight: semi-bold;
}

#PurchaseUniversalMaterialsContainer .ArrowIcon
{
	wash-color: rgba(228, 226, 255, 0.9);
	vertical-align: center;
	width: 20px;
	height: 20px;
}

.ShowUniversalMaterialsPurchaseOption #PurchaseUniversalMaterialsContainer
{
	visibility: visible;
	animation-name: GlowPurchaseMessage;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#PurchaseUniversalMaterialsContainer:hover
{
	brightness: 1.5;
}

#PurchaseUniversalMaterialsContainer:active
{
	brightness: 0.5;
}

@keyframes 'GlowPurchaseMessage'
{
	0%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #9e8fcb0a ), color-stop( 0.4, #9e8fcb10 ), color-stop( 0.6, #9e8fcb10 ), to( #9e8fcb0a ) );
	}
	
	100%
	{
		background-color: gradient( linear, 0% 0%, 100% 0%, from( #9e8fcb0a ), color-stop( 0.4, #9e8fcb24 ), color-stop( 0.6, #9e8fcb24 ), to( #9e8fcb0a ) );
	}
	
}

.CraftAllButton
{
	horizontal-align: center;
	visibility: collapse;
	margin-top: 0px;
	transition-property: opacity;
	transition-duration: 0.05s;
	transition-delay: 0s;
}

.CraftAllButton.CanCraftAll
{
	visibility: visible;
}

.MaterialTraderVisible .CraftAllButton
{
	opacity: 0;
	transition-delay: 0.3s;
	transition-duration: 0.3s;
}

#CloseButton
{
	opacity: 1;
	flow-children: right;
	padding: 16px;
}

.GCStatusVisible #CloseButton
{
	margin-top: 24px;
}

.AspectRatio21x9 #CloseButton
{
	padding: 40px 16px;
}

#CloseButton Image
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	margin: 0px 8px;
	opacity-brush: TextColorGradientGold;
	transition-duration: 0.1s;
	transition-property: opacity-brush;
}

#CloseButton Label
{
	vertical-align: center;
	color: TextColorGradientGold;
	font-weight: semi-bold;
	transition-duration: 0.1s;
	transition-property: color;
}

#CloseButton:hover Label
{
	color: white;
}

#CloseButton:hover Image
{
	opacity-brush: white;
}

.FirstCraftingNotDone #CloseButton
{
	visibility: collapse;
}

.NextPrevSetButton
{
	ui-scale: 80%;
	flow-children: right;
	vertical-align: center;
	margin: 32px;
	margin-bottom: 120px;
	width: 80px;
	height: width-percentage(100%);
	border-radius: 50%;
	padding: 12px;
	padding-left: 10px;
	padding-right: 14px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #A68E6A ), to( #524937 ) );
	transition-duration: 0.1s;
	transition-property: border, opacity, background-color;
}

.NextPrevSetButton:hover
{
	border: 1px solid rgba(255, 255, 255, 0.6);
	background-color: rgba(0, 0, 0, 0.8);
}

.NextPrevSetButton:hover Label
{
	color: white;
}

.NextPrevSetButton:hover Image
{
	opacity-brush: white;
	opacity: 1;
}

.NextPrevSetButton:active
{
	transform: scale3d( 0.95, 0.95, 1 );
}

.NextPrevSetButton Image
{
	width: 24px;
	height: 24px;
	vertical-align: center;
	opacity-brush: TextColorGradientGold;
	opacity: 0.2;
	transition-duration: 0.1s;
	transition-property: opacity-brush, opacity;
}

.NextPrevSetButton DOTAHeroImage
{
	vertical-align: center;
}

.FirstCraftingNotDone .NextPrevSetButton
{
	visibility: collapse;
}

.MaterialTraderVisible .NextPrevSetButton
{
	opacity: 0;
}

#NextSetButton
{
	horizontal-align: right;
	flow-children: left;
	padding-right: 10px;
	padding-left: 14px;
}

.NextPreviousButtonContainer
{
	horizontal-align: center;
	width: 100%;
	padding: 14px 24px 12px;
}

.FirstCraftingNotDone .NextPreviousButtonContainer
{
	visibility: collapse;
}

.NextPreviousButtonContainer .NextPrevButtons
{
	horizontal-align: right;
	flow-children: right;
}

.NextPreviousButtonContainer .NextPrevSetButton
{
	flow-children: right;
	opacity: 0.6;
}

.NextPreviousButtonContainer .NextPrevSetButton:hover Label
{
	color: white;
}

.NextPreviousButtonContainer .NextPrevSetButton:hover Image
{
	opacity-brush: white;
}

.NextPreviousButtonContainer .NextPrevSetButton:active
{
	transform: translateY( 1px );
}

.NextPreviousButtonContainer .NextPrevSetButton Image
{
	width: 20px;
	height: 20px;
	vertical-align: center;
	margin: 0px 8px;
	opacity-brush: TextColorGradientGold;
	transition-duration: 0.1s;
	transition-property: opacity-brush;
}

.NextPreviousButtonContainer .NextPrevSetButton Label
{
	vertical-align: center;
	color: TextColorGradientGold;
	transition-duration: 0.1s;
	transition-property: color;
}

.FirstCraftingNotDone .NextPreviousButtonContainer .NextPrevSetButton
{
	visibility: collapse;
}

.NextPreviousButtonContainer #PreviousSetButton
{
	horizontal-align: left;
}

.NextPreviousButtonContainer #NextSetButton
{
	horizontal-align: right;
}

.NextPreviousButtonContainer #NextSetButton Label
{
	text-align: right;
}

