/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.LastChancePopup.PopupPanel
{
	width: 1280px;
	height: 800px;
	padding: 0px;
	flow-children: none;
	animation-name: none;
	background-image: url("s2r://panorama/images/compendium/international2023/ti23_popup_background_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
}

.CompediumBackgroundParticles
{
	width: 100%;
	height: 400px;
	ignore-parent-flow: true;
	transform: scaleY( -1 );
}

.CompediumBackgroundParticles2
{
	width: 100%;
	height: 300px;
	ignore-parent-flow: true;
	transform: scaleY( -1 );
}

.Contents
{
	flow-children: down;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.Contents .Title
{
	width: 100%;
	text-align: center;
	font-size: 32px;
}

.Contents .EndingDate
{
	width: 100%;
	font-size: 40px;
	font-family: titleFont;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( LighterGrey ) );
	text-shadow: 0px 4px 24px #000000aa;
	width: 100%;
	text-align: center;
	text-overflow: shrink;
	letter-spacing: -0.2px;
	text-overflow: shrink;
	padding-top: 12px;
	border-top: 1px solid rgba(255, 255, 255, 0.251);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( secondaryColor1&00 ), color-stop( 0.5, primaryColor2), to( secondaryColor1&00 ) );
}

.LogoContainer
{
	flow-children: down;
	width: 100%;
	ui-scale: 60%;
	margin-bottom: 8px;
}

.LogoContainer .TopRightGodRays
{
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	width: 50%;
	height: 100%;
}

.LogoContainer .Logo
{
	width: 300px;
	horizontal-align: center;
	margin-top: 48px;
}

.LogoContainer .Title
{
	width: 100%;
	font-size: 64px;
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 8px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2 ), to( primaryColor1 ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

#StarsContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 8px;
}

.PurchaseAsGift #StarsContainer
{
	visibility: collapse;
}

#StarsContainer .CompendiumStar
{
	width: 12px;
	height: 12px;
	background-image: url("s2r://panorama/images/control_icons/24px/star.vsvg");
	background-size: cover;
	background-position: center;
	wash-color: loserRed;
	margin: 0px 4px;
}

.Sections
{
	flow-children: right;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	padding: 12px 64px 48px;
}

.Sections .CompendiumSection
{
	width: fill-parent-flow( 2.05 );
	height: 100%;
}

.Sections .CompendiumSection .SectionFeatures Label
{
	margin: 0px 56px;
}

.Sections .CompendiumSection .SectionImage
{
	background-image: url("s2r://panorama/images/compendium/international2023/lastchance_popup/compendium_rewards_png.vtex");
	width: 100%;
	height: 100%;
	margin: 0px;
}

.Sections .TalentSection
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	margin-left: 16px;
}

.Sections .TalentSection .SectionImage
{
	background-image: url("s2r://panorama/images/compendium/international2023/lastchance_popup/talent_stickers_png.vtex");
}

.Sections .SupportersClubSection
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	margin-left: 16px;
}

.Sections .SupportersClubSection .SectionImage
{
	background-image: url("s2r://panorama/images/compendium/international2023/lastchance_popup/supporters_club_png.vtex");
}

.PopupSection
{
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( primaryColor7 ) );
	box-shadow: 0px 16px 64px -4px rgba(0, 0, 0, 0.5);
}

.PopupSection .SectionImage
{
	ignore-parent-flow: true;
	width: 380px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 64px;
	overflow: noclip;
	background-size: cover;
	background-position: center;
}

.PopupSection .TopDash
{
	width: 100%;
	height: 4px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( primaryColor4 ), color-stop( 0.5, primaryColor2 ), to( primaryColor4 ) );
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.PopupSection .InnerBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid white;
	opacity: 0.01;
}

.PopupSection .SectionHeader
{
	width: 100%;
	padding: 24px;
	flow-children: down;
}

.PopupSection .SectionHeader .SectionTitle
{
	text-transform: uppercase;
	letter-spacing: 1.5px;
	width: 100%;
	text-align: center;
	font-family: titleFont;
	font-weight: semi-bold;
	font-size: 22px;
	line-height: 1.3;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor3 ) );
	brightness: 1.8;
	text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
	text-overflow: shrink;
	height: 60px;
}

.PopupSection .SectionHeader .SectionSubtitle
{
	font-size: 16px;
	width: 100%;
	text-align: center;
}

.PopupSection .SectionContents
{
	width: 100%;
	vertical-align: bottom;
	ignore-parent-flow: true;
	margin: 24px;
	flow-children: down;
}

.PopupSection .SectionContents Button
{
	width: 100%;
	margin-top: 20px;
}

.PopupSection .SectionContents .SectionFeatures
{
	vertical-align: bottom;
	width: 100%;
	flow-children: down;
}

.PopupSection .SectionContents .SectionFeatures Label
{
	width: 100%;
	text-align: center;
	line-height: 1.3;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
	text-overflow: shrink;
	height: 70px;
}

.CloseButton
{
	horizontal-align: right;
}

