/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

.TalentPopup.PopupPanel
{
	width: 1040px;
	height: 650px;
	padding: 0px;
	flow-children: none;
	animation-name: none;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/front_page/international2023_talent_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ContentContainer
{
	flow-children: down;
	width: 45%;
	margin-right: 64px;
	horizontal-align: right;
	vertical-align: center;
}

.ContentContainer Label
{
	width: 100%;
	text-align: center;
}

.ContentContainer .Header
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: semi-bold;
	letter-spacing: 2px;
	font-size: 42px;
	color: white;
	line-height: 1.2;
	z-index: 2;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
	text-shadow: textShadowSmall;
	brightness: 1.3;
	text-align: center;
	width: 100%;
}

.ContentContainer .NowAvailable
{
	color: white;
	text-transform: uppercase;
	text-shadow: textShadowSmall;
	letter-spacing: 4px;
	margin-bottom: 8px;
	font-size: 24px;
	font-weight: semi-bold;
}

.ContentContainer .Desc
{
	width: 100%;
	text-align: center;
	color: #ccc;
	text-shadow: textShadowSmall;
}

.ContentContainer .Percentage
{
	width: 100%;
	text-align: center;
	padding-top: 12px;
	border-top: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( secondaryColor1&00 ), color-stop( 0.3, secondaryColor1 ), color-stop( 0.7, secondaryColor1 ), to( secondaryColor1&00 ) );
}

.ContentContainer .ViewButton
{
	margin: 24px;
	horizontal-align: center;
	width: 50%;
}

.CloseButton
{
	horizontal-align: right;
}

