/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 1280px;
	height: width-percentage( 56.25% );
	flow-children: none;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #121216 ), to( #1E0E0D ) );
	box-shadow: 0px 24px 88px rgba(0, 0, 0, 0.5);
}

#CloseButton
{
	margin: 16px;
	horizontal-align: right;
}

.PopupPanel
{
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.PopupPanel.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
}

.PopupBackground
{
	width: 140%;
	height: 140%;
	horizontal-align: right;
	overflow: noclip;
	brightness: 0.8;
}

.QuarteroArt
{
	margin-left: 24px;
}

#QuarteroLogoType
{
	margin-bottom: -8px;
}

#QuarteroLogoType #QuarteroLogoBGArt
{
	width: 191px;
	height: 211px;
	vertical-align: center;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/events/quartero_fall/emblem_fall_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
}

#QuarteroLogoType .LogoText
{
	horizontal-align: right;
	brightness: 1.30;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 40px;
	text-align: center;
	font-size: 44px;
	line-height: 1.1;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0px 2px 16px black;
	color: whitesmoke;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
}

#Contents
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
	width: 40%;
	margin-right: 48px;
	margin-bottom: 24px;
}

.IntroText
{
	width: 100%;
	font-family: titleFont;
	font-size: 22px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	margin-bottom: 12px;
	padding: 0px 24px;
}

.Description
{
	width: 100%;
	color: whitesmoke;
	opacity: 0.8;
	padding: 0px 24px;
}

.Description b
{
	font-weight: semi-bold;
	color: whitesmoke;
}

.Divider
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #6b5c4600 ), color-stop( 0.5, #fbe4c2 ), to( #6b5c4600 ) );
	opacity: 0.2;
	margin: 20px 0px;
}

#PrimaryButton
{
	horizontal-align: center;
	width: 220px;
	margin-top: 12px;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.015);
}

.PopupBorderDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #514431 ), color-stop( 0.5, #a89c78 ), to( #514431 ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.PopupBorderDash.Bottom
{
	vertical-align: bottom;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}


