/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	width: 1560px;
	height: width-percentage( 56.25% );
	flow-children: none;
	vertical-align: center;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #121216 ), to( #1E0E0D ) );
	box-shadow: 0px 24px 88px rgba(0, 0, 0, 0.5);
}

#CloseButton
{
	margin: 16px;
	horizontal-align: right;
}

.PopupPanel
{
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

.PopupPanel.Hidden
{
	opacity: 0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
}

.PopupBackground
{
	width: 120%;
	height: 120%;
	horizontal-align: right;
	overflow: noclip;
	brightness: 0.8;
}

.QuarteroArt
{
	margin-left: 24px;
}

#QuarteroLogoType
{
	margin-top: 16px;
	horizontal-align: center;
}

#QuarteroLogoType #QuarteroLogoBGArt
{
	width: 170px;
	vertical-align: center;
	horizontal-align: center;
}

#QuarteroLogoType .LogoText
{
	horizontal-align: right;
	brightness: 1.30;
	vertical-align: center;
	horizontal-align: center;
	margin-top: 20px;
	height: 64px;
	text-align: center;
	font-size: 44px;
	text-overflow: shrink;
	line-height: 1.1;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	text-shadow: 0px 2px 16px black;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
}

#Contents
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
	height: 100%;
	width: 42%;
	margin-right: 48px;
	margin-bottom: 24px;
}

#IntroLinesContainer
{
	height: fit-children;
	width: 100%;
	flow-children: down;
	max-height: 422px;
	overflow: squish scroll;
}

.IntroText
{
	width: 100%;
	font-family: titleFont;
	font-size: 22px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	margin-bottom: 12px;
	padding: 0px 24px;
}

.InstructionTextContent
{
	horizontal-align: center;
	flow-children: right;
	margin-top: 12px;
	margin-bottom: 4px;
}

.InstructionTextContent .InstructionText
{
	horizontal-align: center;
	vertical-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #EFD4AC ), to( #977628 ) );
	letter-spacing: 1.5px;
	font-size: 18px;
	text-shadow: 0px 2px 12px black;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.InstructionTextContent.HideInstructionContainer
{
	opacity: 0;
}

.Description
{
	width: 100%;
	color: rgb(205, 200, 189);
	opacity: 0;
	padding: 0px 24px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.Description b
{
	font-weight: semi-bold;
	color: whitesmoke;
}

.Description.PostLineBreak
{
	margin-bottom: 20px;
}

.Description.PreviousSeasonHyperlink
{
	font-weight: semi-bold;
	text-decoration: underline;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.Description.PreviousSeasonHyperlink:hover
{
	color: white;
}

.ShowLabel
{
	opacity: 1;
}

.Divider
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #6b5c4600 ), color-stop( 0.1, #fbe4c266 ), color-stop( 0.5, #fbe4c2 ), color-stop( 0.9, #fbe4c266 ), to( #6b5c4600 ) );
	opacity: 0.1;
	margin: 16px 0px;
}

#PrimaryButton
{
	horizontal-align: center;
	width: 220px;
	margin-top: 12px;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.015);
}

.PopupBorderDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #514431 ), color-stop( 0.5, #a89c78 ), to( #514431 ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.PopupBorderDash.Bottom
{
	vertical-align: bottom;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}

#SeasonPicker
{
	width: 100%;
	margin: 16px 12px;
	horizontal-align: center;
	padding: 12px 0px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-left: 0px;
	border-right: 0px;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #6b5c4600 ), color-stop( 0.1, #fbe4c233 ), color-stop( 0.5, #fbe4c2 ), color-stop( 0.9, #fbe4c233 ), to( #6b5c4600 ) );
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.02, #FFFFFF ), color-stop( 0.98, #FFFFFF ), to( #FFFFFF00 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.1, #27100c66 ), color-stop( 0.5, #361b0bd0 ), color-stop( 0.9, #27100c66 ), to( #00000000 ) );
}

#SeasonPicker .SeasonPickerNav
{
	padding: 0px 4px;
	width: 100%;
	flow-children: right;
	overflow: scroll squish;
}

#SeasonPicker .SeasonPickerNav HorizontalScrollBar
{
	opacity: 0;
}

#SeasonPicker .PreviousSeasonsLabel
{
	vertical-align: center;
	margin-left: 10px;
	margin-right: 10px;
	color: rgb(205, 200, 189);
	color: #cd7a64;
	color: gradient( linear, 0% 30%, 0% 90%, from( #cb7b49 ), to( #c5683d ) );
	text-shadow: 0px 2px 8px black;
	margin-top: -2px;
}

#SeasonPicker .SeasonButton
{
	margin: 0px 1px;
	padding: 4px 8px 5px;
	border-radius: 4px;
	background-color: #00000000;
	transition-property: transform, background-color, color, text-shadow;
	transition-duration: 0.05s, 0.1s;
}

#SeasonPicker .SeasonButton Label
{
	color: gradient( linear, 0% 30%, 0% 120%, from( #ffe1b5 ), to( #6B5C46 ) );
	text-shadow: 0px 2px 12px black;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

#SeasonPicker .SeasonButton:hover
{
	background-color: #ffd98705;
}

#SeasonPicker .SeasonButton:hover Label
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #ffffff ), to( #ffffff ) );
	text-shadow: 0px 0px 12px rgba(255, 188, 126, 0.6);
}

#SeasonPicker .SeasonButton:active
{
	transform: translateY( 1px );
}

