/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CrownfallAct3Popup
{
	width: 1180px;
	height: 740px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
}

#BackgroundImage
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/actiii_popup_background_png.vtex");
	background-repeat: no-repeat;
	background-size: cover;
	brightness: 0.35;
}

.Language_schinese .CrownfallLogo,.CrownfallLogoCN
{
	visibility: collapse;
}

.Language_schinese .CrownfallLogoCN,.CrownfallLogo
{
	visibility: visible;
}

.ContentsContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
}

.ContentsContainer .CrownfallLogo,.ContentsContainer .CrownfallLogoCN
{
	horizontal-align: center;
	width: 420px;
	margin-top: -20px;
	margin-bottom: -40px;
}

.ContentsContainer .DashDotDivider
{
	width: 600px;
	margin-bottom: 12px;
}

.ContentsContainer .DashDotDivider Label
{
	margin: 0px 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.ContentsContainer Label
{
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.ContentsContainer .Title
{
	color: white;
	font-size: 44px;
	margin-bottom: -4px;
}

.ContentsContainer .SubTitle
{
	color: LighterGrey;
	font-family: titleFont;
	font-size: 24px;
	color: #e1f1fff5;
	letter-spacing: 0.1px;
	text-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.ContentsContainer .BansScreengrab
{
	width: 600px;
	horizontal-align: center;
	margin-top: -60px;
	margin-bottom: -68px;
}

.ContentsContainer #DismissButton
{
	horizontal-align: center;
	min-width: 300px;
}

.ContentsContainer .Description
{
	width: 580px;
	color: #b7cbdc;
	opacity: 0.8;
	font-size: 19px;
	line-height: 1.3;
	margin: 20px 0px 40px;
}

.ContentsContainer .Description b
{
	color: white;
	font-weight: semi-bold;
}


