@define ANIM_LENGTH: 30s;
@define ANIM_COUNT: 1;

.LoadingScreenRoot
{
	overflow: clip;
}

@keyframes 'x' {}

#Title
{
	transform: translateX( 50px ) translateY( 50px );
	flow-children: down;
	width: 45%;
	height: 100%;
}

#Conquest
{
	text-transform: uppercase;
	font-size: 80px;
	letter-spacing: 5px;
	color: #edf1d6;
	text-shadow: 0px 0px 5px 4.0 black;
	margin: 15px;
	horizontal-align: left;
	text-overflow: clip;
}

#Subtitle
{
	margin-top: -60px;
	text-transform: uppercase;
	font-size: 80px;
	color: #cccccc;
	text-shadow: 4px 4px 4px #000000;
	font-family: Radiance;
}

#Background
{
	width: 100%;
	height: 100%;
	
	animation-name: BackgroundAnim1;
	animation-duration: ANIM_LENGTH;
	animation-timing-function: linear;
	animation-iteration-count: ANIM_COUNT;

	vertical-align: center;
	horizontal-align: center;

	background-image: url("file://{images}/custom_game/loading_screen/load_bg.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

	overflow: clip;
}

@keyframes 'BackgroundAnim1'
{
	0%
	{
		transform: translateX( 0px );
	    pre-transform-scale2d: 1.2;
	}

	100%
	{
		transform: translateX( 0px );
	    pre-transform-scale2d: 1;
	}
}

#TPGlow
{
	width: 600px;
	height: 500px;
	
	animation-name: TPGlowAnim;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	background-image: url("file://{images}/custom_game/loading_screen/load_glow.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;

	transform: translateX( 905px ) translateY( 450px );
}

.AspectRatio16x10 #TPGlow
{
	transform: translateX( 810px ) translateY( 450px );
	width: 550px;
}

.AspectRatio4x3 #TPGlow
{
	transform: translateX( 670px ) translateY( 450px );
	width: 550px;
}

@keyframes 'TPGlowAnim'
{
	0%
	{
	    opacity: 1;
	}

	50%
	{
	    opacity: 0.5;
	}

	100%
	{
	    opacity: 1;
	}
}

#Tiny
{
	width: 1400px;
	height: 1400px;

	animation-name: TinyAnim;
	animation-duration: ANIM_LENGTH;
	animation-timing-function: linear;
	animation-iteration-count: ANIM_COUNT;

	background-image: url("file://{images}/custom_game/loading_screen/load_a.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	transform: translateX( 520px ) translateY( -190px );
}

@keyframes 'TinyAnim'
{
	0%
	{
//	    pre-transform-scale2d: 0.95;
		transform: translateX( 450px ) translateY( -210px );
	}

	100%
	{
//	    pre-transform-scale2d: 1.0;
		transform: translateX( 520px ) translateY( -190px );
	}
}

#Earthshaker
{
	width: 1500px;
	height: 1200px;

	animation-name: EarthshakerAnim;
	animation-duration: ANIM_LENGTH;
	animation-timing-function: linear;
	animation-iteration-count: ANIM_COUNT;

	background-image: url("file://{images}/custom_game/loading_screen/load_b.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	transform: translateX( -250px ) translateY( 10px );
}


@keyframes 'EarthshakerAnim'
{
	0%
	{
	    pre-transform-scale2d: 0.75;
		transform: translateX( 0px ) translateY( 0px );
	}

	100%
	{
	    pre-transform-scale2d: 1.0;
		transform: translateX( -250px ) translateY( 10px );
	}
}

#ForegroundDust
{
    vertical-align: bottom;
	width: 1900px;
	height: 400px;

	animation-name: ForegroundDustAnim;
	animation-duration: ANIM_LENGTH;
	animation-timing-function: linear;
	animation-iteration-count: ANIM_COUNT;

	background-image: url("file://{images}/custom_game/loading_screen/load_fg_a.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	transform: translateX( 50px ) translateY( 0px );
}


@keyframes 'ForegroundDustAnim'
{
	0%
	{
	    pre-transform-scale2d: 0.8;
		transform: translateX( -50px ) translateY( 80px );
	}

	100%
	{
	    pre-transform-scale2d: 1.0;
		transform: translateX( 50px ) translateY( 0px );
	}
}

