DOTAActionListReward
{
    width: 230px;
    flow-children: down;
    padding: 6px 6px;
    border-radius: 8px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 64px;

    margin-left: 15px;

    background-color: gradient( linear, 0% 0%, 0% 140%, from( #b9e2dc3d ), color-stop( 0.1, #77ADA422 ), color-stop( 0.3, #aae2d924 ), color-stop( 0.5, #c7ece652 ), color-stop( 0.6, #aae2d924 ),to( #77ADA405 ) );
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 15% 150%, from( #77ADA422 ), color-stop( 0.3, #aae2d934 ), color-stop( 0.5, #ebfffcab ), color-stop( 0.6, #aae2d934 ),to( #77ADA411 ) );
    box-shadow: 2px 2px 4px #0002;
}

.ActionListRewardHeader
{
    horizontal-align: center;
    flow-children: right;
    margin-bottom: 6px;
    margin-top: -2px;
    width: 100%;
    height: 24px;
}

#ActionListIcon
{
    width: 24px;
    height: 24px;
    wash-color: #E2FCF9;
    vertical-align: middle;

    background-image: url( "file://{images}/control_icons/random_dice.psd");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#ActionListInfoIcon
{
    margin: 0px 0px 0px 4px;
    tooltip-position: top;
    tooltip-body-position: 50% 50%;
    wash-color: #E2FCF9;
    visibility: collapse;
    &.ShowInfoIcon
    {
        visibility: visible;
    }
}

.ActionListTitle
{
	width: fill-parent-flow( 1.0 );
    font-size: 14px;
    text-overflow: shrink;
    text-transform: uppercase;
    vertical-align: middle;
    margin-left: 2px;
    color: #E2FCF9;
}

#ActionListItems
{
    horizontal-align: center;
    flow-children: right-wrap;
    width: 100%;
    border-radius: 4px;
    padding: 6px;
    border: 1px solid white;
    border-brush: gradient( linear, 0% 0%, 15% 150%, from( #77ADA422 ), color-stop( 0.3, #aae2d934 ), color-stop( 0.5, #ebfffcab ), color-stop( 0.6, #aae2d934 ),to( #77ADA411 ) );
    box-shadow: 2px 2px 4px #0002;
}

.EmoticonRewardType #ActionListItems .ActionListItem
{
}

.ActionListItem.AlreadyReceived #RewardContainer .RewardLineIcon
{
    saturation: 0.2;
    brightness: 0.2;
}

.ActionListItemClaimedIcon
{
    wash-color: winnerGreen;
    width: 24px;
    height: 24px;
    vertical-align: top;
    horizontal-align: right;

    background-image: url( "file://{images}/control_icons/check.png" );
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;

    pre-transform-scale2d: .75;
    visibility: collapse;
}

.ActionListItem.AlreadyReceived .ActionListItemClaimedIcon
{
    visibility: visible;
}

.ActionListRewardType.ChatWheelRewardType #ActionListItems
{
    width: 100%;
    flow-children: down;
}
.ActionListRewardType.ChatWheelRewardType .ActionListItem
{
    width: 100%;
}
.ActionListRewardType.ChatWheelRewardType .ActionListItem #RewardContainer
{
    width: 100%;
}
.ActionListRewardType.ChatWheelRewardType .ActionListItemClaimedIcon
{
    horizontal-align: right;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    transform: translateY( -2px );
}

                            

.EmoticonReward
{
    width: 50px;
    height: 50px;
    margin: 0 6px;
    overflow: noclip;
}

#ItemContainer > .EmoticonReward
{
    vertical-align: bottom;
    overflow: squish;
    width: 100px;
    height: 100px;
    ui-scale: 200%;
    margin-bottom: 52px;
}

.EmoticonReward .RewardLineIcon
{
    texture-sampling: point;
    width: 50px;
    height: 50px;
    opacity-mask: none;
    border: 1px solid transparent;
    z-index: 2;
    tooltip-position: top;
}

.EmoticonReward .RewardLineIconShadow
{
    height: 18px;
    width: 30px;
    pre-transform-scale2d: 2;
    background-color: none;
    border: 0px solid transparent;
    opacity-mask: none;
    z-index: 1;
    margin-bottom: 0;
    margin-top: 0;
    wash-color: black;
    transform: translateX(20px) translateY(15px) skew(-12deg);
    blur: gaussian(2px);
    padding: 2px;
    opacity: .6;
    vertical-align: middle;
}

.EmoticonReward .RewardLineIconRef
{
    height: 23px;
    background-color: none;
    pre-transform-scale2d: 4;
    margin-left: 0px;
    margin-bottom: 50px;
    blur: gaussian(3px);
    opacity: 0.5;
    border: 1px solid transparent;
    z-index: 1;

    visibility: collapse;

}
                           

.ChatWheelReward
{
	width: fill-parent-flow(1);
    vertical-align: bottom;
}

.SprayRewardType .ChatWheelReward
{
    margin-bottom: 32px;
}

.SprayRewardType #ChatWheelMessages
{
    horizontal-align: center;
}

.ChatWheelMessage
{
	flow-children: right;
	height: 22px;
    margin-right: 15px;
}

.ChatWheelMessage.ChatWheelMessageIsSpray
{
    height: 200px;
    width: 220px;
    padding-left: 6px;
    padding-right: 0px;
    margin-right: 0;
}

.ChatWheelMessageIcon
{
	width: 20px;
	height: 20px;
	background-image: url( "file://{images}/control_icons/chat_wheel_icon.png" );
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    wash-color: #FA98E8;
}


#SprayWheelImageContainer
{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    perspective: 5000px;
    perspective-origin: 1250px 0;
    tooltip-position: top;
    tooltip-body-position: 50% 50%;

    visibility: collapse;
}

.ChatWheelMessage.ChatWheelMessageIsSpray #SprayWheelImageContainer
{
    visibility: visible;
}

#SprayWheelImageContainer:hover .SprayWheelImage
{
    brightness: 1;
}

.SprayWheelImage
{
    width: 150px;
    height: 150px;
    z-index: 1;
    transition-property: transform;
    transition-duration: .21s;
    transform: rotateX(45deg) translateX(12px) translateY(12px);
    transform-origin: 0% 100%;
}

.ChatWheelMessage.ChatWheelMessageIsSpray:hover .SprayWheelImage:not(.SprayShadow)
{
    transform: rotateX( 0.01deg ) translateX(12px) translateY(12px);
}

.ChatWheelMessage.ChatWheelMessageIsSpray:hover .SprayWheelImage.SprayShadow
{
    transform: rotateX(55deg) translateX(12px) translateY(14px) translateZ(-12px);
}

.SprayWheelImage.SprayShadow
{
    transform: rotateX(55deg) translateX(12px) translateY(12px)  translateZ(-12px);
    wash-color: black;
    blur: gaussian(6px);
    z-index: 0;
    opacity: .6;
}

.ChatWheelMessageIsSpray .ChatWheelMessageIcon
{
	visibility: collapse;
}

#ChatWheelMessageSoundButton
{
	width: 16px;
	height: 16px;

	background-image: url( "file://{images}/hud/reborn/icon_scoreboard_mute_sound.psd" );
	background-repeat: no-repeat;
	background-size: contain;

	visibility: collapse;
}

.ChatWheelMessageIsSpray #ChatWheelMessageSoundButton
{
	margin-top: 54px;
	width: 30px;
	height: 30px;
}

.ChatWheelMessage.ChatWheelMessageHasSound:not(.ChatWheelMessageIsSpray) #ChatWheelMessageSoundButton
{
	visibility: visible;
}

#ChatWheelMessageSoundButton:hover
{
	brightness: 2.0;
}
#ChatWheelMessageSoundButton:active
{
	brightness: 1.5;
}

.ChatWheelMessage > Label
{
    font-size: 16px;
    color: white;
    margin-left: 4px;
    text-shadow: 1px 1px 2px 2 black;
    text-overflow: ellipsis;
}