ComicViewerBookLibrary {
    width: 1920px;
    height: 1080px;
    background-color: black;
}

#ComicBooks {
    width: 100%;
    height: 100%;

    flow-children: right-wrap;
}

#ComicBooks {
	margin-top: 100px;                                                    
}

.ComicBook {
    width: 400px;
    height: 400px;

    transition-property: brightness;
    transition-duration: 0.2s;

    &:hover {
        brightness: 2.0;
    }
    &:active {
        brightness: 1.5;
    }

    #CoverImage {
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: contain;
    }

    #Button {
        width: 100%;
        height: 100%;
    }
}
