
.DashboardPage {
	height: 100%;
	margin-top: 60px;
	flow-children: right;
	horizontal-align: center;
	width: fit-children;
}

.Column {
	width: fill-parent-flow( 1 );
	height: 100%;
	padding: 64px 64px 200px;
	flow-children: down;
	overflow: squish scroll;
	opacity-mask: url( "file://{images}/masks/scrolling_side_nav_mask.psd" );

	.Cell {
		flow-children: down;
		margin-bottom: 24px;
		width: 100%;
	}
}

.RegionHeader {
	color: white;
	margin-bottom: 16px;
}

.ComponentTitle {
	padding: 12px 0px;
}

.Spacer {
	width: 100%;
	height: 12px;
}

.ComponentInlineLabel {
	margin-left: 12px;
}