
DOTAAccomplishmentsDebugPage
{
	flow-children: down;
}

#Header
{
	width: 100%;
	background-color: black;
	padding: 12px;
	flow-children: right;
}

#AvatarImage
{
	width: 48px;
	height: 48px;
}

#UserName
{
	vertical-align: middle;
	margin-left: 12px;
	transform: translateY( 4px );
}

#UserName > Label
{
	font-size: 32px;
}

#Contents
{
	flow-children: right;
	background-color: #0009;
	width: 100%;
	height: fill-parent-flow( 1.0 );
	padding: 6px;
}

.AccomplishmentsSection
{
	flow-children: down;
	width: fill-parent-flow( 1.0 );
	padding: 6px;
}

.AccomplishmentsTitle
{
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.AccomplishmentsContents
{
	margin-top: 12px;
	flow-children: down;
	height: fill-parent-flow( 1.0 );
	overflow: squish scroll;

}

#HeroPicker
{
	flow-children: right;
	background-color: #111;
	width: 600px;
	margin: 8px 0px;
	border: 2px solid black;
}

#HeroPicker:hover
{
	brightness: 2.0;
}

#HeroPicker:active
{
	brightness: 1.5;
}

#HeroImage
{
	width: 128px;
	height: 72px;
}

#HeroName
{
	vertical-align: middle;
	margin-left: 20px;
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transform: translateY( 4px );
	color: #999;
}

#HeroPickerDropdownArrow
{
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 12px;
	wash-color: #999;

	background-image: url( "file://{images}/control_icons/arrow_dropdown.png" );
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.AccoladesTable
{
	flow-children: down;
	margin-bottom: 12px;
}

.AccoladesTableHeader
{
	flow-children: right;
	background-color: black;
	padding: 4px 12px 0px 12px;
}

.AccoladesTableHeader Label
{
	text-transform: uppercase;
	color: #999;
	letter-spacing: 2px;
}

.AccoladeColumn
{
	width: 400px;
}

.ScoreColumn
{
	width: 100px;
}

.AccoladesList
{
	flow-children: down;
}

.AccoladeRow
{
	flow-children: right;
	padding: 8px 12px 4px 12px;
	height: 74px;
}

.AccoladeRow.Even
{
	background-color: #111;
}
.AccoladeRow.Odd
{
	background-color: #222;
}

.AccoladeRow .ScoreColumn
{
	vertical-align: middle;
}

.AccomplishmentsDebugText
{
	width: 600px;
}