
DOTASetsZooPage
{
	flow-children: down;

	margin-top: 116px;
	horizontal-align: center;
	width: 100%;
	height: 100%;
}

#ZooSets {
	flow-children: down;
}

#SetsTitle
{
	margin-top: -40px;
	horizontal-align: center;
}

#SetsContainer {
	width: 1920px;
	height: 700px;
	flow-children: right;
}

.ShowZooSetsFilters #SetsContainer {
	height: 500px;
}

#SetsTableContainer {
	width: 1350px;
	height: 100%;
}

#SetsTableHeader {
	width: 100%;
	height: 100%;
	margin-top: 20px;
	flow-children: right;
}

#SetsTable {
	width: 100%;
	height: 100%;
	overflow: clip scroll;
	flow-children: down;
	margin-top: 60px;
}

#SetPreview {
	width: 520px;
	height: 100%;
}

.SetInfoRow
{
	width: 100%;
	flow-children: right;
	margin: 2px 0px 2px 0px;
}

.SetInfoRow:hover {
	background-color: #222222;
}

.SetInfoHeroName
{
	width: 170px;
}

.SetInfoSetName {
	width: 320px;
	flow-children: right;
}

.ShowWarning .SetInfoSetName .WarningIcon {
	visibility: visible;
}

.SetInfoSetName .WarningIcon {
	visibility: collapse;

	width: 20px;
	height: 20px;
	wash-color: yellow;
	background-image: url( "file://{images}/icon_info.png" );
	background-size: contain;
	background-repeat: no-repeat;
}

.SetInfoSetRarity {
	width: 100px;
}

.SetInfoSetStatus {
	width: 170px;
}

.SetInfoSetCreationDate {
	width: 130px;
}

.SetInfoSetEvent {
	width: 300px;
}

.SetInfoSetAnnotation {
	width: 150px;

	.TabGroupContainer {
		height: 30px;
	}

	.TabItem {
		border-radius: 20px;
		padding: 2px 8px;

		Label {
			font-size: 16px;
		}
	}
}

#SetsFilters {
	border: 1px solid gray;
	width: 1920px;
	height: 220px;
	flow-children: down;
	margin: 0px 0px 4px 0px;
	visibility: collapse;
	Label {
		margin: 0px 4px 0px 4px;
	}
}

.ShowZooSetsFilters #SetsFilters {
	visibility: visible;
}

#SetsHideShowFilter {
	width: 1920px;
	height: 50px;
}

#SetsHideFiltersButton {
	visibility: collapse;
}
.ShowZooSetsFilters #SetsHideFiltersButton {
	visibility: visible;
}

.ShowZooSetsFilters #SetsShowFiltersButton {
	visibility: collapse;
}
#SetsShowFiltersButton {
	visibility: visible;
}

#SetsRarityFilterContainer,
#SetsStatusFilterContainer,
#SetsTagFilterContainer {
	flow-children: right;
}

.SetsFilterRow
{
	flow-children: right;
	margin: 2px 0px 2px 0px;
}

#SetsCreateDateSlider
{
	margin: 8px 0px 8px 0px;
}