.HeroesHoardSpring2025Background {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #100e24 ), to( #222c3e ) );
}

.BackgroundImage {
	width: 100%;
	height: 100%;
	background-image: url( "file://{images}/backgrounds/heroes_hoard_spring_2025_backgound.png" );
	background-size: cover;
	background-position: center;
	
	transition-property: blur, opacity, brightness, opacity-brush;
	transition-duration: 0.5s;

	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );
	blur: gaussian( 6px );
	opacity: 0.1;
	brightness: 0.2;

	.OnHomePage & {
		opacity: 0.8;
		brightness: 0.7;
		blur: gaussian( 0px );
		opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff ) );
	}
}

.FollageRight {
	horizontal-align: right;
	vertical-align: bottom;
	blur: gaussian(4px);
}

.FollageLeft {
	horizontal-align: left;
	vertical-align: bottom;
	blur: gaussian(4px);
}

.BackgroundImageGlow {
	horizontal-align: center;
	vertical-align: bottom;
	-s2-mix-blend-mode: screen;
	width: 1000px;
	hue-rotation: -10deg;

	transition-property: opacity;
	transition-duration: 0.6s;
	transition-delay: 0.3s;

	opacity: 0;

	.OnHomePage & {
		opacity: 1;
		transition-duration: 0.2s;
		transition-delay: 0s;
	}
}

.SmokeFX {
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: bottom;
    wash-color: rgba(48, 42, 69, 0.99);
    margin-top: 400px;

    opacity: 0;

    .OnHomePage & {
		opacity: 0.5;
        transition-timing-function: ease-in;
        transition-duration: 0.15s;
        transition-delay: 0s;
	}
}

.HeroesSceneModels {
    width: 100%;
    height: 100%;
    background-size: cover;

	                                                                                                                                                

    transition-property: transform, opacity;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
    transition-delay: 0.2s;

    opacity: 0;

    .OnHomePage & {
		opacity: 1;
        transition-timing-function: ease-in;
        transition-duration: 0.15s;
        transition-delay: 0s;
	}

	.PetalFX {
		width: 100%;
		height: 100%;
	}

	.PetalFXBlur {
		width: 100%;
		height: 100%;
		blur: gaussian( 1px );
		opacity: 0.6;
	}

    #PremiumReward_Spiritbreaker {
        horizontal-align: center;
        vertical-align: center;
		opacity-brush: gradient( linear, 10% 0%, 30% 0%, from( #ffffff00 ), to( #ffffff ) );

        width: 920px;
		height: 920px;
        transform: translateX( 400px ) translateY( 80px );

		.AspectRatio21x9 & {
			transform: translateX( 400px ) translateY( 80px );
		}
    }

    #PremiumReward_Earthshaker {
        horizontal-align: center;
        vertical-align: center;
		opacity-brush: gradient( linear, 50% 10%, 80% 20%, from( #ffffff ), to( #a7e2ffd7 ) );

        width: 800px;
        height: 800px;
        transform: translateX( -360px ) translateY( 110px );

		.AspectRatio21x9 & {
			transform: translateX( -420px ) translateY( 110px );
		}
    }

    #PremiumReward_Lion {
        horizontal-align: center;
        vertical-align: center;

        width: 1500px;
		height: 1500px;
        transform: translateX( 10px ) translateY( -50px );
    }  
	
	.AspectRatio16x10 & {
		ui-scale: 86%;
	}

	.AspectRatio21x9 & {
		                     
	}

	.HeroShadowLeft,
	.HeroShadowRight {
		width: 700px;
		height: 100px;
		background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop(0.7, #000000a0 ), to( #00000000 ) );
		blur: gaussian( 8px );
		vertical-align: bottom;
		horizontal-align: center;
		margin-bottom: 90px;
	}

	.HeroShadowLeft {
		margin-right: 800px;
	}

	.HeroShadowRight {
		margin-left: 800px;
	}
}

.TreasureModel {
	width: 640px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: bottom;
	margin-left: 60px;
	margin-bottom: -20px;
	brightness: 0.5;
}

.BGVignette {
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 92%, from( rgba(0, 0, 0, 0) ), to( rgb(13, 13, 23) ) );
}

#FxScene {
	horizontal-align: center;
	vertical-align: bottom;
	width: 645px;
	height: width-percentage( 80% );
	margin-bottom: 16px;

	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);

	&.LogoTrigger {
		opacity: 0;
		transform: none;
	
		transition-duration: 0.2s;
		transition-delay: 0.0s;
		transition-timing-function: ease-out;
		
		.OnHomePage & {
			opacity: 1;
		}
	}

	opacity: 0;

	.OnHomePage & {
		opacity: 1;
		transform: none;

		transition-duration: 0.1s;
		transition-delay: 0.0s;
		transition-timing-function: ease-out;
	}
}

.TitleContainer {
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	padding-top: 60px;
	margin-bottom: 132px;
	width: 700px;

	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);

	opacity: 0;

	.OnHomePage & {
		opacity: 1;
		transform: none;

		transition-duration: 0.1s;
		transition-delay: 0.0s;
		transition-timing-function: ease-out;
	}

	Label {
		horizontal-align: center;
		text-align: center;
	}

	.CCLabel {
		color: rgb(247, 195, 175);
		text-shadow: 0px 2px 8px black;
	}

	.CCTitle {
		font-size: 55px;
		font-family: titleFont;
		font-weight: bold;
		letter-spacing: 1px;
		color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
		text-transform: uppercase;
		text-shadow: 0px 2px 16px 5.0 #000a;
	}

	.CCAvailable {
		font-family: titleFont;
		color: rgba(255, 246, 241, 0.8);
		text-shadow: 0px 2px 12px 3.0 #000a;
		margin-top: -2px;
	}
}

.ButtonContainer {
	width: 100%;
	margin-top: 20px;
	flow-children: right;
	horizontal-align: center;

	.Dash {
		width: fill-parent-flow( 1 );
		height: 1px;
		background-color: gradient(linear, 0% 0%, 100% 0%, from(#ffe5b500), to(#ffe5b5));
		vertical-align: center;
		                          
		opacity: 0.1;

		&.Right {
			transform: scaleX( -1 );
		}
	}

	.Emblem {
		width: 44px;
		vertical-align: center;
		margin-bottom: 22px;

		&.Right {
			transform: scaleX( -1 );
		}
	}

	#BuyNowButton {
		horizontal-align: center;
		min-width: 280px;
		margin: 0px 16px;
	}
}





