.MMSimContainer
{
	vertical-align: center;
	horizontal-align: center;
	background-color: black;
	flow-children: down;
	width: 1378px;
	height: 768px;
}


.GraphContainer
{
	width: 100%;
	height: 700px;
	flow-children: right;
}

.PopulationGraphContainer
{
	width: fill-parent-flow( 1.0 );
	height: 100%;
	flow-children: right;
}

.LeftColumn
{
	height: 100%;
	padding-bottom: 14px;
}

.RightColumn
{
	height: 100%;
	flow-children: down;
}

.BottomRow
{
	height: 14px;
	width: 100%;
}

#PopulationGraph
{
	width: fill-parent-flow( 1.0 );
	height: fill-parent-flow( 1.0 );
}

#PlayerList
{
	flow-children: down;
}

.PlayerSnippet
{
	border-bottom: 1px solid white;
}

#MMRGraph
{
	margin-top: 12px;
	margin-bottom: 12px;
	width: 140px;
	height: 70px;
}

.GraphLabel
{
	font-size: 10px;
}

.GraphLabel.Center
{
	horizontal-align: center;
	vertical-align: top;
}

.GraphLabel.Min
{
	horizontal-align: left;
	vertical-align: bottom;
}

.GraphLabel.Max
{
	horizontal-align: right;
	vertical-align: bottom;
}

.GraphLabel.ComputedMax
{
	vertical-align: top;
}

.GraphLabel.ComputedMin
{
	vertical-align: bottom;
}

.GraphLabel.ActualMax
{
	horizontal-align: right;
}

.GraphLabel.GameCount
{
	horizontal-align: center;
}

.ControlsBar
{
	flow-children: right;
	vertical-align: bottom;
	horizontal-align: center;
}

.PlayerStatContainer
{
	flow-children: right;
	vertical-align: center;
}

.ControlLabel
{
	vertical-align: center;
	margin-right: 4px;
}

#PlayerCount
{
	width: 100px;
}

#MMRCenter
{
	width: 80px;
}

#MMRStdDev
{
	width: 80px;
}

#MMRWinIncrement
{
	width: 50px;
}

.AlgorithmContainer
{
	margin-left: 8px;
	margin-right: 4px;
	vertical-align: center;
	flow-children: right;
}

#InitMethod
{
	width: 120px;
}

#MatchType
{
	width: 140px;
}

#Algorithm
{
	width: 140px;
}

.PopupButton
{
	min-width: 100px;
}