
DOTAFrontpageGameplayPatch
{
	width: 100%;
	height: 100%;

}

#NumberImageContainer
{
	width: 100%;
	height: 100%;
	background-color: #3D1204;
	background-color: gradient( radial, 50% 50%, 0% 0%, 300px 300px, from( #3D1204 ), color-stop( .85, #000d ), to( #000d ) );	
}


#NumberImageContainer.color1 {	hue-rotation: 180deg; }
#NumberImageContainer.color2 {	hue-rotation: 30deg; }
#NumberImageContainer.color3 {	hue-rotation: 230deg; }
#NumberImageContainer.color4 {	hue-rotation: 280deg; }
#NumberImageContainer.color5 {	hue-rotation: 0deg; }



#PatchNumber
{
	font-size: 102px;
	font-weight: bold;
	color: black;
	text-align: center;
	horizontal-align: center;
	margin-left: 2px;
	margin-top: 20px;
	visibility: collapse;
}

#ViewDetails
{
	vertical-align: bottom;
	horizontal-align: middle;
	margin-bottom: 15px;
	z-index: 2;
}

.TallCell.WideCell #ViewDetails
{
	margin-bottom: 28px;
	padding-left: 20px;
	padding-right: 20px;
}

.TallCell.WideCell #ViewDetails Label
{
	font-size: 28px;
}


#GamePlayPatchNumberContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
	margin-bottom: 42px;
	opacity-mask: url( "file://{images}/front_page/700patchnumbers/patchnumber_mask.psd" ) 1;		
}

.PatchNumber
{
	width: 53px;
	height: 90px;
	background-image: url("file://{images}/front_page/700patchnumbers/0.psd");
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;	
	margin: 1px;
}


.TallCell.WideCell .PatchNumber
{
	width: 80px;
	height: 136px;
	margin: 3px;
}

.0 { background-image: url("file://{images}/front_page/700patchnumbers/0.psd"); }
.1 { background-image: url("file://{images}/front_page/700patchnumbers/1.psd"); }
.2 { background-image: url("file://{images}/front_page/700patchnumbers/2.psd"); }
.3 { background-image: url("file://{images}/front_page/700patchnumbers/3.psd"); }
.4 { background-image: url("file://{images}/front_page/700patchnumbers/4.psd"); }
.5 { background-image: url("file://{images}/front_page/700patchnumbers/5.psd"); }
.6 { background-image: url("file://{images}/front_page/700patchnumbers/6.psd"); }
.7 { background-image: url("file://{images}/front_page/700patchnumbers/7.psd"); }
.8 { background-image: url("file://{images}/front_page/700patchnumbers/8.psd"); }
.9 { background-image: url("file://{images}/front_page/700patchnumbers/9.psd"); }

.a { background-image: url("file://{images}/front_page/700patchnumbers/a.psd"); }
.b { background-image: url("file://{images}/front_page/700patchnumbers/b.psd"); }
.c { background-image: url("file://{images}/front_page/700patchnumbers/c.psd"); }
.d { background-image: url("file://{images}/front_page/700patchnumbers/d.psd"); }
.e { background-image: url("file://{images}/front_page/700patchnumbers/e.psd"); }
.f { background-image: url("file://{images}/front_page/700patchnumbers/f.psd"); }
.g { background-image: url("file://{images}/front_page/700patchnumbers/g.psd"); }
.h { background-image: url("file://{images}/front_page/700patchnumbers/h.psd"); }
.i { background-image: url("file://{images}/front_page/700patchnumbers/i.psd"); }
.j { background-image: url("file://{images}/front_page/700patchnumbers/j.psd"); }
.k { background-image: url("file://{images}/front_page/700patchnumbers/k.psd"); }




#Period { background-image: url("file://{images}/front_page/700patchnumbers/period.psd"); }

.HideLetter
{
	visibility: collapse;
}

#700bg
{
	margin-top: 190px;
	width: 80%;
	height: 80%;
}