@import url( "file://{resources}/styles/battle_pass/international2024/international2024_shared.css" );

.International2024Progress {

}

.ProgressScreenContents {
	horizontal-align: center;
	flow-children: down;
	margin-top: 120px;	
}

.SpotlightParticles {
	horizontal-align: center;
	opacity-mask: url( "file://{images}/masks/preview_rays_mask.psd" );
	transform: translateY( -200px );
	hue-rotation: -20deg;
	width: 1400px;
	height: 1600px;
	brightness: 1.5;
	saturation: 0.95;
}

.ProgressCenter {
	width: 1000px;
	margin-top: 28px;
	horizontal-align: center;
	flow-children: down;
	padding: 40px 0px 88px;

	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 200%, from( rgb(10, 37, 26) ), color-stop( 0.4, rgba(4, 32, 24, 0.9) ), color-stop( 0.7, rgba(11, 31, 20, 0.7) ), to( rgba(0, 0, 0, 0) ) );
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #dbc49100 ), color-stop( 0.4, #dbc491c7 ), color-stop( 0.5, #ffe9bb ), color-stop( 0.6, #dbc491c7 ), to( #dbc49100 ) );
}

.CompediumBackgroundContainer {
	width: 100%;
	height: 100%;
	opacity: 0.4;

	.CircusBackgroundImage {
		width: 100%;
		height: 100%;
	
		background-image: url( "file://{images}/compendium/international2024/circus_bg.png" );
		background-size: cover;
		background-position: center;
	}

	.Aegis2024_Large {
		width: 1300px;
		height: 1300px;
		ignore-parent-flow: true;
		horizontal-align: center;
		transform: translateY( -600px );
		overflow: noclip;
		opacity-brush: gradient( linear, 0% 60%, 0% 84%, from( rgb(255, 255, 255) ), color-stop( 0.5, #ffffff6e ), to( #ffffff00 ) );
		brightness: 1.8;
		opacity: 0.8;
	}
}

.WeeklyChallengeContainer {
	flow-children: down;
	width: 100%;
}

.CompediumBackgroundImage {
	width: 100%;
	height: 100%;
	max-width: 2200px;
	horizontal-align: center;
	background-image: url("file://{images}/compendium/international2024/ti13_compendium_home_background.png");
	background-size: cover;
	background-position: center;
}



.International2024Progress .Header {
	flow-children: down;
	width: 100%;

	.TILogoText {
		horizontal-align: center;
		width: 400px;
		margin-bottom: -28px;
		brightness: 1.2;
	}

	.Title {
		horizontal-align: center;
		text-align: center;
		vertical-align: middle;
		font-size: 60px;
		text-transform: uppercase;
		font-weight: semi-bold;
		letter-spacing: 8px;
		color: white;
		text-shadow: 0px 8px 32px rgba(0, 0, 0, 0.8);
	}

	#StarsContainer {
		flow-children: right;
		horizontal-align: center;
		margin-top: -4px;

		.CompendiumStar {
			width: 16px;
			height: 16px;
			background-image: url("file://{images}/control_icons/24px/star.svg");
			background-size: cover;
			background-position: center;
			wash-color: loserRed;
			margin: 0px 4px;
		}
	}
}

.International2024Progress .WeeklyChallengeHeader {
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 12px;

	.WeeklyChallengeTitle {
		horizontal-align: center;
		text-align: center;
		color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
		font-family: titleFont;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 40px;
		font-weight: bold;
		text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
	}

	.WeeklyChallengePeriod {
		horizontal-align: center;
		text-align: center;

		text-transform: uppercase;
		font-size: 28px;
		color: gradient( linear, 0% 0%, 0% 100%, from( #E1CC9A ), color-stop( 0.5, #E7C57B ), to( #9D8145 ) );
		text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
		margin-top: -8px;
		font-weight: light;
	}
}

.International2024Progress .WeeklyProgressContainer {
	flow-children: down;
	horizontal-align: center;
	margin-top: 16px;
	width: 580px;

	.WeeklyProgressTitle {
		font-size: 18px;
		horizontal-align: center;
		text-align: center;
		text-transform: uppercase;
		color: #A9EFAA;
		font-weight: semi-bold;
		text-shadow: 0px 3px 12px black;
		letter-spacing: 2px;
		margin-bottom: 8px;
	}

	.WeeklyProgressBarContainer {
		width: 100%;
		height: 32px;

		#WeeklyProgressBar {
			width: 100%;
			height: 32px;
			background-color: rgb(0, 14, 9);
			border-radius: 3px;
			box-shadow: 0px 0px 0px 1px rgba(203, 255, 224, 0.05);
			border: 2px solid rgb(0, 14, 9);

			.ProgressBarLeft {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #2E9F24 ), to( #115620 ) );
				border-radius: 1px;
				border: 1px solid rgb(0, 14, 9);
			}

			.ProgressBarMiddle {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #E7C57B ), to( #9D8145 ) );
				border-radius: 1px;
				border: 1px solid rgb(0, 14, 9);
			}

			.ProgressBarRight {
			}
		}

		> Label {
			horizontal-align: center;
			vertical-align: center;
			text-align: center;
			color: white;
			text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
			letter-spacing: 1px;
			font-size: 20px;
		}
	}
}

.International2024Progress .MatchProgressContainer {
	flow-children: down;
	horizontal-align: center;
	margin-top: 20px;
	width: 580px;

	.MatchProgressTitle {
		width: 100%;
		padding-bottom: 8px;
		border-bottom: 1px solid rgba(187, 255, 230, 0.048);
		border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );

		font-size: 18px;
		horizontal-align: center;
		text-align: center;
		text-transform: uppercase;
		color: #A9EFAA;
		font-weight: semi-bold;
		text-shadow: 0px 3px 12px black;
		letter-spacing: 2px;		

		opacity: 0.0;

		transition-duration: 0.4s;
		transition-property: opacity;
	}

	#MatchProgressRows {
		flow-children: down;
		width: 100%;

		.MatchProgressRow {
			flow-children: right;
			horizontal-align: center;
			transform: translateX( -40px );
			opacity: 0.0;

			padding: 6px 80px;
			border-bottom: 1px solid rgba(187, 255, 230, 0.048);
			border-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff00 ) );

			transition-property: transform, opacity;
			transition-duration: 0.4s;

			&.ShowRow {
				opacity: 1.0;
				transform: none;
			}

			.MatchProgressLabel {
				width: fill-parent-flow(1);
				font-size: 22px;
				height: 27px;
				color: whitesmoke;
				text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
				margin-right: 8px;
				text-overflow: shrink;
			}

			.MatchProgressValue {
				flow-children: right;
				width: 120px;

				> Label {
					font-size: 22px;
					color: whitesmoke;
					text-shadow: 0px 0px 8px rgba(255, 189, 46, 0.16);
					letter-spacing: 1.5px;
					font-weight: semi-bold;
				}

				.PointsIcon {
					width: 24px;
					height: 24px;
					wash-color: rgb(235, 208, 141);
					vertical-align: middle;
					margin-left: 4px;
				
					background-image: url( "file://{images}/compendium/international2022/totalpoints.psd" );
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
}

	
.International2024Progress.ShowMatchProgress .MatchProgressTitle {
	opacity: 1.0;
}


@keyframes 'LevelUpPulse' {
	0%		{ pre-transform-scale2d: 1.0; brightness: 1.0; }
	10%		{ pre-transform-scale2d: 1.25; brightness: 3.0; }
	100%	{ pre-transform-scale2d: 1.0; brightness: 1.0; }
}


.International2024Progress .CompendiumLevelContainer {
	flow-children: down;
	horizontal-align: center;
	margin-top: -60px;

	#LevelShield {		
		horizontal-align: center;
		
		&.LevelUp {
			animation-name: LevelUpPulse;
			animation-duration: 0.5s;
		}
	}

	.EventLevelParticles {
		width: 200px;
		height: 200px;
		saturation: 0.9;
		opacity-mask: url( "file://{images}/masks/sun_burst.png" );
		brightness: 5;
		overflow: noclip;
		vertical-align: center;
		horizontal-align: center;
		hue-rotation: 10deg;
		ignore-parent-flow: true;
		margin-top: -90px;
	}

	.CompendiumLevel {
		flow-children: down;
		vertical-align: middle;
		width: 580px;
		margin-top: -60px;

		                 
			                     
			                   
		    

		.LevelText {
			horizontal-align: center;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: whitesmoke;
			font-size: 24px;
			vertical-align: center;
			text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
			margin: 8px;
			font-weight: semi-bold;
		}

		.LevelProgress {
			horizontal-align: center;
			font-size: 32px;
			color: white;
			text-shadow: 0px 0px 8px rgba(255, 189, 46, 0.16);
			font-family: titleFont;
			margin: 8px;
		}

		#CompendiumLevelProgressBar {
			width: 100%;
			height: 16px;
			background-color: rgb(0, 14, 9);
			border-radius: 3px;
			box-shadow: 0px 0px 0px 1px rgba(203, 255, 224, 0.05);
			border: 2px solid rgb(0, 14, 9);

			.ProgressBarLeft {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #2E9F24 ), to( #115620 ) );
				border-radius: 1px;
				border: 1px solid rgb(0, 14, 9);
			}

			.ProgressBarMiddle {
				background-color: gradient( linear, 0% 0%, 0% 100%, from( #E7C57B ), to( #9D8145 ) );
				border-radius: 1px;
				border: 1px solid rgb(0, 14, 9);
			}

			.ProgressBarRight {
			}
		}
	}
}
