PopupRankedPhone.PopupPanel
{
    width: 660px;
    horizontal-align: center;
    vertical-align: center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eff ), to( #131617ff ) );
    flow-children: down;
    padding: 12px 30px;
}

#PopupMessageLabel
{
    font-size: 24px;
    color: #FFFFFF;
    horizontal-align: center;
    vertical-align: center;
    max-width: 400px;
    text-align: center;
}

#ButtonContainer
{
    margin-top: 20px;
    width: 500px;
    flow-children: right;
    horizontal-align: center;
}

.RankedPhoneStatusContainer
{
	width: 100%;
    flow-children: down;
}

.PhoneStatusPerfectWorld .RankedPhoneStatusContainer
{
    visibility: collapse;
}

.RankedPhoneStatusSteam,
.RankedPhoneStatusAnchored,
.RankedPhoneStatusNone
{
    width: 100%;
    flow-children: right;
    visibility: collapse;

    .ButtonPrimary {
        vertical-align: center;
    }
}

.PhoneStatusNone .RankedPhoneStatusNone
{
    visibility: visible;
}

.PhoneStatusSteam .RankedPhoneStatusSteam
{
    visibility: visible;
}

.PhoneStatusAnchored .RankedPhoneStatusAnchored
{
    visibility: visible;
}

.RankedPhoneStatusNone
{
    width: 100%;
}

.RankedPhoneStatusNone > Label
{
    color: #d75a52;
	text-overflow: shrink;
    width: fill-parent-flow(1);
    vertical-align: center;
    margin-right: 24px;
}

.RankedPhoneStatusSteam > Label
{
    color: #d75a52;
	text-overflow: shrink;
    width: fill-parent-flow(1);
    vertical-align: center;
    margin-right: 24px;
}