/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.OptionContainer.Disabled
{
	visibility:collapse;
}

.OptionContainer RadioButton
{
	padding-right: 6px;
}

.BadgeOptions
{
	flow-children:down;
	visibility:visible;
}

.BadgeOptions ToggleButton.Disabled
{
	visibility:visible;
	brightness: 0.2;
}

.BadgeOptions ToggleButton.Disabled:hover Label
{
	color: baseText;
}

.BadgeOptions ToggleButton.Disabled:hover .TickBox
{
	border: 2px solid #5e686966;
}

.BadgeOptions .BadgeAlignSection
{
	visibility:collapse;
	margin-top:5px;
	flow-children: down;
}

.BadgeOptions .BadgeAlignSection .BadgeAlignRow
{
	flow-children: right;
}

.BadgeOptions .BadgeAlignSection .BadgeAlignRow .BadgeAlignButton
{
	margin: 1px;
	padding: 0;
	width: 40px;
}

.BadgeOptions .BadgeAlignSection .BadgeAlignRow .BadgeAlignButton Image
{
	horizontal-align: middle;
	vertical-align: middle;
}

.BadgeOptions .BadgeAlignSection .BadgeAlignRow .BadgeAlignButton:selected
{
	brightness: 0.4;
}

.BadgeOptions .BadgeAlignSection .BadgeAlignRow .BadgeAlignButton .RadioBox
{
	visibility: collapse;
}

.BadgeAlignSection.Disabled
{
	visibility:collapse;
}

#HeroDisplayTabs
{
	width: 100%;
	margin-bottom: 8px;
}

#HeroDisplayTabs .TabItem
{
	width: fill-parent-flow(1);
}

#HeroDisplayTabs .TabItem Label
{
	width: 100%;
}

.AnimationPickerContainer
{
	visibility: collapse;
}

.HeroDisplayMode_FullModel .AnimationPickerContainer
{
	visibility: visible;
}

.SlotIndexContainer
{
	visibility: collapse;
}

.HeroDisplayMode_FullModel .SlotIndexContainer
{
	visibility: visible;
}

.AnimationFrameSliderContainer
{
	flow-children: right;
	margin-top: 3px;
}

.AnimationFrameSliderContainer .HorizontalSlider
{
	margin-bottom: 0px;
}

.AnimationFrameSliderContainer #AnimationFrameSlider
{
	visibility: collapse;
}

.SelectAnimationFrame .AnimationFrameSliderContainer #AnimationFrameSlider
{
	visibility: visible;
}

#ChangeModelTabsContainer
{
	flow-children: down;
	width: 100%;
}

#ChangeModelTabsContainer #ChangeModelTabs
{
	margin-left: 8px;
}

