/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

#Contents.LayerListContainer
{
	flow-children: down;
	background-color: #080A0C;
	min-width: 400px;
	max-height: 250px;
	border-radius: 3px;
	padding: 2px;
	width: 400px;
	opacity: 0.95;
}

#ContextMenuBody.BottomArrowVisible #Contents.LayerListContainer
{
	margin-bottom: 5px;
}

#LayerList
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
}

#LayerList .LayerEntry
{
	margin: 1px;
	padding: 4px;
	padding-left: 8px;
	flow-children: right;
	background-color: #2D3438;
	width: 100%;
	height: 44px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

#LayerList .LayerEntry:hover
{
	brightness: 2;
}

#LayerList #LayerItemCaseName
{
	opacity: 0.6;
}

#LayerList #LayerItemName
{
	text-overflow: ellipsis;
}

.MissingShowcaseItemName #LayerList #LayerItemName
{
	visibility: collapse;
}

#LayerList #LayerItemImage
{
	margin-right: 12px;
}

.MissingShowcaseItemName #LayerItemName
{
	visibility: collapse;
}

.LayerName
{
	width: fill-parent-flow(1);
}

.BudgetCost
{
	flow-children: right;
	visibility: collapse;
	vertical-align: center;
	margin-right: 10px;
}

.HasShowcaseBudgetCost .BudgetCost
{
	visibility: visible;
}

.BudgetCost .BudgetIcon
{
	width: 15px;
	height: 15px;
	opacity: 0.6;
	horizontal-align: right;
}

.BudgetCost .Budget
{
	horizontal-align: right;
}

