/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

DOTAShowcaseAdminReportReviewPage
{
	width: 100%;
	height: 100%;
	padding-top: 140px;
	padding-bottom: 140px;
}

.PageContents
{
	flow-children: down;
	horizontal-align: center;
	width: 1600px;
}

.PageContents .PageTitle
{
	font-size: 32px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.UserDetailsContainer
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

.UserDetailsContainer .AsyncSuccessContainer
{
	flow-children: down;
}

.Header
{
	flow-children: right;
}

.Header .Reviewing
{
	vertical-align: middle;
	font-size: 24px;
	margin-right: 8px;
}

.Header #AvatarImage
{
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.Header .PersonaName
{
	vertical-align: middle;
	font-size: 24px;
	margin-right: 8px;
}

.Header .ShowcaseType
{
	vertical-align: middle;
	font-size: 24px;
}

.ViewButtons
{
	flow-children: right;
	margin: 8px 0px;
}

.ViewButtons .PopupButton
{
	ui-scale: 80%;
	margin: 0px;
	margin-right: 8px;
}

#ActionButtons
{
	flow-children: right;
	margin-bottom: 8px;
}

#ActionButtons .ActionButton
{
	ui-scale: 75%;
	margin: 0px;
	margin-right: 8px;
}

#ActionButtons #LockTimestampEntry
{
	width: 140px;
}

.ActionWorking
{
	flow-children: right;
	vertical-align: middle;
	margin-left: 16px;
	visibility: collapse;
}

.ActionInProgress .ActionWorking
{
	visibility: visible;
}

.ActionWorking Label
{
	vertical-align: middle;
	margin-left: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.DataTables
{
	flow-children: right;
	height: fill-parent-flow( 1.0 );
}

.DataTables .DataTable
{
	flow-children: down;
	height: 100%;
}

.DataTables .DataTable .TableTitle
{
	text-transform: uppercase;
	color: #999;
	letter-spacing: 2px;
	margin-left: 8px;
}

.DataTables .DataTable .TableHeader
{
	background-color: black;
	flow-children: right;
}

.DataTables .DataTable .TableHeader .Column
{
	padding: 2px 8px;
}

.DataTables .DataTable .TableEntries
{
	background-color: #222;
	height: fill-parent-flow( 1.0 );
	width: 100%;
	overflow: squish scroll;
	flow-children: down;
}

.DataTables .DataTable .TableEntries .TableEntry
{
	border-bottom: 1px solid #fff1;
	margin-bottom: 4px;
}

.DataTables .DataTable .TableEntries .Column
{
	padding: 2px 8px;
}

.DataTables .DataTable .TableEntries .Column Label
{
	font-size: 16px;
}

.DataTables .RecentReportsTable
{
	margin-right: 8px;
}

.DataTables .RecentReportsTable .ReporterColumn
{
	width: 140px;
	flow-children: right;
}

.DataTables .RecentReportsTable .ReporterColumn #ReporterAvatarImage
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
}

.DataTables .RecentReportsTable .ShowcaseTypeColumn
{
	width: 120px;
}

.DataTables .RecentReportsTable .ReportTimestampColumn
{
	width: 200px;
}

.DataTables .RecentReportsTable .ReportCommentColumn
{
	width: 300px;
}

.DataTables .RecentAuditTable .AuditActionColumn
{
	width: 240px;
}

.DataTables .RecentAuditTable .TimestampColumn
{
	width: 200px;
}

.DataTables .RecentAuditTable .ShowcaseTypeColumn
{
	width: 120px;
}

.DataTables .RecentAuditTable .AuditDataColumn
{
	width: 240px;
}

.RecentReport
{
	flow-children: right;
}

.RecentAudit
{
	flow-children: right;
}

.AdminActionsSection
{
	width: 100%;
	flow-children: down;
	background-color: #0009;
	margin-top: 8px;
}

.AdminActionsSection .AdminActionsTable
{
	flow-children: down;
	padding: 2px 8px;
}

.AdminActionsSection .AdminActionsTable .ActionRow
{
	flow-children: right;
	margin-bottom: 8px;
}

.AdminActionsSection .AdminActionsTable .ActionRow .ActionInfo
{
	flow-children: down;
	width: 600px;
}

.AdminActionsSection .AdminActionsTable .ActionRow .ActionInfo .ActionTitle
{
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ccc;
}

.AdminActionsSection .AdminActionsTable .ActionRow .ActionInfo .ActionDesc
{
	font-size: 16px;
	color: #666;
}

.AdminActionsSection .AdminActionsTable .ActionRow .ActionControls
{
	flow-children: right;
}

.AdminActionsSection .AdminActionsTable .ActionRow .ActionControls .PopupButton
{
	margin: 0px;
	ui-scale: 80%;
}

