/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

DOTAShowcaseAdminReportRollupsPage
{
	width: 100%;
	height: 100%;
	padding-top: 140px;
	padding-bottom: 140px;
}

.PageContents
{
	flow-children: down;
	horizontal-align: center;
	width: 1600px;
}

.PageContents .PageTitle
{
	font-size: 32px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

#RollupsContainer
{
	flow-children: right;
	width: 100%;
	height: fill-parent-flow( 1.0 );
}

#RollupsContainer > .AsyncSuccessContainer
{
	flow-children: right;
}

#RollupsContainer #RollupList
{
	width: 350px;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
}

.RollupInfo
{
	flow-children: down;
	background-color: #ffffff04;
	margin-bottom: 8px;
	padding: 4px 8px;
	width: 100%;
	border: 2px solid transparent;
}

.RollupInfo:hover
{
	brightness: 2.0;
}

.RollupInfo:active
{
	brightness: 1.5;
}

.RollupInfo:selected
{
	border: 2px solid #666;
}

.RollupInfo .RollupID
{
	text-transform: uppercase;
	color: #ccc;
	letter-spacing: 2px;
}

.RollupInfo .RollupStart,.RollupInfo .RollupEnd
{
	font-size: 16px;
	color: #666;
}

.RollupContents
{
	width: fill-parent-flow( 1.0 );
	margin-left: 8px;
	height: 100%;
}

.HasSelectedRollup .NoRollupSelected
{
	visibility: collapse;
}

.RollupEntriesContainer
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HasSelectedRollup .RollupEntriesContainer
{
	visibility: visible;
}

.HasRollupEntries .NoEntriesLabel
{
	visibility: collapse;
}

.EntriesTable
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.HasRollupEntries .EntriesTable
{
	visibility: visible;
}

.EntriesTable .RollupEntriesHeader
{
	flow-children: right;
}

.EntriesTable .RollupEntriesHeader Label
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-left: 8px;
}

.EntriesTable .NameColumn
{
	width: 200px;
}

.EntriesTable .TypeColumn
{
	width: 200px;
}

.EntriesTable .ReportCountColumn
{
	width: 200px;
}

.EntriesTable #RollupEntriesList
{
	flow-children: down;
	overflow: squish scroll;
}

.RollupEntry
{
	flow-children: right;
	background-color: #ffffff03;
	margin-bottom: 8px;
	height: 46px;
}

.RollupEntry .Column
{
	height: 100%;
}

.RollupEntry .EntryData
{
	vertical-align: middle;
	padding-left: 8px;
}

.RollupEntry .NameColumn
{
	flow-children: right;
	padding-left: 8px;
}

.RollupEntry .NameColumn #AvatarImage
{
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.RollupEntry #ReviewButton
{
	ui-scale: 90%;
	padding: 2px 8px;
	min-width: 0px;
	vertical-align: middle;
}

.RollupEntry #ReviewButton Label
{
	text-align: center;
}

