DOTAMiniShowcaseEditControls{
  height: 300px;
  width: 300px;
  flow-children: down;
  background-color: #111111ff;
}


 .Header{
  width: 100%;
  height: 60px;
  background-color: black;
 }

  .Header .Title{
   text-transform: uppercase;
   letter-spacing: 1px;
   color: #999;
   vertical-align: middle;
   margin: 0px 16px;
  }


 .EditButtons{
  flow-children: down;
  width: 100%;

  visibility: visible;
 }
  .SaveInProgress .EditButtons{
   visibility: visible;
  }


 .ButtonsRow{
  flow-children: right;
  margin: 16px;
 }

 .FinishedButtons{
  flow-children: right;
  margin: 16px;
 }
  .FinishedButtons .PopupButton{
   ui-scale: 80%;
   min-width: 0px;
   width: fill-parent-flow( 1.0 );
   margin: 0px;
  }
   .FinishedButtons .PopupButton.SaveChangesButton{
    margin-right: 16px;
   }



 .EditSectionDivider{
  height: 1px;
  width: 100%;
  background-color: #333;
  margin: 0px 16px;
 }



 .SaveInProgressIndicator{
  flow-children: right;
  vertical-align: middle;

  visibility: collapse;
 }
  .SaveInProgress .SaveInProgressIndicator{
   visibility: visible;
  }

  .SaveInProgressIndicator .Spinner{
   wash-color: winnerGreen;
  }

  .SaveInProgressIndicator Label{
   margin-left: 8px;
   vertical-align: middle;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: winnerGreen;
}