/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMiniShowcase
{
	width: 366px;
	height: fit-children;
	flow-children: down;
}

.ShowcaseHeaderContainer
{
	width: 100%;
	height: fit-children;
}

.Header
{
	width: 100%;
	height: fit-children;
	min-height: 50px;
	flow-children: right;
	horizontal-align: center;
	background-color: black;
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-position: center;
	background-size: cover;
	border-bottom: 1px solid black;
	box-shadow: inset 0px -2px 0px rgba(255, 255, 255, 0.015);
}

.Header #UserDetailsContainer
{
	width: 280px;
}

DOTAPopupMiniShowcaseEdit .Header
{
	opacity: 0;
}

.Header .UserDetails
{
	flow-children: down;
	margin-left: 8px;
	vertical-align: center;
}

.Header .UserDetails #UserName Label
{
	font-size: 25px;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: bottom;
}

.Header .UserDetails #RichPresence
{
	margin-top: -4px;
	ui-scale: 80%;
}

.Header .UserDetails Label
{
	text-shadow: 0px 1px 4px black;
}

.Header #AvatarImage
{
	width: 58px;
	height: 58px;
	vertical-align: middle;
	margin: 8px 8px 7px 8px;
	border-radius: 2px;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.6);
}

.ShowcaseData
{
	width: 100%;
	height: fit-children;
	min-height: 240px;
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.ShowcaseData .ShowcaseMain
{
	width: fit-children;
	height: fit-children;
}

DOTAMiniShowcase.ViewingOther #ReportControls
{
	margin: 10px;
	ui-scale: 100%;
	visibility: collapse;
}

#ContextMenuBody DOTAMiniShowcase.ViewingOther #ReportControls
{
	visibility: visible;
}

#RankTierContainer
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 5px;
	width: 100px;
	height: 100px;
	tooltip-position: bottom;
	tooltip-body-position: 50% 10%;
	ui-scale: 72%;
}

.HideRankTier #RankTierContainer,.LoadingRank #RankTierContainer
{
	visibility: collapse;
}

#GiftingLabel
{
	height: 16px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #30a3d551 ), color-stop( 0.5, #0e4b8080 ), to( #00182e00 ) );
	background-size: contain;
	flow-children: right;
	overflow: noclip;
	margin-top: 2px;
	margin-bottom: 5px;
	visibility: collapse;
}

#BPIcon
{
	background-image: url("s2r://panorama/images/compendium/international2023/gift_filled_png.vtex");
	width: 18px;
	height: 18px;
	background-size: contain;
	margin-top: -1px;
	img-shadow: 0px 2px 4px #000000;
	margin-right: 4px;
	margin-left: 4px;
}

#UserTitle
{
	color: #ffffffee;
	text-shadow: 0px 1px 3px black;
	margin-top:0px;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 12px;
	vertical-align: middle;
}

.HasTitle #GiftingLabel
{
	visibility: visible;
}

#PendingApprovalLabel
{
	margin: 10px;
}


