/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

@keyframes 'popup_appear'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

#MiniShowcaseContainer
{
	flow-children: down;
}

DOTAPopupMiniShowcaseEdit.PopupPanel
{
	width: 100%;
	height: 100%;
	padding: 0px;
	flow-children: none;
	border: 0px solid black;
	background-color: #000000f6;
	animation-name: none;
	box-shadow: none;
	transition-property: background-color;
	transition-duration: 0s;
	animation-name: popup_appear;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

DOTAPopupMiniShowcaseEdit.PopupPanel DOTAShowcaseContents
{
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

@keyframes 'show_main_edit_controls'
{
	0%
	{
		transform: translateX( -24px );
	}
	
	100%
	{
		transform: translateY( 0px );
	}
	
}

#MainEditControls
{
	flow-children: down;
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_psd.vtex");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 16px;
	border: 1px solid LighterGrey&08;
	width: 320px;
	position: 420px 160px 0px;
	animation-name: show_main_edit_controls;
	animation-duration: 0.2s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.SaveInProgress #MainEditControls
{
	visibility: collapse;
}

#MainEditControls DOTAShowcaseBudgetProgressBar
{
	horizontal-align: center;
	width: 100%;
}

#MainEditControls #EditMiniShowcaseTitle
{
	horizontal-align: center;
	margin-bottom: 4px;
}

#MainEditControls Button,#MainEditControls TextButton
{
	tooltip-position: bottom;
	width: fill-parent-flow( 1.0 );
	margin-bottom: 6px;
}

#MainEditControls Button
{
	padding-right: 10px;
	padding-left: 10px;
}

#MainEditControls .ButtonDescription
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

#MainEditControls .ButtonRow
{
	flow-children: right;
}

#MainEditControls #SaveCancelButtonRow
{
	padding-top: 14px;
	margin-top: 8px;
	border-top: 1px solid rgba(255, 255, 255, 0.02);
}

#MainEditControls #SaveCancelButtonRow .SaveChangesButton
{
	margin-right: 3px;
}

#MainEditControls #SaveCancelButtonRow .CancelButton
{
	margin-left: 3px;
}

#ItemEditControls
{
	flow-children: down;
	background-color: black;
	box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
	padding: 12px;
	width: 100%;
	context-menu-position: top;
	context-menu-body-position: 0% 0%;
	margin: 0px 1px 1px 1px;
}

.SaveInProgress #ItemEditControls
{
	visibility: collapse;
}

#ItemEditControls .ControlsContainer
{
	flow-children: right;
	margin-top: 8px;
	width: 100%;
}

#ItemEditControls Button,#ItemEditControls TextButton
{
	tooltip-position: bottom;
	box-shadow: none;
}

#ItemEditControls Button:hover,#ItemEditControls TextButton:hover
{
	z-index: 1;
}

#ItemEditControls .SliderContainer
{
	vertical-align: center;
	flow-children: right;
	tooltip-position: top;
	padding: 2px 8px;
	width: fill-parent-flow(1);
}

#ItemEditControls .SliderContainer Slider
{
	vertical-align: center;
	margin: 0px;
	width: fill-parent-flow(1);
}

#ItemEditControls .SliderContainer Image
{
	vertical-align: center;
	margin-right: 6px;
	width: 20px;
	height: width-percentage( 100% );
	wash-color: LightestGrey;
}

#ItemEditControls #SendToBackButton
{
	border-radius: 3px 0px 0px 3px;
}

#ItemEditControls #MoveBackwardButton
{
	border-radius: 0px;
}

#ItemEditControls #MoveForwardButton
{
	border-radius: 0px;
}

#ItemEditControls #SendToFrontButton
{
	border-radius: 0px 3px 3px 0px;
}

#ItemEditControls #SendToBackButton,#ItemEditControls #MoveBackwardButton,#ItemEditControls #MoveForwardButton
{
	margin-right: -1px;
}

#ItemEditControls Slider
{
	margin-bottom: 0px;
}

#ItemEditControls #FlipHorizontallyButton,#ItemEditControls #DeleteItemButton
{
	margin-right: 6px;
}

#ItemEditControls #FlipHorizontallyButton
{
	visibility: collapse;
}

.AllowFlipHorizontally #ItemEditControls #FlipHorizontallyButton
{
	visibility: visible;
}

#ItemEditControls #CustomizeAppearanceButton
{
	visibility: collapse;
	width: 100%;
}

.AllowCustomizeAppearance #ItemEditControls #CustomizeAppearanceButton
{
	visibility: visible;
}

#ItemEditControls #MoreOptionsButton
{
	margin-left: 6px;
}

#ItemEditControls Button
{
	padding-right: 8px;
	padding-left: 8px;
}

#ItemEditControls Slider
{
	margin-right: 10px;
	width: 150px;
}

#LayerButton
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	context-menu-position: bottom;
	context-menu-body-position: 0% 0%;
	width: 100%;
	padding: 5px;
	padding: 4px 16px 6px 12px;
	border-radius: 3px;
	background-color: DarkerGrey&00;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0);
	opacity: 0.5;
	transition-property: opacity, background-color, box-shadow;
	transition-duration: 0.1s;
}

#LayerButton:hover
{
	opacity: 1.0;
	background-color: DarkerGrey&44;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
}

#LayerButton Label,#LayerButton Panel
{
	vertical-align: center;
}

#LayerButton Label
{
	color: white;
	height: 21px;
}

#LayerButton #LayerButtonItemName
{
	text-overflow: ellipsis;
}

#LayerButton #LayerButtonIcon
{
	width: 12px;
	height: 12px;
	margin-bottom: -2px;
	margin-right: 8px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition-property: transform;
	transition-duration: 0.1s;
}

#LayerButton.MissingShowcaseItemName #LayerButtonItemName
{
	visibility: collapse;
}

.ShowIfItemSelected
{
	visibility:collapse;
}

.IsItemSelected .ShowIfItemSelected
{
	visibility: visible;
}

.ShowIfNothingSelected
{
	visibility:collapse;
}

.IsNothingSelected .ShowIfNothingSelected
{
	visibility: visible;
}

.SaveInProgressIndicator
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	margin: 10px;
	visibility: collapse;
}

.SaveInProgress .SaveInProgressIndicator
{
	visibility: visible;
}

.SaveInProgressIndicator .Spinner
{
	wash-color: winnerGreen;
}

.SaveInProgressIndicator Label
{
	margin-left: 8px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: winnerGreen;
}

