/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define Sticker_Width: 240px;
@define Sticker_Height: 240px;
@define Spray_Width: 150px;
@define Spray_Height: 150px;
@define Hero_Width: 139px;
@define Hero_Height: 139px;
@define ArmoryItem_Width: 103px;
@define ArmoryItem_Height: 103px;
@define Trophy_Width: 200px;
@define Trophy_Height: 200px;
@define LoadingScreen_Width: 308px;
@define LoadingScreen_Height: 204px;
@define WorldItem_Width: 206px;
@define WorldItem_Height: 254px;
@define HeroSet_Width: 220px;
@define HeroSet_Height: 331px;
@define ChatWheel_Width: 500px;
@define ChatWheel_Height: 25px;
@define Decoration_Width: 150px;
@define Decoration_Height: 150px;
@define HeaderBackground: #191E21;
@define BodyBackground: gradient( linear, 0% 0%, 0% 100%, from( #21272A ), to( #121719 ) );
PopupShowcaseAddItemV2.PopupPanel
{
	width: 1600px;
	height: 880px;
	padding: 0;
}

#Contents
{
	width: 100%;
	height: 100%;
	flow-children: down;
}

#Contents #Header
{
	width: 100%;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.02);
	padding: 16px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.02);
	background-size: cover;
	background-img-opacity: 0.6;
	background-color: HeaderBackground;
}

#Contents #Header .Title
{
	text-transform: uppercase;
	color: white;
	opacity: 0.9;
	font-size: 26px;
	vertical-align: middle;
	font-weight: semi-bold;
	letter-spacing: 2px;
	text-shadow: 0px 2px 8px black;
	margin-left: 12px;
	visibility: collapse;
}

.Mode_AddItem #Contents #Header #TitleAddItem
{
	visibility: visible;
}

.Mode_SelectBackground #Contents #Header #TitleSelectBackground
{
	visibility: visible;
}

.Mode_SelectHeroSet #Contents #Header #TitleSelectHeroSet
{
	visibility: visible;
}

#Contents #Header #ShowcaseBudgetProgressBar
{
	vertical-align: center;
	horizontal-align: center;
	width: 400px;
}

.Mode_SelectBackground #Contents #Header #ShowcaseBudgetProgressBar,.Mode_SelectHeroSet #Contents #Header #ShowcaseBudgetProgressBar
{
	visibility: collapse;
}

#Contents #Header #CloseButton
{
	vertical-align: middle;
	horizontal-align: right;
	ui-scale: 90%;
}

#Contents #Header #ControlSearch
{
	width: 300px;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 110px;
	visibility: collapse;
}

.Hero #Contents #Header #ControlSearch,.HeroIcon #Contents #Header #ControlSearch,.Sticker #Contents #Header #ControlSearch,.ArmoryItem #Contents #Header #ControlSearch,.LoadingScreen #Contents #Header #ControlSearch,.Ward #Contents #Header #ControlSearch,.Courier #Contents #Header #ControlSearch,.Ward #Contents #Header #ControlSearch,.Tower #Contents #Header #ControlSearch,.Creep #Contents #Header #ControlSearch,.Roshan #Contents #Header #ControlSearch,.Effigy #Contents #Header #ControlSearch,.ChatWheel #Contents #Header #ControlSearch,.Trophy #Contents #Header #ControlSearch,.Emoticon #Contents #Header #ControlSearch
{
	visibility: visible;
}

#Contents #Header #ControlSearch TextEntry
{
	width: 100%;
	border-radius: 4px;
	border: 0px;
	background-color: #d2e2ff0a;
	height: fit-children;
	padding: 8px;
	transition-property: border, background-color;
	transition-duration: 0.15s;
}

#Contents #Header #ControlSearch TextEntry Label
{
	font-weight: normal;
	margin-top: 1px;
	color: rgba(255, 255, 255, 0.4);
	transition-property: color;
	transition-duration: 0.1s;
}

#Contents #Header #ControlSearch TextEntry:hover
{
	background-color: #d2e2ff22;
}

#Contents #Header #ControlSearch #SearchButton
{
	visibility: visible;
	background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin: 0px 8px;
	margin-left: 2px;
	horizontal-align: right;
	opacity: 0.2;
}

#Contents #Header #ControlSearch #ClearButton
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/control_icons/x_close_filled_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin: 0px 8px;
	margin-left: 2px;
	horizontal-align: right;
	opacity: 0.2;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
}

#Contents #Header #ControlSearch #ClearButton:hover
{
	opacity: 0.8;
}

#Contents #Header #ControlSearch #ClearButton:active
{
	transform: scale3d(0.9, 0.9, 1);
	opacity: 0.6;
}

#Contents #Header #ControlSearch.IsSearching #SearchButton
{
	visibility: collapse;
}

#Contents #Header #ControlSearch.IsSearching #ClearButton
{
	visibility: visible;
}

#Contents #Header #ControlSearch.IsSearching TextEntry
{
	border-color: #555555;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
}

#Contents #Body
{
	width: 100%;
	height: fill-parent-flow( 1 );
	flow-children: right;
	background-color: BodyBackground;
}

#Contents #Body #TabList
{
	height: 100%;
	width: 300px;
	flow-children: down;
	padding-top: 20px;
}

.Mode_SelectHeroSet #Contents #Body #TabList
{
	visibility: collapse;
}

#Contents #Body #TabList .Tab
{
	width: 100%;
	padding: 10px;
	margin-left: 10px;
	flow-children: right;
	opacity: 0.2;
}

#Contents #Body #TabList .Tab.ItemTypeAllowed
{
	visibility: visible;
	opacity: 1;
}

#Contents #Body #TabList .Tab.Active
{
	background-color: gradient( linear, 0% 0%, 95% 0%, from( #b4e1ff14 ), to( #ffffff00 ) );
}

#Contents #Body #TabList .Tab.Active #TabName
{
	color: white;
	animation-name: GlowTextBright;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

#Contents #Body #TabList .Tab:hover:not(:disabled) #TabName
{
	color: white;
	animation-name: GlowTextBright;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

#Contents #Body #TabList .Tab #PlusLogo
{
	visibility: collapse;
}

#Contents #Body #TabList .Tab #TabImage
{
	vertical-align: center;
	width: 20px;
	height: 20px;
	wash-color: LighterGrey;
	img-shadow: 0px 1px 4px black;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

#Contents #Body #TabList .Tab #TabName
{
	vertical-align: center;
	text-shadow: 0px 1px 4px black;
	width: 80%;
	text-overflow: shrink;
	line-height: 1;
	transition-property: color;
	transition-duration: 0.1s;
	margin-left: 12px;
	font-size: 20px;
}

#Contents #Body #ItemsContainer
{
	width: 1300px;
	height: 100%;
	padding: 20px;
	flow-children: down;
	overflow: squish scroll;
}

.Mode_SelectHeroSet #Contents #Body #ItemsContainer
{
	width: 100%;
}

.BudgetReached #Contents #Body #ItemsContainer
{
	opacity: 0.5;
}

#Contents #Body #ItemsContainer .NoResultsMessage
{
	width: 100%;
	padding: 32px 0px 64px;
	border-bottom: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.05, #ffffff06 ), color-stop( 0.95, #ffffff06 ), to( #FFFFFF00 ) );
	margin-right: 16px;
	margin-top: 12px;
	flow-children: down;
	visibility: collapse;
}

.NoResults #Contents #Body #ItemsContainer .NoResultsMessage
{
	visibility: visible;
}

#Contents #Body #ItemsContainer .NoResultsMessage Label
{
	horizontal-align: center;
	color: LightGrey;
	opacity: 0.5;
}

#Contents #Body #ItemsContainer .NoResultsMessage .NoResultsIcon
{
	width: 64px;
	height: 64px;
	background-image: url("s2r://panorama/images/control_icons/armory_new_icon.svg");
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	wash-color: LightGrey;
	opacity: 0.5;
}

#Contents #Body #ItemsContainer DelayLoadList
{
	width: 100%;
	min-height: 100px;
	flow-children: right-wrap;
	visibility: collapse;
}

.Sticker #Contents #Body #ItemsContainer #StickerList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #StickerList .StickerEntry
{
	width: Sticker_Width;
	height: Sticker_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#Contents #Body #ItemsContainer #StickerList .StickerEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

.LoadingScreen #Contents #Body #ItemsContainer #LoadingScreenList,.Background #Contents #Body #ItemsContainer #LoadingScreenList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #LoadingScreenList .LoadingScreenEntry
{
	width: LoadingScreen_Width;
	height: LoadingScreen_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 10px;
}

#Contents #Body #ItemsContainer #LoadingScreenList .LoadingScreenEntry Image
{
	width: 100%;
	height: 100%;
	box-shadow: fill #00000030 3px 3px 8px 1px;
}

#Contents #Body #ItemsContainer #LoadingScreenList .LoadingScreenEntry #LoadingScreenName
{
	visibility: collapse;
	margin-bottom: 5px;
	vertical-align: bottom;
	horizontal-align: center;
	color: white;
	text-shadow: 0px 2px 8px black;
	width: 70%;
	text-align: center;
	text-overflow: ellipsis;
	height: 20px;
	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

#Contents #Body #ItemsContainer #LoadingScreenList .LoadingScreenEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #ChatWheelList
{
	visibility: collapse;
	flow-children: down;
}

.ChatWheel #Contents #Body #ItemsContainer #ChatWheelList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry
{
	width: ChatWheel_Width;
	height: ChatWheel_Height;
	flow-children: right;
	padding: 2px;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry:hover
{
	background-color: #ffffff0f;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry:active
{
	background-color: #ffffff06;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry #HeroImage
{
	width: 20px;
	height: 20px;
	visibility: collapse;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry.HasHero #HeroImage
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry #ChatWheelSoundButton
{
	width: 20px;
	height: 20px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition-property: brightness;
	transition-duration: 0.2s;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry #ChatWheelSoundButton:hover
{
	brightness: 2.0;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry #ChatWheelSoundButton:active
{
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry.HasSound #ChatWheelSoundButton
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry .ChatWheelIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Contents #Body #ItemsContainer #ChatWheelList .ChatWheelEntry .ChatWheelAllLabel
{
	color: #666;
	margin-right: 4px;
	visibility: collapse;
}

.Spray #Contents #Body #ItemsContainer #SprayList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #SprayList .SprayEntry
{
	width: Spray_Width;
	height: Spray_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 10px;
}

#Contents #Body #ItemsContainer #SprayList .SprayEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #SprayList .SprayEntry Image
{
	width: 100%;
	height: 100%;
}

.ArmoryItem #Contents #Body #ItemsContainer #ArmoryItemList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #ArmoryItemList .ArmoryItemEntry
{
	width: ArmoryItem_Width;
	height: ArmoryItem_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 0px;
}

#Contents #Body #ItemsContainer #ArmoryItemList .ArmoryItemEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #HeroIconList
{
	visibility: collapse;
	width: 100%;
	flow-children: right-wrap;
}

.HeroIcon #Contents #Body #ItemsContainer #HeroIconList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #HeroIconList .HeroIconEntry
{
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 0px;
}

#Contents #Body #ItemsContainer #HeroIconList .HeroIconEntry:hover
{
	transform: scale3d(1.15, 1.15, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #HeroIconList #HeroIcon
{
	width: 32px;
	height: 32px;
	margin: 5px;
}

.Hero #Contents #Body #ItemsContainer #HeroList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry
{
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	brightness: 1;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry .HeroEntryButtonContent
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 20% 120%, from( #121719 ), to( #121719 ) );
	border: 1px solid rgba(255,255,255,0.01);
	margin: 4px;
	transition-property: border, transform, brightness, background-color;
	transition-duration: 0.1s, 0.2s;
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry .HeroEntryActiveBorder
{
	width: 100%;
	height: 100%;
	margin: 4px;
	border: 0px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #C2CED4 ), to( #727D81 ) );
	opacity: 0;
	transition-property: border, opacity;
	transition-duration: 0.1s;
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry #HeroImage
{
	width: 95%;
	height: 95%;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: 0px 2px 8px rgba( 0, 0, 0, 0.5 );
	transition-property: transform;
	transition-duration: 0.1s;
	transform: scale3d( 1, 1, 1 );
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry:hover
{
	transform: scale3d(1.05, 1.05, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #HeroList .HeroEntry:hover .HeroEntryButtonContent
{
	border: 1px solid rgba(255,255,255,0.04);
}

.Courier #Contents #Body #ItemsContainer #CourierList
{
	visibility: visible;
}

.Ward #Contents #Body #ItemsContainer #WardList
{
	visibility: visible;
}

.Tower #Contents #Body #ItemsContainer #TowerList
{
	visibility: visible;
}

.Roshan #Contents #Body #ItemsContainer #RoshanList
{
	visibility: visible;
}

.Creep #Contents #Body #ItemsContainer #CreepList
{
	visibility: visible;
}

.Effigy #Contents #Body #ItemsContainer #EffigyList
{
	visibility: visible;
}

.HeroSet #Contents #Body #ItemsContainer #HeroSetList
{
	visibility: visible;
}

.Decoration #Contents #Body #ItemsContainer #DecorationList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #DecorationList .DecorationEntry
{
	width: Decoration_Width;
	height: Decoration_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 10px;
}

#Contents #Body #ItemsContainer #DecorationList .DecorationEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #DecorationList .DecorationEntry DOTAShowcaseDecoration
{
	width: 100%;
	height: 100%;
}

#Contents #Body #ItemsContainer .WorldItemEntry
{
	width: WorldItem_Width;
	height: WorldItem_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#Contents #Body #ItemsContainer .WorldItemEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer .HeroSetEntry
{
	width: HeroSet_Width;
	height: HeroSet_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#Contents #Body #ItemsContainer .HeroSetEntry:hover
{
	transform: scale3d(1.02, 1.02, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #TrophiesListContainer
{
	visibility: collapse;
	width: 100%;
}

.Trophy #Contents #Body #ItemsContainer #TrophiesListContainer
{
	visibility: visible;
}

.Trophy #Contents #Body #ItemsContainer #TrophiesListContainer #TrophiesList
{
	visibility: visible;
	height: fit-children;
}

#Contents #Body #ItemsContainer #TrophiesListContainer .TrophiesAsyncData
{
	width: 100%;
	height: fit-children;
}

#Contents #Body #ItemsContainer #TrophiesListContainer .TrophyEntry
{
	width: Trophy_Width;
	height: Trophy_Height;
	brightness: 1;
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	padding: 10px;
}

#Contents #Body #ItemsContainer #TrophiesListContainer .TrophyEntry #TrophyImage
{
	width: 100%;
	height: 100%;
}

#Contents #Body #ItemsContainer #TrophiesListContainer .TrophyEntry:hover
{
	transform: scale3d(1.08, 1.08, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #EmoticonList
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.Emoticon #Contents #Body #ItemsContainer #EmoticonList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #EmoticonList #EmoticonPicker
{
	ui-scale: 100%;
	width: 100%;
	background-color: none;
	border: 0px solid black;
}

#Contents #Body #ItemsContainer #EmoticonList #EmoticonPicker #EmoticonsContainer
{
	width: 100%;
}

#Contents #Body #ItemsContainer #WidgetList
{
	visibility: collapse;
	flow-children: right-wrap;
}

.Widget #Contents #Body #ItemsContainer #WidgetList
{
	visibility: visible;
}

#Contents #Body #ItemsContainer #WidgetList .SpiderGraphContainer
{
	background-image: url("s2r://panorama/images/control_icons/spider_graph_png.vtex");
}

#Contents #Body #ItemsContainer #WidgetList .UserFeedContainer
{
	background-image: url("s2r://panorama/images/control_icons/user_feed_png.vtex");
}

#Contents #Body #ItemsContainer #WidgetList .LastPlayedHeroContainer
{
	background-image: url("s2r://panorama/images/control_icons/blank_background_png.vtex");
	overflow: clip;
}

#Contents #Body #ItemsContainer #WidgetList .StatContainer
{
	background-image: url("s2r://panorama/images/control_icons/blank_background_png.vtex");
	overflow: clip;
}

#Contents #Body #ItemsContainer #WidgetList .StatContainer .StatItem
{
	horizontal-align: center;
	vertical-align: center;
	height: 50px;
	width: 100px;
}

#Contents #Body #ItemsContainer #WidgetList #LastPlayedHero
{
	width: 170px;
	height: 170px;
	margin-bottom: 30px;
	vertical-align: bottom;
	horizontal-align: center;
}

#Contents #Body #ItemsContainer #WidgetList .WidgetContainer
{
	width: 300px;
	height: 200px;
	margin: 10px;
	border: 1px solid Grey;
	background-size: contain;
	background-repeat: no-repeat;
	background-img-opacity: 1;
	brightness: 1;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-property: transform, brightness, box-shadow;
	transition-duration: 0.2s;
}

#Contents #Body #ItemsContainer #WidgetList .WidgetContainer Label
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 8px;
	color: #FFFFFF;
	text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
}

#Contents #Body #ItemsContainer #WidgetList .WidgetContainer:hover
{
	transform: scale3d(1.05, 1.05, 1);
	brightness: 1.5;
}

#Contents #Body #ItemsContainer #WidgetList .WidgetContainer:hover .HeroEntryButtonContent
{
	border: 1px solid rgba(255,255,255,0.04);
}

#Contents #Body #ItemsContainer #WidgetList .WidgetContainer:disabled
{
	visibility: collapse;
}

