

  DOTAShowcaseContents #ShowcaseBackground{
   width: 100%;
   height: 100%;
  }

  DOTAShowcaseContents #ShowcaseForeground{
   width: 100%;
   height: 100%;
   overflow: clip;
  }



 @keyframes 'SelectedGlow'{

     0%{

   box-shadow: hollow 0px 0px 8px #ff0;
     }
     100%{

   box-shadow: hollow 0px 0px 16px #ff0;
     }
 }


  .ShowcaseItemWidget:selected{
   animation-name: SelectedGlow;
   animation-duration: 0.7s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
  }
   .ShowcaseItemWidget:selected #Resize{
    opacity: 1.0;
   }


  .ShowcaseItemWidget #Resize{
   horizontal-align: right;
   vertical-align: bottom;

   width: 24px;
   height: 24px;

   border-right: 4px solid #00bbac;
   border-bottom: 4px solid #00bbac;

   opacity: 0.0;

   transition-property: opacity;
   transition-duration: 0.2s;
}