




 .EditButton{
  width: 36px;
  height: 36px;
  margin-right: 8px;
  vertical-align: middle;

  background-image: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  tooltip-position: top;

  transition-property: brightness;
  transition-duration: 0.2s;

  wash-color: #ccc;
 }
  .EditButton:hover{
   brightness: 2.0;
  }
  .EditButton:active{
   brightness: 1.5;
  }

  .EditButton:disabled{
   brightness: 0.2;
  }

  .EditButton Label{
   color: white;
   vertical-align: middle;
   horizontal-align: center;
   text-align: center;
   width: 100%;
   font-size: 20px;
   padding: 0px 2px;
   text-overflow: shrink;
  }



 #AddItemButton{
  background-image: url( "s2r://panorama/images/control_icons/plus_png.vtex");
 }
 #DeleteItemButton{
  background-image: url( "s2r://panorama/images/control_icons/trashcan_psd.vtex");
 }
 #SendToBackButton{
  background-image: url( "s2r://panorama/images/control_icons/24px/send_to_back.vsvg");
 }
 #MoveBackwardButton{
  background-image: url( "s2r://panorama/images/control_icons/24px/send_backwards.vsvg");
 }
 #MoveForwardButton{
  background-image: url( "s2r://panorama/images/control_icons/24px/send_forwards.vsvg");
 }
 #SendToFrontButton{
  background-image: url( "s2r://panorama/images/control_icons/24px/send_to_front.vsvg");
 }
 #ChooseBackgroundButton{
  background-image: url( "s2r://panorama/images/control_icons/pictureframe_psd.vtex");
 }
 #ClearAllButton{
  background-image: url( "s2r://panorama/images/control_icons/exit_circle_psd.vtex");
}