/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.EditButton
{
	width: 36px;
	height: 36px;
	margin-right: 8px;
	vertical-align: middle;
	background-image: none;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	tooltip-position: top;
	transition-property: brightness;
	transition-duration: 0.2s;
	wash-color: #ccc;
}

.EditButton:hover
{
	brightness: 2.0;
}

.EditButton:active
{
	brightness: 1.5;
}

.EditButton:disabled
{
	brightness: 0.2;
}

.EditButton Label
{
	color: white;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	width: 100%;
	font-size: 20px;
	padding: 0px 2px;
	text-overflow: shrink;
}

DOTAMiniShowcaseEditControls #AddItemButton
{
	background-image: url("s2r://panorama/images/control_icons/plus_png.vtex");
}

DOTAMiniShowcaseEditControls #ChooseBackgroundButton
{
	background-image: url("s2r://panorama/images/control_icons/pictureframe_psd.vtex");
}

DOTAMiniShowcaseEditControls #ClearAllButton
{
	background-image: url("s2r://panorama/images/control_icons/exit_circle_psd.vtex");
}

DOTAMiniShowcaseEditControls #DeleteItemButton
{
	background-image: url("s2r://panorama/images/control_icons/trashcan_psd.vtex");
}

DOTAMiniShowcaseEditControls #SendToBackButton
{
	background-image: url("s2r://panorama/images/control_icons/24px/send_to_back.vsvg");
}

DOTAMiniShowcaseEditControls #MoveBackwardButton
{
	background-image: url("s2r://panorama/images/control_icons/24px/send_backwards.vsvg");
}

DOTAMiniShowcaseEditControls #MoveForwardButton
{
	background-image: url("s2r://panorama/images/control_icons/24px/send_forwards.vsvg");
}

DOTAMiniShowcaseEditControls #SendToFrontButton
{
	background-image: url("s2r://panorama/images/control_icons/24px/send_to_front.vsvg");
}

#Contents.ShowcaseItemMoreOptionsPopupContents
{
	flow-children: down;
	background-color: #080A0C;
	min-width: 200px;
	max-height: 250px;
	border-radius: 3px;
	padding: 2px;
	width: 240px;
	opacity: 0.95;
}

#Contents.ShowcaseItemMoreOptionsPopupContents .MoreOptionsLabel
{
	padding-bottom: 8px;
}

#Contents.ShowcaseItemMoreOptionsPopupContents .OptionContainer
{
	padding: 8px 0px;
	border-top: 1px solid rgba( 255, 255, 255, 0.02 );
	width: 100%;
	flow-children: right;
}

#Contents.ShowcaseItemMoreOptionsPopupContents .OptionContainer .OptionIcon
{
	margin-right: 8px;
	vertical-align: center;
	wash-color: LightGrey;
}

#ContextMenuBody.BottomArrowVisible #Contents.ShowcaseItemMoreOptionsPopupContents
{
	margin-bottom: 5px;
}

#ShowcaseItemMoreOptions
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
	padding: 8px;
}

#ShowcaseItemMoreOptions #RotationSlider
{
	margin-bottom: 0px;
}

#LayerItemImage
{
	vertical-align: center;
	width: 20px;
	height: 20px;
	margin-top: 2px;
	wash-color: LighterGrey;
	img-shadow: 0px 1px 4px black;
	transition-property: wash-color;
	transition-duration: 0.1s;
	margin-right: 6px;
}

#ReportControls
{
	horizontal-align: right;
	vertical-align: top;
	margin-top: 140px;
	margin-right: 60px;
	flow-children: right;
	visibility: collapse;
}

.ViewingOther #ReportControls
{
	visibility: visible;
}

#ReportControls Button,#ReportControls TextButton
{
	margin-left: 6px;
	tooltip-position: bottom;
}

#ReportControls #ReportButton Image
{
	wash-color: loserRed;
}

@keyframes 'UnsavedChangesGlow'
{
	0%
	{
		brightness: 1.0;
	}
	
	100%
	{
		brightness: 3.0;
	}
	
}

.SaveChangesButton
{
	wash-color: #808080;
}

.ShowcaseModified .SaveChangesButton
{
	wash-color: #FFFFFF;
	brightness: 2.0;
}

#UndoButton
{
	visibility: collapse;
}

.IsEditing.CanUndo #UndoButton
{
	visibility: visible;
}

