





 .Trophy{
  width: 150px;
  height: 150px;
 }
  .Trophy #TrophyImage{
   width: 100%;
   height: 100%;
  }




 .EconItemIcon{
  width: 100px;
  height: 100px;
 }



 .HeroModel{
  width: 500px;
  height: 400px;
 }
  .HeroModel #HeroSetPreview{
   width: 100%;
   height: 100%;
   opacity-mask: url( "s2r://panorama/images/masks/softedge_box_png.vtex");
  }




 .Sticker{
  width: 200px;
  height: 200px;
 }
  .Sticker #StickerSetPreview{
   width: 100%;
   height: 100%;
  }




 .ChatWheel{
  flow-children: right;
  box-shadow: 0px 0px 12px #0009;
 }
  .ChatWheel #HeroImage{
   width: 20px;
   height: 20px;

   visibility: collapse;
  }
  .ChatWheel.HasHero #HeroImage{
   visibility: visible;
  }

  .ChatWheel #ChatWheelSoundButton{
   width: 20px;
   height: 20px;

   visibility: collapse;

   background-image: url( "s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;

   transition-property: brightness;
   transition-duration: 0.2s;
  }
   .ChatWheel #ChatWheelSoundButton:hover{
    brightness: 2.0;
   }
   .ChatWheel #ChatWheelSoundButton:active{
    brightness: 1.5;
   }

  .ChatWheel.HasSound #ChatWheelSoundButton{
   visibility: visible;
  }

  .ChatWheel .ChatWheelIcon{
   width: 20px;
   height: 20px;

   background-image: url( "s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
  }

  .ChatWheel .ChatWheelAllLabel{
   color: #666;
   text-shadow: 2px 2px 4px black;
   margin-right: 4px;
   visibility: collapse;
  }

  .ChatWheel.IsAllChat .ChatWheelAllLabel{
   visibility: visible;
  }

  .ChatWheel .ChatWheelText{
   color: white;
   text-shadow: 2px 2px 4px black;
  }





 .Spray{
  width: 200px;
  height: 200px;
 }
  .Spray #SprayImage{
   width: 100%;
   height: 100%;
  }




 .PlayerMatch{
  flow-children: right;
  width: 300px;
  background-color: #000e;

  transition-property: brightness;
  transition-duration: 0.2s;
 }
  .PlayerMatch:hover{
   brightness: 2.0;
  }
  .PlayerMatch:active{
   brightness: 1.5;
  }

  .PlayerMatch #HeroImage{
   width: 100px;
   height: 100px;
   margin: 12px;
  }

  .PlayerMatch .MatchDetails{
   flow-children: down;
   vertical-align: middle;
  }
   .PlayerMatch .MatchDetails .HeroName{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ccc;
   }

   .PlayerMatch .MatchDetails .Stat{
    flow-children: right;
   }
    .PlayerMatch .MatchDetails .Stat .StatCategory{
     color: #666666;
     text-transform: uppercase;
     font-size: 14px;
     min-width: 80px;
    }
    .PlayerMatch .MatchDetails .Stat .StatValue{
     color: #cccccc;
     font-size: 14px;
    }
     .PlayerMatch .MatchDetails .Stat .StatValue.Green{
      text-shadow: 0px 0px 12px 1.0 #39BE4A;
      color: #88ff88;
     }
     .PlayerMatch .MatchDetails .Stat .StatValue.Red{
      text-shadow: 0px 0px 12px 1.0 #BD1831;
      color: #dd4422;
     }



   .PlayerMatch .MatchDetails .DateTime{
    flow-children: right;
   }
    .PlayerMatch .MatchDetails .DateTime .DateTimeLabel{
     color: #888888;
     font-size: 12px;
     text-transform: uppercase;
     letter-spacing: 1px;
    }



  .PlayerMatch #Win,.PlayerMatch #Loss,.PlayerMatch #NotScored{
   visibility: collapse;
  }

  .PlayerMatch.IsWin #Win,.PlayerMatch.IsLoss #Loss,.PlayerMatch.IsNotScored #NotScored{
   visibility: visible;
  }





 .Emoticon{
  width: 64px;
  height: 64px;
 }
  .Emoticon #Emoticon{
   width: 100%;
   height: 100%;
}