/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABackgroundDarkCarnival
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #232646 ), color-stop( 0.6, #0E1423 ), to( #130C0D ) );
}

.BackgroundContainer
{
	width: 100%;
	height: 100%;
	blur: gaussian(3px);
	brightness: 0.3;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: ease-out;
}

.OnHomePage .BackgroundContainer
{
	brightness: 1;
	blur: gaussian(0px);
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.BackgroundContainer .Sky
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/sky_psd.vtex");
	background-size: cover;
}

.BackgroundContainer .BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/backgrounds/sky_background_png.vtex");
	background-size: cover;
}

.BackgroundContainer .ForegroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/dashboard/placeholder_db_foreground_png.vtex");
	background-size: cover;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: ease-out;
}

.OnHomePage .BackgroundContainer .ForegroundImage
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.Title
{
	color: white;
	horizontal-align: center;
	vertical-align: center;
}

.DarkCarnivalLogoContainer
{
	x: -360px;
	y: -40px;
	transform-origin: 50% 0%;
	horizontal-align: center;
	flow-children: down;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: ease-out;
	animation-name: SwayLogo;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.AspectRatio16x10 .DarkCarnivalLogoContainer
{
	x: -300px;
	pre-transform-scale2d: 0.9;
}

.AspectRatio21x9 .DarkCarnivalLogoContainer
{
	x: -370px;
}

.OnHomePage .DarkCarnivalLogoContainer
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo
{
	width: 360px;
	z-index: 1;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: visible;
}

.Language_schinese .DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: collapse;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: collapse;
}

.Language_schinese .DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: visible;
}

.DarkCarnivalLogoContainer .SubtitleRope
{
	width: 12px;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: bottom;
}

.DarkCarnivalLogoContainer .SubtitleRope.Left
{
	x: -104px;
	y: -30px;
}

.DarkCarnivalLogoContainer .SubtitleRope.Right
{
	x: 90px;
	y: -40px;
}

.DarkCarnivalLogoContainer .SubtitleContainer
{
	width: 80%;
	horizontal-align: center;
	transform: rotateZ( -3deg );
	margin-top: -56px;
	margin-left: -16px;
}

.DarkCarnivalLogoContainer .SubtitleContainer .SubtitleBackground
{
	width: 80%;
	vertical-align: center;
	horizontal-align: center;
}

.DarkCarnivalLogoContainer .SubtitleContainer .EventSubtitle
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	width: 72%;
	height: 25px;
	text-overflow: shrink;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( rgb(190, 182, 199) ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	font-weight: semi-bold;
}

@keyframes 'SwayLogo'
{
	0%
	{
		transform: rotateZ( -1deg );
	}
	
	100%
	{
		transform: rotateZ( 1deg );
	}
	
}

.MainContainer
{
	width: 960px;
	margin-bottom: 116px;
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0;
	transform: scale3d( 0.96, 0.96, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.OnHomePage .MainContainer
{
	opacity: 1;
	transform: none;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.EventIntroduction
{
	horizontal-align: center;
	margin-bottom: 4px;
	text-align: center;
	margin-bottom: 12px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	color: textLightest&CC;
	visibility: collapse;
}

.FirstRewardClaimed .EventIntroduction
{
	visibility: collapse;
}

.MainContents
{
	width: 100%;
	margin-bottom: -146px;
	margin-left: 36px;
	margin-right: 36px;
}

.MainContents .BottomGears
{
	horizontal-align: center;
	vertical-align: bottom;
	ignore-parent-flow: true;
	width: 500px;
	margin-top: 90px;
}

.MainContents .EventProgressBackground
{
	margin-top: 12px;
	img-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
	horizontal-align: center;
}

.MainContents .EventProgressContainer
{
	width: 100%;
	margin: 0px 36px;
	flow-children: right;
	visibility: collapse;
}

.FirstRewardClaimed .MainContents .EventProgressContainer
{
	visibility: visible;
}

.EventActionsContainer
{
	horizontal-align: center;
	flow-children: right;
	height: 74px;
	margin-top: -16px;
	opacity: 0;
	transform: scale3d( 0.96, 0.96, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.FirstRewardClaimed .EventActionsContainer
{
	margin-top: 0px;
}

.OnHomePage .EventActionsContainer
{
	opacity: 1;
	transform: none;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.EventActionsContainer .VisitWebsiteLink,.EventActionsContainer .ViewComicLink
{
	vertical-align: center;
	margin: 0px 48px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px black;
	transition-property: color, text-shadow;
	transition-duration: 0.15s;
	tooltip-position: top;
}

.EventActionsContainer .VisitWebsiteLink:hover,.EventActionsContainer .ViewComicLink:hover
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.EventActionsContainer #ViewEventButton
{
	width: 260px;
	horizontal-align: center;
	visibility: collapse;
}

.FirstRewardClaimed .EventActionsContainer #ViewEventButton
{
	visibility: visible;
}

.FirstTimeContainer
{
	horizontal-align: center;
	width: 100%;
	height: 120px;
	margin: 0px 64px;
	margin-left: 40px;
	margin-top: 12px;
}

.FirstRewardClaimed .FirstTimeContainer
{
	visibility: collapse;
}

.DataUnavailable .FirstTimeContainer
{
	visibility: collapse;
}

.FirstTimeContainer .EventIntroductionFirstTime
{
	width: 330px;
	font-size: 19px;
	vertical-align: center;
	margin-top: -10px;
	color: textLightest&cc;
	text-shadow: 0px 2px 8px black;
	text-align: center;
	height: 81px;
	text-overflow: shrink;
}

.FirstTimeContainer .GetStartedContainer
{
	horizontal-align: right;
	vertical-align: center;
	flow-children: down;
	margin-top: 4px;
}

.FirstTimeContainer .GetStartedContainer .FirstRewardClaimDescription
{
	max-width: 310px;
	horizontal-align: center;
	color: textLighter;
	font-size: 18px;
	margin-bottom: -4px;
	text-shadow: 0px 2px 8px black;
	text-overflow: shrink;
}

.FirstTimeContainer .GetStartedContainer #GetStartedButton
{
	horizontal-align: center;
	animation-name: GlowGetStartedButton;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'GlowGetStartedButton'
{
	0%
	{
		brightness: 1;
		transform: none;
	}
	
	100%
	{
		brightness: 3;
		transform: scale3d( 1.05, 1.05, 0 );
	}
	
}

.FirstClaimReward
{
	horizontal-align: center;
	vertical-align: bottom;
	height: 180px;
	width: height-percentage(100%);
	overflow: noclip;
	ignore-parent-flow: true;
	z-index: 1;
	margin-bottom: 180px;
	opacity: 0;
	transform: scale3d( 0.96, 0.96, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.FirstRewardClaimed .FirstClaimReward
{
	visibility: collapse;
}

.DataUnavailable .FirstClaimReward
{
	visibility: collapse;
}

.OnHomePage .FirstClaimReward
{
	opacity: 1;
	transform: none;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.NoData
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 40px;
	flow-children: down;
	wash-color: LighterGrey;
}

.DataUnavailable .NoData
{
	visibility: visible;
}

.NoData .NoDataText
{
	margin-bottom: 5px;
	text-transform: uppercase;
}

.NoData .Spinner
{
	horizontal-align: center;
}

.OwnsAllNextRewardTokens .NextRewardWidget .DarkCarnivalProgressAvailableBadge
{
	visibility: visible;
}

.Widget
{
	padding: 4px;
	width: fill-parent-flow(1);
	height: 132px;
	vertical-align: bottom;
	transition-property: transform, brightness;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Widget .WidgetBackground
{
	width: 100%;
	height: 100%;
	margin-bottom: 16px;
	border: 1px solid white;
	border-brush: gradient( radial, 50% 0%, 0% 0%, 60% 100%, from( goldLight ), to( goldDark) );
	background-image: url("s2r://panorama/images/events/dark_carnival/dashboard/widget_background_png.vtex");
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.5);
}

.Widget .WidgetTitle
{
	margin-bottom: 4px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.Widget .PanelTitleContainer
{
	y: -2px;
}

.Widget .PanelTitleContainer .PanelTitleBackground
{
	ui-scale: 80%;
}

.Widget .WidgetContents
{
	padding: 10px 16px;
	flow-children: down;
}

.Widget .DarkCarnivalProgressAvailableBadge
{
	vertical-align: bottom;
	z-index: 1;
	horizontal-align: center;
	y: 10px;
	visibility: collapse;
}

.Widget .ProgressAvailable
{
	vertical-align: bottom;
	z-index: 1;
	visibility: collapse;
	animation-name: GlowProgressAvilableBadge;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.Widget .ProgressAvailable .PanelTitleBackground
{
	transform: scaleY( 0.8 );
}

.Widget .ProgressAvailable .RewardsAvailableGlow
{
	width: 100%;
	ignore-parent-flow: true;
	height: 100%;
	margin: 4px 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.4, rgba(255, 193, 100, 0.9) ), color-stop( 0.6, rgba(255, 193, 100, 0.9) ), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian(4px);
	-s2-mix-blend-mode: screen;
	animation-name: GlowProgressAvilable;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.Widget .ProgressAvailable .PanelTitleLabel
{
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 195, 106, 0.6);
	letter-spacing: 1px;
}

.Widget:hover:not(.FortuneTellerLocked)
{
	transform: translateY( -2px );
	brightness: 1.5;
}

.Widget:hover:not(.FortuneTellerLocked) .WidgetTitle
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

@keyframes 'GlowProgressAvilable'
{
	0%
	{
		opacity: 0.1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

@keyframes 'GlowProgressAvilableBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

.EventProgressWidget
{
	flow-children: down;
	width: fill-parent-flow(1);
	padding: 12px 16px 12px 12px;
	margin-top: 2px;
	vertical-align: center;
}

.EventProgressWidget .EventProgressTitle
{
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFF3D9 ), color-stop( 0.25, #FBE0A0 ), color-stop( 0.5, #787C89 ), color-stop( 0.75, #9D968E ), to( #88A7FF) );
	text-shadow: 0px 2px 12px black;
	font-weight: bold;
	margin-bottom: 0px;
}

.EventProgressWidget .ChapterTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFF3D9 ), color-stop( 0.25, #FBE0A0 ), color-stop( 0.5, #787C89 ), color-stop( 0.75, #9D968E ), to( #88A7FF) );
	text-shadow: 0px 2px 12px black;
	font-weight: bold;
	margin-bottom: 0px;
}

.EventProgressWidget .CompletionProgressBar
{
	width: 90%;
	height: 12px;
	margin: 4px 0px;
	background-color: greyDark;
	border: 1px solid goldDark;
	box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

.EventProgressWidget .CompletionProgressBar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/progress_bar_background_png.vtex");
	background-size: 10px 12px;
}

.NextRewardWidget .OverworldWidgetNoteLocked,.NextRewardWidget .OverworldWidgetNote
{
	horizontal-align: center;
	vertical-align: bottom;
	color: textLighter;
	margin-bottom: 22px;
	font-size: 16px;
	text-align: center;
	width: 100%;
	height: 20px;
	text-overflow: shrink;
}

.NextRewardWidget .OverworldWidgetNoteLocked
{
	visibility: collapse;
	text-transform: uppercase;
	opacity: 0.2;
	letter-spacing: 1px;
	font-size: 14px;
}

.OwnsAllNextRewardTokens .NextRewardWidget .OverworldWidgetNote
{
	visibility: collapse;
}

.NextRewardWidget.NoMoreProgressAvailable
{
	visibility: collapse;
}

.NextRewardWidget.ZeroCost .TokensUnlockContainer,.NextRewardWidget.ZeroCost .RewardArrow
{
	visibility: collapse;
}

.NextRewardWidget.NextNodeUnreleased .TokensUnlockContainer,.NextRewardWidget.NextNodeUnreleased .RewardArrow,.NextRewardWidget.NextNodeUnreleased .RewardTypeIcon
{
	brightness: 0.1;
	saturation: 0.5;
}

.NextRewardWidget.NextNodeUnreleased .OverworldWidgetNote
{
	visibility: collapse;
}

.NextRewardWidget.NextNodeUnreleased .OverworldWidgetNoteLocked
{
	visibility: visible;
}

.NextRewardWidget.NextNodeUnreleased .ProgressAvailableText
{
	visibility: collapse;
}

.NextRewardWidget .TokensRewardContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
	transform: scale3d( 0.88, 0.88, 1 );
	margin-top: -12px;
}

.OwnsAllNextRewardTokens .NextRewardWidget .TokensRewardContainer
{
	transform: none;
	margin-top: -6px;
}

.NextRewardWidget .TokensRewardContainer .TokensUnlockContainer
{
	vertical-align: center;
}

.NextRewardWidget .TokensRewardContainer .TokensUnlockContainer .TokenContainerImage
{
	height: 68px;
	width: 100%;
	vertical-align: center;
	border-width: 68px 32px 0px 32px;
	border-image-slice: 100% 120px 0px 120px;
	border-image-repeat: stretch;
	border-image-source: url("s2r://panorama/images/events/dark_carnival/overworld/nodes/node_connector_tokens_png.vtex");
}

.NextRewardWidget .TokensRewardContainer .TokensUnlockContainer .TokensContainer
{
	flow-children: right;
	vertical-align: center;
	margin: 0px 21px;
}

.NextRewardWidget .TokensRewardContainer .TokensUnlockContainer .TokensContainer DOTADarkCarnivalToken
{
	margin: -5px;
	ui-scale: 90%;
}

.NextRewardWidget .TokensRewardContainer .RewardArrow
{
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	margin-left: -12px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward
{
	horizontal-align: right;
	vertical-align: center;
	height: 86px;
	width: height-percentage(100%);
	overflow: noclip;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.Encounter
{
	height: 106px;
	margin-left: -24px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.Coin
{
	margin-left: -8px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.Chest
{
	margin-top: -8px;
	margin-left: -6px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.LoadingScreen
{
	height: 120px;
	margin-left: -14px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.Spray
{
	height: 120px;
	margin-left: -16px;
}

.NextRewardWidget .TokensRewardContainer DOTADarkCarnivalReward.HeroItemSet
{
	height: 220%;
	margin-left: -32px;
	margin-right: -24px;
	margin-top: -24px;
	overflow: noclip;
}

.DailyReadingWidget.FortuneTellerLocked
{
	saturation: 0.2;
	brightness: 0.5;
	opacity: 0.95;
}

.DailyReadingWidget .OracleContents
{
	flow-children: right;
	vertical-align: center;
	margin-left: 12px;
	y: -4px;
}

.FortuneTellerLocked.DailyReadingWidget .OracleContents
{
	visibility: collapse;
}

.DailyReadingWidget .OracleContents Label
{
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.DailyReadingWidget .OracleContents .OracleCoinContainer
{
	vertical-align: center;
	margin-bottom: -6px;
}

.DailyReadingWidget .OracleContents .OracleCoinContainer .OracleCoinImage,.DailyReadingWidget .OracleContents .OracleCoinContainer .OracleCoinSlot
{
	width: 64px;
}

.DailyReadingWidget .OracleContents .OracleCoinContainer .OracleCoinSlot
{
	saturation: 0.8;
	opacity: 0.2;
}

.FortuneTellerCoins_OneCoinEarned.DailyReadingWidget .OracleContents .OracleCoinContainer .OracleCoinImage
{
	visibility: collapse;
}

.DailyReadingWidget .OracleContents .OracleInfo
{
	flow-children: down;
	vertical-align: center;
	margin-left: 12px;
}

.DailyReadingWidget .OracleContents .OracleInfo .DailySeeingStoneTitle
{
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	margin-bottom: -2px;
}

.DailyReadingWidget .OracleContents .OracleInfo .EarnedContainer
{
	flow-children: right;
	visibility: collapse;
}

.DailyReadingWidget .OracleContents .OracleInfo .EarnedContainer .EarnedCheck
{
	vertical-align: center;
	width: 20px;
	margin-right: 4px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #52ffa3 ), to( #239668 ) );
}

.DailyReadingWidget .OracleContents .OracleInfo .EarnedContainer .EarnedSeeingStone
{
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #52ffa3 ), to( #239668 ) );
}

.FortuneTellerCoins_OneCoinEarned.DailyReadingWidget .OracleContents .OracleInfo .EarnedContainer
{
	visibility: visible;
}

.DailyReadingWidget .OracleContents .OracleInfo .AvailableContainer
{
	flow-children: right;
	margin-top: 2px;
}

.DailyReadingWidget .OracleContents .OracleInfo .AvailableContainer .InfoIcon
{
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	wash-color: none;
	tooltip-position: top;
	margin: 0px;
	margin-right: 4px;
	margin-bottom: -3px;
}

.DailyReadingWidget .OracleContents .OracleInfo .AvailableContainer .AvilableToEarnSeeingStone
{
	vertical-align: center;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 196, 128, 0.4);
}

.FortuneTellerCoins_OneCoinEarned.DailyReadingWidget .OracleContents .OracleInfo .AvailableContainer
{
	visibility: collapse;
}

.DailyReadingWidget .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown
{
	margin-top: -2px;
	visibility: collapse;
}

.DailyReadingWidget .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown .FortuneCountdown
{
	color: textLighter;
}

.FortuneTellerCoins_OneCoinEarned.DailyReadingWidget .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown
{
	visibility: visible;
}

.DailyReadingWidget .DarkCarnivalProgressAvailableBadge
{
	visibility: collapse;
}

.HasFortuneAvailable.DailyReadingWidget .DarkCarnivalProgressAvailableBadge
{
	visibility: visible;
}

.DailyReadingWidget .OracleLockedDescriptionContainer
{
	flow-children: down;
	horizontal-align: center;
	margin-top: 18px;
	visibility: collapse;
}

.FortuneTellerLocked.DailyReadingWidget .OracleLockedDescriptionContainer
{
	visibility: visible;
}

.DailyReadingWidget .OracleLockedDescriptionContainer .OracleHandIcon
{
	width: 72px;
	horizontal-align: center;
	margin-bottom: -8px;
}

.DailyReadingWidget .OracleLockedDescriptionContainer .OracleLockedDescription
{
	text-align: center;
	horizontal-align: center;
	margin: 0px 12px;
	color: textLighter;
	width: fill-parent-flow(1);
	height: 20px;
	text-overflow: shrink;
}

.Unsed
{
	visibility: collapse;
}

.BackgroundSceneContainer
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: ease-out;
	opacity: 0;
}

.OnHomePage .BackgroundSceneContainer
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.BackgroundSceneContainer .DarkCarnivalDashboard
{
	ignore-parent-flow: true;
	width: 100%;
	max-width: 2560px;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.25, #ffffff ), color-stop( 0.75, #ffffff ), to( #ffffff00 ) );
	opacity: 1;
	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.5s, 0.2s;
}

.BackgroundSceneContainer .DarkCarnivalDashboard.Initialize
{
	opacity: 1;
}

.AspectRatio16x10 .BackgroundSceneContainer .DarkCarnivalDashboard
{
	transform: scale3d( 0.93, 0.93, 1 ) translateY( -10px );
}

.BackgroundSceneContainer .DarkCarnivalDashboardFooter
{
	width: 100%;
	height: 400px;
	vertical-align: bottom;
	horizontal-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #230e0a00 ), color-stop( 0.5, #1b0d15c3 ), to( #180b09 ) );
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff99 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #ffffff99 ) );
}

.BackgroundSceneContainer .DarkCarnivalDashboardHeroLeft
{
	width: 520px;
	height: 400px;
	horizontal-align: center;
	vertical-align: center;
	margin-right: 580px;
	margin-top: 0px;
	border-radius: 120px;
}

.BackgroundSceneContainer .DarkCarnivalDashboardHeroMiddle
{
	width: 300px;
	height: 500px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 100px;
	border-radius: 80px;
}

.BackgroundSceneContainer .DarkCarnivalDashboardHeroRight
{
	width: 350px;
	height: 300px;
	horizontal-align: center;
	vertical-align: center;
	margin-left: 600px;
	margin-top: 120px;
	border-radius: 80px;
}

