/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.NodeDebugContents
{
	flow-children: down;
	max-width: 700px;
	max-height: 800px;
}

.Actions
{
	flow-children: down;
	margin: 5px 0px;
}

.Actions .PopupButton
{
	margin: 0px 16px 0px 0px;
	ui-scale: 80%;
}

.Actions .Row
{
	flow-children: right;
}

.TopRow
{
	flow-children: right;
}

.TopRow .NodeNumber
{
	border: 1px solid black;
	padding: 5px;
	background-color: black;
}

.TopRow .NodeState
{
	margin-left: 10px;
	vertical-align: center;
}

.DialogueSection
{
	border: 1px solid gray;
	flow-children: down;
	padding: 5px;
	background-color: #222;
	overflow: clip scroll;
}

#CompleteNodeContainer
{
	visibility: collapse;
	flow-children: down;
}

.NodeLocked #CompleteNodeContainer
{
	visibility: visible;
}

#CompleteNodeContainer #SuppressPopupsButton
{
	margin-top: 5px;
	horizontal-align: left;
}

#CompleteNodeContainer #SuppressPopupsButton Label
{
	text-overflow: shrink;
}

#ShowDialogueButton
{
	visibility: collapse;
}

.HasDialogue #ShowDialogueButton
{
	visibility: visible;
}

#ShowEncounterButton
{
	visibility: collapse;
}

.HasEncounter #ShowEncounterButton
{
	visibility: visible;
}

#ShowNarrationButton
{
	visibility: collapse;
	border: 1px solid red;
}

.HasNarration #ShowNarrationButton
{
	visibility: visible;
}

.DialogueHeader
{
	font-weight: bold;
	text-decoration: underline;
	visibility: collapse;
}

.HasDialogue .DialogueHeader
{
	visibility: visible;
}

#DialoguePreviewContainer
{
	flow-children: down;
}

#DialoguePreviewContainer Label
{
	font-size: 19px;
	font-family: Radiance;
	color: white;
}

#DialoguePreviewContainer Label.DifferentActor
{
	margin-top: 6px;
}

#DialoguePreviewContainer Label.Hoodwink
{
	color: #c0ffbf;
}

#DialoguePreviewContainer Label.Tresdin
{
	color: #ffdac9;
}

#DialoguePreviewContainer Label.Slark
{
	color: #cafcff;
}

#DialoguePreviewContainer Label.Bex
{
	color: #fcffd1;
}

#DialoguePreviewContainer Label.AutoAxe
{
	color: #ffcdd6;
}

#PreviewPortraits
{
	flow-children: right-wrap;
	max-height: 400px;
	overflow: clip scroll;
}

#PreviewPortraits .PreviewPortrait
{
	width: 160px;
	height: 160px;
}

