/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTADarkCarnivalOverworldPage
{
	width: 100%;
	height: 100%;
	transition-property: blur;
	transition-duration: 0.3s;
}

DOTADarkCarnivalOverworldPage.HideUI #ActSelector
{
	visibility: collapse;
}

DOTADarkCarnivalOverworldPage.HideUI .LeftUICol
{
	transform: translateX( -300px );
	transition-delay: 0.5s;
}

DOTADarkCarnivalOverworldPage.HideUI .RightUICol
{
	transform: translateX( 300px );
	transition-delay: 0.5s;
}

.HideDashboardUI DOTADarkCarnivalOverworldPage .TopRightButtonsContainer,.HideDashboardUI DOTADarkCarnivalOverworldPage .LeftUICol,.HideDashboardUI DOTADarkCarnivalOverworldPage .RightUICol,.HideDashboardUI DOTADarkCarnivalOverworldPage .BottomGradient,.HideDashboardUI DOTADarkCarnivalOverworldPage .LeftGradient,.HideDashboardUI DOTADarkCarnivalOverworldPage .RightGradient
{
	visibility: collapse;
}

.ActLockedPanel
{
	visibility: collapse;
	background-size: 100% 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 60% 60%, from( charcoalLight ), to( charcoalDark ) );
	width: 100%;
	height: 100%;
}

.ActLocked .ActLockedPanel
{
	visibility: visible;
}

.ActLockedPanel .LockedMessageContainer
{
	align: center middle;
	flow-children: down;
}

.ActLockedPanel .LockedMessageContainer .LockedMessage
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	margin: 8px 24px;
	font-size: 48px;
	line-height: 1.3;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.ActLockedPanel .LockedMessageContainer .LockedCountdown
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	margin: 8px 24px;
	font-size: 24px;
	line-height: 1.3;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
}

.TopRightButtonsContainer
{
	horizontal-align: right;
	flow-children: right;
	margin-top: 76px;
	margin-right: 28px;
	ignore-parent-flow: true;
	transition-property: opacity, transform;
	transition-duration: 0.25s;
}

.TopRightButtonsContainer Label
{
	font-size: 18px;
	text-transform: uppercase;
	vertical-align: center;
	horizontal-align: right;
	letter-spacing: 1.5px;
	font-weight: semi-bold;
	text-shadow: 0px 2px 8px black;
}

.EncounterPopupShown .TopRightButtonsContainer
{
	visibility: collapse;
}

.TopRightButtonsContainer .Separator
{
	vertical-align: center;
	color: #a7b1b18f;
	padding: 0px 8px;
	visibility: collapse;
}

.FeedbackButtonEnabled .TopRightButtonsContainer .Separator
{
	visibility: visible;
}

.HideUI .TopRightButtonsContainer
{
	opacity: 0;
	transform: translateX( 20px );
	transition-delay: 0.6s;
}

.HowToPlayContainer
{
	flow-children: right;
	border-radius: 3px;
	padding: 2px;
	padding-left: 8px;
	padding-right: 8px;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.HowToPlayContainer Label
{
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
}

.HowToPlayContainer .Icon
{
	height: 18px;
	width: 18px;
	vertical-align: center;
	margin-left: 6px;
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
}

.HowToPlayContainer:hover .ButtonLabel
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.HowToPlayContainer:active
{
	brightness: 0.5;
}

.FeedbackButton
{
	visibility: collapse;
	vertical-align: center;
}

.FeedbackButtonEnabled .FeedbackButton
{
	visibility: visible;
}

.FeedbackButton:hover
{
	brightness: 1.5;
}

.FeedbackButton:hover Label
{
	color: #a7b1b1ff;
}

.FeedbackButton:active
{
	brightness: 0.5;
}

.FeedbackButton:active Label
{
	color: #a7b1b1ff;
}

.FeedbackButton Label
{
	color: #c7d1d17c;
}

.VisualNovelOpen #ActSelector,.VisualNovelOpen .LeftUICol
{
	opacity: 0;
}

.VisualNovelOpen
{
	blur: gaussian(4px);
}

#Map
{
	transition-property: brightness;
	transition-duration: 0.3s;
}

.ActLocked #Map
{
	visibility: collapse;
}

.BottomGradient
{
	width: 100%;
	height: 220px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop(0.5, #060608b7 ), to( #000000f5 ) );
}

.LeftGradient
{
	width: 540px;
	height: 100%;
	horizontal-align: left;
	background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #000000dd ) );
}

.RightGradient
{
	width: 540px;
	height: 100%;
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #000000dd ) );
}

#ActSelector
{
	margin-left: 256px;
	margin-top: 186px;
	padding-bottom: 4px;
	transition-duration: 0.25s;
	transition-property: transform, opacity;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: translateY( 16px );
}

#ActSelector.Show
{
	opacity: 1;
	transform: none;
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
	transition-delay: 0.15s;
}

.ZoomedInPanningAway .LeftUICol
{
	transform: translateX( -50px );
	opacity: 0.7;
}

.ZoomedInPanningAway .RightUICol
{
	transform: translateX( 50px );
	opacity: 0.7;
}

.LeftUICol
{
	flow-children: right;
	margin-left: 10px;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.LeftUICol #InventoryTray
{
	vertical-align: center;
	margin-top: 110px;
	margin-left: -32px;
	z-index: -1;
	overflow: noclip;
}

.LeftUICol .RewardsPanelContents
{
	flow-children: down;
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer
{
	horizontal-align: center;
	z-index: 1;
	margin-bottom: -12px;
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogo
{
	width: 280px;
	height: width-percentage(100%);
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: visible;
}

.Language_schinese .LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: collapse;
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: collapse;
}

.Language_schinese .LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: visible;
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogoFX
{
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/logos/dark_carnival_emblem_shine_mask_png.vtex") 0.99;
	width: 280px;
	height: width-percentage(100%);
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogoFX .LogoGodRays
{
	horizontal-align: center;
	vertical-align: center;
	width: 300%;
	height: 200%;
	overflow: noclip;
	brightness: 3;
	hue-rotation: 180deg;
	saturation: 0.5;
}

.LeftUICol .RewardsPanelContents .DarkCarnivalLogoContainer .DarkCarnivalLogoShimmer
{
	width: 280px;
	height: width-percentage(100%);
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/logos/dark_carnival_emblem_shine_mask_png.vtex");
}

.LeftUICol .RewardsPanelContents .SubtitleContainer
{
	width: 75%;
	horizontal-align: center;
	transform: rotateZ( -3deg );
	margin-top: -36px;
	margin-bottom: -4px;
}

.LeftUICol .RewardsPanelContents .SubtitleContainer .SubtitleBackground
{
	width: 100%;
	vertical-align: center;
	horizontal-align: center;
}

.LeftUICol .RewardsPanelContents .SubtitleContainer .EventSubtitle
{
	vertical-align: center;
	horizontal-align: center;
	width: 85%;
	height: 25px;
	text-overflow: shrink;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( rgb(190, 182, 199) ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	font-weight: semi-bold;
}

.LeftUICol .RewardsPanelContents .TicketsContainer
{
	flow-children: down;
	width: 240px;
	horizontal-align: center;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents
{
	width: 100%;
	flow-children: down;
	padding: 6px 16px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .PanelTitleContainer
{
	z-index: 1;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer
{
	flow-children: down;
	width: 100%;
	margin-top: -16px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer .InnerPanelBackground
{
	margin-bottom: 28px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer #Inventory
{
	margin-top: 22px;
	horizontal-align: center;
	width: 100%;
	transition-property: opacity, transform, brightness;
	transition-duration: 0.6s;
	transition-delay: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.DataMissing .LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer #Inventory
{
	visibility: collapse;
}

.ActLocked .LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer #Inventory
{
	visibility: collapse;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .TicketsContents .InventoryContainer #TokenTraderButton
{
	horizontal-align: center;
	ui-scale: 80%;
	width: 100%;
	margin: 0px 20px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .PremiumContents
{
	width: 100%;
	flow-children: down;
	padding: 6px 16px;
	margin-top: -12px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .PremiumContents Label
{
	color: textLighter;
	margin-bottom: 8px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .PremiumContents .PremiumTokenContainer
{
	flow-children: right;
	horizontal-align: center;
	padding-top: 8px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .PremiumContents .PremiumTokenContainer .Emblem
{
	vertical-align: center;
	width: 40px;
	margin: 4px;
}

.LeftUICol .RewardsPanelContents .TicketsContainer .PremiumContents .PremiumTokenContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.LeftUICol .RewardsPanelContents Label
{
	horizontal-align: center;
	text-align: center;
}

.LeftUICol .RewardsPanelContents #ViewPassButton
{
	width: 100%;
	horizontal-align: center;
	margin: -4px 8px;
	ui-scale: 80%;
}

.LeftUICol .RewardsPanelContents #ViewStoreButton
{
	width: 100%;
	horizontal-align: center;
	margin: 6px 6px;
}

.LeftUICol .RewardsPanelContents .RewardsPanelDivider
{
	width: 100%;
	height: 1px;
	background-color: black;
}

.LeftUICol .RewardsPanelContents .RewardsPanelDivider.Inset
{
	margin: 0px 12px;
}

.OracleContainer
{
	width: 240px;
	horizontal-align: center;
	flow-children: down;
	margin-top: -8px;
	padding: 0px 6px;
	transition-property: transform, brightness;
	transition-duration: 0.1s;
}

.FortuneTellerLocked.OracleContainer
{
	visibility: collapse;
}

.OracleContainer .OracleContainerBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-color: #18121C;
	border: 1px solid black;
	margin: 20px 0px 20px;
	border-radius: 2px;
}

.OracleContainer .OracleContainerBackground .PaperTexture
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/oracle/paper_texture_png.vtex");
	background-size: cover;
	-s2-mix-blend-mode: overlay;
	contrast: 0.75;
}

.OracleContainer .OracleContainerBackground .OracleContainerBorderSquare
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	margin: 4px;
}

.OracleContainer .OracleContainerBackground .OracleContainerBorderRound
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffeed0 ), to( goldDark ) );
	border-radius: 12px;
	margin: 4px;
}

.OracleContainer .OracleContainerBackground .OracleStar
{
	margin: 10px;
	width: 12px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	visibility: collapse;
}

.OracleContainer .OracleContainerBackground .OracleStar.Bottom
{
	vertical-align: bottom;
	brightness: 0.5;
}

.OracleContainer .OracleContainerBackground .OracleStar.Right
{
	horizontal-align: right;
}

.OracleContainer .PanelTitleContainer
{
	ignore-parent-flow: true;
	margin-top: 18px;
}

.OracleContainer .OracleMapContainer
{
	width: 100%;
	height: 100px;
	background-color: rgb(43, 33, 84);
	margin: 26px 6px 0px;
	border-radius: 12px 12px 0px 0px;
	border-bottom: 1px solid rgba(255, 232, 182, 0.2);
	overflow: clip;
}

.OracleContainer .OracleMapContainer .OracleImage
{
	overflow: noclip;
	height: 300%;
	width: height-percentage(250%);
	horizontal-align: center;
	vertical-align: center;
	brightness: 0.5;
	transition-property: transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.OracleContainer .DailySeeingStoneTitle
{
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	margin-top: 8px;
}

.FortuneTellerReadyToBeUnlocked.OracleContainer .DailySeeingStoneTitle
{
	visibility: collapse;
}

.OracleContainer .OracleContents
{
	flow-children: right;
	horizontal-align: center;
	margin-bottom: 36px;
}

.FortuneTellerLocked.OracleContainer .OracleContents
{
	visibility: collapse;
}

.OracleContainer .OracleContents Label
{
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
}

.OracleContainer .OracleContents .OracleCoinContainer
{
	vertical-align: center;
	margin-bottom: -6px;
}

.OracleContainer .OracleContents .OracleCoinContainer .OracleCoinImage,.OracleContainer .OracleContents .OracleCoinContainer .OracleCoinSlot
{
	width: 40px;
}

.FortuneTellerCoins_OneCoinEarned.OracleContainer .OracleContents .OracleCoinContainer .OracleCoinImage
{
	saturation: 0.8;
	opacity: 0.2;
}

.FortuneTellerReadyToBeUnlocked.OracleContainer .OracleContents .OracleCoinContainer
{
	visibility: collapse;
}

.OracleContainer .OracleContents .OracleInfo
{
	flow-children: down;
	vertical-align: center;
	margin-left: 8px;
}

.OracleContainer .OracleContents .OracleInfo .EarnedContainer
{
	flow-children: right;
	visibility: collapse;
}

.OracleContainer .OracleContents .OracleInfo .EarnedContainer .EarnedCheck
{
	vertical-align: center;
	width: 20px;
	margin-right: 4px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #52ffa3 ), to( #239668 ) );
}

.OracleContainer .OracleContents .OracleInfo .EarnedContainer .EarnedSeeingStone
{
	vertical-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #52ffa3 ), to( #239668 ) );
}

.FortuneTellerCoins_OneCoinEarned.OracleContainer .OracleContents .OracleInfo .EarnedContainer
{
	visibility: visible;
}

.OracleContainer .OracleContents .OracleInfo .AvailableContainer
{
	flow-children: right;
}

.OracleContainer .OracleContents .OracleInfo .AvailableContainer .InfoIcon
{
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	wash-color: none;
	tooltip-position: top;
	margin: 0px;
	margin-right: 4px;
	margin-bottom: -3px;
}

.OracleContainer .OracleContents .OracleInfo .AvailableContainer .AvilableToEarnSeeingStone
{
	vertical-align: center;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	color: white;
	text-shadow: 0px 0px 12px rgba(255, 196, 128, 0.4);
}

.FortuneTellerCoins_OneCoinEarned.OracleContainer .OracleContents .OracleInfo .AvailableContainer
{
	visibility: collapse;
}

.OracleContainer .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown
{
	margin-top: -2px;
	visibility: collapse;
}

.OracleContainer .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown .FortuneCountdown
{
	color: textLighter;
}

.FortuneTellerCoins_OneCoinEarned.OracleContainer .OracleContents .OracleInfo #FortunteTellerDailyProgressCountdown
{
	visibility: visible;
}

.FortuneTellerReadyToBeUnlocked.OracleContainer .OracleContents .OracleInfo
{
	visibility: collapse;
}

.OracleContainer .OracleContents .ReadyToUnlockButton
{
	horizontal-align: center;
	vertical-align: center;
	margin-top: 12px;
	flow-children: right;
	visibility: collapse;
}

.OracleContainer .OracleContents .ReadyToUnlockButton Label
{
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	font-weight: semi-bold;
	vertical-align: center;
	margin-top: -1px;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.OracleContainer .OracleContents .ReadyToUnlockButton Image
{
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	vertical-align: center;
	width: 20px;
	height: 20px;
	transition-property: opacity-brush, img-shadow;
	transition-duration: 0.1s;
}

.OracleContainer .OracleContents .ReadyToUnlockButton:hover Label
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.OracleContainer .OracleContents .ReadyToUnlockButton:hover Image
{
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	img-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.FortuneTellerReadyToBeUnlocked.OracleContainer .OracleContents .ReadyToUnlockButton
{
	visibility: visible;
}

.OracleContainer .DarkCarnivalProgressAvailableBadge
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: -44px;
}

.HasFortuneAvailable.OracleContainer .DarkCarnivalProgressAvailableBadge
{
	visibility: visible;
}

.OracleContainer:hover .OracleImage
{
	transform: scale3d( 1.05, 1.05, 1 );
	brightness: 1.5;
}

.OracleContainer:active
{
	transform: scale3d( 0.97, 0.97, 1 );
	brightness: 0.6;
}

.RightUICol
{
	flow-children: down;
	horizontal-align: right;
	margin-right: 28px;
	margin-top: 8px;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.ShortcutsContainer
{
	flow-children: down;
	width: 100%;
	visibility: collapse;
}

.ShortcutsContainer #EncounterImage
{
	height: 30px;
}

.ShortcutsContainer .PanelTitleContainer
{
	margin-top: 6px;
}

.ShortcutsContainer .InnerPanelBackground
{
	margin: 16px 16px 22px;
	opacity: 0;
}

.ShowShortcuts .ShortcutsContainer
{
	visibility: visible;
}

#EncounterShortcutContainer
{
	flow-children: right-wrap;
	horizontal-align: center;
	margin: 8px 24px 0px;
	padding-bottom: 32px;
	border-radius: 1px;
}

#EncounterShortcutContainer .ShortcutContainer
{
	margin: 0px -2px -12px;
	tooltip-position: top;
	transition-property: brightness, transform;
	transition-duration: 0.1s;
	visibility: collapse;
}

#EncounterShortcutContainer .ShortcutContainer.Unlocked
{
	visibility: visible;
}

#EncounterShortcutContainer .ShortcutContainer .ShortcutBackground
{
	width: 60px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	transition-property: brightness, wash-color;
	transition-duration: 0.1s;
}

#EncounterShortcutContainer .ShortcutContainer .ShortcutIcon
{
	width: 26px;
	height: width-percentage( 100% );
	y: -2px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: center;
	vertical-align: center;
}

#EncounterShortcutContainer .ShortcutContainer:hover .ShortcutBackground
{
	brightness: 2;
}

#EncounterShortcutContainer .ShortcutContainer:active
{
	brightness: 0.5;
	transform: translateY( 1px );
}

#EncounterShortcutContainer #EncounterShortcut_crate_drop
{
	margin-left: 25px;
}

.ShortcutsTitle
{
	horizontal-align: center;
	color: gradient( linear, 0% 30%, 0% 100%, from( gold1 ), to( gold3 ) );
	text-shadow: 0px 2px 8px black;
}

.Unused
{
	flow-children: down;
	visibility: collapse;
}

.ActLocked .RewardsContainer,.ActLocked .DashDotDivider,.ActLocked .ShortcutsTitle,.ActLocked #EncounterShortcutContainer
{
	visibility: collapse;
}

@keyframes 'GlowProgressAvilable'
{
	0%
	{
		opacity: 0.1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

@keyframes 'GlowProgressAvilableBadge'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

@keyframes 'LearnMoreHighlight'
{
	50%
	{
		transform: scale3d( 1.1, 1.1, 1.0 );
	}
	
}

@keyframes 'FadeIn'
{
	0%
	{
		opacity: 0;
	}
	
	100%
	{
		opacity: 100;
	}
	
}

.ProgressionContainer
{
	horizontal-align: right;
	width: 240px;
	margin-top: 124px;
	flow-children: down;
}

.ProgressionContainer .ProgressionContents
{
	width: 100%;
	flow-children: down;
	padding: 24px;
	padding-top: 6px;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget
{
	flow-children: down;
	width: fill-parent-flow(1);
	padding: 0px;
	margin-top: 12px;
	vertical-align: center;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionProgressBar
{
	width: 90%;
	height: 12px;
	margin: 4px 0px;
	background-color: greyDark;
	border: 1px solid goldDark;
	box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.4);
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionProgressBar .ProgressBarLeft
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/progress_bar_background_png.vtex");
	background-size: 10px 12px;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .ChapterContainer
{
	flow-children: right;
	width: 100%;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionContainer
{
	flow-children: right;
	horizontal-align: right;
	vertical-align: center;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionContainer .CompletedFlagImage
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/nodes/node_flag_png.vtex");
	background-size: 200% 200%;
	background-position: 35% 15%;
	vertical-align: center;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionContainer .ActCompletion
{
	vertical-align: center;
	color: goldDark;
	text-shadow: 0px 2px 8px black;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CompletionContainer .ActCompletion b
{
	color: goldLight;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CountdownContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-left: -4px;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CountdownContainer .InfoIcon
{
	vertical-align: center;
	wash-color: goldDark;
	tooltip-position: top;
	margin: 0px;
	margin-right: 8px;
	margin-bottom: -3px;
}

.ProgressionContainer .ProgressionContents .EventProgressWidget .CountdownContainer .Countdown
{
	font-size: 15px;
	text-transform: none;
	color: goldDark;
	text-shadow: 0px 2px 8px black;
}

.ProgressionContainer .ProgressionContents #FriendsLeaderboard
{
	width: 100%;
	height: 225px;
	margin: 12px 0px 12px;
	visibility: collapse;
}

.HasLeaderboard .ProgressionContainer .ProgressionContents #FriendsLeaderboard
{
	visibility: visible;
}

.VisualNovelOpen .RightUICol
{
	opacity: 0;
}

.NarratorContainer
{
	width: 600px;
	height: 600px;
	horizontal-align: center;
	vertical-align: bottom;
}

.GiftContainer
{
	visibility: collapse;
	horizontal-align: right;
	ignore-parent-flow: true;
	vertical-align: bottom;
}

.GiftContainer .GiftIcon
{
	horizontal-align: center;
	height: 32px;
	width: height-percentage( 100% );
	background-image: url("s2r://panorama/images/events/crownfall/overworld/token_gift_icon_png.vtex");
	wash-color: magenta;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	background-color: #1f1f1f;
	border-radius: 3px;
	border: 2px solid white;
}

.HasTokenGifts .GiftContainer
{
	visibility: visible;
}

