/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define rendererWidthPx: 312px;
@define rendererHeightPx: 432px;
@define rendererWidth: 312;
@define rendererHeight: 432;
#MainContents
{
	width: 960px;
	height: 960px;
	horizontal-align: center;
	vertical-align: center;
}

#MainContents DOTADarkCarnivalSlarkJailbreakGamePanel
{
	width: 480px;
	height: 480px;
	horizontal-align: center;
	vertical-align: center;
}

#MainContents DOTADarkCarnivalSlarkJailbreakRenderer
{
	width: rendererWidthPx;
	height: rendererHeightPx;
	horizontal-align: center;
	vertical-align: bottom;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex");
	opacity-mask-threshold: 0% 0%;
}

.LevelIntro.ShowStoryUnlocked #MainContents DOTADarkCarnivalSlarkJailbreakRenderer
{
	animation-delay: 2.75s;
}

.LevelIntro #MainContents DOTADarkCarnivalSlarkJailbreakRenderer
{
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex") -1;
	opacity-mask-threshold: 0% 0%;
	animation-name: LevelWipeIn;
	animation-delay: 1s;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.LevelOutro #MainContents DOTADarkCarnivalSlarkJailbreakRenderer,.GameFinished #MainContents DOTADarkCarnivalSlarkJailbreakRenderer
{
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex");
	opacity-mask-threshold: 0% 0%;
	animation-name: LevelWipeOut;
	animation-delay: 0.5s;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#MainContents #PixelArtScaler
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	texture-sampling: point;
}

#MainContents .Curtains
{
	texture-sampling: point;
	ignore-parent-flow: true;
	x: 0px;
	y: 0px;
	width: 480px;
	height: 480px;
}

#MainContents .StatusFrame
{
	texture-sampling: point;
	horizontal-align: center;
	vertical-align: top;
}

#MainContents .PlayAreaBlack
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 312px;
	height: 432px;
	background-color: black;
}

#MainContents .RingMasterHead
{
	texture-sampling: point;
	x: 332px;
	y: 24px;
	animation-name: HeadBreathe;
	animation-duration: 1s;
	animation-delay: 0.25s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#MainContents .RingMasterHandLeft
{
	texture-sampling: point;
	x: -80px;
	y: 220px;
	animation-name: HandLeftBreathe;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#MainContents .RingMasterHandRight
{
	texture-sampling: point;
	x: 320px;
	y: 190px;
	animation-name: HandRightBreathe;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#MainContents .HeaderStats
{
	flow-children: right;
	horizontal-align: center;
	width: 660px;
	height: 96px;
	margin-top: 2px;
	padding: 16px 80px;
}

#MainContents .HeaderStats .Stat
{
	flow-children: down;
	vertical-align: center;
	width: fill-parent-flow ( 1 );
}

#MainContents .HeaderStats .Stat .Title
{
	font-size: 14px;
	font-weight: semi-bold;
	color: goldDark;
	text-transform: uppercase;
}

#MainContents .HeaderStats .Stat .Value
{
	margin-top: -4px;
	font-family: titleFont;
	font-size: 24px;
	font-weight: bold;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), color-stop( 0.5, #FBE0A0 ), color-stop( 0.75, #787C89 ), to( #7894e2 ) ) text-shadow: 0px 2px 2px 1 black;
}

#MainContents .HeaderStats .Stat.Lives .Value
{
	visibility: collapse;
}

#MainContents .HeaderStats .Stat.Lives .Count
{
	flow-children: right;
	width: 100%;
	height: 30px;
}

#MainContents .HeaderStats .Stat.Lives .Count Image
{
	texture-sampling: point;
	vertical-align: center;
	width: 24px;
	height: 24px;
	margin-left: -6px;
	img-shadow: 0px 2px 4px 1 black;
}

#MainContents .HeaderStats .Stat.Level
{
	horizontal-align: center;
}

#MainContents .HeaderStats .Stat.Level .Title,#MainContents .HeaderStats .Stat.Level .Value
{
	horizontal-align: center;
	text-align: center;
}

#MainContents .HeaderStats .Stat.Score
{
	horizontal-align: right;
}

#MainContents .HeaderStats .Stat.Score .Title,#MainContents .HeaderStats .Stat.Score .Value
{
	horizontal-align: right;
	text-align: right;
}

#MainContents .LivesRemainingIcon
{
	width: 58px;
	height: 58px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.125);
}

#MainContents .LivesRemainingIcon .AbilityLabel
{
	font-weight: bold;
}

.DebugButtons
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

.DebugButtons TextButton
{
	horizontal-align: center;
	vertical-align: top;
	padding: 0px 5px;
	border: 1px solid black;
	background-color: #4d196b;
	border-radius: 3px;
	margin: 4px;
}

.Interstitial
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 1);
}

.Interstitial Label
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
}

.Interstitial Label.Message
{
	margin-bottom: 8px;
	font-size: 32px;
	font-weight: semi-bold;
	text-shadow: 0px 8px 12px 1 black;
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
}

.Interstitial Label.Level
{
	margin-top: -32px;
	font-size: 128px;
	font-family: titleFont;
	font-weight: black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF3D9 ), color-stop( 0.33, #FBE0A0 ), color-stop( 0.66, #787C89 ), to( #7894e2 ) );
}

.LevelIntro.ShowStoryUnlocked .Interstitial
{
	animation-delay: 1.75s;
}

.LevelIntro .Interstitial
{
	animation-name: InterstitialOn;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.InterstitialStoryUnlockedPanel
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	padding: 32px;
	opacity: 0;
	transform: scale3d(0.5, 0.5, 1);
}

.InterstitialStoryUnlockedPanel Label
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
}

.InterstitialStoryUnlockedPanel Label.Message
{
	margin-bottom: 8px;
	font-size: 32px;
	font-weight: semi-bold;
	text-shadow: 0px 8px 12px 1 black;
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
}

.InterstitialStoryUnlockedPanel .Check
{
	horizontal-align: center;
	background-image: url("s2r://panorama/images/control_icons/24px/check_fancy.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
}

.InterstitialStoryUnlockedPanel .Check.Reward
{
	width: 64px;
	height: 64px;
	margin-bottom: 8px;
	background-texture-size: 64px;
	opacity-brush: gradient( linear, 0% 30%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
	opacity: 1;
}

.InterstitialStoryUnlockedPanel .TokensContainer
{
	width: 116%;
	horizontal-align: center;
	overflow: noclip;
	margin-top: -24px;
}

.InterstitialStoryUnlockedPanel .TokensContainer DOTADarkCarnivalToken
{
	horizontal-align: center;
	vertical-align: center;
	ui-scale: 220%;
}

.LevelIntro.ShowStoryUnlocked .InterstitialStoryUnlockedPanel
{
	animation-name: StoryUnlocked;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.FloatingText
{
	width: 88px;
	height: 124px;
	transform: translateX( -20px ) translateY( -100px );
}

.FloatingText Label
{
	margin-top: 100px;
	horizontal-align: center;
	font-size: 16px;
	font-family: titleFont;
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF3D9 ), color-stop( 0.33, #FBE0A0 ), color-stop( 0.66, #787C89 ), to( #7894e2 ) );
	text-transform: uppercase;
	animation-name: FloatText;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.ControlsHint
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	min-width: 180px;
	margin-top: 260px;
	padding: 32px;
	font-size: 48px;
	font-family: titleFont;
	text-shadow: 4px 4px 4px black;
}

.ControlsHint Label
{
	vertical-align: center;
	margin-left: 12px;
	color: goldLight;
}

.ControlsHint .MoveHint
{
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
	transform: translateY(20px);
	opacity: 0;
	transition-property: transform, opacity, visibility;
	transition-duration: 0.2s;
}

.ShowMoveHint .ControlsHint .MoveHint
{
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
	transition-duration: 0.5s;
}

.LevelIntro.ShowMoveHint .ControlsHint .MoveHint
{
	visibility: collapse;
}

.ControlsHint .LaunchHint
{
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
	transform: translateY(20px);
	opacity: 0;
	transition-property: transform, opacity, visibility;
	transition-duration: 0.2s;
}

.ShowLaunchHint .ControlsHint .LaunchHint
{
	visibility: visible;
	transform: translateY(0px);
	opacity: 1;
	transition-duration: 0.5s;
}

.Paused .DimmedWhenPaused
{
	saturation: 0.2;
	brightness: 0.4;
}

#Controls
{
	margin-bottom: 32px;
}

#Controls .Quadrant
{
	margin-bottom: 12px;
}

#Controls .DescriptionContainer
{
	margin-bottom: 0px;
}

.TitleContainer
{
	flow-children: right;
	width: 100%;
}

.TitleContainer Label
{
	margin: 0px 12px;
}

.TitleContainer .Dash
{
	vertical-align: center;
	width: fill-parent-flow(1);
	height: 1px;
	opacity: 0.6;
}

.TitleContainer .Dash.Left
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( gold1 ), color-stop( 0.5, gold2&66 ), to( gold3&00 ) );
}

.TitleContainer .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( gold1 ), color-stop( 0.5, gold2&66 ), to( gold3&00 ) );
}

.ControlsHeaderContainer
{
	overflow: noclip;
	width: 100%;
	margin-top: 30px;
}

.ControlsHeaderContainer .GoldHeader
{
	horizontal-align: left;
	width: 100%;
}

.StartGameButton
{
	horizontal-align: center;
	vertical-align: bottom;
}

.PostGameMenu
{
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

.GameOver .PostGameMenu
{
	visibility: visible;
}

.PostGameMenu .Body
{
	width: 400px;
	height: 600px;
	background-color: #333333;
}

.PostGameMenu .BottomButtons
{
	horizontal-align: center;
	vertical-align: bottom;
}

.MainMenuContainer .ControlsContents
{
	flow-children: down;
	width: 80px;
	margin-right: 10px;
}

.MainMenuContainer .ControlsContents .KeyRows
{
	margin-bottom: 20px;
}

.MainMenuContainer .ControlsContents .ControlKey
{
	height: 30px;
	width: 30px;
	horizontal-align: center;
	margin: 5px;
}

@keyframes 'HeadBreathe'
{
	0%
	{
		transform: translateX( 1px ) translateY( -1px );
	}
	
	100%
	{
		transform: translateX( -1px ) translateY( 1px );
	}
	
}

@keyframes 'HandLeftBreathe'
{
	0%
	{
		transform: translateX( -2px ) translateY( -1px );
	}
	
	100%
	{
		transform: translateX( 1px ) translateY( 0px );
	}
	
}

@keyframes 'HandRightBreathe'
{
	0%
	{
		transform: translateX( 1px ) translateY( -1px );
	}
	
	100%
	{
		transform: translateX( -1px ) translateY( 1px );
	}
	
}

@keyframes 'LevelWipeOut'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex");
		opacity-mask-threshold: 0% 0%;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex");
		opacity-mask-threshold: 100% 0%;
	}
	
}

@keyframes 'LevelWipeIn'
{
	0%
	{
		opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex") -1;
		opacity-mask-threshold: 0% 0%;
	}
	
	100%
	{
		opacity-mask: url("s2r://panorama/images/events/dark_carnival/slark_jailbreak/level_transition_mask_png.vtex") -1;
		opacity-mask-threshold: 100% 0%;
	}
	
}

@keyframes 'InterstitialOn'
{
	0%
	{
		opacity: 0;
		transform: scale3d(0.5, 0.5, 1);
	}
	
	5%
	{
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1);
	}
	
	7%
	{
		transform: scale3d(0.95, 0.95, 1);
	}
	
	9%
	{
		transform: scale3d(1, 1, 1);
	}
	
	45%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
	55%
	{
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
	
}

@keyframes 'StoryUnlocked'
{
	0%
	{
		opacity: 0;
		transform: scale3d(0.5, 0.5, 1);
	}
	
	2.5%
	{
		opacity: 1;
		transform: scale3d(1.1, 1.1, 1);
	}
	
	3.5%
	{
		transform: scale3d(0.95, 0.95, 1);
	}
	
	4.5%
	{
		transform: scale3d(1, 1, 1);
	}
	
	30%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	
	32%
	{
		opacity: 1;
		transform: scale3d(1, 1, 1) translate3d(0px, 0px, 0px);
	}
	
	36%
	{
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1) translate3d(0px, 160px, 0px);
	}
	
	60%
	{
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1) translate3d(0px, 160px, 0px);
	}
	
	70%
	{
		opacity: 0;
		transform: scale3d(0.5, 0.5, 1) translate3d(0px, 160px, 0px);
	}
	
	100%
	{
		opacity: 0;
		transform: scale3d(0.5, 0.5, 1) translate3d(0px, 160px, 0px);
	}
	
}

@keyframes 'FloatText'
{
	0%
	{
		opacity: 1;
		brightness: 5;
		y: 0;
	}
	
	50%
	{
		opacity: 1;
		brightness: 1;
	}
	
	100%
	{
		opacity: 0;
		brightness: 1;
		y: -40px;
	}
	
}

