/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel.TokenQuest
{
	width: 1920px;
	height: 1080px;
}

.PopupPanel.TokenQuest .InnerPopupPanel
{
	width: 1100px;
	height: 650px;
	horizontal-align: center;
	vertical-align: center;
}

.PopupPanel.TokenQuest .InnerPopupPanel .Actions
{
	border-top: 0;
	background-color: transparent;
	margin-top: 0;
	padding-top: 0;
}

.PopupPanel.TokenQuest .InnerPopupPanel .PanelTitleContainer
{
	margin-top: 10px;
}

.Title
{
	font-family: monospace;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	color: white;
	text-align: center;
	letter-spacing: 4px;
}

.Center
{
	flow-children: right;
}

.Center .OldManIcon
{
	width: 128px;
	height: 128px;
	texture-sampling: point;
	margin: 0px 48px;
	margin-bottom: 20px;
	vertical-align: middle;
}

.PopupBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/textures/miniprofile_rock_darker_psd.vtex");
	background-repeat: repeat;
	background-size: 100% 100%;
}

#RewardContainer
{
	vertical-align: center;
	flow-children: right;
	min-width: 240px;
	min-height: 250px;
}

#RewardContainer Panel
{
	vertical-align: center;
	horizontal-align: center;
}

#RewardContainer .ModelReward
{
	horizontal-align: center;
	flow-children: down;
}

#RewardContainer .ModelReward #ModelPreview
{
	width: 480px;
	height: 320px;
}

#RewardContainer .EconItemReward
{
	flow-children: down;
	horizontal-align: center;
}

#RewardContainer .EconItemReward .ImageContainer
{
	width: 216px;
	height: 144px;
	horizontal-align: center;
	margin-bottom: 8px;
}

#RewardContainer .EconItemReward .Details Label
{
	font-size: 20px;
	color: #ddd;
}

#RewardContainer .EconItemReward .Quantity
{
	vertical-align: bottom;
	horizontal-align: right;
	color: white;
	text-shadow: 0px 2px 12px black;
	font-family: titleFont;
	font-size: 28px;
	margin: 2px 6px;
	letter-spacing: 0.5px;
}

#RewardContainer .CandyShopRerollChargesItem
{
	flow-children: down;
}

#RewardContainer .CandyShopRerollChargesItem .CandyShopRerollChargeImage
{
	width: 200px;
	height: 200px;
	background-image: url("s2r://panorama/images/events/crownfall/store/bunlde_item_reroll_dice_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#RewardContainer .CandyShopRerollChargesItem Label
{
	vertical-align: middle;
	color: #ccc;
	font-size: 24px;
}

#RewardContainer .SeeingStoneReward
{
	flow-children: down;
}

#RewardContainer .SeeingStoneReward #SeeingStoneImage
{
	horizontal-align: center;
}

#RewardContainer .Details .ItemName
{
	font-size: 24px;
	text-shadow: 0 0 3px black;
}

.AlreadyClaimed #RewardContainer
{
	visibility: Collapse;
}

.NoMoreText
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 80px;
	margin-bottom: -20px;
	text-align: center;
}

.AlreadyClaimed .NoMoreText
{
	visibility: visible;
}

#ClaimRewardButton
{
	margin-top: 50px;
	horizontal-align: center;
	width: 200px;
}

.AlreadyClaimed #ClaimRewardButton
{
	visibility: collapse;
}

#CostTokensContainer
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: right-wrap;
	margin: 10px;
	min-height: 70px;
	max-width: 400px;
	max-height: 280px;
	background-color: #261e2cfe;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #3a1e51fe;
	box-shadow: 0 6px 32px -4px rgba(0, 0, 0, 0.6 );
}

#CostTokensContainer DOTADarkCarnivalToken
{
	ui-scale: 120%;
	margin: -4px;
}

.AlreadyClaimed #CostTokensContainer
{
	visibility: Collapse;
}

.SmelterImage
{
	height: 1000px;
	width: 550px;
	transform: translateX( 250px ) translateY( 30px );
}

.NoteContainer
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/smelter_bristleback_note_paper_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	flow-children: down;
	width: 300px;
	height: 400px;
	horizontal-align: right;
	vertical-align: center;
	padding: 4px;
	transform: rotateZ( 2deg ) translateX( -180px );
	brightness: 0.9;
}

.NoteContainer .TopNote
{
	width: 100%;
	height: 75%;
}

.NoteContainer .BristlebackNote
{
	font-size: 16px;
	color: black;
	padding: 30px 30px 0 30px;
	font-family: Reaver;
	line-height: 1.7;
	color: #444;
	text-overflow:shrink;
	text-align: center;
	font-weight: semi-bold;
}

.NoteContainer .BristlebackSignature
{
	font-size: 18px;
	margin-right: 50px;
	horizontal-align: right;
	color: black;
	color: #444;
	font-family: Reaver;
	text-overflow:shrink;
	font-weight: semi-bold;
}

.ContentsWrapper .AsyncSection
{
	margin-top: 45px;
}

.ContentsWrapper .LowerContainer
{
	border: 1px solid cyan;
	height: 600px;
	vertical-align: bottom;
	margin-bottom: 50px;
}

.ContentsWrapper .LowerContainer Panel
{
	vertical-align: bottom;
}

.ContentsWrapper AsyncDataPanel
{
	horizontal-align: center;
}

.PopupClosing .ContentsWrapper AsyncDataPanel
{
	visibility: collapse;
}

.ContentsWrapper AsyncDataPanel > .AsyncContainer
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	min-width: 600px;
}

.ContentsWrapper .TitleText
{
	horizontal-align: center;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 1px;
	font-family: Reaver;
	text-shadow: 0px 1px 1px gold3;
	color: gold1;
}

.ContentsWrapper .InstructionsText
{
	horizontal-align: center;
	font-size: 18px;
	text-align: center;
	max-width: 500px;
	color: gold1;
	text-shadow: 0px 1px 1px gold3;
	brightness: 0.5;
	margin-bottom: 10px;
}

.ContentsWrapper .CenterContainer
{
	margin-left: 210px;
	flow-children: right;
}

.NoRewardVisualization .TradeArrow
{
	visibility: collapse;
}

.NoRewardVisualization #RewardContainer
{
	visibility: collapse;
}

.TradeArrow
{
	width: 28px;
	height: 28px;
	vertical-align: center;
	margin: 0px 12px;
	wash-color: LighterGrey;
	img-shadow: 0px 2px 8px black;
	margin-left: 30px;
}

.AlreadyClaimed .TradeArrow
{
	visibility: collapse;
}

.AlreadyClaimed .BodyContainer .AsyncContainer .Actions
{
	min-height: 100px;
	width: 600px;
	flow-children: down;
}

.AlreadyClaimed .BodyContainer .AsyncContainer .Actions .ClaimRewardButton
{
	visibility: collapse;
}

