/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.PopupPanel
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
	padding: 0px;
	border: 0px solid transparent;
	box-shadow: none;
	animation: none;
	background-color: none;
	horizontal-align: center;
	vertical-align: middle;
}

Label
{
	color: textLighter&cc;
}

#MainContents
{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 14px;
}

.PopupBorder
{
	margin: 12px;
}

.Header
{
	flow-children: down;
	width: 100%;
	padding: 32px 24px 8px;
}

.Header .Title
{
	horizontal-align: center;
	width: 100%;
	text-align: center;
	font-family: titleFont;
	font-size: 36px;
	letter-spacing: 1px;
	font-weight: semi-bold;
	text-transform: uppercase;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF3D9 ), color-stop( 0.33, #FBE0A0 ), color-stop( 0.66, #787C89 ), to( #7894e2 ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.Header .Subtitle
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	font-size: 18px;
	font-family: titleFont;
	color: textLightest;
	margin-top: -4px;
}

.GameScreen
{
	width: 100%;
	height: 100%;
	opacity: 1;
	blur: gaussian( 0 );
	transition-property: blur, saturation, brightness;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.GameSetup .GameScreen
{
	blur: gaussian( 4 );
	saturation: 0;
	brightness: 0.1;
}

.IsPaused .GameScreen
{
	blur: gaussian( 4 );
	saturation: 0;
	brightness: 0.1;
}

.GameFinished .GameScreen
{
	blur: gaussian( 4 );
	saturation: 0;
	brightness: 0.1;
}

.GameScreen.Failed
{
	animation-name: ScreenShake;
	animation-duration: .15s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.StartGameButton.Completed
{
	saturation: 0.2;
}

.StartGameButton.Locked
{
	saturation: 0.2;
}

.SceneBackground
{
	width: 100%;
	height: 100%;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	opacity: 1;
}

@keyframes 'ScreenShake'
{
	0%
	{
		transform: translateX( 0px ) translateY( 0px ) scaleX( 1.000 ) scaleY( 1.000 );
		wash-color: #ffffff00;
	}
	
	10%
	{
		transform: translateX( -5px ) translateY( -2px ) scaleX( 1.020 ) scaleY( 1.020 );
		wash-color: #ff5555F0;
	}
	
	25%
	{
		transform: translateX( 4px ) translateY( 1px ) scaleX( 1.015 ) scaleY( 1.015 );
		wash-color: #ff4444D0;
	}
	
	40%
	{
		transform: translateX( -3px ) translateY( 1px ) scaleX( 1.010 ) scaleY( 1.010 );
		wash-color: #ff3333A8;
	}
	
	60%
	{
		transform: translateX( 2px ) translateY( -1px ) scaleX( 1.006 ) scaleY( 1.006 );
		wash-color: #ff222280;
	}
	
	80%
	{
		transform: translateX( 0px ) translateY( 0px ) scaleX( 1.003 ) scaleY( 1.003 );
		wash-color: #ff111144;
	}
	
	100%
	{
		transform: translateX( 0px ) translateY( 0px ) scaleX( 1.000 ) scaleY( 1.000 );
		wash-color: #ffffff00;
	}
	
}

.SectionHeader
{
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 4px;
	border-bottom: 1px solid tanLight&22;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: semi-bold;
	text-transform: uppercase;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}

.SectionHeader.LeftAlign
{
	horizontal-align: left;
}

.SectionSpacer
{
	height: 12px;
}

.Section
{
	width: 100%;
	flow-children: down;
}

.Section .DescriptionContainer
{
	width: 100%;
	flow-children: down;
	margin-bottom: 12px;
	padding: 0px;
}

.Section .Row
{
	flow-children: right;
	width: 100%;
}

.Section .HowToPlayTitle
{
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2px;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	margin-bottom: 6px;
}

.Section .HowToPlayDescription
{
	font-size: 16px;
	line-height: 1.2;
}

.Section .HowToPlayDescription b
{
	font-weight: bold;
	font-size: 16px;
}

.Section .SubHeaderContainer
{
	flow-children: right;
}

.Section .SubHeader
{
	font-size: 16px;
	font-weight: semi-bold;
	text-transform: uppercase;
	color: textLightest;
	letter-spacing: 1px;
}

.Section .Details
{
	font-size: 16px;
	line-height: 1.2;
	vertical-align: center;
}

.Section .Details.LeftAlign
{
	horizontal-align: left;
	text-align: left;
}

.Section .DetailsValue
{
	horizontal-align: right;
	vertical-align: center;
	text-align: right;
	font-weight: semi-bold;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
}

.Section .Details.SubText
{
	font-size: 11px;
}

.Section .Row.BelowControls
{
	width: 100%;
}

.Section .ControlKey
{
	horizontal-align: left;
	vertical-align: top;
	width: 20px;
	height: 20px;
}

.Section .ControlKey Label
{
	padding: 3px 0px 2px;
}

.Section .TotalScore
{
	margin-top: 12px;
}

.NewHighScoreContainer
{
	width: 100%;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&00 ), color-stop( 0.25, winnerGreenLow&22 ), color-stop( 0.5, winnerGreenLow&33 ), color-stop( 0.75, winnerGreenLow&22 ), to( winnerGreenLow&00 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&00 ), color-stop( 0.25, winnerGreenLow&11 ), color-stop( 0.5, winnerGreenLow&22 ), color-stop( 0.75, winnerGreenLow&11 ), to( winnerGreenLow&00 ) );
	padding: 6px;
	visibility: collapse;
}

.NewHighScore .NewHighScoreContainer
{
	visibility: visible;
}

.NewHighScoreContainer .NewHighScoreLabel
{
	horizontal-align: center;
	color: winnerGreen&aa;
	text-shadow: 0px 2px 12px black;
	font-weight: semi-bold;
}

.StoryModeComplete .StoryModeDescription
{
	visibility: collapse;
}

.StoryModeComplete #StoryModeButton
{
	visibility: collapse;
}

#PostGameRewards
{
	visibility: collapse;
}

.ReceivedRewards #PostGameRewards
{
	visibility: visible;
}

#PostGameRewardsList
{
	flow-children: right-wrap;
}

#PostGameRewardsList DOTAEmoticon
{
	vertical-align: middle;
}

.Quadrant
{
	width: 100%;
	flow-children: right;
}

.Quadrant .ControlMouse
{
	horizontal-align: center;
	ui-scale: 90%;
}

.Quadrant .ControlKeyboard
{
	horizontal-align: center;
	ui-scale: 120%;
	margin-top: -6px;
}

.Quadrant .ControlKeyboard .KeyboardIcon
{
	width: 24px;
	height: 24px;
	opacity: 0.5;
}

.Quadrant .DescriptionContainer
{
	flow-children: down;
	vertical-align: center;
	padding: 0px;
}

.Quadrant .Contents
{
	horizontal-align: center;
	width: 32px;
	margin-right: 8px;
	margin-top: 4px;
}

.Quadrant .Contents .Row
{
	horizontal-align: center;
	vertical-align: center;
	transition-property: opacity, transform;
	margin: 8px 0px;
}

.LeaderboardContainer
{
	width: 100%;
	height: 400px;
	horizontal-align: right;
	flow-children: down;
}

.LeaderboardContainer .LeaderList
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: clip scroll;
}

.LeaderboardContainer .LeaderListHeader
{
	width: 100%;
	margin-bottom: 8px;
}

.LeaderboardContainer .LeaderListHeader Label
{
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	letter-spacing: 2px;
}

.LeaderboardContainer .LeaderListHeader .Score
{
	horizontal-align: right;
	font-size: 14px;
	text-align: right;
}

.LeaderboardContainer .LeaderboardRow
{
	ui-scale: 100%;
	width: 100%;
	margin-bottom: 2px;
	flow-children: right;
	padding-right: 12px;
	height: 24px;
}

.LeaderboardContainer .LeaderboardRow.OddRow
{
	background-color: #0005;
}

.LeaderboardContainer .LeaderboardRow #LeaderListAvatar
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 5px;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName
{
	vertical-align: center;
	width: fill-parent-flow( 1.0 );
	height: 24px;
	padding-top: 2px;
	font-size: 16px;
	text-overflow: shrink min( 10px ) ellipsis;
}

.LeaderboardContainer .LeaderboardRow .LeaderListName .PersonaName
{
	color: #bbbbbb;
}

.LeaderboardContainer .LeaderboardRow .LeaderListValue
{
	horizontal-align: right;
	vertical-align: center;
	max-width: 50%;
	margin-right: 4px;
	text-align: right;
	font-size: 16px;
	text-overflow: shrink min( 10px ) ellipsis;
	height: 19px;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
}

@keyframes 'SpinBackgroundPattern'
{
	0%
	{
		transform: rotateZ( 0deg );
	}
	
	50%
	{
		transform: rotateZ( -180deg );
	}
	
	100%
	{
		transform: rotateZ( -360deg );
	}
	
}

.MainMenuContainer,.PausedMenuContainer,.PostGameMenuContainer
{
	ignore-parent-flow: true;
	flow-children: down;
	horizontal-align: center;
	vertical-align: middle;
	width: 660px;
	height: fit-children;
	opacity: 0;
	transform: scale3d( 1.1, 1.1, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.MainMenuContainer .MenuBackground,.PausedMenuContainer .MenuBackground,.PostGameMenuContainer .MenuBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border: 1px solid bronzeDark;
	background-color: gradient( radial, 50% 95%, 0% 0%, 50% 200%, from( #28294A ), to( #0D0E19 ) );
	margin-bottom: 36px;
}

.MainMenuContainer .BackgroundPatternContainer,.PausedMenuContainer .BackgroundPatternContainer,.PostGameMenuContainer .BackgroundPatternContainer
{
	vertical-align: bottom;
	width: 100%;
	height: 600px;
	ignore-parent-flow: true;
	margin-bottom: 36px;
	opacity-brush: gradient( radial, 50% 100%, 0% 0%, 50% 80%, from( #ffffff ), color-stop( 0.5, #ffffff68 ), to( #ffffff00 ) );
	opacity: 0.1;
}

.MainMenuContainer .BackgroundPatternContainer .BackgroundPattern,.PausedMenuContainer .BackgroundPatternContainer .BackgroundPattern,.PostGameMenuContainer .BackgroundPatternContainer .BackgroundPattern
{
	horizontal-align: center;
	overflow: noclip;
	width: 220%;
	height: 220%;
	y: 10%;
	wash-color: #585998;
	animation-name: SpinBackgroundPattern;
	animation-duration: 120s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.MainMenuContainer .Body,.PausedMenuContainer .Body,.PostGameMenuContainer .Body
{
	flow-children: down;
	width: 100%;
	height: fit-children;
	padding: 0px;
}

.MainMenuContainer .ColumnContainer,.PausedMenuContainer .ColumnContainer,.PostGameMenuContainer .ColumnContainer
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	margin: 16px;
	padding: 16px 40px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #090c1500 ), color-stop( 0.5, #090c1599 ), to( #090c1500 ) );
	border: 1px solid rgba(255, 255, 255, 0.55);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( goldDark&00 ), color-stop( 0.15, goldDark&33 ), color-stop( 0.5, goldLight ), color-stop( 0.85, goldDark&33 ), to( goldDark&00 ) );
}

.MainMenuContainer .ColumnContainer .Column,.PausedMenuContainer .ColumnContainer .Column,.PostGameMenuContainer .ColumnContainer .Column
{
	width: 50%;
	height: fit-children;
	flow-children: down;
	overflow: clip scroll;
}

.MainMenuContainer .ColumnContainer .Column.First,.PausedMenuContainer .ColumnContainer .Column.First,.PostGameMenuContainer .ColumnContainer .Column.First
{
	margin-right: 12px;
}

.MainMenuContainer .ColumnContainer .Column.Last,.PausedMenuContainer .ColumnContainer .Column.Last,.PostGameMenuContainer .ColumnContainer .Column.Last
{
	margin-left: 12px;
}

.MainMenuContainer .ScoringSection,.PausedMenuContainer .ScoringSection,.PostGameMenuContainer .ScoringSection
{
	margin-top: 12px;
	flow-children: down;
	width: 100%;
	horizontal-align:left;
}

.MainMenuContainer .ScoringSection #ScoreList,.PausedMenuContainer .ScoringSection #ScoreList,.PostGameMenuContainer .ScoringSection #ScoreList
{
	width: 100%;
}

.MainMenuContainer .ScoringSection #ScoreList .ScoringLine,.PausedMenuContainer .ScoringSection #ScoreList .ScoringLine,.PostGameMenuContainer .ScoringSection #ScoreList .ScoringLine
{
	flow-children: right;
	width: 100%;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 22px;
}

.MainMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringTitle,.PausedMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringTitle,.PostGameMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringTitle
{
	horizontal-align: left;
	font-size: 14px;
}

.MainMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringValue,.PausedMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringValue,.PostGameMenuContainer .ScoringSection #ScoreList .ScoringLine .ScoringValue
{
	horizontal-align: right;
	font-size: 14px;
	font-weight: bold;
}

.MainMenuContainer .ModeSection,.PausedMenuContainer .ModeSection,.PostGameMenuContainer .ModeSection
{
	margin-top: 12px;
	flow-children: down;
	width: 100%;
	horizontal-align:left;
}

.MainMenuContainer .ModeSection #ModeList,.PausedMenuContainer .ModeSection #ModeList,.PostGameMenuContainer .ModeSection #ModeList
{
	width: 100%;
	flow-children: down;
}

.MainMenuContainer .ModeSection #ModeList .ModeLine,.PausedMenuContainer .ModeSection #ModeList .ModeLine,.PostGameMenuContainer .ModeSection #ModeList .ModeLine
{
	flow-children: down;
	width: 100%;
	margin-bottom: 2px;
	margin-left: 10px;
	margin-right: 22px;
}

.MainMenuContainer .ModeSection #ModeList .ModeLine .ModeTitle,.PausedMenuContainer .ModeSection #ModeList .ModeLine .ModeTitle,.PostGameMenuContainer .ModeSection #ModeList .ModeLine .ModeTitle
{
	font-size: 16px;
	font-weight: bold;
	margin-top: 8px;
}

.MainMenuContainer .ModeSection #ModeList .ModeLine .ModeDesc,.PausedMenuContainer .ModeSection #ModeList .ModeLine .ModeDesc,.PostGameMenuContainer .ModeSection #ModeList .ModeLine .ModeDesc
{
	font-size: 14px;
	margin-top: 4px;
}

.MainMenuContainer #Rewards,.PausedMenuContainer #Rewards,.PostGameMenuContainer #Rewards
{
	margin-bottom: 0px;
	padding-bottom: 16px;
}

.MainMenuContainer #Rewards .SectionHeader,.PausedMenuContainer #Rewards .SectionHeader,.PostGameMenuContainer #Rewards .SectionHeader
{
	text-align: center;
	border: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: titleFont;
	font-size: 18px;
}

.MainMenuContainer .RewardsSection,.PausedMenuContainer .RewardsSection,.PostGameMenuContainer .RewardsSection
{
	flow-children: right;
	margin-top: 0px;
	horizontal-align: center;
}

.MainMenuContainer .RewardsSection .RewardRow,.PausedMenuContainer .RewardsSection .RewardRow,.PostGameMenuContainer .RewardsSection .RewardRow
{
	flow-children: down;
	padding: 0px 8px;
	visibility: collapse;
}

.MainMenuContainer .RewardsSection .RewardRow.HasReward,.PausedMenuContainer .RewardsSection .RewardRow.HasReward,.PostGameMenuContainer .RewardsSection .RewardRow.HasReward
{
	visibility: visible;
}

.MainMenuContainer .RewardsSection .RewardRow.Unlocked .Check,.PausedMenuContainer .RewardsSection .RewardRow.Unlocked .Check,.PostGameMenuContainer .RewardsSection .RewardRow.Unlocked .Check
{
	opacity-brush: gradient( linear, 0% 30%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
	opacity: 1;
}

.MainMenuContainer .RewardsSection .RewardRow.Unlocked .RewardScore,.PausedMenuContainer .RewardsSection .RewardRow.Unlocked .RewardScore,.PostGameMenuContainer .RewardsSection .RewardRow.Unlocked .RewardScore
{
	color: gradient( linear, 0% 30%, 0% 100%, from( winnerGreen ), to( winnerGreenLow ) );
}

.MainMenuContainer .RewardsSection .RewardRow .Check,.PausedMenuContainer .RewardsSection .RewardRow .Check,.PostGameMenuContainer .RewardsSection .RewardRow .Check
{
	horizontal-align: center;
	width: 28px;
	height: 28px;
	background-image: url("s2r://panorama/images/control_icons/24px/check_fancy.vsvg");
	background-repeat: no-repeat;
	background-size: contain;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #d4e8ff ), to( #d4e8ff ));
	opacity: 0.1;
}

.MainMenuContainer .RewardsSection .RewardRow .RewardScore,.PausedMenuContainer .RewardsSection .RewardRow .RewardScore,.PostGameMenuContainer .RewardsSection .RewardRow .RewardScore
{
	horizontal-align: center;
	font-weight: semi-bold;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 12px black;
	margin-bottom: 4px;
	width: 100px;
	text-align: center;
	text-overflow: shrink;
	max-height: 20px;
}

.MainMenuContainer .RewardsSection .RewardRow .RewardValue,.PausedMenuContainer .RewardsSection .RewardRow .RewardValue,.PostGameMenuContainer .RewardsSection .RewardRow .RewardValue
{
	flow-children: right;
	horizontal-align: center;
}

.MainMenuContainer .RewardsSection .RewardRow .RewardValue DOTADarkCarnivalToken,.PausedMenuContainer .RewardsSection .RewardRow .RewardValue DOTADarkCarnivalToken,.PostGameMenuContainer .RewardsSection .RewardRow .RewardValue DOTADarkCarnivalToken
{
	ui-scale: 75%;
	margin-left: -12px;
	margin-right: -12px;
}

.MainMenuContainer .RewardsSection .RewardRow .RewardValue DOTAEmoticon,.PausedMenuContainer .RewardsSection .RewardRow .RewardValue DOTAEmoticon,.PostGameMenuContainer .RewardsSection .RewardRow .RewardValue DOTAEmoticon
{
	margin-top: 4px;
	width: 37px;
	height: 37px;
}

.GameSetup .MainMenuContainer,.IsPaused .PausedMenuContainer,.GameFinished .PostGameMenuContainer
{
	opacity: 1;
	transform: none;
}

.MainMenuContainer
{
	transition-delay: 0.3s;
}

.GameSetup .MainMenuContainer
{
	transition-delay: 0s;
}

.PausedMenuContainer
{
	visibility: collapse;
}

.GameRunning .PausedMenuContainer
{
	visibility: visible;
}

.PausedMenuButtons
{
	flow-children: down;
	horizontal-align: center;
	padding-top: 12px;
	width: 100%;
}

.PausedMenuButtons DOTADarkCarnivalButton
{
	horizontal-align: center;
}

.PausedMenuButtons .Dash
{
	horizontal-align: center;
	width: 80%;
	height: 1px;
	background-color: white;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( goldLight&00 ), color-stop( 0.5, goldLight ), to( goldLight&00 ) );
	margin: 12px;
	opacity: 0.1;
}

.LabelButton
{
	horizontal-align: center;
	color: gradient( linear, 0% 30%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
	padding: 8px;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.LabelButton:hover
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.PostGameMenuContainer .Body
{
	margin-left: 80px;
	margin-right: 80px;
}

.PostGameMenuContainer .MessageHUD
{
	color: white;
	text-shadow: 2px 2px 4px 3.0 #000000;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 360px;
	font-size: 48px;
	font-weight: bold;
	letter-spacing: 1px;
	opacity: 0;
	text-align: center;
	horizontal-align: middle;
}

.PostGameMenuContainer .ScoringPanel
{
	flow-children: down;
	width: 65%;
	horizontal-align: center;
	margin: 12px;
	margin-bottom: 52px;
}

.PostGameMenuContainer .ScoringLine
{
	flow-children: right;
	width: 100%;
}

.PostGameMenuContainer .ScoringLine .ScoringTitle
{
	color: white;
	text-shadow: 0px 1px 4px 3.0 #000000;
	font-size: 16px;
	horizontal-align: left;
}

.PostGameMenuContainer .ScoringLine .ScoringValue
{
	color: white;
	text-shadow: 0px 1px 4px 3.0 #000000;
	font-size: 16px;
	horizontal-align: right;
}

.PostGameMenuContainer .ScoringLine .ScoringTitle.FinalScore
{
	font-size: 20px;
	text-transform: uppercase;
}

.PostGameMenuContainer .ScoringLine .ScoringValue.FinalScore
{
	font-size: 24px;
	text-transform: uppercase;
}

.PostGameMenuContainer .ScoringLine.FinalScore
{
	margin-top: 32px;
}

.PostGameMenuContainer .ScoringLine.TimeRemainingScore
{
	opacity: 0;
	visibility: collapse;
}

.GameWon .PostGameMenuContainer .ScoringLine.TimeRemainingScore
{
	visibility: visible;
	opacity: 1;
}

.PostGameMenuContainer .MainMenuButton
{
	horizontal-align: center;
	vertical-align: bottom;
	visibility: collapse;
}

.GameFinished .PostGameMenuContainer .MainMenuButton
{
	visibility: visible;
}

.BottomButtons
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
}

.BottomButtons DOTADarkCarnivalButton
{
	margin: 0px 8px;
}

.IsGameLoading .BottomButtons DOTADarkCarnivalButton#PlayButton
{
	opacity: 0.5;
}

.BottomButtons .ExitButton
{
	visibility: collapse;
}

.PlayedOnce .BottomButtons .ExitButton
{
	visibility: visible;
}

.MissingDataSpinnerContainer
{
	horizontal-align: center;
	vertical-align: middle;
	visibility: collapse;
	ui-scale: 200%;
}

.OverlayHUD
{
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	background-color: #000000dd;
	visibility: visible;
}

.GameRunning .OverlayHUD
{
	background-color: #00000000;
}

.IsPaused .OverlayHUD
{
	background-color: #000000aa;
}

.OverlayHUD .TopBarHUD
{
	vertical-align: top;
	margin-top: 8px;
	width: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.GameRunning .OverlayHUD .TopBarHUD
{
	opacity: 1;
}

.OverlayHUD .BottomHUD
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 8px;
	width: fit-children;
	flow-children: right;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.GameRunning .OverlayHUD .BottomHUD
{
	opacity: 1;
}

.CloseEncounterButton
{
	width: 44px;
	height: 44px;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	border-radius: 50%;
	background-color: rgb(75, 82, 109);
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #F2CFB6 ), to( #3E322C ) );
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.4);
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.1s;
}

.CloseEncounterButton .BorderInner
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( midnightLight ), to( midnightDark ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #3E322C ), to( #8A7467 ) );
	box-shadow: inset 0px 1px 8px -1px rgba(0, 0, 0, 0.39);
}

.CloseEncounterButton .CloseIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 24px;
	height: 24px;
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	img-shadow: 0px 2px 12px black;
	padding: 4px;
	transition-property: opacity-brush, img-shadow;
	transition-duration: 0.1s;
}

.CloseEncounterButton:hover .BorderInner
{
	brightness: 1.5;
}

.CloseEncounterButton:hover .CloseIcon
{
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	img-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

.CloseEncounterButton:active
{
	pre-transform-scale2d: 0.95;
	brightness: 0.5;
}

.PauseHint
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin-bottom: 40px;
	margin-right: 28px;
	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	opacity: 0;
	transform: translateY( 24px );
}

.GameRunning .PauseHint
{
	opacity: 1;
	transform: none;
	transition-timing-function: cubic-bezier(1, 0, 1, 1);
}

.PauseHint:hover
{
	brightness: 5.0;
}

.PauseHint:active
{
	brightness: 1.5;
}

.PauseHint .PauseLabelContainer
{
	vertical-align: center;
	margin-right: 8px;
	margin-top: -2px;
}

.PauseHint .PauseLabel,.PauseHint .UnPauseLabel
{
	horizontal-align: right;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.PauseHint .PauseLabel
{
	transition-duration: 0.05s;
	opacity: 1;
	transform: none;
	transition-delay: 0s;
}

.IsPaused .PauseHint .PauseLabel
{
	transition-duration: 0.2s;
	opacity: 0;
	transform: translateY( -8px );
	transition-delay: 0.05s;
}

.PauseHint .UnPauseLabel
{
	transition-duration: 0.2s;
	opacity: 0;
	transform: translateY( 8px );
	transition-delay: 0.05s;
}

.IsPaused .PauseHint .UnPauseLabel
{
	transition-duration: 0.05s;
	opacity: 1;
	transform: none;
	transition-delay: 0s;
}

.LeftMouseHint,.RightMouseHint
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin-right: 28px;
	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	opacity: 0;
	transform: translateY( 24px );
}

.GameRunning .LeftMouseHint,.GameRunning .RightMouseHint
{
	opacity: 1;
	transform: none;
	transition-timing-function: cubic-bezier(1, 0, 1, 1);
}

.LeftMouseHint .PickLabelContainer,.LeftMouseHint .BoostLabelContainer,.RightMouseHint .PickLabelContainer,.RightMouseHint .BoostLabelContainer
{
	vertical-align: center;
	margin-right: 8px;
	margin-top: -2px;
}

.LeftMouseHint .ControlMouse .MouseButton,.RightMouseHint .ControlMouse .MouseButton
{
	width: 34px;
	height: 34px;
	min-width: 34px;
	min-height: 34px;
}

.LeftMouseHint Label,.RightMouseHint Label
{
	horizontal-align: right;
}

.HelpHint
{
	horizontal-align: right;
	vertical-align: bottom;
	flow-children: right;
	margin-bottom: 52px;
	margin-right: 8px;
	transition-property: transform, opacity, brightness;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	opacity: 0;
	transform: translateY( 24px );
}

.GameRunning .HelpHint
{
	opacity: 1;
	transform: none;
	transition-timing-function: cubic-bezier(1, 0, 1, 1);
}

.HelpHint:hover
{
	brightness: 5.0;
}

.HelpHint:active
{
	brightness: 1.5;
}

.HelpHint .HelpLabelContainer
{
	vertical-align: center;
	margin-right: 8px;
	margin-top: -2px;
}

.HelpHint .HelpLabel
{
	horizontal-align: right;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}

.ControlMouse .MouseButton
{
	vertical-align: center;
	horizontal-align: center;
	min-width: 32px;
	min-height: 32px;
}

.ControlMouse .MOUSE1,.ControlMouse .MOUSE2,.ControlMouse .MOUSE3
{
	height: 32px;
	width: 32px;
	vertical-align: middle;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.ControlMouse .MOUSE1
{
	background-image: url("s2r://panorama/images/events/crownfall/shmup/mouse_leftclick_png.vtex");
}

.ControlMouse .MOUSE2
{
	background-image: url("s2r://panorama/images/events/crownfall/shmup/mouse_rightclick_png.vtex");
}

.ControlMouse .MOUSE3
{
	background-image: url("s2r://panorama/images/events/crownfall/shmup/mouse_middleclick_png.vtex");
}

#FXScenePanel
{
	width: 100%;
	height: 100%;
}

.ControlKey
{
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #66767c ), to( #364047 ));
	border-radius: 4px;
	box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.8);
}

.ControlKey.Small .KeyText
{
	padding: 2px 0px 4px;
	min-width: 28px;
	border-radius: 3px;
	font-size: 14px;
	min-height: 22px;
	box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.92);
	font-weight: normal;
	text-shadow: none;
	color: rgba(245, 245, 245, 0.539);
}

.ControlKey .KeyText
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303942 ), to( #161c21 ));
	box-shadow: inset 0px -3px 2px 0px rgba(0, 0, 0, 0.92);
	padding: 5px 0px 7px;
	min-width: 34px;
	border-radius: 3px;
	font-size: 16px;
	min-height: 32px;
	color: whitesmoke;
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 12px rgba(213, 236, 255, 0.1);
	horizontal-align: center;
	vertical-align: center;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center 5px;
	background-texture-size: 48px;
	background-img-opacity: 0.8;
}

.ControlKey .KeyText.Medium
{
	width: 80px;
}

.ControlKey .KeyText.Large
{
	width: 120px;
}

.ControlKey .KeyText.ExtraLarge
{
	width: 160px;
}

.ControlKey .Up
{
	background-image: url("s2r://panorama/images/control_icons/24px/arrow_up.vsvg");
}

.ControlKey .Down
{
	background-image: url("s2r://panorama/images/control_icons/24px/arrow_down.vsvg");
}

.ControlKey .Forward
{
	background-image: url("s2r://panorama/images/control_icons/24px/arrow_right.vsvg");
}

.ControlKey .Back
{
	background-image: url("s2r://panorama/images/control_icons/24px/arrow_left.vsvg");
}

.ControlKey .Space
{
	background-image: url("s2r://panorama/images/control_icons/24px/space.vsvg");
}

.ControlKey .Alt
{
	background-image: url("s2r://panorama/images/control_icons/24px/alt.vsvg");
}

.KeysRow
{
	horizontal-align: center;
	flow-children: right;
}

.KeysColumn
{
	flow-children: down;
	horizontal-align: center;
}

