/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define dropShadow: 4px 4px 1px rgba(0, 0, 0, 0.666);
DOTADarkCarnivalEncounterBlimpJump.PopupPanel
{
	horizontal-align: center;
	width: 1000px;
	height: 1000px;
}

.ContentsWrapper
{
	width: 100%;
	height: 100%;
	background-color: black;
	margin: 14px;
}

.EncounterContainer
{
	width: 100%;
	height: 100%;
	overflow: clip;
}

.BackgroundGradientContainer
{
	width: 100%;
	height: 100%;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldDark ), color-stop( 0.5, bronzeDark ), to( bronzeDark ) );
	background-color: gradient( radial, 50% 115%, 0% 0%, 80% 120%, from( #745628 ), to( #1a1325 ) );
}

.BackgroundWoodContainer
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards_panel/wood_panel_png.vtex");
	opacity: 0.5;
}

.BackgroundHardlightContainer
{
	width: 100%;
	height: 100%;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldDark ), color-stop( 0.5, bronzeDark ), to( bronzeDark ) );
	background-color: gradient( radial, 50% 115%, 0% 0%, 80% 120%, from( #d5b12d ), to( #f0981300 ) );
	-s2-mix-blend-mode: hardlight;
	opacity: 1;
}

.Center
{
	flow-children: right;
	margin-top: 48px;
}

.BodyContainer
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.DialogueComplete .BodyContainer
{
	opacity: 1;
}

.GameContainerBackgroundContainer
{
	horizontal-align: center;
	width: 600px;
	height: 100%;
	overflow: clip;
}

.GameContainerBackground
{
	horizontal-align: center;
	width: 200%;
	height: 770%;
	overflow: noclip;
	y: -6000px;
	background-color: green;
}

.BackdropNormal
{
	width: 630px;
	height: 100%;
	horizontal-align: center;
	background-size: cover;
	background-position: 70% -3650px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/sky_backdrop_edgeson_png.vtex");
}

.BackdropRepeating
{
	width: 630px;
	height: 100%;
	horizontal-align: center;
	background-size: cover;
	background-position: 70% -7650px;
	background-repeat: repeat;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/sky_backdrop_repeat_edgeson_png.vtex");
}

.GameContainer
{
	width: 600px;
	height: 100%;
	horizontal-align: center;
	border-radius: 1px;
}

.InGameScore
{
	horizontal-align:center;
	width: 240px;
	height: 48px;
	padding: 8px 12px;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/score_background_png.vtex");
	background-size: 100%;
	background-repeat: no-repeat;
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFF3D9 ), color-stop( 0.25, #FBE0A0 ), color-stop( 0.5, #787C89 ), color-stop( 0.75, #9D968E ), to( #88A7FF) );
	color: gradient( linear, 0% 24%, 0% 100%, from( #ffed7e ), to( #ffba2d) );
	font-size: 24px;
	font-family: monospaceNumbersFont;
	font-weight: bold;
	text-align: center;
	text-shadow: 0px 2px 8px black;
}

.BlimpJump_Story .InGameScore
{
	visibility: collapse;
}

.Platform
{
	z-index: -100;
	transform-origin: 50% 50%;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.Platform .PlatformColor
{
	padding: 3px;
	background-size: 100% 100%;
	width: 95%;
	height: 83%;
	horizontal-align: center;
	vertical-align: center;
}

.Platform .PlatformBorder
{
	padding: -1px;
	margin-bottom: 1px;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	img-shadow: dropShadow;
}

.Platform .PlatformBorder2
{
	padding: 4px;
	margin-bottom: 1px;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	img-shadow: dropShadow;
}

.Platform.Normal .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_border2_png.vtex");
}

.Platform.Normal .PlatformColor
{
	wash-color: rgb(14, 182, 98);
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_color_png.vtex");
}

.Platform.Finish .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/end_platform_png.vtex");
}

.Platform.Breakable .PlatformColor
{
	wash-color: rgb(116, 62, 30);
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_color_png.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.Platform.Breakable .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_border_broken_png.vtex");
}

.Platform.WallJump .PlatformColor
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_color_rotated_png.vtex");
	opacity: 0;
}

.Platform.WallJump .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_walljump2_png.vtex");
}

.Platform.Moving .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_flying1_png.vtex");
}

.Platform.Moving .PlatformBorder2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_flying2_png.vtex");
	opacity: 0;
}

.Platform.Moving .PlatformColor
{
	wash-color: rgb(17, 176, 204);
	height: 34%;
	margin-top: 2px;
	vertical-align: top;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_color_png.vtex");
}

.Platform.Moving.Frame2 .PlatformBorder
{
	opacity: 0;
}

.Platform.Moving.Frame2 .PlatformBorder2
{
	opacity: 1;
}

.Platform.Vanishing .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_cloud1_png.vtex");
}

.Platform.MovingVanishing .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_cloud1_png.vtex");
}

.Platform.Vertical .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_flying1_png.vtex");
}

.Platform.Vertical .PlatformBorder2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_flying2_png.vtex");
	opacity: 0;
}

.Platform.Vertical .PlatformColor
{
	wash-color: rgb(57, 17, 204);
	height: 34%;
	margin-top: 2px;
	vertical-align: top;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_color_png.vtex");
}

.Platform.Vertical.Frame2 .PlatformBorder
{
	opacity: 0;
}

.Platform.Vertical.Frame2 .PlatformBorder2
{
	opacity: 1;
}

.Platform.Balloon,.Platform.BalloonMoving
{
	border-radius: 0;
}

.Platform.Balloon .PlatformBorder,.Platform.BalloonMoving .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_balloon_png.vtex");
	background-repeat: no-repeat;
	background-position: 50%;
	img-shadow: none;
}

.Platform.Balloon .PlatformBorder2,.Platform.BalloonMoving .PlatformBorder2
{
	padding: 0px;
	img-shadow: none;
}

.Platform.Tutorial .PlatformColor
{
	opacity: 0;
}

.Platform.Tutorial.AttackTutorial .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_tutorial_attack_png.vtex");
}

.Platform.Tutorial.JumpTutorial .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_tutorial_yesjump_png.vtex");
}

.Platform.Tutorial.SpikeTutorial .PlatformBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_tutorial_nojump_png.vtex");
}

.Platform.Bounce
{
	animation-name: Bounce;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.Platform.Vanish
{
	opacity: 0;
}

@keyframes 'Bounce'
{
	0%
	{
		transform: translateY(0);
	}
	
	50%
	{
		transform: translateY(7px);
	}
	
	100%
	{
		transform: translateY(0px);
	}
	
}

.PlatformAttachment
{
	z-index: -99;
	transform-origin: 50% 50%;
	border-radius: 0px;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	img-shadow: dropShadow;
}

.PlatformAttachment.Spring
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/spring_png.vtex");
	img-shadow: none;
}

.PlatformAttachment.Trampoline
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/testyourstrength_png.vtex");
	img-shadow: none;
}

.PlatformAttachment.Rocket
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/rocket_png.vtex");
	img-shadow: none;
}

.PlatformAttachment.Spikes
{
	border-radius: 2px;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_spike_png.vtex");
	brightness: 2;
	contrast: 1.2;
	img-shadow: none;
}

.PlatformAttachment.Bounce
{
	animation-name: Bounce;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

.Enemy
{
	z-index: 99;
	transform-origin: 50% 50%;
}

.Enemy .EnemyFrame1,.Enemy .EnemyFrame2,.Enemy .EnemyFrame3
{
	padding: -1px;
	margin-bottom: 1px;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.Enemy.Platform
{
	background-color: rgb(240, 60, 60);
}

.Enemy.Float
{
	background-color: rgb(240, 60, 140);
}

.Enemy.PlatformEnemy .EnemyFrame1
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/enemy_jester_1_png.vtex");
}

.Enemy.PlatformEnemy .EnemyFrame2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/enemy_jester_2_png.vtex");
}

.Enemy.FlyEnemy .EnemyFrame1
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/enemy_bird_1_png.vtex");
}

.Enemy.FlyEnemy .EnemyFrame2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/enemy_bird_2_png.vtex");
}

.Enemy.FlyEnemy .EnemyFrame3
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/enemy_bird_3_png.vtex");
}

.Enemy.Frame1 .EnemyFrame1
{
	opacity: 1;
}

.Enemy.Frame2 .EnemyFrame2
{
	opacity: 1;
}

.Enemy.Frame3 .EnemyFrame3
{
	opacity: 1;
}

.Enemy.FacingLeft
{
	transform: scaleX(-1);
}

.Projectile
{
	z-index: -99;
	transform-origin: 50% 50%;
	border-radius: 20px;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/shiv_png.vtex");
}

.Player
{
	z-index: 100;
}

.Player .PlayerImage
{
	horizontal-align: center;
	vertical-align: center;
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	opacity: 0;
	z-index: 100;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.Player .PlayerJumping
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/slark_jump_png.vtex");
}

.Player .PlayerFalling
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/slark_stand_png.vtex");
}

.Player .PlayerOof
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/slark_oof_png.vtex");
}

.Player .PlayerOof2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/slark_oof2_png.vtex");
}

.Player .PlayerRocket
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/rocket_back_png.vtex");
	width: 40px;
	height: width-percentage(190%);
	x: 20px;
}

.Player.Rocketing .PlayerRocket
{
	opacity: 1;
}

.Player.FacingRight
{
	transform: scaleX(-1);
}

.Player.Jumping .PlayerJumping
{
	opacity: 1;
}

.Player.Falling .PlayerFalling
{
	opacity: 1;
}

.Player.Oof .PlayerOof
{
	opacity: 1;
}

.Player.Oof2 .PlayerOof2
{
	opacity: 1;
}

.Player.BigJump
{
	animation-name: BigJump;
	animation-duration: 0.85s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

.Player.BigJumpRight
{
	animation-name: BigJumpRight;
	animation-duration: 0.85s;
	animation-iteration-count: 2;
	animation-timing-function: linear;
}

@keyframes 'BigJump'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	25%
	{
		transform: rotateZ(90deg);
	}
	
	50%
	{
		transform: rotateZ(180deg);
	}
	
	75%
	{
		transform: rotateZ(270deg);
	}
	
	100%
	{
		transform: rotateZ(360deg);
	}
	
}

@keyframes 'BigJumpRight'
{
	0%
	{
		transform: rotateZ(0deg) rotateY(180deg);
	}
	
	25%
	{
		transform: rotateZ(-90deg) rotateY(180deg);
	}
	
	50%
	{
		transform: rotateZ(-180deg) rotateY(180deg);
	}
	
	75%
	{
		transform: rotateZ(-270deg) rotateY(180deg);
	}
	
	100%
	{
		transform: rotateZ(-360deg) rotateY(180deg);
	}
	
}

.Blimp
{
	z-index: -99;
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/end_blimp_png.vtex");
	img-shadow: dropShadow;
}

.SmeltingCar
{
	z-index: 101;
	border-radius: 1px;
	brightness: 1.5;
}

.SmeltingCar .SmeltingCarImage
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	z-index: 101;
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center;
	img-shadow: dropShadow;
}

.SmeltingCar .SmeltingCarFrame1
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/start_smelter_png.vtex");
}

.SmeltingCar .SmeltingCarFrame2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/start_smelter_2_png.vtex");
}

.SmeltingCar .SmeltingCarFrame3
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/start_smelter_3_png.vtex");
}

.SmeltingCar .SmeltingCarFrame4
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/start_smelter_4_png.vtex");
}

.SmeltingCar .SmeltingCarFrame5
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/start_smelter_5_png.vtex");
}

.SmeltingCar.Show1 .SmeltingCarFrame1
{
	opacity: 1;
}

.SmeltingCar.Show2 .SmeltingCarFrame2
{
	opacity: 1;
}

.SmeltingCar.Show3 .SmeltingCarFrame3
{
	opacity: 1;
}

.SmeltingCar.Show4 .SmeltingCarFrame4
{
	opacity: 1;
}

.SmeltingCar.Show5 .SmeltingCarFrame5
{
	opacity: 1;
}

.SmokeCloud
{
	z-index: 101;
}

.SmokeCloud .SmokeCloudImage
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	z-index: 101;
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center;
	img-shadow: dropShadow;
}

.SmokeCloud .SmokeCloud1
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/smoke_1_png.vtex");
}

.SmokeCloud .SmokeCloud2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/smoke_2_png.vtex");
}

.SmokeCloud .SmokeCloud3
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/smoke_3_png.vtex");
}

.SmokeCloud .SmokeCloud4
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/smoke_4_png.vtex");
}

.SmokeCloud.Show1 .SmokeCloud1
{
	opacity: 1;
}

.SmokeCloud.Show2 .SmokeCloud2
{
	opacity: 1;
}

.SmokeCloud.Show3 .SmokeCloud3
{
	opacity: 1;
}

.SmokeCloud.Show4 .SmokeCloud4
{
	opacity: 1;
}

.WhooshLine
{
	z-index: 99;
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/falldeath_whoosh_png.vtex");
	opacity: 0.2;
}

.FallExplosion
{
	z-index: 100;
	border-radius: 1px;
}

.FallExplosion .FallExplosionImage
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	width: fill-parent-flow(1);
	height: fill-parent-flow(1);
	z-index: 100;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.FallExplosion .FallExplosion1
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/falldeath_1_png.vtex");
}

.FallExplosion .FallExplosion2
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/falldeath_2_png.vtex");
}

.FallExplosion .FallExplosion3
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/falldeath_3_png.vtex");
}

.FallExplosion .FallExplosion4
{
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/falldeath_4_png.vtex");
}

.FallExplosion.Show1 .FallExplosion1
{
	opacity: 1;
}

.FallExplosion.Show2 .FallExplosion2
{
	opacity: 1;
}

.FallExplosion.Show3 .FallExplosion3
{
	opacity: 1;
}

.FallExplosion.Show4 .FallExplosion4
{
	opacity: 1;
}

.MainMenuBackground
{
	width: 100%;
	height: 100%;
	opacity: 0;
	background-size: cover;
	background-position: 70% -6000px;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/sky_backdrop_png.vtex");
	brightness: 0.2;
	transition-property: none;
}

.BlimpJumpState_MainMenu .MainMenuBackground
{
	opacity: 1;
}

.MainMenuSlarkContainer
{
	height: 300px;
	margin: 0px 40px 180px 0px;
	horizontal-align: right;
	vertical-align: bottom;
	opacity: 0;
}

.BlimpJumpState_MainMenu .MainMenuSlarkContainer
{
	opacity: 1;
}

.MainMenuSlarkContainer .MainMenuPlatform
{
	width: 150px;
	height: width-percentage(18%);
	margin-bottom: 1px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/platform_border2_png.vtex");
	vertical-align: bottom;
	horizontal-align: center;
	img-shadow: dropShadow;
}

.MainMenuSlarkContainer .MainMenuSlark
{
	width: 110px;
	height: width-percentage(93%);
	margin-bottom: 1px;
	background-size: 100% 100%;
	vertical-align: bottom;
	horizontal-align: center;
}

.BlimpJumpState_MainMenu .MainMenuContainer
{
	opacity: 1;
	transform: none;
	transition-delay: 0s;
}

.MainMenuContainer .ControlsContents
{
	flow-children: down;
	width: 80px;
	margin-right: 10px;
}

.MainMenuContainer .ControlsContents .KeyRows
{
	margin-bottom: 20px;
}

.MainMenuContainer .ControlsContents .ControlKey
{
	height: 30px;
	width: 30px;
	horizontal-align: center;
	margin: 5px;
}

.DeadScreen
{
	vertical-align: center;
	horizontal-align: center;
	width: 500px;
	height: 300px;
	opacity: 0;
}

.DeadScreen .PanelTitleBackground
{
	height: 50px;
	border-width: 50px 60px 0px 60px;
}

.DeadScreen .DeadScreenScore
{
	horizontal-align: center;
	vertical-align: center;
	color: white;
	margin-bottom: 50px;
}

.DeadScreen .PlayAgainButton
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 30px;
}

.BlimpJumpState_Dead .DeadScreen
{
	opacity: 1;
}

@define progressWidth: 113px;
@define progressHeight: 943px;
.ProgressContainer
{
	horizontal-align: left;
	vertical-align: center;
	width: 115px;
	height: 95%;
	margin-left: 31px;
}

.ProgressContainer .ProgressBarContainer
{
	height: progressHeight;
	width: progressWidth;
	horizontal-align: center;
	vertical-align: center;
}

.ProgressContainer .ProgressBarContainer .ProgressBarFull
{
	vertical-align: bottom;
	height: 50%;
	width: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/progressbar_full_png.vtex");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}

.ProgressContainer .ProgressBarContainer .ProgressBarEmpty
{
	height: 100%;
	width: 100%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/progressbar_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ProgressContainer .ProgressBarContainer .BackgroundProgress
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
}

.ProgressContainer .ProgressBarContainer .Progress
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop( 0.2, #4165ce ), color-stop( .5, #4a73ea), to( #2b4287 ) );
	opacity: 0;
}

.ProgressContainer .ProgressBarContainer .ProgressBarSmeltingCar
{
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	vertical-align: bottom;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/progress_smeltcar_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ProgressContainer .ProgressBarContainer .ProgressBarBlimp
{
	width: 100%;
	height: 70px;
	margin-top: 10px;
	vertical-align: top;
	horizontal-align: center;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/progress_blimp_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ProgressContainer .ProgressTopImage
{
	vertical-align: top;
}

.ProgressContainer .ProgressBottomImage
{
	vertical-align: bottom;
}

.BlimpJumpState_MainMenu .ProgressContainer
{
	opacity: 0;
}

.BlimpJump_Infinite .ProgressContainer
{
	opacity: 0;
}

.Hitbox
{
	background-color: red;
	z-index: 200;
}

.PausedMenuContainer
{
	visibility: visible;
}

#WinConfetti
{
	z-index: 200;
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.ShowConfetti #WinConfetti
{
	visibility: visible;
}

#RocketEffect
{
	z-index: 0;
	margin-top: 200px;
	width: 300px;
	height: 300px;
	transform: rotateZ(-90deg) scaleY(-1);
	visibility: collapse;
}

.HidePostGameScore #PostGameScore
{
	visibility: collapse;
}

.BackdropLeft
{
	height: 100%;
	width: 50px;
	horizontal-align: left;
	margin-left: 156px;
	background-size: cover;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/sky_backdrop_l_png.vtex");
	img-shadow: -10px 0px 15px rgba(0, 0, 0, 0.666);
	opacity: 0;
}

.BackdropRight
{
	height: 100%;
	width: 50px;
	horizontal-align: right;
	margin-right: 157px;
	background-size: cover;
	background-image: url("s2r://panorama/images/events/dark_carnival/blimp_jump/sky_backdrop_r_png.vtex");
	img-shadow: 10px 0px 15px rgba(0, 0, 0, 0.666);
	opacity: 0;
}

.InfiniteMode
{
	tooltip-position: top;
}

.LeaderboardScoresContainer
{
	height: 100%;
	width: 190px;
	background-color: red;
	horizontal-align: right;
}

.LeaderboardScoresContainer .ScoreMarker
{
	background-color: green;
	width: 100%;
	height: 70px;
	flow-children: down;
}

.LoadingBlocker
{
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1000;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.FinishedLoading .LoadingBlocker
{
	opacity: 0;
}

