/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAVisualNovelPopup
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	flow-children: none;
	opacity: 1;
	transform: scale3d( 1, 1, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.15s, 0.3s;
	transition-timing-function: ease-in;
}

DOTAVisualNovelPopup.Hidden
{
	opacity: 0;
	transform: scale3d( 0.6, 0.6, 1 );
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

@keyframes 'SlideInDown'
{
	0%
	{
		transform: translateY( -150px );
	}
	
	100%
	{
		transform: none;
	}
	
}

@keyframes 'SlideInUp'
{
	0%
	{
		transform: translateY( 150px );
	}
	
	100%
	{
		transform: none;
	}
	
}

.BlackBar
{
	width: 100%;
	height: 150px;
	background-color: black;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.BlackBar.Top
{
	vertical-align: top;
	animation-name: SlideInDown;
}

.BlackBar.Bottom
{
	vertical-align: bottom;
	animation-name: SlideInUp;
}

.NoBlackBar .BlackBar
{
	visibility: collapse;
}

.BottomContents
{
	width: 100%;
	max-width: 1920px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 70px;
}

.BehindVisualNovel
{
	width: 100%;
	height: 100%;
	flow-children: right;
}

.BehindVisualNovel .BlackBar
{
	width: fill-parent-flow(1.0);
	height: 100%;
	background-color: black;
	animation-duration: 0.3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
}

.BehindVisualNovel .BlackBar.Left
{
	horizontal-align: left;
}

.BehindVisualNovel .BlackBar.Right
{
	horizontal-align: right;
}

.BehindVisualNovel .Empty
{
	width: 100%;
	max-width: 1920px;
}

#VisualNovel
{
	padding: 0px;
}

#VisualNovelContainer
{
	width: 100%;
	height: 100%;
	max-width: 1920px;
	horizontal-align: center;
}

#CloseButtonContainer
{
	vertical-align: top;
	horizontal-align: right;
}

.Emblem
{
	width: 320px;
	margin: 2px;
	margin-top: 5px;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0.3;
}

.Emblem.Top
{
	wash-color: #ffdc96;
	vertical-align: bottom;
}

.Emblem.Bottom
{
	wash-color: #b58422;
	transform: scaleY( -1 );
}

.EncounterDialogue .Emblem.Bottom
{
	visibility: collapse;
}

.Comic
{
	vertical-align: center;
	margin-top: 24px;
	flow-children: down;
	width: 100%;
	transition-property: transform, opacity;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	transform: translateX( 0px );
	opacity: 0;
}

.ShowComic .Comic
{
	opacity: 1;
}

.Comic #ViewComicButton
{
	width: 210px;
	horizontal-align: center;
	transition-property: transform, opacity;
	transition-duration: 0.5s;
	transition-delay: 0.4s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	opacity: 1;
}

.Comic .ComicText
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 24px;
	color: LightestGrey;
	margin-bottom: 12px;
}

.Comic .ImageContainer
{
	horizontal-align: center;
	height: 400px;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	transform: scale3d( 0.8, 0.8, 1 );
}

.Comic .ImageContainer .CoverImage
{
	horizontal-align: center;
}

.BottomViewComic
{
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.ShowBottomComicButton .BottomViewComic
{
	opacity: 1;
}

#AutoAdvanceButton
{
	horizontal-align: right;
	vertical-align: bottom;
	margin: 32px;
	brightness: 0.4;
}

