/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

Popup.PopupPanel.DarkCarnivalSplash
{
	width: 95%;
	max-width: 1824px;
	height: width-percentage(56.25%);
	flow-children: none;
	padding: 0px;
	border: 0px;
	background-color: none;
	box-shadow: 0px 12px 96px -4px rgba(0, 0, 0, 0.6);
	animation-name: none;
	transition-property: transform, pre-transform-scale2d, opacity, height, box-shadow;
}

#RingmasterTalkingHead
{
	width: 800px;
	height: 300px;
	x: 50px;
	y: 0px;
	vertical-align: bottom;
	horizontal-align: left;
	ignore-parent-flow: true;
	visibility: collapse;
}

#RingmasterTalkingHead.Show
{
	visibility: visible;
}

#Contents
{
	horizontal-align: right;
	flow-children: down;
	margin-right: 80px;
	overflow: clip;
}

.BackgroundImage
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/splash/dark_carnival_splash_image_png.vtex");
	background-size: cover;
	margin: 4px;
}

.PopupBorder
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-image-source: url("s2r://panorama/images/events/dark_carnival/splash/popup_border_png.vtex");
	border-width: 30px;
	border-image-slice: 60px;
}

#CloseButton
{
	margin: 24px;
	horizontal-align: right;
}

.DarkCarnivalLogoContainer
{
	horizontal-align: center;
	margin-top: -80px;
	flow-children: down;
	z-index: 1;
}

.AspectRatio16x10 .DarkCarnivalLogoContainer
{
	margin-top: -120px;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo
{
	width: 460px;
	height: width-percentage(100%);
	z-index: 1;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: visible;
}

.Language_schinese .DarkCarnivalLogoContainer .DarkCarnivalLogo.en
{
	visibility: collapse;
}

.DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: collapse;
}

.Language_schinese .DarkCarnivalLogoContainer .DarkCarnivalLogo.cn
{
	visibility: visible;
}

.DarkCarnivalLogoContainer .SubtitleContainer
{
	width: 80%;
	horizontal-align: center;
	transform: rotateZ( -3deg );
	margin-top: -70px;
	margin-left: -16px;
}

.DarkCarnivalLogoContainer .SubtitleContainer .SubtitleBackground
{
	width: 70%;
	vertical-align: center;
	horizontal-align: center;
	img-shadow: 0px 4px 8px rgba(0, 0, 0, 0.384);
}

.DarkCarnivalLogoContainer .SubtitleContainer .EventSubtitle
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	width: 64%;
	height: 25px;
	text-overflow: shrink;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( rgb(190, 182, 199) ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	font-weight: semi-bold;
}

.PanelContainer
{
	margin-top: -160px;
	horizontal-align: center;
	width: 380px;
}

.PanelContainer .PanelContentsBackground,.PanelContainer .PanelContentsBorder
{
	width: 100%;
	height: 100%;
	margin-bottom: 70px;
}

.PanelContainer .PanelContentsBackground
{
	background-image: url("s2r://panorama/images/events/dark_carnival/splash/panel_background_png.vtex");
	background-size: cover;
}

.PanelContainer .PanelContentsBorder
{
	border-image-source: url("s2r://panorama/images/events/dark_carnival/splash/panel_border_png.vtex");
	border-width: 30px;
	border-image-slice: 60px;
}

.PanelContainer .PanelContents
{
	padding: 170px 28px 28px;
	width: 100%;
	flow-children: down;
}

.PanelContainer .PanelContents .EventHeaderContainer
{
	width: 100%;
	flow-children: right;
	margin-bottom: 12px;
}

.PanelContainer .PanelContents .EventHeaderContainer .EventHeader
{
	horizontal-align: center;
	margin-bottom: 4px;
	vertical-align: center;
	margin: 0px 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	font-size: 14px;
	text-shadow: 0px 2px 8px black;
}

.PanelContainer .PanelContents .EventHeaderContainer .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	margin-bottom: 2px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( goldLight ), to( goldDark&00 ) );
	opacity: 0.2;
}

.PanelContainer .PanelContents .EventHeaderContainer .Dash.Left
{
	transform: scaleX( -1 );
}

.PanelContainer .PanelContents .EventIntroduction
{
	horizontal-align: center;
	margin-bottom: 4px;
	max-height: 156px;
	text-overflow: shrink;
	text-align: center;
	font-family: Reaver;
	font-size: 22px;
	text-shadow: 0px 2px 8px black;
	color: textLightest;
}

.PanelContainer .PanelContents #ComicContainer
{
	margin: 16px 0px;
}

.PanelContainer .PanelContents #ComicContainer .ComicContents
{
	flow-children: down;
	padding: 12px 20px 20px;
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .ComicDescription
{
	horizontal-align: center;
	margin-bottom: 12px;
	width: 80%;
	text-align: center;
	color: textLighter;
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .CoverImageContainer
{
	box-shadow: 0px 6px 48px -2px rgba(0, 0, 0, 0.6);
	border: 2px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	transition-property: transform, brightness;
	transition-duration: 0.05s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .CoverImageContainer:active
{
	brightness: 0.5;
	transform: translateY( 1px );
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .CoverImageContainer:hover .CoverImage
{
	transform: scale3d( 1.05, 1.05, 1 );
	brightness: 1.5;
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .CoverImageContainer:hover .ViewComicLabel
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .CoverImage
{
	transition-property: transform, brightness;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.PanelContainer .PanelContents #ComicContainer .ComicContents .ViewComicLabel
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 16px;
	padding: 8px 16px 10px;
	border-radius: 4px;
	background-color: rgba(15, 13, 18, 0.95);
	border: 1px solid rgba(255, 255, 255, 0.2);
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	font-weight: semi-bold;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	transition-property: color;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.PanelContainer .PanelContents DOTADarkCarnivalButton
{
	horizontal-align: center;
	ui-scale: 120%;
}

