/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.GroupContainer
{
	margin: -30px 0px -30px 0px;
	flow-children: right;
}

.PortraitGroup
{
	margin: 90px 20px 20px 120px;
	width: 200px;
	height: width-percentage(100%);
}

.GroupContainer .PortraitContainerLayered
{
	width: 220px;
	height: 220px;
	align: center middle;
	background-color: #000000;
	border: 5px solid white;
	border-radius: 40px;
	border-brush: gradient(linear, 0% 0%, 0% 100% , from(#FFDFB7), to(#977656));
	ignore-parent-flow: true;
	transform: translateY(10px);
}

.AnimationContainer
{
	margin: -20%;
	align: center middle;
}

#FortuneTellerMap
{
	visibility: visible;
	width: 190px;
	height: 260px;
	margin: 0px 0px 45px 125px;
	z-index: 100;
	ignore-parent-flow: true;
	border-radius: 34px;
	transform: translateY(35px);
}

.EncounterDialogue .ActorTextContainer
{
	width: 60%;
	height: 150px;
	margin: 0px 0px 0px 0px;
	align: right middle;
	padding-bottom: 0px;
	transform: translateY(6px);
	flow-children: right;
}

.EncounterDialogue .MainContents
{
	margin: -20% 0 -20% 0;
}

.ActorName
{
	visibility: collapse;
}

.SilhouetteContainer
{
	visibility: collapse;
}

.ActorPicture
{
	visibility: collapse;
}

#ActorText1
{
	width: 500px;
	background-color: transparent;
}

.UseSplitLabel #OldTypewriterLabel
{
	visibility: visible;
}

.ActorTextContainer .MoreIndicator
{
	margin: 0px;
	horizontal-align: center;
}

