/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.MidnightRunBundle
{
	border: 2px solid black;
	padding: 12px;
	flow-children: down;
	width: 300px;
}

.LineItems
{
	flow-children: down;
}

.LineItem
{
	flow-children: right;
	padding: 3px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.02);
}

.LineItem Label
{
	font-size: 17px;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}

.LineItem #ItemName
{
	width: fill-parent-flow(1);
	color: LightestGrey;
}

.LineItem #ItemName b
{
	color: goldLight&99;
	text-shadow: 0px 1px 6px black;
	letter-spacing: 0.5px;
}

.LineItem .Quantity
{
	color: gradient( linear, 0% 24%, 0% 100%, from( goldLight ), to( goldDark ) );
	font-weight: semi-bold;
}

.LineItem.ItemAlreadyOwned Label
{
	opacity: 0.2;
}

.LineItem .Icon
{
	height: 18px;
	width: height-percentage( 100% );
	background-size: 20px 20px;
	background-position: center;
	vertical-align: center;
	margin-left: 4px;
}

.LineItem .Icon.Candy
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_png.vtex");
}

.LineItem .Icon.Rerolls
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_reroll_psd.vtex");
}

.LineItem .Icon.Oracle
{
	background-image: url("s2r://panorama/images/events/dark_carnival/oracle/oracle_coin_png.vtex");
}

