/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents.FortuneTellerStoryNodeContents
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #14101F ), to( #2E1E48 ) );
	border: 2px solid black;
	padding: 0px;
	flow-children: down;
}

.StoryNodePanel
{
	flow-children: down;
}

.StoryNodePanel .StoryNodeContents
{
	horizontal-align: center;
	flow-children: down;
	padding: 8px 8px;
}

.StoryNodePanel .FortunesRequired
{
	horizontal-align: center;
	text-align: center;
	font-family: titleFont;
	font-size: 18px;
	color: textLightest;
	padding: 0px 12px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.StoryNodePanel .FortunesRequired b
{
	color: white;
	font-weight: semi-bold;
}

.StoryNodePanel .FortunesNeeded
{
	horizontal-align: center;
	width: 100%;
	padding: 4px 12px 0px;
	margin-top: 8px;
	border-top: 1px solid rgba(255, 240, 218, 0.05);
	text-align: center;
	color: textLighter;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	visibility: collapse;
}

.StoryNodePanel .FortunesNeeded b
{
	font-weight: semi-bold;
}

.StoryNodePanel .ClaimPreviousNodes
{
	horizontal-align: center;
	width: 100%;
	padding: 4px 12px 0px;
	margin-top: 8px;
	font-size: 12px;
	border-top: 1px solid rgba(255, 240, 218, 0.05);
	text-align: center;
	color: textLighter;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	visibility: collapse;
}

.StoryNodePanel .ClaimedText
{
	horizontal-align: center;
	width: 100%;
	padding: 6px 8px 8px;
	text-align: center;
	margin-top: 2px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #52ffa3 ), to( #239668 ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #253146 ), to( #52ffa300 ) );
	border-top: 1px solid black;
	visibility: collapse;
}

.StoryNodePanel .ClickToClaimText
{
	horizontal-align: center;
	width: 100%;
	padding: 6px 8px 8px;
	text-align: center;
	margin-top: 2px;
	font-weight: semi-bold;
	color: white;
	text-shadow: 0px 0px 12px rgb(219, 99, 255);
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #773d8f ), to( #3C254A00 ) );
	border-top: 1px solid black;
	visibility: collapse;
}

.NeedFortunes .StoryNodePanel .FortunesNeeded
{
	visibility: visible;
}

.Claimed .StoryNodePanel .ClaimedText
{
	visibility: visible;
}

.UnlockedButNotClaimable .StoryNodePanel .ClaimPreviousNodes
{
	visibility: visible;
}

.Claimable .StoryNodePanel .ClickToClaimText
{
	visibility: visible;
	animation-name: GlowClickToClaim;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'GlowClickToClaim'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 2;
	}
	
}

.ChatWheelSprayReward
{
	flow-children: down;
	horizontal-align: center;
}

.ChatWheelSprayReward .ImageContainer
{
	width: 200px;
	height: 140px;
	horizontal-align: center;
	margin-top: -8px;
}

.ChatWheelSprayReward .ImageContainer #SprayImage
{
	width: 100%;
	height: 100%;
	img-shadow: 0px 2px 12px black;
	opacity: 0;
}

.Reward1 .ChatWheelSprayReward .ImageContainer #SprayImage
{
	opacity: 1;
}

.ChatWheelSprayReward .ImageContainer #ItemImage
{
	width: 80%;
	height: 80%;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0;
}

.Reward3 .ChatWheelSprayReward .ImageContainer #ItemImage,.Reward4 .ChatWheelSprayReward .ImageContainer #ItemImage,.Reward5 .ChatWheelSprayReward .ImageContainer #ItemImage,.Reward6 .ChatWheelSprayReward .ImageContainer #ItemImage,.Reward7 .ChatWheelSprayReward .ImageContainer #ItemImage
{
	opacity: 1;
}

.ChatWheelSprayReward .Details
{
	vertical-align: middle;
	horizontal-align: center;
}

.ChatWheelSprayReward .Details .ItemName
{
	horizontal-align: center;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	color: textLightest;
	text-align: center;
	margin-bottom: 10px;
}

.ChatWheelSprayReward DOTAEmoticon
{
	vertical-align: center;
	horizontal-align: center;
	width: 100px;
	height: width-percentage(100%);
	opacity: 0;
}

.Reward2 .ChatWheelSprayReward DOTAEmoticon
{
	opacity: 1;
}

.Dash
{
	vertical-align: center;
	opacity: 0.2;
	height: 1px;
	width: 100px;
	horizontal-align: center;
	background-color: whitesmoke;
}

