/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTADarkCarnivalButton
{
	transition-property: brightness, transform;
	transition-duration: 0.1s, 0.05s;
	padding: 12px 0px;
}

DOTADarkCarnivalButton .ButtonLabel
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 4px;
	padding: 0px 36px;
	text-align: center;
	color: whitesmoke;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
	text-transform: uppercase;
	text-overflow: shrink;
	white-space: nowrap;
	max-height: 45px;
}

DOTADarkCarnivalButton .ButtonLabel .ButtonIcon
{
	width: 24px;
	height: 24px;
	margin: -1px 0px;
}

DOTADarkCarnivalButton .ButtonLabel .Numbers
{
	font-weight: normal;
}

DOTADarkCarnivalButton .ButtonBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( midnightLight ), to( midnightDark ) );
	border-radius: 8px;
	margin: 0px 14px;
	box-shadow: 0px 6px 32px -4px rgba(0, 0, 0, 0.6);
	saturation: 1.3;
	contrast: 1.02;
	transition-property: brightness;
	transition-duration: 0.1s;
}

DOTADarkCarnivalButton .ButtonTexture
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/textures/wood_png.vtex");
	background-size: 100px;
	border-radius: 8px;
	margin: 0px 14px;
	-s2-mix-blend-mode: multiply;
	brightness: 2.5;
	contrast: 1.2;
}

DOTADarkCarnivalButton .ButtonHighlight
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 0%, 0% 0%, 55% 100%, from( #ffffff ), color-stop( 0.5, #ffffff61 ), to( #ffffff04 ) );
	-s2-mix-blend-mode: screen;
	wash-color: midnightLight;
	opacity: 0.5;
	brightness: 1.5;
	transition-property: opacity;
	transition-duration: 0.1s;
}

DOTADarkCarnivalButton .ButtonOutline
{
	width: 100%;
	border-width: 50px 40px 0px 40px;
	border-image-slice: 100% 80px 0px 80px;
	border-image-repeat: stretch;
	border-image-source: url("s2r://panorama/images/events/dark_carnival/buttons/button_border_png.vtex");
	transition-property: brightness, wash-color;
	transition-duration: 0.05s;
}

DOTADarkCarnivalButton.NodeUnlockButton .ButtonLabel
{
	vertical-align: center;
	margin: 4px;
}

DOTADarkCarnivalButton.NodeUnlockButton .ButtonLabel Image
{
	margin-right: 2px;
	width: 24px;
	height: width-percentage( 100% );
	background-size: cover;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), color-stop( 0.5, #FFDFB7 ), to( #b38f6c ));
	img-shadow: 0px 1px 6px black;
}

DOTADarkCarnivalButton.Purple .ButtonBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( purpleLight ), to( purpleDark ) );
}

DOTADarkCarnivalButton.Wide .ButtonLabel
{
	padding: 0px 56px;
}

DOTADarkCarnivalButton.UltraWide .ButtonLabel
{
	padding: 0px 80px;
}

DOTADarkCarnivalButton.Narrow .ButtonLabel
{
	padding: 0px 26px;
}

DOTADarkCarnivalButton:enabled:hover .ButtonBackground
{
	brightness: 1.5;
}

DOTADarkCarnivalButton:enabled:hover .ButtonHighlight
{
	opacity: 1;
}

DOTADarkCarnivalButton:enabled:hover .ButtonLabel
{
	color: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	text-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

DOTADarkCarnivalButton:active
{
	transform: scale3d( 0.96, 0.96, 1 );
	brightness: 0.5;
}

DOTADarkCarnivalButton:disabled
{
	saturation: 0.2;
	brightness: 0.2;
}

