/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTADarkCarnivalReward
{
	width: 100%;
	height: 100%;
}

DOTADarkCarnivalReward.Coin .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_coin_png.vtex");
}

DOTADarkCarnivalReward.Emoticon .RewardImage,DOTADarkCarnivalReward.Tome .RewardImage,DOTADarkCarnivalReward.ShowcaseDecoration .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_emotes_png.vtex");
}

DOTADarkCarnivalReward.Chest .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_treasure_png.vtex");
}

DOTADarkCarnivalReward.SmallChest .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_emotes_png.vtex");
}

DOTADarkCarnivalReward.Candy .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_png.vtex");
}

DOTADarkCarnivalReward.OracleCoin .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/oracle/oracle_coin_png.vtex");
	background-size: 90% 90%;
}

DOTADarkCarnivalReward.Coin.Large .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_coin_large_png.vtex");
}

DOTADarkCarnivalReward.Emoticon.Large .RewardImage,DOTADarkCarnivalReward.Tome.Large .RewardImage,DOTADarkCarnivalReward.ShowcaseDecoration .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_emotes_large_png.vtex");
}

DOTADarkCarnivalReward.Chest.Large .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_treasure_large_png.vtex");
}

DOTADarkCarnivalReward.SmallChest.Large .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_emotes_large_png.vtex");
}

DOTADarkCarnivalReward.Candy.Large .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_large_png.vtex");
}

DOTADarkCarnivalReward.OracleCoin.Large .RewardImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/oracle/oracle_coin_large_png.vtex");
	background-size: 90% 90%;
}

DOTADarkCarnivalReward.Spray .SprayImageContainer
{
	visibility: visible;
}

DOTADarkCarnivalReward.Encounter .EncounterImageContainer
{
	visibility: visible;
}

.SprayImageContainer
{
	visibility: collapse;
	width: 65%;
	height: 65%;
	horizontal-align: center;
	vertical-align: center;
}

#SprayImage
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 1px 1px 1px black;
}

.EncounterImageContainer
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: center;
	width: 60%;
	height: 60%;
}

.EncounterImageContainer .EncounterImageBackground
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}

.EncounterImageContainer #EncounterImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 45%;
	height: 45%;
	y: -2%;
}

#RewardEconSetPreview
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HeroItemSet #RewardEconSetPreview,.Chest #RewardEconSetPreview,.LoadingScreen #RewardEconSetPreview
{
	visibility: visible;
}

.RewardImage
{
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.UsesModel .RewardImage,.Chest .RewardImage,.HeroItemSet .RewardImage
{
	visibility: collapse;
}

