/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAMotionComic
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
}

DOTAMotionComic.Initialized
{
	visibility: visible;
}

DOTAMotionComic.Initialized.Finished
{
	visibility: collapse;
}

.MotionComicBackground
{
	width: 100%;
	height: 100%;
}

.MotionComicFrameContent
{
	width: 100%;
	height: 100%;
}

.MotionComicForeground
{
	width: 100%;
	height: 100%;
}

.MotionComicForeground .NextIndicator
{
	width: 48px;
	height: 48px;
	transition-property: opacity, transform;
	transition-duration: .4s;
	vertical-align: bottom;
	horizontal-align: right;
	opacity: 0;
	margin-bottom: 150px;
	margin-right: 60px;
	animation-name: NewSquash;
	animation-duration: 0.35s;
	animation-iteration-count: infinite;
}

.ShowClickIndicator .MotionComicForeground .NextIndicator
{
	opacity: 1;
}

#MotionComicImage1,#MotionComicImage2
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HasImage #MotionComicImage1,.HasImage #MotionComicImage2
{
	visibility: visible;
}

.HasImage #MotionComicImage1.Hidden,.HasImage #MotionComicImage2.Hidden
{
	visibility: collapse;
}

#MotionComicVideo1,#MotionComicVideo2
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0;
}

.HasVideo #MotionComicVideo1,.HasVideo #MotionComicVideo2
{
	opacity: 1;
	z-index: 1;
	transition-delay: 0.15s;
}

.HasVideo #MotionComicVideo1.Hidden,.HasVideo #MotionComicVideo2.Hidden
{
	opacity: 0;
	z-index: 0;
	transition-delay: 0s;
}

@keyframes 'NewSquash'
{
	33%
	{
		transform:scaleX(1) scaleY( 1.4 );
	}
	
	66%
	{
		transform:scaleX(1.6) scaleY( 0.8 );
	}
	
}

