/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTADarkCarnivalTarotCard
{
	width: 432px;
	height: width-percentage(166.66%);
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_fill_mask_psd.vtex");
	opacity-mask-threshold: 0% 2%;
	transition-property: opacity-mask;
	transition-timing-function: ease-in-out;
	transition-duration: 1.25s;
}

DOTADarkCarnivalTarotCard.HideFill .Fill
{
	opacity: 0;
	opacity-mask-threshold: 100% 10%;
}

DOTADarkCarnivalTarotCard.HideFill .CardName
{
	opacity: 0;
	opacity-mask-threshold: 100% 10%;
}

DOTADarkCarnivalTarotCard.RevealFill .Fill
{
	opacity: 1;
	opacity-mask-threshold: 0% 10%;
	transition-duration: 1.35s;
}

DOTADarkCarnivalTarotCard.RevealFill .CardName
{
	opacity: 1;
	opacity-mask-threshold: 0% 10%;
	transition-duration: 1.1s;
}

DOTADarkCarnivalTarotCard.OnlyStroke .Stroke
{
	opacity: 0.7;
}

DOTADarkCarnivalTarotCard.Progress1 .Fill
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0) ), color-stop( 0.66, rgba(255, 255, 255, 0) ), color-stop( 0.66, white ), to( white ) );
}

DOTADarkCarnivalTarotCard.Progress1 .RevealBorder
{
	visibility: visible;
	transform: translateY( 66% );
}

DOTADarkCarnivalTarotCard.Progress2 .Fill
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( rgba(255, 255, 255, 0) ), color-stop( 0.33, rgba(255, 255, 255, 0) ), color-stop( 0.33, white ), to( white ) );
}

DOTADarkCarnivalTarotCard.Progress2 .RevealBorder
{
	visibility: visible;
	transform: translateY( 33% );
}

.Glow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_glow_psd.vtex");
	background-size: cover;
	opacity: 1;
	animation-name: TarotGlowPulse;
	animation-duration: 10s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.Cardstock
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_cardstock_psd.vtex");
	background-size: cover;
}

.Fill
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	background-size: cover;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_fill_mask_psd.vtex");
	opacity-mask-threshold: 0% 10%;
	transition-property: opacity-mask;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
	transition-duration: 1.35s;
}

.Stroke
{
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_stroke_mask_psd.vtex");
	opacity-mask-threshold: 0% 10%;
	transition-property: opacity-mask;
	transition-timing-function: ease-in-out;
	transition-duration: 1.1s;
	opacity: 0;
}

.TarotCard_CardBack .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/00_card_back_psd.vtex");
}

.TarotCard_TheEmpress .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_fill_psd.vtex");
}

.TarotCard_TheFool .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/00_the_fool_psd.vtex");
}

.TarotCard_TheMagician .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/01_the_magician_psd.vtex");
}

.TarotCard_TheHighPriestess .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/02_the_high_priestess_psd.vtex");
}

.TarotCard_TheEmpress .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/03_the_empress_psd.vtex");
}

.TarotCard_TheEmperor .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/04_the_emperor_psd.vtex");
}

.TarotCard_TheLovers .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/06_the_lovers_psd.vtex");
}

.TarotCard_Strength .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/08_strength_psd.vtex");
}

.TarotCard_TheHermit .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/09_the_hermit_psd.vtex");
}

.TarotCard_WheelOfFortune .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/10_wheel_of_fortune_psd.vtex");
}

.TarotCard_Death .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/13_death_psd.vtex");
}

.TarotCard_TheDevil .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/15_the_devil_psd.vtex");
}

.TarotCard_TheStar .Fill
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/17_the_star_psd.vtex");
}

.TarotCard_TheFool .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/00_the_fool_lines_psd.vtex");
}

.TarotCard_TheMagician .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/01_the_magician_lines_psd.vtex");
}

.TarotCard_TheHighPriestess .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/02_the_high_priestess_lines_psd.vtex");
}

.TarotCard_TheEmpress .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/03_the_empress_lines_psd.vtex");
}

.TarotCard_TheEmperor .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/04_the_emperor_lines_psd.vtex");
}

.TarotCard_TheLovers .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/06_the_lovers_lines_psd.vtex");
}

.TarotCard_Strength .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/08_strength_lines_psd.vtex");
}

.TarotCard_TheHermit .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/09_the_hermit_lines_psd.vtex");
}

.TarotCard_WheelOfFortune .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/10_wheel_of_fortune_lines_psd.vtex");
}

.TarotCard_Death .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/13_death_lines_psd.vtex");
}

.TarotCard_TheDevil .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/15_the_devil_lines_psd.vtex");
}

.TarotCard_TheStar .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/17_the_star_lines_psd.vtex");
}

.TarotCard_TheEmpress .Stroke
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_stroke_psd.vtex");
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_stroke_mask_psd.vtex");
}

.CardName
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	color: rgba(0, 0, 0, 0.98);
	margin-bottom: 10.8%;
	font-size: 24px;
	letter-spacing: -0.2px;
	font-weight: bold;
	text-transform: uppercase;
	width: 130px;
	height: 4%;
	text-align: center;
	text-overflow: shrink;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tarots/tarot_empress_fill_mask_psd.vtex");
	opacity-mask-threshold: 0% 10%;
	transition-property: opacity-mask;
	transition-timing-function: ease-in-out;
	transition-delay: 0.2s;
	transition-duration: 1.35s;
}

.Small .CardName
{
	font-size: 6px;
	margin-bottom: 7px;
}

.Showcase .CardName
{
	font-size: 14px;
	margin-bottom: 35px;
}

@keyframes 'TarotGlowFade'
{
	0%
	{
		opacity: 0.5;
		brightness: 0;
	}
	
	100%
	{
		opacity: 1;
		brightness: 3;
	}
	
}

@keyframes 'TarotGlowPulse'
{
	0%
	{
		opacity: 0.18;
		brightness: .65;
		hue-rotation: 0deg;
	}
	
	14%
	{
		opacity: 0.62;
		brightness: .90;
		hue-rotation: 6deg;
	}
	
	27%
	{
		opacity: 0.34;
		brightness: 1.15;
		hue-rotation: 14deg;
	}
	
	41%
	{
		opacity: 0.88;
		brightness: .78;
		hue-rotation: 8deg;
	}
	
	56%
	{
		opacity: 0.45;
		brightness: 1.05;
		hue-rotation: 19deg;
	}
	
	73%
	{
		opacity: 1.00;
		brightness: .92;
		hue-rotation: 11deg;
	}
	
	89%
	{
		opacity: 0.28;
		brightness: 1.20;
		hue-rotation: 22deg;
	}
	
	100%
	{
		opacity: 0.18;
		brightness: .65;
		hue-rotation: 0deg;
	}
	
}

.RevealBorder
{
	width: 100%;
	flow-children: down;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.1, white ), color-stop( 0.9, white ), to( rgba(255, 255, 255, 0) ) );
	margin-top: -1px;
	visibility: collapse;
	transform: translateY( 100% );
}

.DisableAnimations .RevealBorder
{
	transition-duration: 0s;
	transition-delay: 0s;
}

.RevealBorder .BorderBright
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	background-color: #f0e2cd;
}

.RevealBorder .BorderShadow
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	background-color: rgb(0, 0, 0);
}

