/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTADarkCarnivalInventoryTray
{
	width: 260px;
	padding: 20px;
	opacity: 1;
	transform: none;
	transition-property: opacity, transform;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
}

DOTADarkCarnivalInventoryTray.NoTokensSelected
{
	opacity: 0;
	transform: translateX( -24px );
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

DOTADarkCarnivalInventoryTray .PanelTitleContainer
{
	min-width: 166px;
}

DOTADarkCarnivalInventoryTray #CloseButton
{
	width: 36px;
	height: 36px;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: top;
	margin-right: -16px;
	margin-top: -10px;
	border-radius: 50%;
	background-color: rgb(75, 82, 109);
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #F2CFB6 ), to( #3E322C ) );
	box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.4);
	transition-property: pre-transform-scale2d, brightness;
	transition-duration: 0.1s;
}

DOTADarkCarnivalInventoryTray #CloseButton .BorderInner
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( midnightLight ), to( midnightDark ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #3E322C ), to( #8A7467 ) );
	box-shadow: inset 0px 1px 8px -1px rgba(0, 0, 0, 0.39);
}

DOTADarkCarnivalInventoryTray #CloseButton .CloseIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 24px;
	height: 24px;
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( goldDark ) );
	img-shadow: 0px 2px 12px black;
	padding: 4px;
	transition-property: opacity-brush, img-shadow;
	transition-duration: 0.1s;
}

DOTADarkCarnivalInventoryTray #CloseButton:hover .BorderInner
{
	brightness: 1.5;
}

DOTADarkCarnivalInventoryTray #CloseButton:hover .CloseIcon
{
	opacity-brush: gradient( linear, 0% 20%, 0% 100%, from( white ), to( white ) );
	img-shadow: 0px 0px 12px rgba(255, 216, 158, 0.2);
}

DOTADarkCarnivalInventoryTray #CloseButton:active
{
	pre-transform-scale2d: 0.95;
	brightness: 0.5;
}

DOTADarkCarnivalInventoryTray .TarotContainer
{
	width: 100%;
	min-height: 240px;
	flow-children: down;
}

DOTADarkCarnivalInventoryTray .TarotContainer .WoodBackgroundContainer
{
	padding: 0px;
}

DOTADarkCarnivalInventoryTray .TarotContainer .TarotName
{
	width: 100%;
	text-align: center;
	color: whitesmoke;
	margin-bottom: -2px;
	font-weight: semi-bold;
}

DOTADarkCarnivalInventoryTray .TrayContainer
{
	width: 100%;
	flow-children: down;
}

DOTADarkCarnivalInventoryTray .Instructions,DOTADarkCarnivalInventoryTray .NoHeroesLabel
{
	horizontal-align: center;
	padding: 16px;
	text-align: center;
	text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.6);
	font-size: 15px;
	text-align: center;
	horizontal-align: center;
	color: rgba(244, 230, 255, 0.5);
	letter-spacing: -0.3px;
}

DOTADarkCarnivalInventoryTray .Instructions .TokenName,DOTADarkCarnivalInventoryTray .NoHeroesLabel .TokenName
{
	color: white;
}

DOTADarkCarnivalInventoryTray.NoHeroes .Instructions,DOTADarkCarnivalInventoryTray.NoHeroes #HeroOptionContainer,DOTADarkCarnivalInventoryTray:not(.NoHeroes) .NoHeroesLabel
{
	visibility: collapse;
}

DOTADarkCarnivalInventoryTray .NoHeroesLabel
{
	horizontal-align: center;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer
{
	flow-children: up;
	horizontal-align: center;
	margin-bottom: 24px;
	width: 100%;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	padding: 12px;
	padding-bottom: 6px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions.Group1
{
	width: fill-parent-flow( 1 );
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions.Group3
{
	width: fill-parent-flow( 1 );
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions .HeroOptionsBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid goldLight&11;
	background-color: midnightDark&66;
	margin-top: 16px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions .InnerPanelBackground
{
	margin-top: 16px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions .SectionHeader
{
	width: 100%;
	flow-children: down;
	margin-bottom: 8px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions .SectionHeader #TokenContainer
{
	flow-children: right;
	horizontal-align: center;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions .SectionHeader #TokenContainer DOTAOverworldToken
{
	margin: -14px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions #HeroBlock
{
	flow-children: right-wrap;
	horizontal-align: center;
	margin: 0px 12px 12px;
	min-width: 40px;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions #HeroBlock DOTAHeroImage
{
	width: 40px;
	height: width-percentage( 100% );
	padding: 4px;
	tooltip-position: top;
	texture-sampling: point;
	border-radius: 3px;
	transition-property: background-color;
	transition-duration: 0.1s;
	background-color: purpleLight&00;
}

DOTADarkCarnivalInventoryTray #HeroOptionContainer .HeroOptions #HeroBlock DOTAHeroImage:hover
{
	background-color: goldLight&06;
}

#NoHeroesViewInStoreButton
{
	visibility: collapse;
	horizontal-align: center;
	margin-top: 10px;
	ui-scale: 80%;
}

.NoHeroes.PremiumSelected #NoHeroesViewInStoreButton
{
	visibility: visible;
}

@keyframes 'HeroTrayBounce'
{
	50%
	{
		transform: translateY( 2px );
	}
	
}

