/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#ItemList
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right-wrap;
}

#ItemList DOTADarkCarnivalToken
{
	ui-scale: 200%;
	margin: 0px;
}

#ItemList DOTADarkCarnivalToken.GrantsNoProgress
{
	opacity: 0.5;
}

