/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.TokenName_Premium .TokenIconImage
{
	background-image: url("s2r://panorama/images/control_icons/bp2019_mvp_icon_png.vtex");
}

.TokenName_TheDevil .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_devil.vsvg");
}

.TokenName_TheFool .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_fool.vsvg");
}

.TokenName_TheMagician .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_magician.vsvg");
}

.TokenName_TheHighPriestess .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_high_priestess.vsvg");
}

.TokenName_TheEmpress .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_empress.vsvg");
}

.TokenName_TheEmperor .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_emperor.vsvg");
}

.TokenName_TheLovers .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_lovers.vsvg");
}

.TokenName_Strength .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/strength.vsvg");
}

.TokenName_TheHermit .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_hermit.vsvg");
}

.TokenName_WheelOfFortune .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/wheel_of_fortune.vsvg");
}

.TokenName_Death .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/death.vsvg");
}

.TokenName_TheStar .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/the_star.vsvg");
}

.TokenName_TheHierophant .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/slithering_png.vtex");
}

.TokenName_TheChariot .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/crawling_png.vtex");
}

.TokenName_Justice .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/ranged_png.vtex");
}

.TokenName_TheHangedMan .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/disabler_png.vtex");
}

.TokenName_Temperance .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/durable_png.vtex");
}

.TokenName_TheTower .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/nuker_png.vtex");
}

.TokenName_TheMoon .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/healer_png.vtex");
}

.TokenName_TheSun .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/random_png.vtex");
}

.TokenName_Judgement .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/stargazer_png.vtex");
}

.TokenName_TheWorld .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/crownfall/tokens/candle_png.vtex");
}

.TokenName_Premium .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/premium.vsvg");
}

.TokenName_Oracle .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/oracle.vsvg");
}

.TokenName_Random .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/random.vsvg");
}

.TokenName_NodeUnlock .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/node_unlock.vsvg");
}

.TokenName_MinigameUnlock .TokenIconImage
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_icons/minigames.vsvg");
}

.TokenName_TheDevil .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E54C2E ), color-stop( 0.5, #801919 ), to( #74275A ) );
}

.TokenName_TheFool .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #59A4B2 ), color-stop( 0.5, #146666 ), to( #1A4D2B ) );
}

.TokenName_TheMagician .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9559B2 ), color-stop( 0.5, #442680 ), to( #2E3973 ) );
}

.TokenName_TheHighPriestess .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E57A2E ), color-stop( 0.5, #80200D ), to( #802B2B ) );
}

.TokenName_TheEmpress .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E52E8A ), color-stop( 0.5, #80194D ), to( #742774 ) );
}

.TokenName_TheEmperor .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #74B236 ), color-stop( 0.5, #526629 ), to( #4D4D1A ) );
}

.TokenName_TheLovers .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B2478F ), color-stop( 0.5, #652273 ), to( #502E73 ) );
}

.TokenName_Strength .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #32A67F ), color-stop( 0.5, #1F591F ), to( #3C4D1A ) );
}

.TokenName_TheHermit .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #735CE5 ), color-stop( 0.5, #2B3980 ), to( #274174 ) );
}

.TokenName_WheelOfFortune .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E5A82E ), color-stop( 0.5, #8F4C1D ), to( #742727 ) );
}

.TokenName_Death .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b3148 ), to( #161322 ) );
}

.TokenName_TheStar .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #45BDE5 ), color-stop( 0.5, #2A6C8C ), to( #273474 ) );
}

.TokenName_Premium .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E5CD93 ), color-stop( 0.2, #FFFFAB ), color-stop( 0.45, #E1B890 ), color-stop( 0.65, #AA8A66 ), color-stop( 0.9, #E1B990 ), to( #FEE3A3 ) );
}

.TokenName_Oracle .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6a3666 ), to( #1b1531 ) );
}

.TokenName_NodeUnlock .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E5C72E ), color-stop( 0.2, #cec35f ), color-stop( 0.5, #806619 ), color-stop( 0.7, #745227 ), to( #cdaa57 ) );
}

.TokenName_Random .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3b3148 ), to( #161322 ) );
}

.TokenName_MinigameUnlock .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E55A45 ), color-stop( 0.65, #661D0A ), to( #661D0A ) );
}

.TokenName_Premium .TokenIconImage
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #272422 ), to( #4B2206 ) );
	img-shadow: none;
}

DOTADarkCarnivalToken
{
	padding: 4px;
	margin: -3px;
	tooltip-position: top;
	tooltip-body-position: 50% 20px;
	border-radius: 1px;
	transition-property: transform, brightness;
	transition-duration: 0.1s;
}

DOTADarkCarnivalToken .TokenSlot,DOTADarkCarnivalToken .TokenSlotBorder
{
	width: 40px;
	height: 52px;
	horizontal-align: center;
	margin: 3px;
}

DOTADarkCarnivalToken .TokenSlot
{
	background-color: midnightDark&cc;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tokens/token_mask_png.vtex");
	visibility: collapse;
}

DOTADarkCarnivalToken .TokenSlotBorder
{
	img-shadow: 0px 0px 24px 12.0 rgba(0, 0, 0, 1) alpha-only;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tokens/token_mask_png.vtex");
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_slot_border_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	wash-color: black;
	opacity: 0.75;
	transition-property: box-shadow;
	transition-duration: 0.15s;
	visibility: collapse;
}

DOTADarkCarnivalToken .TokenSlotBorderBevel
{
	width: 42px;
	height: 54px;
	margin: 2px;
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_slot_border_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	wash-color: white;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.15s;
}

DOTADarkCarnivalToken .TokenBackground,DOTADarkCarnivalToken .TokenBackgroundTexture,DOTADarkCarnivalToken .TokenBackgroundBorder,DOTADarkCarnivalToken .TokenBackgroundTexture,DOTADarkCarnivalToken .TokenBackgroundShadow
{
	width: 36px;
	height: 48px;
	horizontal-align: center;
	margin: 5px;
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/tokens/token_mask_png.vtex");
	transition-property: brightness;
	transition-duration: 0.05s;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackground,DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackgroundTexture,DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackgroundBorder,DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackgroundTexture,.Empty DOTADarkCarnivalToken .TokenBackground,.Empty DOTADarkCarnivalToken .TokenBackgroundTexture,.Empty DOTADarkCarnivalToken .TokenBackgroundBorder,.Empty DOTADarkCarnivalToken .TokenBackgroundTexture
{
	visibility: collapse;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenSlot,DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenSlotBorder,.Empty DOTADarkCarnivalToken .TokenSlot,.Empty DOTADarkCarnivalToken .TokenSlotBorder
{
	visibility: visible;
}

DOTADarkCarnivalToken .TokenBackgroundShadow
{
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

DOTADarkCarnivalToken .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bronzeDark ), to( purpleLight ) );
}

DOTADarkCarnivalToken .TokenBackgroundBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_border_png.vtex");
	background-size: cover;
	opacity: 0.25;
}

DOTADarkCarnivalToken.LargeToken .TokenIconImage
{
	background-texture-size: 128px;
}

DOTADarkCarnivalToken.LargeToken .TokenSlot,DOTADarkCarnivalToken.LargeToken .TokenSlotBorder
{
	width: 40px;
	height: 52px;
	margin: 3px;
}

DOTADarkCarnivalToken.LargeToken .TokenBackgroundBorder
{
	background-image: url("s2r://panorama/images/events/dark_carnival/tokens/token_border_large_png.vtex");
}

DOTADarkCarnivalToken.LargeToken .InventoryCount
{
	padding: 1px 3px 1px;
	background-color: rgb(16, 19, 21);
	border: 1px solid white;
	border-radius: 3px;
	min-width: 12px;
	border: 0.5px solid rgba(255, 255, 255, 0.6);
	font-size: 9px;
}

DOTADarkCarnivalToken.LargeToken .TokenBackgroundShadow
{
	box-shadow: 0px 3px 24px -2px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}

DOTADarkCarnivalToken.LargeToken.ShowCount .TokenIconImage
{
	y: -3px;
}

DOTADarkCarnivalToken.HideBackground .TokenSlot,DOTADarkCarnivalToken.HideBackground .TokenSlotBorder
{
	visibility: collapse;
}

DOTADarkCarnivalToken .TokenIconImage
{
	width: 31px;
	height: width-percentage( 100% );
	background-size: cover;
	horizontal-align: center;
	vertical-align: center;
	y: -1px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), color-stop( 0.5, #FFDFB7 ), to( #b38f6c ));
	img-shadow: 0px 1px 6px black;
	transition-property: wash-color, transform, opacity, brightness;
	transition-duration: 0.1s;
}

DOTADarkCarnivalToken .TokenComplete
{
	horizontal-align: center;
	vertical-align: center;
	padding: 3px;
	border-radius: 24px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.45, gold2 ), color-stop( 0.55, gold2 ), to( gold1 ) );
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
	transform: translateX( 14px ) translateY( 18px );
	visibility: collapse;
}

DOTADarkCarnivalToken .TokenComplete .CheckIcon
{
	width: 12px;
	height: width-percentage( 100% );
	img-shadow: 0px 1px 4px black;
}

DOTADarkCarnivalToken .InventoryCount
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: bottom;
	padding: 0px 3px 1px;
	background-color: rgb(16, 19, 21);
	border: 1px solid white;
	border-radius: 4px;
	min-width: 20px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	font-size: 13px;
	text-align: center;
	color: rgba(255, 247, 224, 0.8);
	font-family: monospaceNumbersFont;
}

DOTADarkCarnivalToken .TokenShimmer
{
	width: 36px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	opacity: 0.2;
	visibility: collapse;
}

DOTADarkCarnivalToken .TokenShimmer .TokenShimmerShape
{
	width: 100px;
	height: 20px;
	horizontal-align: center;
	background-color: gradient( linear, 100% 100%, 50% 100%, from( white ), to( rgba(255, 255, 255, 0) ) );
	transform: rotateZ( -30deg ) translateX( -5px ) translateY( -1px );
}

DOTADarkCarnivalToken .TokenHighlight
{
	width: 48px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(255, 255, 255) ), color-stop( 0.5, rgba(165, 205, 255, 0.692) ), color-stop( 0.8, rgba(0, 85, 255, 0.477) ), to( rgba(8, 0, 255, 0) ) );
	blur: gaussian( 6px );
	opacity: 0.4;
	saturation: 0.9;
	margin: -8px;
	visibility: collapse;
	animation-name: GlowSelectedGlow;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

DOTADarkCarnivalToken.Empty .TokenShimmer
{
	visibility: collapse;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenShimmer
{
	visibility: collapse;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenIconImage
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff66 ), to( #ffffff22 ));
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackground
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgb(9, 14, 24) ), to( rgb(19, 26, 39) ) );
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackgroundBorder
{
	opacity: 0.1;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackgroundShadow
{
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0);
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenBackground
{
	opacity: 1;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenGradientOverlay
{
	visibility: collapse;
}

DOTADarkCarnivalToken.TokenUnowned:not(.ResultToken) .TokenOuterBorder
{
	visibility: collapse;
	wash-color: grey;
	opacity: 0.9;
}

.TokenBackground DOTADarkCarnivalToken:hover:not(.Empty),.TokenBackground DOTADarkCarnivalToken.SameTypeTokenHovered:not(.Empty)
{
	brightness: 2;
}

.Unowned DOTADarkCarnivalToken:hover .TokenIconImage,.Node DOTADarkCarnivalToken:hover:not(.TokenOwned) DOTADarkCarnivalToken:hover:not(.Empty) .TokenIconImage,.Unowned DOTADarkCarnivalToken.SameTypeTokenHovered .TokenIconImage,.Node DOTADarkCarnivalToken.SameTypeTokenHovered:not(.TokenOwned) DOTADarkCarnivalToken.SameTypeTokenHovered:not(.Empty) .TokenIconImage
{
	brightness: 2;
	opacity: 1;
}

.Unowned DOTADarkCarnivalToken:hover .TokenBackground,.Node DOTADarkCarnivalToken:hover:not(.TokenOwned) DOTADarkCarnivalToken:hover:not(.Empty) .TokenBackground,.Unowned DOTADarkCarnivalToken.SameTypeTokenHovered .TokenBackground,.Node DOTADarkCarnivalToken.SameTypeTokenHovered:not(.TokenOwned) DOTADarkCarnivalToken.SameTypeTokenHovered:not(.Empty) .TokenBackground
{
	brightness: 1;
}

.Unowned DOTADarkCarnivalToken:hover .TokenBackgroundBorder,.Node DOTADarkCarnivalToken:hover:not(.TokenOwned) DOTADarkCarnivalToken:hover:not(.Empty) .TokenBackgroundBorder,.Unowned DOTADarkCarnivalToken.SameTypeTokenHovered .TokenBackgroundBorder,.Node DOTADarkCarnivalToken.SameTypeTokenHovered:not(.TokenOwned) DOTADarkCarnivalToken.SameTypeTokenHovered:not(.Empty) .TokenBackgroundBorder
{
	opacity: 0.4;
}

.Unowned DOTADarkCarnivalToken:hover .TokenOuterBorder,.Node DOTADarkCarnivalToken:hover:not(.TokenOwned) DOTADarkCarnivalToken:hover:not(.Empty) .TokenOuterBorder,.Unowned DOTADarkCarnivalToken.SameTypeTokenHovered .TokenOuterBorder,.Node DOTADarkCarnivalToken.SameTypeTokenHovered:not(.TokenOwned) DOTADarkCarnivalToken.SameTypeTokenHovered:not(.Empty) .TokenOuterBorder
{
	visibility: collapse;
}

DOTADarkCarnivalInventoryTray .TokenSlot,DOTADarkCarnivalInventoryTray .TokenSlotBorder
{
	visibility: collapse;
}

DOTADarkCarnivalToken.ShowCount .InventoryCount
{
	visibility: visible;
}

DOTADarkCarnivalToken.ShowCount .TokenIconImage
{
	y: -6px;
}

DOTADarkCarnivalToken.IconOnly .TokenOuterBorder,DOTADarkCarnivalToken.IconOnly .TokenOutline,DOTADarkCarnivalToken.IconOnly .TokenShadow,DOTADarkCarnivalToken.IconOnly .TokenBackgroundBorder,DOTADarkCarnivalToken.IconOnly .TokenGradientOverlay,DOTADarkCarnivalToken.IconOnly .TokenShimmer,DOTADarkCarnivalToken.IconOnly .TokenBackground
{
	visibility: collapse;
}

.TokenTrade DOTADarkCarnivalToken:hover
{
	transform: scale3d( 1.08, 1.08, 1 );
}

.TokenTrade DOTADarkCarnivalToken:hover .TokenBackground
{
	brightness: 2;
}

.TokenTrade DOTADarkCarnivalToken:hover .TokenBackgroundBorder
{
	opacity: 0.8;
}

#OverworldTokensContainer .Selected .SelectedGlow
{
	visibility: visible;
	brightness: 0.2;
}

#OverworldTokensContainer .Selected .TokenIconImage
{
	brightness: 4;
	opacity: 1;
}

.InventoryItem.Selected DOTADarkCarnivalToken
{
	transform: rotateZ( 0deg );
	animation-name: InventorySelected;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.InventoryItem.Selected .SelectedGlow
{
	visibility: visible;
}

.InventoryItem.Selected .TokenSlotBorderBevel
{
	opacity: 1;
	animation-name: SelectionPulse;
	animation-duration: 1s;
	animation-delay: 0.15s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.InventoryItem .TokenUnowned:not(.ResultToken) .TokenIconImage
{
	opacity: 0.7;
}

.InventoryItem .TokenOwned:not(.ResultToken) .OwnedParticlesContainer
{
	visibility: visible;
}

.TokenTreasure .TokenIconImage
{
	opacity: 1;
	wash-color: white;
}

.ShowingIntro .TokenOwned .SelectedGlow
{
	visibility: visible;
}

.Path .TokenShadow
{
	opacity: 0.3;
}

.Path .TokenOuterBorder
{
	visibility: visible;
	wash-color: gold1;
}

.Path .TokenOwned .TokenComplete
{
	visibility: visible;
}

.Path .TokenOwned .TokenBackground
{
	opacity: 1;
	animation-name: GlowActiveTokenImage;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.Path .TokenOwned .TokenIconImage
{
	animation-name: GlowActiveTokenImage;
	animation-duration: 0.8s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.Path .TokenOwned .OwnedParticlesContainer
{
	visibility: visible;
}

.Path .TokenOwned .TokenBackgroundBorder
{
	opacity: .5;
}

@keyframes 'GlowActiveTokenBackground'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 12;
	}
	
}

@keyframes 'GlowActiveTokenImage'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 1.5;
	}
	
}

@keyframes 'GlowSelectedGlow'
{
	0%
	{
		opacity: 0.4;
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'InventorySelected'
{
	0%
	{
		transform: scale3d(1, 1, 1);
	}
	
	100%
	{
		transform: scale3d(1.05, 1.05, 1);
	}
	
}

@keyframes 'SelectionAvailable'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	25%
	{
		transform: rotateZ(-5deg);
	}
	
	50%
	{
		transform: rotateZ(5deg);
	}
	
	75%
	{
		transform: rotateZ(-5deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'SelectionPulse'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

.InventoryItem.GrantsProgress .TokenIconImage
{
	brightness: 1.1;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ));
}

DOTAUIOverworldInventoryPicker .GrantsProgress .TokenOutline
{
	wash-color: gold2;
	visibility: visible;
}

DOTAUIOverworldInventoryPicker .GrantsProgress .TokenIconImage
{
	brightness: 1.1;
}

.ExternalSelectionAvailable DOTADarkCarnivalToken
{
	transform: rotateZ( 0deg );
	animation-name: SelectionAvailable;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.TradeItem.Selected .SelectedGlow
{
	visibility: visible;
}

.TradeItem.Selected .TokenSlotBorderBevel
{
	width: 100%;
	opacity: 1;
	animation-name: SelectionPulse;
	animation-duration: 1s;
	animation-delay: 0.15s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.TradeItem:not(.Selected) .TokenSlotBorderBevel
{
	width: 100%;
}

