/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAQuestPipBar_International2023
{
	horizontal-align: center;
	flow-children: right;
}

.PipProgressBar
{
	flow-children: right;
	align: center center;
	margin: 0px 8px;
}

.PipIcon
{
	width: 40px;
	height: 40px;
	vertical-align: middle;
	transition-property: transform, pre-transform-scale2d, brightness;
	transition-duration: .12s;
	transition-timing-function: ease-in-out;
	tooltip-body-position: 50% 50%;
	tooltip-position: top;
	horizontal-align: center;
}

.PipIcon .PointTotalIcon
{
	margin: 0px;
	margin-right: 2px;
	width: 16px;
	height: 16px;
	background-image: url("s2r://panorama/images/status_icons/star_raised_empty_points_psd.vtex");
}

.PipComplete .PointTotalIcon
{
	background-image: url("s2r://panorama/images/status_icons/star_raised_filled_points_psd.vtex");
}

.PipIcon .PipBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop(0, defaultColor ), color-stop(0.25, defaultColor ), color-stop(1, darkColor ));
	border-radius: 4px;
	box-shadow: 0px 1px 6px #00000066;
	border: 1px solid white;
	border-brush: gradient( linear, 20% -50%, 0% 50%, from( accentColor ), color-stop(0.5, defaultColor) );
	margin: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
	z-index: 0;
}

.PipIcon .PipStar
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/status_icons/empty_battle_points_psd.vtex");
	background-size: 28px;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
	wash-color: #000000ff;
	opacity: .5;
}

.PipIcon.PipComplete .PipStar
{
	background-image: url("s2r://panorama/images/status_icons/empty_battle_points_psd.vtex");
	wash-color: #ffffff;
	opacity: 1;
}

.PipIcon.PipComplete .PipBackground
{
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop(0, shadeColor ), color-stop(0.30, defaultColor ), color-stop(1, accentColor ));
	brightness: 2.0;
}

.PipIcon.PipActive .PipBackground
{
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop(0, shadeColor ), color-stop(0.30, defaultColor ), color-stop(1, accentColor ));
	brightness: 2.0;
}

.PipIcon.PipSelected .PipBackground
{
	border-width: 1px;
	border-brush: ultraBrightColor;
}

.PipCountLabelContainer
{
	flow-children: right;
	horizontal-align: center;
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop(0, accentColorBright ), color-stop(0.25, accentColor), color-stop(1, defaultColor ));
	padding: 4px 8px 0px 8px;
	margin: 0px 400px 0px 0px;
	border-radius: 4px;
	box-shadow: 0px 1px 6px black;
	border: 1px solid white;
	border-brush: gradient( linear, 20% -50%, 0% 50%, from( accentColorBright ), color-stop(0.5, accentColor) );
	visibility: collapse;
}

.GoalStarsReached .PipCountLabelContainer
{
	background-color: gradient( linear, 0% 100%, 0% 0%, color-stop(0, shadeColor ), color-stop(0.30, defaultColor ), color-stop(1, accentColor ));
}

.PipCountLabel
{
	font-weight: normal;
	font-family: monospaceNumbersFont;
	font-size: 28px;
	color: white;
	text-shadow: 0px 1px 6px 2.0 #000000;
}

.PipCountLabel.PipCount
{
	margin-top: -3px;
}

.PipCountLabel.PipLabelSlash
{
	color: ultraBrightColor;
	margin-left: 4px;
}

.PipCountLabel.PipCountMax
{
	margin-top: -4px;
	color: ultraBrightColor;
}

#StarsRewards
{
	width: 100%;
}

#StarClaimRewardButton
{
	visibility: collapse;
	padding-left: 48px;
	padding-right: 48px;
}

.ProgressScreen .ClaimAvailable #StarClaimRewardButton
{
	opacity: 0;
}

.ClaimAvailable #StarClaimRewardButton
{
	visibility: visible;
	animation-name: GlowUnclaimedButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

.PipRewardClaimLabel
{
	horizontal-align: left;
	margin-left: 10px;
}

