/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

PopupFantasyCraftHelp
{
	width: 1280px;
	height: 800px;
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( #000B16 ) );
	border: 2px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	transition-property: transform, pre-transform-scale2d, opacity, background-color, height, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

PopupFantasyCraftHelp.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.Body
{
	width: 100%;
	height: fill-parent-flow(1);
	opacity-mask: url("s2r://panorama/images/masks/soft_top_bottom_vscroll_psd.vtex");
	overflow: clip scroll;
}

.Body #Choices
{
	flow-children: right-wrap;
	horizontal-align: center;
	padding-top: 12px;
	padding-bottom: 24px;
}

.Body VerticalScrollBar
{
	margin: 12px 0px 40px;
}

.Header
{
	width: 100%;
	padding: 24px 24px 12px;
}

.Header .PlayerChoiceTitle
{
	horizontal-align: center;
	text-shadow: textShadowSmall;
	letter-spacing: 4px;
}

.Header #CloseButton
{
	horizontal-align: right;
}

.gem_shape1
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_round_png.vtex");
}

.gem_shape2
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_pear_png.vtex");
}

.gem_shape3
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_cushion_png.vtex");
}

.gem_shape4
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_princess_png.vtex");
}

.gem_shape5
{
	background-image: url("s2r://panorama/images/fantasy_craft/gem_shape_heart_png.vtex");
}

.gem_quality1
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank1_psd.vtex");
}

.gem_quality2
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank2_psd.vtex");
}

.gem_quality3
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank3_psd.vtex");
}

.gem_quality4
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank4_psd.vtex");
}

.gem_quality5
{
	background-image: url("s2r://panorama/images/rank_tier_icons/mini/rank5_psd.vtex");
}

.BodyLeft
{
	horizontal-align: left;
	width: 48%;
	height: fit-children;
	flow-children: down;
	margin-left: 4px;
	margin-bottom: 32px;
}

.BodyRight
{
	horizontal-align: right;
	width: 48%;
	height: fit-children;
	flow-children: down;
	margin-right: 4px;
}

.HelpHeader
{
	font-size: 32px;
	horizontal-align: center;
	font-family: titleFont;
	letter-spacing: 8px;
	text-transform: uppercase;
	color: white;
	margin-top: 8px;
}

.HelpSubHeader
{
	font-size: 24px;
	font-family: titleFont;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: white;
	margin-top: 12px;
}

.HelpDetail
{
	font-size: 16px;
}

.ShapeHelpTitle
{
	color: bluegreyTextBright&cc;
	font-size: 16px;
	margin-right: 6px;
	vertical-align: center;
	margin-left: 8px;
}

.ShapeHelpExplainer
{
	color: bluegreyTextReg&aa;
	font-size: 16px;
	margin-left: 2px;
	margin-right: 6px;
	vertical-align: center;
}

.GemImage
{
	width: 18px;
	height: 18px;
	wash-color: #aaa;
	margin-right: 8px;
	img-shadow: 2px 2px 4px black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: center;
}

.GemEntry
{
	margin-top: 4px;
}

.HorizontalRuler
{
	width: 100%;
	height: 1px;
	background-color: rgba(224, 205, 103, 0.3);
	margin-top: 8px;
}

.ColumnHolder
{
	width: 95%;
	horizontal-align: center;
	height: fit-children;
	flow-children: right;
}

.HelpColumn
{
	width: fill-parent-flow( 1.0 );
	height: fit-children;
	flow-children: down;
}

.ColumnTitle
{
	color: bluegreyTextBright&cc;
	font-size: 16px;
	margin-left: 2px;
	vertical-align: center;
}

.ColumnText
{
	color: bluegreyTextReg&aa;
	font-size: 16px;
	margin-left: 2px;
	vertical-align: center;
}

