/* Prettified by Source 2 Viewer 5.0.0.0 - https://valveresourceformat.github.io */

DOTABPInternational2023CasterBundlesPage.DashboardPage
{
	width: 100%;
	height: 100%;
}

.MainContents
{
	width: 1400px;
	margin-top: 100px;
	margin-left: 400px;
	flow-children: down;
}

.Header
{
	flow-children: down;
}

.Header .Title
{
	font-size: 32px;
	color: defaultColor;
}

.Header .Title b
{
	color: white;
}

.Header .Subtitle
{
	color: #666;
	font-size: 24px;
}

.Bundles
{
	flow-children: right;
	margin-top: 16px;
}

.Bundle
{
	flow-children: down;
	margin-right: 16px;
}

.Bundle .BundleTier
{
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	horizontal-align: center;
	text-align: center;
}

.Bundle .BundleContents
{
	width: 300px;
	height: 500px;
	background-color: #333;
	border: 2px solid #222;
	flow-children: down;
	padding-top: 16px;
}

.Bundle .BundleContents .IncludesPreviousBundle
{
	height: fill-parent-flow( 1.0 );
	width: 100%;
	padding: 8px 8px 0px 8px;
}

.Bundle .BundleContents .IncludesPreviousBundle Label
{
	vertical-align: bottom;
	height: 32px;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
	color: #666;
	font-size: 16px;
}

.Bundle .BundleContents .BundleSection
{
	flow-children: down;
	width: 100%;
	margin-bottom: 16px;
}

.Bundle .BundleContents .BundleSection.SecondSection
{
	height: 125px;
}

.Bundle .BundleContents .BundleSection .SectionContents
{
	width: 100%;
	flow-children: down;
	vertical-align: bottom;
}

.Bundle .BundleContents .BundleSection .Sticker
{
	width: 250px;
	height: 250px;
	margin-bottom: 4px;
	horizontal-align: center;
}

.Bundle .BundleContents .BundleSection .ChatWheel
{
	flow-children: right;
	horizontal-align: center;
}

.Bundle .BundleContents .BundleSection .ChatWheel .ChatWheelSoundIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.Bundle .BundleContents .BundleSection .Autograph
{
	horizontal-align: center;
}

.Bundle .BundleContents .BundleSection .Autograph .Quantity
{
	font-weight: bold;
	color: white;
	vertical-align: bottom;
	horizontal-align: right;
	font-size: 32px;
	text-shadow: 4px 4px 0px black;
	margin: 8px;
}

.Bundle .BundleContents .BundleSection .SectionName
{
	horizontal-align: center;
	text-transform: uppercase;
	color: #666;
	letter-spacing: 2px;
	font-size: 14px;
}

.Bundle .BundlePurchase
{
	horizontal-align: center;
}

.BronzeBundle .BundleTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #c07000 ) );
}

.SilverBundle .BundleTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #999 ) );
}

.GoldBundle .BundleTier
{
	color: gradient( linear, 0% 0%, 0% 100%, from( white ), to( goldColor ) );
}

