/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.TopRightGodRays
{
	width: 1000px;
	height: 1000px;
	ignore-parent-flow: true;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
	margin-left: -20px;
	margin-top: -300px;
	overflow: noclip;
}

#LeftPanel
{
	width: 100%;
	padding-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 12px;
	transition-property: transform;
	transition-duration: 0.32s;
	flow-children: down;
}

#FriendsEntry
{
	width: 100%;
	height: 850px;
	background-size: 550px 250px;
}

#FriendsEntry .SlantPanelEntry
{
	margin: 16px 0;
	margin-left: -64px;
	margin-right: 76px;
}

#FriendsEntry #FriendsLeaderboard
{
	width: 100%;
	margin-top: 8px;
}

#BPLevelEntry
{
	width: 100%;
}

DOTAEventLevelShield
{
	vertical-align: center;
	horizontal-align: left;
	width: 96px;
	height: 96px;
	margin-left: 8px;
}

#LevelDetails
{
	width: 100%;
	flow-children: down;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor5 ), to( primaryColor4 ) );
	padding: 16px 16px 16px 110px;
	border-top: 1px solid primaryColor3&33;
	box-shadow: shadowMedium;
}

#LevelProgressBar
{
	width: 100%;
	height: 10px;
	vertical-align: bottom;
	border-radius: 2px;
	overflow: clip;
}

#PointsInfo
{
	horizontal-align: right;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	border-brush: WhiteGradientBorderSoft;
}

#LogIcon
{
	width: 12px;
	height: 12px;
	wash-color: accentColorBright;
	background-image: url("s2r://panorama/images/control_icons/history_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 2px;
	margin-top: -1px;
	vertical-align: middle;
	img-shadow: 1px 1px 2px #000000;
}

#BattlePassPointLog Label
{
	text-align: right;
	color: textDefaultColor;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 1px;
	vertical-align: middle;
}

.PointsLogContainer
{
	width: 100%;
	margin-top: 8px;
	flow-children: right;
}

.PointsLogContainer #PointsNeeded
{
	text-shadow: textShadowSmall;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor3 ) );
	brightness: 2;
	letter-spacing: 0.5px;
	margin-top: 2px;
}

.PointsLogContainer .PointIcon
{
	width: 24px;
	height: 24px;
	margin-right: 2px;
	margin-left: -4px;
	wash-color: secondaryColor1;
	background-image: url("s2r://panorama/images/compendium/international2022/totalpoints_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	horizontal-align: middle;
	vertical-align: middle;
}

#LevelButtons
{
	vertical-align: top;
	width: 100%;
	margin-right: 0px;
}

#LevelButtons > TextButton
{
	width: 184px;
	height: 40px;
	visibility: collapse;
	vertical-align: middle;
	horizontal-align: left;
}

#EventEnded
{
	flow-children: down;
	visibility: collapse;
}

.EventEnded #EventEnded,.EventExpired #EventEnded
{
	visibility: visible;
}

#EventEnded .EndedTitle
{
	color: #b1bfff;
	text-shadow: 2px 2px 4px black;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#EventEnded .EndedDate
{
	font-size: 16px;
	color: #999;
	margin-top: -1px;
}

#GiftEntry
{
	flow-children: right;
	width: 100%;
}

#GiftEntry #GiftBattlePassButton
{
	margin-top: 4px;
	margin-bottom: 4px;
	vertical-align: middle;
	padding: 3px 8px 2px 8px;
	width: fill-parent-flow( 1.0 );
}

#GiftEntry #GiftProgressBar
{
	flow-children: right;
	width: fill-parent-flow( 1.0 );
	horizontal-align: center;
	vertical-align: middle;
	padding: 4px 4px;
}

#GiftEntry #GiftProgressBar .GiftsIcon
{
	background-image: url("s2r://panorama/images/compendium/international2023/gift_empty_png.vtex");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
	width: 28px;
	height: 28px;
	overflow: noclip;
	padding: 4px;
}

#GiftEntry #GiftProgressBar .GiftsIcon.Reached
{
	background-image: url("s2r://panorama/images/compendium/international2023/gift_filled_png.vtex");
	img-shadow: 0px 0px 12px primaryColor1&66;
}

.SecondaryTabSet
{
	flow-children: down;
	vertical-align: top;
	margin: 0px;
	padding: 0px 32px;
	width: 429px;
}

.AspectRatio21x9 .SecondaryTabSet
{
	margin-left: 300px;
}

.SecondaryTabSet .SectionHeader
{
	color: primaryColor1;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 4px 12px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	brightness: 1.2;
}

.SecondaryTabSet #International2023Home
{
	width: 400px;
	height: 100px;
	background-image: url("s2r://panorama/images/compendium/international2020/compendium/dashboard_logo_compendium_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}

.SecondaryTabSet #International2023Home .RadioBox
{
	visibility: collapse;
}

.LogoContainerSmall
{
	flow-children: down;
	padding: 48px 0px 22px;
	width: 100%;
	transition-property: transform, brightness;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.LogoContainerSmall:hover
{
	transform: scale3d(1.03, 1.03, 1);
	brightness: 1.5;
}

.LogoContainerSmall:hover .TitleSmall
{
	color: white;
	text-shadow: 0px 0px 24px rgba(255, 255, 255, 0.04);
}

.LogoContainerSmall:active
{
	transform: scale3d(1.03, 1.03, 1) translateY(2px);
	brightness: 0.8;
}

.LogoContainerSmall .LogoSmall
{
	width: 160px;
	horizontal-align: center;
}

.LogoContainerSmall .TitleSmall
{
	width: 100%;
	vertical-align: middle;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 8px;
	color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2 ), to( primaryColor1 ) );
	text-shadow: 0px 0px 24px rgba(255, 255, 255, 0);
	font-family: radiance;
	transition-property: color, text-shadow;
	transition-duration: 0.1s;
}

.LogoContainerSmall #StarsContainerSmall
{
	flow-children: right;
	horizontal-align: center;
}

.LogoContainerSmall #StarsContainerSmall .CompendiumStarSmall
{
	width: 8px;
	height: 8px;
	background-image: url("s2r://panorama/images/control_icons/24px/star.vsvg");
	background-size: cover;
	background-position: center;
	wash-color: loserRed;
	margin: 0px 4px;
}

.TopBorder
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( secondaryColor3 ), color-stop( 0.5, secondaryColor1 ), to( secondaryColor3 ) );
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.SecondaryTabsContainer
{
	flow-children: down;
	width: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor2 ) );
	box-shadow: shadowMedium;
	padding: 4px 4px 12px;
}

#International2023Tabs .SecondaryTabButton
{
	width: 100%;
	padding: 4px 12px;
	background-color: gradient( linear, 40% 0%, 100% 0%, from( primaryColor5&00 ), to( primaryColor5&00 ) );
	transition-property: background-color, brightness;
	transition-duration: 0.1s;
}

#International2023Tabs .SecondaryTabButton Label
{
	color: white;
	font-size: 18px;
	transition-property: color;
	transition-duration: 0.2s;
	font-weight: semi-bold;
	text-shadow: textShadowSmall;
	letter-spacing: 2px;
	transition-property: transform;
	transition-duration: 0.1s;
}

#International2023Tabs .SecondaryTabButton:hover
{
	background-color: gradient( linear, 40% 0%, 100% 0%, from( primaryColor4&66 ), to( primaryColor5&00 ) );
}

#International2023Tabs .SecondaryTabButton:hover Label
{
	color: white;
}

#International2023Tabs .SecondaryTabButton:hover .ExternalLinkIcon
{
	wash-color: white;
}

#International2023Tabs .SecondaryTabButton:selected
{
	background-color: gradient( linear, 40% 0%, 100% 0%, from( primaryColor4 ), to( primaryColor5&00 ) );
}

#International2023Tabs .SecondaryTabButton:active
{
	brightness: 0.7;
}

#International2023Tabs .SecondaryTabButton:active Label
{
	transform: translateY( 1px );
}

#International2023Tabs .SecondaryTabButton Image
{
	width: 19px;
	height: 19px;
	vertical-align: middle;
	margin-top: 1px;
	transition-property: wash-color;
	transition-duration: 0.2s;
}

#International2023Rewards.SecondaryTabButton
{
	margin-top:10px;
	margin-bottom:5px;
}

#International2023Rewards.SecondaryTabButton Label
{
	font-size:25px;
}

