/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTABPInternational2023RewardsPage.DashboardPage
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

DOTABPInternational2023RewardsPage.DashboardPage.ApplyingBoosters .IconButton,DOTABPInternational2023RewardsPage.DashboardPage.ApplyingBoosters .RewardBlockInner
{
	visibility: collapse;
}

.TopContainer
{
	flow-children:right;
}

.TopContainer .DescriptionContainer
{
	flow-children:down;
	width:920px;
	height:135px;
}

.TopContainer .DescriptionContainer .RewardsTitle
{
	font-size:40px;
	color:white;
	font-family: titleFont;
	text-transform: uppercase;
	text-transform: uppercase;
	font-family: titleFont;
	font-size: 44px;
	letter-spacing: 3px;
	color: white;
	z-index: 2;
	color: gradient( linear, 0% 0%, 0% 100%, from( secondaryColor1 ), to( secondaryColor2 ) );
	text-shadow: textShadowSmall;
	brightness: 1.3;
}

.TopContainer .DescriptionContainer .RewardsDescription
{
	font-size:18px;
	text-overflow: shrink;
}

.TopContainer .DescriptionContainer .LearnMoreButton
{
	vertical-align: bottom;
	margin-left: 12px;
	margin-bottom: 14px;
}

.BottomContainer
{
	flow-children:right;
	margin-top:23px;
	padding-bottom: 26px;
	overflow: noclip;
}

.BottomContainer .LeftRewardColumn,.BottomContainer .MiddleRewardColumn,.BottomContainer .RightRewardColumn
{
	flow-children:down;
	overflow: noclip;
	margin-right: 16px;
}

.BottomContainer .MiddleRewardColumn
{
	margin-right: 4px;
}

.BottomContainer .MiddleBottomReward
{
	flow-children:right;
	overflow: noclip;
}

.AspectRatio16x10 .BottomContainer
{
	ui-scale: 90%;
}

#PurchaseLevelsButton
{
	visibility: collapse;
}

.ZeroLevels #PurchaseLevelsButton
{
	visibility: visible;
}

.ZeroLevels #ApplyLevelsButton
{
	visibility: collapse;
}

.ZeroBoosters #ApplyBoostersButton
{
	wash-color: gray;
}

.ApplyingBoosters .SmallReward,.ApplyingBoosters .BigReward,.ApplyingBoosters .BiggestRewardContainer
{
	overflow: clip;
}

.ApplyingBoosters .SmallReward .ApplyBoosterImage,.ApplyingBoosters .BigReward .ApplyBoosterImage,.ApplyingBoosters .BiggestRewardContainer .ApplyBoosterImage
{
	opacity: 1;
	pre-transform-scale2d: 1;
}

.Redeemable:not(.AllClaimed) .ApplyBoosterImage
{
	visibility: collapse;
}

.SmallReward,.BigReward,.BiggestReward
{
	transition-property: opacity, saturation, wash-color;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
}

.SmallReward.Redeemable:hover .RewardBlockInner,.BigReward.Redeemable:hover .RewardBlockInner,.BiggestReward.Redeemable:hover .RewardBlockInner
{
	brightness: 4;
	hue-rotation: 0deg;
}

.SmallReward:hover .RewardBlockInner,.BigReward:hover .RewardBlockInner,.BiggestReward:hover .RewardBlockInner
{
	wash-color: #0000;
}

.SmallReward:hover .IconButton,.BigReward:hover .IconButton,.BiggestReward:hover .IconButton
{
	opacity: 1;
}

.RewardBlock
{
	width: 100%;
	height: 100%;
	overflow: noclip;
}

.Redeemable .RewardBlock:hover .RewardBlockInner
{
	brightness: 4;
	hue-rotation: 0deg;
}

.RewardBlock .RewardBlockCapsuleShadow
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_capsule_shadow_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateX(4px) translateY(-10px);
	pre-transform-scale2d: 1.05;
	z-index: 1;
}

.RewardBlock .RewardBlockOuter
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_outerborder_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #000e;
	transition-property: wash-color;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), color-stop( 0.5, #19697455 ), color-stop( 0.8, #5c96a5 ), to( #d5f7ff ) );
}

.BigReward .RewardBlock .RewardBlockOuter
{
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_outerborder_wide_psd.vtex");
}

.BiggestReward .RewardBlock .RewardBlockOuter
{
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_outerborder_biggest_psd.vtex");
	background-size: 100%;
}

.RewardBlock .RewardBlockInner
{
	width:262px;
	height:194px;
	horizontal-align: center;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_innerborder_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #000e;
	transition-property: wash-color, brightness;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
	hue-rotation: 200deg;
}

.BigReward .RewardBlock .RewardBlockInner
{
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_innerborder_wide_psd.vtex");
	width:372px;
	height:194px;
}

.BiggestReward .RewardBlock .RewardBlockInner
{
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_innerborder_biggest_psd.vtex");
	width: 238px;
	height: 421px;
	background-size: 100%;
}

.RewardBlock .RewardImagePreview
{
	width: 128px;
	height: 128px;
	horizontal-align: center;
	vertical-align: center;
}

.RewardModelPreview
{
	width: 248px;
	height: 195px;
	z-index: 2;
}

#Reward_tpfx .RewardModelPreview
{
	width: 248px;
	height: 245px;
	transform: translateX(-32px) translateY(-48px);
}

.RoadToTIRewardImage,.FantasyRewardImage
{
	width: 312px;
	height: 265px;
	z-index: 2;
	transform: translateX(-10px) translateY(-10px);
}

.RoadToTIRewardImage
{
	background-image: url("s2r://panorama/images/compendium/international2023/rewardpage_roadtoti_reward_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
}

#RewardTeamSticker,#RewardPlayerSticker
{
	horizontal-align: center;
	vertical-align: middle;
	width: 338px;
	height: 325px;
	transform: translateY(-16px) translateX(4px);
}

#RewardTeamLoadScreens
{
	vertical-align: middle;
	horizontal-align: left;
	width: 278px;
	height: 445px;
	transform: translateY(-130px) translateX(20px);
}

#RewardTILoadScreens
{
	vertical-align: middle;
	horizontal-align: left;
	width: 278px;
	height: 445px;
	transform: translateY(-130px) translateX(20px);
}

#RewardTeleportFX
{
	width:300px;
	height:185px;
	horizontal-align: left;
	margin-left: 14px;
	vertical-align: middle;
}

#TeleportFXScene
{
	width:200px;
	height:225px;
	horizontal-align: left;
	margin-left: 14px;
	vertical-align: middle;
	transform: translateY(-16px) translateX(-16px);
}

#TPfxCarousel
{
	width: 248px;
	height: 245px;
}

.TPfxCarouselItem
{
	width: 100%;
	height: 100%;
	flow-children: right;
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.TPfxCarouselItem.Focused
{
	opacity: 1.0;
}

#TPfxCarouselNav
{
	horizontal-align: left;
	margin-top: 5px;
	z-index: 2;
	hue-rotation: 20deg;
	saturation: 3.2;
	brightness: 1.2;
}

#TPfxCarouselNav .PaginationButton .Activated
{
	border: 1px solid red;
}

#TPfxLevel3Info
{
	visibility: collapse;
}

.DisplayLevel3Info #TPfxLevel3Info
{
	visibility: visible;
}

#CenterRewardWheel
{
	width: 700px;
	height: 700px;
	animation-name: none;
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 150px;
}

.SmallReward
{
	width:282px;
	height:212px;
	background-color:transparent;
	margin-bottom: 16px;
	overflow: noclip;
}

.BigReward
{
	width:392px;
	height:212px;
	overflow: noclip;
	margin-right: 16px;
}

.BigReward.RightReward
{
	margin-right: 0px;
}

.BigReward .ProgressLevelContainer,.BigReward .ProgressBar
{
	margin-right: 18px;
}

.BigReward .ClaimEffects
{
	width: 438px;
	height: 416px;
	transform: translateY(-102px) translateX(-24px);
}

.BiggestRewardContainer
{
	width: 810px;
	flow-children: right;
}

.BiggestRewardContainer .ApplyBoosterImage
{
	height: 440px;
	width: 800px;
	horizontal-align: left;
}

.BiggestRewardContainer .ApplyBoosterImage .ApplyBoosterImageIcon
{
	vertical-align: top;
	margin-top: 39px;
}

.BiggestReward
{
	width:fill-parent-flow(1.0);
	height:440px;
	margin-bottom: 16px;
	margin-right: 8px;
}

.BiggestReward .ProgressBar,.BiggestReward .ProgressLevelContainer
{
	margin-right: 18px;
}

.BiggestReward .ProgressBar
{
	height:386px;
}

.BiggestReward .ClaimEffects
{
	transform: translateX(6px) translateY(-0px) rotateZ(90deg) scaleY(1.88) scaleX(1.23);
}

.Redeemable.SmallReward:not(.AllClaimed) .RewardBlockOuter,.Redeemable.BigReward:not(.AllClaimed) .RewardBlockOuter,.Redeemable.BiggestReward:not(.AllClaimed) .RewardBlockOuter
{
	opacity: 1;
	wash-color: white;
	animation-name: none;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.Redeemable.SmallReward:not(.AllClaimed) .ProgressLevelContainer Label,.Redeemable.BigReward:not(.AllClaimed) .ProgressLevelContainer Label,.Redeemable.BiggestReward:not(.AllClaimed) .ProgressLevelContainer Label
{
	color: #eec02b;
}

.Redeemable.SmallReward:not(.AllClaimed) .ClaimEffects,.Redeemable.BigReward:not(.AllClaimed) .ClaimEffects,.Redeemable.BiggestReward:not(.AllClaimed) .ClaimEffects
{
	opacity: 1;
}

@keyframes 'hueRotate'
{
	0%
	{
		hue-rotation: 0deg;
		wash-color: #000a;
	}
	
	10%
	{
		wash-color: #fff;
	}
	
	20%
	{
		wash-color: #000a;
	}
	
	30%
	{
		wash-color: #fff;
	}
	
	40%
	{
		wash-color: #000a;
	}
	
	50%
	{
		hue-rotation: 100deg;
		wash-color: #fff;
	}
	
	60%
	{
		wash-color: #000a;
	}
	
	70%
	{
		wash-color: #fff;
	}
	
	80%
	{
		wash-color: #000a;
	}
	
	90%
	{
		wash-color: #fff;
	}
	
	100%
	{
		hue-rotation: 0deg;
		wash-color: #000a;
	}
	
}

.ProgressBar
{
	width: 10px;
	height: 160px;
	horizontal-align:right;
	vertical-align: middle;
	margin-right: 16px;
	margin-bottom: 22px;
	z-index: 1;
}

.ProgressBar .ProgressBarBase
{
	background-color:#112441;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b96ee05 ), color-stop( 0.5, #19697423 ), color-stop( 0.8, #2b96ee23 ), color-stop( 0.95, #2b96ee23 ), to( #eec02b ) );
	width:100%;
	height:100%;
	border-radius: 2px;
	border: 2px solid black;
}

.ProgressBar .ProgressBarProgress
{
	background-color:#eec02b;
	width:100%;
	height:25%;
	vertical-align:bottom;
	transition-property:height;
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
	border: 2px solid black;
	border-radius: 2px;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.LevelAnimationActive .ProgressBar .ProgressBarProgress
{
	brightness: 20.0;
	box-shadow: 0px 0px 44px -8px #ffffff88;
}

.ProgressLevelContainer
{
	vertical-align:bottom;
	horizontal-align: right;
	text-overflow:shrink;
	margin-bottom: 14px;
	margin-right: 16px;
	flow-children: right;
	z-index: 1;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.ProgressLevelContainer .LevelLabel
{
	margin-right: 4px;
}

.ProgressLevelContainer .ProgressNumber
{
	font-weight: bold;
}

.ProgressLevelContainer Label
{
	font-size:18px;
	color: #a07501;
	text-shadow: 1px 1px 2px black;
}

.ApplyingBoosters .SmallReward:hover .ProgressLevelContainer Label,.ApplyingBoosters .BigReward:hover .ProgressLevelContainer Label,.ApplyingBoosters .BiggestReward:not(#Reward_aegis):hover .ProgressLevelContainer Label
{
	color: #eec02b;
}

.AnimationActive .ProgressLevelContainer
{
	transform: translateX( -13px) scale3d( 1.4, 1.4, 1 );
}

.RewardSeparator
{
	width:100%;
	height:16px;
}

.VerticalRewardSeparator
{
	height:100%;
	width: 16px;
}

.RewardPipContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right-wrap;
	transform: translateY(-16px);
}

.RewardPipContainer .RewardPip
{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #52FCD0;
	margin: 2px;
	border: 2px solid black;
}

.RewardCount
{
	min-width: 32px;
	height: 32px;
	horizontal-align: left;
	vertical-align: top;
	margin-top: 12px;
	margin-left: 18px;
	background-size: contain;
	background-repeat: no-repeat;
	wash-color: #2C97C5;
	tooltip-position: bottom;
	z-index: 10;
}

.RewardCount Label
{
	color: white;
	font-size: 22px;
	font-weight: semibold;
	margin-top: 3px;
	text-shadow: 1px 1px 2px black;
}

.RewardCount.Infinity
{
	background-image: url("s2r://panorama/images/status_icons/infinity_png.vtex");
	-s2-mix-blend-mode: screen;
}

#Aegis
{
	width: 248px;
	height: 401px;
	z-index: 1;
	horizontal-align: center;
	transform: translateY(-50px);
}

.RegisterButton
{
	horizontal-align: center;
	visibility: collapse;
	z-index: 0;
}

.AllClaimed .RegisterButton
{
	visibility: visible;
}

.AllClaimed .ApplyBoosterImage
{
	border: 0px solid transparent;
}

.AllClaimed .ApplyBoosterImage .ApplyBoosterImageIcon
{
	visibility: collapse;
}

.ApplyingBoosters .AllClaimed
{
	saturation: 0;
	wash-color: #1A94C3;
	opacity: .75;
}

.AllClaimed .RewardBlockOuter
{
	background-color: #0005;
	wash-color: #000c;
	hue-rotation: 60deg;
}

.AllClaimed .ClaimEffects,.AllClaimed .ProgressLevelContainer,.AllClaimed .ProgressBar
{
	visibility: collapse;
}

.BiggestRewardDescription
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 26px;
	margin-right: 32px;
	margin-bottom: 50px;
}

.BiggestRewardDescription .BodyLarge
{
	font-weight: bold;
	font-family: titleFont;
}

.BiggestRewardDescription Label
{
	font-size: 16px;
}

.Spacer
{
	width: fill-parent-flow(1);
}

#RewardsButtons
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 4px;
}

#RewardsButtons #PurchaseLevelsButton
{
	height: 100%;
}

.ApplyingBoosters #RewardsButtons #ApplyBoostersButton
{
	border: 1px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	box-shadow: inset #2992C822 0px 0px 8px 0px;
}

#RewardsButtons .ItemContainer
{
	width: fit-children;
	height: fit-children;
	margin-left: -1px;
	flow-children: down;
	tooltip-position: bottom;
	padding: 12px 12px 8px 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( rgba(0, 0, 0, 1) ) );
	transition-property: border, background-color, brightness;
	transition-duration: 0.1s;
}

#RewardsButtons .ItemContainer .ItemCount
{
	padding: 2px 8px;
	horizontal-align: center;
	text-align: center;
	border-radius: 6px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor2, to( primaryColor3 ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor1, to( primaryColor2&66 ) );
	color: LightestGrey;
	font-weight: semi-bold;
	transform: translateX( 28px ) translateY( -8px );
	ignore-parent-flow: true;
	box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.6);
	animation-name: LevelsOwnedCount;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

#RewardsButtons .ItemContainer .ItemLabel
{
	text-align: center;
	vertical-align: bottom;
	margin-top: 4px;
	transition-property: color;
	transition-duration: 0.1s;
}

#RewardsButtons .ItemContainer .ItemImage
{
	width: 64px;
	height: 64px;
	vertical-align: middle;
	horizontal-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	flow-children: none;
	img-shadow: 0px 4px 12px black;
	transition-property: transform;
	transition-duration: 0.1s;
}

#RewardsButtons .ItemContainer #ItemPurchaseImage
{
	background-image: url("s2r://panorama/images/compendium/fall2021/totalpoints_psd.vtex");
	wash-color: #31BFDB;
}

#RewardsButtons .ItemContainer #ItemLevelsImage
{
	background-image: url("s2r://panorama/images/compendium/applylevels_icon_psd.vtex");
	border-radius: 4px;
}

#RewardsButtons .ItemContainer #ItemBoosterImage
{
	background-image: url("s2r://panorama/images/compendium/applyboost_icon_psd.vtex");
}

#RewardsButtons .ItemContainer:hover
{
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor5 ), to( primaryColor6 ) );
	z-index: 1;
}

#RewardsButtons .ItemContainer:hover .ItemLabel
{
	color: white;
}

#RewardsButtons .ItemContainer:active
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor6 ), to( primaryColor5 ) );
	brightness: 0.5;
}

#RewardsButtons .ItemContainer:active .ItemImage
{
	transform: translateY( 1px );
}

#RewardsButtons .ItemContainer Label
{
	color: #3BDFF9;
}

@keyframes 'LevelsOwnedCount'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px primaryColor4&00;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 24px primaryColor1&33;
	}
	
}

.ItemUsingCullingBlade #ItemCullingBlade
{
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( primaryColor5 ), to( primaryColor6 ) );
	z-index: 1;
}

.ItemUsingCullingBlade #ItemCullingBlade .ItemLabel
{
	color: white;
}

.ClaimEffects
{
	width: 312px;
	height: 410px;
	transform: translateY(-102px) translateX(-16px);
	opacity: 0;
	transition-property:opacity;
	transition-duration:0.5s;
	transition-timing-function: ease-in-out;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	z-index: 1;
}

.BigRewardDescription
{
	flow-children: down;
	horizontal-align: right;
	width: 190px;
	height: 174px;
	margin-right: 32px;
	margin-top: 16px;
}

.BigRewardDescription .BodyLarge
{
	font-weight: bold;
	font-family: titleFont;
}

.BigRewardDescription Label
{
	font-size: 16px;
	line-height: 24px;
}

.HUDPreview
{
	background-image: url("s2r://panorama/images/compendium/international2023/hud_preview_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	transform: translateY(-10px) translateX(4px);
	width: 308px;
	height: 441px;
}

.IconButton
{
	z-index: 10;
	vertical-align: bottom;
	opacity: 0;
	transition-property:opacity;
	transition-duration:0.21s;
	transition-timing-function: ease-in-out;
	margin-left: 20px;
	margin-bottom: 20px;
	tooltip-position: left;
}

.ApplyBoosterImage
{
	width: 100%;
	height: 100%;
	horizontal-align: right;
	background-color: #000e;
	z-index: 1;
	border: 3px solid rgba(255, 255, 255, 1);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( primaryColor3 ), to( primaryColor4 ) );
	ignore-parent-flow: true;
	pre-transform-scale2d: 0.8;
	transition-property: opacity, pre-transform-scale2d, border-brush, brightness, background-size;
	transition-duration: .21s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

.ApplyBoosterImage .ApplyBoosterImageIcon
{
	width: 95px;
	height: 95px;
	border-radius: 18px;
	background-image: url("s2r://panorama/images/compendium/applyboost_icon_psd.vtex");
	background-size: 128px 128px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	horizontal-align: center;
	vertical-align: middle;
	transition-property: pre-transform-scale2d, brightness, background-color, opacity;
	transition-duration: .18s;
	transition-timing-function: ease-in-out;
}

.ApplyBoosterImage:hover
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #39DAF2 ) );
	brightness: 2;
}

.ApplyBoosterImage:hover .ApplyBoosterImageIcon
{
	pre-transform-scale2d: 1.2;
	background-color: #0566AA88;
}

#CenterBoostMessage
{
	flow-children: down;
	border: 0px solid transparent;
}

#CenterBoostMessage .ApplyBoosterImageIcon
{
	opacity: 0;
}

#CenterBoostMessage.Highlight
{
	brightness: 2;
}

#CenterBoostMessage.Highlight .ApplyBoosterImageIcon
{
	opacity: 1;
	pre-transform-scale2d: 1.2;
	background-color: #0566AA88;
}

#CenterBoostMessage .ApplyBoosterLabel
{
	color: #3BDFF9;
	font-size: 20px;
	width: 70%;
	text-align: left;
	margin-left: 32px;
	margin-top: 16px;
	text-shadow: 1px 1px 2px 4 black;
}

@define rewardChatWheelWidth: 350px;
.ChatWheelReward
{
	width: fill-parent-flow(1);
	vertical-align: middle;
	margin-bottom: 20px;
	z-index: 10;
}

#Reward_legacychatwheel .ChatWheelReward
{
	z-index: 0;
}

.ChatWheelReward #ChatWheelMessages
{
	flow-children: down;
	margin: 0 16px;
	padding: 0 4px;
}

.ChatWheelMessage
{
	flow-children: right;
	height: 22px;
	margin-right: 15px;
	wash-color: #0008;
}

.ChatWheelMessage:hover
{
	wash-color: #0000;
}

.ChatWheelMessageIcon
{
	width: 20px;
	height: 20px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #FA98E8;
}

.Granted .ChatWheelMessageIcon
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: winnerGreen;
	pre-transform-scale2d: .75;
}

.ChatWheelMessageAll
{
	visibility: collapse;
	font-weight: bold;
	margin-right: 4px;
}

.ChatWheelMessage.ChatWheelMessageSendToAll .ChatWheelMessageAll
{
	visibility: visible;
}

#Reward_voiceline .RewardBlockOuter
{
	background-color: #00000033;
}

#ChatWheelMessageSoundButton
{
	visibility: collapse;
	flow-children: right;
}

#ChatWheelMessageSoundButton .ChatWheelMessageSoundIcon
{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/control_icons/play_sound_sml_thin_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	wash-color: #3F8DC6;
}

.Granted #ChatWheelMessageSoundButton .ChatWheelMessageSoundIcon
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
	wash-color: #0f0;
}

#Reward_voiceline #ChatWheelMessageSoundButton
{
	padding-left: 104px;
}

#ChatWheelMessageSoundButton Label
{
	font-size: 16px;
	color: white;
	wash-color: #68ABE5aa;
}

.ChatWheelMessage.ChatWheelMessageHasSound #ChatWheelMessageSoundButton
{
	visibility: visible;
}

#ChatWheelMessageSoundButton:hover
{
	brightness: 2.0;
}

#ChatWheelMessageSoundButton:active
{
	brightness: 1.5;
}

.ChatWheelMessage > Label
{
	font-size: 16px;
	color: white;
	margin-left: 4px;
	text-shadow: 1px 1px 2px 2 black;
	text-overflow: ellipsis;
}

#VoiceLineCarousel
{
	width: 100%;
	height: 100%;
	z-index: 1;
}

#VoiceLineCarousel .Offscreen
{
	opacity: 0;
}

#VoiceLineCarouselNav
{
	horizontal-align: center;
	margin-top: 20px;
	z-index: 2;
	hue-rotation: 20deg;
	saturation: 3.2;
	brightness: 1.2;
}

.RewardVoicelineImage
{
	width: 120px;
	height: 180px;
	background-image: url("s2r://panorama/images/compendium/international2023/chat_bundle_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateX(0px) translateY(24px);
	horizontal-align: left;
	z-index: 2;
}

.RewardLegacyImage
{
	width: 280px;
	height: 280px;
	background-image: url("s2r://panorama/images/compendium/international2023/chat_perma_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	transform: translateX(0px) translateY(-16px);
	horizontal-align: center;
	z-index: -1;
}

.HitBlocker
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.ApplyingBoosters .AllClaimed .HitBlocker
{
	visibility: visible;
}


