
.Language_schinese .CrownfallLogo,
.CrownfallLogoCN {
    visibility: collapse;
}

.Language_schinese .CrownfallLogoCN,
.CrownfallLogo {
    visibility: visible;
}

.LogoContainer {
    horizontal-align: center;
    vertical-align: top;
	ui-scale: 80%;

	transition-property: transform, opacity;
    transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
    transition-delay: 0.6s;

	opacity: 0;
	transform: translateY( -48px );

                  
	                   
    
    .CrownfallLogo,
    .CrownfallLogoCN {
        width: 800px;
                                 
    }

    
    #TreasureRecycling {
        opacity: 0;
    }

    .LogoYear {
        horizontal-align: center;
        vertical-align: bottom;
        padding: 2px 8px 3px 10px;
        margin-bottom: 24px;

        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
        border-radius: 3px;
        background-color: gradient( linear, 0% 0%, 0% 100%, from( #8D3A2F ), to( #6B2C24 ) );
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-brush: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #FFFFFF33 ) );
        text-shadow: 0px 2px 8px 1.5 black;
        color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #B89558 ) );
    }

    .LogoTitle {
        horizontal-align: center;
        vertical-align: center;
        margin-top: 16px;

        font-size: 50px;
        line-height: 1.4;
        letter-spacing: 2.5px;
        text-shadow: 0px 4px 12px 2 black;        
        color: gradient( radial, 42% 20%, 0% 0%, 100% 100%, from( #FDF6EA ), color-stop( 0.5, #ECD9B8 ), color-stop( 0.55, #A08344 ), to( #D6B477 ) );
        width: 560px;
        text-align: center;
        height: 76px;
        text-overflow: shrink;
    }

    .LogoDescription {
        horizontal-align: center;
        vertical-align: bottom;
        margin-bottom: 64px;
        
        text-shadow: 0px 2px 8px 3 black;
        color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #B89558 ) );
    }
    
    .FullPreviewMode & {
		opacity: 1;
        transform: translateY( -32px );

		transition-duration: 0.15s;
		transition-timing-function: ease-in;
		transition-delay: 0.1s;
	}
}

.SmokeFX {
    width: 100%;
    height: 100%;
    horizontal-align: center;
    vertical-align: bottom;

    wash-color: rgb(54, 79, 128);		
    transform: translateY( 400px );

    transition-property: transform;
    transition-duration: 1s;

    .FullPreviewMode & {
        transform: translateY( 200px );
	}
}