DOTATierTreasureDetails {
    
}

#BackgroundContainer {
	width: 100%;
	height: 100%;
	background-image: url("file://{images}/events/muerta/treasure_assets/background_sky.psd");
	background-size: cover;

	#BackgroundEffects {
		width: 100%;
		height: 100%;
	}

	.BackgroundGradient {
		width: 100%;
		height: 100%;
		background-color: gradient( linear, 0% 0%, 0% 100%, from( #0A121A00 ), color-stop( 0.35, #0A121AEF ), color-stop( 0.55, #152434 ), to( #152034 ) );
	}

	#TreeImage {
		width: 100%;
		height: 100%;
		background-image: url("file://{images}/events/muerta/treasure_assets/tree.psd");
		background-size: cover;
		transform: translateX( 300px ) translateY( -100px );
	}

	#GrassRocks {
		width: 1060px;
		height: 596px;
		background-image: url("file://{images}/events/muerta/treasure_assets/grass_rocks.psd");
		background-size: cover;
		horizontal-align: center;
		vertical-align: center;
		transform: translateY( 20px );

		transition-property: opacity, transform;
		transition-duration: 1s;
		transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
		transition-delay: 0s;
	}

	#ForegroundGrass {
		width: 100%;
		height: 750px;
		background-image: url("file://{images}/events/muerta/treasure_assets/foreground_grass.psd");
		background-size: cover;
		transform: translateY( 260px );
		blur: gaussian( 80px );
	}

	.MainPreviewRays {
		transform: translateY(-90px) translateX(0px);
		horizontal-align: center;
		width: 100%;
		height: 100%;
		transform: rotateZ( 45deg ) translate3d( 0px, -340px, 0px ) scale3d(1.2, 1.2, 1.2);
		opacity-mask: url( "file://{images}/masks/preview_rays_mask.psd" );
		transition-property: opacity;
		transition-duration: 0.6s;
		opacity: 1;
	
		.FullPreviewMode &,
		.FullPreviewTransition & {
			opacity: 0;
		}
	}
	
	#PreviewRays2 {
		width: 50%;
	}
}

#TreasureLogo {
	width: 800px;
	margin-top: 80px;

	.AspectRatio21x9 & {
		margin-right: 120px;
	}

	.DeadReckoningLogo {
        width: 600px;
        horizontal-align: center;
        vertical-align: center;

		visibility: collapse;

		&.en {
			visibility: visible;
		}

		.Language_schinese &,
		.Language_tchinese & {
			&.cn {
				visibility: visible;
			} 
			
			&.en {
				visibility: collapse;
			}
		}
    }
}

DOTATierTreasureDetails #TreasureLogo {
	visibility: visible;
}

#TreasureImageContainer	{
	#TreasureImage {
		visibility: collapse;
	}
}

#KeyImageContainer	{
	#KeyImage {
		visibility: collapse;
	}
}

.ChestIcon,
.KeyIcon {
	width: 120px;
	height: width-percentage(100%);
	margin-right: 24px;
	vertical-align: center;
	background-size: contain;
	visibility: visible;
}

.ChestIcon {
	background-image: url( "file://{images}/events/muerta/muerta_chest_icon.psd" );
}

.KeyIcon {
	background-image: url( "file://{images}/events/muerta/muerta_key_icon.psd" );
}

.ChestHex {
	background-image: url( "file://{images}/events/muerta/muerta_chest_icon.psd" );
}

#TreasureItemEconImage {
	visibility: collapse;
}

.TextButton {
	Label {
		color: #8bffd8;
	}

	Image {
		wash-color: #8bffd8;
	}
}

.PurchaseRowDivider {
	.Emblem {
		background-image: url( "file://{images}/events/muerta/emblem.png" );
		wash-color: #FFE6A6;
		visibility: visible;
	}

	.Dash {
		wash-color: #FFE6A6;
	}
}

#UnlockChestButton,
#RecycleButton,
#OpenAnotherButton {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #387d69 ), to( #225a49 ) );
}

@keyframes 'GlowTreasureButtonPrimary' {
	0% {
		box-shadow: 0px 0px 24px #8bffd800;
		brightness: 1;
	}
	
	100% {
		box-shadow: 0px 0px 32px #8bffd822;
		brightness: 2.5;
	}
}