/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	padding: 0px;
	margin: 0px;
	flow-children: down;
}

Button
{
	visibility: collapse;
	width: 200px;
	min-height: 40px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 8px;
	background-color: #182128;
	flow-children: right;
}

Button:hover
{
	background-color: #8ea3c922;
}

Button Label
{
	font-size: 16px;
	vertical-align: center;
	color: #acaaaa;
	width: fill-parent-flow(1);
}

Button Label#SellBackSeconds
{
	font-size: 15px;
	color: #958D89;
	margin-left: 10px;
	width: fit-children;
}

Button:hover Label
{
	color: #eae9e9;
}

.bSellable #Sell
{
	visibility: visible;
}

.bDisassemble #Disassemble
{
	visibility: visible;
}

.bShowCombineLock #CombineLock
{
	visibility: visible;
}

.bShowCombineUnlock #CombineUnlock
{
	visibility: visible;
}

.bIsNeutralItem Button#CombineLock,.bIsNeutralItem Button#CombineUnlock
{
	background-color: #020b02;
}

.bIsNeutralItem Button#CombineLock Label,.bIsNeutralItem Button#CombineUnlock Label
{
	color: #7c7a7a;
}

.bShowInShop #ShowInShop
{
	visibility: visible;
}

.bDropFromStash #DropFromStash
{
	visibility: visible;
}

.bAlertable #Alert
{
	visibility: visible;
}

.bMoveToStash #MoveToStash
{
	visibility: visible;
}

.bDropAtFountain #DropAtFountain
{
	visibility: visible;
}

.bTeleportToNeutralStash #TeleportToNeutralStash
{
	visibility: visible;
}

.bDropImmediate #DropImmediate
{
	visibility: visible;
}

.bCanBeConsumed #ConsumeItem
{
	visibility: visible;
}

.bCanBeMarkedForSell #MarkForSell
{
	visibility: visible;
}

.bCanBeUnmarkedForSell #UnmarkForSell
{
	visibility: visible;
}

Button:hover .TooltipInfoIcon
{
	wash-color: LighterGrey;
}

Button:hover .NewBadge
{
	color: white;
}

Button .TooltipInfoIcon
{
	width: 24px;
	padding: 4px;
	vertical-align: center;
	wash-color: Grey;
	transition-property: wash-color;
	transition-duration: 0.05s;
}

Button .TooltipInfoIcon:hover
{
	wash-color: white;
}

#MarkForSellNewBadge
{
	visibility: collapse;
}

.ShowMarkForSellNewBadge #MarkForSellNewBadge
{
	visibility: visible;
}

.NewBadge
{
	width: 40px;
	background-color: winnerGreenLow;
	padding: 1px 3px;
	box-shadow: 0px 0px 16px winnerGreen&11;
	border-radius: 40px;
	border: 1px solid winnerGreen&66;
	font-weight: semi-bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	color: white;
	letter-spacing: 0.5px;
	text-shadow: 0px 1.5px 8px 1 black;
	text-overflow: shrink;
}

