/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTALargoSongCard
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 190px;
	padding: 40px;
	opacity: 1;
	transform: none;
	pre-transform-scale2d: 1;
	transition-property: pre-transform-scale2d, transform, opacity;
	transition-duration: 0.2s, 0.2s, 0.14s;
	transition-timing-function: cubic-bezier(0.9, 0, 0.9, 0.9);
}

.Hidden
{
	opacity: 0;
	transform: translateY( 150px );
	pre-transform-scale2d: 0.5;
	transition-duration: 0.22s, 0.16s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	visibility: visible;
}

.HitBlocker
{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 0, 255, 0);
	ignore-parent-flow: true;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.01s;
	transition-delay: 0s;
}

.Hidden .HitBlocker
{
	opacity: 1;
	transition-delay: 0.2s;
}

.SongCardContainer
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c1f20 ), to( #3b1315 ) );
	background-image: url("s2r://panorama/images/hud/largo/basket_pattern_png.vtex");
	background-size: 80px;
	border: 1px solid black;
	box-shadow: #000000ca 0px 6px 32px -4px;
	flow-children: down;
	min-width: 300px;
}

.HUDFlipped .SongCardContainer
{
	transform: scaleX( -1 );
}

.SongBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	img-shadow: 0px 0px 4px black;
	brightness: 1.3;
	border-image-source: url("s2r://panorama/images/hud/largo/wooden_border_png.vtex");
	border-width: 6px;
	border-image-slice: 42px;
}

.SongCardContents
{
	flow-children: down;
	width: 100%;
	padding: 16px;
}

.SongCardContents #SongHeaderLabel
{
	horizontal-align: center;
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 0px 2px 8px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffecc3 ), to( #cbb074 ) );
}

.SongCardContents #AbilityContainer
{
	flow-children: right;
	horizontal-align: center;
	margin: 4px;
}

.SongCardContents #AbilityContainer DOTAAbilityImage
{
	margin: 6px;
	width: 52px;
	height: 52px;
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.8);
	transition-property: border, brightness;
	transition-duration: 0.1s;
}

.SongCardContents #AbilityContainer DOTAAbilityImage:hover
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #a8b0b7 ), to( #3b4650 ) );
	brightness: 1.5;
}

.SongCardContents .SettingsContainer
{
	width: 100%;
	flow-children: down;
}

.SongCardContents .SettingsContainer Label
{
	font-size: 17px;
	line-height: 1.2;
	color: rgb(219, 211, 197);
	text-shadow: 0px 1px 4px black;
}

.SongCardContents .SettingsContainer .SettingsDash
{
	width: 100%;
	height: 1px;
	background-color: rgb(85, 73, 58);
	margin: 4px 0px;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

.SongCardContents .SettingsContainer .RhythmHUDSetting Label
{
	margin-bottom: 1px;
}

.SongCardContents .SettingsContainer .RhythmHUDSetting:selected Label
{
	color: white;
	text-shadow: 0px 0px 12px rgba(195, 138, 255, 0.521);
}

.SongCardContents #CloseSongCard
{
	horizontal-align: center;
	width: 100%;
	margin-top: 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #b6935e ), to( #6b4d2f ) );
}

.tooltip_top
{
	tooltip-position: top;
}

