/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTACourierPortrait
{
	tooltip-position: top;
	tooltip-body-position: 0% 50%;
	cursor: pass-through;
	transition-property: brightness;
	transition-duration: 0.1s;
}

DOTACourierPortrait:hover
{
	brightness: 2;
}

.Hidden
{
	visibility: collapse;
}

#LowerOverlay
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000ff ) );
	width: 100%;
	height: 30%;
	vertical-align: bottom;
}

