/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.RootInnateDisplay
{
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 26px;
	padding: 0px 12px;
	margin-left: -12px;
	margin-right: -8px;
	tooltip-position: top;
	tooltip-body-position: 50% 50%;
	z-index: 2;
	overflow: noclip;
}

#ContentsContainer
{
	height: fit-children;
	width: 40px;
	flow-children: down;
	vertical-align: bottom;
	horizontal-align: center;
}

#ContentsContainer #FacetIcon
{
	horizontal-align: center;
}

.InnateFrame
{
	ignore-parent-flow: true;
	horizontal-align: center;
	width: 38px;
	height: 62px;
	margin-top: 2px;
	opacity: 0.8;
}

.HasNothing.RootInnateDisplay
{
	visibility: collapse;
}

.FacetHolder
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
}

.RootInnateDisplay:not(.HasFacet) .FacetHolder
{
	opacity: 0;
}

#InnateIcon
{
	width: 38px;
	height: 38px;
	horizontal-align: center;
	vertical-align: center;
	tooltip-position: top;
	tooltip-body-position: 50% 25px;
}

#FacetIcon
{
	horizontal-align: center;
	margin-bottom: 6px;
	tooltip-position: top;
	tooltip-body-position: 50% 25px;
}

