/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAGameEnd
{
	width: 100%;
	height: 95%;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	background-color: #00000000;
}

.Season_MonsterHunter DOTAGameEnd
{
	height: 100%;
}

#WinLabelContainer
{
	horizontal-align: center;
	margin-top: -120px;
	width: 1024px;
	height: 640px;
}

#VictoryLabel
{
	horizontal-align: center;
	vertical-align: center;
	font-size: 90px;
	color: white;
	text-align: center;
	text-shadow: 0px 0px 8px 5.0 #A1FFAC11;
	pre-transform-scale2d: 1;
	opacity: 0.0;
	padding-left: 16px;
	padding-right: 16px;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
	animation-duration: 5.1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
}

.DireWin #VictoryLabel
{
	color: black;
	text-shadow: 0px 0px 8px 5.0 #FF3300ff;
}

@keyframes 'LabelGrowDire'
{
	0%
	{
		pre-transform-scale2d: 1.8;
		text-shadow: 0px 0px 8px 5.0 #FF330099;
	}
	
	10%
	{
		pre-transform-scale2d: 0.92;
		text-shadow: 0px 0px 8px 5.0 #FF3300ff;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		text-shadow: 0px 0px 8px 5.0 #FF3300ff;
	}
	
}

@keyframes 'LabelGrow'
{
	0%
	{
		pre-transform-scale2d: 1.8;
		text-shadow: 0px 0px 8px 5.0 #A1FFAC99;
	}
	
	10%
	{
		pre-transform-scale2d: 0.92;
		text-shadow: 0px 0px 8px 5.0 #A1FFACff;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		text-shadow: 0px 0px 8px 5.0 #A1FFAC11;
	}
	
}

.ShowVictory #VictoryLabel,.ShowVictory #VictoryBackgroundScene
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.ShowVictory.RadiantWin #VictoryLabel
{
	animation-name: LabelGrow;
}

.ShowVictory.DireWin #VictoryLabel
{
	animation-name: LabelGrowDire;
}

#VictoryBackgroundScene
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 80% 80%, from( #000000ff ), to( #00000000 ) );
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: top;
	wash-color: #2FCDaF;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	opacity: 0.0;
	pre-transform-scale2d: .2;
	transition-property: opacity, transform, pre-transform-scale2d;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

.LowVisualQuality #VictoryBackgroundScene
{
	visibility: collapse;
}

.DireWin #VictoryBackgroundScene
{
	wash-color: #aa3000;
	hue-rotation: 90deg;
}

#ContinueButton
{
	padding: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 94px;
	opacity: 0.0;
	transition-property: opacity, transform;
	transition-delay: 0.0s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.ContinueVisible #ContinueButton
{
	opacity: 1.0;
}

#ContinueButton Label
{
	margin-top: 2px;
	font-size: 30px;
	color: #FFFFFF;
}

.RadiantWin #ContinueButton
{
	wash-color: #A0F1AB;
}

.DireWin #ContinueButton
{
	wash-color: #E1330E;
}

DOTAGameEnd.FadeDown
{
	background-color: #000000FF;
}

#MatchSignoutDelayedLabel
{
	opacity: 0.0;
	transition-property: opacity;
	transition-duration: 0.5s;
	color: #d03030;
	width: 100%;
	text-align: center;
	horizontal-align: center;
	vertical-align: top;
	padding-top: 20px;
}

.MatchSignoutDelayed #MatchSignoutDelayedLabel
{
	opacity: 1.0;
}

#TeamChallengeImage
{
	opacity: 0.0;
	background-image: url("s2r://panorama/images/compendium/international2018/compendium/2017_international_logo_psd.vtex");
	background-size: 100% 100%;
	width: 300px;
	height: 140px;
	margin-top: 380px;
	horizontal-align: center;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

#TeamChallengeTitle
{
	opacity: 0.0;
	margin-top: 520px;
	font-size: 40px;
	letter-spacing: 2px;
	color: white;
	text-shadow: 2px 2px black;
	horizontal-align: center;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

#TeamChallengeLabel
{
	opacity: 0.0;
	margin-top: 550px;
	font-size: 128px;
	letter-spacing: 2px;
	color: white;
	horizontal-align: center;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.8s;
	transition-timing-function: ease-in;
}

.TeamChallengeFailure #TeamChallengeLabel
{
	text-shadow: 0px 0px 8px 5.0 #FFA1A111;
}

.TeamChallengeSuccess #TeamChallengeLabel
{
	text-shadow: 0px 0px 8px 5.0 #A1FFAC11;
}

#TeamChallengeReward
{
	opacity: 0.0;
	margin-top: 690px;
	horizontal-align: center;
	color: white;
	font-size: 24px;
	text-shadow: 1px 1px black;
	transition-property: opacity, transform;
	transition-delay: 0.8s;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}

.ShowVictory.TeamChallengeActive #TeamChallengeImage,.ShowVictory.TeamChallengeActive #TeamChallengeTitle,.ShowVictory.TeamChallengeActive #TeamChallengeLabel
{
	opacity: 1.0;
}

.ShowVictory.TeamChallengeSuccess #TeamChallengeReward
{
	transform: translateY(16px);
	opacity: 1.0;
}

#WinLabelContainer.MonsterHunter
{
	width: 1024px;
	height: 640px;
	margin-top: -180px;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-duration: 0.7s;
	transition-delay: 1.5s;
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
}

#WinLabelContainer.MonsterHunter .Crest
{
	width: 460px;
	horizontal-align: center;
	vertical-align: center;
}

#WinLabelContainer.MonsterHunter .VictoryLabelContainer
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: right;
}

#WinLabelContainer.MonsterHunter .VictoryLabelContainer .Emblem
{
	vertical-align: center;
	width: 46px;
	height: 26px;
	ui-scale: 75%;
	margin: 0px -6px;
	margin-bottom: 4px;
	img-shadow: 0px 1px 8px black;
}

#WinLabelContainer.MonsterHunter .VictoryLabelContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

#WinLabelContainer.MonsterHunter #VictoryLabel
{
	text-transform: uppercase;
	font-family: titleFont;
	font-size: 46px;
	letter-spacing: 2px;
	text-shadow: none;
	pre-transform-scale2d: 1;
	opacity: 1;
	animation-name: none;
}

#WinLabelContainer.MonsterHunter .WinLabelBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.15, rgba(0, 0, 0, 0.4) ), color-stop( 0.3, rgba(0, 0, 0, 0.8) ), color-stop( 0.5, rgba(0, 0, 0, 1) ), color-stop( 0.7, rgba(0, 0, 0, 0.8) ), color-stop( 0.85, rgba(0, 0, 0, 0.4) ), to( rgba(0, 0, 0, 0) ) );
	margin: 44px 0px 40px;
	opacity: 0.9;
}

#WinLabelContainer.MonsterHunter .VictoryFX
{
	ignore-parent-flow: true;
	width: 60%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
}

.DireWin #WinLabelContainer.MonsterHunter .Crest,.DireWin #WinLabelContainer.MonsterHunter .Emblem
{
	wash-color: #ff3f3f;
}

.DireWin #WinLabelContainer.MonsterHunter #VictoryLabel
{
	color: black;
	font-weight: semi-bold;
	text-shadow: 0px 0px 32px #ff0f0f;
	letter-spacing: -0.1px;
}

.DireWin #WinLabelContainer.MonsterHunter .VictoryFX
{
	wash-color: #ff1e00;
}

.RadiantWin #WinLabelContainer.MonsterHunter .Crest,.RadiantWin #WinLabelContainer.MonsterHunter .Emblem
{
	wash-color: #1bffa4;
}

.RadiantWin #WinLabelContainer.MonsterHunter #VictoryLabel
{
	text-shadow: 0px 0px 32px #00ff9994;
}

.RadiantWin #WinLabelContainer.MonsterHunter .VictoryFX
{
	wash-color: #58ffd8;
}

.ShowVictory #WinLabelContainer.MonsterHunter
{
	opacity: 1;
	transform: none;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: ease-in;
}

.FadeDown #WinLabelContainer.MonsterHunter
{
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
}

.ContinueButtonContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 30px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: translateY( 16px );
}

.ContinueVisible .ContinueButtonContainer
{
	transform: none;
	opacity: 1;
}

.ContinueButtonContainer .ContinueButtonArt
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	width: 600px;
	opacity: 0.8;
}

.ContinueButtonContainer .ContinueButtonArt .Emblem
{
	horizontal-align: center;
	wash-color: rgb(139, 118, 96);
	height: 10px;
	z-index: 1;
}

.ContinueButtonContainer .ContinueButtonArt .Emblem.Top
{
	margin-bottom: -3px;
}

.ContinueButtonContainer .ContinueButtonArt .Emblem.Bottom
{
	transform: scaleY( -1 );
	margin-top: -3px;
}

.ContinueButtonContainer .ContinueButtonArt .ContinueButtonBackground
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0) ), color-stop( 0.15, rgba(0, 0, 0, 0.4) ), color-stop( 0.3, rgba(0, 0, 0, 0.8) ), color-stop( 0.5, rgba(0, 0, 0, 1) ), color-stop( 0.7, rgba(0, 0, 0, 0.8) ), color-stop( 0.85, rgba(0, 0, 0, 0.4) ), to( rgba(0, 0, 0, 0) ) );
	border: 1px solid rgba(255, 229, 194, 0.23);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, rgb(255, 255, 255) ), color-stop( 0.7, rgb(255, 255, 255) ), to( rgba(255, 255, 255, 0) ) );
	width: 100%;
	height: 72px;
}

.ContinueButtonContainer #ContinueButton
{
	wash-color: white;
	width: 260px;
	margin: 16px;
	padding: 0px;
	horizontal-align: center;
	vertical-align: center;
	opacity: 1;
}

