/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAHUDTidehunterArcana
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
	visibility: visible;
}

#SummaryContainer
{
	vertical-align: top;
	flow-children: right;
	horizontal-align: center;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	overflow: noclip;
}

.ParticleWindow
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

.TidehunterEmblem
{
	width: 160px;
	height: 160px;
}

.TidehunterEmblem .EmblemText
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 30px;
	z-index: 100;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 1px 0px 2.0 #202d3e;
	color: gradient( linear, 0% 0%, 0% 100%, from( #d7ecff ), to( #7ed1f5 ) );
	text-align: center;
	font-weight: semi-bold;
	font-family: titleFont;
}

.TidehunterEmblem .FishEmblemText
{
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 30px;
	z-index: 100;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0px 0px 0px 4.0 #7ed1f510;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #7ed1f5 ) );
	text-align: center;
	font-weight: semi-bold;
	font-family: titleFont;
}

#RavagesEmblem .TidehunterRavageEmblemBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/tidehunter_arcana_minigame_style0_sharks_psd.vtex");
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1.0 ;
	animation-name: TidehunterRotateCW;
	animation-duration: 20.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#RavagesEmblem .TidehunterRavageEmblemHighlight
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/tidehunter_arcana_minigame_style0_waterhighlight_psd.vtex");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 20;
	animation-name: TidehunterRotateCCW;
	animation-duration: 12.0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#RavagesEmblem.Hidden
{
	visibility: collapse;
}

#FishEmblem .TidehunterFishEmblemBackground
{
	width: 100%;
	height: 100%;
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
}

#FishEmblem .TidehunterFishEmblemElement
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/tidehunter_arcana_minigame_style1_fish_psd.vtex");
	background-size: 110%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1.0;
}

#FishEmblem.Hidden
{
	visibility: collapse;
}

.DigitContainer
{
	horizontal-align: center;
	vertical-align: center;
	z-index: 100;
}

@keyframes 'TidehunterRotateCCW'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(-180deg);
	}
	
	100%
	{
		transform: rotateZ(-360deg);
	}
	
}

@keyframes 'TidehunterRotateCW'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(180deg);
	}
	
	100%
	{
		transform: rotateZ(360deg);
	}
	
}

.EmblemStyle_FiveOrAbove .EmblemText
{
	text-shadow: 0px 0px 5px 5.0 #ffae0010;
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #f5d57e ) );
}

.TidehunterDigit,.TidehunterComboDigit,.TidehunterFishDigit,.TidehunterBelowComboDigit
{
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	z-index: 20 0;
	transition-property: background-image;
	transition-duration: 0.05s;
}

.TidehunterDigitHidden
{
	visibility: collapse;
}

.ProgressDigit
{
	margin-top: -3px;
}

.ProgressDigit2
{
	margin-right: -20px;
}

.ExpandDigit
{
	animation-name: ExpandDigit;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
}

@keyframes 'ExpandDigit'
{
	0%
	{
		transform: scaleY(1.0) scaleX(1.0);
	}
	
	50%
	{
		transform: scaleY(1.6) scaleX(1.6);
	}
	
	100%
	{
		transform: scaleY(1.0) scaleX(1.0);
	}
	
}

.DigitContainer
{
	ui-scale: 100%;
	flow-children: left;
}

.TidehunterDigit.digit_0
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_png.vtex");
}

.TidehunterDigit.digit_1
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_png.vtex");
}

.TidehunterDigit.digit_2
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_png.vtex");
}

.TidehunterDigit.digit_3
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_png.vtex");
}

.TidehunterDigit.digit_4
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_png.vtex");
}

.TidehunterDigit.digit_5
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_png.vtex");
	margin-left: -2px;
}

.TidehunterDigit.digit_6
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_png.vtex");
}

.TidehunterDigit.digit_7
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_png.vtex");
}

.TidehunterDigit.digit_8
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_png.vtex");
}

.TidehunterDigit.digit_9
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_png.vtex");
}

.TidehunterFishDigit.digit_0
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v2_png.vtex");
}

.TidehunterFishDigit.digit_1
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v2_png.vtex");
}

.TidehunterFishDigit.digit_2
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v2_png.vtex");
}

.TidehunterFishDigit.digit_3
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v2_png.vtex");
}

.TidehunterFishDigit.digit_4
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v2_png.vtex");
}

.TidehunterFishDigit.digit_5
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v2_png.vtex");
	margin-left: -2px;
}

.TidehunterFishDigit.digit_6
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v2_png.vtex");
}

.TidehunterFishDigit.digit_7
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v2_png.vtex");
}

.TidehunterFishDigit.digit_8
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v2_png.vtex");
}

.TidehunterFishDigit.digit_9
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v2_png.vtex");
}

.TidehunterComboDigit.digit_0
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v3_png.vtex");
}

.TidehunterComboDigit.digit_1
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v3_png.vtex");
}

.TidehunterComboDigit.digit_2
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v3_png.vtex");
}

.TidehunterComboDigit.digit_3
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v3_png.vtex");
}

.TidehunterComboDigit.digit_4
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v3_png.vtex");
}

.TidehunterComboDigit.digit_5
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v3_png.vtex");
	margin-left: -2px;
}

.TidehunterComboDigit.digit_6
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v3_png.vtex");
}

.TidehunterComboDigit.digit_7
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v3_png.vtex");
}

.TidehunterComboDigit.digit_8
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v3_png.vtex");
}

.TidehunterComboDigit.digit_9
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v3_png.vtex");
}

.TidehunterBelowComboDigit.digit_0
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_1
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_2
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_3
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v3_png.vtex");
}

.TidehunterBelowComboDigit.digit_4
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_5
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v4_png.vtex");
	margin-left: -2px;
}

.TidehunterBelowComboDigit.digit_6
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_7
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_8
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v4_png.vtex");
}

.TidehunterBelowComboDigit.digit_9
{
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v4_png.vtex");
}

#DigitPreload
{
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v2_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v3_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_0_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_1_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_2_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_3_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_4_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_5_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_6_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_7_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_8_v4_png.vtex"), url("s2r://panorama/images/hud/arcana/tidehunter/numbers/combo_9_v4_png.vtex");
}

