/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAHUDTeleportTime
{
	width: 64px;
	height: 120px;
	background-color: #00000000;
	flow-children: none;
	z-index: -1;
	transform: translateY( -120px );
	padding: 2px;
}

.Hidden
{
	visibility: collapse;
}

.TeleportTimeTextContainerShadow
{
	width: 64px;
	height: 20px;
	border-radius: 40px;
	horizontal-align: center;
	vertical-align: bottom;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(0, 0, 0) ), color-stop( 0.2, rgb(0, 0, 0), to( rgba(0, 0, 0, 0) ) );
	blur: gaussian( 12px );
	opacity: 0.6;
}

.TeleportTimeTextContainer
{
	width: 100%;
	height: 28px;
	flow-children: down;
	horizontal-align: center;
	vertical-align: top;
	background-color: rgba(92, 255, 103, 0.24);
	border: 2px solid rgba(92, 255, 103, 0.2);
	border-radius: 40px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.TeleportTimeTextContainer Label
{
	width: 100%;
	margin-left: 2px;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	color:rgb(230, 248, 255);
	color: gradient( linear, 0% 0%, 0% 100%, from( rgb(255, 255, 255) ), to( rgb(214, 243, 255) ) );
	font-size: 18px;
	font-weight: semi-bold;
	text-shadow: 0px 1.5px 6px 2 black;
}


