/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define phraseOffset: 100px;
@define defaultPhraseHeight: 105px;
@define heroPhraseHeight: 105px;
@define arrowOffset: 60px;
@define phraseMinimumPadding: 20px;
DOTAChatWheel
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: middle;
}

.Hidden
{
	visibility: collapse;
}

#PhrasesContainer
{
	width: 100%;
	height: 100%;
}

.Phrase
{
	flow-children: right;
	pre-transform-scale2d: 1.0;
	height: defaultPhraseHeight;
	transition-property: pre-transform-scale2d;
	transition-duration: 0.1s;
}

.Phrase Label
{
	transition-property: color, ui-scale;
	transition-duration: 0.1s;
	text-shadow: 3px 3px 2px black;
}

.Phrase.IsSpray
{
	height: 64px;
}

.HeroChatWheel .Phrase
{
	height: heroPhraseHeight;
}

.Phrase > Label
{
	vertical-align: middle;
	font-size: 26px;
	color: #FFFFFF;
	font-size: 26px;
	font-weight: bold;
}

.SomethingSelected .Phrase Label
{
	color: #AAA;
}

.SomethingSelected .Phrase.Selected
{
	pre-transform-scale2d: 1.3;
}

.SomethingSelected .Phrase.Selected Label
{
	color: #FFFFFF;
}

.Phrase #ChatWheelEmoticon
{
	margin-left: 10px;
	width: 32px;
	height: 32px;
}

.Phrase #ChatWheelEmoticon.Hidden
{
	visibility: collapse;
}

@keyframes 'TextGlowPulse'
{
	0%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A700;
	}
	
	50%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A7dd;
		color: #ddd;
	}
	
	100%
	{
		text-shadow: 0px 0px 6px 1.0 #AAE9A700;
	}
	
}

.ChatWheelSoundIcon
{
	width: 22px;
	height: 22px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	visibility: collapse;
	vertical-align: center;
}

.Phrase.HasSound:not(.IsSpray) .ChatWheelSoundIcon
{
	visibility: visible;
}

.Phrase.HasSound.RequiresHeroBadgeTier .ChatWheelSoundIcon
{
	visibility: collapse;
}

.ChatWheelAllPrefix
{
	visibility: collapse;
}

.Phrase.SendToAllChat .ChatWheelAllPrefix
{
	visibility: visible;
}

.ChatWheelRequiredTierIcon
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	visibility: collapse;
}

.RequiresHeroBadgeTier .ChatWheelRequiredTierIcon
{
	visibility: visible;
}

.RequiresHeroBadgeTier:not(.RequiredTierUnlocked) Label
{
	opacity: 0.3;
}

.ChatWheelRequiredTierLockIcon,.ChatWheelRequiredTierLockIconShadow
{
	vertical-align: middle;
	horizontal-align: center;
	width: 14px;
	height: 14px;
	background-image: url("s2r://panorama/images/control_icons/lock_small_png.vtex");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.ChatWheelRequiredTierLockIconShadow
{
	transform: translate3d( 2px, 2px, 0px );
	wash-color: black;
}

.RequiredTierUnlocked .ChatWheelRequiredTierLockIcon,.RequiredTierUnlocked .ChatWheelRequiredTierLockIconShadow
{
	visibility: collapse;
}

#LineCanvas
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
}

#Wheel
{
	height: 596px;
	width: 596px;
}

.Slices
{
	width: 600px;
	height: 600px;
}

.Slices #SlicesSelection
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #fffa ), color-stop( 0.2, #fff7 ), to( #fff0 ) );
	opacity: 0.5;
}

.Slices #SlicesSelection.Hidden
{
	visibility: collapse;
}

.SliceBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000f ), color-stop( 0.5, #000c ), to( #0000 ) );
}

.SliceBackground.Even
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #333f ), color-stop( 0.5, #333c ), to( #3330 ) );
}

.SliceBackground.SecondMod
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000f ), color-stop( 0.5, #333c ), to( #4440 ) );
}

.SliceBackground.ThirdMod
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #333f ), color-stop( 0.5, #333c ), to( #3330 ) );
}

#SlicesBackgroundContainer
{
	width: 100%;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharp_png.vtex");
}

.BackgroundPlate
{
	background-image: url("s2r://panorama/images/chat_wheel/background_plate_png.vtex");
	background-position: center;
	background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 180px;
	width: 180px;
}

#WheelBG
{
	background-position: center;
	background-size: contain;
	horizontal-align: center;
	vertical-align: middle;
	height: 180px;
	width: 180px;
	transform: translateY( 6px );
}

#WheelCenter
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_png.vtex");
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}

#WheelBG2
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_bg2_png.vtex");
	background-size: contain;
	background-position: center;
	horizontal-align: center;
	vertical-align: middle;
	height: 128px;
	width: 128px;
}

#WheelPointer
{
	background-image: url("s2r://panorama/images/chat_wheel/circle_pointer_png.vtex");
	background-size: contain;
	horizontal-align: center;
	vertical-align: center;
	height: 128px;
	width: 128px;
	opacity: 0.5;
}

#PointerContainer
{
	height: 180px;
	width: 180px;
	horizontal-align: center;
	vertical-align: middle;
}

#Bubble
{
	background-image: url("s2r://panorama/images/chat_wheel/center_cursor_png.vtex");
	horizontal-align: center;
	vertical-align: middle;
	height: 46px;
	width: 46px;
}

#Cursor
{
	horizontal-align: center;
	vertical-align: middle;
	height: 32px;
	width: 32px;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#Cursor Image
{
	horizontal-align: center;
	vertical-align: middle;
	saturation: 0;
	width: 100%;
	height: 100%;
}

.SomethingSelected #Cursor
{
	opacity: 1;
	transition-duration: 0s;
}

#HeroImage
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.HeroChatWheel #HeroImage,.HasHeroImage #HeroImage
{
	visibility: visible;
}

.HeroChatWheel #Bubble,.HasHeroImage #Bubble
{
	background-image: none;
}

#Arrow
{
	horizontal-align: center;
	vertical-align: middle;
	height: 46px;
	width: 46px;
	margin-left: 2px;
	brightness: 1.6;
	background-image: url("s2r://panorama/images/chat_wheel/arrow_psd.vtex");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.ChatWheelSprayImage
{
	visibility: collapse;
	height: 100%;
	width: height-percentage( 100% );
	horizontal-align: center;
	wash-color: #fff;
}

.IsSpray .ChatWheelSprayImage
{
	visibility: visible;
}

