@import  url( "s2r://panorama/styles/battle_pass/current_battle_pass.vcss_c");


 DOTAPlayerSaluteToast #MainContainer{

  width: 320px;
  height: 100px;
  margin-bottom: 8px;
  horizontal-align: right;
  border: BRD;
  background-color: secondaryGradient;
  box-shadow: 0px 0px 10px #000000;
 }

 .ToastPlayer{

  margin: 8px 8px 4px 8px;
  flow-children: down;
 }

 .ToastPlayerName{

  width: 107px;
  height: 22px;
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 0px black;
  margin-top: 2px;
 }

 DOTAHeroImage{

  width: 107px;
  height: 60px;
  border: 1px solid black;
 }

 #SaluteAction{

  flow-children: down;
  horizontal-align: center;
  vertical-align: middle;
  margin-bottom: 24px;
 }

 #SaluteText{

  vertical-align: middle;
  text-align: center;
  color: accentColorBright;
  text-transform: uppercase;
  margin-top: 4px;
  letter-spacing: 1px;
     max-width: 80px;
 }

 #SourcePlayer{

  horizontal-align: left;
 }


 #TargetPlayer{

  horizontal-align: right;
 }

 #SaluteAction{

  horizontal-align: center;
 }

 DOTAPlayerSaluteToast.Season_PlusSubscription #SaluteText{

  color: white;
 }

 #TipAmount{

  flow-children: right;
  horizontal-align: center;
  margin: 0px 8px;
 }

 #TipIcon{

  width: 24px;
  height: 24px;
  margin-right: 2px;
  vertical-align: middle;


  background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }

 DOTAPlayerSaluteToast.Season_PlusSubscription #TipIcon{

  background-image: url("s2r://panorama/images/dota_plus/currency_icon_png.vtex");
 }

 DOTAPlayerSaluteToast.Season_Frostivus #TipIcon{

     visibility: collapse;
 }

 #TipValue{

  color: textAccentColorBright;
  vertical-align: middle;
  font-weight: bold;
 }

 DOTAPlayerSaluteToast.Season_PlusSubscription #TipValue{

  color: white;
 }

 DOTAPlayerSaluteToast.Season_Frostivus #TipValue{

     visibility: collapse;
 }







 .TI11_Border{

  width: 320px;
  height: 115px;
  vertical-align: top;
  horizontal-align: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }

 .TI11_Foreground{

  vertical-align: center;
  horizontal-align: center;
  background-color: none;
 }

 DOTAPlayerSaluteToast.ti11_silver{

  margin-right: 5px;
 }



 .muerta2023 #SaluteAction{

  padding-top: 32px;
  margin-bottom: 0;
  margin-left: 12px;
 }

 .muerta2023 #SaluteText{

  color: accentColorBright;
  text-shadow: 0px 2px 2px black;
 }

 .muerta2023 #MainContainer{

  padding-top: 26px;
  margin-bottom: 0px;
  height: 120px;
  vertical-align: center;
 }


 .muerta2023 .TI11_Foreground{

  margin-top: -6px;
  width: 340px;
  height: 137px;
  background-size: 100%;
  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_fg_lvl0_psd.vtex");
  horizontal-align: right;
  vertical-align: bottom;
 }

 .muerta2023 .TI11_Background{

  margin-top: -6px;
  width: 340px;
  height: 137px;
  background-size: 100%;
  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_bg_lvl0_psd.vtex");
  vertical-align: bottom;
 }

 .muerta2023 #MainContainer{

  vertical-align: center;
  background-color: none;
  box-shadow: none;
  border: 0px;
 }

 .muerta2023 .ToastPlayerName{

  text-shadow: 0px 0px 6px #000000;
 }


 .BlingParticles0,.BlingParticles1,.BlingParticles2,.BlingParticles3{




  width: 325px;
  height: 150px;
  vertical-align: center;
  horizontal-align: left;
  visibility: collapse;
 }


 .BlingParticlesBG{

  width: 325px;
  height: 150px;
  margin-left: 16px;
  vertical-align: center;
  horizontal-align: left;
  opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
  visibility: collapse;
 }

 .NumRecentTips1 .BlingParticlesBG,.NumRecentTips2 .BlingParticlesBG,.NumRecentTips3 .BlingParticlesBG{



  visibility: visible;
 }



 DOTAPlayerSaluteToast.muerta2023{

  margin-bottom: -30px;
 }



  DOTAPlayerSaluteToast.muerta2023.NumRecentTips0 .BlingParticles0{

   visibility: visible;
  }


 .muerta2023.NumRecentTips1 .TI11_Foreground{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_fg_lvl1_psd.vtex");
 }
 .muerta2023.NumRecentTips1 .TI11_Background{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_bg_lvl1_psd.vtex");
 }
 .muerta2023.NumRecentTips1 .BlingParticles1{

  visibility: visible;
 }

 .muerta2023.NumRecentTips2 .TI11_Foreground{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_fg_lvl2_psd.vtex");
 }
 .muerta2023.NumRecentTips2 .TI11_Background{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_bg_lvl2_psd.vtex");
 }
 .muerta2023.NumRecentTips2 .BlingParticles2{

  visibility: visible;
 }

 .muerta2023.NumRecentTips3 .TI11_Foreground{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_fg_lvl3_psd.vtex");
 }
 .muerta2023.NumRecentTips3 .TI11_Background{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_bg_lvl3_psd.vtex");
 }
 .muerta2023.NumRecentTips3 .BlingParticles3{

  visibility: visible;
 }

 .muerta2023.NumRecentTips4 .TI11_Foreground{

  background-image: url("s2r://panorama/images/events/muerta/muerta_silver_tip_fg_lvl3_psd.vtex");
 }
 .muerta2023.NumRecentTips4 .BlingParticles3{

  visibility: visible;
 }



























 .ti11_silver #MainContainer{

  margin-top: 10px;
  margin-bottom: 0px;
 }

 .TI11_SilverBorder{

  width: 325px;
  height: 120px;
  background-image: url("s2r://panorama/images/battlepass/international2022/ti11_silver_tip_fg_psd.vtex");
 }





 .ti11_gold #MainContainer{

  margin-right: 10px;
  margin-top: 13px;
 }

 .ti11_gold #SaluteAction{

  margin-bottom: 15px;
  margin-left: 2px;
 }


 .TI11_GoldBorder{

  width: 338px;
  height: 130px;
  background-image: url("s2r://panorama/images/battlepass/international2022/ti11_gold_tip_fg_psd.vtex");
}