/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#CourierControlsTopRow
{
	flow-children: right;
}

#CourierControls
{
	width: 100%;
	height: 100%;
	margin-left: 4px;
	visibility: visible;
	flow-children: right;
}

.CourierDead #CourierControls
{
	visibility: collapse;
}

#DeadCourierPanel
{
	visibility: collapse;
	flow-children: right;
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip noclip;
}

.CourierDead:not(.NoCourier) #DeadCourierPanel
{
	visibility: visible;
}

.CourierButton
{
	width: 28px;
	height: width-percentage( 100% );
	vertical-align: center;
	margin: 0px 3px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #6882b172 ), color-stop( 0.75, #6882b125 ), to( #6882b100 ) );
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.5);
	border-radius: 80px;
	border: 1.5px solid rgba(255, 255, 255, 0.9);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #c6daff ), to( #6882B1 ) );
	transition-property: brightness;
	transition-duration: 0.05s;
	tooltip-position: top;
	context-menu-position: top;
}

.CourierButton .CourierButtonIcon
{
	width: 28px;
	height: width-percentage( 100% );
	padding: 4px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 1px 4px black;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #c6daff ), to( #6882B1 ) );
}

.CourierButton:hover
{
	brightness: 2;
}

.ScoutButton
{
	height: 32px;
	width: 32px;
	background-size: 100% 100%;
	overflow: noclip noclip;
	wash-color: yellow;
}

.NoCourier #SelectCourierButton
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffdc71 ), to( #bc8b2e ) );
}

.NoCourier #SelectCourierButton .CourierButtonIcon
{
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #ffdc71 ), to( #da9e2f ) );
}

#DeliverItemsButton
{
	margin: 0px;
	width: 48px;
	height: width-percentage(100%);
	vertical-align: center;
	tooltip-position: top;
	context-menu-position: top;
}

#DeliverItemsButton .CourierButton
{
	horizontal-align: center;
	width: 40px;
	margin: 0px;
	border-width: 2px;
}

#DeliverItemsButton .CourierButton .CourierButtonIcon
{
	width: 32px;
}

.NoCourier #DeliverItemsButton .CourierButton
{
	saturation: 0.2;
	border: 1.5px solid rgba(255, 255, 255, 0.2);
	background-color: none;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.NoCourier #DeliverItemsButton .CourierButton .CourierButtonIcon
{
	opacity: 0.3;
}

.DeliveringToHero #DeliverItemsButton .CourierButton,.GoingToFountain #DeliverItemsButton .CourierButton,.GoingToSecretShop #DeliverItemsButton .CourierButton,.AtSecretShop #DeliverItemsButton .CourierButton
{
	visibility: collapse;
}

#DeliverItemsButton .CourierAutoStatus
{
	margin-top: 3px;
	margin-left: -22px;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #c6daff ), to( #6882B1 ) );
	border: 1px solid #300;
	horizontal-align: right;
	vertical-align: bottom;
	opacity: 0;
	transition-property: opacity;
	transition-duration: .28s;
	transition-timing-function: ease-in-out;
}

#DeliverItemsButton .CourierAutoStatus Label
{
	font-size: 12px;
	height: 16px;
	width: 16px;
	color: black;
	horizontal-align: right;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
}

.AutoModeOn.DeliveringToHero:not(.ExecutingManualOrder) #DeliverItemsButton .CourierAutoStatus,.AutoModeOn.GoingToFountain:not(.ExecutingManualOrder) #DeliverItemsButton .CourierAutoStatus,.AutoModeOn.GoingToSecretShop:not(.ExecutingManualOrder) #DeliverItemsButton .CourierAutoStatus
{
	opacity: 1;
}

#Spinner
{
	width: 46px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	animation-name: SpinnerRotate;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: reverse;
	visibility: collapse;
}

.DeliveringToHero #Spinner,.GoingToFountain #Spinner,.Moving #Spinner,.GoingToSecretShop #Spinner
{
	visibility: visible;
}

.Paused #Spinner
{
	animation-name: none;
}

#CourierBurstButton
{
	visibility: collapse;
}

.HasBurstAbility #CourierBurstButton
{
	visibility: visible;
}

.HasBurstAbility:not(.BurstReady) #CourierBurstButton
{
	visibility: visible;
	saturation: 0.2;
	border: 1.5px solid rgba(255, 255, 255, 0.2);
	background-color: none;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.HasBurstAbility:not(.BurstReady) #CourierBurstButton .CourierButtonIcon
{
	opacity: 0.3;
}

.HideBurstCooldown #CourierBurstButton #BurstCooldownLabel
{
	visibility: collapse;
}

.BurstReady #CourierBurstButton #BurstCooldownLabel
{
	visibility: collapse;
}

#CourierShieldButton
{
	visibility: collapse;
}

.HasShieldAbility #CourierShieldButton
{
	visibility: visible;
}

.HasShieldAbility:not(.ShieldReady) #CourierShieldButton
{
	visibility: visible;
	saturation: 0.2;
	border: 1.5px solid rgba(255, 255, 255, 0.2);
	background-color: none;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.HasShieldAbility:not(.ShieldReady) #CourierShieldButton .CourierButtonIcon
{
	opacity: 0.3;
}

.HideShieldCooldown #CourierShieldButton #ShieldCooldownLabel
{
	visibility: collapse;
}

.ShieldReady #CourierShieldButton #ShieldCooldownLabel
{
	visibility: collapse;
}

#BurstCooldownLabel,#ShieldCooldownLabel
{
	color: white;
	font-size: 14px;
	font-weight: bold;
	font-family: monospaceNumbersFont;
	margin-bottom: 1px;
	text-shadow: 0px 1px 8px black;
	width: 100%;
	vertical-align: center;
	text-align: center;
	visibility: visible;
}

#HeroImage
{
	width: 26px;
	height: 26px;
	visibility: collapse;
	z-index: 2;
	vertical-align: center;
	horizontal-align: center;
}

.DeliveringToHero #HeroImage
{
	visibility: visible;
}

#FountainImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 28px;
	height: width-percentage( 100% );
	padding: 4px;
	margin-bottom: 2px;
	img-shadow: 0px 1px 4px black;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #c6daff ), to( #6882B1 ) );
	visibility: collapse;
}

.GoingToFountain #FountainImage
{
	visibility: visible;
}

#SecretShopImage
{
	horizontal-align: center;
	vertical-align: center;
	width: 28px;
	height: width-percentage( 100% );
	padding: 4px;
	margin-bottom: 2px;
	img-shadow: 0px 1px 4px black;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #ef3b4d ), to( #e02828 ) );
	visibility: collapse;
}

.GoingToSecretShop #SecretShopImage,.AtSecretShop #SecretShopImage
{
	visibility: visible;
}

#CourierDeadIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/icon_courier_dead_psd.vtex");
	background-size: 100% 100%;
	width: 26px;
	height: 26px;
	margin-right: 10px;
	vertical-align: center;
}

#CourierRespawnTimer
{
	color: #dc3535;
	font-size: 26px;
	margin-top: 3px;
	min-width: 55px;
	font-family: monospaceNumbersFont;
	text-shadow: 1px 1px 2px 3 #00000033;
}

.NoCourier #CourierRespawnTimer
{
	visibility: collapse;
}

#ItemsOnCourierBackground
{
	margin-top: 3px;
	margin-left: -22px;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: #bf481e;
	border: 1px solid #300;
	horizontal-align: right;
	vertical-align: top;
	pre-transform-scale2d: 0;
	opacity: 0;
	transition-property: opacity, pre-transform-scale2d;
	transition-duration: .28s;
	transition-timing-function: ease-in-out;
}

#ItemsOnCourier
{
	margin-top: 1px;
	font-size: 16px;
	height: 22px;
	width: 22px;
	color: white;
	horizontal-align: right;
	vertical-align: top;
	text-align: center;
}

.HasItemsOnCourier #ItemsOnCourierBackground
{
	pre-transform-scale2d: 1;
	opacity: 1;
}

.NoItemsOnCourier #ItemsOnCourierBackground
{
	pre-transform-scale2d: 0;
	opacity: 0;
}

#OtherHeroDeliver
{
	width: 24px;
	height: 24px;
	z-index: 100;
	horizontal-align: right;
	vertical-align: bottom;
	margin: 4px;
	saturation: 0.7;
	brightness: 0.4;
	transition-property: saturation, brightness, opacity;
	transition-duration: 0.05s;
	transition-timing-function: ease-in-out;
	opacity: 0.0;
}

.HasOtherHeroItems #OtherHeroDeliver
{
	opacity: 1.0;
}

#OtherHeroDeliver:hover
{
	saturation: 1.0;
	brightness: 1.0;
}

#AutoCourierButton
{
	margin: 0px 1px;
	visibility: collapse;
	tooltip-position: top;
	context-menu-position: top;
}

#AutoCourierButton.Visible
{
	visibility: visible;
}

.HotkeyContainer
{
	width: 16px;
	height: 16px;
	margin-top: 8px;
	margin-left: 0px;
	z-index: 5;
	margin-right: -16px;
	visibility: collapse;
}

.HotkeyContainer Label
{
	color: LightestGrey;
}

.Hotkey
{
	z-index: 16;
	vertical-align: top;
	horizontal-align: left;
	min-width: 16px;
	min-height: 16px;
	max-width: 70px;
	max-height: 15px;
	white-space: nowrap;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #212726;
	box-shadow: fill #0000007f 1px 1px 6px -1px;
	border-radius: 3px;
	border: 1px solid black;
}

.HotkeyText
{
	color: #bba995;
	text-shadow: 1px 1px 0px 2 #000000;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	horizontal-align: center;
	margin: 0px 0px -2px 0px;
}

.HasSelectCourierHotkey #SelectCourierHotkey
{
	visibility: visible;
}

DOTAHud.IsLocalPlayerSpectatingAllTeams .HasSelectCourierHotkey #SelectCourierHotkey,DOTAHud.IsLocalPlayerLiveSpectating .HasSelectCourierHotkey #SelectCourierHotkey
{
	visibility: collapse;
}

.HasCourierBurstHotkey #CourierBurstHotkey
{
	visibility: visible;
}

DOTAHud.IsLocalPlayerSpectatingAllTeams .HasCourierBurstHotkey #CourierBurstHotkey,DOTAHud.IsLocalPlayerLiveSpectating .HasCourierBurstHotkey #CourierBurstHotkey
{
	visibility: collapse;
}

.HasBurstAbility:not(.BurstReady) #CourierBurstHotkey
{
	visibility: collapse;
}

.HasCourierShieldHotkey #CourierShieldHotkey
{
	visibility: visible;
}

DOTAHud.IsLocalPlayerSpectatingAllTeams .HasCourierShieldHotkey #CourierShieldHotkey,DOTAHud.IsLocalPlayerLiveSpectating .HasCourierShieldHotkey #CourierShieldHotkey
{
	visibility: collapse;
}

.HasShieldAbility:not(.ShieldReady) #CourierShieldHotkey
{
	visibility: collapse;
}

.HasCourierDeliverHotkey #CourierDeliverHotkey
{
	visibility: visible;
}

DOTAHud.IsLocalPlayerSpectatingAllTeams .HasCourierDeliverHotkey #CourierDeliverHotkey,DOTAHud.IsLocalPlayerLiveSpectating .HasCourierDeliverHotkey #CourierDeliverHotkey
{
	visibility: collapse;
}

.HasAutoCourierHotkey #AutoCourierHotkey
{
	visibility: visible;
}

DOTAHud.IsLocalPlayerSpectatingAllTeams .HasAutoCourierHotkey #AutoCourierHotkey,DOTAHud.IsLocalPlayerLiveSpectating .HasAutoCourierHotkey #AutoCourierHotkey
{
	visibility: collapse;
}

#AutoDeliverViolator
{
	margin-top: 12px;
	margin-left: -12px;
}

DOTAHud.IsLocalPlayerSpectating #AutoDeliverViolator
{
	visibility: collapse;
}


