/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATalentChangedItem
{
	horizontal-align: right;
	height: fit-children;
	transition-property: transform;
	transition-timing-function: ease-out;
	transition-duration: 0.51s;
}


