/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAHeroStatue
{
	visibility: collapse;
}

DOTAHeroStatue.Visible
{
	visibility: visible;
}

.MainBody
{
	width: 600px;
	height: 400px;
	padding: 16px;
	flow-children: down;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/textures/effigy_rock_psd.vtex");
	background-size: cover;
	box-shadow: 0px 4px 32px -4px rgba(0, 0, 0, 0.6);
	margin-right: 24px;
}

.ParticleEffigy .MainBody
{
	padding: 0px;
}

#ParticleEffigy
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.ParticleEffigy #ParticleEffigy
{
	visibility: visible;
}

#ParticleEffigy .MainBodyBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

#ParticleEffigy .TIBrandingContainer
{
	width: 100%;
	height: 52px;
	background-color: black;
	background-color: gradient( linear, 20% 0%, 100% 0%, from( #07050200 ), color-stop( 0.5, #432e10a3 ), to( #49321A ) );
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	border-brush: gradient( linear, 20% 0%, 60% 0%, from( #ffffff00 ), to( #ffffff ) );
}

#ParticleEffigy .TIBrandingContainer .TIBrandingLogosContainer
{
	flow-children: right;
	vertical-align: center;
	horizontal-align: right;
	margin-right: 12px;
}

#ParticleEffigy .TIBrandingContainer .TIBrandingLogosContainer Image
{
	img-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#ParticleEffigy .TIBrandingContainer .TIBrandingLogosContainer .TIlogo
{
	vertical-align: center;
	height: 32px;
	margin-left: 4px;
}

#ParticleEffigy .TIBrandingContainer .TIBrandingLogosContainer .TIscript
{
	vertical-align: center;
	height: 38px;
	margin-top: -2px;
}

#ParticleEffigy .TIBrandingContainer .BokehFX
{
	width: 50%;
	height: 100%;
	horizontal-align: right;
}

#ParticleEffigy .TIBrandingContainer .BokehFX.Blur
{
	width: 100%;
	blur: gaussian(4px);
	opacity-brush: gradient( linear, 100% 0%, 0% 0%, from( #ffffff82 ), color-stop( 0.5, #ffffff1d ), to( #ffffff00 ) );
}

#ParticleEffigy .EffigyGlow
{
	width: 300px;
	height: 300px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffffffc4 ), color-stop( 0.5, #ffffff1d ), to( #ffffff00 ) );
	wash-color: rgb(198, 207, 255);
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #ffffff00 ) );
	opacity: 0.5;
}

#ParticleEffigy .EffigyShadow
{
	width: 240px;
	height: 140px;
	margin-left: 30px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop( 0.5, #000000ee ), to( #00000000 ) );
	vertical-align: bottom;
	opacity: 0.6;
}

#ParticleEffigy .TeamLogoEffigyModelScene
{
	width: 300px;
	height: 140%;
	y: -40px;
	vertical-align: center;
	overflow: noclip;
}

#ParticleEffigy .EffigyInfoContainer
{
	flow-children: down;
	vertical-align: center;
	margin-right: 16px;
	margin-left: 300px;
	width: 100%;
}

#ParticleEffigy .EffigyInfoContainer Label
{
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

#ParticleEffigy .EffigyInfoContainer .EffigyName
{
	color: LightestGrey;
	margin-bottom: 12px;
}

#ParticleEffigy .EffigyInfoContainer .EffigySupporHeader
{
	color: LightGrey;
	margin-bottom: 6px;
}

#ParticleEffigy .EffigyInfoContainer .EffigySupporterContainer
{
	flow-children: right;
}

#ParticleEffigy .EffigyInfoContainer .EffigySupporterContainer #SupporterAvatar
{
	width: 36px;
	height: 36px;
	vertical-align: center;
	background-color: DarkestGrey;
	border-radius: 3px;
	border: 1px solid black;
}

#ParticleEffigy .EffigyInfoContainer .EffigySupporterContainer .SupporterName
{
	vertical-align: center;
	margin-left: 8px;
}

.ParticleEffigy #Normal
{
	visibility: collapse;
}

#Tournament
{
	flow-children: down;
	width: 300px;
	visibility: collapse;
}

.TournamentStatue.HasTournamentMatchData #Tournament
{
	visibility: visible;
}

#Tournament #TournamentLogo
{
	width: 260px;
	height: 100px;
	box-shadow: #000000aa 0px 0px 6px 0px ;
}

#Tournament .TeamLogos
{
	flow-children: right;
	width: 260px;
	margin-top: 12px;
}

#Tournament .TeamLogos > Label
{
	vertical-align: middle;
	text-align: center;
	margin: 0px 12px;
	width: fill-parent-flow( 1.0 );
}

#Tournament .TeamLogos .TeamLogo
{
	width: 120px;
	height: 72px;
	ui-scale: 75%;
	vertical-align: center;
}

#Tournament #TournamentEvent
{
	width: 260px;
	margin-top: 12px;
	font-weight: bold;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#Tournament #TournamentEventDetails
{
	width: 260px;
	color: #999;
	font-size: 16px;
}

#Normal
{
	flow-children: down;
	width: 300px;
	visibility: visible;
}

.TournamentStatue #Normal
{
	visibility: collapse;
}

#Normal #EffigyTypeHeader
{
	font-family: titleFont;
	color: whitesmoke;
}

#Normal #Inscription
{
	color: tan;
	font-style: italic;
}

#Normal #NoInscription
{
	font-style: italic;
	color: #666;
	visibility: visible;
}

.HasInscription #Normal #NoInscription
{
	visibility: collapse;
}

#Normal #CreatedByHeader
{
	margin-top: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	color: #999;
}

#Normal #CreatedBy
{
	color: white;
}

#LikeButton
{
	width: 32px;
	height: 32px;
	background-color: black;
	wash-color: #7595B5;
	background-image: url("s2r://panorama/images/icon_thumbs_up_png.vtex");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70%;
	visibility: visible;
}

.LikeHidden #LikeButton
{
	visibility: collapse;
}

#LikeButton:hover
{
	wash-color: #FFFFFF;
}

.Liked #LikeButton
{
	background-image: url("s2r://panorama/images/control_icons/check_png.vtex");
}

.Liked #LikeButton:hover
{
	wash-color: #7595B5;
}

#LikesLabel
{
	color: #999;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#HeroStatuePreview
{
	width: 600px;
	height: 600px;
	transform: translateX( 100px );
	horizontal-align: right;
}

.ParticleEffigy #HeroStatuePreview
{
	visibility: collapse;
}

