/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPlayerGiftToast
{
	flow-children: down;
	margin-bottom: 8px;
	horizontal-align: right;
	background-image: url("s2r://panorama/images/events/frostivus/2024/event_tile_background_psd.vtex");
	background-size: cover;
	background-position: 50% 20%;
	border: 2px solid black;
	box-shadow: 0px 8px 64px -2px #000000d6;
}

#MainContainer
{
	flow-children: right;
	padding: 8px;
}

.ToastPlayer
{
	margin: 8px 8px 4px 8px;
	flow-children: down;
}

.ToastPlayerName
{
	width: 107px;
	height: 22px;
	text-align: center;
	font-size: 16px;
	text-shadow: 1px 1px 0px black;
	margin-top: 2px;
}

DOTAHeroImage
{
	width: 107px;
	height: 60px;
	border: 1px solid black;
	box-shadow: 0px 4px 12px -2px #0000007c;
}

#ToastHeader
{
	width: 100%;
	padding: 12px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #141a1d ), color-stop( 0.5, #2e404b), to( #141a1d ) );
}

#ToastHeader #GiftText
{
	text-align: center;
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFFFFF ), to( #B89558 ) );
	text-shadow: 0px 2px 10px 1 rgba(0, 0, 0, 0.8);
}

.CellHeaderDash
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #D3B66600 ), color-stop( 0.4, #D3B666), color-stop( 0.6, #D3B666), to( #D3B66600 ) );
	opacity: 0.2;
}

.RedEnvelopeContainer
{
	flow-children: down;
	vertical-align: center;
}

.RedEnvelopeContainer .RedEnvelopeIcon
{
	width: 48px;
	height: width-percentage( 100% );
	horizontal-align: center;
	margin: 0px 8px;
	img-shadow: 0px 2px 12px rgba(0, 0, 0, 0.856);
}

.RedEnvelopeContainer .ArrowIcon
{
	horizontal-align: center;
	wash-color: rgb(130, 176, 209);
	img-shadow: 0px 1px 4px black;
}

