DOTANeutralItemPicker{
  flow-children: down;
  background-color: #000c;
  border: 1px solid black;
  horizontal-align: center;
  vertical-align: middle;
  padding: 8px 8px 0px 8px;
  margin-left: 632px;
  margin-top: 200px;

  opacity: 0.0;
  transform: translateY( 20px );

  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

 DOTANeutralItemPicker.ShowPicker{
  opacity: 1.0;
  transform: none;
 }

 .Header{
  width: 100%;
  margin-bottom: 4px;
  flow-children: right;
 }
  .Header .HeaderText{
   flow-children: down;
   width: fill-parent-flow( 1.0 );
  }
   .Header .HeaderText .Title{
    width: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ccc;
    font-size: 18px;
    letter-spacing: 2px;
   }

   .Header .HeaderText .Subtitle{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #666;
    font-size: 16px;
   }


  .Header .CloseButton{
   horizontal-align: right;
   margin: 0px;
   height: 32px;
   width: 32px;
  }


 .NeutralItemTier1 .NeutralItemTier{  color: NeutralTier1;}
 .NeutralItemTier2 .NeutralItemTier{  color: NeutralTier2;}
 .NeutralItemTier3 .NeutralItemTier{  color: NeutralTier3;}
 .NeutralItemTier4 .NeutralItemTier{  color: NeutralTier4;}
 .NeutralItemTier5 .NeutralItemTier{  color: NeutralTier5;}

 #NeutralItemOptions{
  flow-children: down;
  horizontal-align: center;
 }
  #NeutralItemOptions .NeutralItemOption{
   flow-children: right;
   width: 340px;
   margin-bottom: 8px;
   ui-scale: 90%;

   border: 1px solid #141919;
   background-color: #10171D;

   transition-property: brightness;
   transition-duration: 0.2s;
  }
   #NeutralItemOptions .NeutralItemOption:hover{
    brightness: 2.0;
   }


   #NeutralItemOptions .NeutralItemOption:active{
    brightness: 1.5;
   }

   #NeutralItemOptions .NeutralItemOption #ItemImage{
    width: 88px;
    height: 64px;
   }

   #NeutralItemOptions .NeutralItemOption .ItemName{
    font-family: titleFont;
    font-size: 18px;
    color: #e1e1e1;
    width: fill-parent-flow( 1.0 );
    vertical-align: middle;
    padding: 0px 8px;
    text-overflow: shrink;
    letter-spacing: 0.5px;
    text-shadow: 2px 2px 0px 1.0 #00000090;
    text-transform: uppercase;
    font-weight: semi-bold;
}