/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define rhythmHudHeight: 200px;
DOTALargoUltimateRhythm
{
	horizontal-align: center;
	vertical-align: bottom;
	height: 400px;
	width: 100%;
	max-width: 550px;
	ignore-parent-flow: true;
	visibility: collapse;
	transform: translateX( -11px );
}

DOTALargoUltimateRhythm.Overhead.EnableOverheadHUD
{
	height: 180px;
	width: 200px;
	margin-left: 20px;
	horizontal-align: left;
	vertical-align: top;
}

.IsLargo DOTALargoUltimateRhythm.Overhead.EnableOverheadHUD
{
	visibility: visible;
}

DOTALargoUltimateRhythm.Overhead.EnableOverheadHUD .LabelContainer
{
	ui-scale: 80%;
	y: 20px;
	x: -8px;
}

DOTALargoUltimateRhythm.Overhead.EnableOverheadHUD.Hidden
{
	visibility: collapse;
}

.IsLargo DOTALargoUltimateRhythm.FixedHUD.EnableFixedHUD
{
	visibility: visible;
}

DOTALargoUltimateRhythm.FixedHUD.EnableFixedHUD.Hidden
{
	visibility: collapse;
}

DOTALargoUltimateRhythm.NotEnoughMana
{
	wash-color: #1569be;
}

DOTALargoUltimateRhythm.Disabled
{
	wash-color: #666666;
}

#BackgroundParticle,#FeedbackParticle,#TimerParticle,#PlayheadParticle,#PlayheadParticle2
{
	width: 100%;
	height: rhythmHudHeight;
	vertical-align: top;
}

#BackgroundParticle,#FeedbackParticle,#TimerParticle
{
	transform: translateX( 11px );
}

#FeedbackParticle
{
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

