/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAChatWheelMessage
{
	flow-children: right;
}

.ArrowIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-image: url("s2r://panorama/images/control_icons/chat_wheel_icon_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.HasSound .ArrowIcon
{
	visibility: collapse;
}

.IsSpray .ArrowIcon
{
	vertical-align: middle;
}

#SoundIcon
{
	width: 20px;
	height: 20px;
	margin-right: 4px;
	visibility: collapse;
	background-image: url("s2r://panorama/images/hud/reborn/icon_scoreboard_mute_sound_psd.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.HasSound #SoundIcon
{
	visibility: visible;
}

#SoundIcon:hover
{
	brightness: 2.0;
}

#SoundIcon:active
{
	brightness: 1.5;
}

#SprayImage
{
	width: 128px;
	height: 128px;
	visibility: collapse;
}

.IsSpray #SprayImage
{
	visibility: visible;
}

.TextContents
{
	flow-children: down;
}

.SendToAllText
{
	color: #999;
	margin-right: 4px;
	visibility: collapse;
}

.ShowSendToAll .SendToAllText
{
	visibility: visible;
}

.MessageText
{
	color: #FAEAC9;
	text-shadow: 1px 1.5px 0px 2 #000000;
	font-weight: bold;
}

.PreGameChat .MessageText
{
	font-weight: normal;
}

PopupSettings .MessageText
{
	font-weight: normal;
	color: #fff;
}

PopupSettings .MessageIsLocked .MessageText
{
	color: #666;
}

.BronzeTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fce8a2 ), to( #f7c184 ) );
}

.SilverTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #f1fbfc ), to( #acd7e0 ) );
}

.GoldTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #f8f7e7 ), to( #f8ef5a ) );
}

.PlatinumTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #fbffff ), to( #5c9dff ) );
}

.MasterTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #e5a7ff ), to( #b300ff ) );
}

.GrandmasterTier .MessageText
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #f7ee8b ), to( #d6191c ) );
}

#Emoticon
{
	width: 26px;
	height: 26px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( -3px );
	visibility: collapse;
}

.HasEmoticon #Emoticon
{
	visibility: visible;
}

.MessageTranslation
{
	color: #999;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 1px 1.5px 0px 2 #000000;
	visibility: collapse;
}

.HasTranslation .MessageTranslation
{
	visibility: visible;
}

.MessageSource
{
	color: #999;
	margin-left: 8px;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	text-shadow: 1px 1.5px 0px 2 #000000;
	visibility: collapse;
}

.HasSource .MessageSource
{
	visibility: visible;
}

