@define Collection_Heroes_SetTile_Width:  230px;
 @define Collection_Heroes_SetTile_Height: 346px;

 @define Collection_Heroes_SetTile_Width_Popup: 231px;
 @define Collection_Heroes_SetTile_Height_Popup: 340px;

 @define Collection_Heroes_ItemTile_Width: 172px;
 @define Collection_Heroes_ItemTile_Height: 222px;

 @define Collection_Heroes_ItemTile_Width_Popup: 206px;
 @define Collection_Heroes_ItemTile_Height_Popup: 246px;

 @define Collection_Global_ItemTile_Animated_Width: 206px;
 @define Collection_Global_ItemTile_Animated_Height: 254px;

 @define Collection_Global_ItemTile_Animated_Width_Popup: 231px;
 @define Collection_Global_ItemTile_Animated_Height_Popup: 288px;

 @define Collection_Global_ItemTile_Static_Width: 206px;
 @define Collection_Global_ItemTile_Static_Height: 246px;

 @define Collection_Global_ItemTile_Static_Width_Popup: 231px;
 @define Collection_Global_ItemTile_Static_Height_Popup: 268px;

 @define Collection_Shards_ChatWheelTile_Width: 150px;
 @define Collection_Shards_ChatWheelTile_Height: 156px;

 @define Collection_Global_ItemTile_Sticker_Width: 228px;
 @define Collection_Global_ItemTile_Sticker_Height: 228px;

 @define Collection_Tooltip_Delay: 0.7;


 @define ItemTileWidth: 206px;
 @define ItemTileHeight: 246px;

 @define ItemTileWidth_Loadout: 220px;
 @define ItemTileHeight_Loadout: 249px;

 @define ItemsContainerBackgroundGradient: gradient( radial, 0% 0%, 0% 0%, 140% 100%, from( #202833e4 ), to( #06080e ) );


 #ShuffleToggleButton{
     visibility: collapse;
 }
  .CollectionGroup_Global.ShuffleAvailable #ShuffleToggleButton,.CollectionGroup_Heroes.Sets #ShuffleToggleButton,.FullSetPicker #ShuffleToggleButton,.IsGlobalLoadout #ShuffleToggleButton{



         visibility: visible;
  }


 #ItemsGroupShuffleToggle{
  margin-left: 8px;
  margin-top: 2px;
     visibility: collapse;
 }
  #ItemsGroupShuffleToggle #ShuffleToggleButton{
   visibility: visible;
  }

  #ItemsGroupShuffleToggle.ShuffleAvailable{
   visibility: visible;
  }



     DOTACollectionPageTreasury #StackDuplicatesToggleButton{
         visibility: collapse;
     }


 #StackDuplicatesToggleButton{
  margin-left: 8px;
 }
     .CollectionGroup_Heroes.Sets #StackDuplicatesToggleButton{
         visibility: collapse;
     }




 .IconToggleButton{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 5px 36px 5px 6px;
  border: 1px solid transparent;

  border-brush: WhiteGradientBorderSoft;
  vertical-align: center;
  tooltip-position: top;
  height: 32px;

  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 36px center;
  background-img-opacity: 0.5;
  img-shadow: 0px 1px 4px black;

  transition-property: background-color, border, brightness, background-img-opacity, box-shadow, border-radius;
  transition-duration: 0.1s;
  transition-timing-function: ease;
 }
  .IconToggleButton:hover{
   brightness: 2;
   background-img-opacity: 0.75;
   z-index: 1;
   border: 1px solid white;
   border-brush: WhiteGradientBorderSoft;
   background-color: gradient( linear, 0% -0%, 0% 120%, from( #3a434f5e ), to( #0d0e1186 ) );
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  }







  .IconToggleButton.StackDuplicates{
   background-image: url("s2r://panorama/images/control_icons/24px/stack_duplicates.vsvg");
  }

  .IconToggleButton.Shuffle{
   background-image: url("s2r://panorama/images/control_icons/24px/shuffle.vsvg");
  }

  .IconToggleButton:active{
   background-color: gradient( linear, 0% -20%, 0% 120%, from( #0d0e1186 ), to( #3a434f5e ) );
   brightness: 0.8;
   background-position: 36px 54%;
  }

  .IconToggleButton:selected{
   background-img-opacity: 1;
   img-shadow: 0px 0px 16px rgba(153, 194, 255, 0.304);
   background-color: gradient( linear, 0% -0%, 0% 120%, from( #53607183 ), to( #21242f86 ) );
   border: 1px solid white;
   border-brush: WhiteGradientBorderSoft;
   box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  }



    .CollectionGroup_Global .IconToggleButton.Shuffle:selected{
     border-radius: 0px 3px 3px 0px;
    }






 .ViewerContainerBorder{
  ignore-parent-flow: true;
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-brush: gradient( linear, 0% 0%, 5% 60%, from( rgba(255,255,255,0.04) ), to( rgba(255,255,255,0.01) ) );
 }
  #DOTACollectionPageShards .ViewerContainerBorder{
   border-brush: gradient( linear, 0% 0%, 20% 50%, from( dotaPlusGold&33 ), to( rgba(255,255,255,0.01) ) );
  }



 .ItemStatusFilters{
     width: 100%;
     flow-children: right;
     min-height: 44px;

     padding: 6px 10px 6px 12px;
     background-color: gradient( linear, 0% 0%, 0% 100%, from( #434f5e5e ), to( #17191f86 ) );
     box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2);
     background-img-opacity: 0.5;
 }
     .ItemStatusFilters .FiltersContainer{
   vertical-align: center;
     }
         .ItemStatusFilters .FiltersContainer ToggleButton{
             margin-top: -1px;
    vertical-align: center;
         }
             .ItemStatusFilters .FiltersContainer ToggleButton Label{
                 text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
             }



             .ItemStatusFilters .FiltersContainer ToggleButton:selected Label{
                 color: LightestGrey;
             }



     .ItemStatusFilters .Dash{
         width: fill-parent-flow( 1.0 );
         height: 1px;
         vertical-align: center;
         opacity: 0.06;
         opacity: 0;
         margin-right: 8px;
     }
         .ItemStatusFilters .Dash.Left{
             background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), to( #FFFFFF ) );
         }

         .ItemStatusFilters .Dash.Right{
             background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF ), to( #FFFFFF00 ) );
         }

         .ItemStatusFilters .Dash.Full{
             background-color: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, #ffffff ), color-stop( 0.8, #ffffff ), to( #FFFFFF00 ) );
         }


     .ItemStatusFilters .FiltersContainer{
         flow-children: right;
     }
         .ItemStatusFilters .FiltersContainer .GroupLabel{
             vertical-align: center;
             margin-right: 8px;
         }

         .ItemStatusFilters .FiltersContainer ToggleButton{
             margin-right: 8px;
         }

         .ItemStatusFilters .FiltersContainer .InfoIcon{
             margin-right: 12px;
             margin-left: -8px;
             margin-top: 1px;
             tooltip-position: top;
         }


  #DOTACollectionPageShards .ItemStatusFilters{
   visibility: collapse;
  }






  .abaddon #HeroBackgroundImage,.abaddon .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ancient_apparition_psd.vtex");}
  .alchemist #HeroBackgroundImage,.alchemist .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/alchemist_psd.vtex");}
  .ancient_apparition #HeroBackgroundImage,.ancient_apparition .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ancient_apparition_psd.vtex");}
  .antimage #HeroBackgroundImage,.antimage .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/luna_psd.vtex");}
  .arc_warden #HeroBackgroundImage,.arc_warden .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/phantom_assassin_psd.vtex");}
  .axe #HeroBackgroundImage,.axe .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");}
  .bane #HeroBackgroundImage,.bane .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bane_psd.vtex");}
  .batrider #HeroBackgroundImage,.batrider .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/batrider_psd.vtex");}
  .beastmaster #HeroBackgroundImage,.beastmaster .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/beastmaster_psd.vtex");}
  .bloodseeker #HeroBackgroundImage,.bloodseeker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bloodseeker_psd.vtex");}
  .bounty_hunter #HeroBackgroundImage,.bounty_hunter .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/skeleton_king_psd.vtex");}
  .brewmaster #HeroBackgroundImage,.brewmaster .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/brewmaster_psd.vtex");}
  .bristleback #HeroBackgroundImage,.bristleback .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/clinkz_psd.vtex");}
  .broodmother #HeroBackgroundImage,.broodmother .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/broodmother_psd.vtex");}
  .centaur #HeroBackgroundImage,.centaur .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ursa_psd.vtex");}
  .chaos_knight #HeroBackgroundImage,.chaos_knight .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bloodseeker_psd.vtex");}
  .chen #HeroBackgroundImage,.chen .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/chen_psd.vtex");}
  .clinkz #HeroBackgroundImage,.clinkz .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/clinkz_psd.vtex");}
  .rattletrap #HeroBackgroundImage,.rattletrap .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/clockwork_psd.vtex");}
  .crystal_maiden #HeroBackgroundImage,.crystal_maiden .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lycan_psd.vtex");}
  .dark_seer #HeroBackgroundImage,.dark_seer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/dark_seer_psd.vtex");}
  .dark_willow #HeroBackgroundImage,.dark_willow .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lion_psd.vtex");}
  .dawnbreaker #HeroBackgroundImage,.dawnbreaker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/witch_doctor_psd.vtex");}
  .dazzle #HeroBackgroundImage,.dazzle .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/nightstalker_psd.vtex");}
  .death_prophet #HeroBackgroundImage,.death_prophet .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/prophet_psd.vtex");}
  .disruptor #HeroBackgroundImage,.disruptor .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/disruptor_psd.vtex");}
  .doom_bringer #HeroBackgroundImage,.doom_bringer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");}
  .dragon_knight #HeroBackgroundImage,.dragon_knight .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/dragon_knight_psd.vtex");}
  .drow_ranger #HeroBackgroundImage,.drow_ranger .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/vengeful_spirit_psd.vtex");}
  .earth_spirit #HeroBackgroundImage,.earth_spirit .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/earth_spirit_psd.vtex");}
  .earthshaker #HeroBackgroundImage,.earthshaker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/earthshaker_psd.vtex");}
  .elder_titan #HeroBackgroundImage,.elder_titan .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/templar_assassin_psd.vtex");}
  .ember_spirit #HeroBackgroundImage,.ember_spirit .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bloodseeker_psd.vtex");}
  .enchantress #HeroBackgroundImage,.enchantress .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/enchantress_psd.vtex");}
  .enigma #HeroBackgroundImage,.enigma .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/enigma_psd.vtex");}
  .faceless_void #HeroBackgroundImage,.faceless_void .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/faceless_void_psd.vtex");}
  .grimstroke #HeroBackgroundImage,.grimstroke .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/invoker_psd.vtex");}
  .gyrocopter #HeroBackgroundImage,.gyrocopter .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/gyro_psd.vtex");}
  .hoodwink #HeroBackgroundImage,.hoodwink .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/slardar_psd.vtex");}
  .huskar #HeroBackgroundImage,.huskar .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/huskar_psd.vtex");}
  .invoker #HeroBackgroundImage,.invoker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/invoker_psd.vtex");}
  .wisp #HeroBackgroundImage,.wisp .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/leshrac_psd.vtex");}
  .jakiro #HeroBackgroundImage,.jakiro .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/jakiro_psd.vtex");}
  .juggernaut #HeroBackgroundImage,.juggernaut .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/juggernaut_psd.vtex");}
  .keeper_of_the_light #HeroBackgroundImage,.keeper_of_the_light .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/keeper_of_the_light_psd.vtex");}
  .kunkka #HeroBackgroundImage,.kunkka .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lycan_psd.vtex");}
  .legion_commander #HeroBackgroundImage,.legion_commander .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");}
  .leshrac #HeroBackgroundImage,.leshrac .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/leshrac_psd.vtex");}
  .lich #HeroBackgroundImage,.lich .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lich_psd.vtex");}
  .life_stealer #HeroBackgroundImage,.life_stealer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lifestealer_psd.vtex");}
  .lina #HeroBackgroundImage,.lina .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lina_psd.vtex");}
  .lion #HeroBackgroundImage,.lion .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lion_psd.vtex");}
  .lone_druid #HeroBackgroundImage,.lone_druid .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lone_druid_psd.vtex");}
  .luna #HeroBackgroundImage,.luna .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/luna_psd.vtex");}
  .lycan #HeroBackgroundImage,.lycan .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/lycan_psd.vtex");}
  .magnataur #HeroBackgroundImage,.magnataur .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/rattletrap_psd.vtex");}
  .marci #HeroBackgroundImage,.marci .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/tinker_psd.vtex");}
  .mars #HeroBackgroundImage,.mars .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bloodseeker_psd.vtex");}
  .medusa #HeroBackgroundImage,.medusa .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ancient_apparition_psd.vtex");}
  .meepo #HeroBackgroundImage,.meepo .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/meepo_psd.vtex");}
  .mirana #HeroBackgroundImage,.mirana .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/mirana_psd.vtex");}
  .monkey_king #HeroBackgroundImage,.monkey_king .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/slark_psd.vtex");}
  .morphling #HeroBackgroundImage,.morphling .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/morphling_psd.vtex");}
  .muerta #HeroBackgroundImage,.muerta .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/morphling_psd.vtex");}
  .naga_siren #HeroBackgroundImage,.naga_siren .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/siren_psd.vtex");}
  .furion #HeroBackgroundImage,.furion .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/zues_psd.vtex");}
  .necrolyte #HeroBackgroundImage,.necrolyte .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/slardar_psd.vtex");}
  .night_stalker #HeroBackgroundImage,.night_stalker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/vengeful_spirit_psd.vtex");}
  .nyx_assassin #HeroBackgroundImage,.nyx_assassin .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/nyx_assassin_psd.vtex");}
  .ogre_magi #HeroBackgroundImage,.ogre_magi .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ogre_magi_psd.vtex");}
  .omniknight #HeroBackgroundImage,.omniknight .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/omni_knight_psd.vtex");}
  .oracle #HeroBackgroundImage,.oracle .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/viper_psd.vtex");}
  .obsidian_destroyer #HeroBackgroundImage,.obsidian_destroyer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/viper_psd.vtex");}
  .pangolier #HeroBackgroundImage,.pangolier .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/witch_doctor_psd.vtex");}
  .phantom_assassin #HeroBackgroundImage,.phantom_assassin .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/phantom_assassin_psd.vtex");}
  .phantom_lancer #HeroBackgroundImage,.phantom_lancer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/phantom_lancer_psd.vtex");}
  .phoenix #HeroBackgroundImage,.phoenix .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");}
  .primal_beast #HeroBackgroundImage,.primal_beast .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/roshan_psd.vtex");}
  .puck #HeroBackgroundImage,.puck .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/puck_psd.vtex");}
  .pudge #HeroBackgroundImage,.pudge .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/pudge_psd.vtex");}
  .pugna #HeroBackgroundImage,.pugna .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/pugna_psd.vtex");}
  .queenofpain #HeroBackgroundImage,.queenofpain .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/queenofpain_psd.vtex");}
  .razor #HeroBackgroundImage,.razor .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/razor_psd.vtex");}
  .riki #HeroBackgroundImage,.riki .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/riki_psd.vtex");}
  .rubick #HeroBackgroundImage,.rubick .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/rubick_psd.vtex");}
  .sand_king #HeroBackgroundImage,.sand_king .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/skeleton_king_psd.vtex");}
  .shadow_demon #HeroBackgroundImage,.shadow_demon .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/shadow_demon_psd.vtex");}
  .nevermore #HeroBackgroundImage,.nevermore .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/silencer_psd.vtex");}
  .shadow_shaman #HeroBackgroundImage,.shadow_shaman .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/shadow_shaman_psd.vtex");}
  .silencer #HeroBackgroundImage,.silencer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/silencer_psd.vtex");}
  .skywrath_mage #HeroBackgroundImage,.skywrath_mage .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");}
  .slardar #HeroBackgroundImage,.slardar .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/witch_doctor_psd.vtex");}
  .slark #HeroBackgroundImage,.slark .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/slark_psd.vtex");}
  .snapfire #HeroBackgroundImage,.snapfire .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/prophet_psd.vtex");}
  .sniper #HeroBackgroundImage,.sniper .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/sniper_psd.vtex");}
  .spectre #HeroBackgroundImage,.spectre .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/spectre_psd.vtex");}
  .spirit_breaker #HeroBackgroundImage,.spirit_breaker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/spiritbreaker_psd.vtex");}
  .storm_spirit #HeroBackgroundImage,.storm_spirit .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/storm_spirit_psd.vtex");}
  .sven #HeroBackgroundImage,.sven .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/sven_psd.vtex");}
  .techies #HeroBackgroundImage,.techies .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/tinker_psd.vtex");}
  .templar_assassin #HeroBackgroundImage,.templar_assassin .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/templar_assassin_psd.vtex");}
  .terrorblade #HeroBackgroundImage,.terrorblade .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/templar_assassin_psd.vtex");}
  .tidehunter #HeroBackgroundImage,.tidehunter .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/tidehunter_psd.vtex");}
  .shredder #HeroBackgroundImage,.shredder .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/timbersaw_psd.vtex");}
  .tinker #HeroBackgroundImage,.tinker .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/tinker_psd.vtex");}
  .tiny #HeroBackgroundImage,.tiny .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/slardar_psd.vtex");}
  .treant #HeroBackgroundImage,.treant .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ancient_apparition_psd.vtex");}
  .troll_warlord #HeroBackgroundImage,.troll_warlord .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/bloodseeker_psd.vtex");}
  .tusk #HeroBackgroundImage,.tusk .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/huskar_psd.vtex");}
  .abyssal_underlord #HeroBackgroundImage,.abyssal_underlord .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/prophet_psd.vtex");}
  .undying #HeroBackgroundImage,.undying .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/undying_psd.vtex");}
  .ursa #HeroBackgroundImage,.ursa .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ursa_psd.vtex");}
  .vengefulspirit #HeroBackgroundImage,.vengefulspirit .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/vengeful_spirit_psd.vtex");}
  .venomancer #HeroBackgroundImage,.venomancer .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/venomancer_psd.vtex");}
  .viper #HeroBackgroundImage,.viper .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/viper_psd.vtex");}
  .visage #HeroBackgroundImage,.visage .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/viper_psd.vtex");}
  .void_spirit #HeroBackgroundImage,.void_spirit .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/roshan_psd.vtex");}
  .warlock #HeroBackgroundImage,.warlock .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/warlock_psd.vtex");}
  .weaver #HeroBackgroundImage,.weaver .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/weaver_psd.vtex");}
  .windrunner #HeroBackgroundImage,.windrunner .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/windrunner_psd.vtex");}
  .winter_wyvern #HeroBackgroundImage,.winter_wyvern .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/ancient_apparition_psd.vtex");}
  .witch_doctor #HeroBackgroundImage,.witch_doctor .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/witch_doctor_psd.vtex");}
  .skeleton_king #HeroBackgroundImage,.skeleton_king .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/skeleton_king_psd.vtex");}
  .zuus #HeroBackgroundImage,.zuus .HeroBackgroundImage{background-image: url("s2r://materials/portraits_card/portrait_backgrounds/zues_psd.vtex");
}