ComicViewerBookLibrary{

     width: 100%;
     height: 100%;
     background-color: black;
}

 #ComicBookControls{

  horizontal-align: center;
     flow-children: right;
 }

 #ActiveBook,#ComicBookControls{


     visibility: collapse;
 }

 .ViewingComic #ActiveBook,.ViewingComic #ComicBookControls{


     visibility: visible;
 }

 #ActiveBook,#ComicBooks{


     width: 100%;
     height: 100%;
 }

 #ComicBooks{

  margin-top: 100px;
 }

 #ComicBooks{

     flow-children: right-wrap;
 }

 .ComicBook{

     width: 400px;
     height: 400px;
 }

 .ComicBook #CoverImage{

     background-repeat: no-repeat;
     background-size: contain;
 }

 .ComicBook #CoverImage,.ComicBook #Button{


     width: 100%;
     height: 100%;
 }

 .ViewingComic #ComicBooks{

     opacity: 0;
 }

 #MainContainer{

     width: 100%;
     height: 100%;
     flow-children: down;
 }






 .ButtonBevel{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
  border-style: solid;
  border-width: 1px;

  padding: 4px 10px;

  border-top-color: #555555;
  border-left-color: #494949;
  border-bottom-color: #333333;
  border-right-color: #404040;

  transition-property: background-color, opacity;
  transition-duration: 0.05s;
  transition-timing-function: linear;
  box-shadow: #00000055 0px 0px 4px 0px ;

  min-width: 192px;
  min-height: 36px;
 }

 .ButtonBevel.Green{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #2a481f ), to( #226326 ) );

  border-top-color: #355639;
  border-left-color: #2c4d30;
  border-bottom-color: #1e371e;
  border-right-color: #214123;
 }

 .ButtonBevel.DarkGreen{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2c13 ), to( #18441b ) );

  border-top-color: #223524;
  border-left-color: #2c4d30;
  border-bottom-color: #091009;
  border-right-color: #132615;
 }

 .ButtonBevel.Bronze{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #b9894c ), to( #dca157) );

  border-top-color: #e0a75e;
  border-left-color: #dca35b;
  border-bottom-color: #8d683a;
  border-right-color: #8f6b3c;
 }

 .ButtonBevel.Plus{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #877f4f ), to( #a79c5b ) );

  border-top-color: #b4a442;
  border-left-color: #aea463;
  border-bottom-color: #635e3b;
  border-right-color: #756f45;
 }


 .ButtonBevel:enabled:hover{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );

  border-top-color: #aaaaaa77;
  border-left-color: #aaaaaa33;
  border-bottom-color: #333333;
  border-right-color: #404040;
 }

 .ButtonBevel.Green:enabled:hover{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #226528 ), to( #288a36 ) );

  border-top-color: #030503;
  border-left-color: #000000;
  border-bottom-color: #1e371d;
  border-right-color: #244426;
 }

 .ButtonBevel.DarkGreen:enabled:hover{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #17421b ), to( #185321 ) );

  border-top-color: #000000;
  border-left-color: #000000;
  border-bottom-color: #172a16;
  border-right-color: #152716;
 }

 .ButtonBevel.Bronze:enabled:hover{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #dda45a ), to( #fcb965 ) );

  border-top-color: #f2b362;
  border-left-color: #edb062;
  border-bottom-color: #966f3e;
  border-right-color: #966f3e;
 }

 .ButtonBevel.Plus:enabled:hover{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #a79d63 ), to( #c2b56b ) );

  border-top-color: #cab84b;
  border-left-color: #c6bb72;
  border-bottom-color: #7c764b;
  border-right-color: #8e8755;
 }

 .ButtonBevel:disabled{

  wash-color: #AAAAAA;
  saturation: 0;
 }

 .ButtonBevel.Bronze:disabled{

  saturation: 0.75;
 }

 .ButtonBevel.Plus:disabled{

  saturation: 0.75;
 }

 .ButtonBevel:disabled Label{

  color: #333333;
 }

 .ButtonBevel:active{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );

  border-top-color: #222222;
  border-left-color: #303030;
  border-bottom-color: #666666;
  border-right-color: #444444;
  sound: "ui_generic_button_click";
 }

 .ButtonBevel.Green:active{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #1f3d25), to( #2b562c ) );

  border-top-color: #132416;
  border-left-color: #192f1b;
  border-bottom-color: #386b3b;
  border-right-color: #264a29;
 }

 .ButtonBevel.DarkGreen:active{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #132416), to( #183019 ) );

  border-top-color: #09110a;
  border-left-color: #0f1b10;
  border-bottom-color: #1f3820;
  border-right-color: #172c19;
 }

 .ButtonBevel.Bronze:active{

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #4d391f), to( #9b713c ) );

  border-top-color: #684e2d;
  border-left-color: #6d522f;
  border-bottom-color: #977242;
  border-right-color: #906c3f;
 }

 .ButtonBevel.Plus:active{

  color: #DCD086;

  background-color: gradient( linear, 0% 0%, 0% 100%, from( #877f4f ), to( #a79c5b ) );

  border-top-color: #635e3b;
  border-left-color: #756f45;
  border-bottom-color: #b4a442;
  border-right-color: #aea463;
 }

 .ButtonBevel Label{


  text-transform: uppercase;
  letter-spacing: 2px;
  color: #FFFFFF;
  horizontal-align: center;
  text-align: center;
  vertical-align: middle;
  text-shadow: 2px 2px 0px 1.0 #000000;

  transition-property: color;
  transition-duration: 0.35s;
  transition-timing-function: ease-in-out;
 }

 .ButtonBevel:active Label{

   transform: translateY(1px);
 }

 @define defaultFont: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
 Label,TextEntry{

  font-family: defaultFont;
 }



 @define baseText: #A5ADA2ff;
 Label{

  color: baseText;
  font-size: 18px;
}