

 .SelfOnly{
  flow-children: right;

  visibility: collapse;
 }
  .ViewingSelf .SelfOnly{
   visibility: visible;
  }


 .SecondaryTabButton .PlusIcon{
  margin-right: 8px;
  background-image: url( "s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }


 #Stats{
  visibility: visible;
 }
  .ShowBattleStats #Stats{
   visibility: collapse;
  }

 #BattleStats{
  visibility: collapse;
 }
  .ShowBattleStats #BattleStats{
   visibility: visible;
}