/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/battle_pass/current_battle_pass.vcss_c");
DOTAHomePage
{
	padding-top: 56px;
	width: 100%;
	height: 100%;
}

#TodayPages
{
	width: 100%;
	margin-top: 44px;
	opacity-mask: url("s2r://panorama/images/masks/init_mask_01_psd.vtex") 0;
	opacity: 1;
	pre-transform-scale2d: 1;
	wash-color: white;
	overflow: noclip;
	transition-property: opacity-mask, opacity, pre-transform-scale2d, wash-color, transform;
	transition-duration: PreConnectedTransitionDuration;
	transition-timing-function: ease-in-out;
}

DOTADashboard.InitialDisplay #TodayPages
{
	opacity-mask: url("s2r://panorama/images/masks/init_mask_01_psd.vtex") 1.0;
	pre-transform-scale2d: 0.85;
	opacity: 0;
	transition-duration: 1.2s;
	transition-delay: 0.5s;
	wash-color: #89C1C9;
}

#FullscreenVideoContainer
{
	width: 100%;
	height: 80%;
	margin-top: 44px;
	wash-color: white;
	overflow: noclip;
	transition-property: opacity-mask, opacity, pre-transform-scale2d, wash-color, transform;
	transition-duration: PreConnectedTransitionDuration;
	transition-timing-function: ease-in-out;
}

#RightColumn
{
	horizontal-align: right;
	flow-children: none;
	z-index: -1;
}

#TI10FrontpageContents
{
	width: 100%;
}

#FrontpageContents
{
	horizontal-align: right;
	width: 388px;
	padding-top: 0px;
	overflow: noclip;
}

#BottomLeftSection
{
	width: 1040px;
	height: 400px;
	padding-top: 21px;
	margin-top: 510px;
	margin-right: 16px;
	flow-children: none;
	visibility: visible;
}

#StatLine
{
	width: fit-children;
	height: 32px;
	vertical-align: top;
	horizontal-align: right;
	margin-top: 16px;
	margin-right: 20px;
	transform: translateY( 0px );
	z-index: 100;
	transition-property: transform, opacity;
	transition-duration: PreConnectedTransitionDuration;
	transition-timing-function: ease-in-out;
}

.PreConnected #StatLine
{
	transform: translateX(400px);
	opacity: 0;
}

DOTADashboard.InitialDisplay #StatLine
{
	opacity: 0.0;
	transform: translateY( -32px );
	transition-delay: 1.1s;
}

#StatLine Label
{
	text-shadow: 1px 1px 2px #000000;
	color: colorHomeStatLineTextBright;
	font-size: 14px;
	font-weight: thin;
	text-transform: uppercase;
}

.StatLineContainer
{
	flow-children: right;
	margin-right: 32px;
}

#StatLine Label.StatLineNumber
{
	margin-right: 4px;
	color: colorHomeStatLineText;
}

.IsSteamChina #MonthlyPlayersContainer,.IsSteamChina #CurrentPlayersContainer
{
	visibility: collapse;
}

.FullscreenVideoTakeover #StatLine
{
	visibility: collapse;
}

.FullscreenVideoTakeover #TodayPages
{
	visibility: collapse;
}

