.HeroesSecondaryNavigation{
     padding: 0px;
     width: 100%;
     flow-children: none;
}

 .TabsButtonsContainer{
     flow-children: right;
     vertical-align: center;
     horizontal-align: center;
 }


 #HeroImage{
     width: 28px;
     height: 28px;
     vertical-align: center;
     margin-top: 2px;
     margin-right: 12px;
 }

 .SecondaryTabButton{
     margin-top: 4px;
 }

 .SecondaryTabSeparator{
     margin-top: 4px;
 }

 .NextPrevHeroButton{
     flow-children: right;
     vertical-align: center;
     padding: 12px;
     opacity: 0.2;
     transition-duration: 0.1s;
     transition-property: opacity, brightness, transform;
 }
     .NextPrevHeroButton:hover{
         opacity: 1;
         brightness: 1.5;
     }

     .NextPrevHeroButton:active{
         transform: translateY( 1px );
     }

     .NextPrevHeroButton Label{
         vertical-align: center;
     }

     .NextPrevHeroButton Image{
         vertical-align: center;
         margin: 0px 2px;
         wash-color: LighterGrey;
     }


 #PreviousHero{
     margin-left: 40px;
 }

 #NextHero{
     horizontal-align: right;
     margin-right: 40px;
}