

 DOTACollectionPageFeaturedFrontPanel{
     width: 100%;
     flow-children: right;
     padding: 12px 0px;
     margin-bottom: 12px;
 }

 @define TilePadding: 32px;



 .FeaturedTile{
     width: fill-parent-flow( 1 );
     margin: 0px 6px;
     height: 380px;
     box-shadow: 0px 6px 24px -8px rgba(0, 0, 0, 0.8);
 }
     .FeaturedTile .TileBackground{
         background-size: cover;
         background-position: center;
         width: 100%;
         height: 100%;

         transition-property: transform, brightness;
         transition-duration: 0.2s;
         transition-timing-function: cubic-bezier(0, 1, 0, 1);
     }








     .FeaturedTile .FeaturedTileInfoContainer{
         width: 340px;
         flow-children: down;
         padding: TilePadding 0px 0px TilePadding;
     }
         .FeaturedTile .FeaturedTileInfoContainer .TileLabel{
             margin-bottom: 16px;
             letter-spacing: 2px;
         }

         .FeaturedTile .FeaturedTileInfoContainer .TileTitle{
             margin-bottom: 8px;
             font-size: 34px;
             text-overflow: shrink;
             max-height: 130px;
         }

         .FeaturedTile .FeaturedTileInfoContainer .TileDescription{
             margin-right: 40px;
         }

         .FeaturedTile .FeaturedTileInfoContainer Label{
             text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
         }



 .ButtonActionRow{
     vertical-align: bottom;
     padding: 0px 0px TilePadding TilePadding;
 }





 .DotaPlusLogoContainer{
     width: 240px;
     height: 240px;
     horizontal-align: right;
     vertical-align: bottom;
     transform: translateX( 20px ) translateY( 20px );
 }
     .DotaPlusLogoContainer .PlusLogo{
         width: 100%;
         height: 100%;
     }

     .DotaPlusLogoContainer .PlusLogoShadow{
         width: 100%;
         height: 100%;
         margin-top: 24px;
         wash-color: black;
         blur: gaussian( 16px );
         opacity: 0.6;
     }







     #MuertaTreasure .TileBackground{
         background-image: url( "s2r://panorama/images/store_home/muerta_store_background_png.vtex");
     }


 #CC_Summer_2023{
     overflow: clip;

     background-color: gradient( linear, 0% 0%, 0% 100%, from( #090D32 ), to( #0E0F1C ) );
 }
     #CC_Summer_2023 DOTACCBackgroundSummer2023{
         overflow: noclip;
         width: 138%;
         height: 138%;
         transform: translateX( -2% ) translateY( -8% );
     }


 #DOTAPlusUpsell{
     visibility: visible;
 }
     .IsPlusMember #DOTAPlusUpsell{
         visibility: collapse;
     }

     #DOTAPlusUpsell .TileBackground{
         background-image: url( "s2r://panorama/images/store_home/dotaplus_store_background_png.vtex");
     }


 #DOTAPlusTreasure{
     visibility: collapse;





     background-color: DarkGrey;
 }
     .IsPlusMember #DOTAPlusTreasure{
         visibility:
                     
                     visible
         ;
     }
     #DOTAPlusTreasure .TileBackground{
         background-image:
                           
                           url(
                                "s2r://panorama/images/store_home/shard_shop_background_png.vtex"
                           )
         ;
}