/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.LargoBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 40%, 0% 100%, from( #112018 ), color-stop( 0.7, #0d2a31 ), to( #06231f ) );
}

.LargoBackgroundImage
{
	width: 1920px;
	height: 100%;
	horizontal-align: center;
	opacity: 0.06;
	blur: gaussian(6px);
	brightness: 0.5;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, #FFFFFF ), color-stop( 0.8, #FFFFFF ), to( #FFFFFF00 ) );
}

.SceneContainer
{
	width: 1920px;
	height: 100%;
	horizontal-align: center;
	visibility: collapse;
}

.OnHomePage .SceneContainer
{
	visibility: visible;
}

.SceneContainer .FroglingButton
{
	width: 180px;
	height: 260px;
	background-color: rgba(255, 0, 255, 0);
	border-radius: 50%;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.SceneContainer #Frogling1
{
	x: 420px;
	y: 410px;
	transform: scale3d( 0.9, 0.9, 1 );
}

.SceneContainer #Frogling2
{
	x: 560px;
	y: 650px;
}

.SceneContainer #Frogling3
{
	x: 1280px;
	y: 590px;
	transform: scale3d( 1.2, 1.2, 1 );
}

#ModelBackground
{
	width: 1920px;
	height: 100%;
	horizontal-align: center;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, #FFFFFF ), color-stop( 0.8, #FFFFFF ), to( #FFFFFF00 ) );
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
}

#ModelBackground.SceneLoaded
{
	opacity: 1;
}

.BottomShadow
{
	width: 100%;
	height: 260px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #090f1000 ), color-stop(0.25, #090f109f ), color-stop(0.5, #090f10d3 ), to( #090f10 ) );
	opacity: 1;
}

.PageShadow
{
	height: 100%;
	width: 22.5%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #06070a ), color-stop(0.35, #06070ad2 ), color-stop(0.7, #06070a6e ), to( #06070a00 ) );
	opacity: 0.5;
}

.PageShadow.Right
{
	transform: scaleX( -1 );
	horizontal-align: right;
}

.LargoContents
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 140px;
	padding: 48px 0px;
	opacity: 0;
	transform: scale3d( 0.96, 0.96, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.OnHomePage .LargoContents
{
	opacity: 1;
	transform: none;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.LargoContents .LogoShadow
{
	horizontal-align: center;
	width: 100%;
	height: 220px;
	ignore-parent-flow: true;
	margin-top: 80px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #0a1411da ), color-stop( 0.5, #0a1411a5 ), to( #00000000 ) );
	z-index: -1;
}

.LargoContents .IntroducingLabel
{
	horizontal-align: center;
	color: gradient( linear, 0% 40%, 0% 100%, from( #FFFADE ), to( #DDCCB3 ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.Language_schinese .LargoContents .IntroducingLabel,.Language_tchinese .LargoContents .IntroducingLabel,.Language_thai .LargoContents .IntroducingLabel,.Language_koreana .LargoContents .IntroducingLabel,.Language_japanese .LargoContents .IntroducingLabel
{
	margin-bottom: -4px;
	font-size: 24px;
}

.LargoContents .LargoLogoContainer
{
	horizontal-align: center;
	margin: -40px 0px -48px;
	z-index: -1;
}

.LargoContents .LargoLogoHitBox
{
	width: 480px;
	height: 140px;
	vertical-align: center;
	horizontal-align: center;
	background-color: rgba(255, 0, 255, 0);
	margin-left: 24px;
	border-radius: 48px;
}

.LargoContents .LargoLogo
{
	margin-left: -4px;
	width: 660px;
	height: width-percentage( 35.6% );
	background-image: url("s2r://panorama/images/leaf_pages/debut_bard/frog_logo_en_psd.vtex");
	background-size: cover;
	transition-property: brightness, transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.LargoContents .LargoLogo.Hovered
{
	brightness: 1.3;
	transform: scale3d( 1.01, 1.01, 1 );
}

.Language_schinese .LargoContents .LargoLogo
{
	background-image: url("s2r://panorama/images/leaf_pages/debut_bard/frog_logo_cn_psd.vtex");
}

.LargoContents .ButtonsContainer
{
	width: 100%;
	horizontal-align: center;
	padding: 16px 60px;
	margin-bottom: -16px;
}

.LargoContents .ButtonsContainer .ButtonsContents
{
	horizontal-align: center;
	flow-children: right;
}

.LargoContents .ButtonsContainer Button
{
	min-width: 160px;
	margin: 0px 6px;
}

.LargoContents .PatchContainer
{
	flow-children: down;
	horizontal-align: center;
	padding: 16px 80px 30px;
	margin-top: 48px;
	border: 1px solid #c7b6973e;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.2, #ffffffab ), color-stop( 0.5, #FFFFFF ), color-stop( 0.8, #ffffffab ), to( #FFFFFF00 ) );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #253c3300 ), color-stop( 0.15, #253c33da ), color-stop( 0.5, #264338fe ), color-stop( 0.85, #253c33da ), to( #253c3300 ) );
}

.LargoContents .PatchContainer Label
{
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.LargoContents .PatchContainer .PatchTitle
{
	color: whitesmoke;
}

.LargoContents .PatchContainer .PatchDescription
{
	font-family: titleFont;
	color: #fff5cfa7;
	font-size: 17px;
}

.LargoContents .PatchnotesButton
{
	horizontal-align: center;
	margin-top: -16px;
}

