/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CollectorsCache2024Background
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2B1E41 ), to( #070D18 ) );
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/cc2024_dashboard_backround_png.vtex");
	background-size: cover;
	transition-property: blur, opacity, brightness;
	transition-duration: 0.5s;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.4, #ffffff ), color-stop( 0.6, #ffffff ), color-stop( 0.8, #ffffff80 ), to( #ffffff00 ) );
	blur: gaussian( 6px );
	opacity: 0.2;
	brightness: 0.3;
}

.OnHomePage .BackgroundImage
{
	opacity: 0.8;
	brightness: 0.7;
	blur: gaussian( 1.5px );
}

.BackgroundImageGlow
{
	horizontal-align: center;
	vertical-align: bottom;
	-s2-mix-blend-mode: screen;
	width: 800px;
	transition-property: opacity;
	transition-duration: 0.6s;
	transition-delay: 0.3s;
	opacity: 0;
}

.OnHomePage .BackgroundImageGlow
{
	opacity: 1;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.SmokeFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: bottom;
	wash-color: rgba(48, 42, 69, 0.99);
	margin-top: 400px;
	opacity: 0;
}

.OnHomePage .SmokeFX
{
	opacity: 0.5;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.HeroesSceneModels
{
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.4, #ffffff ), color-stop( 0.7, #ffffff ), color-stop( 0.9, #ffffff80 ), to( #ffffff00 ) );
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	opacity: 0;
}

.OnHomePage .HeroesSceneModels
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.HeroesSceneModels #PremiumReward_Undying
{
	horizontal-align: center;
	vertical-align: center;
	brightness: 0.6;
	width: 940px;
	height: 940px;
	transform: translateX( -380px ) translateY( 100px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Undying
{
	transform: translateX( -400px ) translateY( 100px );
}

.HeroesSceneModels #PremiumReward_Invoker
{
	horizontal-align: center;
	vertical-align: center;
	brightness: 0.6;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 1060px;
	height: 1060px;
	transform: translateX( 360px ) translateY( 40px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Invoker
{
	transform: translateX( 420px ) translateY( 40px );
}

.HeroesSceneModels #PremiumReward_Rubick
{
	horizontal-align: center;
	vertical-align: center;
	width: 1220px;
	height: 1220px;
	transform: translateX( 0px ) translateY( 10px );
}

.AspectRatio16x10 .HeroesSceneModels
{
	ui-scale: 92%;
}

.AspectRatio21x9 .HeroesSceneModels
{
	ui-scale: 120%;
	padding-top: 30px;
}

.BGVignette
{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 90%, from( rgba(0, 0, 0, 0) ), to( rgb(17, 16, 29) ) );
}

#FxScene
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 645px;
	height: width-percentage( 80% );
	margin-bottom: 50px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

#FxScene.LogoTrigger
{
	opacity: 0;
	transform: none;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.OnHomePage #FxScene.LogoTrigger
{
	opacity: 1;
}

.OnHomePage #FxScene
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	padding-top: 60px;
	margin-bottom: 134px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

.OnHomePage .TitleContainer
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer Label
{
	horizontal-align: center;
}

.TitleContainer .CrownfallLogo
{
	width: 180px;
	horizontal-align: center;
	margin-bottom: -20px;
	margin-left: 4px;
	img-shadow: 0px 8px 16px black;
}

.TitleContainer .CrownfallLogo.en
{
	visibility: visible;
}

.Language_schinese .TitleContainer .CrownfallLogo.en
{
	visibility: collapse;
}

.TitleContainer .CrownfallLogo.cn
{
	visibility: collapse;
}

.Language_schinese .TitleContainer .CrownfallLogo.cn
{
	visibility: visible;
}

.TitleContainer .CCTitle
{
	font-size: 55px;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	color: gradient(linear, 0% 65%, 0% 100%, from(#FFFFFF), color-stop(0.2, #cfd7db), to(#e1e8eb));
	text-transform: uppercase;
	text-shadow: 0px 2px 16px 5.0 #000a;
}

.TitleContainer .CCAvailable
{
	font-family: titleFont;
	color: rgba(245, 245, 245, 0.6);
	text-shadow: 0px 0px 8px 5.0 #000a;
}

.ButtonContainer
{
	width: 100%;
	margin-top: 20px;
	flow-children: right;
	horizontal-align: center;
}

.ButtonContainer .Dash
{
	width: fill-parent-flow( 1 );
	height: 1px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#ffe5b500), to(#ffe5b5));
	vertical-align: center;
	margin-bottom: 22px;
	opacity: 0.1;
}

.ButtonContainer .Dash.Right
{
	transform: scaleX( -1 );
}

.ButtonContainer .Emblem
{
	width: 44px;
	vertical-align: center;
	margin-bottom: 22px;
}

.ButtonContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.ButtonContainer #BuyNowButton
{
	horizontal-align: center;
	min-width: 320px;
}

