/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPastEventsPage
{
	width: 100%;
	height: 100%;
}

#BackgroundImage
{
	width: 100%;
	height: 100%;
	brightness: 0.5;
}

.PastEventsWrapper
{
	horizontal-align: center;
	flow-children: down;
	width: 960px;
	margin-top: 60px;
}

.PastEventsContainer
{
	width: 100%;
	flow-children: down;
}

#Header
{
	horizontal-align: center;
	flow-children: down;
	width: 100%;
	margin-top: 120px;
}

#Header Label
{
	text-align: center;
	horizontal-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: center;
	font-weight: semi-bold;
	color: white;
	margin-bottom: 8px;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.CrownfallEvent
{
	margin: 10px;
	width: 100%;
	height: 280px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
	transition-property: brightness, transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	box-shadow: 0px 8px 48px -6px rgba(0, 0, 0, 0.6);
}

.CrownfallEvent:hover
{
	brightness: 1.5;
}

.CrownfallEvent:hover .CellBackground
{
	transform: scale3d( 1.03, 1.03, 1 );
}

.CrownfallEvent .CellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.02);
	z-index: 1;
}

.CrownfallEvent .CellBackground
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act4_png.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	transition-property: brightness, transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.CrownfallEvent .CellLabel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	text-shadow: 0px 2px 12px 2 black;
	color: rgba(255, 255, 255, 0.9);
	margin: 12px 20px;
	font-size: 16px;
	max-height: 38px;
	text-overflow: shrink;
	opacity: 0.6;
}

.CrownfallEvent .DashDotDivider
{
	width: 40%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.CrownfallEvent .DashDotDivider .Dash
{
	opacity: 0.2;
}

.CrownfallEvent .DashDotDivider .Dot
{
	margin: 0px;
}

.CrownfallEvent .GoldTitle
{
	horizontal-align: center;
	vertical-align: bottom;
	font-family: titleFont;
	font-size: 18px;
	color: gradient( linear, 0% 20%, 0% 90%, from( white ), color-stop( 0.70, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	margin-left: 10px;
	margin-right: 5px;
}

.CrownfallEvent .CrownfallLogoContainer
{
	horizontal-align: center;
	margin-top: 40px;
	ui-scale: 72%;
}

.Language_schinese .CrownfallEvent .CrownfallLogoContainer
{
	margin-bottom: 12px;
}

.CrownfallEvent .CrownfallLogoContainer #CrownfallLogoEN,.CrownfallEvent .CrownfallLogoContainer #CrownfallLogoCN
{
	width: 480px;
	height: width-percentage( 80% );
	margin: -40px 0px -150px 0px;
}

.Language_schinese .CrownfallEvent .CrownfallLogoContainer #CrownfallLogoEN,.Language_schinese .CrownfallEvent .CrownfallLogoContainer #CrownfallLogoCN
{
	margin: -40px 0px -150px 0px;
}

.CrownfallEvent .CrownfallLogoContainer #CrownfallLogoCN
{
	visibility: collapse;
}

.Language_schinese .CrownfallEvent .CrownfallLogoContainer #CrownfallLogoCN
{
	visibility: visible;
}

.CrownfallEvent .CrownfallLogoContainer #CrownfallLogoEN
{
	visibility: visible;
}

.Language_schinese .CrownfallEvent .CrownfallLogoContainer #CrownfallLogoEN
{
	visibility: collapse;
}

.CrownfallEvent .HeroesSceneModels
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	overflow: noclip;
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	wash-color: rgba(17, 92, 230, 0.2);
	opacity: 1;
}

.CrownfallEvent .HeroesSceneModels .PremiumReward
{
	horizontal-align: center;
	vertical-align: center;
	width: 880px;
	height: 880px;
	overflow: noclip;
	transition-property: brightness;
	transition-duration: 0.2s;
}

.CrownfallEvent .HeroesSceneModels .PremiumReward.Hovered
{
	brightness: 2;
}

.CrownfallEvent #PremiumReward_Skywrath
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/masks/skywrath_model_mask_png.vtex");
	transform: translateX( -240px ) translateY( 60px );
}

.CrownfallEvent #PremiumReward_Vengeful
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/masks/vengeful_model_mask_png.vtex");
	transform: translateX( 370px ) translateY( 60px );
}


