/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.SeasonalRewardLineFall2025Background
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #211910 ), to( #120a06 ) );
}

DOTAFrontpageSeasonalRewards
{
	width: 100%;
	height: 100%;
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	transition-property: blur, opacity, brightness, opacity-brush;
	transition-duration: 0.5s;
	blur: gaussian( 6px );
	opacity: 0.6;
	brightness: 0.3;
}

.AspectRatio21x9 .BackgroundImage
{
	width: 125%;
	height: 125%;
	margin-top: -12.5%;
	overflow: noclip;
}

.OnHomePage .BackgroundImage,#SeasonalRewardsDB .BackgroundImage
{
	opacity: 1;
	brightness: 1;
	blur: gaussian( 0px );
}

.EventFramingContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 1080px;
	margin-bottom: 102px;
}

.AspectRatio16x10 .EventFramingContainer
{
	width: 910px;
}

.AspectRatio21x9 .EventFramingContainer
{
	width: 1260px;
}

.EventFramingContainer .EventFraming
{
	width: 440px;
	opacity: 0.2;
}

.AspectRatio16x10 .EventFramingContainer .EventFraming
{
	width: 340px;
}

.AspectRatio21x9 .EventFramingContainer .EventFraming
{
	width: 680px;
}

.EventFramingContainer .EventFraming.Right
{
	transform: scaleX( -1 );
	horizontal-align: right;
}

#ContentsContainer
{
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-delay: 0.15s;
	opacity: 0;
}

.OnHomePage #ContentsContainer,#SeasonalRewardsDB #ContentsContainer
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

#ForegroundContainer
{
	width: 1920px;
	height: 1080px;
	horizontal-align: center;
	vertical-align: center;
}

#Level1ClaimText
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
	position: -404px 328px 0px;
	text-align: center;
	font-size: 16px;
	color: gradient( linear, 0% 50%, 0% 100%, from( #FCD69C ), to( rgb(177, 152, 113)) );
	font-weight: semi-bold;
	letter-spacing: 1.5px;
}

#FirstRewardPromptContainer
{
	visibility: collapse;
	width: 320px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 120px, from( #2f2c24e8 ), to( #27221de8) );
	box-shadow: 0px 8px 24px -2px #00000060;
	position: -326px 200px 0px;
	horizontal-align: center;
	vertical-align: center;
}

#FirstRewardPromptContainer .FirstRewardPromptContents
{
	flow-children: down;
	margin: 16px;
	width: 100%;
}

#FirstRewardPromptContainer .FirstRewardPromptLabel
{
	width: 100%;
	vertical-align: top;
	text-align: center;
	font-weight: normal;
	text-shadow: 0px 2px 12px black;
	font-family: titleFont;
	font-size: 16px;
	color: rgba(245, 245, 245, 0.811);
}

#FirstRewardPromptContainer .FirstRewardPromptContainerBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.015);
	ignore-parent-flow: true;
}

#FirstRewardPromptContainer .FirstRewardPromptContainerDash
{
	width: 100%;
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #514431 ), color-stop( 0.5, #a89c78 ), to( #514431 ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	ignore-parent-flow: true;
}

#FirstRewardPromptContainer .FirstRewardPromptContainerDash.Bottom
{
	vertical-align: bottom;
	box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
}

.HasUnclaimedLevel1Reward DOTAUIEconSetPreview
{
	brightness: 0.15;
}

.HasUnclaimedLevel1Reward .HeroRewardHitBox
{
	visibility: collapse;
}

.HasUnclaimedLevel1Reward .RewardDetailsHeroName,.HasUnclaimedLevel1Reward .RewardDetailsSetName
{
	opacity: 0.2;
}

.HasUnclaimedLevel1Reward #Level1ClaimText
{
	opacity: 1;
}

.HasUnclaimedLevel1Reward .OtherRewardsContainer
{
	opacity: 0;
	transform: translateY( 16px );
	transition-duration: 0.2s;
	transition-delay: 0.4s;
}

.HasUnclaimedLevel1Reward .RewardDetailsTierToggleContainer
{
	visibility: collapse;
}

.HasUnclaimedLevel1Reward #PremiumReward_WitchdoctorDeathWard
{
	brightness: 1.0;
	opacity: 1.0;
	saturation: 1.0;
}

.HasUnclaimedLevel1Reward #reward_wd_ward
{
	visibility: visible;
}

.HasUnclaimedLevel1Reward #Level1ClaimText
{
	animation-name: Level1ClaimLoop;
	animation-duration: 2.4s;
	animation-iteration-count: infinite;
}

.HasUnclaimedLevel1Reward #FirstRewardPromptContainer
{
	visibility: visible;
	animation-name: FirstRewardPromptContainerLoop;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'FirstRewardPromptContainerLoop'
{
	100%
	{
		transform: translateY( 4px );
	}
	
}

@keyframes 'Level1ClaimLoop'
{
	0%
	{
		brightness: 1.0;
		transform: none;
	}
	
	5%
	{
		brightness: 2.0;
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	10%
	{
		brightness: 1.0;
		transform: none;
	}
	
	15%
	{
		brightness: 2.0;
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	30%
	{
		brightness: 1.0;
		transform: none;
	}
	
}

.TopRightGodRays
{
	horizontal-align: center;
	width: 800px;
	height: 800px;
	transform: rotateZ( 55deg ) translateX( 290px ) translateY( -250px );
	hue-rotation: -190deg;
	opacity: 0.3;
}

.FloorBackgroundImage
{
	width: 1700px;
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
}

.BackgroundImageGlow
{
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	width: 1200px;
	height: 600px;
	hue-rotation: -200deg;
	opacity: 0.2;
}

.SmokeFXBottom
{
	width: 1920px;
	height: 1080px;
	ui-scale: 80%;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: -360px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	wash-color: rgb(255, 208, 154);
	contrast: 1.5;
	opacity: 0.4;
	brightness: 1.2;
	-s2-mix-blend-mode: screen;
}

.HeroesSceneModels
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
	margin-bottom: 220px;
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
}

.HeroesSceneModels #LegionCommanderRewardDetailsContainer
{
	z-index: 1;
}

.HeroesSceneModels #LegionCommanderRewardDetailsContainer .HeroRewardHitBox
{
	opacity: 0;
}

.LegionCommanderTier1 .HeroesSceneModels #LegionCommanderRewardDetailsContainer .HeroRewardHitBox.Tier1
{
	opacity: 1;
}

.LegionCommanderTier2 .HeroesSceneModels #LegionCommanderRewardDetailsContainer .HeroRewardHitBox.Tier2
{
	opacity: 1;
}

.HeroesSceneModels #LegionCommanderRewardDetailsContainer .HeroShadow
{
	transform: translateY( 15px );
}

.HeroesSceneModels .RewardDetailsContainer
{
	width: 320px;
	overflow: noclip;
	vertical-align: bottom;
}

.AspectRatio16x10 .HeroesSceneModels .RewardDetailsContainer
{
	width: 290px;
}

.AspectRatio21x9 .HeroesSceneModels .RewardDetailsContainer
{
	width: 380px;
}

.HeroesSceneModels .RewardDetailsContainer .HeroShadow
{
	width: 100%;
	height: 60px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop(0.7, #00000062 ), to( #00000000 ) );
	blur: gaussian( 8px );
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 90px;
}

.HeroesSceneModels .RewardDetailsContainer .HeroRewardHitBox
{
	width: 99%;
	height: 66%;
	vertical-align: bottom;
	margin-bottom: 120px;
	background-color: rgba(255, 0, 255, 0);
}

.HeroesSceneModels .RewardDetailsContainer .HeroModel
{
	width: 700px;
	height: width-percentage( 100% );
	margin-top: -110px;
	margin-bottom: -40px;
	horizontal-align: center;
	vertical-align: center;
	transition-property: brightness, pre-transform-scale2d, position;
	transition-duration: 0.1s;
}

.HeroesSceneModels .RewardDetailsContainer .HeroModel.Hovered
{
	brightness: 1.6;
}

.HeroesSceneModels .RewardDetailsContainer #PremiumReward_Witchdoctor
{
	transform: translateX( 20px ) translateY( 0px );
}

.HeroesSceneModels .RewardDetailsContainer #PremiumReward_WitchdoctorDeathWard
{
	ignore-parent-flow: true;
	transform: translateX( -140px ) translateY( 80px );
}

.AspectRatio16x10 .HeroesSceneModels .RewardDetailsContainer #PremiumReward_WitchdoctorDeathWard
{
	transform: translateX( -100px ) translateY( 85px );
}

.HeroesSceneModels .RewardDetailsContainer #PremiumReward_WitchdoctorDeathWard.Desaturate
{
	saturation: 0.0;
	brightness: 0.5;
}

.HeroesSceneModels .RewardDetailsContainer #PremiumReward_LegionCommander
{
	width: 920px;
	transform: translateX( 0px ) translateY( 50px );
}

.HeroesSceneModels .RewardDetailsContainer #PremiumReward_VengefulSpirit
{
	transform: translateX( 20px ) translateY( -10px );
}

.HeroesSceneModels .RewardDetailsContainer .RewardInfoContainer
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: bottom;
	width: 100%;
}

.HeroesSceneModels .RewardDetailsContainer .RewardDetailsHeroName
{
	horizontal-align: center;
	font-size: 12px;
	color: #e8cca388;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: -1px;
	letter-spacing: 1.5px;
	text-shadow: 0px 2px 8px black;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.HeroesSceneModels .RewardDetailsContainer .RewardDetailsSetName
{
	horizontal-align: center;
	color: rgba(245, 245, 245, 0.881);
	text-align: center;
	font-family: titleFont;
	font-size: 16px;
	text-shadow: 0px 2px 8px black;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.RewardDetailsTierToggleContainer
{
	flow-children: right;
	margin-bottom: 12px;
	horizontal-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	border: 1px solid black;
	border-radius: 40px;
}

.RewardDetailsTierToggleContainer .RewardDetailsTierButton
{
	padding: 2px 8px 3px;
	background-color: rgba(255, 255, 255, 0);
	border-radius: 40px;
	margin: 1px;
	border: 1px solid rgba(255, 242, 231, 0);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff09 ), to( #ffffff04 ) );
}

.RewardDetailsTierToggleContainer .RewardDetailsTierButton Label
{
	text-transform: uppercase;
	color: LightGrey;
	font-size: 13px;
	letter-spacing: 1px;
	transition-property: transform, color;
	transition-duration: 0.05s, 0.1s;
}

.RewardDetailsTierToggleContainer .RewardDetailsTierButton:hover Label
{
	color: whitesmoke;
}

.RewardDetailsTierToggleContainer .RewardDetailsTierButton:active Label
{
	transform: translateY( 1px );
}

.LegionCommanderTier1 .RewardDetailsTierToggleContainer #LegionCommanderTier1Button,.LegionCommanderTier2 .RewardDetailsTierToggleContainer #LegionCommanderTier2Button
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #463e35 ), to( #1e1a17 ) );
	border: 1px solid rgba(255, 242, 231, 1);
}

.LegionCommanderTier1 .RewardDetailsTierToggleContainer #LegionCommanderTier1Button Label,.LegionCommanderTier2 .RewardDetailsTierToggleContainer #LegionCommanderTier2Button Label
{
	color: #ffffff;
	text-shadow: 0px 0px 12px rgba(255, 240, 197, 0.3);
}

DOTAEventRewardList
{
	vertical-align: bottom;
	margin-bottom: 100px;
	horizontal-align: center;
	width: 100%;
	margin-left: 400px;
	height: 300px;
}

#SeasonalEventDebugPanel
{
	horizontal-align: right;
	margin-top: 104px;
	margin-right: 58px;
	vertical-align: bottom;
	margin-bottom: 106px;
}

.BGVignette
{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 92%, from( rgba(0, 0, 0, 0) ), to( rgb(13, 13, 23) ) );
}

#FxScene
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 645px;
	height: width-percentage( 80% );
	margin-bottom: 16px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.TitleAndLogo
{
	horizontal-align: center;
	vertical-align: top;
	margin-top: 36px;
	flow-children: right;
	margin-left: -40px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.AspectRatio16x10 .TitleAndLogo
{
	ui-scale: 90%;
}

.TitleAndLogo Label
{
	horizontal-align: center;
	text-align: center;
}

.TitleAndLogo DOTAEventStatus
{
	overflow: noclip;
	ui-scale: 160%;
	margin-top: 64px;
	tooltip-arrow-position: 50% 28%;
}

.TitleAndLogo #QuarteroLogoPortrait
{
	width: 280px;
	vertical-align: center;
	margin-right: -36px;
	margin-top: -16px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.TitleAndLogo #QuarteroLogoPortrait.FaceHighlighted
{
	brightness: 1.5;
}

.TitleAndLogo .QuarteroEasterEggHitBox
{
	width: 160px;
	height: width-percentage( 100% );
	background-color: rgba(255, 84, 84, 0);
	border-radius: 50%;
	margin-left: 60px;
	margin-top: 52px;
	ignore-parent-flow: true;
	tooltip-position: right;
	z-index: 1;
	tooltip-arrow-position: 50% 30%;
	tooltip-body-position: 50% 10%;
}

.TitleAndLogo .TitleContainer
{
	flow-children: down;
	margin-top: 48px;
	min-width: 380px;
}

.TitleAndLogo .TitleContainer #SeasonTitle
{
	font-size: 48px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px 2.0 #000a;
	vertical-align: center;
	max-width: 380px;
	line-height: 1.05;
	height: 120px;
	text-overflow: shrink;
	padding: 0px 8px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.TitleAndLogo .TitleContainer #SeasonTitle:hover
{
	brightness: 1.5;
}

.TitleAndLogo .TitleContainer .IntroText
{
	width: 100%;
	font-family: titleFont;
	text-shadow: 0px 2px 12px 2.0 #000a;
	color: gradient( linear, 0% 30%, 0% 140%, from( #ffebce ), to( #9a876a ) );
	color: #d1c7af;
	margin-top: -18px;
	font-size: 16px;
	height: 39px;
	text-overflow: shrink;
	padding: 8px;
}

.ButtonContainer
{
	width: 100%;
	margin-top: 20px;
	flow-children: right;
	horizontal-align: center;
}

.ButtonContainer .Dash
{
	width: fill-parent-flow( 1 );
	height: 1px;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#ffe5b500), to(#ffe5b5));
	vertical-align: center;
	opacity: 0.1;
}

.ButtonContainer .Dash.Right
{
	transform: scaleX( -1 );
}

.ButtonContainer .Emblem
{
	width: 44px;
	vertical-align: center;
	margin-bottom: 22px;
}

.ButtonContainer .Emblem.Right
{
	transform: scaleX( -1 );
}

.ButtonContainer #BuyNowButton
{
	horizontal-align: center;
	min-width: 280px;
	margin: 0px 16px;
}

#TimeLeft
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 100px;
	width: 540px;
}

#TimeLeft .TimeLeftLabels
{
	font-size: 13px;
	color: rgba(219, 194, 155, 0.3);
	text-shadow: 0px 1px 8px 2.0 #000a;
	text-align: center;
	margin: 0px 3px;
	horizontal-align: center;
}

#TimeLeft .Dash
{
	width: fill-parent-flow(1);
	height: 1px;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffe0b200 ), to( #ffe0b1 ) );
	margin: 2px 6px 0px;
	opacity: 0.05;
}

#TimeLeft .Dash.Right
{
	transform: scaleX( -1 );
}

#LevelDetails
{
	height: 68px;
	width: 342px;
	margin-top: 16px;
	margin-left: 0px;
	padding: 8px;
}

.LegionCommanderTier2 DOTAEventRewardClaimButton.LegionCommander_Reward.Tier1
{
	visibility: collapse;
}

.LegionCommanderTier1 DOTAEventRewardClaimButton.LegionCommander_Reward.Tier2
{
	visibility: collapse;
}

.TooltipLeft
{
	tooltip-position: left;
}

.RewardButtonContainer
{
	flow-children: right;
	horizontal-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

#LegionCommanderRewardButtonContainer
{
	horizontal-align: center;
	margin-top: 67%;
	margin-left: -20%;
}

.RandomRewardModelContainer
{
	height: 60px;
	width: height-percentage( 100% );
	overflow: noclip;
	vertical-align: center;
	margin-left: -16px;
}

.RandomRewardModelContainer #random_reward_model
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 200%;
	height: width-percentage( 100% );
	transform: translateY( 10% );
}

.OtherRewardsContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 110px;
	padding: 0px 80px;
	border-top: 1px solid rgba(255, 225, 188, 0.05);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
	opacity: 1;
	transition-property: opacity, transform;
	transition-duration: 0s;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#RandomRewardsContainer
{
	flow-children: down;
	padding: 16px 24px;
}

#RandomRewardsContainer Label
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	width: 100%;
	text-align: center;
}

#ParticleRewardsContainer
{
	flow-children: down;
	padding: 16px 24px;
	border-right: 1px solid rgba(255, 225, 188, 0.05);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

#ParticleRewardsContainer Label
{
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fbe4c2 ), to( #6B5C46 ) );
	width: 100%;
	text-align: center;
}

#QuarteroButton
{
	width: 128px;
	height: 164px;
	margin-left: 400px;
	margin-top: 250px;
}

#QuarteroButton:hover
{
	brightness: 1.5;
}

#QuarteroImage
{
	z-index: 1;
	horizontal-align: left;
	height: 800px;
	width: 790px;
	background-image: url("s2r://panorama/images/events/seasonal/quartero_dashboard_big_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 380px;
	margin-left: 75px;
}

.ParticleWindowEmblem1
{
	width: 440px;
	height: width-percentage( 67.67% );
	margin-top: -56px;
	margin-left: 32px;
}

.ParticleWindowEmblem2
{
	width: 440px;
	height: width-percentage( 67.67% );
	margin-top: -56px;
	margin-left: 32px;
}

.ParticleWindowEmblem3
{
	width: 440px;
	height: width-percentage( 67.67% );
	margin-top: -56px;
	margin-left: 32px;
}

.ParticleWindowBG
{
	width: 100%;
	height: 100%;
	-s2-mix-blend-mode: screen;
}

