/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAStickerItemDetailsPage
{
	margin-top: 58px;
	height: 100%;
	width: 100%;
}

.MainControls
{
	width: 100%;
	height: 100%;
}

#StickerItemDetailsContainer
{
	width: 100%;
	height: 100%;
	flow-children: right;
	horizontal-align: center;
	vertical-align: center;
}

.PageVisible #StickerPreview
{
	opacity: 1;
	transform: none;
	transition-delay: 0s;
}

#StickerPreviewContainer
{
	width: 960px;
	height: 100%;
	vertical-align: center;
}

.StickerPreviewBackground
{
	width: 100%;
	height: 100%;
	wash-color: rgba(0, 0, 0, 0.85);
	background-size: cover;
	background-position: center;
	blur: gaussian (4px);
	background-color: gradient( linear, 0% 50%, 0% 100%, from( #13171f ), to( #2B415A ) );
	visibility: collapse;
}

.IsPopup .StickerPreviewBackground
{
	visibility: visible;
}

#StickerPreview
{
	width: 640px;
	height: width-percentage(100%);
	margin-top: 40px;
	vertical-align: center;
	horizontal-align: center;
}

.BodyBox
{
	vertical-align: center;
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2D2E30 ), to( #202529 ) );
	box-shadow: #000000aa 0px 0px 12px 0px ;
	border: 2px solid black;
}

.IsPopup .BodyBox
{
	box-shadow: #00000000 0px 0px 0px ;
	border: 0px;
	background-color: DarkGreyGradientBackgroundColor;
}

.BodyBox .Details
{
	margin: 20px;
	width: 100%;
	height: 100%;
	flow-children: down;
}

.BodyBox .DetailsSection
{
	padding: 20px;
	width: 100%;
	background-color: #00000058;
	border: 1px solid rgba( 0, 0, 0, 0.6 );
	flow-children: down;
	margin-bottom: 20px;
}

.BodyBox #ItemHeader
{
	width: 100%;
	flow-children: down;
	transition-property: background-color;
	transition-duration: 0.2s;
}

.BodyBox #ItemHeader #Title
{
	font-size: 28px;
	font-weight: semi-bold;
	padding: 36px 16px;
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.BodyBox #ItemHeader #QualityStripe
{
	width: 100%;
	height: 6px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
}

.CloseButton
{
	vertical-align: top;
	horizontal-align: right;
	margin-top: 24px;
	margin-right: 24px;
}

.CreationDate
{
	visibility: collapse;
}

.HasCreationDate .CreationDate
{
	visibility: visible;
}

.BundleGroup
{
	width: 100%;
	flow-children: right;
}

#ItemIconList
{
	flow-children: right;
	vertical-align: center;
	margin-left: 6px;
	margin-bottom: 6px;
}

#ItemIconList DOTAEconItem
{
	margin-right: 10px;
	margin-top: 2px;
	margin-left: 0px;
	margin-bottom: 0px;
	ui-scale: 60%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	tooltip-position: bottom;
}

.Details #Modifiers
{
	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	flow-children: down;
}

.Details .ListedModifier
{
	width: 180px;
	flow-children: right;
	margin-left: 6px;
	margin-top: 3px;
	margin-bottom: 3px;
	overflow: clip scroll;
}

.ItemEditFooter
{
	height: 72px;
	width: 100%;
	background-color: #141415;
	border-top: 1px solid #222222;
	vertical-align: bottom;
}

.Spacer
{
	width: 24px;
	height: 4px;
	visibility: collapse;
}

.RightAlign
{
	horizontal-align: right;
	flow-children: right;
}

.ItemInfo
{
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 4px;
	flow-children: down;
	horizontal-align: right;
	opacity: 1.0;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-delay: .0s;
}

.ItemInfo Label
{
	vertical-align: middle;
	horizontal-align: right;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
}

#ItemQuality
{
	margin-left: 10px;
	visibility: visible;
	flow-children: right;
}

#ItemName
{
	font-size: 24px;
	font-weight: medium;
	color: #ffffffb4;
	padding-top: -3px;
	margin-right: 6px;
}

.SectionBlock
{
	flow-children: down;
	width: 100%;
}

.StoreSellButtons
{
	visibility: collapse;
}

#StoreSellButton
{
	margin-left: 12px;
}

.HasStickersToSell .StoreSellButtons
{
	visibility: visible;
}

#StoreItemGrant
{
	visibility: collapse;
}

.MainBranch #StoreItemGrant
{
	visibility: visible;
}

#StoreItemPurchase,#StoreBundlePurchase
{
	margin-bottom: 8px;
	min-width: 100px;
}

.IsSteamChina #StoreItemPurchase
{
	visibility: collapse;
}

#StoreItemPurchase:disabled,#StoreBundlePurchase:disabled
{
	visibility: collapse;
}

.PurchaseItemButton:disabled
{
	opacity: 0.2;
}

.QualitySelector
{
	margin-top: 28px;
}

.QualitySelector .QualitySelection .QualityOwned
{
	text-overflow: shrink;
}

.HideQuality_unique #QualitySelection_unique,.HideQuality_glitter #QualitySelection_glitter,.HideQuality_holo #QualitySelection_holo,.HideQuality_gold #QualitySelection_gold
{
	visibility: collapse;
}

.OnlyOneQuality .QualitySelector
{
	visibility: collapse;
}

.StickerGeneralControlsContainer
{
	vertical-align: bottom;
	horizontal-align: center;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 20px;
	border-top: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.2, rgba(255, 255, 255, 0.02) ), color-stop( 0.8, rgba(255, 255, 255, 0.02) ), to( rgba(255, 255, 255, 0) ) );
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	transition-delay: 0.6s;
	transition-timing-function: cubic-bezier( 0, 1, 0, 1 );
}

.StickerGeneralControlsContainer .StickerGeneralControls
{
	flow-children: right;
	horizontal-align: center;
}

.StickerGeneralControlsContainer .StickerGeneralControls .ButtonPrimary
{
	margin-right: 5px;
}

.UsesLabel
{
	margin-bottom: -16px;
}

.SubSectionTitle
{
	text-transform: uppercase;
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 16px;
	color: whitesmoke;
	padding: 12px 0px 8px;
	width: 100%;
}

.CollectionButton
{
	visibility: collapse;
}

.HasCollection .CollectionButton
{
	visibility: visible;
}

.PriceNone
{
	visibility: collapse;
}

.QualityPrice
{
	visibility: visible;
}

.Sticker_NoPrice .PriceNone
{
	visibility: visible;
}

.Sticker_NoPrice .QualityPrice
{
	visibility: collapse;
}

.StoreSellContainer
{
	flow-children: right;
}

#StoreSellAmount
{
	vertical-align: middle;
}

#TalentVoiceLineBlock
{
	visibility: collapse;
}

#ChatWheelPreview
{
	width: 44px;
	height: 44px;
	margin-right: 16px;
	background-image: url("s2r://panorama/images/control_icons/play_sound_sml_png.vtex");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	border-radius: 50%;
	background-img-opacity: 0.1;
	border: 2px solid rgba(255, 255, 255, 0.06);
	transition-property: brightness;
	transition-duration: 0.2s;
	z-index: 10;
}

#VoiceLine_UngrantedLabel,#VoiceLine_UnplacedLabel,#VoiceLine_GrantedLabel
{
	font-size: 16px;
	opacity: 0.5;
	visibility: collapse;
}

#VoiceLine_UngrantedLabel
{
	visibility: visible;
}

.Owns_gold #VoiceLine_UngrantedLabel,.Owns_holo #VoiceLine_UngrantedLabel
{
	visibility: collapse;
}

.Owns_gold #VoiceLine_UnplacedLabel,.Owns_holo #VoiceLine_UnplacedLabel
{
	visibility: visible;
}

.Stickers_ChatwheelUnlocked #VoiceLine_UngrantedLabel
{
	visibility: collapse;
}

.Stickers_ChatwheelUnlocked #VoiceLine_GrantedLabel
{
	visibility: visible;
	opacity: 1;
}

.Stickers_ChatwheelUnlocked #VoiceLine_GrantedLabel a
{
	color: #FEE6A9;
	text-decoration: underline;
}

.Stickers_HasChatWheel #TalentVoiceLineBlock
{
	visibility: visible;
}

.Stickers_ChatwheelUnlocked #ChatWheelPreview
{
	background-img-opacity: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E75035 ), to( #982F2E ) );
	border: 2px solid #EA695388;
	transition-property: background-color, border;
	transition-duration: 0.1s;
	transition-timing-function: ease;
	animation-name: glowButton;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
	animation-direction: alternate;
}

.Stickers_ChatwheelUnlocked #ChatWheelPreview:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ff5d40 ), to( #c53c3a ) );
	border: 2px solid #ea6a53;
}

@keyframes 'glowButton'
{
	0%
	{
		box-shadow: 0px 0px 24px #FF704300;
		brightness: 1;
	}
	
	100%
	{
		box-shadow: 0px 0px 32px #FF704333;
		brightness: 2.2;
	}
	
}

