/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#SeasonalRewardsDB #ContentsContainer
{
	opacity: 0;
}

.Season_Fall2026 #SeasonalRewardsDB #ContentsContainer,.OnHomePage #SeasonalRewardsDB #ContentsContainer
{
	opacity: 1;
}

#SeasonalRewardsDB .BackgroundImage
{
	opacity: 0.1;
	brightness: 0.5;
}

.Season_Fall2026 #SeasonalRewardsDB .BackgroundImage,.OnHomePage #SeasonalRewardsDB .BackgroundImage
{
	opacity: 1;
	brightness: 1;
}

#SeasonalRewardsDB .BackgroundFX
{
	opacity: 0;
}

.Season_Fall2026 #SeasonalRewardsDB .BackgroundFX,.OnHomePage #SeasonalRewardsDB .BackgroundFX
{
	opacity: 1;
}

.SeasonalRewardLineBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #211910 ), to( #120a06 ) );
}

.BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/fall_background_png.vtex");
}

.FloorBackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/floor_png.vtex");
}

#SeasonTitle
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.IntroText,.RewardCategoryTitles
{
	color: #d1c7af;
}

.BackgroundImageGlow
{
	wash-color: #ffdb99;
}

.SmokeFXBottom
{
	wash-color: rgb(255, 208, 154);
	contrast: 1.5;
	brightness: 1.2;
}

.EventFramingContainer
{
	wash-color: rgb(255, 208, 154);
}

.TimeLeftLabels
{
	color: rgba(219, 194, 155, 0.3);
}

.RewardDetailsHeroName
{
	color: #e8cca388;
}

.TopRightGodRays
{
	hue-rotation: -190deg;
	opacity: 0.3;
}

#ParticleRewardsContainer,.OtherRewardsContainer
{
	border-color: rgba(255, 226, 192, 0.05);
}

.BackstoryButton
{
	wash-color: rgba(255, 226, 192, 0.5);
}

#CenterRewardDetailsContainer
{
	z-index: 1;
}

#CenterRewardDetailsContainer .HeroRewardHitBox
{
	opacity: 0;
}

.Tier1 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier1
{
	opacity: 1;
}

.Tier2 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier2
{
	opacity: 1;
}

#CenterRewardDetailsContainer .HeroShadow
{
	transform: translateY( 0px ) scaleX( 1.4 );
}

#LeftRewardDetailsContainer .HeroRewardHitBox
{
	width: 110%;
	height: 45%;
	x: -50px;
}

#LeftRewardDetailsContainer .HeroShadow
{
	transform: translateX( -40px ) translateY( -20px ) scaleX( 1.65 );
}

#LeftRewardDetailsContainer .HeroShadow.Ward
{
	transform: translateX( -140px ) translateY( 45px ) scaleX( 1 );
}

#CenterRewardDetailsContainer .HeroRewardHitBox
{
	width: 120%;
	height: 52%;
}

#RightRewardDetailsContainer .HeroRewardHitBox
{
	height: 80%;
	height: 40%;
	x: 40px;
}

#RightRewardDetailsContainer .HeroShadow
{
	transform: translateX( 0px ) translateY( -10px ) scaleX( 1.4 );
}

#Reward_LeftHero
{
	transform: translateX( 80px ) translateY( 80px );
	width: 1080px;
}

#Reward_Ward
{
	ignore-parent-flow: true;
	width: 1080px;
	height: width-percentage( 100% );
	transform: translateX( -150px ) translateY( 160px );
}

#Reward_CenterHero
{
	width: 1080px;
	transform: translateX( 20px ) translateY( 90px );
}

#Reward_RightHero
{
	transform: translateX( 50px ) translateY( 60px );
	width: 1080px;
}

#Reward_Ward
{
	width: 650px;
	padding-top: 10px;
	padding-left: 10px;
}

.EventHistoryNavigation
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #21191000 ), color-stop( 0.2, #211910cc ), color-stop( 0.8, #211910cc ), to( #21191000 ) );
}

