/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CollectorsCacheWinter2025Background
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 20%, 0% 100%, from( #0f191f ), to( #23353f ) );
}

.BackgroundImageContainer
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	max-width: 2700px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff2a ), color-stop( 0.25, white ), color-stop( 0.75, white ), to( #ffffff2a ) );
}

.AspectRatio21x9 .BackgroundImageContainer
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.25, white ), color-stop( 0.75, white ), to( #ffffff00 ) );
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/collectors_cache_winter_2025_jpg.vtex");
	background-size: cover;
	background-position: center;
	transition-property: blur, opacity, brightness, opacity-brush;
	transition-duration: 0.5s;
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );
	blur: gaussian( 6px );
	brightness: 0.2;
	opacity: 0.5;
}

.OnHomePage .BackgroundImage
{
	opacity: 1;
	brightness: 1;
	blur: gaussian( 0px );
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff ) );
}

.ParticleWindowBG
{
	width: 1920px;
	height: 100%;
	-s2-mix-blend-mode: screen;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.3, #FFFFFF ), color-stop( 0.8, #FFFFFF ), to( #FFFFFF00 ) );
	horizontal-align: center;
	wash-color: rgb(194, 232, 255);
	visibility: collapse;
}

.OnHomePage .ParticleWindowBG
{
	visibility: visible;
}

.BackgroundImageGlow
{
	horizontal-align: center;
	vertical-align: bottom;
	-s2-mix-blend-mode: screen;
	width: 1600px;
	height: 700px;
	blur: gaussian(4px);
	hue-rotation: -20deg;
	brightness: 2;
	saturation: 0.9;
	margin-bottom: -220px;
	transition-property: opacity;
	transition-duration: 0.6s;
	transition-delay: 0.3s;
	opacity: 0;
}

.OnHomePage .BackgroundImageGlow
{
	opacity: 0.4;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.SmokeFX
{
	width: 940px;
	height: 640px;
	horizontal-align: center;
	vertical-align: bottom;
	wash-color: rgb(162, 180, 214);
	-s2-mix-blend-mode: screen;
	margin-bottom: -40px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	visibility: collapse;
}

.OnHomePage .SmokeFX
{
	visibility: visible;
}

.HeroesSceneModels
{
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.4, #ffffff ), to( #bdd2ff ) );
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	opacity: 0;
}

.OnHomePage .HeroesSceneModels
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.AspectRatio16x10 .HeroesSceneModels
{
	transform: scale3d( 0.9, 0.9, 1 );
}

.HeroesSceneModels #PremiumReward_ShadowFiend
{
	horizontal-align: center;
	vertical-align: center;
	contrast: 1.02;
	brightness: 1.4;
	saturation: 1.1;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 830px;
	height: 830px;
	transform: translateX( 430px ) translateY( 50px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_ShadowFiend
{
	x: 100px;
}

.HeroesSceneModels #PremiumReward_Ringmaster
{
	horizontal-align: center;
	vertical-align: center;
	width: 860px;
	height: 860px;
	transform: translateX( -390px ) translateY( 100px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Ringmaster
{
	x: -100px;
}

.HeroesSceneModels #PremiumReward_Tiny
{
	horizontal-align: center;
	vertical-align: center;
	width: 1080px;
	height: 1080px;
	transform: translateX( -70px ) translateY( -100px );
}

.HeroesSceneModels .HeroShadowLeft,.HeroesSceneModels .HeroShadowRight,.HeroesSceneModels .HeroShadowMiddle
{
	width: 420px;
	height: 50px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffffff ), color-stop(0.4, #ffffffc8 ), color-stop(0.7, #ffffff64 ), to( #ffffff00 ) );
	blur: gaussian( 8px );
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 108px;
	wash-color: rgb(60, 73, 92);
}

.HeroesSceneModels .HeroShadowLeft
{
	margin-right: 780px;
}

.AspectRatio21x9 .HeroesSceneModels .HeroShadowLeft
{
	x: -100px;
}

.HeroesSceneModels .HeroShadowRight
{
	margin-left: 780px;
}

.AspectRatio21x9 .HeroesSceneModels .HeroShadowRight
{
	x: 100px;
}

.BGVignette
{
	width: 100%;
	height: 600px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0) ), to( rgb(15, 26, 35) ) );
}

#FxScene
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 645px;
	height: width-percentage( 80% );
	margin-bottom: 8px;
	margin-left: -8px;
	wash-color: rgb(226, 240, 255);
	brightness: 1.5;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

#FxScene.LogoTrigger
{
	opacity: 0;
	transform: none;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.OnHomePage #FxScene.LogoTrigger
{
	opacity: 1;
}

.OnHomePage #FxScene
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
	padding: 60px 0px;
	margin-bottom: 72px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

.OnHomePage .TitleContainer
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer Label
{
	horizontal-align: center;
	text-align: center;
}

.TitleContainer .CCLabel
{
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 8px black;
}

.TitleContainer .CCTitle
{
	color: gradient( linear, 0% 35%, 0% 100%, from( white ), color-stop( 0.4, #d4e3ef ), color-stop( 0.6, #b8bec0 ), to( #a2a6a9 ) );
	text-shadow: 0px 8px 48px 16 rgba(0, 0, 0, 0.1);
	font-size: 52px;
	font-weight: normal;
	width: 580px;
	max-height: 76px;
	text-overflow: shrink;
}

.TitleContainer .CCAvailable
{
	font-family: titleFont;
	color: rgba(240, 249, 255, 0.8);
	text-shadow: 0px 2px 24px 3.0 #000a;
	width: 600px;
	height: 52px;
	text-overflow: shrink;
}

.TitleContainer .StarsFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#BuyNowButton
{
	horizontal-align: center;
	margin: 16px 16px 0px;
}

