/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BZooPage
{
	flow-children: down;
}

.BensFrontPageCell2
{
	width: 330px;
	height: 242px;
	margin: 20px;
}

.BensFrontPageCell2 .BgImage
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/cell_guide_png.vtex");
	background-size: 100%;
	pre-transform-scale2d: 1.0;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.BensFrontPageCell2 #PremiumReward_VengefulSpirit
{
	width: 220%;
	height: 220%;
	transform: translateX( -300px ) translateY( -40px ) scale3d( 1, 1, 1 );
	overflow: noclip;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease;
}

.BensFrontPageCell2 .BensFrontPageCell2GradientBottom
{
	vertical-align: bottom;
	width: 100%;
	height: 50%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(0, 0, 0, 0) ), to( #000000 ) );
}

.BensFrontPageCell2 .BensFrontPageCell2GradientTop
{
	vertical-align: Top;
	width: 100%;
	height: 30%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( rgba(247, 255, 209, 0.062) ), to( rgba(235, 252, 157, 0) ) );
}

.BensFrontPageCell2 #ClaimButton
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	margin: 20px;
}

.BensFrontPageCell2 .AegisStarFX
{
	width: 400px;
	height: 400px;
	horizontal-align: center;
	vertical-align: center;
	-s2-mix-blend-mode: screen;
	brightness: .5;
	saturation: 1.5;
}

.BensFrontPageCell2 .AegisStarFX.Star1
{
	transform: translateY( 33% );
}

.BensFrontPageCell2 .AegisStarFX.Star2
{
	transform: translateY( 55% );
}

.BensFrontPageCell2 .BensFrontPageCell2Text
{
	width: 100%;
	height: 100%;
	padding: 10px;
	flow-children: down;
}

.BensFrontPageCell2 .BensFrontPageCell2Text Label
{
	horizontal-align: center;
}

.BensFrontPageCell2 .BensFrontPageCell2Text #LabelTitle
{
	font-size: 20px;
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 12px 2.0 #000a;
	vertical-align: top;
	text-overflow: shrink;
}

.BensFrontPageCell2 .BensFrontPageCell2Text #DescriptionLabel
{
	font-family: titleFont;
	text-shadow: 0px 2px 12px 2.0 #000a;
	color: gradient( linear, 0% 30%, 0% 140%, from( #ffebce ), to( #9a876a ) );
	color: rgba(255, 245, 226, 0.7);
	vertical-align: top;
	text-overflow: shrink;
}

.BensFrontPageCell2 .BensFrontPageCell2Text .ButtonLabel
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	color: rgb(255, 253, 123);
	text-shadow: 0px 2px 12px rgba(255, 255, 255, 0.5);
}

.BensFrontPageCell2 #TimeLeft
{
	margin-bottom: 4px;
	horizontal-align: center;
	vertical-align: bottom;
	font-size: 12px;
	color: rgba(211, 208, 202, 0.6);
	text-shadow: 0px 1px 8px 2.0 rgba(0, 0, 0, 0.856);
	text-align: center;
	horizontal-align: center;
}

.BensFrontPageCell2:enabled:hover .BgImage
{
	brightness: 1.5;
	pre-transform-scale2d: 1.03;
}

.BensFrontPageCell2:enabled:hover #PremiumReward_VengefulSpirit
{
	transform: translateX( -300px ) translateY( -30px ) scale3d( 1.05, 1.05, 1 );
}

