
 .ShardsIcon{

     vertical-align: middle;
     width: 22px;
     height: 22px;
     margin-right: 3px;
     transform: translateY( -1px );

     background-image: dotaPlusCurrencySmallIcon;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;

     saturation: 0.5;
     brightness: 0.5;

     transition-property: saturation, brightness;
     transition-duration: 0.2s;
 }

 RadioButton:hover:enabled .ShardsIcon{

     saturation: 1.0;
     brightness: 1.0;
 }

 RadioButton:selected .ShardsIcon{

     saturation: 1.0;
     brightness: 1.0;
 }

 #RightTabGroup{

     horizontal-align: right;
     ignore-parent-flow: true;
     flow-children: right;
     margin-right: 16px;
 }

 #CollectionTabs{

     width: 100%;
     padding-right: 20px;
     padding-top: 0px;
     padding-bottom: 0px;
 }

 .SecondaryTabButton{
     margin-top: 4px;
 }

 .SecondaryTabSeparator{
     margin-top: 4px;
 }

 #CollectionSearch{
     width: 24px;
     height: 24px;
     wash-color: #768e8d;

     transition-duration: 0.2s;
     transition-property: wash-color;
 }
     #CollectionSearch:hover{
         wash-color: white;
     }

     #CollectionSearch:selected,:selected #CollectionSearch{

         wash-color: white;
         img-shadow: 0px 0px 12px #5d7070;
     }


 .FeaturedTabContainer{
     height: 46px;
     overflow: noclip clip;
     margin-right: 20px;
     padding-right: 20px;
     margin-top: 2px;
 }
     .FeaturedTabContainer .SecondaryTabButton{
         margin-top: 2px;
     }


 .FeaturedEdge{
     horizontal-align: right;
     overflow: noclip;
     width: 100%;
     height: 100%;
     background-color: rgba(255, 0, 0, 0.4);
     transform: skewX( -16deg );

     background-color: gradient( linear, 100% 10%, 40% -20%, from( rgba(146, 182, 255, 0.06) ), to( #2f00ff00 ) );

     border: 1px solid white;
     border-brush: gradient( linear, 100% 30%, 80% 0%, from( #63acff15 ), to( #FFFFFF00 ) );
}