/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPastEventsPage
{
	width: 100%;
	height: 100%;
}

#BackgroundImage
{
	width: 100%;
	height: 100%;
	brightness: 0.5;
}

.PastEventsWrapper
{
	horizontal-align: center;
	flow-children: down;
	width: 960px;
	margin-top: 60px;
}

.PastEventsContainer
{
	width: 100%;
	flow-children: down;
	margin-bottom: 16px;
}

#Header
{
	horizontal-align: center;
	flow-children: down;
	width: 100%;
	margin-top: 120px;
}

#Header Label
{
	text-align: center;
	horizontal-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	vertical-align: center;
	font-weight: semi-bold;
	color: white;
	margin-bottom: 8px;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
}

.PastEvent
{
	margin: 10px;
	width: 100%;
	height: 280px;
	background-color: black;
	transition-property: brightness, transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	box-shadow: 0px 8px 48px -6px rgba(0, 0, 0, 0.6);
}

.PastEvent:hover
{
	brightness: 1.5;
}

.PastEvent:hover .CellBackground
{
	transform: scale3d( 1.03, 1.03, 1 );
}

.PastEvent .CellBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgba(255, 255, 255, 0.02);
	z-index: 1;
}

.PastEvent .CellBackground
{
	width: 100%;
	height: 100%;
	background-image: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: red;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1a2d43 ), to( #05080d ) );
	transition-property: brightness, transform;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

.PastEvent .CellLabel
{
	horizontal-align: center;
	text-align: center;
	vertical-align: bottom;
	text-shadow: 0px 2px 12px 2 black;
	color: rgba(255, 255, 255, 0.9);
	margin: 12px 20px;
	font-size: 16px;
	max-height: 38px;
	text-overflow: shrink;
	opacity: 0.6;
}

.PastEvent .DashDotDivider
{
	width: 40%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.PastEvent .DashDotDivider .Dash
{
	opacity: 0.2;
}

.PastEvent .DashDotDivider .Dot
{
	margin: 0px;
}

.PastEvent .GoldTitle
{
	horizontal-align: center;
	vertical-align: bottom;
	font-family: titleFont;
	font-size: 18px;
	color: gradient( linear, 0% 20%, 0% 90%, from( white ), color-stop( 0.70, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	margin-left: 10px;
	margin-right: 5px;
}

.PastEvent.Crownfall .CellBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/backgrounds/bg_act4_png.vtex");
}

.PastEvent.Crownfall .DashDotDivider
{
	width: 40%;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.PastEvent.Crownfall .DashDotDivider .Dash
{
	opacity: 0.2;
}

.PastEvent.Crownfall .DashDotDivider .Dot
{
	margin: 0px;
}

.PastEvent.Crownfall .GoldTitle
{
	horizontal-align: center;
	vertical-align: bottom;
	font-family: titleFont;
	font-size: 18px;
	color: gradient( linear, 0% 20%, 0% 90%, from( white ), color-stop( 0.70, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 1);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	margin-left: 10px;
	margin-right: 5px;
}

.PastEvent.Crownfall .CrownfallLogoContainer
{
	horizontal-align: center;
	margin-top: 40px;
	ui-scale: 72%;
}

.Language_schinese .PastEvent.Crownfall .CrownfallLogoContainer
{
	margin-bottom: 12px;
}

.PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoEN,.PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoCN
{
	width: 480px;
	height: width-percentage( 80% );
	margin: -40px 0px -150px 0px;
}

.Language_schinese .PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoEN,.Language_schinese .PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoCN
{
	margin: -40px 0px -150px 0px;
}

.PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoCN
{
	visibility: collapse;
}

.Language_schinese .PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoCN
{
	visibility: visible;
}

.PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoEN
{
	visibility: visible;
}

.Language_schinese .PastEvent.Crownfall .CrownfallLogoContainer #CrownfallLogoEN
{
	visibility: collapse;
}

.PastEvent.Crownfall .HeroesSceneModels
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	overflow: noclip;
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	wash-color: rgba(17, 92, 230, 0.2);
	opacity: 1;
}

.PastEvent.Crownfall .HeroesSceneModels .PremiumReward
{
	horizontal-align: center;
	vertical-align: center;
	width: 880px;
	height: 880px;
	overflow: noclip;
	transition-property: brightness, opacity;
	transition-duration: 0.2s;
}

.PastEvent.Crownfall .HeroesSceneModels .PremiumReward.Hovered
{
	brightness: 2;
}

.PastEvent.Crownfall #PremiumReward_Skywrath
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/masks/skywrath_model_mask_png.vtex");
	transform: translateX( -240px ) translateY( 60px );
}

.PastEvent.Crownfall #PremiumReward_Vengeful
{
	opacity-mask: url("s2r://panorama/images/events/crownfall/masks/vengeful_model_mask_png.vtex");
	transform: translateX( 370px ) translateY( 60px );
}

.PastEvent.MonsterHunter
{
	visibility: collapse;
}

.PastEvent.MonsterHunter:hover .MonsterHunterScene
{
	brightness: 0.8;
	pre-transform-scale2d: 1.03;
}

.PastEvent.MonsterHunter .MonsterHunterScene
{
	width: 100%;
	height: 100%;
	vertical-align: center;
	horizontal-align: center;
	overflow: noclip;
	background-color: none;
	opacity: 1;
	transition-property: opacity, pre-transform-scale2d, brightness;
	transition-duration: 0.5s, 0.2s;
}

.PastEvent.MonsterHunter .MonsterHunterScene.Initialize
{
	opacity: 1;
}

.PastEvent.MonsterHunter .Shade
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	width: 100%;
	height: 80%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #40758000 ), color-stop( 0.75, #1B2626dd ), to( #181A1C ) );
}

.PastEvent.MonsterHunter .LogoContainer
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 16px;
	ui-scale: 105%;
}

.PastEvent.MonsterHunter .LogoContainer .LogoListBackgroundContainer
{
	width: 100%;
	height: 100%;
}

.PastEvent.MonsterHunter .LogoContainer .LogoListBackgroundContainer .TitleEmblem
{
	horizontal-align: center;
	width: 90%;
	height: 7px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hero_title_emblem.vsvg");
	background-size: cover;
	background-position: center;
	background-texture-size: 1600px 16px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.5, white ), to( rgba(255, 255, 255, 0) ) );
	brightness: 0.6;
}

.PastEvent.MonsterHunter .LogoContainer .LogoListBackgroundContainer .TitleEmblem.Bottom
{
	vertical-align: bottom;
	transform: scaleY( -1 );
	width: 60%;
}

.PastEvent.MonsterHunter .LogoContainer .LogoListBackgroundContainer .LogoListBackground
{
	width: 100%;
	height: 100%;
	margin: 7px 0px;
	wash-color: rgb(0, 0, 0);
	opacity: 0.9;
	background-color: gradient( linear, 10% 0%, 90% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.25, rgba(255, 255, 255, 0.9) ), color-stop(0.5, rgba(255, 255, 255, 0.98) ), color-stop(0.75, rgba(255, 255, 255, 0.9) ), to( rgba(255, 255, 255, 0) ) );
}

.PastEvent.MonsterHunter .LogoContainer .LogoList
{
	padding: 16px 80px;
	flow-children: right;
	horizontal-align: center;
	overflow: noclip;
}

.Language_schinese .PastEvent.MonsterHunter .LogoContainer .LogoList
{
	margin-left: 8px;
}

.PastEvent.MonsterHunter .LogoContainer .LogoList .DotaLogo,.PastEvent.MonsterHunter .LogoContainer .LogoList .DotaLogoCN
{
	height: 30px;
	vertical-align: center;
	img-shadow: 0px 4px 12px black;
}

.PastEvent.MonsterHunter .LogoContainer .LogoList .DotaLogoCN
{
	visibility: collapse;
}

.Language_schinese .PastEvent.MonsterHunter .LogoContainer .LogoList .DotaLogoCN
{
	visibility: visible;
}

.Language_schinese .PastEvent.MonsterHunter .LogoContainer .LogoList .DotaLogo
{
	visibility: collapse;
}

.PastEvent.MonsterHunter .LogoContainer .LogoList .CrossIcon
{
	height: 20px;
	margin-left: 18px;
	margin-right: -2px;
	vertical-align: center;
	img-shadow: 0px 4px 12px black;
}

.PastEvent.MonsterHunter .LogoContainer .LogoList .MonsterHunterLogoHoriz
{
	height: 80px;
	saturation: 0.8;
	margin-top: -36px;
	vertical-align: center;
	img-shadow: 0px 4px 12px 3 black;
}

.ShowMonsterHunter .PastEvent.MonsterHunter
{
	visibility: visible;
}

