/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.BensFrontPageCell
{
	width: 330px;
	height: 242px;
	border: 1px solid red;
	background-color: blue;
	padding: 12px;
	flow-children: down;
}

.BensFrontPageCell Label
{
	horizontal-align: center;
}

.BensFrontPageCell .ButtonLabel
{
	ignore-parent-flow: true;
	vertical-align: bottom;
	color: yellow;
	text-shadow: 0px 2px 12px rgba(255, 255, 255, 0.5);
}

