/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.SeasonalRewardLineBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #211910 ), to( #120a06 ) );
}

.BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/fall_background_png.vtex");
}

.FloorBackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/floor_png.vtex");
}

#SeasonTitle
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.IntroText,.RewardCategoryTitles
{
	color: #d1c7af;
}

.BackgroundImageGlow
{
	wash-color: #ffdb99;
}

.SmokeFXBottom
{
	wash-color: rgb(255, 208, 154);
	contrast: 1.5;
	brightness: 1.2;
}

.EventFramingContainer
{
	wash-color: rgb(255, 208, 154);
}

.TimeLeftLabels
{
	color: rgba(219, 194, 155, 0.3);
}

.RewardDetailsHeroName
{
	color: #e8cca388;
}

.TopRightGodRays
{
	hue-rotation: -190deg;
	opacity: 0.3;
}

#ParticleRewardsContainer,.OtherRewardsContainer
{
	border-color: rgba(255, 226, 192, 0.05);
}

#LegionCommanderRewardDetailsContainer
{
	z-index: 1;
}

#LegionCommanderRewardDetailsContainer .HeroRewardHitBox
{
	opacity: 0;
}

.LegionCommanderTier1 #LegionCommanderRewardDetailsContainer .HeroRewardHitBox.Tier1
{
	opacity: 1;
}

.LegionCommanderTier2 #LegionCommanderRewardDetailsContainer .HeroRewardHitBox.Tier2
{
	opacity: 1;
}

#LegionCommanderRewardDetailsContainer .HeroShadow
{
	transform: translateY( 15px );
}

#PremiumReward_Witchdoctor
{
	transform: translateX( 20px ) translateY( 0px );
}

#PremiumReward_WitchdoctorDeathWard
{
	ignore-parent-flow: true;
	transform: translateX( -140px ) translateY( 80px );
}

#PremiumReward_LegionCommander
{
	width: 920px;
	transform: translateX( 0px ) translateY( 50px );
}

#PremiumReward_VengefulSpirit
{
	transform: translateX( 20px ) translateY( -10px );
}

