/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CosmicHeroesHoard2025Background
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #10171a ), to( #010101 ) );
}

.BackgroundImageContainer
{
	horizontal-align: center;
	width: 100%;
	height: 100%;
	max-width: 2560px;
	margin-top: 60px;
}

.AspectRatio21x9 .BackgroundImageContainer
{
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.15, white ), color-stop( 0.85, white ), to( #ffffff00 ) );
}

.BackgroundImage
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/monster_hoard_2026_background_png.vtex");
	background-size: cover;
	background-position: center;
	transition-property: blur, opacity, brightness, opacity-brush;
	transition-duration: 0.5s;
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff00 ) );
	blur: gaussian( 6px );
	brightness: 0.2;
}

.OnHomePage .BackgroundImage
{
	brightness: 1;
	blur: gaussian( 0px );
	opacity-brush: gradient( radial, 50% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff ) );
}

.SmokeFX
{
	width: 80%;
	height: 100%;
	horizontal-align: center;
	vertical-align: center;
	wash-color: rgb(120, 136, 142);
	margin-top: -160px;
	-s2-mix-blend-mode: overlay;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), color-stop( 0.15, white ), color-stop( 0.85, white ), to( #ffffff00 ) );
	visibility: collapse;
}

.BackgroundImageGlow
{
	horizontal-align: center;
	vertical-align: bottom;
	-s2-mix-blend-mode: screen;
	width: 900px;
	hue-rotation: -55deg;
	blur: gaussian(4px);
	transition-property: opacity;
	transition-duration: 0.6s;
	transition-delay: 0.3s;
	opacity: 0;
}

.OnHomePage .BackgroundImageGlow
{
	opacity: 0.3;
	transition-duration: 0.2s;
	transition-delay: 0s;
}

.HeroesSceneModels
{
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.4, #ffffff ), color-stop( 0.7, #f4e2ff ), to( #402576 ) );
	transition-property: transform, opacity;
	transition-duration: 0.35s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transition-delay: 0.2s;
	opacity: 0;
}

.OnHomePage .HeroesSceneModels
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.15s;
	transition-delay: 0s;
}

.HeroesSceneModels #PremiumReward_Right
{
	horizontal-align: center;
	vertical-align: center;
	width: 1000px;
	height: width-percentage(100%);
	transform: translateX( 330px ) translateY( -40px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Right
{
	transform: translateX( 430px ) translateY( -40px );
}

.HeroesSceneModels #PremiumReward_Left
{
	horizontal-align: center;
	vertical-align: center;
	width: 960px;
	height: width-percentage(100%);
	transform: translateX( -440px ) translateY( -60px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Left
{
	transform: translateX( -540px ) translateY( -60px );
}

.HeroesSceneModels #PremiumReward_Middle
{
	horizontal-align: center;
	vertical-align: center;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	width: 1080px;
	height: 1080px;
	transform: translateX( 0px ) translateY( -110px );
}

.AspectRatio21x9 .HeroesSceneModels #PremiumReward_Middle
{
	transform: translateX( -40px ) translateY( -110px );
}

.AspectRatio16x10 .HeroesSceneModels
{
	transform: scale3d( 0.88, 0.88, 1 ) translateY( 0% );
}

.HeroesSceneModels .HeroShadowLeft,.HeroesSceneModels .HeroShadowRight,.HeroesSceneModels .HeroShadowMiddle
{
	width: 700px;
	height: 100px;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop(0.7, #000000a0 ), to( #00000000 ) );
	blur: gaussian( 8px );
	vertical-align: bottom;
	horizontal-align: center;
	margin-bottom: 180px;
}

.HeroesSceneModels .HeroShadowLeft
{
	margin-right: 700px;
}

.HeroesSceneModels .HeroShadowRight
{
	margin-left: 700px;
}

.HeroesSceneModels .HeroShadowMiddle
{
	margin-bottom: 120px;
}

.BGVignette
{
	width: 100%;
	height: 500px;
	vertical-align: bottom;
	background-color: gradient( linear, 0% 0%, 0% 92%, from( rgba(0, 0, 0, 0) ), to( rgb(13, 13, 23) ) );
}

#FxScene
{
	horizontal-align: center;
	vertical-align: bottom;
	width: 645px;
	height: width-percentage( 80% );
	margin-bottom: 2px;
	margin-left: -8px;
	transform: translateY(24px);
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

#FxScene.LogoTrigger
{
	opacity: 0;
	transform: none;
	transition-duration: 0.2s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.OnHomePage #FxScene.LogoTrigger
{
	opacity: 1;
}

.OnHomePage #FxScene
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 120px;
	transform: translateY(16px);
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

.OnHomePage .TitleContainer
{
	opacity: 1;
	transform: none;
	transition-duration: 0.1s;
	transition-delay: 0.0s;
	transition-timing-function: ease-out;
}

.TitleContainer .EmblemShadow
{
	width: 100%;
	height: 80%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #000000 ), color-stop( 0.5, #0000007d ), to( #00000000 ) );
	vertical-align: bottom;
}

.TitleContainer Label
{
	horizontal-align: center;
	text-align: center;
}

.TitleContainer .TitleContents
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 170px;
}

.TitleContainer .TitleContents .CCLabel
{
	color: gradient( linear, 0% 30%, 0% 100%, from( #fff0d8 ), to( #bf9e71 ) );
	text-shadow: 0px 2px 8px black;
}

.TitleContainer .TitleContents .CCTitle
{
	font-family: titleFont;
	letter-spacing: 1px;
	color: white;
	text-shadow: 0px 0px 48px rgba(107, 211, 255, 0.094);
	font-weight: normal;
	max-width: 900px;
	max-height: 75px;
	text-overflow: shrink;
}

.TitleContainer .TitleContents .CCAvailable
{
	font-family: titleFont;
	color: rgba(197, 234, 235, 0.8);
	text-shadow: 0px 2px 12px 3.0 #000a;
	margin-top: -4px;
	width: 900px;
}

.TitleContainer .EmblemContainer
{
	horizontal-align: center;
}

.TitleContainer .EmblemContainer .EmblemImage
{
	width: 800px;
}

.TitleContainer .EmblemContainer .EmblemFX
{
	width: 800px;
	height: 100%;
	hue-rotation: 160deg;
	opacity: 0.3;
	padding-left: 6px;
}

.MonsterHoardButton
{
	horizontal-align: center;
	margin-top: 12px;
	padding: 8px;
	min-width: 320px;
	transition-property: transform;
	transition-duration: 0.05s;
}

.MonsterHoardButton .MonsterHoardButtonBackgroundBlur
{
	img-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8);
}

.MonsterHoardButton .MonsterHoardButtonBackground
{
	transition-property: brightness;
	transition-duration: 0.15s;
}

.MonsterHoardButton .MonsterHoardButtonBackground,.MonsterHoardButton .MonsterHoardButtonBackgroundBlur
{
	width: 100%;
	height: 68px;
	border-width: 68px 64px 0px 64px;
	border-image-slice: 100% 128px 0px 128px;
	border-image-source: url("s2r://panorama/images/treasures/monster_hoard/monster_hoard_button_png.vtex");
}

.MonsterHoardButton Label
{
	vertical-align: center;
	padding: 4px 72px;
	margin-top: -2px;
	text-shadow: 0px 2px 12px black;
	color: gradient( linear, 0% 30%, 0% 90%, from( #dbeff0 ), to( #779597 ) );
	font-family: titleFont;
	font-size: 16px;
	letter-spacing: 2px;
	transition-property: color, text-shadow;
	transition-duration: 0.15s;
}

.MonsterHoardButton .ButtonFX,.MonsterHoardButton .ButtonFXActive
{
	width: 100%;
	height: 68px;
	opacity-mask: url("s2r://panorama/images/treasures/monster_hoard/monster_hoard_button_mask_psd.vtex");
	transition-property: opacity;
	transition-duration: 0.35s;
}

.MonsterHoardButton .ButtonFX
{
	opacity: 1;
}

.MonsterHoardButton .ButtonFXActive
{
	opacity: 0.01;
}

.MonsterHoardButton:hover .MonsterHoardButtonBackground
{
	brightness: 2.5;
}

.MonsterHoardButton:hover Label
{
	color: gradient( linear, 0% 30%, 0% 90%, from( #ffffff ), to( #ffffff ) );
	text-shadow: 0px 0px 12px rgba(161, 241, 255, 0.2);
}

.MonsterHoardButton:hover .ButtonFX
{
	opacity: 0.01;
}

.MonsterHoardButton:hover .ButtonFXActive
{
	opacity: 1;
}

.MonsterHoardButton:active
{
	transform: scale3d( 0.98, 0.98, 1 );
}

