/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

.SelfOnly
{
	flow-children: right;
	visibility: collapse;
}

.ViewingSelf .SelfOnly
{
	visibility: visible;
}

.SelfOrFriendsOnly
{
	flow-children: right;
	visibility: collapse;
}

.ViewingSelf .SelfOrFriendsOnly
{
	visibility: visible;
}

.ViewingFriend .SelfOrFriendsOnly
{
	visibility: visible;
}

.SecondaryTabButton .PlusIcon
{
	margin-right: 8px;
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Stats
{
	visibility: visible;
}

#BattleStats
{
	visibility: collapse;
}

.ShowBattleStats #BattleStats
{
	visibility: visible;
}

#BattleStatsSeparator
{
	visibility: collapse;
}

.ShowBattleStats #BattleStatsSeparator
{
	visibility: visible;
}

DOTAProfileTabs #ProfileTabsAvatarImage
{
	width: 24px;
	height: width-percentage( 100% );
	margin-right: 10px;
}

DOTAProfileTabs #ProfileTabsAvatarImage #AvatarImage
{
	border: 0px solid black;
}

