/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#ContentsContainer
{
	opacity: 0;
}

.OnHomePage #ContentsContainer
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.BackgroundImage
{
	blur: gaussian( 6px );
	opacity: 0.5;
	brightness: 0.2;
}

.OnHomePage .BackgroundImage
{
	opacity: 1;
	brightness: 1;
	blur: gaussian( 1px );
}

.SeasonalRewardLineBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #12292e ), to( #060608 ) );
}

.BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/winter_background_png.vtex");
}

.FloorBackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/floor_winter_png.vtex");
}

#SeasonTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #dff9ff ) );
}

.IntroText
{
	color: #c7e5f1;
}

.BackgroundImageGlow
{
	wash-color: #b5e9ff;
	opacity: 0.3;
}

.SmokeFXBottom
{
	wash-color: rgb(199, 229, 255);
	contrast: 1.5;
	brightness: 1.2;
}

.EventFramingContainer
{
	wash-color: rgb(154, 188, 255);
}

.TimeLeftLabels
{
	color: rgba(169, 197, 205, 0.3);
}

.RewardCategoryTitles
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #cfe2f4 ), to( #4b5261 ) );
}

.RewardDetailsHeroName
{
	color: #e1dfc788;
}

.ParticleWindowBG
{
	wash-color: rgb(194, 232, 255);
}

.ParticleBGLanternFX
{
	width: 300px;
	height: 300px;
	horizontal-align: center;
	vertical-align: center;
	margin-right: 393px;
	margin-bottom: 200px;
	-s2-mix-blend-mode: screen;
}

.AspectRatio16x10 .ParticleBGLanternFX
{
	margin-right: 350px;
	margin-bottom: 180px;
}

.AspectRatio21x9 .ParticleBGLanternFX
{
	margin-right: 490px;
	margin-bottom: 240px;
	ui-scale: 125%;
}

.TopRightGodRays
{
	hue-rotation: -30deg;
	opacity: 0.3;
	saturation: 0.7;
}

#ParticleRewardsContainer,.OtherRewardsContainer
{
	border-color: rgba(192, 225, 255, 0.05);
}

.TitleAndLogo
{
	y: 12px;
}

#CenterRewardDetailsContainer
{
	z-index: 1;
}

#CenterRewardDetailsContainer .HeroRewardHitBox
{
	opacity: 0;
}

.Tier1 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier1
{
	opacity: 1;
}

.Tier2 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier2
{
	opacity: 1;
}

#CenterRewardDetailsContainer .HeroShadow
{
	transform: translateY( 15px ) scaleX( 1.4 );
}

#LeftRewardDetailsContainer .HeroRewardHitBox
{
	width: 80%;
}

#RightRewardDetailsContainer .HeroRewardHitBox
{
	height: 80%;
}

#Reward_LeftHero
{
	transform: translateX( 20px ) translateY( 40px );
	width: 780px;
}

#Reward_Ward
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	transform: translateX( -140px ) translateY( 50px );
}

.AspectRatio16x10 #Reward_Ward
{
	transform: translateX( -120px ) translateY( 50px );
}

#Reward_CenterHero
{
	width: 800px;
	transform: translateX( 10px ) translateY( 30px );
}

#Reward_RightHero
{
	transform: translateX( 20px ) translateY( -40px );
	width: 680px;
	opacity-brush: gradient( linear, 0% 70%, 0% 100%, from( #FFFFFF ), color-stop( 0.5, #ffffffc8 ), to( #ffffff35 ) );
}

.EventHistoryContainer
{
	horizontal-align: center;
	margin-top: 60px;
	width: 760px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.EventHistoryContainer:hover
{
	brightness: 1.4;
}

.EventHistoryContainer:hover .EventHistoryBackground
{
	opacity: 0.9;
}

.EventHistoryContainer .EventHistoryBackground
{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.2, #203b4c ), color-stop( 0.8, #203b4c ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.25, #FFFFFF ), color-stop( 0.75, #FFFFFF ), to( #FFFFFF00 ) );
	opacity: 0.8;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.EventHistoryContainer .ShardsIcon
{
	width: 22px;
	height: 22px;
	background-image: dotaPlusCurrencySmallIcon;
	background-size: contain;
	background-position: center;
}

.EventHistoryContainer .EventHistoryArrow
{
	height: 16px;
	vertical-align: center;
	margin-bottom: -4px;
	margin-left: -2px;
	opacity-brush: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.EventHistoryContainer .EventHistoryContent
{
	horizontal-align: center;
	flow-children: right;
	margin: 5px 6px 7px;
}

.EventHistoryContainer Label
{
	horizontal-align: center;
	margin: 0px 6px;
	text-shadow: 0px 2px 12px black;
	vertical-align: center;
}

.EventHistoryContainer .EventHistoryDescription
{
	color: #e8cca3ef;
	font-size: 15px;
}

.EventHistoryContainer .EventHistoryDescription b
{
	font-weight: semi-bold;
	text-decoration: underline;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

#OutroTest
{
	horizontal-align: center;
	margin-top: 80px;
}

