#CustomEventResultsContainer{
     horizontal-align: center;
     vertical-align: bottom;
     height: 100%;
     width: 100%;
     visibility: collapse;
}

 .CustomEvent_Muerta2023 #CustomEventResultsContainer{

     visibility: visible;
 }

 #EventResultsContainer{

     flow-children: none;
     vertical-align: bottom;
     margin-bottom: 92px;
     width: 100%;
 }

 #EventResultsHeroRow{

     flow-children: none;
     vertical-align: bottom;
     width: 100%;
 }

 #EventResultsContainerLeft{

     flow-children: none;
     width: 50%;
     horizontal-align: left;
 }

 #EventResultsContainerRight{

     flow-children: none;
     width: 50%;
     horizontal-align: right;
 }

 .LeftExpanded #EventResultsContainerLeft,.RightExpanded #EventResultsContainerRight{


     visibility: collapse;
 }





 .Muerta2023PostgameRowContainer{

     width: 148px;
     height: 120px;
     horizontal-align: left;
     margin-left: -10px;
 }

 .Muerta2023PostgameRow{

     width: 100%;
     height: 100%;
     opacity: 0;
     transition-property: opacity;
     transition-duration: 0.3s;
     transition-delay: 0.1s;
     margin: 0px 7px;
     horizontal-align: center;

     background-repeat: no-repeat;
     background-size: 50px 58px;
     background-position: center 2px;
 }
     .Muerta2023PostgameRow.EventWon{

         background-size: 134px 62px;
         background-position: center top;
     }


 .Muerta2023PostgameRow Label{

     horizontal-align: center;
     margin-left: 6px;
     font-size: 12px;
     color: #ffffff44;
 }

 #PointsLabel{

     height: 16px;
 }

 .Muerta2023PostgameRowBackground{

     width: 96px;
     height: 100%;
     flow-children: down;
     horizontal-align: center;

     background-color: gradient( linear, 0% 100%, 0% 0%, from( #23FFB600 ), color-stop ( 0.28, #ffffff02 ), color-stop ( 0.73, #ffffff08 ), color-stop ( 0.75, #ffffff33 ), color-stop(0.75, #ffffff00 ), to(#ffffff00) );
 }

 .EventWon .Muerta2023PostgameRowBackground{

     background-color: gradient( linear, 0% 100%, 0% 0%, from( #23FFB600 ), color-stop ( 0.28, #23FFB604 ), color-stop ( 0.73, #23FFB611 ), color-stop ( 0.75, #23FFB6 ), color-stop(0.75, #FF983300 ), to(#FF983300) );
 }

 .HeroHovered .LocalPlayerMatchup{

     opacity: 0;
 }

 .LocalPlayerMatchup,.HeroSlot0Hovered .Matchup0,.HeroSlot1Hovered .Matchup1,.HeroSlot2Hovered .Matchup2,.HeroSlot3Hovered .Matchup3,.HeroSlot4Hovered .Matchup4,.HeroSlot128Hovered .Matchup5,.HeroSlot129Hovered .Matchup6,.HeroSlot130Hovered .Matchup7,.HeroSlot131Hovered .Matchup8,.HeroSlot132Hovered .Matchup9{











     opacity: 1;
 }

 .LeftExpanded .Muerta2023PostgameRow,.RightExpanded .Muerta2023PostgameRow{


     opacity: 0;
 }



 #ResultIconContainer{

     horizontal-align: center;
     vertical-align: center;
     width: 134px;
     height: 62px;
     margin-bottom: -12px;
 }

 #ResultCrestIcon{

     horizontal-align: center;
     vertical-align: center;
     width: 40px;
     height: 40px;
     margin-bottom: 4px;
     background-image: url( "s2r://panorama/images/events/muerta/muerta_eom_gunz_icon_psd.vtex");
     background-repeat: no-repeat;
     background-size: 100% 100%;
 }

 .EventWon #ResultCrestIcon{

     width: 56px;
     height: 56px;
     background-image: url( "s2r://panorama/images/events/muerta/muerta_tribute_large_psd.vtex");
 }



 #ScoreSummaryContainer{

     flow-children: right;
     horizontal-align: center;
     vertical-align: center;
     text-align:center;
     width: 100%;
     margin-top: -12px;
 }

 #PointsScoredContainer{

     flow-children: down;
     horizontal-align: center;
     vertical-align: top;
     text-align: center;
     background-color: none;
     margin-top: 4px;
     width: 48px;
     border-color: #AAAAAA;
     border-width: 0px 2px 0px 0px;
 }

 .MuertaPointsDivider{

     width: 1px;
     height: 40px;
     margin-top: 8px;
     background-color: #ffffff11;
 }

 #PointsScored{

     horizontal-align: center;
     vertical-align: center;
     font-family: titleFont;
     font-size: 20px;
     font-weight: bolder;
     color: #ffffffaa;
 }

 .EventWon #PointsScored{

     color: white;
     text-transform: uppercase;
     text-shadow: 0px 0px 12px #23FFB666;
 }

 #BlessingsEarnedContainer{

     flow-children: right-wrap;
     horizontal-align: right;
     vertical-align: center;
     text-align: center;
     background-color: none;
     margin-top: 4px;
     width: 48px;
     padding-left: 4px;
     padding-top: 2px;
 }

 #BlessingsEarned{

     horizontal-align: center;
     vertical-align: center;
     font-size: 20px;
     font-weight: bold;
     font-family: titleFont;
 }

 .EventWon #BlessingsEarned{

     color: white;
     text-transform: uppercase;
     text-shadow: 0px 0px 12px #23FFB666;
 }


 .MuertaBlessingsIcon{

     background-image: url( "s2r://panorama/images/events/muerta/muerta_tribute_small_psd.vtex");
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 16px;
     height: 16px;
     margin: 2px;
 }



 .Ranked #EventResultsContainer{

     margin-bottom: 64px;
 }

 .Ranked .OverviewHeroContainer{

     height: 633px;
 }

 .Ranked #HeroBackground{

     height: 394px;
 }

 .Ranked .OverviewHeroStats{

     padding-bottom: 0px;

     background-color: gradient( linear, 0% 100%, 0% 0%, from( #000000d2 ), color-stop( 0.4, #000000b2 ), to( #00000000 ) );
 }

 .Ranked .RankTierContainer{

     margin-bottom: 28px;
 }

 .Ranked .EventWon #ResultCrestIcon{

     width: 48px;
     height: 48px;
     margin-bottom: 0px;
     margin-top: 10px;
 }




 #ScoreDetailsContainer{

     flow-children: down;
     horizontal-align: center;
     vertical-align: center;
     text-align: center;
     background-color: none;
     margin-top: -2px;
}