/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#ContentsContainer,.BackgroundFX
{
	opacity: 0;
}

.OnHomePage #ContentsContainer,.OnHomePage .BackgroundFX
{
	opacity: 1;
	transition-timing-function: ease-in;
	transition-duration: 0.1s;
	transition-delay: 0s;
}

.BackgroundImage
{
	blur: gaussian( 6px );
	opacity: 0.5;
	brightness: 0.2;
}

.OnHomePage .BackgroundImage
{
	opacity: 1;
	brightness: 1;
	blur: gaussian( 1px );
}

.SeasonalRewardLineBackground
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2A1B32 ), to( #0D0910 ) );
}

.BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/spring_background_psd.vtex");
}

.BackgroundFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
	opacity-mask: url("s2r://panorama/images/events/seasonal/backgrounds/spring_background_fx_mask_psd.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	transition-property: blur, opacity, brightness, opacity-brush;
	transition-duration: 0.5s;
}

.AspectRatio21x9 .BackgroundFX
{
	opacity-mask-scale: 75% 100%;
}

.BackgroundFX .ParticleBGWaterfallFX,.BackgroundFX .ParticleBGWaterfall2FX,.BackgroundFX .ParticleBGWaterfall3FX,.BackgroundFX .ParticleBGWaterfall4FX,.BackgroundFX .ParticleBGWaterfall5FX,.BackgroundFX .ParticleBGWaterfall6FX
{
	horizontal-align: center;
	vertical-align: center;
	width: 1527px;
	height: 300px;
	transform: translateX(-200px) translateY(-100px);
	-s2-mix-blend-mode: screen;
}

.BackgroundFX .ParticleBGWaterfall7FX,.BackgroundFX .ParticleBGWaterfall8FX,.BackgroundFX .ParticleBGWaterfall9FX,.BackgroundFX .ParticleBGWaterfall10FX,.BackgroundFX .ParticleBGWaterfall11FX
{
	horizontal-align: center;
	vertical-align: center;
	width: 768px;
	height: 880px;
	transform: translateY(-100px);
	-s2-mix-blend-mode: screen;
}

.FloorBackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/spring_floor_psd.vtex");
}

#SeasonTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.25, #E5FFF1 ), to( #FFE5F5 ) );
}

.IntroText
{
	color: #F6D5E9;
}

.BackgroundImageGlow
{
	wash-color: #F6FF99;
	opacity: 0.3;
}

.SmokeFXBottom
{
	wash-color: rgb(237, 242, 192);
	contrast: 1.5;
	brightness: 1.2;
}

.EventFramingContainer
{
	wash-color: rgb(255, 176, 223);
}

.TimeLeftLabels
{
	color: #E5ACCE);
}

.RewardCategoryTitles
{
	color: gradient( linear, 0% 30%, 0% 140%, from( #F2CEE4 ), to( #4D3945 ) );
}

.RewardDetailsHeroName
{
	color: #e1dfc788;
}

.ParticleWindowBG
{
	wash-color: rgb(255, 217, 240);
}

.TopRightGodRays
{
	hue-rotation: -240deg;
	opacity: 0.3;
	saturation: 0.7;
}

#ParticleRewardsContainer,.OtherRewardsContainer
{
	border-color: rgba(255, 191, 229, 0.05);
}

.TitleAndLogo
{
	y: 12px;
}

#CenterRewardDetailsContainer
{
	z-index: 1;
}

#CenterRewardDetailsContainer .HeroRewardHitBox
{
	opacity: 0;
}

.Tier1 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier1
{
	opacity: 1;
}

.Tier2 #CenterRewardDetailsContainer .HeroRewardHitBox.Tier2
{
	opacity: 1;
}

#CenterRewardDetailsContainer .HeroShadow
{
	transform: translateY( 15px ) scaleX( 1.4 );
}

#LeftRewardDetailsContainer .HeroRewardHitBox
{
	width: 80%;
}

#RightRewardDetailsContainer .HeroRewardHitBox
{
	height: 80%;
}

#Reward_LeftHero
{
	transform: translateX( 20px ) translateY( 50px );
	width: 1080px;
}

#Reward_Ward
{
	ignore-parent-flow: true;
	width: 1080px;
	height: width-percentage( 100% );
	transform: translateX( -150px ) translateY( -40px );
}

#Reward_CenterHero
{
	width: 1080px;
	transform: translateX( 10px ) translateY( 110px );
}

#Reward_RightHero
{
	transform: translateX( 0px ) translateY( 90px );
	width: 1080px;
}

.EventHistoryContainer
{
	horizontal-align: center;
	margin-top: 60px;
	width: 760px;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.EventHistoryContainer:hover
{
	brightness: 1.4;
}

.EventHistoryContainer:hover .EventHistoryBackground
{
	opacity: 0.9;
}

.EventHistoryContainer .EventHistoryBackground
{
	width: 100%;
	height: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( 0.2, #40294D ), color-stop( 0.8, #40294D ), to( #00000000 ) );
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.25, #FFFFFF ), color-stop( 0.75, #FFFFFF ), to( #FFFFFF00 ) );
	opacity: 0.8;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.EventHistoryContainer .ShardsIcon
{
	width: 22px;
	height: 22px;
	background-image: dotaPlusCurrencySmallIcon;
	background-size: contain;
	background-position: center;
}

.EventHistoryContainer .EventHistoryArrow
{
	height: 16px;
	vertical-align: center;
	margin-bottom: -4px;
	margin-left: -2px;
	opacity-brush: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

.EventHistoryContainer .EventHistoryContent
{
	horizontal-align: center;
	flow-children: right;
	margin: 5px 6px 7px;
}

.EventHistoryContainer Label
{
	horizontal-align: center;
	margin: 0px 6px;
	text-shadow: 0px 2px 12px black;
	vertical-align: center;
}

.EventHistoryContainer .EventHistoryDescription
{
	color: #e8cca3ef;
	font-size: 15px;
}

.EventHistoryContainer .EventHistoryDescription b
{
	font-weight: semi-bold;
	text-decoration: underline;
	color: gradient( linear, 0% 30%, 0% 140%, from( #fff0d8 ), to( #bf9e71 ) );
}

#OutroTest
{
	horizontal-align: center;
	margin-top: 80px;
}

