/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAShopItem
{
	opacity: 1;
}

DOTAShopItem.Hidden
{
	opacity: 0;
}

#ItemImage
{
	width: 100%;
	height: width-percentage( 72.72% );
	transition-property: brightness;
	transition-duration: 0.2s;
	vertical-align: top;
}

DOTAHUDPlusGuide #ItemImage
{
	box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.4);
}

DOTAShopItem:not(.HasSuggestionPct) #ItemImage
{
	height: 100%;
	margin-bottom: 1px;
}

.ItemSpecificBindContainer DOTAShopItem #ItemImage
{
	margin-bottom: 0px;
}

#QuickBuyRows #ItemImage
{
	box-shadow: fill #000000ff 1px 1px 6px 0px;
}

DOTAShopItem.CanPurchase:hover #ItemImage,DOTAShopItem.AvailableAtOtherShop:hover #ItemImage
{
	brightness: 1.6;
}

DOTAShopItem.CanPurchase:active #ItemImage,DOTAShopItem.AvailableAtOtherShop:active #ItemImage
{
	brightness: 0.8;
}

DOTAHUDShop.EditMode DOTAHUDItemBuild DOTAShopItem.CollapsedShopItem
{
	visibility: collapse;
}

DOTAShopItem.DraggedShopItem #ItemImage,DOTAShopItem.DraggedShopItem #CanPurchaseOverlay
{
	opacity: 0.3;
}

#CanPurchaseOverlay
{
	width: 100%;
	height: width-percentage( 72.7% );
	visibility: collapse;
	transition-property: background-color;
	transition-duration: 0.2s;
	background-size: contain;
	background-repeat: no-repeat;
}

#PopularOverlay
{
	width: 90%;
	height: 110%;
	visibility: collapse;
	margin-left: -8px;
	margin-top: -6px;
}

#PopularIcon
{
	width: 50%;
	height: 50%;
	background-image: url("s2r://panorama/images/icon_star_shadow_hi_psd.vtex");
	background-size: 100%;
}

.PlusOtherOptions #PopularIcon
{
	height: 35%;
}

#SuggestedNeutralOverlay
{
	width: 90%;
	height: 110%;
	visibility: collapse;
	margin-left: -8px;
	margin-top: -6px;
}

#SuggestedNeutralIcon
{
	width: 50%;
	height: 50%;
	background-image: url("s2r://panorama/images/icon_suggested_neutral_psd.vtex");
	background-size: 100%;
}

#PlayerSuggestedOverlay
{
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 5px 0px #ea67db60;
	visibility: collapse;
}

#ActionOverlay
{
	width: 100%;
	height: width-percentage( 72.7% );
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	background-size: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("s2r://panorama/images/control_icons/24px/x_close.vsvg");
	visibility: collapse;
}

DOTAQuickBuy.CtrlPressed.ShiftPressed:hover .QuickBuyRow #ActionOverlay
{
	visibility: visible;
}

@keyframes 'ShadowPulse'
{
	0%
	{
		box-shadow: 0px 0px 0px 0px #00AA0000;
	}
	
	50%
	{
		box-shadow: 0px 0px 5px 0px #00770060;
	}
	
	100%
	{
		box-shadow: 0px 0px 0px 0px #00AA0000;
	}
	
}

#DotaOfrenda
{
	visibility: collapse;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 5px 0px #ea67db00;
	animation-name: ShadowPulse;
	animation-duration: 1s;
	animation-delay: 0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#StartingItemsInventory #ItemImage
{
	background-image: url("s2r://panorama/images/hud/reborn/inventory_item_well_psd.vtex");
}

#StartingItemsInventory DOTAShopItem.Hidden
{
	opacity: 1.0;
}

.ShowingQueryUnit .CanPurchase #CanPurchaseOverlay,.ShowingQueryUnit .CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	visibility: collapse;
}

.MainShopItem.AvailableAtOtherShop #CanPurchaseOverlay,.SecretShopItem.CanPurchase #CanPurchaseOverlay,.MainShopItem.CanPurchase #CanPurchaseOverlay,.MainShopItem.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	background-image: url("s2r://panorama/images/hud/shopborder_canpurchase_psd.vtex");
	visibility: visible;
}

.NewHeroShop .MainShopItem.AvailableAtOtherShop #CanPurchaseOverlay,.NewHeroShop .SecretShopItem.CanPurchase #CanPurchaseOverlay,.NewHeroShop .MainShopItem.CanPurchase #CanPurchaseOverlay,.NewHeroShop .MainShopItem.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	background-image: url("s2r://panorama/images/hud/shopborder_canpurchase_lg_psd.vtex");
	visibility: visible;
}

.CanPurchase #CanPurchaseOverlay
{
	visibility: visible;
}

.SecretShopItem.AvailableAtOtherShopSecretShop #CanPurchaseOverlay,.SecretShopItem.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	background-image: url("s2r://panorama/images/hud/shopborder_nosecret_psd.vtex");
	visibility: visible;
}

.MarkForBuySecretShopItems .SecretShopItem.AvailableAtOtherShopSecretShop #CanPurchaseOverlay,.MarkForBuySecretShopItems .SecretShopItem.CanPurchaseAtSecretShop #CanPurchaseOverlay
{
	background-image: url("s2r://panorama/images/hud/shopborder_affordablesecretitem_psd.vtex");
}

#GridMainShop #AvailableAtOtherShopOverlay
{
	transition-property: border,background-color;
	transition-duration: 0.1s;
	border: 1px solid #00000000;
	background-color: #00000000;
}

#GridMainShop .AvailableAtOtherShopSecretShop #AvailableAtOtherShopOverlay
{
	border: 1px solid #C8050622;
	background-color: #000000E0;
}

#GridMainShop .AvailableAtOtherShop #AvailableAtOtherShopOverlay
{
	border: 1px solid #CD960722;
	background-color: #000000E0;
}

#AvailableAtOtherShopOverlay
{
	width: 100%;
	height: 100%;
	border: 1px solid #00000000;
	background-color: #00000000;
}

#GridMainShop #AvailableAtOtherShopNeedGoldOverlay
{
	transition-property: background-color;
	transition-duration: 0.1s;
	background-color: #00000000;
}

#GridMainShop .AvailableAtOtherShopNeedGold #AvailableAtOtherShopNeedGoldOverlay
{
	background-color: #000000E0;
}

#AvailableAtOtherShopNeedGoldOverlay
{
	width: 100%;
	height: 100%;
	background-color: #00000000;
}

#StartingItems .CanPurchase #CanPurchaseOverlay
{
	border: 1px solid #aa7d09;
}

.ShowPopular .Popular #PopularOverlay
{
	visibility: visible;
}

.ShowPopular .CanPurchase.Popular #CanPurchaseOverlay
{
	background-image: url("s2r://panorama/images/hud/shopborder_popular_psd.vtex");
	visibility: visible;
}

.DotaOfrenda #DotaOfrenda
{
	visibility: visible;
}

.PlayerSuggested #PlayerSuggestedOverlay
{
	visibility: visible;
}

#OwnedTick
{
	horizontal-align: right;
	vertical-align: top;
	margin-right: 1px;
	width: 13px;
	height: 13px;
	visibility: collapse;
}

.PlusSequence .Purchased,.PlusOtherOptions .Purchased,.PlusGuide .EquippedNeutral,.PurchasedItem
{
	saturation: 0;
	brightness: 0.5;
}

.Purchased #OwnedTick,.EquippedNeutral #OwnedTick
{
	visibility: visible;
	background-image: url("s2r://panorama/images/hud/reborn/owned_item_png.vtex");
	background-size: 100%;
}

#SecretShop
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 13px;
	height: 13px;
	margin-bottom: 2px;
	margin-right: 1px;
	background-image: url("s2r://panorama/images/hud/secret_psd.vtex");
	background-size: 100%;
	visibility: collapse;
}

.HasSuggestionPct #SecretShop
{
	margin-bottom: 18px;
}

.SecretShopItem:not(.MainShopItem) #SecretShop
{
	visibility: visible;
}

#DotaSuggest
{
	horizontal-align: right;
	vertical-align: bottom;
	width: 13px;
	height: 13px;
	visibility: collapse;
	margin-bottom: 2px;
	margin-right: 1px;
}

.DotaSuggestItem #DotaSuggest
{
	visibility: visible;
	background-image: url("s2r://panorama/images/dota_plus/dotaplus_logo_small_png.vtex");
	background-size: 100%;
}

#StockAmount
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: bottom;
	color: white;
	font-size: 15px;
	margin-bottom: -3px;
	margin-right: 2px;
	text-shadow: 1px 1px 2px 4 #000000FF;
}

.ShowStockAmount #StockAmount
{
	visibility: visible;
}

DOTAQuickBuy .ShowStockAmount #StockAmount
{
	visibility: collapse;
}

#OutOfStockOverlay
{
	width: 100%;
	height: 100%;
	background-color: #000000DD;
	visibility: collapse;
}

.OutOfStock #OutOfStockOverlay
{
	visibility: visible;
}

#SuggestionPct
{
	vertical-align: bottom;
	font-size: 13px;
	width: 100%;
	height: 15px;
	color: #b5c1d8;
	text-align: center;
	visibility: collapse;
}

#DotaSuggestions #SuggestionPct
{
	font-size: 16px;
	margin-top: -2px;
	color: #FF9900;
}

.HasSuggestionPct:not(.Purchased) #SuggestionPct
{
	visibility: visible;
}

.IsSuggestionHighlighted:not(.Purchased) #SuggestionPct
{
	color: #FBBE1A;
	font-weight: bold;
}

.ShowSequenceArrow #SequenceArrow
{
	visibility: visible;
}

#SequenceArrow
{
	background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_drop_png.vtex");
	background-size: 100%;
	width: 8px;
	height: 10px;
	margin-top: 9px;
	margin-left: 41px;
	margin-right: -7px;
	wash-color: #b98d4a;
	visibility: collapse;
}

#MarkForBuyIcon
{
	horizontal-align: left;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	visibility: collapse;
	margin-bottom: 2px;
	margin-left: 1px;
	img-shadow: 2px 2px 10px 3.0 #000000FF;
}

.MarkedForBuy #MarkForBuyIcon
{
	visibility: visible;
	animation-name: BubbleUp;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.MarkedForBuy #ItemImage
{
	animation-name: BubbleUp;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes 'BubbleUp'
{
	0%
	{
		pre-transform-scale2d: .8;
	}
	
	50%
	{
		pre-transform-scale2d: 1.1;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

DOTAQuickBuy DOTAShopItem.PurchasableAccum.MarkedForBuy
{
	animation-name: Pulsing;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

@keyframes 'Pulsing'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	33%
	{
		pre-transform-scale2d: 0.97;
	}
	
	66%
	{
		pre-transform-scale2d: 1.03;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

#BuybackProtectedIcon
{
	horizontal-align: right;
	vertical-align: top;
	width: 16px;
	height: 16px;
	visibility: collapse;
	margin-top: 1px;
	margin-right: 1px;
	img-shadow: 2px 2px 10px 3.0 #000000FF;
}

.BuybackProtected #BuybackProtectedIcon
{
	visibility: visible;
}

