/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATreasureRecycleStatus
{
	width: 100%;
}

#TreasureRecycling
{
	visibility: collapse;
	opacity: 1;
	width: 100%;
	min-width: 525px;
	padding: 16px 0px;
	flow-children: down;
	transition-duration: 0.4s;
	transition-property: opacity;
}

.TreasureRecyclingGrantEnabled #TreasureRecycling
{
	visibility: visible;
}

.TreasureRecyclingGrantEnabled #TreasureRecyclingButton
{
	brightness: 1;
}

#TreasureRecyclingTop
{
	margin-left: 8px;
	vertical-align: top;
	horizontal-align: left;
	width: 100%;
	transition-property: opacity;
	transition-duration: 0.2s;
	padding: 5px;
	padding-left: 10px;
	margin-top: -20px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#RecyclingInfoIcon
{
	z-index: 100;
	vertical-align: top;
	horizontal-align: right;
	margin-top: -10px;
}

#TreasureRecyclingHeader
{
	margin-top: -2px;
	margin-bottom: 4px;
}

.BPFeatureIcon
{
	horizontal-align: left;
	vertical-align: top;
	width: 20px;
	height: 20px;
	margin: 2px;
	margin-top: 4px;
	margin-right: 2px;
	background-size: 100%;
	background-image: bp_point_log_pass_activated;
}

.TreasureRecyclingTitle
{
	margin-left: 4px;
	margin-right: 8px;
	horizontal-align: left;
	vertical-align: center;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}

.PlusRecycling .TreasureRecyclingTitle
{
	color: dotaPlusGoldGradient;
}

.BattlePassRecycling .TreasureRecyclingTitle
{
	color: textAccentColorBright;
}

.TreasureRecyclingSubtitle
{
	margin-left: 25px;
	font-size: 15px;
}

.EconRecycleIcon
{
	background-image: url("s2r://panorama/images/control_icons/icon_recycle_png.vtex");
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	wash-color: #2d7037;
}

.ShowForBattlePass
{
	visibility: collapse;
}

.ShowForPlusRecycling
{
	visibility: collapse;
}

.ShowForFantasyRecycling
{
	visibility: collapse;
}

.ShowForEconRecycling
{
	visibility: collapse;
}

.BattlePassRecycling .ShowForBattlePass
{
	visibility: visible;
}

.PlusRecycling .ShowForPlusRecycling
{
	visibility: visible;
}

.FantasyRecycling .ShowForFantasyRecycling
{
	visibility: visible;
}

.EconRecycling .ShowForEconRecycling
{
	visibility: visible;
}

#RecyclingRewardProgress
{
	margin-top: 20px;
	vertical-align: center;
	horizontal-align: center;
	flow-children: right;
	blur: none;
	brightness: 1.0;
	max-width: 480px;
}

.RecyclingRequiresPlusSubscription #RecyclingRewardProgress
{
	blur: gaussian( 3 );
	brightness: 0.25;
}

#TreasureRecycling .DotaPlusSubscribeButton
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#TreasureRecycling .DotaPlusUpsell
{
	margin-left: 50px;
	margin-top: -110px;
	horizontal-align: center;
	width: 400px;
	height: 100px;
}

#TreasureRecycling .DotaPlusUpsellContents
{
	flow-children: down;
}

.DotaPlusUpsellContents
{
	visibility: collapse;
}

.RecyclingRequiresPlusSubscription .DotaPlusUpsellContents
{
	visibility: visible;
}

#RecyclingPunchCard
{
	margin-left: -6px;
	margin-bottom: -4px;
	transform: translateY( -4px );
	vertical-align: center;
	horizontal-align: left;
	width: fill-parent-flow(1.0);
}

#RecyclingPunchCard .StampPanel:selected
{
	brightness: 0.6;
}

#RecyclingPunchCard #RewardPanel
{
	visibility: collapse;
}

#RecyclingRewardContainer
{
	margin: 0px;
	background-color: #000000EE;
}

#RecyclingRewardButton
{
	width: 100%;
	margin: 0px;
	vertical-align: center;
	horizontal-align: center;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.1s;
	pre-transform-scale2d: 1.0;
	flow-children: down;
}

.ReadOnlyMode #RecyclingRewardButton
{
	visibility: collapse;
}

.BonusTreasureClaimable #RecyclingRewardButton:hover
{
	brightness: 1.1;
	pre-transform-scale2d: 1.05;
}

#RecyclingReward
{
	margin: 10px;
	min-width: 100px;
}

.RecyclingRewardContents
{
	flow-children: right;
	horizontal-align: center;
}

#RecyclingRewardBackground
{
	width: 150px;
	height: 150px;
	margin-top: -10px;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	visibility: collapse;
}

#RecyclingRewardClaimLabel
{
	vertical-align: center;
}

.TreasureOpeningResultItemPanel
{
	vertical-align: bottom;
}

#RecyclingTreasureImageContainer
{
	width: 60.75px;
	height: 40.5px;
	vertical-align: center;
}

#RecyclingTreasureImage
{
	width: 100%;
	height: 100%;
}

#RecyclingTreasureQty
{
	color: white;
	font-size: 14px;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

.RecyclingTreasureHasQuantity #RecyclingTreasureQty
{
	visibility: visible;
}

#RecyclingAdditionalItemQty
{
	color: white;
	font-size: 14px;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

.RecyclingAdditionalRewardHasQuantity #RecyclingAdditionalItemQty
{
	visibility: visible;
}

#RecyclingRewardSeparator
{
	font-size: 16px;
	margin: 4px;
	visibility: collapse;
}

.HasShardRecyclingReward #RecyclingRewardSeparator,.HasAdditionalItemRecyclingReward #RecyclingRewardSeparator,.HasMysteryItemRecyclingReward #RecyclingRewardSeparator
{
	visibility: visible;
}

#RecyclingShardReward
{
	margin-top: 5px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.HasShardRecyclingReward #RecyclingShardReward
{
	visibility: visible;
}

#RecyclingBattlePassReward
{
	width: 61px;
	height: 60px;
	background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/mystery_item_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	visibility: collapse;
}

.HasMysteryItemRecyclingReward #RecyclingBattlePassReward
{
	visibility: visible;
}

#RecyclingShardReward Panel,Label
{
	vertical-align: center;
}

#RecyclingShardReward Label
{
	margin-left: 4px;
	font-size: 18px;
	color: dotaPlusLightGold;
	text-shadow: 2px 2px 4px black;
}

#RecyclingShardReward .DotaPlusCurrencyIcon
{
	margin: 0px;
	margin-top: -2px;
}

#DotaPlusIcon
{
	margin-right: 6px;
	transform: translateY( -2px );
	vertical-align: center;
	width: 18px;
	height: 21px;
	background-size: 18px 21px;
}

#RecyclingShardRewardIcon
{
	margin-right: 6px;
	vertical-align: center;
	width: 16px;
	height: 17px;
	background-size: 16px 17px;
}

#RecyclingAdditionalItemImage
{
	width: 60.75px;
	height: 40.5px;
	vertical-align: center;
	visibility: collapse;
}

.HasAdditionalItemRecyclingReward #RecyclingAdditionalItemImage
{
	visibility: visible;
}

#TreasureBundlesReceivedTitle
{
	margin-top: 15px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 20px;
	font-weight: bold;
}

DOTAPunchCard .StampPanel
{
	background-image: url("s2r://panorama/images/punch_card/punch_card_arrow_smelting_pip_off_psd.vtex");
	width: fill-parent-flow(1.0);
	height: 62.25px;
	margin-left: -37.5px;
}

DOTAPunchCard .StampPanel:selected
{
	background-image: url("s2r://panorama/images/punch_card/punch_card_arrow_smelting_pip_on_psd.vtex");
}

#ProgressTick_5
{
	z-index: 110;
}

#ProgressTick_4
{
	z-index: 100;
}

#ProgressTick_3
{
	z-index: 99;
}

#ProgressTick_2
{
	z-index: 98;
}

#ProgressTick_1
{
	z-index: 97;
}

#ProgressTick_0
{
	z-index: 96;
}

#TreasureRecyclingBottom
{
	width: 100%;
	border-top: 1px solid #4F3612;
	flow-children: down;
	min-width: 400px;
}

.ReadOnlyMode #TreasureRecyclingBottom
{
	visibility: collapse;
}

#TreasureBundlesReceivedList
{
	horizontal-align: left;
	flow-children: down;
	margin-left: 0px;
	max-height: 360px;
	width: 100%;
	overflow: scroll;
	padding-right: 20px;
	margin-top: 10px;
}

.RecyclingRequiresPlusSubscription #TreasureBundlesReceivedList
{
	visibility: collapse;
}

#TreasureBundlesReceivedList .TreasureOpeningResult
{
	padding-right: 2px;
	width: 100%;
	flow-children: right;
}

#TreasureBundlesReceivedList #TreasureOpeningResultArmoryItem
{
	width: 280px;
}

.TreasureOpeningRecycleCountLabel
{
	vertical-align: center;
	margin-left: 8px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #d8dce2 ;
	overflow: clip;
	color: #c4ceda;
	font-size: 24px;
	font-weight: bold;
	font-size: 18px;
}

.TreasureOpeningRecycleSpacer
{
	width: 20px;
	height: 1px;
}

.TreasureOpeningRecycleButton
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3484a7 ), to( #245575 ));
	background-color: #253646;
	border-top: 1px solid #485677;
	transition-property: background-color, box-shadow;
	transition-duration: .2s;
	animation-duration: 3.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: fill #00000044 1px -1px 8px 1px ;
	padding: 3px;
}

.TreasureOpeningRecycleButtonIcon
{
	opacity: 0.75;
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/econ/smelting_psd.vtex");
	background-size: 22px 22px;
	vertical-align: center;
	horizontal-align: left;
	margin-right: 4px;
	margin-left: 4px;
}

.TreasureOpeningRecycleButtonContents
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
}

.TreasureOpeningRecycleButtonContents > Label
{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 15px;
	margin-right: 4px;
	margin-top: 2px;
}


