/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#NumberLabel
{
	color: white;
	font-size: 24px;
	text-align: center;
}

.PopupPanel.Lockpicking #NumberLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF3D9 ), color-stop( 0.33, #FBE0A0 ), color-stop( 0.66, #787C89 ), to( #7894e2 ) );
	text-shadow: 0px 2px 4px 1 rgba(0, 0, 0, 0.7);
}

.PopupPanel.SlarkJailbreak #NumberLabel
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FFF3D9 ), color-stop( 0.33, #FBE0A0 ), color-stop( 0.66, #787C89 ), to( #7894e2 ) );
	text-shadow: 0px 2px 4px 1 rgba(0, 0, 0, 0.7);
}

.PopupPanel.CrateDrop .PotentialScore #NumberLabel
{
	vertical-align: center;
	font-family: monospaceNumbersFont;
	font-size: 22px;
	font-weight: semi-bold;
	color: winnerGreen;
	text-align: left;
}

.PopupPanel.CrateDrop .BigValue #NumberLabel
{
	height: 64px;
	font-family: monospaceNumbersFont;
	font-size: 54px;
	font-weight: semi-bold;
	letter-spacing: -2px;
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFF3D9 ), color-stop( 0.25, #FBE0A0 ), color-stop( 0.5, #787C89 ), color-stop( 0.75, #9D968E ), to( #88A7FF) );
	color: gradient( linear, 0% 24%, 0% 100%, from( #FFEB48 ), to( #F9BB44) );
	text-shadow: 0px 4px 12px black;
}

