/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTARoshanTimer
{
	tooltip-position: left;
	visibility: visible;
	height: 70px;
	width: 70px;
	background-image: url("s2r://panorama/images/hud/reborn/roshan_timer_bg_v2_png.vtex");
	background-size: cover;
}

DOTARoshanTimer:hover .RoshanTimerContents
{
	brightness: 2;
}

.RoshanTimerContents
{
	width: 42px;
	height: 42px;
	margin-left: 6px;
	margin-top: 23px;
	overflow: clip;
	background-color: black;
	border-radius: 50%;
	box-shadow: -1px 1px 4px -0.5px rgba(241, 247, 255, 0.06);
	transition-property: brightness;
	transition-duration: 0.25s;
}

.HUDFlipped .RoshanTimerContents
{
	transform: scaleX( -1 );
	box-shadow: 1px 1px 4px -0.5px rgba(241, 247, 255, 0.06);
}

#RoshanIconBackground
{
	width: 100%;
	height: width-percentage(100%);
	border-radius: 50%;
}

#RoshanIcon
{
	background-image: url("s2r://panorama/images/hud/reborn/roshan_timer_roshan_psd.vtex");
	background-size: cover;
	background-repeat: no-repeat;
	width: 36px;
	height: width-percentage(100%);
	margin-bottom: 2px;
	horizontal-align: center;
	vertical-align: center;
	texture-sampling: point;
	transition-property: brightness, pre-transform-scale2d, wash-color, saturation;
	transition-duration: 0.25s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-duration: .5s;
}

#RoshanTimerText
{
	color: #FFFFFF;
	font-size: 12px;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	margin-right: 14px;
	margin-top: 10px;
}

.HUDFlipped #RoshanTimerText
{
	transform: scaleX(-1);
	margin-right: 18px;
}

.RoshanAlive #RoshanIcon
{
	brightness: 1;
	saturation: 1;
}

.RoshanAlive #RoshanIconBackground
{
	background-color: gradient( radial, 50% 45%, 0% 0%, 58% 58%, from( #a5ff8422 ), color-stop( 0.5, #afff8417 ), to( #FFFFFF00 ) );
}

.RoshanAlive #RoshanTimerText
{
	visibility: collapse;
}

.RoshanAlive #RoshanTimerRadial
{
	visibility: collapse;
}

.RoshanVariableTimer #RoshanIcon
{
	saturation: 0;
	brightness: 0.6;
	contrast: 1.04;
	wash-color: rgb(255, 250, 234);
}

.RoshanVariableTimer #RoshanIconBackground
{
	background-color: gradient( radial, 50% 45%, 0% 0%, 58% 58%, from( #ffd15122 ), color-stop( 0.5, #ffd15122 ), to( #FFFFFF00 ) );
}

.RoshanVariableTimer #RoshanTimerRadial
{
	border-brush: gradient(linear, 0% 0%, 0% 100%, from( #ddcb91 ), to( #b09a53 ) );
}

.RoshanBaseTimer #RoshanIcon
{
	saturation: 0;
	brightness: 0.6;
	contrast: 1.04;
	wash-color: rgb(234, 234, 255);
}

.RoshanBaseTimer #RoshanIconBackground
{
	background-color: gradient(radial, 50% 65%, 0% 0%, 55% 55%, from( #d4ecff30 ), color-stop( 0.5, #c5d5ff15 ), to( #67BBFF00 ) );
	box-shadow: inset 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
}

.RoshanBaseTimer #RoshanTimerText
{
	visibility: collapse;
}

.RoshanBaseTimer #RoshanTimerRadial
{
	visibility: visible;
}

.RoshanVariableTimer #RoshanIcon
{
	saturation: 0;
	brightness: 0.6;
	contrast: 1.04;
	wash-color: rgb(255, 251, 234);
}

.RoshanVariableTimer #RoshanIconBackground
{
	background-color: gradient( radial, 50% 45%, 0% 0%, 58% 58%, from( #ffd68427 ), color-stop( 0.5, #ffd4841c ), to( #FFFFFF00 ) );
}

.RoshanVariableTimer #RoshanTimerText
{
	visibility: collapse;
}

.SeeExactTimer #RoshanTimerText
{
	visibility: visible;
}

#RoshanTimerRadial
{
	width: 39px;
	height: width-percentage(100%);
	background-color: #00000000;
	border: 1.8px solid white;
	border-brush: gradient(linear, 0% 0%, 0% 100%, from( #9fb0c9 ), to( #5f6e85 ) );
	opacity: 0.8;
	border-radius: 50%;
	z-index: 0;
	horizontal-align: center;
	vertical-align: center;
}

@keyframes 'RoshanReady'
{
	0%
	{
		pre-transform-scale2d: .8;
		brightness: 1;
	}
	
	40%
	{
		pre-transform-scale2d: 1.2;
		brightness: 2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

