@define tileBackgroundColor:  #214036;


 #TreasureOverviewContainer{
  width: 100%;

  opacity: 0;
  transform: translateY( -24px );

  transition-property: opacity, transform;
  transition-duration: 0.4s;
  transition-delay: 0.8s;
  transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
 }
  .FullPreviewMode #TreasureOverviewContainer{
   opacity: 1;
   transform: none;

   transition-duration: 0.15s;
   transition-delay: 0s;
   transition-timing-function: ease-in;
  }

  #TreasureOverviewContainer .ItemDetails{
   visibility: collapse;
  }


 #ItemDetailsContainer{
  width: 520px;
  margin-top: 36px;

  opacity: 1;
  transform: none;

  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
 }
  #ItemDetailsContainer .ItemDetails{
   width: 100%;
  }

  .FullPreviewMode #ItemDetailsContainer{
   opacity: 0;
   transform: translateX( 48px );

   transition-duration: 0.4s;
   transition-delay: 0.8s;
   transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
  }

  #ItemDetailsContainer .TreasureOverview{
   visibility: collapse;
  }



 .TreasureOverview{
  flow-children: right;
  horizontal-align: center;
  margin-left: -180px;
  margin-top: -82px;
  padding-top: 80px;
  margin-bottom: 80px;
 }
  .TreasureOverview .Big10Container{
   overflow: noclip;
   width: 220px;
   height: 220px;
   margin-top: 8px;
  }
   .TreasureOverview .Big10Container .Big10Emblem{
    width: 300px;
    height: 300px;
    margin-top: -40px;
    margin-left: -55px;
    background-image: url("s2r://panorama/images/events/10th_anniversary/10th_anniversary_emblem_psd.vtex");
    background-size: 300px 300px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: noclip;
   }

   .TreasureOverview .Big10Container .Big10Particles{
    width: 500px;
    height: 500px;
    vertical-align: center;
    horizontal-align: center;
    opacity-mask: url("s2r://panorama/images/masks/softedge_circle.png");
    saturation: 0.2;
    opacity: 0.3;
   }

   .TreasureOverview .Big10Container .SoftBlurBg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( rgb(39, 32, 72) ), color-stop( 0.05, rgb(39, 32, 72) ), to( rgba(0, 0, 0, 0) ) );
    vertical-align: center;
    horizontal-align: center;
   }

   .TreasureOverview .Big10Container .Big10Label{
    vertical-align: center;
    horizontal-align: center;
    font-family: titleFont;
    font-weight: bold;
    font-size: 172px;
    letter-spacing: -5px;
    margin-bottom: -12px;
    color: gradient( linear, 0% 20%, 0% 100%, from( #BEAC7B ), color-stop( 0.5, #FFFFFF ), color-stop( 0.7, #AE9663 ), to( #F5E4B5 ) );
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
   }

   .TreasureOverview .Big10Container .Big10ParticlesTop{
    width: 500px;
    height: 500px;
    vertical-align: center;
    horizontal-align: center;
    opacity-mask: url("s2r://panorama/images/masks/softedge_circle_sharper.png");
    margin-left: -5px;
   }






  .TreasureOverview .AnniversaryContainer{
   vertical-align: center;
   flow-children: down;
   margin-left: 12px;
  }
   .TreasureOverview .AnniversaryContainer .YearsContainer{
    width: 100%;
    flow-children: right;
    margin-right: 12px;
   }
    .TreasureOverview .AnniversaryContainer .YearsContainer .YearsLabel{
     color: #F7E6B5;
    }

    .TreasureOverview .AnniversaryContainer .YearsContainer .Dash{
     margin-left: 8px;
     margin-top: 9px;
    }


   .TreasureOverview .AnniversaryContainer .AnniversaryLabel{
    font-family: titleFont;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 3px;
    margin: -6px 0px -10px;
    color: gradient( linear, 0% 65%, 0% 100%, from( #FFFFFF ), color-stop( 0.2, #cfd7db ), to( #e1e8eb ) );
    text-overflow: shrink;
    max-width: 560px;
   }

   .TreasureOverview .AnniversaryContainer .TreasureContainer{
    width: 100%;
    flow-children: right;
    margin-right: 8px;
   }
    .TreasureOverview .AnniversaryContainer .TreasureContainer .TreasureLabel{
     color: #F7E6B5;
    }

    .TreasureOverview .AnniversaryContainer .TreasureContainer .Dash{
     margin-right: 8px;
     margin-bottom: 8px;
    }


   .TreasureOverview .AnniversaryContainer .Dash{
    width: fill-parent-flow( 1 );
    height: 1px;
    background-color: #F7E6B5;
    vertical-align: center;
   }

   .TreasureOverview .AnniversaryContainer .TreasureDescription{
    font-family: titleFont;
    font-size: 20px;
    color: #B0BCC2;
    opacity: 0.8;
    text-overflow: shrink;
    width: 100%;
   }



 .Contents{

  width: 100%;
  background-size: cover;
 }



 .TreasureTitleBig{

  visibility: visible;
  vertical-align: center;
  horizontal-align: center;
  font-size: 30px;
  text-overflow: shrink;
  color: gradient( linear, 0% 0%, 0% 100%, from( #ffff8b, to( dotaPlusGold ));
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: titleFont;
  letter-spacing: 2px;
  text-align: center;
  opacity: 1;
  z-index: 3;

  transition-property: opacity, text-shadow, color;
  transition-delay: 0s;
  transition-duration: .24s;
  transition-timing-function: ease-in-out;

  animation-name: TextGlowPulse;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
 }

 @keyframes 'TextGlowPulse'{

  0%{   text-shadow: 0px 0px 2px 1.0 dotaPlusGold;}
  100%{  text-shadow: 0px 0px 10px dotaPlusGold;}
 }

 .TreasureTitleBig:hover{

  color: #ffffff;
  text-shadow: 0px 0px 5px 2.5 #5c68ff;
 }

 .TitleRow{
  width: 100%;
  flow-children: down;
  margin-bottom: 20px;
 }

 .AttributesContainer{
  margin-bottom: 12px;
 }

 .ItemNameSection{
  vertical-align: middle;
  margin-top: 8px;
 }

 #HeroIcon{
  visibility: collapse;
 }
  .HasHeroIcon #HeroIcon{

   visibility: visible;
   width: 32px;
   height: 32px;
   margin-right: 12px;
   margin-top: 4px;
  }


 .ItemName{
  vertical-align: middle;
  text-transform: none;
  font-family: titleFont;
  font-size: 28px;
  letter-spacing: 0.2px;
  line-height: 1.2;
 }

 .SelectedYearContainer{
  width: 100%;
  flow-children: right;
  margin-bottom: 24px;
 }
  .SelectedYearContainer .SelectedYear{
   color: gradient( linear, 0% 20%, 0% 100%, from( #BEAC7B ), color-stop( 0.5, #FFFFFF ), color-stop( 0.7, #AE9663 ), to( #F5E4B5 ) );
   font-size: 60px;
   font-weight: semi-bold;
   letter-spacing: -1.5px;
   margin-bottom: -20px;
   margin-right: 16px;
  }

  .SelectedYearContainer .Dash{
   width: fill-parent-flow( 1 );
   height: 1px;
   background-color: gradient( linear, 0% 00%, 100% 0%, from( #F7E6B5 ), to( #F7E6B500 ) );
   vertical-align: bottom;
  }


 .Divider{
  height: 4px;
  width: 100%;
  background-color: gradient( linear, 0% 0%, 100% 0%, from( dotaPlusGold ), color-stop( 0.5, dotaPlusLightGold), color-stop( 0.51, DarkGrey), to( DarkGrey ) );
 }



 .Attribute{
  color: #DAE2E5;
 }
  .Attribute.Value{

   margin-left: 4px;
  }


 .DetailsContainer{
  margin-top: 10px;
  width: 100%;
  margin-right: 60px;
  min-height: 200px;
 }

 .Details{
  color: #DAE2E5;
  width: 100%;
  font-size: 20px;
  line-height: 1.3;
 }

 #TreasureViewLegacyItemButton{

  visibility: collapse;
  padding: 10px 5px 10px 5px;
  vertical-align: middle;
  horizontal-align: left;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #373e46 ), to( #48555d ) );
  transition-property: background-color, box-shadow;
  transition-duration: .2s;
  box-shadow: fill #00000044 1px -1px 8px 1px;
  border-top: 1px solid #ffffff11;
  border-left: 1px solid #ffffff06;
  border-right: 1px solid #00000044;
  border-bottom: 1px solid #00000088;
 }
  .HasLegacyItem #TreasureViewLegacyItemButton{
   visibility: visible;
  }

  #TreasureViewLegacyItemButton Label{
   text-transform: uppercase;
   color: #ccc;
   letter-spacing: 1px;
   text-shadow: 2px 2px 4px black;
   font-size: 18px;
   vertical-align: middle;
   text-align: center;
   margin: 0px 5px 0px 5px;
  }


 #TreasureViewLegacyItemButton.Hover:enabled,#TreasureViewLegacyItemButton:hover:enabled{

  brightness: 1.5;
 }

 #TreasureViewLegacyItemButton:active{

  brightness: 2.0;
  sound: "ui_generic_button_click";
}