/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATreasureRecycleStatus
{
	width: 100%;
}

#TreasureRecycling
{
	visibility: collapse;
	width: 100%;
	flow-children: right;
	background-color: gradient( radial, 0% 0%, 0% 0%, 120% 120%, from( #ddf0ff09 ), to( #ddf0ff03 ) );
	padding: 10px 12zpx;
	border: 1px solid rgba(223, 240, 255, 0.087);
	border-brush: gradient( radial, 0% 0%, 0% 0%, 100% 100%, from( #ffffff ), to( #ffffff40 ) );
	transition-duration: 0.4s;
	transition-property: opacity;
	opacity: 1;
}

.TreasureRecyclingGrantEnabled #TreasureRecycling
{
	visibility: visible;
}

.TreasureRecyclingGrantEnabled #TreasureRecyclingButton
{
	brightness: 1;
}

.RecyclingIcon
{
	width: 22px;
	vertical-align: center;
	margin-right: 8px;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #dee2e7 ), to( #b5bcc4 ) );
	img-shadow: 0px 1px 8px black;
}

.TreasureRecyclingTitle
{
	text-shadow: 0px 1px 8px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #dee2e7 ), to( #b5bcc4 ) );
}

#TreasureRecyclingTop
{
	vertical-align: top;
	horizontal-align: left;
	width: fill-parent-flow(1);
	margin-right: 12px;
	transition-property: opacity;
	transition-duration: 0.2s;
}

#RecyclingInfoIcon
{
	z-index: 100;
	vertical-align: top;
	horizontal-align: right;
	ignore-parent-flow: true;
	margin-right: 8px;
	tooltip-position: top;
}

.TreasureRecyclingSubtitle
{
	font-size: 15px;
}

.ShowForEconRecycling
{
	visibility: collapse;
}

#RecyclingRewardProgress
{
	margin-top: 8px;
	vertical-align: center;
	flow-children: right;
	blur: none;
	brightness: 1.0;
}

.RecyclingRequiresPlusSubscription #RecyclingRewardProgress
{
	blur: gaussian( 3 );
	brightness: 0.25;
}

#TreasureRecycling .DotaPlusSubscribeButton
{
	margin-top: 5px;
	margin-bottom: 5px;
}

#TreasureRecycling .DotaPlusUpsell
{
	margin-left: 50px;
	margin-top: -110px;
	horizontal-align: center;
	width: 400px;
	height: 100px;
}

#TreasureRecycling .DotaPlusUpsellContents
{
	flow-children: down;
}

.DotaPlusUpsellContents
{
	visibility: collapse;
}

.RecyclingRequiresPlusSubscription .DotaPlusUpsellContents
{
	visibility: visible;
}

#RecyclingPunchCard
{
	vertical-align: center;
	horizontal-align: left;
	width: fill-parent-flow(1.0);
	margin-left: 12px;
}

#RecyclingPunchCard .StampPanel:selected
{
	brightness: 0.6;
}

#RecyclingPunchCard #RewardPanel
{
	visibility: collapse;
}

#RecyclingRewardContainer
{
	margin: 0px;
	vertical-align: center;
}

#RecyclingRewardButton
{
	width: 100%;
	margin: 8px;
	horizontal-align: center;
	vertical-align: bottom;
	visibility: collapse;
}

.BonusTreasureClaimable #RecyclingRewardButton
{
	visibility: visible;
}

.HideClaimButton #RecyclingRewardButton
{
	visibility: collapse;
}

.RecyclingRewardContents
{
	flow-children: right;
	horizontal-align: center;
}

#RecyclingRewardBackground
{
	width: 150px;
	height: 150px;
	margin-top: -10px;
	horizontal-align: right;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
	visibility: collapse;
}

#RecyclingRewardClaimLabel
{
	vertical-align: center;
}

.TreasureOpeningResultItemPanel
{
	vertical-align: bottom;
}

#RecyclingTreasureImageContainer
{
	width: height-percentage( 150% );
	height: 92px;
	vertical-align: center;
	box-shadow: 0px 4px 24px -4px rgba(0, 0, 0, 0.5);
	overflow: clip;
}

#RecyclingTreasureImageContainer #RecyclingTreasureImage
{
	width: 102%;
	height: 102%;
	overflow: noclip;
	vertical-align: center;
	horizontal-align: center;
}

#RecyclingTreasureImageContainer .TreasureClaimBorder
{
	width: 100%;
	height: 100%;
	border: 1px solid rgb(255, 232, 193);
	visibility: collapse;
}

.BonusTreasureClaimable #RecyclingTreasureImageContainer .TreasureClaimBorder
{
	visibility: visible;
	animation-name: GlowClaimBorder;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#RecyclingTreasureImageContainer #RecyclingTreasureQty
{
	color: white;
	font-size: 18px;
	font-weight: semi-bold;
	text-shadow: 0px 2px 12px black;
	vertical-align: bottom;
	horizontal-align: right;
	margin: 4px;
	visibility: collapse;
}

.CanClaimFX
{
	vertical-align: center;
	horizontal-align: center;
	width: 280%;
	height: 280%;
	ignore-parent-flow: true;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/masks/sun_burst_png.vtex");
	brightness: 2;
	hue-rotation: 10deg;
	visibility: collapse;
}

.BonusTreasureClaimable .CanClaimFX
{
	visibility: visible;
}

@keyframes 'GlowClaimBorder'
{
	0%
	{
		opacity: 0.2;
		brightness: 1;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
	}
	
}

.RecyclingTreasureHasQuantity #RecyclingTreasureQty
{
	visibility: visible;
}

#RecyclingAdditionalItemQty
{
	color: white;
	font-size: 14px;
	vertical-align: bottom;
	horizontal-align: right;
	visibility: collapse;
}

.RecyclingAdditionalRewardHasQuantity #RecyclingAdditionalItemQty
{
	visibility: visible;
}

#RecyclingRewardSeparator
{
	font-size: 16px;
	margin: 4px;
	visibility: collapse;
}

.HasShardRecyclingReward #RecyclingRewardSeparator,.HasAdditionalItemRecyclingReward #RecyclingRewardSeparator,.HasMysteryItemRecyclingReward #RecyclingRewardSeparator
{
	visibility: visible;
}

#RecyclingShardReward
{
	margin-top: 5px;
	vertical-align: center;
	horizontal-align: center;
	visibility: collapse;
}

.HasShardRecyclingReward #RecyclingShardReward
{
	visibility: visible;
}

#RecyclingBattlePassReward
{
	width: 61px;
	height: 60px;
	background-image: url("s2r://panorama/images/compendium/international2019/prestigerewards/mystery_item_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	visibility: collapse;
}

.HasMysteryItemRecyclingReward #RecyclingBattlePassReward
{
	visibility: visible;
}

#RecyclingShardReward Panel,Label
{
	vertical-align: center;
}

#RecyclingShardReward Label
{
	margin-left: 4px;
	font-size: 18px;
	color: dotaPlusLightGold;
	text-shadow: 2px 2px 4px black;
}

#RecyclingShardReward .DotaPlusCurrencyIcon
{
	margin: 0px;
	margin-top: -2px;
}

#DotaPlusIcon
{
	margin-right: 6px;
	transform: translateY( -2px );
	vertical-align: center;
	width: 18px;
	height: 21px;
	background-size: 18px 21px;
}

#RecyclingShardRewardIcon
{
	margin-right: 6px;
	vertical-align: center;
	width: 16px;
	height: 17px;
	background-size: 16px 17px;
}

#RecyclingAdditionalItemImage
{
	width: 60.75px;
	height: 40.5px;
	vertical-align: center;
	visibility: collapse;
}

.HasAdditionalItemRecyclingReward #RecyclingAdditionalItemImage
{
	visibility: visible;
}

#TreasureBundlesReceivedTitle
{
	margin-top: 15px;
	horizontal-align: center;
	vertical-align: center;
	font-size: 20px;
	font-weight: bold;
}

#ProgressTick_5
{
	z-index: 110;
}

#ProgressTick_4
{
	z-index: 100;
}

#ProgressTick_3
{
	z-index: 99;
}

#ProgressTick_2
{
	z-index: 98;
}

#ProgressTick_1
{
	z-index: 97;
}

#ProgressTick_0
{
	z-index: 96;
}

#TreasureRecyclingBottom
{
	width: 100%;
	border-top: 1px solid #4F3612;
	flow-children: down;
	min-width: 400px;
}

.HideRecycleItemList #TreasureRecyclingBottom
{
	visibility: collapse;
}

#TreasureBundlesReceivedList
{
	horizontal-align: left;
	flow-children: down;
	margin-left: 0px;
	max-height: 360px;
	width: 100%;
	overflow: scroll;
	padding-right: 20px;
	margin-top: 10px;
}

.RecyclingRequiresPlusSubscription #TreasureBundlesReceivedList
{
	visibility: collapse;
}

#TreasureBundlesReceivedList .TreasureOpeningResult
{
	padding-right: 2px;
	width: 100%;
	flow-children: right;
}

#TreasureBundlesReceivedList #TreasureOpeningResultArmoryItem
{
	width: 280px;
}

.TreasureOpeningRecycleCountLabel
{
	vertical-align: center;
	margin-left: 8px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #d8dce2 ;
	overflow: clip;
	color: #c4ceda;
	font-size: 24px;
	font-weight: bold;
	font-size: 18px;
}

.TreasureOpeningRecycleSpacer
{
	width: 20px;
	height: 1px;
}

.TreasureOpeningRecycleButton
{
	horizontal-align: right;
	vertical-align: center;
	margin-right: 0px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3484a7 ), to( #245575 ));
	background-color: #253646;
	border-top: 1px solid #485677;
	transition-property: background-color, box-shadow;
	transition-duration: .2s;
	animation-duration: 3.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	box-shadow: fill #00000044 1px -1px 8px 1px ;
	padding: 3px;
}

.TreasureOpeningRecycleButtonIcon
{
	opacity: 0.75;
	width: 22px;
	height: 22px;
	background-image: url("s2r://panorama/images/econ/smelting_psd.vtex");
	background-size: 22px 22px;
	vertical-align: center;
	horizontal-align: left;
	margin-right: 4px;
	margin-left: 4px;
}

.TreasureOpeningRecycleButtonContents
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: middle;
}

.TreasureOpeningRecycleButtonContents > Label
{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 15px;
	margin-right: 4px;
	margin-top: 2px;
}

.ButtonsContainer
{
	vertical-align: center;
}

.ButtonsContainer .RecycleButton
{
	visibility: collapse;
}

.IsRecyclingTreasure .ButtonsContainer #TreasureRecycleButton
{
	visibility: visible;
}

.IsRecyclingSticker .ButtonsContainer #StickerRecycleButton
{
	visibility: visible;
}

