/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATreasureContentsList
{
	width: 520px;
	flow-children: down;
	padding: 32px 42px 140px;
	overflow: clip scroll;
}

.HowWorksTitle
{
	margin-bottom: 12px;
	color: gradient( linear, 0% 0%, 0% 100%, from( whitesmoke ), to( LighterGrey ) );
}

.HowWorksDescription
{
	margin-bottom: 16px;
	color: LightGrey;
	font-size: 17px;
}

.HowWorksDescription .ItemName
{
	font-weight: bold;
	color: LightestGrey;
}

.TreasureItemsCategory
{
	flow-children: down;
	width: 100%;
	padding: 12px 16px 16px;
	background-color: DarkestGrey;
	border: 1px solid LightGrey&11;
}

.ReceivedBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&00 ), to( winnerGreenLow&11 ) );
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( winnerGreenLow&00 ), to( winnerGreenLow&22 ) );
	visibility: collapse;
}

.ReceivedItem .ReceivedBackground
{
	visibility: visible;
}

#NormalTitle
{
	margin-bottom: 8px;
	font-size: 20px;
}

.ItemList
{
	flow-children: down;
}

.ContentsItem
{
	flow-children: right;
	margin-bottom: 2px;
}

.ContentsItem:hover
{
	brightness: 1.5;
}

.ContentsItem:active
{
	brightness: 0.5;
}

#ItemPreview
{
	width: 36px;
	height: width-percentage(100%);
}

.ItemList .ExtraItems
{
	color: #9b9fa2;
}

.NormalItem
{
	background-color: #535a60;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( DarkerGrey&44 ), to( DarkerGrey ) );
}

#NormalDescription
{
	color: LightGrey;
	margin-top: 8px;
	font-size: 17px;
}

#NormalItems
{
	flow-children: down;
}

.Names
{
	width: fill-parent-flow(1.0);
	flow-children: down;
	vertical-align: center;
	margin-left: 8px;
}

.Names .UnitName
{
	visibility: collapse;
}

.Names .ItemName
{
	font-family: titleFont;
	font-size: 16px;
	line-height: 1.2;
	color: LighterGrey&99;
}

.ReceivedItem .Names .ItemName
{
	color: whitesmoke;
	text-shadow: 0px 0px 12px winnerGreen&44;
}

.ReceivedText
{
	color: #d1f4fa;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2px;
	margin-right: 8px;
	visibility: collapse;
}

.ReceivedIconContainer
{
	visibility: collapse;
}

.ContentsItem.TracksReceived .ReceivedIconContainer,.ContentsItem.TracksReceived .ReceivedText
{
	visibility: visible;
}

.ReceivedItem .ReceivedText
{
	visibility: visible;
}

.ReceivedIconContainer
{
	border-radius: 50%;
	margin-right: 8px;
	vertical-align: center;
}

.ReceivedIconContainer .ReceivedIconImage
{
	width: 22px;
	height: 22px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: black;
	opacity: 0.4;
}

.ReceivedItem .ReceivedIconContainer .ReceivedIconImage
{
	wash-color: winnerGreen;
	opacity: 1;
}

#RareContents
{
	margin-top: 16px;
	visibility: collapse;
}

.HasRareDrops #RareContents
{
	visibility: visible;
}

#RareTitle
{
	font-size: 20px;
	margin-bottom: 8px;
}

.RareItem
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( DarkerGrey&44 ), to( DarkerGrey&44 ) );
}

.RareItem .ItemName
{
	color: LightestGrey;
}

.RarityBackground
{
	ignore-parent-flow: true;
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ffffff00 ), to( #ffffff ) );
	opacity: 0.1;
	visibility: collapse;
}

.RareItem .RarityBackground
{
	visibility: visible;
}

.TreasureItemRarity_Rare .RarityBackground
{
	wash-color: rareTextColor;
}

.TreasureItemRarity_VeryRare .RarityBackground
{
	wash-color: veryRareTextColor;
}

.TreasureItemRarity_ExtremelyRare .RarityBackground
{
	wash-color: extremelyRareTextColor;
}

.TreasureItemRarity_UltraRare .RarityBackground
{
	wash-color: ultraRareChanceTextColor;
}

.TreasureItemRarity_CosmicallyRare .RarityBackground
{
	wash-color: cosmicallyRareChanceTextColor;
}

.RarityText
{
	text-transform: uppercase;
	color: #e3e4e8;
	margin-top: 2px;
	margin-right: 12px;
	text-align: right;
	vertical-align: center;
	font-weight: semi-bold;
	text-shadow: 0px 1px 6px black;
	font-size: 15px;
	letter-spacing: 1px;
	visibility: collapse;
}

.RareItem .RarityText
{
	visibility: visible;
}

.TreasureItemRarity_Rare .RarityText
{
	color: rareTextColor;
}

.TreasureItemRarity_VeryRare .RarityText
{
	color: veryRareTextColor;
}

.TreasureItemRarity_ExtremelyRare .RarityText
{
	color: extremelyRareTextColor;
}

.TreasureItemRarity_UltraRare .RarityText
{
	color: ultraRareChanceTextColor;
}

.TreasureItemRarity_CosmicallyRare .RarityText
{
	color: cosmicallyRareChanceTextColor;
}

