DOTAUIHeroPatchNotesHistory{

  width: 100%;
  height: 100%;
}

 .NoNotesLabel{
  vertical-align: middle;
  horizontal-align: center;
  text-align: center;
  padding: 0px 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #666;

  visibility: collapse;
 }
 .NoNotes .NoNotesLabel{
  visibility: visible;
 }


 #PatchNotesContainer{
  width: 100%;
  height: 100%;
  padding: 40px 220px 40px 120px;
  flow-children: down;
  overflow: squish scroll;
 }
  #PatchNotesContainer .SinglePatchNotes{
   width: 100%;
   flow-children: right;
   margin-bottom: 24px;
   padding-bottom: 24px;
   border-bottom: 1px solid white;
   border-brush: gradient( linear, 50% 0%, 100% 0%, from( #FFFFFF08 ), to( #FFFFFF00 ) );
  }
   #PatchNotesContainer .SinglePatchNotes .NotesLabel{
    flow-children: down;
   }

   #PatchNotesContainer .SinglePatchNotes .NotesDetails{
    flow-children: down;
    width: fill-parent-flow( 1.0 );
   }

   #PatchNotesContainer .SinglePatchNotes .PatchNumber{
    color: LightGrey;
    width: 220px;
    font-weight: normal;
   }

   #PatchNotesContainer .SinglePatchNotes .PatchDate{
    margin-top: -4px;
   }



 .PatchNoteLine{

  flow-children: right;
 }
  .PatchNoteLine .Dot{
   width: 6px;
   height: 6px;
   vertical-align: top;
   margin: 8px 10px 0px 8px;
   border-radius: 50%;
   background-color: LighterGrey;
   opacity: 0.4;
  }

  .PatchNoteLine .NoDot .Dot{
   background-color: #00000000;
  }

  .PatchNoteLine .Indent1:not(.NoDot) .Dot{
   background-color: gradient( radial, 50% 50%, 0% 0%, 10% 10%, from( #000000 ), to( #000000 ) );
   border: 1px solid #aaa;
  }

  .PatchNoteLine .Indent2:not(.NoDot) .Dot{
   border-radius: 1px;
  }

  .PatchNoteLine .Indent3:not(.NoDot) .Dot{
   border-radius: 1px;
   background-color: gradient( radial, 50% 50%, 0% 0%, 10% 10%, from( #000000 ), to( #000000 ) );
   border: 1px solid #aaa;
  }

  .PatchNoteLine .Indent4:not(.NoDot) .Dot{
   border-radius: 50%;
   width: 4px;
   height: 4px;
   margin: 8px 8px 6px 2px;
  }

  .PatchNoteLine .NoIndent .Indent{
   width: 0px;
  }

  .PatchNoteLine .Indent1 .Indent{
   width: 14px;
  }

  .PatchNoteLine .Indent2 .Indent{
   width: 28px;
  }

  .PatchNoteLine .Indent3 .Indent{
   width: 42px;
  }

  .PatchNoteLine .Indent4 .Indent{
   width: 56px;
  }


  .PatchNoteLine .NoteText{
   color: LighterGrey;
   opacity: 0.8;
  }

  .PatchNoteLine #PatchNoteInfo{
   opacity: 0.0;
   margin: 0px;
   vertical-align: middle;
   transform: translateY( -3px );
  }

  .PatchNoteLine.HasInfo #PatchNoteInfo{
   opacity: 1.0;
  }


 .NotesContents{

  flow-children: down;
  margin-left: 8px;
  width: fill-parent-flow( 1.0 );
 }

 #HeroNotesContainer{
  flow-children: down;
  width: 100%;
  margin-bottom: 4px;
  visibility: collapse;
 }
 .HasHeroNotes #HeroNotesContainer{
  visibility: visible;
 }

 #AbilityNotesContainer{
  flow-children: down;
 }
  #AbilityNotesContainer .AbilityNotes{
   flow-children: right;
   margin: 6px 0px;
  }
   #AbilityNotesContainer .AbilityNotes #AbilityImage{
    width: 64px;
    height: 64px;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.4);
    margin-right: 8px;
   }

   #AbilityNotesContainer .AbilityNotes .AbilityName{
    margin-bottom: 4px;
    text-shadow: 0px 1px 4px black;
   }




 .TalentNotes{

  flow-children: right;
  visibility: collapse;
  margin: 6px 0px;
 }
  .HasTalentNotes .TalentNotes.TalentNotes{
   visibility: visible;
  }

  .TalentNotes .TalentTreeImage{
   width: 64px;
   height: 64px;
   margin-right: 8px;

   background-image: url( "s2r://panorama/images/spellicons/statbranch_psd.vtex");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   wash-color: #aaa;
  }

  .TalentNotes #TalentNotesContainer{
   flow-children: down;
  }

  .TalentNotes .TalentsName{
   margin-bottom: 4px;
}