/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAEventLeaderboard
{
	width: 100%;
	height: 180px;
	flow-children: down;
}

.LeaderBoardHeader
{
	width: 100%;
}

.LeaderBoardHeader > Label
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: textDefaultColor;
	font-size: 14px;
	margin-top: 8px;
	text-shadow: 0px 1px 1px 2.0 #000000;
}

.LeaderBoardHeader.RightAlign
{
	horizontal-align: right;
	text-align: right;
	margin-right: 8px;
}

.ExpandLeaderBoard .HomeLeaderboard
{
	wash-color: white;
}

#PointsLeaderList
{
	width: 100%;
	height: 850px;
	padding-bottom: 16px;
}

.FadedBottom #PointsLeaderList
{
	padding-bottom: 80px;
}

.LeaderListRow
{
	margin-bottom: 2px;
	padding-right: 16px;
	background-color: #151515;
	width: 100%;
	flow-children: right;
}

.LeaderListRow.IsCurrentUser
{
	background-color: #37415155;
}

.LeaderListRow.IsCurrentUser Label
{
	color: white;
}

.LeaderListRow:hover Label
{
	brightness: 2;
}

.LeaderListRow.IsCurrentUser:hover Label
{
	color: white;
}

.LeaderListAvatar
{
	width: 28px;
	height: 28px;
	background-color: #333333;
	border: 1px solid black;
}

.EmptyRow .LeaderListValue,.EmptyRow .LeaderListName
{
	opacity: 0;
	height: 24px;
}

.EmptyRow .LeaderListAvatar
{
	opacity: 0.1;
}

.LeaderListName
{
	height: 24px;
	width: fill-parent-flow(1);
	vertical-align: center;
	margin-left: 10px;
	text-shadow: 0px 1px 4px black;
}

.IsCurrentUser .LeaderListName .PersonaName
{
	color: white;
}

.LeaderListName:hover
{
	brightness: 2;
}

.LeaderListValue,.LeaderListValueString
{
	color: #666262;
	text-align: right;
	vertical-align: center;
	text-shadow: 0px 1px 4px black;
}

.UseStringValue .LeaderListValue,.LeaderListValueString
{
	visibility: collapse;
}

.UseStringValue .LeaderListValueString
{
	visibility: visible;
}

#PointsLeaderListContainer
{
	width: 100%;
}

#GiftToFriendButton
{
	visibility: collapse;
	height: fill-parent-flow(1);
}

#GiftToFriendButton:hover Label
{
	color: white;
}

#GiftToFriendButton Label
{
	font-weight: semi-bold;
	letter-spacing: 1px;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: underline;
}

.SmallFriendsList #GiftToFriendButton
{
	visibility: visible;
}

.Slanted #PointsLeaderListCombo
{
	width: 100%;
	height: fill-parent-flow(0.5);
	height: fit-children;
	z-index: 3;
	margin-left: 0px;
}

.Slanted #PointsLeaderList
{
	height: fill-parent-flow( 1.0 );
	height: fit-children;
	min-height: 50px;
	horizontal-align: left;
	overflow: clip scroll;
	transform-origin: 100% 0%;
	z-index: 1;
	padding-top: 2px;
}

.FadedBottom #PointsLeaderList VerticalScrollBar
{
	margin-bottom: 80px;
}

.Slanted .LeaderListValue
{
	color: rgba(245, 245, 245, 0.8);
}

#PointesLeaderListLeftDupe
{
	width: 100%;
	z-index: 2;
	height: 100%;
	opacity-mask: url("s2r://panorama/images/masks/bp_leaderlist_slant_psd.vtex");
}

.Slanted .LeaderBoardHeader > Label
{
	color: #9bcbad7b;
	text-shadow: 0px 1px 4px 2.0 #000000;
}

.Slanted .LeaderListRow
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#a9ffce06), to(#a9ffce00));
}

.Slanted .LeaderListRow.IsCurrentUser
{
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#4aa941), color-stop(0.5, #0f602eba), to(#297f2100));
}

.Slanted .LeaderListRow.IsCurrentUser .LeaderListValue
{
	color: #fff;
}

.Slanted .LeaderBoardHeader
{
	margin-bottom: 2px;
}

.Slanted #PointsLeaderList VerticalScrollBar
{
	background-color: transparent;
	padding: 0;
	box-shadow: none;
	border: 1px solid transparent;
	width: 6px;
	margin-top: 3px;
}

.Slanted #PointsLeaderList VerticalScrollBar .ScrollThumb
{
	background-color: #676f79;
	box-shadow: none;
	border: 1px solid transparent;
	width: 4px;
}


