/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Season_Fall2025 #node_background
{
	background-color: rgb(14, 11, 9);
}

.Season_Fall2025 #node_outline
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffdbaa ), to( #c69653 ) );
}

.Season_Fall2025 .Claimable #node_background,.Season_Fall2025 .ClaimableAfterward #node_background
{
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #a27424 ), to( #ffc34b ) );
}

.Season_Fall2025 #reward_level_text
{
	color: gradient(linear, 0% 30%, 0% 80%, from(#c9ae84), to(#937a54));
}

DOTAEventRewardClaimButton.Season_Fall2025:not(.Achieved) .ShardsIcon
{
	visibility: visible;
}

.Season_Winter2025 #node_background
{
	background-color: rgb(9, 10, 14);
}

.Season_Winter2025 #node_outline
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #efe7c0 ), to( #606046 ) );
}

.Season_Winter2025 .Claimable #node_background,.Season_Winter2025 .ClaimableAfterward #node_background
{
	background-color: gradient( linear, 0% 10%, 0% 90%, from( #193640 ), color-stop( 0.5, #33687a ), to( #458fae ) );
}

.Season_Winter2025 #reward_level_text
{
	color: gradient(linear, 0% 30%, 0% 80%, from(#d6d3af), to(#9c9980));
}

@define OffsetVertical: -32px;
@define OffsetHorizontal: -9px;
DOTAEventRewardClaimButton
{
	tooltip-position: bottom;
	horizontal-align: center;
	vertical-align: center;
	width: 38px;
	height: 42px;
	overflow:noclip;
}

DOTAEventRewardClaimButton:hover
{
	sound:"UI.HeroCard.Hover";
}

DOTAEventRewardClaimButton:hover #node_outline
{
	brightness: 3;
}

DOTAEventRewardClaimButton:hover #reward_level_text
{
	brightness: 2;
}

DOTAEventRewardClaimButton.Claimable
{
	z-index: 1;
	opacity: 1.0;
}

DOTAEventRewardClaimButton.Replayable
{
	opacity: 1.0;
}

DOTAEventRewardClaimButton.Replayable:hover
{
	brightness: 1.2;
}

DOTAEventRewardClaimButton.HighValue:not(.AlreadyClaimed)
{
	margin-right: 4px;
}

.ButtonContainer
{
	width: 36px;
	height: 36px;
	horizontal-align: center;
	overflow: noclip;
}

.ShardsIcon
{
	width: 16px;
	height: 16px;
	horizontal-align: right;
	vertical-align: bottom;
	margin-bottom: 3px;
	visibility: collapse;
	background-image: dotaPlusCurrencySmallIcon;
	background-size: contain;
	background-position: center;
}

#reward_level_text
{
	horizontal-align: center;
	vertical-align: center;
	text-shadow: 0px 2px 8px 4 rgba(0, 0, 0, 0.2);
	font-size: 16px;
	text-align: center;
	transition-property: brightness;
	transition-duration: 0.15s;
}

.HighValue:not(.AlreadyClaimed) #reward_level_text
{
	font-size: 22px;
}

.Claimable #reward_level_text
{
	color: white;
}

.AlreadyClaimed #reward_level_text
{
	color: rgb(184, 255, 225);
}

.ClaimableAfterward #reward_level_text
{
	color: white;
}

DOTAEventRewardClaimButton:hover #reward_level_text
{
	visibility: visible;
}

.HighValueFX
{
	width: 130%;
	width: 44px;
	transform: rotateZ(180deg);
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	overflow: noclip;
	opacity-mask: url("s2r://panorama/images/events/seasonal/icons/event_reward_button_outline_big_mask_png.vtex");
	-s2-mix-blend-mode: screen;
	brightness: 3;
	visibility: collapse;
}

.HighValue:not(.AlreadyClaimed) .HighValueFX
{
	visibility: visible;
}

#node_background
{
	horizontal-align: center;
	vertical-align: center;
	width: 36px;
	height: 36px;
	opacity-mask: url("s2r://panorama/images/events/seasonal/icons/event_reward_button_mask_png.vtex");
	transition-property: brightness, background-color;
	transition-duration: 0.15s;
}

.HighValue:not(.AlreadyClaimed) #node_background
{
	width: 44px;
	height: 44px;
}

.Claimable:hover #node_background
{
	brightness: 1.5;
}

.AlreadyClaimed #node_background
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0e211a ), to( #2b5031 ) );
}

.Claimable #node_background
{
	brightness: 1.2;
}

.ClaimableAfterward #node_background
{
	brightness: 0.2;
}

#node_outline
{
	width: 36px;
	height: 36px;
	horizontal-align: center;
	vertical-align: center;
	img-shadow: 0px 1px 4px black;
	background-image: url("s2r://panorama/images/events/seasonal/icons/event_reward_button_outline_png.vtex");
	background-size: cover;
	transition-property: brightness;
	transition-duration: 0.15s;
	brightness: 0.2;
}

.HighValue:not(.AlreadyClaimed) #node_outline
{
	width: 44px;
	height: 44px;
	background-image: url("s2r://panorama/images/events/seasonal/icons/event_reward_button_outline_big_png.vtex");
	brightness: 2;
	img-shadow: 0px 0px 10px rgba(255, 195, 138, 0.3);
}

.Claimable #node_outline
{
	img-shadow: none;
	brightness: 2;
}

.ClaimableAfterward #node_outline
{
	brightness: 1;
}

.AlreadyClaimed #node_outline
{
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #7dc793 ), to( #406d48 ) );
	brightness: 1;
}

.CheckIconContainer
{
	visibility: collapse;
	horizontal-align: right;
	vertical-align: bottom;
	border-radius: 50%;
	padding: 3px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #191510 ), to( #000000 ) );
	border: 1px solid rgba(206, 255, 225, 0.05);
	box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.8);
}

.AlreadyClaimed .CheckIconContainer
{
	visibility: visible;
}

.CheckIconContainer .CheckIcon
{
	width: 11px;
	wash-color: rgb(100, 194, 106);
}

.DialogueIconContainer
{
	horizontal-align: right;
	vertical-align: bottom;
}

.HighValue:not(.AlreadyClaimed) .DialogueIconContainer
{
	x: 4px;
	y: 2px;
}

.DialogueIconContainer .DialogueIcon,.DialogueIconContainer .DialogueIconClaimable
{
	width: 18px;
	height: 18px;
	visibility: collapse;
	img-shadow: 0px 2px 8px black;
}

.HasVisualNovelDialogue .DialogueIconContainer .DialogueIcon
{
	visibility: visible;
}

.AlreadyClaimed .DialogueIconContainer .DialogueIcon,.Claimable .DialogueIconContainer .DialogueIcon,.ClaimableAfterward .DialogueIconContainer .DialogueIcon
{
	visibility: collapse;
}

.HasVisualNovelDialogue.Claimable .DialogueIconContainer .DialogueIconClaimable,.HasVisualNovelDialogue.ClaimableAfterward .DialogueIconContainer .DialogueIconClaimable
{
	visibility: visible;
}

#background_particles
{
	horizontal-align: center;
	vertical-align: center;
	width: 300%;
	height: 300%;
	visibility: collapse;
	-s2-mix-blend-mode: screen;
}

.Claimable #background_particles
{
	visibility: visible;
}

