/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAEventLevelShield
{
	height: 80px;
	width: 67px;
}

#ShieldBackground
{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#LevelNumber
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	font-family: titleFont;
	font-weight: semi-bold;
	text-shadow: 0px 0px 2px 3.0 black;
	color: white;
	margin-bottom: 5px;
	margin-right: 2px;
	padding: 0px 4px;
	text-overflow: shrink;
}

DOTAEventLevelShield.Season_Fall2025.ScoreboardLevelShield,DOTAEventLevelShield.Season_Winter2025.ScoreboardLevelShield
{
	vertical-align: center;
	margin-right: 0px;
	margin-top: 6px;
}

DOTAEventLevelShield.Season_Fall2025 #ShieldBackground,DOTAEventLevelShield.Season_Winter2025 #ShieldBackground
{
	width: 67px;
	height: 67px;
	background-size: 100% 100%;
	background-image: url("s2r://panorama/images/events/seasonal/artwork/polygonscore_base_large_png.vtex");
}

DOTAEventLevelShield.Season_Fall2025 #LevelNumber,DOTAEventLevelShield.Season_Winter2025 #LevelNumber
{
	margin-bottom: 12px;
}

DOTAEventLevelShield.Season_Fall2025 #ShieldBackground
{
	wash-color: rgb(255, 181, 120);
}

DOTAEventLevelShield.Season_Fall2025 #LevelNumber
{
	color: #fff;
	text-shadow: 0px 0px 12px rgba(255, 170, 101, 0.4);
	font-size: 24px;
}

DOTAEventLevelShield.Season_Winter2025 #LevelNumber
{
	color: #fff;
	text-shadow: 0px 0px 12px rgba(101, 188, 255, 0.4);
	font-size: 24px;
}

DOTAEventLevelShield.Season_Winter2025 #ShieldBackground
{
	wash-color: rgb(145, 207, 255);
}

DOTAEventLevelShield.Season_International2020.EventTierNone #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2020.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2020.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/silver_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2020.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/gold_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2020.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/max_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2020.EventTierNone #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_International2020.EventTierBronze #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_International2020.EventTierSilver #LevelNumber
{
	color: #ffffff;
}

DOTAEventLevelShield.Season_International2020.EventTierGold #LevelNumber
{
	color: #fff3d1;
}

DOTAEventLevelShield.Season_International2020.EventTierPlatinum #LevelNumber
{
	color: #ffffff;
	text-shadow: 0px 0px 6px #161008;
}

DOTAEventLevelShield.Season_International2020.EventTierBronze #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #4b3017 ), to( #f5caa3 ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2020.EventTierSilver #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #605f5f ), to( #eae9e9 ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2020.EventTierGold #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #E3B878 ), to( #FFEDD1 ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2020.EventTierPlatinum #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #3F3F3F ), to( #FFEAE1 ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Spring2021.EventTierNone #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Spring2021.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Spring2021.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/silver_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Spring2021.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/gold_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Spring2021.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/max_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Spring2021.EventTierNone #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_Spring2021.EventTierBronze #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_Spring2021.EventTierSilver #LevelNumber
{
	color: #ffffff;
}

DOTAEventLevelShield.Season_Spring2021.EventTierGold #LevelNumber
{
	color: #fff3d1;
}

DOTAEventLevelShield.Season_Spring2021.EventTierPlatinum #LevelNumber
{
	color: #ffffff;
	text-shadow: 0px 0px 6px #161008;
}

DOTAEventLevelShield.Season_Spring2021.EventTierBronze #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #E9B17C ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Spring2021.EventTierSilver #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #999999 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Spring2021.EventTierGold #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FCF2D5 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Spring2021.EventTierPlatinum #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #BFF2FC ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Fall2021.EventTierNone #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Fall2021.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Fall2021.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/silver_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Fall2021.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/gold_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Fall2021.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2020/max_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_Fall2021.EventTierNone #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_Fall2021.EventTierBronze #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_Fall2021.EventTierSilver #LevelNumber
{
	color: #ffffff;
}

DOTAEventLevelShield.Season_Fall2021.EventTierGold #LevelNumber
{
	color: #fff3d1;
}

DOTAEventLevelShield.Season_Fall2021.EventTierPlatinum #LevelNumber
{
	color: #ffffff;
	text-shadow: 0px 0px 6px #161008;
}

DOTAEventLevelShield.Season_Fall2021.EventTierBronze #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #E9B17C ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Fall2021.EventTierSilver #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #999999 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Fall2021.EventTierGold #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FCF2D5 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_Fall2021.EventTierPlatinum #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #BFF2FC ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2022.EventTierNone #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2022.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2022.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/silver_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2022.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/gold_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2022.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/max_shield_icon_psd.vtex");
}

DOTAEventLevelShield.Season_International2022.EventTierNone #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_International2022.EventTierBronze #LevelNumber
{
	color: #fff;
}

DOTAEventLevelShield.Season_International2022.EventTierSilver #LevelNumber
{
	color: #ffffff;
}

DOTAEventLevelShield.Season_International2022.EventTierGold #LevelNumber
{
	color: #fff3d1;
}

DOTAEventLevelShield.Season_International2022.EventTierPlatinum #LevelNumber
{
	color: #ffffff;
	text-shadow: 0px 0px 6px #161008;
}

DOTAEventLevelShield.Season_International2022.EventTierBronze #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #E9B17C ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2022.EventTierSilver #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #999999 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2022.EventTierGold #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #FCF2D5 ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

DOTAEventLevelShield.Season_International2022.EventTierPlatinum #LevelNumber
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #BFF2FC ), to( #ffffff ) );
	text-shadow: 0px 0px 5px 4.0 black;
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierNone #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_highlight_psd.vtex");
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/basic_shield_icon_highlight_psd.vtex");
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/silver_shield_icon_highlight_psd.vtex");
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/gold_shield_icon_highlight_psd.vtex");
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/battlepass/international2022/max_shield_icon_highlight_psd.vtex");
}

.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierBronze #LevelNumber,.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierSilver #LevelNumber,.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierGold #LevelNumber,.EventHasUnclaimedRewards DOTABPInternational2022EventSummary DOTAEventLevelShield.Season_International2022.EventTierPlatinum #LevelNumber
{
	color: white;
	text-shadow: 0px 0px 8px 2 accentColor&33;
}

DOTAEventLevelShield.Season_International2023
{
	width: 92px;
	height: 92px;
}

DOTAEventLevelShield.Season_International2023 #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2023/ti2023_shield_png.vtex");
	img-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

DOTAEventLevelShield.Season_International2023 #LevelNumber
{
	font-size: 40px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 5px;
	margin-right: 2px;
	padding: 0px 4px;
}

DOTAEventLevelShield.Season_Crownfall
{
	width: 116px;
	height: 67px;
}

DOTAEventLevelShield.Season_Crownfall.EventTierNone
{
	opacity: 0.0;
}

DOTAEventLevelShield.Season_Crownfall.EventTierBronze #ShieldBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/badges/crownfall_progress_badge_base_png.vtex");
}

DOTAEventLevelShield.Season_Crownfall.EventTierSilver #ShieldBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/badges/crownfall_progress_badge_bronze_png.vtex");
}

DOTAEventLevelShield.Season_Crownfall.EventTierGold #ShieldBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/badges/crownfall_progress_badge_silver_png.vtex");
}

DOTAEventLevelShield.Season_Crownfall.EventTierPlatinum #ShieldBackground
{
	background-image: url("s2r://panorama/images/events/crownfall/badges/crownfall_progress_badge_gold_png.vtex");
}

DOTAEventLevelShield.Season_Crownfall #LevelNumber
{
	font-size: 28px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin: 0px;
	padding: 0px 32px;
}

DOTAEventLevelShield.Season_Crownfall.EventTierPlatinum #LevelNumber
{
	padding-right: 58px;
}

DOTAEventLevelShield.Season_International2024
{
	width: 128px;
	height: 128px;
}

DOTAEventLevelShield.Season_International2024 #ShieldBackground
{
	background-image: url("s2r://panorama/images/compendium/international2024/compendium_level_shield_png.vtex");
}

DOTAEventLevelShield.Season_International2024 #LevelNumber
{
	font-size: 28px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	margin-bottom: 8px;
	margin-right: 2px;
	padding: 0px 4px;
	font-family: titleFont;
}

