/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAFacetDetails
{
	width: 100%;
	height: fit-children;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c2024fd ), to( #000000fd ) );
	background-color: #181f24;
	flow-children: down;
}

.FacetHeader
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

.FacetHeader .FacetBackground
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.FacetHeader .FacetBackgroundTexture
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	background-image: url("s2r://panorama/images/hud/facets/ripple_texture_png.vtex");
	background-size: cover;
	background-position: center;
	-s2-mix-blend-mode: screen;
	opacity: 0.5;
}

.Wrapper
{
	width: 100%;
	flow-children: none;
	height: fit-children;
}

.FacetBody
{
	width: 100%;
	padding: 4px;
	flow-children: down;
}

.AltDetails
{
	padding: 8px 8px;
}

.FacetImage
{
	margin: -12px -8px;
	margin-right: -16px;
}

.FacetHeaderText
{
	width: fill-parent-flow( 1.0 );
	height: fit-children;
	vertical-align: middle;
	horizontal-align: left;
	flow-children: down;
	padding: 6px 12px;
}

.FacetHeaderText Label
{
	horizontal-align: left;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.8);
}

.FacetHeaderText .FacetCategory
{
	color: LightestGrey;
	margin: 1px 0px -3px;
	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.FacetHeaderText .FacetName
{
	color: white;
	letter-spacing: 0.5px;
	font-weight: semi-bold;
	height: 26px;
	text-overflow: shrink;
	font-size: 18px;
	font-weight: semi-bold;
	margin-top: 1px;
}

.FacetDetails
{
	width: 100%;
	padding: 8px 12px 8px;
	font-family: titleFont;
	font-size: 15px;
	color: #acc3e2;
	letter-spacing: 0.2px;
}

DOTAHud .FacetDetails
{
	font-family: defaultFont;
	letter-spacing: 0px;
	font-size: 16px;
	color: #9ab0cd;
}

#FacetAbilityDetails
{
	visibility: collapse;
}

.ShowFacetAbility #FacetAbilityDetails
{
	visibility: visible;
}

Label
{
	color: #9ab0cd;
	font-size: 16px;
}

Label.TitleFont,TextEntry.TitleFont
{
	font-family: defaultFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px 1.0 #000000;
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-overflow: shrink;
	height: 32px;
}

Label.SubtitleFont
{
	font-family: defaultFont;
	text-transform: uppercase;
	letter-spacing: 1px;
}

Label .AttributeHighlight
{
	color: #e1e1e1;
	font-weight: bold;
}

.ChosenDisplay
{
	visibility: collapse;
}

.ChosenFacet .ChosenDisplay,.FacetPreview .PreviewDisplay
{
	visibility: visible;
}

.AltDetails,.AltDetails .DetailsOnly,.ShowExtraDescription.AdditionalFacetDetails .MainDetails,.AutoExpand .AdditionalFacetDetails .MainDetails
{
	visibility: collapse;
}

.MainDetails,.ShowExtraDescription .AltDetails .DetailsOnly,.ShowExtraDescription.AdditionalFacetDetails .AltDetails,.AutoExpand .AdditionalFacetDetails .AltDetails,.AutoExpand .AdditionalFacetDetails .AltDetails .DetailsOnly
{
	visibility: visible;
}

.AltDetailsHelp
{
	visibility: collapse;
	horizontal-align: right;
	margin: 4px;
	width: 100%;
	text-align: right;
	padding-top: 6px;
	border-top: 1px solid rgba(255, 255, 255, 0.02);
	border-brush: gradient( linear, 0% 0%, 50% 0%, from( #ffffff00 ), to( #ffffff ) );
	flow-children: left;
}

.AltDetailsHelp .AltKeyIcon
{
	vertical-align: center;
	width: 28px;
	margin-left: 4px;
}

.AltDetailsHelp Label
{
	font-size: 14px;
	color: Grey;
	vertical-align: center;
	margin-bottom: 2px;
}

.AdditionalFacetDetails .AltDetailsHelp
{
	visibility: visible;
}

.FacetAbilityMod
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	margin-bottom: 8px;
}

.FacetAbilityHeader
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	margin: 4px 8px 0px;
	width: 100%;
	background-color: gradient( linear, 0% 0%,90% 0%, from( #9bcdff17 ), color-stop( 0.3, #9bcdff09 ), to( #d0e8ff00 ) );
}

.FacetAbilityHeader #FacetAbilityImage
{
	width: 34px;
	height: 34px;
	margin-right: 12px;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.6);
	background-color: DarkestGrey;
	visibility: collapse;
}

.FacetAbilityHeader #FacetFacetImage
{
	height: 24px;
	width: 24px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 17px;
	margin-left: 5px;
	visibility: collapse;
	box-shadow: 0px 3px 12px -1px rgba(0, 0, 0, 0.6);
}

.FacetAbilityHeader #FacetInnateImage
{
	width: 32px;
	height: 32px;
	margin-right: 10px;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	visibility: collapse;
}

.FacetAbilityHeader Label
{
	horizontal-align: left;
	text-shadow: 0px 2px 8px black;
}

.FacetAbilityHeader #FacetAbilityName
{
	color: LightestGrey;
	margin: 1px 0px -3px;
	letter-spacing: 1px;
	font-family: titleFont;
	text-transform: uppercase;
	text-overflow: shrink;
	font-size: 14px;
	font-weight: semi-bold;
	vertical-align: center;
}

.PassiveEffect #FacetFacetImage,.NormalAbility #FacetAbilityImage,.InnateAbility #FacetInnateImage
{
	visibility: visible;
}

.ModAbility,.NewAbility
{
	visibility: collapse;
}

.GrantedByFacet .NewAbility,.ModifiedByFacet .ModAbility
{
	visibility: visible;
}

.FacetAbilityDescriptionBody
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.FacetAbilityDescriptionBody #FacetAbilityDetails
{
	visibility: visible;
}

.FacetDescriptionExtraText
{
	padding-left: 8px;
	color: #596e89;
}

.NoSpecialText .FacetDescriptionExtraText,.AltDetails .NoSpecialText .DetailsOnly.FacetDescriptionExtraText
{
	visibility: collapse;
}

.FacetDescriptionLabel
{
	color: #9ab0cd;
	font-size: 16px;
	width: 330px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 4px;
	margin-bottom: 6px;
}

.NoFacetAbilityDesc .FacetDescriptionLabel
{
	visibility: collapse;
}

.FacetIconContainer
{
	vertical-align: center;
	opacity: 0.8;
	width: 52px;
}

.FacetIconContainer .FacetIconContainerShard
{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	border-right: 1px solid rgba(0, 0, 0, 0.03);
}

.FacetIconContainer #FacetIcon
{
	horizontal-align: center;
	vertical-align: center;
	width: 26px;
	height: 26px;
	background-size: cover;
	margin: 8px 0px;
	img-shadow: 0px 2px 8px black;
}

