/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAFriendPicker
{
	flow-children: down;
}

#FriendsList
{
	width: 100%;
	height: 100%;
	flow-children: down;
	overflow: squish scroll;
}

#FriendsList RadioButton
{
	background-color: #24292A00;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
	padding-left: 8px;
	margin-right:8px;
	vertical-align: middle;
	border-left: 2px solid transparent;
	transition-duration: 0s;
}

#FriendsList RadioButton:hover
{
	brightness: 2;
	background-color: #24292A44;
	border-left: 2px solid white;
}

#FriendsList RadioButton .RadioBox
{
	vertical-align: middle;
}

#FriendsList RadioButton DOTAAvatarImage
{
	width: 32px;
	height: 32px;
	margin-left: 8px;
	vertical-align: middle;
}

#FriendsList RadioButton DOTAUserName
{
	vertical-align: middle;
	margin-left: 8px;
}

#FriendsList RadioButton DOTAUserName Label
{
	font-size: 22px;
	font-weight: thin;
	margin: 0px;
}

#SearchBox
{
	width: 100%;
	margin: 5px 10px;
	margin-bottom: 15px;
}

#SearchBox #SettingsNavigationSearchIcon
{
	vertical-align: center;
	height: 24px;
	width: 24px;
	margin-left: 10px;
	wash-color: LightGrey;
}

#SearchBox #SearchEntryBox
{
	width: 100%;
	height: 40px;
	flow-children: right;
	border-radius: 6px;
	border: 1px solid rgba(218, 238, 255, 0.05);
	background-color: rgb(37, 42, 46);
	padding-left: 38px;
	padding-top: 6px;
	transition-duration: 0.1s;
	transition-property: border, background-color;
}

#SearchBox #SearchEntryBox #PlaceholderText
{
	color: LightGrey;
	transition-duration: 0.1s;
}

#SearchBox #SearchEntryBox:hover
{
	border: 1px solid rgba(218, 238, 255, 0.2);
}

#SearchBox #SearchEntryBox:focus
{
	background-color: rgb(44, 51, 58);
	animation-duration: 1s;
	animation-delay: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#SearchBox #SettingsNavigationSearchClearButton
{
	width: 40px;
	height: 40px;
	visibility: collapse;
	horizontal-align: right;
	vertical-align: center;
	margin-right: 16px;
	background-image: url("s2r://panorama/images/control_icons/x_close_filled_png.vtex");
	background-size: 22px 22px;
	background-repeat: no-repeat;
	background-position: center;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0.4;
}

#SearchBox #SettingsNavigationSearchClearButton:hover
{
	opacity: 1;
}

#SearchBox #SettingsNavigationSearchClearButton.ShowClearButton
{
	visibility: visible;
}

