/* Prettified by Source 2 Viewer 6.0.0.0 - https://valveresourceformat.github.io */

#InnerCarousel
{
	flow-children: right;
	width: 100%;
	height: 100%;
}

.FrontpageCarouselItem
{
	transition-property: opacity;
	transition-duration: 0.5s;
}

.FrontpageCarouselItem.Offscreen
{
	opacity: 0.0;
}

.FrontpageCarouselItem:disabled
{
	visibility: collapse;
}

#InnerCarouselNav
{
	horizontal-align: right;
}

