/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAGameTimeNotchedRangeSlider
{
	overflow: noclip;
}

.SliderContainer
{
	width: fill-parent-flow( 1.0 );
	overflow: noclip;
}

#NotchedRangeSlider
{
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 6px;
}

.TimeRangeLabel
{
	margin: 4px 0px 4px 4px;
	vertical-align: bottom;
	width: 200px;
	horizontal-align: center;
}

#OverlayPanel
{
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	background-color: #000000aa;
	width: 100%;
	height: 120px;
	overflow: noclip;
}

.ShowOverlay #OverlayPanel
{
	opacity: 1;
}

.ItemPurchaseGroup
{
	flow-children: none;
	margin-left: -15px;
	margin-top: 8px;
	width: 38px;
	height: 100%;
	background-size: cover;
	overflow: noclip;
}

.VerticalLine
{
	width: 1px;
	height: 100%;
	background-color: #ffffff11;
	horizontal-align: center;
}

.ItemPurchaseGroupImage
{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1.5px solid #555687;
	background-color: black;
	pre-transform-scale2d: 0.9;
	horizontal-align: center;
	animation-duration: .81s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	transition-property: brightness, pre-transform-scale2d;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}

.ItemRecipe #ItemImage.ItemPurchaseGroupImage
{
	width: 32px;
	height: 32px;
	margin-top: 3px;
	border-radius: 0px;
	border-width: 0px;
	background-color: none;
}

.ItemPurchaseGroupImage:hover
{
	pre-transform-scale2d: 1;
	brightness: 2;
}

.ItemPurchaseGroupImage.ItemQuality0
{
	visibility: visible;
}

.ItemPurchaseGroupImage.ItemQuality1
{
	visibility: visible;
}

.ItemName_item_aegis .ItemPurchaseGroupImage
{
	animation-name: AegisPulse;
	animation-duration: 2s;
	border-width: 4px;
	box-shadow: inset 0px -2px 3px 0px #000000;
}

.ItemName_item_rapier .ItemPurchaseGroupImage
{
	animation-name: RapierPulse;
	animation-timing-function: ease-in-out;
	animation-duration: 1.0s;
	box-shadow: 0px 0px 6px #ffffff;
}

#MultipleItemBG
{
	width: 38px;
	height: 58px;
	background-size: 36px 55px;
	background-repeat: no-repeat;
	background-position: 50%;
	overflow: noclip;
	margin-left: 0px;
	margin-top: -1px;
	z-index: -2;
}

.ItemPurchaseGroup.ItemCount2 #MultipleItemBG
{
	background-image: url("s2r://panorama/images/status_icons/stackeditems_1_psd.vtex");
}

.ItemPurchaseGroup.ItemCount3 #MultipleItemBG
{
	background-image: url("s2r://panorama/images/status_icons/stackeditems_2_psd.vtex");
}

.ItemPurchaseGroup.ItemCount4 #MultipleItemBG
{
	background-image: url("s2r://panorama/images/status_icons/stackeditems_3_psd.vtex");
}

@keyframes 'AegisPulse'
{
	0%
	{
		brightness: 1;
	}
	
	50%
	{
		brightness: 2;
	}
	
	100%
	{
		brightness: 1;
	}
	
}

@keyframes 'RapierPulse'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 4px #fFBE3B66;
	}
	
	50%
	{
		brightness: 2;
		box-shadow: 0px 0px 8px #fFBE3Bff;
	}
	
	100%
	{
		brightness: 1;
		box-shadow: 0px 0px 4px #fFBE3B66;
	}
	
}

.ItemPurchaseGroupImage.ItemQuality0
{
	visibility: visible;
}

.ItemPurchaseGroupImage.ItemQuality1
{
	visibility: visible;
}

.KillsGroup
{
	flow-children: right;
	padding: 1px 4px;
	background-color: rgb(12, 14, 15);
	border-radius: 24px;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #848484 ) );
	border: 1px solid rgba(235, 247, 255, 0.2);
	width: 34px;
	transform: translateX( -17px );
	margin-top: 60px;
}

.KillsGroup .SkullIcon
{
	height: 12px;
	width: 12px;
	wash-color: Grey;
	wash-color: #b91b1e;
	vertical-align: center;
}

.KillsGroup .KillCountLabel
{
	font-size: 10px;
	color: Grey;
	color: #b91b1e;
	vertical-align: center;
	margin-left: 1px;
	font-family: monospaceNumbersFont;
	text-overflow: text-shrink;
}

