/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTALeaderboard
{
	width: 300px;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #253242 ), to( #0e151f ) );
}

.Header
{
	width: 100%;
	flow-children: down;
	padding: 2px 10px;
	background-image: url("s2r://panorama/images/events/crownfall/overworld/header_bg_fill_png.vtex");
	box-shadow: inset 0px -0.5px 0px rgba(0, 0, 0, 0.6283);
	border-bottom: 0.5px solid rgba( 223, 246, 255, 0.04 );
	opacity: 1;
	background-color: black;
}

.Header .LeaderboardTitle
{
	margin-top: 6px;
	margin-bottom: 2px;
	visibility: collapse;
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	color: gradient( linear, 0% 30%, 0% 100%, from( #edd3ab ), to( #b0935d ) );
	font-size: 16px;
	letter-spacing: 1px;
	text-shadow: 0px 2px 8px black;
}

.Header .NameScore
{
	flow-children: right;
	visibility: collapse;
}

.Header .NameScore Label
{
	color: #999999;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	margin-top: 4px;
	margin-bottom: 4px;
	text-shadow: 0px 2px 6px black;
}

.HasTitle .LeaderboardTitle
{
	visibility: visible;
}

.HasNameOrScore .NameScore
{
	visibility: visible;
}

.FriendsProgress
{
	flow-children: down;
}

.AsyncContents
{
	width: 100%;
	height: fill-parent-flow( 1.0 );
	margin-bottom: 12px;
}

#LeaderboardEntries
{
	flow-children: down;
	width: 100%;
	overflow: squish scroll;
}

.LeaderboardEntry
{
	flow-children: right;
	height: 30px;
	padding: 2px 12px;
	width: 100%;
}

.LeaderboardEntry #AvatarImage
{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: 4px;
}

.LeaderboardEntry .PlayerName
{
	width: fill-parent-flow( 1.0 );
	vertical-align: middle;
	font-size: 15px;
}

.LeaderboardEntry .PlayerScore
{
	font-family: monospaceNumbersFont;
	vertical-align: middle;
	margin-right: 3px;
	color: #c7ab7e;
	font-size: 15px;
	text-align: right;
}

.LeaderboardEntry.EmptyRow #AvatarImage,.LeaderboardEntry.EmptyRow .PlayerName,.LeaderboardEntry.EmptyRow .PlayerScore
{
	visibility: collapse;
}

.LeaderboardEntry.IsCurrentUser
{
	background-color: #ffffff03;
}

.LeaderboardEntry.IsCurrentUser Label
{
	font-weight: bold;
}


