/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/battle_pass/crownfall/bp_crownfall_shared.vcss_c");
@define Frostivus2024ProgressFadeTime: 0.25s;
.Frostivus2024Progress
{
	color: gradient( linear, 0% 100%, 0% 0%, from( #a6e5e8 ), to( #24addf ) );
	color: highlightGradient;
	font-weight: bold;
}

.BackgroundImageContainer
{
	background-image: url("s2r://panorama/images/loadingscreens/frostivus_2023/loading_screen_frostivus_2023_001_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	blur: gaussian( 4 );
	brightness: 0.5;
	overflow: noclip;
}

.SmokeFX
{
	width: 100%;
	height: 100%;
	horizontal-align: center;
}

.SmokeFX.Bottom
{
	vertical-align: bottom;
	transform: translateY( 200px );
	wash-color: rgb(54, 79, 128);
}

#Frostivus2024ProgressMain
{
	horizontal-align: center;
	overflow: noclip;
	flow-children: down;
	margin-top: 140px;
	transition-property: transform;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
}

#Frostivus2024ProgressMain #Frostivus2024ProgressTitle
{
	width: 100%;
	horizontal-align: center;
	flow-children: down;
	ui-scale: 80%;
	transition-property: opacity, transform;
	transition-duration: 0.6s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	transform: scale3d( 0.8, 0.8, 1 );
}

#Frostivus2024ProgressMain .FrostivusRewardClaimableContainer
{
	horizontal-align: center;
	visibility: collapse;
	flow-children: right;
}

#Frostivus2024ProgressMain .FrostivusRewardClaimableContainer .Frostivus2024RewardArrow
{
	height: 30px;
	width: 100px;
	vertical-align: center;
	margin-left: 10px;
	margin-right: 10px;
	ui-scale: 80%;
	background-image: url("s2r://panorama/images/events/frostivus/2024/ornament_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Frostivus2024ProgressMain .FrostivusRewardClaimableContainer .Frostivus2024RewardArrow.Right
{
	transform: scaleX( -1 );
}

#Frostivus2024ProgressMain .FrostivusRewardClaimableContainer .RewardClaimableBadge
{
	vertical-align: center;
	animation-name: PulseProgressAvailableLabel;
	animation-duration: 0.9s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#Frostivus2024ProgressMain .FrostivusRewardClaimableContainer .RewardClaimableBadge Label
{
	vertical-align: center;
	font-size: 28px;
	font-weight: semi-bold;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 8px;
	text-align: center;
}

.HasRewardClaimable #Frostivus2024ProgressMain .FrostivusRewardClaimableContainer
{
	visibility: visible;
}

#Frostivus2024ProgressMain #Frostivus2024ProgressRewards
{
	flow-children: down;
	horizontal-align: center;
	height: fit-children;
	margin-top: 12px;
	padding: 0px 64px 180px;
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 100%, from( #0d101b ), color-stop( 0.5, #161A2A ), to( #161a2a00 ) );
}

#Frostivus2024ProgressMain #Frostivus2024ProgressRewards .Frostivus2024Divider
{
	width: 1220px;
	horizontal-align: center;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.3, white ), color-stop( 0.7, white ), to( rgba(255, 255, 255, 0) ) );
}

#Frostivus2024ProgressMain #Frostivus2024ProgressRewards #InventoryList
{
	margin-top: 16px;
	flow-children: right;
	horizontal-align: center;
}

#Component0 .ComponentImageBackgroundInner
{
	wash-color: rgb(41, 146, 175);
}

#Component1 .ComponentImageBackgroundInner
{
	wash-color: rgb(90, 22, 76);
}

#Component2 .ComponentImageBackgroundInner
{
	wash-color: #342d68;
}

#Component3 .ComponentImageBackgroundInner
{
	wash-color: rgb(100, 126, 55);
}

.Frostivus2024SectionDivider
{
	flow-children: right;
	width: 680px;
	horizontal-align: center;
	margin-top: -120px;
}

.Frostivus2024SectionDivider .Frostivus2024SectionDividerDash
{
	width: fill-parent-flow( 1 );
	height: 1px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #ccbc7400 ), color-stop( 0.1, #ccbc74 ), to( #ccbc7400 ) );
	vertical-align: center;
}

.Frostivus2024SectionDivider .Frostivus2024SectionDividerDash.Left
{
	transform: scaleX( -1 );
}

.Frostivus2024SectionDivider .Frostivus2024SectionDividerSnowflake
{
	width: 50px;
}

.Frostivus2024Component
{
	width: 280px;
	flow-children: down;
	opacity: 0.2;
}

.Frostivus2024Component.HighlightComponent
{
	opacity: 1.0;
}

.Frostivus2024Component.HighlightComponent .ComponentImageContainer
{
	animation-name: PulseOnce;
	animation-duration: 0.7s;
}

.Frostivus2024Component.HighlightComponent .ComponentImageContainer .ComponentImageBackground,.Frostivus2024Component.HighlightComponent .ComponentImageContainer .ComponentImageBackgroundInner
{
	horizontal-align: center;
	width: 230px;
	height: width-percentage( 100% );
	background-size: cover;
	margin-top: 8px;
}

.Frostivus2024Component.HighlightComponent .ComponentImageContainer .ComponentImageBackground
{
	background-image: url("s2r://panorama/images/events/frostivus/2024/currency_background_png.vtex");
}

.Frostivus2024Component.HighlightComponent .ComponentImageContainer .ComponentImageBackgroundInner
{
	background-image: url("s2r://panorama/images/events/frostivus/2024/currency_background_inner_png.vtex");
}

.Frostivus2024Component.HighlightComponent .ComponentImageContainer #ComponentImage
{
	animation-name: GlowRotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.Frostivus2024Component.AnimatingCount .ComponentImageContainer .ComponentDetails .ComponentCount
{
	brightness: 1;
	transform:scale3d(1.1, 1.1, 1.0);
}

.Frostivus2024Component .ComponentImageContainer
{
	horizontal-align: center;
	margin-bottom: 20px;
}

.Frostivus2024Component .ComponentImageContainer #ComponentImage
{
	height: 200px;
	width: 200px;
	horizontal-align: center;
}

.Frostivus2024Component .ComponentImageContainer .ComponentDetails
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 160px;
	padding-top: 20px;
}

.Frostivus2024Component .ComponentImageContainer .ComponentDetails .ComponentCount
{
	horizontal-align: center;
	width: 68px;
	brightness: 0.8;
	border-radius: 4px;
	padding: 2px 2px 4px;
	background-color: #05182D;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #97aece ), to( #364355 ) );
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
	margin-bottom: 8px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: white;
	transition-property: brightness, transform;
	transition-duration: 0.1s;
}

.Frostivus2024Component .ComponentImageContainer .ComponentDetails .ComponentName
{
	font-size: 22px;
	horizontal-align: center;
	font-weight: semi-bold;
	color: whitesmoke;
}

.Frostivus2024Component #QuestList
{
	horizontal-align: center;
	flow-children: down;
	width: 400px;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer
{
	width: 90%;
	horizontal-align: center;
	flow-children: down;
	margin-bottom: 1px;
	opacity: 0;
	transition-property: brightness, transform;
	transition-duration: 0.1s;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer.ShowQuest
{
	opacity: 1;
	animation-name: QuestLine;
	animation-duration: 0.2s;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer.Animating
{
	brightness: 2;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer.ShowCheckMark .CheckMark
{
	opacity: 1;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer .CheckMark
{
	height: 20px;
	width: 20px;
	margin-right: 10px;
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	background-size: contain;
	wash-color: #3ebd50;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer .DescriptionContainer
{
	flow-children: right;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
}

.Frostivus2024Component #QuestList .Frostivus2024QuestContainer .DescriptionContainer Label
{
	color: #C2DBEC;
}

.Frostivus2024Logo
{
	animation-name: frostivus_logo;
	animation-duration: 1s;
	width: 850px;
	height: 216px;
	horizontal-align: center;
	brightness: 1.5;
	pre-transform-scale2d: 0.99999;
	transition-property: brightness, pre-transform-scale2d;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	visibility: collapse;
}

.Frostivus2024Logo.en
{
	visibility: visible;
}

.Language_schinese .Frostivus2024Logo.cn,.Language_tchinese .Frostivus2024Logo.cn
{
	visibility: visible;
}

.Language_schinese .Frostivus2024Logo.en,.Language_tchinese .Frostivus2024Logo.en
{
	visibility: collapse;
}

@keyframes 'QuestLine'
{
	0%
	{
		opacity: 0;
		transform: translateX( 200px);
	}
	
	100%
	{
		opacity: 1;
	}
	
}

@keyframes 'GlowRotate'
{
	0%
	{
		transform: scale3d(1.1, 1.1, 0.0);
		brightness: 2.0;
	}
	
	100%
	{
		transform: rotateZ( 4deg );
	}
	
}

@keyframes 'PulseOnce'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	15%
	{
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	30%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	45%
	{
		transform: scale3d( 1.03, 1.03, 1 );
	}
	
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
}

@keyframes 'PulseProgressAvailable'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	15%
	{
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	30%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	45%
	{
		transform: scale3d( 1.1, 1.1, 1 );
	}
	
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
}

@keyframes 'PulseProgressAvailableLabel'
{
	0%
	{
		text-shadow: 0px 0px 12px gold1&00;
		brightness: 1;
	}
	
	100%
	{
		text-shadow: 0px 0px 16px gold2&44;
		brightness: 2.0;
	}
	
}

@keyframes 'PulseHighlightedQuest'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	50%
	{
		transform: scale3d( 1.15, 1.15, 1 );
		brightness: 2;
	}
	
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
}

@keyframes 'GlowText'
{
	0%
	{
		brightness: 0.7;
	}
	
	100%
	{
		brightness: 1.2;
	}
	
}

