/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/events/dark_carnival/dark_carnival_shared.vcss_c");
@define DarkCarnivalProgressFadeTime: 0.25s;
#DarkCarnivalProgressScreen
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #1D1E33 ), to( #0E1522 ) );
}

.GodRays
{
	width: 1920px;
	height: 1080px;
	horizontal-align: center;
	y: -450px;
}

.BackgroundImageContainer
{
	horizontal-align: center;
	width: 100%;
	max-width: 2520px;
	height: 100%;
	overflow: clip;
	opacity: 1;
	background-image: url("s2r://panorama/images/events/dark_carnival/backgrounds/sky_background_png.vtex");
	background-size: cover;
}

.BottomGradient
{
	vertical-align: bottom;
	width: 100%;
	height: 340px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00000000 ), to( #000000 ) );
}

#DarkCarnivalProgressMain
{
	width: 1000px;
	horizontal-align: center;
	overflow: noclip;
	flow-children: down;
	border-radius: 1px;
	transition-property: transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 1, 0, 1);
	transform: translateY( 48px );
}

.ShowCandyworks #DarkCarnivalProgressMain
{
	transform: translateY( 24px );
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle
{
	horizontal-align: center;
	z-index: 1;
	padding-bottom: 40px;
	margin-top: -40px;
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: translateY( -200px );
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogo
{
	width: 380px;
	height: width-percentage(100%);
	z-index: 1;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogo.en
{
	visibility: visible;
}

.Language_schinese #DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogo.en
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogo.cn
{
	visibility: collapse;
}

.Language_schinese #DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogo.cn
{
	visibility: visible;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogoFX
{
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/logos/dark_carnival_emblem_shine_mask_png.vtex") 0.99;
	width: 380px;
	height: width-percentage(100%);
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogoFX .LogoGodRays
{
	horizontal-align: center;
	vertical-align: center;
	width: 300%;
	height: 200%;
	overflow: noclip;
	brightness: 3;
	hue-rotation: 180deg;
	saturation: 0.5;
}

.Language_schinese #DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogoFX
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogoShimmer
{
	width: 380px;
	height: width-percentage(100%);
	opacity-mask: url("s2r://panorama/images/events/dark_carnival/logos/dark_carnival_emblem_shine_mask_png.vtex");
}

.Language_schinese #DarkCarnivalProgressMain #DarkCarnivalProgressTitle .DarkCarnivalLogoShimmer
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .SubtitleContainer
{
	width: 80%;
	horizontal-align: center;
	vertical-align: bottom;
	transform: rotateZ( -3deg );
	margin-bottom: -20px;
	margin-left: -16px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .SubtitleContainer .SubtitleBackground
{
	width: 75%;
	vertical-align: center;
	horizontal-align: center;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .SubtitleContainer .EventSubtitle
{
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	width: 65%;
	height: 25px;
	text-overflow: shrink;
	color: gradient( linear, 0% 20%, 0% 100%, from( goldLight ), to( rgb(190, 182, 199) ) );
	text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.8);
	font-weight: semi-bold;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .SubtitleRope
{
	width: 12px;
	ignore-parent-flow: true;
	horizontal-align: center;
	vertical-align: bottom;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle .SubtitleRope.Left
{
	x: -104px;
	y: -30px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle.ShowLogo
{
	transform-origin: 50% 0%;
	animation-name: SwayLogo;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	opacity: 1;
	transform: none;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressTitle.ShowLogo .DarkCarnivalLogoShimmer
{
	animation-name: ShimmerLogo;
	animation-duration: 4s;
	animation-timing-function: ease-out;
}

#DarkCarnivalProgressMain .Dash
{
	opacity: 0.4;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: fit-children;
	margin: -180px 0px -106px;
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
	transition-property: opacity, transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalProgressBackground
{
	ignore-parent-flow: true;
	horizontal-align: center;
	width: 96%;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalInfo
{
	margin-top: 160px;
	margin-bottom: 16px;
	horizontal-align: center;
	flow-children: down;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalRewardsContainer
{
	flow-children: right;
	horizontal-align: center;
	background-color: #00000088;
	padding-bottom: 6px;
	border-radius: 1px;
	border-image-source: url("s2r://panorama/images/events/dark_carnival/postgame/rewards_container_border_png.vtex");
	border-width: 20px;
	border-image-slice: 48px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalRewardsContainer .RewardsDivider
{
	width: 3px;
	height: 96%;
	vertical-align: center;
	background-image: url("s2r://panorama/images/events/dark_carnival/postgame/rewards_divider_png.vtex");
	background-size: 100%;
	margin: 0px 20px;
	overflow: noclip;
	margin-top: 2%;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards.ShowRewards
{
	opacity: 1;
	transform: none;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .WinText,#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossText,#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossTextTurbo
{
	opacity: 0.9;
	width: 800px;
	height: 38px;
	text-overflow: shrink;
	font-size: 26px;
	line-height: 1.3;
	font-family: titleFont;
	letter-spacing: -0.2px;
	color: whitesmoke;
	text-shadow: 0px 3px 12px black;
	text-align: center;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .WinText b,#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossText b,#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossTextTurbo b
{
	font-weight: semi-bold;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .TurboDisclaimer
{
	opacity: 0.9;
	margin-top: -2px;
	margin-bottom: 0px;
	font-size: 16px;
	color: LightGrey;
	font-family: defaultFont;
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .WinText
{
	visibility: collapse;
}

.DidWin #DarkCarnivalProgressMain #DarkCarnivalProgressRewards .WinText
{
	visibility: visible;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .WinText b
{
	color: winnerGreen;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossText
{
	visibility: visible;
}

.DidWin #DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossText
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .LossTextTurbo
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards.IsTurboGame .DarkCarnivalInfo
{
	margin-top: 176px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards.IsTurboGame .TurboDisclaimer
{
	visibility: visible;
}

.DidLose #DarkCarnivalProgressMain #DarkCarnivalProgressRewards.IsTurboGame .LossText
{
	visibility: collapse;
}

.DidLose #DarkCarnivalProgressMain #DarkCarnivalProgressRewards.IsTurboGame .LossTextTurbo
{
	visibility: visible;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DashDotDivider .ActText
{
	margin: 0px 16px;
	horizontal-align: center;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.548);
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .ActText
{
	horizontal-align: center;
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
	text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.548);
	font-size: 44px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .TicketsAndScrapList
{
	flow-children: right;
	horizontal-align: center;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .TicketsAndScrapList .RewardsDivider
{
	width: 1px;
	overflow: clip;
	height: 80%;
	margin: 0px;
	margin-top: 4%;
}

.NoScrap #DarkCarnivalProgressMain #DarkCarnivalProgressRewards .TicketsAndScrapList .RewardsDivider
{
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList
{
	flow-children: right;
	overflow: noclip;
	padding: 0px 12px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList.HighlightTokenReceived .DarkCarnivalTokenContainer:not(.Empty) DOTADarkCarnivalToken
{
	animation-name: PulseHighlightedToken;
	animation-duration: 0.3s;
	animation-iteration-count: 2;
	transform: none;
	opacity: 1;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList.HighlightTokenReceived .DarkCarnivalTokenContainer:not(.Empty) .TokenBurstParticles
{
	visibility: visible;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer
{
	flow-children: down;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer.ShowToken
{
	opacity: 1;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer DOTADarkCarnivalToken
{
	ui-scale: 200%;
	horizontal-align: center;
	margin-left: -6px;
	margin-right: -6px;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer .TokenName
{
	text-shadow: 0px 2px 8px black;
	font-size: 16px;
	horizontal-align: center;
	margin-top: -6px;
	color: textLighter;
	width: 90px;
	height: 20px;
	text-align: center;
	text-overflow: shrink;
	transition-property: color;
	transition-duration: 0.3s;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer .TokenCount
{
	font-size: 30px;
	horizontal-align: center;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards .DarkCarnivalTokenList .DarkCarnivalTokenContainer.Empty .TokenName
{
	opacity: 0.3;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards #OverworldClaimable
{
	horizontal-align: center;
	margin-top: -34px;
	ui-scale: 125%;
	transition-property: transform, opacity;
	transition-duration: 0.25s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: scale3d( 2, 2, 1 );
	visibility: collapse;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards #OverworldClaimable.claimable
{
	visibility: visible;
}

#DarkCarnivalProgressMain #DarkCarnivalProgressRewards #OverworldClaimable.ShowProgressAvailable
{
	transform: none;
	opacity: 1;
}

#DarkCarnivalProgressMain .DarkCarnivalOverworldProgress
{
	flow-children: down;
	horizontal-align: center;
}

#DarkCarnivalProgressMain .DarkCarnivalOverworldProgress .DarkCarnivalOverworldProgressTitle
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px black;
	font-weight: semi-bold;
	letter-spacing: 1px;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress
{
	flow-children: down;
	horizontal-align: center;
	height: 100%;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress.EarnedDailyCoin #DarkCarnivalFortuneTellerCoinContainer
{
	visibility: collapse;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress.EarnedDailyCoin #DarkCarnivalFortunteTellerEarnedMessageContainer
{
	visibility: visible;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress .DarkCarnivalFortunteTellerProgressTitle
{
	horizontal-align: center;
	color: gradient( linear, 0% 0%, 0% 100%, from( goldLight ), to( goldDark ) );
	text-shadow: 0px 2px 8px black;
	font-weight: semi-bold;
	letter-spacing: 1px;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerEarnedMessageContainer
{
	width: 200px;
	height: 112px;
	visibility: collapse;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	opacity: 0;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerEarnedMessageContainer .OracleCoinImageEarnedImage
{
	width: 70px;
	height: width-percentage(100%);
	horizontal-align: center;
	saturation: 0.8;
	opacity: 0.2;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerEarnedMessageContainer Label
{
	width: 100%;
	vertical-align: bottom;
	max-height: 51px;
	padding-bottom: 8px;
	border-bottom: 1px solid textLighter&11;
	text-align: center;
	font-family: titleFont;
	text-shadow: 0px 2px 8px black;
	font-size: 15px;
	line-height: 1.3;
	color: textLighter;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerEarnedMessageContainer.ShowMessage
{
	opacity: 1;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer
{
	flow-children: right;
	horizontal-align: center;
	height: 112px;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin
{
	width: 200px;
	height: 112px;
	vertical-align: center;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin.ShowCoin .OracleCoinImage
{
	opacity: 1;
	transform: none;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin.ShowCoin .OracleCoinGlow
{
	animation-name: GlowEarnedOracleCoin;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin .OracleCoinSlot
{
	width: 112px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin .OracleCoinGlow
{
	width: 60%;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 45%, from( rgb(140, 130, 255) ), color-stop( 0.5, rgb(165, 130, 255) ), color-stop( 0.75, rgba(165, 130, 255, 0.158) ), to( #00000000 ) );
	border-radius: 50%;
	-s2-mix-blend-mode: screen;
	brightness: 2;
	blur: gaussian(4px);
	opacity: 0;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortuneTellerCoinContainer .DarkCarnivalFortuneTellerCoin .OracleCoinImage
{
	width: 112px;
	height: width-percentage(100%);
	horizontal-align: center;
	vertical-align: center;
	margin-top: 1px;
	img-shadow: 0px 4px 12px #00000099;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: scale3d( 1.5, 1.5, 1 );
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerDailyProgress
{
	horizontal-align: center;
	ignore-parent-flow: true;
	vertical-align: bottom;
	transition-property: opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	opacity: 0;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerDailyProgress Label
{
	text-shadow: 0px 2px 8px black;
	font-size: 16px;
	horizontal-align: center;
	color: textLighter;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerDailyProgress.ShowFortuneTellerDescription
{
	opacity: 1;
}

#DarkCarnivalProgressMain .DarkCarnivalFortuneTellerProgress #DarkCarnivalFortunteTellerDailyProgress Label
{
	horizontal-align: center;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy
{
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
}

.ShowCandyworks #DarkCarnivalProgressMain .DarkCarnivalProgressCandy
{
	opacity: 1;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider
{
	width: 80%;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider .Dash
{
	opacity: 0.2;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider .ShortcutBackground,#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider .ShortcutBackgroundInner
{
	width: 80px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	transition-property: brightness, wash-color;
	transition-duration: 0.1s;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider .ShortcutBackgroundInner
{
	wash-color: #32404f;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .DashDotDivider .ShortcutIcon
{
	width: 24px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), to( gold3 ) );
	opacity-mask: url("s2r://panorama/images/events/crownfall/overworld/nodes/icons/encounter_candy_png.vtex");
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .BannerContainer
{
	horizontal-align: center;
	flow-children: down;
	z-index: 1;
	margin-bottom: 4px;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .BannerContainer .CandyShopTitle
{
	horizontal-align: center;
	vertical-align: center;
	padding: 0px 60px;
	color: redDark;
	letter-spacing: 0px;
	font-weight: semi-bold;
	font-size: 20px;
	text-shadow: shadowWhite;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .BannerContainer .BannerFlag
{
	margin-top: 8px;
	ignore-parent-flow: true;
	width: 100%;
	height: 66px;
	border-image-source: url("s2r://panorama/images/events/dark_carnival/artwork/banner_small_png.vtex");
	border-width: 66px 50px 0px 50px;
	border-image-slice: 100% 100px 0px 100px;
	ui-scale: 85%;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress
{
	flow-children: right;
	horizontal-align: center;
	padding: 6px 0px 12px;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon
{
	margin: 0px -2px;
	transform: scaleX( 0.7 ) scaleY( 0.7 );
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon .DarkCarnivalRerollIconGlow
{
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 50%;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #ffb66dd4 ), color-stop(0.3, #fffc6683 ), to( #ffffff00 ) );
	brightness: 1;
	-s2-mix-blend-mode: overlay;
	visibility: collapse;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon .DarkCarnivalRerollOnIcon
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_reroll_psd.vtex");
	background-size: cover;
	visibility: collapse;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon .DarkCarnivalRerollOffIcon
{
	width: 40px;
	height: 40px;
	background-image: url("s2r://panorama/images/events/dark_carnival/overworld/rewards/reward_candy_reroll_psd.vtex");
	background-size: cover;
	opacity: 0.4;
	saturation: 0.1;
	brightness: 0.2;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.TransitionsEnabled
{
	transition-property: transform, opacity-brush, position;
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: ease-out, ease-out;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollHalfActive .DarkCarnivalRerollOnIcon
{
	visibility: visible;
	opacity-brush: gradient( linear, 60% 0%, 100% 60%, from( #ffffff ), color-stop(0.35, #ffffff), color-stop(0.55, #ffffff00 ), to( #ffffff00 ) );
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollHalfActive .DarkCarnivalRerollIconGlow
{
	opacity-brush: gradient( linear, 60% 0%, 100% 60%, from( #ffffff ), color-stop(0.35, #ffffff), color-stop(0.55, #ffffff00 ), to( #ffffff00 ) );
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollActive .DarkCarnivalRerollOnIcon
{
	visibility: visible;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollHighlightNew
{
	transform: none;
	margin: 0px 2px;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollHighlightNew .DarkCarnivalRerollOnIcon
{
	brightness: 2;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy #DarkCarnivalRerollProgress .DarkCarnivalRerollIcon.RerollHighlightNew .DarkCarnivalRerollIconGlow
{
	visibility: visible;
	animation-name: GlowReroll;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .RerollProgressLabel
{
	font-size: 16px;
	color: rgb(181, 202, 231);
	vertical-align: center;
	opacity: 0.6;
	text-shadow: 0px 2px 8px black;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .RerollTurboHalfIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/control_icons/wagertoken_psd.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: center;
}

#DarkCarnivalProgressMain .DarkCarnivalProgressCandy .RerollTurboHalfReward
{
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: center;
}

@keyframes 'GlowReroll'
{
	0%
	{
		brightness: 1;
	}
	
	100%
	{
		brightness: 5;
	}
	
}

@keyframes 'GlowEarnedOracleCoin'
{
	0%
	{
		opacity: 0.2;
	}
	
	100%
	{
		opacity: 0.6;
	}
	
}

@keyframes 'PulseProgressAvailable'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
		box-shadow: 0px 0px 24px -2px gold1&00;
		brightness: 1;
	}
	
	5%
	{
		transform: scale3d( 1.07, 1.07, 1 );
		box-shadow: 0px 0px 48px -2px gold1&22;
	}
	
	10%
	{
		transform: scale3d( 1, 1, 1 );
		brightness: 4;
	}
	
	15%
	{
		transform: scale3d( 1.07, 1.07, 1 );
		box-shadow: 0px 0px 48px -2px gold1&22;
	}
	
	30%
	{
		transform: scale3d( 1, 1, 1 );
		box-shadow: 0px 0px 24px -2px gold1&00;
		brightness: 1;
	}
	
}

@keyframes 'PulseProgressAvailableLabel'
{
	0%
	{
		text-shadow: 0px 0px 12px gold1&00;
		brightness: 1;
	}
	
	100%
	{
		text-shadow: 0px 0px 16px gold2&44;
		brightness: 1.5;
	}
	
}

@keyframes 'SwayLogo'
{
	0%
	{
		transform: rotateZ( -1deg );
	}
	
	100%
	{
		transform: rotateZ( 1deg );
	}
	
}

@keyframes 'PulseHighlightedToken'
{
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
	50%
	{
		transform: scale3d( 1.15, 1.15, 1 );
		brightness: 2;
	}
	
	0%
	{
		transform: scale3d( 1, 1, 1 );
	}
	
}

@keyframes 'ShimmerLogo'
{
	0%
	{
		background-color: gradient( linear, -50% -50%, 0% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
	100%
	{
		background-color: gradient( linear, 100% 100%, 150% 150%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
	}
	
}

.DarkCarnivalWeeklyProgress
{
	flow-children: right;
	horizontal-align: center;
	max-width: 500px;
	visibility: collapse;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.DarkCarnivalWeeklyProgress .WeeklyProgressCap
{
	flow-children: down;
	background-color: #0008;
	border: 3px solid #555;
	border-radius: 3px;
	padding: 5px;
	min-width: 400px;
}

.DarkCarnivalWeeklyProgress .WeeklyProgressCap .RerollCapText
{
	font-size: 16px;
	horizontal-align: center;
	text-align: center;
	text-overflow: shrink;
}

.WeeklyResourceRemaining .DarkCarnivalWeeklyProgress.Active,.WeeklyResourceExhausted .DarkCarnivalWeeklyProgress.Complete,.RerollsCapped .DarkCarnivalWeeklyProgress.Capped,.CandyworksLocked.WeeklyResourceExhausted .DarkCarnivalWeeklyProgress.LockedShop,.CandyworksLocked.WeeklyResourceRemaining:not(.RerollsCapped) .DarkCarnivalWeeklyProgress.LockedShop
{
	visibility: visible;
	opacity: 1;
}

.RerollCapUnlockedShop
{
	visibility: visible;
}

.CandyworksLocked .RerollCapUnlockedShop
{
	visibility: collapse;
}

.RerollCapLockedShop
{
	visibility: collapse;
}

.CandyworksLocked .RerollCapLockedShop
{
	visibility: visible;
}

#ScrapRow
{
	flow-children: down;
	vertical-align: center;
	margin-top: -8px;
	width: 120px;
	margin-left: 4px;
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
}

.ShowScrap #ScrapRow
{
	opacity: 1;
	transform: none;
}

.NoScrap #ScrapRow
{
	visibility: collapse;
}

#ScrapRow .ScrapText
{
	horizontal-align: center;
	font-size: 16px;
	color: textLighter;
	vertical-align: center;
	text-shadow: 0px 2px 8px black;
	text-overflow: shrink;
	height: 19px;
	margin-bottom: 4px;
}

#ScrapRow #ScrapList
{
	horizontal-align: center;
}

#ScrapRow #ScrapList.DarkCarnivalTokenList .DarkCarnivalTokenContainer
{
	opacity: 1;
	margin: 0px -12px;
}

#ScrapRow #ScrapList.DarkCarnivalTokenList .DarkCarnivalTokenContainer .TokenName
{
	visibility: collapse;
}

#ScrapRow #ScrapList.DarkCarnivalTokenList .DarkCarnivalTokenContainer DOTADarkCarnivalToken
{
	ui-scale: 120%;
}

#ScrapRow #ScrapList.TiltTickets #Scrap0
{
	transform: rotateZ( -8deg );
}

#ScrapRow #ScrapList.TiltTickets #Scrap1
{
	transform: rotateZ( 8deg );
}

@keyframes 'GlowText'
{
	0%
	{
		brightness: 0.7;
	}
	
	100%
	{
		brightness: 1.2;
	}
	
}

