/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#LocalPlayerStat
{
	width: 50px;
	horizontal-align: left;
	text-align: left;
	font-size: 16px;
	text-overflow: shrink;
}

#ProfileStat
{
	width: 50px;
	horizontal-align: left;
	text-align: left;
	font-size: 16px;
	color: #253138;
	margin-bottom: 8px;
	text-overflow: shrink;
}

#StatName
{
	font-size: 16px;
}

ProfileStat
{
	flow-children: right;
}


