/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPunchCard
{
	flow-children: right;
	height: 34px;
}

.StampPanel
{
	width: fill-parent-flow(1.0);
	height: 100%;
	flow-children: right;
	margin-left: -2%;
}

.StampPanel .StampPanelBackground
{
	width: fill-parent-flow(1.0);
	height: 100%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), to( #FFFFFF ) );
}

.StampPanel .StampPanelBackgroundArrow
{
	width: 16px;
	height: 100%;
}

.StampPanel .StampPanelBackground,.StampPanel .StampPanelBackgroundArrow
{
	wash-color: #c2e8ff;
	opacity: 0.08;
}

.StampPanel .StampPanelIcon
{
	ignore-parent-flow: true;
	vertical-align: center;
	horizontal-align: center;
	width: 18px;
	height: 18px;
	opacity: 0.5;
	img-shadow: 0px 2px 8px black;
	background-size: cover;
	background-image: url("s2r://panorama/images/control_icons/24px/hero.vsvg");
}

.IsRecyclingSticker .StampPanel .StampPanelIcon
{
	background-image: url("s2r://panorama/images/control_icons/24px/sticker.vsvg");
}

.StampPanel:selected .StampPanelBackground,.StampPanel:selected .StampPanelBackgroundArrow
{
	wash-color: #5a98da;
	opacity: 0.8;
}

.StampPanel:selected .StampPanelIcon
{
	opacity: 1;
	img-shadow: 0px 0px 12px rgb(80, 164, 255);
}

.StampPanel.StampIndex0
{
	margin-left: 0px;
}

.StampPanel.StampIndex0
{
	z-index: 100;
}

.StampPanel.StampIndex1
{
	z-index: 99;
}

.StampPanel.StampIndex2
{
	z-index: 98;
}

.StampPanel.StampIndex3
{
	z-index: 97;
}

.StampPanel.StampIndex4
{
	z-index: 96;
}

.StampPanel.StampIndex5
{
	z-index: 95;
}

.StampPanel.StampIndex6
{
	z-index: 94;
}

.StampPanel.StampIndex7
{
	z-index: 93;
}

.StampPanel.StampIndex8
{
	z-index: 92;
}

.StampPanel.StampIndex9
{
	z-index: 91;
}

