/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAPurchaseButtonMultiOption
{
	width: 100%;
}

#PrimaryPurchaseButton,#SecondaryPurchaseButton
{
	width: 100%;
	transition-property: width;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(1, 1, 0, 1);
}

#SecondaryPurchaseButton
{
	visibility: collapse;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption #PrimaryPurchaseButton
{
	width: 78%;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption #SecondaryPurchaseButton
{
	visibility: visible;
	width: 20%;
	horizontal-align: right;
	padding: 0px;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption .ExpandSecondaryPurchaseOption #PrimaryPurchaseButton
{
	width: 20%;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption .ExpandSecondaryPurchaseOption #SecondaryPurchaseButton
{
	width: 78%;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption.ExpandSecondaryPurchaseOption #PrimaryPurchaseButton
{
	width: 20%;
}

DOTAPurchaseButtonMultiOption.HasShardsSecondaryPurchaseOption.ExpandSecondaryPurchaseOption #SecondaryPurchaseButton
{
	width: 78%;
}

