/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.AxePoster
{
	width: 40%;
	height: width-percentage( 128% );
	vertical-align: middle;
	horizontal-align: center;
	margin-left: 6%;
	margin-bottom: 10%;
}

