/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.ToastContainer
{
	width: fit-children;
	height: fit-children;
	visibility: collapse;
}

.ToastContainer.Visible
{
	visibility: visible;
}

.SeasonRewardToast
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( DarkestGrey ), to( DarkerGrey ) );
	background-size: auto 100%;
	width: 500px;
	height: 130px;
	box-shadow: 0px 16px 80px -12px #000000ea;
	margin-bottom: 10px;
	padding: 10px 10px;
	flow-children: right;
	border: 1px solid rgba(255, 244, 228, 0.025);
}

.SeasonRewardToast #ToastImage,.SeasonRewardToast #MainImage
{
	background-image: url("s2r://panorama/images/econ/tools/ti10_seasonal_item_background_png.vtex");
	background-size: 100% auto;
	vertical-align: middle;
	width: 80px;
	height: 80px;
	border: 1px solid #353535;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 2px 2px 10px #000000bb;
}

.SeasonRewardToast #Emoticon
{
	vertical-align: middle;
	width: 60px;
	height: 60px;
	margin-left: 70px;
	margin-right: 20px;
}

.SeasonRewardToast .RewardTextContainer
{
	flow-children: down;
	width: 400px;
	max-height: 110px;
	vertical-align: middle;
}

.ToastLevelContainer
{
	flow-children: right;
}

.ShieldIcon
{
	width: 20px;
	height: 20px;
	margin-left: 2px;
	margin-right: 8px;
	visibility: collapse;
}

.LevelLabel
{
	visibility: collapse;
}

.HasLevel .LevelLabel
{
	visibility: visible;
}

.SeasonRewardToast .LevelLabel
{
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	color: LightGrey;
	text-shadow: 0px 1px 4px #000000;
	margin-top: 1px;
}

.SeasonRewardToast .Title
{
	font-weight: semi-bold;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
	text-shadow: 0px 1px 6px #000000;
}

.SeasonRewardToast .Description
{
	font-size: 18px;
	color: LighterGrey;
	font-weight: normal;
	margin-left: 0px;
	text-overflow: shrink;
	text-shadow: 0px 1px 6px #000000;
}

.CavernItem.SeasonRewardToast #ToastImage
{
	background-image: url("s2r://panorama/images/cavern/reward_ring_bg_psd.vtex");
	border: 0px;
	box-shadow: none;
}

.Blessing.SeasonRewardToast #ToastImage
{
	border-radius: 0px;
}

.Quartero.SeasonRewardToast
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #49412f ), to( #2b231b ) );
}

.Quartero.SeasonRewardToast .Description
{
	color: #c4b595;
}

.Quartero.SeasonRewardToast .LevelLabel
{
	color: #d6b86e;
}

.International2025.SeasonRewardToast
{
	background-color: gradient( linear, 0% 0%, 100% 100%, from( #44286d ), to( #26164b ) );
}

.International2025.SeasonRewardToast .Description
{
	color: rgb(190, 183, 233);
}

