/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTASwitchButton
{
	width: 40px;
	height: 28px;
	vertical-align: middle;
	border: 1.5px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #868d9b ), to( #565b63 ) );
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 40px;
	transition-property: brightness, background-color;
	transition-duration: 0.1s;
}

DOTASwitchButton:hover
{
	brightness: 1.5;
}

DOTASwitchButton.SwitchOn
{
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #93ff9c ), to( #36ab40 ) );
}

.SwitchButton
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	border-radius: 40px;
	background-color: gradient( linear, 0% 20%, 0% 80%, from( #c6daff ), to( #6882B1 ) );
	margin: 3px;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
	transition-property: background-color, transform;
	transition-duration: 0.1s;
}

.SwitchButton .SwitchButtonIcon
{
	width: 12px;
	height: width-percentage( 100% );
	horizontal-align: center;
	vertical-align: center;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #0a0c10f3 ), to( #232934f3 ) );
	margin-bottom: 1px;
}

DOTASwitchButton.SwitchOn .SwitchButton
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #93ff9c ), to( #36ab40 ) );
	transform: translateX( 13px );
}

DOTASwitchButton.SwitchOn .SwitchButton .SwitchButtonIcon
{
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #0a0c10 ), to( #232934 ) );
}


