/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Prediction
{
	width: 120px;
	height: fit-children;
	overflow: noclip;
}

.NoSelectionBorder
{
	width: 100%;
	height: 100%;
	background-color: white;
	transition-property: opacity;
	transition-duration: 0.2s;
	opacity: 0;
}

.NoSelection:not(.Locked) .NoSelectionBorder
{
	opacity: 1;
	animation-name: GlowNoSelection;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

@keyframes 'GlowNoSelection'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px -2px rgba(138, 66, 255, 0.1);
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 28px -2px rgba(138, 66, 255, 0.5);
	}
	
}

.Prediction:disabled
{
	saturation: 0;
	background-color: gray;
}

.PredictionContainer
{
	width: 100%;
	height: fit-children;
	flow-children: down;
}

#Winner .PredictionContainer
{
	border: 1px solid white;
	border-color: white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #cc8727 ), color-stop( 0.08, #e7a850 ),color-stop( 0.38, #f5d7ad ),color-stop( 0.68, #c0780b ),color-stop( 0.8, #754705 ), to( #643f0b ) );
}

.PickerContainer
{
	z-index: 1;
	width: 100%;
	height: 100%;
	flow-children: right;
	transition-property: brightness;
	transition-duration: .12s;
	transition-timing-function: ease-in;
}

.Picker
{
	width: 100%;
	height: SlotHeight;
}

.HasTeam1 .Picker.Team1,.HasTeam2 .Picker.Team2
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4f1192 ), to( #2e165b ) );
	border: 1px solid rgba(161, 124, 255, 0.5);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( rgba(255, 255, 255, 0.5) ) );
	z-index: 1;
}

.SelectedTeam1.HasTeam1 .Picker.Team1,.SelectedTeam2.HasTeam2 .Picker.Team2
{
	border: 1px solid #FFE4A6;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( #999999 ) );
	box-shadow: 0px 0px 24px -2px rgba(255, 192, 32, 0.2);
	brightness: 1.6;
	transition-property: brightness;
	transition-duration: 0.1s;
	z-index: 2;
}

.HasTeam1 .Picker.Team1:active,.HasTeam2 .Picker.Team2:active
{
	sound: "ui_generic_button_click";
}

.ShowOneTeamOnly .Team2
{
	visibility: collapse;
}

.Inactive .Picker.Team1
{
	background-color: #0b120f;
	border: 1px solid #51373a63;
}

.Inactive .Picker.Team2
{
	background-color: #0b120f;
	border: 1px solid #51373a63;
}

.Inactive .Picker.Team1:hover,.Inactive .Picker.Team2:hover
{
	brightness: 1.0;
}

.NoTeamMark
{
	height: SlotHeight;
	width: SlotWidth;
	font-size: SlotLabelFontSize;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c97dff ), to( #8648cd ) );
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0d052e ), to( #0f0632 ) );
	border: 1px solid rgba(175, 143, 255, 0.1);
	padding-top: 7px;
	visibility: visible;
}

.AspectRatio16x10 .NoTeamMark
{
	width: SlotWidth_16x10;
}

.Picker.Team2
{
	margin-top: -1px;
}

.Inactive .Picker.Team1 .NoTeamMark,.Inactive .Picker.Team2 .NoTeamMark
{
	border: 0px;
}

.HasTeam1 .Team1 .NoTeamMark
{
	visibility: collapse;
}

.HasTeam2 .Team2 .NoTeamMark
{
	visibility: collapse;
}

.PickerLockIcon
{
	margin-bottom: 1px;
	vertical-align: center;
	width: 16px;
	padding: 2px 1px;
	img-shadow: 0px 2px 12px black;
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #ecdcff ), to( #bda5d1 ) );
	opacity: 0.8;
	visibility: collapse;
}

.Locked .PickerLockIcon
{
	visibility: visible;
}

.TeamImage
{
	height: 24px;
	width: 24px;
	visibility: collapse;
	vertical-align: center;
	margin-right: 4px;
	margin-left: 4px;
}

.TeamImage Image
{
	img-shadow: 0px 0.5px 2px black;
}

.HasTeam1 .Team1 .TeamImage
{
	visibility: visible;
}

.HasTeam2 .Team2 .TeamImage
{
	visibility: visible;
}

.Choice
{
	font-size: 14px;
	text-align: left;
	color: gradient( linear, 0% 0%, 0% 100%, from( #eceeff ), to( #b0b3d7 ) );
	text-shadow: textShadowMedium;
	height: 17px;
	margin-top: 1px;
	vertical-align: center;
	width: fill-parent-flow(1);
	text-overflow: shrink;
}

.Crown
{
	horizontal-align: right;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin-right: 5px;
	margin-left: 2px;
	background-image: url("s2r://panorama/images/compendium/international2024/crown.vsvg");
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: center;
	background-img-opacity: 0;
	border-radius: 50%;
	background-color: rgb(21, 6, 56);
	border: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, gold1 ), to( gold2 ) );
	box-shadow: 0px 1px 6px rgba(24, 1, 40, 0.5);
	transition-property: border, box-shadow;
	transition-duration: 0.1s, 0.05s;
}

.Crown:hover
{
	border: 1px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), color-stop( 0.5, white ), to( white ) );
	box-shadow: 0px 0px 24px rgba(161, 110, 255, 0.8);
}

.Locked .Crown
{
	background-color: rgba(21, 6, 56, 0.632);
	border: 1px solid rgba(213, 192, 255, 0.103);
	border-brush: white;
	box-shadow: none;
}

.Active .Crown:hover
{
	border: 1px solid white;
}

.Active .NoSelection .Crown
{
	border: 1px solid #e7c57b;
	animation-name: GlowActiveCrownSelector;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
}

.Active .NoSelection .Crown:hover
{
	border: 1px solid white;
}

.SelectedTeam1 #Crown0,.SelectedTeam2 #Crown1
{
	background-img-opacity: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffe7b0 ), color-stop( 0.5, #e8c57a ), to( #9e8143 ) );
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.SelectedTeam1 #Crown0:hover,.SelectedTeam2 #Crown1:hover
{
	border: 0px;
}

.Incorrect2 .Team1,.Incorrect1 .Team2,.Correct2 .Team1,.Correct1 .Team2
{
	opacity: 0.2;
}

.Incorrect1 .Picker.Team1 .Crown,.Incorrect2 .Picker.Team2 .Crown,.Correct1 .Picker.Team1 .Crown,.Correct2 .Picker.Team2 .Crown
{
	visibility: collapse;
}

.SelectedTeam1.Correct1 .Picker.Team1,.SelectedTeam2.Correct2 .Picker.Team2
{
	border: 2px solid #4df384;
	box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4);
}

.SelectedTeam1.Incorrect1 .Picker.Team1,.SelectedTeam2.Incorrect2 .Picker.Team2
{
	border: 2px solid loserRed;
	box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4);
}

@keyframes 'GlowActiveCrownSelector'
{
	0%
	{
		box-shadow: 0px 0px 12px #E5C88700;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 24px #E5C88722;
	}
	
}

.SelectedTeam1 .Picker.Team1,.SelectedTeam2 .Picker.Team2
{
	z-index: 1;
}

.CompletedPanel
{
	height: 100%;
}

.CompletionIcon
{
	margin-right: 9px;
	margin-left: 5px;
	horizontal-align: right;
	vertical-align: center;
	background-size: contain;
	visibility: collapse;
}

.CheckMark
{
	background-image: url("s2r://panorama/images/control_icons/24px/check.vsvg");
	wash-color: winnerGreen;
	width: 12px;
	height: 12px;
	vertical-align: center;
}

.IncorrectMark
{
	background-image: url("s2r://panorama/images/control_icons/24px/x_close.vsvg");
	wash-color: loserRed;
	width: 12px;
	height: 12px;
	vertical-align: center;
}

.Correct1 .Team1 .CheckMark
{
	visibility: visible;
}

.Correct2 .Team2 .CheckMark
{
	visibility: visible;
}

.Incorrect1 .Team1 .IncorrectMark
{
	visibility: visible;
}

.Incorrect2 .Team2 .IncorrectMark
{
	visibility: visible;
}

.LoserMatch .Picker.Team1 .NoTeamMark
{
	font-size: SlotLabelFontSize;
}

.LockIcon
{
	width: 15px;
	horizontal-align: center;
	vertical-align: center;
	wash-color: rgb(190, 162, 162);
	opacity: 0.6;
	visibility: collapse;
}

.Inactive .LockIcon
{
	visibility: visible;
}

.PickerContainer,.CompletedPanel
{
	visibility: visible;
}

.Inactive .PickerContainer,.Inactive .CompletedPanel
{
	visibility: collapse;
}

