@define CosmeticPicker_Heroes_SetTile_Width:  245px;
 @define CosmeticPicker_Heroes_SetTile_Height: 373px;
 @define CosmeticPicker_Heroes_ItemTile_Width: 185px;
 @define CosmeticPicker_Heroes_ItemTile_Height: 237px;
 @define CosmeticPicker_Contents_FadeDuration: 0.3s;

 DOTACosmeticPicker{
  width: 100%;
  height: 100%;
  flow-children: down;
 }

 .HeaderContainer{
  width: 100%;
  margin: 8px 0px 12px;
  flow-children: right;
  visibility: collapse;
 }
  .HeaderContainer .TitleContainer{
   flow-children: right;
   width: fill-parent-flow(1);
   height: 40px;
  }
   .HeaderContainer .TitleContainer .HeroTitle{
    text-overflow: shrink;
   }

   .HeaderContainer .TitleContainer .SlotTitle{
    font-weight: normal;
    text-overflow: shrink;
   }



 .ShowHeading .HeaderContainer{
  visibility: visible;
 }



 .ContentsContainer{
  width: 100%;
  height: 100%;
  flow-children: right;
  box-shadow: 0px 28px 120px -8px rgba(0, 0, 0, 0.4);
 }

 .LeftColumn{

  flow-children: down;
  height: 100%;
  overflow: squish scroll;
  background-color: gradient( linear, 0% 0%, 100% 50%, from( #12171f ), to( #050609 ) );
  padding-bottom: 32px;
 }






     .LeftColumn VerticalScrollBar{
         opacity: 0;
         transition-property: opacity, transform;
         transition-duration: 0.1s;
     }



 DOTACollectionPageHeroes .RightColumn{
  width: 716px;
 }
  .AspectRatio16x10 DOTACollectionPageHeroes .RightColumn{width: 716px;}
  .AspectRatio21x9 DOTACollectionPageHeroes .RightColumn{width: 950px;}



 DOTAHeroPageNewV2 .RightColumn{
  width: 764px;
 }
  .AspectRatio16x10 DOTAHeroPageNewV2 .RightColumn{width: 764px;}
  .AspectRatio21x9 DOTAHeroPageNewV2 .RightColumn{width: 1138px;}



 DOTAHudPreGame .RightColumn{
  width: 794px;
 }
  .AspectRatio16x10 DOTAHudPreGame .RightColumn{width: 794px;}
  .AspectRatio21x9 DOTAHudPreGame .RightColumn{width: 794px;}


 .RightColumn{
  height: 100%;

  flow-children: down;
  background-color: ItemsContainerBackgroundGradient;

  border-left: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.5);
 }

 #FiltersContainer{

  horizontal-align: center;
  flow-children: right;
  vertical-align: bottom;
  padding-bottom: 12px;
 }
  #FiltersContainer .FilterCheck{
   margin: 0px 3px;
  }


   #FiltersContainer ToggleButton Label{
          margin-top: -1px;
   }


  #FiltersContainer .InfoIcon{
   margin-right: 12px;
   margin-left: -8px;
   margin-top: 1px;
   tooltip-position: top;
  }


 .GroupLabel{
  margin-right: 8px;
  vertical-align: center;
 }

 #NotPublicFilterButton{

  visibility: collapse;
 }






 #AbililyEffectsContainer{
  width: 100%;
  height: 100%;
  flow-children: down;
  padding: 12px 8px 12px 12px;
  box-shadow: inset 0px 1px 0px rgba(238, 245, 255, 0.02);

  overflow: squish scroll;
 }

   #AbililyEffectsContainer:hover VerticalScrollBar{
    opacity: 1;
   }


  #AbililyEffectsContainer VerticalScrollBar{
   opacity: 0;
   transition-property: opacity, transform;
   transition-duration: 0.1s;
  }

  #AbililyEffectsContainer .AbilityEffectDescription{
   margin: 0px 6px 12px 6px;
   padding-bottom: 12px;
   width: 100%;
   border-bottom: 1px solid rgba(255, 255, 255, 0.02);
  }




 #CosmeticPickerContentsContainerGrouped{
  visibility: collapse;
  flow-children: down;
  width: 100%;
 }





 .CosmeticPickerContentsContainer{
  visibility: collapse;

  width: 100%;
  height: 100%;
  overflow: squish scroll;
  padding: 12px 8px 12px 12px;
  box-shadow: inset 0px 1px 0px rgba(238, 245, 255, 0.02);
 }
         .CosmeticPickerContentsContainer:hover VerticalScrollBar{
             opacity: 1;
         }


     .CosmeticPickerContentsContainer VerticalScrollBar{
         opacity: 0;
         transition-property: opacity, transform;
         transition-duration: 0.1s;
     }


 .HasGroups #CosmeticPickerContentsContainerGrouped{
  visibility: visible;
 }

 DOTACosmeticPicker:not(.HasGroups) .CosmeticPickerContentsContainer{
  visibility: visible;
 }

 .GroupTitleContainer{
  flow-children: right;
  margin-left: 6px;
  margin-bottom: 8px;
 }

 #AbilityImage{
  width: 60px;
  height: 60px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
 }

 .GroupTitle{
  margin-left: 12px;
  vertical-align: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
 }

 .CosmeticPickerGroup{
  width: 100%;
  flow-children: down;
  padding: 8px 0px;
 }

 .TopDash{
  width: 100%;
  height: 1px;
  margin: 0px 6px;
  background-color: rgba(255, 255, 255, 0.02);
  margin-bottom: 12px;
 }

 .CosmeticPickerContents{
  opacity: 0;
  transition-property: opacity;
  transition-duration: CosmeticPicker_Contents_FadeDuration;
 }

 .CosmeticPickerContents.Visible{
  opacity: 1;
 }

 .CosmeticPickerContents,#CosmeticPickerGroupContents{

  width: 100%;
  min-height: 100px;
  flow-children: right-wrap;
 }


  DOTAEconItemAnimated #EconItemSlotName{
   visibility: collapse;
  }


 DOTAEconItemAnimated{
  visibility: collapse;
 }

 .ShowOwned DOTAEconItemAnimated.Owned{
  visibility: visible;
 }

 .ShowAvailable DOTAEconItemAnimated.Available{
  visibility: visible;
 }

 .ShowUnavailable DOTAEconItemAnimated.Unavailable{
  visibility: visible;
 }

 #HeroSlots{
  horizontal-align: center;
  flow-children: down;
  margin-top: -1px;
 }

 #ShuffleToggle{
  margin: 0px;
  padding: 0px;
  horizontal-align: right;
  vertical-align: bottom;
  ignore-parent-flow: true;
  border-radius: 3px;
  padding: 6px;
  margin: 16px;
  background-color: DarkGreyGradientBackgroundColor;
  border: 1px solid rgba(255, 255, 255, 0.02);
  box-shadow: 0px 8px 24px -8px rgba(0, 0, 0, 1);
  opacity: 0;
 }

 .FullSetPicker #ShuffleToggle{
  opacity: 1;
 }

 #CollectionTracker{
     flow-children: down;
     vertical-align: center;
  horizontal-align: right;
     margin-top: -1px;

     visibility: collapse;
 }
     .CollectionGroup_Heroes.Sets #CollectionTracker{
         visibility: visible;
     }

     #CollectionTracker .CollectionTitle{
         horizontal-align: right;
   line-height: 1;
         margin-bottom: 4px;
         text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
     }

     #CollectionTracker #CollectionPipsContainer{
         flow-children: right;
         horizontal-align: right;
         padding: 0px 3px;
         overflow: noclip;
         width: fit-children;
         max-width: 200px;
     }

         #CollectionTracker #CollectionPipsContainer .CollectionPip{
             width: fill-parent-flow(1);
             max-width: 16px;
             height: 8px;
             margin-left: 2px;
             transform: skew( -15deg );
         }
             #CollectionTracker #CollectionPipsContainer .CollectionPip.Unowned{
                 background-color: rgba(0, 0, 0, 0.7);
                 border: 1px solid rgba(222, 231, 255, 0.08);
             }

             #CollectionTracker #CollectionPipsContainer .CollectionPip.Owned{
                 background-color: gradient( linear, 0% 0%, 0% 90%, from( #d7e2eb ), to( #7d898f ) );
                 border: 1px solid rgb(0, 0, 0);
                 z-index: 1;

                 animation-name: PulseCollectionPip;
                 animation-duration: 1.0s;
                 animation-direction: alternate;
                 animation-iteration-count: infinite;
             }




 @keyframes 'PulseCollectionPip'{
  0%{
         box-shadow: 0px 0px 16px #73ABFF11;
         brightness: 1;
  }

  100%{
         box-shadow: 0px 0px 16px #73ABFF44;
         brightness: 3;
  }
}