/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define HeroQuickSearchFadeOutTime: 1.6s;
@define HeroQuickSearchResultsFadeOutTime: 1.6s;
DOTAHeroQuickSearch
{
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 350px;
}

#QuickSearch
{
	z-index: 1;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	text-overflow: clip;
	font-size: 100px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	opacity: 0;
	font-family: titleFont;
	transition-property: pre-transform-scale2d, opacity;
	transition-duration: 0.2s;
	padding: 12px;
	text-shadow: 0px 8px 48px black;
	text-transform: uppercase;
}

.QuickSearchUserAnimation
{
	animation-name: QuickSearchUserFadeOut;
	animation-duration: HeroQuickSearchFadeOutTime;
}

@keyframes 'QuickSearchUserFadeOut'
{
	0%
	{
		opacity: 1.0;
		blur: none;
	}
	
	70%
	{
		opacity: 1.0;
		blur: none;
	}
	
	100%
	{
		opacity: 0.0;
		blur: gaussian( 4 );
	}
	
}

#QuickSearchResultsContainer
{
	z-index: 1;
	vertical-align: top;
	horizontal-align: center;
	flow-children: down;
	width: 580px;
	padding: 12px;
	opacity: 0;
	min-height: 530px;
}

#QuickSearchResultsContainer.Hidden
{
	opacity: 0;
}

#QuickSearchResultsContainer .QuickSearchResult
{
	flow-children: right;
	width: 100%;
	background-color: DarkGreyGradientBackgroundColor;
	box-shadow: 0px 0px 24px #00ffff00;
	margin-bottom: 6px;
	transition-property: background-color, box-shadow, brightness, transform;
	transition-duration: 0.05s;
}

#QuickSearchResultsContainer .QuickSearchResult .SearchResultBorder
{
	width: 100%;
	height: 100%;
	border: 0px solid #00FFFF;
	ignore-parent-flow: true;
	transition-property: border;
	transition-duration: 0.1s;
}

#QuickSearchResultsContainer .QuickSearchResult #QuickSearchHeroImage
{
	ui-scale: 90%;
}

#QuickSearchResultsContainer .QuickSearchResult #QuickSearchHeroName
{
	margin-left: 14px;
	margin-bottom: 2px;
	vertical-align: middle;
	font-size: 20px;
	transition-property: color;
	transition-duration: 0.2s;
}

#QuickSearchResultsContainer .QuickSearchResult:focus
{
	background-color: GreyGradientBackgroundColor;
	box-shadow: 0px 0px 32px #00ffff10;
	brightness: 1.2;
	transform: scale3d( 1.02, 1.02, 1 );
	z-index: 1;
}

#QuickSearchResultsContainer .QuickSearchResult:focus #QuickSearchHeroName
{
	color: white;
}

#QuickSearchResultsContainer .QuickSearchResult:focus .SearchResultBorder
{
	border: 2px solid #8bf9ff;
	animation-name: GlowFocusBorder;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-direction: alternate;
}

@keyframes 'GlowFocusBorder'
{
	0%
	{
		opacity: 1;
	}
	
	100%
	{
		opacity: 0.2;
	}
	
}

.QuickSearchResultsFadeOutAnimation
{
	animation-name: QuickSearchResultsFadeOut;
	animation-duration: HeroQuickSearchResultsFadeOutTime;
}

@keyframes 'QuickSearchResultsFadeOut'
{
	0%
	{
		opacity: 1;
		blur: gaussian( 0 );
	}
	
	70%
	{
		opacity: 1;
		blur: gaussian( 0 );
	}
	
	100%
	{
		opacity: 0;
		blur: gaussian( 4 );
	}
	
}

