

 #HeroOptionsTabStats{

     flow-children: down;
     padding-left: 2px;
 }

 .HeroStatsRow{

     flow-children: right;
     margin-bottom: 8px;
     width: 100%;
     height: fill-parent-flow( 1 );
 }

 .HeroStatsBlock{
     width: 100%;
     margin: 8px 0px;
     flow-children: down;
     padding-top: 12px;
     border-top: 1px solid rgba(255, 255, 255, 0.02);
 }

 .GraphRow.HeroStatsRow{

     margin-bottom: 0px;
     width: 100%;
     height: fill-parent-flow( 1 );
 }


 .HeroStatsLeftBlock,.HeroStatsRightBlock,.HeroStatsFullBlock{

     flow-children: down;
 }

 .HeroStatsLeftBlock,.HeroStatsRightBlock{

     width: fill-parent-flow( 1 );
     height: fill-parent-flow( 1 );
     padding-top: 8px;
     border-top: 1px solid rgba(255, 255, 255, 0.03);
 }
     .HeroStatsLeftBlock.Top,.HeroStatsRightBlock.Top{
         border-top: 0px;
         padding-top: 0px;
     }


 .HeroStatsLeftBlock{
     margin-right: 8px;
 }

 .HeroStatsRightBlock{
     margin-left: 8px;
 }

 .StatGroup{
     flow-children: right;
     vertical-align: center;
 }


 .ShortProfileStats .HeroStatsRightBlock,.ShortProfileStats .HeroStatsLeftBlock{


     height: 66px;
 }

 .HeroStatsFullBlock{

     width: 100%;
     height: fill-parent-flow( 1 );

     padding: 16px;
 }

 .Block4Wide,.Block5Wide,.BlockStatAndProgress,.Block3Wide{

     flow-children: right;
 }

 .BlockHeader{

     horizontal-align: center;
     margin-bottom: 4px;
 }







 .BlockHeaderEmpty{

     height: 21px;
 }

 .ShortProfileStats .BlockHeaderEmpty{

     height: 8px;
 }

 .HeroStatsSimpleStat{

     flow-children: down;
     width: fill-parent-flow( 1 );
     vertical-align: center;
 }
     .HeroStatsSimpleStat.Wide{
         width: fill-parent-flow( 1.5 );
     }

     .HeroStatsSimpleStat.Short{
         width: fill-parent-flow( 0.75 );
     }


 .HeroStatsSimpleStatValue{

     text-align: center;
     horizontal-align: center;
     color: LightestGrey;
     font-family: titleFont;
  text-transform: uppercase;
  font-weight: semi-bold;
  letter-spacing: 1px;
     font-size: 24px;
 }
     .HeroStatsSimpleStatValue.Win{
         color: winnerGreenLow;
     }

     .HeroStatsSimpleStatValue.Loss{
         color: loserRedSoft;
     }


     .HeroStatsSimpleStatValue.Disabled{

         color: #555555;
     }

 .HeroStatsSimpleStatName{

     text-align: center;
     font-size: 14px;
     text-transform: uppercase;
     horizontal-align: center;
     letter-spacing: 0.5px;
     color: #6b7da5;
     font-weight: lighter;
 }

 .HeroStatsLeftBlock .Block4Wide{

     padding-left: 17px;
 }

 .HeroStatsRightBlock .Block4Wide{

     padding-left: 7px;
 }


 .HeroStatsLeftBlock .Block4Wide .HeroStatsSimpleStat{

     width: 77px;
 }

 .HeroStatsRightBlock .Block4Wide .HeroStatsSimpleStat{

     width: 90px;
 }

 .HeroStatsLeftBlock .Block4Wide .HeroStatsSimpleStat.Wide{

     width: 125px;
 }

 .Block3Wide{

     padding-left: 20px;
 }

     .Block3Wide .HeroStatsSimpleStat{

         width: 110px;
     }

         .Block3Wide .HeroStatsSimpleStat.Wide{

             width: 125px;
         }


 .HeroStatsLeftBlock .Block5Wide{

     padding-left: 14px;
 }

     .HeroStatsLeftBlock .Block5Wide .HeroStatsSimpleStat{

         width: 70px;
     }

         .HeroStatsLeftBlock .Block5Wide .HeroStatsSimpleStat.Wide{

             width: 80px;
         }

 .HeroStatsRightBlock .Block5Wide{

     padding-left: 7px;
 }

     .HeroStatsRightBlock .Block5Wide .HeroStatsSimpleStat{

         width: 70px;
     }

         .HeroStatsRightBlock .Block5Wide .HeroStatsSimpleStat.Wide{

             width: 85px;
         }

 #CompareButtonContainer{

     width: 788px;
 }

 #CompareButton{

     horizontal-align: right;
     margin-right: 1px;
 }





     #CompareButton Label{

         color: #6b7da5;
         text-align: right;
         text-transform: uppercase;
         letter-spacing: 1px;
         font-size: 14px;
         padding-bottom: 1px;
         text-decoration: underline;
     }

     #CompareButton:hover Label{

         color: #9badd5;
         text-decoration: none;
     }

 .HeroStatsRightBlock .BlockStatAndProgress .HeroStatsSimpleStat,.HeroStatsLeftBlock .BlockStatAndProgress .HeroStatsSimpleStat{


     width: 150px;
 }

 #HeroStatsRatingBarContainer{

     padding-top: 12px;
     vertical-align: center;
     horizontal-align: center;
     width: fill-parent-flow( 1.5 );
     flow-children: down;
 }

 #HeroStatsRatingBar{

     width: 100%;
     vertical-align: middle;
     height: 8px;
     border-width: 0px;
     border-radius: 0px;


     margin-bottom: 13px;
     border-color: #282828;
     background-color: #282828;
 }

 #HeroStatsRatingBar_Left{

     background-color: #6b7da5;
 }

 .HeroStatsFullBlock .HeroStatsSimpleStatName{

     horizontal-align: left;
     text-align: left;


     margin-bottom: 10px;
 }

 #HeroStatsHistoryCanvas{

     width: 1132px;
     height: fill-parent-flow( 1 );
 }

 .HeroStatsHistoryContainer{

     flow-children: right;
     width: fill-parent-flow( 1 );
 }

 .HeroStatsHistoryContainerMain{

     flow-children: down;
     width: fill-parent-flow( 1 );
 }

 .HeroStatsHistoryBackgroundSlices{

     flow-children: right;
     width: fill-parent-flow( 1 );
 }

 .HeroStatsHistoryContainerOverlap{

     width: fill-parent-flow( 1 );
 }

 .BackgroundSlice{

     border-right: 1px solid rgba(255, 255, 255, 0.02);
     border-top-width: 0px;
     border-bottom-width: 0px;
     width: fill-parent-flow( 1 );
     height: fill-parent-flow( 1 );
 }

 #BackgroundSlice0{

     border-left: 1px solid rgba(255, 255, 255, 0.02);
 }

 .BackgroundSlice:not(.Hidden):hover{

     background-color: #3070ac0d;
 }

 .BackgroundSlice:not(.Hidden):active{

     background-color: #69B3FF18;
 }

 #HeroStatsHistoryWinsLosses{



     flow-children: right;
 }

 .HistoryWin,.HistoryLoss,.HistoryEmpty{

     text-align: center;
     width: fill-parent-flow( 1 );
     height: 24px;
     font-size: 14px;
     line-height: 20px;
     font-weight: semi-bold;
     color: black;
     margin: 4px;
 }





 .HistoryWin{

     background-color: winnerGreenLow;
 }

 .HistoryLoss{

     background-color: loserRedSoft;
 }

 .HistoryEmpty{

     opacity: 0.0;
 }

 .HeroStatsHistoryContainerLegendContainer{

     width: 200px;
     height: fill-parent-flow(1);
 }

 .HeroStatsHistoryContainerLegend{

     width: 100%;
     height: 100%;
     flow-children: down;
     padding-left: 10px;
 }

     .HeroStatsHistoryContainerLegend Label{

         text-transform: uppercase;
         font-size: 15px;
         font-weight: lighter;
         letter-spacing: 1px;
     }

 DOTALoadoutHeroStatsV2.TooltipActive .HeroStatsHistoryContainerLegend{

     visibility: collapse;
 }

 .HeroStatsHistoryContainerLegendTooltip{

     width: 185px;
     height: 100%;
     flow-children: down;
     visibility: collapse;
     background-color: #15191F;
     margin-left: 5px;
     padding: 10px 10px 0px 10px;
 }

 DOTALoadoutHeroStatsV2.TooltipActive .HeroStatsHistoryContainerLegendTooltip{

     visibility: visible;
 }

 .LegendGPM{

     color: #F7931E;
     margin-top: 60px;
 }

 .LegendXPM{

     color: #3C7D45;
 }

 .LegendAssists{

     color: #5E4A28;
     margin-top: 70px;
 }

 .LegendKills{

     color: #E4EB23;
 }

 .LegendDeaths{

     color: #8C0F36;
 }

 .TooltipLTR{

     flow-children: right;
 }


 .TooltipSquare{

     width: 6px;
     height: 6px;
     margin-right: 0px;
     vertical-align: top;
     margin-top: 5px;
 }

 #TooltipWinLoss.HistoryWin,#TooltipWinLoss.HistoryLoss,#TooltipWinLoss.HistoryEmpty{

     margin-right: 7px;
 }

 .TooltipValue{

     font-size: 14px;
     color: #ececec;
     text-transform: uppercase;
 }

 .TooltipNumber{

     text-align: right;
     width: 42px;
     padding-right: 7px;
 }

 .TooltipDesc{

     font-size: 14px;
     color: #777777;
     font-weight: thinner;
     text-transform: uppercase;
 }

 .TooltipBlockHR{

     height: 1px;
     background-color: black;
     width: 100%;
     margin-top: 8px;
     margin-bottom: 10px;
 }

 #TooltipBlockGameType,#TooltipBlockGameTypeRanked{

     height: 20px;
 }

 #TooltipBlockGameType{

     visibility: visible;
 }

 #TooltipBlockGameTypeRanked{

     visibility: collapse;
 }

 .TooltipRanked #TooltipBlockGameType{

     visibility: collapse;
 }

 .TooltipRanked #TooltipBlockGameTypeRanked{

     visibility: visible;
 }

 #TooltipWinLossValue{

     margin-top: 2px;
 }

 #TooltipBlockGPM{

     margin-top: 18px;
 }

 #TooltipBlockXPM{

     margin-bottom: 20px;
 }

 #TooltipSquareGPM{

     background-color: #F7931E;
 }

 #TooltipSquareXPM{

     background-color: #3C7D45;
 }

 #TooltipSquareAssists{

     background-color: #5E4A28;
 }

 #TooltipSquareKills{

     background-color: #E4EB23;
 }

 #TooltipSquareDeaths{

     background-color: #8C0F36;
 }

 .PlusLogoContainer{
     width: 48px;
     height: 48px;
     background-size: contain;
     background-repeat: no-repeat;
     background-image: url( "s2r://panorama/images/dotaplus_logo_png.vtex");
     ignore-parent-flow: true;
     horizontal-align: center;
     margin-top: -24px;
 }

 .PlusStatsContainer{

     width: fill-parent-flow( 1 );
     height: fill-parent-flow( 1 );
     margin-left: 4px;
     flow-children: down;




     padding: 16px;
 }

     .PlusStatsContainer .DotaPlusUpsell{

         width: 100%;
     }


         .PlusStatsContainer .DotaPlusUpsell .DotaPlusUpsellTitle{

             margin-top: 0px;
         }

     .PlusStatsContainer .DotaPlusUpsellContents{

         flow-children: down;
     }

     .PlusStatsContainer .DotaPlusUpsellLeft{


         width: fill-parent-flow( 1.0 );
         flow-children: down;
     }

     .PlusStatsContainer .DotaPlusUpsellRight{

         width: fill-parent-flow( 1.0 );
         flow-children: down;
     }

     .PlusStatsContainer .DotaPlusSubscribeButton{

         margin-top: 16px;
     }

     .PlusStatsContainer .DotaPlusUpsellFeatureTitle{

         width: 340px;
         background-color: none;
         margin-top: 4px;
     }

     .PlusStatsContainer .DotaPlusUpsellFeatureDescription{

         width: 340px;
         height: 80px;
         horizontal-align: center;
         text-align: center;
         padding: 0px;
     }

 .PlusGlobalStatsContainer{

     padding-top: 16px;
     padding-bottom: 12px;
     flow-children: down;
     background-position: 8px 8px;
     background-size: 18px 18px;
     background-repeat: no-repeat;

     visibility: collapse;
 }


 .PlusSubscriber .PlusGlobalStatsContainer{

     visibility: visible;
 }

 .PlusStatsRow{

     visibility: collapse;
 }

 .PlusSubscriber .PlusStatsRow{

     visibility: visible;
 }


 .PlusStatsRow .HeroStatsLeftBlock,.PlusStatsRow .HeroStatsRightBlock{


     background-color: none;
     margin-top: 0px;
 }







 .HeroStatsContainer{


     padding: 16px;
     margin-right: 4px;
     flow-children: down;

     width: fill-parent-flow( 1 );
     height: fill-parent-flow( 1 );
 }







 .HeroStatsGroupContainer{
     flow-children: right;
     width: 100%;
     height: fill-parent-flow( 1 );
     margin-bottom: 8px;
 }

 .BlockTitle{
     margin-bottom: 8px;
}