/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define elementMargin: 2px;
DOTAPreviewAudioButton
{
	width: 30px;
	height: 30px;
	padding: 0px;
	margin: 6px;
	box-shadow: 0 2px 8px rgba( 0, 0, 0, 0.3 );
	border: 1px solid white;
	border-radius: 3px;
	border-brush: WhiteGradientBorderSoft;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x.png");
	background-color: DarkGreyGradientBackgroundColor;
	background-img-opacity: 0.3;
	transition-property: background-color, border, brightness;
	transition-duration: 0s, 0.1s, 0.3s;
	transition-timing-function: ease;
}

DOTAPreviewAudioButton.Round
{
	border-radius: 17px;
	padding: 2px;
}

DOTAPreviewAudioButton.Small
{
	width: 22px;
	height: 22px;
	margin: 1px;
	padding: 0;
}

DOTAPreviewAudioButton .AnimatedAudioIcon
{
	visibility: collapse;
	height: 100%;
	width: height-percentage( 100% );
	margin: 6px;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	vertical-align: center;
	horizontal-align: center;
}

DOTAPreviewAudioButton .PlayIcon
{
	visibility: visible;
	margin: 6px;
	transition-property: transform, opacity;
	transition-duration: 0.1s;
	vertical-align: center;
	horizontal-align: center;
}

DOTAPreviewAudioButton.AudioPreviewActive
{
	background-color: gradient( radial, 50% 50%, 0% 0%, 60% 80%, from( rgb(43, 69, 90) ), to( #172335 ) );
	brightness: 2;
}

DOTAPreviewAudioButton.AudioPreviewActive .AnimatedAudioIcon
{
	visibility: visible;
}

DOTAPreviewAudioButton.AudioPreviewActive .PlayIcon
{
	visibility: collapse;
}

DOTAPreviewAudioButton:hover:enabled:not(.Disabled)
{
	brightness: 1.5;
}

DOTAPreviewAudioButton:hover:enabled:not(.Disabled) Label
{
	brightness: 2;
	opacity: 1;
}

DOTAPreviewAudioButton:hover:enabled:not(.Disabled) Image,DOTAPreviewAudioButton:hover:enabled:not(.Disabled) MoviePanel
{
	brightness: 2;
}

DOTAPreviewAudioButton.MonsterHunter
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

DOTAPreviewAudioButton.MonsterHunter Image
{
	width: 22px;
	wash-color: rgb(237, 207, 169);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( black ) );
}

DOTAPreviewAudioButton.MonsterHunter .AnimatedAudioIcon
{
	wash-color: rgb(237, 207, 169);
	opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( white ), to( black ) );
	width: 16px;
}

