@define TreasureItemRevealAnimationDuration:  6.5s;
 @define TreasureItemRevealDelay: 2.1s;

 DOTATreasurePreview{
     width: 100%;
     height: 100%;
     margin-top: 62px;
     overflow: noclip;
     transform: translateX( -20px ) translateY(-40px);
 }








 #TreasurePreviewPanel{
     width: 100%;
     height: 100%;

     opacity-mask: url( "s2r://panorama/images/masks/preview_rays_mask_psd.vtex");
 }















 #TreasurePreviewForeground{
     width: 100%;

     vertical-align: bottom;
     margin-bottom: 120px;
     flow-children: down;






























     transition-property: opacity;
     transition-duration: 0.2s;
     transition-timing-function: ease-in-out;
 }
     #TreasurePreviewForeground .TreasureLabelContainer{
         width:
                
                500px
         ;
         padding:
                  
                  4px
                      
                      12px
         ;
         horizontal-align:
                           
                           center
         ;
         flow-children:
                        
                        right
         ;
     }
         #TreasurePreviewForeground .TreasureLabelContainer Label{
             margin:
                     
                     0px
                         
                         12px
             ;
         }
         #TreasurePreviewForeground .TreasureLabelContainer .Dash{
             width:
                    
                    fill-parent-flow
                                    (
                                     1
                                      )
             ;
             height:
                     
                     1px
             ;
             horizontal-align:
                               
                               center
             ;
             margin:
                     
                     8px
                         
                         0px
                             
                             4px
             ;
             opacity:
                      
                      0.05
             ;
         }
             #TreasurePreviewForeground .TreasureLabelContainer .Dash.Left{
                 background-color:
                                   
                                   gradient
                                           (
                                             
                                             linear,
                                                     
                                                     0%
                                                        
                                                        0%,
                                                            
                                                            100%
                                                                 
                                                                 0%,
                                                                     
                                                                     from
                                                                         (
                                                                           
                                                                           #FFFFFF00
                                                                                     
                                                                                     )
                                                                                      ,
                                                                                        
                                                                                        to
                                                                                          (
                                                                                            
                                                                                            #FFFFFF
                                                                                                    
                                                                                                    )
                                                                                                      
                                                                                                      )
                 ;
             }
             #TreasurePreviewForeground .TreasureLabelContainer .Dash.Right{
                 background-color:
                                   
                                   gradient
                                           (
                                             
                                             linear,
                                                     
                                                     0%
                                                        
                                                        0%,
                                                            
                                                            100%
                                                                 
                                                                 0%,
                                                                     
                                                                     from
                                                                         (
                                                                           
                                                                           #FFFFFF
                                                                                   
                                                                                   )
                                                                                    ,
                                                                                      
                                                                                      to
                                                                                        (
                                                                                          
                                                                                          #FFFFFF00
                                                                                                    
                                                                                                    )
                                                                                                      
                                                                                                      )
                 ;
             }
 .IsFirstLoad #TreasurePreviewForeground{
     opacity:
              
              0
     ;
 }
 .TreasurePreviewContainer{
     horizontal-align:
                       
                       center
     ;
     vertical-align:
                     
                     center
     ;
     width:
            
            1300px
     ;
     height:
             
             1300px
     ;
     opacity:
              
              1
     ;
     blur:
           
           gaussian
                   (
                     
                     8px
                         
                         )
     ;
 }
 .TreasurePreview{
     width:
            
            100%
     ;
     height:
             
             100%
     ;
     opacity-mask:
                   
                   url(
                        "s2r://panorama/images/masks/softedge_box_png.vtex"
                   )
     ;
     transform:
                
                scale3d
                       (
                         
                         0.6,
                              
                              0.6,
                                   
                                   1
                                     
                                     )
                                       
                                       translateY
                                                 (
                                                   
                                                   50px
                                                        
                                                        )
     ;
 }
 .PreviewAnimation{
     animation-duration:
                         
                         TreasureItemRevealAnimationDuration
     ;
     animation-name:
                     
                     TreasureItemReveal
     ;
     animation-timing-function:
                                
                                ease-in
     ;
 }
 .PreviewContainerAnimation{
     animation-duration:
                         
                         TreasureItemRevealAnimationDuration
     ;
     animation-name:
                     
                     TreasureItemContainerReveal
     ;
     animation-timing-function:
                                
                                ease-out
     ;
 }
 .CurrentTreasureTitle{
     margin:
             
             4px
                 
                 0px
     ;
     color:
            
            white
     ;
     opacity:
              
              0.8
     ;
     text-shadow:
                  
                  0px
                      
                      0px
                          
                          12px
                               
                               rgba
                                   (
                                    0,
                                       
                                       0,
                                          
                                          0,
                                             
                                             0.4
                                                )
     ;
     text-transform:
                     
                     none
     ;
     letter-spacing:
                     
                     0px
     ;
     font-weight:
                  
                  normal
     ;
     font-size:
                
                18px
     ;
     letter-spacing:
                     
                     0.2px
     ;
 }
 #PreviewScenePanelTest{
     width:
            
            100%
     ;
     height:
             
             100%
     ;
     transform:
                
                scale3d
                       (
                         
                         0.6,
                              
                              0.6,
                                   
                                   1
                                     
                                     )
                                       
                                       translateY
                                                 (
                                                   
                                                   50px
                                                        
                                                        )
     ;
 }
 @keyframes 'TreasureItemContainerReveal'{
     0%{
         transform:
                    
                    translateX
                              (
                                
                                -350px
                                       
                                       )
         ;
         opacity:
                  
                  0
         ;
         blur:
               
               gaussian
                       (
                         
                         8px
                             
                             )
         ;
     }
     10%{
         opacity:
                  
                  0
         ;
         blur:
               
               gaussian
                       (
                         
                         8px
                             
                             )
         ;
     }
     30%{
   opacity:
            
            1
   ;
         blur:
               
               gaussian
                       (
                         
                         0px
                             
                             )
         ;
     }
     60%{
   opacity:
            
            1
   ;
         blur:
               
               gaussian
                       (
                         
                         0px
                             
                             )
         ;
     }
     100%{
         transform:
                    
                    translateX
                              (
                                
                                600px
                                      
                                      )
         ;
         opacity:
                  
                  0
         ;
         blur:
               
               gaussian
                       (
                         
                         8px
                             
                             )
         ;
     }
 }
 @keyframes 'TreasureItemReveal'{
     0%{
         transform:
                    
                    scale3d
                           (
                             
                             0.5,
                                  
                                  0.5,
                                       
                                       1
                                         
                                         )
                                           
                                           translateY
                                                     (
                                                       
                                                       40px
                                                            
                                                            )
         ;
     }
     100%{
         transform:
                    
                    scale3d
                           (
                             
                             1,
                                
                                1,
                                   
                                   1
                                     
                                     )
                                       
                                       translateY
                                                 (
                                                   
                                                   0px
                                                       
                                                       )
         ;
     }
}