/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTATypewriterText
{
	width: 100%;
	height: 100%;
}

.DOTATypewriterTextSeasonal
{
	width: 90%;
	height: 100%;
}

#TypewriterLabel
{
	min-height: 5px;
	width: 100%;
	vertical-align: middle;
	font-family: Reaver;
	line-height: 1.3;
	font-size: 34px;
	color: rgb(236, 236, 236);
	text-overflow: shrink;
	opacity: 0.3;
	brightness: 0.5;
}

#TypewriterLabel i
{
	font-family: Radiance;
}

#Cursor
{
	width: 1px;
	height: 26px;
	overflow: noclip;
}

#Cursor #CursorImage
{
	width: 48px;
	height: 48px;
	vertical-align: center;
	transform: translateY(-10px);
	opacity: 0;
	transition-property: opacity;
	transition-duration: .4s;
}

.Animating #Cursor #CursorImage
{
	opacity: 1;
}

.AnimateCursor #Cursor #CursorImage
{
	animation-name: Squash;
	animation-duration: 0.15s;
	animation-iteration-count: infinite;
}

DOTATypewriterText.QuarteroBubble #Cursor
{
	transform: translateY( 4px );
}

DOTATypewriterText.QuarteroBubble #Cursor #CursorImage
{
	ui-scale: 50%;
}

.HideText
{
	color: transparent;
	text-shadow: none;
}

.HideText.InlineImage
{
	opacity: 0.0;
}

@keyframes 'Squash'
{
	0%
	{
		transform: translateY(-10px);
	}
	
	33%
	{
		transform:scaleX(1) scaleY( 1.4 ) translateY(-10px);
	}
	
	66%
	{
		transform:scaleX(1.6) scaleY( 0.8 ) translateY(-10px);
	}
	
	100%
	{
		transform: translateY(-10px);
	}
	
}

.BoldText DOTATypewriterText.Crownfall #TypewriterLabel
{
	font-weight: bold;
}

.SmallText DOTATypewriterText.Crownfall #TypewriterLabel
{
	font-size: 26px;
	transform: skewX( -3deg);
}

.EncounterDialogue DOTATypewriterText.Crownfall #TypewriterLabel
{
	vertical-align: center;
	font-size: 30px;
	line-height: 1.35;
	margin-right: 120px;
}

.Act3 DOTATypewriterText.Crownfall #TypewriterLabel
{
	opacity: 0.6;
	brightness: 1;
}

#ChatterContainer DOTATypewriterText.Crownfall #TypewriterLabel
{
	text-shadow: 0px 2px 16px 2 black;
}

.TopUpdated .Top DOTATypewriterText.Crownfall #TypewriterLabel,.BottomUpdated .Bottom DOTATypewriterText.Crownfall #TypewriterLabel
{
	brightness: 1.0;
	opacity: 1.0;
}

.VN_TEXT_COLOR_GRAY DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(200, 213, 227);
	letter-spacing: 1px;
}

.VN_TEXT_COLOR_BLUE DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(157, 193, 232);
	letter-spacing: 1px;
}

.VN_TEXT_COLOR_GREEN DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(130, 212, 123);
	letter-spacing: 1px;
}

.VN_TEXT_COLOR_RED DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(233, 152, 152);
	letter-spacing: 1px;
}

.VN_TEXT_COLOR_LIGHT_GRAY DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(218, 225, 233);
}

.VN_TEXT_COLOR_DARK_GRAY DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(164, 173, 182);
}

.VN_TEXT_COLOR_DARK_RED DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(183, 98, 98);
}

.VN_TEXT_COLOR_ORANGE DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(231, 132, 80);
}

.VN_TEXT_COLOR_WHITE DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(255, 255, 255);
}

.VN_TEXT_COLOR_LIGHT_BLUE DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(166, 208, 232);
}

.VN_TEXT_COLOR_PURPLE DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(196, 136, 210);
}

.VN_TEXT_COLOR_YELLOW DOTATypewriterText.Crownfall #TypewriterLabel
{
	color: rgb(225, 212, 96);
}

DOTATypewriterText.Frostivus2024 #TypewriterLabel
{
	font-size: 24px;
	color: #111;
	opacity: 1;
	width: 433px;
}

DOTATypewriterText.Frostivus2024 #Cursor
{
	width: 0;
	height: 0;
	visibility: collapse;
}

DOTATypewriterText.TypewriterTest
{
	border: 1px solid green;
}

DOTATypewriterText.TypewriterTest #TypewriterLabel
{
	border: 1px solid green;
	color: white;
}

DOTATypewriterText.Quartero #TypewriterLabel
{
	vertical-align: top;
	margin-top: 20px;
	font-size: 32px;
	text-align: center;
}

DOTATypewriterText.QuarteroBubble #TypewriterLabel
{
	width: 100%;
	height: 100%;
	font-family: titleFont;
	font-size: 16px;
	font-weight: normal;
	vertical-align: top;
	color: whitesmoke;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	text-overflow: shrink;
	opacity: 1;
}

.Language_schinese .InlineImage.HeroIcon,.Language_tchinese .InlineImage.HeroIcon
{
	margin-bottom: 8px;
}

