/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

DOTAUIUnitPicker
{
	flow-children: down;
	width: 960px;
	height: 604px;
}

DOTAUIUnitPicker.PickingFacet
{
	brightness: 0.3;
	saturation: 0.3;
	opacity: 0.5;
}

.MainBranch DOTAUIUnitPicker
{
	height: 656px;
}

.PlayerPicker #Contents
{
	width: 580px;
}

.TeamPicker #Contents
{
	height: 440px;
}

.GenericPicker #Contents
{
	width: 332px;
	height: fit-children;
	padding-bottom: 6px;
}

.HotkeyPicker #Contents
{
	height: fit-children;
}

#HeaderRow
{
	flow-children: right;
	width: 100%;
	background-color: #242d39;
	padding: 16px 16px 12px 16px;
}

.BanPicker #HeaderRow
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( loserRed&22 ), to( #242d39 ) );
}

.HideHeader #HeaderRow
{
	visibility:collapse;
}

.SearchBox
{
	flow-children: right;
	width: 300px;
	background-color: black;
}

.SearchBox TextEntry
{
	width: fill-parent-flow( 1.0 );
	border: 0px solid transparent;
	background-color: none;
}

.SearchBox TextEntry #PlaceholderText
{
	margin-top: 2px;
	color: #8a8a8a;
}

.SearchBox Button
{
	background-image: url("s2r://panorama/images/control_icons/icon_search_png.vtex");
	background-repeat: no-repeat;
	background-size: contain;
	width: 27px;
	height: 27px;
	margin: 0px 8px;
	vertical-align: middle;
	wash-color: #4f4f4f;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.SearchBox Button:hover
{
	wash-color: #cccccc;
}

.SearchBox Button:active
{
	wash-color: #ffffff;
}

#UnitList
{
	padding: 16px 8px;
	flow-children: right;
	overflow: squish scroll;
	width: 100%;
	height: 100%;
}

.UnitCategory
{
	padding: 0px 12px;
	width: 250px;
	horizontal-align: center;
	flow-children: right-wrap;
}

.UnitCategory DOTAHeroImage,.UnitCategory Image
{
	width: 48px;
	height: width-percentage( 100% );
	margin: 4px;
	border: 1px solid black;
	transition-property: border, saturation, opacity, brightness;
	transition-duration: 0.2s;
}

.UnitCategory DOTAHeroImage.HasKeybinds,.UnitCategory Image.HasKeybinds
{
	saturation: 1;
	wash-color: white;
	border: 1px solid #41DFFF;
	brightness: 3;
	contrast: 0.95;
	box-shadow: #66AADD44 0px 0px 6px 0px ;
	border-radius: 20%;
}

.UnitCategory DOTAHeroImage.HasKeybinds:disabled,.UnitCategory Image.HasKeybinds:disabled
{
	opacity: .06;
}

.UnitPickerCard:enabled:hover
{
	brightness: 2;
}

.Filtering .UnitPickerCard:enabled
{
	box-shadow: #ffffaa44 0px 0px 16px 0px ;
}

.Filtering .UnitPickerCard:disabled
{
	box-shadow: none;
	brightness: 0.2;
	ui-scale: 100%;
	transform: translateY( 1px );
}

.Highlighted
{
	box-shadow: 0px 0px 8px aqua;
}

.SmallOptions.GenericPicker #UnitList
{
	flow-children: down-wrap;
	height: 446px;
}

.SmallOptions.GenericPicker #Contents
{
	width: 454px;
}

.SmallOptions .UnitCategory Label
{
	font-size: 16px;
}

.SmallOptions .UnitCategory Button
{
	min-width: 200px;
	margin-left: 5px;
	margin-right: 5px;
}

.UnitCategory Button:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

.UnitCategory Button:hover:active
{
	border: 1px solid black;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #272f33 ), to( #5a6c75 ) );
	border-top: 1px solid #00000088;
	border-right: 1px solid #00000088;
	border-left: 1px solid #00000088;
	border-bottom: 1px solid #aaaaaa44;
}

.UnitCategory Label
{
	text-overflow:shrink;
	color: white;
	font-size: 28px;
	horizontal-align: center;
	vertical-align: middle;
	margin-top: 6px;
}

.GenericPicker .TabContents
{
	width:320px;
	height: fit-children;
}

.GenericPicker #HeroSearch
{
	visibility:collapse;
}

.PlayerPicker .TabContents
{
	width:500px;
}

.TeamPicker .TabContents
{
	width:464px;
	height:540px;
}

.TeamContainer
{
	flow-children:right;
	width:500px;
}

.TeamLogo
{
	width:80px;
	height:80px;
	border: 0px solid black;
	margin-top:20px;
}

.PlayerPicker .TeamLogo
{
	margin-right: 20px;
}

.PlayerContainer
{
	flow-children:down;
	margin-bottom:10px;
}

#SelectionChoice
{
	text-align: left;
	text-overflow: shrink;
	font-size: 22px;
	color: #bfd2ee;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.HotkeyPicker #SelectionChoice
{
	margin-left: 4px;
	font-size: 28px;
	color: white;
}

#npc_dota_courier Image
{
	background-size: cover;
}

#Extra
{
	horizontal-align: center;
}

.ExtraContainer
{
	min-width: 200px;
	background-size: contain;
	flow-children: down;
}

.HeroCategory .ExtraContainer Label
{
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.HeroCategory .ExtraContainer Image
{
	width: 64px;
	height: width-percentage( 74% );
	horizontal-align: center;
	margin: 0px;
}

.UnitCategorySection
{
	width: 100%;
	flow-children: down;
}

.UnitCategorySection #UnitCategoryTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( LighterGrey ), to( LightGrey ) );
	text-transform: uppercase;
	font-weight: thin;
	letter-spacing: 1.5px;
	font-size: 24px;
	margin-top: 8px;
	margin-left: 4px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.UnitCategorySection #UnitCards
{
	flow-children: right-wrap;
	width: 100%;
}

.UnitCategorySection #UnitCards .UnitPickerCard
{
	margin: 5px;
	border: 1px solid black;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.UnitCategorySection #UnitCards .UnitPickerCard .UnitImage
{
	width: height-percentage(75%);
	height: 70px;
}

#UnitList
{
	padding: 12px 20px;
	flow-children: down;
	overflow: squish scroll;
	width: 100%;
	height: 100%;
}

.AllUnits .UnitPickerCard
{
	width: height-percentage( 177.7% );
	height: 70px;
	background-image: url("s2r://panorama/images/heroes/large/npc_dota_all_units_png.vtex");
	background-size: cover;
}

.AllUnits .UnitPickerCard .UnitImage
{
	visibility: collapse;
}

