#Contents.TooltipContents {
	flow-children: down;
	padding: 0px;
	width: 300px;
	background-color: gradient( radial, 30% 20%, 0% 0%, 100% 100%, from( #132b42 ), to( #0a1223 ) );
}

.Header {
	width: 100%;
	flow-children: right;
	background-color: rgba(5, 8, 16, 0.7);
	padding: 16px;

	.LockIcon {
		width: 20px;
		height: 20px;
		vertical-align: middle;
		margin-right: 6px;
		transform: translateY( -1px );

		opacity-brush: gradient( linear, 0% 0%, 0% 100%, from( #97aece ), to( #364355 ) );
		img-shadow: 0px 1px 4px black;

		background-image: url( "file://{images}/control_icons/24px/lock.svg" );
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: center;
	}

	.Title {
		color: whitesmoke;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		font-weight: semi-bold;

		.Tier1 & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #b1ffb6 ), to( #5de766 ) );
		}
		.Tier2 & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #98ffff ), to( #6ce3e3 ) );
		}
		.Tier3 & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #83cfff ), to( #55A4FF ) );
		}
		.TierCrownfall & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #8d87ff ), to( #675fff ) );
		}
		.TierLegacy & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #ff678d ), to( #ef2846 ) );
		}
		.TierPremium & {
			color: gradient( linear, 0% 10%, 0% 100%, from( #ffffff ), color-stop( 0.45, #fedb8f ), color-stop( 0.55, #a58c54 ), to( #c49b41 ) );
		}
	}
}

.Body {
	flow-children: down;
	padding: 16px 16px 24px;
	width: 100%;

	Label {
		color: LighterGrey;
	}

	.TierLockDesc {
		width: 100%;
		margin-bottom: 8px;
		padding-bottom: 12px;
		border-bottom: 1px solid rgba(218, 241, 255, 0.05);
		border-brush: gradient( linear, 50% 0%, 100% 0%, from( white ), to( rgba(255, 255, 255, 0) ) );
	}

	.ProgressContainer {
		width: 100%;
		flow-children: down;
		margin-top: 4px;

		.ProgressStatus {
			width: 100%;
			flow-children: right;

			.ProgressLabel {
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 1px;
			}

			.ProgressAmount {
				font-size: 16px;
			}
		}

		#ProgressBar {
			margin-top: 6px;
			width: 100%;
			border-radius: 4px;
			height: 8px;

			.ProgressBarLeft {
				.Tier1 & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #b1ffb6 ), to( #5de766 ) );
				}
				.Tier2 & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #98ffff ), to( #6ce3e3 ) );
				}
				.Tier3 & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #83cfff ), to( #55A4FF ) );
				}
				.TierCrownfall & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #8d87ff ), to( #675fff ) );
				}
				.TierLegacy & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #ff678d ), to( #ef2846 ) );
				}
				.TierPremium & {
					background-color: gradient( linear, 0% 10%, 0% 100%, from( #ffffff ), color-stop( 0.45, #fedb8f ), color-stop( 0.55, #a58c54 ), to( #c49b41 ) );
				}
			}
		}
	}
}

