.Reborn.CustomHUDSkin #unitname
{
	width: 159px;
	transform:translateY(0px);
}

.Reborn.CustomHUDSkin #QuickBuyRows
{
	background-size: 100%;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/quickbuy_bg.psd" );
}


.Reborn.CustomHUDSkin #minimap_block
{
    background-image: url( "file://{images}/hud/reborn/the_international_2024/bg_minimap.psd" );
	width: 300px;
	height: 310px;
	background-size: 100%;
}

.Reborn.CustomHUDSkin.MinimapExtraLarge #minimap_block
{
	width: 340px;
	height: 353px;
}

.Reborn.CustomHUDSkin #minimap
{
opacity: 1;
width: 260px;
height: 260px;
horizontal-align: left;
vertical-align: bottom;
}

.Reborn.CustomHUDSkin.MinimapExtraLarge #minimap
{
	width: 296px;
	height: 296px;
}

#GlyphScanContainer
{
	width: 105px;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/glyph_scan_bg.psd" );	

	background-size: 100%;
	padding-right: 19px;
	margin-left: 238px;
}

.MinimapExtraLarge #GlyphScanContainer
{
	margin-left: 286px;
}

.Reborn.CustomHUDSkin #ShopButton
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/shop_launcher_button.psd" );
}

.Reborn.CustomHUDSkin .ShopInRange #ShopButton
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/shop_launcher_button_inrange.psd" );
}

.Reborn.CustomHUDSkin .ShopInRange #ShopButton:hover
{
	brightness: 2;
}

.Reborn.CustomHUDSkin #stats_container
{
	overflow: noclip;
}

.Reborn.CustomHUDSkin #right_flare
{
	overflow: noclip;
}

.Reborn.CustomHUDSkin #shop_launcher_bg
{
	margin-right: 0px;
	margin-bottom: 0px;
	horizontal-align: right;
	vertical-align: bottom;
	z-index: -2;
	width: 316px;
	height: 66px;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/gold_bg.psd" );
	background-size: 100%;
}

.Reborn.CustomHUDSkin #InventoryBG
{
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/inventory_bg.psd" );
	border: 0px solid #00000000;
	background-repeat: no-repeat;
}

  
                                                     
 
	                                                                                                   
	                       
 
  

.Reborn.CustomHUDSkin #inventory_list_container
{
	background-color: #AAAAAA00;
}

#RoshanTimer
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/roshan_timer_bg.psd" );
	margin-bottom: -4px;
	margin-left: 4px;
}

.Reborn.CustomHUDSkin .BackpackSlot #ButtonWell
{
	box-shadow: inset #00000000 0px 0px 0px;
}

.Reborn.CustomHUDSkin .AbilityInsetShadowRight
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/ability_inset_shadow.psd" );
}

.Reborn.CustomHUDSkin #right_flare
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/right_flare_bg.psd" );
	width: 110px;
	height: 166px;
	margin-right: -17px;
  	                      
}

.Reborn.CustomHUDSkin #left_flare
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/side_flare_tall.psd" );
	width: 80px;
	height: 166px;
	margin-right: -100px;
	margin-left: -27px;
  	                      
}

.Reborn.CustomHUDSkin #center_block
{
padding-left: 150px;
padding-right: 150px;
}

.Reborn.CustomHUDSkin #center_bg
{
	width: 100%;
	height: 145px;

  	                   
	margin-left: 70px;
	margin-right: 154px;

	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;

	background-image: url( "file://{images}/hud/reborn/the_international_2024/ability_bg.psd" );
	background-size: 100%;
	background-position: center;
}

                                            

.Reborn #TimeOfDayBG
{
    background-image: url( "file://{images}/hud/reborn/the_international_2024/bg_timer.psd" );
    height: 51px;
    width: 110px;
	
}

#Pips 
{
                                                                                                     
    height: 51px;
    width: 110px;
}

.Reborn .TopBarBackground,
#TopBarRadiantTeam .TeamBackground,
#TopBarDireTeam .TeamBackground
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/top_bar_team_bg.psd" );
  	                     
    background-size: cover;
  	            
	width: 500px;
	height: 80px;	
}



#TopBarDireTeam .TeamBackground
{
	background-image: url( "file://{images}/hud/reborn/the_international_2024/top_bar_team_dire_bg.psd" );
}

.IsLocalPlayerSpectating #TopBarRadiantTeam .TeamBackground,
.IsLocalPlayerSpectatingAllTeams #TopBarRadiantTeam .TeamBackground,
.TournamentGame #TopBarRadiantTeam .TeamBackground
{
	z-index: -10;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/top_bar_team_bg_tournament.psd" );
}

.IsLocalPlayerSpectating #TopBarDireTeam .TeamBackground,
.IsLocalPlayerSpectatingAllTeams #TopBarDireTeam .TeamBackground,
.TournamentGame #TopBarDireTeam .TeamBackground
{
	z-index: -10;
	background-image: url( "file://{images}/hud/reborn/the_international_2024/top_bar_team_dire_bg_tournament.psd" );
}

#DireGamePip1,
#RadiantGamePip1
{
    margin-top: 0px;
	margin-left: 1px;
}

#DireGamePip2,
#RadiantGamePip2
{
    margin-top: 13px;
	margin-left: -1px;
}

#DireGamePip3,
#RadiantGamePip3
{
    margin-top: 27px;
	margin-left: -3px;
}

#RadiantGamePip1
{
	margin-left: 4px;
}

#RadiantGamePip2
{
	margin-left: 6px;
}

#RadiantGamePip3
{
	margin-left: 8px;
}

.Reborn.CustomHUDSkin #HUDSkinStatBranchGlow
{
	visibility: collapse;
}

