.GleamPanel
{
	height: 100%;
	width: 100%;	
	background-size: 100%;
}

#HUDSkinFXGlyph
{
	height: 100%;
	width: 100%;

  	                      
	animation-duration: 40s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;

	margin-right: -32px;
	overflow: noclip;
}

#HUDSkinFXLeftFlare
{
	opacity-mask: url( "file://{images}/hud/reborn/the_international_2024/side_flare_tall_mask.psd" );	
	
	animation-name: Gleam;
	animation-duration: 40s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

#HUDSkinFXGold
{
	opacity-mask: url( "file://{images}/hud/reborn/the_international_2024/gold_bg_mask.psd" );	

	animation-name: Gleam2;
	animation-duration: 40s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.RewardParticleBg_glyph_sparkles
{
	height: 100%;
	width: 100%;
	overflow: noclip;
	vertical-align: bottom;
	background-color: yellow;
  	                                                                                                     	
  	             
	opacity: 0;
	z-index: 10;
}

.RewardParticleBg_glyph
{
	height: 100%;
	width: 100%;
	overflow: noclip;
	vertical-align: bottom;
	background-color: yellow;
  	                                                                                                      
  	             
	opacity: 0;
	z-index: 10;
}

@keyframes 'Gleam'
{
	0% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #fbefc700 ), color-stop(.01, #fbefc700), color-stop(.2, #ef65ff22), color-stop(.4, #ef65ff00), to( #ef65ff00 ) );
	}
	1.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(0, #ef65ff00), color-stop(.3, #ef65ffaa), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
		}
	3.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.3, #ef65ff00), color-stop(.5, #ef65ffaa), color-stop(.7, #ef65ff00), to( #ef65ff00 ) );
		}
	5.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.4, #ef65ff00), color-stop(.7, #ef65ffaa), color-stop(1, #ef65ff00), to( #ef65ff00 ) );
		}
	6% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff22), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
		}
	7.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff00), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
		}
	100% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.2, #ef65ff00), color-stop(.5, #ef65ff00), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
		}
}

@keyframes 'Gleam2'
{
	0% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.01, #ef65ff00), color-stop(.2, #ef65ff22), color-stop(.4, #ef65ff00), to( #ef65ff00 ) );
	}
	1.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(0, #ef65ff00), color-stop(.3, #ef65ffaa), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
		}
	3.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.3, #ef65ff00), color-stop(.5, #ef65ffaa), color-stop(.7, #ef65ff00), to( #ef65ff00 ) );
		}
	5.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.4, #ef65ff00), color-stop(.7, #ef65ffaa), color-stop(1, #ef65ff00), to( #ef65ff00 ) );
		}
	6% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff22), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
		}
	7.2% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.6, #ef65ff00), color-stop(.8, #ef65ff00), color-stop(.99, #ef65ff00), to( #ef65ff00 ) );
		}
	100% { background-color: gradient( linear, 0% 0%, 100% 100%, from( #ef65ff00 ), color-stop(.2, #ef65ff00), color-stop(.5, #ef65ff00), color-stop(.6, #ef65ff00), to( #ef65ff00 ) );
		}
}