/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define razor_z_offset: -42.0;
@define ringmaster_scale: 0.8;
@define skywrath_mage_arcana_scale: 0.9;
@define skywrath_mage_arcana_z_offset: -5.0;
.SigilContainer
{
	margin-top: -100px;
}

#HeaderContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 48px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: scale3d( 0.85, 0.85, 1 );
}

#HeaderContainer.Reveal
{
	opacity: 1;
	transform: none;
}

#HeaderContainer .HuntDescription
{
	horizontal-align: center;
	text-align: center;
	margin-top: 8px;
	color: TextColorLightest;
	text-shadow: 0px 2px 12px black;
}

#HeaderContainer .TitleContainer
{
	horizontal-align: center;
	flow-children: down;
	overflow: noclip;
}

#HeaderContainer .TitleContainer .ItemSetNameGlow
{
	width: 620px;
	height: 320%;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, from( #644d2b4e ), to( #41342000 ) );
	-s2-mix-blend-mode: screen;
}

#HeaderContainer .TitleContainer .TitleEmblem
{
	horizontal-align: center;
	width: 100%;
	height: 8px;
	background-image: url("s2r://panorama/images/events/monster_hunter/artwork/hero_title_emblem.vsvg");
	background-size: cover;
	background-position: center;
	background-texture-size: 1600px 16px;
	opacity-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop(0.5, white ), to( rgba(255, 255, 255, 0) ) );
}

#HeaderContainer .TitleContainer .TitleEmblem.Bottom
{
	transform: scaleY( -1 );
}

#HeaderContainer .TitleContainer .TitleEmblemContainer
{
	horizontal-align: center;
	flow-children: right;
	padding: 10px 0px 6px;
	background-color: gradient( linear, 10% 0%, 90% 0%, from( rgba(0, 0, 0, 0) ), color-stop(0.25, rgba(0, 0, 0, 0.9) ), color-stop(0.5, rgba(0, 0, 0, 0.98) ), color-stop(0.75, rgba(0, 0, 0, 0.9) ), to( rgba(0, 0, 0, 0) ) );
}

#HeaderContainer .TitleContainer .TitleEmblemContainer .Title
{
	font-size: 46px;
}

#CountdownContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
	height: 80px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 2s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: translateY( 12px );
}

#CountdownContainer.Reveal
{
	opacity: 1;
	transform: none;
}

#CountdownContainer Label
{
	horizontal-align: center;
	vertical-align: bottom;
	text-transform: lowercase;
	margin-bottom: 20px;
	color: rgb(255, 243, 226);
	text-shadow: 0px 0px 12px rgba(255, 158, 79, 0.356);
	font-size: 24px;
}

#CountdownContainer .CountdownEmblem
{
	width: 228px;
	wash-color: rgb(255, 220, 168);
	opacity: 0.2;
	vertical-align: bottom;
}

#MonsterHunterInvestigationsContainer
{
	vertical-align: bottom;
	margin-bottom: 68px;
	transition-property: opacity, transform;
	transition-duration: 0.5s;
	transition-delay: 1.5s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
	opacity: 0;
	transform: translateY( 48px );
}

#MonsterHunterInvestigationsContainer.Reveal
{
	opacity: 1;
	transform: none;
}

.Emblem
{
	horizontal-align: center;
	vertical-align: bottom;
	wash-color: rgb(255, 220, 168);
	transform: scaleY( -1 );
	margin-bottom: 24px;
	opacity: 0.2;
}

#VersusSceneBackground,#VersusScene
{
	width: 100%;
	height: 100%;
	tooltip-position: top;
	tooltip-body-position: 50% 0%;
	max-width: 2560px;
	horizontal-align: center;
	opacity: 1;
}

.AspectRatio21x9 #VersusScene,.AspectRatio32x9 #VersusScene,.AspectRatio21x9 #VersusSceneBackground,.AspectRatio32x9 #VersusSceneBackground
{
	opacity-mask: url("s2r://panorama/images/masks/bg_vignette_vs_21x9_psd.vtex");
}

