@keyframes 'versus_visible'{
  0%{
   transform: scaleX(3) scaleY(3);
  }

  65%{
   transform: scaleX(0.5) scaleY(0.5);
  }

  100%{
   transform: scaleX(1) scaleY(1);
  }
}

 @keyframes 'reveal_hero1'{
  0%{
   transform: translateX( -1600px );
  }

  100%{
   transform: translateX( 0px );
  }
 }

 @keyframes 'reveal_hero1_part1'{
  0%{
   transform: translateX( -600px );
  }

  100%{
   transform: translateX( -250px );
  }
 }

 @keyframes 'reveal_hero1_part2'{
  0%{
   transform: translateX( -250px );
  }

  50%{
   transform: translateX( -350px );
  }

  100%{
   transform: translateX( 0px );
  }
 }

 @keyframes 'reveal_hero2'{
  0%{
   transform: translateX( 1600px );
  }

  100%{
   transform: translateX( 0px );
  }
 }

 DOTAHudVersusSceneMuertaReleaseEventInfo{
  margin-bottom: 100px;
  width: 100%;
  height: 192px;
  vertical-align: bottom;
  horizontal-align: left;
  opacity: 0;
  transition-duration: 1.0s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  overflow: noclip;
 }

 DOTAHudVersusSceneMuertaReleaseEventInfo.Visible{
  transition-duration: 0.0s;
  opacity: 1;
 }

 DOTAHudVersusSceneMuertaReleaseEventInfo #VersusImage{
  width: 88px;
  height: 88px;
  vertical-align: center;
  horizontal-align: center;
  img-shadow: 2px 2px 10px 3.0 #000000FF;
  opacity: 0;
 }





 #VersusBurst{
  vertical-align: center;
  horizontal-align: center;
  width: 300px;
  height: 300px;
 }

 #VersusImage.Visible{
  opacity: 1;
  animation-name: versus_visible;
  animation-duration: 0.2s;
  animation-timing-function: linear;
 }

 .HeroPanel{
  transition-duration: 1.0s;
  transition-property: opacity;
  transition-timing-function: linear;
  width: 50.5%;
  height: 100%;
  opacity: 0;
 }

 .Background{

  background-image: url( "s2r://panorama/images/events/muerta/versus_screen/target_background_tile_png.vtex");
  background-color: #000000ba;
  background-size: 128px 128px;
  width: 100%;
  height: 100%;
 }

 #Hero1BackgroundCap{
  opacity-mask: url( "s2r://panorama/images/events/muerta/versus_screen/target_background_cap_left_trans_png.vtex");
  height: 100%;
  width: 65px;
  horizontal-align: right;
 }

 #Hero2BackgroundCap{
  opacity-mask: url( "s2r://panorama/images/events/muerta/versus_screen/target_background_cap_right_trans_png.vtex");
  height: 100%;
  width: 65px;
  horizontal-align: left;
 }

 #Hero1BackgroundContainer{
  width: 100%;
  height: 100%;
  flow-children: left;
 }

 #Hero2BackgroundContainer{
  width: 100%;
  height: 100%;
  flow-children: right;
 }

 #Hero1Panel{
  horizontal-align: left;
  transform: translateX(-600px);
 }

 #Hero1Panel.Visible{

  opacity: 1;
  animation-name: reveal_hero1_part1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  transform: translateX(-250px);
 }

 #Hero1Panel.VisibleFull{

  opacity: 1;
  animation-name: reveal_hero1_part2;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  transform: translateX(0px);
 }

 #Hero2Panel{
  horizontal-align: right;
  transform: translateX(1600px);
 }

 #Hero2Panel.Visible{

  opacity: 1;
  animation-name: reveal_hero2;
  animation-duration: 0.4s;
  animation-timing-function: ease-in;
  transform: translateX(0px);
 }

 .PanelCap{
  height: 100%;
  width: 65px;
 }


 #Hero1Panel .VersusHeroFrame{
  horizontal-align: right;
  vertical-align: center;
  margin-right: 65px;
 }

 #Hero1Panel .PanelCap{
  horizontal-align: right;
  vertical-align: center;
 }

 #Hero2Panel .VersusHeroFrame{
  horizontal-align: left;
  vertical-align: center;
  margin-left: 65px;
 }

 #Hero2Panel .PanelCap{
  horizontal-align: left;
  vertical-align: center;
 }

 #Hero1Info{
  height: 100%;
  width: 100%;
  margin-right: 195px;
  flow-children: left;
 }

 #Hero1Name{
  horizontal-align: right;
  text-align: right;
 }

 #Hero2Info{
  height: 100%;
  width: 100%;
  margin-left: 195px;
  flow-children: right;
 }

 #Hero2Name{
  text-align: left;
 }

 .HeroName{
  font-size: 45px;
  vertical-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: titleFont;
  text-shadow: 2px 2px 8px black;
  letter-spacing: 2px;
  color: #ffffffee;
  text-overflow: shrink;
  max-width: 400px;
  max-height: 70px;
 }

 #Hero1Badge{
  margin-right: 10px;
  width: 70px;
  height: 70px;
  vertical-align: center;
 }

 #Hero2Badge{
  margin-left: 10px;
  width: 70px;
  height: 70px;
  vertical-align: center;
 }

 .HeroBadge{
  opacity: 0;
 }

 .HeroBadge:not(.NoTier){
  opacity: 1.0;
 }

 .HeroNameBadge{
  margin-top: 0px;
 }

 #Hero1NameBadge{
  flow-children: left;
  horizontal-align: right;
 }

 #Hero2NameBadge{
  flow-children: right;
  horizontal-align: left;
 }

 .HeroBaseInfo{
  flow-children: down;
 }

 .Target{
  margin-top: 30px;
  height: 20px;
  color: #be432d;
  text-shadow: 2px 2px 8px black;
  font-weight: semi-bold;
  font-size: 18px;
 }

 #Target1{
  opacity: 0;
  text-align: right;
  horizontal-align: right;
 }

 #Target2{
  text-align: left;
  horizontal-align: left;
 }

 .PlayerDetails{
  flow-children: right;
 }

 #Hero1PlayerDetails{
  horizontal-align: right;
 }

 .PlayerName{
  font-weight: semi-bold;
  text-shadow: 2px 2px 8px black;
  font-size: 18px;
 }

 .PlayerTitle{

  visibility:collapse;
  font-size: 18px;
  color: #f8eac7;
  color: gradient( linear, 0% 0%, 0% 100%, from( #f5e5bd ), to( #ad7a20 ) );
  font-weight: semi-bold;
  text-shadow: 0px 0px 8px 1.0 #7e5a00;

  horizontal-align: left;
  margin-left: 10px;
 }


 .Hero1HasTitle #Hero1PlayerTitle{

  visibility:visible;
 }

 .Hero2HasTitle #Hero2PlayerTitle{

  visibility:visible;
}