


 #VersusScene_bg{

  vertical-align: middle;
  horizontal-align: center;
  blur: gaussian( 1.0 );
 }













 @define bristleback_scale: 1.3;
 @define centaur_scale: 0.75;
 @define chaos_knight_scale: 0.85;
 @define dawn_breaker_scale: 0.9;
 @define doom_bringer_scale: 0.8;




 @define huskar_scale: 1.1;
 @define kunkka_scale: 1.2;
 @define legion_commander_scale: 1.12;
 @define life_stealer_scale: 1.2;
 @define mars_scale: 0.8;



 @define primal_beast_scale: 0.85;
 @define pudge_scale: 0.95;

 @define spirit_breaker_scale: 1.2;
 @define sven_scale: 1.1;
 @define tidehunter_scale: 0.85;

 @define tiny_activity_modifier: tree;
 @define treant_scale: 0.80;

 @define abyssal_underlord_scale: 0.85;
 @define undying_scale: 0.85;




 @define bloodseeker_scale: 1.2;
 @define bounty_hunter_scale: 1.1;
 @define clinkz_scale: 1.15;
 @define drow_ranger_scale: 1.15;
 @define ember_spirit_scale: 0.9;

 @define gyrocopter_scale: 0.85;
 @define gyrocopter_z_offset: -10;
 @define hoodwink_scale: 1.5;

 @define luna_scale: 0.95;
 @define medusa_scale: 0.95;
 @define meepo_scale: 1.2;






 @define razor_z_offset: -42.0;
 @define riki_scale: 1.1;
 @define nevermore_scale: 0.8;
 @define slark_scale: 1.1;
 @define sniper_scale: 1.1;


 @define terrorblade_scale: 0.85;
 @define troll_warlord_scale: 0.95;
 @define ursa_scale: 1.15;
 @define viper_scale: 0.9;
 @define viper_z_offset: -30;
 @define weaver_scale: 1.1;
 @define weaver_z_offset: 20;

 @define ancient_apparition_scale: 0.95;
 @define ancient_apparition_z_offset: -15;


 @define death_prophet_z_offset: -10;
 @define disruptor_scale: 0.85;


 @define jakiro_scale: 0.75;
 @define jakiro_z_offset: -10;
 @define keeper_of_the_light_scale: 0.9;
 @define leshrac_scale: 0.85;

 @define lich_scale: 0.9;
 @define lich_z_offset: -15;



 @define furion_scale: 0.95;

 @define oracle_scale: 0.85;
 @define obsidian_destroyer_scale: 0.75;
 @define obsidian_destroyer_z_offset: -50.0;

 @define pugna_scale: 1.2;

 @define rubick_scale: 0.9;
 @define rubick_activity_modifier: versus;
 @define shadow_demon_scale: 0.9;
 @define shadow_shaman_scale: 1.1;


 @define skywrath_mage_z_offset: -120.0;




 @define zuus_scale: 1.05;
 @define zuus_activity_modifier: versus;

 @define abaddon_scale: 0.9;
 @define bane_scale: 0.9;
 @define bane_z_offset: -25;




 @define broodmother_scale: 0.9;
 @define broodmother_z_offset: 10;
 @define chen_scale: 0.9;
 @define rattletrap_scale: 1.3;
 @define dark_seer_scale: 1.3;
 @define dark_willow_scale: 0.95;
 @define dark_willow_z_offset: -20;

 @define enigma_scale: 0.95;
 @define enigma_z_offset: -30;

 @define wisp_scale: 0.9;
 @define wisp_z_offset: -20;
 @define lone_druid_scale: 1.1;
 @define lycan_scale: 0.95;
 @define magnataur_scale: 0.95;


 @define nyx_assassin_scale: 1.2;


 @define phoenix_z_offset: -25.0;













 @define winter_wyvern_z_offset: -20.0
;