DOTAShowcaseAdminReportReviewPage {
	width: 100%;
	height: 100%;
	padding-top: 140px;
	padding-bottom: 140px;
}

.PageContents {
	flow-children: down;
	horizontal-align: center;
	width: 1600px;
	
	.PageTitle {
		font-size: 32px;
		color: white;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin-bottom: 8px;
	}
}


.UserDetailsContainer {
	width: 100%;
	height: fill-parent-flow( 1.0 );

	.AsyncSuccessContainer {
		flow-children: down;
	}
}

.Header {
	flow-children: right;

	.Reviewing {
		vertical-align: middle;
		font-size: 24px;
		margin-right: 8px;
	}

	#AvatarImage {
		vertical-align: middle;
		width: 32px;
		height: 32px;
		margin-right: 8px;
	}

	.PersonaName {
		vertical-align: middle;
		font-size: 24px;
		margin-right: 8px;
	}

	.ShowcaseType {
		vertical-align: middle;
		font-size: 24px;
	}
}

.ViewButtons {
	flow-children: right;
	margin: 8px 0px;

	.PopupButton {
		ui-scale: 80%;
		margin: 0px;
		margin-right: 8px;
	}
}

#ActionButtons {
	flow-children: right;
	margin-bottom: 8px;

	.ActionButton {
		ui-scale: 75%;
		margin: 0px;
		margin-right: 8px;
	}

	#LockTimestampEntry {
		width: 140px;
	}
}

.ActionWorking {
	flow-children: right;
	vertical-align: middle;
	margin-left: 16px;

	visibility: collapse;

	.ActionInProgress & {
		visibility: visible;
	}

	Label {
		vertical-align: middle;
		margin-left: 8px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: white;
	}
}


.DataTables {
	flow-children: right;
	height: fill-parent-flow( 1.0 );

	.DataTable {
		flow-children: down;
		height: 100%;

		.TableTitle {
			text-transform: uppercase;
			color: #999;
			letter-spacing: 2px;
			margin-left: 8px;
		}
		.TableHeader {
			background-color: black;
			flow-children: right;

			.Column {
				padding: 2px 8px;
			}
		}

		.TableEntries {
			background-color: #222;
			height: fill-parent-flow( 1.0 );
			width: 100%;
			overflow: squish scroll;
			flow-children: down;

			.TableEntry {
				border-bottom: 1px solid #fff1;
				margin-bottom: 4px;
			}

			.Column {
				padding: 2px 8px;

				Label {
					font-size: 16px;
				}
			}
		}
	}

	.RecentReportsTable {
		margin-right: 8px;

		.ReporterColumn {
			width: 140px;
			flow-children: right;

			#ReporterAvatarImage {
				width: 20px;
				height: 20px;
				margin-right: 4px;
			}
		}
		.ShowcaseTypeColumn {
			width: 120px;
		}
		.ReportTimestampColumn {
			width: 200px;
		}
		.ReportCommentColumn {
			width: 300px;
		}
	}

	.RecentAuditTable {
		.AuditActionColumn {
			width: 240px;
		}
		.TimestampColumn {
			width: 200px;
		}
		.ShowcaseTypeColumn {
			width: 120px;
		}
		.AuditDataColumn {
			width: 240px;
		}
	}
}

.RecentReport {
	flow-children: right;
}

.RecentAudit {
	flow-children: right;
}


.AdminActionsSection {
	width: 100%;
	flow-children: down;
	background-color: #0009;
	margin-top: 8px;

	.AdminActionsTable {
		flow-children: down;
		padding: 2px 8px;

		.ActionRow {
			flow-children: right;
			margin-bottom: 8px;

			.ActionInfo {
				flow-children: down;
				width: 600px;

				.ActionTitle {
					text-transform: uppercase;
					letter-spacing: 2px;
					color: #ccc;
				}

				.ActionDesc {
					font-size: 16px;
					color: #666;
				}
			}

			.ActionControls {
				flow-children: right;

				.PopupButton {
					margin: 0px;
					ui-scale: 80%;
				}

			}
		}
	}
}