DOTAShowcaseAdminModeration {
    width: 100%;
    height: 100%;
	padding-top: 180px;
	flow-children: right;
	background-color: black;
}

#Contents {
	width: 100%;
    height: 100%;
    flow-children: down;
}

#QueueContainer {
	width: 400px;
	height: 100%;
}

#QueueContainer {
	height: 100%;
	margin-bottom: 140px;
	background-color: #101010ff;
}

#Queue {
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: squish scroll;
}

.ModerationQueueEntry {
	background-color: #ffffff03;
	margin-bottom: 8px;
	height: 46px;
	width: 100%;

	&:hover {
		brightness: 2;
	}

	&:selected {
		background-color: #ffffff06;
		border: 1px solid gray;
	}

	.Column {
		height: 100%;
	}

	.EntryData {
		vertical-align: middle;
		padding-left: 8px;
	}

	.TypeColumn {
		margin-right: 10px;
		horizontal-align: right;
	}

	.NameColumn {
		flow-children: right;
		padding-left: 8px;

		#AvatarImage {
			width: 24px;
			height: 24px;
			vertical-align: middle;
		}
	}
}

.ShowcaseContainer {
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
	box-shadow: hollow 0px 0px 0px 1px #ffffffff;

	#ProfileShowcase {
		width: 1920px;
		height: 1080px;
		ui-scale: 57%;
		visibility: collapse;

		.ShowcaseType_Profile & {
			visibility: visible;
		}
	}

	#MiniShowcase {
		visibility: collapse;

		.ShowcaseType_Mini & {
			visibility: visible;
		}
	}
}

.Footer {
	width: 100%;
	padding: 16px;
	vertical-align: bottom;
	margin-bottom: 140px;

	.Controls {
		flow-children: right;
		horizontal-align: center;
	}

	.ShowcaseType_None & {
		visibility: collapse;
	}
} 

#ModerationQueueEmptyLabel {
	horizontal-align: center;
	margin-top: 200px;
	visibility: collapse;

	.ModerationQueueEmpty & {
		visibility: visible;
	}
}

.PageTitle {
	font-size: 32px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-left: 10px;
	ignore-parent-flow: true;
	margin-top: -80px;
}