@define SetTile_Width: 230px;
@define SetTile_Height: 346px;

@define ItemTile_Width: 172px;
@define ItemTile_Height: 222px;

@define HeaderBackground: #11161D;

PopupShowcaseCustomizeHero.PopupPanel {
    width: 1388px;
    height: 860px;
    padding: 0px;
}

#Contents {
    width: 100%;
    height: 100%;
    flow-children: down;

    #Header {
        width: 100%;
	    padding: 16px;
	    background-size: cover;
	    background-img-opacity: 0.6;
        background-color: HeaderBackground;

        .Title {
            text-transform: uppercase;
	        color: white;
	        opacity: 0.9;
	        font-size: 26px;
	        vertical-align: middle;
	        font-weight: semi-bold;
	        letter-spacing: 2px;
	        text-shadow: 0px 2px 8px black;
            margin-left: 12px;
        }

        #CloseButton {
	        vertical-align: middle;
            horizontal-align: right;
            ui-scale: 90%;
        }
    }

    #CosmeticPicker {
        width: 100%;
        height: 100%;
    }
}
