@define Sticker_Width: 240px;
@define Sticker_Height: 240px;

@define Spray_Width: 150px;
@define Spray_Height: 150px;

@define Hero_Width: 139px;
@define Hero_Height: 139px;

@define ArmoryItem_Width: 103px;
@define ArmoryItem_Height: 103px;

@define Trophy_Width: 200px;
@define Trophy_Height: 200px;

@define LoadingScreen_Width: 308px;
@define LoadingScreen_Height: 204px;

@define WorldItem_Width: 206px;
@define WorldItem_Height: 254px;

@define HeroSet_Width: 220px;
@define HeroSet_Height: 331px;

@define ChatWheel_Width: 500px;
@define ChatWheel_Height: 25px;

@define Decoration_Width: 150px;
@define Decoration_Height: 150px;

@define HeaderBackground: #191E21;
@define BodyBackground: gradient( linear, 0% 0%, 0% 100%, from( #21272A ), to( #121719 ) );

PopupShowcaseAddItemV2.PopupPanel {
    width: 1600px;
    height: 880px;
    padding: 0;
}

#Contents {
    width: 100%;
    height: 100%;
    flow-children: down;

    #Header {
        width: 100%;
	    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.02);
	    padding: 16px;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.02);
	                                                                               
	    background-size: cover;
	    background-img-opacity: 0.6;
        background-color: HeaderBackground;

        .Title {
            text-transform: uppercase;
	        color: white;
	        opacity: 0.9;
	        font-size: 26px;
	        vertical-align: middle;
	        font-weight: semi-bold;
	        letter-spacing: 2px;
	        text-shadow: 0px 2px 8px black;
            margin-left: 12px;
            visibility: collapse;
        }

        #TitleAddItem {
            .Mode_AddItem & {
                visibility: visible;
            }
        }

        #TitleSelectBackground {
            .Mode_SelectBackground & {
                visibility: visible;
            }
        }

        #TitleSelectHeroSet {
            .Mode_SelectHeroSet & {
                visibility: visible;
            }
        }

        #ShowcaseBudgetProgressBar {
            vertical-align: center;
            horizontal-align: center;
            width: 400px;

            .Mode_SelectBackground &,
            .Mode_SelectHeroSet &{
                visibility: collapse;
            }
        }

        #CloseButton {
	        vertical-align: middle;
            horizontal-align: right;
            ui-scale: 90%;
        }

        #ControlSearch {
            width: 300px;
            vertical-align: center;
            horizontal-align: right;
            margin-right: 110px;

            visibility: collapse;

            .Hero &,
            .HeroIcon &,
            .Sticker &,
            .ArmoryItem &,
            .LoadingScreen &,
            .Ward &,
            .Courier &,
            .Ward &,
            .Tower &,
            .Creep &,
            .Roshan &,
            .Effigy &,
            .ChatWheel &,
            .Trophy &,
            .Emoticon & {
                visibility: visible;
            }

            TextEntry {
                width: 100%;
                border-radius: 4px;
                border: 0px;
                background-color: #d2e2ff0a;
                height: fit-children;
                padding: 8px;

                transition-property: border, background-color;
                transition-duration: 0.15s;

                Label
                {
                    font-weight: normal;
                    margin-top: 1px;
                    color: rgba(255, 255, 255, 0.4);

                    transition-property: color;
                    transition-duration: 0.1s;
                }

                &:hover
                {
                    background-color: #d2e2ff22;
                }
            }

            #SearchButton
            {
                visibility: visible;

                background-image: url( "file://{images}/control_icons/icon_search.png" );
                background-repeat: no-repeat;
                background-size: contain;

                width: 24px;
                height: 24px;
                vertical-align: middle;
                margin: 0px 8px;
                margin-left: 2px;
                horizontal-align: right;
                opacity: 0.2;
            }

            #ClearButton
            {
                visibility: collapse;

                background-image: url( "file://{images}/control_icons/x_close_filled.png" );
                background-repeat: no-repeat;
                background-size: contain;

                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin: 0px 8px;
                margin-left: 2px;
                horizontal-align: right;
                opacity: 0.2;

                transition-property: opacity, transform;
                transition-duration: 0.1s;

                &:hover
                {
                    opacity: 0.8;
                }

                &:active
                {
                    transform: scale3d(0.9, 0.9, 1);
                    opacity: 0.6;
                }
            }

            &.IsSearching
            {
                #SearchButton
                {
                    visibility: collapse;
                }

                #ClearButton
                {
                    visibility: visible;
                }

                TextEntry
                {
                    border-color: #555555;
                    background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111FF ), to( #222222FF ) );
                }
            }
        }
    }

    #Body {
        width: 100%;
        height: fill-parent-flow( 1 );
        flow-children: right;
        background-color: BodyBackground;

        #TabList {
            height: 100%;
            width: 300px;
            flow-children: down;
            padding-top: 20px;

            .Mode_SelectHeroSet & {
                visibility: collapse;
            }

            .Tab {
                width: 100%;
                padding: 10px;
                margin-left: 10px;
                flow-children: right;

                                       
                opacity: 0.2;

                &.ItemTypeAllowed {
                    visibility: visible;
                    opacity: 1;
                }

                &.Active {
                    background-color: gradient( linear, 0% 0%, 95% 0%, from( #b4e1ff14 ), to( #ffffff00 ) );
        
                    #TabName {
                        color: white;

                        animation-name: GlowTextBright;
			            animation-duration: 1s;
			            animation-iteration-count: infinite;
			            animation-timing-function: ease-in-out;
			            animation-direction: alternate-reverse;
                    }
                }
                
                &:hover:not(:disabled) {
                    #TabName {
                        color: white;

                        animation-name: GlowTextBright;
			            animation-duration: 1s;
			            animation-iteration-count: infinite;
			            animation-timing-function: ease-in-out;
			            animation-direction: alternate-reverse;
                    }
                }

                #PlusLogo {
                    visibility: collapse;
                }

                #TabImage {
                    vertical-align: center;
                    width: 20px;
                    height: 20px;
                    wash-color: LighterGrey;
                    img-shadow: 0px 1px 4px black;

                    transition-property: wash-color;
                    transition-duration: 0.1s;
                }

                #TabName {
                    vertical-align: center;
                    text-shadow: 0px 1px 4px black;
                    width: 80%;
                                       
                    text-overflow: shrink;
                    line-height: 1;

                    transition-property: color;
                    transition-duration: 0.1s;
                    margin-left: 12px;
                    font-size: 20px;
                }
            }
        }

        #ItemsContainer {
            width: 1300px;

            .Mode_SelectHeroSet & {
                width: 100%;
            }

            height: 100%;
            padding: 20px;
            flow-children: down;
            overflow: squish scroll;

            .BudgetReached & {
                opacity: 0.5;
            }

            .NoResultsMessage {
                width: 100%;
                padding: 32px 0px 64px;
                border-bottom: 1px solid white;
                border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.05, #ffffff06 ), color-stop( 0.95, #ffffff06 ), to( #FFFFFF00 ) );
                margin-right: 16px;
                margin-top: 12px;
                flow-children: down;

                visibility: collapse;

                .NoResults & {
                    visibility: visible;
                }

                Label {
                    horizontal-align: center;
                    color: LightGrey;
                    opacity: 0.5;
                }

                .NoResultsIcon {
                    width: 64px;
                    height: 64px;
                    background-image: url("s2r://panorama/images/control_icons/armory_new_icon.svg");
                    background-size: contain;
                    background-position: center;
                    horizontal-align: center;
                    wash-color: LightGrey;
                    opacity: 0.5;
                }
            }

            DelayLoadList {
                width: 100%;
                               
                min-height: 100px;
                flow-children: right-wrap;
                visibility: collapse;
            }
            
            #StickerList {
                .Sticker & {
                    visibility: visible;
                }

                .StickerEntry {
                    width: Sticker_Width;
                    height: Sticker_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }
                }
            }

            #LoadingScreenList {
                .LoadingScreen &,
                .Background & {
                    visibility: visible;
                }

                .LoadingScreenEntry {
                    width: LoadingScreen_Width;
                    height: LoadingScreen_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 10px;

                    Image {
                        width: 100%;
                        height: 100%;
                        box-shadow: fill #00000030 3px 3px 8px 1px;
                    }

                    #LoadingScreenName {
                                                  
                        visibility: collapse;
                        margin-bottom: 5px;
			            vertical-align: bottom;
                        horizontal-align: center;
			            color: white;
			            text-shadow: 0px 2px 8px  black;
			                           
                        width: 70%;
		                text-align: center;
		                text-overflow: ellipsis;
		                height: 20px;

		                transition-property: color;
		                transition-duration: 0.2s;
		                transition-timing-function: ease;
		            }

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }
                }
            }

            #ChatWheelList {
                visibility: collapse;
                flow-children: down;

                .ChatWheel & {
                    visibility: visible;
                }

                .ChatWheelEntry {
                    width: ChatWheel_Width;
                    height: ChatWheel_Height;

	                flow-children: right;
	                padding: 2px;

	                &:hover {
		                background-color: #ffffff0f;
	                }
	                &:active {
		                background-color: #ffffff06;
	                }

	                #HeroImage {
		                width: 20px;
		                height: 20px;

		                visibility: collapse;
	                }
	                &.HasHero #HeroImage {
		                visibility: visible;
	                }

	                #ChatWheelSoundButton {
		                width: 20px;
		                height: 20px;

		                visibility: collapse;

		                background-image: url( "file://{images}/hud/reborn/icon_scoreboard_mute_sound.psd" );
		                background-repeat: no-repeat;
		                background-size: contain;
		                background-position: center;

		                transition-property: brightness;
		                transition-duration: 0.2s;

		                &:hover {
			                brightness: 2.0;
		                }
		                &:active {
			                brightness: 1.5;
		                }
	                }
	                &.HasSound #ChatWheelSoundButton {
		                visibility: visible;
	                }

	                .ChatWheelIcon {
		                width: 20px;
		                height: 20px;

		                background-image: url( "file://{images}/control_icons/chat_wheel_icon.png" );
		                background-size: contain;
		                background-repeat: no-repeat;
		                background-position: center;
	                }

	                .ChatWheelAllLabel {
		                color: #666;
		                margin-right: 4px;
		                visibility: collapse;
	                }

	                .ChatWheelText {

	                }
                }
            }

            #SprayList {
                .Spray & {
                    visibility: visible;
                }

                .SprayEntry {
                    width: Spray_Width;
                    height: Spray_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 10px;

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }

                    Image {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            #ArmoryItemList {
                .ArmoryItem & {
                    visibility: visible;
                }

                .ArmoryItemEntry {
                    width: ArmoryItem_Width;
                    height: ArmoryItem_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 0px;

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }
                }
            }

            #HeroIconList {
                visibility: collapse;
                width: 100%;
                flow-children: right-wrap;

                .HeroIcon & {
                    visibility: visible;
                }

                .HeroIconEntry {
                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 0px;

	                &:hover {
		                transform: scale3d(1.15, 1.15, 1);
		                brightness: 1.5;
	                }
                }

                #HeroIcon {
                    width: 32px;
                    height: 32px;

                    margin: 5px;
                }
            }

            #HeroList {
                .Hero & {
                    visibility: visible;
                }

                .HeroEntry {

                    transition-property: transform, brightness, box-shadow;
                    transition-duration: 0.2s;

                    .HeroEntryButtonContent {
                        width: 100%;
                        height: 100%;
                        flow-children: down;
                        background-color: gradient( linear, 0% 0%, 20% 120%, from( #121719 ), to( #121719 ) );
                        border: 1px solid rgba(255,255,255,0.01);
                                                                           
                        margin: 4px;

                        transition-property: border, transform, brightness, background-color;
                        transition-duration: 0.1s, 0.2s;
                    }

                    .HeroEntryActiveBorder {
                        width: 100%;
                        height: 100%;
                        margin: 4px;
                        border: 0px solid white;
                        border-brush: gradient( linear, 0% 0%, 0% 100%, from( #C2CED4 ), to( #727D81 ) );
                        opacity: 0;

                        transition-property: border, opacity;
                        transition-duration: 0.1s; 
                    }

                    #HeroImage {
                                           
	                    width: 95%;
	                    height: 95%;
	                                         
                        horizontal-align: center;
                        vertical-align: center;
                        box-shadow: 0px 2px 8px rgba( 0, 0, 0, 0.5 );

                        transition-property: transform;
                        transition-duration: 0.1s;
                        transform: scale3d( 1, 1, 1 );
                    }

                    brightness: 1;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    &:hover {
                        transform: scale3d(1.05, 1.05, 1);
                        brightness: 1.5;
                        .HeroEntryButtonContent {
                                                                                                                        
                            border: 1px solid rgba(255,255,255,0.04);
                        }
                    }
                }
            }

            #CourierList {
                .Courier & {
                    visibility: visible;
                }
            }

            #WardList {
                .Ward & {
                    visibility: visible;
                }
            }

            #TowerList {
                .Tower & {
                    visibility: visible;
                }
            }

            #RoshanList {
                .Roshan & {
                    visibility: visible;
                }
            }

            #CreepList {
                .Creep & {
                    visibility: visible;
                }
            }

            #EffigyList {
                .Effigy & {
                    visibility: visible;
                }
            }

            #HeroSetList {
                .HeroSet & {
                    visibility: visible;
                }
            }

            #DecorationList {
                .Decoration & {
                    visibility: visible;
                }

                .DecorationEntry {
                    width: Decoration_Width;
                    height: Decoration_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 10px;

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }

                    DOTAShowcaseDecoration {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .WorldItemEntry {
                width: WorldItem_Width;
                height: WorldItem_Height;

                brightness: 1;
	            transition-property: transform, brightness, box-shadow;
	            transition-duration: 0.2s;
	            transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

	            &:hover {
		            transform: scale3d(1.08, 1.08, 1);
		            brightness: 1.5;
	            }
            }

            .HeroSetEntry {
                width: HeroSet_Width;
                height: HeroSet_Height;

                brightness: 1;
	            transition-property: transform, brightness, box-shadow;
	            transition-duration: 0.2s;
	            transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

	            &:hover {
		            transform: scale3d(1.02, 1.02, 1);
		            brightness: 1.5;
	            }
            }

            #TrophiesListContainer {
                visibility: collapse;

                .Trophy & {
		            visibility: visible;

                    #TrophiesList {
                        visibility: visible;
                        height: fit-children;
                    }
	            }

                width: 100%;

                .TrophiesAsyncData {
                    width: 100%;
                    height: fit-children;
                }

                .TrophyEntry {
                    width: Trophy_Width;
                    height: Trophy_Height;

                    brightness: 1;
	                transition-property: transform, brightness, box-shadow;
	                transition-duration: 0.2s;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                

                    padding: 10px;

                    #TrophyImage {
                        width: 100%;
                        height: 100%;
                    }

	                &:hover {
		                transform: scale3d(1.08, 1.08, 1);
		                brightness: 1.5;
	                }
                }
            }
            
            #EmoticonList {
	            flow-children: down;
	            width: 100%;

	            visibility: collapse;

	            .Emoticon & {
		            visibility: visible;
	            }

	            #EmoticonPicker {
		            ui-scale: 100%;
                    width: 100%;
                    background-color: none;
                    border: 0px solid black;

                    #EmoticonsContainer {
                        width: 100%;
                    }
	            }
            }

            #WidgetList {
                visibility: collapse;

                .Widget & {
                    visibility: visible;
                }

                flow-children: right-wrap;

                .SpiderGraphContainer {
                    background-image: url( "file://{images}/control_icons/spider_graph.png" );
                }

                .UserFeedContainer {
                    background-image: url( "file://{images}/control_icons/user_feed.png" );
                }

                .LastPlayedHeroContainer {
                    background-image: url( "file://{images}/control_icons/blank_background.png" );
                    overflow: clip;
                }

                .StatContainer
                {
                    background-image: url( "file://{images}/control_icons/blank_background.png" );
                    overflow: clip;
                    
                    .StatItem
                    {
                        horizontal-align: center;
                        vertical-align: center;
                        height: 50px;
                        width: 100px;
                                                                 
                    }
                }

                #LastPlayedHero {
                    width: 170px;
                    height: 170px;
                    margin-bottom: 30px;
                    vertical-align: bottom;
                    horizontal-align: center;
                }

                .WidgetContainer {
                    width: 300px;
                    height: 200px;
                    margin: 10px;

                    border: 1px solid Grey;

                    background-size: contain;
                    background-repeat: no-repeat;
	                background-img-opacity: 1;
                    
                    Label {
                        vertical-align: bottom;
                        horizontal-align: center;
                        margin-bottom: 8px;
                        color: #FFFFFF;
                        text-shadow: 0px 1px 8px rgba(0, 0, 0, 0.6);
                    }

                    brightness: 1;
	                transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);                
                    transition-property: transform, brightness, box-shadow;
                    transition-duration: 0.2s;

                    &:hover {
                        transform: scale3d(1.05, 1.05, 1);
                        brightness: 1.5;
                        .HeroEntryButtonContent {
                                                                                                                        
                            border: 1px solid rgba(255,255,255,0.04);
                        }
                    }
       
                    &:disabled {
                        visibility: collapse;
                    }
                }
            }
        }
    }
}
