/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

@define crownfallCurrencyIcon: url("s2r://panorama/images/status_icons/icon_star_png.vtex");
@define gold1: #EFD4AC;
@define gold2: #DCB25E;
@define gold3: #977628;
@define crownfallBlue1: #3da1d5;
@define crownfallBlue2: #206186;
@define charcoalLight: #253242;
@define charcoalDark: #0B111A;
@define cf_brightgreen: #51DD70;
@define ultraBrightColor: #def1f9;
@define accentColorBright: #d2e4ec;
@define accentColor: #6dd6f3;
@define defaultColor: #126a90;
@define shadeColor: #08507a;
@define darkColor: #042a40;
@define ultraDarkColor: #021520;
@define secondaryColor: #5DAFFF;
@define secondaryLighterColor: #5DAFFF;
@define secondaryDarkerColor: #5DAFFF;
@define secondaryUltraBrightColor: #F4F2ED;
@define secondaryBrightColor: #7D7F80;
@define secondaryAccentColor: #616466;
@define secondaryDefaultColor: #41494C;
@define secondaryDarkColor: #242E33;
@define secondaryUltraDarkColor: #0E1619;
.CrownfallPage
{
	width: 100%;
	height: 100%;
	padding-top: 160px;
}

.CrownfallPageTitle
{
	font-size: 48px;
}

.TopGoldDash
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( gold3 ), color-stop( 0.5, gold1 ), to( gold3 ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.GoldText
{
	color: gradient( linear, 0% 35%, 0% 100%, from( #FFF2DF ), color-stop( 0.48, #ebc386 ), color-stop( 0.52, #BA8C47 ), to( #8d6c3a ) );
}

#CloseButtonContainer,#ResizeButtonContainer
{
	horizontal-align: right;
	width: 96px;
	height: 96px;
	overflow: clip;
}

#CloseButtonContainer .CloseButtonBackground,#CloseButtonContainer .CloseButtonBackgroundHover,#ResizeButtonContainer .CloseButtonBackground,#ResizeButtonContainer .CloseButtonBackgroundHover
{
	overflow: noclip;
	width: 140px;
	height: width-percentage( 100% );
	horizontal-align: right;
}

#CloseButtonContainer .CloseButtonBackground,#ResizeButtonContainer .CloseButtonBackground
{
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.04);
	transform: rotateZ( 45deg ) translateX( 78px ) translateY( -78px );
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#CloseButtonContainer .CloseButtonBackgroundHover,#ResizeButtonContainer .CloseButtonBackgroundHover
{
	background-color: gradient( linear, 100% 100%, 0% 0%, from( gold1 ), to( gold2 ) );
	transform: rotateZ( 45deg ) translateX( 76px ) translateY( -166px );
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: cubic-bezier(0, 0.9, 0, 0.9);
}

#CloseButtonContainer .CloseIcon,#ResizeButtonContainer .CloseIcon
{
	horizontal-align: right;
	margin: 12px;
	img-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
	wash-color: LightestGrey;
	opacity: 0.6;
	transition-property: wash-color, opacity;
	transition-duration: 0.1s;
}

#CloseButtonContainer.Hovered .CloseButtonBackground,#ResizeButtonContainer.Hovered .CloseButtonBackground
{
	background-color: rgba(0, 0, 0, 0.8);
}

#CloseButtonContainer.Hovered .CloseButtonBackground,#ResizeButtonContainer.Hovered .CloseButtonBackground
{
	transform: rotateZ( 45deg ) translateX( 74px ) translateY( -74px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
}

#CloseButtonContainer.Hovered .CloseButtonBackgroundHover,#ResizeButtonContainer.Hovered .CloseButtonBackgroundHover
{
	transform: rotateZ( 45deg ) translateX( 77px ) translateY( -77px );
	transition-duration: 0.15s;
	transition-timing-function: ease-in;
}

#CloseButtonContainer.Hovered .CloseIcon,#ResizeButtonContainer.Hovered .CloseIcon
{
	wash-color: white;
	opacity: 1;
}

.ActStatus
{
	flow-children: down;
	horizontal-align: center;
}

.ActStatus .ActStatusBadge
{
	ignore-parent-flow: true;
	width: 88px;
}

.ActStatus .BadgeParticles
{
	width: 100%;
	height: 100px;
	ignore-parent-flow: true;
	opacity-mask: url("s2r://panorama/images/events/crownfall/dashboard/badge_mask_png.vtex");
	margin-top: -14px;
	hue-rotation: -20deg;
}

.ActStatus .CompletedState
{
	margin-top: 21px;
	horizontal-align: center;
}

.ActStatus .CompletedState .LoadingState
{
	margin: 0px;
	width: 24px;
	height: 24px;
	margin-bottom: 4px;
}

.ActStatus .CompletedAmount
{
	letter-spacing: 0px;
}

.ActStatus .CompletedLabel
{
	margin-top: -4px;
	font-size: 11px;
	letter-spacing: 1px;
	opacity: 0.6;
}

.ActStatus Label
{
	horizontal-align: center;
	text-align: center;
	color: white;
	text-shadow: 0px 2px 8px black;
}

.Act .LoadingState,.Act .FailedState,.Act .LoadedState
{
	visibility: collapse;
}

.Act.CompletedState_Loading .LoadingState,.Act.CompletedState_Failed .FailedState,.Act.CompletedState_Loaded .LoadedState
{
	visibility: visible;
}

.DashDotDivider
{
	horizontal-align: center;
	flow-children: right;
}

.DashDotDivider .Dot
{
	width: 8px;
	height: width-percentage( 100% );
	background-color: gradient( linear, 0% 0%, 90% 90%, from( gold1 ), to( gold3 ) );
	vertical-align: center;
	margin: 6px 8px;
	transform: rotateZ( 45deg );
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.DashDotDivider .Dash
{
	vertical-align: center;
	width: fill-parent-flow(1);
	height: 1px;
	opacity: 0.6;
}

.DashDotDivider .Dash.Left
{
	background-color: gradient( linear, 100% 0%, 0% 0%, from( gold1 ), color-stop( 0.5, gold2&66 ), to( gold3&00 ) );
}

.DashDotDivider .Dash.Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( gold1 ), color-stop( 0.5, gold2&66 ), to( gold3&00 ) );
}

.GoldBorder
{
	border: 2px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: gradient( linear, 0% 0%, 0% 100%, from( charcoalLight ), to( charcoalDark ) );
}

.PopupPanel .MainContentsWrapper
{
	padding: 0px;
}

.PopupPanel .MainContentsWrapper #CloseButtonContainer
{
	margin: 1px;
}

.PopupPanel .MainContents
{
	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( gold1 ), color-stop( 0.5, gold2 ), to( gold3 ) );
	background-color: DarkestGrey;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
}

.PopupPanel.Encounter
{
	flow-children: none;
	animation: none;
	border: 0px;
	box-shadow: none;
	background-color: #00000000;
	vertical-align: center;
	margin-top: -40px;
}

.PopupPanel.Encounter .ContentsWrapper
{
	width: 1200px;
	height: 700px;
	padding: 8px;
}

.PopupPanel.Encounter .Contents
{
	width: 100%;
	height: 100%;
	border: 3px solid rgb(255, 255, 255);
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.6);
	background-position: center;
	background-size: cover;
}

.PopupPanel.Encounter .BodyContainer
{
	horizontal-align: center;
	flow-children: down;
	margin-top: 180px;
	padding: 40px 40px 0px;
	width: 100%;
}

.PopupClosing .PopupPanel.Encounter .BodyContainer
{
	visibility: collapse;
}

.PopupPanel.Encounter #CloseButtonContainer
{
	vertical-align: top;
	horizontal-align: right;
	margin: 12px;
}

.PopupPanel.Encounter #VisualNovelContainer
{
	vertical-align: top;
	horizontal-align: left;
}

.PopupPanel.Encounter #VisualNovelContainer #VisualNovel
{
	margin-top: -144px;
}

.PopupPanel.Encounter #OverworldInventory
{
	vertical-align: bottom;
	horizontal-align: center;
	margin: 0px;
	margin-bottom: -20px;
}

.PopupPanel.Encounter #OverworldInventory .OverworldDebug
{
	visibility: collapse;
}

.PopupPanel.Encounter #OverworldInventory .InventoryWrapper
{
	margin: 0px;
}

.PopupPanel.Encounter.ShowInventoryPicker .ContentsWrapper,.PopupPanel.Encounter.ShowInventoryPicker #VisualNovelContainer,.PopupPanel.Encounter.ShowInventoryPicker #CloseButtonContainer
{
	brightness: 0.6;
	blur: gaussian( 2px );
}

.PopupPanel.Encounter.ShowInventoryPicker #VisualNovelContainer
{
	opacity: 0.1;
}

.PopupPanel.Encounter .PickerContainer
{
	vertical-align: center;
	horizontal-align: center;
	flow-children: down;
	width: 720px;
	min-height: 400px;
	border: 1px solid white;
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #bcdbff12 ), to( #88aeff05 ) );
	opacity: 0;
	transform: scale3d( 0.9, 0.9, 1 );
	transition-property: transform, opacity;
	transition-duration: 0.1s;
}

.PopupPanel.Encounter.ShowInventoryPicker .PickerContainer
{
	opacity: 1;
	transform: none;
}

.PopupPanel.Encounter #InfoIcon
{
	width: 25px;
	height: 25px;
	background-image: url("s2r://panorama/images/icon_info_png.vtex");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: -4px;
	margin-right: -2px;
	vertical-align: center;
	tooltip-position: right;
	tooltip-body-position: 50% 10%;
}

.PopupPanel.Encounter .Actions
{
	horizontal-align: center;
	width: 80%;
	height: 200px;
	padding: 32px;
	margin-top: 32px;
	border-top: 1px solid rgba(204, 235, 255, 0.059);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, #FFFFFF ), to( rgba(255, 255, 255, 0) ) );
	background-color: gradient( radial, 50% 0%, 0% 0%, 50% 80%, from( rgba(153, 219, 255, 0.021) ), to( rgba(108, 154, 192, 0) ) );
}

.PopupPanel.Encounter .TakeTokensButton,.PopupPanel.Encounter .ComeBackLaterButton
{
	horizontal-align: center;
}

.PopupPanel.Encounter .AlreadyClaimedLabel
{
	horizontal-align: center;
	text-transform: uppercase;
	color: LighterGrey;
	letter-spacing: 2px;
	text-shadow: 0px 2px 8px black;
	visibility: collapse;
}

.PopupPanel.Encounter .LeaveButton
{
	visibility: collapse;
	horizontal-align: center;
	vertical-align: bottom;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

.PopupPanel.Encounter.AlreadyClaimed .TakeTokensButton,.PopupPanel.Encounter.AlreadyClaimed .ChooseTokensButton
{
	opacity: 0;
}

.PopupPanel.Encounter.AlreadyClaimed .AlreadyClaimedLabel
{
	visibility: visible;
}

.PopupPanel.Encounter.AlreadyClaimed .LeaveButton
{
	visibility: visible;
	opacity: 1;
}

.PopupPanel.Encounter.ComeBackLater .TakeTokensButton
{
	visibility: collapse;
}

.PopupPanel.Encounter.ComeBackLater .ComeBackLaterButton
{
	visibility: visible;
}

.PopupPanel.Encounter .ComeBackLaterButton
{
	visibility: collapse;
}

.PopupPanel.Encounter .EncounterTitle
{
	horizontal-align: right;
	margin-right: 300px;
	text-shadow: 0px 2px 12px black;
	font-family: titleFont;
	color: LighterGrey;
	font-weight: normal;
}

.PopupPanel.Encounter .EncounterTitle b
{
	font-weight: bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( gold2 ), color-stop( 0.5, gold1 ), to( gold2 ) );
}

.PopupPanel.Encounter .NoTextTransform
{
	text-transform: none;
}

.PopupPanel.Encounter .AsyncSuccessContainer .Spinner,.PopupPanel.Encounter .AsyncLoadingContainer .Spinner,.PopupPanel.Encounter .AsyncFailureContainer .Spinner
{
	margin-top: 100px;
	width: 60px;
	height: 60px;
	vertical-align: middle;
	horizontal-align: middle;
	animation-name: DownloadingSpinnerAnimation;
	animation-duration: 1.0s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.InstructionTextContainer
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 130px;
	width: 60%;
	padding: 24px;
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	border-brush: gradient( linear, 0% 0%, 100% 0%, from( #FFFFFF00 ), color-stop( 0.5, #FFFFFF ), to( #FFFFFF00 ) );
}

.InstructionTextContainer:hover .InstructionText
{
	brightness: 2;
}

.EncounterDialogue .InstructionTextContainer,.ShowingComic .InstructionTextContainer,.ShowExternalComic .InstructionTextContainer
{
	visibility: collapse;
}

.InstructionTextContent
{
	horizontal-align: center;
	flow-children: right;
	margin-right: -24px;
}

.InstructionTextContent .InstructionText
{
	horizontal-align: center;
	vertical-align: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 18px;
	text-shadow: 0px 2px 12px black;
	transition-property: brightness;
	transition-duration: 0.1s;
}

.InstructionTextContent .Hide
{
	visibility: collapse;
}

.InstructionTextContent .InstructionIcon
{
	vertical-align: center;
	width: 20px;
	margin-top: -1px;
	transition-property: opacity;
	transition-duration: 0.1s;
	opacity: 0;
	animation-name: none;
}

.DialogFinished .InstructionTextContent .InstructionIcon
{
	opacity: 1;
	animation-name: MoreIndicatorAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes 'DownloadingSpinnerAnimation'
{
	0%
	{
		transform: rotateZ( 359deg );
	}
	
	50%
	{
		transform: rotateZ( 179deg );
	}
	
	100%
	{
		transform: rotateZ( 0deg );
	}
	
}

.ControlKey
{
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #66767c ), to( #364047 ));
	border-radius: 4px;
	box-shadow: 0px 5px 20px -3px rgba(0, 0, 0, 0.8);
}

.ControlKey.Small .KeyText
{
	padding: 2px 0px 4px;
	min-width: 28px;
	border-radius: 3px;
	font-size: 14px;
	min-height: 22px;
	box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.92);
	font-weight: normal;
	text-shadow: none;
	color: rgba(245, 245, 245, 0.539);
}

.ControlKey .KeyText
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303942 ), to( #161c21 ));
	box-shadow: inset 0px -3px 2px 0px rgba(0, 0, 0, 0.92);
	padding: 5px 0px 7px;
	min-width: 34px;
	border-radius: 3px;
	font-size: 16px;
	min-height: 32px;
	color: whitesmoke;
	font-weight: semi-bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 0px 12px rgba(213, 236, 255, 0.1);
	horizontal-align: center;
	vertical-align: center;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center 7px;
	background-texture-size: 48px;
	background-img-opacity: 0.8;
}

.ControlKey .KeyText.Medium
{
	width: 80px;
}

.ControlKey .KeyText.Large
{
	width: 120px;
}

.ControlKey .KeyText.ExtraLarge
{
	width: 160px;
}

.OverworldDebug
{
	visibility: collapse;
}

