/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.Season_Fall2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #211910 ), to( #120a06 ) );
}

.Season_Fall2025 .BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/fall_background_png.vtex");
}

.Season_Winter2025
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #12292e ), to( #060608 ) );
}

.Season_Winter2025 .BackgroundImage
{
	background-image: url("s2r://panorama/images/events/seasonal/backgrounds/winter_background_png.vtex");
}

.Season_Winter2025 .PageTitle
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #dff9ff ) );
}

DOTADBPopupQuarteroItemClaimPopup
{
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: none;
	box-shadow: none;
	transition-property: transform, pre-transform-scale2d, opacity, background-color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-delay: 0.0s;
}

DOTADBPopupQuarteroItemClaimPopup.Hidden
{
	opacity: 0.0;
	pre-transform-scale2d: 1.25;
	transform: translateY( -10px );
	sound: "ui_custom_lobby_dialog_slide";
	box-shadow: 0 0 0px transparent;
}

.AspectRatio16x10 DOTADBPopupQuarteroItemClaimPopup
{
	margin: 40px;
}

.PopupContents
{
	flow-children: down;
}

.BackgroundImage
{
	width: 130%;
	height: 130%;
	overflow: noclip;
	horizontal-align: center;
	vertical-align: bottom;
	background-image: url("s2r://panorama/images/events/international_2025/backgrounds/galaxy_background_home_png.vtex");
	background-size: cover;
	ignore-parent-flow: true;
	opacity-brush: gradient( linear, 0% 20%, 0% 80%, from( #FFFFFF ), to( #FFFFFF00 ) );
	brightness: 0.5;
	blur: gaussian( 3px );
}

.BackgroundFXPanel
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
}

.BackgroundFX
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	opacity: 1;
}

.PopupBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(208, 208, 255, 0.02);
}

.TopDash
{
	width: 100%;
	height: 3px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #514431 ), color-stop( 0.5, #a89c78 ), to( #514431 ) );
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.PageHeaderContainer
{
	flow-children: down;
	width: 100%;
	padding: 12px 8px 0px;
	z-index: 1;
}

.PageHeaderContainer #CloseButton
{
	ignore-parent-flow: true;
	vertical-align: top;
	horizontal-align: right;
	margin-right: 8px;
}

.PageHeaderContainer Label
{
	horizontal-align: center;
	text-align: center;
}

.PageHeaderContainer .PageTitle
{
	text-transform: uppercase;
	margin-top: 20px;
	font-family: titleFont;
	font-weight: normal;
	font-size: 36px;
	letter-spacing: 2px;
	margin-bottom: -4px;
	text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.6);
}

.PageHeaderContainer .PageSubtitle
{
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.6);
}

@keyframes 'GlowRewardsCount'
{
	0%
	{
		brightness: 1;
		box-shadow: 0px 0px 24px -2px #7a55ff33;
	}
	
	100%
	{
		brightness: 2;
		box-shadow: 0px 0px 32px -2px #7a55ff99;
	}
	
}

.PageLabel
{
	width: 100%;
	horizontal-align: center;
	text-align: center;
	text-shadow: 0px 12px 24px black;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	opacity: 0.6;
}

.ContentsContainer
{
	flow-children: right;
}

.ContentsContainer .QuarteroArt
{
	width: 560px;
	margin-top: -80px;
	margin-bottom: -80px;
	margin-left: -50px;
	margin-right: -80px;
}

.HighValue .ContentsContainer #QuarteroArtStandard
{
	visibility: collapse;
}

.ContentsContainer #QuarteroArtHighValue
{
	visibility: collapse;
}

.HighValue .ContentsContainer #QuarteroArtHighValue
{
	visibility: visible;
}

.ContentsContainer #ItemContainer
{
	vertical-align: center;
	margin: 24px;
	flow-children: right-wrap;
}

.AllowDuplicatesCheckbox
{
	horizontal-align: center;
	margin-bottom: 32px;
}

.AllowDuplicatesCheckbox Label
{
	font-size: 16px;
}

.ChoiceItem
{
	width: 264px;
	height: width-percentage( 150% );
	overflow: clip;
	padding: 0px 6px;
	box-shadow: 0px 2px 36px -16px rgba(0, 0, 0, 0.6);
}

.ChoiceItem.ItemRarity_arcana #RarityFX
{
	visibility: visible;
}

.ChoiceItem.ItemRarity_arcana .ArcanaLabel
{
	visibility: visible;
	text-shadow: 0px 0px 12px rgba(47, 255, 141, 0.5);
}

.ChoiceItem.ItemRarity_immortal #RarityFX
{
	visibility: visible;
	hue-rotation: -90deg;
}

.ChoiceItem.ItemRarity_immortal .ImmortalLabel
{
	visibility: visible;
	text-shadow: 0px 0px 12px rgba(255, 217, 47, 0.5);
}

.AspectRatio16x10 .ChoiceItem
{
	width: 230px;
}

.ChoiceItem:hover #InfoButton
{
	opacity: 1;
}

.ChoiceItem #HeroLoadoutBackgroundImageContainer
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #0c0f11 ), color-stop( 0.6, #23272a ), to( #40454b ) );
}

.ChoiceItem #HeroLoadoutBackgroundImageContainer .PanelBackground
{
	width: 100%;
	height: 100%;
	transform: scale3d( 1.5, 1.5, 1 );
	brightness: 0.3;
}

.ChoiceItem .ItemRarityContainer
{
	width: 100%;
	height: 4px;
	vertical-align: bottom;
}

.ChoiceItem .ItemRarityContainer .ItemRarityBackgroundColor,.ChoiceItem .ItemRarityContainer .ItemRarityContainerOverlay
{
	width: 100%;
	height: 100%;
}

.ChoiceItem .ItemRarityContainer .ItemRarityContainerOverlay
{
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #000000 ), color-stop( 0.5, #00000000 ), to( #000000 ) );
	opacity: 0.7;
}

.ChoiceItem #RarityFX
{
	width: 100%;
	height: 100%;
	margin-bottom: 4px;
	visibility: collapse;
}

.ChoiceItem .ArcanaLabel,.ChoiceItem .ImmortalLabel
{
	font-weight: normal;
	letter-spacing: 0px;
	font-size: 15px;
	horizontal-align: center;
	padding: 12px;
	color: rgba(255, 255, 255, 0.9);
	text-transform: none;
	visibility: collapse;
}

.ChoiceItem .ChoiceItemBorder
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), to( #ffffff44 ) );
}

.ChoiceItem .ChoiceItemInnerShadow
{
	width: 100%;
	height: 100%;
	ignore-parent-flow: true;
	border: 3px solid rgb(0, 0, 0);
	opacity: 0.5;
}

.ChoiceItem #InfoButton
{
	vertical-align: top;
	horizontal-align: left;
	margin: 10px;
	background-color: rgba(14, 13, 17, 0.98);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( LightestGrey ), to( Grey ) );
	box-shadow: 0px 1px 6px -1px rgba(0, 0, 0, 0.4);
	padding: 2px;
	opacity: 0.2;
	transition-property: opacity, border, background-color;
	transition-duration: 0.1s;
}

.ChoiceItem #InfoButton:hover
{
	opacity: 1;
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: rgba(14, 13, 17, 1);
}

.ChoiceItem #InfoButton:hover .InfoIconImage
{
	wash-color: LightestGrey;
}

.ChoiceItem #InfoButton .InfoIconImage
{
	wash-color: LighterGrey;
	width: 16px;
	transition-property: wash-color;
	transition-duration: 0.1s;
}

.ChoiceItem .ModelPreviewContainer
{
	width: 100%;
	height: 100%;
	opacity-brush: gradient( linear, 0% 65%, 0% 90%, from( #ffffff ), color-stop(0.5, #ffffff11 ), to( #ffffff00 ) );
	overflow: clip;
}

.ChoiceItem .ModelPreviewContainer #ModelPreview
{
	width: 110%;
	height: 110%;
	margin-top: -5%;
	vertical-align: center;
	horizontal-align: center;
}

.ChoiceItem .ItemInfo
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
	padding: 16px;
}

.ChoiceItem .ItemInfo Label
{
	horizontal-align: center;
	text-align: center;
}

.ChoiceItem .ItemInfo #ClaimButton
{
	horizontal-align: center;
	width: 100%;
}

.ChoiceItem .ItemInfo #ClaimButton Label
{
	font-weight: semi-bold;
}

.ChoiceItem .ItemInfo .HeroName
{
	margin-bottom: 4px;
	color: rgba(234, 247, 255, 0.5);
	text-shadow: 0px 2px 8px black;
}

.ChoiceItem .ItemInfo .ItemName
{
	margin-bottom: 8px;
	color: whitesmoke;
	font-family: titleFont;
	text-shadow: 0px 2px 12px black;
	font-size: 16px;
}

.ChoiceItem .ItemInfo .ReleaseDate
{
	color: rgba(229, 227, 255, 0.3);
	text-shadow: 0px 2px 8px black;
	margin-top: 6px;
	font-size: 15px;
	width: 100%;
	height: 20px;
	text-overflow: shrink;
}

.ChoiceItem .ItemInfo .AlreadyOwned
{
	margin: 3px 0px 7px;
	color: rgba(236, 248, 255, 0.9);
	font-size: 16px;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.ChoiceItem .ItemInfo .HorizontalRule
{
	width: fill-parent-flow( 1.0 );
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(255, 255, 255, 0) ), color-stop( 0.5, white ), to( rgba(255, 255, 255, 0) ) );
	height: 1px;
	vertical-align: center;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: -1px;
	opacity: 0.1;
}

.OwnedOnly,.ItemOwned #ClaimButton
{
	visibility: collapse;
}

.ItemOwned .OwnedOnly
{
	visibility: visible;
}

