/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	width: 240px;
}

.Dash
{
	width: 100%;
	height: 1px;
	background-color: rgba(213, 229, 255, 0.05);
	margin: 6px 0px;
}

.ContainerTitle
{
	margin-bottom: 2px;
}

.DemoModeContextMenu
{
	flow-children: down;
	background-color: green;
}

.Container
{
	flow-children: down;
}

