/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	width: fit-children;
	flow-children: down;
	background-color: transparent;
	padding: 12px;
	border: 2px solid transparent;
	background-color: gradient( linear, 0% 0%, 0% 60%, from( #272e36 ), to( #0a0d0f ) );
	border: 2px solid black;
	box-shadow: inset 0px 2px 1px rgba(255, 255, 255, 0.02);
}

#HeaderRow
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	margin-bottom: 8px;
	margin-top: 5px;
}

#HeaderRow #SelectionChoice
{
	color: LightestGrey;
	text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
	font-weight: semi-bold;
	margin-bottom: 6px;
}

.FacetMenuFootnote
{
	text-align: center;
	width: 100%;
	margin: 8px 24px 4px;
	font-size: 15px;
	color: Grey;
}

.FacetContainer
{
	width: 340px;
	box-shadow: 0px 8px 32px -4px rgba(0, 0, 0, 0.5);
	transition-property: background-color, transform, brightness;
	transition-duration: 0.1s, 0.1s, 0.05s;
	transition-timing-function: ease-out;
}

.FacetContainer DOTAFacetDetails
{
	margin: 3px;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.02);
}

.FacetContainer .FacetContainerBorder
{
	width: 100%;
	height: 100%;
	border: 1.5px solid rgb(255, 255, 255);
	border-brush: gradient( linear, 0% 0%, 0% 100%, from( #d6e2edfd ), to( #8d9da8fd ) );
	ignore-parent-flow: true;
	z-index: 1;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.FacetContainer .CheckIcon
{
	width: 24px;
	height: 24px;
	horizontal-align: right;
	wash-color: #d6e2edfd;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.FacetContainer:hover DOTAFacetDetails
{
	background-color: #1f272d;
	brightness: 1.2;
}

.FacetContainer:active
{
	transform: translateY( 0.5px );
	brightness: 0.5;
}

.FacetContainer.FacetSelected DOTAFacetDetails
{
	box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0);
}

.FacetContainer.FacetSelected .FacetContainerBorder
{
	opacity: 1;
}

.FacetContainer.FacetSelected .CheckIcon
{
	opacity: 1;
}

.NoFacet .FacetContainer
{
	visibility: collapse;
}

.FacetDetails
{
	visibility: collapse;
	width: 100%;
	padding: 8px 12px;
}

.ShowFacetTooltip .FacetDetails
{
	visibility: visible;
}

#FacetAbilityDetails
{
	visibility: collapse;
}

.ShowFacetAbility #FacetAbilityDetails
{
	visibility: visible;
}

.ShowFacetTooltip.ShowFacetAbility .FacetDetails
{
	margin-bottom: 8px;
}

Label
{
	color: #9ab0cd;
	font-size: 16px;
}

Label.TitleFont,TextEntry.TitleFont
{
	font-family: defaultFont;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-shadow: 2px 2px 0px 1.0 #000000;
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-overflow: shrink;
	height: 32px;
}

Label.SubtitleFont
{
	font-family: defaultFont;
	text-transform: uppercase;
	letter-spacing: 1px;
}

Label .AttributeHighlight
{
	color: #e1e1e1;
	font-weight: bold;
}

#AbilityDescriptionContainer Label
{
	padding: 0px;
}

#FacetList
{
	width: fit-children;
	flow-children: right;
	margin-right: -8px;
}

