/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

.CraftworksDebugContents
{
	flow-children: down;
}

.Title
{
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666;
	horizontal-align: center;
	text-align: center;
}

.CraftworksName
{
	font-size: 20px;
	horizontal-align: center;
	text-align: center;
	margin-bottom: 8px;
	color: white;
}

#ComponentRows
{
	flow-children: down;
}

#ComponentRows .ComponentRow
{
	flow-children: right;
	margin-bottom: 6px;
}

#ComponentRows .ComponentRow .ComponentID
{
	width: 20px;
	font-size: 24px;
	vertical-align: middle;
	margin-right: 6px;
	color: #ccc;
}

#ComponentRows .ComponentRow #ComponentImage
{
	width: 32px;
	height: 32px;
	vertical-align: middle;
	margin-right: 6px;
}

#ComponentRows .ComponentRow #NumberEntry
{
	margin-right: 6px;
}

#ComponentRows .ComponentRow #GrantButton
{
	min-width: 0px;
	margin: 0px;
	ui-scale: 75%;
	vertical-align: middle;
}

.DebugActionButton
{
	horizontal-align: center;
	ui-scale: 75%;
	margin: 0px;
	min-width: 300px;
	margin-bottom: 6px;
}

.DebugSection
{
	width: 100%;
	flow-children: down;
	visibility: collapse;
}

.DebugCandyShopID_2 .DebugSection__Crownfall
{
	visibility: visible;
}

