/* Prettified by Source 2 Viewer 0.0.0.0 - https://valveresourceformat.github.io */

#Contents
{
	flow-children: down;
	horizontal-align: center;
	background-color: #330033;
	border: 2px solid #990099;
}

#Contents .ButtonPrimary
{
	margin: 5px;
}

